.word .bold, .word .number {
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: .5rem;
  color: #fff;
  background-color: #74d4eb;
  z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  border: none;
  background: none;
  outline: none;
}

#go {
  font-size: .18rem;
  line-height: .5rem;
  color: #fff;
  background: #ffc865;
}

#position {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.3);
}
#position .window {
  width: 2.5rem;
  margin: 25vh auto;
  background: #fff;
  border-radius: .1rem;
  box-shadow: 0 .02rem .05rem #333;
  visibility: hidden;
  transition: margin .6s;
}
#position .window p {
  padding: .1rem;
  line-height: .3rem;
  text-align: center;
  border-bottom: .01rem solid #ccc;
}
#position .window button {
  display: inline-block;
  width: 49%;
  line-height: .45rem;
}
#position .window .border {
  border-right: 1px solid #ccc;
}

#go {
  width: 45%;
  line-height: .4rem;
  font-size: .18rem;
  color: #fff;
  border-radius: .07rem;
}

@media (max-width: 500px) {
  body {
    font-size: .14rem;
  }
}

header .arrow {
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  border-top: 0.03rem solid #fff;
  border-right: 0.03rem solid #fff;
  transform: rotate(225deg);
  margin-left: .2rem;
  margin-top: .17rem;
  cursor: pointer;
}

body {
  background: #f0f0f0;
}

main {
  margin-top: .55rem;
  padding: 0 2%;
}

input {
  font-size: .12rem;
}

.title {
  margin-bottom: .05rem;
  line-height: .35rem;
  text-align: center;
  box-shadow: 0 .02rem .01rem #ccc;
  background: #fff;
  border-radius: .03rem;
}

.people {
  display: flex;
  height: 2rem;
  padding-left: .15rem;
  padding-top: .1rem;
  background: #fff;
}
.people .box {
  display: flex;
  align-items: center;
  height: .3rem;
  flex-basis: 50%;
}
.people .box p {
  margin-left: .1rem;
  font-size: .12rem;
}
.people .killer {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: url("../image/litlang.jpg") 0 0/contain no-repeat;
}
.people .villager {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: url("../image/litping.jpg") 0 0/contain no-repeat;
}

.word {
  margin: .05rem 0;
  padding: .2rem .3rem .5rem;
  background: #fff;
}
.word .word-box {
  border-bottom: .015rem solid #ccc;
}
.word .grey {
  line-height: .35rem;
  font-weight: bold;
  color: #ccc;
}
.word .number {
  height: .3rem;
  width: .4rem;
  font-size: .18rem;
  text-align: center;
  color: #ffc865;
  background: #f0f0f0;
}
.word .orange {
  font-size: .12rem;
  color: #ffc865;
}

#position {
  z-index: 1;
}

#go {
  width: 100%;
  margin-top: .1rem;
}
