input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: .5rem;
  color: #fff;
  background-color: #74d4eb;
  z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  border: none;
  background: none;
  outline: none;
}

footer #again,
footer #share {
  font-size: .18rem;
  line-height: .5rem;
  color: #fff;
  background: #ffc865;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .6rem;
}

footer #again,
footer #share {
  width: 45%;
  line-height: .4rem;
  font-size: .18rem;
  color: #fff;
  border-radius: .07rem;
}

@media (max-width: 500px) {
  body {
    font-size: .14rem;
  }
}

body {
  background: #74d4eb;
}

header {
  text-align: center;
  line-height: .5rem;
  font-size: .2rem;
  border-bottom: 1px solid #f0f0f0;
}
header .icon-home {
  position: absolute;
  left: .1rem;
  top: .125rem;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: url("../image/home.png") 0 0/contain no-repeat;
}

main {
  width: 80%;
  margin: .7rem auto .1rem;
}
main .victory {
  margin: .1rem auto;
  height: 1rem;
  width: 1.6rem;
  text-align: center;
  background: url(../image/victory.png) 0 0/contain no-repeat;
}
main .victory span {
  display: inline-block;
  line-height: 0;
  margin-top: .75rem;
  font-size: .18rem;
  color: #fff;
}
main .victory + p {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  height: .9rem;
  text-align: justify;
  font-size: .16rem;
  font-weight: bold;
  color: #ffc865;
}
main .main-top {
  word-spacing: .10rem;
  color: #fff;
}
main .main-top p {
  line-height: .25rem;
}
main .main-top .number {
  display: flex;
}
main .main-top .number span {
  flex-basis: 33.3%;
}

.box {
  margin: 0 auto;
  padding-bottom: .6rem;
  border-top: .01rem solid #ccc;
}
.box .day {
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: .01rem solid #ccc;
  background-color: #fff;
}
.box .day li {
  line-height: .3rem;
}
.box .day .moon, .box .day .sun {
  font-size: .14rem;
  color: #ccc;
}

footer {
  background: rgba(41, 189, 224, 0.5);
}
footer #again {
  background-color: #fbb435;
}
footer #share {
  background-color: #f66f6f;
}
