main {
    padding-top: .45rem;
    padding-bottom: .8rem;
    .title {
        width: 90%;
        text-align: center;
        background: white;
        box-shadow: 0 1px #999999;
        @include paddingAndMargin(.05rem, .05rem, .05rem, .05rem);
    }
    .content {
        @include paddingAndMargin(.05rem, .05rem, .05rem, .05rem);
        width: 90%;
        margin: 0 auto;
        height: 50vh;
        text-align: center;
        box-shadow: 0 1px #999999;
        background: white;
        >span {
            display: inline-flex;
            align-items: center;
            width: 45%;
            >span {
                margin-left: .1rem; 
                font-size: .12rem;
            }
        }
    }
    .icon1 {
        @include icon(cunmin);
    }
    .icon2 {
        @include icon(lang);
    }
    .playerNumber {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-top: .3rem;
        padding-bottom: .3rem;
        margin: .05rem auto;
        box-shadow: 0 1px #999999;
        background: white;
        span:nth-child(1) {
            font-size: .14rem;
            font-weight: bold;
        }
        span:nth-child(3) {
            font-size: .1rem;
            color: orange;
        }
        input {
            width: .25rem;
            height: .2rem;
            margin: 0 .05rem;
            font-size: .16rem;
            text-align: center;
            color: orange;
            border: none;
            border-radius: 5%; 
            background: #f0f0f0;
        }
    }
}