html, body {
    width: 100%;
    height: 100%;
	font-size: 62.5%;
    font-family: "微软雅黑";
}
body {
	background-color: #fafafa;
}
.rest {
	padding: 0;
}
/*页眉*/
.top {
	height: 40px;
	line-height: 40px;
}
.font15pxitlv {
	font-size: 1.5rem;
	color: #29b078;
}
.account a {
	display: inline-block;
}
.font15pxblack {
	font-size: 1.5rem;
	color: #000;
	vertical-align: middle;
}
.bar-black {
	color: #000000;
	margin-left: 8px;
	margin-right: 8px;
}
/*导航栏*/
.nav {
	background-color:#29b078;
}

.navbar {
	border-radius: 0px;
}
.navbar-default {
	background-color:#29b078;
	margin-bottom: 0;
	border:none;
}
.navbar-nav {
	margin:0;
}
.navbar span img {
	padding:0 15px;
}

.container>.navbar-collapse {
	padding:0;
	margin-right: 0px;
	margin-left: 0px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbox a {
	padding: 38px 28px;
	font-size: 1.5rem;
	line-height: normal;
	text-decoration: none;
}
.sitemap {
	line-height:80px;
	background-color: #fafafa;
	font-size: 16px;
}
.sitemap a{
	color:black;
}
/*脚部*/
footer {
	background-color: #26a26f;
	color: #fff;
}
.footbox {
	padding:20px 20px;
}
footer p {
	font-size: 1.5rem;
}
footer a {
	font-size: 1.4rem;
	display:inline-block;
	color: #fff;
	text-decoration: none;
}
.copyright {
	text-align: center;
	border-top: 1px solid #32c086;
	font-size: 14px;
	line-height: 30px;
}
@media (max-width: 768px) {
	.nav li {
		text-align: center;
	}
}
@media (min-width:768px) {
	.navbox {
		border-bottom: 3px solid white;
	}
	.footbox {
		padding:20px 0px;
	}
}
@media (min-width: 1024px) {

}

@media (min-width: 1920px) {

}
/*字体*/
h3 {
	text-align: center;
	font-weight: 600;
}
.font18pxblack {
	font-size: 18px;
	color: black;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
}
.font16px {
	font-size: 16px;
	color: #999;
}
h4 {
	font-weight:700;
}
.font14pxgreen {
	font-size: 14px;
	color: #29b078;
	font-weight: 500;
}
