.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row {
  margin-right: -15px;
  margin-left: -15px;
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

header .top {
  height: 4rem;
  color: #29b078;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between; }
  header .top .tel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start; }
  header .top .contact {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header .top .contact .wechat {
      background-image: url(../img/contact.png);
      background-repeat: no-repeat;
      height: 31px;
      width: 31px;
      margin-right: 22px;
      background-position: 0 0; }
    header .top .contact .qq {
      background-image: url(../img/contact.png);
      background-repeat: no-repeat;
      height: 31px;
      width: 31px;
      margin-right: 22px;
      background-position: -31px 0; }
    header .top .contact .sina {
      background-image: url(../img/contact.png);
      background-repeat: no-repeat;
      height: 31px;
      width: 31px;
      margin-right: 22px;
      background-position: -62px 0; }
header .navbar {
  height: 8rem;
  background: #29b078; }
  @media screen and (max-width: 768px) {
    header .navbar {
      height: 59px; } }

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end; }
  .nav ul {
    display: flex; }
    .nav ul li {
      list-style: none;
      font-size: 16px;
      color: #fff;
      height: 8rem;
      text-align: center;
      width: 6rem; }
      .nav ul li:hover a {
        border-bottom: #fff solid .3rem; }
      .nav ul li a {
        line-height: 7.7rem;
        display: block;
        border-bottom: #29b078 solid 0.3rem; }

@media screen and (max-width: 768px) {
  .nav {
    min-height: 59px; }
    .nav ul {
      background-image: url(../img/menu.png);
      background-repeat: no-repeat;
      background-position: 95%;
      height: 59px;
      width: 100%;
      display: flex;
      flex-flow: column;
      border-top: 1px solid #afafaf; }
      .nav ul:hover li {
        display: block;
        background: #29b078;
        position: relative;
        width: 100%;
        top: 4.95rem; }
        .nav ul:hover li a {
          line-height: 3rem; }
      .nav ul li {
        display: none; } }
