/*sprite图*/
.img-p {
  background-image: url(sprite-partner.png);
  background-size: 9.51rem 3.7rem;
}

.img-x {
  background-image: url(sprite-xicon.png);
  background-size: 7.34rem 0.62rem;
}

.img-h {
  background-image: url(sprite-head.png);
  background-size: 9.62rem auto;
}
/*sprite图*/

