html,
body {
  height: 100%;
  margin: 0;
}
h1,
h4 {
  margin: 0;
}
.Organmian {
  display: flex;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  height: 50px;
  width: calc(100% - 220px);
  background-color: burlywood;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: 1px solid #ece9e956;
}
header .Identity {
  height: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border-right: 1px solid rgba(255, 255, 255, 0.226);
}
header .IdentityQuit {
  height: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.Organ {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  background-color: #6b6565;
}
.Organ .OrganTitle {
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #ece9e956;
}
.Organ h4 {
  text-align: center;
  background-color: #6b6565;
  font-weight: 700;
  color: #fff;
}
.Organ h4 a {
  text-decoration: none;
}
.Organ h4 a:hover {
  text-decoration: none;
}
.Organ .panel-heading {
  background-color: #6b6565;
  padding: 15px 0;
}
.Organ .panel-body {
  background-color: #ece9e9;
  padding: 0;
}
.Organ .OrganMenuArrows {
  float: right;
  height: 10px;
  width: 10px;
  margin-right: 1px;
  border-right: 3px solid #333;
  border-top: 3px solid #333;
  transform: rotate(45deg) translateY(50%);
}
@media screen and (max-width: 1249px) {
  .articletop {
    padding-bottom: 0!important;
  }
  .articlebttom {
    padding-top: 0!important;
  }
  .calendar {
    margin: 10px 0;
  }
  .buttonbox {
    margin-top: 10px;
  }
}
.articletopbox {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}
.articlebttom {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.articletop {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.titlecreator {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.calendar {
  width: 500px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.calendartitle {
  font-size: 14px;
  font-weight: 700;
}
.calendarbox {
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.sideways {
  width: 15px;
  border: 2px solid #000;
}
.buttonbox {
  width: 500px;
  display: flex;
  flex-flow: row-reverse wrap;
}
.buttonleftred {
  margin-right: 5px;
  text-align: center;
  width: 70px;
  background-color: #c9302c;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.buttonrightgreen {
  margin-left: 5px;
  text-align: center;
  width: 70px;
  background-color: #5cb85c;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.particularsbox {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.particularsbox table {
  text-align: center;
  vertical-align: middle!important;
  border: none!important;
}
.particularsbox tr {
  text-align: center;
  vertical-align: middle!important;
  border: none!important;
}
.particularsbox th {
  text-align: center;
  vertical-align: middle!important;
  border: none!important;
}
.particularsbox td {
  text-align: center;
  vertical-align: middle!important;
  border: none!important;
}
.addedbox {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #6b6565;
}
.addedbox .addedtitle {
  margin: 10px 20px;
  color: #fff;
  font-weight: 700;
}
.addedbox .addedbutton {
  margin: 10px 20px;
  background-color: #5cb85c;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
.articlepagingbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addedinputbox {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.richtextbox {
  display: flex;
  padding: 10px 10px;
}
.richtext {
  width: 70%;
  border-radius: 4px;
}
.richtext .w-e-toolbar {
  flex-flow: row wrap;
}
.addedp {
  color: red;
}
.filestyle {
  position: relative;
  background-color: #055cfd;
}
.filestyle input {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.addedimgbox {
  width: 70px;
  height: 200px;
  margin: 10px 10px;
}
.addedbottombox {
  display: flex;
  justify-content: space-around;
}
.organcolor1 {
  background-color: #a7ffa7!important;
  font-weight: 700;
  text-align: center!important;
  cursor: pointer;
  padding: 15px 0;
}
.organcolor1:hover {
  background-color: #ffb6b6;
}
.organcolor2 {
  background-color: #ece9e9;
  font-weight: 700;
  text-align: center!important;
  cursor: pointer;
  padding: 15px 0;
}
.organcolor2:hover {
  background-color: #ffb6b6;
}
.articlebtncolor1 {
  background-color: #5cb85c!important;
  border: none!important;
}
.articlebtncolor2 {
  background-color: #ffda33!important;
  border: none!important;
}
