<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <!--mybatis-config.xml用来连接数据库-->
    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <environments default="test">
        <!-- id：唯一标识 -->
        <environment id="test">
            <!-- 事务管理器，JDBC类型的事务管理器 -->
            <transactionManager type="JDBC" />
            <!-- 数据源，池类型的数据源 -->
            <dataSource type="POOLED">
                <!--MYSQL的位置和用户名，密码-->
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/srf" />
                <property name="username" value="root" />
                <property name="password" value="qwert123" />
            </dataSource>
        </environment>
    </environments>

    <!--指定映射文件位置-->
    <mappers>
        <mapper resource="mapper.xml" />
    </mappers>
</configuration>