body {
    margin: 0;
    padding-bottom: 3rem;
    background: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background: #29bde0;
    .arrow {
        margin-left: 5%;
        width: 15px;
        height: 15px;
        border-left: solid 2px #fff;
        border-bottom: solid 2px #fff;
        transform: rotate(45deg);
    }
    .header-font {
        font-size: 1.2rem;
        color: #fff;
    }
    .cross {
        display: inline-block;
        margin-right: 3%;
        width: 30px;
        height: 2px;
        vertical-align: middle;
        transform: rotate(45deg);
        background: #fff;
        &::after {
            display: block;
            width: 30px;
            height: 2px;
            transform: rotate(-90deg);
            content: "";
            background: #fff;
        }
    }
}

nav {
    margin: .7rem 0 .6rem 2.5%;
    width: 95%;
    text-align: center;
    border: solid 1px #c9c9c9;
    background: #fff;
    .nav-font {
        line-height: 2rem;
        font-weight: 600;
        color: #29bde0
    }
}

.nav_content {
    display: block;
    position: relative;
    margin: .3rem 0 .5rem 2.5%;
    padding-bottom: 1.3rem;
    width: 95%;
    border: solid 1px #c9c9c9;
    background: #fff;
    .triangle {
        position: absolute;
        top: -.7rem;
        left: 50%;
        margin-left: -12px;
        border-bottom: solid 13px #fff;
        border-left: solid 12px transparent;
        border-right: solid 12px transparent;
        z-index: 0;
    }
    .boxes {
        margin: 2rem 0 0 3rem;
        width: 80%;
        border-left: solid 2px #c9c9c9;
        .circle-a {
            position: absolute;
            display: inline-block;
            left: 2.15rem;
            top: 2rem;
            width: 1.6rem;
            height: 1.6rem;
            text-align: center;
            border: solid 1px #c9c9c9;
            border-radius: 50%;
            background: #fff;
            .moon {
                margin-top: .28rem;
                width: .8rem;
            }
        }
        .circle-b {
            position: absolute;
            display: inline-block;
            left: 2.2rem;
            top: 4.6rem;
            width: 1.6rem;
            height: 1.6rem;
            text-align: center;
            border: solid 1px #c9c9c9;
            border-radius: 50%;
            background: #fff;
            .sun {
                width: 1.2rem;
                margin-top: .2rem;
            }
        }
        .centent {
            display: flex;
            flex-direction: column;
            margin-left: 12%;
            width: 82%;
            .box {
                display: inline-block;
                position: relative;
                margin: .3rem 0;
                line-height: 1.6rem;
                text-align: center;
                font-size: .85rem;
                color: #fff;
                background: #24a7c6;
                &-triangle {
                    position: absolute;
                    top: 0rem;
                    left: 0;
                    margin-left: -12px;
                    border-right: solid 22px #22a7c6;
                    border-top: solid 12px transparent;
                    border-bottom: solid 12px transparent;
                    z-index: 0;
                }
            }
            .dead{
                line-height: 1.3rem;
                font-size: .76rem;
            }
            .vote-font{
                line-height: 1.3rem;
                font-size: .76rem;
            }
        }
    }
}

footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background: rgba(41,189,224,.7);
    z-index: 1;
    .foot-left{
        width: 40%;
        line-height: 2rem;
        text-align: center;
        border-radius: 5px;
        background: #fdbc48;
        color: #fff;
    }
    .foot-right{
        width: 40%;
        line-height: 2rem;
        text-align: center;
        border-radius: 5px;
        background: #fdbc48;
        color: #fff;
    }
}