*{
    margin: 0;
    padding: 0;
}
.vw{
width: 10vw;
    height: 10vw;
    background: #0f0f0f;
}
.rem{
    width: 10rem;
    height: 20rem;
    background: #17ff2e;
}
.px{
    width: 100px;
    height:200px;
    background: #d43f3a;
}