*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;    /*宽度占满浏览器的宽度*/
    height: 5rem;   /*高度固定*/
    background-color: #29bde0;  /*背景颜色蓝色*/
}
header img{
    margin: 1rem;
}
.main {
    padding-top: 1rem;
    background-color: #efefef;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.game{
    background-color: white;
    height: 4rem;
    margin: 0 2rem;
}
.game img{
    position: absolute;
    bottom: 92%;
    right: 2%;
    transform: scale(0.9,0.9);
}
.game a {
    color: #9a9a9a;
    font-size: 1.7rem;
    line-height: 4rem;
}
.game a:link{
    text-decoration: none;
}
.ghost{
    color: #fdda9a;
    font-size: 1.7rem;
    border-bottom: 1px solid #fdda9a;
    background-color: #ffffff;
    height: 4rem;
    padding: 1rem 0;
    margin: 0 1rem;
}
.row-bottom{
    margin: 1rem 1rem 0 1rem;

}
.simple input{
    background-color: #69d1e9;
    margin: 0 auto;
    width: 90%;
    border: none;
    color: #ffffff;
    padding: 2rem 0;
}
.simple p {
    color: #9a9a9a;
    margin: 1rem;
}
li{
    list-style-type:none
}
.sanjiaoxing{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left:20px solid #fbb435;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: 1rem;
    top: 26.6rem;
}
.list-2{
    background-color: white;
    margin: 0 1rem 0 1rem ;
}
.circle{
    background-color: #ffffff;
    margin: 0 1rem;
    padding: 1rem;
}
.circle li{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-flex;
    background-color: rgb(239,240,241);
}
.hehe{
    margin: 1rem 1rem 0 1rem !important;
}
.list-2jianhua{
    margin: 1rem 0 0 0 !important;
}
