* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #29bde0 !important;
    height: 100vh;
}
.flex {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #29bde0;
}
.header {
    width: 100%;
    height: 45px;
    background-color: #29bde0;
    text-align: center;
    line-height: 45px;
    font-size: 17px;
    color: white;
}
.header-left {
    float: left;
    width: 12%;
    height: 45px;
}
.header-center {
    float: left;
    width: 76%;
    height: 45px;
}
.header-right {
    float: left;
    width: 12%;
    height: 45px;
}
.main {
    padding-top: 140px;
    padding-bottom: 80px;
}
.nav {
    width: 100%;
    height: 40px;
    background-color: #b9e9f5;
    line-height: 40px;
    position: relative;
    font-size: 13px;
    overflow: hidden;
}
span {
    position: absolute;
    left: 25px;
}
.img {
    position: absolute;
    right: 8px;
    top: 7px;
}
audio {
    position: absolute ;
    top: 3px;
    right:-260px;
    opacity: 0;
}
.nav-after {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    line-height: 35px;
    padding-left: 35px;
    font-size: 12px;
    color: white !important;
}
.triangle-up {
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:6px solid #b9e9f5;
    position: relative;
    top: -40px;
    left: 35px;
}
.main-row-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8vw;
}
.box-1 {
    width: 22vw;
    height: 22vw;
    border: .5vw solid white;
    box-sizing: content-box;
}
.cell-id {
    height: 16vw;
    background-color: #f5c97b;
    margin: 0;
    font-size: 15px;
    text-align: center;
    line-height: 16vw;
}
.cell-num {
    height: 6vw;
    background-color: #83b09a;
    margin: 0;
    font-size: 11px;
    text-align: center;
    line-height: 6vw;
}
ul {
    list-style:none;
    display: flex;
    opacity: 0;
    margin-top: 1.5vw !important;
    margin-bottom: 0 !important;
    font-size: 0;
}
.box-1:hover .abc{
    opacity: 1;
}
.img-1 {
    width: 100%;
}
.item {
    width: 4vw;
    margin: 1vw;
}
.footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #29bde0;
    text-align: center;
    line-height: 80px;
}
.btn {
    background-color: #fbb435 !important;
    border-radius: 0 !important;
    width: 78%;
    height: 45px;
    font-size: 20px !important;
    color: white !important;
    border: none !important;
}
.triang-up{
    position: relative;
    left: 20px;
    top: -40px;
    width: 0;
    height: 0;
    border-top: 10px solid #b9e9f5;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}