@charset "UTF-8";

@mixin w-h($w, $h) {
    width: $w;
    height: $h;
}

@mixin display($fl, $ju, $al) {
    display: $fl; // 弹性盒子flex
    justify-content: $ju; // 水平居中
    align-items: $al; // 垂直居中
}

$color:#ffffff;

html {
    font-size: 312.5%;
}

body {
    font-size: initial;
    padding: 0;
    margin: 0;
    background: #29BDE0;
}

p {
    margin: 0;
    padding: 0;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
header {
    @include display(flex, space-between, center);
    padding: .2rem .2rem;

    .menu {
        @include display(flex, center, stretch);
        @include w-h(.5rem, .4rem);
        border: 1px solid $color;

        div {
            @include w-h(20px, 1px);
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            background-color: #ffffff;
            padding: 4px 0;
            margin-top: 5px;
            background-clip: content-box;
        }
    }

    span {
        color: $color;
        font-size: 18px;
    }

    img {
        width: .4rem;
    }
}

main {
    .top {

        @include display(flex, space-between, center);
        position: relative;
        background: rgba(255, 255, 255, 0.5);

        span {
            color: #464646;
            font-size: 14px;
            margin-left: .46rem;
        }

        img {
            padding: .3rem;
        }

        &::after {
            position: absolute;
            bottom: -8px;
            left: .8rem;
            content: "";
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 8px solid rgba(255, 255, 255, 0.5);

        }
    }

    p {
        color: $color;
        font-size: 12px;
        font-weight: 200;
        margin: .2rem 0 0 .8rem;
    }

    .water {
        @include display(flex, space-around, center);
        flex-wrap: wrap;

        .police {
            margin: 2vw;

            div {
                border: 5px solid $color;

                .vocation {
                    @include display(flex, center, center);
                    @include w-h(24vw, 20vw);
                    font-size: 18px;
                    font-weight: 400;
                    color: #565656;
                    background: #FBB435;
                }

                .number {
                    @include display(flex, center, center);
                    @include w-h(24vw, 4vw);
                    font-size: 16px;
                    color: $color;
                    background: #83b09a;
                }
            }

            .down {
                display: flex;
                justify-content: space-between;
                margin-top: .2rem;
                visibility: hidden;

                .icon-1 {
                    display: inline-block;
                    @include w-h(4vw, 4vw);
                    background: url(../img/css_sprites.png) no-repeat;
                    background-size: cover;
                    background-position: 0 0;
                }

                .icon-2 {
                    @extend .icon-1;
                    background-position: 33.3% 0;
                }

                .icon-3 {
                    @extend .icon-1;
                    background-position: 66.6% 0;
                }

                .icon-4 {
                    @extend .icon-1;
                    background-position: 100% 0;
                }
            }

            &:hover .down {
                visibility: visible;
            }
        }
    }
}

footer {
    @include display(flex, center, center);
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #29BDE0;

    div {
        width: 81%;
        padding: .4rem;
        border-top: 1px solid #ffffff;

        button {
            outline: none;
            border: none;
            width: 100%;
            padding: .2rem; 
            background-color: #FBB435;
            font-size: 20px;
            color: $color;
        }
    }
}