@charset "UTF-8";
html {
  font-size: 100px; }

body {
  margin: 0;
  box-sizing: border-box;
  font-size: .12rem;
  background-color: #fafafa; }

.header {
  display: flex;
  justify-content: space-between;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  color: #26a26f; }
  .header .header_left {
    width: 50%; }
  .header .header_right {
    width: 50%; }
    .header .header_right a {
      display: inline-block;
      float: right;
      padding-left: .1rem; }
    .header .header_right .header_right-weixin {
      position: relative; }
      .header .header_right .header_right-weixin .qr-code {
        display: none;
        position: absolute;
        top: 100%;
        left: -.1rem;
        z-index: 1;
        width: 0.5rem;
        height: 0.5rem; }
      .header .header_right .header_right-weixin:hover .qr-code {
        display: block; }

.menu {
  padding-left: .5rem;
  padding-right: 1.35rem;
  background-color: #29b078;
  font-size: .13rem; }

.navbar {
  background-color: #29b078;
  border: none;
  margin: 0; }

.navbar-default .navbar-nav > li > a {
  color: white;
  text-align: center; }

.navbar-nav {
  margin: 0;
  margin-right: -1rem; }

.collapse {
  padding: 0; }

.container-fluid {
  padding: 0; }

.navbar-default .navbar-toggle {
  border: none;
  float: right;
  padding-right: 0; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: unset; }

.nav {
  width: auto;
  border: none;
  float: right; }

.nav li:hover {
  color: white;
  border-bottom: 3px solid white; }

.nav li:hover a {
  margin-bottom: -3px; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: transparent; }

@media screen and (max-width: 768px) {
  .menu {
    padding-right: .5rem; }

  .nav {
    float: none; }

  .navbar-nav {
    margin: 0; } }
.picture1 {
  float: left;
  height: .4rem;
  padding-top: .1rem;
  vertical-align: middle; }

.footer {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .3rem;
  color: #fff;
  background-color: #26a26f; }
  .footer .footer_box, .footer .footer_box-right {
    display: inline-grid;
    width: 30%;
    height: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem; }
    .footer .footer_box .footer_box-title, .footer .footer_box-right .footer_box-title {
      font-size: .15rem; }
    .footer .footer_box .footer_box-content div, .footer .footer_box-right .footer_box-content div {
      display: block; }
      .footer .footer_box .footer_box-content div a, .footer .footer_box-right .footer_box-content div a {
        display: inline-block;
        width: 1rem;
        height: 0.2rem;
        text-decoration: none;
        color: #fff; }
  .footer .footer_box-right {
    float: right;
    width: auto; }
    .footer .footer_box-right img {
      width: .8rem; }

.copyright {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  border-top: 1px solid green;
  text-align: center;
  color: #fff;
  background-color: #26a26f; }

@media screen and (max-width: 768px) {
  .footer .footer_box, .footer .footer_box-right {
    display: grid;
    width: 100%; }
  .footer .footer_box-right {
    float: none; } }
@media screen and (max-width: 500px) {
  .header_left {
    display: none; }

  .header_left + .header_right {
    width: 100%; } }
/*
.empty{
  width:100%;
  height:3rem;
  background-color: rebeccapurple;
}*/
/*椤甸潰1鏍峰紡*/
.page1-part2 {
  margin-top: .8rem;
  padding-left: .5rem;
  padding-right: .5rem;
  box-sizing: border-box; }
  .page1-part2 .box {
    display: inline-grid;
    width: 25%;
    height: 1.8rem;
    padding-left: .2rem;
    padding-right: .2rem;
    border-right: 1px dashed #dedede;
    box-sizing: border-box; }
    .page1-part2 .box img {
      margin: 0 auto; }
    .page1-part2 .box h4 {
      text-align: center; }
    .page1-part2 .box p {
      color: #afafaf;
      text-align: center;
      font-size: .13rem; }
  .page1-part2 .box-special {
    display: inline-grid;
    padding-left: .2rem;
    font-size: .13rem; }
    .page1-part2 .box-special .number {
      color: #26a26f; }
    .page1-part2 .box-special .explain {
      color: #afafaf; }

@media screen and (max-width: 768px) {
  .page1-part2 .box {
    display: grid;
    width: 100%;
    border: none; }
  .page1-part2 .box-special {
    display: grid;
    width: 100%;
    padding: 0;
    text-align: center; } }
h5 {
  margin-top: .7rem;
  margin-bottom: .5rem;
  text-align: center; }

.page1-part3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: .5rem;
  padding-right: .5rem; }
  .page1-part3 .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26%;
    margin-top: .1rem;
    padding-right: .15rem;
    box-sizing: border-box; }
    .page1-part3 .group .order {
      width: .35rem;
      height: .35rem;
      line-height: .35rem;
      border: 1px solid #afafaf;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      font-size: .13rem;
      color: #26a26f;
      background-color: #fff; }
    .page1-part3 .group p {
      width: 60%;
      margin: 0;
      color: #afafaf; }
    .page1-part3 .group .icon img {
      width: .2rem; }
  .page1-part3 .group-less {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-top: .1rem; }
    .page1-part3 .group-less .order {
      width: .35rem;
      height: .35rem;
      line-height: .35rem;
      border: 1px solid #afafaf;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      font-size: .13rem;
      color: #26a26f;
      background-color: #fff; }
    .page1-part3 .group-less p {
      width: 60%;
      margin: 0;
      color: #afafaf; }

@media screen and (max-width: 925px) {
  .page1-part3 .group {
    width: 47%;
    padding: 0; }
  .page1-part3 .group-less {
    width: 47%; }
    .page1-part3 .group-less .icon {
      width: .15rem; } }
@media screen and (max-width: 600px) {
  .page1-part3 .group {
    width: 100%;
    padding: 0; }
  .page1-part3 .group-less {
    width: 100%; }
    .page1-part3 .group-less .icon {
      width: .15rem; } }
.page1-part4 {
  display: flex;
  justify-content: space-between;
  padding-left: .4rem;
  padding-right: .4rem; }
  .page1-part4 .wrap {
    width: 25%; }
    .page1-part4 .wrap .block {
      display: inline-grid;
      margin: .1rem;
      padding: .2rem;
      box-shadow: 0 0 .01rem .01rem #afafaf;
      box-sizing: border-box; }
      .page1-part4 .wrap .block img {
        margin: 0 auto;
        width: 1rem;
        height: 1rem;
        border-radius: 50%; }
      .page1-part4 .wrap .block h4 {
        text-align: center; }
      .page1-part4 .wrap .block p {
        color: #afafaf;
        font-size: .13rem; }

@media screen and (max-width: 768px) and (min-width: 500px) {
  .page1-part4 {
    flex-wrap: wrap; }
    .page1-part4 .wrap {
      width: 50%; } }
@media screen and (max-width: 500px) {
  .page1-part4 {
    display: block; }
    .page1-part4 .wrap {
      width: 100%; } }
.page1-part5 {
  padding-left: .5rem;
  padding-right: .5rem; }
  .page1-part5 .co-operative {
    display: inline-block;
    width: 20%;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    overflow: hidden; }
    .page1-part5 .co-operative img {
      vertical-align: middle; }
    .page1-part5 .co-operative:hover {
      position: relative;
      box-sizing: border-box;
      box-shadow: 0 0 0.01rem 0.01rem #afafaf;
      z-index: 999; }

@media screen and (max-width: 1100px) {
  .page1-part5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .page1-part5 .co-operative {
      width: 48%;
      margin-top: .2rem; } }
@media screen and (max-width: 500px) {
  .page1-part5 .co-operative {
    width: 100%;
    margin-top: .2rem; } }
.page1-part6 {
  margin-top: .7rem;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #fff; }
  .page1-part6 .page1-link {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .page1-part6 ul {
    padding-left: 0;
    font-size: .12rem;
    color: #afafaf;
    list-style: outside; }
    .page1-part6 ul li {
      display: inline-block;
      width: 10%; }
      .page1-part6 ul li a {
        display: inline-block;
        margin-bottom: .05rem;
        padding-bottom: .05rem;
        text-decoration: none;
        color: #afafaf; }
      .page1-part6 ul li:hover a {
        border-bottom: 1px solid #26a26f; }
      .page1-part6 ul li:hover a {
        margin-bottom: 0.04rem; }

@media screen and (max-width: 768px) {
  .page1-part6 ul li {
    width: 25%; } }
@media screen and (max-width: 425px) {
  .page1-part6 ul li {
    width: 50%; } }
/*椤甸潰2鏍峰紡*/
.page2-icon img {
  width: 100%;
  height: 1rem; }

.title {
  padding: .2rem .5rem;
  font-size: .13rem; }
  .title span {
    color: #26a26f; }

.page2-main {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding-left: .5rem;
  padding-right: .5rem; }
  .page2-main .sidebar {
    flex: 0 0 2.5rem;
    margin-right: .20rem;
    border: 1px solid #afafaf;
    background-color: #fff; }
    .page2-main .sidebar .company {
      width: 100%;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      border-bottom: 1px solid #afafaf;
      text-align: center;
      font-size: .13rem;
      font-weight: bold; }
    .page2-main .sidebar ul {
      list-style: none;
      padding-top: 0.05rem;
      padding-bottom: 0.05rem; }
      .page2-main .sidebar ul li {
        height: .3rem;
        line-height: .3rem;
        text-align: center; }
        .page2-main .sidebar ul li div {
          display: inline-block;
          width: 0.1rem;
          height: 0.1rem;
          margin-right: .1rem;
          border: 1px solid #f9a372;
          border-radius: 50%; }
        .page2-main .sidebar ul li span {
          display: inline-block;
          width: .8rem;
          color: #26a26f;
          text-align: left; }
        .page2-main .sidebar ul li:hover div {
          background-color: #f9a372; }
        .page2-main .sidebar ul li:hover span {
          color: #f9a372; }
  .page2-main .mainpart {
    flex: 1;
    margin-left: .3rem;
    margin-bottom: 1rem;
    border: 1px solid #afafaf;
    color: #afafaf;
    background-color: #fff; }
    .page2-main .mainpart .brief {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #afafaf; }
      .page2-main .mainpart .brief .logo {
        width: 2rem;
        text-align: center; }
      .page2-main .mainpart .brief p {
        flex: 1;
        padding-right: .3rem;
        text-indent: 2em; }
    .page2-main .mainpart .content {
      padding-left: .4rem;
      padding-right: .4rem; }
      .page2-main .mainpart .content p {
        padding: .1rem 0;
        text-indent: 2em; }

@media screen and (max-width: 768px) {
  .page2-main {
    display: block; }
    .page2-main .sidebar {
      width: 100%;
      margin-right: 0;
      margin-bottom: .2rem; }
    .page2-main .mainpart {
      width: 100%;
      margin-left: 0; } }
@media screen and (max-width: 576px) {
  .page2-main {
    display: block; }
    .page2-main .sidebar {
      width: 100%;
      margin-right: 0;
      margin-bottom: .2rem; }
    .page2-main .mainpart {
      width: 100%;
      margin-left: 0; }
      .page2-main .mainpart .brief {
        display: block; }
        .page2-main .mainpart .brief .logo {
          width: 100%;
          padding: .1rem 0; }
        .page2-main .mainpart .brief p {
          display: block;
          padding-left: .4rem;
          padding-right: .4rem; } }
/*椤甸潰3鏍峰紡*/
.page3-subnav {
  margin-left: .5rem;
  margin-right: .5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #afafaf; }
  .page3-subnav .trunk {
    color: #afafaf; }
  .page3-subnav .branch {
    margin-right: .2rem;
    margin-left: .2rem; }
    .page3-subnav .branch:hover {
      background-color: #26a26f; }

.page3-subtitle {
  margin: 0;
  margin-left: .5rem;
  margin-right: .5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #afafaf;
  text-align: left; }

.page3-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .2rem; }
  .page3-row .empty {
    width: 30%;
    height: 1px; }
  .page3-row .case {
    position: relative;
    width: 30%;
    margin-top: .2rem;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    overflow: hidden; }
    .page3-row .case .profession {
      display: flex;
      padding: .1rem;
      border-bottom: 1px solid #afafaf; }
      .page3-row .case .profession div {
        display: inline-block;
        vertical-align: middle; }
        .page3-row .case .profession div img {
          width: 1.2rem;
          padding: .1rem; }
        .page3-row .case .profession div p {
          font-size: .14rem; }
          .page3-row .case .profession div p span {
            font-size: .15rem;
            font-weight: bold; }
    .page3-row .case .claim, .page3-row .case .need {
      display: flex; }
      .page3-row .case .claim p, .page3-row .case .need p {
        width: 50%;
        padding-left: .1rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #afafaf;
        color: #afafaf; }
        .page3-row .case .claim p .red, .page3-row .case .need p .red {
          color: red; }
        .page3-row .case .claim p .black, .page3-row .case .need p .black {
          color: black; }
        .page3-row .case .claim p img, .page3-row .case .need p img {
          width: 0.1rem;
          height: 0.1rem;
          padding-left: .1rem; }
      .page3-row .case .claim .right-border, .page3-row .case .need .right-border {
        border-right: 1px solid #afafaf; }
    .page3-row .case .career {
      display: flex;
      height: 1.1rem;
      border-bottom: 1px solid #afafaf; }
      .page3-row .case .career .career-left {
        width: 40%;
        padding-top: .45rem;
        border-right: 1px solid #afafaf;
        text-align: center;
        color: #afafaf; }
      .page3-row .case .career .career-right {
        flex: 1; }
        .page3-row .case .career .career-right div {
          display: flex;
          justify-content: space-around;
          border-bottom: 1px solid #afafaf;
          padding-top: 0.1rem;
          padding-bottom: 0.1rem; }
          .page3-row .case .career .career-right div .span {
            width: 40%;
            height: .2rem;
            line-height: .2rem;
            padding-left: .1rem;
            display: inline-block; }
        .page3-row .case .career .career-right .salary {
          border: none; }
    .page3-row .case .online-num {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: .1rem;
      border-bottom: 1px solid #afafaf;
      font-size: .13rem;
      font-weight: bold; }
      .page3-row .case .online-num span {
        color: red; }
    .page3-row .case .point {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: .1rem;
      color: #afafaf; }
    .page3-row .case .extro {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      background-color: rgba(12, 12, 12, 0.7);
      color: white;
      padding: .3rem .2rem 0 .2rem;
      transform: translateX(-100%);
      transition: transform 1s; }
      .page3-row .case .extro .extro-title {
        width: 100%;
        height: .2rem;
        line-height: .2rem;
        text-align: center; }
      .page3-row .case .extro .extro-content {
        text-indent: 2em; }
    .page3-row .case:hover .extro {
      transform: translateX(0); }

@media screen and (max-width: 1100px) {
  .page3-row {
    display: flex;
    flex-wrap: wrap; }
    .page3-row .case {
      width: 47%; }
    .page3-row .empty {
      width: 47%;
      height: 1px; } }
@media screen and (max-width: 768px) {
  .page3-row {
    display: flex;
    flex-wrap: wrap; }
    .page3-row .case {
      width: 100%; }
    .page3-row .empty {
      width: 100%;
      height: 1px; } }

/*# sourceMappingURL=task14.css.map */
