<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:annotation-config />
    <!--<mvc:annotation-driven/>-->
    <context:component-scan base-package="com"/>
    <!-- 配置加载数据源文件 -->

    <!-- Memcached配置 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations" value="classpath:xmemcached.properties">
        </property>
    </bean>

    <bean id="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
    <constructor-arg>
    <list>
    <bean class="java.net.InetSocketAddress">
    <constructor-arg>
    <value>${memcached.server1.host}</value>
    </constructor-arg>
    <constructor-arg>
    <value>${memcached.server1.port}</value>
    </constructor-arg>
    </bean>
    </list>
    </constructor-arg>
    <constructor-arg>
    <list>
    <value>${memcached.server1.weight}</value>
    </list>
    </constructor-arg>
    <property name="commandFactory" >
    <bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory" />
    </property>
    <property name="sessionLocator" >
    <bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator" />
    </property>
    <property name="transcoder" >
    <bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />
    </property>
    <property name="connectionPoolSize" value="${memcached.connectionPoolSize}" />
    <property name="failureMode" value="${memcached.failureMode}" />
    <property name="connectTimeout" value="6000"/>
    <property name="opTimeout" value="10000"/>
    </bean>
     <!--Use factory bean to build memcached client-->
    <bean id="memcachedClient" factory-bean="memcachedClientBuilder" factory-method="build"  destroy-method="shutdown" />


</beans>

