html {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    max-width: 640px;
}
header {
    color: #ffffff;
    background-color: #2abcdf;
    height: 4rem;
    text-align: center;
    font-size: 3.1rem;
    border-bottom: 1px solid #ffffff;
}
.goBack {
    margin-left: 6px;
    float: left;
}
.close {
    margin-top: 6px;
    margin-right: 6px;
    float: right;
}
.main {
    height: 660px;
    background-color: #2abcdf;
}
.content {
    /*margin: 0 3%;*/
    overflow: hidden;
    background-color: #2abcdf;
    padding-bottom: 5rem;
}
.content-box {
    margin: 3%;
}
.content-box1 {
    border: 5px solid #ffffff;
    float: left;
    margin: 2.8%;
}
.content1 {
    font-size: 2rem;
    margin: 0;
    padding: 58px;
    background-color: #f4c87c;
    color: black;
}
.number1 {
    text-align: center;
    font-size: 1.6rem;
    background: #83b09a;
    margin: 0;
    color: #ffffff; }
.contentnum {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;

    background-color: #75aac5;
    color: #ffffff;
}



footer {
    max-width: 640px;
    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background-color: #2abcdf;
    text-align: center;
    display: flex;
}
.playGame {
    flex: 1;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: orange;
    border-radius: .5rem;
    margin: 1rem;
    border: 1px solid transparent;
}
