
* {
    font-size:62.5%;
}

body {
    margin: 0 auto;
    max-width: 640px;
}

header {
    max-width: 640px;
    background: #29bde0;
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 100;
    display: flex;
    text-align: center;
    border-bottom: .1rem solid #74d4eb;
}

.box-lf,
.box-mid,
.box-rit {
    flex: 1;
}

.top-home,
.top-tips {
    transform: scale(.5,.5);
    position: absolute;
}
.top-home {
    left: 2vw;
}
.top-tips {
    transform: scale(.6,.6);
    right: 2vw;
}

.box-mid {
    font-size: 2.8rem;
    color: #ffffff;
}

/*main*/
main {
    flex-wrap: wrap;
    padding-top: 4rem;
    background-color: #29bde0;
}

.main-img {
    flex: 1;
    text-align: center;
    transform: scale(.7,.7);
}

.main-title,
.main-text {
    margin: 0 15vw;
    text-align: center;
}
.main-title > h2 {
    text-align: center;
    font-size: 2rem;
    color: #ffc865;
    text-shadow: #aec493;
}

.main-text {
    color: #ffffff;
    font-size: 1rem;
    flex: 1;
    padding: 1rem 0;
    letter-spacing: .1rem;
}

.main-text > span {
    padding-right: 1.5rem;
    font-size: 1.5rem;
}

/*main-过程*/

.main-course {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 1vw 15vw;
    border-bottom: .1rem solid #eaeaea;
    padding-bottom: 8rem;

}
.main-time {
    display: flex;
    padding-bottom: .5rem;
    width: 100%;

}
.day {
    flex: 0 1 80%;
    font-size: 1.5rem;
    color: #515151;
}
.hour {
    flex: 0 1 30%;
    color: #d5d5d5;
}

.main-day,
.main-night {
    color: #a6a6a6;
    width: 100%;
    font-size: 2.2rem;
}


/*.main-time,*/
/*.main-day,*/
/*.main-night {*/
/*flex: 1;*/
/*}*/

/*foot*/
footer {
    max-width: 640px;
    background: #6ccdd5;
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    text-align: center;
    background-color: rgba(41,189,224,0.4);
}

.foot-game-over,
.foot-judge-log {
    flex: 1;
    font-size: 2rem;
    background-color: #fbb435;
    border-radius: .5rem;
    margin: 1rem;
    color: #ffffff;
    border: 1px solid transparent;
}

.foot-judge-log {
    background-color: #f66f6f;
}

.again,
.upload {
    font-size: 3rem;
    margin: 1rem;
    color: #ffffff;
}

a:hover {
    color: #dff0d8;
    text-decoration: none;
}