@charset "UTF-8";
html {
    margin: 0;
    padding: 0;
    background-color: black;
}
body {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    background-color: #eeeeee;
    position: relative;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid #ffffff;
    max-width: 640px;
    position: fixed;
    background-color: #2abcdf;
    text-align: center;
    font: 30px "微软雅黑 Light";
    width: 100%;
    color: #ffffff;
    z-index: 999;
}
.goBack {
    cursor: pointer;
    float: left;
    overflow: hidden;
}
.close {
    cursor: pointer;
    float: right;
    overflow: hidden;
}
.goBack,
.close {
    transform: scale(.6,.6);
}
.main {
    background-color: #2abcdf;
}
.card-show {
    background-color: #2abcdf;
    height: 56rem;
    position: relative;
    top: 4rem;
}
.card-bgc {
    position: relative;
    top: 4rem;
    height: 45rem;
    background-color: #feecc5;
    margin: 0 70px;
    text-align: center;
    border: 4px solid #ffffff;
}
.play-step-num {
    position: relative;
    top:-27px;
    height: 50px;
    width: 50px;
    border: 4px solid #feecc5;
    background-color: #ffffff;
    border-radius: 25px;
    color: orange;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin: 3px auto 40px auto;
}
.img-width {
    width: 70%;
}
.card-icon-role p{
    color: #2abcdf;
    font-size: 27px;
    margin-top: 16px;
}
footer{
    position: fixed;
    bottom: 0;
    height: 6rem;
    z-index: 100;
    background-color: #2abcdf;
    padding: 0 5rem;
    max-width: 640px;
    width: 100%;
    display: flex;
    text-align: center;
}
.foot-function-1,
.foot-function-2,
.foot-function-3
{
    flex: 1;
    font-size: 2.5rem;
    background-color: orange;
    border-radius: .5rem;
    margin: 1rem;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
}