.green {
  color: #29b078;
}
.bar {
  margin: 0 8px;
}
.nav {
  background-color: #29b078;
  padding-left: 0;
  list-style: none;
}
.nav .navbar {
  background-color: #29b078;
  min-height: 50px;
  position: relative;
  margin-bottom: 20px ;
}
.nav .navbar-default {
  margin-bottom: 0;
}
.nav .navbar-default .navbar-nav {
  float: left;
  margin: 0;
}
.nav .navbar-default .navbar-nav > li {
  float: left;
}
.nav > li,
.nav > li > a {
  position: relative;
  display: block;
}
.nav > li > a {
  padding: 10px 15px;
  color: #fff;
  line-height: 20px;
}
nav {
  padding-left: 15px;
}
.nav-box {
  border-bottom: 3px solid #fff;
}
.nav-box a {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .navvbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.banner img {
  width: 100%;
}
.sitemap {
  line-height: 80px;
  background-color: #fafafa;
  font-size: 1.6rem;
}
.sitemap a {
  color: #000;
}
.sitemap span {
  color: #29b078;
}
