@charset "UTF-8";
/* 页面设置样式 */
html {
  font-size: 62.5%;
}

* {
  list-style-type: none;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  height: 4.8rem;
  background-color: #29BDE0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

body header .thb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 1.15rem;
  width: 2rem;
  height: 2rem;
  padding: 3px;
  border: 1.5px solid white;
  background-color: #29BDE0;
  outline: none;
}

body header .thb .itb {
  width: 4rem;
  height: 1.5px;
  padding: 4px 0;
  border: 1px solid white;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  border-left: 0;
  border-right: 0;
  background-clip: content-box;
  background-color: white;
}

body header .vote {
  font-size: 17px;
  color: white;
  margin: auto;
}

body header .rb {
  background-color: #29BDE0;
  border: 0;
}

body header .rb .icon_false {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: white;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
}

body header .rb .icon_false:after {
  content: '/';
  display: block;
  width: 20px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(-90deg);
}

body main {
  margin-bottom: 5rem;
  background-color: #29BDE0;
}

body main .pb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.1rem;
  background-color: #b9e9f5;
  padding-top: 4.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .pb .vw {
  padding: 1.3rem 0;
  padding-left: 2.3rem;
  font-size: 13px;
}

body main .pb .rd {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #FBB435;
  border-radius: 50%;
  margin: auto 1rem;
}

body main .pb .rd .tg {
  width: 0;
  height: 0;
  border-width: 8px;
  border-right-width: 0px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  margin-left: 10%;
}

body main .st {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #b9e9f5 transparent transparent transparent;
  margin-left: 3.55rem;
}

body main .hint {
  color: white;
  margin-left: 3.6rem;
}

body main .choice {
  width: 28.9%;
  height: 28.9vw;
  padding: 0;
  margin: 1rem .6% 8.3vw 2.5%;
  border: 3px solid #FFFFFF;
  background: #F5C97B;
  outline: none;
}

body main .choice .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
  color: #565656;
  font-size: 15px;
}

body main .choice .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  font-size: 11.5px;
  color: white;
  background-color: #83B09A;
}

body main .choice .dropdown-content {
  display: none;
  padding: 0;
}

body main .choice .dropdown-content .one {
  display: inline-block;
  width: 4.5vw;
  height: 4.5vw;
  background: url(./css_sprite2s.png) no-repeat;
  background-position: 14.286% 14.286%;
  background-size: 333.33%;
}

body main .choice .dropdown-content .two {
  display: inline-block;
  width: 4.5vw;
  height: 4.5vw;
  background: url(./css_sprite2s.png) no-repeat;
  background-position: 85.714% 14.286%;
  background-size: 333.33%;
}

body main .choice .dropdown-content .three {
  display: inline-block;
  width: 4.5vw;
  height: 4.5vw;
  background: url(./css_sprite2s.png) no-repeat;
  background-position: 14.286% 85.714%;
  background-size: 333.33%;
}

body main .choice .dropdown-content .four {
  display: inline-block;
  width: 4.5vw;
  height: 4.5vw;
  background: url(./css_sprite2s.png) no-repeat;
  background-position: 85.714% 85.714%;
  background-size: 333.33%;
}

.choice:hover .dropdown-content {
  display: inline-block;
  padding: 0;
}

body footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12%;
  width: 100%;
  bottom: 0;
  background-color: #29BDE0;
}

body footer .yu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  height: 100%;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
}

body footer .yu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 65%;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #FBB435;
  outline: none;
  text-decoration: none;
}
/*# sourceMappingURL=task13-2.css.map */