html{
    width:100%;
    font-size:62.5%;
}

body{
    width:100%;
    margin:0;
    background-color: #29bde0;

}
header{
    width:100%;
    height:4.4rem;
    border:0.1rem solid #74d4eb;
    background-color: #29bde0;
}
main{
    width:100%;
    height:61rem;
}
.middle{
    float:left;
    width:100%;
    margin:0;
    font-size:1.7rem;
    text-align: center;
    line-height: 4.4rem;
    color:#fff;
}
.left{
    float:left;
    width:10%;
    height:4.4rem;
    margin-left:-100%;
}
.p1{
    width:2.5rem;
    height:2rem;
    margin:1.2rem auto 1.2rem 1.1rem;

}
.right{
    float:right;
    width:10%;
    height:4.4rem;
    margin-left:-10%;
}
.p2{
    float:right;
    width:2.2rem;
    height:2.2rem;
    margin:1.1rem 1.1rem 1.1rem auto;
}
.d1{
    position: relative;
    margin:2rem 0;
    height:10.2rem;
    text-align: center;
}
.p3{
    width:4.2rem;
    height:4.3rem;
}
.p4{
    position: absolute;
    left:50%;
    top:5rem;
    transform: translate(-50%,-50%);
    width:17.5rem;
    height:10.2rem;
}
.win{
    position: absolute;
    left:50%;
    top:8rem;
    transform: translate(-50%,-50%);
    font-size:2.4rem;
    color:#fff;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}
.good{
    margin:1.5rem 4rem 1.5rem 3.5rem;
    font-size:1.6rem;
    color:#ffc865;
}
.sta{
    margin:1.5rem 4rem 1.5rem 3.5rem;
    font-size:1.3rem;
    color:#fff;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}
.day{
    position: relative;
    height:8.4rem;
    background-color: #fff;
    border-bottom:0.1rem solid #dddddd;
}
.first{
    margin:0 13.7rem 0.8rem 3.6rem;
    padding-top:0.6rem;
    font-size:1.5rem;
    color:#333;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}
.time{
    position: absolute;
    right:1.8rem;
    top:1rem;
    font-size:1rem;
    color:#d5d5d5;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}
.night{
    margin-left: 3.6rem;
    font-size:1.3rem;
    color:#a6a6a6;
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;
}
footer{
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: space-around;
    align-content:center;
    width:100%;
    height:6.5rem;
    background: rgba(153,223,240,0.5);/*rgba最后一个数字即为opcity透明度*/
}
.again{
    position: relative;
    text-align: center;
    width:13.7rem;
    height:4.3rem;
    border-radius: 1rem;
    margin-top:1.3rem;
    line-height: 4.3rem;
    background-color:#f66f6f;
    color:#fff;
}
.share{
    text-align: center;
    width:13.7rem;
    height:4.3rem;
    border-radius: 1rem;
    margin-top:1.3rem;
    line-height: 4.3rem;
    background-color:#fbb435;
    color:#fff;
}
