body {
    margin: 0;
    height: 200%;
    background: #fafafa;
}

header {
    font-size: 12px;
    color: #29b078;
    background: #fff;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-right {
    display: flex;
    align-items: center;
}

.wx {
    display: inline-block;
    margin-right: 1vw;
    background: url(../img/img1.png)no-repeat 0 -5%/83%;
    width: 22px;
    height: 25px;
}

.qq {
    display: inline-block;
    margin-right: 1vw;
    background: url(../img/img1.png)no-repeat 0 33%/80%;
    width: 22px;
    height: 24.8px;
}

.wb {
    display: inline-block;
    margin-right: 1.6vw;
    background: url(../img/img1.png)no-repeat 0 69%/83%;
    width: 22px;
    height: 23px;
}

/* ====================以上头部====================== */

nav {
    text-align: right;
    line-height: 3.8rem;
    font-size: 12px;
    color: #fff;
    background: #29b078;
}

.nav-box {
    width: 100%;
}
.nav-font-box{
    float: right;
}

.nav-font {
    display: inline-block;
    text-align: center;
    width: 6rem;
    border-bottom: solid 2px #29b078;
    color: #fff;
}
.nav-font:hover{
    border-bottom: solid 2px #fff;
}
@media (max-width:986px) {
    .nav-font {
        display: none;
    }
}



@media(min-width:986px){
    .dropdown{
        display: none;
    }
}

.btn{
    display: none;
    padding: 0;
    margin-right: 1rem;
}
@media(max-width:986px){
    .btn{
        display: inline-block;
    }
}
.dropdown-toggle::after{
    display: none;
}



.dropdown-menu{
    position: initial;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 0;
    box-shadow: initial;
} 
.btn-secondary{
    background: #29b078;
    border: none;
}
.show{
    position: initial !important;
    transform: initial !important;
}



.nav-ul{
    background: #29b078;
    margin: 0 !important;
}


.nav-fon {
    display: block;
    color: #fff;
}
.nav-fon:hover{
    background: #32c086;
}
a{
    text-decoration:none;  
    
}
a:hover{
    text-decoration:none;  
}


/* ======================以上导航栏================== */




ul{
    text-align: center;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}





.carousel-indicators li{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #333333;
}

/* =====================以上轮播图=================== */

.content {
    text-align: center;
    margin-top: 5.1rem;
}


.col-xs-3 {
    text-align: center;
}

.deeicient {
    display: inline-block;
    background: url(../img/img2.png)no-repeat 92% -16%/70%;
    width: 43px;
    height: 44px;
}

.norm {
    display: inline-block;
    background: url(../img/img2.png)no-repeat 75% 102%/70%;
    width: 41px;
    height: 43.5px;
}

.contacts {
    display: inline-block;
    background: url(../img/img2.png)no-repeat 100% 43%/70%;
    width: 40px;
    height: 44.5px;
}

h5 {
    font-weight: 800;
    font-size: 1rem;
}

h6 {
    text-align: left;
    font-size: 12px;
    color: #999999;
}

@media(max-width:768px) {
    h6 {
        text-align: center;
    }
}

.p-center {
    font-size: 12px;
    color: #999999;
}

.border-right {
    border-right: dashed 1px #dedede;
}

.title-right {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #29b078;
}

.font-right {
    font-size: 12px;
    color: #999;
}

/* ============================================== */

main {
    margin-top: 3rem;
    padding: 0;
}

.main-title {
    margin-top: 6.6rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.38rem;
    color: #333333;
}


    .main-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
    }


@media(max-width:992px) {
    .main-box {
        display: flex;
        align-content: center;
        justify-content: space-around;
        margin-top: 12px;
        height: 75px;
        padding: 0;
    }
}



.around {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 1px #e2e2e2;
    background: #ffffff;
}

.number {
    display: block;
    width: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    color: #29b078;
}

.main-font {
    margin-left: 15%;
    width: 55%;
    font-size: 12px;
    color: #999999;
}

.point {
    width: 1.5rem;
    height: 1.5rem;
}



.point-a {
    display: inline-block;
}

@media(max-width:992px) {
    .point-a {
        display: none;
    }
}

@media(max-width:576px) {
    .point {
        display: none;
    }
}

.row-tow {
    margin-top: 3rem;
}
@media(max-width:992px){
    .row-tow{
        margin-top: 0;
    }
}

/* ============以上第一主要内容=============== */

.main-box-tow {
    margin-top: 1rem;
    border: solid 1px #e2e2e2;
    background: #fff;
}
.main-box-tow:hover{
    box-shadow: 5px 10px 5px 2px #333333;
}

.touxiang-1 {
    display: block;
    margin: 1rem auto;
    background: url(../img/img3.png)no-repeat 0 0%/100%;
    width: 108px;
    height: 108px;
}

.touxiang-2 {
    display: block;
    margin: 1rem auto;
    background: url(../img/img3.png)no-repeat 0 34%/100%;
    width: 108px;
    height: 108px;
}

.touxiang-3 {
    display: block;
    margin: 1rem auto;
    background: url(../img/img3.png)no-repeat 0 67.8%/100%;
    width: 108px;
    height: 108px;
}

.touxiang-4 {
    display: block;
    margin: 1rem auto;
    background: url(../img/img3.png)no-repeat 0 100%/100%;
    width: 108px;
    height: 108px;
}

.tow-title {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 5.5vw;
    font-weight: 800;
}

.tow-font {
    margin-left: 10%;
    width: 80%;
    font-size: 12px;
    color: #999;
}

.around-box {
    text-align: center;
}

.main-around {
    display: inline-block;
    margin-top: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    ;
    border: solid 1px #e3e3e3;
    border-radius: 50%;
    background: #fff;
}

.main-around:hover {
    background: #29b078;
}

/* ===============以上第二主要内容================== */

.row-three {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

@media( max-width:768px) {
    .row-three {
        display: flex;
        justify-content: center;
        background: #fafafa;
    }
}

.main-box-three {
    display: inline-block;
    background: #fff;
}

@media(max-width:768px) {
    .main-box-three {
        display: inline-block;
        text-align: center;
        
        width: 78vw;
        height: 20rem;
        border: solid 2px #999999;
    }
}


.qiniu-log,.log {
    flex: 1 0 20%;
    line-height: 18rem;
}

.qiniu-log:hover,.log:hover {
    box-shadow: 1px 1px 1px 1px#888888;
    z-index: 1;
}






@media(max-width:1200px){
    .qiniu-log,.log{
        margin: 5rem;
    }
}

@media(max-width:768px) {
    .ql.log,.log {
        display: block;
        text-align: center;
    }
}
@media(max-width:1200px){
    .qiniu-log{
        flex: inherit;
    }
}
@media(max-width:768px){
    .qiniu-log{
        width: 61rem;
    }
}



/* =================以上第三主要内容=============== */

.link {
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1px;
    line-height: 2rem;
    color: #999999;
    background: #ffffff;
}
.ul-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media(max-width:768px){
    .ul-foot{
        display: flex;
        flex-wrap: wrap;
    }
}
.li-foot{
    /* display: inline-block; */
    width: 5rem;
    list-style: initial;
    border-bottom: solid 1px #fff;
}
.li-foot:hover{
    border-bottom: solid 1px #888888;
}


@media(max-width:768px) {
    .li-foot {
        width: 35%;
    }
}
@media(max-width:576px){
    .li-foot {
        margin:0 11%;
        width:5rem;
    }
}


/* =================友情链接===================== */

footer {
    text-align: center;
    line-height: 3.8rem;
    font-size: 12px;
    color: #fff;
    background: #29b078;
}

@media(min-width:769px) {
    .footer-font {
        display: flex;
        flex-flow: column wrap;
        text-align: left;
    }
}





.footer-line {
    width: 100%;
    border-top: solid 1px #32c086;
}

@media(max-width:768px) {
    .footer-line {
        display: flex;
        justify-content: center;
        border-top: solid 1px #32c086;
        line-height: 20px;
    }
}

.erweima-box {
    text-align: center;
}

.erweima {
    width: 6.6rem;
}

.lin {
    color: #fff;
}
.lin:hover{
    background: #32c086;
    color: #fff;
    border-bottom: solid 1px #fff;
}
