body {
    margin: 0;
    height: 200%;
    background: #fafafa;
}

header {
    font-size: 12px;
    color: #29b078;
    background: #fff;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-right {
    display: flex;
    align-items: center;
}

.wx {
    display: inline-block;
    margin-right: 1vw;
    background: url(../img/img1.png)no-repeat 0 -5%/83%;
    width: 22px;
    height: 25px;
}

.qq {
    display: inline-block;
    margin-right: 1vw;
    background: url(../img/img1.png)no-repeat 0 33%/80%;
    width: 22px;
    height: 24.8px;
}

.wb {
    display: inline-block;
    margin-right: 1.6vw;
    background: url(../img/img1.png)no-repeat 0 69%/83%;
    width: 22px;
    height: 23px;
}

/* ====================以上头部====================== */

nav {
    text-align: right;
    line-height: 3.8rem;
    font-size: 12px;
    color: #fff;
    background: #29b078;
}
.nav-box {
    display: flex;
    justify-content: space-between;
}
.jns{
    position: absolute;
    margin-top: .5rem;
}





.nav-font-box{
    float: right;
}

.nav-font {
    display: inline-block;
    text-align: center;
    width: 6rem;
    border-bottom: solid 2px #29b078;
    color: #fff;
}
.nav-font:hover{
    border-bottom: solid 2px #fff;
}
@media (max-width:986px) {
    .nav-font {
        display: none;
    }
}



@media(min-width:986px){
    .dropdown{
        display: none;
    }
}

.btn{
    display: none;
    padding: 0;
    margin-right: 1rem;
}
@media(max-width:986px){
    .btn{
        display: inline-block;
    }
}
.dropdown-toggle::after{
    display: none;
}



.dropdown-menu{
    position: initial;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 0;
    box-shadow: initial;
}
.btn-secondary{
    background: #29b078;
    border: none;
}
.show{
    position: initial !important;
    transform: initial !important;
}



.nav-ul{
    background: #29b078;
    margin: 0 !important;
}


.nav-fon {
    display: block;
    text-align: center;
    color: #fff;
}
.nav-fon:hover{
    background: #32c086;
}
a{
    text-decoration:none;  
    
}
a:hover{
    text-decoration:none;  
}


/* ===================以上导航栏===================== */

.background{
    width: 100%;
}
/* ================以上背景图片======================= */


.little-green{
    line-height: 3.8rem;
    font-size: 15px;
    color:#29b078;
}
/* ====================以上主体标题==================== */

.main-nav{
    display: block;
    margin-bottom: 1rem;
    padding: 0;
    height: 41rem;
    width: 100%;
    border: solid 1px #ededed;
    background: #fff;
}
.main-nav-title{
    margin-bottom: 2rem;
    text-align: center;
    line-height: 4rem;
    font-weight: 800;
    border-bottom: solid 1px #ededed; 
}

.box{
    display: flex;
    justify-content: center;
}
ul{
    padding: 0;
}
li{
    margin-left: 15%;
    line-height: 2.78rem;
    width: 5rem;
    list-style: none;
    font-size: 10px;
    color: #29b078;
}
/* @media() */
.main-around{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid 1.2px #f9a372;
    border-radius: 50%;
}
li:hover .main-around{
    background: #f9a372;
 
}
li:hover{
    color: #f9a372;
}

/* ==================以上主体内容，左侧导航栏================= */

/* .col-md-9{
    padding: 0;
} */
@media(max-width:768px){
    .main{
        padding: 0;
    }
}

.main-text{
    display: block; 
    width: 100%;
    border: solid 1px #ededed;
    font-size: 12px;
    color: #999999;
    background: #fff;
}
.text-header{
    display: inline-block;
    padding: 1rem 5rem 1rem 5rem;
    width: 100%;
    border-bottom: solid 1px #ededed;
}
.tudou{
    float: left;
    margin-right: 3rem;
}

.main-body{
    display: inline-block;
    padding: 5rem;
    width: 100%;
}

/* =====================以上主体内容，右侧文本==================== */

footer {
    margin-top: 5rem;
    text-align: center;
    line-height: 3.8rem;
    font-size: 12px;
    color: #fff;
    background: #29b078;
}

@media(min-width:769px) {
    .footer-font {
        display: flex;
        flex-flow: column wrap;
        text-align: left;
    }
}





.footer-line {
    width: 100%;
    border-top: solid 1px #32c086;
}

@media(max-width:768px) {
    .footer-line {
        display: flex;
        justify-content: center;
        border-top: solid 1px #32c086;
        line-height: 20px;
    }
}

.erweima-box {
    text-align: center;
}

.erweima {
    width: 6.6rem;
}

.lin {
    color: #fff;
}
.lin:hover{
    background: #32c086;
    color: #fff;
    border-bottom: solid 1px #fff;
}
