body {
    margin: 0;
    height: 200%;
    background: #fafafa;
}
ul{
    text-align: center;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    font-size: 12px;
    color: #29b078;
    background: #fff;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-right {
    display: flex;
    align-items: center;
}

.wx {
    display: inline-block;
    margin-right: 1vw;
    background: url(../img/img1.png)no-repeat 0 -5%/83%;
    width: 22px;
    height: 25px;
}

.qq {
    display: inline-block;
    margin-right: 1vw;
    background: url(../img/img1.png)no-repeat 0 33%/80%;
    width: 22px;
    height: 24.8px;
}

.wb {
    display: inline-block;
    margin-right: 1.6vw;
    background: url(../img/img1.png)no-repeat 0 69%/83%;
    width: 22px;
    height: 23px;
}

/* ====================以上头部====================== */

nav {
    text-align: right;
    line-height: 3.8rem;
    font-size: 12px;
    color: #fff;
    background: #29b078;
}
.nav-box {
    display: flex;
    justify-content: space-between;
}
.jns{
    position: absolute;
    margin-top: .5rem;
}





.nav-font-box{
    float: right;
}

.nav-font {
    display: inline-block;
    text-align: center;
    width: 6rem;
    border-bottom: solid 2px #29b078;
    color: #fff;
}
.nav-font:hover{
    border-bottom: solid 2px #fff;
}
@media (max-width:986px) {
    .nav-font {
        display: none;
    }
}



@media(min-width:986px){
    .dropdown{
        display: none;
    }
}

.btn{
    display: none;
    padding: 0;
    margin-right: 1rem;
}
@media(max-width:986px){
    .btn{
        display: inline-block;
    }
}
.dropdown-toggle::after{
    display: none;
}



.dropdown-menu{
    position: initial;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 0;
    box-shadow: initial;
}
.btn-secondary{
    background: #29b078;
    border: none;
}
.show{
    position: initial !important;
    transform: initial !important;
    width: 100%;
}



.nav-ul{
    background: #29b078;
    margin: 0 !important;
}


.nav-fon {
    display: block;
    text-align: center;
    color: #fff;
}
.nav-fon:hover{
    background: #32c086;
}
a{
    text-decoration:none;  
    
}
a:hover{
    text-decoration:none;  
}

/* ===================以上导航栏===================== */

.title-green {
    line-height: 6rem;
    font-size: 15px;
    color: #29b078;
}

.home {
    line-height: 6rem;
    font-weight: 600;
}

/* ===============以上总标题=============== */

.main-nav {
    display: block;
    padding: 1.18rem 0;
    border-bottom: solid 1px #edf1f2;
}

@media(max-width:768px) {
    .main-nav {
        margin-bottom: 3rem;
    }
}

.direction-font {
    font-size: 12px;
    color: #a1a1a1;
}

.font-hover:hover{
    background: #29b078;
    color: #fff;
}

.class-font {
    margin-left: 3rem;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width:768px) {
    .main-nav {
        border: none;
    }
    .direction-font {
        display: block;
        line-height: 2rem;
        border-bottom: solid 1px #edf1f2;
    }
    .class-font {
        display: block;
        margin: 0;
        text-align: center;
        line-height: 5rem;
        color: #333;
        border-bottom: solid 1px #edf1f2;
    }
}

/* ======================以上主体导航栏====================== */

.main-title {
    display: block;
    line-height: 7rem;
    font-weight: 600;
    font-size: 1.38rem;
    color: #333;
    border-bottom: solid 1px #a1a1a1;
}

a {
    color: #333;
}

/* ===============以上主体标题============== */

.main-box {
    margin-top: 5rem;
}

.main-box-tow {
    position: relative;
}

@media(max-width:575px) {
    .main-box {
        margin: 3rem 1rem 0 1rem;
    }
}

.hide-box {
    position: absolute;
    padding: 2rem 10% 0 10%;
    text-align: center;
    line-height: 2rem;
    width: 10%;
    height: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 1s;
    transform: rotate(0deg);
}

.hide-title {
    display: none;
    text-align: center;
    line-height: 3.5rem;
}

.hind-font {
    display: none;
    text-align: left;
}

.main-box-tow:hover .hide-box {
    /* display: block;  */
    transform: rotate(7200deg);
    color: #fff;
    background: rgba(16, 16, 16, 0.8);
    width: 100%;
    height: 100%;
}

.main-box-tow:hover .hide-title {
    display: inline-block;
}

.main-box-tow:hover .hind-font {
    display: inline-block;
}

.touxiang-box {
    float: left;
    margin-right: 1rem;
    width: 41%;
}

.touxiang {
    width: 100%;
    margin: 2rem 0 1.6rem 0;
}

.text-title {
    line-height: 2rem;
    font-weight: 600;
    font-size: 1rem;
}

table {
    margin-bottom: 3re;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px #e2e2e2;
    background: #fff;
}

td,
th {
    padding: 0 .2rem 0 .38rem;
    border: 1px solid #edf1f2;
    font-size: 8px;
}

.tr-header {
    width: 100%;
}

.th-40 {
    width: 40%;
    padding: 0 1rem;
}

.th-10 {
    width: 10%;
}

.introduce-title {
    display: inline-block;
    margin-top: 3rem;
    font-weight: 800;
    font-size: 12px;
}

.introduce-font {
    display: inline-block;
    margin-top: 1rem;
    width: 50%;
    font-size: 10px;
    font-weight: 500;
}

.main-font {
    display: inline-block;
    margin-right: 10%;
    line-height: 2.8rem;
    font-size: 10px;
    color: #a1a1a1;
}
@media(max-width:348px){
    .main-font{
        margin-right: 1%;
    }
}
.main-foot-font{
    display: inline-block;
    line-height: 2.8rem;
    font-size: 10px;
    color: #a1a1a1;
}
@media(max-width:360px){
    .main-foot-font{
        line-height: 1.5rem;
    }
}

.number {
    font-weight: 600;
    font-size: 11px;
    color: #f01400;
}

.pay {
    line-height: 9rem;
    text-align: center;
}

.font-right {
    float: right;
    margin-right: 10%;
}

/* ============================================== */

footer {
    margin-top: 5rem;
    text-align: center;
    line-height: 3.8rem;
    font-size: 12px;
    color: #fff;
    background: #29b078;
}

@media(min-width:769px) {
    .footer-font {
        display: flex;
        flex-flow: column wrap;
        text-align: left;
    }
}

.footer-line {
    width: 100%;
    border-top: solid 1px #32c086;
}

@media(max-width:768px) {
    .footer-line {
        display: flex;
        justify-content: center;
        border-top: solid 1px #32c086;
        line-height: 20px;
    }
}

.erweima-box {
    text-align: center;
}

.erweima {
    width: 6.6rem;
}

.lin {
    color: #fff;
}

.lin:hover {
    background: #32c086;
    color: #fff;
    border-bottom: solid 1px #fff;
}