html{
    font-size:312.5%;
}
*{
    margin: 0;
    padding: 0;
}
/* header部分 */
header{
    height:.9rem;
    background: #29BDE0;
}
.list{
    position: absolute;
    margin-top: .4rem;
    margin-left: .22rem;
    border-bottom: .04rem solid currentColor;
    border-top: .04rem solid currentColor;
    padding-top: .07rem;
    padding-bottom: .07rem;
    width: .34rem;
    height: .04rem;
    color: #ffffff;
    background-color: currentColor;
    background-clip: content-box;
    
}
/* main部分*/
main{
    padding: .27rem .37rem 0 .35rem;
}
.lastgame{
    border: .01rem solid #C9C9C9;
    line-height: 1.16rem;
    text-align:center;
    font-size: .35rem;
    font-weight:normal;
    color: #9A9A9A;
    background: #FFFFFF;
}
.lastgame::after{
    content: "";
    position: absolute;
    right: .5rem;
    margin-top: .5rem;
    border-top: 2px solid;
    border-right: 2px solid;
    width: .15rem;
    height: .15rem;
    transform: rotate(45deg);
    }
ul,
li{
    list-style: none;
}
.game{
    position: relative;
    margin-top: .27rem;
    border: solid .01rem #C9C9C9;
    text-align: center;
    background: #FFFFFF;
}
.gamename{
    border-bottom: .01rem solid #FBB435;
    line-height: .9rem;
    font-size: .38rem;
    color: #FBB435;
}
.form{
    display: inline-block;
    margin-top: .27rem;
    width: 80%;
    line-height:1.34rem;
    text-decoration:none;
    font-size:.32rem;
    color: #FFFFFF;
    background: #69D1E9;
}
.player{
    margin-top: .27rem;
    font-size: .25rem;
    color: #787878;
}
.trilateral::after{
    content: "";
    position: absolute;
    top: 50%;
    right: .1rem;
    margin: -.2rem -.2rem -3rem 0;
    border: solid .3rem;
    border-color:transparent transparent transparent #FBB435;
}
.dot{
    display:flex;
    justify-content: space-between;
    width: 1rem;
    margin:.14rem auto;
}
.blue{
    border-radius: 50%;
    width: .17rem;
    height: .17rem;
    background: #69D1E9;
}
.grey{
    border-radius: 50%;
    width: .17rem;
    height: .17rem;
    background: #F0F0F0;
}