html{
    font-size: 312.5%;
}
*{
    margin: 0;
    padding: 0;
}
/*header部分*/
header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: .78rem;
    background-color: #29BDE0;
    border-bottom: 1px solid #FFFFFF;
}
.home{
    width: .51rem;
    height: .42rem;
    background: url(img7/css_sprites.png) -1.12rem -2.66rem;
    margin-left: .2rem;
}
header h3{
    font-size: .34rem;
    color: #ffffff;
}
.notice{
    width: .4rem;
    height: .4rem;
    background: url(img7/css_sprites.png) -2.84rem -2.66rem;
    margin-right: .18rem;
}
/* main部分 */
main{
    padding-top: .78rem;
    margin-bottom: 1.29rem;
    background: #29BDE0;
}
.victory{
    width: 3.51rem; 
    height: 2.05rem;
    margin: .23rem auto;
    text-align: center;
    background: url(img7/css_sprites.png) -.2rem -.2rem;

}
.describe{
    width: 80%;
    margin:.22rem auto .61rem auto;
    font-size: .33rem;
    color: #FFC865;
}
.time{
    line-height: .4rem;
    width: 80%;
    margin:auto;
    font-size: .26rem;
    color:#FFFFFF;
}
.result{
    display: flex;
    line-height: .4rem;
    width: 80%;
    margin: auto;
}
.role{
    margin-right: .5rem;
    font-size: .26rem;
    color:#FFFFFF;

}
.keywords{
    width: 80%;
    line-height: .4rem;
    margin: auto;
    font-size: .26rem;
    color:#FFFFFF;
}
ul{
    background-color: #fff;
    list-style: none;
}

.process{
    height: 1.65rem;
    border-bottom: .01rem solid #A6A6A6;
    background: #FFFFFF;
}
.status{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    width: 80%;
    margin:auto; 
}
.day{
    font-size: .3rem;
    color: #515151;
}
.time-consuming{
    font-size: .2rem;
    color: #C7C7C7;
}
.night{
    width: 80%;
    margin:.28rem auto 0 auto; 
    font-size: .26rem;
    color: #A6A6A6;
}
.daytime{
    width: 80%;
    margin: auto; 
    font-size: .26rem;
    color: #A6A6A6;
}
.specialstatus{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin:.1rem auto 0 auto;
}
.specialday{
    font-size: .39rem;
    color: #29BDE0;
}
.specialtime-consuming{
    font-size: .27rem;
    color: #29BDE0;
}


/* footer页尾 */
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.29rem;
    background:rgba(41,189,224,.6);
}

button{
    margin:auto .24rem;
    border: none;
    border-radius: .15rem;
    outline: none;
    width: 50%;
    height: .86rem;
    font-size: .4rem;
    color: #ffffff;
}
.again{   
    background-color: #F66F6F;
}
.share{
    background-color: #FBB435;
}




