footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    @include flex(space-between,center);
    padding: $fz24 5%;
    background: rgba(153,223,240,.5);

    button {
        @include box(40%,$h88);
        @include font($fz40,$bgff);
        border-radius: .1rem;
        background: $bgf6;

        a {
            @include font($fz40,$bgff);  
        }
    }
    button:last-child {
        background: $bgfb;
    }
}