/* 底部开始 */
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bg29;

    div {
        width: 80%;
        margin: 0 auto;
        padding-top: $fz40;
        padding-bottom: .6rem;
        border-top: .01rem solid $bgff; 
        text-align: center;

        button {
            @include box(70%, $h88);
            @include font($fz40, $bgff);
            background: $bgfb;
            a {
                @include font($fz40, $bgff);
            }
        }
    }
}