body{
	background-color: #f0eeee;
}
/*header*/
.tel{
	padding-left: 18px;
}
.warp{
	padding-right: 28px;
}
.navbar{
	background-color: #29b078;
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}
.logo{
	max-height: 100%;
}
.navbar-nav{
	margin: 0px;
	padding-bottom: 0px;
    padding-top: 15px;
}
.nav-text{
	color: white !important;
    padding-bottom: 27px !important;		
}
.nav-text:hover {
	border-bottom: 3px solid #fff;
	color: #000;
}
.col-sm-4{
	line-height: 40px;
	color: #29b078;
}
.nav-img{
	line-height: 40px;
	max-width: 100%;
}
.warp-nav{
	display: flex;
	align-items: center;
	height: 80px;
}
.logo{
	max-width: 100%;
}
.nav{
	color: white;
	font-size: 16.02px;
}
a:hover{
	text-decoration: none;
}
@media only screen and (max-width: 750px){
	.login{
		display: block;
		visibility: visible;
		padding: 5px 15px;
	}
	.login-text{
		border-right: 1.5px solid #29b078;
    	padding-right: 6px;
	}
	.navbar-nav{
		width: 100%;
		text-align: center;
	}
	.navbar-brand{
		width: 200px;
		padding: 9px 15px;
	}
}
@media only screen and (min-width: 750px){
	.navbar-brand{
		margin: 15px !important;
    	padding: 0px;
	}
	.navbar-nav{
		float: right;
	}
}
/*main-title*/
.main-title{
	font-size: 16px;
	padding: 4% 3% 4% 6%;
}
.main-title-text{
	color: #29b078;
}
/*main*/
.main{
	margin-bottom: 40px;
}
/*main-left*/
.main-left-title{
	font-weight: bold;
	font-size: 18px;
	color: black;
	text-align: center;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-bottom: none;
}
.main-left{
	background-color: white;
	padding: 0px;
}
.main-left-text{
	list-style: none;
	border: 1px solid #c9c9c9;
    padding-left: 33%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0px;
}
.main-left-company{
	padding-bottom: 10px;
}
.main-left-solid{
	color: #f1a750;
	padding-bottom: 10px;
}
/*circle*/
.circle{
	display: inline-block;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 2px solid #f1a750;
}
.circle-solid{
	background-color: #f1a750;
}
/*main-right*/
.main-right{
	color: #999999;
}
@media only screen and (min-width: 750px){
	.main-right-title{
		display: flex;
	}
}
.main-right-title{
	background-color: white;
	border: 1px solid #c9c9c9;
	border-bottom: none;
}
.main-right-title-text{
	display: inline-block;
	line-height: 25px;
    padding: 5%;
}
@media only screen and (max-width: 750px){
	.tudou-logo{
		width: 100%;
	}
	.main-right{
	    padding: 0px;
	}
}
.main-right-content{
	text-indent: 2em;
	border: 1px solid #c9c9c9;
	background-color: white;
}
.main-right-text{
	line-height: 25px;
	padding: 3% 5% 2%;
}
/*footer*/
@media only screen and (max-width: 750px){
	.footer{
		height: 200px;
	}
	.footer-right-title{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer-right-text{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.footer-img{
		position: absolute;
		right: 3%;
	}
}
@media only screen and (min-width: 750px){
	.footer{
		display: flex;
		padding-left: 20px;
		height: 150px;
	}
	.contact {
    padding-top: 30%;
	}
	.footer-img{
		position: absolute;
		right: 4.5%;
	}
}
.footer{
	background-color: #26a26f;
    padding-top: 20px;
	padding-bottom: 20px;
	background-image: url(img/二维码.png);
	background-repeat: no-repeat;
	background-position: 95% 75%;
	color: white;
}
.contact{
	padding-top: 20px;
}
.contact-a{
	border-right: 1.5px solid white; 
}
.footer-title{
	font-size: 16px;
	color: white;
}
.footer-right{
	line-height: 100%;
}
.footer-right-warp{
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer-a{
	color: white;
}
.copyright{
	color: white;
	background-color: #26a26f;
	border-top: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.company{
	background-color: white;
}