body{
	background-color: #f0eeee;
}
/*header*/
.tel{
	padding-left: 18px;
}
.warp{
	padding-right: 28px;
}
.navbar{
	background-color: #29b078;
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}
.logo{
	max-height: 100%;
}
.navbar-nav{
	margin: 0px;
	padding-bottom: 0px;
    padding-top: 15px;
}
.nav-text{
	color: white !important;
    padding-bottom: 27px !important;		
}
.nav-text:hover {
	border-bottom: 3px solid #fff;
	color: #000;
}
.col-sm-4{
	line-height: 40px;
	color: #29b078;
}
.nav-img{
	line-height: 40px;
	max-width: 100%;
}
.warp-nav{
	display: flex;
	align-items: center;
	height: 80px;
}
.logo{
	max-width: 100%;
}
.nav{
	color: white;
	font-size: 16.02px;
}
a:hover{
	text-decoration: none;
}
@media only screen and (max-width: 750px){
	.login{
		display: block;
		visibility: visible;
		padding: 5px 15px;
	}
	.login-text{
		border-right: 1.5px solid #29b078;
    	padding-right: 6px;
	}
	.navbar-nav{
		width: 100%;
		text-align: center;
	}
	.navbar-brand{
		width: 200px;
		padding: 9px 15px;
	}
}
@media only screen and (min-width: 750px){
	.navbar-brand{
		margin: 15px !important;
    	padding: 0px;
	}
	.navbar-nav{
		float: right;
	}
}
/*main-title*/
.main-title{
	background-color: white;
	font-size: 16px;
	margin-left: 30px;
    margin-right: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
	border: 1px solid #c9c9c9;
}
.main-title-text{
	color: #29b078;
}
/*subnav*/
.subnav{
	margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #c9c9c9;
    background-color: white;
}
.subnav-text{
	color: #999999;
	padding-right: 10px;
}
.subnav-green{
	background-color: #29b078;
	color: white;
}
.subnav-a{
	color: black;
	padding-left: 10px;
}
.title{
	font-size: 16px;
	font-weight: bold;
}
/*main*/
.main-warp{
    padding: 10px;
    border: 1px solid #c9c9c9;
    background-color: white;
    margin-bottom: 10px;
}
.main-top{
	overflow: hidden;
	padding-bottom: 10px;
    padding-right: 2px;
}
.content-title{
	padding-top: 15px;
}
.main-text{
	padding-top: 15px;
}
.main-img{
	float: left;
}
.red{
	color: red;
}
.level{
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	border: 1px solid #c9c9c9;
    border-bottom: none;
}
.level-text{
	width: 50%;
	padding: 10px 0px 10px 5px;
}
/*table*/
table{
	width: 100%;
	font-size: 12px;
	height: 85px;
	border: 1px solid #c9c9c9;
}
.number{
	font-weight: bold;
	padding: 10px 5px 5px;
}
.tips{
	color: #999999;
	font-size: 12px;
	padding: 5px;
}
/*hover*/
.hover{
	padding: 15% 2%;
	position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(61,61,61,0.5);
    color: white;

}
.hover-text{
	text-indent: 2em;
	font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8%;
}
.main-warp:hover .hover{
	display: block;
}
/*footer*/
@media only screen and (max-width: 750px){
	.footer{
		height: 200px;
	}
	.footer-right-title{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer-right-text{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.footer-img{
		position: absolute;
		right: 3%;
	}
}
@media only screen and (min-width: 750px){
	.footer{
		display: flex;
		padding-left: 20px;
		height: 150px;
	}
	.contact {
    padding-top: 30%;
	}
	.footer-img{
		position: absolute;
		right: 4.5%;
	}
}
.footer{
	background-color: #26a26f;
    padding-top: 20px;
	padding-bottom: 20px;
	background-image: url(img/二维码.png);
	background-repeat: no-repeat;
	background-position: 95% 75%;
	color: white;
}
.contact{
	padding-top: 20px;
}
.contact-a{
	border-right: 1.5px solid white; 
}
.footer-title{
	font-size: 16px;
	color: white;
}
.footer-right{
	line-height: 100%;
}
.footer-right-warp{
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer-a{
	color: white;
}
.copyright{
	color: white;
	background-color: #26a26f;
	border-top: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.company{
	background-color: white;
}