html ,body {
    margin:0;
    background: #F0F0F0;
}
header {
    position: fixed !important;
    top: 0;
    background: #29BDE0;
    width: 100%;
    height: 3.5rem;
    display: flex !important;
    align-items: center !important;
    z-index: 666;
}
header div {
    margin-left:1rem !important;
}
main {
    position: absolute;
    top :3.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    width :100%;
    bottom :auto;
}
.div0 {
    background: #fff;
    margin: 0 5%
}
.div1 {
    margin: 2rem 5% !important;
}
.div2 {
    margin:0 10% !important;
}
.div3 {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px;
    border-color: #fdd690 !important;
    color: #fbac1f !important;
    border-style:inset;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    margin-bottom:1rem;
    font-size:2.5rem;
}
a {
    border-radius:0 !important;
    width:100%;
    position: static !important;
    text-align: center;
    padding: 20px 15px 20px 15px !important;
    font-size: 2rem;
    color: #A1A1A1 !important;
    border: none !important;
    cursor: pointer !important;
    outline: none !important;
}
.a1 {
    background: #69d1e9 !important;
    color: #f8fdfe !important;
}
.img1 {
    float: right;
}
p {
    margin:5px 5% !important;
    padding:0 !important;
    text-align: center !important;
    color: #A1A1A1 !important;
}
footer {

}
.button {
    background-image: url("左上.png") !important;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border:0 !important;
    padding:0 !important;
}
.circle1 {
    padding:2%;
    border-radius: 50%;
    background: #69d1e9;
    float: left;
    margin-left: 36%;
}
.circle2 {
    padding:2%;
    border-radius: 50%;
    background: #f0f0f0;
    float: left;
    margin-left:4%;
}
.div4 {
    width:100%;
    padding:10%;
}
.input1 {
    border-top: 1.25rem solid #fff;
    border-left: 1.25rem solid #fbb435;
    border-bottom: 1.25rem solid #fff;
    border-right:0;
    padding: 0;
    height: 0;
    position: fixed;
    right: 8%;
    cursor: pointer !important;
    outline: none !important;
    top: 28rem;
    z-index: 666;
}
