html {
    font-size: 62.5%;
}
body {
    background-color: #6ccdd5;
    margin: 0;
    color: #fff;
    font-size: 1rem;
}
.top{position: relative;
    padding:2rem;
}
.img1{
    padding: .5rem 0 0 0 ;
    position: relative;  }
.header {
    line-height: 3rem;
    text-align: center;
    padding:2rem;
}
p {
    line-height:3rem;
    font-size: 1.5rem;
    padding: 0 5rem 0 5rem;
    text-align: left;
}
.footer{margin: 28% 0 0 0;
    width: auto;
    text-align: center;
}
.img2{float: left;
    margin: 13rem -5rem 5rem 1rem;
    display: block;
}
.img3{
    float: right;
    margin: 13rem 1rem 5rem -5rem ;
    display: block;
  }