body{margin:0;padding:0;}
.head{
    background:rgb(35,66,73);
    height:88px;
    color:white;
}
.head img,p{
    display:inline-block;
  }
.head img:first-of-type{
   position:absolute;
    top:20px;
    left:20px;
}
.head img:last-child{
    position:absolute;
    top:40px;
    right:20px;
}
.head p:first-of-type{
    margin-top:22px;
    margin-left:45px;
    font-size:1.2em;
}
.head p:nth-of-type(2){
    width:calc(100% - 150px);
    position:absolute;
    text-align:center;
    margin:20px auto;
    font-size:1.5em;
}
.main{
    background:rgb(95,206,216);
    color:white;
}
.goback{
    padding-top:20px;
    padding-left:30px;
}
.centerlogo img{
    width: 180px;
    height: 68px;
    padding-top:20px;
    display: block;
    margin: 0 auto;
}
.content{
    margin:30px 15%;
    font-size:1em;
    height: 6em;
}
.bottomleft{
    width: 49%;
   margin-top:50px;
   margin-bottom: 150px;
    display:inline-block;
}
.bottomleft img{
    width: 88px;
    height: 88px;
    display:block;
    margin: 0 auto
}
.bottomleft p{
    width: 100%;
    text-align: center;
}
.bottomright{
    width: 49%;
    display:inline-block;
    margin-top:50px;
    margin-bottom: 150px;
}
.bottomright img{
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}
.bottomright p{
    width: 100%;
    text-align: center;
}