@charset "UTF-8";
html {
  font-size: 312.5%; }

body {
  margin: 0;
  font-size: 16px; }

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

body {
  background: #29bde0; }

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.75rem;
  padding: 0 .23rem;
  background: #29bde0;
  font-size: .34rem;
  color: #fff; }
  header img {
    height: .4rem; }
  header .close {
    width: .4rem;
    height: .4rem;
    text-align: center;
    position: relative; }
    header .close::before, header .close::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0.18rem;
      width: .04rem;
      height: .42rem;
      background: #fff; }
    header .close::before {
      transform: rotate(-45deg); }
    header .close::after {
      transform: rotate(45deg); }

nav {
  z-index: 2;
  position: fixed;
  top: 0.75rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .17rem 0 .45rem;
  height: 0.75rem;
  font-size: .26rem;
  background: #b9e9f5; }
  nav .audio {
    width: .55rem;
    height: .55rem;
    background: url(../image/按钮.png) no-repeat;
    background-size: 100%; }
  nav::after {
    content: "";
    position: absolute;
    top: 0.75rem;
    left: .71rem;
    display: inline-block;
    border-top: #b9e9f5 solid .14rem;
    border-left: .06rem solid transparent;
    border-right: .06rem solid transparent; }

.title {
  z-index: 1;
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
  padding-left: .71rem;
  height: .6rem;
  line-height: .6rem;
  font-size: .24rem;
  color: #fff;
  background: #29bde0; }

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.25rem;
  margin-bottom: 1.92rem; }
  main .box-flex {
    flex: 0 1 33.3%; }
    main .box-flex .box-style {
      position: relative;
      width: 24vw;
      height: 24vw;
      margin: 4vw  4vw;
      background: #f5c97b;
      border: 1vw solid #fff;
      box-sizing: border-box; }
      main .box-flex .box-style .name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;
        font-size: .3rem;
        color: #333; }
      main .box-flex .box-style .number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
        font-size: .22rem;
        color: #fff;
        background: #83b09a; }
      main .box-flex .box-style .fun {
        display: none; }
      main .box-flex .box-style:hover .fun {
        display: inline-block;
        position: absolute;
        top: 25vw;
        left: -1vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 24vw; }
        main .box-flex .box-style:hover .fun li {
          width: 4vw;
          height: 4vw; }
          main .box-flex .box-style:hover .fun li:nth-child(1) {
            background: url(../image/img.png) no-repeat 0 100%;
            background-size: 100%; }
          main .box-flex .box-style:hover .fun li:nth-child(2) {
            background: url(../image/img.png) no-repeat 0 66.6%;
            background-size: 100%; }
          main .box-flex .box-style:hover .fun li:nth-child(3) {
            background: url(../image/img.png) no-repeat 0 33.3%;
            background-size: 100%; }
          main .box-flex .box-style:hover .fun li:nth-child(4) {
            background: url(../image/img.png) no-repeat 0 0;
            background-size: 100%; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.92rem;
  background: #29bde0; }
  footer a {
    width: 4.9rem;
    height: .88rem;
    line-height: .88rem;
    border: none;
    font-size: .4rem;
    color: #fff;
    background: #fbb435;
    text-align: center; }

/*# sourceMappingURL=1.css.map */
