body {
  margin: 0; }

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.88rem;
  border-bottom: .01rem solid #74d4eb;
  font-size: 0.34rem;
  color: #fff;
  background: #5fc0cd; }
  header img:first-child {
    width: .51rem;
    height: .42rem;
    margin-left: 0.2rem; }
  header img:last-child {
    width: .4rem;
    height: .4rem;
    margin-right: 0.2rem; }

main {
  padding-top: .88rem;
  padding-bottom: 1.3rem; }
  main .result-show {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.48rem;
    background: #5fc0cd; }
    main .result-show img {
      width: 3.51rem; }
  main .result-text {
    padding: .2rem .81rem 0;
    font-size: .32rem;
    color: #ffc865;
    background: #5fc0cd; }
  main .result-container {
    padding: .56rem .81rem .28rem;
    color: #fff;
    margin: 0;
    list-style: none;
    font-size: .26rem;
    background: #5fc0cd; }
    main .result-container li {
      margin: .05rem 0; }
      main .result-container li:nth-child(2) {
        display: flex; }
        main .result-container li:nth-child(2) span {
          flex-basis: 30%;
          white-space: pre-wrap; }
      main .result-container li:nth-child(3) {
        display: flex; }
        main .result-container li:nth-child(3) span {
          flex-basis: 30%;
          white-space: pre-wrap; }
  main .game-step {
    height: 1.64rem;
    background: #fff;
    border-bottom: .01rem solid #ddd; }
    main .game-step .date {
      margin: 0 .81rem; }
    main .game-step .hour {
      float: right;
      margin-top: .1rem;
      font-size: .2rem;
      color: #d5d5d5; }
    main .game-step h4 {
      margin: 0;
      padding-top: .1rem;
      font-size: .3rem; }
    main .game-step p {
      margin: 0;
      font-size: .26rem;
      color: #bcbcbc; }
      main .game-step p:nth-child(3) {
        margin-top: .3rem; }

footer {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 1.3rem;
  background-color: rgba(41, 189, 224, 0.4); }
  footer button {
    width: 42.3%;
    height: .86rem;
    border: none;
    border-radius: .15rem;
    padding: 0;
    outline: none;
    color: #fff;
    font-size: .4rem; }
    footer button:first-child {
      background: #f66f6f; }
    footer button:last-child {
      background: #fbb435; }
