<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--NameSpace:当前映射文件的唯一标识  -->
<mapper namespace="main.com.jnshu.dao.StudentInfoMapper"> <!--供接口映射的标识。因为在MyBatis管理下，接口寻找映射文件时是根据接口本身的完全限定名去寻找，所以此标识不能随意命名,或者说只能根据接口的完全限定名来命名         -->
    <!-- 单行查询 -->			<!-- 参数类型 -->		<!-- 输出类型(Pojo类的地址) -->
    <resultMap id="StudentMap" type="main.com.jnshu.pojo.StudentInfo">
        <result property="studentName" column="student_name"/>
        <result property="qq"   column="qq"/>
        <result property="learnType" column="learn_type"/>
        <result property="joinTime" column="join_time"/>
        <result property="school" column="school"/>
        <result property="studentID" column="student_id"/>
        <result property="link" column="link"/>
        <result property="motto" column="motto"/>
        <result property="brother" column="brother"/>
        <result property="knowFrom" column="know_from"/>
    </resultMap>

    <resultMap id="AdminMap" type="main.com.jnshu.pojo.Admin">
        <result property="userName" column="user_name"/>
        <result property="password" column="pass_word"/>
    </resultMap>
    <insert id="insertSTU" parameterType="main.com.jnshu.pojo.StudentInfo" >
        insert into student_info(student_name,qq,learn_type,join_time,school,student_id,link,motto,brother,know_from)values (#{studentName},#{qq},#{learnType},#{joinTime},#{school},#{studentID},#{link},#{motto},#{brother},#{knowFrom})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
    </insert>

    <delete id="deleteByID" parameterType="java.lang.Integer">
            delete from student_info where id=#{id}
    </delete>

    <select id="listTable" resultMap="StudentMap">
  			select * from student_info;
  	</select>

    <update id="updateByID" parameterType="main.com.jnshu.pojo.StudentInfo">
            update student_info set student_name=#{studentName},qq=#{qq},learn_type=#{learnType},join_time=#{joinTime},
             school=#{school},student_id=#{studentID},link=#{link},motto=#{motto},brother=#{brother},know_from=#{knowFrom} where id =#{id}
    </update>

    <select id="findByStudentID" parameterType="java.lang.Integer" resultMap="StudentMap">
            select * from student_info where id=#{id}
    </select>

    <select id="findByLikeName" parameterType="java.lang.String" resultMap="StudentMap">
        select * from student_info where student_name like '%${value}%'<!--${value}自动获取parameterType中的参数,拼接到SQL语句中就是 like '%value%'-->
    </select>

    <insert id="register" parameterType="main.com.jnshu.pojo.Admin">
          insert into admin(user_name,pass_word)values (#{userName},#{password})
    </insert>

    <select id="checkLogin" parameterType="main.com.jnshu.pojo.Admin" resultMap="AdminMap">
        select * from admin where user_name='${userName}' and pass_word=${password}
    </select>
</mapper>