<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.1.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描包和子包 -->
    <context:component-scan base-package="cn.wp.controller"/>

    <!-- 不要处理静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 如果使用注释，则必须配置以下设置-->
    <mvc:annotation-driven/>

    <!-- configure the InternalResourceViewResolver -->
    <!--视图解析器，解析视图-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:resources mapping="/images/**" location="WEB-INF/img"/>

    <!-- 自动扫描 -->
    <context:annotation-config/>
    <context:component-scan base-package="cn.wp"/>
    <!-- 启动对@Aspect注解的支持 -->
    <!--通知spring使用cglib而不是jdk来生成代理方法，AOP可以拦截到Controller-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>
