html{
	font-size: 62.5%;
}
body{
	background: rgb(104,205,213);
	color: white;
	margin: 0;
	font-size: 1.5rem;
	line-height: 2.7rem;
}
.top{
padding-top: 3%;
padding-left: 3%;
}

.top img{
	width: 8.6%;
	height:auto;
}
.logo{
	padding-top: 5.5%;
	text-align: center;
}
.logo img{
	width: 29%;
}
.content{
	padding: 12% 15% 20% 15%;
	color: white;
}
.bottomleft{
	width: 27.5%;
	padding-left: 15%;
	float: left;
	text-align: center;
}
.bottomleft img{
	width: 50%;
	height: auto;
}
.bottomright{
	width: 26.5%;
	padding-right: 15%;
	float: right;
	text-align: center;

}
.bottomright img{
	width: 50%;
}