$green1:#29b078;
$green2:#50be90;
$gray1:#afafaf;
$gray2:#fafafa;
$black1:#333;
$orange1:#f1a750;
$orange2:#fe6813;
$minw:min-width;
$maxw:max-width;
$lg:1200px;
$md:992px;
$sm:768px;
$xs:767px;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin icon {
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    height: 31px;
    width: 31px;
    margin-right: 22px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    @media ($minw: $sm){
        width: 750px;
    }
    @media ($minw: $md){
        width: 970px;
    }
    @media ($minw: $lg){
        width: 1170px;
    }
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    height: 100%;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
    -webkit-overflow-x:hidden;
}
html {
    overflow-x: hidden;
    -webkit-overflow-x:hidden;
}
body div::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    text-decoration: none;
}
