html {
    font-size: 625%;
}
/**{
    border: 1px solid black;
}*/

/*字体放大了6.25倍 1px=0.01rem*/

ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

body {
    font-size: .14rem;
    margin: 0;
    background-color: white;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: .5rem;
    padding-left: 5%;
    background-color: #5fc0cd;
    color: white;
    text-align: center;
}
/*此处header可用float和text align实现不需要flex*/
.header1{
    float: left;
    line-height: .5rem;
    text-align: center;
}
.header2{
    margin: 0 auto;
    line-height: .5rem;
    
}
.position{
    width: 10px;
    height: 15px;
}
main{
    margin-top: .5rem;
}

/*header 由于fixed absolute 属性导致脱离文档流，不存在这个元素*/

.input-top {
    width: 100%;
    height: 1.5rem;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

/*之前没有引用成功是因为图片文件和Html文件不在同一个文件夹*/

.oval {
    width: 80px;
    height: 80px;
    margin-left: 10%;
}

.input-right {
    width: 150px;
    height: 100px;
    margin-left: 5%;
    color: white;
    margin-top: 50px;
}

.line1 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-width: 0 0 1px 0;
    border-color: grey;
    border-style: solid;
}

.blue {
    border-width: 0 0 0 1px;
    border-color: #5fc0cd;
    border-style: solid;
    padding-left: 15px;
    margin-left: 15px;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*width: 100%;不能和margin-left同事出现*/
    height: 50px;
    margin-left: 15px;
    border-width: 0 0 1px 0;
    border-color: grey;
    border-style: solid;
}

p {
    font-size: 10px;
}

.line2 {
    border-width: 0 0 0 1px;
    border-color: grey;
    border-style: solid;
    padding-left: 10px;
    margin-left: 10px;
}

.rightbox {
    border-width: 0 0 0 1px;
    border-color: grey;
    border-style: solid;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 40px;
}

.left {
    color: gray;
}

footer {
    height: 60px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    
}

button {
    width: 45%;
    height: 40px;
    border-radius: 5px;    
}

.buttonleft {
    color: #5fc0cd;
    border-color: #5fc0cd;
    background-color: white;
    font-size: 15px;   
}

.buttonright {
    color: white;
    border-color: #5fc0cd;
    background-color: #5fc0cd;
    font-size: 15px;    
}
.intro{
    flex:none;
/*禁止伸缩，注意给子集设*/
}
.red{
    color: red;
}
