*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 625%;
}
body{
	background-color: #eff0f4;
}
button{
	outline: none;
	cursor: pointer;
}
.login .header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: .5rem;
	padding: 0 .1rem;
	background-color: #5fc0cd;
}
.login .header button{
	border: none;
	height: .5rem;
	font-size: .16rem;
	color: #fff;
	background-color: #5fc0cd;
}
.login .header .close{
	float: left;
}
.login .header .register{
	float: right;
}
.login .header h2{
	padding: 0 .5rem;    /* 两边设置padding的作用是：去掉header的三块文字的任意一两个，剩下的一两个都还在原位置上不会受到影响 */
	font-size: .18rem;
	line-height: .5rem;
	text-align: center;
	color: #fff;
}
.login .main{
	padding-top: .6rem;
}
.login .main input{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: .15rem 0 .15rem .8rem;
	font-size: .16rem;
	border: none;
	outline: none;
}
.login .main .number{
	margin-bottom: .1rem;
	background: #fff url(image/iphone@1x.png) .2rem center no-repeat;
}
.login .main .password{
	background: #fff url(image/locked@1x.png) .2rem center no-repeat;
}
.login .main .login-btn{
	display: block;
	width: 100%;
	height: .5rem;
	margin-top: .1rem;
	font-size: .16rem;
	border: none;
	color: #fff;
	background-color: #5fc0cd;
}
.login .main .forget{
	float: right;
	font-size: .16rem;
	color: #5fc0cd;
	text-decoration: none;
}