<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="position.css">
    <title>职业</title>
</head>
<body>
<main class="main-max3 container">
    <div class="position-main-top">
        <a class="position-home-a" href="homepage.html">首页</a>
        >
        <span class="wgreen">职业</span>
    </div>
    <div class="position-main-top2">
        <span class="wwhite2">方向：</span>
        <span class="position-top2-margin">全部</span>
        <span class="position-top2-margin">前端开发</span>
        <span class="position-top2-margin">后端开发</span>
        <span class="position-top2-margin">移动开发</span>
        <span class="position-top2-margin">整站开发</span>
        <span class="position-top2-margin">运营维护</span>
    </div>
    <div class="position-main-top3">前端开发方向</div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-main-top3">后端开发方向</div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
    <div class="position-main-top3">运维方向</div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-main-top3">运维方向</div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="floater box2">
                <div class="floater2 ">
                    <div class="text-center ">iOS工程师</div>
                    <div>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属
                        于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开 发人才成了国内企业必争的资源。国内
                        iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。
                    </div>
                </div>
            </div>
            <div class="box ">
                <div class="row font-padding">
                    <div class="float-left font-padding2">
                        <span class=" img-h14 inline-block"></span>
                    </div>
                    <div class="">
                        <h5 class="inline-block font-weight">Web前端工程师</h5>
                        <p class="word-break small ">Web前端开发工程师，主要职责是
                            利用（X）HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发</p>
                    </div>
                </div>
                <div class="row font-size-xs wwhite3">
                    <div class="col-xs-6 border-right ">
                        <span class="inline-block font-size-xs2">门槛&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>
                    </div>
                    <div class="col-xs-6">
                        <span class="inline-block font-size-xs2">难易程度&nbsp;&nbsp;</span>
                        <span class="img-x img-x2 inline-block"></span>&nbsp;&nbsp;
                        <span class="img-x img-x2 inline-block"></span>
                    </div>

                </div>
                <div class="row font-size-xs">

                    <div class="col-xs-6 border-right">
                        <span class="wwhite3">成长周期</span>
                        <span class="wred">1-3</span>年
                    </div>
                    <div class="col-xs-6">
                        <span class="wwhite3">稀缺程度</span>
                        <span class="wred">345</span>家公司需要
                    </div>

                </div>
                <div class="row font-size-xs">
                    <div class="wwhite3 text-center col-xs-5">
                        <div class="row border-right">
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">薪资待遇</div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row border-color3">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-5 text-left">0-1年</span>
                            <span class="col-xs-7 text-right">5k-10k/月</span>
                        </div>
                    </div>

                </div>
                <div class="row font-width small">
                    <div class="col-xs-12 ">
                        有<span class="wred">286</span>人正在学
                    </div>
                </div>
                <div class="row font-size-xs">
                    <div class="col-xs-12  wwhite3">
                        提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4"></div>
    </div>


</main>


</body>
</html>