@import "../global-style/global";
@import "../color/color";
@import "../img/img";
/*职业介绍*/
@mixin bpxy($bpx:-0.2rem, $bpy: 0,$bph: 0.15rem, $bpw: 0.16rem){
  background-position: $bpx $bpy;
  height: $bph;
  width: $bpw;
}

.img-x2 {
    @extend .img-x;
    @include bpxy;
}
.img-h14 {
    height: 1.53rem;
    width: 1.56rem;
    background: url(sprite-head.png) -8.06rem 0;
    background-size: 9.62rem auto;
}


.main-max3 {
    max-width: 13rem;
    margin: 0 auto 2.3rem auto;
}

.position-main-top {
  padding: 0.3rem 0;
  border-bottom: 1px solid #d0d6d9;

}
.position-home-a {
  color: #000;
  text-decoration: none;
}

.position-main-top2 {
  padding: 0.2rem 0;
  border-bottom: 1px solid #edf1f2;
  font-size: small;

}
.position-top2-margin {
  display: inline-block;
  margin: 0.1rem 0.1rem;
  cursor: pointer;
}
.position-top2-margin:hover {
  color: #fff;
  background-color: #29b078;
}

.position-main-top3 {
  padding: 0.3rem 0;
  border-bottom: 1px solid #d0d6d9;
  font-weight: 800;
}
.floater {
  position: absolute;
  top: 0.5rem;
  right: 15px;
  bottom: 0.5rem;
  left: 15px;
  z-index: 1;
  opacity: 0;
  transition: all 0.7s ease;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  background-color: #0f0f0f;
}
.floater:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
.floater2 {
  position: relative;
  margin: 0.8rem 0.4rem;
}
.box {

  margin: 0.5rem 0;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 1px 1px 1px #eeeded;
  background-color: #fff;
}

.box2 {

  border-radius: 5px;
  font-weight: 500;
  box-shadow: 1px 1px 1px #eeeded;
}

.font-padding {
  padding: 0.15rem 0.3rem;
}

.font-padding2 {
  padding-right: 0.15rem;
}
.font-weight {
  font-weight: 700;
}
.word-break {
  word-break: break-all;
}

.font-size-xs {
  margin: auto 0;
  font-size: x-small;
  line-height: 0.3rem;
  border-top: 1px solid #eeeded;
}
.font-size-xs2 {
  margin: auto 0;
}
.font-size-xs {
  margin: auto 0;
  font-size: x-small;
  line-height: 0.3rem;
  border-top: 1px solid #eeeded;
}
.border-right {
  border-right: 1px solid #eeeded;
}
.border-color3 {
  border-bottom: 1px solid #eeeded;
}
/*职业介绍*/


