<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.MyBatis.StudentDao">

    <select id="all" resultType="com.jnshu.model.Student">
        SELECT * FROM student  ORDER BY salary DESC limit 4
    </select>
<select id="count" resultType="int">
    select count(state) from student where state=1
</select>
    <select id="number" resultType="int">
        select count(state) from student where state=2
    </select>


</mapper>