body{ height:100%;
      background-color:#68CDD5;
    }
.return{
    height:2rem;
    width:2rem;
    background-image:url(../image/icon-back.png);
    background-size:32px 32px;
}
h1 p{
    color:white;
    padding:10%;
    font-size:0.8rem;
    }
h1 img{
         height:4rem;
         width:8rem;
         display:block;
         margin:0 auto;
    }
.left{
    float:left;
    margin-left:10%;
    text-align:center;
}
.right{
    float:right;
    margin-right:10%;
    text-align: center;
}
.logo-one{
    height:3rem;
    width:3rem;
    background-image:url(bbb.png);
    background-size:48px 48px;
   
}
.logo-two{
    height:3rem;
    width:3rem;
    background-image:url(ccc.png);
    background-size:48px 48px;
}
p{
    color:white;
    font-size:0.8em;
}