@white:#fff;
@ba-co:#29bde0;
.fixed {
  position:fixed;
  font-size:2rem;
  right:0;
  left:0;
}
*{
  max-width: 768px;
  max-height: 1366px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  font-size: 62.5%;
  color: #333;
  background-color: #fafafa;
}
header {
  .fixed;
  top:0;
  display:flex;
  justify-content: space-between;
  padding:1rem;
  color: @white;
  background-color: @ba-co;
  a {
    margin:0;
    img {
      height: 1.8rem;
    }
  }
  .back {
    padding-right: .64rem;
  }
}
main {
  .fixed;
  top: 4.6rem;
  bottom: 0;
  padding: 2% 5% 0 5%;
  overflow-y: auto;
}
footer {
  .fixed;
  bottom:0;
  color: @white;
  background-color: @ba-co;

}