* {
    margin: 0px;
    padding: 0px;
}
.header {
    position: fixed;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 2rem;
    background: url("矩形3.png");
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.header img {
    position: absolute;
    left: 0;
    margin-left: 1rem;
    width: 0.5rem;
}
.main {
    width: 100%;
    height: 10rem;
    background: url("图层2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.main > img {
    width: 4rem;
    margin-left: 2rem;
}
.towmain {
    margin-left: 2rem;
}
.towmain p {
    display: inline-block;
    color: #ffffff;
}
.p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.pp {
    font-size: 0.5rem;
}
.towmain img {
    width: 0.7rem;
}
.content,
.condition,
.conditiontow,
.conditionthree {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.content,
.conditionthree {
    background: url("矩形26拷贝3.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.content img {
    height: 1rem;
    margin-left: 1rem;
}
.content p {
    margin-left: 1rem;
    font-size: 1rem;
}
.condition,
.conditiontow {
    background: url("矩形26拷贝3.png");
    background-repeat: no-repeat;
    background-position: 1rem 100%;
}
.condition p {
    font-size: 0.9rem;
    margin-left: 0.2rem;
}
.star {
    margin-left: 2rem;
    width: 1rem;
}
.img {
    margin-left: 0.5rem;
}
.startow {
    margin-left: 0.5rem;
    width: 1rem;
}
.conditiontow {
    font-size: 0.9rem;
}
.red {
    color: #fa0e24;
    margin-left: 0.5rem;
}
.long {
    width:25rem;
    font-size: 0.2rem;
    margin: 0 0.5rem;
}
.llong {
    font-size: 0.9rem;
    margin-left: 2rem;
    white-space:nowrap;
}
.conditionthree {
    margin-bottom: 6rem;
}
.paragraph {
    margin-left: 2rem;
}
.paragraphtow {
    margin-left: 0.5rem;
}
.button,
.buttontow {
    width: 7rem;
    height: 2rem;
    border-radius: 0.3rem;
}
.button {
    border: 0.1rem solid #5fc0cd;
    color: #5fc0cd;
    background-color: #ffffff;
    margin-right: 1rem;
}
.buttontow {
    border: none;
    background-color: #5fc0cd;
    color: #ffffff;
    margin-left: 1rem;
}
.foot {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
}