@@include('include/_top_header.html', { 
    "title": "职位列表", 
    "href": "css/partner.min.css" 
})
    @@include('include/_header.html', { "partner": "active" }) 
    @@include('include/_sbanner.html')
    @@include('include/_subnav.html', { "pagetitle": "合作伙伴" })
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @@include('include/_sidenav.html')
            </div>
            <div class="col-md-8">
                @@include('include/_article.html')
            </div>
        </div>
    </div>  
    @@include('include/_footer.html')
@@include('include/_bottom_footer.html', { "src": "" })