@media only screen and (max-width: 767px) {
    .disorder {
     text-align: center;
        padding: 20px 0 20px 20px;
        border-bottom: 1px solid #e6e6e6;
    }

    .tudou-logo2 {
        display: inline-block;
        float: left;
        width: 123px;
        height: 33px;
        margin: 16px;
        background: url(css-sprites1.png) no-repeat 100% 98.789%;
    }

    .tudou-logo1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .disorder {
        text-align: center;
        padding: 0;
    }

    .tudou-logo1 {
        display: block;
        width: 123px;
        height: 33px;
        background: url(css-sprites1.png) no-repeat 100% 98.789%;
    }

    .tudou-logo2 {
        display: none;
    }
}


.disorder a {
    display: inline-flex;
    align-items: center;
    width: 95px;
    color: #29b078;
    line-height: 40px;
}

.disorder a:hover {
    color: #ff5c00;
}

.disorder a:hover::before {
    content: '';
    background: #ff5c00;
}

.disorder a::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border: 1px solid #ff5c00;
    border-radius: 50%;
}

.width-95 {
    width: 95px;
}

.retract p {
    margin-bottom: 30px;
    text-indent: 30px;
}

.bor-b-e6e {
    border-bottom: 1px solid #e6e6e6;
}