
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.carousel-content{
	position: relative;
	display: inline-block;
	margin: 0 auto;
}
.carousel{
	width: 100vw;
	height: 31.25vw;
	position: relative;
	overflow: hidden;
}
.carousel li{
	float: left;
	position: absolute;
	display: none;
}
.carousel li,.carousel li img{
	width: 100%;
	height: 100%;
}
.img-index{
	position: absolute;
    bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-index li{
	float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px;
    cursor: pointer;
    margin: 0 3px;
    color: #fff;
}
.img-index li.index{
	background-color: rgba(0,0,0,0.6);
}
.img-index li:hover{
	background-color: rgba(0,0,0,0.6);
}
.carousel-prev,
.carousel-next{
	position: absolute;
	display: inline-block;
	top: 50%;
    transform: translate(0,-50%);
	cursor: pointer;
}
.carousel-prev{
	left: 7vw;
}
.carousel-next{
	right: 8vw;
}
.carousel-prev img,
.carousel-next img {
    position: relative;
}