/*reset*/
html{
    font-size: 10px;
}
@media(min-width: 480px) {
    html{
        font-size: 15px;
    }
}
@media(min-width: 640px) {
    html{
        font-size: 17px;
    }
}
@media(min-width: 992px) {
    html{
        font-size: 20px;
    }
}
body{
    min-width: 320px;
}
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none;
}
a{
    cursor: pointer;
}
/*layout*/
/*header*/
/*head*/
.head{
    line-height: 40px;
    color: #fff;
    background: #1d7ad9;
}
@media (max-width: 480px) {
    .head span{
        display: none;
    }

}
.head-button{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}.head a{
    text-align: center;
    display: inline-block;
 }
 .Register{
     width: 50px;
     color: #fff;
 }
.Register:hover{
    width: 100px;
    background: #fff;;
    color: #333;
}
.Register:hover~ .sign-in{
    width: 50px;
    background: transparent;
    color: #fff;
}
.sign-in{
    width: 100px;
    background: #fff;
    color: #333;
}
/*nav*/
.navigation{
    background: #f9f9f9;
    margin: 0;
    border: 0;
}
@media (min-width: 768px) {
    .nav-wrap{
        float: right;
        display: flex;
        align-items: center;
        height: 100px;
    }
    .nav-wrap li{
        padding-left: 50px;
    }
    .nav-wrap li>a{
        padding: 12px 12px;
        box-shadow: 1px 1px 1px #e7e5e5;
    }
    .btn-white{
        background: #fff;
    }
}
.nav-wrap li{
    display: flex;
}
.nav-wrap li a{
    flex: 1;
    border: 1px solid transparent;
}

.btn-bule{
    background: #1d7ad9;
    color: #fff;
}
.btn-white{
    color: #333;
}
.btn-white:hover{
    background: #1d7ad9;
    color: #fff;
}
/*content*/
/*步骤图*/
.step{
    float: right;
    padding: 30px 0;
}
.step p{
    text-align: center;
    margin-top: 30px;
    font-size: .9rem;
    color: #cccccc;
}
.step1,
.step2{
    position: relative;
    float: left;
    height: 80px;
    width: 150px;
    overflow: hidden;
}
@media(max-width: 768px) {
    .step1,
    .step2{
        width: 100px;
    }
}
@media(max-width: 480px) {
    .step1,
    .step2{
        width: 70px;
    }
}
.step1 p{
    color: #ff7f02;
}
.step1 .line,
.step1 .circle{
    background: #ff7f02;
}

.step2:hover .line,
.step2:hover .circle{
    background: #ff7f02;
}
.step2:hover p{
    color: #ff7f02;
}
.line{
    margin-top: 10px;
    width: 150px;
    height: 5px;
    background: #cccccc;
}
.circle{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #cccccc;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
/*表单*/
.content-wrap h4{
    padding-left: 10px;
    border-left: 3px solid #1d7ad9;
    font-size: 1.1rem;
}
.form-wrap{
    border: 1px solid#e8e8e8;
    border-radius: 2px;
    font-size: .9rem;
    color: #666666;
}
.form-wrap .first-p,
.form-wrap .second-p,
.form-wrap .last-p {
    background: url("../images/box.png") no-repeat #f3f3f3;
    background-position:10px center;
    line-height: 40px;
    margin: 0;
    padding-left: 40px;
    color: #1d7ad9;
    font-weight: bold;
}
.form-wrap .second-p{
    background: url("../images/Ruler.png") no-repeat #f3f3f3;
    background-position:10px center;

}
.form-wrap .last-p{
    background: url("../images/Cut-_-Scissors.png") no-repeat #f3f3f3;
    background-position: 10px center;
}
.form-wrap p .icon1 {
    display: inline-block;
    background: url("../images/icon.png");
    background-position: 0 0;
    width: 23px;
    height: 19px;
    vertical-align: middle;
}
.box-wrap {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    padding: 20px 15px;
    line-height: 40px;
    background: #fbfcff;
}
.z-index1{
    z-index: 1;
}
.z-index2{
    z-index: 2;
}
.z-index3{
    z-index: 3;
}
.box-wrap .radio-wrap{
    padding-left: 30px;
    margin: 0;
}
.label-wrap{
    padding-right: 140px;
}
.radio-inline >input[type=radio]{
    display: none;
}
.radio-inline .button{
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    vertical-align: middle;
}
.radio-inline>input[type=radio]:checked~ .button{
    border: 5px solid #1d7ad9;
}
.button-wrap{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
}
.button2{
    padding-right: 5px;
    border-radius: 0;
    background: #fff;
    color: #999999;
}
.button2 img{
    padding-left: 25px;
}
.dropdown-list{
    min-width: 129px;

}
.text-wrap{
    padding-left: 30px;
    font-weight: normal;
}
@media (max-width: 768px){
    .text-wrap{
        display: block;
    }
}
input[type=text]{
    display: inline-block;
    width: 70px;
    height: 30px;
    border:1px solid #e8e8e8;
    background: #fbfcff;
}
@media (max-width: 400px) {
    input[type=text]{
        width: 50px;
    }

}
.bottom-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13rem;
}
.bottom-button{
    width: 20%;
    padding: 10px 0;
}
/*footer*/
.footer{
    margin-top: 100px;
    padding: 50px 0;
    background: #f9f9f9;
    color: #999999;
    font-size: .8rem;
}
.footer p{
    margin-bottom: 20px;
}
.footer h5{
    font-size: .9rem;
    margin: 0;
    padding-bottom: 35px;
}
.footer a{
    display: inline-block;
    padding-right: 35px;
    padding-bottom: 20px;
    color: #999999;
}
.footer a:hover,
.footer a:focus {
    color: #1d7ad9;
    text-decoration: none;
}
/*copyright*/
.copyright{
    line-height: 30px;
    background: #1d7ad9;
    color: #fff;
}
.copyright p{
    margin: 0;
}
