body {
    font-family: "Microsoft YaHei";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

label {
    margin: 0;
}

/* 头部开始 */
header {
    background: #1D7AD9;
}

header .row>div:first-child {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 991px) {
    header .row>div {
        padding: 0;
    }
}

header button {
    background: #1d7ad9;
    border: none;
}

header button a {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

header button:first-child {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

header button:last-child {
    border-right: 1px solid #fff;
}

header button:hover {
    background: #fff;
}

header button:hover a {
    color: #000;
}

header .row>div:last-child {
    text-align: right;
}

@media (max-width: 575px) {
    header .container {
        padding-right: 48px;
        padding-left: 48px;
    }
}

/* 导航栏 */
.navbar {
    background: #f9f9f9 !important;
}

.nav-link {
    height: 40px;
    /* width: 80px; */
    margin: 10px 0 10px 20px;
    padding: 0;
    text-align: center;
    border: none;
    box-shadow: 0 0 4px 1px #ccc;
    border-radius: 5px;
    font: 16px/40px "MicrosoftYaHei";
    color: #000 !important;
    background: #fff;
}

.nav-link:hover {
    background: #1d7ad9;
    color: #fff !important;
}
.navbar {
    padding: 8px 0;
}

@media (max-width: 575px) {
    .navbar .container {
        padding-right: 33px;
        padding-left: 33px;
    }
}

/* 主体开始 */

@media (max-width: 575px) {
    main {
        padding: 0 18px;
    }
}
/* 流程 */
main .flow {
    justify-content: flex-end;
}
main .flow>div {
    display: flex;
}
main .flow>div>div {
    width: 25%;
    padding: 40px 0;
    text-align: center;
}
main .flow>div>div span {
    font: 18px "CTCuHeiSJ";
    color: #ccc;
}
main .flow>div>div>div {
    position: relative;
    width: 100%;
    height: 5px;
    background: #ccc;
    margin-bottom: 20px;
}
main .flow .i {
    position: absolute;
    left: 42%;
    top: -10px;;
    display: inline-block;
    width: 25px;
    height: 25px;
    font: 14px/25px "SimHei";
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
    border-radius: 50%;
}
main .flow>div>div:hover .f-1 {
    color: #ff7f02;

}
main .flow>div>div:hover .flow1 {
    background: #ff7f02;
}
main .flow>div>div:hover .i {
    background: #ff7f02;
}

/* 小标题 */
main>div>h1 {
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 16px;
    font-size: 22px;
    border-left: 4px solid #1d7ad9;
}

/* 盒子选择 */
main .sel {
    border: 1px solid #ccc;
}
main .title {
    padding: 10px;
    align-items: center;
    background: #f9f9f9;
}
main .box {
    /* display: inline-block; */
    width: 19px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../images/css.png) no-repeat -10px -50px;

}
main .ruler {
    width: 22px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/css.png) no-repeat -10px -10px;

}
main .cut {
    width: 15px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/css.png) no-repeat -52px -10px;

}

/* 选择箱型 */

.s-box {
    padding: 20px 0;
    font-size: 18px;
    color: #666;
}
.s-box .s-c,.s-b {
    margin: 20px 0 ;
}
.s-box .s-c {
    display: flex;
    align-items: center;
}
.s-b {
    display: flex;
    justify-content: flex-end;
    height: 37px;
}
/* @media (min-width: 992px) {
    .s-c {
        flex: 0 0 12%;
    }
    .s-b {
        flex: 0 0 64%;
        max-width: 64%;;
    }
} */
@media (max-width: 991px) {
    .s-box .s-b,.s-c {
        justify-content: center;
        align-items: center;
    }
}
.rd {
    display: none;
}
label::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 10px;
    vertical-align: -1px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
input:checked+label::before{  
    border: 6px solid #1d7ad9;
}

.btn-group {
    padding: 5px 5px 5px 20px;
    box-shadow: 0 0 4px 1px #ccc;
    color: #ccc;
    border-radius: 5px;
    outline: none;
}
.btn-group button {
    padding: 0 7px 0 3px;
    background: #1d7ad9 !important;
    color: #fff;
    border: none;
    outline: none;
}
.drop {
    position: absolute;
    left: 0;
    top: 40px;
    height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    width: 100%;
    background: #f9f9f9;
    transition: all .5s ;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}
a {
    color: #000;
}
.btn-group:hover .drop {
    height: 188px;
}

/* 选择材质 */
.s-cut {
    padding: 20px 0;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #ccc;
}
.s-cut .c-b,.c-c {
    display: flex;
    align-items: center;
    margin: 20px 0 ;
}

.s-cut .c-c {
    justify-content: flex-end;
    height: 37px;
}
@media (max-width: 991px) {
    .s-cut .c-c,.c-b {
        justify-content: center;
    }
}
@media (min-width: 992px) {
    .c-b {
        flex: 0 0 20%;
        max-width: 20%; 
    }
    .cut-size {
        padding: 0;
    }
}
/* 确定尺寸 */
.s-ruler {
    padding: 20px 0;
    font-size: 18px;
    color: #666;
}
.s-ruler .r-b,.r-c {
    display: flex;
    margin: 20px 0 ;
}
.s-ruler .r-c {
    align-items: center;
    justify-content: flex-end;
    height:37px;
}
.s-ruler input[type=number] {
    max-width: 70px;
    margin: 0 5px;
    border: 1px solid #ccc;
}

@media (max-width: 991px) {
    .s-ruler .r-c,.r-b {
        justify-content: center;
        align-items: center;
    }
}

.s-box,.s-cut,.s-ruler {
    position: relative;
}
@media (max-width: 575px) {
    .r-c,.c-c,.s-b {
        position: absolute;
        right: 0;
        top: 0;
        /* flex: 0 0 60%; */
        max-width: 60%;
    }
    .s-cut {
        padding-top: 40px;
    }
}


/* 下一步按钮 */
.next {
    justify-content: center;
}
.next button {
    width: 179px;
    height: 46px;
    margin: 80px 0;
    font-size: 20px;
    line-height: 46px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #e15053;
}

/* 底部开始 */
footer {
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    background: #f3f3f3;
}

footer .row>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

footer .row span {
    font-size: 18px;
    color: #666;
}

/* footer .row div:first-child span {
    line-height: 80px;
} */
/* footer .title {
    margin-top: 20px;
} */
footer .row div:nth-child(2) span {
    line-height: 40px;
}

footer .row p {
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
    color: #666;
}

footer .mar {
    margin-right: 15px;
}

footer .mar2 {
    margin-right: 15px;
    margin-left: 15px;
}

footer>.p {
    margin-top: 10px;
    /* border-top: 1px solid #32c086; */
    font-size: 14px;
    color: #fff;
    background: #1d7ad9;
}
footer>.p>span {
    margin: 0 5px;
}
@media (max-width: 767px) {
    footer>.p>span {
        display: block;
    }

}
@media (max-width: 767px) {
    footer .container {
        margin: 0;
    }

}
footer .erweima {
    width: 92px;
    height: 92px;
    background: url(../images/css-s.png) no-repeat -10px -10px;
}
footer .row .call {
    flex-direction: row;
    align-items: center;
}
@media (min-width: 992px) {
    footer .row .call {
        justify-content: flex-end;
    }

}
@media (max-width: 991px) {
    footer .row .call {
        justify-content: flex-start;
    }

}
footer .phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10px;
}
footer a {
    color: #666;
}
footer a:hover {
    color: #666;
    text-decoration: underline;
}