$body-bgcolor:#000;
$blue:#00C5CD!default;
%absolute{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
@mixin absolute{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: $body-bgcolor;
    
}
canvas {
    @extend %absolute;
    height: 100%;
}
main{
    @extend %absolute;
    .form-container{
        @extend %absolute;
        margin: auto;
        width: 420px;
        height: 320px;
        border-radius: 10px;
        background: #d8d8d8;
        @media screen and (max-width:480px) {
            width: 80%;
        }
        
    }
    h4{
        text-align: center;
        color:$blue;
        font-size: 20px;
        letter-spacing: 3px;
    }
    .user-box,.pwd-box{
        width: 300px;
        background: #fff;
        line-height: 48px;
        margin: 20px auto;
        i{
            display: inline-block;
            padding: 0 10px;
            font-size: 22px;
        }
    }
    .error-show {
        color: red;
        position: absolute;
        width: 300px;
        left: 0;
        right: 0;
        margin: -5px auto 0;
    }
    input{
        border: none;
        height: 80%;
        font-size: 18px;
        outline: none;
    }
    .login{
        display: block;
        width: 300px;
        margin:  50px auto 0;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background: $blue;
        border-radius: 5px;
        border: none;
    }
}
