%height{
    height:100%;
}
html{
    @extend %height;
}
body{
    @extend %height;
    // background-color: ;
}
.container {
    @extend %height;
    .row{
        margin: 30px 0;
    }
    .first-row {
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        margin-top: 5px;
    }
    .second-row {
        height: 500px;
    }
    .btn-group-vertical{
        width: 150px;
    }
    .mian-text{
        margin: 10px;
        height: 100%;
        border: 1px solid blue;
    }
}
