body {
    margin: 0;
    background-color: #F0F1F5;
}
img{
    width: 60px;
    height: 26px;
}
.all{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50rem;
    }
.head-L{
    width: 20%;
    text-align: left;
    float: left;
    margin-left: 2%;
}
.head-C{
    width: 56%;
    float: left;
    font-size: 1.2rem;
}
.head-R{
    width: 20%;
    text-align: right;
    float: left;
    margin-right: 2%;
}
header,footer{
    background-color: #5FC0CD;
    color: white;
    line-height: 3.6rem;
    width: 100%;
    height: 3.6rem;
    text-align: center;
}
nav{
    color: #5FC0CD;
    text-align: right;
    text-decoration: underline;
    margin: 2%;
}

.phone,.word{
    outline:none;
    border:hidden;
    border-left: 2px solid #D4D4D4;
    font-size: 0.8rem;
    padding: 0.4rem;
}
.bg{
    border:  1rem solid white;
    margin: 1rem 0 1rem 0;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}