body {
  margin: 0;
}

header {
  background-color: #29bde0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

header .left {
  float: left;
  margin: 10px;
}

header .right {
  float: right;
  margin: 10px;
}

footer {
  background-color: #29bde0;
  text-align: center;
  height: 13vw;
  line-height: 13vw;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .button-a {
  background: #fbb435;
  width: 82vw;
  height: 8vw;
  color: white;
  font-size: 4vw;
}

a {
  text-decoration: none;
}
