/* made by  雪碧图制作专家v1.0 */
.icon
{
 display:block;
 background:#9cd9e8;
}
.icon-box{
 width:23px;
 height:19px;
 background-position:0px 0px;
}
.icon-Cut-_-Scissors{
 width:19px;
 height:24px;
 background-position:-24px 0px;
}
.icon-Ruler{
 width:26px;
 height:24px;
 background-position:-44px 0px;
}
