body {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  color: #f0f0f1;
  background-color: #5fc0cd;
}
header a {
  position: absolute;
  width: 90px;
  height: 80px;
  background: url(../img/leftreturn.png) no-repeat 30px center;
}
header div {
  width: 100%;
  height: 80px;
  font-size: 1.5em;
  text-align: center;
  line-height: 80px;
}
main {
  position: relative;
  top: 80px;
}
.intd {
  height: 240px;
  background: url(../img/frontbg.png) no-repeat 100% 100%;
  background-size: cover;
}
.intd .left {
  display: inline-block;
  height: 240px;
}
.intd .left img {
  width: 100px;
  height: auto;
  margin: 70px 30px;
}
.intd .right {
  display: inline-block;
  vertical-align: top;
  color: #f0f0f1;
}
.intd .right p:first-child {
  margin: 0;
  padding-top: 100px;
  font-size: 1.2em;
}
.intd .right p:last-child {
  margin: 0;
  padding: 5px 23px;
  font-size: .8em;
  background: url(../img/point.png) no-repeat 5px center;
  background-size: 10px auto;
}
.content .cg-color {
  color: #e26163;
}
.content::after {
  content: '';
  display: block;
  clear: both;
  height: 100px;
}
.content p {
  margin: 0 0 0 30px;
  padding: 15px 0;
  border-bottom: 1px solid #d4d4d4;
}
.content p:first-child {
  margin: 0;
  padding-left: 30px;
  font-size: 1.2em;
}
.content p:first-child span {
  padding-left: 20px;
  border-left: 2px solid #5fc0cd;
}
.content p:nth-child(2) span {
  padding-left: 40px;
  background: url(../img/star.png) no-repeat 10px center;
  background-size: 20px auto;
}
.content p:nth-child(2) span:first-child {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #999999;
}
.content .bt-left {
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #d4d4d4;
  color: #999999;
}
.content div {
  position: relative;
}
.content div .ft-left {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 0 15px 10px;
  margin-left: 30px;
  color: #999999;
}
.content div .ft-left span {
  padding-left: 20px;
  border-right: 1px solid #d4d4d4;
}
.content div .ft-block {
  padding: 15px 10px 15px 145px;
  border-bottom: 1px solid #d4d4d4;
}
footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
}
footer button {
  width: 40%;
  height: 60px;
  margin: 10px 4%;
  font-size: 1.2em;
  border: 2px solid #5fc0cd;
  border-radius: 5px;
}
footer button:first-child {
  color: #5fc0cd;
  background-color: #ffffff;
}
footer button:last-child {
  float: right;
  color: #ffffff;
  background-color: #5fc0cd;
}
