footer {
    padding: 20px 0 0 0;
    background-color: #26A26F;
}

footer a {
    text-decoration: none !important;
    color: #fff;
    font-weight: 300;
}

footer h6 {
    color: #fff;
}

.content-left>h6 {
    margin-bottom: 64px;
}

.content-left>span {
    color: #fff;
}

.content-center>h6 {
    margin-bottom: 20px;
}

.content-center>p {
    margin-bottom: 20px;
}

.vchat-site {
    text-align: end;
}

.vchat-site>h6 {
    margin-right: 7px;
    color: #fff;
    font-weight: 300;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    border-top: 1px solid #32C086;
}

@media (max-width:767px) {
    .content-left>h6 {
        color: #333;
    }
    .content-center>h6 {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #32C086;
        color: #333;
    }
    .vchat-site {
        padding-top: 20px;
        text-align: start;
        border-top: 1px solid #32C086;
    }
    .vchat-site h6 {
        color: #333;
    }
    /* 页脚样式 */
}