.call-word {
    font-size: 14px;
    color: #29B078;
}
/* 页眉左，电话 */

.header-height {
    height: 40px;
    line-height: 40px;
}
/* 页眉高度 */

.header-logo {
    margin-left: 20px;
    background: url(../I/spritesheet.png) no-repeat;
    width: 25px;
    height: 24px;
}
/* 页眉右 图标组 */

#jnshu-QQ-img {
    background-position: 0 -85px;
}

#jnshu-vchat-img {
    background-position: 0 -109px;
}

#jnshu-weibo-img {
    background-position: 0 -133px;
}

/* 页眉部分 */

nav {
    background-color: #29B078;
}

.delete-navbottom {
    padding-bottom: 0;
}
/* 删除nav自带bottom，为了hover的border在最下方 */

.navbrand-style {
    padding-left: 0;
}
/* 消除navbrand 左边距，为了对齐效果 */

.jnshu-brand {
    margin-bottom: 4px;
    color: #fff;
}
/* 公司铭牌 */

.jnshu-website {
    font-size: 9px;
    color: #fff;
}
/* 公司铭牌网址 */

.menu-style {
    padding-right: 0;
}
/* 取消导航菜单右侧的col自带的padding，为了对齐 */

.navbar-menu>a {
    padding: 36px 15px;
    float: left;
    font-size: 16px;
    color: #fff;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
/* 导航菜单右侧字体 */

.navbar-menu>a:hover {
    border-bottom: 4px solid #fff;
}

/* 导航栏部分 */

.banner2 {
    width: 100%;
}
/* 内容区海报 */

main {
    background-color: #fafafa;
    padding-bottom: 150px;
}
/* 内容区样式 */

.part {
    padding: 30px 0;
}

.part>a {
    text-decoration: none;
}

.part>a>span {
    color: #333;
}
.bread-word {
    color: #29B078;
}
/* ’合作企业‘*/
/* 导航栏标题 */

.list-style {
    position: relative;
    border: 1px solid #eeeded;
    background-color: #fff;
}
/* 左侧导航列表组，position为了圆圈位置 */

.list-header {
    margin: 0;
    padding: 20px 120px;
    border-bottom: 1px solid #E6E6E6;
}
/* 导航列表组中的‘合作企业‘字体’ */

.nav-list {
    display: flex;
    align-items: center;
    padding-left: 100px;
}
/* 居中样式 */

.nav-style {
    padding-left: 100px;
    color: #29B078 !important;
    background-color: transparent !important;
    border: none;
}

.nav-style::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 80px;
    width: 10px;
    height: 10px;
    border: 1px solid #FF5C00;
    border-radius: 50%;
}


.nav-style:hover {
    color: #FF650E!important ;
}

.nav-style:hover::after {
    
    background-color: #FF650E!important;
}
/* 列表组中的字体样式和位置 */

/* ------------------------ */


.article-style {
    border: 1px solid #eeeded;
    background-color: #fff;
    margin-bottom: 200px;
}
/* 右侧内容区样式 */

.tudou-img {
    float: left;
    padding: 18px 25px 15px 80px;
}
/* 土豆网LOGO 样式 */

.section-1 {
    border-bottom: 1px solid #E6E6E6;
    padding: 25px 60px 25px 25px;
}
/* 土豆网-段落1 */

.section-2 {
    padding: 38px 70px;
}

.section-2>p {
    margin-bottom: 38px;
}
/* 段落部分二 */

/* ----------- */


footer {
    background-color: #26A26F;
}

.footer-height {
    padding: 20px 0;
}

.footer-font >h5 {
    color: #fff;
}
/* 小标题 */

.footer-font > a {
    color: #fff;
    text-decoration: none;
}
/* a标签中的字体 */

.footer-left {
    margin-bottom: 64px;
}
/* 页脚左边字体的下边距 */

.footer-center {
    margin-bottom: 20px;
}
/* 页脚中间字体的下边距 */

.qrcode-font {
    font-size: 14px;
}
/* 二维码上的字体 */

.copyright {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 12px;
    border-top: 1px solid #32C086;
}

/* 页脚 */

@media (max-width:991px) {
    .list-style {
        margin-bottom: 20px;
    }
}

@media (max-width:767px) {
    .menu-style {
        text-align: center;
    }
    .list-style {
        margin-bottom: 20px;
    }
    .navbar-menu>a {
        padding: 15px 15px;
    }
    .footer-font > h5 {
        font-weight: 300;
        color: aqua;
    }
    .qrcode-font {
        color: aqua;
    }

}

@media (max-width: 575px) {
    .call-word {
        visibility: hidden;
        height: 0;
    }
    .logomax-575px {
        margin: 10px 0 ;
    }
    .button-max575px {
        margin-bottom: 10px;
    }
    .navbrand-style {
        width: 20%;
    }
    .list-style {
        margin-bottom: 20px;
    }
}