header {
    height: 40px;
    display: flex;
    align-items: center;
}

.logo-group {
    margin-left: 20px;
    background: url(../I/spritesheet.png) no-repeat;
    width: 25px;
    height: 24px;
    float: right;
}

.call-word>span {
    color: #29B078;
}

#qq-img {
    background-position: 0 -85px;
}

#vchat-img {
    background-position: 0 -109px;
}

#weibo-img {
    background-position: 0 -133px;
}

/* 页眉部分 */

nav {
    background-color: #29B078;
}

.navbar-delete-padding {
    padding-bottom: 0;
}

.delete-container-padding {
    padding-right: 0;
}

.navbar-left {
    padding-left: 0;
}

.navbrand-style {
    padding-left: 0;
}

/* 以上清除的padding是为了和页眉对齐 */

.navbrand-style>a {
    text-decoration: none;
}

.navbrand-style>a>h1 {
    color: #fff;
    margin-bottom: 5px;
}

.navbrand-style>a>h6 {
    color: #fff;
    font-weight: 300;
}

/* 导航栏左侧字体 */

.navbar-right {
    justify-content: flex-end;
    padding-right: 0;
}

.navbar-list-style>a {
    padding: 45px 15px;
    border-bottom: 4px solid transparent;
    color: #fff;
    text-decoration: none;
}

.navbar-list-style>a:hover {
    border-bottom: 4px solid #fff;
}

/* 导航栏右侧样式和字体 */

main {
    background-color: #fafafa;
}

.main-title {
    padding: 30px 0;
    border-bottom: 1px solid #D0D6D9;
    display: flex;
    align-items: center;
}

.main-title>h6 {
    float: left;
    margin: 0;
}

.main-title>a {
    color: #29B078;
    text-decoration: none;
}

/* 内容区标题 */

.main-list-style {
    padding: 20px 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #EDF1F2;
}

.main-list-style>li {
    /* float: left; */
    margin-right: 35px;
}

.main-list-head {
    font-size: 14px;
    color: #999;
}

.main-list-style>li>a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.main-list-style>li>a:hover {
    background-color: #1DB176;
    color: #fff;
}

/* 内容区菜单 */

.main-title2 {
    padding: 30px 0;
    border-bottom: 1px solid #D0D6D9;
}

/* ------- */

.hide-content {
    position: absolute;
    display: none;
    padding: 80px 45px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 300;
    background-color: #fff;
}

.hide-content h5 {
    text-align: center;
    margin-bottom: 40px;
}

/* 需要隐藏的内容 */

.table-style {
    position: relative;
    margin: 40px 0 80px;
    box-shadow: 1px 1px 1px #999;
    background-color: #fff;
}

/* 表格样式 */

.table-style:hover .hide-content {
    display: block;
}

.hide-content:hover {
    background: rgba(0, 0, 0, .7);
    transition:background-color .5s linear;    
}

/* 显示隐藏内容 */

.table-style td {
    padding: 10px;
}

/* 表格内所有的行 内边距 */

.head-picture {
    float: left;
    padding: 30px 15px 40px 0;
}

/* 表格一中的图片 */

.line-border-bottom {
    border-bottom: 1px solid #EDF1F2;
}

/* 下划线 */

.line-one-font>h5 {
    padding: 20px;
    margin: 0;
    font-size: 16px;
}

.line-one-font>span {
    word-break: break-all;
}

/* 第一行文字样式 */

.half-width td {
    width: 50%;
}

.line-two-left {
    border-right: 1px solid #EDF1F2;
}

/* 第二行 */

.introduce-font {
    font-size: 14px;
    color: #999;
    word-break: break-all;
}

/* 所有介绍文字的样式 */

.red-font {
    color: #F01400;
}

.table-black-font {
    color: #333;
}

/* 有颜色的字体 */

i::after {
    content: "";
    background: url(../../task8/task8-3img/star.png) no-repeat;
    width: 16px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
}

/* 星星图标 */

.line-four {
    padding: 0 !important;
}

.line-four-right {
    text-align: right;
}

.table-son {
    width: 100%;
    height: 40px;
}

.line-four-left {
    width: 30%;
    text-align: center;
    border-right: 1px solid #EDF1F2;
}

.line-four-rightsite {
    display: flex;
    justify-content: space-between;
}

.table-son td {
    border-bottom: 1px solid #EDF1F2;
}

/* 表格第四行 表格结束 */



@media (max-width:767px) {
    .navbar-list-style {
        text-align: center;
    }
    .navbar-list-style>a {
        padding: 20px 15px;
    }
    /* 折叠导航栏内容居中对齐 */
    .main-list-style {
        display: block;
    }
    .main-list-style li {
        margin: 0;
        padding: 10px;
        box-shadow: 1px 1px 1px #EDF1F2;
    }
    /* 内容区菜单栏 */
    .main-title2 {
        padding-left: 10px;
        background-color: #dff8ee;
        box-shadow: 1px 1px 1px #999;
    }
    /* 图片区前面的标题 */
    /* .content-left>h6 {
        color: #333;
    }
    .content-center>h6 {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #32C086;
        color: #333;
    }
    .vchat-site {
        padding-top: 20px;
        text-align: start;
        border-top: 1px solid #32C086;
    }
    .vchat-site h6 {
        color: #333;
    } */
    /* 页脚样式 */
}

/* 最大px768 */

@media (max-width:575px) {
    .logo-group-max575 {
        width: 100%;
        padding: 15px;
    }
    .navbar-left {
        width: 20px;
    }
    /* 导航栏 */
    .call-word {
        visibility: hidden;
        height: 0;
    }
    /* 隐藏页眉左边的联系方式 */
    .table-style {
        margin: 30px 0 30px;
    }
    /* 表格边距 */
}

/* 最大px575 */