html {
  font-size: 312.5%;
}

body {
  font-size: initial;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #5FC0CD;
}

.top div {
  display: inline-flex;
  justify-content: space-around;
  margin: .1rem 0 .05rem 0;
  border-radius: 5px;
  background: #55a8b3;
}

.top div button {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
}

.top div button:focus {
  color: #7dccd6;
  background: #ffffff;
}

.top img {
  position: absolute;
  right: .6rem;
}

.down {
  display: inline-flex;
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.down div {
  flex: 1;
}

.down div button {
  width: 100%;
  line-height: 1rem;
  font-size: 14px;
  background: #ffffff;
  color: #999999;
  white-space: nowrap;
}

.down div button::after {
  display: inline-block;
  content: "";
  margin-left: 3vw;
  border-top: 5.5px solid #999999;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  vertical-align: middle;
}

.down div:nth-child(2) button {
  margin: 0.1rem auto;
  line-height: .8rem;
  border-left: 1px solid #e1e5e7;
  border-right: 1px solid #e1e5e7;
}

.down div ul {
  display: none;
  text-align: center;
  background: #999999;
}

.down div ul li {
  list-style-type: none;
  background: #f9f9f9;
}

.down div:hover ul {
  display: block;
}

main {
  margin-top: 2.1rem;
}

main ul li {
  display: flex;
  flex-direction: column;
  line-height: .5rem;
  border-bottom: 1px solid #f1f1f1;
  color: #999999;
}

main ul li .service {
  background: url(../img/two.png) no-repeat;
  background-position: 10px;
  padding: .1rem 0 .1rem .6rem;
}

main ul li .date {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: .6rem;
  color: #333;
}

main ul li .date .red {
  margin-right: 1rem;
  color: red;
}

main ul li .date span {
  position: absolute;
  right: .5rem;
  top: .1rem;
  width: 12px;
  height: 12px;
  border-top: 2px solid #55a8b3;
  border-right: 2px solid #55a8b3;
  transform: rotate(45deg);
}

main ul li .address {
  background: url(../img/three.png) no-repeat;
  background-position: 11px;
  padding: .1rem 0 .1rem .6rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #F8FAFB;
}

footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

footer a img {
  width: 30px;
}

footer a span {
  margin-top: .1rem;
  color: #55a8b3;
}

footer .pen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.94rem;
  height: 0.94rem;
  border-radius: 50%;
  background: #5FC0CD;
}

footer .pen img {
  width: 20px;
}

footer .my {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer img {
  width: 25px;
}

footer span {
  margin-top: .1rem;
  color: #999999;
}
