footer {
    margin-top: 2.33rem;
    font-size: $fz16;
    color: $cff;
    background-color: $c26;
    .about {
        padding-top: .36rem;
        p {
            margin-bottom: .2rem;
            a {
                color: $cff;
            }
        }
    }
    .copyright {
        text-align: center;
        border-top: .01rem solid $c32;
    }
}