body {
    background-color: #fafafa;
}
.space {
    height: 4rem;
}
.rocket {
    width: 1.734rem;
    height: 2.5rem;
}
.rule {
    margin-top: 1rem;
    width: 2.5rem;
    height: 2rem;
}
.pulse {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}
.card {

    display: flex;
    align-items: center;

    /*margin-top: 5rem;*/
    padding-bottom: 1rem;
    border: none;

    color: #999;
    background-color: #fafafa;
}

.card-title  {

    margin: 0.5rem 0;

    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    color: #000;
}
.cardPulse {
    border-right:2px dashed #dedede ;
}

@media (max-width: 767px) {
    .cardPulse {
        border-right: none;
    }
}


.student {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 3rem;
    padding-top: 1rem;

    color: #999;
}
.student span {
    padding: 0.3rem 0;
    /*color: #999;*/

}
.studentNumber {
    margin-top: 0.5rem;
    margin-left: 2rem;
    color: #29b078;
}
.studentNumber::before {
    content: "";
    background-image: url("../img/student.png");
    background-size: 1rem 1rem;
    width: 1rem;
    height: 1rem;
    position: relative;
    display: block;
    top: 1.5rem;
    right: 2rem;

    z-index: 2;
}
.howStudy,
.cooperation,
.goodStudent {
    margin: 1rem 0;
    text-align: center;
    font-weight: bolder;

}

.circleStudy {
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px  rgba(234,233,234,0.75),
               -1px -1px 1px rgba(234,233,234,0.75);
    font-weight: bold;
    background-color: #fff;
     color: #29b078;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5rem 0;


}
.stepArrow {

    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 600;

    color: #999;


}
.imgArrow {
    width: 2rem;
    height: 2rem;
    /*margin-right: -4rem;*/

}

@media (max-width: 767px) {

    .imgArrow {
        transform: rotate(90deg);
    }

}




.studentImg {
    width: 5rem;
    height: 5rem;

    /*border-radius: 5rem;*/
    /*background-image: url("../img/student1.png");*/
    border-radius: 50%;
    margin-top: 0.5rem;
}


.studentCard {
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 0 0 3px  rgba(234,233,234,0.75);
}
.studentCardText {
    /*padding: 0 0.5rem;*/
    font-size: 0.9rem;

}

.studentCardCircleCheck {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #29b078;
    
}
.studentCardCircle {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px rgba(235, 235, 235, 0.75) ;
    -moz-box-shadow: 1px 1px 1px rgba(235, 233, 234, 0.75) ;
    box-shadow: 2px 2px 2px rgba(234, 233, 234, 0.75) ;

}
.circleFour {
    display: flex;
    justify-content: center;
    margin-top: 2rem;


}
.company {
    width: 20%;
    height: 10rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

}
.company:hover {
    box-shadow:  rgba(40,40,40,0.99) 0px 0px 2rem ;
    z-index: 1;

}
.company img {
    max-width: 100%;
    max-height: 100%;
}


.usefulLinks {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-weight: bolder;
    background-color: #fff;
}
.linkCircle {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.5rem ;
    border-radius: 50%;
    background-color: #999;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 5rem;
    height: auto;
    margin: 0.2rem auto;
    color: #999;
    padding: 2px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;

}


a[class="links"]:hover {
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #29b078;


}
.linkLeft {
    background-color: #fff;
}

