//变量颜色部分
$c-white: #ffffff;
$c-blue: #5fc0cd;
$c-lightgray: #e1e5e7;
$c-darkgray: #595959;
$c-gray: #999999;
$c-red: #e46a6c;
//变量字体大小部分
$fs-html: 312.5%;
$fs-36: .36rem;
$fs-32: .32rem;
$fs-24: .24rem;
//混合器部分
//flex混合器
@mixin flex-c($h:center, $v:center) {
    display: flex;
    justify-content: $h;
    align-items: $v;
}

@mixin li-c {
    @include flex-c(flex-start, center);
    border-bottom: 1px solid $c-lightgray;
}

@mixin button-c {
    margin: auto .2rem;
    width: 50%;
    height: .9rem;
    font-size: $fs-32;
    color: $c-white;
    background-color: $c-blue;
    border: 2px solid $c-blue;
    border-radius: .15rem;
    outline: none;
}

/*全局设定*/

html {
    font-size: $fs-html;
    background-color: $c-white;
}

* {
    margin: 0;
}

/*header部分*/

header {
    position: fixed;
    line-height: .8rem;
    width: 100%;
    background-color: $c-blue;
    @include flex-c;
    z-index: 2;
    .homepage {
        font-size: $fs-36;
        color: $c-white;
        &::after {
            content: "";
            position: absolute;
            top: .3rem;
            left: .2rem;
            border-bottom: 2px solid;
            border-left: 2px solid;
            width: .2rem;
            height: .2rem;
            transform: rotate(45deg);
        }
    }
}

/*main部分*/

main {
    position: relative;
    padding-top: .8rem;
    padding-bottom: 1.3rem;
}

.cover {
    @include flex-c(flex-start, center);
    height: 3.27rem;
    background: url(img12-1/pic.png) no-repeat;
    background-size: cover;
    img {
        height: 1.69rem;
        width: 1.69rem;
        margin-left: .2rem;
    }
    .describe {
        @include flex-c(flex-start, flex-start);
        flex-direction: column;
        margin-left: .2rem;
        .name {
            font-size: $fs-36;
            color: $c-white;
            margin-bottom: .1rem;
        }
        .location {
            @include flex-c(flex-start, center);
            img {
                margin-left: 0;
                width: .18rem;
                height: .23rem;
                vertical-align: -.01rem;
            }
            span {
                margin-left: .2rem;
                font-size: $fs-24;
                color: $c-white;
            }
        }
    }
}

/*专家技能*/

.title {
    position: relative;
    padding-left: .4rem;
    line-height: 1rem;
    font-size: $fs-32;
    color: $c-darkgray;
    border-bottom: 1px solid $c-lightgray;
    &::after {
        content: "";
        position: absolute;
        top: .32rem;
        left: .2rem;
        width: .05rem;
        height: .36rem;
        background-color: $c-blue;
    }
}

/*具体描述*/

ul {
    margin: 0 3%;
    list-style: none;
    padding: 0;
    font-size: $fs-32;
    color: $c-darkgray;
    li {
        @include li-c;
        height: 1rem;
        img {
            padding: 0 .2rem;
            width: .24rem;
            height: .23rem;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            >span {
                padding: 0 .2rem;
                margin: .34rem 0;
                &:nth-child(1) {
                    flex-shrink: 0;
                    color: $c-gray;
                    border-right: 1px solid $c-gray;
                }
            }
            .redexplain {
                color: $c-red !important;
            }
        }
    }
    .specialli {
        height: auto;
    }
}

/*footer部分*/

footer {
    @include flex-c;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.3rem;
    font-size: .34rem;
    background-color: $c-white;
}

footer button {
    &:nth-child(1),
    &:nth-child(2) {
        @include button-c;
    }
    &:hover {
        color: $c-blue;
        background-color: $c-white;
    }
}