@charset "utf-8";
.hd {
  color: #29b078;
  background-color: #fafafa;
  font-size: 1.5rem;
  padding: 1.5rem 5vw;
  overflow: hidden;
}
.hd-text {
  float: left;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
}
.hd-img {
  overflow: hidden;
}
.hd-a {
  float: right;
  padding: 0 .5rem;
}