* {
	padding: 0;
	margin: 0;
}
html {
	font-size: 625%;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: .5rem;
	background-color: #5fc0cd;
	z-index: 1;
}
header .back {
	background-image: url(../img/back.png);
	position: absolute;
	background-repeat: no-repeat;
	left:  .1rem;
	top: .15rem;
	width: .3rem;
	height: .38rem;
	background-size: 50%;
}
header h1{
	font-size: 0.18rem;
	text-align: center;
	color: #fff;
    line-height: .5rem;
}
article {
	position: absolute;
	margin-top: .5rem;
	margin-bottom: .8rem;
	top: 0;
	width: 100%;
	font-size: .2rem;
}
.background_box{
 	position: relative;
	background-image: url(../img/background.png);
	height: 1.5rem;	
	width: 100%;
	background-size: cover;
	}
.user_img img{
	position: absolute;
	top: 25%;
	margin-left: -.3rem;
    left: .6rem;
    height: .75rem;
}
.information {
	position: absolute;
	top: 50%;
	margin-top: -0.25rem;
	left: 1.3rem;
	height: .5rem;
	color: #fff;
}
.name {
	font-size: .2rem;
}
.position {
	font-size: .15rem;
}
.position img {
	width: .1rem;
	height: .15rem;
}
.position p{
	display: inline-block;
	margin-top: .04rem;
}
article h2{
	font-size: .32rem;
}
article .major{
}
article .power{
	padding: .15rem 0;
	border-bottom: .01rem solid #c5c5c7;
}
.power h2{
	border-left: .03rem solid #5fc0cd;
	margin-left: .15rem;
	font-size: .2rem;
	text-indent: .1rem;
	line-height: 1;
	font-weight: normal;
}
article .skill{
	display: inline-block;
	width: .2rem;
	height: .2rem;
	margin-right: .1rem;
	background-image: url(../img/star.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: bottom;
}
article .space{
	display: inline-block;
	margin:0 .05rem;
	vertical-align: bottom;

}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: .65rem;
    font-size: .34rem;
    z-index: 1;
    text-align: center;
    background-color: #fff;
}
footer .foot {
	position: absolute;
	top: 45%;
	width:100%;
	transform: translateY(-50%);
}

.foot_left{
	line-height: .5rem;
	border:.025rem solid #5fc0cd;
	color: #5fc0cd;
	background: #fff;
}
.foot_right{
	line-height: .5rem;
	background-color: #5fc0cd;
	color: #fff;
	border: none;
	padding: .025rem;
}
footer button{
	width: 45%;
	height: .5rem;
	border-radius: .07rem .07rem;
	outline: none;
	background: none;
}
.row{
	margin-left: .15rem;
    line-height: 1;
	border-bottom: .01rem solid #c5c5c7;
    padding: .15rem 0 .15rem .12rem;
	font-size: .16rem;
}
.hs{
    padding-right: .24rem;
    margin-right: .25rem;
    color: #a5a5a6;
    border-right: .013rem solid #c5c5c7;
}
.row_fw {
    font-size:.16rem;
    padding: .15rem 0 .15rem .12rem;
	margin-left: .15rem;
    color: #e6706f; 
    line-height: 1;
    border-bottom:  .01rem solid #c5c5c7;
}
.AM {
    border-bottom-width: 0;
}
.about_Kind {
	display: table-cell;
	width: 2rem;
	vertical-align: middle;
	color: #999;
}
.about_Myself {
	display: inline-block;
	top:25%;
	left: 1.3rem;
	position: absolute;
	line-height: 1.3;
	text-align: justify;
}
.etc {
	position: relative;
	top: -0.25rem;
}
.hsplus {
	padding-right: .3rem;
}