<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dao.UserMapper">

    <!--添加用户 -->
    <insert id="addUser"  parameterType="pojo.User" >
        <selectKey keyProperty="id" order="AFTER" resultType="String">
            select LAST_INSERT_ID();
        </selectKey>
        insert into user (name, password,salt,qq)
        values(#{name},#{password},#{salt},#{qq})
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteUserById" parameterType="pojo.User">
        delete from  user  where id = #{id}
    </delete>

    <!-- 查询用户-->
    <select id="getUserById" parameterType="pojo.User" resultType="pojo.User">
        select * from user where  id = #{id}
    </select>

    <!-- 查询用户-->
    <select id="getUser" parameterType="pojo.User" resultType="pojo.User">
        select * from user where  name = #{name} and password=#{password}
    </select>

    <!--编辑学员-->
    <update id="updateUser" parameterType="pojo.User" >
        update user
        set name = #{name},password = #{password}, salt= #{salt}
        where id = #{id}
    </update>
</mapper>