body {
    background:rgb(104,215,213);
}
.back{
    height: 40px;
}
.p0{
    height: 50px;
}
.txt{
    height: 100px;
    margin: 5%;
    color: white;
    font-size: 18px;
    text-align: center;
}
.head{
    margin: 10% auto;
    text-align: center;
}
.left-div{
    width: 40%;
    padding-top: 50px;
    margin: 2% 5% 2% 5%;
    float: left;
    text-align: center;
    color: white;
}
.right-div{
    width: 40%;
    padding-top: 50px;
    margin: 2% 5% 2% 5%;
    float: left;
    text-align: center;
    color: white;
}