<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm_yl.mapper.Mapper">
    <select id="list" resultType="com.ssm_yl.category.Category">
        SELECT * FROM student 
    </select>
    <insert id="insertCategory" parameterType="Category">
        INSERT INTO student (name,age) VALUES (#{name},#{age});
    </insert>
    <delete id="delete"  parameterType="int"  >
        DELETE FROM student WHERE id=#{id};
    </delete>
    <select id="select" parameterType="int" resultType="Category">
        SELECT * FROM student WHERE id = #{id};
    </select>
    <update id="update" parameterType="Category" >
        UPDATE student <set>
        <if test="name!= null"> name =#{name},</if>
        <if test="age!= null"> age =#{age},</if>
    </set>
        WHERE id = #{id};

    </update>
</mapper>