body{
    margin: 0;
    background: #eff0f4;
}
$header:'header';

#{$header}{
    position: relative;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 13px;
    background: #5fc0cd;
    color: #fff;
    .shut{
       position: absolute;
       left: 7%;
    }
    .land{
        display: inline-block;
        font-size: 1rem;
    }
    .register{
       position: absolute;
       right: 7%;
    }
}
.input-box{
    &-a,&-b{
        display: flex;
        align-items: center;
        margin: .5rem 0;
        width: 100%;
        line-height: 3rem;
        vertical-align: baseline;
        background: #fff;
    }
    &-iphone,&-locked{
        margin:0 1rem;
        width: 1rem;
    }
    &-border{
        padding:5px 11px;
        border-left:solid 2px #eaedee;
        height: 1rem;
    }
    
    &-change{
        width:100%;
        height: 3rem;
        letter-spacing: 0.08em;
        outline:none !important;
        border: none !important;
    }
 }   
input::-webkit-input-placeholder{ color:#eaedee}
/*输入框的默认字体颜色设置*/
$footer:'footer';
#{$footer}{
    background: #5fc0cd;
    .footer-down{
        float: right;
        color: #5fc0cd;
        background: #eff0f4;
    }
    .bootom-list{
        display: block;
        margin: 2rem auto 1rem auto;
        height: 3rem;
        width: 100%;
        border: initial;
        font-size: 1rem;
        color: #fff;
        background: #5fc0cd;
    }
}


