<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.dao.ExcellentMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.model.Excellent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="coding" jdbcType="VARCHAR" property="coding"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, coding, duty, introduction
    </sql>
<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
select
<include refid="Base_Column_List"/>
from excellent
where id = #{id,jdbcType=INTEGER}
</select>
<delete id="deleteById" parameterType="java.lang.Integer">
delete from excellent
where id = #{id,jdbcType=INTEGER}
</delete>
<insert id="insert" parameterType="com.alibaba.model.Excellent">
insert into excellent (id, name, coding,
duty, introduction)
values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{coding,jdbcType=VARCHAR},
#{duty,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR})
</insert>
<insert id="insertSelective" parameterType="com.alibaba.model.Excellent">
insert into excellent
<trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
        id,
    </if>
    <if test="name != null">
        name,
    </if>
    <if test="coding != null">
        coding,
    </if>
    <if test="duty != null">
        duty,
    </if>
    <if test="introduction != null">
        introduction,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
        #{id,jdbcType=INTEGER},
    </if>
    <if test="name != null">
        #{name,jdbcType=VARCHAR},
    </if>
    <if test="coding != null">
        #{coding,jdbcType=VARCHAR},
    </if>
    <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
    </if>
    <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
    </if>
</trim>
</insert>
<update id="updateByIdSelective" parameterType="com.alibaba.model.Excellent">
update excellent
<set>
    <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="coding != null">
        coding = #{coding,jdbcType=VARCHAR},
    </if>
    <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
    </if>
    <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
    </if>
</set>
where id = #{id,jdbcType=INTEGER}
</update>
<update id="updateById" parameterType="com.alibaba.model.Excellent">
update excellent
set name = #{name,jdbcType=VARCHAR},
coding = #{coding,jdbcType=VARCHAR},
duty = #{duty,jdbcType=VARCHAR},
introduction = #{introduction,jdbcType=VARCHAR}
where id = #{id,jdbcType=INTEGER}
</update>
<select id="getAllExcellent" resultType="com.alibaba.model.Excellent">
select * from excellent
</select>
</mapper>
