<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="homepage-student.css">
    <title>首页</title>
</head>
<body>

<div class="container main-max">

    <h3 class="home-h4 text-center">优秀学院展示</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="partner-border">
                <div class="text-center">
                    <div class="img-h img-h10 inline-block home-student-m"></div>
                    <h4 class="home-student-m">技术顾问：罗大佑</h4>
                </div>
                <p class="home-student-m font-size-s">百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="partner-border">
                <div class="text-center">
                    <div class="img-h img-h12 inline-block home-student-m"></div>
                    <h4 class="home-student-m">技术顾问：罗大佑</h4>
                </div>
                <p class="home-student-m font-size-s">百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="partner-border">
                <div class="text-center">
                    <div class="img-h img-h13 inline-block home-student-m"></div>
                    <h4 class="home-student-m">技术顾问：罗大佑</h4>
                </div>
                <p class="home-student-m font-size-s">百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="partner-border">
                <div class="text-center">
                    <div class="img-h img-h11 inline-block home-student-m"></div>
                    <h4 class="home-student-m">技术顾问：罗大佑</h4>
                </div>
                <p class="home-student-m font-size-s">百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设</p>
            </div>
        </div>
        <div class="text-center">
            <!--四个点-->
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

</div>

</body>
</html>