<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="homepage-study.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>首页</title>
</head>
<body>

<div class="container main-max">

    <h3 class="home-h4 text-center">如何学习</h3>
    <div class="font-size-s">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h6  home-num-margin"></span>
                <span class=" study-width  home-num-margin text-left">匹配你现在的个人情况，寻找合适自己的岗位</span>
                <span class="img-x img-x8  home-num-margin"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h5  home-num-margin"></span>
                <span class=" study-width home-num-margin text-left">了解职业前景薪金待遇、竞争压力等</span>
                <span class="img-x img-x8  home-num-margin"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h8  home-num-margin"></span>
                <span class=" study-width home-num-margin text-left">掌握行业内顶级技能</span>
                <span class="img-x img-x8  home-num-margin"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h7  home-num-margin"></span>
                <span class=" study-width home-num-margin text-left">查看职业目标任务</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h2  home-num-margin"></span>
                <span class=" study-width  home-num-margin text-left">参考学习资源，掌握技能点，逐个完成任务</span>
                <span class="img-x img-x8  home-num-margin"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h1  home-num-margin"></span>
                <span class=" study-width home-num-margin text-left">加入班级，和小伙伴们互帮互助，一块学习</span>
                <span class="img-x img-x8  home-num-margin"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h3  home-num-margin"></span>
                <span class=" study-width home-num-margin text-left">选择导师，一路引导，加速自己成长</span>
                <span class="img-x img-x8  home-num-margin"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="img-h img-h4  home-num-margin"></span>
                <span class=" study-width home-num-margin text-left">完成职业技能，升级业界大牛</span>
            </div>
        </div>
    </div>

</div>

</body>
</html>