<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="homepage-slogan.css">
    <title>首页</title>
</head>
<body>

<div class="container main-max">
    <div class="row">
        <!--row1-->
        <div class="col-xs-12 col-md-3  ">
            <div class="inline-row1-icon">
                <div class="text-center ">
                    <span class="img-x9 inline-block"></span>
                </div>
                <h3 class="text-center">高效</h3>
                <p>将五到七年的成长时间，缩短到一年到三年。</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="inline-row1-icon">
                <div class="text-center z-mp1">
                    <span class="img-x11 inline-block"></span>
                </div>
                <h3 class="text-center">规范</h3>
                <p>标准的实战教材，不会走弯路。</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="inline-row1-icon">
                <div class="text-center z-mp2">
                    <span class="img-x10 inline-block"></span>
                </div>
                <h3 class="text-center">人脉</h3>

                <p class="">同班好友，同学学长，技术大师，入学就混入职脉圈，为以后铺平道路。</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 inline-row1-numble">
            <div class="home-row1-box4">
                <div>
                    <div>
                        <span class="img-x1 inline-block"></span>
                        <span>12400</span>
                    </div>
                    <p>累计在线学习人数</p>
                </div>
                <div>
                    <div>
                        <span class="img-x1 inline-block"></span>
                        <span>12400</span>
                    </div>
                    <p>学院已经找到满意的工作</p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>