
/*学习路径*/
@mixin bpxy($bpx:0, $bpy:0,$bph: 0.75rem, $bpw: 0.75rem){
  background-position: $bpx $bpy;
  height: $bph;
  width: $bpw;
}


.img-x8 {
  @extend .img-p;
  @include bpxy($bpx:-2.34rem, $bpy:0, $bph:0.3rem, $bpw:0.32rem);
}

.img-h1 {
  @extend .img-h;
  @include bpxy($bpx:-4.29rem);
}

.img-h2 {
  @extend .img-h;
  @include bpxy($bpx:-3.43rem);
}

.img-h3 {
  @extend .img-h;
  @include bpxy($bpx:-5.11rem);
}

.img-h4 {
  @extend .img-h;
  @include bpxy($bpx:-6.01rem);
}

.img-h5 {
  @extend .img-h;
  @include bpxy($bpx:-0.85rem);
}

.img-h6 {
  @extend .img-h;
  @include bpxy;
}

.img-h7 {
  @extend .img-h;
  @include bpxy($bpx:-2.6rem);
}

.img-h8 {
  @extend .img-h;
  @include bpxy($bpx:-1.71rem);
}

.home-h4 {
  margin: 0.6rem auto;
}

.font-size-s {
  font-size: small;
  line-height: 0.25rem;
}

.home-num-margin {
  display: inline-block;
  vertical-align: middle;
  margin: 0.6rem 0.02rem;
}
.study-width {
  width: 1.2rem;
}
/*学习路径*/
