@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  font-size: 625%;
  /*100 ÷ 16 × 100% = 625%*/ }

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #fafafa; }

a {
  cursor: pointer; }

p {
  margin: 0 0 10px; }

button {
  border: none; }

button:focus {
  outline: none; }

h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.row {
  margin-right: -15px;
  margin-left: -15px; }

.row:before,
.row:after,
.container:before,
.container:after {
  display: table;
  content: " ";
  clear: both; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

.main-max {
  max-width: 13rem;
  margin: 1rem auto; }

.col-xs-12, .col-sm-6, .col-sm-4, .col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-12 {
  width: 100%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-2 {
    width: 16.66666667%; } }
@media (min-width: 992px) {
  .col-md-3 {
    float: left;
    width: 25%; } }
@media (max-width: 400px) {
  .record {
    text-align: center; }

  .partner-line-height {
    line-height: 0.35rem; }

  .partner-right-top {
    padding: 0.2rem; }

  .partner-right-font {
    padding: 0.2rem; }

  .home-num-margin {
    margin: 0.6rem 0.01rem; }

  .main-max3 {
    margin: 0 auto 0.5rem auto; } }
@media (max-width: 768px) {
  .box2 {
    height: 4.4rem;
    margin: 0.5rem 0.15rem 0.5rem 0;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #eeeded;
    box-shadow: 1px 1px 1px #eeeded; }

  .partner-right-top {
    padding: 0.3rem 0.65rem;
    line-height: 0.25rem; }

  .partner-line-height {
    line-height: 0.5rem; }

  .h-size2 {
    line-height: 0.7rem; }

  .num-icon {
    text-align: center; }

  .position-middle {
    font-size: 0.6rem; } }
@media (max-width: 992px) {
  .partner-right-top {
    padding: 0.3rem 0.65rem; }

  .inline-row1-icon {
    line-height: 0.3rem;
    height: 2.6rem;
    text-align: center; }

  .home-row1-box4 {
    margin: 0.6rem auto;
    text-align: center; }

  .home-num-margin {
    margin: 0.6rem 0.2rem; } }
@media (max-width: 1200px) {
  html {
    font-size: 530%;
    /*100 ÷ 16 × 100% = 625%*/ } }
.cgreen {
  background-color: #29b078; }

.corange {
  background-color: #f9a372; }

.cwhite {
  background-color: #fff; }

.cwhite1 {
  background-color: #fafafa; }

.wgreen {
  color: #29b078; }

.worange {
  color: #f9a372; }

.wred {
  color: #f00; }

.wwhite {
  color: #dadada; }

.wwhite1 {
  color: #fff; }

.wwhite2 {
  color: #a8a8a8; }

.wwhite3 {
  color: #a8a8a8; }

.img-p, .img-x8 {
  background-image: url(sprite-partner.png);
  background-size: 9.51rem 3.7rem; }

.img-x {
  background-image: url(sprite-xicon.png);
  background-size: 7.34rem 0.62rem; }

.img-h, .img-h1, .img-h2, .img-h3, .img-h4, .img-h5, .img-h6, .img-h7, .img-h8 {
  background-image: url(sprite-head.png);
  background-size: 9.62rem auto; }

.img-x8 {
  background-position: -2.34rem 0;
  height: 0.3rem;
  width: 0.32rem; }

.img-h1 {
  background-position: -4.29rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h2 {
  background-position: -3.43rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h3 {
  background-position: -5.11rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h4 {
  background-position: -6.01rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h5 {
  background-position: -0.85rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h6 {
  background-position: 0 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h7 {
  background-position: -2.6rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.img-h8 {
  background-position: -1.71rem 0;
  height: 0.75rem;
  width: 0.75rem; }

.home-h4 {
  margin: 0.6rem auto; }

.font-size-s {
  font-size: small;
  line-height: 0.25rem; }

.home-num-margin {
  display: inline-block;
  vertical-align: middle;
  margin: 0.6rem 0.02rem; }

.study-width {
  width: 1.2rem; }

/*# sourceMappingURL=homepage-study.css.map */
