<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="homepage-partner.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>首页</title>
</head>
<body>

<div class="container main-max">
    <h3 class="home-h4 text-center">战略合作企</h3>
    <div class="letter-space">
        <span class="img-p img-p4 inline-block partner-border2"></span>
        <span class="img-p img-p3 inline-block partner-border2"></span>
        <span class="img-p img-p5 inline-block partner-border2"></span>
        <span class="img-p img-p2 inline-block partner-border2"></span>
        <span class="img-p img-p1 inline-block partner-border2"></span>
    </div>
</div>

</body>
</html>