a {
  text-decoration: none;
}
header {
  border-bottom: 1px solid #7fd8ec;
  background-color: #29bde0;
}
header .middle {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 6px;
  color: #ffffff;
}
header .left a {
  display: inline-block;
  width: 25px;
  height: 21px;
  margin-left: 20px;
  background: url(../img/head.png) 0 -24px;
  background-size: 67px 45px;
}
header .right a {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: url(../img/head.png) -32px -24px;
  background-size: 67px 45px;
}
main {
  position: relative;
  top: 66px;
  margin-bottom: 80px;
}
.top {
  padding-bottom: 5px;
  color: #ffffff;
  background-color: #29bde0;
  text-align: center;
}
.top > p {
  display: inline-block;
  height: 80px;
  margin: 10px 30px;
  text-align: left;
  font-size: 1.2em;
  color: #ffc865;
}
.vict {
  height: 160px;
  background: url(../img/victory.png) no-repeat center bottom;
  background-size: auto 90%;
}
.vict > span {
  display: inline-block;
  padding-top: 112px;
  font-size: 1.8em;
}
.total {
  padding-left: 30px;
  margin: 10px 0;
  text-align: left;
}
.total li {
  margin: 5px 0;
}

.content {
  padding: 0;
  margin: 0;
}
.content li {
  padding: 0 30px 10px 30px;
  border-bottom: 1px solid #d7d7d7;
}
.content p {
  margin: 5px 0;
  font-size: .9em;
  color: #b3b3b3;
}
.content .colmn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.content .colmn span:first-child {
  font-size: 1.2em;
  color: #525252;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 0;
  background-color: rgba(153, 223, 240, 0.5);
}
footer a {
  flex: 0 0 40%;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}
footer a:first-child {
  background-color: #f66f6f;
}
footer a:last-child {
  background-color: #fbb435;
}
