.main-a {
    .title {
        line-height: 3.8rem;
        border-bottom: solid 1px $gray;
        font-size: 13px;
        font-weight: 900;
    }
    .main-box {
        position: relative;
        margin-top: 2rem;
        &:hover>.hide-box{
            width: 100%;
                height: 100%;
                opacity: .9;
                transform: rotate(3600deg);
        }     
        .hide-box{
            position: absolute;
            padding: 2rem ;
            height: 60%;
            width: 60%;
            font-size: 13px;
            background: #333;
            color: $white;
            opacity: 0;
            transform: rotate(0deg);
            transition: all 1s;
            .hide-title{
                line-height: 5rem;
                text-align: center;
            }
        }
        table {
            border-collapse: collapse;
            box-shadow: 1px 1px 1px 1px #e2e2e2;
            background: $white;
            font-size: 11px;
            .touxiang {
                float: left;
                margin: 1rem .5rem .7rem .38rem;
                width: 8rem;
            }
            .table-title{
                margin-top: 1rem;
                line-height: 2.2rem;
                font-size: 13px;
                font-weight: 900;
            }
            .title-font{
                font-size: 11.5PX;
            }
            .main-font{
                margin: 0 .5rem;
                line-height: 1.8rem;
                color: $gray;
            }
            .star{
                width: .7rem;
            }
            .number{
                font-weight: 600;
                color: #f01400;
            }
            .pay{
                color: $gray;
            }
            .font-left{
                margin-left: 10%;
                line-height: 1.5rem;
            }
            .font-right{
                float: right;
                margin-right: 2%;
                line-height: 1.5rem;
            }
            .font-big{
                margin-left: .5rem;
                line-height: 2rem;
                font-size: 12px;
                font-weight: 900;
            }
            .font-end{
                margin: 0 .5rem;
                line-height: 2rem;
                color: $gray;
                @media(max-width: 363px){
                    line-height: initial;
                }
            }
        }
    }
}