.subnav{
    .title{
        line-height: 3.5rem;
        border-bottom: solid 1px #999;
        font-size: 12px;
        font-weight: 600;
        &-right{
            color:$green;
        }
    }
    .class-box{
        padding: .8rem 0;
        height: 2.8rem;
        font-size: 11px;
        border-bottom: solid 1px #edf1f2;
        @media(max-width:768px){
            padding: 0;
            margin-bottom: 5rem;
            height: inherit;
            border: none;
        }
        .class-left{
            color: #999999;
        }
        .class-font{
            margin: 0 .5rem;
            font-weight: 600;
            @media(max-width:768px){
                display: block;
                text-align: center;
                line-height: 3rem;
                border-bottom: solid 2px #edf1f2;
            }
            &:hover{
                background: #29b078;
                color: $white;
            }
        }
    }
}
