html {
    font-size: 312.5%;
}

body {
    margin: 0;
    font-size: 16px;
    background: #fafafa;
}

p {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
    padding: 0;
}
/* 内容开始 */
.logo-nav{
    display: block;
    width: 100%;
    height: auto;
    min-height: 1.5rem;
}
.row-padding{
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size: .32rem;
}
.main-style{
   
    font-size: .12rem;
    background: #fff;
    border-radius: 5px;
    box-shadow:#e1e1e1 0 0 3px;
    
}
.text-align{
    text-align: center; 
}
.small-nav{
    padding: .16rem 0 .16rem 0;
    border-bottom: #c9c9c9 solid 1px;
    font-size: .32rem;
    font-weight: bold;
    
}
.circle{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border-radius: .12rem;
    border: #ffa979 solid 2px;
    vertical-align: text-top;
}
.main-style ul li{
    padding: .36rem 0 .36rem 0;
    color: #29b078;
}
.main-style ul li:hover div{
    background: #f9a372;
}
.main-style ul li:hover span{
    color: #ffa979;
}

.tudou-head{
    padding:0.5rem 1rem 0 1rem;
}
.tudou-border{
    border-bottom: #c9c9c9 solid 1px;
}
.tudou-head  img {
    display: inline-block;
}
.tudou-nav{
    display: inline-block;
    width: 70%;
    font-size: .28rem;
    color:#aeaeae;
}
.tudou-main{
    font-size: .28rem;
}
.tudou-main p {
    margin-bottom: 1rem;
}

/* 内容结束 */




/* 媒体查询 */
@media screen and (min-width: 768px) {
  
}
@media screen and (min-width:1024px) {
 
}


@media screen and (max-width:767px) {
   
}
/* 媒体查询结束 */