
.artMain {
  padding: 2rem;
  .options {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fff;
    @media (min-width: 992px){
      .container {
        width: auto;
      }
    }
    @media (min-width: 768px) {
      .container {
        width: auto;
      }
    }
    select {
      width: 100%;
    }
    .to {
      font-weight: bold;
    }
    .type {
      margin: 2.5rem 0;
    }
    .operation {
      float: right;
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        color: #fff;
      }
      .clear {
        background: #ac2925;
      }
      .search {
        background: #5cb85c;
      }
    }
  }
  .article {
    margin-top: 2rem;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    background: #fff;
    .title {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f8f8f8;
      p {
        margin: 0;
      }
      button {
        padding: 0.5rem 1rem;
        background: #5cb85c;
        border: none;
        border-radius: 5px;
        color: #fff;
      }
    }
    .tables {
      width: auto;
      margin: 1rem;
      background: #fff;
      table {
        thead {
          border: 1px solid #e7e7e7;
          tr {
            th {
              text-align: center;
            }
          }
        }
        tbody {
          border: 1px solid #e7e7e7;
          .titleLength {
            max-width: 160px;
            word-wrap: break-word;
          }
          td {
            vertical-align: middle;
            text-align: center;
            img {
              width: 50px;
              height: 50px;
            }
            div {
              display: flex;
              justify-content: space-between;
              a {
                cursor: pointer;
              }
              a:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .Pagination {
    float: right;
  }
}
