@charset "UTF-8";
//Artical-list
.Search-box {
  margin-bottom: 30px;
  padding: 15px;
  background: #fff;
  border: 1px solid #e7eaec;

}
/*表格边框*/
.add-table-border {
  border: 1px solid #eeeeee;
  tr > th,
  tr > td {
    text-align: center;
    vertical-align: middle !important;
    > a {
      color: #0589a8;
      padding: 0 15px;
      @media screen and (max-width: 1100px){
        display: block;
      }
    }
  }
}

@mixin formControl() {
  display: inline-block;
  width: 50px;
}

.paging {
  &:after {
    display: table;
    content: '';
    clear: both;
  }

  > .jumpPage {
    margin: 20px;

    .form-control {
      @include formControl;
    }
  }
  > .Pageitems {
    margin: 20px;

    .form-control {
      @include formControl;
    }
  }
}