@charset "UTF-8";

/*萝卜多页面*/
.carrots-wrap {
  .carrots-navigation {

    > .carrots-nav-sidebar {
      overflow: hidden;
      color: #fff;
      background: #202020;
      margin: 0;

      @media screen and(min-width:768px){
        float: left;
      }

      > h4{
        float: left;
        width: 250px;
        padding: 20px 40px;
        font-weight: bold;
        text-align: center;
      }
    }

    > .carrots-nav {
      line-height: 49px;
      > .nav-button-wrap {
        margin-right: 15px;
        > .nav-account {
          padding: 0 15px;
          cursor: pointer;
          &:hover {
            background: #d0d6d9;
          }
        }
        > .nav-close {
          @extend .nav-account;
        }
      }
    }
  }

  .carrots-main {
    overflow: hidden;
    > .sidebar {
      padding: 0;
      background: #202020;
      @media screen and (min-width: 768px){
        float: left;
        padding-top: 50px;
        padding-bottom: 3000px;
        margin-bottom: -3000px;
        width: 250px;
      }

      > .drop-menu-wrap {
        background: #202020;
        line-height: 40px;
        color: #fff;

        > .siderbar-drop-menu {
          border-bottom: 1px solid #333;
          >.drop-title{
            padding: 0 20px;
            > a {
              padding-left: 15px;
            }
          }

        }
        > ul > li > a {
          padding-left: 50px;
        }
      }
    }

    > .main-content {
      min-height: 1000px;
      float: left;
      padding: 30px;
      width: 100%;
      background: #f5f5f5;
      @media screen and(min-width: 768px){
        width: calc(100% - 250px);
      }
    }
  }
}


