@charset "UTF-8";
@font-face {
  font-family: 'iconfont';  /* project id 503922 */
  src: url('//at.alicdn.com/t/font_503922_2jtb23q6zr774x6r.eot');
  src: url('//at.alicdn.com/t/font_503922_2jtb23q6zr774x6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_503922_2jtb23q6zr774x6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_503922_2jtb23q6zr774x6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_503922_2jtb23q6zr774x6r.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon {
  display: table-cell;
}
//表单验证不通过样式
.red {
  color: #FF5B5B;
}
.redCenter{
  color: #FF5B5B;
  text-align: center;
}
.borderRed {
  border-color: #FF5B5B;
}

.inputLineHeight {
  line-height: 34px;
}
.highLight{
  background: #000;
}
.highLight2{
  background: #00CA79;
}
//common.css
html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

h4 {
  margin: 0;
}

span,
a {
  display: inline-block;
}

a {
  color: #fff;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}