@charset "UTF-8";
/*登录页面*/
@mixin input{
  padding-left: 30px;
  width: 80%;
  height: 50px;
  border: 1px solid #d0d6d9;
  border-radius: 5px;
}
.test {
  height: 30px;
  line-height: 30px;
  color: #fd0202;
  text-align: center;
}
.log-in {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/hero.jpg") no-repeat center;

  .log-in-wrap {
    margin: auto;
    width: 450px;
    overflow: hidden;
    background: #a4c2c9;

    > h4 {
      margin: 20px 0;
      text-align: center;
      color: #29bde0;
      font-size: 18px;
    }

    > .account-wrap {
      text-align: center;
      > .account {
        @include input;
        background: url("../images/person.png") no-repeat #fff;
        background-position: 10px center;
      }
    }

    > .password-warp {
      text-align: center;
      > .password {
        @include input;
        background: url("../images/lock.png") no-repeat #fff;
        background-position: 10px center;
      }

    }

    > .submit-wrap {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      overflow: hidden;
      > .submit {
        padding: 0;
        width: 80%;
        height: 40px;
        color: #fff;
        background: #0b6df1;
        border: none;
      }
    }
  }
}

/*登录页面结束*/