html {
	font-size: 625%;
}
body {
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 478%;
	}
}
@media only screen and (max-width: 767px) {
	html {
		font-size: 312%;
	}
}


option {
	width: 50%;
	font-size: .28rem;
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}
.top {
	height: .9rem;
	background-color: #5FC0CD;
	background-image: url(images/01.png);
	background-repeat: no-repeat;
	background-size: .42rem .44rem;
	background-position: 98% center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	font-size: .34rem;
	color: #5fc0cd;
	font-weight:bold;
}
.btn:nth-child(2){    
    margin-left:-.1rem;
}
.btn:focus{
	background:#55a8b3;
	outline:none;
	color: white;
}

.choose {
	height: .8rem;
	background-color: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #E7EBEC;
	font-size: .28rem;
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-box {
	width: 100%;
	padding-left: 30%;
	margin: 0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	border: none;
	box-sizing: border-box;
	border-right: 1px solid #E7EBEC;
	background-image: url(images/02.jpg);
	background-repeat: no-repeat;
	background-size: .13rem .08rem;
	background-position: 94% center;
}

.main-box {
	width: 100%;
	margin-top: 1.7rem;
	margin-bottom: 1rem;
}
.main {
	width: 100%;
	padding: .26rem 0;
	box-sizing: border-box;
	border-bottom: 1px solid #E7EBEC;
}
.date {
	width: 100%;
	height: .34rem;
	font-size: .26rem;
	color: #999;
	background-image: url(images/03.jpg);
	background-repeat: no-repeat;
	background-size: .24rem .24rem;
	background-position: .3rem center;
	padding-left: .6rem;
}
.prize-box {
	width: 100%;
	font-size: .28rem;
	color: #333;
	margin: .1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: .6rem;
}
.prize-box-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.prize {
	width: 2.4rem;
	height: .36rem;
	line-height: .38rem;
	font-size: .36rem;
	color: red;
	background-image: url(images/05.jpg);
	background-repeat: no-repeat;
	background-size: .2rem .33rem;
	background-position: 92% center;
	padding-right: .7rem;
}
.address {
	width: 100%;
	height: .34rem;
	font-size: .26rem;
	color: #999;
	background-image: url(images/04.jpg);
	background-repeat: no-repeat;
	background-size: .19rem .23rem;
	background-position: .32rem center;
	padding-left: .6rem;
}


.footer {
	width: 100%;
	height: 1rem;
	background-color: #F8FAFB;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
.left-icon {
	width: .46rem;
	height: .4rem;
	background-image: url(images/06.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: .14rem;
}
.mid-icon {
	width: .94rem;
	height: .94rem;
	background-image: url(images/08.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.right-icon {
	width: .42rem;
	height: .4rem;
	background-image: url(images/07.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: .14rem;
}
.left-text {
	font-size: .2rem;
	color: #5FC0CD;
}
.right-text {
	font-size: .2rem;
	color: #999;
}
.left {
	height: 1rem;
	text-align: center;
}
.right {
	height: 1rem;
	text-align: center;
}