$blue-29: #29bde0;

.cen-cen{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cen-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.items-cen {
  display: flex;
  align-items: center;
}
.fixed-t {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10;
}
.fixed-b {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.a-none {
  text-decoration: none;
}
.inline-block {
  display: inline-block;
}
.border-box {
  box-sizing: border-box;
}
.clear-bo {
  clear: both;
}