/*左边导航栏*/
body {
    background-color: #eaeaea;
}
.side-bar {
    float: left;
    width: 25%;
    background-color: #2c317f;
    color: #ffffff;
}
.nav-header {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #9d9d9d;
}
.nav-list {
    /*padding-left: 5px;*/
}
.nav-list::before {
    /*content: url("../img/pencil.png");*/

}

/*右侧内容区域*/
.content-area {
    float: right;
    width: 75%;
    background-color: #eaeaea;
    border: 1px solid #ff7f00;
}
.log-out {
    float: right;
    margin: 10px;
}