body{
    background: #FFFFFF;
    font-size: 62.5%;
    margin: 0 auto;
}
.head{
    background:#178ACC;
    width: 100%;
}
.navbar {
    background: none;
}

.navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
    /*border-color: #1995DC;*/
}


.navbar-default .navbar-brand{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 12px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus ,
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover{
    background: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #178ACC;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #178ACC;
}

.navbar-default .navbar-toggle {
    border-color: #178ACC;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.home{
    height: 65px;
    width: 100%;
    line-height: 65px;
    background:#f9f9f9 ;

}
.fourbtn{
    float: right;
    /*margin-right: 20px;*/
}
.homepage{
    background: #FFFFFF;
    height: 32px ;
}
.btn-default {
    color: #333;
    /*width: 40px;*/
    background-color: #fff;
    border-color: #ccc;
    margin: 0 10px;
    box-shadow: 1px 1px 1px #cccccc;
}

.btn{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
 font-size: 8px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.btn-default:hover{
    background: #178ACC;
    color: #FFFFFF;
}
.box{
float: right;
  margin-right: 10px;
}
.num1{
    width: 100px;
border-top: 3px solid #cccccc;
    margin: 20px 0 20px -4px;
    text-align: center;
    /*float: right;*/
display: inline-block;
}
.one{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #cccccc;
    border-radius: 50%;
    margin: -10px 0 0px 40px;
}
.custom{
    margin-top: 20px;
    color: #cccccc;
}
.num1:hover{
    border-top: 3px  solid #ff7f02;
}
.num1:hover .one{
    background: #ff7f02;
    color: #FFFFFF;
}
.num1:hover .custom{
    color: #ff7f02;
}
.vertical{
   border-left: 4px solid #178ACC;
    font-size: 1.5rem;
    font-weight: 700;
}
.please{
    margin-left: 10px;
}
.choose{
    width: 100%;
    height: 40px;
    background: #cccccc;
    font-size: 1rem;
    line-height: 40px;
}
.choose1{
color: #178ACC;
    font-size: 1.3rem;
}
.box1{
    margin-bottom: 4px;
}
.box2{
    margin: 20px 18px;
}
.box3{
    margin: 20px 18px;
}
.box4{
    margin: 17px 10px ;
    float: right;
}
.box40{
    margin: 35px 10px;
    float: right;
}
.choice{
    position: relative;
    /*height: 50px;*/
    width: 100%;
    background: #fbfcff;
}

.form-group{
    position: relative;
    line-height: 30px;
    margin-bottom: 0;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    opacity: 0;
}
.box33{
    position: relative;
    /*line-height: 30px;*/
    display: inline-block;
    margin: 0 10px;
}
label {
    position: absolute;
    left: 3px;
    top: 9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 -4px;
}
.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
}
input:checked +label {
    /*background-color: #fe6d32;*/
    border: 7px solid #178ACC;
}
.box34{
    position: relative;
    /*line-height: 30px;*/
    display: inline-block;
    /*margin: 0 10px;*/
}
.long0{
    display: inline-block;
}
.form-control{
width: 100px;

    appearance: none;

    -webkit-appearance: none;

    -moz-appearance: none;
    background: url("images/drop.png");
    background-repeat: no-repeat;
    background-position: right;
}

.size{
width: 100%;

background: #fbfcff;
}
.size1{
    margin: 20px 18px;
}
.ip1{
    height: 20px;
    width: 40px;
}
/*.box40{*/
    /*float: right;*/
    /*margin-top: 25px;*/
/*}*/
.long{
    margin-left: 10px;
}
.next{
    height: 300px;
    width: 100%;
display: flex;
    align-items: center;
  justify-content: center;
}
.next1{
    width: 100px;
    height: 30px;
    background: #e15053;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.first{
    font-size: 1.5rem;
    color: #cccccc;
}
.code{
    float: right;
}
.qq{
    margin: 15px 0;
    color: #ccc;
}
.footer{
    width: 100%;
    /*height: 130px;*/
    background: #f9f9f9;
}
.tell0{
    float: right;
    margin-top: 5px;
    vertical-align: middle;
    color: #cccccc;
}
.line{
    /*margin-top: 33px;*/
}
.about{
    margin: 15px 10px;
    line-height: 25px;
    color: #ccc;
}
.all{
    height: 100px;
    margin: 50px 0 30px 0;
}
.company{
    background: #178ACC;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 992px){
    .btn-default {
        color: #333;

        background-color: #fff;
        border-color: #ccc;
        margin: 0 2px;
        box-shadow: 1px 1px 1px #cccccc;
    }
    .long {
        margin-left: 5px;
    }
    .box4{
        margin:20px 0;
        /*margin-left: 25px;*/
        float: none;
    }
    .box40{
        margin:20px 0;
        float: none;
        /*margin-left: 25px;*/
    }
    .box2{
        margin:20px 0;
    }
    .box3{
        margin:20px 0;
    }
    .size1{
        margin: 0;
    }
}
@media screen and (max-width: 768px) {


    /*.code{*/
        /*float: left;*/
    /*}*/
    .footer{
        width: 100%;
        background: #f9f9f9;
    }
    /*.tell0{*/
        /*float:left;*/
        /*margin-top: 5px;*/
        /*vertical-align: middle;*/
    /*}*/
.tq{
    float: left;
}
    .about {
        margin: 15px 10px;
    }
}
