body{
  margin: 0;
}
.wrap{
  max-width: 480px;
  margin: 0 auto;
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
    >.square{
      float: left;
      width: 30%;
      padding-top: 30%;
      background: orange;
      margin: 2.5% 0 0 2.5%;
      border-radius: 5px;
  }
}
.start,
.stop {
  margin:3% auto;
  width: 100%;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid orange;
  background: transparent;
  &:hover{
    background: orange;
    color: #fff;
  }
}