* {
    margin: 0;
    padding: 0;
}

html,
body {

    width: 100%;
    height: 100%; /*让背景图片100%适应整个屏幕*/
}

ul,
li {

    list-style: none;
}

button:focus {

    outline: none !important;

}

.w100 {
    overflow: hidden;

}

.foot {
    height: 7rem;
    padding: 0.5rem 0 2rem 0;

}

.head1 {
    height: 5.5rem;
}

.head2 {
    height: 5.125rem;
}

.whtop {
    width: 8.75rem;
    height: 4rem;
}

.mleft {
    margin-left: -3px;
}

.mright {
    margin-right: -3px;
}

.mright2 {
    float: right;
}

.mright3 {
    display: flex;
    flex: 0 0 80%;
    justify-content: center;

}

.mright4 {
    display: flex;
    flex: 0 0 10%;

}

.aaa {
    overflow: hidden;
}

.bbuton {
    border: #ff0000;
}

.rbddd {
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.rrddd {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rlddd {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.font {
    font-size: 1.5rem;

}

.nav ul li a {
    text-align: center;
    display: block;
    color: #bbb;
    padding: 5px 0;
    text-decoration: none;
}

.nav ul li:hover ul {
    display: block;
}

.nav ul li ul {
    display: none;
}

.flex-center2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flex-end {
    display: flex;
    justify-content: space-between;

}

.flex-center {
    display: flex;
    align-items: center;
}

.my-main {
    position: fixed;
    width: 100vw;
    top: 10.625rem;
    bottom: 7rem;
    overflow: auto;
}

.my-p {
    margin-bottom: -10px;
}

.my-hand {
    cursor: pointer;
}

.img1 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 2.75rem;
    width: 2.625rem;
    background-position: -0.1rem 0;
    background-size: 24.5rem 5.875rem;

}

.img2 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 1.4375rem;
    width: 1.1875rem;
    background-position: -3.75rem 0;
    background-size: 24.5rem 5.875rem;
}

.img3 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 1.5rem;
    width: 1.5rem;
    background-position: -6.35rem 0;
    background-size: 24.5rem 5.875rem;
}

.img4 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 2.0625rem;
    width: 1.1875rem;
    background-position: -8rem 0;
    background-size: 24.5rem 5.875rem;
}

.img5 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 2.5rem;
    width: 2.875rem;
    background-position: -11.25rem 0;
    background-size: 24.5rem 5.875rem;
}

.img6 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 5.875rem;
    width: 5.875rem;
    background-position: -15rem 0;
    background-size: 24.5rem 5.875rem;
}

.img7 {
    background-image: url(../../picture/task6/sprite6.png);
    height: 2.5625rem;
    width: 2.625rem;
    background-position: -21.875rem 0;
    background-size: 24.5rem 5.875rem;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.margin-left {
    margin-left: 10px;
}

.margin-left2 {
    margin-left: 20px;
}

.padding-top {
    padding-top: 5px;
    padding-bottom: 5px;
}

.overflow-ellipsis {
    overflow: hidden; /*溢出隐藏*/
    text-overflow: ellipsis; /*文本溢出省略号*/
    white-space: nowrap; /*不换行*/
}

.colorf0d {
    background-color: #5fc0cd;
}

.colorf8 {
    background-color: transparent;
}

.colorfff {
    background-color: #fff;
}

.color099 {
    background-color: #099;
}

.fff {
    color: #fff;
}

.f0d {
    color: #5fc0cd;
}

.bbb {
    color: #bbb;
}

.f00 {
    color: #f00;
}
