body {
  margin: 0; }

html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  height: 100%;
  background: #29bde0; }

html {
  height: 100%; }

body {
  margin: 0; }

html {
  height: 100%; }

body {
  margin: 0; }

header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.88rem;
  border-bottom: .01rem solid #74d4eb;
  font-size: 0.34rem;
  color: #fff;
  background: #29bde0;
  z-index: 2; }
  header i {
    display: inline-block; }
    header i:first-child {
      width: .3rem;
      height: .3rem;
      border-left: .05rem solid;
      border-bottom: .05rem solid;
      transform: rotate(45deg);
      margin-left: 0.2rem; }
    header i:last-child {
      position: relative;
      width: .5rem;
      height: .4rem;
      margin-right: 0.2rem; }
      header i:last-child::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: .05rem;
        background: currentColor;
        transform: translateY(-50%) rotate(45deg); }
      header i:last-child::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: .05rem;
        background: currentColor;
        transform: translateY(-50%) rotate(-45deg); }

main {
  position: absolute;
  top: 1.8rem;
  bottom: .6rem;
  left: .88rem;
  right: .88rem; }
  main .num {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: .66rem;
    margin-top: -.33rem;
    line-height: .66rem;
    border-radius: 50%;
    text-align: center;
    font-size: .4rem;
    color: #f56b81;
    background: #fff;
    z-index: 1; }
  main .players-show {
    box-sizing: border-box;
    position: absolute;
    height: 7.58rem;
    width: 100%;
    border: .06rem solid #fff;
    background: #ffedc5; }
    main .players-show img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
      main .players-show img.show-img {
        display: none;
        top: .6rem;
        width: 2.22rem; }
      main .players-show img.hide-img {
        width: 3.01rem;
        top: 50%;
        margin-top: -1.5rem; }
    main .players-show span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 3.2rem;
      color: #29bde0;
      font: .4rem bold; }
  main button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .86rem;
    border: none;
    outline: none;
    font-size: .4rem;
    color: #fff;
    background-color: #fbb435;
    cursor: pointer; }
