body{
	margin: 0 ;
	font-size:625%;
}
.squares{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:42vw;
	margin:0 auto;
}
.block{
	width:12vw;
	height:12vw;
	margin:1vw;
	border-radius:1vw;
    background:orange;
}
.start{
	display: block;
	width:50%;
	height:2.5rem;
    margin:0 auto;
	margin-top:1rem;
	padding:0;
	border:1px solid orange;
	border-radius: 10px;
	text-align: center;
	outline: none;
	cursor: pointer;
	font-size: .8rem;
	font-weight: bold;
	color: orange;
	background-color: white;
}
.start:hover{
	color:white;
	background:orange;
}
.end{
	display: block;
	width:50%;
	height:2.5rem;
	margin:0 auto;
	margin-top:1rem;
	padding:0;
	border:1px solid orange;
	border-radius: 10px;
	text-align: center;
	outline:none;
	cursor: pointer;
	font-size: .8rem;
	font-weight: bold;
	color: orange;
	background-color: white;
}
.end:hover{
	color:white;
	background:orange;
}