<div class="row pd-top-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong ng-if="!vm.params.id">新增推荐客户</strong>
            <strong ng-if="vm.params.id">编辑推荐客户</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="myform">
                <div class="form-group">
                    <label class="col-md-2 control-label">推荐客户名称</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" ng-model="vm.product.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label word-spacing-25">URL</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="vm.product.url" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-2 control-label word-spacing-25">推荐客户图标</label>
                    <div class="col-md-10 padding-0">
                        <simple-upload ng-model="vm.product.icon"
                                       multi=false></simple-upload>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label word-spacing-25">推荐客户额度</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" ng-model="vm.product.amountStart"
                               numberic-input
                               required
                               >
                    </div>
                    <label class="control-label col-md-1 text-left">万</label>
                    <label class="control-label col-md-1 text-center">—</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" ng-model="vm.product.amountEnd"
                               required
                               numberic-input
                               >
                    </div>
                    <label class="control-label col-md-1 text-left">万</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label word-spacing-25">利率</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" ng-model="vm.product.rate"
                               required
                               onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"
                               >
                    </div>
                    <label class="control-label col-md-1 text-left">%</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label word-spacing-25">备 注</label>
                    <div class="col-md-8">
                        <textarea class="form-control" ng-model="vm.product.remark" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="button" class="btn btn-success" ng-click="vm.updateProduct()"
                                ng-disabled="myform.$invalid||vm.product.icon==undefined"
                        >保存
                        </button>
                        <button type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>