html{  font-size: 100px !important;  }
@media only screen and (max-width: 600px)
{
    html{  font-size: 80px !important;  }
}
@media only screen and (max-width: 500px)
{
    html{  font-size: 70px !important;  }
}
@media only screen and (max-width: 400px)
{
    html{  font-size: 60px !important;  }
}

body {
    min-width: 320px;
    font-size: .32rem;
    margin: 0;
    background-color: #fafafa;
    text-align: center;
}

/*联系方式*/
.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hotline-bling {
    /*flex: 0 0 60%;*/
    padding-top: .15rem;
    color: #29b078;
    font-size: .14rem;
    justify-content: space-between;
}

.web-bling {
    /*flex: 0 0 40%;*/
    /*padding: .05rem;*/
    /*padding-top: .02rem;*/
    align-items: center;
    margin-right: .3rem;
}

.head-icon {
    padding-left: .2rem;
}
@media only screen and (min-width: 320px) {
    .head-icon {
        transform: scale(.8,.8);
    }
}

/*导航栏*/
.bgc-green {
    background-color: #29b078;
}
.font-size-16 {
    font-size: 16px;
}

.font-size-header {
    font-size: 0.18rem;
}



/*@media only screen and (min-width:768px) {*/
/*.my-nav {*/
/*float: right;*/
/*}*/

/*}*/


.my-nav a {
    /*display: inline-block;*/
    display: block;
    padding: 0.12rem;
    height: 0.48rem;
    letter-spacing: 5px;
    line-height: 0.31rem !important;
    text-decoration: none;
    color: #fff;
    border-bottom: 4px solid #29b078;
}
@media only screen and (min-width:768px) {
    .my-nav{  float: right;}
    .my-nav a {
        height: 0.96rem;
        padding: 0.24rem;
        line-height: 0.62rem !important
    }
}


/*覆盖bootstrap的focus颜色*/
.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #29b078 !important;
}

.my-nav a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #29b078 !important;
    border-bottom: 4px solid #fff;
}

/*footer*/

footer {
    width: 100%;
    background-color: #29b078;
    /*height: 2rem;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    color: #ffffff;
    font-size: .16rem;
    text-align: left;
}

/*.foot-items {*/
    /*max-width: 940px;*/
/*}*/

.foot-jnshu,
.foot-website {
    padding: .3rem;
}

.foot-wechat {
    padding-top: .3rem;
    text-align: right;
}
@media only screen and (max-width: 768px) {
    .foot-wechat {
        text-align: left;
        padding: .3rem;
    }


}



.foot-jnshu > h4 {
    padding-bottom: .5rem;
}
.foot-jnshu > span {
    /*padding-bottom: .5rem;*/
}


.foot-website > h4 {
    padding-bottom: .5rem;
    /*float: right;*/
}
.website-set > span {
    padding-right: .3rem;
}
.foot-wechat > h4 {
    font-size: .16rem;
}

.website-set {
    margin-bottom: .2rem;
}


.corp-info {
    display: block;
    width: 100%;
    background-color: #29b078;
    height: .5rem;
    border-top: .1px solid #eaeaea;
    text-align: center;
    margin-bottom: 0;
    padding: 15px;
}
