
/*企业直接推荐*/
main {
    font-size: 12px;
    padding: 20px;
}
.recommend-img {
    width: 100%;
}

.main-home {
    text-align: left;
    padding: .3rem 0 ;
}

.profess {
    color: #29b078;
}

.friend-corp {
    font-size: 16px;
    border-bottom: 1px solid #dedef8;
    padding: .2rem;
}
.corp-logo > p,
.corp-abstract > p {
    text-indent: 24px;
    /*padding: .16rem 0;*/
    line-height: 25px;
    text-align: justify;

}


.main-left {
    padding: 0;
}
.nav-corp {
    /*text-align: left;*/
    padding-left: 0;
    color: #29b078;
    font-size: 14px;
    /*padding-bottom: 10px;*/

}

.nav-corp > li {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav-corp:hover >li {
    /*border-bottom: 2px solid #29b078;*/

    cursor: pointer;
}

.items-circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50% 50%;
    background-color: #ffffff;
    border: 1px solid #FF8C00;
}

.items-circle:hover {
    background-color: #FF8C00;

}

/*右边文章*/

.corp-logo {
    text-align: left;
    padding: .2rem .5rem;
    /*float: left;*/
    display: inline-block;
}
.corp-logo > img {

}
.corp-logo > p {
}

.corp-abstract {
    padding: .2rem .5rem;
    text-align: left;
}