<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="ronglian" class="com.jnshu.util.RolianUtil">
        <constructor-arg name="serverIP" value="app.cloopen.com"/>
        <constructor-arg name="serverPort" value="8883"/>
        <constructor-arg name="accountSid" value="8aaf07086b8862cb016babb7d5b3129c"/>
        <constructor-arg name="accountToken" value="b40662598b3b4dc7b7e2bf90c4ce258f"/>
        <constructor-arg name="appId" value="8aaf07086b8862cb016babb7d61412a3"/>
        <constructor-arg name="templateId" value="1"/>
        <constructor-arg name="time" value="3"/>
    </bean>

<!--    <bean id="sendCloudUtil" class="com.jnshu.util.SendCloudUtil">-->
<!--        <constructor-arg name="url" value="http://api.sendcloud.net/apiv2/mail/send"/>-->
<!--        <constructor-arg name="apiUser" value="baidongn_test_8gQi1L"/>-->
<!--        <constructor-arg name="apiKey" value="6tcAitLtIyDOOse8"/>-->
<!--        <constructor-arg name="subject" value="验证码"/>-->
<!--    </bean>-->

    <bean id="aliyunUtil" class="com.jnshu.util.AliyunUtil">
        <constructor-arg name="endpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
        <constructor-arg name="accessKeyId" value="LTAI5d3MqgDWxHmX"/>
        <constructor-arg name="accessKeySecret" value="Il7UEruBHnvCUr7nO4HEqVaEupeSHE"/>
        <constructor-arg name="bucketName" value="baidongn"/>
    </bean>

<!--    <bean id="tengxunUtil" class="com.jnshu.util.TengxunUtil">-->
<!--        <constructor-arg name="secretId" value="AKIDxqTu54KX5R2SdZeix2zhCRUHuIWbi4RZ"/>-->
<!--        <constructor-arg name="secretKey" value="0oNgpmWBakeZEaomUvBCxSjohcIE4f18"/>-->
<!--        <constructor-arg name="region_name" value="ap-chengdu"/>-->
<!--        <constructor-arg name="bucketName" value="baidongn-1259580823"/>-->
<!--    </bean>-->
</beans>