html,
body {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    font-family: "Microsoft yahei", sans-serif;
}

header,
footer {
    flex: 1;
}

.top {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    line-height: 50px;
    color: #fff;
    background-color: #5fc0cd;
}

.top-left {
    margin-left: 20px;
    margin-right: -20px;
}

.top-main {
    margin: auto;
}

.main {
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 75px;
    overflow: auto;
    font-weight: 600;

}

.name {
    display: flex;
    background-image: url(../../picture/task5/background.png);
    background-size: cover;
    color: #fff;
}

.name-left img {
    width: 80px;
    height: 80px;
    margin: 90px 0 50px 20px;
}

.name-right {
    margin-top: 120px;
    margin-left: 30px;

}

.name-right-row {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.name-right-row span {
    font-size: 13px;
}

.name-right-row img {
    width: 20px;
    height: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.line {
    border-top: 1px solid #ddd;
    margin-left: 10px;
}

.line-top {
    border-top: 1px solid #ddd;
}

.row,
.row-top,
.row4 {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    margin: 5px 0;
}

.row,
.row-top {
    height: 50px;
}

.row,
.row4 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.row img {
    width: 12px;
    height: 12px;
}

.row-top {
    margin: 15px 0 15px 10px;
    height: 30px;
    padding-left: 5px;
    border-left: 5px solid #5fc0cd;
}

.row-top-line {
    width: 5px;
    height: 10px;
    background-color: #5fc0cd;
}

.item {
    margin: 10px 0;
    align-self: center;
}

.item1 {
    white-space: nowrap;
    margin-right: 10px;
    padding-right: 10px;
    width: 52px;
    border-right: 1px solid #bbb;
    color: #bbb;
}

.item-red {
    color: red;
}

.bottom {
    position: fixed;;
    display: flex;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background-color: #fff;
}

.bottom-left,
.bottom-right {
    flex: 0 1 50%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid #5fc0cd;

}

.bottom-left {
    color: rgb(95, 192, 205);
}

.bottom-right {
    color: #fff;
    background-color: #5fc0cd;
}

.bottom-left:hover,
.bottom-right:hover {
    cursor: pointer;
}