



<div class="backGround_header">
    <button style="background-color: green;"  type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#accordion">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="backGround_title">萝卜多后台管理系统</div>
    <div class="controlSite">
         <div>管理员</div>
         <span>|</span>
         <div>admin</div>
         <span>|</span>
         <div class="glyphicon glyphicon-off" ui-sref='login'></div>
        </div>
    </div>
    <div class="cutOff">
        <div class="backGround_leftSideBar">
        <div class="backGround_paging">
            <div id="accordion" class="collapse showInPc">
                <div class="panel panel-default backGround_Im">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <div class="backGround_IM" >
                            <div class="fa fa-pencil"></div>
                            <div class="backGround_title">信息管理</div>
                            <div class="fa fa-angle-left fa-lg"></div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="backGround_AMHidCont panel-body">
                            <a ui-sref="backGround.artList" class="backGround_AML">公司列表</a>
                            <a ui-sref="backGround.artList" class="backGround_AML">职位列表</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default backGround_Im">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <div class="backGround_IM" >
                            <div class="fa fa-pencil"></div>
                            <div class="backGround_title">信息管理</div>
                            <div class="fa fa-angle-left fa-lg"></div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="backGround_AMHidCont panel-body">
                            <a ui-sref="backGround.artList" class="backGround_AML">公司列表</a>
                            <a ui-sref="backGround.artList" class="backGround_AML">职位列表</a>
                            <a ui-sref="backGround.artList" class="backGround_AML">职位列表</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default backGround_Im">
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <div class="backGround_IM" >
                            <div class="fa fa-pencil"></div>
                            <div class="backGround_title">信息管理</div>
                            <div class="fa fa-angle-left fa-lg"></div>
                        </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="backGround_AMHidCont panel-body">
                            <a ui-sref="backGround.artList" class="backGround_AML">公司列表</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div>-->
            <!--<div class="backGround_IM" >-->
            <!--<div class="fa fa-pencil"></div>-->
            <!--<div class="backGround_title">信息管理</div>-->
            <!--<div class="fa fa-angle-left fa-lg"></div>-->
            <!--</div>-->
            <!--<div class="backGround_AMHidCont" ng-hide="hideCont">-->
            <!--<a ui-sref="backGround.artList" class="backGround_AML">公司列表</a>-->
            <!--<a ui-sref="backGround.artList" class="backGround_AMM">职位列表</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div >-->
            <!--<div class="backGround_AM"  ng-click="toggle($index)">-->
            <!--<div class="fa fa-pencil"></div>-->
            <!--<div class="backGround_title">Article管理</div>-->
            <!--<div class="fa fa-angle-left fa-lg"></div>-->
            <!--</div>-->
            <!--<div class="backGround_AMHidCont" ng-hide="hideCont">-->
            <!--<a ui-sref="backGround.artList" class="backGround_AML">文章列表</a>-->
            <!--<a ui-sref="backGround.artList"  class="backGround_AMM">文章管理</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div >-->
            <!--<div class="backGround_UM"  ng-click="toggle($index)">-->
            <!--<div class="backGround_IM" >-->
            <!--<div class="fa fa-pencil"></div>-->
            <!--<div class="backGround_title">信息管理</div>-->
            <!--<div class="fa fa-angle-left fa-lg"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="backGround_AMHidCont" ng-hide="hideCont">-->
            <!--<a ui-sref="backGround.artList" class="backGround_AML">文章列表</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </div>
    <ui-view></ui-view>
    </div>
