main{
    margin-top: 1.28rem;
    border-top: .01rem solid rgba(255, 255, 255, 0.9);
    .box{
        position: relative;
        @include flex;
        margin: .86rem auto 0 auto;
        @include w-h(70vw,6.6rem);
        border: .08rem solid #FFFFFF;
        background: #FFEDC5;
        #number{
            @include flex;
            position: absolute;
            top: -.38rem;
            @include w-h(.68rem,.68rem);
            color: red;
            font-size: .38rem;
            border-radius: 50%;
            border: .05rem solid #FFEDC5;
            background: #FFFFFF;
        }
        #photo{
            @include w-h(3rem,3rem);
            background: url(../img/huangdi.png) no-repeat;
        }
        .box_p{
            display: none;
            position: absolute;
            text-align: center;
            #photo_p{
                display: inline-block;
                @include w-h(2.22rem,2.22rem);
                background: url(../img/meizi.png) no-repeat;
            }
            #player{
                font-size: .36rem;
                color: #29BDE0;
            }
        }
    }
}