<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihoo.jnshu.admin.dao.StudentListMapper">

  <update id="updateLoginTimeById" parameterType="com.lihoo.jnshu.admin.domain.StudentList">
    UPDATE student_list
    SET log_at = #{logAt,jdbcType=BIGINT}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
