   *{
   margin: 0;
   padding: 0;
   }
   html, body {
   height: 100%;
   width: 100%;
   }
   .header{
   background: url("../../img/login-bg.png")no-repeat;
   background-size: 100% 100%;
   width: 100%;
   height: 100%;
   position: relative;
   }
   .core{
   width: 40%;
   height: 40%;
   background:ghostwhite;
   border-radius: 10px;
   position: absolute;
   top: 30%;
   left: 30%;

   }
   .core .radish{
   border-radius: 50%;
   position: absolute;
   left: 43%;
   top: -35px;
   }

   .name{
   width: 60%;
   height: 30px;
   margin-top:68px;
   margin-left: 17%;
      margin-bottom: 20px;
   padding-left: 30px;
   position: relative;
   border-radius: 5px;
   outline: orange;
   border: 1px solid #cccccc;
   }
   .user{
   width: 30px;
   height: 30px;
   position: absolute;
   left: 17%;
   top:23%;
   z-index: 2;
   }
   .password{
   width: 60%;
   height: 30px;
   margin-left: 17%;
   padding-left: 30px;
   position: relative;
   border-radius: 5px;
   outline: orange;
   border: 1px solid #cccccc;
   }
   .word{
   width: 30px;
   height: 30px;
   position: absolute;
   left: 17%;
   /*top:45%;*/
   z-index: 2;
   }
   .entry{
   width: 60%;
   height: 30px;
   margin-left: 20%;
   background: orange;
   color: white;
   margin-top: 20px;
   border: none;
   outline: none;
   }
   .entry:active,.entry:focus,.entry:hover{
   background: orange!important;
   }
   .entry:hover{
   color: white;
   background: orange!important;
   }


   /*body {*/
       /*position: relative;*/
       /*margin: 0;*/
       /*padding: 0;*/
       /*width: 100%;*/
       /*height: 100%;*/
       /*background: url("../../img/login-bg.png") no-repeat fixed;*/
       /*background-size: cover;*/
   /*}*/

   /*.main {*/
       /*position: absolute;*/
       /*left: 50%;*/
       /*margin-left: -16rem;*/
       /*width: 32rem;*/
       /*height: 24rem;*/
       /*margin-top: 8rem;*/
       /*background-color: #d3d8e1;*/
   /*}*/

   /*p {*/
       /*color: #03a9f4;*/
       /*font-size: 2rem;*/
       /*text-align: center;*/
       /*letter-spacing: 1px;*/
   /*}*/

   /*form {*/
       /*width: 100%;*/
       /*text-align: center;*/
   /*}*/
   /*form input {*/
       /*width: 75%;*/
       /*padding: 1rem 0;*/
       /*outline: none;*/
       /*border: none;*/
       /*text-indent: 20px;*/
   /*}*/

   /*span {*/
       /*position: absolute;*/
       /*top: 50%;*/
       /*margin-top: -9px;*/
       /*display: inline-block;*/
       /*width: 1px;*/
       /*height: 18px;*/
       /*background-color: #999999;*/
   /*}*/

   /*.content {*/
       /*position: relative;*/
       /*margin: 1rem auto;*/
       /*width: 75%;*/
       /*background-color: #fff;*/
       /*border-radius: 5px;*/
   /*}*/

   /*img {*/
       /*position: absolute;*/
       /*left:0%;*/
       /*top:2%;*/
   /*}*/

   /*button {*/
       /*width: 75%;*/
       /*padding: 1rem 0;*/
       /*background-color: #03a9f4;*/
       /*font-size: 1.5rem;*/
       /*color: white;*/
       /*border-radius: 8px;*/
       /*outline: none;*/
       /*border: none;*/
       /*cursor: pointer;*/
   /*}*/

   /*#error {*/
       /*margin: 1rem 13%;*/
       /*font-size: 0.5rem;*/
       /*color: red;*/
       /*display: flex;*/
       /*height: 1.5rem;*/
   /*}*/