/* banner部分 */
.banner img {
    width: 100%;
    /* height: 2.5rem; */
}
.title {
    height: .8rem;
    line-height: .8rem;
   }
   .title .txt1 {
       color: #333;
   }
   .title .txt2 {
       color: #29b078;
   }
   /* 内容部分 */
.contain {
    /* display: flex; */
    margin-bottom:2.3rem;
}
/* 左边 */
.contain .left {
    background-color: #fff;
    padding-bottom: 0.4rem;
    box-shadow:0px 0px 10px 0px rgba(202, 202, 202, 0.75);
    border-radius: .05rem;
    float: left;
}
.contain .left .tt {
    line-height: .65rem;
    text-align: center;
    color: #333;
    font-size: .18rem;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
}
.contain .left .td .box {
    margin-top: 0.4rem;
}
.contain .left .td .box li {
    color: #29b078;
   font-size: .14rem;
   background: url(images/d2.png) no-repeat 36% 50%;
   padding-left: 40%;
}
.contain .left .td .box li:hover {
    background: url(images/d1.png) no-repeat 35% 50%;
    color: #ff650e;
}
/* 右边 */
.contain .right {
    /* flex: 1; */
    background-color: #fff;
    box-shadow:0px 0px 10px 0px rgba(202, 202, 202, 0.75);
    border-radius: .05rem;
    float: right;
}
.contain .right .head {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    padding: .15rem .6rem;
    align-items: center;
}
.contain .right .head img {
    width: 1.34rem;
    height: 1.2rem;
}
.contain .right .head p {
    margin-left: 0.3rem;
    font-size: .14rem;
}
.contain .right .content {
    padding: .37rem .6rem .95rem;
}
.contain .right .content p {
    font-size: .14rem;
    margin-bottom: .45rem;
    text-indent: .28rem;
}
@media screen and (max-width: 768px){
    .contain .left {
        width: 100%;
        margin: 0 auto;
    }
    .contain .right {
        margin-left: 0;
        margin-top: 1rem;
    } 
    .contain .left .td .box li {
        background: url(images/d2.png) no-repeat 44% 50%;
        padding-left: 46%;
    }
    .contain .left .td .box li:hover {
        background: url(images/d1.png) no-repeat 44% 50%;
        color: #ff650e;
    }
    .w { 
        min-width: 0;
        max-width: 1200px;
        margin:0 auto;
    }
}
@media screen and (max-width: 425px){
    .contain .left .td .box li {
        background: url(images/d2.png) no-repeat 40% 50%;
        padding-left: 43%;
    }
    .contain .left .td .box li:hover {
        background: url(images/d1.png) no-repeat 40% 50%;
        color: #ff650e;
    }
}
@media screen and (max-width: 375px){
    .contain .left .td .box li {
        background: url(images/d2.png) no-repeat 40% 50%;
        padding-left: 43%;
    }
    .contain .left .td .box li:hover {
        background: url(images/d1.png) no-repeat 40% 50%;
        color: #ff650e;
    }
}
@media screen and (max-width: 320px){
    .contain .left .td .box li {
        background: url(images/d2.png) no-repeat 39% 50%;
        padding-left: 43%;
    }
    .contain .left .td .box li:hover {
        background: url(images/d1.png) no-repeat 38% 50%;
        color: #ff650e;
    }
}
@media screen and (min-width: 992px){
    .contain .right {
        width: 72%;
    }
}