
/* banner部分 */
.carousel {
    margin-bottom: 1.6rem;
}
/* 中间第一部分 */
.section1 {
    display: flex;
    margin-bottom: .96rem;
}
.section1 .left {
    display: flex;
    justify-content: space-between;
    /* width: 9.35rem; */
    padding-right: .35rem;
    border-right: 1px dashed #dedede;
}
.section1 .left .row {
   display: flex;
   justify-content: space-between;
}
.section1 .left .mock .image {
    width: 100%;
    height: 0.7rem;
    text-align: center;
}
.section1 .left .mock .image .gx {
    width: 0.43rem;
    height: 0.62rem;
}
.section1 .left .mock p {
    color: #333;
    font-size: .18rem;
    line-height: 0.77rem;
    font-weight: 600;
    text-align: center;
}
.section1 .left .mock .txt {
    text-align: left;
}
.section1 .left .mock .image .gf {
    width: 0.6rem;
    height: 0.48rem;
}
.section1 .left .mock .image .rm {
    width: 0.52rem;
    height: 0.55rem;
}
.section1 .right {
    padding-top: .6rem;
    padding-left: .55rem;
    /* height: 2.7rem; */
}
.section1 .right .content .num {
    margin-bottom: .28rem;
}
.section1 .right .content .num img {
    width: .13rem;
    height: .13rem;
}
.section1 .right .content .num span {
    color: #29b078;
    font-size: .18rem;
    margin-left: 0.15rem;
}
.section1 .right .content .num p {
    font-size: .18rem;
    margin-top: .1rem;   
}
/* 中间第二部分 */
.section2 p,.section3 p,.section4 p {
    font-size: .18rem;
    color: #333;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.55rem;
}
.section2 .list {
    display: flex;
    align-items: center;
    margin-bottom: .97rem;
}
.section2 .list .step {
    display: flex;
    height: .72rem;
}
.section2 .list .step .circle {
    width: .72rem;
    height: 0.72rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #666;
    position: relative;
    margin-right: .2rem;
}
.section2 .list .step .circle .num {
    color: #29b078;
    font-size: .2rem;
    font-weight: 600;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section2 .list .step .txt {
    width: 1.5rem;
    font-size: .14rem;
    padding: .17rem 0;
    margin-right: .2rem;
}
.section2 .list .box {
    /* line-height: 0.72rem; */
}
.section2 .list img {
    width: .32rem;
    height: 0.3rem;
    margin-right: 0.25rem;  
}
/* 中间第三部分 */
.section3 {
    margin-bottom: 1.3rem;
}
.section3 .xueyuan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}
.xueyuan .people {
    width: 23%;
    padding: .14rem .3rem .36rem;
    box-shadow:0px 0px 5px 0px rgb(168, 168, 168);
    border-radius: .1rem;
}
.xueyuan .people .touxiang {
    text-align: center;
}
.xueyuan .people .touxiang img {
    width: 1.08rem;
    height: 1.08rem;
}
.xueyuan .people .intro {
    font-size: .18rem;
    color: #333;
    text-align: center;
    margin-top: .35rem;
    margin-bottom: .3rem;
}
.section3 .dot {
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
.section3 .dot ol {
    display: flex;
    justify-content: space-between;
    width: .65rem;
}
.section3 .dot ol li {
    width: 0.13rem;
    height: 0.13rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:0px 0px 1px 0px rgb(168, 168, 168);
}
.section3 .dot ol li.active {
    background-color: #29b078;
}
/* 中间第四部分 */
.section4 {
    margin-bottom: 1.1rem;
}
.section4 p a {
    color: #333;
    text-decoration: none;
}
.section4 .com {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow:0px 0px 2px 0px rgb(168, 168, 168);
}
.section4 .com li {
    width: 20%;
    text-align: center;
    line-height: 1.8rem;
    background-color: #fff;
}
.section4 .com li:hover {
    /* border: 1px solid rgb(168, 168, 168); */
    box-shadow:0px 0px 13px 0px rgba(202, 202, 202, 0.75);
    width: 2.2rem;
} 
.section4 .com li .i1 {
    height: 1.75rem;
}
/* 中间第五部分 */
.section5 {
    background-color: #fff;
    padding-bottom: .2rem;
    padding-top: .2rem;
}
.section5 p {
    margin-bottom: .2rem;
    font-size: .18rem;
    color: #333;
    text-align: center;
}
.section5 ul {
    display: flex;
    /* list-style-type: disc; */
    justify-content: center;
}
.section5 ul li {
    height: .35rem;
    margin-right: .5rem;
    background: url(images/p.png) no-repeat 0 30%;
    padding-left: .2rem;
}
.section5 ul li:hover {
    border-bottom: 1px solid #29b078;
}
.section5 ul li a {
    font-size: .14rem;
    color: #999;
    text-decoration: none;
    white-space: nowrap;
}
@media screen and (max-width: 768px){
    .section1 .left .mock {
        /* width:100%; */
        height: 2.7rem;
        text-align: center;
    }
    .section1 .left {
        border: none;
    }
    .w { 
        min-width: 0;
        max-width: 1200px;
        margin:0 auto;
    }
    .section1 .left .row {
        display: block;
    }
    .section3 {
        margin-bottom: .5rem;
    }
    .section3 .row, .section4 .row {
        display: block;
        margin: 0 auto;
    }
    .xueyuan .people {
        width: 100%;
        margin-top: .2rem;
        text-align: center;
    }
    .section4  {
        margin-bottom: .4rem;
    }
    .section4 .com li {
        width: 100%;
    }
}