.player {
    margin: 5vw;
    .pack {
        border: .3rem solid #fff;
        .name {
            @include flex-center;
            width: 21vw;
            height: 15vw;
            font-size: 1.5rem;
            background-color: #f5c97b;
            p {
                font-size: 5vw;
            }
        }
        .number {
            @include flex-center;
            width: 21vw;
            height: 6vw;
            background-color: #83b09a;
            color: #fff;
            font-size: 5vw;
        }
    }    
}
