@mixin caret-r {
    height: 3vw;
    width: 3vw;
    border-width: .7vw .7vw 0 0;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    margin-right: 2vw;
}
@mixin caret-1 {
    height: 2vw;
    width: 2vw;
    border-width: .7vw .7vw 0 0;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    margin-right: 2vw;
}