.days{
    margin-bottom: 15rem !important;    
}
.container-8 {
    position: relative;
    border: .1rem solid $gray1;
    top: 7rem;
    box-sizing: border-box;
    margin: 0 .5rem;
    margin-bottom: .5rem;
    .tle {
        @include flex-center;
        border-bottom: .1rem solid $gray1;
        background-color: #f7f7f7;
    }
    .day {
        @include flex-center;
        color: $blue1;
        line-height: 5rem;
        font-size: 2rem;
        font-weight: 900;
        width: 90%;        
    }
    .caret-r {
        text-align: center;
        border-right: .25rem solid; 
        border-top: .25rem solid;  
        width: 1.25rem; 
        height: 1.25rem;  
        -webkit-transform: rotate(135deg);
        color: $blue1;
    }
    .arrow {
        width: 0;
        height: 0;
        border: 2rem solid transparent;
        border-top-color: #f7f7f7;
        border-bottom: none;
        -webkit-transform: rotate(180deg);
        position: relative;
        left: 50%;
        margin: 0 -2rem;
    }
    .detail {
        padding: 3rem 0 3rem 1rem;
        display: flex;
        background-color: #f7f7f7;
        flex-flow: wrap;        
        img {
            width: 50px;
            height: 50px;
        }
        .chose {
            @include flex-center;
            width: 95%;                     
            .caret-l {
                width: 0;
                height: 0;
                border: 1rem solid transparent;
                border-top-color: $blue1;
                -webkit-transform: rotate(90deg);
            }
            p{                
                width: 100%;
                text-align: center;
                background: $blue1;
                color: #FFFFFF;
                font-size: 2rem;
            }
        }
    }
}
