html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
$blue1: #29bde0;
$gray1: #9a9a9a;
$gray2: #eee;
$gray3: #f0f0f0;
$black1: #444;
$orange1: #fbb435;
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
