.menu {
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 4rem;
    height: 4rem;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 200;
    span{
        position: relative;
        display: block;
        width: 50%;
        height: 3px;
        background: #fff;
        float: left;
        transform-origin: center;
        transition: transform 250ms ease;
        z-index: 200;
    }
    span:nth-of-type(1) {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
    span:nth-of-type(3) {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
    }
}
#menu {
    display: none;
    &:checked ~ .menu {
        background-color: transparent;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transition: transform 500ms ease;
        span{
            background-color: #fff;
            transition: transform 500ms ease;
            &:nth-of-type(1) {
                transform: translateY(1.5px) rotate(45deg);
                -webkit-transform: translateY(1.5px) rotate(45deg);
            }
            &:nth-of-type(2) {
                display: none;
            }
            &:nth-of-type(3) {
                transform: translateY(-1.5px) rotate(-45deg);
                -webkit-transform: translateY(-1.5px) rotate(-45deg);
            }
        }
    }
    &:checked ~ .nav {
        left: 0;
        transform: left 500ms ease;
        -wekit-transform: left 500ms ease;
    }
    &:checked ~ main{
        transform: translateX(80vw);
        -webkit-transform: translateX(80vw);
        transition: transform 500ms ease;
        -webkit-transition: transform 500ms ease;
    }
}