@mixin icon {               
    width: 3rem;
    height: 3rem;
    margin: 2vw 3vw 2vw 3vw;
}
.nav {
    position: fixed;
    top: 0;
    left: -80vw;
    width: 80vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    transition: left 500ms ease;    
    .head{
        background: $blue1;
        height: 5rem;
    }
    ul{
        position: relative;
        list-style-type: none;        
        padding: 0;        
        li{
            position: relative;
            border-bottom: .1rem solid #f0f0f0;
            color: $blue1;
            font-size: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .li_text {
                display: flex;
                align-items: center;
            }
            .notice {
                @include icon;
            }
            .caret-r {                    
                height: 1.5rem;
                width: 1.5rem;
                border-width: 0.3rem 0.3rem 0 0;
                border-style: solid;
                transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
                -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
                margin-right: 2rem;
                z-index: -2;
            }
        }
    }    
}
