html{
font-size: 312.5%;  

}
body{
    font-size: initial;
    margin: 0;
    background-color: #FFFFFF;
}
p{
    margin-bottom: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* 头部 */
header{
    background-color: #F9F9F9;
}
.top-bg{
    background-color: #1D7AD9;
}
.left-col{
    line-height: .8rem;
    font-size: .14rem;
    color: #FFFFFF;
}
.top-btn{
    padding: 0 .45rem;
    line-height: .8rem;
    font-size: .16rem;
    border: none;
    outline: none !important;
    color: #FFFFFF;
    background-color: #1D7AD9;
}
.top-btn:hover{
    color: black;
    background: #FFFFFF;
}
@media (max-width:575px){
    .header-btn{
        display: flex;
        justify-content: space-around;
    }
}
.header-btnn{
    text-align: right;
}
.dropdown{
    margin: 20px 20px 20px auto;
    padding: 6px;
    display: none;
    outline: none !important;
    border-radius: 6%;
    border: none;
    background-color: #1D7AD9;
}
.line{
    padding: 6px 0;
    width: 22px;
    height: 21px;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    background: #FFFFFF content-box;
}
 
.bottom-btn{
    margin: .4rem 0 .4rem .6rem;
    padding: 0 .45rem;
    line-height: .8rem;
    font-size: .16rem;
    border: none;
    border-radius: .2rem;
    outline: none !important;
    color: black;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px -1px;
}
.bottom-btn:hover{
    color: #FFFFFF;
    background: #1D7AD9;
}
/* 折叠框的媒体查询 */
@media (max-width:575px){
    .header-btnn{
        display: none;
    }
    .dropdown{
        display: block;
    }
    .navv:hover .header-btnn{
        display: block;
    }
    .bottom-btn{
       margin-left: 0;
        width: 100%;
    }
    .carton-box{
        margin-left: auto;
        margin-right: auto;
        width: 50% !important;
    }
}
/* 中间部分 */
.main-top{
    display: flex;
    justify-content: flex-end;
}
.carton-box{
    position: relative;
    margin-top: .48rem;
    width: 15%;
    text-align: center;
    border-top: .06rem solid #CCCCCC;
    font-size: .18rem;
    color: #CCCCCC;
}
@media (max-width:575px){
    .main-top{
        display: inline-block !important;
    }
    .left-col{
        display: none;
    }   
}
.carton-yq{
    position: absolute;
    top: -.18rem;
    left: 50%;
    margin-left: -.15rem;
    text-align: center;
    line-height: .3rem;
    font-size: .14rem;
    color: #FFFFFF;
    width: .3rem;
    border-radius: 50%;
    background: #CCCCCC;
}
.carton{
    margin: .5rem 0;
}
/* 点击折叠盒子 */
.carton-box:hover{
    color: #FF7F02 !important;
    border-color: #FF7F02 !important;
}
.carton-box:hover .carton-yq{
    background-color: #FF7F02 !important;
}
.title-bottom{
    margin-bottom: .3rem;
}
.main-title{
    padding-left: .09rem;
    font-size: .22rem;
    color: #333333;
    border-left: .04rem solid #1D7AD9;
}
.bg-box{
    display: flex;
    align-items: center;
    line-height: .8rem;
    font-size: .18rem;
    color: #1D7AD9;
    background: #F4F4F4;
    border: .01rem solid #E7E7E7;
}
.box{
    margin: 0 .2rem;
    width: .38rem;
    height: .32rem;
    background: url(../img/666.png) no-repeat 0 1px;
}
label{
    margin-bottom: 0 !important;
}
.main-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .2rem 0 .46rem;
    border: .01rem solid #E7E7E7;
    border-top: none;
    border-bottom: none;
    background: #FBFCFF;
}
/* 单选框的媒体查询 */
@media (max-width:767px){
              
    .main-option{
        align-items: flex-start;
    }
    .option-left{
        display: inline-block !important;
    }
    .option-button{
        margin-top: .32rem;
    }
    .on{
        line-height: 0;
    }
    .option-left{
        line-height: 1.2rem !important;
    }
    .radio{
        margin-right: 0 !important;
    }
}
.option-left{
    display: flex;
    line-height: 1.2rem;
}
.radio{
    display: flex;
    
    align-items: center;
    margin-right: .6rem;
    font-size: .18rem;
    color: #666666;
}
.io{
    margin-right: 0 !important;
}
@media (max-width:991px){
    .option-left{
        flex-wrap: wrap !important;
    }
}
.radio-left{
     margin-right: .32rem;
     visibility: hidden;
}
.pssafl{
    position: relative;
    display: flex;
    align-items: center;
}
.bule-yuan{
    position: absolute;
    width: .32rem; 
    height: .32rem;
    border-radius: 50%;
    border: .01rem solid #D5D5D5;
    background-color: #e8e8e8;
}
.radio-left:checked+.bule-yuan{
    border: .12rem solid #1D7AD9;
}
.option-button{
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    height: .7rem;
    font-size: .14rem;
    color: #999999;
    background-color: #FFFFFF;
    border: .01rem solid #E8E8E8;
    outline: none !important;
}
.rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .3rem;
    width: .4rem;
    height: .45rem;
    background-color: #1D7AD9;
}
.triangle{
    width: 0;
    height: 0;
    border-top: .15rem solid #FFFFFF;
    border-left: .13rem solid transparent;
    border-right: .13rem solid transparent;
}
.item{
    line-height: .7rem;
    padding-left: .12rem;
    
}
.item:hover{
    background: #1D7AD9;
}
.dropdown-xq{
    display: none;
    position: absolute;
    top: .7rem;
    left: 0;
    right: 0;
    text-align: left;
    font-size: .14rem;
    color: #FFFFFF;
    background-color: #999999;
    z-index: 1;
}
.option-button:hover .dropdown-xq{
    display: block;
}
.mg{
    padding: .3rem .2rem .3rem .46rem;
}
.second-box{
    margin: 0 .1rem;
    width: .45rem;
    height: .45rem;
    background: url(../img/666.png) no-repeat 1px -33px;
}
.number{
    margin: 0 .1rem;
    width: 70px;
    height: 30px;
    font-size: .26rem;
    outline: none;
}
.dopskll{
    margin-right: .6rem;
    font-size: .32rem;
    color: #666666;
}
.number-box{
    display: flex;
    padding: .1rem 0;
}
@media (max-width:767px){
    .main-option{
        align-items: flex-start !important;
    }
    .number-box{
        flex-direction: column;
    }
    .dopskll{
        margin: 0 0 .4rem 0 !important;
    }
    .ton{
        margin-top: 0 !important;
    }
}
.third{
    background: url(../img/666.png) no-repeat 5px -74px;
}
.on{
    line-height: 2rem;
}
.main-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.86rem;
    border: .01rem solid #E8E8E8;
}
.red-button{
    width: 2rem;
    height: .6rem;
    border: none;
    border-radius: .2rem;
    outline: none !important;
    font-size: .32rem;
    color: #FFFFFF;
    background: #E15053;
}
/* 底部 */
footer{
    margin-top: 1rem;
    padding-top: .6rem;
    background: #F9F9F9;
}
.footer-word{
    font-size: .28rem;
    font-weight: 600;
    white-space: nowrap;
    color: #999999;
}
.about{
    margin-right: .3rem;
    font-size: .16rem;
    color: #999999 !important;
}
.about:hover{
    color: #1D7AD9 !important;
}
.about-margin{
    margin-top: .26rem;
}
@media (max-width:767px){
    .about-margin{
        margin-top: 0;
    }
}
.footer-right{
    display: flex;
    justify-content: flex-end;
}
@media (max-width:767px){
    .footer-right{
        justify-content: flex-start;
    }
    
}
.contact{
    font-size: .16rem;
    color: #999999 !important;
}
.ct{
    margin: .12rem 0;
}
.ewm{
    margin-left: .2rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../img/bb.png) no-repeat 0% 100%/100%;
}
/* 最底部蓝色 */
.footer-bottom{
    margin-top: .6rem;
    line-height: .8rem;
    font-size: .2rem;
    color: #FFFFFF;
    background: #1D7AD9;   
}
.text{
    display: flex;
    justify-content: center;
}
@media (max-width:767px){
    .text{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.word-end{
    padding: 0 .1rem;
}