body {
  margin: 0;
  background: #29bde0;
}

header {
  background: #29b;
  text-align: center;
  color: white;
  padding: 10px;
}

header .img-one {
  float: left;
}

header .img-two {
  float: right;
}

main {
  padding: 20px;
}

main img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

main .p-killer {
  text-align: center;
  position: relative;
  top: -44px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

main .p-2 {
  color: #ffc865;
  font-weight: bold;
  font-size: 16px;
}

main .p-3 {
  color: white;
}

main .p-4 {
  color: white;
}

footer .wihte {
  background: white;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-top: 1px;
}

footer .p-footer {
  color: #515151;
}

footer .p-footer-1 {
  color: #d6d6d6;
}

footer .p-footer-2 {
  color: #d6d6d6;
}

.btn {
  position: fixed;
  height: 64px;
  line-height: 62px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(153, 223, 240, 0.5);
}

.btn button {
  border: none;
  height: 43px;
  width: 135px;
  border-radius: 7px;
}

.btn .btn-1 {
  background: #f66f6f;
}

.btn .btn-2 {
  background: #fbb435;
  margin-left: 19px;
}

.btn a {
  text-decoration: none;
  color: white;
}
