@charset "UTF-8";
body {
    font-size: 62.5%;
    margin: 0;
    background-color: #fafafa;
}

/*head-top*/

.tel-word {
    font-size: 13px;
    line-height: 30px;
    white-space: nowrap;
    color: #29b078;
}

.icon {
    white-space: nowrap;
    margin: 0.3rem 0 0.3rem 0;
}

.icon1,
.icon2,
.icon3 {
    margin: 1rem 1rem;
}

/*head-middle*/

.nan-ul{
    height: 97px;
}

.line1 {
    color: #29b078;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.line2 {
    margin-right: 0;
}

.link1,
.link2,
.link3,
.link4 {
    padding: 0 1rem;
    height: 97px;
    font-size: 14px;
    border-bottom: 4px solid #29b078;
    background-color: #29b078 !important;
}

.link1 {
    border-bottom: 4px solid #ffffff;
}

.link2 {
    border-bottom: 4px solid #29b078;
}

.link3 {
    border-bottom: 4px solid #29b078;
}

.link4 {
    border-bottom: 4px solid #29b078;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
    border-bottom: 4px solid #ffffff;
}

@media (max-width: 768px){
    .link1,
    .link2,
    .link3,
    .link4{
        height: auto;
    }
}

.a-word {
    margin-top: 20px;
    text-align: center;
    color: #ffffff !important;
}

@media (max-width: 768px){
    .a-word {
        margin-top: 0;
    }
}

.nav-pic {
    width: 90%;
}

.nav-box {
    background-color: #29b078;
    margin-bottom: 0;
}

.navbar-default {
    border: 0;
    border-radius: 0;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0;
    }
}

.navbar-header {
    text-align: center;
}

.nav-btn {
    margin: 1.5rem 0;
    float: right;
}

.nav-logo {
    width: 30rem;
    height: 97px;
    padding: 1rem 0 1rem 0;
}

.a-pic {
    text-decoration: none;
}

/*轮播图片*/

#myCarousel {
    margin: 0;
}

.carousel-inner img {
    margin: 0 auto;
}

.carousel-control {
    font-size: 30px;
}

.nav-box {
    margin-bottom: 0;
}

/*icon and description*/

p {
    text-align: center;
}

h4 {
    font-weight: 700;
}

.line5,
.line6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line5 {
    margin-top: 5rem;
}

@media screen and (min-width: 768px) {
    .line5,
    .line6{
        flex-direction: row;
    }
}

.home-tag-icon7 {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 1px dashed #bdbdbd;
}

@media screen and (max-width: 768px) {
    .home-tag-icon7 {
        border: none;
    }
}

.home-tag-icon {
    float: left;
}

.icon5, .icon6 {
    height: 62px;
}

.icon7 {
    margin-bottom: 5px;
}

.number {
    font-size: 14px;
    color: #29b078;
}

.icon-word1 {
    font-size: 14px;
    color: #bdbdbd;
}

.icon-word2 {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    color: #bdbdbd;
}

.carousel-img {
    width: 100%;
    max-height: 500px;
}

/*如何学习*/

.line7 {
    padding-left: 0;
    padding-right: 0;
}

.icon-word3 {
    text-align: center;
    font-weight: 700;
    margin-top: 3rem;
}

.icon-word4 {
    width: 110px;
    height: 50px;
    font-size: 12px;
    margin-top: 15px;
    color: #999999;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px 1px #e6e5e6;
    color: #29b078;
    background-color: #ffffff;
}

.study-box {
    width: 90%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.icon8-pic {
    margin-top: 10px;
    border: 1px solid #fafafa;
}

.h-word {
    margin-top: 15px;
}

/*优秀学院展示-轮播*/

.student-icon {
    padding: 30px;
    margin: 1rem 1rem;
    border-radius: 4px;
    box-shadow: 0 1px 1px 1px #e6e5e6;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.student-box {
    margin: 2rem 0;
}

.icon9,
.icon10,
.icon11,
.icon12 {
    margin-bottom: 15px;
}

#myCarouse2 {
    margin: 0;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #29b078;
}

.carousel-indicators2 {
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: -10px;
    }
}

.dot{
    box-shadow: 0 1px 1px 1px #888888;
}

/*战略合作企业*/

.line4 {
    padding-right: 2px;
    padding-left: 2px;
}

.line8{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .line8{
        flex-direction: row;
    }
}

.line10 {
    width: 100%;
    background-color: #29b078;
}

.company {
    margin-bottom: 20px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.company:hover {
    border: 1px solid #e2e2e2;
}

.icon13,
.icon14,
.icon15,
.icon16,
.icon17 {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .line8{
        width: 90%;
        margin-left: 5%;
    }
}

/*footer-top*/

.icon-word5 {
    text-align: center;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.line11 {
    width: 100%;
    margin-top: 6rem;
    background-color: #ffffff;
}

.web-link1 {
    text-align: center;
    background-color: #ffffff;
}

.footer-ul {
    margin: 5px -15px;
    display: inline-block;
    cursor: pointer;
}

.footer-li {
    margin: 1rem 3rem;
    font-size: 12px;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
}

.footer-li:hover {
    border-bottom: 1px solid #29b078;
}

/*footer-middle*/

.web-link2 {
    padding: 0 15px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #ffffff;
}

.line9 {
    width: 90%;
    margin-left: 5%;
    padding-right: 0;
    padding-left: 0;
    background-color: #29b078;
}

.footer-word2 {
    margin-top: 20px;
    margin-left: -50px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer-word2 {
        margin-left: 0;
    }
}

.footer-word4 {
    margin-top: 20px;
    margin-left: -10px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer-word4 {
        margin-left: 0;
    }
}

.footer-word1 {
    font-size: 12px;
    display: inline-block;
    list-style-type: disc;
    cursor: pointer;
    color: #ffffff;
    border-bottom: 1px solid #29b078;
}

.footer-word3 {
    padding: 0 5px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.footer-word6 {
    padding: 0 0 0 5px;
}

.footer-line1 {
    margin-top: 20px;
}

.footer-line2 {
    margin-top: 15px;
    margin-left: 40px;
}

@media screen and (max-width: 768px) {
    .footer-line2 {
        margin-left: 0;
    }
}

.footer-line3 {
    margin-top: 15px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .footer-line3 {
        margin-left: 0;
    }
}

.footer-word1:hover {
    border-bottom: 1px solid #ffffff;
}

.footer-word5 {
    line-height: 20px;
    border-top: 1px solid #ffffff;
    color: #ffffff;
}

.foot-right {
    margin-bottom: 20px;
}

.line10 {
    width: 100%;
    background-color: #29b078;
}

.bottom-img{
    padding-right: 0;
    padding-left: 0;
    margin: 2px 1px;
    border: 1px solid #ffffff;
}

.bottom-img:hover{
    box-shadow: 0 2px 2px 2px #e6e5e6;
}