html {
	font-size: 625%;
}
body {
	background-color: #EFF0F4;
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 478%;
	}
}
@media only screen and (max-width: 767px) {
	html {
		font-size: 312%;
	}
}


.top {
	width: 100%;
	height: .9rem;
	background-color: #5FC0CD;
	font-size: .36rem;
	color: #FFF;
	line-height: .9rem;
	text-align: center;
}
.close {
	font-size: .32rem;
	margin-left: .3rem;
	float: left;
}
.register {
	font-size: .32rem;
	margin-right: .3rem;
	float: right;
}

a {
	text-decoration: none;
	color: #FFF;
}



.content-user {
	width: 100%;
	border: none;
	outline: none;
	font-size: .32rem;
	background-image: url(images/01.png);
	background-size: .75rem .51rem;
	background-position: .4rem center;
	background-repeat: no-repeat;
	padding: .295rem 0;
	text-indent: 1.43rem;
}
.content-password {
	width: 100%;
	border: none;
	outline: none;
	font-size: .32rem;
	background-image: url(images/02.png);
	background-size: .75rem .51rem;
	background-position: .4rem center;
	background-repeat: no-repeat;
	padding: .295rem 0;
	text-indent: 1.43rem;
}
.content-user::-webkit-input-placeholder {
	color: #E1E5E7;
}
.content-password::-webkit-input-placeholder {
	color: #E1E5E7;
}

.log {
	width: 100%;
	height: 1rem;
	font-size: .36rem;
	line-height: 1rem;
	background-color: #5FC0CD;
	text-align: center;
	margin-top: .68rem;
	margin-bottom: .2rem;
}
.forget {
	font-size: .32rem;
	color: #5FC0CD;
	float: right;
	margin-right: .3rem;
}
#font-color {
	color: #5FC0CD;
}