
header {
    padding: 25px 0;
}
main {transition: all .5s ease-in-out .1s;}
input[type="checkbox"] {display: none;}
.menu {
    position: fixed;
    z-index: 999999;
    top: 10px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 0px 0;
}
.icon-bar {margin: 4px 0;}
.nav {
    position: fixed;
    z-index: 999999;
    top: 50px;
    left: -80vw;
    width: 80vw;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 10px inset;
    transition: all .5s ease-in-out .1s;
}
.nav a {text-decoration: none;}
.nav>ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: #bfc0c1 1px solid;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #34bddd;
    
}
/*input checkedæ—¶*/
input[type="checkbox"]:checked ~ .nav {
    left: 0;
}
input[type="checkbox"]:checked ~ main {
    margin-left: 80vw;
}

