body {
  margin: 0;
  background: #f0f0f0;
}
p {
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 2.75rem;
  font-size: 0;
  background: #29bde0;
}
header img {
  width: .8rem;
  margin-left: .5rem;
  vertical-align: middle;
}
header + p {
  line-height: 2rem;
  margin: 3rem 2% .25rem;
  text-align: center;
  background: #fff;
}
p + div {
  display: flex;
  height: 10rem;
  margin: 0 2%;
  background: #fff;
}
p + div img {
  width: 2rem;
  height: 2rem;
  margin-left: 4%;
  border-radius: 50%;
  vertical-align: middle;
}
p + div span {
  font-size: .8rem;
  vertical-align: middle;
}
p + div span span {
  vertical-align: initial;
}
p + div > div {
  width: 50%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  margin: .25rem 2%;
  padding: .5rem 1rem;
  background: #fff;
}
ul li {
  display: flex;
  color: #ccc;
  line-height: 3rem;
  border-bottom: solid #ccc .07rem;
  overflow: hidden;
}
ul li span {
  word-break: keep-all;
}
ul li input {
  width: 100%;
  color: orange;
  outline: none;
  border: none;
}
ul + div {
  margin: 0 2%;
  padding: 1rem 0;
  background: #fff;
  text-align: center;
}
ul + div input {
  width: 2rem;
  height: 1.5rem;
  border-radius: .15rem;
  outline: none;
  border: none;
  color: green;
  background: #ccc;
  margin: 0 .5rem;
  text-align: center;
}
ul + div span {
  vertical-align: middle;
}
ul + div span:first-child {
  font-size: 1rem;
}
ul + div span:last-child {
  font-size: .8rem;
  color: orange;
}
div + button {
  width: 96%;
  height: 3rem;
  margin-left: 2%;
  margin-top: 1rem;
  font-size: 1.2rem;
  background: orange;
  border: none;
  outline: none;
}
button + div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(61, 61, 61, 0.8);
}
button + div div {
  width: 70%;
  margin: 10rem auto;
  background: #fff;
  border-radius: .15rem;
}
button + div div span {
  display: block;
  padding: 4rem 0 0 2rem;
}
button + div div button {
  float: left;
  width: 50%;
  padding-top: 1rem;
  outline: none;
  border: none;
  border-top: solid #ccc .07rem;
  height: 4rem;
  background: #fff;
  box-sizing: border-box;
}
button + div div button:nth-child(2) {
  border-right: solid .07rem #ccc;
}
#pop-up {
  display: none;
}
