body {
  margin: 0;
  background: #29bde0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: solid #fff .07rem;
}
header img {
  width: .8rem;
  margin-left: .5rem;
  padding-right: .8rem;
}
header div {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}
header div::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: .2rem;
  margin-top: -0.1rem;
  transform: rotate(45deg);
  background-color: #fff;
}
header div::after {
  content: "";
  position: absolute;
  left: 50%;
  width: .2rem;
  height: 1.5rem;
  margin-left: -0.1rem;
  transform: rotate(45deg);
  background-color: #fff;
}
header + div {
  text-align: center;
  position: relative;
  width: 70%;
  height: 21rem;
  margin: 3rem auto;
  background: #ffedc5;
  border: solid .15rem #fff;
}
header + div span:first-child {
  position: absolute;
  left: 50%;
  top: -1rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  margin-left: -1rem;
  color: red;
  background: #fff;
  border: solid #ffedc5 .1rem;
}
header + div img {
  display: none;
  width: 8rem;
  margin: 4rem auto;
}
header + div img:last-child {
  display: block;
  width: 8rem;
  margin: 6rem auto 0;
}
header + div p {
  display: none;
}
button {
  display: block;
  width: 75%;
  line-height: 3rem;
  margin: auto;
  font-size: 1.2rem;
  outline: none;
  border: none;
  color: #fff;
  background: orange;
}
#transmit {
  display: none;
}
