.inner {
    margin: auto;
    width: 70%;
    padding-bottom: 70%;
    box-sizing: content-box;
    border: 1vw solid #fff;
    /*去除缝隙*/
    background: #fff;
}

.inner .content {
    /*真正放内容的地方*/
    text-align: center;
}

.inner .content .top {
    height: 75%;
    background-image: url('../image/checkThis.png');
    background-size: auto 100%;
}

.inner .content .top.hi2de {
    background: #f5c97b;
}

.inner .content .bottom {
    background: #38a0c1;
    color: #ffffff;
    height: 25%;
}