.everyDay .todayIndex {
    text-align: center;
}

.everyDay .option {
    text-align: center;
    line-height: 30px;
    background: #f0f0f0;
    position: relative;
    margin: 10px 40px;
    cursor: pointer;
    position: relative;
}

.everyDay .option .log {
    position: absolute;
    left: 0;
    bottom: -30px;
    margin: 0;
    padding: 0;
    font-size: 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: left;
}

.everyDay .option.day {
    margin-bottom: 30px;
}

.everyDay .option.checked {
    background: red;
    opacity: 0.5;
}

.everyDay .option.day:after, .everyDay .option.night:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
    background-repeat: no-repeat;
    background-position: center center;
}

.everyDay .option.day:after {
    /*白天*/
    background-image: url("../image/day.png");
}

.everyDay .option.night:after {
    /*晚上*/
    background-image: url("../image/night.png");
}