.preGame {
    line-height: 70px;
    text-align: center;
    color: #cccccc!important;
    cursor: pointer;
    font-size: 25px;
    display: block;
}

.preGame:hover {
    color: #cccccc;
}

.gameListTitle {
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    color: #fbb435;
    border-bottom: 2px solid #fbb435;

}

#homeCarousel {
    padding-bottom: 50px;
}

#homeCarousel .carousel-indicators li {
    background: #f0f0f0;
}

#homeCarousel .carousel-indicators li.active {
    background: #fbb435;
}

#homeCarousel .left, #homeCarousel .right {
    background-image: none;
    width: auto;
    height: auto;
    height: 30px;
    font-size: 30px;
}

#homeCarousel .left {
    left: 10px !important;
}

#homeCarousel .right {
    right: 10px !important;
}

#homeCarousel .perGame {
    width: 80%;
    margin: auto;
    display: block;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    background: #69d1e9;
    margin-top: 30px;
    color: #ffffff;
    margin-bottom: 30px;
}