#softHeader {
    line-height: 70px;
    background: #29bde0;
}

.defaultStyleToWrap {
    box-shadow: 0 0 1px #333;
    margin-top: 30px;
    background: #ffffff;
    border-radius: 1vw;
}

.fixedBottomBtn {
    display: block;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    background: #fbb435;
    background-clip: content-box;
    font-size: 25px;
    border: solid #29bde0;
    border-width: 3vw 10vw;
    color: #fff;
}