.inner .content .top {
    height: 75%;
    background-image: none !important;
    background-color: #f5c97b;
    background-size: auto 100%;
}

.inner .content.isLive {
}
.inner .content.isLive:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 99;
    background: red;
    left: 0px;
    top:0px;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
}
.inner .content .imgTips {
    width: 100%;
    bottom: -40px;
}

.inner .content .imgTips img {
    height: 25px;
}