ul,
ol {
    list-style: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #ffffff;
}

input:disabled {
    background: #ccc;
}

.fff {
    color: #fff !important;
}

a:hover {
    text-decoration: none !important;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fff {
    color: #fff;
}

.POSrel {
    position: relative;
}

.POSabs {
    position: absolute;
}

.POSfixed {
    position: fixed;
}

.Ycenter {
    top: 50%;
    transform: translateY(-50%);
}

.Xcenter {
    left: 50%;
    transform: translateX(-50%);
}

.Xleft {
    left: 0 !important;
}

.Xright {
    right: 0 !important;
}

.Ytop {
    top: 0;
}

.Ybottom {
    bottom: 0;
}

.XYcenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input, img {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

/*input number默认样式*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    border-radius: 1vw;
    background: #f4f4f3;
    border: none;
    outline: none;
    -moz-appearance: textfield;
}

input[type="number"]:disabled {
    background: #ffffff;
}
