body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5rem;
    
    background-color: #29bde0;
    color: #fff;
    align-items: center;
    border-bottom: #74d4eb solid 0.06rem;
    
}

.house {
    width: 1.625rem;
    margin-left: .6rem;
}

.n {
    width: 1.25rem;
    margin-right: .6rem;
}



.box {
    height: 19.5rem;
    
    margin-top: 2.5rem;
    background-color: #29bde0;
}

.box1 {
    text-align: center;
}

.victory {
    width: 10.9rem;
    margin-top: 1rem;
    
}

.over {
    
    font-size: 1.03rem;
    padding: 0.5rem 2.7rem;
    margin: 0;
    color: #ffc865;
}

.box2 {
    padding: 0.8rem 2.7rem;
    font-size: 0.79rem;
    color: #fff;
}

.nowrap {
    white-space: nowrap;
}

 

.record {
    padding: .8rem 2.7rem;
    border-bottom: solid #ddd .06rem;


}
.record1 {
    margin-bottom: 4rem;
}

.first {
    display: flex;
    justify-content: space-between;

}
.size-color1 {
    font-size: 1rem;
    color: #515151;
}
.size-color2 {
    font-size: .75rem;
    color: #d5d5d5;
}
.size-color3 {
    font-size: .875rem;
    color: #a6a6a6;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    
    background-color:rgba(153,223,240,0.5) ;
    
       
}
.option {
    width: 8.46rem;
    height: 2.68rem;
    line-height: 2.68rem;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
    
    color: #fff;
    border-radius: 0.3rem;
   
}
.option1 {
    background-color: #f66f6f;
}
.option2 {
    background-color: #fbb435;
}