html{
    font-size: 312.5%;
}
body{
    margin: 0;
    font-size: initial;
    background-color: #F0F0F0;
}
header{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: .88rem;
    background-color: #29BDE0;
    z-index: 1;
}
.header-left{
    margin-left: .22rem;
    padding: .07rem 0;
    width: .34rem;
    height: .04rem;
    border-top: .04rem solid #FFFFFF;
    border-bottom: .04rem solid #FFFFFF;
    background: #FFFFFF content-box;
}
.main-top{
    display: flex;
    position: relative;
    margin: 1.15rem .36rem .27rem .36rem;
    justify-content: center;
    align-items: center;
    border: .01rem solid #C9C9C9;
    height: 1.16rem;
    font-size: .35rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .04rem;
    color: #9A9A9A;
    background-color: #FFFFFF;
}
.main-top::after{
    position: absolute;
    content: "";
    right: .2rem;
    width: .3rem;
    height: .3rem;
    border-top: .06rem solid #E7E7E7;
    border-right: .06rem solid #E7E7E7;
    transform: rotate(45deg);
}
ul{
    margin: 0 .36rem 1.5rem .36rem;
    padding: 0;
    text-align: center;
    background-color: #FFFFFF;
    list-style: none;
    border: .01rem solid #C9C9C9;
}
li{
    position: relative;
}
.game{
    line-height: .9rem;
    font-size: .38rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .04rem;
    color: #FBB435;
    border-bottom:.02rem solid RGBA(251, 180, 53, 0.7);
}
.click-button{
     margin: .3rem auto;
     width: 80%;
     line-height: 1.34rem;
     font-size: .32rem;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     letter-spacing: .04rem;
     border-style: none;
     outline: none;
     color: #FFFFFF;
     background-color: #69D1E9;
}
.main-button{
    margin: .3rem auto;
     width: 80%;
     line-height: 1.34rem;
     font-size: .32rem;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     letter-spacing: .04rem;
     border-style: none;
     outline: none;
     color: #FFFFFF;
     background-color: #69D1E9;
}
.main-button::after{
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -.28rem;
    right: .15rem;
    border-left: .3rem solid #FBB435;
    border-top: .28rem solid transparent;
    border-bottom: .28rem solid transparent;
}
.user{
    font-size: .24rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #787878;
}
.main-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1rem;
    height: .4rem;
}
li>span{
    width: .17rem;
    height: .17rem;
    border-radius: 50%;
    background-color: #F0F0F0;
}
.blue-ball{
    background-color: #69D1E9;
}