<div class="login-backcolor" ng-controller="loginCtrl">
    <div class="login-formbox">
        <div class="col-md-4 col-md-offset-4">
            <div class="col-md-10 col-md-offset-1">
                <div class="login-form">
                    <form>
                        <input class="login-user" type="text" placeholder="用户名" ng-model="user" required>
                        <input class="login-pass" type="password" placeholder="密码" ng-model="pass" required>
                        <div class="login-tips">
                            <span ng-model="tips">{{tips}}</span>
                        </div>
                        <button class="login-send" ng-click="tohome()">登陆</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>