@charset "UTF-8";
/**
 * 
 * @authors 汤镇铭Michael (15977536060@163.com)
 * @date    2017-11-24 13:46:57
 * @version $Id$
 */
.container {
	width: 100%;
}



.header {
	position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.header-col {
	background-color: #29bde0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 18px;
}
.img {
	transform: scale(.5,.5);
}








.middle {
	position: absolute;
    top: 42px;
    width: 100%;
}
.middle-col {
	background-color: #29bde0;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #74d4eb;
}
.img-victory {
	width: 200px;
	align-self: center;
	padding: 10px 0px;
}
.middle-p-1 {
	color: #ffc865;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 20px;
	height: 75px;
}
.middle-p-2 {
	color: white;
	padding: 10px 20px 0px;
	height: 110px;
}








.main {
	position: absolute;
    width: 100%;
    /*overflow: auto;*/
    top: 384px;
    bottom: 0px;
    /*height: 142px;*/
    margin-top: 1px;
}
.main-col {
	border-bottom: 1px solid #dddddd;
}
.main-p {
	padding-top: 6px;
}
.main-p-1 {
	padding: 0px 20px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.main-p-3 {
	color: #d6d6d6;
	/*align-self: flex-end;*/
	font-size: 10px;
}
.main-p-4 {
	padding: 0px 20px;
	color: #a6a6a6;
}
.blank {
	height: 90px;
}











.footer {
	position: fixed;
	bottom: 0px;
	background-color: rgba(119,190,206,.5);
	width: 100%;
	color: white;
	font-size: 18px;
	/*opacity: .5;*/
}
.footer-col {
	display: flex;
	justify-content: space-around;
}
.footer-p-1 {
	background-color: #f66f6f;
}
.footer-p-2 {
	background-color: #fbb435;
}
.footer-p-1,
.footer-p-2 {
	padding: 8px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    width: 136px;
    text-align: center;
}
.footer-a:link,
.footer-a:visited,
.footer-a:hover,
.footer-a:active {
	text-decoration: none;
	color: white;
}