html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 640px;
  margin: 0 auto;
  background-color: #29bde0;
}
.all-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  display: flex;
  display: -webkit-flex;
  max-width: 640px;
  min-height: 88px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  background-color: #29bde0;
  box-sizing: border-box;
}
.header img {
  height: 3rem;
}
.header__title {
  font-size: 3.4rem;
}
main {
  position: absolute;
  top: 88px;
  bottom: 18em;
  width: 100%;
  max-width: 640px;
  overflow: auto;
}
.row {
  margin: 5em 0;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 2.6rem;
  color: white;
}
.identity {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  border: 2px solid white;
}
.identity:hover + .identity__kill {
  visibility: visible;
}
.identity__name {
  padding: 1.2em 0;
  background-color: #65b4d8;
}
.identity__number {
  position: absolute;
  top: 97px;
  bottom: 0;
  width: 100%;
  font-size: 2.2rem;
  background-color: #3ca4c4;
}
.identity__kill {
  margin: 1em 0 -1em 0;
  visibility: hidden;
}
footer {
  position: fixed;
  width: 100%;
  max-width: 640px;
  bottom: 0;
  height: 18em;
  padding: 5em 0;
  text-align: center;
  box-sizing: border-box;
}
footer .start {
  width: 12em;
  border: none;
  padding: 0.5em 0;
  background-color: #ee9f1b;
  color: white;
  font-size: 4rem;
}
