@import "reset";
@import "mixin";
@import "variable";
body {
    background: #F0F0F0;
}

a {
    text-decoration: none;
}

$blue: #69D1E9;
$gray:#9A9A9A;
@mixin mune-detail-style {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
    overflow: hidden;
}

// 隐藏内容
@mixin arrowhead {
    content: "";
    border: 3px solid transparent;
    border-top: 3px solid $gray;
    border-right: 3px solid $gray;
    display: inline-block;
    width: .17rem;
    height: .17rem;
    transform: rotate(45deg);
}

// 箭头
@mixin collapse-menu-arrowhead {
    border-top: 3px solid $blue;
    border-right: 3px solid $blue;
    margin-right: .1rem;
}
// 隐藏内容的箭头修改

// ——————————————————————————————

.box {
    position: relative;
}

input {
    display: none;
}

.menu-detail {
    @include mune-detail-style();
    background: $white;
    li {
        padding: .1rem;
        @include vertical-center;
        justify-content: space-between;
        border-bottom: 1px solid $gray;
        font-size: .14rem;
        color: $blue;
        width: 100%;
        height: .5rem;
    }
    li::after {
        @include arrowhead();
        @include collapse-menu-arrowhead();
    }
}
// 菜单内容

#collapse-menu:checked~.content {
    margin-left: 50vw;
}
// 点击后右边内容右移，让菜单显示

.content {
    position: relative;
    background: #F0F0F0;
    overflow: hidden;
    transition: all .5s;
}
// 右边内容样式

/* ____________隐藏内容________________*/

header {
    @include position-style;
    top: 0;
    @include header;
    div {
        @include menuicon-line;
    }
}

// 页眉、定位、菜单按钮
@mixin main-border {
    background: $white;
    border: 1px solid #C9C9C9;
}

// 内容区边框和背景颜色
main {
    width: 100vw;
    margin-top: .42rem, ;
    padding: .14rem .18rem 0 .18rem;
}

// 主内容样式
.last-time {
    margin-bottom: .14rem;
    @include vertical-center;
    @include main-border();
    position: relative;
    span {
        display: inline-block;
        padding: .2rem .35rem .2rem .54rem;
        color: $gray;
        font-size: .18rem;
        font-weight: 300;
    } // 文字
    i {
        position: absolute;
        right: .1rem;
        @include arrowhead();
    } // 箭头
} // 内容区第一个边框
.game-edition {
    background: $white;
    >span {
        @include vertical-center;
        color: #FBB435;
        font-size: .19rem;
        letter-spacing: $spacing-gap;
        border-bottom: 1px solid #Fbb435;
        padding: .13rem 0;
        margin-bottom: .15rem;
    } // 捉鬼游戏
    div {
        background: #69D1E9;
        margin: 0 .4rem .15rem;
        ;
        padding: .26rem 0;
        @include vertical-center;
        span {
            color: $white;
            letter-spacing: $spacing-gap;
        }
    } // 方框及字体
    p {
        font-size: .12rem;
        color: #787878;
        letter-spacing: $spacing-gap;
        text-align: center;
        padding-bottom: .28rem;
    } // 边框下的文字
}

// 版本选择区
.next-icon {
    position: relative;
}

// 实心三角形箭头
.next-icon::after {
    content: "";
    position: absolute;
    top: .23rem;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border: .14rem solid transparent;
    border-left: .2rem solid #FBB435;
}

// 实心三角形箭头
.dot-group {
    background: $white;
    @include vertical-center;
    i {
        display: inline-block;
        margin: .1rem .05rem;
        width: .15rem;
        height: .15rem;
        border-radius: 50%;
        background: #F0F0F0;
    }
    i:hover {
        background: $blue;
    }
}

// 圆点组