<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!--service1-->
    <bean class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1111/homePage"/>
        <property name="serviceInterface" value="com.ptt.service.IHomePageService"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1111/recommend"/>
        <property name="serviceInterface" value="com.ptt.service.IRecommendService"/>
    </bean>
    <bean id="studentService1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1111/student"/>
        <property name="serviceInterface" value="com.ptt.service.IStudentService"/>
    </bean>
    <bean class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1111/profession"/>
        <property name="serviceInterface" value="com.ptt.service.ITProfessionService"/>
    </bean>

    <!--service2-->
    <bean id="studentService2" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1112/student"/>
        <property name="serviceInterface" value="com.ptt.service.IStudentService"/>
    </bean>
</beans>