<div class="banner" id="banner"> 
    <div class="slide-box">
        <a href="#" class="slide active">
            <img src="http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/1/d4ddb42c-5e07-4d86-809f-e08898aa800d.jpg" alt="">
        </a>
        <a href="#" class="slide">
            <img src="http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/1/f890f0bb-ba6d-417e-9851-89a948a61d77.png" alt="">
        </a>
        <a href="#" class="slide">
            <img src="http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/1/3a15425b-c947-4222-8558-0bf01cc36513.png" alt="">
        </a>
        <a href="#" class="slide">
            <img src="http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/1/716b4d3b-5e13-4bdd-ae6f-99b90ab2bd66.png" alt="">
        </a>
        <a href="#" class="slide">
            <img src="http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/1/d4511b09-f892-49e0-b9d1-ed73a185ce2e.jpeg" alt="">
        </a>
        <a href="#" class="slide">
            <img src="http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/1/0d9944f1-6aad-4894-b42e-72dadcfef058.png" alt="">
        </a>
    </div>
    <div class="banner-btn-left" id="banner-btn-left">
        <span></span>
    </div>
    <div class="banner-btn-right" id="banner-btn-right">
        <span></span>
    </div>
    <div class="banner-dots">
        <span class="active"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>