<div class="container">
    <div class="row feature">
        <div class="col-md-3 col-sm-12 card">
            <div class="rocket"></div>
            <h4>高效</h4>
            <p>将五到七年的成长时间，缩短到一年到三年</p>
        </div>
        <div class="col-md-3 col-sm-12 card">
            <div class="archive"></div>
            <h4>规范</h4>
            <p>标准的实战教程，不会走弯路</p>
        </div>
        <div class="col-md-3 col-sm-12 card">
            <div class="shape"></div>
            <h4>人脉</h4>
            <p>同班好友，同院学长，技术大师，入学就混入职脉圈，为以后铺平道路</p>
        </div>
        <div class="col-md-3 col-sm-12 last-card">
            <div class="student-number">
                <span>12400</span>
            </div>
            <p>累计在线学习人数</p>
            <div class="student-number">
                <span>12400</span>
            </div>
            <p>学员已经找到满意工作</p>
        </div>
    </div>
</div>
