<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="job-filter">
                <div class="job-filter-l">
                    方向：
                </div>
                <div class="job-filter-r">
                    <a href="#" class="action">全部</a>
                    <a href="#web">前端开发</a>
                    <a href="#java">后端开发</a>
                    <a href="#move">移动开发</a>
                    <a href="#all">整站开发</a>
                </div>
            </div>
        </div>
    </div>
</div>