<footer>
    <div class="container">
        <div class="row more-info">
            <div class="col-md-5 col-sm-4 col-xs-12">
                <p>技能树——改变你我</p>
                <p>
                    <a href="#">关于我们</a> |
                    <a href="#">联系我们</a> |
                    <a href="#">合作企业</a>
                </p>
            </div>
            <div class="col-md-5 col-sm-4 col-xs-12">
                <p>旗下网站</p>
                <p>
                    <a href="#">草船云孵化器</a>
                    <a href="#">最强IT特训营</a>
                </p>
                <p>
                    <a href="#">葡萄藤轻游戏</a>
                    <a href="#">桌游精灵</a>
                </p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12 qr-code">
                <p>微信公众平台</p>
                <div>
                    <img src="images/qrcode.jpg" alt="二维码">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>Copyright © 2015 北京葡萄藤信息技术有限公司</span>
        <span>All Rights Reserved | 京ICP备15035574号-1</span>
    </div>
</footer>