<header>
    @@include('_topbar.html')
    <nav>
        <div class="container">
            <div class="nav-header">
                <a class="logo" href="index.html">
                    <img src="images/logo.png" alt="技能树">
                </a>
                <button id="btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
    
            <div class="nav-menu" id="nav-menu">
                <ul>
                    <li>
                        <a href="index.html" @@if (context.index === 'active') { class="active" }>首页</a>
                    </li>
                    <li>
                        <a href="job.html" @@if (context.job === 'active') { class="active" }>职业</a>
                    </li>
                    <li>
                        <a href="partner.html" @@if (context.partner === 'active') { class="active" }>推荐</a>
                    </li>
                    <li>
                        <a href="#">关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>