<div class="job-card">
    <!-- 头像和职业说明 -->
    <div class="card-header">
        <div class="user-head">
            <img src="images/head-1.jpg" alt="用户头像">
        </div>
        <div class="user-body">
            <div class="job-title">Web前端工程师</div>
            <p>Web前端开发工程师，主要职责是利用(x)HTML/CSS/JavaScript/flash等各种Web技术进行产品的开发。</p>
        </div>
    </div>
    <!-- 门槛、难易度、成长周期、稀缺性 -->
    <div class="card-row-1">
        <div>门槛
            <img src="images/star.png" class="ml-10">
        </div>
        <div>难易程度
            <img src="images/star.png" class="ml-10">
            <img src="images/star.png" class="ml-10">
        </div>
        <div>成长周期
            <span class="ml-10">
                <span class="color-red">1-3</span>年</span>
        </div>
        <div>成长周期
            <span class="ml-10">
                <span class="color-red">345</span>家公司需要</span>
        </div>
    </div>
    <div class="card-row-1"></div>
    <!-- 薪资待遇 -->
    <div class="card-row-2">
        <div class="card-row-2-left">薪资待遇</div>
        <div class="card-row-2-right">
            <div>
                <span class="card-row-2-right-l">0-1年</span>
                <span class="card-row-2-right-r">5-10k/月</span>
            </div>
            <div>
                <span class="card-row-2-right-l">1-3年</span>
                <span class="card-row-2-right-r">10-20k/月</span>
            </div>
            <div>
                <span class="card-row-2-right-l">0-1年</span>
                <span class="card-row-2-right-r">20-50k/月</span>
            </div>
        </div>
    </div>
    <!-- 学习人数 -->
    <div class="stu-number">
        有
        <span class="color-red">286</span>人正在学
    </div>
    <!-- 提示 -->
    <div class="hint">提示：在你学习之前你应该已经掌握XXXXX、XXXXX、XX等语言基础</div>
    <!-- 鼠标滑过后弹出框 -->
    <div class="hover-hint">
        <p class="hover-hint-title">iOS工程师</p>
        <p>iOS是由苹果公司开发的移动操作统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属 于类Unix的商业操作系统。国内iOS开 发起步相对较晚，人才培养机制更是远 远跟不上市场发展速度。有限的iOS开
            发人才成了国内企业必争的资源。国内 iOS开发起步相对较晚，人才培养机制 更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。</p>
    </div>
</div>