<div class="container job-list">
    <div class="row">
        <div class="col-md-12">
            <h4 class="job-list-title" id="web">前端开发方向</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="job-list-title" id="java">后端开发方向</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="job-list-title" id="move">移动端开发方向</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="job-list-title" id="all">全栈方向</h4>
        </div>
    </div>   

    <div class="row">
        <div class="col-md-4 col-sm-6">
            @@include('./_jobcard.html')
        </div>
    </div>

    <div class="space"><!--这里只是空白，用来排版--></div>

</div>