<div class="link">
    <div class="container">
        <h4>友情链接</h4>
        <div class="row">
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">教师招聘</a>
            </div>
            <div class="col-user">
                <a href="#">找工作啊</a>
            </div>
            <div class="col-user">
                <a href="#">找工作走</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">教师招聘</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">去找工作</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">找工作啦</a>
            </div>
            <div class="col-user">
                <a href="#">教师招聘</a>
            </div>
            <div class="col-user">
                <a href="#">要找工作</a>
            </div>
            <div class="col-user">
                <a href="#">教师招聘</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">教师招聘</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
            <div class="col-user">
                <a href="#">手机软件</a>
            </div>
        </div>
    </div>
</div>