<div class="side-nav">
    <div class="side-nav-title">合作企业</div>
    <ul>
        <li>
            <span class="round"></span>
            <a href="#">阿里巴巴</a>
    
        </li>
        <li>
            <span class="round"></span>
            <a href="#">腾讯视频</a>
        </li>
        <li>
            <span class="round action"></span>
            <a href="#" class="action">土豆网</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">阿里巴巴</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">腾讯视频</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">北京葡萄藤</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">阿里巴巴</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">腾讯视频</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">北京葡萄藤</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">阿里巴巴</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">腾讯视频</a>
        </li>
        <li>
            <span class="round"></span>
            <a href="#">北京葡萄藤</a>
        </li>
    </ul>
</div>