<div class="container">
    <div class="row student">
        <h4>优秀学员展示</h4>
        <div class="col-md-3 col-sm-6">
            <div class="stu-card">
                <div class="head-portait">
                    <img src="images/head-1.jpg" alt="学员头像">
                </div>
                <div class="job">技术顾问：小姐姐</div>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="stu-card">
                <div class="head-portait">
                    <img src="images/head-2.jpg" alt="学员头像">
                </div>
                <div class="job">技术顾问：小姐姐</div>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="stu-card">
                <div class="head-portait">
                    <img src="images/head-3.jpg" alt="学员头像">
                </div>
                <div class="job">技术顾问：小姐姐</div>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="stu-card">
                <div class="head-portait">
                    <img src="images/head-5.jpg" alt="学员头像">
                </div>
                <div class="job">技术顾问：小姐姐</div>
                <p>百度技术总监：互联网基础服务领域，从事虚拟主机、云服务器、域名。曾任新网高级技术经理，负责技术研发、团队管理与建设。</p>
            </div>
        </div>
        <div class="col-xs-12 dots">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>