<div class="container">
    <div class="row study">
        <h4>如何学习</h4>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">1</div>
                <div class="step-message">匹配你现在的个人情况 寻找适合自己的岗位</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">2</div>
                <div class="step-message">了解职业前景薪金待遇、竞争压力等</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">3</div>
                <div class="step-message">掌握行业内顶级技能</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">4</div>
                <div class="step-message">查看职业目标任务</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">5</div>
                <div class="step-message">参考学习资源，掌握技能点，逐个完成任务</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">6</div>
                <div class="step-message">加入班级，和小伙伴们互帮互助，一块学习</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">7</div>
                <div class="step-message">选择导师，一路指引，加速自己成长</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="step">
                <div class="step-number">8</div>
                <div class="step-message">完成职业技能，升级业界大牛</div>
            </div>
        </div>
    </div>
</div>