footer {
    margin-top: 10rem;
    width: 100%;
    background: $green;
    .footer-main {
        padding: .6rem 0;
        .font {
            line-height: 2.6rem;
            font-size: 12px;
            color: $white;
            .lin {
                &:hover {
                    border-bottom: solid 1px $white;
                }
            }
            .qr {
                width: 53%;
                @media(max-width: 768px){
                    width: 21% !important;
                }
            }
        }
    }
    .footer-end {
        border-top: solid 1px #32c086;
        line-height: 1.5rem;
        text-align: center;
        .end-font {
            font-size: 12px;
            color: $white;
        }
    }
}