.articleList{
  padding:30px;
  background-color: #F5F5F5;
}
#startTime,
#endTime,
#articleType,
#articleState{
  width:100%;
}
label{
  padding-top:7px;
}
.wordSpacing{
  word-spacing:25px;
}
#pages{
  width:auto;
}

.yeshu{
  width:40px;
  margin:0;
  display: inline;
}
.nomargin{
  margin:0;
}
.btmargin{
  line-height: 20px;
}
