html,body{
    font-size: 62.5%;
    background-color: #fafafa;
}
html,body,div,a{
    margin: 0;
    padding: 0;
    /*color: #ffffff;*/
}
/*--------------------header----------------------*/
header{
    background-color: #ffffff;
}
/*--------------header-top----------*/
.header-wrap-text{
    float:left;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #26a26f;
}
.header-wrap-image{
    text-align:right ;
}
.header-image{
    margin-top: 8px;
    margin-left: 10px;
}
/*-----------header-bottom------------*/

.jnshu-a{
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    position: absolute;
    /*left: 0;*/
    text-align: center;
    z-index: 999;
}

ul{
    text-align: center;
}
@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
}
/*@media (max-width: 400px) {*/
    /*.col-mian-12{*/
        /*float: left;*/
        /*width: 100%;*/
    /*}*/
/*}*/
.header-bottom{
    background-color: #26a26f;
}
nav.navbar{
    background-color: #26a26f;
    margin-bottom: 0;
    border: none;
    font-size: 15px;
}
.navbar-collapse{
    padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #26a26f;
    color: #ffffff;
}
.navbar-default .navbar-toggle{
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none ;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #26a26f;
}
header ul li{
    text-align: center;
}
header ul li a{
    margin: 0 auto;
    text-align: center;
    max-width: 100px;
}
.navbar-nav li:hover{
    border-bottom:2px solid #ffffff;
}

/*-------------------------------main-------------------------*/
.main-title{
    line-height: 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom:1px solid #d0d6d9;
}

.main-choose{
    line-height: 4rem;
}

.border-direction-p{
    /*display: inline-block;*/
    /*padding-left: 1rem;*/
    margin-right: 3rem;
    font-size: 1.4rem;
    color: #494949;
    word-break: keep-all;
}
.border-direction-p a{
    color: #494949;
    text-decoration: none;
}
.border-direction-p:hover >a{
    background-color: #29b078;
    color: #ffffff;
}
.border-direction-title{
    /*padding-left: 1rem;*/
    padding-right: 2rem;
    font-size: 1.4rem;
}
.main-subtitle{
    line-height: 5rem;
    font-size:1.6rem;
    font-weight: bold;
    border-bottom:1px solid #d0d6d9;
}
.main-subtitle a{
    color: #333333;
    text-decoration: none;
}
a:active, a:focus {
    outline:none;
}
.border-direction{
    border-bottom:1px solid #d0d6d9;
    /*padding-left: 15px;*/

}
.content{
    background-color: #ffffff;
    border: 1px solid #eeeded;
    margin-top: 3rem;
    margin-bottom: 1rem;
    z-index: 1;
}
.content-above{
    /*display:none ;*/
    visibility: hidden;
    background:#252525 ;
    border: 1px solid #eeeded;
    margin-top: 3rem;
    margin-bottom: 1rem;
    z-index: 2;
}
.content-above{
    position:absolute;
    opacity: 0.7;
    top:0rem;
    left:15px;
    right: 15px;
    bottom: 0rem;
    color: #ffffff;
}
.content-above-title{
    padding: 3rem 3rem;
    font-size: 1.4rem;
    text-align: center;
}
.content-above-p{
    padding:0 4rem ;
    font-size: 1.4rem;
}
.content-father:hover > .content-above{
     visibility: visible;
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #eeeded;
}
.resume-img{
    width: 40%;
    text-align: center;
}
.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.resume-p{
    padding: 1rem;
    width: 60%;
}
.resume-p p{
    font-size: 1.6rem;
}
.resume-p span{
    font-size: 1.2rem;
}
.content-level{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.8rem;
}
.content-level-left{
    width: 50%;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    /*border-top: 0;*/
    /*border-right: 0;*/
    /*border-left: 0;*/
}
.content-level-right{
    flex: 1;
    text-align: left;
    border: 1px solid #e6e6e6;
    border-top: 0;
    border-right: 0;
}

.salary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.salary-left{
    width:40% ;
    text-align: center;
    /*height: 100%;*/
    line-height: 93px;
    border: 1px solid #eeeded;
    border-top: 0;
    border-left: 0;
    margin-bottom: 0;
}
.salary-left p{
    margin: 0;
}
.salary-right{
    width: 60%;
}
.salary-right p{
    margin:0 ;
    border-bottom: 1px solid #e6e6e6;
    line-height: 30px;
}
.salary-right-left{
    display: inline-block;
    text-align: left;
    padding-left: 2rem;
}
.salary-right-right{
    /*display: inline-block;*/
    float: right;
}

.main-samecolor{
    color: #b8b8b8;
}

.learning{
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #eeeded;
}
.tips{
    line-height: 3rem;
    border-bottom: 1px solid #eeeded;
    /*margin-bottom: 1rem;*/
}
.number-color{
    color: #f01400;
}
/*---------------------------------footer---------------------------*/
footer{
    background-color: #26a26f;
    color: #ffffff;
    /*line-height: 20px;*/
}
@media (min-width: 500px)and (max-width:992px) {
    .col-xs-2-6{
        float: left;
        width: 50%;
    }
}
.footer-top{
    padding: 15px;
}
.footer-first-h{
    font-size: 15px;
}
.footer-first-p{
    font-size: 12px;
}
.copyright{
    line-height: 26px;
    border-top: 1px solid #fafafa;
    text-align: center;
}