html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}


/* 定义公共类 */

.separator {
    font-size: 0;
    padding: .17rem .14rem .12rem;
    border-left: .02rem solid #e1e5e7;
    margin-left: .28rem;
}

.text-gray {
    color: #999999;
}

.text-red {
    color: red;
}

header {
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #5fc0cd;
    position: fixed;
    font-size: .36rem;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
}

header img {
    width: 0.22rem;
    height: 0.38rem;
    position: absolute;
    left: 0.36rem;
    top: 50%;
    transform: translateY(-50%);
}

main {
    padding-top: 0.8rem;
    padding-bottom: 1.16rem;
}

.user {
    position: relative;
    width: 100%;
    height: 3.27rem;
    background-image: url(img/bgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.user img {
    position: absolute;
    top: 50%;
    left: .3rem;
    width: 1.69rem;
    height: 1.69rem;
    transform: translateY(-50%);
}

.user .user-msg {
    position: absolute;
    left: 2.8rem;
    top: 50%;
    transform: translateY(-50%);
    color: #f0f0f1;
    font-size: 0;
}

.user .name {
    font-size: .36rem;
    margin-left: -0.35rem;
}

.user .age {
    float: right;
    margin-top: .06rem;
    font-size: .28rem;
}

.user p {
    font-size: .26rem;
    position: relative;
    margin: 0;
    margin-top: .15rem;
}

.user p img {
    position: absolute;
    left: -.35rem;
    margin-top: .01rem;
    width: .18rem;
    height: .23rem;
}

main .skill {
    display: flex;
    align-items: center;
    height: 1rem;
    font-size: .32rem;
    border-bottom: .01rem solid #e1e5e7;
}

main .skill i {
    margin-left: .3rem;
    border-left: .03rem solid #5fc0cd;
}

main ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main ul li {
    display: flex;
    align-items: center;
    width: 90%;
    height: 1rem;
    margin-left: .36rem;
    border-bottom: .01rem solid #e1e5e7;
}

main ul li span {
    font-size: .32rem;
}

main ul li.condition div {
    font-size: .32rem;
}

main ul li.condition img {
    widows: .24rem;
    height: .23rem;
    margin-right: 10px;
}

main ul li.intrduce {
    height: auto;
    padding: .28rem .7rem .28rem 0;
}

main ul li.intrduce span:first-child {
    flex-basis: 1.28rem;
    flex-shrink: 0;
}

footer {
    height: 1.16rem;
    line-height: 1.16rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
}

footer  div{
    display: inline-block;
    vertical-align: middle;
    height: 0.84rem;
    width: 43.44%;
    text-align: center;
    line-height: 0.84rem;
    font-size: 0.34rem;
    border-radius: 0.1rem;
}

footer .message {
    border: .02rem solid currentcolor;
    color: #5fc0cd;
    margin-left: 4.8%;
}

footer .phone {
    color: #fff;
    background-color: #5fc0cd;
    border: .02rem solid #5fc0cd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.8%;
}