/*
 * @Author: 汤镇铭Michael 
 * @Date: 2018-01-22 14:44:29 
 * @Last Modified by: 汤镇铭Michael
 * @Last Modified time: 2018-01-23 15:08:40
 */
@charset "utf-8";

body {
    padding: 0;
    margin: 0;
    background: url("../images/sasigei.png") fixed no-repeat;
}

form {
    position: absolute;
    width: 100%;
    top: 25%;
    & legend {
        text-align: center;
        color: rgb(182, 68, 68);
        font-size: 2rem;
        font-weight: bolder;
    }
    & .text, .password {
        background-color: white;
        margin: 1rem 0rem;
        padding: 1rem 0;
    }
    & img {
        height: 2.2rem;
        margin-left: 1rem;
        border-right: 0.2rem solid #e1e5e7;
        padding-right: 1rem;
        vertical-align: middle;
    }
    & input {
        border: none;
        vertical-align: middle;
        outline: none;
        font-size: 1.5rem;
        text-indent: 1rem;
        width: 80%;
    }
    & button {
        width: 100%;
        border: none;
        background: none;
        background-color: rgb(182, 68, 68);
        border-radius: 1px;
        color: white;
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem 0;
        cursor: pointer;
    }
    & fieldset {
        padding: 2% 8%;
        margin: 5% 10%;
    }
    & span {
        color: brown;
    }
}