<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title boot</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-box">
    <div style="color: #ff5050;text-align: center;font-size: 20px;">
        <a href="/login">start click here to login</a>
    </div>
    <div style="color: #ff5050;text-align: center;font-size: 20px;">
        <a href="/login/u/register/a">start click here to register account</a>
    </div>
    <div style="color: #ff5050;text-align: center;font-size: 20px;">
        <a href="/login/u/register/mb">start click here to register mobile</a>
    </div>
    <div style="color: #ff5050;text-align: center;font-size: 20px;">
        <a href="/login/u/register/ma">start click here to register mail</a>
    </div>
    <div style="text-align: center">


    </div>


</div>


</body>
</html>