<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>one login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>


<body>
    <a />type="text" name="password" placeholder="密码"
    <a />type="text" name="password" placeholder="密码"
    <input type="text" name="password" placeholder="密码">

</body>

</html>