<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>登录吧小火鸡</title>
    <link rel="icon" href="../static/img/cock.ico" th:href="@{/img/cock.ico}" type="image/x-icon"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js" th:src="@{https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js}" ></script>
    <script src="../static/js/json2.js" th:src="@{/js/json2.js}"></script>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        var baseURL = [[${ctx}]];
    </script>
    <script type="text/javascript">
        $(function() {
            $('#login #password').focus(function() {
                $('#owl-login').addClass('password');
            }).blur(function() {
                $('#owl-login').removeClass('password');
            });

            //简单登录操作
            $("#doLogin").click(function (e) {
                $.ajax({
                    type : "POST",
                    url : baseURL+"login",
                    data : {
                        "userName" : $("#userName").val(),
                        "password" : $("#password").val()
                    },
                    dataType : "json",
                    success : function(data) {
                        if (data.result == "1") {
                            window.location.href =baseURL+"index";
                        } else {
                            $.messager.alert("提示",'账号密码不能为空！');
                        }
                    }
                });
            });
        });
    </script>


</head>

<body>

<div class="login-bgc" id="login">
    <div class="container">
        <div class="row log-main">
            <form action="#" method="post" style="text-align: center;">
                <div class="log-table col-xs-9 col-sm-6 col-md-4 col-lg-4">
                    <h2>请输入账号密码登录</h2>
                    <div class="content1">账号：
                        <input id="userName" class="write-user" type="text" name="userName" placeholder="user"/>
                    </div>
                    <div class="content1">密码：
                        <input id="password" class="write-code" type="password" name="password" placeholder="code"/>
                    </div>
                    <div id="alert1"></div>
                    <button class="btn login-btn" id="doLogin">登录</button>
                    <div>$</div>
                    <div>
                        <button class="btn login-btn">
                            <a href="register.html" th:href="@{/join}" style="color: #ffffff;">没有账号？请先注册</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>