<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>技能树首页</title>
    <link rel="icon" href="../static/img/cock.ico" th:href="@{/img/cock.ico}" type="image/x-icon" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" href="../static/css/head-foot.css" th:href="@{/css/head-foot.css}" />
    <link rel="stylesheet" href="../static/css/main-1.css" th:href="@{/css/main-1.css}" />
    <link rel="stylesheet" href="../static/css/main-2.css" th:href="@{/css/main-2.css}" />
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js" th:src="@{https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script src="../static/js/json2.js" th:src="@{/js/json2.js}"></script>
    <script type="text/javascript">
        /*将post method 改变为delete*/
        $(function(){
            $(".delete").click(function(){
                var href=$(this).attr("href");
                $("#form_delete").attr("action",href).submit();
                return false;
            })
        })
    </script>

</head>


<body>
<header>
    <div class="container">
        <div class="top-bar">
            <div class="hotline-bling flex-box">
                <span>客服热线：010-5985-9123</span>
            </div>
            <div class="web-bling flex-box">
                <a href="#"><img class="head-icon" src="../static/img/wechat.png" th:src="@{/img/wechat.png}" alt=""/></a>
                <a href="#"><img class="head-icon" src="../static/img/qq.png" th:src="@{/img/qq.png}"  alt=""/></a>
                <a href="#"><img class="head-icon" src="../static/img/weibo.png" th:src="@{/img/weibo.png}"  alt=""/></a>


                <div class="login-regs">
                    <a th:text="${status[4]}"></a>
                    <a href="#">|</a>
                    <a th:text="${status[5]}"></a>
                    <a href="#">|</a>
                    <a href="login.html" th:href="@{${status[2]}}" th:text="${status[0]}"></a>
                    <a href="#">|</a>
                    <a href="register.html" th:href="@{${status[3]}}" th:text="${status[1]}"></a>
                </div>


            </div>
        </div>
    </div>
    <nav class="bgc-green font-size-header font-white " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--手机导航-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <img src="../static/img/menu.png" th:src="@{/img/menu.png}" alt="#"/>
                </button>
            </div>
            <div id="example-navbar-collapse" class="collapse navbar-collapse  " aria-expanded="false" style="height: 1px;">
                <img style="width: 2.5rem; position: relative; top: 0.24rem; right: 2.6rem;" src="../static/img/home-logo-hs.png" th:src="@{/img/home-logo-hs.png}" alt=""/>
                <ul class="navbar-nav my-nav nav">
                    <li><a href="../templates/home.html" th:href="@{/home}">首页</a></li>
                    <li><a href="../templates/profession.html" th:href="@{/profession}">职业</a></li>
                    <li><a href="#" th:href="@{/recommend}">推荐</a></li>
                    <li><a href="../templates/list.html" th:href="@{/list}">用户列表</a></li>
                    <li><a href="#">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<h1>
    推荐
</h1>

<footer>
    <div class="container">
        <div class="row foot-items">
            <div class="col-sm-4 col-xs-12 foot-jnshu ">
                <h4>技能树&ensp;一&ensp;改变你我</h4>
                <span>关于我们&nbsp;|&nbsp;联系我们&nbsp;|&nbsp;合作企业</span>
            </div>
            <div class="col-sm-4 col-xs-12 foot-website">
                <h4>旗下网站</h4>
                <div class="website-set">
                    <span>草船云孵化器</span>
                    <span>最强IT特训营</span>
                </div>
                <div class="website-set">
                    <span>葡萄藤轻游戏</span>
                    <span>桌游精灵</span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 foot-wechat">
                <h4>微信公众平台</h4>
                <img src="../static/img/QRcode.jpg" th:src="@{/img/QRcode.jpg}" alt=""/>
            </div>
        </div>
    </div>
    <div class="corp-info">
        <span>Copyright © 2015技能树 www.jnshu.com  All Rights Reserved | 京ICP</span>
    </div>

</footer>

</body>
</html>