html{
    font-size:625%;
}
/*header*/
.followus a{
    width:0.3rem;
    height:0.3rem;
    display:inline-block;
}
.followus{
    color:#29b078;
    font-size:0.14rem;
}
.followus p{
    padding-top:0.07rem;
    display: inline-block;
    margin-left:-30px;
}
.wechat{
    background:url("../img/wechat.png") no-repeat right bottom;
}
.qq{
    background:url("../img/qq.png") no-repeat right bottom;
}
.sina{
    background:url("../img/sina.png") no-repeat right bottom;
}
/*手机页面导航*/
@media screen and (max-width: 1080px){
    .followus{
        display:none;
    }
    .login{
        display:block!important;
        width:100%;
        text-align: right;
        padding-right:3%;

    }
    .login1{
        border-right:1px solid #29b078;
        padding-right:5px;
    }
    .login a{
        color:black;
    }
}
.login{
    display: none;
}
/*导航栏*/
.btl{
    background:#29b078;
}
.navigation{
    background:#29b078 url("../img/jinengshu.png") no-repeat left center;
    width:100%;
    height:1.01rem;
}
.navigation a{
    display:block;
    float:right;
    margin-top:0.5rem;
    color:white;
    font-size:16px;
    height:0.51rem;
    text-decoration: none;
    text-align:center;
    width:98px;
    white-space: nowrap;
}
.frontpage{
    margin-right:-32px;
}
.dp{
    display: none;
}
@media screen and (max-width:1080px) {
    .dp{
        display: block;
        float:right;
        margin-top:0.1rem;
        z-index:999;
    }
}
@media screen and (max-width:1080px) {
    .navigation {
        position: absolute;
        background: #29b078 url("../img/jinengshu.png") no-repeat 12% center;
        width: 100%;
        height: 0.8rem;
        padding-right: 12%;
    }
    .navigation a {
        display: none;
        float: right;
        margin-top: 0.3rem;
        margin-left: 2.5vw;
        color: white;
        font-size: 0.12rem;
        height: 0.5rem;
        text-decoration: none;
        text-align: center;
        width: 5vw;
        white-space: nowrap;
    }
}
.navigation a:hover{
    border-bottom:4px solid white;
}
.hidden{
    z-index:999;
}

@media screen and (max-width:1080px ){
    .faster{
        margin-top:0.7rem;
        padding-left:11%;
        width:100%;
        background-color:#f1a750;
    }
}
main{
    margin-top:1.7rem;
}
@media screen and (max-width: 1080px){
    main{
        position: relative;
        margin-top:1.7rem;
        padding-left:1%;
        padding-right:1%;
    }
}
.slidebar{
    margin:0 auto;
    width:1200px;
    right:0;
    left:0;
    padding-top:0.3rem;
}
@media screen and (max-width: 1080px){
    .slidebar{
        margin:0 auto;
        width:200px;
        padding-top:0.3rem;
    }
}
.firstpage{
    font-weight:bold;
    padding-bottom:0.5rem;
    border-bottom:1px solid lightgrey;
    font-size:16px;
    width:1200px;
}
@media screen and (max-width: 1080px){
    .firstpage{
        font-weight:bold;
        padding-bottom:0.5rem;
        border-bottom:1px solid lightgrey;
        font-size:16px;
        width:200px;
    }
}
.carrer{
    color:#29b078;

}
.breadcrumb{
    background-color:white;
    padding-top:0.3rem;
    height:0.8rem;
    width:1200px;
}
@media screen and (max-width: 1080px){
    .breadcrumb{
        background-color:white;
        box-shadow:0 1px 1px lightgrey;
        padding-top:0.3rem;
        height:2rem;
        width:2rem;
    }
}
.breadcrumb > li + li:before {
    color: black;
     content: " ";
    padding: 0 15px;

}
.breadcrumb > li a{
    color: black;
}
.breadcrumb > li a:hover{
    background-color:#29b078;
    color:white;
}
.direction{
    color:lightgrey;
}
.comb1{
    border-left:none;
    border-bottom:1px solid #edf1f2;
    width:1200px;
}
@media screen and (max-width: 1080px){
    .comb1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
    }
}
.headline{
    font-size:0.15rem;
    font-weight:bold;
    border-bottom:2px solid lightgrey;
    padding-bottom:0.2rem;
    width:1200px;
}

.headline p {
    margin-left: -11px;
}
@media screen and (max-width: 1080px){
    .headline{
        width:200px;
        margin:0 auto;
    }
}
.carrer1{
    margin-top:0.3rem;
    padding-left:0;
    width:400px;
}
.carrer2{
    margin-top:0.3rem;
    padding-left:0;
    width:400px;
    padding-right:0;
}

@media screen and (max-width: 1080px){
    .carrer1{
        margin:0 auto;
        width:100%;
        padding:0 0;
    }
    .carrer2{
        width:100%;
        margin:0 auto;
    }
}

.transparent{
    position:absolute;
    top:0.01rem;
    height:96.25%;
    width:96.25%;
    background:rgba(61,61,61,0.800);
    color:white;
    text-align:center;
    display:none;
    padding:0.5rem 0.5rem;
    animation:myfirst 5s;
    transform:none;
}
@media screen and (max-width: 1080px){
    .transparent{
        position:absolute;
        top:0.01rem;
        height:100%;
        width:100%;
        background:rgba(61,61,61,0.800);
        color:white;
        text-align:center;
        display:none;
        padding:0.5rem 0.5rem;
        animation:myfirst 5s;
        transform:none;
    }
}
@keyframes myfirst
{
    0% {transform:none;}
    25% {transform:skewY(50deg);}
    50%  {transform:scaleZ(2);}
    75%  {transform:rotate(130deg);}
    100% {transform:none;}
}
.carrer1:hover .transparent{
    display:block;
}
.headpic{
    padding-top:0.2rem;
    border:1px solid #eeeded;
    border-bottom:none;
    display: flex;
}
.item1{
    flex:1;
}
.item2{
    flex:2;
}
@media screen and (max-width: 1080px){
    .headpic{
        display:flex;
        justify-content: space-between;
        padding-top:0.2rem;
        border:1px solid #eeeded;
        border-bottom:none;
        width:100%;
    }
}
@media screen and (max-width: 380px){
    .headpic{
        display:flex;
        justify-content: space-between;
        padding-top:0.2rem;
        border:1px solid #eeeded;
        border-bottom:none;
        width:100%;
        font-size:9px!important;
    }
    .headpic h4{
        font-size:11px!important;
        font-weight:bold;
    }
    }
.headpic h4{
    font-size:16px;
    font-weight:bold;
}
.headpic span{
    padding:0 10px 10px 10px;
}
.table1{
    box-shadow: 1px 1px 2px #eeeded;
    border-top:none;
}
@media screen and (max-width: 1080px){
    .table1{
        box-shadow: 1px 1px 2px #eeeded;
        border-top:none;
        width:100%;
    }
}
.money{
    display:flex;
    justify-content: space-between;
    border-top:none!important;
    border-right:none!important;
    border-bottom:none!important;
}
.red{
    color:red;
    padding-left:0.3rem;
}
.red1{
    color:red;
}
.money2{
    border-bottom:none!important;
    display:flex;
    justify-content: space-between;
}
.money3{
    border-bottom:none!important;
    display:flex;
    justify-content: space-between;
}
.number{
    border-top:none!important;
}
.salary{
   text-align: center;
    padding-top:0.5rem!important;
    color:#d3d3d3;
    border-right:none!important;
}
.youneed{
    font-size:12px!important;
    color:#d3d3d3;
    font-weight: normal;
}
.grey{
    color:#d3d3d3;
}
.grey img{
    margin-left:5px;
}
/*footer*/
footer{
    margin-top:2rem;
    position: relative;
    background-color:#29b078;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    height:2.01rem;
    color:white;
    font-size:0.16rem;
}
footer a{
    font-size:0.14rem;
    color:white;
    text-decoration: none;
    padding-bottom:5px;
}
footer a:hover{
    color:white;
    border-bottom:1px solid white;

    text-decoration: none;
}
.aboutus{
    padding-top:0.37rem;
    display:flex;
    justify-content: space-between;
}
.left1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.middle1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copyright{
    padding-top:0.1rem;
    margin-top: 0.1rem;
    text-align: center;
    color:white;
    font-size:0.13rem;
    border-top:1px solid #32c086;
}
@media screen and (max-width:1080px){
    .aboutus{
        display:flex;
        flex-direction: column;
        padding-left:12%;
        padding-right:12%;
    }
    footer{
        height:4rem;
    }
}
@media screen and (max-width:1080px){
    .copyright{
        padding-top:0.1rem;
        text-align: center;
        color:white;
        font-size:0.05rem;
        border-top:1px solid #32c086;
    }
}
.container{
    max-width:1200px;
}
.row{
    width:1200px;
}
@media screen and (max-width:1080px){
    .row{
        width:100%;
        margin:0 auto;
    }
    .row1{
        margin-left:0!important;
    }
}
.row1{
    margin-left:-30px;
}