@charset "utf-8";
.pumant {
  left: 0;
  right: 0;
  top: 0;
}
.pumanb {
  left: 0;
  right: 0;
  bottom: 0;
}
html {
  font-size: 625%;
}
body {
  background-color: #29bde0;
}
.padding_2 {
  padding-left: 6%;
  padding-right: 6%;
}
.headerbt_2 {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 50px;
  font-size: 22px;
  color: white;
}
.headerbt_2 span {
  display: inline-block;
  width: 73px;
  text-align: center;
}
.vote {
  background: #b9e9f5 url("../img/形状17.png") 93% center no-repeat;
  width: 100%;
  white-space: nowrap;
  margin-top: 0.14rem;
  padding-left: 6%;
  padding-right: 6%;
  height: 85px;
  line-height: 85px;
}
.vote img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 0.2rem;
}
.vote .hidden {
  opacity: 0;
  float: right;
  display: inline;
  display: inline-block;
}
.vote .item1 {
  margin-left: 6%;
  display: inline-block;
  font-size: 2vw;
  white-space: normal;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.clickbutton {
  float: right;
  display: inline;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: -1rem;
  margin-right: 7%;
  opacity: 0;
}
.click {
  padding-left: 6%;
  padding-right: 6%;
}
.click p {
  padding-left: 10%;
  font-size: 0.12rem;
  color: white;
}
.triangele {
  border-style: solid dashed dashed dashed;
  border-color: #b9e9f5 transparent transparent transparent;
  border-width: 10px;
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  margin-left: 10%;
}
.card {
  margin-left: 0.1rem;
  margin-bottom: 2rem;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 3%;
}
.card .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.card .content .card1 {
  height: 25vw;
  margin-top: 6vw;
  width: 25vw;
  font-size: 0.17rem;
  text-align: center;
  border: 1vw solid white;
}
.card .content .card1:hover .wrap {
  display: flex;
}
.card .content .card1 .name {
  height: 70%;
  background-color: #f5c97b;
  font-size: 0.17rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .content .card1 .num {
  height: 30%;
  background-color: #83b09a;
  color: white;
  font-size: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .content .card1 .wrap {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 8vw;
  margin-top: 1vw;
}
.card .content .card1 .wrap img {
  width: 3vw;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1rem;
  background-color: #29bde0;
  width: 100%;
  text-align: center;
}
.f3 {
  margin-top: 0.2rem;
  color: white;
  background-color: #fbb435;
  width: 76%;
  height: 0.45rem;
  margin-bottom: .1rem;
  font-size: 0.2rem;
}
