html{
    font-size:625%;
}
/*header*/
.followus a{
    width:0.3rem;
    height:0.3rem;
    display:inline-block;
    line-height: 0.3rem;
}
.followus{
    color:#29b078;
    font-size:0.14rem;
    height:0.35rem;
}
.followus span{
    display: inline-block;
    height:0.35rem;
    line-height: 0.35rem;
}
.wechat{
    background:url("../img/wechat.png") no-repeat right bottom;
}
.qq{
    background:url("../img/qq.png") no-repeat right bottom;
}
.sina{
    background:url("../img/sina.png") no-repeat right bottom;
}
/*手机页面导航*/
@media screen and (max-width: 1080px){
    .followus{
        display:none;
    }
    .login{
        display:block!important;
        width:100%;
        text-align: right;
        padding-right:3%;

    }
    .login1{
        border-right:1px solid #29b078;
        padding-right:5px;
    }
    .login a{
        color:black;
    }
}
.login{
    display: none;
}
/*导航栏*/
.btl{
    background:#29b078;
}
.navigation{
    background:#29b078 url("../img/jinengshu.png") no-repeat 2.5% center;
    width:100%;
    height:1.01rem;
}
.navigation a{
    display:block;
    float:right;
    margin-top:0.5rem;
    color:white;
    font-size:16px;
    height:0.5rem;
    text-decoration: none;
    text-align:center;
    width:98px;
    white-space: nowrap;
}
.frontpage{
    margin-right:-32px;
}
.dp{
    display: none;
}
@media screen and (max-width:1080px) {
    .dp{
        display: block;
        float:right;
        margin-top:0.1rem;
        z-index:999;
    }
}
@media screen and (max-width:1080px) {
    .navigation {
        position: absolute;
        background: #29b078 url("../img/jinengshu.png") no-repeat 12% center;
        width: 100%;
        height: 0.8rem;
        padding-right: 12%;
    }
    .navigation a {
        display: none;
        float: right;
        margin-top: 0.3rem;
        margin-left: 2.5vw;
        color: white;
        font-size: 0.12rem;
        height: 0.5rem;
        text-decoration: none;
        text-align: center;
        width: 5vw;
        white-space: nowrap;
    }
}
.navigation a:hover{
    border-bottom:4px solid white;
}
.hidden{
    z-index:999;
}
/*轮播图及自适应*/
main{
    position: relative;
}
@media screen and (max-width: 1080px){
    main{
        position: relative;
        margin-top:80px;
    }
}
.imgw{
    width:100%;
}
/*优点*/
.ct1{
    margin-top:1.63rem;
    width:12rem;
    font-size:16px;
}
.wearegood{
    height:2.2rem;
    color:lightgrey;
}
.wearegood1{
    height:2.2rem;
    color:lightgrey;
    text-align:center;
}
.wearegood p{
    text-align: center;
}
@media screen and (max-width: 1080px){
    .ct1{

        width:100%;
        font-size:16px;
       margin:1.63rem auto;
    }
    .wearegood{
        height:2.2rem;
        color:lightgrey;
        text-align:center;
    }
    .wearegood1{
        height:2.2rem;
        color:lightgrey;
        text-align:center;
    }
}
.rocket{
    width:2rem;
    height:1rem;
    background:url("../img/rocket.png") no-repeat center top;
    display: block;
    margin: 0 auto;
}
.archive{
    width:2rem;
    height:1rem;
    background:url("../img/archive.png") no-repeat center top;
    display: block;
    margin: 0 auto;
}
.regulation{
    width:2rem;
    height:1rem;
    background:url("../img/Shape253.png") no-repeat center top;
    display: block;
    margin: 0 auto;
}
.advantage p{
    font-weight:bold!important;
    color:black;
    font-size:18px;
}
.count{
    border-left:1px dashed lightgrey;
    padding-left:80px;
    font-size:18px!important;
}
@media screen and (max-width: 1080px){
    .count{
        border-left:1px dashed lightgrey;
        padding-left:10px;
        font-size:18px!important;
        text-align: center;
    }
}
.count a{
    color:#29b078;
    display:block;
    padding-top:0.3rem;
    text-decoration: none;
}
.f3{
    color:lightgrey!important;
    font-weight:normal;
}
/*如何学习*/
h5{
    text-align:center;
    font-size:18px!important;
    font-weight: bold;
}
.howtolearn{
    width:1200px;
    height:60px;
     }
.howtolearn1{
    width:1200px;
    height:120px;
}
@media screen and (max-width:1080px ){
    .howtolearn{
        width:100%;
        height:60px;
        margin:0 auto;
    }
    .howtolearn1{
        width:100%;
        height:120px;
        margin:0 auto;
    }
}
.container{
    max-width: 1200px;
}
.row{
    width:1200px;
}
@media screen and (max-width:1080px ){
    .row{
        width:100%;
        margin:0 auto;
    }
}
.num{
     width:50px;
     height:50px;
     border-radius: 50%;
     color:#29b078;
     border:1px solid lightgrey;
     padding-right:20px;
     padding-top:10px;
     margin-right:10px;
     box-shadow:1px 1px 3px lightgrey;
     display:flex;
     align-items: center;
     padding-left:20px;
     font-size:17px;
}
.arrow{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70px;
    width: 295px;
}
@media screen and (max-width: 1080px){
        .arrow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        font-size:12px;
        padding-left:2px;
            margin:0 auto;
    }
    .num{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #e6e7e6 ;
        display:flex;
        justify-content: center;
    }

}
.arrow p{
    font-size:14px;
    margin-top:5px;
}
.zw{
    margin-top:10px;
}
.arrow1{
    background:url("../img/arrowgreen.png") no-repeat 2px 0;
    height:30px;
    width:50px;
    margin: 10px 0 0 0;
}
.students{
    height: 368px;
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #e6e7e6 ;
    border-radius: 6px;
    box-shadow:1px 1px  1px lightgrey;
    margin-bottom: 0.1rem;

}
@media screen and (max-width: 1080px){
    .show{
        width:100%;
        margin:0 auto;
    }
    .students{
        height: 368px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        margin: 4% auto;
        border: 1px solid #e6e7e6 ;
        border-radius: 6px;
        box-shadow:1px 1px  1px lightgrey;
    }
    .students img{
        width:128px!important;
        display: block!important;
        margin:4% auto!important;
    }

}
.show h5{
    margin-bottom: 71px;
    font-weight:bold;
    font-size:18px;
}
.students img{
    width: 110px;
    height: 110px;
    margin: 17px 0 0 70px;
}
.title{
    font-weight:bold;
    padding-top:29px;
}
.students p{
    padding-top:29px;
    font-size:0.13rem;
    color:lightgrey;
    padding-left:50px;
    padding-right:50px;
}
/*合作公司*/
.cooperate{
    margin-top:1rem;
}
.company{
    width:12rem;
    box-shadow:1px 1px 1px lightgrey;
    display: flex;
    justify-content: space-between;

}
.company a {
    height: 2rem;
    width:2.37rem;
    display: inline-block;
    padding-left:20px;
}

.company a:hover{
    box-shadow:1px 1px 1px 1px lightgrey;
}
@media screen and (max-width: 1080px){
    .company{
        height: 15rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        border: 1px solid #e6e7e6 ;
        border-radius: 6px;
        box-shadow:2px 2px 5px 2px lightgrey;
    }
    .company a {
        height: 2rem;
        width:100%;
        display: block;
        padding-left:20px;
        margin:0 auto;
    }
    }
.yuanquan {
    width: 0.6rem;
    margin-left: auto;
    margin-right: auto;
}
.circle1 {
    background-color: #29b078;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
}
.circle {
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    box-shadow:1px 1px 1px 1px lightgrey;
}
/*友情链接*/
.links{

    width:1200px;
    margin: 1rem auto;
}
.links h5{
   margin-bottom:30px;
}
.links ul{
     display:flex;
     flex-direction:row;
     justify-content: space-around;
}
.links ul li{
    color:lightgrey;
}
.links a{
    color:lightgrey;
    text-decoration: none;
}
.links a:hover{
    border-bottom: 1px solid #29b078;
}
@media screen and (max-width: 1080px) {
    .links {
        height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 1rem auto;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .links ul li {
        margin: 0 auto;
    }
}
/*footer*/
footer{
    margin-top:2rem;
    position: relative;
    background-color:#29b078;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    height:2.01rem;
    color:white;
    font-size:0.16rem;
}
footer a{
    font-size:0.14rem;
    color:white;
    text-decoration: none;
    padding-bottom:5px;
}
footer a:hover{
    color:white;
    border-bottom:1px solid white;

    text-decoration: none;
}
.aboutus{
    padding-top:0.37rem;
    display:flex;
    justify-content: space-between;
}
.left1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.left1 a{

}
.middle1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copyright{
    margin-top: 0.1rem;
    padding-top:0.1rem;
    text-align: center;
    color:white;
    font-size:0.13rem;
    border-top:1px solid #32c086;
}
@media screen and (max-width:1080px){
    .aboutus{
        display:flex;
        flex-direction: column;
        padding-left:12%;
        padding-right:12%;
    }
    footer{
        height:4rem;
    }
}
@media screen and (max-width:1080px){
    .copyright{
        padding-top:0.1rem;
        text-align: center;
        color:white;
        font-size:0.05rem;
        border-top:1px solid #32c086;
    }
}