html{
    font-size:625%;
}
body{
    background-color:#29bde0;

}
/*layout*/
header{
    position:fixed;
    left:0;
    top:0;
    right:0;
    height:0.6rem;
        display:flex;
    justify-content: space-between;
    align-items:flex-end;
    padding-right:0.3rem;
    background-image:url("../img/矩形6.png"),url("../img/矩形10.png");
    background-repeat: no-repeat, no-repeat;
    background-position:3% 95%,97% 95%;
    background-size: 0.2rem 0.2rem;
    background-color:#29bde0;
    z-index:999;
}
.audio{
    width: .5rem;
    position: absolute;
        opacity: 0;
    z-index: 2;
}
.vote{
    font-size:0.2rem;
    color:white;
}

.vote1{
    position: relative;
    line-height: .5rem;
    font-size: .14rem;
    background: #b9e9f5 url("../img/buttonleft.png") no-repeat 97% center;
    background-size:0.3rem 0.3rem;
    color: #464646;
    padding-left: .85rem;
    margin-top: .7rem;
}
@media screen and (max-width:376px){
    .vote1{
        position: relative;
        line-height: .5rem;
        font-size: .14rem;
        background: #b9e9f5 url("../img/buttonleft.png") no-repeat 97% center;
        background-size:0.3rem 0.3rem;
        color: #464646;
        padding-left: .25rem;
        margin-top: .7rem;
            }
}
.vt2{
    background:url("../img/xiaosanjiao.png") no-repeat 5% top;
    position:relative;
    top:17.5%;
    width:100%;

}
.vt2 p{
    padding-top:0.2rem;
    color:white;
    padding-left:8%;
}
.card{
    margin-left:0.1rem;
    margin-top:3%;
    position: relative;
   }
.card .content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.card .content .item{
    height: 25vw;
    width: 25vw;
    margin-right: 3vw;
    margin-bottom: 8vw;
    font-size: .17rem;
    text-align: center;
    border: 1vw solid white;
}
.card .content .item:hover .wrap {
    display: flex;
}
.id{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    margin: 0;
    color: #565656;
    background-color: #f5c97b;
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 0;
    background-color: #83b09a;
}
.wrap {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 8vw;
    margin-top: 1vw;
}
.wrap img{
    width:3vw;
}

footer{
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    height:1rem;
    background-color:#29bde0;
    width:100%;
    text-align:center;
}
.f3 {
    margin-top:0.2rem;
    color:white;
    background-color:#fbb435;
    width:10rem;
    height:0.45rem;
    margin-bottom:.1rem;
    font-size:0.2rem;
}
@media screen and (max-width:376px){
    .f3 {
        margin-top:0.2rem;
        color:white;
        background-color:#fbb435;
        width:2.5rem;
        height:0.45rem;
        margin-bottom:.1rem;
        font-size:0.2rem;
    }
}
@media screen and (max-width:415px) and (min-width:376px){
    .f3 {
        margin-top:0.2rem;
        color:white;
        background-color:#fbb435;
        width:4rem;
        height:0.45rem;
        margin-bottom:.1rem;
        font-size:0.2rem;
    }
}
@media screen and (max-width:769px) and (min-width:415px){
    .f3 {
        margin-top:0.2rem;
        color:white;
        background-color:#fbb435;
        width:5rem;
        height:0.45rem;
        margin-bottom:.1rem;
        font-size:0.2rem;
    }
}