.sky{
    color: skyblue;
}
.tomato{
    color: tomato;
}
.zhende{
    color: #1b91ff;
}
.jiade{
    color: #0d99a5;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.strike{
    font-size: 58px;
}