html {
    font-size: 312.5%;
}

body {
    padding-bottom:1.5rem;
    margin: 0;
    font-size: initial;
}

h1,a,ul,li,p {
    margin: 0;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: .88rem;
    background-color: #5fc0cd;
    z-index: 1;
}

.getback {
    position: absolute;
    left: .35rem;
    width: .21rem;
    height: .21rem;
    border-top: .03rem solid #ffffff;
    border-right: .03rem solid #ffffff;
    transform: rotate(225deg);
}

h1 {
    font-size: .36rem;
    color: #ffffff;
}

.background {
    position: relative;
    height: 3.3rem;
    background: url(task1-css5.png) no-repeat center/cover;
}

.portrait {
    position: absolute;
    top: .78rem;
    left: .3rem;
    width: 1.7rem;
    height: 1.7rem;
}
.top-main{
    position: absolute;
    top:1.16rem;
    left:2.4rem;
    width: 2.3rem;
    text-align: center;
}
#name {
    font-size: .36rem;
    letter-spacing: .05rem;
    color: #ffffff;
}

#age {
    margin: 0 0 0 .3rem;
    font-size: .28rem;
    letter-spacing: .02rem;
    color: #ffffff;
}
.location {
    width: .18rem;
    height: .23rem;
    margin: 0 .05rem -.05rem .05rem;
}
#dizhi {
    font-size: .24rem;
    letter-spacing: .01rem;
    color: #ffffff;
}
.center-box{ 
    display: flex;
    align-items: center;
    height:1rem;
    border: .01rem solid #e1e5e7;
    background-color: #ffffff;
    
}
ul,li{
    padding: 0;
    font-size:.32rem;
    list-style:none;  
}
strong::before{
     display: inline-block;
     content:"";
     width: .01rem;
     height: .26rem;
     border: .01rem solid #5fc0cd;
     margin: 0 .3rem 0 .3rem;
}
#wjx{
    padding-left: .4rem;
    margin:0 .1rem 0 .61rem;
    background: url(task5-css5.png) no-repeat 0 -.46rem;
}
#wjx-right{
    padding-left: .4rem;
    margin:0 .1rem 0 -.2rem;
    background: url(task5-css5.png) no-repeat 0 -.46rem;
    
}

.main-font{
    margin: 0 0 0 .61rem;
    white-space:nowrap;
    color: #999999;
}
span::after{
    display: inline-block;
    content:"";
    width: .008rem;
    height: .26rem;
    border: .008rem solid #E1E5E7;
    margin:  0 .3rem 0 .3rem;
}
.onespan::after{
    display: inline-block;
    content:"";
    width: .008rem;
    height: .26rem;
    border: .008rem solid #E1E5E7;
    margin:  0 0 0 .3rem;
}
.nonespan::after{
    content:none;
}


.price{
    color: #E26163;
}
.center-bottom-box{
    display: flex;
    align-items: center;
    height:50%;
    border: .01rem solid #e1e5e7;
    background-color: #ffffff;
    overflow:hidden;
}

.zwjs{
    padding: .3rem .3rem .3rem 0;
}
.footer-box{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #ffffff;
}
.liuyan{
    width: 50%;
    height: .88rem;
    margin: 0 .25rem  .04rem .37rem;
    border-radius:.15rem;
    border: .01rem solid #5fc0cd;
    background-color: #ffffff;
    outline: none;
    color:#5FC0CD;
}
.contact{
    width: 50%;
    height: .88rem;
    border: none;
    border-radius:.15rem;
    margin: 0  .37rem .04rem  0;
    background-color:#5FC0CD;
    outline: none;  
    color:#ffffff;
}