body {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    position: fixed;
    height: 2.75rem;
    background-color: #5fc0cd;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.button-box {
    background-color: #55a8b3;
    border-radius: 0.625rem;
    display: flex;
}

.button-style {
    display: block;
    padding: 0 1rem;
    height: 2.18rem;
    margin: 0;
    border-radius: 0.625rem;
    font-size: 1rem;
    line-height: 2.18rem;
}

.button1 {
    color: #fff;
    background-color: #55a8b3;
}

.button2 {
    color: #5fc0cd;
    background-color: #fff;
}

.location {
    position: absolute;
    right: 1rem;
    width: 1.3rem;
}

.down-list {
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: 2.75rem;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #999;
    font-size: 0.875rem;
    background-color: #f8fafb;
}

.list {
    width: 33.3%;
    line-height: 2.5rem;
    text-align: center;
    position: relative;
}

.hide {
    width: 100%;
    display: none;
    position: absolute;
    text-align: center;
    background-color: #5fc0cd;
    color: #fff;
}

.list:hover>ul {
    display: block;
}

.list1:hover {
    background-color: #55a8b3;
}

.list2:hover {
    background-color: #55a8b3;
}

.triangle-down::after {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    border-left: .25rem solid transparent;
    border-right: .25rem solid transparent;
    border-top: .25rem solid #afbac0;
    position: absolute;
    right: 5%;
    top: 1.25rem;
}

.separator {
    border-image: linear-gradient(#fff, #e2e6e7, #fff) 4;
    border-left: solid 0.06rem;
}



.big-list {
    margin-top: 5.25rem;
}

.big-list-li {
    height: 5.625rem;
    display: flex;
    align-items: center;
    border-top: solid 0.03rem #e1e5e7;
}

.calendar {
    background: url(../img/img.png) no-repeat;
    background-position-y: 0.3rem;
    font-size: .875rem;
    color: #999;
}

.small-list {
    width: 100%;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.small-list>li {
    padding-left: 1.2rem;
}

.shape {
    background: url(../img/img.png) no-repeat;
    background-position: 0.08rem -2.27rem;
    font-size: .8rem;
    color: #999;
}

.float-right {
    float: right;
    color: red;
}

.corner {
    width: .625rem;
    vertical-align: middle;
    margin: 0 1rem 0 0.3rem;
}

span {
    vertical-align: middle;
}

.font-size {
    font-size: 0.85rem;
}

p {
    margin: 0;
}

.zoom {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.footer {
    width: 100%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .75rem;
    background-color: #f8fafb;
    position: fixed;
    bottom: 0;
}

.house {
    width: 1.43rem;
}

.write {
    width: 2.93rem;
}

.locus {
    width: 1.31rem;
}

.text-align-conter {
    
    text-align: center;
    
}

.lien2 {
    height: 1px;
    width: 100%;
    background: #e1e5e7;
    margin-bottom: 3.125rem;
}
.color1 {
    color: #55a8b3;
}