html {
    font-size: 625%;
}

body {
    margin: 0;
    font-size: initial;
}
/*头部*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: .64rem;
    width: 100%;
    background-color: #5fc0cd;
    z-index: 1;
}
.boss {
    width: .72rem;
    height: .35rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #55a8b3;
    font-size: .17rem;
    color: #ffffff;
}
.btn {
    width: .72rem;
    height: .35rem;
    border: none;
    outline: none;
    margin-left: -.03rem;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: .17rem;
    color: #5fc0cd;   
}
/*头部图片定位*/
a{
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: .15rem;
    background: url(../task6/img/css_sprites.png)no-repeat -10px -194px;
    width: 22px;
    height: 22px; 
}
/*头部图片定位结束*/

/*头部结束*/

/* main开始 */
main {
    margin-top: .64rem;
}
/*  导航栏开始*/
.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: .4rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e5e7; 
    z-index: 1;
}
.site {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: .4rem; 
    font-size: .14rem; 
    color: #999999;
}
.sold {
    width: 100%;
    border-left: 1px solid #e1e5e7;
    border-right: 1px solid #e1e5e7;
    text-align: center;
}
/*三角形*/
.sjx {
    position: absolute;
    right: .05rem;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #afbac0;
}
/*下拉框*/
.dropdown-content {
    display: none;
    position: absolute;
    top:.41rem;
    width: 100%;
    padding: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
ul.dropdown-content li {
    list-style: none;
    text-align: center;
}
/*下拉框的hover效果*/
.site:hover .dropdown-content{
    display: block;
    color: #333333;
}
.color:hover{
    background-color: #5fc0cd;
}
/* 导航栏结束 */

/* 中间部分 */
ul {
    margin: 0;
    padding-top: .4rem;
}
li {
    list-style: none;
}
.demand {
    height: .9rem;
    margin-left: -.53rem;
    line-height: .11rem;
    border-bottom: 1px solid #e1e5e7;
}
.serve {
    height: .9rem;
    line-height: .11rem; 
    margin: 0 0 .5rem -.53rem ;
    border-bottom: 1px solid #e1e5e7;  
}
.date { 
    margin-left: .25rem;
    letter-spacing: .03rem;
    font-size: .15rem; 
    color: #999999; 
}
.date::before {
    content: "";
    display: inline-block;
    margin-right: .08rem;
    background: url(../task6/img/css_sprites.png) no-repeat -10px -42px;
    width: 13px;
    height: 12px;
   
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .2rem;
}
.year {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    margin-left: .46rem;
    line-height: .2rem;
    font-size: .14rem;
}
.value {
    white-space: nowrap;
    line-height: .2rem;
    font-size: .15rem;
    color: #e63b0e;
}
.address {
    margin-left: .26rem;
    font-size: .13rem;
    color: #999999;
}
.address::before {
    content: "";
    display: inline-block;
    margin-right: .09rem;
    background: url(../task6/img/css_sprites.png) no-repeat -10px -10px;
    width: 10px;
    height: 12px;
}
.value::after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    margin: 0 .15rem 0 0.1rem;
    border-top: 1.5px solid #5fc0cd;
    border-right: 1.5px solid #5fc0cd;
    transform: rotate(45deg);
   
}
/*main结束*/

/* 底部*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: .5rem;
    width: 100%;
    background: #f8fafb;
   
}
.home {
    border: none;
    outline: none;
    background: #f8fafb;
    font-size: .1rem;
    color: #55a8b3;
    
}
.home::before { 
    content: "";
    display: block;
    background: url(../task6/img/css_sprites.png)no-repeat -10px -114px; 
    width: 23px; 
    height: 20px;  
    margin-bottom: .06rem; 
}

.write {
    display: inline-block;
    border: none;
    outline: none;
    width: .45rem;
    height: .45rem;
    border-radius: .5rem;
    background: #55a8b3;  
}
.write::before {
    content: "";
    display:inline-block ;
    background: url(../task6/img/css_sprites.png)no-repeat -10px -74px;  
    width: 20px; 
    height: 20px; 
}
.me {
    border: none;
    outline: none;
    background: #f8fafb;
    font-size: .1rem;
    color: #b3b4b4;
}
.me::before {
    content: "";
    display: block;
    background: url(../task6/img/css_sprites.png)no-repeat -8px -154px;
    width: 23px; 
    height: 21px;  
    margin-bottom: .05rem; 
}