body{
    margin: 0;
    background: #f3f4f6;
}

.square1{
    height: 45px;
    background: #00CED1;
}
.logo {
    position: absolute;
    margin: 0;
    color: aliceblue;
    line-height: 45px;
    left: 20px;
}
 .lty{
     position: absolute;
     left: calc(50% - 1rem);
     color: aliceblue;
     margin: 0;
     line-height: 45px;
}
 .qlm{
     float: right;
     margin: 0 20px 0 0;
     color: aliceblue;
     line-height: 45px;
 }
 .search1 {
     height: 30px;
     width: 18px;
     margin: 5px;
     border-right-style: inset;
     padding: 10px;
 }

 .search2{
     height: 29px;
     width: 21px;
     margin: 5px;
     border-right-style: inset;
     padding: 10px;
 }
.square2{
    height: 45px;
    background: #00CED1;
}
.lty2{
    left: calc(50% - 1rem);
    color: aliceblue;
    position: relative;
    line-height: 45px;
}
.why{
    float: right;
    margin: 10px;
}
.nice{
    background: white;
    margin:1rem 0 ;
}
.nice1{
    border: none;
    text-align: center;
}
.nice2{
    border: none;
    outline: medium;
    vertical-align: top;
    padding: 22px 0 22px 0;
    width: 80%;
}
.qmz{
     color: #00CED1;
}