html {
    font-size:310%;
}
body {
    margin: 0;
    font-size: initial;
}
p {
    margin: 0;
}
header {
    position: sticky;
    top:0;
    width: 100%;
    height: .88rem;
    background-color: #5FC0CD;
    line-height: .88rem;
    text-align: center;
    word-spacing: -10px;
    z-index: 22;
}
.gz{
    width:1.44rem;
    height: .7rem;
    border-radius:.15rem;
    border: none;
    background-color:#55A8B3;
    outline: none;
    font-size: 15px;
    color:#FFFFFF;
}
.hg{
    width:1.44rem;
    height: 0.7rem;
    border-radius: .15rem;
    border: none;
    background-color:#FFFFFF;
    font-size: 15px;
    color:#55A8B3;
}
.dowe{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 92%;
    top: 6px;
}
.box{
    position:sticky;
    top:.88rem;
    z-index: 1;
    display:flex;
    align-items: center;
    height: 0.8rem;
    background-color:#FFFFFF;
}
.dropdown {
    flex: 1;
    position: relative;
    border:0.01rem solid #e1e5e7;
    line-height:0.8rem;
    text-align: center;
    font-size:0.28rem;
    color:#999999;
}
.klla{
    float: right;
    border-style:solid;
    border-width:5px;
    border-color: #AFBAC0 transparent transparent transparent;
    margin: 0.36rem 0.12rem 0 0;
}
ul,li{
    margin: 0;
    padding:0;
    list-style: none;
}
.dropdown-content {
    flex: 1;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
}
.dropdown:hover .dropdown-content {
    display: block;
}
li.li:hover{
    background-color: #5FC0CD;
}
.ddbox{
    height: 1.8rem;
    border-bottom: .001rem solid #E1E5E7;
    background: #FFFFFF;
    line-height: .55rem;
}
.date{
    padding-left: .4rem;
    margin: 0 0 0 .3rem;
    font-size:.24rem;
    letter-spacing: .03rem;
    color: #999999;
}
.lll{
    display: flex;
    justify-content: space-between;
}
.left{
    margin: 0 0 0 .7rem;
    font-size: .28rem;
    color:#333333;
}
.right{
    font-size: .3rem;
    color:#E63B0E;
}
.qwe {
    display: inline-block;
    width: .19rem;
    height: .19rem;
    margin: 0 .3rem 0 .21rem;
    border-top: .03rem solid #5FC0CD;
    border-right: .03rem solid #5FC0CD;
    transform: rotate(45deg);
}
.location{
    padding-left: .4rem;
    margin: .2rem 0 .2rem .3rem;
    font-size:.24rem;
    letter-spacing: .03rem;
    color: #999999;
}
.dwyz{
    margin: 6px 0 0 15px;
    position: absolute;
    height: 16px;
    width: 13px;
}
.dwyz2{
    height: 15px;
    width: 15px;
    position: absolute;
    margin: 6px 0 0 15px;
}
.youyou{
    width: 35px;
    height: 30px;
    position: absolute;
    color: #00BCD4;
    font-size: 13px;
    text-align: center;
    margin: 0 0 0 20%;
}
.aniu{
    width: 30px;
    height: 30px;
}
.aniu5{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f3f4f6;
    padding: 10px 0;
}
.aniu1{
    height: 50px;
    width: 50px;
    position: absolute;
    left: calc(50% - 0.5rem);
    background: darkturquoise;
    border-radius: 25px;
}
.tp1{
    height: 31px;
    width: 30px;
    position: absolute;
    left: calc(50% - 12.5px);
    background: darkturquoise;
    top: 5px;
}
.youyou2{
    width: 35px;
    float: right;
    left: 280px;
    color: #9E9E9E;
    top: 3px;
    text-align: center;
    font-size: 13px;
    margin:0 20% 0 0;.
}
.aniu3{
    width: 30px;
    height: 30px;
}
.ddbox-1{
    padding-bottom: 140px;
    height: 1.8rem;
    border-bottom: .001rem solid #E1E5E7;
    background: #FFFFFF;
    line-height: .55rem;
}