body{
    margin: 0;
    height: 100%;
    width: 100%;
    background: #34bede;
}
.frame{
    width: 100%;
    height: 50px;
    margin: 0;
}
.script1{
    color: aliceblue;
    text-align: center;
    margin: 0;
    font-size: 25px;
    line-height: 50px;
}
.picture1{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.picture2{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 88%;
    top: 15px;
}
.frame2{
    background: #bae9f4;
    height: 50px;
}
.script2{
    margin: 0;
    line-height: 50px;
    text-align: center;
}
.triangle{
    width: 0;
    height: 0;
    border-width: 10px 0 10px 20px;
    border-style: solid;
    border-color: transparent transparent transparent #feffff;
    top: 10px;
    position: relative;
    left: 10px;
}
.father{
    height: 40px;
    margin: 0;
    width: 40px;
    float: right;
    background: #f8b445;
    border-radius: 25px;
}
.script3{
    color: aliceblue;
    position: relative;
    left: 10%;
}
.square1{
    background: #82af9b;
    margin: 4%;
    float: left;
    width: 23vw;
    height: 23vw;
    border: 1px solid #ffffff;
}
.rectangle{
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 5vw;
}
.up{
    width: 23vw;
    position: relative;
    background: #f3c881;
    height: 17vw;
}

.general{
    flex-direction: row;
    justify-content: space-between;
    display: flow-root;
    width: 100vw;
    height: 150vw;
}
.one{
    margin: 0;
    text-align: center;
    line-height: 18vw;
}
.button{
    height: 80px;
    background: #34bede;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 80px;
    text-align: center;
}
.button1{
    height: 50px;
    background: #f8b445;
    width: 50vw;
    text-align: center;
    border: 1px solid #8b44;
    line-height: 50px;
    font-size: 20px;
    color: aliceblue;
}