body{
    margin: 0;
}
.header{
    height: 50px;
    background: #00CED1;
}
.sjx{
    color: white;
    left: calc(50% - 2rem);
    position: absolute;
    line-height: 50px;
}
.fhtp{
    height: 13px;
   width: 17px;
    margin: 18px;
    position: absolute;
}
.pyz{
    height: 165px;
    width: 100%;
    position: absolute;

}
.xq{
    height: 80px;
    width: 70px;
    position:relative;
    border-radius: 100%;
    top: 55px;
    left: 30px;
}
.xlb{
    height: 20px;
    width: 15px;
    position: absolute;
    top: 150px;
    left: 120px;
}
.wz1{
    position:absolute;
    color: white;
    top: 100px;
    left: 120px;
}
.wz2{
    position: absolute;
    color: white;
    top: 133px;
    left: 145px;
}
.lk{
    margin: 100px 0 0 10px;
    color: #00CED1;
}
.ysd{
    position: absolute;
    margin: -20px 0 0 20px;
}
.xx1{
    margin:  0 5px -5px 15px;
}
.xx2{
    margin:  0 5px -5px 15px;
}
.xx3{
    border-right-style: groove;
    line-height: 20px;
    color: #9E9E9E;
    margin: 0 0 0 20px;
    position: absolute;
    padding: 0 10px 0 0;
}
.xx4{
    margin: 0 30px 0 115px;
}
.hx1 {
    margin: 18px;
}
.xx8{
    margin: 0 0 0 115px;
    color: #F44336;
}
.xx9{
    border-right-style: groove;
    color: #9E9E9E;
    margin: 0 0 0 20px;
    padding: 0 10px 0 0;
    position: absolute;
    top: 0;
    bottom: 18px;
    display: flex;
    align-items: center;
}
.tb1{
    height: 40px;
    width: 45%;
    margin: 4px;
    color: #00BCD4;
    border-radius: 5px;
    background: azure;
    border-color: darkturquoise;
}
.kanwo{
    position:fixed;
    bottom:0;
    width: 100%;
}
.tb2{
    height: 40px;
    width: 45%;
    margin: 4px;
    float: right;
    background: #5fc0cd;
    color: white;
    border-radius: 5px;
}
.rbyx{
    position: relative;
    padding-bottom: 18px;
}
.hx2{
    margin: 0 18px 100px 18px;
}
