body{
    margin: 0;
    background: #e1e5e7;
}
.square1{
    width: 100%;
    height: 50px;
    background: #34bede;
}
.picture{
    width: 23px;
    height: 17px;
    position: absolute;
    top: 15px;
    left: 5px;

}
.frame1{
    width: 90%;
    height: 80px;
    background: aliceblue;
    left: 45px;
    text-align: center;
    margin: 15px auto;
}
.script1{
    color: darkgray;
    font-size: 25px;
    line-height: 80px;
}
.arrow1{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 .3rem 0 .21rem;
    border-top: 2px solid #9E9E9E;
    border-right: 2px solid #9E9E9E;
    transform: rotate(45deg);
    position: relative;
    left: 38px;
}
.frame2{
    width: 90%;
    height: 30rem;
    background: aliceblue;
    margin: auto;
}
.script2{
    text-align: center;
    color: #f8b547;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom-style: groove;
    border-bottom-color: #FF9800;
}
.frame3{
    width: 90%;
    height: 80px;
    background: #00BCD4;
    text-align: center;
}
.script3{
    line-height: 75px;
    font-size: 25px;
    color: aliceblue;
    margin: 0;
}
.script{
    text-align: center;
    color: #9b9c9d;
    margin: 0;
}
.frame{
    width: 70%;
    height: 75px;
    background: #6dd2e9;
    text-align: center;
    margin: 10px auto;
}
.square2{
    height: 18px;
    width: 94px;
    margin: 10px auto;
}
.triangle{
    width: 0;
    height: 0;
    border-width: 15px 0 20px 15px;
    border-style: solid;
    border-color: transparent transparent transparent #FF9800;
    position: relative;
    display: inline-block;
    left: 44%;
    top: 10px;
}
.link{
    height: 100%;
    width: 100%;
    text-decoration:none;
    display:inline-block;
}