body{
    margin: 0;
    background: #00CED1;
}
.c{
    height: 56px;
    width: 154px;
    margin: 20px;
}
.b{
    height: 40px;
    margin: 30px;
    float: left;
}
.d{
    height: 40px;
    float: right;
    margin: 30px;
}
.logo{
    width: 38px;
}
.p{
    margin: 50px;
}
.y{
    color: aliceblue;
    margin: 30px;
    text-align: center;
}
.x{
    float: right;
    font-size: 18px;
    color: aliceblue;
    margin: 30px;
    text-align: center;
}
.z{
    font-size: 18px;
    color: aliceblue;
    margin: 30px;
    float: left;
    text-align: center;
}