body{
    margin: 0;
}
.go{
    width: 100%;
    height: 60px;
    background: #34bede;
    text-align: center;
    line-height: 60px;
}
.picture1{
    height: 30px;
    width: 37px;
    float: left;
}
.picture2{
    height: 30px;
    width: 30px;
    float: right;
}
.script1{
    color: aliceblue;
}
.centre{
    width: 100%;
    height: 60rem;
    background: #34bede;
    text-align: center;
}