html {
  font-size: 62.5%;
}
body {
  margin: 0rem;
}
.header {
  position: fixed;
  top: 0rem;
  padding: 2rem 0rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  background-color: #5fc0cd;
  background-image: url(../img/place.png);
  background-repeat: no-repeat;
  position: relative;
  background-position-x: 95%;
  background-position-y: center;
}
.header .job {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #55a8b3;
  border: none;
  border-radius: .5rem;
}
.header .jober {
  padding: 1rem 2rem;
  margin-left: -1rem;
  font-size: 2rem;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: .5rem;
}
.select {
  position: fixed;
  top: 8.5rem;
  width: 100%;
  white-space: nowrap;
}
.select select {
  width: 33.5%;
  font-size: 2.5rem;
  padding: 1rem;
  padding-left: 8%;
  margin-left: -0.4rem;
  -webkit-appearance: none;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2rem;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}
.main {
  position: fixed;
  top: 14rem;
  bottom: 10rem;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
.main .info {
  padding: 2rem;
  padding-left: 5rem;
  font-size: 4rem;
  background-image: url(../img/sprit.png);
  background-repeat: no-repeat;
  background-position: 2rem 2.5rem;
  background-size: 2rem;
}
.main .info .date {
  color: #b6b6b6;
}
.main .info .number-warp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .info .number-warp .money {
  color: #e63b0e;
  font-size: 5.3rem;
}
.main .info .number-warp a {
  color: #5fc0cd;
  font-size: 6rem;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  position: fixed;
  bottom: 0rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.footer a {
  width: 10rem;
  height: 10rem;
}
.footer .home {
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
}
.footer .write {
  background-image: url(../img/write.png);
  background-repeat: no-repeat;
}
.footer .me {
  background-image: url(../img/me.png);
  background-repeat: no-repeat;
}
