html {
  font-size: 625%;
}
body {
  margin: 0;
  padding:0;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: .7rem;
  background-color: #5FC0CD;
  z-index: 999999;
}
.a{
  float:left;
  margin: -.5rem .1rem;
  width:.23rem;
  height:.37rem;
}
.p{
  text-align:center;
  line-height: .7rem;
  font-size: 0.3rem;
  color: #fff;
}
.beijing{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-top: .7rem;
  padding-left:  .1rem;
  background: {
    image: url(../image/beijing.png);
    repeat: no-repeat;
    size: cover;}
  z-index: 0;
}
.img2 {
  width:1.2rem;
  height:1.2rem;
}
.information{
  margin-left: .2rem;
}
.information-about {
  margin-bottom: .2rem;
  font-size: .15rem;
  color: #fff;
}
.information-about {
  span {
    font-size: .14rem;
    color: #fff;
  }
}
.address {
  width: 1.5rem;
  height: 23px;
  padding-left: .3rem;
  font-size: .1rem;
  color: white;
  line-height: 23px;
  background: {
    image: url(../image/dian.png);
    repeat: no-repeat;
    position: 0 50%;
    size: .18rem .23rem;
  }
}
.skill {
  position: relative;
  top: -1.6rem;
  width: 100%;
  height: .6rem;
  margin-top: 1.6rem;
  line-height: .6rem;
  padding-left: .5rem;
  font-size: .2rem;
  border: {
    bottom: 1px solid #EEF0F1;
    top: 1px solid #EEF0F1;
  }
}
.box {
  position: relative;
  top: -2rem;
  left: .2rem;
  width: 3px;
  height: .2rem;
  background: {
    color: #5FC0CD;
    position: center;
  }
}
$border: 1px solid #EEF0F1;
.ps {
  position:relative;
  top: -1.8rem;
  left: .2rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: .45rem;
  font-size: .15rem;
  border-bottom: $border;
}
.ps1 {
  width: .7rem;
  height: .23rem;
  padding-left: .1rem;
  border-right: $border;
}
.ps2 {
  width: 1.5rem;
  height: .23rem;
  margin-left: .2rem;
}
.img3 {
  width: .15rem;
  height: .15rem;
  padding-right:.05rem;
  line-height:.23rem;
}
ul{
  position: relative;
  top: -2.85rem;
  width:auto;
  height: 1rem;
  padding-left: .2rem;
}
li {
  display: flex;
  align-items: center;
  width:auto;
  padding: .15rem;
  font-size: .15rem;
  border-bottom: $border;
}
@mixin ps3-6 {
  margin-right: .2rem;
  color: #C0C0C0;
}
.ps3 {
  @include ps3-6;
}
@mixin ps4-5 {
  padding-left: .2rem;
  border-left: $border;

}
.ps4 {
  @include ps4-5;
}
.ps5 {
  @include ps4-5;
  color: #ff0000;
}
.ps8 {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: -.4rem;
  border-bottom: $border;
}
.ps6 {
  @include ps3-6;
  padding: 0 .2rem 0 .4rem;
  border-right: $border;
  white-space: nowrap;
}
.ps7 {
  font-size: .15rem;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: .8rem;
  background-color: #fff;
  z-index: 888888;
}
@mixin bt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height:.6rem;
  border: 3px solid #5FC0CD;;
  border-radius: 10px;
}
.word {
  @include bt;
  background-color: #fff;
}
@mixin font {
  font-size: .25rem;
  text-decoration: none;

}
.word {
  a{
    @include font;
    color: #5FC0CD;
  }
}
.phone {
  @include bt;
  background-color: #5FC0CD;
}
.phone {
  a{
    @include font;
    color: #FFF;
  }
}