 html {
     font-size: 625%;
 }
 body {
     margin: 0;
     padding: 0;
     background-color: #F0F0F0;
 }
 header {
     position:fixed;
     top: 0;
     width: 100vw;
     height: .4rem;
     background-color: #29BDE0;
     line-height: .4rem;
     z-index: 999999;
 }
 .shu {
     width: .5rem;
     height: .35rem;
     padding-left: .1rem;
 }
 /*标题*/
 .title {
     width: 100%;
     height: .6rem;
     background-color: #FFF;
     text-align: center;
     line-height: .6rem;
     margin-top: .6rem;
 }
 .title-word {
     font-size: .2rem;
     color: #9A9A9A;
 }
 .title-word a {
     text-decoration: none;
 }
 .title-mark {
     float: right;
     margin-top: -.55rem;
     margin-right: .1rem;
     width: 25px;
     height: 25px;
     border-top: 5px solid #E7E7E7;
     border-right: 5px solid #E7E7E7;
     transform: rotate(45deg);
 }
 /*游戏名*/
 .name {
     display: block;
     width:  100%;
     height: .6rem;
     margin-top: .3rem;
     text-align: center;
     line-height: .6rem;
     color: #FBB435;
     font-size: .2rem;
     background-color: #FFF;
     border-bottom: 1px solid #FBB435;
 }
 .subject {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
     margin-top: -.1rem;
     margin-bottom: .4rem;
     background: #FFF url(../image/san.png) no-repeat 99% 45%/3% 4%;
 }
 .box {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 90%;
     height:1rem;
     background-color: #69D1E9;
     margin: .2rem 0;
 }
 .box a {
     text-decoration: none;
 }
 .version {
     font-size: .2rem;
     color: #FFF;
 }
 .number{
     width: 90%;
     height:.2rem;
     text-align: center;
     line-height: .2rem;
     font-size: .1rem;
     color: #9B9B9B;
 }
 .icon {
     display:flex;
     justify-content: center;
     align-items: center;
     width:30%;
     height:.2rem;
 }
 /*4个圆*/
 .small-icon {
     width: 10px;
     height: 10px;
     margin: 0 .05rem;
     background-color: #E7E7E7;
     border-radius: 50%;
     cursor:pointer;
 }
 .small-icon:first-child {
     background-color: #69D1E9;
 }