* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font-size: 100px;
  background: #29bde0;
}
/* 头部 */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.07rem 0.11rem;
  width: 100%;
  background-color: #29bde0;
  font-size: 0.17rem;
  color: #fff;
}
.menu-box {
  border: 0.01rem solid #fff;
  padding: 0.03rem 0.01rem;
  width: 0.19rem;
  height: 0.15rem;
}
.menu-logo {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.02rem 0;
  width: 0.15rem;
  height: 0.07rem;
  background: #fff;
  background-clip: content-box;
}
.close {
  border: none;
  width: 0.18rem;
  height: 0.18rem;
  background: url(../.././favicon.ico/task7/close.png);
}
/* 投票标题 */
.vote-title {
  position: fixed;
  left: 0;
  top: 0.34rem;
  width: 100%;
  z-index: 9999;
}
/* 主体部分 */
main {
  margin-bottom: 1rem;
  background-color: #29bde0;
}
.pepple-vote::after {
  content: "";
  display: block;
  clear: both;
}
.prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.08rem 0.09rem 0.08rem 0.23rem;
  font-size: 0.12rem;
  background: #b9e9f5;
}
.switch {
  border: none;
  width: 0.26rem;
  height: 0.26rem;
  color: #464646;
  background: url(../.././favicon.ico/task7/switch.png);
}
/* 播放背景音乐按钮 */
.zycf {
  display: none;
}
.notice {
  line-height: 0.35rem;
  color: #fff;
  background-color: #29bde0;
}
.caret {
  float: left;
  margin-left: 0.35rem;
  color: #b9e9f5;
}
/* 投票界面 */
.pepple-vote {
  margin-top: 1.2rem;
  padding-left: 0vw;
}
.game-info:hover {
  cursor: pointer;
}
.game-info {  
  margin: 0 0 7vw 9.5vw;
  width: 20vw;
  height: 20vw;
  float: left;
}
.identity-num {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;  
  background-color: #f5c97b;
}
.identity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 70%;
  font-size: 0.2rem;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  width: 100%;
  background: #83b09a;
  font-size: 0.14rem;
  color: #fff;
}
/* 小图标 */
.kill-treat {
  display: none;  
  margin: 7% 0;
  padding: 0; 
  width: 20vw;  
  background: #29bde0;  
}
.game-info:hover .kill-treat {  
  display: block;
}
.kill-treat  li {  
  float: left;
  height: 4vw;
  width: 4vw;
  margin-right: 6.5%;
}
.kill-treat  li i {
  display: inline-block;
}
.kill-treat .treat1 {  
  margin-right: 0;
}
.kill {
  height: 4vw;
  width: 4vw;
  background: url(../.././favicon.ico/task7/task7-2sprite.png) no-repeat 0 0;
  background-size: auto 100%;
}
.find {
  height: 4vw;
  width: 4vw;
  background: url(../.././favicon.ico/task7/task7-2sprite.png) no-repeat 33.3% 0;
  background-size: auto 100%;
}
.location {
  height: 4vw;
  width: 4vw;
  background: url(../.././favicon.ico/task7/task7-2sprite.png) no-repeat 66.6% 0;
  background-size: auto 100%;
}
.treat {  
  height: 4vw;
  width: 4vw;
  background: url(../.././favicon.ico/task7/task7-2sprite.png) no-repeat 100% 0;
  background-size: auto 100%;
}
/* 底部投死按钮 */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  padding: 0.22rem 0;
  width: 100%;
  height: 0.9rem;
  text-align: center;
  line-height: 0.15rem;
  font-size: 0.15rem;
  color: #fff;
  background-color: #29bde0;
}
button {
  border: none;
  width: 80%;
  height: 0.44rem;
  background-color: #fbb435;
}
