@charset "UTF-8";
html {
  font-size: 625%; }

/* 头部 */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 .1rem;
  height: .5rem;
  line-height: .5rem;
  color: #fff;
  background-color: #5fc0cd; }
  header .back-btn {
    float: left;
    height: .5rem;
    line-height: .5rem;
    font-size: 0.2rem;
    color: #fff;
    background-color: #5fc0cd;
    border: 0;
    outline: none; }
  header h2 {
    text-align: center;
    font-size: 0.2rem; }

/* 底部按钮 */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: .2rem; }
  footer .wrap {
    display: flex;
    margin: 0 .1rem; }
    footer .wrap button {
      flex: 1 1 0px;
      padding: .1rem;
      font-size: 0.2rem;
      white-space: nowrap;
      border-width: 1px;
      border-style: solid;
      border-color: #5fc0cd;
      border-radius: .05rem; }
    footer .wrap .left-btn {
      margin-right: .1rem;
      color: #5fc0cd;
      background-color: #fff; }
    footer .wrap .right-btn {
      color: #fff;
      background-color: #5fc0cd; }

.main {
  margin-bottom: 1rem;
  /* 个人简介 */
  /* 详细情况栏 */ }
  .main .head {
    position: relative;
    height: 2rem;
    margin-top: .5rem;
    background: url(../image/background@1x.png) 0 0/cover no-repeat; }
    .main .head .head-wrap {
      margin-left: .2rem; }
      .main .head .head-wrap .head-left, .main .head .head-wrap .head-right {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      .main .head .head-wrap .head-left {
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background: url(../image/head@1x.png) 0 0/cover no-repeat;
        background-color: #efefef; }
      .main .head .head-wrap .head-right {
        padding-left: 1rem;
        font-size: 0.2rem;
        color: #fff; }
      .main .head .head-wrap .head-right p:last-child {
        padding-left: .15rem;
        margin-top: .1rem;
        height: .15rem;
        line-height: .15rem;
        font-size: .1rem;
        background: url(../image/icon1@1x.png) 0 center no-repeat; }
  .main .content {
    font-size: .15rem; }
    .main .content .title {
      padding: .1rem;
      height: .15rem;
      line-height: .15rem;
      border-width: 1px;
      border-style: solid;
      border-color: #e1e5e7; }
      .main .content .title h3 {
        padding-left: .1rem;
        font-size: .18rem;
        border-left: 2px solid #5fc0cd; }
    .main .content .box {
      /* 选择类名为.box下的倒数第二个li标签下类名为.right的元素 */
      /* 选择类名为.box下的第一个li标签下的div标签 */ }
      .main .content .box li {
        position: relative;
        padding: .1rem;
        /* 列表下边线左右各空一段距离 */
        margin: 0 .1rem;
        border-bottom: 1px solid #e1e5e7; }
        .main .content .box li div {
          display: inline-block; }
        .main .content .box li .left {
          position: absolute;
          padding-right: .2rem;
          top: 50%;
          transform: translateY(-50%);
          color: #999;
          border-right: 1px solid #e1e5e7; }
        .main .content .box li .right {
          margin-left: 1rem; }
      .main .content .box li:nth-last-child(2) .right {
        color: red; }
      .main .content .box li:first-child div {
        padding-left: .15rem;
        color: #000;
        background: url(../image/icon2@1x.png) 0 center no-repeat; }
      .main .content .box li:first-child .left {
        /* 取消右边的线 */
        border-right: none; }
      .main .content .box li:first-child .right {
        margin-left: .6rem; }

/*# sourceMappingURL=task12-1.css.map */
