

img{
    width: 10rem;
    height: 10rem;

}
.liebiao{
    float: left;
}
.beijingtu{
    width: 50rem;
    background-color: red;
    height: 50rem;background-image: url("../images/任务列表/背景图.png");
}