

* {
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}


header{
    height: 4rem;
    width: 100%;
    background-color: #5fc0cd;
    color: white;
}

.fanhui{
    padding-top: 0.5rem;
    margin-left: 1rem;
    float: left;
}
.gerenzhuye{
    padding-top: 1rem;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}
.content{
    width: 100%;
    background-color: #ffffff;}
.beijingtu{
    height: 12rem;
    background-image: url(../images/task5-1_02.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.touxiang{
    width: 6rem;
    height: 6rem;
    margin-top: 2%;
    margin-left: 6%;
    float: left;
}
.wenzi{
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    color: #ffffff;
    font-size: 1rem;
}
.zhuanye{
    margin-left: 2rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}

.jineng{
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem ;
    border-left: 1px solid aqua;
    padding-left: 2rem;
}
.jianshao{
    margin-left: 2rem;
    height: 4rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}
.zhujia{
    float: left;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-right: 1px solid gainsboro;
    padding-left: 2rem;
    padding-right: 2rem;
}

.buchifan{
    float: left;
    font-size:2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 2rem;
}
.gongling{
    margin-left:2rem ;
    height: 4rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}
.nianxian{
    float: left;
    border-right: 1px solid gainsboro;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: gainsboro;
}
.nianling{
    float: left;;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 0rem;
}
.gongzuo{width: 100%;
    height: 4rem;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}
.fuwu{
    color: red;
    float: left;;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 0rem;
}
.huigansha{
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 0rem;
}
.wudi{
    margin-left: 2rem;
    display: flex;
    height: 10%;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}
.lihai{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    padding-right: 2rem;
    border-right: 1px solid gainsboro;
    padding-left: 2rem;
    color: gainsboro;
}


.tailihai{
    width: 30%;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 0rem;
}
.kuangkuang{
    width: 100%;
    height: 6rem;
    background-color: white;
    display: flex;
}
.liuyan{
    color: #5fc0cd;
    background-color: #ffffff;
    border: 3px solid #5fc0cc;
    font-size: 4rem;
    width: 45%;border-radius: 5%;
    text-align: center;
    margin-left: 3rem;
    height: 10rem;
    cursor: pointer;
}
.dianhua{
    color: #ffffff;
    background-color:#5fc0cd;
    border: 3px solid #ffffff;border-radius: 5%;
    font-size: 4rem;
    width: 45%;
    text-align: center;
    margin-left: 3rem;
    height: 10rem;
    cursor: pointer;
}
.kuangkuang .dianhua{
    color: red;
}