html{
    font-size:62.5%;
}
body{
    width:1240px;
    height:1754px;
    background:#000;
    color:yellow;
}
.txt{
    text-align:center;
    font-size:4em;
}
.wid100{

    display:flex;
    justify-content:space-between;
    font-size:3em;
}
.bor{
    width:100%;
    height:5px;
    border-bottom:1px solid #ccc;
}