*{
    margin: 0;
    padding: 0;}
ul,ol{
    list-style: none;}
/*消除图片底部3像素距离*/

.scroll{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: pink;}
.box{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: lightblue;}
.box ul{
    width: 600%;
    position: relative;
    background-color: lightyellow;
    left: 0;
    top: 0;}
.box ul li{
    float: left;
    width: 16.666666%;}
.scroll ol{
    position: absolute;
    left: calc( 50% - 36px );
    bottom: 10px;}
.scroll ol li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left:10px;
    border: 2px solid #c2c0c5;
    cursor: pointer;}

.scroll img{
    width: 100%;}

.scroll ol li.current{
    background-color: white;}
