html{
    font-size: 625%!important ;
}
body,img{
    margin:0;
    padding:0;
    background-color: #f0eeee;
}
nav{
    height:0.6rem;
    width:100%;
    font-size: 0;
    position: relative;
}
.carousel-indicator {
    position: absolute;
    left:45%;
    list-style: none;
    bottom: 0;
    z-index: 22;
}
.carousel-indicator li{
    display: inline-block;
    width:0.1rem;
    height:0.1rem;
    border:0.01rem solid #fff;
    border-radius: 50%;
}
.carousel-indicator .active {
    width:0.1rem;
    height:0.1rem;
    background-color: white;
}
.battle{
    background: url(../images/model1.jpg )no-repeat center ;
    height: 2rem;
    text-align: center ;
}
p{
    text-align: center;
    font-size: 0.2rem;
}
.spanModefy{
    text-align: center ;
    width:100%;
    display: inline-block;
    font-size: 0.18rem;
    color:#cacaca;
    height:0.5rem;
    line-height: 0.5rem;
}
.teamwork{
    background: url(../images/model2.jpg )no-repeat center;
    height:2rem;
}
.multiplayer{
    background:url(../images/model3.jpg )no-repeat center;
    height:2rem;
}
.person{
    margin-top: 1.8rem;
}
.people{
    text-align: center ;
    background: url(../images/man.png )no-repeat 35% ;
    font-size: 0.17rem;
    margin: 0.1rem 0;
    color:#000000;
}
.text-title {
    text-align: center ;
    font-size: 0.25rem;
    margin-top: 0.5rem;
}
.study-page {
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align: center ;
    height:1.5rem;
    color:#dddddd
}
.number{
    width:.5rem;
    height:.3rem;
    text-align: center ;
    line-height: 0.3rem;
    border-radius: 50%;
    border:0.01rem solid grey;
    color:#000000;

}
.path-text{
    text-align: center ;
    width:50%;
    display: inline-block;
}
.angle{
    background: url(../images/angle.png )no-repeat right;
    height:0.5rem;
    width:0.5rem;
}
.list-show {
    text-align: center ;
    font-size: 0.25rem;
    margin: 0.5rem 0;
}
.student{
    text-align:center;
    vertical-align: middle;
}
.student img{
    border-radius: 50%;
}
.student p{
    margin:0.1rem 0;
}
.not{
    text-align: center ;
    margin-top: 25%;
}
.not li{
    display: inline-block;
    width:0.15rem;
    height:0.15rem;
    border-radius: 50%;
    border: 0.01rem solid darkgrey;
}
.not li.active {
    display: inline-block;
    width:0.15rem;
    height:0.15rem;
    border-radius: 50%;
    border: 0.01rem solid darkgrey;
    background-color: #000000;
}
.company {
    margin-top: 10%;
    text-align: center ;
    font-size: 0.25rem;
}
.company.row{
    text-align: center ;
}
.company a{
    width:200px;
    height:220px;
    display: inline-block;
    background-position: center ;
}
.hezuo a{
    width:2rem;
    display: inline-block;
    height:0.2rem;
    color: black;
}
.alibaba {
    background: url(../images/dongshi.png )no-repeat ;
}
.jinshanyun{
    background:url(../images/mingyun.jpg )no-repeat  ;
}
.huanxin {
    background: url(../images/huanxin.png )no-repeat ;
}
.ronglian {
    background: url(../images/ronglian.png )no-repeat ;
}
.qiniu {
    background: url(../images/qiniu.png )no-repeat ;
}
.frind {
    text-align: center ;
    font-size: 0.25rem;
    margin-bottom: 3%;
}
.frind-text li{
    display: inline-block;
    width: 9%;
    height:0.3rem;
    text-align: center ;
    font-size: 0.2rem;
}
.frind-text a{
    color:#999;
}
footer{
    width:100%;
    height:3rem;
    background-color: #000000;
    font-size: 0.2rem;
}