* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body , p , ul , li {
    margin: 0;
    padding: 0;
}
body {
    background-color: #29BDE0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: solid .1rem #74D4EB;
    color: #fff;
    letter-spacing: .2rem;
}
.img-back {
    display: block;
    width: 1.5rem;
}
.img-quit {
    display: block;
    width: 2rem;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3vw;
}
.player-cont {
    height: 18vw;
    width: 18vw;
    margin: 6vw;
    background-color: #f5c97b;
    border: solid 0.5vw #fff;
}
.knife:after {
    content: '';
    display: block;
    height: 6vw;
    width: 6vw;
    margin: 3vw auto;
    background: url(../img/22.png);
    background-size: contain;
}
.player-details {
    font-size: 4vw;
    text-align: center;
    line-height: 13vw;
    background-color: #F5C97B;
    color: #000;
}
.player-num {
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
    background-color: #83B09A;
    color: #fff;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 3rem 2rem;
    background-color: #29BDE0;
    z-index: 5;
}
.begin-game {
    width: 100%;
    font-size: 2rem;
    line-height: 5rem;
    border: none;
    outline: none;
    background: #FBB435;
    color: #fff;
    cursor: pointer;
}
.dead-color .player-details {
    background: red;
}