
.container-fluid{
    display: flex;
    padding:0;
    background-color:white;    
}
.userlogin{
    flex:1;
    display: flex;
    flex-direction: row-reverse;
    float:right;
    line-height:50px;
    padding-right:20px;
    font-size:14px;
    border-bottom:1px solid gray;
}
.navbar-default{
    margin-bottom:0;
    border:none;
    background-color:white;
}
.navbar-collapse{
    padding:0;
}
.collapse{
    min-height:calc(100vh - 51px);
    padding:0;
    background-color:rgb(35, 42, 58);
}

.navbar-default .navbar-brand{
    width:250px;
    color:#fff;
    text-align: center;
    font-size:20px;
    font-weight:bold;
}
.navbar-header{
    background-color:rgb(35, 42, 58);
}
.container-fluid>.navbar-header{
    margin:0;
    border-bottom:1px solid gray;
}

    .change-box{
        width:250px;
        padding:10px 0;
        background-color: rgb(35, 42, 58);
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .show-box{
        display: none;
        width:250px;        
        background-color: rgb(35, 42, 58);
        color: #fff;
        font-size: 16px;
        text-align:center;
    }
    .hihebox{
        display: block;
        
    }
    .sonbox1{
        width: 250px;
        padding-bottom:10px;
    }
    .sonbox2{
        color: white;
    }
    .flex{
        display: flex
    }
    .mainside{
        flex:1;
    }
    @media screen and (min-width:768px) {
        .sidebar {position: absolute;width: 250px;margin-top: 51px;z-index: 2;}
        .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
            color:#fff;
            margin-left:0;
        }
    
    }
    @media screen and (max-width:768px){
        .container-fluid{
            display: block;
        }
    
        aside{width:100%;}
        .navbar-collapse{width:100%;}
        .userlogin{width:100%;border-bottom:1px solid gray;}
        .flex{
            flex-wrap:wrap;
        }
        .collapse{width:100%;min-height:auto;}
        .show-box{
            width:100%;
        }
        .change-box{
            width:100%;
        }
        .sonbox1{
            width:100%;
        }
    }