
.options{
    margin-bottom:20px;
    padding-top:10px;
    border:1px solid #f1f1f1;
}
.options .container{
    width:auto;
}
.options .container .row{
    margin:0;
    padding:0;
}
.options .container .row .flexbox{
    display: flex;
    margin-bottom:10px;

}
.options .container .row .flexbox .option{
    width:80px;
    margin:10px;
}
.options .container .row .flexbox .time{
    width:300px;
    height: 34px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
}
.options .container .row .flexbox .time .btn-default{
    height:34px;
}
.options .container .row .flexbox select{
    width:300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}   
.options .botton{
    display: flex;
    flex-direction:row-reverse;
}
.options .botton .clear{
    margin:5px;
    padding:5px;
    border:none;
    border-radius: 3px;
    color:#fff;
    background-color: #d9534f;
}
.options .botton .search{
    margin:5px;
    padding:5px;
    border:none;
    border-radius:3px;
    color:#fff;
    background-color:#5cb85c;
} 
.list{
    border:1px solid #f1f1f1;
}
.list-title{
    display: flex;
    justify-content: space-between;
    padding:5px 10px;
    border-bottom:1px solid #f1f1f1;
    background-color:#f5f5f5;
}
.list-title span{
    font-weight: bold;
}
.list-title button{
    border:none;
    border-radius: 3px;
    color:#fff;
    background-color: #5cb85c;
    outline: none;
}
.list-body{
    margin:10px;
}
table{   
    width:100%;

}
table thead{
    font-weight:bold;
    border:1px solid #f1f1f1;
}
table thead tr th{
    padding:5px;
    text-align: center;
}
table tbody{
    border:1px solid #f1f1f1;
}
table tbody tr td{
    padding:5px;
    text-align: center;
}
table tbody tr td img{
    width:70px;
    height:70px;
}
table tbody tr td button{
    border:none;
    outline:none;
    color:#6c7ab7;
    background-color:#fff;
}
.paginationss{
    width:100%;
    text-align: center;
}

.paginationss ul li a{

    margin:0 5px;
}
@media screen and (max-width:1050px){
    .list .list-body table tbody tr td button{
        display: block;
    }
}
 @media screen and (max-width:768px){
    .options .container .row .flexbox{
        display: block;
    }
    .options .container .row .flexbox .time{
        width:100%;
    }
    .options .container .row .flexbox select{
        display: block;
        width:100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .options .container .row .flexbox .time{
        width:100%;
    }
} 
