html, body, ul, li, div {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

li {
    list-style: none;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: #ccc;
    width: 300px;
    text-align: center;
}

.toggle {
    padding-bottom: .5em;
}

.title {
    font-size: 20px;
    line-height: 1.5;
    color: #0d99a5;
    cursor: pointer;
}

.title:hover {
    background-color: red !important;
}

ul.body {
    display: none;
}

.list {
    font-size: 16px;
    color: #0000f1;
}

.list:hover {
    background-color: #00ee00 !important;
    cursor: pointer;
}
