@charset "UTF-8";
body {
    font-size: 62.5%;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    width: 100%;
    height: 55px;
    background-color: #29bde0;
}

ul {
    float: left;
    width: 30px;
    height: 20px;
    padding-top: 20px;
    margin-left: -20px;
    list-style-type: none;
}

a{
    width: 100%;
}

a:hover{
    color: #c82333;
    text-decoration: none;
}

.line1 {
    width: 25px;
    height: 4px;
    background-color: #FFFFFF;
}

.line2 {
    width: 25px;
    height: 4px;
    background-color: #29bde0;
}

.container-fluid-top{
    height: 60px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c9c9c9;
    background-color: #FFFFFF;
}

.row{
    width: 80%;
}

.col-xs-10{
    width: 100%;
    margin-top: 20px;
}

.col-xs-12{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #9a9a9a;
}

.button-head{
    border: 0;
    background-color: #FFFFFF;
}

.button1:focus{
    outline: 0;
}

.icon1{
    height: 26px;
}


.col-xs-6 {
    height: 50px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c9c9c9;
    border-bottom-color: #fbb435;
    background-color: #FFFFFF;
}

h3{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
    white-space: nowrap;
    font-size: 20px;
    color: #fbb435;
}

.container-fluid{
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c9c9c9;
    background-color: #FFFFFF;
}

.btn {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0 solid #FFFFFF;
    color: #FFFFFF;
    background-color: #29bde0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.triangle{
    width: 20px;
    height: 30px;
    position: absolute;
    right: 12%;
    margin-top: 176px;
}

p{
    width: 100%;
    margin-top: 20px;
   text-align: center;
    font-size: 13px;
    color: #a0a0a0
}

.circle{
    width: 80%;
    display: flex;
    margin-top: -10px;
    padding-bottom: 10px;
    justify-content: center;
}

.circle1,.circle2{
     width: 10px;
     height: 10px;
    margin-right: 0.3rem;
     border-radius:50%;
 }
.circle1{
    background-color: #29bde0;
}
.circle2{
    background-color: #f0f0f0;
}

