@charset "utf-8";  
  
/* 重置样式 */  
button { padding: 0; border: none; background: transparent; outline: none;}    //按钮默认样式修改
a {text-decoration:none;outline:none;}
p {margin: 0;}
ul {margin: 0; padding: 0;outline: none;list-style: none;}
.flt-right {float: right;}
/* 基础样式 */   
$col-1 :#f0f0f0;    //灰色背景颜色
$col-2 :#29bde0;    //页面调性主颜色
$col-3 :#fbb435;    //页面调性次颜色
.lh40{line-height: .40rem;}
.dib{display: inline-block;}
.flt{float: left;}
.frt{float: right;}
.tac{text-align: center;}
.tr180{transform: rotate(180deg)}
.trs5{transform: scale(0.5)}
.pd10{padding: .10rem;}
.prb{position: relative;bottom:3.5px;}
.fcc{display: flex;justify-content: center;align-items: center;}

::-webkit-scrollbar {display: none;}    //隐藏滚动条
img { transform: scale(0.5);}    //插入图片统一缩放:0.5

/* 全局样式 */  
html {
  font-size: 625%;
  overflow-x: hidden; 
  height: 100%;
}

body {
  font-size: .12rem;
  margin: 0;
  padding: 0;
  height: 100%;
}