@import "_global";
body {background: $col-2;}
header {
  padding: 0 .20rem;
  border-bottom: 1px #48c7e5 solid;
  line-height: .40rem;
  color: #ffffff;
  font-size: .16rem;
  background: $col-2;
  overflow: scroll;
}
//翻牌提示框
main{
  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .45rem;
    border: 3px #ffffff solid;
    height: 3.25rem;
    background: #ffedc5;
    font-weight: bold;
    font-size: .18rem;
    //圆圈数字框
    #num {
      position: absolute;
      top: .65rem;
      left: calc(50% - .20rem);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px #ffedc5 solid;
      border-radius: 20rem;
      width: .34rem;
      height: .34rem;
      color: #f56b81;
      background: #ffffff;
    }
    #juese {
      line-height: .30rem;
      color: $col-2;
    }
    #cizu {
      line-height: .30rem;
      color: #f56b81;
    }
    #note {
      font-weight: normal;
      font-size: .16rem;
      color: #fca000;
      text-align: left;
      height: 1rem;
      width: calc(100% - .20rem);
    }
    #images{
      transform: scale(1);
      zoom: 50%;
      max-width: 100%;
    }
  }
  //去发牌按钮
  #watch {
    display: block;
    font-size: .20rem;
    color: #ffffff;
    margin: .40rem;
    width: calc(100% - .80rem);
    height: .40rem;
    background: #fab344;
  }
}
