html {
  font-size: 62.5%;
  background-color: white;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
.container {
  width: 100%;
  background-color: #29bde0;
}

.header {
  height: 24rem;
}

.main-body {
  position: absolute;
  top: 24rem;
  bottom: 18rem;
  width: 100%;
  max-width: 720px;
  overflow: scroll;
  overflow-x: hidden;
}

.main-body::-webkit-scrollbar{
  display: none;
}

.footer {
  position: absolute;
  height: 18rem;
  bottom: 0%;
  width: 100%;
  max-width: 720px;

}

.title {
  height: 7rem;
  line-height: 7rem;
  overflow: hidden;
}

.title-text {
  font-size: 3.4rem;
  color: white;
}

.menu-img {
  display: inline-block;
  vertical-align: middle;
}

.sub-title {
  display: inline-block;
  position: relative;
  left: 2rem;
  font-size: 2.6rem;
  overflow: hidden;
}

.circle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 2.6rem;
  background-color: #fbb435;
}

.triangle {
  position: relative;
  left: 1.5rem;
  top: 1rem;
  width: 0;
  height: 0;
  border-left: 3rem solid white;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}

.triangle-down {
  display: inline-block;
  position: relative;
  left: 6rem;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-top: 1.5rem solid #b9e9f5;
  border-right: 0.75rem solid transparent;
}

.prompt {
  position: relative;
  display: inline-block;
  left: 5.5rem;
  margin: 0 0 4rem 0;
  font-size: 2.4rem;
  color: white;
  overflow: hidden;
}

.head-box {
  display: inline-block;
  height: 13.6rem;
  line-height: 13.6rem;
  width: 13.6rem;
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;
}

.vote-box {
  display: inline-block;
  width: 13.6rem;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  background-color: #fbb435;
  vertical-align: middle;
  font-size: 3rem;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  background-color: #83b09a;
  font-size: 2.2rem;
  color: white;
}

.sprite-box {
  display: inline-block;
  width: 13.5rem;
  height: 3rem;
  margin: 2.5rem 0;
}

span {
  display: none;
  background-image: url(./task7-1-assets/sprite.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sprite-1 {
  width: 3rem;
  height: 3rem;
  background-position: 0 0;
}

.sprite-2 {
  width: 3rem;
  height: 3rem;
  background-position: -3.5rem 0;
}

.sprite-3 {
  width: 3rem;
  height: 3rem;
  background-position: -7rem 0;
}

.sprite-4 {
  width: 3rem;
  height: 3rem;
  background-position: -10.5rem 0;
}

.clear {
  clear: both;
}

.btn {
  width: 80%;
  height: 8.7rem;
  margin: auto;
  font-size: 4rem;
  background-color: #fbb435;
  color: white;
  margin: 5rem 0 0 0;
}

.vote-box:hover span {
  display: inline-block;
  cursor: pointer;
}
