html{
  margin:auto;
  max-width: 720px;;
  width: 100%;
  font-size: 62.5%;
  letter-spacing: 0.2rem;
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
p,span{
  margin: 1rem;

}
header{
  display: flex;
  position: absolute;
  top: 0;
  justify-content:space-between;
  align-items: center;
  background-color: #29bde0;
  height: 7rem;
  width: 100%;
  max-width: 720px;
  color: white;
}
.main-body{
  position: absolute;
  top: 7rem;
  bottom: 0;
  max-width: 720px;
  overflow-y: scroll;
  overflow-x: hidden;
}
header img{
  display: inline-block;
  margin: 0 2rem;
}
.header-text{
  font-size: 4rem;
}
.result{
  position: relative;
  display: block;
  text-align: center;
  background-color: #29bde0;

}
.victory{
  display: inline-block;
  height: auto;
  width: 100%;
  max-width: 35rem;
  margin: 3rem 0;
}
.result img{
  display: inline-block;
  width: 100%;
}
.victory-text{
  display: inline-block;
  width: 80%;
  font-size: 33px;
  color: #fbb435;
}
.statistics{
  display: inline-block;
  width: 80%;
  font-size: 2.6rem;
  color: white;
  text-align: center;
  letter-spacing: 0.2rem;
}
div.text{
  display: inline-block;
  width: 100%;
  text-align: left;
}
p.text{
  text-align: left;
}
span.date{
  display: inline-block;
  font-size: 3rem;
}
span.time{
  display: inline-block;
  font-size: 2rem;
  color: #c7c7c7;
  float: right;
}
.process{
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1.5px solid #ddd;
}
.detail{
  display: inline-block;
  width: 80%;
  margin:0;
  text-align: left;
  background-color:white;

}
.detail-text{
  font-size:2.6rem ;
  color: #a6a6a6;
  padding: 0;
  margin: 1rem;
}
.box{
  text-align: left;
}
.footer{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  max-width: 720px;;
  height: 13rem;
  background-color: rgba(153, 223, 240, 0.48);
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27rem;
  height: 80%;
  font-size: 4rem;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.reset:active{
  background-color: #d86161;
}
.reset{
  background-color: #f66f6f;
}
.upload {
  background-color: #fbb435;
}
.upload:active {
  background-color: #e6a432;
}
.span-align{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  color: white;
  text-decoration: none;
}