html{
  font-size: 62.5%;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
body{
  height: 100vh;
  margin: 0;
}
header{
  position: relative;
  height: 10vh;
  width: 100%;
  background-color: #29bde0;
}
p{
  margin: 0;
}
.main-body{
  height: 90vh;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
}
.last-game{
  display: inline-block;
  position: relative;
  height: 10vh;
  width: 90%;
  font-size: 3.5rem;
  color:#9a9a9a;
  background-color: white;
  border: 1px solid #9a9a9a;
  margin: 2vh 0;
}
.last-text{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.back{
  position: absolute;
  top:50%;
  right: 2rem;
  transform: translateY(-50%);

}
.version-select{
  display: inline-block;
  position: relative;
  height: 74vh;
  width: 90%;
  background-color: white;
  border: 1px solid #9a9a9a;

}
.game{
  padding: 2.6vh;
  font-size: 3.8rem;
  color: #fbb435;
  border-bottom: 1px solid #fbb435;
}
.version{
  position: relative;
  display: inline-block;
  height: 18.8vh;
  width: 90%;
}
.version-box{
  display: inline-block;
  height: 12vh;
  width: 90%;
  font-size: 3.2rem;
  color: white;
  background-color: #29bde0;
}
.version-text{
  display: inline-block;
  width: 100%;
  height: 6.8vh;
  font-size: 2.5rem;
  color: #9a9a9a;
}
div.version-text p{
  display: inline-block;
}
.circle-blue{
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 50%;
  background-color: #29bde0;
}
.circle-gray {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.switch{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.triangle{
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  border-left: 2.8rem solid #fbb435;
  border-top: 2.8rem solid transparent;
  border-bottom: 2.8rem solid transparent;
}
.menu{
  position: absolute;
  top:50%;
  left: 2.2rem;
  transform:translateY(-50%);
  height: 2.7rem;
  width: 3.4rem;
}
.bar{
  height: 0.4rem;
  width: 100%;
  background-color: white;
  margin: 0.9rem;
}
.vertical-align-relative{
  position: relative;
  display: inline-block;
  top:50%;
  transform:translateY(-50%);
}
a{
  text-decoration: none;
  color: white;
}