html,body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
body{
	background-color: #f0f0f0;
}
.head{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #29bde0;
	z-index: 1;
}
.main{
	position: absolute;
	top: 60px;
	width: 100%;
	height: 100%;
}
.icon-menu{
	display: inline-block;
	margin-top: 16px;
	margin-left: 10px;
	width: 33px;
	height: 28px;
	background-image: url(images/line.png);
	background-repeat: no-repeat;
}
.box-menu{
	width: 60px;
	height: 60px;
}
.icon-right{
	display: block;
	margin-left: 20px;
	margin-top: 21px;
	width: 20px;
	height: 28px;
	background-image: url(images/right.png);
	background-repeat: no-repeat;
	background-size: 80%;
}

.container{
	margin-top: 20px;
	width: 85%;
}
.row{
	text-align: center;
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.row1{
	border: 1px solid #ccc;
}
.col1{
	height: 70px;
	line-height: 70px;
}
.col1 span{
	color: #9a9a9a;
	font-size: 20px;
}
.col1 a{
	position: absolute;
	right: 0;
	width: 40px;
	height: 60px;
}
.row2{
	margin-top: 20px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #fbb435;
}
.col2{
	height: 60px;
	line-height: 60px;
}
.col2 span{
	font-size: 20px;
	color: #fbb435;
}
.col3{
	height: 90px;
}
.main a{
	text-decoration:none;
}
.link{
	width: 90%;
	height: 70px;
	line-height: 70px;
	margin: 10px auto;
	font-size: 18px;
	color: #fff;
	background-color: #69d1e9;
}
.col4{
	color: #9a9a9a;
}
.col5{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}
.circle{
	margin-left: 10px;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
}
.blue{
	background-color: #69d1e9;
}
.yellow{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 24px;
	height: 40px;
	background-image: url(images/yellow.png);
	background-repeat: no-repeat;
	background-size: 80%;
}