html,body,div,main,p,span,table{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
body{
	background-color: #29bde0;
}
.head{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #29bde0;
	text-align: center;
	z-index: 1;
}
.box-menu{
	position: absolute;
	width: 60px;
	height: 60px;
}
i{
	background-image: url(images/icon7.png);
	background-repeat: no-repeat;
	background-size: 160px;
}
.icon-menu{
	margin-left: 10px;
	margin-top: 14px;
	display: block;
	height: 32px;
	width: 32px;
	background-position: -128px 0;
}
.word-head{
	font-size: 20px;
	color: #fff;
}
.box-close{
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 60px;
}
.icon-close{
	margin-top: 15px;
	margin-left: 15px;
	display: block;
	height: 29px;
	width: 29px;
	background-position: -97px 0;
}
.main{
	position: absolute;
	top: 60px;
	margin-bottom: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.main-top{
	position: fixed;
	top: 60px;
	width: 100%;
	z-index: 1;
	background-color: #29bde0;
}
.talk{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-indent: 2rem;
	font-size: 16px;
	background-color: #b9e9f5;
}
.trangle{
	position: absolute;
	top: 50px;
    margin-left: 30px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
 }
 .advice{
 	width: 100%;
 	height: 40px;
 	line-height: 40px;
 	font-size: 15px;
 	text-indent: 30px;
 	color: #fff;
 }
 .big-box{
 	margin-top: 100px;
 	width: 100%;
 	height: 100vw;
 }
 .little-box{
 	float: left;
 	width: 31%;
 	height: 31%;
 	margin: 1%;
 }
 .yellow-box{
 	margin: 12% auto;
 	width: 76%;
 	height: 76%;
 	text-align: center;
 	background-color: #f5c97b;
 	border: 5px solid #fff;
 	vertical-align: middle;
 }
 .in1{
 	display: table;
 	width: 100%;
 	height: 80%;
 }
 .in1 span{
 	display: table-cell;
 	vertical-align: middle;
 	font-size: 20px;
 }
 .in2{
 	display: table;
 	width: 100%;
 	height: 20%;
 	background-color: #83b09a;
 }
 .in2 span{
 	display: table-cell;
 	vertical-align: middle;
 	color: #fff;
 	font-size: 15px;
 	line-height: 0;
 	background-color: #83b09a;
 }
 .foot{
 	position: fixed;
 	bottom: 0;
 	width: 100%;
 	height: 100px;
 	background-color: #29bde0;
 }
 .btn-primary{
 	margin: 20px 10%;
 	width: 80%;
 	height: 60px;
 	font-size: 30px;
 	background-color: #fbb435;
 }
 .clear:after{
 	content: "";
 	display: block;
 	clear: both;
 }
 .element{
	margin-top: 15%;
 	display: none;
	width: 100%;
 	height: 20%;
 }
 .father:hover .element{
    display:block ;
}
.icon-knife{
	float: left;
	width: 25%;
	height: 100%;
	background-image: url(images/knife.png);
	background-size: contain;
	vertical-align: bottom;
}
.icon-search{
	float: left;
	width: 25%;
	height: 100%;
	background-image: url(images/search.png);
	background-size: contain;
	vertical-align: bottom;
}
.icon-help{
	float: left;
	width: 25%;
	height: 100%;
	background-image: url(images/help.png);
	background-size: contain;
	vertical-align: bottom;
}
.icon-kill{
	float: left;
	width: 25%;
	height: 100%;
	background-image: url(images/kill.png);
	background-size: contain;
	vertical-align: bottom;
}
.icon-play{
	float: right;
	margin-top: -40px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background-image: url(images/play.png);
	background-size: contain;
	background-repeat: no-repeat;
}
