html {
  font-size: 312.5%; }

body {
  margin: 0;
  font-size: 16px; }

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

button {
  margin: 0;
  padding: 0 !important;
  background: transparent;
  border: none;
  outline: none !important; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 8vh;
  border-bottom: 1px solid #999;
  box-sizing: border-box; }
  .header .header-link {
    width: 5rem;
    font-size: .4rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #333; }
  .header .header-a {
    display: inline-block;
    width: 1rem;
    border-right: #999 solid 1px;
    text-align: center;
    font-size: .25rem;
    line-height: .3rem;
    color: blue; }
    .header .header-a:nth-child(3) {
      border: none; }
      .header .header-a:nth-child(3) img {
        width: .25rem;
        line-height: .25rem;
        vertical-align: middle; }

.main {
  display: flex; }
  .main .mianbody {
    flex-grow: 1; }
  .main .left-views {
    min-height: 92vh;
    width: 5rem;
    padding-top: .5rem;
    font-size: .25rem;
    color: #fff;
    background: #333;
    flex-shrink: 0; }
    .main .left-views .alink {
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: .15rem 0;
      padding: 0 1rem 0 .2rem;
      line-height: .4rem;
      color: #fff;
      text-align: left; }
      .main .left-views .alink .logo {
        display: inline-block;
        width: .3rem;
        height: .3rem;
        margin-right: .2rem; }
        .main .left-views .alink .logo::before {
          content: url(../img/pass.png); }
      .main .left-views .alink p {
        display: inline-block;
        flex-grow: 1; }
      .main .left-views .alink .arrows {
        display: inline-block;
        width: .2rem;
        height: .2rem;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
        transition: all 0.3s; }
      .main .left-views .alink .otherarrows {
        display: inline-block;
        width: .2rem;
        height: .2rem;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-135deg);
        transition: all 0.3s; }
    .main .left-views .list {
      display: block;
      line-height: .5rem;
      text-align: center;
      background: #999; }
    .main .left-views .otherlist {
      display: none; }

.pop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(3, 3, 3, 0.6); }
  .pop .pop-main {
    margin: 2rem auto;
    width: 50vw;
    height: 15vw;
    font-size: .6rem;
    background: #fff;
    box-shadow: #333 1px 1px; }
    .pop .pop-main > p {
      line-height: 1.2rem;
      color: green;
      border-bottom: 2px solid #333; }
    .pop .pop-main > div:nth-child(2) {
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center; }
    .pop .pop-main > div:nth-child(3) {
      text-align: right; }
      .pop .pop-main > div:nth-child(3) button {
        display: inline-block;
        margin: 0 .2rem;
        width: 2rem;
        height: 1rem;
        color: #fff; }
        .pop .pop-main > div:nth-child(3) button:nth-child(1) {
          background: green; }
        .pop .pop-main > div:nth-child(3) button:nth-child(2) {
          background: red; }
