html, body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: "微软雅黑";
}
body {
    background-color: #fafafa;
}
/*页眉*/
.top {
    background-color: #1d7ad9;
}
.font15pxwhite {
    font-size: 1.5rem;
    color: white;
    padding-top: 10px;
}
.button-blue {
    padding: 10px 10px;
    border-left: 1px solid #fff;
    background-color: #1d7ad9;
    color: white;
    font-size: 1.5rem;
}
.button-white {
    font-size: 1.5rem;
    padding: 10px 30px;
    background-color: #fff;
    border: none;
}
/*导航栏*/
.nav {
    background-color: #e7e7e7;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #e7e7e7;
    margin-bottom: 0;
    border: none;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav li {
    padding: 20px 0 20px 30px;
}
.container > .navbar-collapse {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}
.navbar-nav > li > a {
    background-color: white;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.navbox {
    background-color: #227dda;
    color: white;
}
.navbar-nav>li>a:focus{
     background-color: #227dda!important;
     color: white!important;
}
/*进度条*/
.schedule {
    width: 100%;
    font-size: 0;
    padding-bottom: 2rem;
}
.step {
    width: 25%;
    height: 10rem;
    display: inline-block;
    position: relative;
}

.bar,.bar-one {
    width: 100%;
    height: 0.5rem;
    border-radius: 5px;
    background-color: #cccccc;
    position: absolute;
    top:35%;
}
.circle,.circle-one {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 41%;
    color: #f3f3f3;
    background-color: #cccccc;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
}
.font,.font-one {
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    position: relative;
    top: 50%;
    color: #cccccc;
}
.bar-one,.circle-one {
    background-color: orange;
}
.font-one {
    color: orange;
}
/*主体内容*/
.tip {
    font-size: 1.8rem;
    color: #000;
    border-left:3px solid #227dda ;
}
.chosen {
    border: 2px solid #f3f3f3;
    width: 100%;
}
.title {
    padding: 10px 0 10px 15px;
    color: #227dda;
    background-color: #f3f3f3;
    border: 1px solid #f9f9f9;
}
.content{
    background-color: #fafafa;
    padding: 30px 0 60px 15px;
}
input[type="radio"]:checked+label,input[type="checkbox"]:checked+label{
    background: url(../images/point.png) no-repeat 0;
    position: absolute;
    left:10px;
    padding-left: 2rem;
    height: 18px;
}
.content input[type="radio"].radio {
    appearance：none;
    -moz-appearance:none;
    -webkit-appearance:none;
    outline: none;
    display: none;
    opacity:0;
}
select {
    border: solid 1px #cccccc;
    appearance：none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:url(../images/creat.png) no-repeat scroll right center transparent;
    padding: 8px 30px 5px 0;
}
select::-ms-expand { display: none; }
.next {
    padding: 100px 0;
    text-align: center;
    border: 2px solid #f3f3f3;
}
.content .col-xs-12 {
    padding-bottom: 15px;
}
    /*底部导航*/
.footbox {
    padding:20px 15px;
    background-color: #fafafa;
    color: #ccc;
}
footer{
    font-size: 1.5rem;
}
footer a {
    display:inline-block;
    color: #ccc;
}
.QRcode {
    display: inline-block;
}
.QRcode span {
    display:block;
}
.pull {
    display: inline-block;
}
.copyright {
    text-align: center;
    background-color: #1d7ad9;
    font-size: 14px;
    line-height: 30px;
    color:#fff;
}
@media (max-width: 425px) {
    .circle-one,.circle {
        left:32%;
    }
}
@media (max-width: 767px) {
    .box-size,.box-texture,.box-type {
        display: inline-block;
        width: 100%;
    }
    .col-xss-6 {
        width: 50%;
        float: left;
    }
    .navbar-nav li {
        padding: 15px 0;
        text-align: center;
    }
    .footbox{
        text-align: center;
    }
    .footbox .col-xs-12 {
        padding:10px 0;
    }
}
@media (min-width: 992px) {
    .col-cm-3 {
        width: 25%;
        float: left;
    }
    .pull{
        float: right;
    }

}




