
body {
    width: 100%;
    margin: 0;
}

.Sudoku{
    float: left;
    width: 31%;
    padding-bottom: 31%;
    background-color: orange;
    margin: 1%;
    border-radius: 10%;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
button{
    width: 45%;
    height: 50px;
    margin: 30px 0;
    color: #ffffff;
    background: orange;
    box-shadow: 0 0 0 1.5px #F5C97B;
}