<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

    <!--导入druid数据源-->
    <import resource="druid-config.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.leo.service"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="typeAliasesPackage" value="com.leo.model"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--配置分页插件-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            <!--防止出边界-->
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.leo.dao"/>
    </bean>

    <!--启用缓存注解开关-->
    <!--<cache:annotation-driven />-->

    <!--Ehcache3版本使用JCache相同配置，Ehcache2版本使用老的EhcacheManager及其工厂-->
<!--    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManagerUri" value="classpath:ehcache.xml"/>
    </bean>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="cacheManager" ref="ehcache"/>
    </bean>-->
    <bean id="login5Service" class="com.leo.service.impl.Login5ServiceImpl"/>

    <bean id="student4Service" class="com.leo.service.impl.Student4ServiceImpl"/>

    <bean id="student5Service" class="com.leo.service.impl.Student5ServiceImpl"/>

    <import resource="spring-tuscany.xml"/>
</beans>