<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration为根标签，它有一个属性status：表示log4j2本身的日志信息打印级别
	 若把status属性改为TRACE，再执行测试代码，可以看到在控制台打印一些log4j加载插件、组装logger等调试信息-->
<Configuration status="WARN">
    <Appenders>
        <!-- 打印到控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="mylog" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.leo" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>