footer {
  background-color: #29b078;
}
.foot {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .foot-top {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    div {
        p{
            margin:0.5rem 0;
        }
    }
  }
}
.foot-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin:0.5rem 0;
  font-size:1.6rem;
  color:#fff;
}
@media (min-width:768px){
    .foot-left{
        width: 40%;
    }
}
@media (min-width:992px){
    .foot-left{
        width: 34%;
    }
}
.foot-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin:0.5rem 0;
}
@media (min-width:768px){
    .foot-middle{
        width: 55%;
    }
}
@media (min-width:992px){
    .foot-middle{
        width: 52%;
    }
}
.foot-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin:1rem 0;
}
@media (min-width:992px){
    .foot-right{
        width: 12%;
    }
}