.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.show-item {
  height: 34rem;
  padding: 1rem;
  
  .show-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32rem;
    border-radius: 2rem;
    background-color: #fff;
    p{
        margin:1rem 2rem;
    }
  }
}
.dot{
  width:10rem;
  margin:3rem auto;
  text-align: center;
  .dot-blue{
    display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 0.65rem;
      margin:0.4rem;
      background-color: #29b078;
  }
  .dot-white{
    @extend .dot-blue;
    background-color: #fff;
  }
}