@charset "UTF-8";
body {
  margin: 0;
  background-color: #f0f0f0;
}
.head {
  background-color: #29bde0;
  height: 80px;
}
.head .mean {
  display: inline-block;
  width: 30px;
  height: 5px;
  border-top: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 5px 0;
  background-clip: content-box;
  margin-left: 10px;
  margin-top: 25px;
}
.lastgame {
  line-height: 80px;
  width: 80%;
  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #787878;
  font-size: 20px;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
}
.lastgame .lastgame2 {
  float: right;
}
.main {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}
.main .game {
  line-height: 60px;
  color: #fbb435;
  font-size: 20px;
  border-bottom: 1px solid #fbb435;
  margin-bottom: 20px;
}
.main .version {
  width: 80%;
  margin: auto;
  line-height: 60px;
  background-color: #29bde0;
  color: #ffffff;
  font-size: 20px;
}
.main .version a {
  color: #ffffff;
  text-decoration: none;
}
.main .num {
  line-height: 30px;
  color: #787878;
  font-size: 12px;
}
.main .round {
  height: 30px;
}
.main .round .round1 {
  background-color: #29bde0;
}
.main .round span {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.main .square {
  position: relative;
  left: 93%;
  bottom: 195px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid #fbb435;
  border-bottom: 15px solid transparent;
}
