@charset "UTF-8";
html {
  background-color: #29BDE0;
}
body {
  margin: 0;
}
.head {
  background-color: #29BDE0;
  line-height: 60px;
  text-align: center;
  border-bottom: solid 1px #FFFFFF;
}
.head span {
  color: #FFFFFF;
  font-size: 30px;
}
.head .left {
  float: left;
  margin-left: 20px;
}
.head .center {
  font-size: 25px;
}
.head .right {
  float: right;
  margin-right: 20px;
}
.main {
  background-color: #29BDE0;
  text-align: center;
  position: relative;
}
.main .number {
  position: absolute;
  left: 50%;
  margin-left: -17.5px;
  top: 23.5px;
  color: #f56b81;
  font-size: 25px;
  display: inline-block;
  width: 35px;
  line-height: 35px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: solid 3px #ffedc5;
}
.main .rectangle {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  width: 80%;
  height: 400px;
  background-color: #ffedc5;
  border: solid 3px #FFFFFF;
}
.main .rectangle img {
  max-height: 200px;
  margin-top: 100px;
}
.main .first {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 20px;
  color: #FFFFFF;
  width: 70%;
  line-height: 40px;
  background-color: #fab344;
  border: none;
  display: none;
}
.main .second {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 20px;
  color: #FFFFFF;
  width: 70%;
  line-height: 40px;
  background-color: #fab344;
  border: none;
}
.main .judge {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 20px;
  color: #FFFFFF;
  width: 70%;
  line-height: 40px;
  background-color: #fab344;
  border: none;
}
