<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.PositionMapper">
    <resultMap id="BaseResultMap" type="com.jnshu.model.Position">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="Occupation" jdbcType="VARCHAR" property="occupation"/>
        <result column="Duty" jdbcType="VARCHAR" property="duty"/>
        <result column="threshold" jdbcType="VARCHAR" property="threshold"/>
        <result column="Difficulty degree" jdbcType="VARCHAR" property="difficultyDegree"/>
        <result column="Growth cycle" jdbcType="VARCHAR" property="growthCycle"/>
        <result column="degree of scarcit" jdbcType="VARCHAR" property="degreeOfScarcit"/>
        <result column="market demand" jdbcType="VARCHAR" property="marketDemand"/>
        <result column="The minimum salary1" jdbcType="DECIMAL" property="theMinimumSalary1"/>
        <result column="The minimum salary2" jdbcType="VARCHAR" property="theMinimumSalary2"/>
        <result column="The minimum salary3" jdbcType="VARCHAR" property="theMinimumSalary3"/>
        <result column="Maximum salary1" jdbcType="VARCHAR" property="maximumSalary1"/>
        <result column="Maximum salary2" jdbcType="VARCHAR" property="maximumSalary2"/>
        <result column="Maximum salary3" jdbcType="VARCHAR" property="maximumSalary3"/>
        <result column="Experience requirement" jdbcType="VARCHAR" property="experienceRequirement"/>
        <result column="In the number of students" jdbcType="INTEGER" property="inTheNumberOfStudents"/>
        <result column="Prompt statement" jdbcType="VARCHAR" property="promptStatement"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, Occupation, Duty, threshold, "Difficulty degree", "Growth cycle", "degree of scarcit", 
    "market demand", "The minimum salary1", "The minimum salary2", "The minimum salary3", 
    "Maximum salary1", "Maximum salary2", "Maximum salary3", "Experience requirement", 
    "In the number of students", "Prompt statement"
  </sql>
    <select id="selectByid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from position
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByid" parameterType="java.lang.Integer">
    delete from position
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jnshu.model.Position">
    insert into position (id, Occupation, Duty, 
      threshold, "Difficulty degree", "Growth cycle", 
      "degree of scarcit", "market demand", "The minimum salary1", 
      "The minimum salary2", "The minimum salary3", "Maximum salary1", 
      "Maximum salary2", "Maximum salary3", "Experience requirement", 
      "In the number of students", "Prompt statement")
    values (#{id,jdbcType=INTEGER}, #{occupation,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, 
      #{threshold,jdbcType=VARCHAR}, #{difficultyDegree,jdbcType=VARCHAR}, #{growthCycle,jdbcType=VARCHAR}, 
      #{degreeOfScarcit,jdbcType=VARCHAR}, #{marketDemand,jdbcType=VARCHAR}, #{theMinimumSalary1,jdbcType=DECIMAL}, 
      #{theMinimumSalary2,jdbcType=VARCHAR}, #{theMinimumSalary3,jdbcType=VARCHAR}, #{maximumSalary1,jdbcType=VARCHAR}, 
      #{maximumSalary2,jdbcType=VARCHAR}, #{maximumSalary3,jdbcType=VARCHAR}, #{experienceRequirement,jdbcType=VARCHAR}, 
      #{inTheNumberOfStudents,jdbcType=INTEGER}, #{promptStatement,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jnshu.model.Position">
        insert into position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="occupation != null">
                Occupation,
            </if>
            <if test="duty != null">
                Duty,
            </if>
            <if test="threshold != null">
                threshold,
            </if>
            <if test="difficultyDegree != null">
                "Difficulty degree",
            </if>
            <if test="growthCycle != null">
                "Growth cycle",
            </if>
            <if test="degreeOfScarcit != null">
                "degree of scarcit",
            </if>
            <if test="marketDemand != null">
                "market demand",
            </if>
            <if test="theMinimumSalary1 != null">
                "The minimum salary1",
            </if>
            <if test="theMinimumSalary2 != null">
                "The minimum salary2",
            </if>
            <if test="theMinimumSalary3 != null">
                "The minimum salary3",
            </if>
            <if test="maximumSalary1 != null">
                "Maximum salary1",
            </if>
            <if test="maximumSalary2 != null">
                "Maximum salary2",
            </if>
            <if test="maximumSalary3 != null">
                "Maximum salary3",
            </if>
            <if test="experienceRequirement != null">
                "Experience requirement",
            </if>
            <if test="inTheNumberOfStudents != null">
                "In the number of students",
            </if>
            <if test="promptStatement != null">
                "Prompt statement",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="occupation != null">
                #{occupation,jdbcType=VARCHAR},
            </if>
            <if test="duty != null">
                #{duty,jdbcType=VARCHAR},
            </if>
            <if test="threshold != null">
                #{threshold,jdbcType=VARCHAR},
            </if>
            <if test="difficultyDegree != null">
                #{difficultyDegree,jdbcType=VARCHAR},
            </if>
            <if test="growthCycle != null">
                #{growthCycle,jdbcType=VARCHAR},
            </if>
            <if test="degreeOfScarcit != null">
                #{degreeOfScarcit,jdbcType=VARCHAR},
            </if>
            <if test="marketDemand != null">
                #{marketDemand,jdbcType=VARCHAR},
            </if>
            <if test="theMinimumSalary1 != null">
                #{theMinimumSalary1,jdbcType=DECIMAL},
            </if>
            <if test="theMinimumSalary2 != null">
                #{theMinimumSalary2,jdbcType=VARCHAR},
            </if>
            <if test="theMinimumSalary3 != null">
                #{theMinimumSalary3,jdbcType=VARCHAR},
            </if>
            <if test="maximumSalary1 != null">
                #{maximumSalary1,jdbcType=VARCHAR},
            </if>
            <if test="maximumSalary2 != null">
                #{maximumSalary2,jdbcType=VARCHAR},
            </if>
            <if test="maximumSalary3 != null">
                #{maximumSalary3,jdbcType=VARCHAR},
            </if>
            <if test="experienceRequirement != null">
                #{experienceRequirement,jdbcType=VARCHAR},
            </if>
            <if test="inTheNumberOfStudents != null">
                #{inTheNumberOfStudents,jdbcType=INTEGER},
            </if>
            <if test="promptStatement != null">
                #{promptStatement,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByidSelective" parameterType="com.jnshu.model.Position">
        update position
        <set>
            <if test="occupation != null">
                Occupation = #{occupation,jdbcType=VARCHAR},
            </if>
            <if test="duty != null">
                Duty = #{duty,jdbcType=VARCHAR},
            </if>
            <if test="threshold != null">
                threshold = #{threshold,jdbcType=VARCHAR},
            </if>
            <if test="difficultyDegree != null">
                "Difficulty degree" = #{difficultyDegree,jdbcType=VARCHAR},
            </if>
            <if test="growthCycle != null">
                "Growth cycle" = #{growthCycle,jdbcType=VARCHAR},
            </if>
            <if test="degreeOfScarcit != null">
                "degree of scarcit" = #{degreeOfScarcit,jdbcType=VARCHAR},
            </if>
            <if test="marketDemand != null">
                "market demand" = #{marketDemand,jdbcType=VARCHAR},
            </if>
            <if test="theMinimumSalary1 != null">
                "The minimum salary1" = #{theMinimumSalary1,jdbcType=DECIMAL},
            </if>
            <if test="theMinimumSalary2 != null">
                "The minimum salary2" = #{theMinimumSalary2,jdbcType=VARCHAR},
            </if>
            <if test="theMinimumSalary3 != null">
                "The minimum salary3" = #{theMinimumSalary3,jdbcType=VARCHAR},
            </if>
            <if test="maximumSalary1 != null">
                "Maximum salary1" = #{maximumSalary1,jdbcType=VARCHAR},
            </if>
            <if test="maximumSalary2 != null">
                "Maximum salary2" = #{maximumSalary2,jdbcType=VARCHAR},
            </if>
            <if test="maximumSalary3 != null">
                "Maximum salary3" = #{maximumSalary3,jdbcType=VARCHAR},
            </if>
            <if test="experienceRequirement != null">
                "Experience requirement" = #{experienceRequirement,jdbcType=VARCHAR},
            </if>
            <if test="inTheNumberOfStudents != null">
                "In the number of students" = #{inTheNumberOfStudents,jdbcType=INTEGER},
            </if>
            <if test="promptStatement != null">
                "Prompt statement" = #{promptStatement,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByid" parameterType="com.jnshu.model.Position">
    update position
    set Occupation = #{occupation,jdbcType=VARCHAR},
      Duty = #{duty,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=VARCHAR},
      "Difficulty degree" = #{difficultyDegree,jdbcType=VARCHAR},
      "Growth cycle" = #{growthCycle,jdbcType=VARCHAR},
      "degree of scarcit" = #{degreeOfScarcit,jdbcType=VARCHAR},
      "market demand" = #{marketDemand,jdbcType=VARCHAR},
      "The minimum salary1" = #{theMinimumSalary1,jdbcType=DECIMAL},
      "The minimum salary2" = #{theMinimumSalary2,jdbcType=VARCHAR},
      "The minimum salary3" = #{theMinimumSalary3,jdbcType=VARCHAR},
      "Maximum salary1" = #{maximumSalary1,jdbcType=VARCHAR},
      "Maximum salary2" = #{maximumSalary2,jdbcType=VARCHAR},
      "Maximum salary3" = #{maximumSalary3,jdbcType=VARCHAR},
      "Experience requirement" = #{experienceRequirement,jdbcType=VARCHAR},
      "In the number of students" = #{inTheNumberOfStudents,jdbcType=INTEGER},
      "Prompt statement" = #{promptStatement,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getAllPosition" resultType="com.jnshu.model.Position">
    select * from position
  </select>
</mapper>