$blue:#29bde0;
$pink:#ffedc5;
$brilyellow:#fbb435;
$red:#f56b81;

*{
  box-sizing: border-box;
}

body{
  min-width: 320px;
  max-width: 780px;
  margin: auto;
}
.all{
  background: $blue;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  img{
    height: 2rem;
    margin: 0 1rem;
  }
}
main{
  .number{
    position: absolute;
    top: 60px;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
    height: 4rem;

    width: 4rem;
    border: 0.3rem solid #ffedc5;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    #num{
      font-size: 2rem;
      line-height: 3.5rem;
      color: $red;
    }
  }
  .square{
    position: relative;
    width: 80%;
    height: 25rem;
    margin: 40px auto;
    background: #ffedc5;
    border: .5rem solid #fff;
    text-align: center;
  }
  #draw{
    height: 15rem;
    margin-top: 60px;
  }
  #stute{
    margin-top: 60px;
    p{
      font-size: 1.5rem;
      color: $blue;
    }
  }
  #status{
    height: 15rem;
  }
}
footer{
  padding-bottom: 2rem;
  background: $blue;
  text-align: center;
    #btn{
      height: 4rem;
      font-size: 1.8rem;
      color: #fff;
      width: 80%;
      background: $brilyellow;
      outline: none;
      cursor: pointer;
    }
}