$blue:#29bde0;
$pink:#ffedc5;
$brilyellow:#fbb435;
$bgyellow:#f5c97b;
$bggrey:#83b09a;
$lightblue:#b9e9f5;

*{
  box-sizing: border-box;
}

body{
  max-width: 780px;
  background: #29bde0;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: $blue;
  h2{
    color: white;
  }
  img{
    height: 2rem;
    margin: 0 1rem;
  }
}
main{
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 7rem;
  background: #29bde0;
  overflow: hidden;
  .words{
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    line-height: 3rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    background: $lightblue;
  }
  #diary{
    width: 100%;
    min-height: 30rem;
    max-height: 1000rem;
  }
  .option{
    position: relative;
    width: 23%;
    margin: 0 5% 8% 5%;
    border: 3px solid #fff;
    text-align: center;
    float: left;
    &:hover{
      cursor: pointer;
    }
    .people{
      width: 100%;
      padding: 40% 0;
      line-height: 0;
      background: $bgyellow;
      font-size: 1.5rem;
    }
    .down{
       background: red;
     }
    .down1{
      background: red;
    }
    .number{
      width: 100%;
      padding: 10% 0;
      line-height: 0;
      background: $bggrey;
    }
  }

}
footer{
  position: fixed;
  bottom: 0;
  //min-width: 320px;
  max-width: 780px;
  width: 100%;
  background: #29bde0;
  text-align: center;
  #start{
    width: 80%;
    height: 4rem;
    margin: 1rem 0;
    background: $brilyellow;
    font-size: 2rem;
    color: #fff;
    outline: none;
    cursor: pointer;
  }
}