$gray:#f0f0f0;
$blue:#29bde0;
$darkbule:#24a7c6;
$brilyellow:#fbb435;
$pink:#f66f6f;
$i:#18758D;

*{
  box-sizing: border-box;
}

body{
  min-width: 320px;
  max-width: 780px;
  margin: auto;
  background: $gray;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: $blue;
  h2{
    color: white;
  }
  img{
    height: 2rem;
    margin: 0 1rem;
  }
}

main{
  overflow: hidden;
  padding-bottom: 6rem;
  .firstday{
    height: 3rem;
    line-height: 3rem;
    margin: 1rem 1rem 0 1rem;
    background: #fff;
    color: #29bde0;
    font-size: 1.5rem;
    text-align: center;
    &:hover{
      cursor: pointer;
    }

  }
  #list{
    background: rgb(255, 255, 255);
    margin: 0 1rem;
    display: none;
    p{
      margin-left: 2rem;
      margin-top: 0;
      background: #fff;
    }
  }
  .day{
     @extend .firstday;
   }
  .days{
    @extend .firstday;
  }
  .triangle{
    width: 0;
    height: 0;
    margin: auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
  }
  .flow{
    margin: 0 1rem;
    background: #fff;
    overflow: hidden;
    .step{
      display: flex;
      align-items: center;
      height: 3rem;
      margin: 1rem;
      img{
        height: 2rem;
      }
      .left-triangle{
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 1rem;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 20px solid $blue;
      }
      .murder{
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        width: 80%;
        background: $blue;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  max-width: 780px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  background-color: rgba(41,189,224,0.5);
  .over{
    height: 3rem;
    width: 9rem;
    border-radius: .5rem;
    background: $pink;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  .log{
    @extend .over;
    background: $brilyellow;
  }
}
