body{
   background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.header{
    position:fixed;
    top: 0;
    background-color: #5fc0cd; 
    width: 100%;
    height: 63px;
    z-index: 1;
  
}
.back{
    position: absolute;
    left:17px;
    height:17px;
    padding: 20px 0 0 0;
}
h1{
    position: absolute;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

.boxone{
    position: relative;
    background: url(../task5/img/beijing.png) no-repeat;
    background-size: cover;
    height: 163px;
    width: 100%;
    margin-top: 63px;
}
.portrait {
    position: absolute;
    top: 30px;
    left: 16px;
    width: 84px;
    height: 84px;
}

.wenzi{
    position: absolute;
    left: 120px;
    top: 50px;
}
.tuone{
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
}
.tutwo{
   float: right;
    color: #ffffff;
    font-size: 5px;

}
.shape{
    height: 11px;
    margin-right: 8px;
   
}
li{
    list-style:none;
   text-decoration: underline;
   
}
.box1{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E1E5E7;
    margin-top: 40px;
}
.box2{
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #5fc0cd;
   margin-top: -32px;
   left: 20px;
}
.box3{
    position: absolute;
   margin-top: -37px;
   left: 35px;
   font-size: 15px;
}
.box4{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 1px;
    background-color: #E1E5E7;
    margin-top: 90px;
}
.box5{
    position: absolute;
    left: 10px;
    margin-top: -35PX;
    font-size: 15px;
}
.box6{
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: red;
   margin-top: -30px;
   left: 70px;
}
.box7{
    position: absolute;
    left: 80px;
    margin-top: -35PX;
    font-size: 15px;
}
.box8{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 1px;
    background-color: #E1E5E7;
    margin-top: 140px;
}
.box9{
    position: absolute;
    left: 10px;
    margin-top: -35PX;
    font-size: 15px;
}
.box10{
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: red;
   margin-top: -30px;
   left: 80px;
}
.box11{
    position: absolute;
    left: 95px;
    margin-top: -35PX;
    font-size: 15px;
}
.box12{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 1px;
    background-color: #E1E5E7;
    margin-top:190px;
}
.box13{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 1px;
    background-color: #E1E5E7;
    margin-top:240px;
}
.box14{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 1px;
    background-color: #E1E5E7;
    margin-top:290px;
}
.footer1 {
    margin-left: 1%;
    margin-right: 6%;
    background: white;
    color: #5fc0cd;
}

.footer2 {
    background: #5fc0cd;
    color: white;
}
footer {
    position: fixed;
    bottom: 0; 
    width: 100vw;

}

footer a {
    border: 1px solid #5fc0cd;
    border-radius: 0.5rem;
    width: 46%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
}