html {
    font-size: 625%;
}

body {
    font-size: .16rem;
    margin: 0px;
}

header {
    line-height: .6rem;
    text-align: center;
    background-color: #5fc0cd;
}

.header-button {
    width: 1rem;
    line-height: .44rem;
    font-size: .18rem;
    margin: 0 -.05rem;
    border-radius: .05rem;
}

.header-left {
    border: .01rem solid #4eb0bc;
    background-color: #4eb0bc;
    color: #ffffff;
    padding: 0;
}

.header-right {
    border: .01rem solid #ffffff;
    background-color: #ffffff;
    color: #5fc0cd;
    padding: 0;
}

header a {
    height: .47rem;
    width: .47rem;
    right: .1rem;
    top: .1rem;
    position: absolute;
    transform: scale(.6);
    background: url("./img/local.png") no-repeat;
}

.dropdown {
    width: 33.3%;
    text-align: center;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-align: center;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-toggle{
    border-left: 1px solid #cccccc;
}

a {
    color: #c2c2c2;
    text-decoration: none;
}

.list {
    font-size: .14rem;
    padding: .15rem;
    border-bottom: 1px solid #e1e5e7;
}

.list img {
    transform: scale(.6);
}

.time {
    line-height: .3rem;
    margin: 0;
    padding-left: .25rem;
}

.time2 {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time-left {
    line-height: .3rem;
    padding-left: .3rem;
    text-align: center;
    overflow: visible;
}

.time-right {
    line-height: .3rem;
    float: right;
    color: red;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: .6rem;
    text-align: center;
    background-color: #f8fafb;
}

footer img{
    display: block;
    transform: scale(.6);
    padding: 0 .3rem;
}

/* 
.home {
    display: inline-block;
    padding-top: .25rem;
    margin-top: .15rem;
    vertical-align: .3rem;
    background: url("./img/home.png") no-repeat;
    background-size: .2rem .2rem;
    background-position: 50% 0;
}

.edit {
    display: inline-block;
    height: 100%;
    width: 1.1rem;
    line-height: .6rem;
    background: url("./img/edit.png") no-repeat;
    background-size: .2rem .2rem;
    padding-top: .25rem;
    transform: scale(.4);
    margin-left: .05rem;
}

.mine {
    padding-top: .25rem;
    vertical-align: .3rem;
    background: url("./img/mine.png") no-repeat;
    background-size: .2rem .2rem;
    background-position: 50% 0;
} */