body {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
}

@mixin center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    position: relative;
    overflow: hidden;
    .input{
        display: none;
        width: 3rem;
        height: 2rem;
        outline: none !important;
        -webkit-appearance: none;
        border-radius: 0;
    }
    .menu-box {
        position: absolute;
        margin: 0;
        width: 44.5%;
        height: 100%;
        line-height: 3.5rem;
        font-size: 16px;
        color: #29bde0;
        background: #fff;
        .hide-arrow {
            position: absolute;
            top: 1.46rem;
            right: 1rem;
            width: 15px;
            height: 15px;
            border-bottom: 3px solid #e7e7e7;
            border-left: 3px solid #e7e7e7;
            transform: rotate(225deg);
        }
    }
    .content {
        position: relative;
        width: 100%;
        background: #fff;
        header {
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            width: 100%;
            height: 3rem;
            background: #29bde0;
            z-index: 1;
            label {
                display: block;
                // .left-box {
                //     width: 1.34rem;
                //     height: .2rem;
                //     padding: .3rem 0;
                //     margin-left: .22rem;
                //     border: none;
                //     outline: none;
                //     border-top: 3px solid #fff;
                //     border-bottom: 3px solid #fff;
                //     background: #fff content-box;
                // }
            }
        }
        

        main {
            @include center;
            .main-nav {
                display: block;
                position: relative;
                margin: 1.2rem 0;
                width: 86%;
                line-height: 4rem;
                text-align: center;
                border: solid 1px #c9c9c9;
                font-size: 1.3rem;
                color: #9a9a9a;
                background: #fff;
                .arrow {
                    position: absolute;
                    top: 1.46rem;
                    right: 1rem;
                    width: 15px;
                    height: 15px;
                    border-bottom: 3px solid #e7e7e7;
                    border-left: 3px solid #e7e7e7;
                    transform: rotate(225deg);
                }
            }
            .main-boxes {
                @include center;
                position: relative;
                width: 86%;
                border: solid 1px #c9c9c9;
                background: #fff;
                .main-title {
                    width: 100%;
                    line-height: 4rem;
                    text-align: center;
                    border-bottom: solid 1px #fbb435;
                    font-size: 1.5rem;
                    font-weight: 100;
                    color: #fbb435;
                }
                .main-box {
                    display: block;
                    margin: 1.3rem 0;
                    width: 80%;
                    line-height: 5.5rem;
                    text-align: center;
                    font-size: 1.28rem;
                    font-weight: 100;
                    color: #fff;
                    background: #69d1e9;
                }
                .main-font {
                    width: 100%;
                    text-align: center;
                    font-size: 1.08rem;
                    color: #787878;
                }
                .triangle {
                    position: absolute;
                    top: 16.3rem;
                    right: .3rem;
                    border-left: solid 20px #fbb435;
                    border-top: solid 20px transparent;
                    border-bottom: solid 20px transparent;
                }
                .circle {
                    display: inline-block;
                    margin: 1rem .2rem;
                    width: .7rem;
                    height: .7rem;
                    border-radius: 50%;
                    background: #f0f0f0;
                    &:hover {
                        background: #29bde0;
                    }
                }
            }
        }

    }
}


// ========

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background: #29bde0;
    z-index: 1;
    // .menu {
    //     display: block;
    //     padding: .3rem 0;
    //     margin: 1rem;
    //     height: .2rem;
    //     width: 1.5rem;
    //     border-top: solid 3px #fff;
    //     border-bottom: solid 3px #fff;
    //     .row {
    //         border: solid 1.5px #fff;
    //     }
    // }
}

main {
    @include center;
    .main-nav {
        display: block;
        position: relative;
        margin: 1.2rem 0;
        width: 86%;
        line-height: 4rem;
        text-align: center;
        border: solid 1px #c9c9c9;
        font-size: 1.3rem;
        color: #9a9a9a;
        background: #fff;
        .arrow {
            position: absolute;
            top: 1.46rem;
            right: 1rem;
            width: 15px;
            height: 15px;
            border-bottom: 3px solid #e7e7e7;
            border-left: 3px solid #e7e7e7;
            transform: rotate(225deg);
        }
    }
    .main-boxes {
        @include center;
        position: relative;
        width: 86%;
        border: solid 1px #c9c9c9;
        background: #fff;
        .main-title {
            width: 100%;
            line-height: 4rem;
            text-align: center;
            border-bottom: solid 1px #fbb435;
            font-size: 1.5rem;
            font-weight: 100;
            color: #fbb435;
        }
        .main-box {
            display: block;
            margin: 1.3rem 0;
            width: 80%;
            line-height: 5.5rem;
            text-align: center;
            font-size: 1.28rem;
            font-weight: 100;
            color: #fff;
            background: #69d1e9;
        }
        .main-font {
            width: 100%;
            text-align: center;
            font-size: 1.08rem;
            color: #787878;
        }
        .triangle {
            position: absolute;
            top: 16.3rem;
            right: .3rem;
            border-left: solid 20px #fbb435;
            border-top: solid 20px transparent;
            border-bottom: solid 20px transparent;
        }
        .circle {
            display: inline-block;
            margin: 1rem .2rem;
            width: .7rem;
            height: .7rem;
            border-radius: 50%;
            background: #f0f0f0;
            &:hover {
                background: #29bde0;
            }
        }
    }
}

// ==========================
ul,
li {
    position: relative;
    display: block;
    list-style: none;
    padding: 0;
    border-bottom: solid 1px #29bde0;
}

.menu-box {
    position: absolute;
    margin: 0;
    width: 45%;
    height: 100%;
    line-height: 3.5rem;
    font-size: 16px;
    color: #29bde0;
    background: #fff;
}

.nav {
    position: relative;
    overflow: hidden;
}

.content {
    position: relative;
    background: #fff;
}

input {
    width: 3rem;
    height: 2rem;
    outline: none !important;
    -webkit-appearance: none;
    border-radius: 0;
}

#menu:checked~.content {
    margin-left: 45vw; 
}

.left-box {
    width: 1.34rem;
    height: .2rem;
    padding: .3rem 0;
    margin-left: .22rem;
    border: none;
    outline: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background: #fff content-box;
}

