html{height: 100%;}

body{
	color: white;
	background-color:#68cdd5; 
	font-size:125%;
}
.h{
	margin: 1em;
	padding: 0em;
}
.h img{height: 2em;
}
.hh{
	margin: 4% 4% 4% 4%;
	padding:  2% 14% 2% 14%;
}
.hh img{
	margin: auto;
	display: block;
	height: 3.5em;
	width: 9em;
}
.hh p{
	display: flex;
	align-items: center;
	flex-flow: column;
}
.hhh{
	margin: 20% 20%;
	padding: 4em;
}
.logol{
	margin: 2em 1em 2em 10%;
	float: left;
	display: flex;
	align-items: center;
    flex-flow: column;
}
.logol img{height: 2em;margin: auto;display: block;}
.logol p{
    position:relative;
	bottom: 0.5em;
}
.logor{
	margin: 2em 10% 2em 1em;
	float: right;
	display: flex;
	align-items: center;
    flex-flow: column;
}
.logor img{height: 2em;margin: auto;display: block;}
.logor p{
	position:relative;
	display: flex;
	bottom: 0.5em;
