@charset "utf-8";
//初始化变量
$header-height:88px;
$header-bgcolor:#5fc0cd;
$text-color-white:#fff;
// 两端的距离
$justify-size:.31rem;
$center-font-size:.38rem;
header {
    display: flex;
    justify-content: space-between;
    line-height: $header-height;
    background: $header-bgcolor;
    color:$text-color-white;
    .close {
        margin-left: $justify-size;
    }
    .register {
        margin-right: $justify-size;
    }
    .login {
        font-size: $center-font-size;
    }
}

