@charset "utf-8";
@import 'header';
//给body初始字体尺寸，子级文字继承这个
$body-bgcolor:#eff0f4;
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: .32rem;
    background: $body-bgcolor;
}

$input-margin-top:.16rem;
$input-height:100px;
$input-bgcolor: #fff;
$label-height: .5rem;
form {
    .phone,.lock {
        display: flex;
        align-items: center;
        margin-top: $input-margin-top;
        height: $input-height;
        background: $input-bgcolor;
        
    }
    input {
        height: .5rem;
    }
    label {
        height: .5rem;
        width: 1.16rem;
    }
    
}
