html {
  font-size: 62.5%;
}
body{
  background-color: #f5f5f5;
}
.body {
  background-color: #29b078;
}

.hot-line {
  color: #29b078;
}

.navbar {
  background-color: #29b078;
  margin: 0;
  border-radius: 0;
  border-color: #29b078;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.banner {
  width: 100%;
  height: auto;
}

.banner img {
  width: 100%;
  height: 100%;
}

.outer-link img {
  margin: 0 10px;
}

footer {
  position: relative;
  background-color: #29b078;
}

footer .container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;

}

.footer-col,
.footer-col a {
  color: white;
  margin: 1.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.barcode {
  color: white;
}

.copyright {
  padding: 8px;
  font-size: 1.2rem;
  color: white;
  background-color: #29b078;
  border-top: 1px solid #32c086;
}

.nav-aside {
  border: 1px solid #e6e6e6;
  margin-right: 2em;
  background-color: white;
}

ul {
  padding-left: 38%;
  padding-top: 1rem;
}
ul.navbar-nav{
  padding: 0;
}

.nav-aside ul li {
  line-height: 1.5rem;
  vertical-align: middle;
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #29b078;
  list-style-type: none;
  cursor: pointer;
}
.nav-aside ul li:hover{
  color: #f1a750;
}


.nav-aside ul li:hover .circle{
  background-color: #f1a750;
}

.circle {
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 8px;
  border: 1px solid #f1a750;
  border-radius: 50%;
}

.active {
  background-color: #f9a372;
  color: #f1a750;
}

.sub-nav {
  padding: 3rem 0;
  font-size: 1.6rem;
}

.sub-title {
  padding: 2rem;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.6rem;
}

.intro-wrap {
  position: relative;
  padding: 2rem 6rem;
  border-bottom: 1px solid #e6e6e6;
}

.intro {
  padding: 5rem 0;
  margin: 0 2rem;
}

.intro-content {
  font-size: 1.4rem;
  line-height: 3rem;
  color: #999;
}

.text {
  padding: 2rem 6rem;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #999;
}

p {
  text-indent: 3rem;
  text-align: justify;
}

footer {
  margin: 5rem 0 0 0;
}
.barcode-text {
  margin: 10px 0;
}

@media screen and (min-width:768px) {
  /*nav CSS start*/
  .navbar-collapse {
    padding-right: 5%;
    padding-left: 5%;
  }
  .navbar-nav>li>a {
    height: 50px;
    box-sizing: border-box;
    padding: 42px 20px;
    font-size: 16px;
    border-bottom: 4px solid transparent;
  }
  .navbar-nav>li>a:hover {
    border-bottom: 4px solid white;
  }
  .nav {
    float: right;
  }
  .header {
    width: 100%;
    padding: 10px 5%;
    margin: 0;
  }
  .jnshu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
    height: auto;
  }
  .jnshu img {
    width: 100%;
    height: 100%;
  }
  .jnshu-hidden {
    display: none;
  }
  .outer-link {
    float: right;
  }
  /*nav CSS end*/
  .nav-aside {
    width: 30rem;
    float: left;
  }
  section {
    overflow: hidden;
    border: 1px solid #e6e6e6;
    background-color: white;
  }
  .intro {
    position: relative;
    width: 30%;
    height: auto;
    float: left;
  }
  .intro img {
    width: 100%;
    height: 100%;
  }
  .intro-content {
    overflow: hidden;
  }
  .footer-col {
    display: inline-block;
    width: 30rem;
  }
  .login{
    display: none;
  }
  .barcode {
    position: absolute;
    right: 10px;
    bottom: 25px;
  }

}

@media screen and (max-width:767px) {
  /*nav CSS start*/
  span.hot-line,
  span.outer-link {
    display: none;
  }
  .header {
    padding: 0 10px;
  }
  .nav li:hover {
    color: #29b078;
    background-color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #29b078;
  }
  .jnshu {
    display: none;
  }
  .jnshu-hidden {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 5rem;
    height: auto;
  }
  .jnshu-hidden img {
    width: 100%;
    height: 100%;
  }
  /*nav CSS end*/

  .intro {
    text-align: center;
    padding: 2rem;
  }
  .text,
  .intro-content,
  .intro-wrap {
    padding: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #999;
  }
  .intro-content{
    padding: 0;
  }
  .footer-col {
    display: inline-block;
    text-align: left;
    width: 80%;
  }
  .my-hidden {
    display: none;
  }
  .barcode {
    position: absolute;
    display: inline-block;
    top: 6rem;
    right: 1rem;
    padding: 0;
    background-color: #29b078;
  }
  .nav-aside {
    border: 1px solid #e6e6e6;
    margin-right: 0em;
    background-color: white;
  }
  .login {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  .login span{
    padding: 0 1rem;
  }
  .navbar-default .navbar-nav li{
    text-align: center;
  }
}

@media screen and (max-width:900px) and (min-width:600px) {
  .intro {
    display: block;
    float: none;
    width: 100%;
  }



  .nav-aside {

    margin-right: 1em;

  }
}
