html {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
}

.hot-line {
  color: #29b078;
}

.navbar {
  background-color: #29b078;
  margin: 0;
  border-radius: 0;
  border-color: #29b078;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.outer-link img {
  margin: 0 10px;
}

.flow-unit {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.circle {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  min-width: 7rem;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(61, 61, 61, 0.8);
  font-size: 1.8rem;
  color: #29b078;
}

.my-carousel-indicators li {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(53, 53, 53, 0.8);
}

.my-carousel-indicators .active {
  width: 13px;
  height: 13px;
  margin: 5px;
  background-color: #29b078;
  border: #29b078;
}

.intro-wrap {
  padding: 3rem;
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.8);
}

.show-shadow {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 5px;
}

footer {
  position: relative;
  background-color: #29b078;
}

footer .container {
  position: relative;
}

section {
  background-color: #f5f5f5;
}

.container {
  margin: 10rem auto;
}

.img {
  position: relative;
  height: 6rem;
}

.img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.img-text {
  margin: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.text {
  font-size: 1.6rem;
  color: #cacaca;
}

.user-number {
  font-size: 1.8rem;
  color: #29b078;
}

.number-text {
  margin: 5px;
  font-size: 1.6rem;
  color: #cacaca;
}

.wrap-box {
  position: relative;
  top: 3rem;
  margin-left: 35px;
}

.sub-title {
  margin: 0 0 6rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.flow {
  margin: 2rem 0;
}

.learn-text {
  padding: 1rem 5%;
  width: 80%;
  font-size: 14px;
  color: #cacaca;
}

.head img {
  margin-bottom: 2rem;
}

.name {
  font-size: 1.8rem;
}

.intro-stu {
  font-size: 1.6rem;
  color: #bfbfbf;
  margin-top: 2rem;
}

.my-col:hover {
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.8);
}

.my-col img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer .container {
  margin-bottom: 0;
}

.footer-col,
.footer-col a {
  color: white;
  margin: 1.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.barcode {
  color: white;
}

.copyright {
  padding: 8px;
  font-size: 1.2rem;
  color: white;
  background-color: #29b078;
  border-top: 1px solid #32c086;
}

.blank {
  height: 2rem;
  width: 100%;
  background-color: #29b078;
}

.specialty .col-sm-3 {
  padding: 15px;
}

.row-flex a span {
  display: inline-block;
  padding: 2px 0;
  border-bottom: 1px solid transparent;
}

.row-flex a:hover {
  text-decoration: none;
}

.row-flex a span:hover {
  border-bottom: 1px solid #29b078;
  cursor: pointer;
}

.barcode-text {
  margin: 10px 0;
}

@media screen and (min-width:768px) {
  .login{
    display: none;
  }
  .barcode {
    position: absolute;
    right: 10px;
    bottom: 25px;
  }
  .text {
    text-align: center;
  }
  .my-carousel-indicators {
    position: absolute;
    top: 110%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  .logo {
    box-shadow: 0 0 10px rgba(61, 61, 61, 0.8);
    overflow: hidden;
  }
  .my-col {
    display: inline-block;
    float: left;
    text-align: center;
    width: 20%;
    height: 12rem;
  }
  .navbar-collapse {
    padding-right: 5%;
    padding-left: 5%;
  }
  .navbar-nav>li>a {
    height: 50px;
    box-sizing: border-box;
    padding: 42px 20px;
    font-size: 16px;
    border-bottom: 4px solid transparent;
  }
  .navbar-nav>li>a:hover {
    border-bottom: 4px solid white;
  }
  .nav {
    float: right;
  }
  .header {
    width: 100%;
    padding: 10px 5%;
    margin: 0;
  }
  span {
    display: inline-block;
  }
  .hot-line {
    display: inline-block;
  }
  span.outer-link {
    float: right;
  }
  #flow-unit-4 img {
    visibility: hidden;
  }
  .row-flex a {
    width: 10%;
    float: left;
    text-align: center;
    color: #999;
  }
  .row-flex {
    overflow: hidden;
    margin: 1rem;
  }
  .footer-col {
    display: inline-block;
    width: 30rem;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: white;
  }
  .jnshu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
    height: auto;
  }
  .jnshu img {
    width: 100%;
    height: 100%;
  }
  .jnshu-hidden {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .navbar-default .navbar-nav li{
    text-align: center;
  }

  .nav li:hover {
    color: #29b078;
    background-color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #29b078;
  }
  .barcode {
    position: absolute;
    display: inline-block;
    top: 6rem;
    right: 1rem;
    padding: 0;
    background-color: #29b078;
  }
  .row-flex a {
    width: 25%;
    float: left;
    text-align: left;
    margin: 5px auto;
    color: #999;
  }

  .wrap-box {
    text-align: center;
    position: relative;
    top: 3rem;
    margin: 0;
  }
  .text {
    text-align: center;
  }
  .my-carousel-indicators {
    position: absolute;
    top: 102%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  span.hot-line,
  span.outer-link {
    display: none;

  }
  .header {
    padding: 0;
  }
  .flow-unit {
    padding: 15px;
  }
  #flow-unit-4 img {
    visibility: visible;
  }
  footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-col {
    display: inline-block;
    text-align: left;
    width: 80%;
  }
  .my-hidden {
    display: none;
  }
  .my-col {
    display: block;
    text-align: center;
    height: 12rem;
  }
  .jnshu {
    display: none;
  }
  .jnshu-hidden {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 5rem;
    height: auto;
  }
  .jnshu-hidden img {
    width: 100%;
    height: 100%;
  }
  .login {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  .login span{
    padding: 0 1rem;
  }

}

@media screen and (max-width:992px) and (min-width:768px) {
  #flow-unit-4 img {
    visibility: visible;
  }
  .my-col {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }
  .my-col img {
    display: inline-block;
  }
}
