html {
  font-size: 62.5%;
  letter-spacing: 1px;
  font-family: SimHei;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

.outer-link img {
  margin: 0 10px;
}

.hot-line {
  color: #29b078;
}

.navbar {
  background-color: #29b078;
  margin: 0;
  border-radius: 0;
  border-color: #29b078;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.outer-link img {
  cursor: pointer;
  vertical-align: middle;
}

.header-text {
  font-size: 1.4rem;
  color: #29b078;
  vertical-align: middle;
}

.logo img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10px;
}

.sub-nav {
  padding: 2rem 0;
  border-bottom: 1px solid #d0d6d9;
}

.direction {
  padding: 2rem 0;
  border-bottom: 1px solid #edf1f2;
}

.direction a {
  color: black;
}

.sub-title {
  padding: 2rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #d0d6d9;
}

.head-box img {
  float: left;
  margin: 0 1rem 0 0;
}

.clear-float {
  clear: both;
}

.td-name {
  vertical-align: middle;
}

table {
  width: 100%;
}

td {
  width: 33.3333%;
  border: 1px solid #999;
  padding: 1rem;
  font-size: 1.4rem;
  color: #999999;
}

.shadow {
  position: relative;
  box-shadow: 0 0 18px rgba(32, 32, 32, 0.6);
}

.table {
  margin: 1rem 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.intro-title {
  font-size: 1.6rem;
}

.intro-content {
  font-size: 1.4rem;
  text-align: justify;
  padding: 1rem 1rem 0 0;
  overflow: hidden;
}

.head-box {
  padding: 1rem;
}

.hover-title,
.hover-text {
  line-height: 3rem;
  text-align: center;
  padding: 1rem 0;
}

.hover-text {
  text-align: j;
}

.hover-display {
  position: absolute;
  top: 15px;
  z-index: 10;
  height: 93%;
  width: 95%;
  padding: 5rem;
  background-color: rgba(32, 32, 32, 0.8);
  color: white;
  visibility: hidden;
}

.shadow:hover+.hover-display {
  visibility: visible;
}

.hover-display:hover {
  visibility: visible;
}

/*
a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.4rem;
  color: black;
}
*/

a:hover {
  background-color: #29b078;
  color: white;
  text-decoration: none;
}

.divide-wrap,
.learning-number {
  padding: 1rem;
  border-bottom: 1px solid #999;
  font-size: 1.4rem;
  color: #999999;
}

.prompt {
  padding: 1rem;
  font-size: 1.4rem;
  color: #999999;
}

.no-border-right {
  border-right: 0;
}

.border-top {
  border-top: 1px solid #999;
}

.divide-6,
.divide-3,
.divide-9 {
  display: inline-block;
}

.divide-6 {
  width: 49%;
}

.divide-3 {
  width: 34%;
}

.divide-9 {
  width: 64%;
}

.col-md-4 {
  padding: 15px;
}

.row {
  margin: 0;
}

footer {
  position: relative;
  background-color: #29b078;
}

footer .container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-col,
.footer-col a {
  color: white;
  margin: 1.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.barcode {
  color: white;
}
.barcode-text{
  margin: 10px 0;
}

.copyright {
  padding: 8px;
  font-size: 1.2rem;
  color: white;
  background-color: #29b078;
  border-top: 1px solid #32c086;
}

@media screen and (min-width:768px) {
  /*nav CSS start*/
  .navbar-collapse {
    padding-right: 5%;
    padding-left: 5%;
  }
  .navbar-nav>li>a {
    height: 50px;
    box-sizing: border-box;
    padding: 42px 20px;
    font-size: 16px;
    border-bottom: 4px solid transparent;
  }
  .navbar-nav>li>a:hover {
    border-bottom: 4px solid white;
  }
  .nav {
    float: right;
  }
  .header {
    width: 100%;
    padding: 10px 5%;
    margin: 0;
  }
  .jnshu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12rem;
    height: auto;
  }
  .jnshu img {
    width: 100%;
    height: 100%;
  }
  .jnshu-hidden {
    display: none;
  }
  .outer-link {
    float: right;
  }
  /*nav CSS end*/
  .barcode {
    background-color: #29b078;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  span.outer-link {
    float: right;
  }
  .footer-col {
    display: inline-block;
    width: 30rem;
  }
  .login {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /*nav CSS start*/
  span.hot-line,
  span.outer-link {
    display: none;
  }
  .header {
    padding: 0 10px;
  }
  .nav li{
    text-align: center;
  }
  .nav li:hover {
    color: #29b078;
    background-color: white;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #29b078;
  }
  .jnshu {
    display: none;
  }
  .jnshu-hidden {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 5rem;
    height: auto;
  }
  .jnshu-hidden img {
    width: 100%;
    height: 100%;
  }
  /*nav CSS end*/
  .direction a {
    display: block;
    text-align: center;
    padding: 8px;
  }
  .barcode {
    position: absolute;
    display: inline-block;
    top: 6rem;
    right: 1rem;
    padding: 0;
    background-color: #29b078;
  }
  span.outer-link {
    display: block;
    text-align: center;
    margin: 10px;
  }
  .footer-col {
    display: inline-block;
    text-align: left;
    width: 80%;
  }
  .my-hidden {
    display: none;
  }
  .login {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  .login span {
    padding: 0 1rem;
  }
  span.hot-line,
  span.outer-link {
    display: none;
  }
  .divide-6 {
    display: block;
    width: 100%;
  }
  .hover-display {
    padding:5rem;
  }
}

@media screen and (max-width:1250px) and (min-width:768px) {
  .divide-6 {
    display: block;
    width: 100%;
  }
  .hover-display {
    padding: 10rem 5rem;
  }
}
