html {
  font-size: 62.5%;
  max-width: 120rem;
  letter-spacing: 1px;

}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

header {
  position: relative;
  display: block;
  height: 4rem;
  line-height: 4rem;
  max-width: 120rem;
  margin: 0 auto;
  background-color: white;
}

nav {
  height: 10rem;
  line-height: 10rem;
  background-color: #29b078;
  font-size: 1.6rem;
  color: white;
}

.nav-box {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.cell {
  display: inline-block;
  padding: 0 3.4rem;
  cursor: pointer;
}

.cell:hover {
  border-bottom: 4px solid white;
}

.main-body {
  background-color: #fafafa;
}

.outer-link {
  position: absolute;
  display: inline-block;
  right: 0;
}
.outer-link img{
  cursor: pointer;
}


.header-text {
  font-size: 1.4rem;
  color: #29b078;
  vertical-align: middle;
}


.banner {
  height: 60rem;
  line-height: 60rem;
}

.banner .img {
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: table;
  height: 100%;
  width: 100%;
  background-image: url(./task8-1-assets/backgroumdImg.png);
  background-size: cover;
}

.banner-text {
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
}

.sub-title {
  font-size: 1.8rem;
  margin: 3rem;
}

.sub-intro-box {
  display: inline-block;
}

.sub-intro {
  text-align: justify;
  font-size: 1.6rem;
  color: #999;
}

.container {
  display: inline-block;
  width: 100%;
  max-width: 120rem;
  margin: 0;
  font-family: SimHei;
}

.specialty {
  position: relative;
  display: inline-block;
  height: 20rem;
  padding: 0 3rem;
  margin: 14rem 0 12rem 0;
  white-space: normal;
}

.specialty-icon {
  position: relative;
  display: inline-block;
  height: 30%;
  ;
  width: 100%;
}

.specialty-icon img {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.user-box {
  display: inline-block;
  position: relative;
  top: 20%;
  text-align: left;
}

.user img,
.number {
  display: inline-block;
}

.number {
  font-size: 1.8rem;
  color: #29b078;
}

.user-text {
  font-size: 1.8rem;
  color: #999;
}

.flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flow-title {
  font-size: 1.8rem;
}

.flow-unit {
  display: inline-block;
  text-align: left;

  padding: 5rem 0;
}

.flow-text {
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  width: 15rem;
  margin: 0 0 0 2rem;
  color: #999;
  white-space: normal;
}

.flow-arrow {
  display: inline-block;
}

.excellent-title {
  font-size: 1.8rem;
  margin: 7rem 0 9rem 0;
}

.excellent-box {
  text-align: center;
  min-height: 37rem;
  width: 22rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(73, 73, 73, 0.5);
  white-space: normal;
}

.excellent-box img {
  margin: 2rem 0;

}

.excellent-box * {
  display: inline-block;
  padding: 0 3rem;
}

.name {
  font-size: 1.8rem;
  margin: 0 0 3rem 0;
}

.excellent-intro {
  text-align: justify;
  font-size: 1.6rem;
  color: #999;
}

.coperate-title {
  margin: 13rem 0 7rem 0;
  font-size: 1.8rem;
}

.coperate-logo {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  max-width: 120rem;
  padding: 0;
  box-shadow: 0 0 10px rgba(73, 73, 73, 0.5);
}

.co-icon-box {
  display: inline-block;
  text-align: center;
  height: 17rem;
  width: 21rem;
  cursor: pointer;
}

.co-icon-box img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.co-icon-box:hover {
  box-shadow: 0 0 10px rgba(73, 73, 73, 0.5);
}

.link {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.link-title {
  margin: 11rem 0 3rem 0;
  font-size: 1.8rem;
}

.link a {
  font-size: 1.4rem;
  color: #999;
}

.circle-flow-text {
  font-size: 1.8rem;
  color: #29b078;
}

.switch {
  text-align: center;
  margin: 2.4rem 0 0 0;
}

.circle {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 3px rgba(73, 73, 73, 0.8);
}

.circle:visited {
  background-color: #29b078;
}

.circle:active {
  background-color: #29b078;
}

.circle-flow {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(73, 73, 73, 0.6);
}

footer {
  position: relative;
  background-color: #29b078;
  text-align: center;
}

footer a {
  display: inline-block;
  font-size: 1.6rem;
  color: white;
}

.footer-box {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 120rem;
  padding: 0 15px;
}

.footer-col-1 {
  display: inline-block;
  width: 36rem;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
}

.footer-col-2 {
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
}

.copyright {
  position: relative;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 1.2rem;
  color: white;
}

.barcode {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  color: white;
}
.carousel-indicators li{
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 3px rgba(73, 73, 73, 0.8);
}
.carousel-indicators li.active {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #29b078;
  background-color: #29b078;
}
.carousel-indicators{
  bottom: -50px;
}
.slide-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 10px;
}