.hover-1 {
  height: 5rem;
  width: 5rem;
  background-color: aquamarine
}

.son {
  height: 3rem;
  width: 3rem;
  background-color: blue;
}

.hover-2 {
  height: 5rem;
  width: 5rem;
  background-color: aqua;
}

.hover-1:hover>.hover-2 {
  background-color: bisque;
}

.hover-1:hover .son {
  background-color: bisque;
}

.red {
  width: 100vw;
  height: 50vh;
  background-color: red;
}

.slide-show {
  height: 50vh;
  width: 100vw;
  background-color: aqua;
}
.carousel-indicators li{
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 3px rgba(73, 73, 73, 0.8);
}
.carousel-indicators li.active {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #29b078;
  background-color: #29b078;
}
.carousel-indicators{
  bottom: -50px;
}
.slide-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.stu-unit{
  height: 37rem;
  width: 27rem;
}

.excellent-box {
  height: 37rem;
  width: 22rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(73, 73, 73, 0.5);
  white-space: normal;
}