html{
    font-size: 625%;
}
body, h2, h3,ul {
    margin: 0;
    padding: 0;
}
body{
    background: #bbb;
}
*{
    box-sizing: border-box;
}
.mainCenter{
    padding-top:.43rem;
    padding-bottom: .02rem;
    max-width:5rem;
    margin:0 auto;
    background: #34BEDE;
    min-height:6.34rem;
}
.mainCenter:after,
.mainLog:after{
    content:"";
    height:0;
    line-height:0;
    display: block;
    visibility: hidden;
    clear:both;
}
/*头部*/
header{
    position: fixed;
    top:0;
    width:100%;
    height:.43rem;
    text-align: center;
    max-width:5rem;
    z-index: 9;
    background-color: #34BEDE;
    /*line-height: 0.05rem;*/
    font-size: 0.17rem;
    line-height: 0.43rem;
    /*background: #29bde0;*/
    color:#fff;
    border-bottom: 1px solid #eee;
}
header:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.headerLeft{
    float:left;
    width: .4rem;
    height: .4rem;
    margin-left:.08rem;
}
.headerRight{
    float:right;
    width: .40rem;
    height: .40rem;
    margin-right: .08rem;
}
.headerCenter{
    display: inline-block;
}
.headerCenter{
    font-size: 0.12rem;
}

/*法官日志主体*/
.mainLog{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: .9rem;
}

/*底部*/
footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left:0;
    right:0;
    max-width:5rem;
    margin:0 auto;
    background: #34BEDE;
}