.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em;
}
/*首页*/
.headerHome{
  padding: .06rem;
  text-align: left;
}
.headerHome img{
  width:.3rem;
}
.game a {
  text-decoration: none;
}
.mainHome {
  background-color: #EFF0F1;
  padding-top:.05rem;
  font-size: .12rem;
}
.mainHome .last-game {
  display: flex;
  align-items: center;
  margin: 1em auto;
  width: 90%;
  height: .6rem;
  background-color: #fff;
}
.mainHome .last-game b {
  display: inline-block;
  margin-right: -1em;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #9a9a9a;
}
.mainHome .last-game img {
  width: 1em;
  height: 1.5em;
}
.mainHome .game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /*
  height: 40em;
  */
  margin: 0 auto;
  background-color: #fff;
}
.game .gameBottom {
  margin-bottom: 30px;
}
.mainHome .game .guiGame {
  display: inline-block;
  text-align: center;
  line-height: 2.5em;
  color: #fbb435;
  width: 100%;
  font-size: 1.5em;
  border-bottom: 0.1em solid #fbb435;
}
.mainHome .game b {
  color: #9a9a9a;
  letter-spacing: 1px;
}
.gress,
.ldiot,
.Simpli{
  width: 80%;
  margin: 1em;
  text-align: center;
  line-height: .78rem;
  font-size: 2em;
  background-color: #29bde0;
  color: #fff;
}
.triangle {
  position: absolute;
  right: 6px;
  top: 46%;
}
.triangle img {
  width: 1.5em;
  height: 3em;
}
.point {
  width: 4em;
  height: 1em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-left: -2em;
}
.point .point0 {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: #fbb435;
  border-radius: 50%;
}
/*页面2*/
.header_2 {
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  background-color: #34BEDE;
  line-height: 5em;
}
.header_2 h2 {
  color: #fff;
  font-size: 2em;
}
.header_2 img {
  width: 3em;
  height: 3em;
  margin: 1em;
}
.vate {
  margin-top: 5em;
  position: relative;
  height: 5em;
  background-color: #BAE9F4;
}
.vate b {
  line-height: 3.5em;
  font-size: 1.5em;
  margin-left: 2em;
  letter-spacing: 0.1em;
}
#boFang {
  display: inline-block;
  float: right;
  width: 4em;
  height: 4em;
  background: #FBB435;
  border-radius: 50%;
  margin: 0.4em;
}
#threeJiao {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 27px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-left: 15px;
  margin-top: 9px;
}
.vate_0 {
  position: absolute;
  top: 5em;
  left: 4em;
  width: 0;
  height: 0;
  border-top: 1em solid #BAE9F4;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}
.main_2 > b {
  display: inline-block;
  height: 3em;
  font-size: 1.2em;
  color: #fff;
  line-height: 3em;
  margin-left: 3em;
  letter-spacing: 0.1em;
}
.mainLog .number {
  user-select:none;
  float: left;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 1.5rem;
  font-size: .17rem;
}
.number .number-1 {
  display: inline-block;
  width: .9rem;
  box-sizing: border-box;
  border: 4px solid #fff;
}
.number .numberTop {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .70rem;
  background-color: #F5C97B;
}
.gameClick{
  margin-top:.15rem;
}
.number .numberBtm {
  color: #fff;
  background-color: #83B09A;
  text-align: center;
  font-size: .13rem;
  line-height: .15rem;
}
.number .gameIco {
  margin-top:.15rem;
  text-align: center;

}
.gameIco img {
  display: none;
  width:.25rem;
}
.gameClick:hover .gameIco img {
  display: inline-block;
}
.clear_2 {
  clear: both;
  height: 4em;
}
.footer_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34BEDE;
}
.footer_2 .dead {
  width: 70%;
  background-color: #F8B445;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  color: #fff;
  border: none;
}
/*页面3*/
.header_3 {
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  text-align: center;
  background: #34BEDE;
  line-height: 53px;
}
.header_3 .oneimg {
  float: left;
  margin: 14px;
  width: 25px;
  height: 25px;
}
.header_3 .twoimg {
  float: right;
  margin: 14px;
  width: 25px;
  height: 25px;
}
.header_3 b {
  font-size: 17px;
  color: #fff;
  font-weight: normal;
}
.main-1 {
  background-color: #34BEDE;
  margin-top: 50px;
  padding-top: 10px;
}
.main_3,
.time {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.main_3 .wdsl {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url(../img/images7.2/结果展示.png);
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 20px;
}
.wodicenter{
  display: inline-block;
  position: relative;
  left:50%;
  transform: translate(-50%,70px);
}
.main_3 > b {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #F4C872;
}
.container > b {
  font-weight: normal;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}
.colFour {
  width: 33.333%;
  float: left;
}
/*.time .container{
  width:80%;
  margin:0 auto;
}*/
.part {
  background: #fff;
  border-bottom: 2px solid #eee;
  box-sizing: border-box;
}
.time h3 {
  color: #000;
}
.time-1 {
  color: #D8DADA;
  float: right;
}
.time-2 {
  color: #B2B3B5;
}
.time hr {
  margin-bottom: 0;
}
/*.clear_3{
  clear:both;
  height:5em;
}*/
.partEnd {
  background: #fff;
 padding-bottom: 100px;
}
.footer_3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: rgba(34, 190, 222, 0.7);
  box-sizing: border-box;
  
}
.footer_3 button {
  width: 45%;
  border: none;
  border-radius: 6px;
  color: #fff;
}
.footer_3 .left {
  background-color: #F37072;
  float: left;
  font-size: 20px;
  line-height: 45px;
}
.footer_3 .right {
  background-color: #F8B445;
  float: right;
  font-size: 20px;
  line-height: 45px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}
.colFour {
  width: 33.333%;
  float: left;
}


/*参数设置页面*/
.bdColorHui{
  background: #ebeced;
  user-select:none;
}
.headerSetLeft{
  background: url(../img/setting/setting.png) -.1rem -.58rem;
  background-size: 1.55rem 1.02rem;
}
.headerSetRight{
  background: url(../img/setting/setting.png) -.05rem -.05rem;
  background-size: 1.10rem .96rem;
}
/*玩家配对*/
.matching{
  width:95%;
  height:2.4rem;
  margin:.17rem auto 0 auto;
}
.matching .player{
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
  height:2.4rem;
  font-size: .2rem;
  border-right:.01rem solid #ddd;
  background: #fff;
}
.matchContent{
  float:left;
  width:80%;
  height:1.96rem;
  background: #fbfbfb;
  overflow-y: auto;
}
.matchContent li{
  width:50%;
  float:left;
  font-size: .20rem;
  list-style:none;
  line-height: .40rem;
  padding-left: .6rem;
  color:#a1a1a1;
  user-select:none;
}
.clickSet{
  float:left;
  width:80%;
  font-size: .21rem;
  line-height: .43rem;
  text-align: center;
  border-top:.01rem solid #ddd;
  background: #fbfbfb;
  color:#29bde0;
  cursor: pointer;
  user-select:none;
}
.clickSet .penImg{
  display: inline-block;
  margin: 0 0 -.04rem .12rem;
  width:.20rem;
  height:.20rem;
  background: url(../img/setting/setting.png) -.92rem -.78rem;
}
.wordGroup{
  width: 95%;
  height:1.1rem;
  margin:.10rem auto 0 auto;
  font-size: .14rem;
  background: #fff;
}
.wordGroup input{
  width: 91%;
  margin: .02rem .15rem;
  padding: .10rem .02rem;
  font-size: .20rem;
  border: none;
  border-bottom: .01rem solid #ddd;
  background: #fff;
  outline:none;
}
.nubmerSet{
  width: 95%;
  height:1.25rem;
  margin:.10rem auto 0 auto;
  font-size: .14rem;
  padding: .12rem .17rem;
  background: #fff;
}
.nubmerSet .playerNub{
  font-size: .20rem;
}
.playerNub input{
  width: .35rem;
  margin: 0 .14rem;
  background: #f4f5f5;
  outline: none;
  border: none;
  font-size: 20px;
  padding: .02rem .06rem;
  color:#fab344;
}
.nubSetting{

  text-align: center;
  height:.80rem;
  padding: .30rem .15rem;
}
.nubSetting .nubCut{
  float:left;
  width: .30rem;
  height: .30rem;
  background: url(../img/setting/setting.png) -1.80rem -1.07rem;
  background-size: 2.21rem 1.90rem;
  border: .01rem solid #ddd;
  cursor: pointer;
  margin-bottom: -.12rem;
}
#nubCenter{
  width: 73%;
  height:.05rem;
  border-radius: .05rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
  background: #fab344;
  user-select:none;
  margin-top:.10rem;
}
.nubSetting .nubAdd{
  float:right;
  width: .30rem;
  height: .30rem;
  background: url(../img/setting/setting.png) -.77rem -1.17rem;
  background-size: 2.21rem 1.90rem;
  border: .01rem solid #ddd;
  cursor: pointer;
  margin-bottom: -.12rem;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: .64rem; height: .40rem;
  background: url(../img/setting/setting.png) -.81rem -.10rem;
}
.nubSetting .nubLine{
  width: 100%;
  height: .03rem;
  background: #fab344;
}
.nubCenter .nubBlock{
  position: absolute;
  top:50%;
  margin-top:-7rem;
  width: .30rem;
  height: .16rem;
  border: .02rem solid #fab344;
  display: inline-block;
  background: #fab344;
  border-radius: .05rem;
}

.todo{
  width:95%;
  margin:.05rem auto;
  font-size: 0;
}

.deal{
  display: block;
  width: 95%;
  height:.60rem;
  background: #fab344;
  font-size: .25rem;
  border:none;
  margin:.10rem auto;
  outline: none;
  letter-spacing: .06rem;
  color:#fff;
}

/*查看身份页面*/
.headerLookLeft{
  background: url(../img/setting/setting.png) -.1rem -.58rem;
  background-size: 1.55rem 1.02rem;
}
.headerLookRight{
  background: url(../img/setting/X.png) 5px 5px no-repeat;
  background-size: .3rem;
}
.lookStatus{
  position: relative;
  max-width:65%;
  height:395px;
  margin:60px auto;
  border:5px solid #fff;
  text-align: center;
  font-size: 30px;
  background: #ffedc5;
}
.statusNumber{
  position: absolute;
  left:50%;
  transform:translate(-50%,-50%);
  width:60px;
  height:60px;
  border:3px solid #ffedc5;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color:#f56b81;
  font-weight: bold;
}
.zheng{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:80%;
  height:2.5rem;
  background: url(../img/setting/fangpai.png) no-repeat;
  background-size: contain;
}
.ddg{
  position: static;
}
.goToNext{
  
  width:75%;
  line-height: 60px;
  margin:.2rem auto 15px auto;
  text-align: center;
  background: #fbb435;
  font-size: 30px;
  color:#fff;
  cursor: pointer;
  user-select: none;
}
/*隐藏*/
.card_2{
  display: none;
}
/*传递身份页面*/
.wow{
  display: inline-block;
  width:140px;
  height:140px;
  background: url(../img/setting/wow.png) 21px 21px  no-repeat #fbb435;
  background-size: 120px 120px;
  border-radius: 50%;
  margin: 37px 0 5px 0;
}
.jiaoSe,
.cz{
  font-size: 23px;
}
.cz{
  margin-bottom:12px;
}
.tip{
  text-align:left;
  font-size: 16px;
  border-top: 1px solid #fff;
  padding: 12px;
  color:#fbb435;
  font-weight: bold;
}

/*法官台本*/
.kalendar{
  width:95%;
  font-size: 18px;
  background: #fff;
  margin:8px auto;
  text-align: center;
  line-height: 45px;
  color:#29bde0;
  border:1px solid #ccc;
}
.dayhide{
  display: none;
  line-height: 12px;
  font-size: 12px;
}
.kalendar_1{
  width:95%;
  font-size: 18px;
  background: #fff;
  margin:8px auto;
  padding: 50px 20px 55px 20px;
  color:#fff;
  border:1px solid #ccc;
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}
.kalendar_box{
  margin: 0 0 0 50px;
  border-left:2px solid #999;
  /*border-radius:20px;*/
  
}
.flowBox{
  float:right;
  width:80%;
  display: inline-block;
  background: #29bde0;
  line-height: 50px;
  text-align: center;
  margin-top:15px;
  cursor: pointer;
}
.flowBox-1{
  margin-top:-10px;
}
.xingxi-1{
  display: none;
  color:#999;
  margin-left:76px;
  margin-top:2px;
  margin-bottom: 2px;
  float:left;
  font-size: 15px;
  
}
.kalendar_box:after{
  content:".";
  height:0;
  visibility: hidden;
  display: block;
  clear:both;
}
.yueliang,
.taiyang{
  float:left;    /*为了让月亮移动时不跟着文字*/
    display: inline-block;
    border:1px solid #999;
    width:35px;
    height:35px;
    border-radius: 50%;
  background: #fff;
}
.yueliang{
  transform:translate(-18px,0px);
}
.taiyang{
  transform:translate(-18px,25px);
}
.yueliang img,
.taiyang img{
  width: 25px;
  height: 25px;
  margin: 4px 0 0 4px;
}

.overGame,
.toLog{
  width:48%;
  margin:10px 15px;
  border-radius: 5px;
  background: #fab344;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  color:#fff;
}