main {
    .cover {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .total{
        line-height: 1rem;
        .home-page {
            font-size: .16rem;
            color: #333333;
        }
        .cooperative-enterprise {
            font-size: .16rem;
            color: #29B078;
        }
    }
    
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: .01rem solid #e1e1e1;
        border-radius: .1rem;
        background: #ffffff;
        .enterprise {
            font-size: .22rem;
            color: #333333;
            text-align: center;
            padding-top: .21rem;
            padding-bottom: .24rem;
            border-bottom: .01rem solid #e1e1e1;
        }
        
        .company-list {
            text-align: left;
            padding-left: 35%;
            padding-top: .4rem;
            .company {
                padding-bottom: .36rem;
                font-size: .22rem;
                color: #FF650E;
                list-style: inside circle;
                a {
                    color: #29B078;
                }
                &:hover{
                    color:#FF650E;
                    list-style: inside disc;
                    a{
                        color: #FF650E;
                    }
                }
                &:visited{
                    color:#FF650E;
                    list-style: inside disc;
                }
            }
        }
    }
    .company-introduction{
        border:.01rem solid #e1e1e1;
        border-radius: .1rem;
        background: #ffffff;
        .logo{
            padding: 15px;
            border-bottom: .01rem solid #e1e1e1;
            img{
                float: left;
                margin: .4rem;
                width: 1.34rem;
                height: 1.22rem;
            }
            p{
                margin-bottom: .38rem;
                line-height: .4rem;
                font-size: .14rem;
                text-indent:2em;
                color: #999999;
            }
        }
        .introduction{
            padding: 15px;
            p{
                margin-bottom: .38rem;
                line-height: .4rem;
                font-size: .14rem;
                text-indent:2em;
                color: #999999;
            }
        }
    }
}