*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    line-height: 3rem;
    background-color: #5fc0cd;
}
.angle {
    position: relative;
    margin-left: 1rem;
    height: 0;
    width: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid white;
    border-bottom: 1rem solid transparent;
}
.angle-after {
    position: absolute;
    margin-left: 1rem;
    width: 5px;
    border-top: 1rem solid transparent;
    border-right: 1rem solid #5fc0cd;
    border-bottom: 1rem solid transparent;
}
.empty {
    margin-left: 1rem;
    width: 5px;
    border-top: 1rem solid transparent;
    border-right: 1rem solid #5fc0cd;
    border-bottom: 1rem solid transparent;
}
.main-background {
    height: 20vh;
    color: #fff;
    font-size: 1vw;
    background-image: url("../images/task5-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.introduce {
    padding-top: 2rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.gaoshu-img {
    width: 10vh;
}


.name {
    position: absolute;
    top: 6vh;
    margin-left: 1rem;
}
.site {
    position: absolute;
    top: 10vh;
    margin-left: 1rem;
}
.site img {
    width: 2vh;
}
.sikll {
    line-height: 4rem;
    border-bottom: 2px solid #e1e5e7;
}
.sikll span {
    color: #5fc0cd;
    padding-left: 1rem;
    padding-right: 1rem;
}
.container {
    line-height: 2rem;
    margin-left: 1rem;
    border-bottom: 2px solid #e1e5e7;
}
.container img {
    width: 2vh;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #e1e5e7;
    margin-left: 2rem;
}
.row span {
    color: black;
}
.flet {
    margin-left: 1rem;
    border-right: 2px solid #e1e5e7;
    color: #999;
    padding-right: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.row1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5rem;
    border-bottom: 2px solid #e1e5e7;
}
#flex1 {
    display: flex;
    flex-shrink: 0;
    padding-left: 2rem;
}
.right {
    color: red;
}

.foot {
    display: flex;
    position: fixed;
    bottom: 1rem;
    justify-content: space-around;
    width: 100vw;
    font-size: 3rem;

}
.btn1 {
    background: #fff;
    border-radius: 10px;
    outline: none;
    color: #5fc0cd;
    border: 2px solid;
    width: 45vw;
    height: 3rem;
}
.btn2 {
    background: rgb(104,205,213);
    border-radius: 10px;
    outline: none;
    color: white;
    border: 2px solid;
    width: 45vw;
    height: 3rem;
}