
body {
    background-color: #eff0f4;
}
.head {
    height: 3em;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    line-height: 3em;
    text-align: center;
    background-color: #5fc0cd;
}
.head-center {
    font-size: 1.2em;
}
.head-left {
    float: left;
    padding-left: 1.2rem;
}
.head-right {
    float: right;
    padding-right: 1.2rem;
}
.input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 3em;
    color: #e3e7e9;
    background-color: #fff;
}
.input input{
    width: 50%;
    margin-left:2%;
    outline-color: #fff;
    font-size: 1rem;
}
.input img {
    width: 1rem;
    margin-left: 2em;
    margin-right: 1em;
    vertical-align:middle;
}

.phone {
    height: 3em;
    border: none;
}
.lock {
    height: 3em;
    border: none;
}

.btn {
    width: 100%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    line-height: 3em;
    border: none;
    background-color: #5fc0cd;
    outline-color: #5fc0cd;;
}
.foot {
    float: right;
    margin-top: 2rem;
    margin-right: 7%;
    font-size: .8rem;
    color: #5fc0cd;
}