* {
    margin: 0;
    padding: 0;
    yo
}

html {
    font-size: 62.5%;
}

header {
    background: #fff;
}

.top {
    height: 4rem;
    color: #29b078;
    font-size: 2rem;
    background: #fff;
}

.service-tel {
    display: inline-block;
    width: 40%;
    line-height: 4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contact {
    float: right;
    line-height: 4rem;
}

.width-col {
    color: #fff;
    width: 100%;
    background: #29b078;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin: 0;
}

.navbar-default .navbar-toggle {
    margin-right: 0;
}

@media (min-width: 767px) {
    .navbar-header span {
        line-height: 80px;
    }

}

@media (max-width: 767px) {
    .navbar-header span {
        line-height: 56px;
    }
}

.background {
    margin-bottom: 0;
    color: #fff;
    border: none;
    background: #29b078;
}

#navbar-menu li {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    list-style-type: none;
}

#navbar-menu a:link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#navbar-menu a:visited {
    color: #fff;
}

.background a:hover {
    color: #fff;
    padding-bottom: 26px;
    border-bottom: 5px solid #fff;
}

#navbar-menu .navbar-right a {
    margin-left: 2rem;
    line-height: 80px;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .but-right {
        margin-right: 20px;
        float: right;
    }
}

.bout {
    line-height: 2rem;
    margin: 20px 0;
}

.bout span {
    padding-bottom: 3px;
    border-bottom: 1px solid #29b078;
}

.bout span:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

.foot {
    color: #fff;
    line-height: 2rem;
    text-align: center;
}

.bor-bou {
    border-bottom: 1px solid #fff;
}