* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #efefef;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 12vh;
    background-color: #29bde0;

}
header img {
    margin-left: 2rem;
    margin-top: 3rem;
    max-width: 7vw;
}
.main-top {
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    color: #9a9a9a;
    background-color: #fff;
}
.mar-top {
    margin-top: 15vh;
}
.main-top a:visited {
    color: #9a9a9a;
}
.main-top img {
    float: right;
    width: 1.5rem;
    margin-top: .7rem;
    margin-right: 1rem;
}
.main-middie {
    margin: 2rem;
    text-align: center;
    background-color: #fff;
}
.play {
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fbb435;
    border-bottom: 1px solid #fbb435;
}
.simpli {
    height: 5rem;
    margin: 3rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background-color: #69d1e9;
}
.next {
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-right: -30px;
    margin-top: 1.5rem;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fbb435;
}
.main-middie span {
    font-size: 1.5rem;
    color: #787878;
}
.main-circle {
    margin-top: 2rem;
    height: 4rem;
}
.main-circle span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #f0f0f0;
    border-radius: 4px;
}
.main-circle span:hover {
    background-color: #69d1e9;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}
a:hover {
    color: #fff;
    text-decoration: none;
}