body {
	background-color: #68cdd5;
	height: 100vh;
	width: 100vw;
}
.return {
	margin-top: 2vh;
	margin-left: 2.4vw;
}
.logo {
	padding-top: 11.5vh;
	margin: 0 auto;
	display: block;
}
.inintroduce {
	text-align: center;
	margin-top: 11.5vh;
	color: #fff;
	font-size: 2.7vh;
	padding: 0 8%;
}
.bottom-left {
	float: left;
	margin-left: 20vw;
	margin-top: 11.7vh;
	color: #fff;
	font-size: 2vh;
	margin-bottom: 11vh;

}
.bottom-right {
	float: right;
	margin-right: 20vw;
	margin-top: 11.7vh;
	color: #fff;
	font-size: 2vh;
	margin-bottom: 11vh;
}
.bottom-left img {
	display: block;
	margin: auto;
	size: auto;
	height: 8vh;
	width: 8vh;
}
.bottom-right img {
	display: block;
	margin: auto;
	height: 8vh;
	width: 8vh;
}