body {
    background: #fafafa;
}

.home {
    font-size: 2rem;
    padding: 3rem 0;
    border-bottom: 2px solid #d0d6d9;
}

.color {
    color: #29b078;
}

.tip {
    margin-top: 20px;
    margin-bottom: 50px;
}

.direction {
    font-size: 1.5rem;
    line-height: 4rem;
    border-bottom: 1px solid #d0d6d9;
}

.direction p {
    display: inline-block;
    color: #999;
}

.direction span {
    margin-left: 1rem;
    padding: 5px;
    font-weight: bold;
}

.direction span:hover {
    color: #fff;
    background: #29b078;
}

.career {
    line-height: 8rem;
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 2px solid #d0d6d9;
}

.wrapper {
    position: relative;
    margin-top: 0px;
    display: grid;
    background: #fff;
    border: 1px solid #eeeded;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 30px 30px 30px 30px 30px 30px 30px;
}

.item1 {
    grid-column: 1 / 11;
    border-bottom: 1px solid #eeeded;
}

.item1 img {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.item1 div {
    margin-left: 159px;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.item1 span {
    display: block;
    margin-left: 159px;
    margin-right: 10px;
    word-break: break-all;
}

.item2, .item4 {
    grid-column: 1 / 6;
    padding-left: 10px;
    color: #999;
    line-height: 30px;
    border-right: 1px solid #eeeded;
    border-bottom: 1px solid #eeeded;
}

.item3, .item5 {
    grid-column: 6 / 11;
    border-bottom: 1px solid #eeeded;
    padding-left: 10px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
}

.item2 img, .item3 img {
    margin-left: 10px;
}

.year {
    color: red;
    padding-left: 10px;
}

.need {
    color: black;
    font-weight: bold;
}

.item6 {
    grid-column: 1 / 5;
    grid-row: 4/7;
    padding-left: 10px;
    color: #999;
    line-height: 90px;
    text-align: center;
    border-right: 1px solid #eeeded;
    border-bottom: 1px solid #eeeded;
}

.item7 {
    grid-row: 30px;
    grid-column: 5 / 11;
    padding-left: 10px;
    color: black;
    line-height: 30px;
    border-bottom: 1px solid #eeeded;
}

.salary {
    float: right;
    margin-right: 10px;
}

.item8 {
    grid-column: 1 / 11;
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 1px solid #eeeded;
}

.num {
    color: red;
}

.item9 {
    grid-column: 1 / 11;
    padding-left: 10px;
    color: #999;
    font-size: 10px;
}

.wrapper1 {
    position: absolute;
    top: 0px;
    margin-right: 15px;
    display: grid;
    color: #fff;
    opacity: 0;
    background: rgba(3, 0, 0, .6);
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 120px 50px 30px 30px 30px 30px 30px 30px 30px 32px;
}

.item11 {
    grid-column: 1 / 11;
    grid-row: 1/2;
    font-size: 2rem;
    text-align: center;
    line-height: 120px;
}

.item12 {
    grid-column: 1 / 11;
    margin: 20px;
}

.wrapper1:hover {
    opacity: 1;
    animation: myfirst 4s;

}

@keyframes myfirst {
    0% {
        background: red;
        opacity: .6;
    }
    25% {
        background: yellow;
        opacity: .8;
    }
    50% {
        background: blue;
        opacity: .2;
    }
    100% {
        background: green;
        opacity: .6;
    }

}