* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 780px;
  min-width: 360px;
  margin: auto;
  color: #000000;
}

.body {
  background: #eff0f4;
  height: 100vh;
}

$color: #5fc0cd;
$color1: #fff;
$micolor: #e1e5e7;
$font: 10px;
$flex: flex;
.head {
  line-height: $font*6;
  font-size: $font*2;
  color: $color1;
  background: $color;

  img {
    margin: 0 $font;
    vertical-align: middle;
  }
}

.input {
  width: 100%;
  margin: $font 0;
  line-height: $font*3;
  color: $micolor;
  background: $color1;
  img {
    margin: 0 $font;
    height: $font*2;
    vertical-align: middle;
  }
  input {
    margin-left: $font;
    height: $font*3;
    width: 80%;
    border: none;
  }
}

.btn {
  display: $flex;
  justify-content: center;
}

.btn1 {
  width: 97%;
  height: $font*5;
  line-height: $font*3;
  font-size: $font*2;
  border: none;
  color: $color1;
  border-radius: ($font/2);
  background: $color;
}

.foot {
  display: $flex;
  justify-content: space-between;
  color: $color;
  margin: $font ($font/1.5) ($font*6);
}

.there {
  display: $flex;
  align-items: center;
  justify-content: center;
  color: $color;
  .line {
    width: 20%;
    height: ($font/5);
    background: #999999;
  }
  .lonin {
    margin: 0 $font;
  }
}

.threeway-in {
  display: $flex;
  margin: ($font*12) 20%;
  justify-content: space-between;
  img {
    width: $font*6;
    height: $font*6;
  }
  .threeway-in-cen {
    text-align: center;
  }
}