$font: 10px;
$color: #26a26f;
html {
  font-size: 10px;
}

.banner img {
  width: 100%;
}
.home {
  font-size: $font*2;
  margin: $font*3 0;
}
.home-color {
  color: #29b078;
}

.joint-venture {
  font-size: 1.4rem;
  background: #fff;
}

.venture {
  line-height: $font*5;
  font-size: $font*2;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #e6e6e6;
}

.venture-houver {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: $font*4;
}
.venture-houver div {
  display: inline-block;
  width: 100px;
  font-size: 14px;
}
.venture-circular {
  margin-right: 7px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #ff7527;
  border-radius: 50%;
}

.right {
  background: #fff;
  color: #999;
}

@media (max-width: 996px) {
  .right {
    margin: 15px;
  }
}

.name {
  font-size: $font*1.5;
  color: #29b078;
}

.venture-houver:hover .venture-circular {
  background: #ff7527;
}

.venture-houver:hover .name {
  color: #ff7527;
}


.tudou {
  margin: 0 -15px  20px;
  border-bottom: 2px solid #e6e6e6;
}

@media (min-width:530px) {
  .tudou {
    height: 100px;
  }
}



.tudou img {
  max-width: 130px;
  height: 80px;
  float: left;
  margin: 15px auto;
}

.tudou div {
  padding-top: 20px;
}

@media (max-width: 443px) {
  .tudou img {
    display: block;
    float: none;
  }

}


.brief {
  padding-bottom: 40px;
  text-indent: 2rem;
}

.buttom-but {
  margin-bottom: 200px;
}