html {
  font-size: 10px; }

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 270px; }
  .skill .skill-img {
    height: 80px; }
  .skill .skill-title {
    margin: 20px 0;
    font-weight: bold; }
  .skill .skill-datail {
    color: #999; }

@media screen and (max-width: 1200px) {
  .student {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-left: 50px; */
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #999;
    line-height: 30px;
    border-left: 1px dashed #dedede; } }
.student {
  padding-left: 50px;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #999;
  line-height: 30px;
  border-left: 1px dashed #dedede; }
  .student span {
    padding-left: 5px;
    font-size: 1.4rem;
    color: #26a26f; }

@media (max-width: 990px) {
  .student {
    text-align: center;
    border: none;
    padding-left: 0; } }
.links-center {
  display: flex;
  justify-content: center; }

.main-intr {
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  .intro .intro-number {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #29b078;
    font-size: 2rem;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1px #333333; }
  .intro .intro-number-text {
    margin: 0 10px;
    color: #999; }

@media (min-width: 1200px) {
  .intro-img {
    display: none; } }
.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 270px;
  margin-top: 20px;
  padding: 20px;
  background: #fff; }
  .show .show-adviser {
    margin: 15px 0;
    font-weight: bold; }
  .show .show-chief {
    color: #999; }
  .show .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/task8-1-avatar1.png);
    background-position: center; }
  .show .avatar1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/task8-1-avatar2.png);
    background-position: center; }
  .show .avatar2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/task8-1-avatar3.png);
    background-position: center; }
  .show .avatar3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/task8-1-avatar4.png);
    background-position: center; }

@media (min-width: 1200px) {
  .business .col-lg-3 {
    width: 20%;
    padding: 0; } }
.business {
  text-align: center; }
  .business .business-box-distance {
    margin: 20px 0; }
    .business .business-box-distance .business-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 200px;
      z-index: 1;
      background: #fff; }
      .business .business-box-distance .business-box:hover {
        z-index: 999;
        box-shadow: 0 0 5px;
        max-width: 99%; }
      .business .business-box-distance .business-box img {
        max-height: 178px;
        max-width: 230px; }

.links {
  padding-bottom: 40px;
  color: #26a26f;
  background: #ffffff; }
  .links .links_title {
    padding: 30px 0;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }

.links_title-borderline {
  line-height: 30px;
  border-bottom: 1px solid #fff; }

.links_title-borderline span {
  vertical-align: middle;
  color: #999; }

.links_title-borderline:hover {
  border-bottom: 1px solid #26a26f; }

.links_title-spot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
  background: #999; }

/*# sourceMappingURL=task14-1.css.map */
