@import "cssreset.less";
@import "color.less";
@import "common.less";

footer {
	.blogroll {
		.ta-c;
		padding: 0 calc(~"50% - 60rem");
		height: 13.5rem;
		.blogroll-title {
			.fs18;
			.lh18;
			padding-top: 2.2rem;
			height: 4rem;
			color: @gray2;
		}
		.blogroll-detail {
			.w-f;
			padding: 1.5rem 0 0 0;
			height: 9.5rem;
			.blogroll-link {
				.fl-l;
				.fs14;
				margin-left: 6.5rem;
				line-height: 3rem;
				color: @gray1;
				> a {
					color: @gray1;
				}
			}
		}
	}
}
@media screen and (max-width: 1199px) {
	footer {
		.blogroll {
			.fs0;
			padding-bottom: 2rem;
			height: auto;
			.blogroll-detail {
				.dp-ib;
				padding-right: 10%;
				height: auto;
			}
		}
	}
}