@import "cssreset.less";
@import "color.less";
@import "common.less";

.carousel-indicators {
	bottom: 5%;
}
.carousel-control {
	.h-f;
	padding: 25rem 0 0;
}
@media screen and (max-width: 1199px) {
	.carousel-control {
		padding: 3rem 0 0;
	}
}