@white: #fff;
@darkGreen: #29b078;
@black: #000;
@lineColor1: #fefefe;
@lineColor2: #fafafa;
@lineColor3: #d0d6d9;
@lineColor4: #edf1f2;
@gray1: #999;
@gray2: #c8c8c8;
@gray3: #333;
@boxShadow1: #e2e2e2;
@orange: #ff650e;
@lightOrange: #f9a372;
@bgOrange: #f1a750;
@star: #ff5c00;
@symble: #f01400;