@import "cssreset.less";
@import "color.less";
@import "common.less";

main {
	padding: 16.5rem calc(~"50% - 62.5rem") 0;
	background-color: @lineColor2;
}
.row-01 {
	.dp-ib;
	.w-f;
	height: 26rem;
	.feature {
		.fl-l;
		.ta-c;
		.h-f;
		padding: 0 3.125rem;
		width: 25%;
		.feature-bg {
			.dp-ib;
			.bg-spr;
		}
		.feature-bg-01 {
			width: 4.3rem;
			height: 6.2rem;
			.bg-ps(-90px, -10px);
		}
		.feature-bg-02 {
			margin-top: 1.4rem;
			width: 6rem;
			height: 4.8rem;
			.bg-ps(-10px, -10px);
		}
		.feature-bg-03 {
			margin-top: 0.7rem;
			width: 5.2rem;
			height: 5.5rem;
			.bg-ps(-10px, -78px);
		}
		.feature-title {
			.fs18;
			.fw-b;
			margin: 3rem 0;
		}
		.feature-content {
			.ta-l;
			.fs16;
			letter-spacing: 0.2rem;
			color: @gray1;
		}
	}
	.count {
		.fl-l;
		.h-f;
		padding: 6rem 5rem 0;
		width: 25%;/*31.25rem*/
		background: url(../images/dashed.png) no-repeat;
		> div {
			.dp-ib;
			.w-f;
			.fs18;
			.lh18;
			.bg-spr;
			.bg-ps(-145px, -153px);
			margin-bottom: 3rem;
			padding-left: 2.5rem;
			height: 5rem;
			color: @darkGreen;
			> p {
				margin: 1.5rem 0 0 -2.5rem;
				color: @gray1;
			}
		} 
	}
}
.row-02 {
	.dp-ib;
	.w-f;
	.ta-c;
	height: 47rem;
	.row-02-title {
		.fs18;
		.lh18;
		padding-top: 10.2rem;
		height: 12rem;
	}
	.process1-4 {
		height: 17.5rem;
	}
	.process5-8 {
		height: 17.5rem;
	}
	.process {
		.ps-r;
		.fl-l;
		.h-f;
		padding: 5.05rem 3.5rem;
		width: 25%; /*31.25rem*/
		.circle {
			.fl-l;
			.fs18;
			.lh18;
			padding-top: 2.8rem;
			width: 7.4rem;
			height: 7.4rem;
			color: @darkGreen;
			background: url(../images/icon_31.png) no-repeat;
		}
		> p {
			.v-m;
			.fs14;
			.ta-l;
			float: left;
			margin: 0;
			width: 16.85rem;
			line-height: 2.4rem;
			color: @gray1;
		}
		.arrow-green {
			.ps-a;
			.dp-ib;
			.bg-spr;
			.bg-ps(-90px, -92px);
			top: calc(~"50% - 1.3rem");
			left: calc(~"100% - 1.4rem");
			width: 2.8rem;
			height: 2.6rem;
		}
		.circle-4 { .dp-n; }
	}
}
.row-03 {
	.ps-r;
	.dp-ib;
	.w-f;
	.ta-c;
	height: 61rem;
	.row-03-title {
		.fs18;
		.lh18;
		padding-top: 6rem;
		height: 7.8rem;
	}
	.intro {
		.dp-ib;
		.w-f;
		height: 45rem;
		.col {
			.fl-l;
			.h-f;
			padding: 7.5rem 1.9rem 0;
			width: 25%;/*31.25rem*/
			.intro-detail {
				.dp-ib;
				.w-f;
				.h-f;
				.ta-c;
				padding: 2rem 3.5rem 4rem;
				background: @white;
				border-radius: .3rem;
				box-shadow: 0 0 .2rem .2rem #e2e2e2;
				transition: .3s;
				&:hover { transform: scale(1.1,1.1); }
				.avatar {
					.dp-ib;
					width: 10.8rem;
					height: 10.8rem;
				}
				.ava-01 { background: url(../images/icon_47.png) no-repeat; }
				.ava-02 { background: url(../images/icon_39.png) no-repeat; }
				.ava-03 { background: url(../images/icon_41.png) no-repeat; }
				.ava-04 { background: url(../images/icon_44.png) no-repeat; }
				> b {
					.dp-b;
					.fs18;
					.lh18;
					margin: 3.5rem 0 2.5rem;
					letter-spacing: .2rem;
				}
				> p {
					.fs16;
					line-height: 2.6rem;
					color: @gray1;
					letter-spacing: .1rem;
				}
			}
		}
	}
	.row-03-dot {
		.dp-ib;
		.ps-a;
		.lh16;
		.fs0;
		bottom: 5rem;
		left: 59.5rem;
		width: 6.1rem;
		height: 1.6rem;
		> div {
			.dp-ib;
			font-size: 2.5rem;
			color: @white;
			text-shadow: 0 .1rem .5rem #888;
			cursor: default;
			&:hover { color: @darkGreen; }
		}
	}
}
.row-04 {
	.dp-ib;
	.w-f;
	.ta-c;
	height: 43.5rem;
	.row-04-title {
		.dp-ib;
		.w-f;
		.fs18;
		.lh18;
		padding-top: 8.2rem;
		height: 10rem;
	}
	.row-04-detail {
		padding: 6rem 2.2rem 9rem;
		height: 33.5rem;
	}
	.cooperate-bg01 {
		.ps-r;
		.dp-ib;
		.w-f;
		.h-f;
		.ta-c;
		border-radius: .3rem;
		box-shadow: 0 0 .2rem .2rem #e2e2e2;
		background-color: @white;
		z-index: 0;
		.cooperate {
			.dp-ib;
			.ps-a;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		.alibaba {
			left: 5.5rem;
			width: 14.4rem;
			height: 5.3rem;
			background: url(../images/icon_57.png) no-repeat;
		}
		.jinshanyun {
			left: 33rem;
			width: 5.3rem;
			height: 5.8rem;
			background: url(../images/icon_54.png) no-repeat;
		}
		.huanxin {
			left: 53rem;
			width: 13.4rem;
			height: 4.8rem;
			background: url(../images/icon_63.png) no-repeat;
		}
		.ronglian {
			left: 76rem;
			width: 16.9rem;
			height: 3.9rem;
			background: url(../images/icon_66.png) no-repeat;
		}
		.qiniu {
			left: 100rem;
			width: 12.4rem;
			height: 5.6rem;
			background: url(../images/icon_60.png) no-repeat;
		}
		.cooperate-bg02 {
			.ps-a;
			.dp-ib;
			.h-f;
			left: 48.2rem;
			width: 24rem;
			border-radius: .3rem;
			box-shadow: 0 0 .2rem .2rem #e2e2e2;
			background-color: @white;
			z-index: 1;
		}
	}
}
@media screen and (max-width: 1199px) {
	main {
		padding: 2rem 0 0;
	}
	.row-01 {
		.dp-ib;
		height: auto;
		.feature {
			.w-f;
			padding: 0 15%;
			height: 15rem;
			.feature-bg {
				margin-top: -1rem;
				transform: scale(.5,.5);
			}
			.feature-title {
				margin: -1rem 0 1rem;
				font-size: 1.8rem;
			}
			.feature-content {
				.fs16;
				.ta-c;
				letter-spacing: .1rem;
			}
		}
		.count {
			.w-f;
			padding: 3rem 25% 0;
			height: auto;
			background-image: none;
			> div {
				.fs18;
				.lh18;
			}
		}
	}
	.row-02 {
		height: auto;
		.row-02-title {
			padding-top: 5rem;
		}
		.process1-4 {
			.w-f;
			height: 70rem;
		}
		.process5-8 {
			.w-f;
			height: 70rem;
		}
		.process {
			.w-f;
			height: 17.5rem;
			.arrow-green {
				top: calc(100% - 1.4rem);
				left: calc(50% - 1.3rem);
				transform: rotate(90deg);
			}
			.circle-4 {
				.dp-ib;
			}
		}
	}
	.row-03 {
		height: auto;
		.row-03-title {
			padding-top: 5rem;
		}
		.intro {
			height: auto;
			.col {
				.w-f;
				height: 45rem;
			}
		}
		.row-03-dot {
			.dp-n;
		}
	}
	.row-04 {
		.row-04-detail {
			padding: 0;
			height: 55rem;
			.cooperate-bg01 {
				border-radius: 0;
				box-shadow: none;
				background-color: #fafafa;
				.cooperate-bg02 {
					.dp-n;
				}
				.cooperate {
					left: calc(50% - 8.5rem);
				}
				.alibaba {
					top: 5rem;
				}
				.jinshanyun {
					top: 15rem;
				}
				.huanxin {
					top: 25rem;
				}
				.ronglian {
					top: 35rem;
				}
				.qiniu {
					top: 45rem;
				}
			}
		}
	}
}