img {
  height: 6rem;
  padding-right: 5rem;
  padding-left: 5rem;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #eeeff3;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  font-size: 5rem;
  color: #fff;
  background-color: #5fc0cd;
}
.header .header-botton {
  border: none;
  font-size: 4rem;
  color: #fff;
  background-color: #5fc0cd;
}
.number {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 3rem;
  background-color: #fff;
}
.number input {
  padding-left: 2rem;
  height: 8rem;
  font-size: 4rem;
  border: none;
  border-left: .5rem solid #c6c6cc;
}
.passport {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 3rem;
  background-color: #fff;
}
.passport input {
  padding-left: 2rem;
  height: 8rem;
  font-size: 4rem;
  border: none;
  border-left: .5rem solid #c6c6cc;
}
.login {
  width: 100%;
  margin-top: 5rem;
  padding: 3rem;
  font-size: 5rem;
  color: #fff;
  background: #5fc0cd;
  border: none;
}
.footer {
  text-align: right;
  margin-top: 2rem;
  font-size: 3rem;
}
.footer a {
  color: #5fc0cd;
  text-decoration: none;
}
