@charset "UTF-8";
/* 页面重置 */
body {
  margin: 0;
  font-family: "MicrosoftYaHei";
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

/* 导航栏开始 */
nav {
  position: relative;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  min-height: 100px;
  background: #29B078;
}

@media screen and (min-width: 768px) {
  nav .row {
    width: 400px;
    padding: 0;
  }
  nav .row a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
    font-size: 16px;
    color: #fff;
  }
  nav .row a:hover {
    border-bottom: 4px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  nav .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100px;
    height: 70px;
    padding: 0;
    background: url(../images/button.png) no-repeat -17px -10px;
  }
  nav .row:hover {
    margin-top: 15px;
    padding-bottom: 415px;
  }
  nav .row:hover a:nth-child(1) {
    position: absolute;
    top: 100px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100px;
  }
  nav .row:hover a:nth-child(2) {
    position: absolute;
    top: 200px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100px;
  }
  nav .row:hover a:nth-child(3) {
    position: absolute;
    top: 300px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100px;
  }
  nav .row:hover a:nth-child(4) {
    position: absolute;
    top: 400px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100px;
  }
  nav .row a {
    display: none;
    width: 0;
    height: 0;
    font-size: 16px;
    color: #fff;
  }
  nav .row a:hover {
    background: #0f0;
  }
}
/*# sourceMappingURL=nav.css.map */