* {
    margin: 0;
    padding: 0;
}
body{
    padding-bottom:4.6rem;
}
.header {
    display: flex;
    position:fixed;
    top:0;
    width:100%;
    align-items: center;
    justify-content: space-between;
    background-image: url("矩形3.png");
    height:3rem;
}
.buttonbox {
    background-color:#55a8b3;
    border-radius:0.5rem;
}
.buttonone,.buttontow {
    padding:0.5rem;
    border:none;
    outline:medium;
    text-decoration:none;
    font-size:1rem;
    border-radius:0.5rem;
}
.buttonone{
    background-color:#55a8b3;
    color:#fff;
    padding-left:1rem;
}
.buttontow{
    background-color:#fff;
    color:#5fc0cd;
    padding-right:1rem;
}
.icon{
    width:1.5rem;
    height:1.5rem;
    background-image: url("calendar2.png");
    background-repeat:no-repeat;
    background-size:1.3rem;
    background-position:top;
    position:relative;
    right:1rem;

}


.main
{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #999;
    padding:0.5rem;
}
.first{
    width:12rem;
    height:1.5rem;
    background-image:url("calendar2.png");
    background-repeat:no-repeat;
    background-size:1.5rem;
    background-position:left -35px;
    font-size:0.8rem;
}
.first p{
    padding-left:1.5rem;
    line-height:1.5rem;
    color:#999;
}
.second {
    width:12rem;
    height:1.5rem;
    font-size:1rem;
}
.second p{
    padding-left:1.5rem;
    line-height:1.5rem;
}
.finally{
    width:12rem;
    height:1.5rem;
    background-image:url("calendar2.png");
    background-repeat:no-repeat;
    background-size:1.5rem;
    background-position:left -62px;
    font-size:0.8rem;
}
.finally p{
    padding-left:1.5rem;
    line-height:1.5rem;
    color:#999;
}
.salary{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.salary p{
    color:#f00;
    font-size:1.1rem;
    padding-right:0.5rem;
}
.salary a{
    display:inline-block;
    width:1rem;
    height:1.5rem;
    background-image:url("矢量智能对象拷贝.png");
    background-repeat:no-repeat;
    background-size:0.8rem;
}


.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:0;
    width:100%;
    height:4rem;
    background-color:#fff;
    padding:0.3rem;
    text-align:center;
}
.house,
.write,
.man{
    background-image: url("形状4.png");
    background-repeat:no-repeat;
}
.house,
.man {
    width:2rem;
    height:3rem;
    display:inline-block;
    background-size:8rem;
    line-height: 5rem;
    font-size:0.5rem;
}
.house {
    background-position:left top;
    position:relative;
    top:6%;
    right:12%;
}
.house a {
    color:#5fc0cd;
    text-decoration: none;
}
.man {
    position:relative;
    top:6%;
    left:12%;
    background-position:-50px top;
}
.man a {
    color:#999;
    text-decoration: none;
}
.write{
    display:inline-block;
    box-sizing:border-box;
    width:4rem;
    height:3.5rem;
    background-size:7rem;
    background-position:4px bottom;
    padding:0.5rem;
}
.write img{
    width:2rem;
    height:2rem;
}
.selectbox{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:3rem;
    border-bottom:1px solid  #999;
}
.select {
    width:31%;
    height:3rem;
    font-size: 1rem;
    color: #999;
    border:none;
    outline: medium;
    padding-left:4%;
}
.selectbox img{
    height:40px;
    width:1px;
}