html {
  font-size: 62.5%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eff0f4;
  font-size: 1rem;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  color: white;
  background-color: #5fc0cd;
  box-sizing: border-box;
}
header a {
  font-size: 3.2rem;
}
header span {
  font-size: 3.6rem;
}
section {
  font-size: 3.2rem;
}
section div {
  position: relative;
  margin: 2.7% 0;
}
section i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1em;
  width: 1em;
  margin: 0 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
section .icon-user {
  background-image: url(../resource//登陆-assets/iphone.png);
}
section .icon-password {
  background-image: url(../resource/登陆-assets/locked.png);
}
section .border {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%);
  height: 1.8em;
  width: 1px;
  border-right: 2px solid #eaedee;
}
section input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 13rem;
  padding-top: 2.7%;
  padding-bottom: 2.7%;
  font-size: 3.2rem;
  outline: none;
}
section input::-webkit-inner-spin-button,
section input ::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
button {
  box-sizing: border-box;
  width: 100%;
  padding: 4%;
  border: 0;
  margin: 2.7% 0 ;
  background-color: #5fc0cd;
  color: white;
  font-size: 3.6rem;
}
.forget-password {
  text-align: right;
  font-size: 3.2rem;
  color: #5fc0cd;
}
input::-webkit-input-placeholder {
  color: #eaedee;
}
