



body{
    min-width:330px;
    max-width: 1800px;
    overflow-x: hidden;
}
.body-part1{
    width: 100vw;
    height:400px;
    background-color: #55a8b3;
    display: flex;
    justify-items: center;
    align-items: center;
}
.body-part1-1{
    height: 250px;
    width: 240px;
    margin:0 auto;
}
.text1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.text2{
    width: 160px;
}
.body-part1-1-1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.body-part1-2{
    border-left:2px dashed #dedede;
}
.body-part1-2-1{
    margin: 0 auto;
    width: 100px;
    display: flex;
    align-items: center;

}
.body2{
    text-align: center;
    height: 130px;
    padding-top: 40px;
    font-size: 22px ;
    font-weight:bold;
}
.text3{
    margin:0 auto;
    width: 100px;
}
.con{
    height: 100px;
    border: 5px solid #29b078;
}

.howtostudy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    width: 25px;
    height: 25px;
    box-shadow:1px 1px 1px 1px #888888;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.text4{
    font-size: 8px;
    color:#999999 ;
    padding-left: 10px;
    width: 160px;
}

.body-part3-1{
    height: 350px;
    width: 240px;
    margin:0 auto;
}

.circle4{
    display: flex;
    justify-content: center;
}


.circle1{
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 1px 1px 1px #888888;
}
.circle2{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #999;
    margin-left: 3px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 1px 1px 1px #888888;
}

.supporter{
    display: block;
    margin: 10px auto;
    cursor:pointer;
}

.circle1:hover{
    background-color:#29b078;
}


/*通用*/



/*电话微信*/
.color-green{
    color:#29b078;
}
/*导航栏*/
*{
    margin:0;
    padding:0;
}
.nav-title{
    font-family: 'Abril Fatface', cursive;
}
.navbar-header .nav-title:hover,
.navbar-header .nav-title:focus{
    background:#fff;
    color:#000;
}
.cative{
    font-family:'Comfortaa', cursive;
}
.navbar-collapse .navbar-nav li a:hover,
.navbar-collapse .navbar-nav li a:focus{
    color:#000;
    background:#fff;
}
.backgroundcolor-green{
    background-color:#29b078 ;
}
.navbar-default .navbar-toggle{
    border-color:#29b078 !important;
}
.navbar-default .navbar-nav>li>a{
    color: #fff !important;
}
.navbar{
    border: 0 !important;
    margin: 0 !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border-top: none;
}
.kongbai{
    width: 100%;
    height: 5px;
    background-color: #29b078;
}
.lide:hover .kongbai{
    background-color: #fff;
}



/*footer*/
/*footer*/
.footer{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #29b078;
    font-size:20px;
    color:#fff;
}
.footer-part1{
    margin-left: 20px;
    width: 400px;
    height: 150px;
    border: 2px #999 solid;
}

.li{
    list-style: none;
    float: left;
    margin-right: 10px;
}

.font-size16{
    font-size: 16px;
}


/*后加的*/

.mouse{
    text-decoration:none !important;
    cursor: pointer;
    color: #000;


}
.dianhua{
    margin-top: 5px;
}

.vx{
    float: right;
}
.top1-1{
    display: inline-block;
    margin-top: 5px;
}
.dianhuaweixin{
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.footer-top-margin{
    margin-top: 20px;

}

.fffter{
    background-color: #29b078;
    color: #ffffff;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #ffffff;
}
.mouse2{
    cursor: pointer;
    text-decoration: none !important;
    color: #fff !important;
}

.control{
    position:absolute;
    top:50%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 30px;
    text-align: center;
    text-decoration: none !important;
}

.right2{
    right: 0;
    left: auto;
    color: #dedede !important;
}

.left2{
    color: #dedede !important;
}
