<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.task8.util"></context:component-scan>

    <!-- 客户端 -->
    <bean id="myRMIClient1-1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">

        <property name="serviceInterface" value="com.task8.service.LoginService"></property>

        <property name="serviceUrl" value="rmi://47.106.92.44:9999/loginRMI"></property>

        <property name="refreshStubOnConnectFailure" value="true"></property>
    </bean>

    <bean id="myRMIClient2-1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">

        <property name="serviceInterface" value="com.task8.service.UserService"></property>

        <property name="serviceUrl" value="rmi://47.106.92.44:9999/userRMI"></property>

        <property name="refreshStubOnConnectFailure" value="true"></property>
    </bean>
    <bean id="myRMIClient3-1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">

        <property name="serviceInterface" value="com.task8.service.ProfessionService"></property>

        <property name="serviceUrl" value="rmi://47.106.92.44:9999/professionRMI"></property>

        <property name="refreshStubOnConnectFailure" value="true"></property>
    </bean>



</beans>