html{
    font-size: 20px;}
body,div{
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #4ca5ad;
}
/*
.head{
    height: 4.5rem;
    width: 100vw;
    background-color: #234249;
    margin: 0 auto;
    display: inline-flex;
}
*/
div.content{
    width: 100vw;
    height: 29rem;
    background-color: #4CA5AD;
    text-align: center;

}
.foot{
    width: 100vw;
    height: 21.9rem;
    background-color: #4CA5AD;}

/*
.head1{
    width: 4.5rem;
    height: 4.5rem;
    font-size:3rem;
    float: left;
    text-align: center;
    line-height: 4.5rem;
}
.head2{
    font-size: 1.7rem;
    height: 4.5rem;
    width: 100vw;
    text-align: center;
    line-height: 4.5rem;


}
.head3{
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
    text-align: center;
    float: right;
}
*/
img.foot1{
    float: left;
    margin-left: 5vw;

}
img.foot2{
    float: right;
    margin-right: 5vw;
}
img.mainLogo {
    width: 11.4rem;
    height: 5rem;
}

img.back {
    clear: both;
    display: block;
}
p{
    font-size: 1.5rem;
    padding: 3rem;
    color:white;
   }


