@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}
.list_dl{
    display: inline-block;
    width: 180px;
    height:100%;
}
.list_dt{
    background: #000033;
    color: white;  
    padding: 0 40px 0 20px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #464646; 
}
.pencil{
    margin-right: 2rem;
} 
.list_dt:hover{
    background: #222;
}
.list_dt:hover ._after{
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4285F4;
}
#open{
    background: #222;
}
#open ._after{
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4285F4;
}
.list_dt_icon{
    position: absolute;
    right: 10px;
    top: 11px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/off.png") no-repeat;
    background-size: cover;
}
#open .list_dt_icon{
    background: url("../images/open.png") no-repeat;
    background-size: cover;
}
.list_dd{
    display: none;
}
.list_li{
    background: #4e4e4e;
    list-style-type: none;
    color: white;
    padding: 0 30px 0 60px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    border-bottom: 1px solid #6b6b6b;
}
.list_li:hover{
    background: #4285F4;
}
