body{
    margin:0;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #fafafa;
}
header{
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    color: #29b078;

}
.header-right{
    float: right;

}
.weixin{
    position: relative;
}
.extro-info1{
    position: absolute;
    top:130%;
    left: -1.8rem;
    display: none;
    width: 6rem;
    height: 6rem;
}
.weixin:hover .extro-info1{
    display: block;
}
@media screen and (max-width:425px) { 
    .header-left{
        display: none;
    }
        .header-left + div {
        width: 100%;
    }
 
 }


.menu{
    background-color:#29b078;
    font-size: 1.2rem;
}
.navbar{
    background-color:#29b078;
    border:none;
    margin:0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
    }
.navbar-nav {
        margin: 0;
        margin-right: -1rem;
    }
    .collapse{
        padding: 0;
    }
    .container-fluid{
        padding:0;
    }
    .navbar-default .navbar-toggle {
        border:none;
        float: right;
        padding-right:0;
    }
    .navbar-default .navbar-toggle .icon-bar {
    background-color:white;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:unset; 
    }
    .nav{
        width: auto;
        border:none;
        float:right;
    }
   .nav li:hover{
        color: white;
        border-bottom: 3px solid white;
    }
    .nav li:hover a{
        margin-bottom: -3px;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


@media screen and (max-width:768px){
    .nav {
     float: none;
    }  
    .navbar-nav {
        margin: 0;
    }
}  
.picture1{
            float:left;
            height: 4rem;
            vertical-align: middle;
        }


.title{
            padding: 2rem 0;
            font-size: 1.4rem;
        }
        .title span{
            color:#29b078; 
        }
        
        .section1{
            font-size: 1.2rem;
            border-top: 1px solid #afafaf;
            border-bottom: 1px solid #afafaf;
            padding: 2rem 0;
        }
        .total{
            font-size: 1.4rem;
            color:#afafaf; 

        }
        .branch{
            height: 2rem;
            line-height: 2rem;
            font-size: 1.4rem;
            margin:1.5rem 1rem;
        }
        .branch:hover{
            background-color: #29b078;
            color: white;
        }

        .subtitle{
            height: 6rem;
            line-height: 6rem;
            font-size: 1.6rem;
            font-weight: bold;
            border-bottom: 1px solid #afafaf;
        }

 .block{
            position: relative;
            border:1px solid  #afafaf;
            margin-top: 3rem;
            box-sizing: border-box;
            overflow: hidden;
        }
        .row1{
            display: flex;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid #afafaf;
        }
       /* .row1 img{
              max-width: 100%;
        }*/
        .row1 p{
            font-size: 1.4rem;
            padding-left: 1rem;
        }
        .row1 span{
            font-size: 1.6rem;
            font-weight: bold;
        }
        .row2{
            display: flex;
        }
        .row2 p{
            width: 50%;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
            padding-left: 1rem;
            border-bottom: 1px solid #afafaf;
            margin-bottom: 0;
        }
        .row3{
            display: flex;

        }
        .row3 span{
            color: red;
        }
        .row3 p{
            width: 50%;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
            padding-left: 1rem;
            border-bottom: 1px solid #afafaf;
            margin-bottom: 0;
        }
        .right-border{
            border-right: 1px solid #afafaf;
        }
        .row4{
            display: flex;
            height: 6rem;

        }
        .left{
            width: 40%;
            height: 6rem;
            line-height: 6rem;
            text-align: center;
            font-size: 1.2rem;
            color: #afafaf;     
            border-bottom: 1px solid #afafaf;
        }
        .right{
            width: 60%;
            height: 6rem;
            border-left: 1px solid #afafaf;
        }
        .right div{
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
            padding-right: 1rem;
            padding-left: 1rem;       
            border-bottom: 1px solid #afafaf;
        }
        .left-side{
            float:left;
        }
        .right-side{
            float:right;
        }
        .row5{
            width: 100%;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.6rem;
            font-weight: bold;
            padding-left: 1rem;
            border-bottom: 1px solid #afafaf;
        }
        .row5 span{
            color: red;
        }
        .row6{
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
            color: #afafaf;
            padding-left: 1rem;
        }
        .extro-info3{
            position: absolute;
            top: 0;
            height: 100%;
            background-color: rgba(12,12,12,0.7);
            color: white;
            padding:3rem 2rem 0 2rem;
            font-size: 1.2rem;
            display:block;
            transform: translateX(-100%);
            transition: transform 1s;
        }
        .extro-top{
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            }        
        .extro-bottom{
            text-indent: 2em;
        }
        .block:hover .extro-info3{
            transform: translateX(0);
            
        }

/*@media screen and (max-width: 768px){
    .block{
        width:auto;
        margin:0 auto ;
        margin-top: 3rem;
    }
}*/

.section6{
            width: 100%;
            color: white;
            background-color: #26a26f;
            margin-top:3rem;
        }
        .line1{
            height: 5rem;
            line-height: 5rem;
            font-size: 1.4rem;

        }
        .line2{
            height: 2rem;
            line-height: 2rem;
            font-size: 1rem;
        }
        .line2 span{
            padding-right: 3rem;
        }
        .box2{
            float: right;
        }
        .box2 .line{
            margin-top: 1rem;
            height: 2rem;
            font-size: 1.4rem;
        }
        .box2 img{
            height: 6rem;
        }
        .section6 a:link{
            color: white;
        }
        .section6 a:visited{
            color: white;
        }
        .section6 a:hover{
            color: white;
        }
@media screen and (max-width:760px){
    .section6{
        width:100%;

    }
    .box2{
        float:left;
    }
}
.section7{
    width: 100%;
    text-align: center;
    color: white;
    border-top: 1px solid green;
    background-color: #26a26f;
}
