$blue: #5fc0cd;
$white: #fff;
$gray: #ddd;
@mixin bcolor($bblue:$blue) {
  background-color: $bblue;
}

@mixin position($pauto:relative) {
  position: $pauto;
}

@mixin dflex($dflex:flex) {
  display: $dflex;
}

a{
  text-decoration: none;
  color: $white;
}
html,
body {
  margin: 0;
  padding: 0;
}

.top {
  @include position;
  z-index: 1;
  @include dflex;
  width: 100%;
  line-height: 50px;
  color: #fff;
  @include bcolor;
}

.top-left {
  margin: {
    left: 20px;
    right: -20px;
  }
}

.top-main {
  margin: auto;
}

.main {
  @include position($pauto: absolute);
  top: 0;
  width: 100%;
  bottom: 75px;
  overflow: auto;
  font-weight: 600;

}

.name {
  @include dflex;
  background: {
    image: url(../../css/picture/task12/background.png);
    size: cover;
  }
  color: $white;
}

.name-left {
  width: 80px;
  height: 80px;
  margin: 90px 0 50px 20px;
}

.name-right {
  margin: {
    top: 120px;
    left: 30px;
  }

}

.name-right-row {
  @include dflex;
  align-items: center;
  margin-top: 5px;
  span {
    font-size: 13px;
  }
  img {
    width: 20px;
    height: 20px;
  }
}

.message {

  font-size: 13px;
}

.line {
  border-top: 1px solid $gray;
  margin-left: 10px;
}

.line-top {
  border-top: 1px solid $gray;
}

.row-top {
  @include dflex;
  align-items: center;

}

.row4 {
  @include dflex;
  align-items: center;
  padding: 20px 0;
  margin-left: 20px;
}

.row {
  @include dflex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  height: 50px;
  img {
    width: 12px;
    height: 12px;
  }
}

.row-top {
  margin: 15px 0 15px 10px;
  height: 30px;
  padding-left: 5px;
  border-left: 5px solid $blue;

}

.row-top-line {
  width: 5px;
  height: 10px;
  @include bcolor();
}

.item {
  border-bottom: 1px solid $gray;
}

.item1 {
  white-space: nowrap;
  margin-right: 10px;
  padding-right: 10px;
  width: 52px;
  border-right: 1px solid $gray;
  color: darken($gray, 20%);
}

.item-red {
  color: red;
}

.bottom {
  @include position($pauto: absolute);
  @include dflex;
  bottom: 0;
  width: 100%;
  line-height: 50px;
}

.bottom-left {
  flex: 1 0 ;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  border: solid $blue;
  color: $blue;
  &:hover {
    cursor: pointer;
  }
}

.bottom-right {
  @extend .bottom-left;
  color: $white;
  @include bcolor();
  &:hover {
    cursor: pointer;
  }
}
