$precorlor:#29b078;
$prefont:1.5rem;
$headerheight:4rem;
$colorw:#fff;
$colorgry:#ccc;
$coloryellow:#f5c97b;
$brr:50%;
$maxwidth:780px;
$minwidth:320px;
%mar0a{margin:0 auto;}
%maricon{margin:0 10px;}
$por:relative;
$poa:absolute;
$hundred:100%;
$footerfont:1rem;
$tenpx:10px;
%flr{float: right}
%fll{float: left}
%ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%disc{
  display: flex;
  align-items: center;
}
%discs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
%discc{display: flex;
  align-items: center;
  justify-content: center;}
%bb{border-bottom: 1px solid #ccc}
@mixin fixed($top,$bottom){
  width: $hundred;
  height: $headerheight;
  position: fixed;
  top: $top;
  bottom: $bottom;
  z-index: 1;
  max-width: $maxwidth;
  min-width: $minwidth;
  background: $precorlor;
}

%mmm{
  max-width: $maxwidth;
  min-width: $minwidth;
  margin: 0 auto;
}
$borderr:6%;



header{
  @include fixed(0,auto);
  @extend %discs;
}






.carousel0{
  /*height: 300px;*/
  width: 100%;}
.keyboard1{
  height: 100px;
  width: 100%;
}
.carousel-inner>.item>img{
  display: block;
  /*height: 300px;*/
  width: 100%;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  top: 25%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.primary{
  font-size: 2vw;
  margin-left: 10px;
}
.fifty{
  font-size: 4vw;
}
.yearly{

  font-size: 2vw ;
}
.carousel-indicators{
  position: absolute;
  bottom: 0;
}
.carousel-control.right{
  right: 0;
  left: auto;
  font-size: 8rem;
  display: flex;
  align-items: center;
}
.carousel-control.left {
  right: auto;
  left: 10%;
  font-size: 8rem;
  display: flex;
  align-items: center;
  background: none;
}

.box1{
  height: 40px;
  width: 100%;
}


.rocket0{
  text-align: center;
}
.rocket{
  width: 55px;
  height: 69px;
}
.character1{
  text-align: left;
  font-size: 1.4rem;
}
.hight{
  font-weight: 900;
  font-size: 1.5rem;
  margin: 10px 0;
}
.user1{

  margin-top: 50px;
  text-align: center;
}
.total{
     padding-left: 40px;
}
.user3{
  margin: 15px 0;
}
.study{
  text-align:center;
  margin: 30px 0;
  font-size: 2rem;
  font-weight: 900;
}
.study{
  text-align:center;
  margin: 30px 0 30px 0;
  font-size: 2rem;
  font-weight: 900;
}
.li1{
  color: #000000;
}
.step{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.step1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.roll{
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 3px 5px #888;
  color: #29b078;
  flex-shrink: 0;
}
.boxs0{
  width: 66px;
  height: 30px;
}
.boxs{
  width: 32px;
  height: 30px;
}
.mate{
  width: 30%;
}
.mate1{
  margin: 0 20px;
  padding: 0 10px 0 10px;
}
.strangle{
  margin-right: 0;
}
.box00{
  height: 40px;
  width: 100%;
}
.box01{
  height:20px;
  width: 100%;
}

.box000{
  background: #ffffff;
  width: 100%;
}
.people{
  text-align: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 2px #888;
  margin: 10px 10px ;
}
.name{
  font-size: 2rem;
  font-weight: 900;
  margin: 10px 0;
}
.avatar2{
  margin-top: 20px;
}
.introduce{
  margin: 0 20px 20px 20px;
}
.fourpoint{
  margin: 20px 0;
  height:30px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point1{
  width: 10px;
  height: 10px;
  background: #29b078;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 3px 5px #888;
}
.point{
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 3px 5px #888;
}
.strategy{
  margin: 30px 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.pic1{
  width: 100%;
  height: 100px;
  background: url("images/alibaba.png");
  background-position: 50%;
  background-repeat: no-repeat;
}
.pic2{
  width: 100%;
  height: 100px;
  background: url("images/king.png");
  background-position: 50%;
  background-repeat: no-repeat;
}
.pic3{
  width: 100%;
  height: 100px;
  background: url("images/ringletter.png");
  background-position: 50%;
  background-repeat: no-repeat;
}
.pic4{
  width: 100%;
  height: 100px;
  background: url("images/ronglian.png");
  background-position: 50%;
  background-repeat: no-repeat;

}
.pic5{
  width: 100%;
  height: 100px;
  background: url("images/sevencrow.png");
  background-position: 50%;
  background-repeat: no-repeat;
}
