@charset "utf-8";
.form-tt{
    height: 4rem;
    line-height: 2.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    padding: .5rem 2rem;
    border: 1px solid #999999;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.form-content{
    font-size: 1.4rem;
    padding: 2rem 2rem 4rem 2rem;
    border: 1px solid #999999;
    border-top: none;
    background: #FFFFFF;
}

.form-content .search-label{
    padding-right: 2rem;
    padding-left: 2rem;
}
.form-content .url-label{
    width:100%;
}

.form-content .word-spacing{
    word-spacing: 2.5rem;
}
.form-content input[type=text] ,.form-content select{
    width: 30rem;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #ababab;
    border-radius: 4px;
    font-weight: normal;
}
.form-content input[type=url]{
    width: 65%;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #ababab;
    border-radius: 4px;
    font-weight: normal;
}
.form-content label{
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
}
.form-content .article-content{
    display: block;
    margin-bottom: 1.5rem;
}

.edui-editor{
    width: auto !important;
}
/*选择文件按钮*/
.chooseFile{
    display: inline-block;
    padding: .5rem;
    font-size: 1.4rem;
    color: #FFFFFF;;
    background: #3385ff;
    border-radius: 4px;
    cursor: pointer;
}
.file-h{
    font-weight: bold;
}
.fileLabel{
    padding-bottom: 0 !important;
}
.fileBtn{
    position: absolute;
    clip:rect(0 0 0 0);
}
.item-progress-bar{
    height: 2rem;
    overflow: hidden;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #999;
}
.item-progress{
    display: inline-block;
    float: left;
    height: 2rem;
    background: #3385ff;
}
.prompt{
    font-weight:normal;
    color: red;
}

.form-content .table{
    margin-top: 2rem;
}
.table th{
    text-align: center;
}