.table tr:nth-child(odd) {
    background: #FFFFFF;
}

.table {
    border: 1px solid #999999;
    border-top: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.table td {
    padding: .05rem 0;
    vertical-align: middle !important;
}

.table th, td {
    text-align: center;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.page-bar {
    text-align: right;
    margin-bottom: .2rem;
}

.page-bar [type=number] {
    width: 4rem;
}

.table-h{
    height: 4rem;
    line-height: 2.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    padding: .5rem 2rem;
    border: 1px solid #999999;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/*table tr:nth-child(odd)	{*/
    /*background-color: #f1f1f1;*/
/*}*/
/*table tr:nth-child(even) {*/
    /*background-color: #ffffff;*/
/*}*/

.searchForm{
    padding: 2rem;
    border: 1px solid #999999;
    border-radius: 4px;
    background: #FFFFFF;
    margin-bottom: 2rem;
}
.searchForm label{
    padding-bottom: 1.5rem;
}
.searchForm .input-text ,.searchForm select{
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid #ababab;
    border-radius: 4px;
}
.searchForm .search-label{
    padding-right: 2rem;
    padding-left: 2rem;
}

.searchForm .word-spacing{
    word-spacing: 2.5rem;
}
.searchForm .single-spacing{
    padding: 4.2rem;
}

.searchForm .formBtn{
    margin-left: 1rem;
}
.table .operateBtn button{
    color: #00a0e9;
    cursor: pointer;
    padding: .05rem;
    background: transparent;
    border: none;
    outline: none;
}