body{
	margin:0;
	padding: 0;
	font-size: 62.5%;
}
.title{
	position: fixed;
	z-index: 10;
	height: 8.8em;
	width: 100%;
	padding: 1.5em;
	background-color: #5fc0cd;
	text-align: center;
	white-space: nowrap;
}
.title-text{
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3.6em;
	color: white;
	letter-spacing: 0.1em;
}
.arrow{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 3.5em;
	transform: translateY(-50%);

}
.profile{
	position: relative;
	height: 33em;
	width: 100%;
	padding: 0;
	background-image: url(./task5-1-assets/backgroundImage.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.profile-text{
	position: relative;
	display: inline-block;
	top: 50%;
	left: 25em;
	transform: translateY(-50%);
}
.rectangle{
	display: inline-block;
	width:0.3em;
	height: 2.6em;
	margin-right: 3em;
	border-radius: 0.1em;
	background-color: #55a8b3;
}
.skill{
	padding: 3em;
	border-bottom:1px solid #999999;
	white-space: nowrap;
}
.skill-text{
	display: inline-block;
	font-size: 3.2em;
	letter-spacing: 0.1em;
}
.head{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 3em;
	transform: translateY(-50%);
}
.name{
	font-family: SimHei;
	font-size: 3.6em;
	color: white;
}
.location{
	position: relative;
	display: inline-block;
}
.location-icon{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.location-text{
	margin-left: 1em;
	font-size: 2.4em;
	color: white;
}
.remark{
	position: relative;
	padding: 2em 5em;
	margin: 0 0 0 3em;
	border-bottom: 1px solid #999999;
	white-space: nowrap;
}
.vertical-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.remark-text{
	display: inline-block;
	margin: 0 0 0 1em;
	font-size: 3.2em;
}
.list-item{
	position: relative;
	padding: 2em 3em;
	margin: 0 0 0 3em;
	border-bottom: 1px solid #999999;
	white-space: nowrap;
}
.text-gray{
	display: inline-block;
	vertical-align: middle;
	padding-right: 1em;
	border-right: 1px solid #999999;
	font-size: 3.2em;
	color: #999999;
	letter-spacing: 0.1em;
}
.text-main{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 1em;
	font-size: 3.2em;
	white-space: pre-wrap;
}
.blank{
	height: 15em;
}
.message{
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	left: 8%;
	width: 40%;
	padding: 25px 0 25px 0;
	border: 1px solid #5fc0cd;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: 3.2em;
	color: #5fc0cd;
	background-color: white;
}

.contact{
	color: white;
	background-color: #5fc0cd;
	padding: 25px 0 25px 0;
	border: 1px solid #5fc0cd;
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
	left: 10%;
	width: 40%;
	display: inline-block;
	font-size: 3.2em;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
.contact-text{
	text-align: center;
	font-size: 3.4em;
}
.red-text{
	color: #e26163;
}
.button{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 10em;
	width: 100%;
	padding: 1em 0;
	background-color: white;
}