body {
  margin: 0;
  background: #f0f0f0;
}

header {
  background: #69d1e9;
  text-align: left;
  height: 35px;
}

header img {
  margin-top: 7px;
  margin-left: 7px;
}

main {
  background: #f0f0f0;
  padding: 20px;
}

main .background-top, main .div-top, main .div-foot {
  background: white;
  text-align: center;
}

main .div-top {
  line-height: 40px;
  color: #c9c9c9;
  border: 1px solid #c9c9c9;
}

main .div-top img {
  position: absolute;
  right: 31px;
  top: 62px;
}

main .div-main {
  background: white;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #c9c9c9;
}

main .div-main .p-one {
  padding-bottom: 16px;
  margin-bottom: 0;
  padding-top: 16px;
  color: #fbb435;
  line-height: 20px;
  border-bottom: 1px solid #fbb435;
}

main .div-foot {
  padding: 20px;
}

main .div-foot .p-two {
  background: #69d1e9;
  color: white;
  line-height: 60px;
}

main .div-foot .p-three {
  color: #69d1e9;
  font-size: 11px;
}

main .div-foot span {
  height: 8px;
  width: 8px;
  background: #f0f0f0;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

main .div-foot span:hover {
  background: #69d1e9;
}

main .div-foot .sjx {
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 334px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent transparent #fbb435;
}

main .div-foot button {
  width: 100%;
  background: #69d1e9;
  line-height: 60px;
  font-size: 16px;
  color: white;
}
