header {
    justify-content: center;
    .close-box {
        position: absolute;
        right: 2%;
    }
}

.subnav {
    position: relative;
    padding: .1rem;
    margin-top: 40px;
    height: .42rem;
    font-size: .14rem;
    font-weight: 300;
    background: #b9e9f5;
    i {
        position: absolute;
        bottom: -.18rem;
        display: block;
        width: 0;
        height: 0;
        border: .08rem solid transparent;
        border-top: 0.12rem solid #b9e9f5;
    }
    p {
        margin-top: 20px;
        font-size: .14rem;
        font-weight: 300;
        color: #fff;
    }
}

.photo {
    width: 25vw;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: .1rem;
    @mixin photostyle {
        // display: none;
        width: .3rem;
        height: .3rem;
        background-size: cover;
    }
    .killIcon {
        @include photostyle();
        background: url(../../img/icon/knife.png) no-repeat;
    }
    .doctorIcon {
        @include photostyle();
        background: url(../../img/icon/doctor.png)no-repeat;
    }
    .sharpIcon {
        @include photostyle();
        background: url(../../img/icon/sharp.png)no-repeat;
    }
    .policeIcon {
        @include photostyle();
        background: url(../../img/icon/search.png)no-repeat;
    }
}