@import '../components/variables';
body {
    position: relative;
}

main {
    margin-top: 40px;
    padding: 10px;
    background: $main-gray;
    .title {
        display: block;
        height: 40px;
        line-height: 40px;
        font-weight: 300;
        text-align: center;
        background: $white;
        border-radius: 3px;
        box-shadow: 1px 1px 1px #c9c9c9;
        color: #333;
    }/* 主内容标题 */
    @mixin photoStyle {
        display: inline-block;
        background-size: cover;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 10px;
        background: $white;
        border-radius: 5px;
        li {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 50px;
            i {
                flex-shrink: 0;
            }
            span {
                margin-left: 10px;
                font-size: .13rem;
            }
        }/* 图标+段落 */
        li:nth-child(1) {
            i {
                background: url(../../img/狼人杀-logo/langren.jpg) no-repeat;
                @include photoStyle();
            }
        }
        li:nth-child(2) {
            i {
                background: url(../../img/狼人杀-logo/猎人.jpg) no-repeat;
                @include photoStyle();
            }
        }
        li:nth-child(3) {
            i {
                background: url(../../img/狼人杀-logo/lang.jpg)no-repeat;
                @include photoStyle();
            }
        }
        li:nth-child(4) {
            i {
                background: url(../../img/狼人杀-logo/nvwu.jpg)no-repeat;
                @include photoStyle();
            }
        }
        li:nth-child(5) {
            i {
                background: url(../../img/狼人杀-logo/cunmin.jpg)no-repeat;
                @include photoStyle();
            }
        }
    }
}

#import {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background: $white;
    border-radius: 5px;
    input {
        margin: 0 10px;
        text-align: center;
        width: 30px;
        height: 30px;
        outline: none;
        background: $main-gray;
        font-size: .18rem;
        border: none;
        border-radius: 3px;
        caret-color: $playerRatioYellow;
        /* 闪烁光标 */
        &:focus {
            border: 1.5px solid $playerRatioYellow;
        }
        /* 点击后边框 */
    }
    span:nth-child(3) {
        font-size: .12rem;
        color: $playerRatioYellow;
    }
    /* 玩家数量为5-20 */
}

footer {
    padding: 10px;
    background: $main-gray;
    button {
        width: 100%;
        height: 40px;
        font-size: .18rem;
        font-weight: 300;
        letter-spacing: 5px;
        background: $playerRatioYellow;
        color: $white;
        outline: none;
        border-radius: 5px;
    }
}

/* 发牌按钮 */

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(000, 000, 000, .5);
    /* 弹窗定位拉伸 */
    @mixin bg-border {
        background: #fff;
        border-radius: 10px;
    }
    div {
        @include bg-border();
        border: 1px solid #f0f0f0;
        box-shadow: 1px 1px 1px #f0f0f0;
        /* 弹窗 */
        span {
            @include bg-border();
            padding: 25px 40px;
            display: block;
            border-bottom: 1px solid #f0f0f0;
        }
        /* 请输入正确的人数 */
        button {
            @include bg-border();
            margin: 0;
            padding: 0;
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid #f0f0f0;
            outline: none;
            cursor: pointer;
        }
        /* 点击确定、点击取消 */
    }
}