<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sca="http://www.springframework.org/schema/sca"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/sca
       http://www.osoa.org/xmlns/sca/1.0/spring-sca.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com"/>

    <aop:aspectj-autoproxy/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/two?characterEncoding=UTF-8"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
        <property name="maxIdleTime" value="25000"/>
        <property name="initialPoolSize" value="10"/>
        <property name="minPoolSize" value="10"/>
        <property name="maxPoolSize" value="50"/>
        <property name="acquireIncrement" value="5"/>
        <property name="maxStatementsPerConnection" value="30"/>
        <property name="numHelperThreads" value="10"/>
    </bean>

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
    <!--<property name="url" value="jdbc:mysql://localhost:3306/two?characterEncoding=UTF-8"/>-->
    <!--<property name="username" value="root"/>-->
    <!--<property name="password" value="123456"/>-->
    <!--</bean>-->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--<property name="typeAliasesPackage" value="com.model"/>-->
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:com/mapper/*.xml"/>
    </bean>

    <!--<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
    <!--<property name="mapperInterface" value="com.mapper.UserMapper"/>-->
    <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mapper"/>
    </bean>

    <sca:service name="userService" type="com.service.UserService" target="userService"/>

    <sca:service name="companyService" type="com.service.CompanyService" target="companyService"/>

    <sca:service name="profService" type="com.service.ProfService" target="profService"/>

    <sca:service name="telCodeService" type="com.service.TelCodeService" target="telCodeService"/>

    <sca:service name="emailService" type="com.service.thirdParty.EmailService" target="emailService"/>

    <sca:service name="telService" type="com.service.thirdParty.TelService" target="telService"/>

    <sca:service name="qiNiuService" type="com.service.thirdParty.QiNiuService" target="qiNiuService"/>


</beans>