html{
	font-size:62.5%;
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	min-width:320px;
}
.head-b{
	width:100%;
	height:4.5rem;
	margin:0;
	padding:0;
	background-color:#29b078;
}
.i-ptt{
	width:8rem;
	height:3rem;
	position:absolute;
	left:1rem;
	top:1rem;
	z-index:1;
}
.hbin{
	position:relative;
}
.i-bg img{
	width:100%;
	height:12.8;
}
.ht-left{
	float:left;
	color:#29b078;
	font-size:1.4rem;
	line-height:4rem;
}
.ht-right{
	float:right;
	text-align:right;
}
.ht-right img{
	width:2rem;
	margin:1rem 1.5rem;
}
.ht-entry{
	line-height:4rem;
	float:right;
	margin-right:2rem;
}
.ht-entry a{
	text-decoration:none;
	font-size:1.4rem;
}
.ht-entry a:link,.ht-entry a:visited{
	color:#000;
}
.navbar{
	background-color:#29b078;
	border:none;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size:1.4rem;
}
navbar-default .navbar-toggle {
    border:none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#29b078;
}
.hta:link,.hta:visited {
	color:#fff;
}	
.hta:hover{
	color:#FFF!important;
	border-bottom:2px solid #fff;
}


main{
	padding-bottom:5rem;
	background-color:#fafafa;
}
.main-t{
	font-size:1.4rem;
	padding:3rem 0;
}
.main-t span{
	color:#29b078;
}
.ml-in{
	font-size:1.4rem;
	line-height:3rem;
	padding:0;
	margin:1rem;
	border:1px solid #ededed;
	text-align:center;
	background-color:#fff;
}
.mr-in{
	color:#999;
	font-size:1.4rem;
	line-height:2.8rem;
	margin:1rem;
	padding:1rem 2rem;
	border:1px solid #ededed;
	background-color:#fff;
}
h4{
	line-height:6.2rem;
	border-bottom:1px solid #e0e0e0;
}
.i-tdw{
	width:14rem;
	float:left;
	margin-right:1rem;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
	line-height:5rem;
}
li a:link{
	color:#29b078 ;
}
li a:visited{
	color:#29b078 ;
}
li a:hover .dot{
	background-color:#ff650e;
}
li a:hover{
	color:#ff650e;
	text-decoration:none;
}
.main-rt{
	border-bottom:1px solid #e0e0e0;
	padding:2rem 0;
}
.main-rb{
	padding:2rem;
}
.dot{
	display:inline-block;
	border:1px solid #ff650e;
	border-radius:100%;
	width:0.8rem;
	height:0.8rem;
	margin-right:1rem;
}



footer{
	color:#fff;
	font-size:1.4rem;
	padding:2rem 0;
	background-color:#29b078;
}
.f-r img{
	width:8rem;
	height:8rem;
}
.f-li{
	margin-top:6rem;
}
.f-mt,.f-mb,.f-m,.f-r,.f-l{
	margin-top:2rem;
}

footer p{
	font-size:1.4rem;
}
footer>p{
	font-size:1rem;
	margin:-1rem 0;
	text-align:center;

}
footer a:link,footer a:visited{
	color:#fff;
}