body {
    margin: 0;
}

.flex-center {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.white {
    color: #fff;
}

.big-white {
    color: #fff;
    font-size: 1.125rem;
}

.header {
   
    position: fixed;
    width: 100%;
    height: 3.125rem;
    background-color: #5fc0cd;
}

.blck {
    position: absolute;
    left: 1rem;
    width: 0.625rem;
}

.blank {
    height: 3.125rem;
}

.head {
    margin-top: 3.125rem;
    display: flex;
    align-items: center;
    height: 10rem;
    background: url(../gif/picture.gif) no-repeat;
    background-size:cover;
}

.circle {
    width: 5.25rem;
    margin: 0 1.25rem 0 1rem;
}

.top {
    width: 6.25rem;
    line-height: 3rem;
    
    display: flex;
    justify-content: space-between;
}

.down {
    width: 6.25rem;
    display: flex;
    justify-content: space-between;
    
}

.character-1 {
    font-size: 1.125rem;
    margin: auto;
}

.character-2 {
    font-size: 1rem;
    margin: auto;
}

.character-3 {
    font-size: 0.75rem;
}

.small {
    width: 0.56rem;
    height: 0.68rem;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0 0 3.75rem;
    padding-left: 1.875rem;
}

li {
    height: 3.125rem;
    line-height: 3.125rem;
    border-bottom: 0.06rem solid #e1e5e7;
}

.gray {
    color: #999;
}

.blue-right {
    margin-left: 0.8rem;
}

.blue {
    display: inline;
    border-left: #5fc0cd solid 3px;
    padding-top: 0.8rem;
    margin-left: 1rem;
    font-size: 0;
}

.separator {
    display: inline;
    border-left: #999 solid 1px;
    padding-top: 0.8rem;
    margin: auto 0.652rem;
    font-size: 0;
}

.star {
    width: 0.75rem;
}

.red {
    color: #e26163;
}

.experience {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 0.06rem solid #e1e5e7;
}

.small-box {
    flex: none;
}



.front {
    height: 3.125rem;
    line-height: 3.125rem;
    border-bottom: 0.06rem solid #e1e5e7;
}
.brief-introduction {
    font-size: 0.875rem;
}
.footer {
    width: 100%;
    height: 3.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    
    
}
.leave-word {
    width: 43%;
    height: 73%;
    border: #5fc0cd solid 0.15rem;
    border-radius: 10px;
    color: #5fc0cd;
    background-color: #fff;
    outline:none;
}
.telephone {
    width: 43%;
    height: 73%;
    background-color: #5fc0cd;
    border: none;
    border-radius: 10px;
    color: #fff;
    outline:none;

}