$blue: #5fc0cd;
$white: #fff;
$grey: #eff0f4;
$c: color;

html {
	font{
		size: 62.5%;
	}
}
body {
	margin: 0;
	background:{
		color: $grey;
	}
	/* max: {
		width: 768px;
	}
	width: 100%;
	如果想要在大屏页面显示移动端的宽度，设置最大宽度即可，用MARGIN 0 AUTO 居中。
	 */
}



/* HEADER */

.header-box {
	display: flex;
	justify:{
		content: space-between;
	}
	align:{
		items: center;
	}
	background-#{$c}: $blue;
	color: $white;
}

.close {
	text-decoration: none;
	color: $white;
	padding: 1rem;
}
.login {
	@extend .close;
}

.header-mid {
	font:{
		size: 1.6rem;
	}
}



/* MAIN */

.main-box {
	background: {
		color: $white;
	}
	margin: 1rem 0;
}
.main-box {
	img {
		height: 1.4rem;
		margin: {
			left: 1rem;
		}
		padding: {
			right: 1rem;
		}
		border: {
			right: .1rem solid $grey;
		}
	}
	input {
		border: none;
		outline: none;
		width: 100%;
		&::-webkit-input-placeholder{
			color: $grey;
		}
		margin: {
			left: 1rem;
		}
	}
	display: flex;
	padding: 1rem 0;
}


/* FOOTER */

.footer-box {
	background: {
		color: $blue;
	}
	text: {
		align: center;
	}
	padding: 1rem 0;
	button {
		border: none;
		outline: none;
		background: none;
		color: $white;
		font: {
			size: 1.6rem;
		}
	}
}
.footer {
	a {
		text: {
			decoration: none;
		}
		color: $blue;
		display: block;
		padding: 1rem;
	}
	text: {
		align: right;
	}
}