html{
    font-size: 312.5%;
    background-color: #eff0f4;
}
*{
    margin: 0;
    padding: 0;
}
/*顶部位置*/
.top{
    background-color: #5fc0cd;
    position: fixed;
    width: 100%;
    height: 1.28rem;
    line-height: 1.28rem;
}
.left{
    position: absolute;
    left: 0.2rem;
    font-size: 0.32rem;
    color: #ffffff;
}
.middle{
    text-align: center;
    font-size: 0.36rem;
    color: #ffffff;
    
}
.right{
    position: absolute;
    right: 0.2rem;
    top: 0;
    font-size: 0.32rem;
    color: #ffffff;
}

form{
    position: relative;
    padding-top:1.28rem;
}
/*电话输入位置*/
.phonenumber{
    position: relative;
    background-color: #ffffff;
    margin-top: 0.2rem;
    width: 100%;
    height: 1.28rem;
}
.phonenumber img{
    width: 0.27rem;
    height: 0.41rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.4rem;
}
.phonenumber::after{
        content: "";
        width: 1px;
        height: 60%;
        background-color:#eff0f4;
        position: absolute;
        left: 1.1rem;
        top: 20%;
}
.phonenumber input::-webkit-input-placeholder{
    color:#eff0f4;
}
.pnb{
    border-width:0;
    font-size: 0.32rem;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.55rem;
    border: none;
    height: 1rem;    
    width: calc(100% - 1.55rem);
}
/*密码输入位置*/
.password{
    position: relative;
    background-color: #ffffff;
    margin-top: 0.2rem;
    width: 100%;
    height: 1.28rem;
}
.password img{
    width: 0.29rem;
    height: 0.43rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.4rem;
}
.password::after{
    content: "";
    width: 1px;
    height: 60%;
    background-color:#eff0f4;
    position: absolute;
    left: 1.1rem;
    top: 20%;
}
.password input::-webkit-input-placeholder{
    color:#eff0f4;
}
/*登陆按钮位置*/
.login{
    width: 100%;
    height: 1.28rem;
    margin-top: 1rem;
    color: #ffffff;
    background-color: #5fc0cd;
    border: none;
    font-size: 0.36rem;  
    font-weight: bold;
    letter-spacing:2px;
    outline: none;

}
/*忘记密码位置*/
a{ text-decoration:none} 
.forget{
    float: right;
    font-size: 0.32rem;
    color: #5fc0cd;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}
