/*header右侧图标*/
@mixin header-icon($icon) {
    display: inline-block;
    transform: scale(0.8);
    width: .25rem;
    height: .25rem;
    background: url(../images/task8-1/#{$icon}.jpg) no-repeat;
    background-size: 100%;
}

@mixin flex-center($justify:center,$align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;  
}

/*内容栏图标*/
@mixin icon-box($width,$height,$name) {
    display: inline-block;
    width: $width;
    height: $height;
    background: url(../images/task8-1/#{$name}.png) no-repeat;
}

@mixin padding($top:0,$right:0,$bottom:0,$left:0) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}