* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

// 顶部标签与顶部标签响应式
$theme-color: #29b078;
header {
    >div {
        max-width: 1200px;
        margin: 0 auto;
        height: 30px;
    }
    p {
        display: inline-block;
        width: 200px;
        line-height: 30px;
        font-size: 13px;
        color: #a4d7be;
    }
    .span1 {
        background-image: url(../img/图标.png);
        height: 24px;
        width: 25px;
        background-position: -13px 0;
        background-repeat: no-repeat;
    }
    .span2 {
        background-image: url(../img/图标.png);
        height: 24px;
        width: 25px;
        background-position: -38px 0;
        background-repeat: no-repeat;
    }
    .span3 {
        background-image: url(../img/图标.png);
        height: 24px;
        width: 25px;
        background-position: -63px 0;
        background-repeat: no-repeat;
    }
    .contact {
        float: right;
        >div {
            display: flex;
            width: 130px;
            justify-content: space-between;
            float: right;
            margin-top: 5px;
        }
    }
}

// 导航于导航响应式
nav {
    background-color: $theme-color;
    .nav-1 {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row-reverse;
        a {
            float: right;
            color: white;
            font-weight: 100;
            margin: 0 0 0 66px;
            line-height: 98px;
            font-size: 18px;
            margin-bottom: 2px;
            text-decoration: none;
            border-bottom: 2px solid $theme-color;
            &:hover {
                border-bottom: 2px solid white;
                color: white;
                text-decoration: none;
            }
        }
    }
    #nav {
        display: none;
        position: absolute;
        left: 92vw;
        top: 67px;
        .rectangle {
            div {
                &:nth-child(2n-1) {
                    width: 24px;
                    height: 3px;
                    background-color: white;
                }
                &:nth-child(2n) {
                    width: 23px;
                    height: 5px;
                }
            }
        }
    }
    .nav-2 {
        display: none;
        background-color: #29b078;
        height: 0px;
        z-index: 1;
        li {
            p {
                width: 36.8px;
                height: 23px;
                margin: 0 auto;
            }
            &:hover {
                border-bottom: 2px solid white;
            }
        }
        a {
            color: white;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
        }
    }
    @media (max-width:768px) {
        .nav-1 {
            display: none;
        }
        #nav {
            display: block;
        }
        .nav-2 {
            display: block;
        }
        .zhanwei-102 {
            height: 101px;
        }
    }
}

.recommend {
    max-width: 1200px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    .introduction {
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        .span4 {
            background-image: url(../img/图标.png);
            height: 62px;
            width: 43px;
            background-position: -120px 0;
            margin: 0 auto;
        }
        .span5 {
            background-image: url(../img/图标.png);
            height: 48px;
            width: 60px;
            background-position: -215px 0;
            margin: 0 auto;
        }
        .span6 {
            background-image: url(../img/图标.png);
            height: 55px;
            width: 52px;
            background-position: -163px 0;
            margin: 0 auto;
        }
    }
}

.on {
    width: 200px !important;
}

#stay {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}

.recommend-2 {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    .span8 {
        background-image: url(../img/图标.png);
        height: 30px;
        width: 17px;
        background-position: -95px 0;
        margin: 20px 0 0 0;
    }
    .map {
        display: flex;
        justify-content: space-between;
        .c70 {
            width: 67px;
            height: 67px;
            border-radius: 50%;
            border: 1px solid #e6e7e6;
            p {
                padding: 21px 0 0 30px;
            }
        }
        .zhanwei-10 {
            width: 10px;
            height: 10px;
        }
        p {
            width: 160px;
            font-size: 14px;
            padding: 14px 0 0 7px;
        }
    }
}

.in {
    display: inline !important;
    height: 380px !important;
    width: 280px;
    background: white;
    p {
        margin: 55px 0;
        font-size: 16px;
    }
}

.cooperation {
    max-width: 1200px;
    display: flex;
    margin: 70px auto;
    div {
        width: 300px;
        background-color: white;
        display: flex;
        margin: 5px;
        img {
            padding: 40px 0 40px 26px
        }
        &:hover {
            box-shadow: -2px 0 5px grey, 0 -2px 5px grey, 0 2px 5px grey, 2px 0 5px grey;
        }
    }
}

.links {
    background-color: white;
    div {
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;
        ul {
            display: flex;
            justify-content: space-between;
            li a {
                color: #999999;
            }
        }
    }
}

// 底部组件
footer {
    >div {
        margin: 15px;
    }
    background-color: $theme-color;
    .background-green {
        padding-top: 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        color: white;
        justify-content: space-between;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.end {
    p {
        text-align: center;
    }
}

.show-1 img {
    margin: 0 auto;
    z-index: 9999;
    max-width: 100%;
    height: 16vw;
}

.width-1200-2 {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    a {
        text-decoration: none;
        &:nth-child(1) {
            color: black;
        }
        &:nth-child(2) {
            color: $theme-color;
        }
    }
}

.content-1 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.zhanwei-9 {
    width: 25px;
    height: 25px;
}

.firm {
    height: 708px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    max-width: 306px;
    width: 60vw;
    p {
        font-size: 17px;
        border-bottom: 1px solid #f7f7f7;
        padding: 20px 0;
    }
    ul {
        padding: 0;
        margin-top: 35px;
        li {
            list-style-type: none;
            height: 50px;
            a {
                text-decoration: none;
                color: $theme-color;
            }
        }
    }
}

.c12 {
    width: 12px;
    height: 12px;
    border: 1px solid #f7a750;
    border-radius: 50%;
    margin-left: 85px;
    margin-bottom: -16px;
}

.youku {
    div {
        background-color: #f7a750;
    }
    a {
        color: #f7a750 !important;
    }
}

.deail {
    width: 65vw;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    p {
        margin: 50px 74px;
        font-size: 16px;
        color: #999999;
    }
    .head-txet {
        height: auto;
        border-bottom: 1px solid #999999;
        padding-top: 10px;
        margin-bottom: 20px;
        .tudou-img {
            float: left;
            width: 245px;
            height: 156px;
            padding-left: 70px;
            padding-top: 42px;
            margin-bottom: 20px;
        }
    }
}

.zhanwei-100px {
    width: 10px;
    height: 100px;
}

// css15-3表格组件-----------------------------------------------------------
.main-content {
    margin-top: 20px;
    width: 387px;
    height: 448px;
    background-color: white;
    margin-right: 13px;
    border: 1px solid #e2e2e2;
}

.transparent {
    position: relative;
    top: -450px;
    width: 385px;
    height: 450px;
    display: none;
    background-color: rgba(61, 61, 61, 0.801);
    color: white;
}

.main-content:hover .transparent {
    display: block;
}

.ios {
    width: 80px;
    font-size: 17px;
    margin: 0 auto;
    padding-top: 60px;
}

.transparent div {
    height: 300px;
    width: 300px;
    margin: 66px auto;
    font-size: 17px;
    margin-bottom: 0;
}

.main-content img {
    float: left;
    margin: 20px 10px;
}

.main-content p:nth-child(2) {
    padding-top: 38px;
}

.web {
    font-size: 14px;
    padding-top: 38px;
}

table {
    font-size: 12px;
    border-radius: 3px;
    width: 385px;
}

td {
    height: 38px;
}

tr,
td {
    border: 1px solid #e2e2e2;
}

td p {
    width: 100px;
}

#start1 {
    float: right;
    margin: 2px 140px 0 0;
}

#start2 {
    margin: 2px 99px 0 0;
    float: right;
}

#start3 {
    margin: 2px 0 0 0;
    float: right;
}

.text-center {
    text-align: center;
}

.salary {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border: 0;
}

.salary a {
    color: black;
}

tbody {
    border: 0;
}

.color-gray {
    color: gray;
}

.color-black {
    color: black;
}

td a:first-child {
    padding-left: 12px;
    padding-top: 6px;
}

td a:last-child {
    padding-right: 12px;
    padding-top: 6px;
}

td span {
    color: red;
    font-weight: 500;
    font-size: 15px;
}

.number-people {
    width: 250px;
    border-left: 2px dashed #dedede;
    padding: 100px 0 40px 88px;
}

.direction span:first-child {
    color: #999999;
    padding-right: 10px;
}

.direction a {
    margin-right: 20px;
    color: black;
}

.direction a:hover {
    background-color: #29b078;
    color: white;
    text-decoration: none;
}

.direction {
    width: 1200px;
    height: 60px;
    padding-top: 16px;
    border-bottom: 1px solid #edf1f2;
    border-top: 1px solid #d0d6d9;
}

.content-2 {
    div {
        margin: 20px auto;
        border-bottom: 1px solid #d0d6d9;
        max-width: 1200px;
    }
}

.content-3 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

@media (max-width:1200px) {
    .in {
        width: 240px;
        >div {
            width: 240px;
            margin: 0 auto;
            background-color: white;
        }
    }
    .on {
        width: 200px;
        margin: 60px auto;
    }
    .cooperation div img {
        padding: 40px 0 40px 0px;
    }
}

@media (min-width:768px) {
    .in {
        width: 280px !important;
    }
}

@media (max-width:900px) {
    .recommend {
        display: block;
    }
    .recommend-2 {
        display: block;
        width: 300px;
    }
    .cooperation,
    .link {
        display: none;
    }
    .width-1200-2 {
        width: auto;
    }
    .number-people {
        // border: 0;
        margin: 0 auto;
    }
    .cooperation {
        max-width: -webkit-fill-available;
        display: block;
        margin: 70px auto;
    }
    .cooperation div {
        width: 290px;
        height: 180px;
        display: block;
        margin: 13px auto;
    }
    .cooperation div img {
        padding: 48px 0 0 45px;
    }
    .links div {
        margin: 0 auto;
        background-color: white;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    .background-green {
        display: block !important;
    }
    .content-1 {
        display: block;
    }
    .links div ul {
        display: block;
    }
}

@media (max-width:456px) {
    .deail {
        min-width: 300px;
        p {
            margin: 28px 23px;
        }
    }
    .firm {
        min-width: 300px;
    }
}

@media (max-width:1024px) {
    .main-content {
        margin: 15px auto;
    }
}

@media (min-width:320px) and (max-width:425px) {
    .main-content img {
        margin: 2px;
    }
    table {
        width: 290px;
    }
    .main-content {
        width: 290px;
        height: 420px;
    }
    #start2 {
        margin: -1px 41px 0 0;
    }
    #start3 {
        margin: -1px 0 0 0;
    }
    #start1 {
        margin: 0px 98px 0 0;
    }
    td span {
        font-size: 13px;
    }
    .main-content p:nth-child(2) {
        padding-top: 12px;
    }
    .web {
        padding-top: 12px;
    }
}

@media (max-width:1212px) {
    .main-content {
        margin: 20px auto;
    }
    .width-1200-2,
    .content-2 {
        margin: 20px 5vw;
    }
    .background-green {
        margin: 5vw !important;
    }
    .zhanwei-100px {
        height: 1px
    }
}