@charset "UTF-8";
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*头部开始*/
header {
  position: fixed;
  top: 0;
  height: 44px;
  width: 100%;
  background: #5fc0cd;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .nav {
    display: flex; }
    header .nav a {
      position: relative;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 35px;
      border-radius: 4px;
      font-size: 1.7rem;
      text-decoration: none;
      color: #FFFFFF;
      background-color: #55a8b3; }
      header .nav a:hover {
        color: #5fc0cd;
        background-color: #FFFFFF;
        z-index: 1; }
    header .nav .active {
      color: #5fc0cd;
      background-color: #FFFFFF; }
    header .nav .btn-left:hover ~ .active {
      color: #FFFFFF;
      background-color: #55a8b3; }
    header .nav .btn-right {
      margin-left: -4px; }
  header .icon {
    position: absolute;
    right: 4vw;
    width: 20px;
    height: 23px;
    background: url("../images/css-sprite.png");
    background-position: -1px -1px; }

/*头部结束*/
/*下拉框开始*/
.head-of-form {
  display: flex;
  position: fixed;
  top: 44px;
  z-index: 999999;
  width: 100%;
  font-size: 1.4rem;
  color: #999999;
  height: 40px;
  background-color: #FFFFFF;
  white-space: nowrap; }
  .head-of-form > div {
    position: relative;
    width: 33.333%; }
    .head-of-form > div .icon {
      position: absolute;
      right: 2vw;
      width: 7px;
      height: 4px;
      background: url("../images/css-sprite.png") 0 -50px; }
    .head-of-form > div > div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-bottom: 1px solid #eff1f2;
      border-right: 1px solid #eff1f2; }
    .head-of-form > div .drop-down-content {
      position: relative;
      background: #fff;
      z-index: 999999;
      display: none; }
    .head-of-form > div:hover .drop-down-content {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eff1f2;
      border-top: 0; }

/*下拉框结束*/
/*表单主体开始*/
.body-of-form {
  width: 100%;
  margin-top: 84px;
  margin-bottom: 55px; }
  .body-of-form .row {
    border-bottom: 1px solid #eff1f2;
    font-size: 1.4rem;
    color: #999999;
    height: 90px;
    display: flex;
    flex-direction: column; }
    .body-of-form .row > div {
      height: 38px;
      display: flex;
      align-items: center; }
    .body-of-form .row .top .icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url("../images/css-sprite.png") -51px -1px;
      margin-left: 15px;
      margin-right: 8px; }
    .body-of-form .row .middle {
      margin: -12px 0;
      color: #333333;
      display: flex;
      justify-content: space-between; }
      .body-of-form .row .middle > span {
        margin-left: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .body-of-form .row .middle > div {
        color: #e63b0e;
        font-size: 1.5rem;
        display: flex; }
        .body-of-form .row .middle > div .text-right {
          white-space: nowrap; }
        .body-of-form .row .middle > div .icon-right {
          margin-right: 4vw;
          margin-left: 10px;
          margin-top: 2px;
          width: 11px;
          height: 16.5px;
          background: url(../images/css-sprite.png) -151px -1px; }
    .body-of-form .row .bottom .icon {
      display: inline-block;
      width: 9.5px;
      height: 11.5px;
      background: url("../images/css-sprite.png") -101px -1px;
      margin-left: 15px;
      margin-right: 8.5px; }

/*表单主体结束*/
/*底部开始*/
footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*垂直居中*/
  width: 100%;
  height: 50px;
  background-color: #f8fafb;
  border-top: 1px solid #e2eaec; }
  footer a {
    text-decoration: none; }
  footer .left {
    display: flex;
    flex-direction: column-reverse;
    width: 24px;
    height: 38px;
    color: #85ced8;
    background: url(../images/css-sprite.png);
    background-position: -300.5px -1px; }
  footer .center {
    width: 48px;
    height: 48px;
    background: url("../images/css-sprite.png");
    background-position: -201px -1px; }
  footer .right {
    display: flex;
    flex-direction: column-reverse;
    width: 24px;
    height: 38px;
    color: #a6a6a6;
    background: url(../images/css-sprite.png);
    background-position: -249.5px -1px; }

/*底部结束*/

/*# sourceMappingURL=style-6.css.map */
