@charset"UTF-8";
@import"_layout";

/*清除ul样式*/
ul {
    padding: 0;
    list-style: none;
}

/*重置container宽度*/
div {
    @include name;
}

/*设置body背景颜色*/
body{
    background: $gray;
}


.header {
    /*文本主体*/
    border-bottom: $home-border;
}

.col-12 {
    position: relative;
    @include flex(space-between, center);
    height: 50px;

    strong {
        color: #777;
    }

    .user {
        /*显示登录账户*/
        margin-right: 30px;
        color: $home;

        &::before {
            content: "";
            @include absolute-vertical(-15px);
            @include box(30px, 30px);
            margin-left: -40px;
            border-radius: 100%;
            background: url(../img/lgoin.jpg) no-repeat center/cover;
        }
    }

    button {
        @include box(60px, 30px);
        color: $home;
    }
}

/*管理列表项*/
.reset {
    margin: 0;
    padding: 0;

    .list {
        margin-left: -40px;
        border-right: $home-border;
    }

    ul {
        line-height: 35px;
    
        .style {
            position: relative;
            padding-left: 55px;
            border-bottom: $home-border;
        }
        a{
            display: inline-block;
            width: 100%;
            text-decoration: none;
        }

        .color{
            color:#5ab65a;
        }
    
        .arrows {
            position: absolute;
            top: 15px;
            right: 10px;
            @include box(6px, 6px);
            border-top: 1px solid $home;
            border-left: 1px solid $home;
            transform: rotate(-45deg);
        }
        .rotate,.rotate1,.rotate2{
            transform: rotate(-135deg);
        }
    }
}

.col-md-10{
    padding: 0;

    h6{
        margin-top: 30px;
        text-align: center;
    }
}



