html {
  font-size: 625%; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 478%; } }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 312%; } }

body {
  padding: 0;
  margin: 0; }

.header-box {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0; }

.header {
  width: 100%;
  font-size: .36rem;
  color: #FFF;
  background-color: #5FC0CD;
  padding: .26rem 0;
  text-align: center; }

.back {
  width: 20%;
  height: .35rem;
  background-image: url(images/01.png);
  background-repeat: no-repeat;
  background-size: .2rem .35rem;
  background-position: 0.3rem center;
  margin-top: -.64rem; }

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3.26rem;
  background-image: url(images/05.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: .98rem; }

.banner-icon {
  width: 1.69rem;
  height: 1.68rem;
  background-image: url(images/02.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 0.3rem;
  margin-right: 0.3rem; }

.banner-about {
  width: 1.9rem;
  height: .8rem; }

.banner-name {
  width: 1.9rem;
  height: .4rem;
  font-size: .36rem;
  color: #FFF;
  line-height: .4rem; }

#year {
  font-size: .28rem;
  color: #FFF; }

.banner-address {
  width: 1.9rem;
  height: .4rem;
  font-size: .24rem;
  color: #FFF;
  line-height: .4rem;
  text-align: right;
  background-image: url(images/03.png);
  background-repeat: no-repeat;
  background-size: .18rem .23rem;
  background-position: .04rem center; }

.skill-box {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEF0F1;
  justify-content: left;
  padding: .2rem 0; }

.skill {
  width: 1.86rem;
  height: .32rem;
  line-height: .32rem;
  font-size: .32rem;
  color: #333;
  box-sizing: border-box;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #68C3D0;
  text-align: center;
  margin-left: 0.3rem; }

.star-box {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEF0F1;
  justify-content: left;
  padding: .2rem 0 .2rem .46rem; }

.star {
  width: .24rem;
  height: .23rem;
  background-image: url(images/04.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 .1rem; }

.left {
  width: 1.86rem;
  height: .32rem;
  line-height: .32rem;
  box-sizing: border-box;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9F9F9F;
  text-align: center;
  font-size: .32rem;
  color: #9F9F9F;
  margin: 0 0.3rem; }

.right {
  font-size: .32rem;
  color: #333; }

.star-right {
  height: .32rem;
  line-height: .32rem;
  font-size: .32rem;
  color: #333;
  box-sizing: border-box;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9F9F9F;
  text-align: center;
  padding-right: .2rem;
  margin-right: .1rem; }

.prize {
  font-size: .32rem;
  color: red; }

.exprience-box {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEF0F1;
  justify-content: left;
  min-height: 1rem;
  _height: 1rem;
  padding: 0.3rem 0;
  margin-bottom: 1.3rem; }

.exprience {
  width: 60%;
  font-size: .32rem;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 1rem;
  _height: 1rem; }

.footer {
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 1.3rem;
  background-color: #FFF;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.message {
  width: 3rem;
  box-sizing: border-box;
  border: 2px solid #5FC0CD;
  border-radius: 10px; }
  .message a {
    color: #5FC0CD;
    width: 100%;
    padding: .28rem 0;
    font-size: .34rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }

.call {
  width: 3rem;
  box-sizing: border-box;
  border: 2px solid #5FC0CD;
  border-radius: 10px;
  background-color: #5FC0CD; }
  .call a {
    color: #FFF;
    width: 100%;
    padding: .28rem 0;
    font-size: .34rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }

/*# sourceMappingURL=CssDemo12-1.css.map */
