





body {
  font-size: 62.5%;
  min-width: 300px;
  max-width: 780px;
  margin: 0 auto;
}
header {
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #29bde0;
}
.header-left {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: url("../images/2-task7.png") no-repeat;
  background-size: 2rem 2rem;
}
.header-center {
  color: white;
  font-size: 1.5rem;
}
.header-right {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background: url("../images/11-task13.png") no-repeat;
  background-size: 2rem 2rem;
}
main {
  margin: 4rem 0 4rem 0;
  background: #29bde0;
  overflow: hidden;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #b9e9f5;
}
.nav-left {
  font-size: 1rem;
  margin-left: 7%;
}
.nav-right {
  transform: scale(0.6);
  margin-right: 3%;
  cursor: pointer;
}
.triangle {
  width: 0;
  height: 0;
  margin-left: 10%;
  border-top: 0.8rem solid #b9e9f5;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
}
.hint {
  color: white;
  margin: 0.5rem 0 2rem 8%;
}

.box {
  width: 25%;
  float: left;
  margin: 0 0 10% 5.5%;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  position: relative;
}
.box-top {
  padding: 30% 0;
  text-align: center;
  font-size: 1.2rem;
  background: #f5c97b;
}
.box-bottom {
  padding: 5% 0;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  background: #83b09a;
}
.operation {
  width: 100%;
  height: 20%;
  display: none;
  text-align: center;
}
.box:hover .operation {
  position: absolute;
  display: block;
}
.kill, .check, .killed, .easter {
  width: 15%;
  height: 75%;
  margin: 5% 2% 0 2%;
  padding: 1%;
  background: white;
}

footer {
  background: #29bde0;
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  width: 100%;
  height: 5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.die {
  width: 80%;
  height: 3rem;
  line-height: 3rem;
  color: white;
  background: #fbb435;
  font-size: 1.5rem;
}
.die:hover {
  color: white;
}