body .bg {
  color: #fff;
  background: #23323C; }

body .panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding-left: 35px;
  border: none; }
  body .panel-default > .panel-heading + .panel-collapse > .panel-body:hover {
    background: #707070; }

.welcome {
  font-size: 50px; }

.content-wrap {
  width: 100%;
  min-height: calc(100vh - 50px);
  overflow: hidden; }

.sidebar {
  float: left;
  width: 25rem;
  padding-bottom: 300rem;
  margin-bottom: -300rem; }
  .sidebar .panel-group {
    margin: 0; }
    .sidebar .panel-group .panel {
      border: none; }
  .sidebar .panel-body {
    color: #fff;
    background: #23323C; }
  .sidebar .panel-default a:focus {
    outline: none; }
  .sidebar .panel-default .panel-heading {
    color: #fff;
    border-radius: 0;
    background: #23323C; }
    .sidebar .panel-default .panel-heading:hover {
      background: #707070; }
    .sidebar .panel-default .panel-heading .panel-body {
      padding-left: 35px;
      border: none; }
  .sidebar a:focus {
    text-decoration: none; }
  .sidebar a:hover {
    text-decoration: none; }

.backstage-name {
  float: left;
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background: #23323C;
  border-bottom: 1px solid #707070; }

.top-nav {
  float: left;
  height: 50px;
  width: calc(100% - 25rem); }

.nav-list {
  margin: 0;
  box-shadow: 0 0 .3rem #ccc; }
  .nav-list li {
    float: right;
    margin: 0 1rem;
    width: 8rem;
    line-height: 50px;
    text-align: center; }
    .nav-list li:hover {
      background: #eee; }

.vertical-line {
  position: absolute;
  margin-left: 2.25rem; }

.content {
  float: left;
  width: calc(100% - 25rem);
  padding: 3rem 3rem 300rem 3rem;
  margin-bottom: -300rem;
  background: #eee; }
  .content .panel .panel-heading span {
    line-height: 24.8px;
    font-weight: 700; }
  .content .panel .panel-heading button {
    float: right;
    margin-right: 18px;
    padding: 3px 5px;
    font-size: 12px; }
  .content .form {
    padding: 2rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    background: #fff; }
    .content .form .form-control[readonly] {
      background-color: #fff; }
    .content .form .calendar {
      display: flex;
      align-items: center; }
      .content .form .calendar .form-control {
        width: 65%;
        margin-left: 28px;
        border-radius: 4px; }
      .content .form .calendar .line {
        margin: 0 40px;
        font-weight: 700; }
    .content .form .form-group {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .content .form .form-group .form-control {
        width: 65%; }
  .content .table > thead > tr > th, .content .panel-body .table > tbody > tr > td {
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    vertical-align: middle;
    max-width: 180px;
    word-wrap: break-word; }
  .content .table > tbody > tr > td img {
    height: 40px; }

.page-wrap {
  padding: 3rem; }

.button-group {
  float: right;
  margin-right: 15px; }
  .button-group:focus {
    border-color: transparent; }
  .button-group button {
    outline: none; }
    .button-group button:focus {
      border-color: transparent; }

.table-border {
  border: 1px solid #eee; }

.pagination-group {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .pagination-group input[type="text"] {
    margin: 0 5px;
    width: 4rem;
    height: 3.5rem;
    text-align: center; }
  .pagination-group .page-size, .pagination-group .go-page {
    margin: 0 10px;
    font-size: 1.6rem; }
  .pagination-group .determine {
    padding: 5px 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    color: #3382b7;
    cursor: pointer; }
    .pagination-group .determine:hover {
      background: #eee; }

.pagination ul > li {
  float: left; }

.bootbox-body {
  text-align: center;
  font-size: 2rem; }

.article {
  float: left;
  width: calc(100% - 25rem);
  padding: 3rem;
  background: #eee; }
  .article .container-bg {
    background: #fff; }
  .article .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right; }
  .article .img-responsive {
    margin-top: 20px;
    width: 60%; }
  .article .padding-0 {
    padding: 0; }
  .article .table > thead > tr > th, .article .panel-body .table > tbody > tr > td {
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    max-width: 180px;
    vertical-align: middle;
    word-wrap: break-word; }
  .article .progress {
    margin: 0; }

.form-control[readonly] {
  background-color: #fff; }

.warning {
  font-size: 16px;
  color: #f00; }

@media screen and (max-width: 1250px) {
  .form .ml-33 {
    margin-left: 0; } }

/*# sourceMappingURL=backstage.css.map */
