body .bg {
  color: #fff;
  background: #23323C;
}
body .panel-default>.panel-heading+.panel-collapse>.panel-body {
  padding-left: 35px;
  border: none;
  &:hover {
    background: #707070;
  }
}
.welcome {
  font-size: 50px;
}
.content-wrap {
  width: 100%;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}
.sidebar {
  float: left;
  width: 25rem;
  padding-bottom: 300rem;
  margin-bottom: -300rem;
  .panel-group {
    margin: 0;
    .panel {
      border: none;
    }
  }
  .panel-body {
    color: #fff;
    background: #23323C;
  }
  .panel-default{
    a:focus {
      outline: none;
    }
    .panel-heading {
      color: #fff;
      border-radius: 0;
      background: #23323C;
      &:hover {
        background: #707070;
      }
      .panel-body {
        padding-left: 35px;
        border: none;
      }
    }
  }
  a {
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }

}
.backstage-name {
  float: left;
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background: #23323C;
  border-bottom: 1px solid #707070;
}
.top-nav {
  float: left;
  height: 50px;
  width: calc(100% - 25rem);
}
.nav-list {
  margin: 0;
  box-shadow: 0 0 .3rem #ccc;
  li {
    float: right;
    margin: 0 1rem;
    width: 8rem;
    line-height: 50px;
    text-align: center;
    &:hover {
      background: #eee;
    }
  }
}
.vertical-line {
  position: absolute;
  margin-left: 2.25rem;
}
.content {
  float: left;
  width: calc(100% - 25rem);
  padding: 3rem 3rem 300rem 3rem;
  margin-bottom: -300rem;
  background: #eee;
  .panel .panel-heading {
    span {
      line-height: 24.8px;
      font-weight: 700;
    }
    button {
      float: right;
      margin-right: 18px;
      padding: 3px 5px;
      font-size: 12px
    }
  }
  .form {
    padding: 2rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    background: #fff;
    .form-control[readonly] {
      background-color: #fff;
    }
    .calendar {
      display: flex;
      align-items: center;
      .form-control {
        width: 65%;
        margin-left: 28px;
        border-radius: 4px;
      }
       .line {
        margin: 0 40px;
        font-weight: 700;
      }
    }
    .form-group {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .form-control {
        width: 65%;
      }
    }
  }
  .table>thead>tr>th, .panel-body .table>tbody>tr>td {
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    vertical-align: middle;
    max-width: 180px;
    word-wrap: break-word;
  }
  .table>tbody>tr>td {
    img {
      height: 40px;
    }
  }
}
.page-wrap {
  padding: 3rem;
}
.button-group {
  float: right;
  margin-right: 15px;
  &:focus {
    border-color: transparent;
  }
  button {
    outline: none;
    &:focus {
      border-color: transparent;
    }
  }
}

.table-border {
  border: 1px solid #eee;
}

.pagination-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input[type="text"] {
    margin: 0 5px;
    width: 4rem;
    height: 3.5rem;
    text-align: center;
  }
  .page-size, .go-page {
    margin: 0 10px;
    font-size: 1.6rem;
  }
  .determine {
    padding: 5px 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    color: #3382b7;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
}
.pagination ul>li {
  float: left;
}
.bootbox-body {
  text-align: center;
  font-size: 2rem;
}
.article {
  float: left;
  width: calc(100% - 25rem);
  padding: 3rem;
  background: #eee;
  .container-bg {
    background: #fff;
  }
  .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
  .img-responsive {
    margin-top: 20px;
    width: 60%;
  }
  .padding-0 {
    padding: 0;
  }
  .table>thead>tr>th, .panel-body .table>tbody>tr>td {
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    max-width: 180px;
    vertical-align: middle;
    word-wrap: break-word;
  }
  .progress {
    margin: 0;
  }
}
.form-control[readonly] {
  background-color: #fff;
}
.warning {
  font-size: 16px;
  color: #f00;
}

@media screen and (max-width: 1250px){
  .form {
    .ml-33 {
      margin-left: 0;
    }
  }
}