<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <resultMap type="com.model.People" id="PeopleMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="info" column="info"/>
        <result property="creatTime" column="creat_at"/>
        <result property="picture" column="picture"/>
        <result property="type" column="type"/>
        <!--<collection property="interests" column="interestname" ofType="Interests">-->
        <!--<id property="id" column="interestid"/>-->
        <!--<result property="name" column="interestname"/>-->
        <!--</collection>-->
    </resultMap>

    <insert id="addUser" parameterType="com.model.People" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into people (name,creat_at,password,info,type) values (#{name},#{creatTime},#{password},#{info},#{type})
    </insert>

    <!--<insert id="addPeople" parameterType="com.model.People">-->
        <!--insert into people name,info,creat_at,job,type values (#{name},#{info},#{creatTime},#{job})-->
    <!--</insert>-->

    <update id="job" parameterType="com.model.People">
       update people set job=#{job} where id=#{id}
    </update>

    <select id="selectAll" resultType="int">
        select count(*) from people
    </select>

    <select id="findJob" resultType="int">
        select count(*) from people where job=1
    </select>


    <select id="selectPeople" parameterType="com.model.People" resultMap="PeopleMap">
        select name,info,creat_at,picture from people where id=#{id}
    </select>

    <select id="listJob" parameterType="com.model.People" resultMap="PeopleMap">
        select name,info,creat_at,picture from people where job=1
    </select>

    <select id="selectByName" parameterType="string" resultMap="PeopleMap">
      select name,password,creat_at from people where name =#{name}
    </select>

    <select id="selectById" parameterType="long" resultType="com.model.People">
        select * from people where id=#{id}
    </select>
    <!--修改个人信息-->
    <update id="updatePeople" parameterType="com.model.People">
        update people
        <set>
            <if test="updateTime!=null">
                update_at=#{updateTime}
            </if>
            <if test="info!=null">
                ,info=#{info}
            </if>
            <if test="job!=null">
                ,job=#{job}
            </if>
            <if test="type!=null">
                ,type=#{type}
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>