html{
                      font-size:625%!important;
                  }
body{
    margin:0;
    padding:0;
    background-color: #f0f0f0;
}
.header{
    width:100%;
    height:0.7rem;
    line-height: 0.7rem;
    font-size: 0.23rem;
    background-color: #29bde0;
    text-align: center ;
    display: flex;
    justify-content:space-between;
    color:white;
}
.header span.left{
    background: url(images/left.png )no-repeat center;
    width:0.4rem;
    background-size:0.2rem;
}
.header span.right{
    background:url(images/circle.png)no-repeat center;
    width:0.4rem;
    background-size:0.35rem;
}
.ratio{
    height:0.5rem;
    line-height:0.5rem;
    font-size: 0.2rem;
    text-align: center ;
    margin:0.1rem;
    background-color: white;
    font-weight: 600;
}
main{
    height:3rem;
    font-size: 0.15rem;
    margin:0.1rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.killer,.man{
    height:0.5rem;
    line-height:0.5rem;
}
.killer:before{
    content:'';
    width:0.4rem;
    height:0.4rem;
    border-radius: 50%;
    background: url(images/wolf.jpg)no-repeat;
    display: inline-block;
    background-size: 0.4rem;
    position: relative;
    top:0.1rem;
    right:0.1rem;
}
.man:before{
    content:'';
    width:0.4rem;
    height:0.4rem;
    border-radius: 50%;
    background:url(images/fk.jpg)no-repeat;
    display: inline-block;
    background-size: 0.5rem;
    position: relative;
    top:0.1rem;
    right:0.1rem;
}
.number{
    height:2rem;
    text-align: center;
    margin:0.1rem;
    background-color: white;
}
#figure{
    width:0.2rem;
    border-radius: 0.05rem;
    text-align: center ;
}
.player{
    font-size:0.16rem;
    font-weight: 600;
}
.red{
    font-size: 0.14rem;
    color: #fab344;
}
.block{
    height:0.3rem;
    position: relative;
    right: 0.6rem;
}
.block input{
    position: absolute;
}
.footer{
    height:0.5rem;
    line-height: 0.5rem;
    font-size: 0.28rem;
    background-color: #fab344;
    text-align: center ;
    margin:0.1rem;
    color:white;
}