@import "public";

html {
  font-size: 625%;
}
body {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 478%;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 312%;
  }
}

$black: #222a39;
$white: #fefefe;
$gray: #e2e2e2;
$blueone: #5189c1;
$bluetwo: #649edb;
$bluethree: #337ab7;
$graybac: #f4f4f4;
$grayline: #ddd;



//login
.login-backcolor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  display: flex;
  align-items: center;
}
.login-formbox {
  width: 100%;
}
.login-form {
  width: 100%;
  background-color: $white;
  padding: .1rem .16rem;
}
.login-user {
  width: 100%;
  font-size: .16rem;
  outline: none;
  border: 1px solid $gray;
  background-image: url(../images/usergray.png);
  background-size: .26rem .26rem;
  background-position: .1rem center;
  background-repeat: no-repeat;
  padding: .06rem 0;
  text-indent: .5rem;
  margin: .06rem 0;
  border-radius: .05rem;
}
.login-user:focus{
  box-shadow: 0 0 .04rem $bluetwo;
}
.login-pass {
  width: 100%;
  font-size: .16rem;
  outline: none;
  border: 1px solid $gray;
  background-image: url(../images/passgray.png);
  background-size: .26rem .26rem;
  background-position: .1rem center;
  background-repeat: no-repeat;
  padding: .06rem 0;
  text-indent: .5rem;
  margin: .06rem 0;
  border-radius: .05rem;
}
.login-pass:focus{
  box-shadow: 0 0 .02rem $bluetwo;
}
.login-tips {
  width: 100%;
  font-size: .16rem;
  color: red;
  margin: .06rem 0;
  padding-left: .5rem;
}
.login-send {
  font-size: .16rem;
  color: $white;
  background-color: $blueone;
  width: 100%;
  border: none;
  outline: none;
  padding: .06rem 0;
  margin: .06rem 0;
  border-radius: .05rem;
}
.login-send:hover{
  background-color: $bluetwo;
}
///////////////////////////////////////////


//home
.navbar-default {
  background-color: $white;
}
.navbar-default .navbar-brand {
  color: $white;
  background-color: $black;
}
.navbar-default .navbar-brand:hover {
  color: $white;
  background-color: $black;
}
.navbar-nav {
  float: right;
  margin: 0;
}
.navbar {
  margin-bottom: 0;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
}
.nav>li:hover {
  background-color: #ededed;
}
.home-box {
  width: 100%;
  display: flex;
}
.home-sidebar {
  width: 192px;
  min-height: -moz-calc(99.8vh - 50px);
  min-height:-webkit-calc(99.8vh - 50px);
  min-height: calc(99.8vh - 50px);
  background-color: $black;
  padding-top: .06rem;
}
.home-sidebar-title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .16rem;
  color: $white;
  margin: .06rem 0;
}
.home-sidebar-title:hover {
  background-color: #7b7f89;
}
.home-sidebar-content {
  width: 100%;
  text-align: center;
  font-size: .14rem;
  color: $white;
  margin: .02rem 0;
}
.home-sidebar-content:hover {
  background-color: #7b7f89;
}
.panel-group .panel+.panel {
  margin-top: 0;
}
.panel-group {
  margin-bottom: 0;
  width: 192px;
}
.panel-default>.panel-heading {
  color: $white;
  background-color: $black;
  border-color: #ddd;
}
.panel {
  border: none;
}
.panel-body {
  text-align: center;
}
.panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-content {
  width:-moz-calc(100% - 192px);
  width:-webkit-calc(100% - 192px);
  width: calc(100% - 192px);
  background-color: $white;
}
.home-hello {
  font-size: .4rem;
  padding: .1rem 0 0 .1rem;
  min-height:-moz-calc(99.9vh - 50px);
  min-height:-webkit-calc(99.9vh - 50px);
  min-height: calc(99.9vh - 50px);
  background-color: $graybac;
}
.home-sidebar-title a {
  color: $white;
  width: 100%;
  text-decoration: none;
}
a:link {
  color: $white;
  text-decoration: none;
}
a:visited {
  color: $white;
  text-decoration: none;
}
a:hover {
  color: $white;
  text-decoration: none;
}
a:active {
  color: $white;
  text-decoration: none;
}
.tcontent {
  background-color: #7b7f89;
}
////////////////////////////////////////////


//list
.list-box {
  width: 100%;
  background-color: $graybac;
  padding: .1rem .2rem;
}
.list-choose {
  width: 100%;
  background-color: $white;
  margin: .2rem 0;
  padding: .1rem 0;
  border-radius: .03rem;
  box-sizing: border-box;
  border: 1px solid $grayline;
}
.list-putin-box {
  width: 100%;
  display: flex;
  //justify-content: space-around;
  align-items: center;
  margin-top: .06rem;
}
.list-putin {
  width: 100%;
}
.list-putin-input {
  width: 100%;
  outline: none;
  border: 1px solid $gray;
  border-radius: .03rem;
}
.select-box {
  width: 100%;
  padding: 3px 0;
  border: 1px solid $gray;
  border-radius: .03rem;
}
.list.data {
  width: 100%;
  border-radius: .03rem;
  box-sizing: border-box;
  border: 1px solid $grayline;
}
.btn {
  padding: .01rem .06rem;
}
.list-panel {
  background-color: $graybac;
  border-color: $grayline;
}
.list-panel-heading {
  box-sizing: border-box;
  border: 1px solid $grayline;
  background-color: $graybac;
}
.list-panel-body {
  box-sizing: border-box;
  border-left: 1px solid $grayline;
  border-bottom: 1px solid $grayline;
  border-right: 1px solid $grayline;
  background-color: $white;
}
.list-table-box {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $grayline;
}
.table {
  margin-bottom: 0;
}
th {
  text-align: center;
}
td {
  vertical-align: middle;
}
.list-pagination {
  width: auto;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-pagebox {
  width: .3rem;
  text-align: center;
}
////////////////////////////////////////


//detail
.red {
  width: 100%;
  height: 20vh;
}
.detail-box {
  width: 100%;
  background-color: $graybac;
  padding: .1rem .2rem;
}
.detail.data {
  width: 100%;
  border-radius: .03rem;
  box-sizing: border-box;
  //border: 1px solid $grayline;
}
.detail-table-box {
  width: 100%;
  box-sizing: border-box;
  //border: 1px solid $grayline;
}
.detail-putin-box {
  width: 100%;
  display: flex;
  //justify-content: space-around;
  align-items: center;
  margin: .1rem 0;
}
.list-putin {
  width: 100%;
}
.detail-putin-input {
  width: 100%;
  outline: none;
  border: 1px solid $gray;
  border-radius: .03rem;
  padding: .03rem 0;
}
.detail-select-box {
  width: 100%;
  padding: .03rem 0;
  border: 1px solid $gray;
  border-radius: .03rem;
}
.detail-filebox {
  margin-left: .04rem;
}
label {
  margin-bottom: 0;
  float: left;
}
.detail-show {
  float: left;
}
element.style {
  width: 100%;
}