//页眉
header {
    .row-header {
        // 联系方式字体样式
        align-items: center;
        font-size: .12rem;
        color: $green-29;
        .share {
            // 图标右排列
            @include flex(flex-end);
            // 微博，微信，qq图标
            .icon-microblog {
                @include sprite(.25rem, .26rem, -.55rem);
            }
            .icon-qq {
                @include sprite(.25rem, .27rem, -1.28rem);
            }
            .icon-wechat {
                @include sprite(.26rem, .26rem, -.92rem);
            }
        }
    }
}