html{
  font-size: 625%;
}

    /*header*/

header{
  background: #1d7ad9;
  color:#fff;
}
header .hotLine{
  line-height: 35px;
}
header .logIn,
header .signIn{
  float:left;
  display: inline-block;
  width:55px;
  height:35px;
  line-height: 35px;
  border-left:1px solid #fff;
  text-align: center;
}
header .signIn{
  border-right:1px solid #fff;
}
header a{
  display: block;
}
header a:visited{
  color:#fff;
}
header a:hover{
  background: #fff;
  color:#000;
  text-decoration: none;
}
      /*header end*/

      /*nav*/
nav{
  background: #f9f9f9;
}
nav h1{
  display: inline-block;
  width:160px;
  height:65px;
  background: url(../img/logo.png) no-repeat;
  margin-top:0;
}
nav .navButton{
  display: inline-block;
  margin:22px -15px 23px 0;
}
nav .navButton a{
  font-weight: bold;
  background: #ffffff;
}
nav .navButton li{
  margin-left:35px;
}
nav .navButton li:hover .btn{
  background: #1d7ad9;
  cursor: pointer;
  color:#fff;
}
.navbar-nav{
  float:right;
}
@media ( max-width : 768px){
  nav .navHam{
    margin:32px 15px;
  }
  nav .navButton{
    margin-right:0;
    width:100%;
  }
  nav .navButton li{
    margin-left:0;
    margin-bottom: 20px;
  }
  nav .navButton a{
    margin-left:0;
  }
}
      /*nav end*/

      /*flow*/
.flow{
  height:100px;
}
.flowBox{
  position: relative;
  display: inline-block;
  width:25%;
  height:100px;
}
.flowLine{
  position: absolute;
  top:50%;
  margin-top:-2.5px;
  line-height: 100px;
  width:100%;
  height:5px;
  background: #cccccc;
  border-radius: 5px;
}
.flowNumber{
  position: absolute;
  top:50%;
  left:50%;
  margin:-10px 0 0 -10px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background: #ccc;
  text-align: center;
  line-height: 20px;
  color:#fff;

}
.flow .explain{
  display: inline-block;
  width:100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #cccccc;
}
.flowBox:hover .flowLine,
.flowBox:hover .flowNumber
{
  background: orange;
  cursor: pointer;
}
.flowBox:hover .explain{
  color: orange;
  cursor: pointer;
}
@media ( min-width: 768px) {
  .flowPadding{
    padding-left:0;
    padding-right:0;
  }
}
      /*flow end*/

    /*form*/
h4{
  padding-left:10px;
  border-left:3px solid #1d7ad9;
}
.choiceBox{
  background: #f4f4f4;
  color: #1d7ad9;
}
.choiceBox span{
  display: inline-block;
  width:24px;
  height:20px;
  margin-bottom: -4px;
  margin-right:4px;
  background: url(../img/css_sprites.png) -53px -59px;
}
.choiceSize span{
  display: inline-block;
  width: 26px;
  height: 24px;
  background: url(../img/css_sprites.png) -55px -10px;
}
.choiceTexture span{
  display: inline-block;
  width: 20px;
  height: 25px;
  background: url(../img/css_sprites.png) -101px -10px;
}
.choiceColor{
  background: #fbfcff;
}
.dropDown{
  position: relative;
}
.dropDown .lookOver{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100px;
  height:31px;
  border:1px solid #000;
  padding-left:8px;
}
.dropDown .lookOver span{
  display: inline-block;
  font-size: 10px;
}
.triangleIco{
  /*position: absolute;
  left:20px;*/
  border:1px solid #999;
  -moz-appearance: none;
  background: url(../img/duo.png) no-repeat right;
  padding:5px 29px 5px 4px;
  /*width: 25px;
  height: 31px;*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
/*.dropDown-content{
  position: absolute;
  display: none;
  border:1px solid #000;
  background: #fff;
  width:100px;
  z-index: 11;
}*/
.dropDown:hover .dropDown-content{
  display: block;
}
.dropDown-content p:hover{
  background: #1d7ad9;
  cursor: pointer;
}
.marginCenter{
  margin-top:15px;
}
.lineCenter{
  line-height: 60px;
}
.lookOverHeight{
  margin-top:13px;
}
.marginCenter-1{
  margin-top:10px;
}
.marginCenter-2{
  margin-top:-10px;
}

          /*radio*/
input[type="radio"]{
  display:none;
}
input[type="radio"]+label{
  position:relative;
  padding-left:30px;
  line-height:20px;
  color:#333;
  font-weight:normal;
  margin-left:2px;
}
label {
  display:inline-block;
  max-width:100%;
  font-weight:700;
}
input[type="radio"]+label::before {
  content:"";
  width:20px;
  height:20px;
  border-radius:20px;
  border:1px solid #cecece;
  position:absolute;
  left:0;
}
input[type="radio"]:checked+label::after {
   top:-1px;
   left:-1px;
   content:"";
   background:url(../img/椭圆.png);
   width:22px;
   height:20px;
   border-radius:12px;
   position:absolute;
   vertical-align:middle;
 }
@media ( max-width : 768px){
  .minCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
      /*radio end*/

.choiceColor input{
  width:60px;
}
.inputMargin{
  margin-top:15px;
}
.lookOverMargin{
  margin-top: -25px;
}

      /*确定尺寸*/
@media (max-width:992px) {
  .choiceColor .inputMargin{
     width:20%;
   }
  .choiceColor .col-sm-offset-2{
    margin-left:47px;
    /*margin-top:-10px;*/
    margin-top:-10px;
  }

  .lookOverHeight{
    margin-top:0;
  }
}
@media (max-width:768px) {
  .lookOverMargin {
    margin-top: 5px;
    margin-left: -40px;
  }
  .lookOverHeight{
    margin-left:9px;
  }
  .choiceColor .inputMargin {
    width: 51%;
  }
  .choiceColor .col-sm-offset-2{
    margin-left:2px;
    /*margin-top:-10px;*/
    margin-top:17px;
  }

}

        /*下一步*/
.nextStep{
  line-height: 200px;
  text-align: center;
  border-bottom:1px solid #eee;
  margin-bottom: 40px;
}
.nextStep a{
  width:120px;
}
footer{
  padding-top:45px;
  background: #e7e7e7;
  color: #a0a0a0;
}
footer .left{
  font-weight: bold;
}
footer .center{
  font-size: 10px;
}
footer .center a:visited{
  color: #a0a0a0;
}
footer .center a:hover{
  color: #1d7ad9;
  text-decoration: none;
}
footer .right{
  font-size: 10px;
}
footer .footerBottom{
  margin-bottom: 25px;
}

footer .contact{
  float:right;
  display: inline-block;
  margin-right:45px;
}
footer .QRcode{
  float:right;
  margin-left:-35px;
}
footer .QRcode img{
  display: inline-block;
  width:70px;
  height:70px;
}
footer .beizu{
  text-align: center;
  line-height:20px;
  background: #1d7ad9;
  font-size: 5px;
  color:#fff;
}
@media (max-width:768px)  {
 footer .QRcode,
 footer .contact{
    float:left;
  }
  footer .QRcode{
    margin-left:16px;
  }
  footer .contact{
    margin-left:10px;
  }
}



