*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
a,
button{
	outline:none;
}
a:hover {
	text-decoration: none;
}
/* header begin */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background: #29bde0;
	z-index: 1;
}
.nav-toggle span { 
  position: absolute; 
  left: 1.5rem; 
  top: 50%; 
}
.nav-toggle span, 
.nav-toggle span:before,
.nav-toggle span:after {
  height: .3rem;
  width: 2.5rem;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px; 
}
/* header end */

/* article top begin */
article{
	position: absolute;
	top: 5rem;	
	width: 100%;
	z-index: -1;
	background-color: #f0f0f0;
}
.late-gm {
	display: flex;
	align-items: center;
}
.gm-d-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 6rem;
	margin-top: 1rem;
	background: #fff;
	border: #c9c9c9 solid .1rem;
}
.gm-p-1 {
	margin: 0;
	font-size: 2rem;
	color: #9a9a9a;
}
.p_coin {
	position: absolute;
	right: 3rem;
	margin-top: -.1rem;
	height: 15px;
	width: 15px;
	border-width: 3px 3px 0 0;
	border-color: #e7e7e7;
	border-style: solid;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
/* article top end */

/* article bottom begin */
.gm-d-2 {
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	border: #c9c9c9 solid .1rem;
	background-color: #fff;
}
.d-2-top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #fbb435;
	height: 4rem;
	border-bottom: #fdd793 solid .1rem;
}
.gm-p-2 {
	margin: 0;
	font-size: 2rem;
}
.d-2-bottom {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
}
.btn_top {
	margin-top: 1.5rem;
}
.btn_top,
.btn_mid,
.btn_fot {
	width: 100%;
	height: 6rem;
	background: #69d1e9;
	border-radius: unset;
	border: none;
}
.btn_p {
	color: #fff;
	display: flex;
	justify-content: center;
	font-size: 1.8rem;
	margin-top: 1.5rem;
}
.p_btn {
	color: #8d8d8d;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	font-size: 1.4rem;
}
.set_circle {
	display: flex;
	justify-content: center;
	margin-bottom: .5rem;
}
.coin_circle {
	display: inline-block;
	width: .8rem;
	height: .8rem;
	margin: 0 .3rem;
	background-color: #f0f0f0;
	border-radius: 50%;
	border: none;
}
.set_on {
	background-color: #69d1e9;
}
.coin_circle:hover {
	background-color: #69d1e9;
}
.coin_circle:active{
	background-color: #69d1e9;
}
.coin_circle:focus{
	background-color: #69d1e9;
}
.coin_last {
	position: absolute;
	right: 1.8rem;
	top: 58%;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-left: 1.2rem solid #fbb435;
    border-bottom: 1.2rem solid transparent;
}