/* default begin */
*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body {
	font-family: "宋体";
}
/* default end */
/* header begin */
header{
	position: fixed;
	left: 0;
	top: 0;
	background-color: #29bde0;
	height: 5rem;
	width: 100%;
	z-index: 1;
}
.btn_set1 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 5rem;
}
.icon_home {
	background: #29bde0;
	border:none;
	color:#fff;
	font-size: 2.5rem;
}
.tle_set {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
}
.tle {
	margin: 0;
	font-size: 2rem;
	color: #fff;
	background-color: none;
	border: none;
}
.btn_set2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 5rem;
}
.icon_close {
	background: #29bde0;
	border: none;
	color: #fff;
	font-size: 2.5rem;
}
/* header end */
/* section1 start */
article{
	margin-top: 10rem;
	width: 100%;
	z-index: -1;

}
.tip_set {
	position: fixed;
	top: 5rem;
	right: 0;
	width: 100%;
	height: 5rem;
	background: #b9e9f5;
	z-index: 1;
}
.tip_p_set {
	display: flex;
	align-items: center;
	justify-content: flex-start;
    left: 2rem;
	height: 4.5rem;
}
.tip_p {
	margin: 0;
	font-size: 1.8rem;
}
.play_btn {
	background: url(../img/start.png) no-repeat;
	width: 29px;
	height: 28px;
	border: none;
}
.play_set {
	position: absolute;
	right: 2rem;
	top: 1.3rem;
}
.tip_etc {
	position: relative;
	top: 4.4rem;
	width: 100%;
	height: .6rem;
	background: #29bde0;
}
.etc_set {
	position: absolute;
	left: 20%;
	margin-top: -.1rem;
	border-top: 8px dashed;
	border-top: 8px solid \9;
	color: #b9e9f5;
}
/* section1 end */
/* section2 begin */
.main_set {
	position: relative;
	top: 0;
	background: #29bde0;
	width: 100%;
}
.main_p_set {
	margin: 0;
	display: flex;
	align-items: center;
	height: 3rem;
	color: #fff;
	font-size: 2vw;
}
.main {
	position: relative;
	top: 0;
	left: 0;
	margin: 4rem 0 8rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main_player {
	margin: 0 5vw;
	border: .3rem solid #fff;
}
.main_player_name {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 21vw;
	height: 15vw;
	font-size: 1.5rem;
	background: #f5c97b;
}
.main_player_number {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 21vw;
	height: 6vw;
	background: #83b09a;
	color: #fff;
}
.main_player_p {
	margin: 0;
	font-size: 5vw;
}
.main_action {
	position: relative;
	height: 12vw;
	display: flex;
	justify-content: space-between;
	width: 70%;
	top: 10%;
	left: 15%;
	visibility: hidden;
}
.main_action_1 {
	background-position: 0 0;
}
.main_action_2 {
	background-position: -5vw 0;
}
.main_action_3 {
	background-position: 0 -5vw;
}
.main_action_4 {
	background-position: -5vw -5vw;
}
.main_action_1,
.main_action_2,
.main_action_3,
.main_action_4 {
	background-image: url(../img/task7-1.png);
	background-size: 10vw 10vw;
	background-repeat: no-repeat;
	border:none;
	width: 5vw;
	height: 5vw;	
}
.main_btn:hover .main_action {
	visibility: visible;
}
/* section2 end */
/* footer begin */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	background: #29bde0;
	border-top: #ffffff solid .1rem;
    z-index: 1;
    height: 8rem;
    width: 100%;
}
.foot_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8rem;
    width: 100%;
}
.foot_btn_set {
	background: #fbb435;
	border: none;
	width: 100%;
	height: 4.5rem;
	border-radius: unset;
}
.foot_btn_p {
	margin: 0;
	color: #fff;
	font-size: 3rem;
}
/* footer end */