*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_right {
	display: flex;
	justify-content: flex-end;
}
/* header begin */
header{
	position: fixed;
	top: 0;
	left: 0;
	background: #29bde0;
	width: 100%;
	height: 5rem;
	z-index: 1;
	border-bottom: #74d4eb solid .1rem;
}
.head_home {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 5rem;
}
.head_home_btn {
	border: none;
	background: rgba(0,0,0,0);
	color: #fff;
	font-size: 3rem;
	padding: 0;
}
.head_tip_btn:hover {
	background: rgba(0,0,0,0);
}
.head_tip_btn:focus {
	background: rgba(0,0,0,0);
}
.head_home_btn:hover {
	background: rgba(0,0,0,0);
}
.head_tle {
	display: flex;
	align-items: center;
	justify-content: center;
}
.head_tle_h2 {
	font-size: 2rem;
	color: #fff;
}
.head_tip {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 5rem;
}
.head_tip_btn {
	border: none;
	background: rgba(0,0,0,0);
	color: #fff;
	font-size: 3rem;
	padding: 0;
}
/* header end */
/* article begin */
article {
	width: 100%;
	z-index: -1;
}
.result {
	padding: 5rem 6vw;
	padding-bottom: 1rem;
	position: relative;
	top: 0;
	background: #29bde0;
}
.result_img {
	width: 18rem;
	height: 11rem;
}
.result_tips {
	margin: 1rem 0 3rem 0;
	height: 6rem;
	font-size: 2rem;
	color: #ffc865;
}
.result_display {
	display: flex;
	flex-direction: column;
	color: #fff;
	padding: .2rem .2rem;
}
.result_display_main {
	display: flex;
	flex-wrap: wrap;
	min-height: .44rem;
}
.result_display_main_sp {
	flex-basis: 33.3%
}
/* result end*/
/* record begin */
.record {
	background: #fff;
	margin-bottom: 8rem;
}
.record_list {
	padding: .5rem 6vw 1rem 6vw;
}
.record_list_day {
	font-size: 1.6rem;
	color: #7b7b7b;
}
.record_list_time {
	color: #f0f0f0;
}
.record_list_p {
	margin: .1rem;
	font-size: 1.4rem;
	color: #d0d0d0;
}
/* article end */
/* footer begin */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	background: rgba(41,189,224,.5);
	width: 100%;
	height: 8rem;
	z-index: 1;
}
.foot_btn {
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot_btn_left {
	border: none;
	background: #f66f6f;
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.foot_btn_right {
	border: none;
	background: #fbb435;
	width: 100%;
	height: 5rem;
}
.foot_btn_p {
	margin: 0;
	color: #fff;
	font-size: 2rem;
}
/* footer end */