html,body {
    margin:0;
    width:100%;
    height:100%;
}
.header {
    background: #5fc0cd;
    position: fixed;
    height:4em;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    z-index:1;
    width:100%;

}
h2 {
    position: relative;
    width:100%;
    margin: 0  0 0 -5%;
    text-align: center;
}
.center {
    height:9rem;
    color:white;
    display: flex;
    width:100%;
    background-image: url(center.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: -1px;
    align-items: center;
}
.img1 {
    height:50%;
    position: relative;
    left: 1em;
}
h3 {
    margin: 0;
}
.p1 {
    margin:0;
    font-size: 0.5rem;
    line-height:1rem;
}
.img2 {
    height: 0.9rem;
    margin-bottom: -0.3rem;
}
.div1 {
    position: relative;
    left:2rem;
    width: 50%;
}
.bottom {
    top: 9rem;
    width:100%;
    margin-top:-1px;
}
.div2 {
    width:90%;
    right:0;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    border-bottom: 2px;
    border-bottom-style: inset;
}
pre {
    margin:0;
    font-size:1.2rem;
}
.div3 {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom:2px;
    border-bottom-style:inset;
}
.div4 {
    padding:0 0.5rem 0 0;
    margin-left: 0.5rem;
    border-right:2px;
    border-right-style: inset;
}
.div5 {
    padding:0 0 0 0.5rem;
}
.img3 {
    width: 1rem;
}
.div6 {
    padding:0 0.5rem 0 0;
    margin-left: 0.5rem;
    border-right:2px;
    border-right-style: inset;
}
.div7 {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    border-bottom:2px;
    border-bottom-style:inset;
    min-height:3rem;
}
.down {
    width:100%;
    position: fixed;
    bottom: 0;
    height: 4rem;
    background: white;
}
.img4 {
    width: 40%;
    position: absolute;
    left:5%;
    bottom:20%;
    border-radius: 10px;
    height: 3rem;
    background-color: #ffffff;
    color: #5fc0cd;
    border: none;
    box-shadow: inset 0 0 0 2px #5fc0cd;
    outline:none;
    cursor: pointer;
}
.img5 {
    width: 40%;
    position: absolute;
    right:5%;
    bottom:20%;
    border-radius:10px;
    background:#5fc0cd;
    height: 3rem;
    border: none;
    color: #fff;
    outline:none;
    cursor: pointer;
}
.return {
    position: relative;
    left:5%;
    width:1rem;
}
.p2 {
    padding-left: 0.5rem;
    border-left: 2px;
    border-left-style: inset;
    border-color: #5fc0cd;
}
.blank {
    height: 4rem;
    width:100%;
}