<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://code.alibabatech.com/schema/dubbo">
    <context:component-scan base-package="jnshu.tasknine"/>
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <!--<dubbo:application name="jnshu-service-app"/>-->
    <!--&lt;!&ndash; 暴露服务地址,注册中心地址 &ndash;&gt;-->
    <!--<dubbo:registry address="zookeeper://127.0.0.1:2181" check="false" subscribe="false" register=""/>-->
    <!--&lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;-->
    <!--<dubbo:protocol name="dubbo" port="20881" />-->
    <!--<dubbo:service interface="jnshu.tasknine.service.StudentService" ref="studentServiceImpl" timeout="1200000"/>-->
    <!--<dubbo:service interface="jnshu.tasknine.service.CountNumberService" ref="countNumberServiceImpl" timeout="1200000"/>-->
    <!--<dubbo:service interface="jnshu.tasknine.service.ProfessionService" ref="professionServiceImpl" timeout="1200000"/>-->

</beans>
