html,body{
	margin: 0;padding: 0;
	font-size: 62.5%;
}

body{
	background: #68cdd5;
	color: #ffffff;
	text-align: center;
}

.back{
	position: absolute;
	height: 27px;
	width: 27px;
	margin: 1rem;
}

.logo{
	position: relative;
	top: 5.8rem;
	height: 35px;
}

.text{
	margin: 0 15%;
	font-size: 1.5rem;
	position: absolute;
	top: 15rem;
	text-align: left;
}

.left {
	font-size: 1.2rem;
	width: 50%;
	float: left;
	position: absolute;
	top: 33.8rem;
	height: 55px;
}

.right {
	font-size: 1.2rem;
	width: 50%;
	float: right;
	position: absolute;
	top: 33.8rem;
	left: 50%;
	height: 55px;
}
img{
	max-height: 100%;
	max-width: 100%;
}