/* 初始化html与body */
html {
    height: 100%;
    font-size: 625%;
}
body {
    margin: 0;
    height: 100%;
}
/* header开始 */
header {
    position: fixed;
    width: 100%;
    line-height: .44rem;
    text-align: center;
    font-size: 0;
    background-color: #5fc0cd;
    z-index: 1;
}
/* 按钮 */
header .find-master,
       .find-worker {
    width: .725rem;
    height: .35rem;
    padding: 0;
    border: none;
    border-radius: 5%;
    margin: 0;
    font-size: .17rem;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
header .find-master {
    color:#fff;
    background-color: #55a8b3;
}
header .find-worker {
    margin-left: -0.05rem;
    color: #5fc0cd;
    background-color: #fff;
}
/* header图标 */
header .map-btn {
    position: absolute;
    top: .11rem;
    right: .15rem;
    width: .21rem;
    height: .22rem;
    cursor: pointer;
}
/* header结束 */
/* main开始 ，并设置下拉框 */
main {
    padding-top:.44rem;
    padding-bottom: .44rem;
 
}
main .nav-fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
}
main .drop-nav {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color:#999;
}
main .drop-container {
    flex:1;
    position: relative;  
    margin: 0;
    padding-left: 0;
    text-align: center;
    list-style: none;
}
/* 下拉菜单标题 */
main .drop-title {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: .05rem 0;
    border-bottom: .01rem solid #e1e5e7;
    color: #999;
    line-height: .35rem;
    text-decoration: none;
    background: #fff;
}
/* 下拉菜单小三角形 */
main .drop-container .triangle {
    position: absolute;
    top:50%;
    right: .1rem;
    width: 0;
    height: 0;
    border-top:4px solid #999;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transform: translateY(-50%);
}
/* 下拉菜单标题分隔符 */
main .drop-container .division {
    position: absolute;
    top:50%;
    right: -0.02rem;;
    padding: .10rem .08rem .20rem;
    border-right: .01rem solid #d8d8d8;
    transform: translateY(-50%);
}
/* 下拉列表下拉项 */
main .drop-container ul {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
}
main .drop-container .drop-content {
    padding: .05rem 0;
}
/* 下拉列表hover出现效果 */
main .drop-container:hover ul {
    display: block;
    z-index: 1;
}
main .drop-content:hover {
    color:#fff;
    background-color:#55a8b3;
}
/* main信息列表项开始 */
main .msg-list {
    position: relative;
    font-size: 0;
    line-height: 90px;
}
main .first-list{
    padding-top: .4rem;
}
main .list-container {
    border-bottom: 1px solid #e2eaec;
}
/* 左侧信息列表 */
main .msg-list ul {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-left: .35rem;
    list-style: none;
    line-height: normal;
    vertical-align: middle;
    position: relative;
}
main .msg-list .time {
    display: flex;
    align-items: center;
    padding: .05rem 0;
}
.msg-list .time .data {
    flex: 1;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
main .msg-list .se-icon {
    display: inline-block;
    width: .12rem;
    height: .12rem;
    margin-left: -0.19rem;
    margin-right: .08rem;
    background: url('img/sprites.png') -0.7rem -0.1rem;
}
main .msg-list .lo-icon {
    display: inline-block;
    width: .1rem;
    height: .12rem;
    margin-left: -0.19rem;
    margin-right: .08rem;
    background: url('img/sprites.png') -0.1rem -0.1rem;
}
main .msg-list .server,
               .location {
                    font-size: 13px;
                    color: #999;
}
/* 右侧信息布局 */
.msg-list .time .salary-box {
    flex: 1;
    text-align: right;
    white-space: nowrap;
}
.msg-list .time .salary {
    color: #e63b0e;
    font-size: .15rem;
   
}
.msg-list .time .go {
    display: inline-block;
    padding: .09rem .05rem;
    margin-right: .15rem;
    margin-left: .1rem;
    background: url('img/sprites.png') -0.4rem -0.1rem;
    vertical-align: bottom; 
}

/* footer开始 */
footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom:0;
    width: 100%;
    height: .5rem;
    border-top: 1px solid #e2eaec;
    font-size: 0;
    background: #fff;
}
/* footer左边按钮设置 */
footer .webpage { 
    flex:1;
    text-align: center;
    /* text-align: center; */
}
footer .webpage img {
    width: .23rem;
    height: .2rem;
}
footer .webpage .text {
    font-size: .1rem;
    color: #5fc0cd;
}
/* footer中间设置 */
footer .write {
    flex:0;
}
footer .write img {
    width: .47rem;
    height: .47rem;
}
/* footer右边按钮设置 */
footer .user {
    flex: 1;
    text-align: center;    
}
footer .user img {
    width: .21rem;
    height: .21rem;
}
footer .user .text{
    font-size: .1rem;
    color: #999;
}