/* feature */
.feature{
    p{
        color: $p-color;
        text-align: left;
    }
}
.card{
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 0 35px;
}
.rocket, .archive, .shape{
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.rocket{
    background: url(../images/rocket.png) center no-repeat;
}
.archive{
    background: url(../images/archive.png) center no-repeat;
}
.shape{
    background: url(../images/shape.png) center no-repeat;
}
.last-card{
    margin-top: 120px;
    padding: 50px 0 50px 50px;
    border-left: 1px dashed $gray-2;
}
.student-number{
    margin: 10px 0;
    span{
        padding-left: 30px;
        background: url(../images/user.png) left no-repeat;
        font-size: 18px;
        color: $green-5;
    }
}

@media only screen and (max-width:991px){
    .card{
        margin: 0;
    }
    .feature{
        p{
            text-align: center;
        }
    }
    .last-card{
        margin: 0;
        padding: 40px 0;
        text-align: center;
        border: none;
    }
}