.job-filter{
    padding: 20px 0;
    font-size: 14px;
    border-top: $border-ss $gray-4;
    border-bottom: $border-ss $gray-5;
    a{
        display: inline-block;
        padding: 4px;
        margin: 4px 14px;
        color: #000;
        text-decoration: none;
        &:hover{
            background: $bg-color;
            color: $bf-color;
        }
        &.action{
            background: $bg-color;
            color: $bf-color;
        }
    }
}
.job-filter-l{
    float: left;
    padding: 8px 0;
    color: $p-color;
}
.job-filter-r{   
    margin-left:42px;
}
@media screen and (max-width: 560px){
    .job-filter{
        padding: 10px 0;
        a{
            margin: 4px 0;
        }
    }
}
@media screen and (max-width: 425px){
    .job-filter-l{
        float: none;
    }
    .job-filter-r{
        margin: 0;
    }
    .job-filter{
        a{
            display: block;
            margin: 0;
            text-align: center;
        }
    }
}