.ml-10{
    margin-left: 10px;
}
.color-red{
    color: $red !important;
}

.job-card{
    position: relative;
    margin-top: 48px;
    box-shadow: 1px 1px 2px $shadow-color;
    border-radius: 5px;
    background: $bf-color;
    color: $p-color;
    font-size: 12px;
    /* 鼠标滑过效果 */
    &:hover{
        .hover-hint{
            opacity: 1;
            z-index: 1;
        } 
    }
}
.card-header{
    padding: 16px 10px;
    overflow: hidden;
    color: $black;
}
.user-head{
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 5px;
    img{
        width: 100%;
    }
}
.user-body{
    /* margin-left: 140px; */
    p{
        /* 当超出显示区，单词进行截断 */
        /* word-break:break-all; */
        word-wrap:break-word;
        font-size: 14px;
    }
}
@media screen and (max-width: 560px){
    h4{
        padding: 15px 0;
    }
    .job-card{
        margin-top: 24px;
    }
}
@media only screen and (max-width:425px){
    .user-head{
        width: 100px;
        height: 100px;
        img{
            width: 100px;
        }
    }
}

.job-title{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: bold;
}
.card-row-1{
    overflow: hidden;
    > div{
        float: left;
        padding: 12px 8px;
        width: 50%;
        border-top: $border-ss $gray-5;
        &:nth-child(even){
            border-left: $border-ss $gray-5;
        }
        span{
            color: $black;
        }
    }
}

.card-row-2{
    border-top: $border-ss $gray-5;
    overflow: hidden;
}
.card-row-2-left{
    float: left;
    box-sizing: border-box;
    width: 152px;
    height: 108px;
    line-height: 108px;
    text-align: center;
    border-right: $border-ss $gray-5;
    border-bottom: $border-ss $gray-5;
}
.card-row-2-right, .stu-number{
    color: $black;   
}
.card-row-2-right{
    margin-left: 152px;
    > div{
        box-sizing: border-box;
        height: 36px;
        border-bottom: $border-ss $gray-5;
        line-height: 36px;
        overflow: hidden;
    }
}
.card-row-2-right-l{
    float: left;
    margin-left: 25px;
}
.card-row-2-right-r{
    float: right;
    margin-right: 10px;
}
.stu-number{
    padding: 12px 8px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: $border-ss $gray-5;
}
.hint{
    padding: 12px 8px;
}
.hover-hint{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 80px 40px 0;
    font-size: 16px;
    color: $bf-color;
    background: rgba(0, 0, 0, .5);
    /* opacity设置透明度，会使整个元素透明 */
    opacity: 0;
    z-index: -1;
    /* 首行缩进 */
    text-indent: 10px;
    transition: all 2s;
}
.hover-hint-title{
    text-align: center;
}