footer {
    padding-top: .37rem;
    font-size: .16rem;
    color: $bg;
    background-color: $green;
    .about-us {
        margin-top: .89rem;
    }
    .ccy {
        margin: .25rem 0 .25rem 0;
    }
    p{
        a{
            color: $bg;
            &:hover{
                border-bottom: .01rem solid $bg;
            }
        }
    }
    .QR-code {
        margin-top: .07rem;
        height: .92rem;
        background: url(../img/css_spritessssss.png) no-repeat 4px -415px;
    }
    .linee {
        margin-top: .18rem;
        padding: .07rem 0;
        border-top: .02rem solid RGBA(50, 192, 134, 1);
        text-align: center;
    }
}