//头部
.top-left{
    padding-right: 0;
    line-height: .39rem;
    font-size: .14rem;
    white-space: nowrap;
    color: $green;
}
.top-right{
    display: flex;
    padding-left: 0;
    justify-content: flex-end;
    align-items: center;
}
.wx{
    margin-right: .19rem;
    @include w-h(.26rem,.26rem);
    background: url(../img/css_spritessssss.png) no-repeat -.2rem -.74rem;
}
.qq{
    margin-right: .19rem;
    height: .26rem;
    width: .26rem;
    background: url(../img/css_spritessssss.png) no-repeat -.2rem -1.38rem;
}
.wb{
    height: .26rem;
    width: .26rem;
    background: url(../img/css_spritessssss.png) no-repeat -.2rem -2.02rem;
}