ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

html {
    font-size: 100px;
}

body {
    max-width: 640px;
    margin: 0 auto;
}

header {
    background-color: #29bde0;
}

header p {
    margin: 0 .3rem;
    padding: 0.1rem;
    font-size: 0.17rem;
    text-align: center;
    color: #fff;
}

.back-icon {
    display: inline-block;
    float: left;
    margin: 0.12rem 0.1rem;
    width: 0.12rem;
    height: 0.2rem;
    background: url(.././img/backIcon.png) no-repeat;
    background-size: contain;
}

.close-icon {
    display: inline-block;
    float: right;
    margin: 0.12rem 0.1rem;
    width: 0.18rem;
    height: 0.18rem;
    background: url(.././img/close.png) no-repeat;
    background-size: contain;
}

.num-box {
    position: absolute;
    left: 50%;
    top: -.17rem;
    margin: 0 auto;
    margin-left: -.17rem;
    border: 2px solid #ffedc6;
    width: .35rem;
    height: .35rem;
    color: #f56b81;
    background-color: #fff;
    border-radius: 50%;
}

.flop-card-box {
    margin: 0 auto;
    padding: .4rem 0;
    text-align: center;
    background-color: #29bde0;
}

.flop-card {
    position: relative;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: .5rem 0;
    width: 70%;
    min-height: 3.5rem;
    background-color: #ffedc5;
}

.role-card-icon {
    display: none;
}

.role-card-icon p {
    margin-top: .2rem;
}

footer {
    padding: .3rem 0;
    text-align: center;
    background-color: #29bde0;
}

footer button {
    margin: 0 auto;
    border: none;
    padding: 0.1rem;
    width: 75%;
    color: #fff;
    background-color: #fbb435;
}