* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

html {
    font-size: 100px;
}

body {
    max-width: 640px;
    margin: 0 auto;
}


/* 头部部分 */

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    background-color: #29bde0;
}

header p {
    margin-bottom: 0;
    padding: 0.1rem;
    font-size: 0.17rem;
    text-align: center;
    color: #fff;
}

.back-icon {
    display: inline-block;
    float: left;
    margin: 0.12rem 0.1rem;
    width: 0.12rem;
    height: 0.2rem;
    background: url(.././img/backIcon.png) no-repeat;
    background-size: contain;
}

.help-icon {
    display: inline-block;
    float: right;
    margin: 0.1rem 0.1rem;
    width: 0.24rem;
    height: 0.24rem;
    background: url(.././img/help.png) no-repeat;
    background-size: contain;
}


/* 主体部分 */

main .container {
    margin-top: 0.44rem;
    padding: 0.15rem;
    background-color: #f0f0f0;
    max-width: 640px;
}

.clearfix::after,
.clearfix::before {
    content: "";
    display: table;
    clear: both;
}

.m-left {
    float: left;
    padding: 0.725rem 0.18rem;
    background-color: #fff;
}

.m-right {
    float: right;
    width: calc(100% - 0.55rem);
    background-color: #fbfbfb;
    border-left: 1px solid #f0f0f0;
}

.list-style {
    margin: 0;
    padding: 0 10%;
}

.list-item-style {
    display: inline-block;
    margin: 0 .1rem .04rem calc(50% - 30px);
    width: .05rem;
    height: .05rem;
    background: #fab344;
    vertical-align: middle;
}

.m-right-top {
    height: 1.95rem;
    width: 100%;
}

.m-right-bottom {
    width: 100%;
    height: 0.3rem;
    border: none;
    border-top: 1px solid #f0f0f0;
    color: #29bde0;
    background-color: #fbfbfb;
}

.m-right-bottom img {
    margin-left: 0.1rem;
}

.words {
    margin: 0.1rem 0;
    padding: 0 0.15rem 0.15rem;
    background-color: #fff;
}

.words input {
    padding: 0.15rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f5f5f5;
}

.player-num-text {
    padding: 0.1rem 0.15rem;
    background-color: #fff;
}

.player-num-text input {
    margin: 0 0.1rem;
    width: 0.3rem;
    border: none;
    text-align: center;
    color: #f8c472;
    background: #f4f5f5;
}

.num-range {
    padding: 0.19rem 0.24rem;
    background-color: #fff;
}

.num-range button {
    width: 0.26rem;
    height: 0.26rem;
    border: 1px solid #f2f2f2;
    background: #fff;
}

.num-range button:nth-of-type(1) {
    background: url(.././img/reduce.png) no-repeat center;
}

.num-range button:nth-of-type(2) {
    background: url(.././img/increase.png) no-repeat center;
}

.num-range input {
    -webkit-appearance: none;
    display: inline-block;
    margin: 0 0.2rem;
    width: calc(100% - 1rem);
    height: 0.04rem;
    vertical-align: text-top;
    background-color: #fcc671;
}

.num-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .3rem;
    height: .18rem;
    background: url(.././img/slider.png) no-repeat;
    background-size: contain;
}

.send-card {
    margin-top: 0.1rem;
    padding: 0.13rem;
    width: 100%;
    border: none;
    font-size: 0.2rem;
    text-align: center;
    color: #fff;
    background-color: #fab344;
}