html {
    margin: 0;
}

body {
    margin: 0;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    display: block;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border: 1px solid #f3a533;
    border-radius: 10px;
    color: #f3a533;
}

button:hover {
    background: #f3a533;
    color: #fff;
}

#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#box span {
    display: block;
    flex-shrink: 0;
    width: 28vw;
    height: 28vw;
    background:  #f3a533;
    border-radius: 10px;
    margin-bottom: 20px;
}