html {
  font-size: 62.5%;
}

* {
  list-style-type: none;
  outline: none;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

body header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

body header .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  background-color: #5FC0CD;
}

body header .alt .menul {
  z-index: 1;
  width: 7.2rem;
  height: 3.5rem;
  margin-right: -5px;
  border-radius: .5rem;
  font-size: 1.7rem;
  color: #5FC0CD;
  background-color: white;
  border: 1px solid white;
}

body header .alt .menu-right {
  width: 7.2rem;
  height: 3.5rem;
  margin-right: -5px;
  font-size: 1.7rem;
  color: white;
  background-color: #55A8B3;
  border: 1px solid #55A8B3;
  border-radius: .5rem;
}

body header .alt .demandbox {
  border-radius: .5rem;
  background-color: #55A8B3;
}

body header .alt .demandbox .demand {
  width: 7.2rem;
  height: 3.5rem;
  margin-right: -.5rem;
  padding: 0;
  border: 0;
  border-radius: .5rem;
  font-size: 17px;
  color: white;
  background-color: #55A8B3;
  outline: none;
}

body header .alt .demandbox .demand2 {
  width: 7.2rem;
  height: 3.5rem;
  padding: 0;
  border: 0;
  border-radius: .5rem;
  font-size: 17px;
  color: #5FC0CD;
  background-color: white;
  outline: none;
}

body header .alt .location {
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
  width: 2.1rem;
  height: 2.2rem;
  padding: 0;
  border: 0;
  background: url(./css_sprites.png) no-repeat;
  background-position: -10px -10px;
  zoom: .5;
  outline: none;
}

body header .ddbbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 4rem;
  border-bottom: 1px solid #E1E5E7;
  background-color: white;
}

body header .ddbbox .ddb {
  position: relative;
  width: 100%;
}

body header .ddbbox .ddb .site {
  color: #999999;
  font-size: 1.4rem;
  line-height: 4rem;
}

body header .ddbbox .ddb .triangle {
  position: absolute;
  top: 50%;
  right: 5%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #AFBAC0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header .ddbbox .ddb .ddbbox2 {
  width: 100%;
  margin: 5px auto;
  border-left: 1px solid #E1E5E7;
  border-right: 1px solid #E1E5E7;
}

body header .ddbbox .ddb .ddbbox2 .rad {
  line-height: 3rem;
  color: #999999;
  font-size: 1.4rem;
}

body header .ddbbox .ddb .ddbbox2 .triangle1 {
  position: absolute;
  top: 50%;
  right: 5%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #AFBAC0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body header .ddbbox .dropdown-content {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #5FC0CD;
}

body header .ddbbox .dropdown-content .ddb1 {
  display: block;
  font-size: 1.4rem;
}

body header .ddbbox .dropdown-content1 {
  display: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  background-color: #5FC0CD;
}

body header .ddbbox .ddb1:hover {
  background: #AFBAC0;
}

body header .ddbbox .cdt {
  color: #999999;
  font-size: 1.4rem;
  line-height: 4rem;
}

body header .ddb:hover .dropdown-content {
  display: block;
}

body header .ddb:hover .dropdown-content1 {
  display: block;
}

body main {
  margin-top: 100px;
  margin-bottom: 69px;
}

body main .ibbox1 {
  padding: 10px 0;
  border-bottom: 1px solid #E1E5E7;
}

body main .ibbox1 .ibbox2 {
  margin-left: 1.5rem;
}

body main .ibbox1 .ibbox2 .icon1 {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  background: url(./css_sprites.png) no-repeat;
  background-position: -138px -10px;
  zoom: .5;
}

body main .ibbox1 .ibbox2 .sd {
  font-size: 12px;
  color: #5D5D5D;
}

body main .ibbox1 .ttb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

body main .ibbox1 .ttb .time {
  color: #E63B0E;
  font-size: 15px;
  margin: 0;
}

body main .ibbox1 .tfb {
  margin-left: 1.5rem;
}

body main .ibbox1 .tfb .icon2 {
  display: inline-block;
  width: .95rem;
  height: 1.15rem;
  vertical-align: middle;
  background: url(./css_sprites.png) no-repeat;
  background-position: -138px -54px;
  zoom: .5;
}

body main .ibbox1 .tfb .place {
  font-size: 13px;
  color: #999999;
}

body footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #E1E5E7;
  background-color: #F8FAFB;
}

body footer .buttom-menu {
  margin: auto;
}

body footer .buttom-menu .icon3 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  background: url(./css_sprites.png) no-repeat;
  background-position: -72px -10px;
  zoom: .5;
}

body footer .buttom-menu .home-page {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #5FC0CD;
  background-color: #F8FAFB;
  outline: none;
}

body footer .buttom-menu .icon5 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  zoom: .5;
  background: url(./css_sprites.png) no-repeat;
  background-position: -8px -74px;
}

body footer .buttom-menu .my {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #999999;
  background-color: #F8FAFB;
  outline: none;
}

body footer .bottom-conten {
  width: 4.7rem;
  height: 4.7rem;
  background-color: #5FC0CD;
  -webkit-border-radius: 50%;
}

body footer .bottom-conten .icon4 {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-top: 1.35rem;
  margin-left: 1.5rem;
  border: 0;
  zoom: .5;
  background: url(./css_sprites.png) no-repeat;
  background-position: -71px -77px;
  outline: none;
}

body footer .menu-right {
  width: 7.2rem;
  height: 3.5rem;
  margin-right: -5px;
  font-size: 1.7rem;
  color: white;
  background-color: #55A8B3;
  border: 1px solid #55A8B3;
  border-radius: .5rem;
}

body footer .right-optionn {
  position: relative;
  height: 3.45rem;
}

body footer .right-optionn .icon5 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  zoom: .5;
  background: url(./css_sprites.png) no-repeat;
  background-position: -8px -74px;
}

body footer .right-optionn .my {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #999999;
  background-color: #F8FAFB;
  outline: none;
}

body footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #E1E5E7;
  background-color: #F8FAFB;
}

body footer .buttom-menu {
  margin: auto;
}

body footer .buttom-menu .icon3 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  background: url(./css_sprites.png) no-repeat;
  background-position: -72px -10px;
  zoom: .5;
}

body footer .buttom-menu .home-page {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #5FC0CD;
  background-color: #F8FAFB;
  outline: none;
}

body footer .bottom-conten {
  width: 4.7rem;
  height: 4.7rem;
  background-color: #5FC0CD;
  -webkit-border-radius: 50%;
}

body footer .bottom-conten .icon4 {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-top: 1.35rem;
  margin-left: 1.5rem;
  border: 0;
  zoom: .5;
  background: url(./css_sprites.png) no-repeat;
  background-position: -71px -77px;
  outline: none;
}

body footer .right-optionn {
  position: relative;
  height: 3.45rem;
}

body footer .right-optionn .icon5 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  zoom: .5;
  background: url(./css_sprites.png) no-repeat;
  background-position: -8px -74px;
}

body footer .right-optionn .my {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #999999;
  background-color: #F8FAFB;
  outline: none;
}

.icon3 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  background: url(./css_sprites.png) no-repeat;
  background-position: -72px -10px;
  zoom: .5;
}

.home-page {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #5FC0CD;
  background-color: #F8FAFB;
  outline: none;
}

.icon5 {
  display: block;
  width: 2.3rem;
  height: 2rem;
  zoom: .5;
  background: url(./css_sprites.png) no-repeat;
  background-position: -8px -74px;
}

.my {
  border: 0;
  padding: 0;
  font-size: 10px;
  color: #999999;
  background-color: #F8FAFB;
  outline: none;
}
/*# sourceMappingURL=task12-1.css.map */