body{
    margin:0;
    min-width: 200px;
}
.big-box{
    overflow: hidden;
    margin:10px auto;
    width: 80vmin;
}
.box{
    width:30%;
    padding-bottom:30%;
    margin:0 0 2.5% 2.5%;
    border-radius:10px;
    background:orange;
    float:left;
}
button{
    width:100%;
    color:orange;
    border:1px solid orange;
    border-radius:5px;
    background:#fff;
    padding:10px;
    margin:10px 0;
    outline:none;
}
button:hover{
    color:#fff;
    background:orange;
}

