*{
    margin: 0;
}
header{
    background-color: #29bde0;
    height: 40px;
    border-bottom: #74d4eb solid 2px;
}
img{

}
.img1{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.img2{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.img3{
    
    margin-top: 13px;
}
.box2{
    text-align: center;
    height: 110px;
}
p{
}
.p1{
    text-align: center;
    padding-top: 4px;
    color: white;
    font-size: 20px;
}
.p2{
    text-align: center;
    color: #ffc865;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
    font-size: 20px;
}
.p3{
    color: #ffffff;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 33px;
}
.p4{
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}
.p5{
    float: left;
    width: 80px;
    padding-left: 40px; 
    color: #515151;
    font-size: 15px
}
.p6{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: #a6a6a6;
    font-size: 15px;
}
.p7{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 17px;
    font-size: 15px;
}
.p8{
    float: right;
    color: #d2d2d2;
    padding-right: 40px;
    padding-top: 3px;
    font-size: 10px;
}
.p9{
    height: 1px;
    margin-bottom: 68px;
}
main{
    background-color: #29bde0;
    height: 360px;
}
center{
height: 90px;
margin-top: 20px;
color: #a6a6a6;
border-bottom: #dddddd solid 1px;
}
footer{
    height: 65px;
    width: 100%;
    background-color: rgba(153,233, 240, 0.5);
    position: fixed;
    bottom: 0;
}
button{
    height: 43px;
    width: 135px;
    outline: none;
    border-radius: 8px;

}
.button1{
    background-color: #f66f6f;
    margin: 14px 0 10px 12px;
}
.button2{
    float: right;
    background-color: #fbb435;
    margin: 14px 14px 10px 12px;
}