main {
    height: 4.8rem;
    .profile-photo {
        display: flex;
        align-items: center;
        margin-top: .48rem;
        height: 1.28rem;
        color: white;
        font-size: 0.12rem;
        background: url(../images/背景.png) no-repeat;
        background-size: cover;
        .one {
            margin-left: .16rem;
        }
        .two {
            margin-left: .16rem;
            p {
                margin-bottom: 0.08rem;
                font-size: .18rem;
                span {
                    font-size: .14rem;
                }
            }
        }
    }
    .information {
        li {
            display: flex;
            align-items: center;
            border-style: none;
            border-top: 1px #e1e5e7 solid;
            height: .4rem;
            &.title-middle {
                display: inline;
                padding-left: .16rem;
                margin-left: .16rem;
                border-style: none;
                border-left: 2px #5fc0cd solid;
                font-weight: bold;
                line-height: .4rem;
            }
        }
        .line {
            padding-left: .32rem;
            .col-1 {
                padding-right: .16rem;
                margin-right: .08rem;
                border-right: 1px #e1e5e7 solid;
                white-space: nowrap;
                
            }
            .long-text {
                padding-right: 2%;
            }
            .red {
                color: red;
            }
            &:nth-child(n+3) .col-1 {
                color: #999999;
            }
            &:nth-last-child(1) {
                padding-top: 2%;
                padding-bottom: 2%;
                height: 8%;
                border-bottom: 1px #e1e5e7 solid;
            }
        }
        
    }
}