html {
  font-size: 62.5%;
}
body {
  text-align: center;
  margin: 0rem;
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 10rem;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: 4rem;
  background-color: #29bde0;
}
.top {
  padding: 3rem;
  margin: 3rem 3.6rem;
  font-size: 5rem;
  color: #9a9a9a;
  text-align: center;
  background-color: #fff;
  border: 0.1rem solid #c9c9c9;
}
.top a {
  position: absolute;
  right: 7rem;
  top: 14.5rem;
  color: #9a9a9a;
  font-size: 8rem;
}
.main {
  margin: 3rem 3.6rem;
  background-color: #fff;
  border: 0.1rem solid #c9c9c9;
}
.main .main-top {
  padding: 3rem;
  color: #fbb435;
  font-size: 5rem;
  border-bottom: .1rem solid #fbb435;
}
.main .main-content {
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
  background-position: right 44rem;
  background-size: 4rem;
}
.main .main-content .main-botton {
  padding: 7.5rem 32rem;
  margin: 4rem 3.6rem;
  font-size: 5rem;
  background-color: #5fc0cd;
  border: none;
}
.main .main-content .main-botton a {
  color: #fff;
}
.main .main-content span {
  display: block;
  font-size: 3rem;
}
.main .main-content .circle {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.main .main-content .circle .circle-blue {
  height: 2rem;
  width: 2rem;
  background-color: #5fc0cd;
  border-radius: 50%;
}
.main .main-content .circle .circle-gray {
  height: 2rem;
  width: 2rem;
  background-color: #f0f0f0;
  border-radius: 50%;
}
