html {
  font-size: 62.5%;
}
body {
  margin: 0rem;
  font-size: 4rem;
  background-color: #29bde0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  border-radius: 2rem;
}
.header {
  position: fixed;
  top: 0rem;
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: 10rem;
  padding: 3rem;
  align-items: center;
  color: #fff;
  font-size: 5rem;
}
.header img {
  height: 6rem;
}
.main {
  position: fixed;
  top: 10rem;
  bottom: 18.5rem;
  overflow: hidden;
  overflow-y: auto;
  background-image: url(../img/result.png);
  background-repeat: no-repeat;
  background-position: 20.5rem 13rem;
  background-size: 60%;
}
.main .top {
  position: relative;
  top: 45rem;
  padding: 6rem;
}
.main .top .result {
  padding-bottom: 4rem;
  color: #ffc865;
}
.main .top .number {
  font-size: 3.5rem;
  color: #fff;
}
.main .date {
  position: relative;
  top: 45rem;
  padding-left: 6rem;
  padding-right: 5.5rem;
  background-color: #fff;
}
.main .date .firstday {
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid #c9c9c9;
}
.main .date .firstday .row {
  display: flex;
  justify-content: space-between;
}
.main .date .firstday .row .day {
  font-size: 6rem;
}
.main .date .firstday .row .time {
  font-size: 4rem;
  color: #c7c7c7;
}
.main .date .firstday .situation {
  font-size: 1.5rem;
  color: #a6a6a6;
}
.footer {
  position: fixed;
  bottom: 0rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #99dff0;
}
.footer button {
  font-size: 5rem;
  color: #fff;
}
.footer .left {
  padding: 3rem 2rem;
  margin: 3rem 5rem;
  width: 30rem;
  background-color: #f66f6f;
}
.footer .right {
  padding: 3rem 2rem;
  margin: 3rem 5rem;
  width: 30rem;
  background-color: #fbb435;
}
