<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 为单个字符取别名-->
         <typeAlias alias="Student" type="com.myspring.di.context.Student"/>
         <!--为整个包取别名,将com.mybatis.bean去掉,整个包下的类都可以直接使用类名-->
       <!-- <package name="com.myspring.di.context"/>-->
    </typeAliases>
    <mappers>
        <mapper resource="com/myspring/di/context/StudentMapper.xml"/>
    </mappers>
</configuration>
