// 导航栏下方图片
.top-picture {
    width: 100%;
} // 左侧位置提示
.left-title {
    p {
        display: inline-block;
        padding: .15rem 0 .15rem .15rem;
        font-size: .16rem;
        &:nth-child(2) {
            padding: .15rem 0;
            color: #29b078;
        }
    }
}

.left-nav {
    .col-sm-4 {
        width: 20rem;
        padding: 0;
    }
    .nav-top {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: .18rem;
        font-weight: 500;
        text-align: center;
        border: 1px solid #c9c9c9;
        background: #ffffff;
    }
    .box-center {
        display: flex;
        justify-content: center;
        border: 1px solid #c9c9c9;
        background: #ffffff;
    }
    ul {
        display: flex;
        flex-direction: column;
        width: .8rem;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    li {
        display: flex;
        align-items: center;
        width: 1rem;
        margin-bottom: .2rem;
        i {
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 1px solid #ff640c;
            border-radius: 50%;
        }
        span {
            display: inline-block;
            margin-left: 5px;
            font-size: .14rem;
            color: #29b078;
        }
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
        &:hover {
            i {
                background: #ff640c;
            }
            span {
                color: #ff640c;
            }
        }
    }
    .col-sm-8 {
        padding: 0;
        padding-left: .2rem;
        margin-bottom: 1.5rem;
    }
    .right-text-top {
        display: flex;
        align-items: center;
        line-height: 25px;
        padding: 5%;
        font-size: .14rem;
        color: #999999;
        border: 1px solid #c9c9c9;
        background: #ffffff;
        span {
            text-indent: .28rem;
        }
    }
    .tudou {
        flex-shrink: 0;
        height: 122px;
        width: 134px;
        background: url(../tudou.png) no-repeat;
        background-size: 100%;
    }
    .right-text {
        line-height: 25px;
        padding: 5% 5% 15% 5%;
        font-size: .14rem;
        color: #999999;
        border: 1px solid #c9c9c9;
        background: #ffffff;
        span {
            display: inline-block;
            margin-top: .35rem;
            text-indent: .28rem;
        }
    }
}

@media screen and (max-width:767px) {
   .left-nav .col-sm-4,
    .col-sm-8 {
        padding-left: 0 !important;
        flex-basis: 100%;
        max-width: 100%;
    }
}
@media(max-width:1300px){
    .firm{
     display: flex;
    flex-wrap: inherit;
    }
}
@media(min-width:1300px){
    .firm{
     display: flex;
    flex-wrap: inherit;
    }
}
@media(max-width:768px){
    .firm{
     display: flex;
     flex-wrap: wrap;
    }
}