.top-picture {
  width: 100%;
}

.left-title p {
  display: inline-block;
  padding: .15rem 0 .15rem .15rem;
  font-size: .16rem;
}

.left-title p:nth-child(2) {
  padding: .15rem 0;
  color: #29b078;
}

.left-nav .col-sm-4 {
  width: 20rem;
  padding: 0;
}

.left-nav .nav-top {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .18rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid #c9c9c9;
  background: #ffffff;
}

.left-nav .box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c9c9c9;
  background: #ffffff;
}

.left-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: .8rem;
  padding-top: 15%;
  padding-bottom: 15%;
}

.left-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  margin-bottom: .2rem;
}

.left-nav li i {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #ff640c;
  border-radius: 50%;
}

.left-nav li span {
  display: inline-block;
  margin-left: 5px;
  font-size: .14rem;
  color: #29b078;
}

.left-nav li:nth-last-child(1) {
  margin-bottom: 0;
}

.left-nav li:hover i {
  background: #ff640c;
}

.left-nav li:hover span {
  color: #ff640c;
}

.left-nav .col-sm-8 {
  padding: 0;
  padding-left: .2rem;
  margin-bottom: 1.5rem;
}

.left-nav .right-text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 25px;
  padding: 5%;
  font-size: .14rem;
  color: #999999;
  border: 1px solid #c9c9c9;
  background: #ffffff;
}

.left-nav .right-text-top span {
  text-indent: .28rem;
}

.left-nav .tudou {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 122px;
  width: 134px;
  background: url(../tudou.png) no-repeat;
  background-size: 100%;
}

.left-nav .right-text {
  line-height: 25px;
  padding: 5% 5% 15% 5%;
  font-size: .14rem;
  color: #999999;
  border: 1px solid #c9c9c9;
  background: #ffffff;
}

.left-nav .right-text span {
  display: inline-block;
  margin-top: .35rem;
  text-indent: .28rem;
}

@media screen and (max-width: 767px) {
  .left-nav .col-sm-4,
  .col-sm-8 {
    padding-left: 0 !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1300px) {
  .firm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
}

@media (min-width: 1300px) {
  .firm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
}

@media (max-width: 768px) {
  .firm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=main.css.map */