* {
    margin: 0;
    padding: 0;
}

$html-bg-color:#f0f0f0;
$header-bg-color: #29bde0;
html {
    body {
        background-color: $html-bg-color;
        font-size: 14px;
    }
}

header {
    background-color: $header-bg-color;
    width: 100%;
    height: 3rem;
}

#nav {
    ul {
        display: none;
        position: absolute;
        background: #f0f0f0;
        left: 5px;
        top: 48px;
        z-index: 99;
        li {
            list-style: none;
            width: 40px;
            font-size: 1.2rem;
            color: rgb(255, 255, 255);
            a {
                text-decoration: none;
            }
        }
    }
}

.rectangle {
    width: 23px;
    height: 30px;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    div {
        &:nth-child(2n-1) {
            width: 19px;
            height: 2px;
            background-color: white;
        }
        &:nth-child(2n-2) {
            width: 23px;
            height: 4px;
        }
    }
}

.Last-time {
    width: 80%;
    height: 4rem;
    position: relative;
    background-color: #ffffff;
    margin: 0 auto;
    top: 1rem;
    border-radius: 4px;
    p {
        font-size: 1.4rem;
        color: #9a9a9a;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 13rem;
        margin: auto;
    }
    a {
        text-decoration: none;
        font-size: 2.5rem;
        color: #e7e7e7;
        position: absolute;
        top: 3px;
        right: 3px;
    }
}

.Catch-the-game {
    width: 80%;
    height: 28rem;
    position: relative;
    top: 2rem;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    p {
        color: #9a9a9a;
        position: relative;
        transform: translateY(-50%);
        width: 11rem;
        margin: auto;
    }
    .ghost-game {
        font-size: 1.3rem;
        height: 4rem;
        border-bottom: 0.8px solid #fdd793;
        a {
            text-decoration: none;
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 6rem;
            margin: auto;
            color: orange;
        }
    }
    .background-blue {
        width: 12.5rem;
        height: 3.8rem;
        background-color: #69d1e9;
        font-size: 1.1rem;
        margin: 1rem auto;
        p {
            color: #9a9a9a;
            position: relative;
            transform: translateY(-50%);
            width: 11rem;
            margin: auto;
        }
        a {
            text-decoration: none;
            width: 4rem;
            color: white;
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
        }
    }
}
.point-four{
    display: flex;
    justify-content: center;
    div{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $html-bg-color;
        margin-right: .3rem;
        &:first-child{
            background-color: $header-bg-color;
        }
        
    }
}
.tarngle-right {
    width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-left: 1.4rem solid #fbb435;
    border-bottom: 1.4rem solid transparent;
    float: right;
    margin: -12.5rem 0.3rem 0 0;
}