* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

$header-bg-color-3: #29bde0;
header {
    height: 2.5rem;
    background-color: $header-bg-color-3;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    p {
        width: 6rem;
        color: white;
        margin: 0 auto;
        height: 1rem;
        line-height: 2.8rem;
        font-size: 1.5rem;
    }
    div {
        &:first-child {
            background-image: url(../img/home.png);
            transform: scale(0.6);
            background-repeat: no-repeat;
            float: left;
            width: 3.5rem;
            height: 3rem;
        }
        &:nth-child(3) {
            background-image: url(../img/caption.png);
            transform: scale(0.6);
            background-repeat: no-repeat;
            float: right;
            width: 3rem;
            height: 3rem;
            margin-top: -.8rem;
        }
    }
}

.victory {
    background-color: $header-bg-color-3;
    margin-top: 40px;
    div {
        background-image: url('../img/组-3.png');
        background-size: 100% 100%;
        height: 250px;
        max-width: 380px;
        margin: auto;
        p {
            width: 9rem;
            font-size: 2.2rem;
            margin: 0 auto;
            position: relative;
            top: 11rem;
            background-color: #ff3a07;
            color: white;
        }
    }
}

main {
    padding: 0 7vw;
    background-color: $header-bg-color-3;
    >p {
        color: #ffc865;
        font-size: 1.1rem;
    }
    div {
        p {
            color: white;
        }
    }
}

.player {
    max-width: 380px;
    p {
        display: inline-block;
        color: white;
    }
}

.process {
    padding: .5rem 7vw;
    margin: .5rem 0;
    border-bottom: .01rem solid #dddddd;
    div {
        p {
            &:first-child {
                display: inline-block;
            }
            $player-color: #a6a6a6;
            &:nth-child(2) {
                display: inline-block;
                font-size: .6rem;
                color: $player-color;
                float: right;
                line-height: 1rem;
            }
            &:nth-child(3) {
                color: $player-color;
            }
            &:nth-child(4) {
                color: $player-color;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(41, 189, 224, .6);
    z-index: 99;
    display: flex;
    justify-content: space-around;
    p{
        font-size: 1.4rem;
        color: white;
        text-align: center;
        line-height: 3rem;
    }
    div{
        width: 9.5rem;
        height: 3rem;
        margin: auto 0;
        border-radius: .6rem;
        &:first-child{
            background-color: #f66f6f;
        }
        &:nth-child(2){
            background-color: #f8b435;
        }
    }

}
.timing{
    margin-top: 1rem;
}
.content{
     margin-bottom: 5.2rem;
}