<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!--<context:annotation-config/>-->
    <!--<context:component-scan base-package="jnshu.taskeight"/>-->


    <!--&lt;!&ndash;<bean id = "studentServiceImpl" class="jnshu.taskeight.service.StudentServiceImpl"></bean>&ndash;&gt;-->
    <!--<bean id="studentRMIService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
        <!--<property name="serviceUrl" value="rmi://127.0.0.1:9999/studentRMI"/>-->
        <!--<property name="serviceInterface" value="jnshu.taskeight.service.StudentService"/>-->
    <!--</bean>-->



    <!--&lt;!&ndash;<bean id = "professionServiceImpl" class="jnshu.taskeight.service.ProfessionServiceImpl"></bean>&ndash;&gt;-->
    <!--<bean id="professionRMIService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
        <!--<property name="serviceUrl" value="rmi://127.0.0.1:9999/professionRMI"/>-->
        <!--<property name="serviceInterface" value="jnshu.taskeight.service.ProfessionService"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;<bean id = "CountNumberServiceImpl" class="jnshu.taskeight.service.ReadFileServiceImpl"></bean>&ndash;&gt;-->
    <!--<bean id="CountNumberRMIService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
        <!--<property name="serviceUrl" value="rmi://127.0.0.1:9999/countNumberRMI"/>-->
        <!--<property name="serviceInterface" value="jnshu.taskeight.service.CountNumberService"/>-->
    <!--</bean>-->


    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
        <!--<property name="maxUploadSize" value="5400000"/>-->
    <!--</bean>-->



</beans>