html {
  box-sizing: border-box;
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei','Lantinghei SC','Open Sans',Arial,'Hiragino Sans GB','STHeiti','WenQuanYi Micro Hei','SimSun',sans-serif;
  font-weight: 300;
  line-height: 1.75;
  overflow-x: hidden; }

.menu {
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 4rem;
  height: 4rem;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200; }
  .menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 3px;
    background: #fff;
    float: left;
    transform-origin: center;
    transition: transform 250ms ease;
    z-index: 200; }
  .menu span:nth-of-type(1) {
    transform: translateY(-5px); }
  .menu span:nth-of-type(3) {
    transform: translateY(5px); }

#menu {
  display: none; }
  #menu:checked ~ .menu {
    background-color: transparent;
    transform: rotate(360deg);
    transition: transform 500ms ease; }
    #menu:checked ~ .menu span {
      background-color: #fff;
      transition: transform 500ms ease; }
      #menu:checked ~ .menu span:nth-of-type(1) {
        transform: translateY(1.5px) rotate(45deg); }
      #menu:checked ~ .menu span:nth-of-type(2) {
        display: none; }
      #menu:checked ~ .menu span:nth-of-type(3) {
        transform: translateY(-1.5px) rotate(-45deg); }
  #menu:checked ~ .nav {
    left: 0;
    transform: left 500ms ease; }
  #menu:checked ~ main {
    transform: translateX(80vw);
    transition: transform 500ms ease; }

.nav {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  transition: left 500ms ease; }
  .nav .head {
    background: #29bde0;
    height: 5rem; }
  .nav ul {
    position: relative;
    list-style-type: none;
    padding: 0; }
    .nav ul li {
      position: relative;
      border-bottom: .1rem solid #f0f0f0;
      color: #29bde0;
      font-size: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav ul li .li_text {
        display: flex;
        align-items: center; }
      .nav ul li .notice {
        width: 3rem;
        height: 3rem;
        margin: 2vw 3vw 2vw 3vw; }
      .nav ul li .caret-r {
        height: 1.5rem;
        width: 1.5rem;
        border-width: 0.3rem 0.3rem 0 0;
        border-style: solid;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        margin-right: 2rem;
        z-index: -2; }

main {
  transform: translateX(0px);
  transition: transform 500ms ease; }

header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 5rem;
  background: #29bde0; }

a {
  text-decoration: none; }

.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding: 0 15px 0 15px;
  width: 82%; }

.game_chose {
  position: absolute;
  top: 5rem;
  width: 100%;
  z-index: 0;
  background-color: #F0F0F0; }
  .game_chose .container-1 {
    padding: 0 15px 0 15px; }
    .game_chose .container-1 .last {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 6rem;
      margin-top: 1rem;
      background: #FFFFFF;
      border: #9a9a9a solid 0.1rem;
      color: #9a9a9a; }
      .game_chose .container-1 .last .last_p {
        font-size: 5vw; }
        @media (max-width: 400px) {
          .game_chose .container-1 .last .last_p {
            font-size: 2.1rem; } }
        @media (min-width: 1024px) {
          .game_chose .container-1 .last .last_p {
            font-size: 3vw; } }
      .game_chose .container-1 .last .last_caret {
        position: absolute;
        right: 3rem;
        height: 3vw;
        width: 3vw;
        border-width: .7vw .7vw 0 0;
        border-style: solid;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        margin-right: 2vw; }
        @media (min-width: 1024px) {
          .game_chose .container-1 .last .last_caret {
            height: 2vw;
            width: 2vw;
            border-width: .7vw .7vw 0 0;
            border-style: solid;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            margin-right: 2vw; } }
  .game_chose .container-2 {
    padding: 0 15px 0 15px; }
    .game_chose .container-2 .chose_box {
      width: 100%;
      margin-top: 2rem;
      border: #9a9a9a solid 0.1rem;
      background: #fff; }
      .game_chose .container-2 .chose_box .box_tle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #fbb435;
        height: 4rem;
        border-bottom: #fdd793 solid .1rem;
        font-size: 2rem;
        margin-bottom: 1.5rem; }
      .game_chose .container-2 .chose_box .box_main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column; }
        .game_chose .container-2 .chose_box .box_main .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 6rem;
          background: #29bde0; }
          .game_chose .container-2 .chose_box .box_main .btn p {
            color: #FFFFFF;
            font-size: 1.8rem; }
        .game_chose .container-2 .chose_box .box_main .set_circle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: .5rem; }
          .game_chose .container-2 .chose_box .box_main .set_circle .coin_circle {
            border: none;
            border-radius: 50%;
            width: .8rem;
            height: .8rem;
            margin: 0 .3rem;
            background: #f0f0f0; }
            .game_chose .container-2 .chose_box .box_main .set_circle .coin_circle:hover {
              background: #29bde0; }
          .game_chose .container-2 .chose_box .box_main .set_circle .active {
            background: #29bde0; }
        .game_chose .container-2 .chose_box .box_main .total {
          color: #9a9a9a;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1rem 0 1rem 0;
          font-size: 1.4rem; }

.icon_last {
  position: absolute;
  right: 1.8rem;
  top: 58%;
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-left: 1.2rem solid #fbb435;
  border-bottom: 1.2rem solid transparent; }

.container-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: .1rem solid #b7e3ed; }
  .container-3 .home {
    background-image: url(../img/home.png);
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%; }
  .container-3 .tle {
    font-size: 2rem;
    color: #fff; }
  .container-3 .close {
    background-image: url(../img/close.png);
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%; }
  .container-3 .findly-home {
    background: url(../img/findly_home.png);
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%; }
  .container-3 .tip {
    background-image: url(../img/findly_tip.png);
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%; }

.container-4 {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 100%;
  height: 5rem;
  background: #b9e9f5;
  z-index: 1; }
  .container-4 .tip_set {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0 1rem 0 6%;
    height: 100%; }
    .container-4 .tip_set .tip_p {
      font-size: 1.8rem; }
    .container-4 .tip_set .audio {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-end;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background: #FBB435;
      border: none; }
      .container-4 .tip_set .audio .play {
        width: .6rem;
        border-top: 1rem solid transparent;
        border-left: 1.5rem solid #fff;
        border-bottom: 1rem solid transparent; }
  .container-4 .addition {
    background: #29BDE0;
    display: flex;
    height: 5rem;
    padding-left: 8%; }
    .container-4 .addition span {
      margin-top: -.1rem;
      border-left: .5rem solid transparent;
      border-right: .5rem solid transparent;
      border-top: .8rem solid #B9E9F5; }
    .container-4 .addition p {
      color: #FFFFFF;
      font-size: 1.5rem;
      display: flex;
      align-items: center; }

.container-5 {
  position: relative;
  top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #29bde0;
  flex-flow: wrap;
  justify-content: space-around;
  padding-bottom: 8rem; }
  .container-5 .player {
    margin: 0 5vw; }
    .container-5 .player:hover .action {
      visibility: visible; }
    .container-5 .player .btn {
      border: .3rem solid #fff; }
    .container-5 .player .name {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 21vw;
      height: 15vw;
      font-size: 1.5rem;
      background: #f5c97b; }
      .container-5 .player .name p {
        font-size: 5vw; }
    .container-5 .player .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 21vw;
      height: 6vw;
      background: #83b09a;
      color: #fff;
      font-size: 5vw; }
    .container-5 .player .action {
      position: relative;
      height: 12vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      visibility: hidden; }
      .container-5 .player .action a {
        background-image: url(../img/task7-1.png);
        background-size: 10vw 10vw;
        background-repeat: no-repeat;
        width: 5vw;
        height: 5vw; }
      .container-5 .player .action .knife {
        background-position: 0 0; }
      .container-5 .player .action .find {
        background-position: -5vw 0; }
      .container-5 .player .action .aim {
        background-position: 0 -5vw; }
      .container-5 .player .action .help {
        background-position: -5vw -5vw; }

footer {
  position: fixed;
  bottom: 0;
  background: #29bde0;
  border-top: #fff solid .1rem;
  z-index: 1;
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .confirm {
    background: #FBB435;
    width: 80%;
    height: 4.5rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem; }

.result {
  padding: 5rem 10vw;
  padding-bottom: 1rem;
  position: relative;
  top: 0;
  background: #29bde0; }
  .result .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .result .row .win {
      width: 18rem;
      height: 11rem; }
    .result .row .tips {
      margin: 1rem 0 3rem 0;
      height: 6rem;
      font-size: 2rem;
      color: #ffc865;
      font-weight: 500; }
  .result .display {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding: .2rem .2rem;
    font-size: 1.2rem; }
    .result .display .main {
      display: flex;
      flex-flow: wrap;
      min-height: .44rem; }
      .result .display .main .sp {
        flex-basis: 33.3%; }

.record {
  background: #fff;
  margin-bottom: 8rem; }
  .record .list {
    padding: .5rem 10vw 1rem 10vw;
    border-bottom: 0.1rem solid #9a9a9a; }
    .record .list .title {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .record .list .title .day {
        font-size: 1.6rem;
        color: #7b7b7b; }
      .record .list .title .time {
        color: #d0d0d0; }
    .record .list .about p {
      font-size: 1.4rem;
      color: #d0d0d0; }

.container-6 {
  background-color: rgba(41, 189, 224, 0.5); }
  .container-6 .foot_btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; }
    .container-6 .foot_btn a {
      text-decoration: none; }
    .container-6 .foot_btn .return {
      background: #f66f6f;
      width: 80%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      font-size: 2rem;
      color: #fff; }
    .container-6 .foot_btn .upfile {
      background: #fbb435;
      width: 80%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      font-size: 2rem;
      color: #fff; }
