/*reset*/
html{
    font-size: 10px;
}
@media screen and (min-width: 480px){
    html{
        font-size: 15px;
    }
}
@media screen and (min-width: 640px){
    html{
        font-size: 17px;
    }
}
@media screen and (min-width: 720px){
    html{
        font-size: 20px;
    }
}
body{
    background: #29bde0;
}
p,
h2,
ul {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style-type: none;
}
/*layout*/
body{
    padding-top: 9rem;
    padding-bottom: 9.5rem;
    min-width: 320px;
}
/*header*/
header,
footer{
    background: #29bde0;
}
.header-top{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top .header-left{
    width: 6.1vw;
    margin-left: 3.8vw;
}
.header-top .header-right{
    width: 6.1vw;
    margin-right: 3.8vw;
}
.header-top h2{
    color: #fff;
    font-size: 1.7rem;
}
.header-bottom{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b9e9f5;
}
.header-bottom p{
    margin-left: 7vw;
    color: #464646;
    font-size: 1.3rem;
}
.header-bottom .audio{
    margin-right: 2.6vw;
    width: 3rem;
}
header .triangle-down{
    position: absolute;
    left: 11vw;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: 1rem solid #b9e9f5;
}
/*main*/
main .main-title{
    padding-left: 11vw;
    font-size: 1.2rem;
    color: #fff;
}
main .main-wrap{
    padding-top: 5%;
    padding-bottom: 5%;
}
main .column{
    display: flex;
    height: 28vw;
    flex-direction: column;
    align-items: center;
}
main .block{
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
}
main .img{
    display: none;
    padding-top: 2vw;
    width: 20vw;
}
main .column:hover .img{
    display: block;
}
main .column img{
    width: 100%;
}

main .block-top{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #f5c97b;
}
main .block-bottom{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background: #83b09a;
}

/*footer*/
.footer{
    height: 9.5rem;
    padding: 0 11.3vw;
    display: flex;
    align-items: center;
}
.footer .button{
    padding: 0;
    color: #fff;
    line-height: 4.5rem;
    font-size: 1.8rem;
    background: #fbb435;
}