/*reset*/
html{
    font-size: 10px;
}
@media screen and (min-width: 480px){
    html{
        font-size: 15px;
    }
}
@media screen and (min-width: 640px){
    html{
        font-size: 17px;
    }
}
@media screen and (min-width: 720px){
    html{
        font-size: 20px;
    }
}
h2,
p {
    margin: 0;
}
li,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/*layout*/
/*header*/
header .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    text-align: center;
    border-bottom: 1px solid #74d4eb;
    background: #29bde0;
}
header h2{
    font-size: 1.7rem;
    line-height: 4.5rem;
    color: #fff;
}
.header-left{
    margin-left:2.8% ;
    width: 8.6%;
}
.header-right{
    float: right;
    width: 7%;
    margin-left: 1.6%;
    margin-right: 2.8%;
}
/*main*/
main{
    margin-top: 4.5rem;
    margin-bottom: 6.5rem;
    background: #29bde0;
}
.main-top-img{
    padding: 4% 13%;
}
.main-title{
    font-size: 1.6rem;
    color: #ffc865;
    padding-bottom: 5%;
}
.main-content{
    padding: 3% 0;
    font-size: 1.3rem;
    color: #fff;
}
.main-content .space{
    padding: 0 10%;
}
.main-bottom{
    padding-bottom: 4%;
    border-bottom: 1px solid #dddddd;
    background: #fff;
}
.main-bottom p{
    font-size: 1.3rem;
    color: #a6a6a6;
}
.main-bottom-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-bottom-title h4{
    font-size: 1.5rem;
}
.main-bottom-title span{
    font-size: 1rem;
    color: #c7c7c7;
}
/*footer*/
footer .wrap{
    display: flex;
    padding: 0 3%;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
    background: rgba(153,223,240,0.7);
}
footer .button-left, footer .button-right{
    padding: 0;
    line-height: 4.5rem;
    flex: 1;
    font-size: 2rem;
}
footer .button-left{
    margin-right: 6%;
}