html{
    font-size: 10px;
}
@media screen and (min-width: 480px){
    html{
        font-size: 15px;
    }
}
    @media screen and (min-width: 640px){
        html{
            font-size: 17px;
        }
    }
    @media screen and (min-width: 720px){
        html{
            font-size: 20px;
        }
}
body{
    background: #f0f0f0;
}
p{
    margin: 0;
}
/*layout*/
/*头部*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    background: #29bde0;
    z-index: 1;
}
.button{
    padding: 0;
    margin: 0;
    width: 1.5rem;
    border: none;
    background: #29bde0;
    outline: none;
}
/*内容*/
main{
    position: relative;
    top: 3rem;
}
.title-wrap{
    padding: 8% 0;


}
.main-title{
    margin: 1.2rem 0;
    border: 1px solid #c9c9c9;
    color: #9a9a9a;
    font-size: 1.7rem;
    text-align: center;
    line-height: 5.5rem;
    background: #fff;
}
.main-title-left{
    float: right;
    width: 1.1rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}
.content{
    position: relative;
    border: 1px solid #c9c9c9;
    background: #fff;
}
.content .triangle{
    position: absolute;
    top: 47%;
    right: 0.5rem;
    width: 1.2rem;
}
.content-head{
    border-bottom: 1px solid #fbb435;
    line-height: 4.5rem;
    font-size: 1.9rem;
    color: #fbb435;
}
.content-main{
    padding: 1.5rem 2.5rem;
}
.content-main p{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #787878;
}
.content-main-button{
    padding: 0;
    border-radius: 0;
    line-height: 6.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: #69d1e9;
}
.content-main-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-main-buttom div {
    margin: 2%;
    padding: 2%;
    border-radius: 50%;
    background: #f0f0f0;
}
.content-main-buttom div:first-child{
    background: #69d1e9;
}
