body {
    margin: 0;
    padding: 0;
    background-color: #29bde0;
    min-width: 320px;
}
h2 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
input {
    outline: none;
    border: none;
    -webkit-appearance: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #74d4eb;
}
.back {
    width: 12px;
    height: 12px;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transform: rotate(45deg);
    cursor: pointer;
}
h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 0;
}

main {
    overflow: hidden;
    padding-bottom: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29bde0;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
}
.footer-button-start {
    width: 90%;
    color: #fff;
    background-color: #fab344;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.cont1{
    border: 1vw solid #fff;
    height: 25vw;
    float: left;
    width: 25vw;
    margin: 3% 0 3% 4.5%;
}
.text1{
    background-color: #f5c97b;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.text2{
    background-color: #83b09a;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.red {
    background: red!important;
}