body {
	width: 100%;
	margin: 0;
	height: 100%;
}
header {
	width: 100%;
	height: 100px;
	background-color: #29bde0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 1.875rem;
	position: fixed;
	top: 0;
}
p {
	color: #fff;
	text-align: left;
	padding-left: 10%;
}
.squre {
	margin-left: 3%;
}
.end {
	margin-right: 3%;
}
body main {
	margin-top: 80px;
	background-color: #29bde0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.picture {
	width: 175px;
	height: 100px;
	padding-top: 70px;
	text-align: center;
	background-image: url(../img/win.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-left: 0;
}
body main .mian-result-summary {
	padding: 0 3.9rem 3rem 3.9rem;
	font-size: 1.65rem;
	font-weight: 700;
	color: #ffc865;
}
.text {
	align-self: flex-start;
	color: #fff;
	margin: 5px 0;
}
.box1 {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
.box {
	width: 100%;
}
.box2 {
	display: flex;
	justify-content: space-between;
}
.day {
	color: #333;
}
.time {
	color: #c7c7c7;
}
.note {
	color: #a6a6a6;
}
footer{
	background-color: rgba(153,223,240,0.5);
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.again{
	background-color: #f66f6f;
	border-radius: 10px;
	border: none;
	color: #fff;
	width: 10rem;
	height: 3.5rem;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.share{
	background-color: #fbb435;
	border-radius: 10px;
	border: none;
	color: #fff;
	width: 10rem;
	height: 3.5rem;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
