@charset "UTF-8";
/*样式重置*/
html {
  font-size: 312.5%;
}

body {
  margin: 0;
  font-size: initial;
  background: #fafafa;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

table {
  border-collapse: collapse;
}

/*header眉页*/
header div .padding-right {
  padding-right: 0;
}

header div .padding-right span.service {
  line-height: .5rem;
  font-size: .14rem;
  color: #29b078;
}

header div.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
}

header div.right a.weixin {
  width: 0.3rem;
  height: 0.3rem;
  display: inline-block;
  margin-right: .19rem;
  background: url(../picture/task-css14.png) no-repeat 0 0;
}

header div.right a.qq {
  width: 0.3rem;
  height: 0.3rem;
  display: inline-block;
  margin-right: .19rem;
  background: url(../picture/task-css14.png) no-repeat 0 -0.58rem;
}

header div.right a.weibo {
  width: 0.3rem;
  height: 0.3rem;
  display: inline-block;
  margin-right: .19rem;
  background: url(../picture/task-css14.png) no-repeat 0 -1.3rem;
}

/*导航栏*/
ul {
  margin: 0 0 0 -15px;
  padding-left: 0;
  list-style: none;
}

nav {
  background: #29b078;
}

nav div.row {
  display: block;
  text-align: right;
}

nav div.row .col-12 {
  padding-right: 0;
}

nav div.row a.box {
  float: left;
  margin-top: .25rem;
}

nav div.row .xiuzhenyuan {
  width: 3rem;
}

nav div.row input {
  display: none;
}

@media (max-width: 767px) {
  nav div.row input:checked ~ ul {
    height: 4.12rem;
    display: block !important;
  }
}

@media (max-width: 767px) {
  nav div.row ul {
    display: none;
  }
}

nav div.row .nav-toggle-box {
  height: 1.1rem;
  line-height: 1.1rem;
  margin-right: .8rem;
}

nav div.row .nav-toggle {
  display: inline-block;
  width: 0.6rem;
  height: 0.38rem;
  padding: .1rem 0;
  border-top: 0.06rem solid #FFFFFF;
  border-bottom: 0.06rem solid #FFFFFF;
  background: #FFFFFF content-box;
}

nav div.row .nav-toggle:hover {
  border-top: 0.06rem solid #999999;
  border-bottom: 0.06rem solid #999999;
  background: #999999 content-box;
}

@media (min-width: 768px) {
  nav div.row .nav-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  nav div.row .row {
    display: block;
  }
}

nav div.row a.font {
  display: inline-block;
  padding: 0 .4rem;
  color: #FFFFFF;
  border-bottom: 0.08rem solid #29b078;
  line-height: 1.02rem;
  letter-spacing: .03rem;
}

@media (min-width: 768px) {
  nav div.row a.font:hover {
    border-bottom: 0.08rem solid #FFFFFF;
  }
}

@media (max-width: 767px) {
  nav div.row a.font {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    overflow: hidden;
  }
  nav div.row a.font:hover {
    color: #29b078;
    background: #FFFFFF;
    border: 0.01rem solid #e1e1e1;
  }
}

@media (min-width: 768px) {
  nav div.row ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 1.1rem !important;
  }
}

/*main主体*/
main.job .home-box {
  padding: .31rem 0;
  border-bottom: 0.01rem solid #e1e1e1;
}

main.job .home-box .black-font {
  font-size: .16rem;
  color: #333333;
}

main.job .home-box .green-font {
  font-size: .16rem;
  color: #29b078;
}

main.job .direction-box {
  padding: .23rem 0;
  border-bottom: 0.01rem solid #e1e1e1;
}

main.job .direction-box .direction {
  line-height: .14rem;
  font-size: .14rem;
  color: #999999;
}

main.job .direction-box .option-box {
  margin: 0;
  padding: 0;
}

main.job .direction-box .option-box .option {
  line-height: .14rem;
  font-size: .14rem;
  color: #333333;
}

main.job .direction-box .option-box .option:hover {
  background: #29b078;
  color: #FFFFFF;
}

@media (max-width: 575px) {
  main.job .center {
    line-height: .6rem;
    text-align: center;
  }
}

main.job .headline-box {
  padding: .31rem 0;
  border-bottom: 0.01rem solid #e1e1e1;
  font-size: .16rem;
  color: #333333;
}

main.job .intro-box {
  position: relative;
  margin-top: .47rem;
  perspective: 1000;
  transform-style: preserve-3d;
}

main.job .intro-box .shade {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.8rem .93rem 1.76rem .82rem;
  background: rgba(8, 1, 3, 0.6);
  font-size: .16rem;
  color: #FFFFFF;
  transition: 0.6s;
  transform-style: preserve-3d;
}

main.job .intro-box:hover .shade {
  visibility: visible;
  transform: rotateY(360deg);
}

main.job .intro-box th.width1 {
  width: 40%;
}

main.job .intro-box th.width2 {
  width: 10%;
}

main.job .intro-box th.width3 {
  width: 50%;
}

main.job .intro-box tr.box {
  border: 0.01rem solid #e1e1e1;
}

main.job .intro-box tr.box .picture {
  margin: .2rem .08rem .16rem .11rem;
}

@media (max-width: 375px) {
  main.job .intro-box tr.box .picture {
    width: 1.85rem;
    height: 1.85rem;
    margin: .2rem .08rem .16rem .3rem;
  }
}

@media (min-width: 376px) and (max-width: 470px) {
  main.job .intro-box tr.box .picture {
    width: 2.1rem;
    height: 2.1rem;
    margin: .2rem .08rem .16rem .5rem;
  }
}

@media (min-width: 490px) and (max-width: 767px) {
  main.job .intro-box tr.box .picture {
    margin: .2rem .08rem .16rem .6rem;
  }
}

main.job .intro-box tr.box strong.font {
  font-size: .16rem;
  color: #333333;
}

main.job .intro-box tr.box p.font {
  margin: .16rem .09rem 0 0;
  font-size: .14rem;
  color: #333333;
}

main.job .intro-box .standard-font {
  padding: .28rem  .1rem;
  font-size: .12rem;
  color: #999999;
  border: 0.01rem solid #e1e1e1;
}

main.job .intro-box .standard-font .wjx::after {
  display: inline-block;
  content: "";
  width: 0.16rem;
  height: 0.16rem;
  margin-left: .24rem;
  background: url(../picture/task-css14.png) no-repeat 0 -2.66rem;
}

main.job .intro-box .standard-font .wjx2::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0.16rem;
  height: 0.16rem;
  margin: .12rem 0 0 1.48rem;
  background: url(../picture/task-css14.png) no-repeat 0 -2.66rem;
}

main.job .intro-box .standard-font .red {
  font-size: .12rem;
  color: #F01400;
}

main.job .intro-box .standard-font .black {
  font-size: .12rem;
  color: #333333;
}

main.job .intro-box .standard-font .center {
  display: block;
  text-align: center;
}

main.job .intro-box .standard-font .left {
  margin-left: .24rem;
}

main.job .intro-box .standard-font .right-txet {
  float: right;
}

@media (min-width: 767px) and (max-width: 991px) {
  main.job .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  main.job .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*footer尾页*/
footer {
  width: 100%;
  margin-top: 1rem;
  background: #29b078;
}

footer .row {
  font-size: .16rem;
  color: #FFFFFF;
  padding: 18px;
}

footer .row .col-sm-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .row .col-sm-4 p {
  display: inline;
}

footer .row .col-sm-4 .pp1 {
  display: inline-block;
  margin-top: .08rem;
  margin-bottom: .08rem;
  font-size: 15px;
}

footer .row .col-sm-4 .ppp {
  margin-right: .35rem;
}

footer .row .col-sm-4 .ppp:hover {
  border-bottom: 1px solid #ffffff;
}

footer .row .col-sm-4 .pp2:hover {
  border-bottom: 1px solid #ffffff;
}

footer .row .piction {
  text-align: right;
}

footer div.copyright-box {
  border-top: 0.01rem solid #29b078;
}

footer div.copyright-box p.copyright {
  font-size: .14rem;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  footer .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left !important;
  }
  footer .col-sm-4 p {
    margin: 5px 0;
  }
}
