<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <!--&lt;!&ndash; 将redis属性配置文件位置放到列表中 &ndash;&gt;-->
    <!--<bean id="redisResources" class="java.util.ArrayList">-->
    <!--<constructor-arg>-->
    <!--<list>-->
    <!--<value>classpath:cache/redis.properties</value>-->
    <!--</list>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 用Spring加载和管理redis属性配置文件 &ndash;&gt;-->
    <!--<bean id="redisPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="order" value="2" />-->
    <!--<property name="ignoreUnresolvablePlaceholders" value="true" />-->
    <!--<property name="locations" ref="redisResources" />-->
    <!--</bean>-->

    <bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--p:maxIdle="${redis.maxIdle}" p:maxTotal="${redis.maxActive}"-->
        <!--p:maxWaitMillis="${redis.maxWait}" p:testOnBorrow="${redis.testOnBorrow}" >-->
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxTotal" value="${redis.maxTotal}"/>
        <property name="maxWaitMillis" value="${redis.maxWait}"/>
        <property name="testOnBorrow" value="${redis.testOnBorrow}"/>
    </bean>

    <bean id="stringRedisSerializer"
          class="org.springframework.data.redis.serializer.StringRedisSerializer">
    </bean>

    <bean id="jdkSerializationRedisSerializer"
          class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>

    <!--#######################################################-->

    <!--Single-->
    <bean id="redisSingleConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}"
          p:pool-config-ref="redisPoolConfig"/>

    <!--##############################################################-->

    <!--配置Cluster 添加单个服务器-->
    <bean id="redisClusterOneConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="maxRedirects" value="3"></property>
        <!-- 节点配置 -->
        <property name="clusterNodes">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7001"></constructor-arg>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="redisClusterOneConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg ref="redisClusterOneConfiguration"/>
        <constructor-arg ref="redisPoolConfig"/>
    </bean>


    <!--###################################################-->


    <!-- 配置Cluster 添加所有服务器-->
    <bean id="redisClusterTwoConfiguration"
          class="org.springframework.data.redis.connection.RedisClusterConfiguration">
        <property name="maxRedirects" value="3"></property>
        <!-- 节点配置 -->
        <property name="clusterNodes">
            <set>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7001"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7002"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7003"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7004"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7005"></constructor-arg>
                </bean>
                <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                    <constructor-arg name="host" value="127.0.0.1"></constructor-arg>
                    <constructor-arg name="port" value="7006"></constructor-arg>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="redisClusterTwoConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg ref="redisClusterTwoConfiguration"/>
        <constructor-arg ref="redisPoolConfig"/>
    </bean>


    <!--################################################3-->


    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
          p:connection-factory-ref="redisSingleConnectionFactory" p:keySerializer-ref="stringRedisSerializer"
          p:valueSerializer-ref="jdkSerializationRedisSerializer"/>

    <bean id="redisUtil" class="com.myitschool.redisUtil.RedisUtil"></bean>

</beans>
