body{
    font-size: 25px;
    background-color: #e1e5e7;
}
button{
    font-size: 25px!important;
}
a{
    font-size: 25px;
}
li{
    list-style-type:none;
}
.ng-scope{
    margin: 0px;
}
.navLeft{
    height: 108vw;
    background-color: lightblue;
    .btn{
        margin: 10px;
        font-size: 25px;
    }
}
.main{
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    ul{
        float: right;
    };
    .admin{ 
        width: 100px;
        padding: 10px;
        border-right: solid 1px gainsboro;
    }
    #close{
        text-align: center;
        border: none;
    }
}
// 分页箭头样式修改
.pagination>li>a{
    float: none;
}
// 后台页默认样式
.row{
    h1{ 
        padding-top: 30px;
        padding-left: 30px;
    }
}
.title{
    padding: 10px 0px 10px 10px;
    background-color: #fff;
}
// 列表页样式
// 搜索栏
.form-control{
    height: auto;
    font-size: 25px;
}
.search{
    padding: 15px;
    padding-top: 40px;
    margin-top: 30px;
    background-color: #fff;
    input{
        margin-right: 30px;
        margin-left: 30px;
    }
    .line{
        padding-top: 35px;
        strong{
            padding-right: 30px;
        }
        .text{
            padding-left: 80px;
            padding-right: 30px;
        }
        .btn-default{
            padding-right: 170px;
            margin-right: 13px;
        }
        .btn-primary{
            padding-right: 175px;
        }
    }
    .btn-warp{
        padding-top: 30px;
        text-align: right;
    }
}
.lei{
    margin-right: 48px;
}
.article-list{
    background-color: #fff;
}
// 文章列表标题
.article-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    a{
        color: #fff;
    }
}
// 文章列表渲染
th{
    white-space: nowrap ;
}
td{
    vertical-align: middle !important;
    // max-width: 180px;
    // word-wrap: break-word;
    word-break: break-all;
}
.articleCtrl{
    white-space: nowrap ;
}
.table-responsive{
    margin: 15px;
    border: solid 1px gainsboro;
}
// 文章添加页面
.add-artical{
    margin: 20px 10px 10px 10px;
    border: 1px solid #fff;
    .add-title{
        padding: 10px 0px 0px 20px;
    }
    .artical-warp{
        padding: 20px 10px 10px 60px;
        margin-top: 10px;
        background-color: #fff;
        .line{
            padding-bottom: 20px;
        }
        input{
            width: 80%;
        }
        strong{
            padding-right: 30px;
        }
        .btn-success{
            margin-right: 20px;
        }
        // 取消按钮
        .btn-default{
            float: right;
            margin-right: 20px;
        }
    }
}
// 分页部分
.active{
    z-index: 2;
    color: #fff!important;
    cursor: default;
    background-color: #337ab7!important;
    border-color: #337ab7!important;
}
// 登陆页面
.login-warp{
    width: 100vw;
    height: 100vh; //不给出具体宽、高，背景图片无法显示
    background-image: url(../img/bg.jpg); 
    .login{
        position: fixed;
        top: 18%;
        width: 80%;
        margin-left: 10vw;
        padding-top: 3vw;
        padding-bottom: 4vw;
        font-weight: bold;
        text-align: center;
        border-radius: 40px;
        background-color: gainsboro;
        .login-title{
            color: #1d7ad9;
            font-size: 4vw;
        }
        div{
            padding-top: 2vh;
            img{
                position: relative;
                width: 3vw;
            }
            input{
                width: 58vw;
                padding: 1.5vh 3vw;
                margin-left: 3vw;
                font-size: 3vw;
                outline: none;
            }
        }
        #tip{
            font-size: 4vw;
            color: red;
        }
        #login{
            position: relative;
            top: 3vh;
            left: 3vw;
            width: 58vw;
            padding: 9px 0px;
            color: #fff;
            font-size: 4vw;
            background-color: #1d7ad9;
            border: none;
            border-radius: 1vw;
        }
    }
}
// 新增页面
label{
    font-size: 25px!important;
}
.form-control{
    display: inline-block;
}
.progressWarp{
    margin-top: -10px;
    margin-bottom: 30px;
    .progressBar{
        display: inline-block;
        width: 130px;
        margin-left: 20px;
    }
}
input{
    outline: none;
    border-radius: 8px;
}
button{
    outline: none;
}
#editor{
    width: 96%;
    margin-top: 20px;
}