body{
	margin:0;
	font-size: 62.5%;
	box-sizing: border-box;
	background-color: #fafafa;
}
header{
	height: 3rem;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #29b078;

}
.header-right{
    float: right;

}
.weixin{
	position: relative;
}
.extro-info1{
	position: absolute;
	top:130%;
	left: -1.8rem;
	display: none;
	width: 6rem;
	height: 6rem;
}
.weixin:hover .extro-info1{
	display: block;
}
@media screen and (max-width:425px) { 
	.header-left{
		display: none;
	}
	.header-left + div {
		width: 100%;
	}
 }

.menu{
	background-color:#26a26f;
	font-size: 1.2rem;
}
.navbar{
	background-color: #26a26f;
	border:none;
	margin:0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
	}
.navbar-nav {
    	margin: 0;
    	margin-right: -1rem;
	}
	.collapse{
		padding: 0;
	}
	.container-fluid{
		padding:0;
	}
	.navbar-default .navbar-toggle {
    	border:none;
    	float: right;
    	padding-right:0;
	}
	.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:unset; 
	}
	.nav li:hover{
		color: white;
		border-bottom: 3px solid white;
	}
	.nav li:hover a{
		margin-bottom: -3px;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

@media screen and (min-width:768px){
	.nav{
		float:right;
	}	
}
@media screen and (max-width: 768px){
	.navbar-nav {
    	margin: 0;
	}
}


#container{
			display: flex;
			flex-wrap: nowrap;
			position: relative;
			width: 100%;
			height: 30vw;
			padding: 0;
			overflow: hidden;
		}
		 #list {
            position: absolute;
            z-index: 1;
            left: -100%;
            width: 500%;
            /*height: 30rem;*/
        }
		#list img {
            float: left;
            width: 100vw;
            /*height: 30rem;*/
        }
		#buttons{
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			position: absolute;
			left: 47.5vw;
			bottom: 2vw;
			z-index: 2;
			height: 1vw;
			width: 5vw;
		}
		#buttons span{

			margin-right: 0.5vw;
			width: 1vw;
			height: 1vw;
			border:0.1px solid white;
			border-radius: 50%;
			cursor:pointer;
		}
		#buttons .on{
			background-color: white;
		}
		.arrow{
			position: absolute;
			top:48%;
			z-index: 2;
			width: 4vw;
			height: 4vw;
			font-size: 3.6vw;
			font-weight: bold;
			line-height: 4vw;
			text-align: center;
			color: #fff;
			background-color:rgba(120,123,134,0);
			cursor: pointer;
		}
		.arrow:hover{
			background-color: rgba(255,255,255,0);
			
		}
		#prev{
			left:8vw;
		}
		#next{
			right:8vw;
		}
		a:focus, a:hover {
   			color: white;
    		text-decoration: none;
		}

 .section1{
			margin-top: 5rem;
		}
		.box1{
			padding:0 2rem;
		}
		.row1{	
			width: 100%;
			text-align: center;
		}
		.row2{
			width: 100%;
			text-align: center;
			font-size: 1.6rem;
			font-weight: bold;
		}
		.row3{
			width: 100%;
			font-size: 1.2rem;
			color: #afafaf;
		}
		.number{
			font-size: 1.6rem;
			font-weight: bold;
			color: #29b078;
			margin: 0;
		}
		.sum{
			margin: 0.5rem;
			color: #afafaf;
			font-size: 1.2rem;
		}
		.box{
			border-left:1px dashed #afafaf;
			padding: 3rem 5rem;
		}

.title{
	margin-top: 4rem;
	font-size: 1.6rem;
	font-weight: bold;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
}

	.section2{
			margin-top: 2rem;

		}
		.quarter{
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			margin-top: 1rem;
		}
		.order{
			width: 4rem;
			text-align: center;
			height: 4rem;
			line-height:4rem;
			font-size: 1.6rem;
			font-weight: bold;
            color: #29b078;
            border:0.5px solid #afafaf;
            border-radius: 50%;
            background-color: #ffffff;
		}
		.step p{
			font-size: 1rem;
			color: #afafaf;
			margin: 0;
			padding: 0;
			width: 10rem;
			display: flex;
			align-items: center;
		}
		.icon{
			height: 3rem;
			line-height: 3rem;
			width: 3rem;
			text-align: center;
		}
		.icon img{
			height: 3rem;
			width: 3rem;
		}
@media screen and (max-width:768px){
	.step p{
		width: 50vw;
	}
}








.block{
			background-color: #ffffff;
			box-shadow: 0 0 0.1rem 0.1rem #afafaf;
			height: 23rem;
	        padding: 0 1rem;
	        margin-top:2rem;
		}
		.char{
			width: 100%;
			text-align: center;
			margin-top: 2rem;
		}
		.adviser{
			width: 100%;
			text-align: center;
			font-size: 1.6rem;
			font-weight: bold;
		    margin:2rem 0;
		}
		.intro{
			font-size: 1.2rem;
			color: #afafaf;
            margin-bottom: 1rem;
		}
@media screen and (max-width:780px){
	.block{
		padding:0 3rem;
	}
}

        .picture{
			width: 20%;
			margin-top: 3rem;
			height: 15rem;
			line-height: 15rem;
			background-color: white;
			text-align: center;
		}
		.picture:hover{
			box-shadow: 0 0 0.1rem 0.1rem #afafaf;
			z-index: 999;
		}
		.picture img{
			width:100%;+


		}
@media screen and (max-width:760px){
	.picture{
		width:95%;
		height: auto;
		text-align:center;
		margin-top:1rem;
		margin-left: 1rem;
	}
	.picture img{
		width:60%;
	}

}

.subtitle{
			text-align: center;
			font-size: 1.6rem;
			font-weight: bold;
			margin-top: 5rem;
			padding:1rem 0;
			background-color: white;
		}


.section5{
			background-color: white;
		}
		.col-md-1{
			width:10%;
		}
		ul{
			color: #afafaf;
			font-size: 1.2rem;
			padding-left: 1.2rem;
		}
		li{
			position: relative;
			color: #afafaf;
		}
		li a:link {
           font-size: 12px;
           text-decoration: none;
           color: #afafaf;
        }
        li a:visited {
           font-size: 12px;
           color: #afafaf;
           text-decoration: none;
        }
        li a:hover {
           font-size: 12px;
           color: #afafaf;
           text-decoration: none;
        }
		.extro-info3{
			position: absolute;
			bottom: -0.5rem;
			left: -1rem;
			width: 5rem;
			height: 0.2rem;
			background-color: #26a26f;
			display: none;
		}
		li:hover .extro-info3{
			display: block;
		}
@media screen and (max-width:992px){
	.col-sm-2{
		width:20%;
	}
	.row3{
		text-align: center;
	}
	.box{
		border:none;
	}
	.number,.sum{
		text-align: center;
	}
}
@media screen and (max-width:768px){
	.col-sm-2{
		width:25%;
	}
}
@media screen and (max-width:460px){
	.col-xs-6{
		width:50%;
	}
}

.section6{
			width: 100%;
			color: white;
			background-color: #26a26f;
		}
		.line1{
			height: 5rem;
			line-height: 5rem;
			font-size: 1.4rem;

		}
		.line2{
			height: 2rem;
			line-height: 2rem;
			font-size: 1rem;
		}
		.line2 span{
			padding-right: 3rem;
		}
		.box2{
			float: right;
		}
		.box2 .line{
			margin-top: 1rem;
			height: 2rem;
			font-size: 1.4rem;
		}
		.box2 img{
            height: 6rem;
		}
		.section6 a:link{
			color: white;
		}
		.section6 a:visited{
			color: white;
		}
		.section6 a:hover{
			color: white;
		}
@media screen and (max-width:760px){
	.section6{
		width:100%;

	}
	.box2{
		float:left;
	}
}
.section7{
	width: 100%;
	text-align: center;
	color: white;
	border-top: 1px solid green;
	background-color: #26a26f;
}
.menu{
	background-color:#29b078;
	font-size: 1.2rem;
}
.navbar{
	background-color:#29b078;
	border:none;
	margin:0;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	text-align: center;
	}
.navbar-nav {
			margin: 0;
			margin-right: -1rem;
	}
	.collapse{
			padding: 0;
	}
	.container-fluid{
			padding:0;
	}
	.navbar-default .navbar-toggle {
			border:none;
			float: right;
			padding-right:0;
	}
	.navbar-default .navbar-toggle .icon-bar {
	background-color:white;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color:unset; 
	}
	.nav{
			width: auto;
			border:none;
			float:right;
	}
	.nav li:hover{
			color: white;
			border-bottom: 3px solid white;
	}
	.nav li:hover a{
			margin-bottom: -3px;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
	background-color: transparent;
}

@media screen and (max-width:768px){
	.nav {
	 float: none;
	}  
	.navbar-nav {
			margin: 0;
	}
}   
.picture1{
					float:left;
					height: 4rem;
					vertical-align: middle;
			}
