.txt1{
    font-weight: bold;
}
.txt2{
    color: #29b078;
}
.txt3{
    font-size: 14px;
    color: #bebebe;
}
.txt4{
    font-weight: bold;
    color: #000;
}
.top{
    line-height: 80px;
    height: 80px;
    border-bottom: 2px solid #f2f3f3;
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid #f7f8f8;
}
.menu>div{
    height: 30px;
    font-size: 14px;
    margin-right: 2%;
}
.menu-box:hover .menu-hover{
    color: white;
    background-color: #29b078;
}
.title-top{
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #dedede;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}
.content{
    background-color: #fff;
    position: relative;
}
.content-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 170px;
    color: black;
}
.left-img{
    background: url("css_sprites.png") no-repeat -1861px -20px;
    width: 139px;
    height: 139px;
    margin: -15px;
    transform: scale(0.7);
}
.right-txt{
    flex: 1;
    height: auto;
}
.right-txt1{
    font-weight: bold;
}
.right-txt2{
    font-size: 12px;
}
.table-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-a{
    flex: 1;
    border: 1px solid #f2f2f3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-b{
    width: 40%;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-bottom: 1px solid #f2f2f3;
    border-left: 1px solid #f2f2f3;
}
.table-c{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
}
.table-c>div{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #f2f2f3;
    border-top: none;
}
.five-star{
    transform: scale(0.7);
}
.table-a b{
    color: #f4594d;
}
.table-4 b{
    color: #f4594d;
}
.table-4,.table-5{
    border-bottom: 1px solid #f2f2f3;
}
.content-hover{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4%;
    font-size: 14px;
    background-color: rgba(0,0,0,.8);
    transition-property: all;/*所有属性都有过渡效果*/
    transition-duration: 1s;/*过渡时间为2秒*/
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.content:hover .content-hover{
    visibility: visible;
    color: rgba(255,255,255,1);
}

.menu a{
    color: black;
}