a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	color: white;
}

h1{
	font-size: 18px;
	text-align: center;
	margin: auto;
	padding: 20px;
	font-weight: bold;
}

/*字体大小*/
.l-txt{
	color: #a5a5a5;
	font-size: 14px;
}
.xl-txt{
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}
.green-txt{
	color: #29b078;
	margin: 5px 15px;
	font-weight: 600;
}


/*top部分*/
.top-div{
	display: flex;
	flex-direction: column;/*主轴垂直起点在上沿*/
	justify-content: flex-start;
	align-items: center;
	margin: 100px 0 50px 0;
}
.top-div-border{
	border-left: 2px dashed #f4f4f4;
	padding: 60px 0;
}
.top-tips{
	display: flex;
	align-items: center;
}

.top-img{
	padding-top: 20px;
	height: 80px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.box1-1img{
	background: url("css_sprites.png") no-repeat -431px -20px;
	width: 43px;
	height: 62px;
}
.box1-2img{
	background: url("css_sprites.png") no-repeat -699px -20px;
	width: 60px;
	height: 48px;
}
.box1-3img{
	background: url("css_sprites.png") no-repeat -514px -20px;
	width: 52px;
	height: 55px;
}
/*middle部分*/
.box2{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 80px;
	flex-wrap: nowrap;
}
.top-box2{
	margin: 30px auto;
}
.box2-r{
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 0 10px;
	color: #29b078;
	font-weight: 500;
	flex-shrink: 0;
	box-shadow: 0 0 2px #333;
}
.box2:nth-child(2){
	flex: 1;
}
.box2-arrow{
	background: url("css_sprites.png") no-repeat -176px -20px;
	width: 22px;
	height: 20px;
	flex-shrink: 0;
}

/*优秀学员*/
.box3{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 360px;
	background: #fff;
	padding: 12px 32px;
	border-radius: 2px;
	box-shadow: 0 0 1px #999;
}
.top-box3{
	margin-top: 60px;
	margin-bottom: 120px;
}
.box3-1img{
	background: url("css_sprites.png") no-repeat -1079px -20px;
	width: 108px;
	height: 108px;
}
.box3-2img{
	background: url("css_sprites.png") no-repeat -931px -20px;
	width: 108px;
	height: 108px;
}
.box3-3img{
	background: url("css_sprites.png") no-repeat -1375px -20px;
	width: 108px;
	height: 108px;
}
.box3-4img{
	background: url("css_sprites.png") no-repeat -1227px -20px;
	width: 108px;
	height: 108px;
}
.box3-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box3-r{
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #f4f4f4;
	margin: 5px;
}
.box3-r-color{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.box3-r:hover .box3-r-color{
    background-color: #29b078;
}

/*企业图片*/
.box4{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.box4-wrap{
	background-color: white;
	padding: 5px;
}
.box4-hover{
	width: 100%;
	height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4-wrap:hover .box4-hover{
	box-shadow: 0 0 5px #333;
}
@media screen and (min-width: 1200px){
	.box4>.col-md-12 {
		flex: 0 0 20%;
	}
}

.box4-1img{
	background: url("css_sprites.png") no-repeat -2040px -20px;
	width: 144px;
	height: 54px;
}
.box4-2img{
	background: url("css_sprites.png") no-repeat -606px -20px;
	width: 53px;
	height: 58px;
}
.box4-3img{
	background: url("css_sprites.png") no-repeat -1687px -20px;
	width: 134px;
	height: 48px;
}
.box4-4img{
	background: url("css_sprites.png") no-repeat -2224px -20px;
	width: 169px;
	height: 41px;
}
.box4-5img{
	background: url("css_sprites.png") no-repeat -1523px -20px;
	width: 124px;
	height: 56px;
}



/*bottom*/
.bottom{
	background-color: white;
	margin-top: 80px;
	padding: 10px 0 20px 0;
}
.box5-wrap{
	width: 100%;
	height: 24px;
	text-align: center;
	font-size: 14px;
	color: #a0a0a0;
	font-weight: 700;
}
.box5-selected{
	width: 80px;
	height: 1px;
	margin: 0 auto;
}
.col-lg-12{
	flex: 0 0 10%;
}
.col-lg-12:hover .box5-selected{
	background-color: #29b078;
}

@media screen and (max-width: 992px){
	.col-lg-12{
		flex: 0 0 20%;
	}
}
@media screen and (max-width: 768px){
	.col-lg-12{
		flex: 0 0 25%;
	}
	.top-div{
		margin: 40px 0!important;
	}
	.top-div-border{
		padding: 0!important;
	}
	.box3{
		margin-bottom: 10px;
	}
	.top-box3{
		margin-bottom: 10px!important;
	}
}
@media screen and (max-width: 576px){
	.col-lg-12{
		flex: 0 0 50%;
	}
}