html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
  overflow: hidden;
}
footer {
  position: relative;
  background-color: #1ba36e;
}
.footer {
  position: relative;
  max-width: 120rem;
  padding: 5px;
  margin: auto;
  background-color: #1ba36e;
  color: white;
}
.footer-left {
  float: left;
  min-width: 30rem;
  margin: 0 -10px;
}
.footer-left li {
  float: left;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 1.4rem;
}
.footer-left li a {
  vertical-align: 0;
}
.footer-left .connect {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.footer-right {
  display: inline-block;
}
.footer-right li {
  float: left;
  width: 50%;
  margin: 5px 0;
  font-size: 1.4rem;
}
.footer-link {
  margin: 35px 0;
}
.footer-weblink {
  font-size: 1.6rem;
  margin: 3rem 0 5px 0;
}
.footer-title {
  padding-left: 10px;
  margin: 3rem 0;
  font-size: 1.6rem;
}
.footer-barcode {
  float: right;
  position: relative;
  top: -1rem;
  color: white;
}
.footer-text {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px;
}
.footer-copyright {
  padding: 5px;
  border-top: 1px solid #22cf8c;
  color: white;
  background-color: #1ba36e;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-barcode {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
  }
  .footer-link {
    margin: 1rem 0;
  }
  .footer-link li {
    padding-right: 5px;
  }
  .footer-title {
    margin: 1rem 0;
  }
  .footer-weblink {
    margin: 1rem 0;
  }
  .footer-right li {
    width: 35%;
  }
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
nav {
  background-color: #1ba36e;
}
li {
  font-size: 1.6rem;
}
input[type="checkbox"] {
  display: none;
}
a {
  color: white;
  text-decoration: none;
}
.nav-btn {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 15px;
  border: 1px solid white;
  border-radius: 10%;
}
.nav-btn .nav-bar {
  height: 4px;
  width: 30px;
  margin: 5px;
  background-color: white;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.nav {
  position: relative;
  background-color: #1ba36e;
}
.nav .nav-header {
  min-height: 60px;
  background-color: #1ba36e;
}
.nav .nav-logo {
  position: relative;
  width: 200px;
  top: 10px;
}
.nav .nav-logo img {
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}
.nav .list-wrapper {
  overflow: hidden;
}
.nav ul {
  display: block;
  padding: 0;
}
.nav li {
  color: white;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .nav {
    position: relative;
    max-width: 120rem;
    margin: auto;
  }
  .nav .nav-btn {
    display: none;
  }
  .nav .nav-header {
    float: left;
  }
  .nav .nav-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: auto;
  }
  .nav .nav-logo img {
    width: 100%;
    height: 100%;
  }
  .nav .list-wrapper {
    float: right;
  }
  .nav ul {
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .nav li {
    float: left;
    line-height: 36px;
    padding: 30px;
    border-bottom: 4px solid transparent;
    color: white;
    list-style: none;
    cursor: pointer;
  }
  .nav li:hover {
    border-color: white;
  }
}
@media screen and (max-width: 769px) {
  nav ul.drop-down {
    transition: margin-top 1s ease;
  }
  nav ul.drop-down li {
    cursor: pointer;
  }
  nav ul.drop-down a {
    vertical-align: -5px;
  }
  nav ul.drop-down li:hover a {
    background: white;
    color: #1ba36e;
  }
  nav ul.drop-down li:hover {
    background-color: white;
  }
  nav input:checked ~ ul {
    margin-top: -10.5rem;
  }
}
body {
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.mycontainer {
  width: 100%;
  max-width: 120rem;
  padding: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.myrow {
  margin-left: -15px;
  margin-right: -15px;
}
.myrow:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.mycol-sm-1 {
  width: 8.3333%;
}
.mycol-sm-2 {
  width: 16.6666%;
}
.mycol-sm-3 {
  width: 25%;
}
.mycol-sm-4 {
  width: 33.3333%;
}
.mycol-sm-5 {
  width: 41.6666%;
}
.mycol-sm-6 {
  width: 50%;
}
.mycol-sm-7 {
  width: 58.3333%;
}
.mycol-sm-8 {
  width: 66.6666%;
}
.mycol-sm-9 {
  width: 75%;
}
.mycol-sm-10 {
  width: 83.3333%;
}
.mycol-sm-11 {
  width: 91.6666%;
}
.mycol-sm-12 {
  width: 100%;
}
.mycol-tsm-1 {
  width: 10%;
}
.mycol-tsm-2 {
  width: 20%;
}
.mycol-tsm-3 {
  width: 30%;
}
.mycol-tsm-4 {
  width: 40%;
}
.mycol-tsm-5 {
  width: 50%;
}
.mycol-tsm-6 {
  width: 60%;
}
.mycol-tsm-7 {
  width: 70%;
}
.mycol-tsm-8 {
  width: 80%;
}
.mycol-tsm-9 {
  width: 90%;
}
.mycol-tsm-10 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mycol-sm-1,
  .mycol-sm-2,
  .mycol-sm-3,
  .mycol-sm-4,
  .mycol-sm-5,
  .mycol-sm-6,
  .mycol-sm-7,
  .mycol-sm-8,
  .mycol-sm-9,
  .mycol-sm-10,
  .mycol-sm-11,
  .mycol-sm-12,
  .mycol-tsm-1,
  .mycol-tsm-2,
  .mycol-tsm-3,
  .mycol-tsm-4,
  .mycol-tsm-5,
  .mycol-tsm-6,
  .mycol-tsm-7,
  .mycol-tsm-8,
  .mycol-tsm-9,
  .mycol-tsm-10 {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .mycol-sm-1,
  .mycol-sm-2,
  .mycol-sm-3,
  .mycol-sm-4,
  .mycol-sm-5,
  .mycol-sm-6,
  .mycol-sm-7,
  .mycol-sm-8,
  .mycol-sm-9,
  .mycol-sm-10,
  .mycol-sm-11,
  .mycol-sm-12,
  .mycol-tsm-1,
  .mycol-tsm-2,
  .mycol-tsm-3,
  .mycol-tsm-4,
  .mycol-tsm-5,
  .mycol-tsm-6,
  .mycol-tsm-7,
  .mycol-tsm-8,
  .mycol-tsm-9,
  .mycol-tsm-10 {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  .mycol-sm-1:after,
  .mycol-sm-2:after,
  .mycol-sm-3:after,
  .mycol-sm-4:after,
  .mycol-sm-5:after,
  .mycol-sm-6:after,
  .mycol-sm-7:after,
  .mycol-sm-8:after,
  .mycol-sm-9:after,
  .mycol-sm-10:after,
  .mycol-sm-11:after,
  .mycol-sm-12:after,
  .mycol-tsm-1:after,
  .mycol-tsm-2:after,
  .mycol-tsm-3:after,
  .mycol-tsm-4:after,
  .mycol-tsm-5:after,
  .mycol-tsm-6:after,
  .mycol-tsm-7:after,
  .mycol-tsm-8:after,
  .mycol-tsm-9:after,
  .mycol-tsm-10:after {
    content: "";
    clear: both;
    display: block;
  }
}
.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}
.all-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#last-col {
  border: none;
}
#last-row {
  border: none;
}
#first-row {
  border-top: 1px solid #d0d6d9;
}
.bold-red {
  font-weight: bold;
  color: #f01400;
}
.text-red {
  color: #f01400;
}
.mycol-sm-4 {
  position: relative;
}
.myrow {
  margin: 2rem 0;
}
header .service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 15px;
  max-width: 120rem;
  color: #1db176;
  font-size: 1.4rem;
}
main {
  background-color: #ededed;
}
.sub-nav {
  margin: 2rem 0;
  font-size: 1.6rem;
}
.active-green {
  color: #1db176;
}
.direction__title {
  float: left;
  color: #999999;
  font-size: 1.4rem;
}
.direction__item {
  float: left;
  margin: 0 1rem;
  font-size: 1.4rem;
}
.direction__item:hover {
  background-color: #1db176;
}
.direction__item a {
  color: black;
}
.direction__item a:hover {
  color: white;
}
.front__unit {
  border: 1px solid #d0d6d9;
  background-color: white;
  font-size: 1.2rem;
  color: #999999;
}
.front__title {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #d0d6d9;
  font-size: 1.6rem;
  font-weight: bold;
}
.front__head {
  float: left;
}
.front__head img {
  display: block;
}
.front__intro:after,
.front__divide-2:after,
.front__divide-3:after {
  content: "";
  clear: both;
  display: block;
}
.front__intro {
  padding: 1.5rem 1rem;
}
.front__head {
  padding-right: 0.5rem;
}
.front__intro-detail {
  margin-top: 1rem;
  overflow: hidden;
}
.front__name {
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
}
.front__divide-2,
.front__divide-3 {
  border-bottom: 1px solid #d0d6d9;
}
.front__cell-2,
.front__cell-3 {
  border-right: 1px solid #d0d6d9;
  box-sizing: border-box;
}
.front__cell-2 {
  float: left;
  width: 50%;
  padding: 1rem ;
}
.front__cell-3 {
  position: relative;
  float: left;
  width: 33.33333%;
  min-height: 11rem;
  text-align: center;
}
.front__cell-3 div {
  padding: 1rem 0;
  border-bottom: 1px solid #d0d6d9;
}
.front__salary {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.front__number {
  border-bottom: 1px solid #d0d6d9;
  padding: 1rem;
}
.front__prompt {
  padding: 1rem;
}
.hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(61, 61, 61, 0.9);
  box-sizing: border-box;
}
.hover__title {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}
.hover__content {
  padding: 2rem 4rem;
  line-height: 2.5rem;
  text-align: justify;
}
.front__unit:hover + .hover,
.hover:hover {
  display: block;
}
@media screen and (max-width: 600px) {
  .mycontainer {
    padding: 5px;
  }
  .myrow {
    margin: 1rem 0;
  }
  .sub-nav {
    margin: 0;
  }
  .direction {
    padding: 0;
  }
  .direction__title,
  .direction__item {
    float: none;
    text-align: center;
  }
  .direction__title {
    display: none;
  }
  .direction__item {
    padding: 5px 0;
  }
  .hover__title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .hover__content {
    padding-top: 0;
  }
}
