html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
  overflow: hidden;
}
footer {
  position: relative;
  background-color: #1ba36e;
}
.footer {
  position: relative;
  max-width: 120rem;
  padding: 5px;
  margin: auto;
  background-color: #1ba36e;
  color: white;
}
.footer-left {
  float: left;
  min-width: 30rem;
  margin: 0 -10px;
}
.footer-left li {
  float: left;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 1.4rem;
}
.footer-left li a {
  vertical-align: 0;
}
.footer-left .connect {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.footer-right {
  display: inline-block;
}
.footer-right li {
  float: left;
  width: 50%;
  margin: 5px 0;
  font-size: 1.4rem;
}
.footer-link {
  margin: 35px 0;
}
.footer-weblink {
  font-size: 1.6rem;
  margin: 3rem 0 5px 0;
}
.footer-title {
  padding-left: 10px;
  margin: 3rem 0;
  font-size: 1.6rem;
}
.footer-barcode {
  float: right;
  position: relative;
  top: -1rem;
  color: white;
}
.footer-text {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px;
}
.footer-copyright {
  padding: 5px;
  border-top: 1px solid #22cf8c;
  color: white;
  background-color: #1ba36e;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-barcode {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
  }
  .footer-link {
    margin: 1rem 0;
  }
  .footer-link li {
    padding-right: 5px;
  }
  .footer-title {
    margin: 1rem 0;
  }
  .footer-weblink {
    margin: 1rem 0;
  }
  .footer-right li {
    width: 35%;
  }
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
nav {
  background-color: #1ba36e;
}
li {
  font-size: 1.6rem;
}
input[type="checkbox"] {
  display: none;
}
a {
  color: white;
  text-decoration: none;
}
.nav-btn {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 15px;
  border: 1px solid white;
  border-radius: 10%;
}
.nav-btn .nav-bar {
  height: 4px;
  width: 30px;
  margin: 5px;
  background-color: white;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.nav {
  position: relative;
  background-color: #1ba36e;
}
.nav .nav-header {
  min-height: 60px;
  background-color: #1ba36e;
}
.nav .nav-logo {
  position: relative;
  width: 200px;
  top: 10px;
}
.nav .nav-logo img {
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}
.nav .list-wrapper {
  overflow: hidden;
}
.nav ul {
  display: block;
  padding: 0;
}
.nav li {
  color: white;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .nav {
    position: relative;
    max-width: 120rem;
    margin: auto;
  }
  .nav .nav-btn {
    display: none;
  }
  .nav .nav-header {
    float: left;
  }
  .nav .nav-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: auto;
  }
  .nav .nav-logo img {
    width: 100%;
    height: 100%;
  }
  .nav .list-wrapper {
    float: right;
  }
  .nav ul {
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .nav li {
    float: left;
    line-height: 36px;
    padding: 30px;
    border-bottom: 4px solid transparent;
    color: white;
    list-style: none;
    cursor: pointer;
  }
  .nav li:hover {
    border-color: white;
  }
}
@media screen and (max-width: 769px) {
  nav ul.drop-down {
    transition: margin-top 1s ease;
  }
  nav ul.drop-down li {
    cursor: pointer;
  }
  nav ul.drop-down a {
    vertical-align: -5px;
  }
  nav ul.drop-down li:hover a {
    background: white;
    color: #1ba36e;
  }
  nav ul.drop-down li:hover {
    background-color: white;
  }
  nav input:checked ~ ul {
    margin-top: -10.5rem;
  }
}
body {
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.mycontainer {
  width: 100%;
  max-width: 120rem;
  padding: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.myrow {
  margin-left: -15px;
  margin-right: -15px;
}
.myrow:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.mycol-sm-1 {
  width: 8.3333%;
}
.mycol-sm-2 {
  width: 16.6666%;
}
.mycol-sm-3 {
  width: 25%;
}
.mycol-sm-4 {
  width: 33.3333%;
}
.mycol-sm-5 {
  width: 41.6666%;
}
.mycol-sm-6 {
  width: 50%;
}
.mycol-sm-7 {
  width: 58.3333%;
}
.mycol-sm-8 {
  width: 66.6666%;
}
.mycol-sm-9 {
  width: 75%;
}
.mycol-sm-10 {
  width: 83.3333%;
}
.mycol-sm-11 {
  width: 91.6666%;
}
.mycol-sm-12 {
  width: 100%;
}
.mycol-tsm-1 {
  width: 10%;
}
.mycol-tsm-2 {
  width: 20%;
}
.mycol-tsm-3 {
  width: 30%;
}
.mycol-tsm-4 {
  width: 40%;
}
.mycol-tsm-5 {
  width: 50%;
}
.mycol-tsm-6 {
  width: 60%;
}
.mycol-tsm-7 {
  width: 70%;
}
.mycol-tsm-8 {
  width: 80%;
}
.mycol-tsm-9 {
  width: 90%;
}
.mycol-tsm-10 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mycol-sm-1,
  .mycol-sm-2,
  .mycol-sm-3,
  .mycol-sm-4,
  .mycol-sm-5,
  .mycol-sm-6,
  .mycol-sm-7,
  .mycol-sm-8,
  .mycol-sm-9,
  .mycol-sm-10,
  .mycol-sm-11,
  .mycol-sm-12,
  .mycol-tsm-1,
  .mycol-tsm-2,
  .mycol-tsm-3,
  .mycol-tsm-4,
  .mycol-tsm-5,
  .mycol-tsm-6,
  .mycol-tsm-7,
  .mycol-tsm-8,
  .mycol-tsm-9,
  .mycol-tsm-10 {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .mycol-sm-1,
  .mycol-sm-2,
  .mycol-sm-3,
  .mycol-sm-4,
  .mycol-sm-5,
  .mycol-sm-6,
  .mycol-sm-7,
  .mycol-sm-8,
  .mycol-sm-9,
  .mycol-sm-10,
  .mycol-sm-11,
  .mycol-sm-12,
  .mycol-tsm-1,
  .mycol-tsm-2,
  .mycol-tsm-3,
  .mycol-tsm-4,
  .mycol-tsm-5,
  .mycol-tsm-6,
  .mycol-tsm-7,
  .mycol-tsm-8,
  .mycol-tsm-9,
  .mycol-tsm-10 {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  .mycol-sm-1:after,
  .mycol-sm-2:after,
  .mycol-sm-3:after,
  .mycol-sm-4:after,
  .mycol-sm-5:after,
  .mycol-sm-6:after,
  .mycol-sm-7:after,
  .mycol-sm-8:after,
  .mycol-sm-9:after,
  .mycol-sm-10:after,
  .mycol-sm-11:after,
  .mycol-sm-12:after,
  .mycol-tsm-1:after,
  .mycol-tsm-2:after,
  .mycol-tsm-3:after,
  .mycol-tsm-4:after,
  .mycol-tsm-5:after,
  .mycol-tsm-6:after,
  .mycol-tsm-7:after,
  .mycol-tsm-8:after,
  .mycol-tsm-9:after,
  .mycol-tsm-10:after {
    content: "";
    clear: both;
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
}
.slide-component {
  overflow: hidden;
}
.slide-component img {
  display: block;
  width: 100%;
  height: 100%;
}
ul,
li {
  list-style: none;
}
.slide-component {
  position: relative;
}
.slider-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.slider {
  height: 100%;
  width: 800%;
  animation: change 10s linear infinite;
}
.slider-item {
  float: left;
  height: 100%;
  width: 12.5%;
}
.mark {
  position: absolute;
  z-index: 100;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.mark__unit {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.mark__unit::after {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  background-color: #53cef3;
  opacity: 0;
}
#unit1::after {
  animation: unit1-display 10s linear infinite;
}
input {
  display: none;
}
#input1:checked ~ .slider {
  animation-name: change1;
  margin-left: 0;
}
#input2:checked ~ .slider {
  animation-name: change2;
  margin-left: -100%;
}
#input3:checked ~ .slider {
  animation-name: change3;
  margin-left: -200%;
}
@keyframes change1 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  80% {
    margin-left: -200%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes change2 {
  0% {
    margin-left: -100%;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  60% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  90% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}
@keyframes change3 {
  0% {
    margin-left: -200%;
  }
  20% {
    margin-left: -200%;
  }
  30% {
    margin-left: -300%;
  }
  50% {
    margin-left: -300%;
  }
  60% {
    margin-left: -400%;
  }
  80% {
    margin-left: -400%;
  }
  90% {
    margin-left: -500%;
  }
  100% {
    margin-left: -500%;
  }
}
@media screen and (max-width: 768px) {
  .mark__unit {
    width: 0.5rem;
    height: 0.5rem;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
.slide__sets {
  padding: 0;
}
.slide__item {
  float: left;
  width: 50%;
  height: 100%;
  list-style: none;
}
.slide-click {
  position: relative;
  padding: 10px 0 30px;
  width: 100%;
  overflow: hidden;
}
.slide__wrapper {
  width: 200%;
  transition: margin 1s ease;
}
.slide__sets {
  width: 100%;
}
.slide__input {
  display: none;
}
.slide__input:checked + label::before {
  background-color: #1db176;
}
#picture1:checked ~ .slide__wrapper {
  margin-left: 0;
}
#picture2:checked ~ .slide__wrapper {
  margin-left: -100%;
}
.switch__mark {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.switch__mark::before {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #1db176;
  content: "";
}
#switch1 {
  position: absolute;
  bottom: 5px;
  left: 48%;
  transform: translateX(-50%);
}
#switch2 {
  position: absolute;
  bottom: 5px;
  left: 52%;
  transform: translateX(-50%);
}
.learn__circle {
  padding: 3rem 3.5rem;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #1db176;
  background-color: white;
  box-shadow: 0 3px 8px #999;
}
.myrow {
  position: relative;
}
.mycol-tsm-2 {
  position: relative;
  min-height: 18rem;
}
.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}
.all-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 15px;
  max-width: 120rem;
  color: #1db176;
  font-size: 1.4rem;
}
.service__icon img {
  margin: 0 2px;
}
main {
  padding: 20px;
  background-color: #ededed;
}
.learn__title,
.student__title,
.link__title,
.coperation__title {
  margin: 12rem 0 5rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.specialty__unit {
  position: relative;
  min-height: 22rem;
}
.specialty__icon {
  display: inline-block;
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
}
.specialty__icon img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.specialty__title {
  margin: 3.3rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.specialty__text {
  margin: 1.5rem 0 3rem 0;
  font-size: 1.6rem;
  color: #999999;
}
.specialty__statistics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}
.specialty__number {
  font-size: 1.6rem;
  color: #1db176;
}
.learn__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.learn__text {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #999999;
}
.student__unit {
  padding: 3rem;
  background-color: white;
  box-shadow: 0 2px 5px #999;
}
.student__name {
  margin: 2rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.student__intro {
  text-align: justify;
  font-size: 1.6rem;
  color: #999999;
}
.coperation {
  overflow: visible;
}
.coperation__sets {
  background-color: white;
  box-shadow: 0 0 10px #999;
}
.coperation__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mycol-tsm-2 {
  cursor: pointer;
}
.mycol-tsm-2:hover {
  box-shadow: 0 0 10px #999;
}
.link__list {
  padding: 1rem;
  cursor: pointer;
}
.link__list li {
  float: left;
  position: relative;
  width: 10%;
  font-size: 1.4rem;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}
.link__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}
.link__list li:hover {
  border-bottom: 1px solid #1db176;
}
#statistics {
  border-left: 1px dashed #999999;
}
@media screen and (max-width: 768px) {
  .specialty__statistics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    text-align: center;
  }
  .learn__unit {
    position: relative;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
  }
  .learn__text {
    margin: 0 5rem;
  }
  .learn__arrow {
    position: absolute;
    right: 2%;
  }
  .link__list li {
    width: 20%;
    margin: 5px 0;
  }
  #switch1 {
    left: 45%;
  }
  #switch2 {
    left: 55%;
  }
  #statistics {
    border: none;
  }
}
@media screen and (max-width: 426px) {
  .link__list li {
    width: 50%;
  }
  .learn__unit {
    position: relative;
    justify-content: flex-start;
    padding-left: 0%;
    padding-right: 0%;
  }
  .learn__text {
    margin: 0 4rem 0 2rem;
  }
}
