html,body,button,ul,li,span,i,button,div,a,p{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.dropdown-menu{
	width: 100%;
	min-width: 108px;
	text-align: center;
	list-style: none;
}
.dropdown-menu a{
	text-decoration: none;
	outline: none;
	color: #000;
}
.head{
	position: absolute;
	top: 0;
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #ccc;
}
.choice{
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #68cdd5;
}
.my-btn-group{
	margin-top: 7px;
	height: 45px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.row-select,.dropdown{
	height: 50px;
}
.col-select{
	margin: 0;
	padding: 0;
	height: 50px;
	border-right: 1px solid #ccc;
}
.col-border{
	border-right: 1px solid #ccc;
}
.my-button{
	width: 100%;
	height: 100%;
	font-size: 16px;
	background:transparent;
	border:none;
	outline: none;
}
.employer{
	width: 90px;
	height: 100%;
	font-size: 18px;
	border-radius: 10px;
	background-color: #55a8b3;
	outline: none;
	border: none;
	color: #fff;
}
.worker{
	width: 90px;
	height: 100%;
	font-size: 18px;
	border-radius: 10px;
	background-color: #fff;
	outline: none;
	border: none;
	color: #68cdd5;
}
.map{
	position: absolute;
	right: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-color: transparent;
	border: none;
	outline: none;
}
.icon-map{
	margin-left: 30px;
	width: 21px;
	height: 24px;
	display: block;
	background-position: -95px 0;
}
.foot {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	background-color: #f8fafb;
}
.main{
	position: absolute;
	top: 110px;
	bottom: 60px;
	width: 100%;
	overflow: auto;
}
.container{
    width: 100%;
    height: 100%;
}
.col{
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
}
.col6-left{
	width: 60%;
}
.col6-right{
	width: 40%;
}
i{
	background-image: url(images/icon6.png);
	background-size: 199px;
	background-repeat: no-repeat;
}

.row-border{
	border-bottom: 1px solid #ccc;
}
.icon-date{
	float: left;
	margin: 9px 8px;
	height: 12px;
	width: 15px;
	background-position: -169px 0;
}
.icon-right{
	float: right;
	margin: 7px 10px;
	height: 16px;
	width: 11px;
	background-position: -151px 0;
}
.icon-address{
	float: left;
	margin: 9px 10px;
	height: 12px;
	width: 10px;
	background-position: -189px 0;
}
.icon-home{
	margin: 0 auto;
	background-position: -63px 0;
	height: 26px;
	width: 25px;
	display: block;
}
.icon-write{
	margin: 0 auto;
	background-position: 0 0;
	height: 50px;
	width: 54px;
	display: block;
}
.icon-my{
	margin: 0 auto;
	background-position: -123px 0;
	height: 22px;
	width: 21px;
	display: block;
}
.word-grey{
	display: block;
	color: #ccc;
	overflow:hidden; /*超出宽度部分的隐藏*/
	white-space:nowrap; /*文字不换行*/
	text-overflow:ellipsis; /*超出则...代替*/
}
.word-black{
	display: block;
	margin-left: 31px;
	overflow:hidden; /*超出宽度部分的隐藏*/
	white-space:nowrap; /*文字不换行*/
	text-overflow:ellipsis; /*超出则...代替*/
}
.word-red{
	float: right;
	color: #e63b0e;
}
.box-home{
	height: 60px;
	width: 60px;
	font-size: 14px;
	border: none;
	outline: none;
	color: #68cdd5;
	background-color: transparent;
}
.box-write{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 60px;
	width: 60px;
	background-color: transparent;
	border: none;
	outline: none;
}
.box-my{
	height: 60px;
	width: 60px;
	color: #ccc;
	font-size: 14px;
	background-color: transparent;
	border: none;
	outline: none;
}
.col-foot{
	height: 60px;
	text-align: center;
}
