*{ margin: 0;
    padding: 0;}
    .box1 {
        width: 100%;
        height: 39px;
        position: relative;
        margin: 0;
        left: 0;}
    .box1{
        display: none;}
    .boxm1 {
        display: block;
        width: 100%;
        height: 39px;
        background-color: white;
        padding: 0 15px;
        line-height: 39px;
        font-size: 20px;
        text-align: right;
        position: relative;}
    .boxm1 span {
        margin-right: 10px;}
    .boxm1line {
        width: 1px;
        height: 31px;
        background-color: #29b078;
        position: absolute;
        top: 4px;
        right: 72px;}
    .box2 {
        display: none;}
    nav {
        display: block;
        border: none;}
    .navbox {
        background-color: #29b078;
        text-align: center;
        margin-bottom: 0;
        border: none;}
    .navbar-header {
        height: 60px;}
    .navbar-collapse {
        border: none;}
    .navbar-toggle {
        height: 40px;
        background-color: none;}
    ul li {
        height: 50px;}
    .navbar-default .navbar-nav>li>a {
        color: white;
        font-size: 20px;}

    .box4 {
        width: 100%;
        margin: 0;
        left: 0;}
    .box6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    .box7 {
        width: 80%;
        margin-bottom: 20px; }
    .box8 {
        height: auto;
        width: 80%;
        margin: 60px 0; }
    .box9 {
        height: 80px;
        font-size: 30px;
        line-height: 80px;
        font-weight: normal;}
    .box23 {
            width: 100%;
            height: 590px;
            position: relative;}
    .box24 {
            height: 60px;}
    .box26 {
            width: 100%;
            height: 450px;
            left: 0;
            top:0;
            margin: 0;}






    .word1 {
        font-size: 14px;
        color: #29b078;
        position: absolute;
        left: 30px;}
    .word2 {
        display: none;}
    .word17 {
        font-size: 22px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        top: 10px;
        left: 30px;}
    .word18 {
        font-size: 10px;
        position: absolute;
        color: white;
        font-family: 微软雅黑;
        left: 30px;
        top: 35px;}
    .word16 {
        position: absolute;
        top: 5%;
        left: 5%;}
    .word161 {
        position: absolute;
        top: 15%;
        left: 5%;}
    .word162 {
        position: absolute;
        top: 25%;
        left: 5%;}
    .word163 {
        position: absolute;
        top: 35%;
        left: 5%;}
    .word164 {
        position: absolute;
        top: 45%;
        left: 5%;}
    .word165 {
        position: absolute;
        top: 55%;
        left: 5%;}
    .word166 {
        position: absolute;
        top: 65%;
        left: 5%;}
    .word167 {
        width: 100px;
        position: absolute;
        top: -30%;
        left: -3px;}






    .img2  {
        position: absolute;
        right: 10px;
        top: 7px;
        width: 25px;
        height: 24px;
        background: url(images/1-21.png);}
    .img3 {
        position: absolute;
        top: 7px;
        right: 40px;
        width: 25px;
        height: 24px;
        background: url(images/1-20.png);}
    .img4 {
        position: absolute;
        top: 7px;
        right: 70px;
        width: 25px;
        height: 24px;
        background: url(images/1-19.png);}
    .img13 {
            top: 93%;
            left: 5%;}
    .img14 {
        width: 39px;
        height: 40px;
        background: url(images/1-24.png);
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 10%;
        border: none;}
    .img14hidden {
        position: absolute;
        left: 60%;
        display: none;
        width: 150px;
        height: 200px;
        margin: 0;
        padding: 0;
        z-index: 10;
        outline: none;}
    .btn {
        display: block;}
    .dropdown-backdrop {
        display: none;}
    .content {
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;}
