f*{ margin: 0;
	padding: 0;}
    .box1 {
        width: 1200px;
        height: 39px;
        line-height: 39px;
        position: relative;
        left: 50%;
        margin-left: -600px;}
    .box2 {
        width: 100%;
        height: 99px;
        background-color: #29b078;
        line-height: 99px;
        position: relative;}
    .box2child {
        width: 1200px;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -600px;
        overflow: hidden;}
    .boxm1 {
        display: none;}
    nav {
        display: none;}
    .box3 {
        width: 100%;
        position: relative;}
    .box4 {
        width: 1200px;
        position: relative;}
    .box5 {
        width: 100%;
        height: 78px;
        background-color: white;
        line-height: 78px;}
    .box5 span {
        color: #29b078;}
    .box6{
        width: 100%;
    	display: flex;
    	justify-content: space-between;
    	flex-wrap: wrap;}
    .box7 {
        width: 26%;
        height: 708px;
        box-shadow: 0px 0px 2px lightgrey;}
    .box8 {
        width: 70%;
        margin-bottom: 80px;
        box-shadow: 0px 0px 2px lightgrey;}
    .box9 {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #e6e6e6;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        font-size: 16px}
    .box10 {
        width: 100%;
        height: 658px;
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;}
    .box11 {
        width: 90px;
        height: 20px;
        border: none;
        background-color: white;
        position: relative;
        color: #29b078;}
    .box11hidden {
        color: #ff650e;
        z-index: 10;
        position: absolute;
        top: 0;
        background-color: white;}
    .orange {
        display: none;
        z-index: 10;}

    .box11:hover .orange{
        display: block;}

    .box11 span{
        margin-left: 15px;}
    .box12 {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid #fe6711;
        position: absolute;
        left: 0px;
        top: 5px;}
    .box12hidden {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #f9a372;
        border: 1px solid #fe6711;
        position: absolute;
        left: 0px;
        top: 5px;
        z-index: 11;}
    .box13 {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
		display: flex;
		align-items: center;
		flex-wrap: wrap;}
    .box14 {
        width: 100%;
        color: #999999;
        display: flex;
        justify-content: center;
    	flex-wrap: wrap;}
    .box15 {
    	margin: 35px 0 ;
        width: 80%;}
    .box23 {
        width: 100%;
        height: 202px;
        font-size: 16px;
        color: white;
        position: relative;
        background-color: #26a26f;}
    .box24 {
        text-align: center;
        line-height: 31px;
        width: 100%;
        height: 31px;
        border: 1px solid #32c086;
        position: absolute;
        bottom: 0;}
    .box25{
    	display: flex;
    	justify-content: center;}
    .box26 {
        width: 1200px;
        height: 170px;
        position: absolute;
        left: 50%;
        margin-left: -600px;}
    .box26hidden {
        display: none;
        width: 100%;
        height: 20px;
        position: absolute;
        top: 0;
        border-bottom: 1px solid white;}
    .box26 div:hover .box26hidden{
        display: block;}
    .btn {
        display: none;}















    .word1 {
        font-size: 14px;
        color: #29b078;}
    .word2 {
        font-size: 16px;
        color: white;
        position: absolute;
        right: -34px;}
    .word2 a {
        display: inline-block;
        width: 99px;
        height: 99px;
        text-align: center;
        cursor: pointer;
        color: white;
        text-decoration: none;}
    .word2hidden {
        display: none;
        width: 99px;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: 0;
        z-index: 100;}
    .word2 a:hover .word2hidden{
        display: block;}
    .word3 {
        color: #999999;
        font-size: 14px;
        line-height: 26px;
        width: 65%;
    	margin: 30px 0;}
    .word16 {
        position: absolute;
        top: 15%;
        left: 0%;}
    .word161 {
        position: absolute;
        top: 55%;
        left: 0%;}
    .word162 {
        position: absolute;
        top: 15%;
        left: 25%;}
    .word163 {
        position: absolute;
        top: 35%;
        left: 25%;}
    .word164 {
        position: absolute;
        top: 35%;
        left: 34%;}
    .word165 {
        position: absolute;
        top: 55%;
        left: 25%;}
    .word166 {
        position: absolute;
        top: 55%;
        left: 34%;}
    .word167 {
        width: 100px;
        position: absolute;
        top: -30%;
        left: -3px;}
    .word17 {
        font-size: 38px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;}
    .word18 {
        font-size: 10px;
        position: absolute;
        color: white;
        font-family: 造字工房朗倩（非商用）;
        top: 26%;}












    .img1 {
        width: 100%;
        position: relative;}
    .img2  {
        position: absolute;
        top: 7px;
        right: 0;
        width: 25px;
        height: 24px;
        background: url(images/1-19.png);}
    .img3 {
        position: absolute;
        top: 7px;
        right: 3%;
        width: 25px;
        height: 24px;
        background: url(images/1-20.png);}
    .img4 {
        position: absolute;
        top: 7px;
        right: 6%;
        width: 25px;
        height: 24px;
        background: url(images/1-21.png);}
    .img5 {
        width: 134px;
        height: 122px;
        background: url(images/1-1.png);
    	margin: 0 50px;}

    .img13 {
        width: 92px;
        height: 92px;
        background: url(images/1-16.png) no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        right: 5%;}

