.circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 6px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
#active {
  background-color: #29bde0;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 2.8rem solid #fbb435;
  border-top: 2.8rem solid transparent;
  border-bottom: 2.8rem solid transparent;
}
.abs-ver-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
label {
  position: absolute;
  top: 2rem;
  left: 20px;
  transition: left 1s ease;
}
input {
  display: none;
}
input:checked ~ .body {
  margin-left: 0px;
}
input:checked ~ label {
  left: 532px;
}
.body-wrap {
  position: relative;
  width: 100%;
  overflow: auto;
}
.body {
  width: 1152px;
  margin-left: -512px;
  transition: margin 1s ease;
}
.slide-nav {
  float: left;
  width: 512px;
}
.home {
  overflow: hidden;
  background-color: #f0f0f0;
}
header {
  height: 8rem;
  background-color: #29bde0;
}
main {
  padding: 3.5rem 3.5rem 5rem 3.5rem;
}
.last-game {
  padding: 3.5rem 0;
  border: 1px solid #d9d9d9;
  margin-bottom: 2.5rem;
  text-align: center;
  background-color: white;
}
.last-game img {
  position: relative;
  float: right;
  right: 10px;
}
.last-game-text {
  font-size: 3.5rem;
  color: #b9b9b9;
}
.game {
  position: relative;
  border: 1px solid #d9d9d9;
  background-color: white;
}
.game-title {
  padding: 3rem 0;
  border-bottom: 1px solid #fbb435;
  color: #fbb435;
  font-size: 3.5rem;
  text-align: center;
}
.game-select {
  text-align: center;
}
.game-version {
  display: inline-block;
  width: 46rem;
}
#simple-version {
  margin-top: 2rem;
}
button.game-btn {
  width: 46rem;
  height: 13rem;
  border: none;
  font-size: 3.2rem;
  background-color: #29bde0;
  color: white;
}
.game-text {
  margin: 2rem;
  font-size: 2.4rem;
  color: #a0a0a0;
}
.circle-wrap {
  padding: 10px 0;
  text-align: center;
}
ul {
  padding: 0;
}
li {
  padding: 1.5rem 2rem;
  border-bottom: 2px solid #d9d9d9;
  font-size: 3.2rem;
  color: #29bde0;
  list-style: none;
}
li img {
  width: 10%;
  margin: 0 1rem;
  vertical-align: bottom;
}
