

body {
    margin: 0;
    box-sizing: border-box;
}
ul{
    margin: 6.6rem 0 2.8rem 0;
    padding: 0;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.header {
    text-align: center;
    position: fixed;
    top:0;
    height: 3.5rem;
    width: 100%;
    line-height: 3.8rem;
    background-color: #5fc0cd;
    z-index: 1;
}

.head-a {
    display: inline-block;
    text-align: center;
    line-height: 2.7rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 2.7rem;
    background-color: #55a8b3;
}

.head-b {
    height: 1rem;
    padding: 0.7rem 0.1rem 0.7rem 0.55rem;
    color: #ffffff;
}

.head-c {
    display: inline-block;
    width: 4.05rem;
    height: 2.7rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #5fc0cd
}

.head-d {
    position: absolute;
    top:1.3rem;
    right: 1rem;
    width: 1.5rem;
}
/* ______________________________ */
.second {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.1rem #e1e5e7;
    margin-top: -3.08rem;
    width: 100%;
    height: 2.7rem;
    font-size: 0.87rem;
    z-index: 1;
    color: #999999;
    background: #ffffff;
}

.second > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.7rem;
}

.second > span > span {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width:80%;
}

.second > span:nth-child(2){
    border-left:solid 1px #e1e5e7;
    border-right: solid 1px #e1e5e7;
    height:2.7rem;
}

.triangle {
    display: inline-block;
    background: url(../img/img.png)no-repeat 0 0;
    height: 8px;
    width: 13px;
    transform: scale(0.5);
}
.ul-a{
    display: none;
    position: absolute;
    text-align: center;
    top:6.3rem;
    margin-top: -3.5rem;
    width: 33.3%;
    height:5.7rem;
    border:solid 1px;
    box-sizing: border-box;  
    background: #ffffff;
    z-index: 1;  
}
.li-a{
    border-bottom: solid 1px;
    line-height: 2.7rem;
}
.li-b{
    line-height:2.7rem;
}

.second span:hover .ul-a {
    display: block;
}

/* .second-a{
    text-align: center;
    width:100%;
}

.second-b{
    text-align: center;
    width: 100%;
    padding-top: 0.2rem;
    border-left: solid 0.1rem ;
}
.font{
    margin:0 1% 0 16%;
} */
/* __________________________ */





.main{
    display: inline-block;
    border-bottom:solid 0.1rem #e1e5e7;
    width: 100%;
    height: 5.45rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;




}
.row{
    display: inline-block;
    font-size: 0.78rem;
    margin-top: 0.4rem;
}

.li-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:0.8rem;
    padding:0;
    margin: 0.2rem 0 0.1rem 0;
    font-size: 0.8rem;
}


.date-a{
    display: inline-block;
    background: url(..//img/img.png)no-repeat 0 -64px;
    height:24px;
    width:24px;
    transform: scale(0.5);
    vertical-align: middle;
    margin-bottom: 0.1rem;
}
.date-b{
    color: #999999;
}
.date-c{
    margin-left: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#333333;
}
.set{
    margin:0.2rem 0 0 1rem;

}
.hours{
   
    color:#e63b0e;
}
.great{
    display: inline-block;
    
    background: url(../img/img.png)no-repeat 0 -31px;
    height:33px;
    width:19px;
    transform:scale(0.5);
    vertical-align: middle;
}
.shape-a{
    display: inline-block;
    background: url(../img/img.png)no-repeat 0 -8px;
    height:23px;
    width:19px;
    transform: scale(0.5);
    vertical-align: middle;
    margin-bottom: 0.1rem;
}
.shape-b{
    margin-left: 0.2rem;
    color:#999999;
}







.foot {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:3rem;
    bottom: 0rem;
    background: #f8fafb;
    z-index: 2;
}



.foot-a{
    display: inline-block;
    text-align: center;
    width: 33.3%;
    margin-left: 12%;
}
.home{
    display: inline-block;
    background:url(../img/img.png)no-repeat 0 -173px;
    height:40px;
    width:46px;
    transform:scale(0.5) ;
    margin: -0.3rem 0 -0.8rem 0;
    cursor: pointer;
}
.home-a{
    display: inline-block;
    margin-bottom: 0.3rem;
    font-size: 0.65rem; 
    color: #5fc0cd;
    margin-right: 0.25rem;
}



.foot-b{
    display: inline-block;
    text-align: center;
}
.write{
    display: inline-block;
    background:url(../img/img.png)no-repeat 0 -213px;
    height:94px;
    width:94px;
    transform: scale(0.5);
    margin-top: -1.4rem;
    cursor: pointer;
}



.foot-c{
    display: inline-block;
    text-align: center;
    width: 33.3%;
    margin-right: 12%
}
.mine{
    display: inline-block;
    background: url(../img/img.png)no-repeat 0 -132px;
    height:41px;
    width:42px;
    transform: scale(0.5);
    margin: -0.3rem 0 -0.9rem 0;
    cursor: pointer;
}
.mine-a{
    display: inline-block;
    margin-bottom: 0.3rem;
    font-size: 0.65rem;
    color:#999999;
    margin-right: 0.25rem;
}