<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.mapper.ProfessionMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.entity.Profession">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="student_id" jdbcType="BIGINT" property="studentId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="need_degree" jdbcType="INTEGER" property="needDegree" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="direction" jdbcType="TINYINT" property="direction" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="door" jdbcType="TINYINT" property="door" />
    <result column="difficulty" jdbcType="TINYINT" property="difficulty" />
    <result column="growth" jdbcType="VARCHAR" property="growth" />
    <result column="years" jdbcType="INTEGER" property="years" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, student_id, img, need_degree, introduce, direction, job, door, difficulty, growth, 
    years, salary, create_by, create_at, update_by, update_at
  </sql>
</mapper>