body {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.container {
  margin: auto;
}
@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media all and (max-width: 767px) {
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media all and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}
@media all and (min-width: 768px) {
  .visible-xs {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .visible-sm {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .visible-sm {
    display: none;
  }
}
@media all and (max-width: 991px) {
  .visible-md {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .visible-md {
    display: none;
  }
}
@media all and (max-width: 1199px) {
  .visible-lg {
    display: none;
  }
}
.flex-md-4 {
  display: flex;
}
@media all and (max-width: 991px) {
  .flex-md-4 {
    display: block;
  }
}
.flex-md-4 > div {
  width: 25%;
}
@media all and (max-width: 991px) {
  .flex-md-4 > div {
    width: auto;
  }
}
.between-md-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 991px) {
  .between-md-4 {
    display: block;
  }
}
.between-md-4 > div {
  width: 23%;
}
@media all and (max-width: 991px) {
  .between-md-4 > div {
    width: auto;
  }
}
.between-md-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 991px) {
  .between-md-5 {
    display: block;
  }
}
.between-md-5 > div {
  width: 19%;
}
@media all and (max-width: 991px) {
  .between-md-5 > div {
    width: auto;
  }
}
.flex-md-3-2-1 {
  display: flex;
  flex-wrap: wrap;
}
.flex-md-3-2-1 > div {
  width: 32.3%;
  margin-left: .5%;
  margin-right: .5%;
}
@media all and (max-width: 991px) {
  .flex-md-3-2-1 > div {
    width: 48%;
  }
}
@media all and (max-width: 767px) {
  .flex-md-3-2-1 > div {
    width: 99%;
  }
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.width {
  width: 100%;
}
.auto {
  margin: auto;
}
.middle {
  vertical-align: middle;
}
.center {
  text-align: center;
}
.box-shadow {
  box-shadow: 0 0 0.18rem #888;
}
header {
  height: 2rem;
  line-height: 2rem;
}
header > div {
  float: right;
  line-height: 2rem;
  font-size: 0;
}
header > div div {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .5rem;
  vertical-align: middle;
}
header > div span {
  font-size: 1rem;
  vertical-align: middle;
}
header > div span:nth-child(4) {
  margin: 0 .5rem;
  padding-right: .5rem;
  border-right: solid #29b078 0.07rem;
}
header > div .qq {
  background: url(../img/img66.png) 0 .2%/540%;
}
header > div .sine {
  background: url(../img/img66.png) 0 4.05%/540%;
}
header > div .n {
  background: url(../img/img66.png) 0 8.3%/540%;
}
.down-menu {
  background: #29b078;
  line-height: 4.5rem;
}
.down-menu > div > div > a > img {
  width: 40%;
  vertical-align: middle;
}
@media all and (max-width: 767px) {
  .down-menu > div > div > a > img {
    width: 14rem;
  }
}
@media all and (min-width: 992px) {
  .down-menu > div > div > a > img {
    width: 25%;
  }
}
.down-menu #menu {
  display: none;
}
.down-menu #menu:checked ~ ul {
  display: block;
}
.down-menu label {
  float: right;
  width: 2rem;
  line-height: 2.5rem;
  margin: 1rem .5rem 1rem 0;
  font-size: 0;
  text-align: center;
  background-color: rgba(174, 189, 192, 0.5);
  border-radius: .3rem;
}
.down-menu label img {
  vertical-align: middle;
}
.down-menu ul {
  float: right;
}
@media all and (max-width: 767px) {
  .down-menu ul {
    display: none;
    float: none;
  }
}
.down-menu ul .last-li {
  margin-right: 0;
}
.down-menu ul li {
  display: inline-block;
  height: 4.5rem;
  margin: 0 .4rem;
  color: #fff;
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
  .down-menu ul li {
    display: block;
    height: 2.8rem;
    line-height: 2.8rem;
    margin: 0;
    background: #29b078;
    text-align: center;
  }
}
.down-menu ul li:hover {
  border-bottom: solid 0.2rem #fff;
}
@media all and (max-width: 767px) {
  .down-menu ul li:hover {
    border: none;
    background: #44f0b9;
  }
}
footer {
  padding: 1rem 0;
  color: #fff;
  background: #29b078;
}
footer .row div:first-child {
  width: 40%;
}
@media all and (max-width: 767px) {
  footer .row div:first-child {
    width: 100%;
  }
}
footer .row div:first-child > span {
  display: inline-block;
  margin-bottom: 5.3rem;
}
@media all and (max-width: 767px) {
  footer .row div:first-child > span {
    margin-bottom: 2rem;
  }
}
footer .row div:first-child p span:nth-child(2)::before {
  content: "";
  border-left: .1rem solid;
  margin: 0 0.75rem 0 -0.75rem;
}
footer .row div:first-child p span:nth-child(2)::after {
  content: "";
  border-left: .1rem solid;
  margin: 0 -0.75rem 0 0.75rem;
}
footer .row div:first-child p span:hover {
  border-bottom: solid;
}
footer .row div:nth-child(2) {
  width: 40%;
}
@media all and (max-width: 767px) {
  footer .row div:nth-child(2) {
    width: 100%;
    margin: 2.5rem 0;
  }
}
footer .row div:nth-child(2) p:nth-child(2) {
  margin: 2rem 0;
}
footer .row div:nth-child(2) p > span:hover {
  border-bottom: solid;
}
footer .row div:last-child {
  width: 18%;
  font-size: .85rem;
  text-align: center;
}
@media all and (max-width: 767px) {
  footer .row div:last-child {
    width: 100%;
    text-align: left;
  }
}
footer .row div:last-child span {
  display: block;
}
footer .row div {
  display: inline-block;
}
@media all and (max-width: 767px) {
  footer .row div {
    display: block;
  }
}
.site {
  text-align: center;
  color: #fff;
  background: #29b078;
  border-top: solid #fff 0.07rem;
}
@media all and (max-width: 633px) {
  .site {
    text-align: left;
  }
}
.site span {
  word-break: keep-all;
}
