*{
    box-sizing: border-box;
}
main{
    padding-bottom: 5rem;
    background-color: #fafafa;
}
.hand{
  width: 100%;
}
.title{
    margin: 30px 0;
    font-size: 1.5rem;
}
.title1{
    color: #74c5a0;
}
.nav-container{
    margin: 2rem 0;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px #e6e6e6;
}
.navbar-head{
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-bottom:1px solid #e6e6e6 ;
}
.navbar-brander{
    float: none;
}
.navbar-brander ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.navbar-brander li{
    font-size: 1.5rem;
    margin: 30px 0;
}
.navbar-brander a:hover{
    color:#ff946b ;
    text-decoration: none;
}

.navbar-brander a:hover .circle{
    background-color: #f9a372;
}
.circle{
    width: 10px;
    height: 10px;
    border: 1px solid #ff946b;
    border-radius: 50%;
    display: inline-block;
}
.web{
    font-weight: 600;
    color: #74c5a0 ;
}
.right{
    margin: 2rem 0;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 0 0 2px #e6e6e6;
}
.intro{
    display: table;
    width: 100%;
    padding: 20px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #b5b5b5;
}
.imgposition{
    display: table-cell;
    vertical-align: middle;
}
.font1{
    display: table-cell;
    font-size: 1.4rem;
    line-height: 200%;
    font-weight: 600;
    color: #b5b5b5;
}
.font2{
    font-size: 1.3rem;
    line-height: 200%;
    font-weight: 600;
    color: #b5b5b5;
    text-indent: 2.4rem;
    padding:20px 20px 0 20px;
}
@media (min-width: 768px) {
    .col-3{
        width: 100%;
    }
}

@media (min-width: 980px) {
    .col-3{
        width: 33.3333%;
    }
}