html{

}

body {
    background-color: #eff0f4;
    margin: 0;
}

header {
    background-color: #5fc0cd;
    width: 100vw;
    /*height: 7.9vh;*/
    height: 4rem;
    color: aliceblue;

}

.shutdown {
    position: absolute;
    left: 2vw;
    top: 1.4rem;
    font-size: 1.25rem;
}

.login {
    position: absolute;
    top: 1.4rem;
    /*left:50vw;*/
    left: calc(calc(50vw) - calc(1ex)); /* 使得“登录”平分在屏幕中线  */
    font-size: 1.25rem;
}

.register {
    position: absolute;
    top: 1.4rem;
    right: 2vw;
    font-size: 1.25rem;

}

.box {
    height: 4.5rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
}

.box img {
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
    float: left;
}

input {
    /*display: block;*/
    line-height: 2rem;
    border: 0; /*边框为0*/
    outline: 0; /* 轮廓为0*/
    float: left;
    margin-top: 1rem;
    font-size: 1rem;
    margin-left: 5vw;
}

.blank {

}

button {
    width: 100vw;
    height: 4rem;
    background-color: #5fc0cd;
    color: #ffffff;
    font-size: 1.25rem;
    margin-top: 3rem;
}

button span {
    position: relative;
    font-size: 1.25rem;
    color: #ffffff;
    left: 1ex;
}

a {
    float: right;
    font-size: 1.25rem;
    color: #5fc0cd;
    text-decoration-line: none;
    padding-right: 4vw;
}