*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 14px;
}
body{
	display: flex;
    flex-direction: column;
    height: 100%; 
}
header {
	height: 3.8rem;
	text-align-last: center;
	background-color: #5fc0cd;
/*	flex: 0 0 auto;*/
	position:fixed;
	width: 100%;
	top:0;
	z-index: 99;
/*	left: 0*/
}
button{
	line-height: 3.3rem;
	border: 0;
	margin: 0.4rem -0.3rem;
	padding: 0 12px;;
	font-size: 1.3rem;
	color: #fff;
	border-radius: 0.5rem;
	
}
.but-blue{
	background-color: #55a8b3;
	color: #fff;
}
.but-white{
	background-color: #fff;
	color: #55a8b3;
}
nav{
/*	display: flex;*/
/*	justify-content: space-around;*/
	border-bottom: solid;
	border-color: #e1e5e7;
	border-width: .1rem;
	margin-bottom: .8rem;
	position:fixed;
	width: 100%;
	top:3.8rem; 
	background-color: #fff;
	
	z-index: 99;
}
.btn{
	width: 100%;
}
#dropdownMenu1 ,#dropdownMenu2 ,#dropdownMenu3 {
	background-color: #fff;
	color: #55a8b3;
	
}
.col-xs-4{
	background-image: url('../img/倒三角.png') ;
	background-repeat: no-repeat;
	background-size: 6px 5px;
	background-position: 98% 50%;
	z-index: 999999999;
		
}
#one ,#two{
	
	border-right: solid;
	border-color: #e1e5e7;
	border-width: .1rem;
}

main ul{
	margin-top: 7.2rem;
	margin-bottom: 4rem;
/*	overflow-y:auto;*/
	overflow: scroll;
    
}


main ul li {
	list-style: none;
	border-bottom: solid;
	border-color: #e1e5e7;
	border-width: .1rem;
	margin-bottom: .8rem;
	padding-bottom: .8rem;
	background-color: #fff;
}
main div{
	margin-left: 1rem;
	padding: .2rem;
}
.img-address a ,.img-day a{
	color: #999999;
	
}
.img-address{
	margin: -13px 0 0 18px;
}
.specific-day-money{
	margin-left: 3rem;
	font-weight:700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.specific-day-money .day{
	color: #333333;
}
.specific-day-money .money{
	float: right;
	color: red;
	padding-right: 3rem;
}
.dayuhao{
	float: right;
	font-size: 2rem;
	font-weight: 400;
	color: #5fc0cd;
	margin: -9px -87px 0px 0;
}

a:hover{
	text-decoration:none;
}
footer{
	display: flex;
	justify-content: space-around;
	background-color: #fff;
/*	margin-left: 15%;*/
/*	margin-right: 15%;*/
	height: 5rem;
	position:fixed;
	width: 100%;
	bottom:0; 
	left: 0
	
}
.bgm-bule{
	background-color: #5fc0cd;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	margin: 0 -4.5rem;
}

footer p{
	margin-left: 0.6rem;
	margin-top: -0.6rem;
}


.icon1{
	width: 42px; 
	height: 45px;
    background: url('../img/sprites.png') -10px -10px;
	display:inline-block;
	transform: scale(0.6);
	float: right;
	margin-top: 0.5rem;
}
.icon2{ 
	width: 24px; 
	height: 24px;
    background: url('../img/sprites.png') -138px -10px;
    display:inline-block;
	transform: scale(0.6);
	margin-bottom: -.5rem;
}
.icon3{
	width: 19px;
	height: 23px;
    background: url('../img/sprites.png') -138px -54px;
    display:inline-block;
	transform: scale(0.6);
	margin-bottom: -.4rem;
}
.icon4{
	width: 46px;  
	height: 40px;
    background: url('../img/sprites.png') -72px -10px;
    display:inline-block; 
	transform: scale(0.7);
}
.icon5{ 
	width: 40px; 
	height: 41px;
    background: url('../img/sprites.png') -72px -74px;
    display:inline-block; 
	margin: 11px 0 0 17px; 
	
	
}

.icon6{
	width: 42px;
	height: 41px;
    background: url('../img/sprites.png') -10px -74px;
    display:inline-block; 
	transform: scale(0.7);
}
