html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #68cdd5;
}
.back{
	position: absolute;
	top: 0.3125rem;
	left: 0.5625rem;
	width: 0.84375rem;
	height: 0.84375rem;
}
.header{
	line-height: 4.71875rem;
	text-align: center;
}
.header .title{
	vertical-align: middle;
	width: 2.84375rem;
	height: 1.09375rem;
}
.article p{
	margin-left: 1.40625rem;
	margin-right: 1.5rem;
	font-size: 30px;
	color: #fff;
}
.footer{
	margin-top: 2.71875rem;
	color: #fff;
}
.footer img{
	width: 1.3125rem;
	height: 1.3125rem;
}
.footer .left-icon{
	float: left;
	text-align: center;
	margin-left: 1.90625rem;
}
.footer .right-icon{
	float: right;
	text-align: center;
	margin-right: 1.75rem;
}
.footer p{
	margin-top: 0.15625rem;
	font-size: 24px;
}