 body{
            background-color:  #6CCDD5;
            margin: 0;
        }
        .back{
            position: absolute;
            top: 0.20rem;
            left: 0.36rem;
            width: 0.54rem;
            height: 0.54rem;
        }
        .header{
            height: 2.90rem;
            line-height: 2.90rem;
            text-align: center;
        }
        .header .title{
            width: 2rem;
            height: 0.8rem;
            vertical-align: middle;
        }
        .article{   
            margin-left: 0.9rem;
            margin-right: 0.9rem;
            color:#fff;
        }
        .article .one{
            font-size: 0.3rem;
           
        }
        .footer{
            margin-top: 1.64rem;
            overflow: hidden;
        }
        .footer p{
            margin: 0;
            margin-top: -0.12rem;
            font-size: 0.24rem;
        }
        .left-icon{
            float: left;
            margin-left: 0.9rem;
            color: #fff;
            text-align: center;
        }
         .icon1{
            width: 0.84rem;
            height: 0.84rem;
           
        }
        .right-icon{
            float: right;
            margin-right: 0.9rem;
            color: #fff;
            text-align: center;
        }
        .icon2{
            width: 0.84rem;
            height: 0.84rem;
        
        }
        