html,
body
{
    font-size: 62.5%;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

a,
a:hover,
a:visited,
a:active,
a:focus
{
    box-sizing: border-box;

    text-decoration: none;

    color: #fff;
}

/*头部开始*/

/*头部上部开始*/

.header-top
{
    font-size: 1.4rem;
    line-height: 40px;

    height: 40px;

    color: #29b078;
    border-bottom: 1px solid #bfe3d4;
    background: #fff;
}

/*.header-top span {
    margin-left: 35px;
}*/

@media screen and (max-width: 767px)
{
    .header-top span
    {
        margin-left: 0;
    }
}

.header-top-nav
{
    float: right;

    /* margin-right: 35px;*/
}

@media screen and (max-width: 767px)
{
    .header-top-nav
    {
        margin-right: 0;
    }
}

.header-top-nav a
{
    margin-left: 15px;
}

@media screen and (max-width: 767px)
{
    .header-top-nav a
    {
        margin-left: 10px;
    }
}

/*头部上部结束*/

/*头部下部开始*/

.header-bottom .navbar-default
{
    margin: 0;

    border: 0;
    background-color: #29b078;
}

.header-bottom .navbar-brand
{
    display: flex;

    height: 100px;
    padding: 0;

    align-items: center;
}

@media screen and (max-width: 767px)
{
    .header-bottom .navbar-brand
    {
        height: 60px;
        padding: 0 0 0 15px;
    }

    .header-bottom .navbar-brand img
    {
        width: 74px;
        height: 34px;
    }
}

@media screen and (min-width: 768px)
{
    .header-bottom .navbar-nav
    {
        float: right;
    }
}

.header-bottom .navbar-default .navbar-nav > li > a
{
    font-size: 1.6rem;

    text-align: center;

    color: #fff;
    border-bottom: 4px solid #29b078;
}
.header-bottom .navbar-nav > li > a:hover
{
    border-bottom: 4px solid #fff;
}

@media screen and (min-width: 768px)
{
    .header-bottom .navbar-nav > li > a
    {
        line-height: 100px;

        height: 100px;
        padding: 0 35px;
    }
}

.header-bottom .navbar-collapse
{
    padding: 0;

    border: 0;
}

.header-bottom .navbar-default .navbar-nav > .active > a
{
    border-bottom: 4px solid #fff;
    background-color: #29b078;
}
.header-bottom .navbar-default .navbar-nav > .active > a:hover,
.header-bottom .navbar-default .navbar-nav > .active > a:focus
{
    color: #fff;
}

.header-bottom .navbar-toggle .icon-bar
{
    width: 20px;
    height: 4px;
}

.header-bottom .navbar-toggle .icon-bar + .icon-bar
{
    margin-top: 4px;
}

.header-bottom .navbar-default .navbar-toggle
{
    margin: 11px 15px 11px 0;

    border: 0;
    background: #29b078;
}

.header-bottom .navbar-default .navbar-toggle:hover
{
    background: #fff;
}

.header-bottom .navbar-nav
{
    margin: 0 -15px;
}

/*头部下部结束*/

/*轮播图下大图标开始*/
.tag
{
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
}
.tag-icon
{
    display: flex;

    height: 65px;

    align-items: center;
    justify-content: center;
}
.tag > h1
{
    font-size: 1.8rem;
    font-weight: 700;

    margin: 35px 0 35px 0;

    color: #333;
}
.tag > h2
{
    font-size: 1.6rem;
    line-height: 2.0rem;

    margin: 0;

    color: #999;
}
@media screen and (min-width: 991px)
{
    .tag > h2
    {
        text-align: justify;
    }
}
.tag > h2
{
    font-size: 1.8rem;

    margin: 20px 0 30px 0;

    color: #999;
}
.tag-last
{
    border-left: 1px dashed #dedede;
}
@media screen and (min-width: 991px)
{
    .tag-last
    {
        margin-top: 50px;

        text-align: left;
    }
}
.tag .tag-num
{
    display: flex;

    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 991px)
{
    .tag .tag-num
    {
        justify-content: flex-start;
    }
}
.tag .tag-num span
{
    font-size: 1.8rem;

    margin-left: 14px;

    color: #26a26f;
}
/*轮播图下大图标结束*/


/*学习路径开始*/
.step
{
    text-align: center;
}
.step span
{
    font-size: 1.4rem;
    line-height: 1.6rem;

    display: inline-block;

    width: 80px;
    margin: 0 20px 0 10px;

    text-align: left;
    vertical-align: middle;

    color: #999;
}
.step .container .row > div
{
    margin-bottom: 50px;
}
.step-head span
{
    font-size: 1.8rem;
    font-weight: 700;

    margin: 0;

    color: #333;
}
.step .teshu
{
    margin-left: -20px;
}
/*学习路径结束*/

/*优秀学员展示开始*/
.outstanding-students
{
    text-align: center;
}
.outstanding-students h1
{
    font-size: 1.8rem;
    font-weight: 700;

    color: #333;
}
.outstanding-students h2
{
    font-size: 1.6rem;
    line-height: 2.0rem;

    text-align: justify;

    color: #999;
}
.outstanding-students .container .row > div
{
    margin-bottom: 50px;
}
.outstanding-students-head span
{
    font-size: 1.8rem;
    font-weight: 700;

    color: #333;
}
.students-item
{
    padding: 20px;

    border: 1px solid #eeeded;
    border-radius: 10px;
    background-color: #fff;
}
#myCarousel-two .carousel-indicators li
{
    border: 1px solid #e7e6e7;
    background-color: #fff;
}
#myCarousel-two .carousel-indicators .active
{
    background-color: #29b078;
}
@media screen and (min-width: 768px)
{
    #myCarousel-two .carousel-indicators
    {
        bottom: 0;
    }
}
/*优秀学员展示结束*/
/*战略合作企业开始*/
.company-logo span
{
    font-size: 1.8rem;
    font-weight: 700;

    display: block;

    margin: 70px 0 50px 0;
}
.company-logo .container .row:last-child
{
    box-shadow: 0 0 .5px .5px #e2e2e2;
}
.company-logo .col-md-20
{
    display: flex;

    height: 180px;
    padding: 3px;

    background-color: #fff;
}
.company-logo .col-md-20 div
{
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}
.company-logo .col-md-20 div:hover
{
    box-shadow: 0 0 1px 3px #e2e2e2;
}
@media screen and (min-width: 991px)
{
    .col-md-20
    {
        float: left;

        width: 20%;
    }
}
/*战略合作企业结束*/
/*友情链接开始*/
.links-list .container .list-title
{
    text-align: center;
}
.links-list .container .list-title span
{
    font-size: 1.8rem;
    font-weight: 700;

    display: inline-block;

    padding: 30px 0 30px 0;

    color: #333;
}
.links-list ul > li
{
    font-size: 1.4rem;

    margin-bottom: 18px;

    color: #999;
}
@media screen and (min-width: 991px)
{
    .links-list ul > li
    {
        float: left;

        width: 10%;
    }
}
.links-list ul > li > a
{
    font-size: 1.4rem;

    color: #999;
}
.links-list ul > li > a:hover
{
    border-bottom: 1px solid #26a26f;
}
.links-list
{
    margin-top: 70px;

    background-color: #fff;
}

/*友情链接结束*/
/*底部开始*/
footer
{
    font-weight: 500;

    background: #26a26f;
}
footer .left-nav > span
{
    font-size: 1.6rem;

    display: block;

    margin: 35px 0 65px 0;

    color: #fff;
}
footer .left-nav > div
{
    font-size: 1.4rem;

    margin-bottom: 33px;

    color: #fff;
}
footer .left-nav > div a
{
    font-size: 1.4rem;

    color: #fff;
}
footer a:hover
{
    border-bottom: 1px solid #fff;
}
footer .center-nav > span
{
    font-size: 1.6rem;

    display: block;

    margin: 35px 0 30px 0;

    color: #fff;
}
footer .center-nav > div
{
    margin-bottom: 25px;
}
footer .center-nav > div > a
{
    font-size: 1.4rem;

    margin-right: 30px;

    color: #fff;
}
footer .right-nav > span
{
    font-size: 1.6rem;

    display: inline-block;

    width: 96px;
    margin-top: 35px;

    text-align: center;

    color: #fff;
}
footer .right-nav > h1
{
    margin-top: 8px;
}
@media screen and (min-width: 768px)
{
    footer .right-nav
    {
        text-align: center;
    }
}
.footer-bottom
{
    font-size: 1.4rem;

    padding: 8px 0 12px 0;

    text-align: center;

    color: #fff;
    border-top: 1px solid #32c086;
}
/*底部结束*/
