
html{
    font-size:62.5%;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color:#FAFAFA;
}
/*
  页头
*/
.top-white {
    width: 100%;
}
.top {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.top p {
    color: #29b078;
    float: left;
    font-size: 1rem;
    margin-left: 10%;
    margin-bottom: 0;
}
.top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-right: 10%;
    width: 9rem;
    height: 3rem;
}
.top-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}

/*
    页头CSS样式
 */
.navbar-default {
    background-color:#29b078;
    margin:0;
    border:none;
    border-radius:0;
}
/*给导航栏右侧文字设置样式*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
    background-color: #29b078;
    border-bottom: 0.2rem solid transparent;
    padding-top: 23px;
}
.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 0.2rem solid #fff;
}
.navbar-default .navbar-collapse {
    border: none;
    text-align: center;
}
.navbar-brand {
    padding: 0.2rem 0 0 2rem;
}

/*
  内容首图
*/
.main-first-image {
    padding:0;
}
.main-first-image img {
    width: 100%;
}
.main-information {
    margin:1rem 0;
}
.main-information span {
    color: #29b078;
}
/*
    内容：合作企业
 */
.main-left {
    background-color: #fff;
    padding: 0;
    margin-bottom: 3rem;
    box-shadow: 0 0 0.1rem #ccc;
}
.main-left-p {
    text-align: center;
    padding:1rem 0;
    border-bottom: 0.1rem solid #e6e6e6;
    font-size: 1.8rem;
}
.main-left-ul {
    width: 6rem;
    margin: 0 auto;
    padding: 1rem 0;
}
.main-left-ul .li-orange {
    color: #FF6400;
    list-style: disc;
}
.main-left-ul li {
    color: #29b078;
    margin:0.5rem 0;
    list-style: circle;
}
.main-left-ul li:hover{
    color: #ff650e;
    list-style: disc;
}

/*
  内容：土豆网
*/
.main-right-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid #e6e6e6;
    background-color: #fff;
    box-shadow: 0 0 0.1rem #ccc;
}
.main-right-intro .intro-img {

}
.main-right-intro .intro-p {
    padding: 2rem;
    color: #999;
    margin: 0;
}
.main-right-text {
    background-color: #fff;
    padding: 2rem;
    padding-bottom: 6rem;
    box-shadow: 0 0 0.1rem #ccc;
    margin-bottom:6rem;
}
.main-right-text .text-p {
    color: #999;
    text-indent: 2rem;
    margin:2rem;
}

/*
    页脚
*/
footer {
    background-color: #26a26f;
}
.footer-row {
    margin-bottom:1rem;
}
.jnshu,
.its-website {
    color: #fff;
}
.jnshu-p
{
    margin: 1rem 0 2rem;
    font-size:1.6rem;
}
.jnshu a{
    color: #fff;
}
.its-website a {
    display:inline-block;
    margin:1rem 1rem 1rem 0;
    color: #fff;
}
.QR-code-p {
    font-size: 1.5rem;
    color:#fff;
    margin: 2rem 0 1rem;
}
.footer-bottom {
}
.footer-bottom-div {
    border-top:0.1rem solid #32c086;
    text-align: center;
}
.footer-bottom-div p {
    color:#fff;
    margin:1rem 0;
}