body {
    min-width: 320px;
    background: url(bg.png) no-repeat;
    background-size: 100vw 100vh;
}

.login-box {
    width: 90%;
    max-width: 500px;
    margin: 25vh auto 0;
    background: rgba(256,256,256,.8);
    text-align: center;
}
.title{
    font-size: 30px;
    line-height: 60px;
    color: #03a9f4;
}
.user-name,
.password {
    display: flex;
    align-content: center;
    margin: 20px;
    padding: 10px;
    height: 50px;
    background: #fff;
}

.login-box img {
    width: 35px;
    height: 30px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.login-box input{
    width:70%;
    border: none;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #333;
   }
.btn {
    margin: 20px;
    width: calc(100% - 40px);
}