body{
    margin: 0;
    background-color: #69d1e9;
}
header{
    position: fixed;/*绝对定位*/
    top: 0;
    left: 0;
    display: flex;/*弹性布局*/
    justify-content: space-between;/*两端对称对齐*/
    align-items: center;/*垂直居中对齐*/
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 22px;
    background-color: #69d1e9;/*背景颜色覆盖*/
    Z-index: 1;/*优先级1 默认值为0*/
}
a:hover,a:focus{
	text-decoration: none;
	color: white;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 12vw;
    z-index: 1;	
    background-color: #69d1e9;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*左上菜单图标*/
.bg-01{
    background: url("css_sprites2.png") no-repeat -266px -10px;
    width: 40px;/*截取40PX宽*/
    height: 40px;/*截取40PX高*/
    transform: scale(.6);/*缩放0.6*/
}
/*右上菜单图标*/
.bg-02{
    background: url("css_sprites2.png") no-repeat -210px -10px;
    width: 40px;
    height: 40px;
    transform: scale(.6);
}
/*中间提示栏*/
section{
    margin-top: 50px;
}
/*发言讨论结束行*/
.text1{
    background-color: #B9E9F5;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*文字提示部分*/
.text1-a{
    padding-left: 20px;
}
/*播放图标*/
.bg-03{
    background: url("css_sprites2.png") no-repeat -325px -10px;
    width: 52px;
    height: 52px;
    display: block;
    transform: scale(.6);
    border: none;
}
/*小三角*/
.text2-a{
    border-width: 10px 5px 0 5px;
    border-style: solid;
    border-color: #B9E9F5 transparent transparent;
    width: 0;
    height: 0;
    margin-left: 20px;
}
/*点击得票人数最多的人的头像*/
.text2-b{
    font-size: 14px;
    color: white;
    margin-left: 20px;
}
.player{
	display: flex;
	justify-content: flex-start;
}
/*玩家头像盒子*/
.box{
    width: 20%;
    text-align: center;
    margin: 5% 0 2.5% 10%;
}
/*玩家身份*/
.box-a{
    border: 2px solid white;
    height: 15vw;
    line-height: 15vw;
    border-bottom: 0;
    background-color: #F5C97B;
}
/*玩家号码*/
.box-b{
    background-color: #83b09a;
    border: 2px solid white;
    border-top: 0;
    color: white;
}
/*hover隐藏按钮*/
.box-c{
    display: none;/*显示为隐藏*/
}
.box:hover .box-c{
	display: inline-block;/*显示为内联元素*/
}
main{
	margin-bottom: 14vw;
}
.kill{
	width: 50%;
	height: 8vw;
	background-color: #F5C97B;
	text-align: center;
	line-height: 8vw;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	font-size: 20px;
}
