body{
	margin: 0;
	background-color: #eee;
}
header{
	position: fixed;/*绝对定位*/
    top: 0;
    left: 0;
    background-color: #69d1e9;/*背景颜色覆盖*/
    width: 100%;
    height: 50px;
    display: flex;
}

/*左上菜单图标*/
.i1{
	background: url('css_sprites1.png') no-repeat -54px -10px;
	width: 34px;
	height: 27px;
	margin: auto 10px;
}
main{
	margin-top: 70px;
}
/*内容a框*/
.a{
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid #bbb;
	margin: 0 20px;
	padding: 20px;
}
/*a框标题*/
.a-title{
	color: #aaa;
	width: 70%;
	text-align: center;
	margin-left: 15%;
}
.a-logo{
	height: 12px;
	padding-left: 12px;
	border-width: 3px 3px 0 0;
	border-style: solid;
	border-color: #aaa;
	transform: rotate(45deg);
	margin: auto;
}
/*游戏模式b框*/
.b{
	background-color: white;
	margin: 20px;
	text-align: center;
	border: 1px solid #bbb;
}
/*b框游戏名标题*/
.b-title{
	font-size: 20px;
	color: #dea32c;
	font-family: "楷体";
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #dea32c;
}
/*b框模式选择*/
.b-mode{
	width: 70%;
	height: 60px;
	line-height: 60px;
	background-color: #69d1e9;
	color: white;
	margin: 5% 0 5% 15%;
}
/*b框解释文本*/
.b-text{
	font-size: 14px;
	color: #bbb;
}
/*c框左对齐*/
.c{
	display: flex;
	justify-content: flex-start;
}
/*c框箭头垂直居中对齐*/
.c-arrow{
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
}
/*箭头样式*/
.arrow{
	width: 0;
	height: 0;
	border: 10px solid;
	border-color: transparent transparent transparent #f58220;
}
.d{
	margin: auto;
	display: flex;
	width: 100px;
}
.d>div{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ddd;
	margin: 5px;
}
.d1a,.d2a,.d3a,.d4a{
	display: none;
	background-color: #69d1e9;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.d1:hover .d1a{
	display: block;
}
.d2:hover .d2a{
	display: block;
}
.d3:hover .d3a{
	display: block;
}
.d4:hover .d4a{
	display: block;
}
a:hover{
	text-decoration: none;
	color: white;
}