<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <div class="content">
        <div class="ucSimpleHeader">
            <div class="trigger">
                <a href="/login/login">登录</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="/registration/register">注册</a>
            </div>
        </div>
        <form id="#mainForm1" class="mainForm mainForm1">
            <div class="number">
                <a href="##" class="linkABlue">手机号注册</a>
                <span></span>
                <a href="##" class="linkAGray number1">账户名注册</a>
            </div>
            <div class="normalInput">
                <input type="text" class="phone" maxlength="11" placeholder="请输入手机号">
            </div>
            <span class="error error1"></span>
            <div class="normalInput">
                <input type="text" class="kapkey" maxlength="4" placeholder="验证码">
                <span class="formLine"></span>
                <a href="?" id="getKey" class="linkABlue">获取验证码</a>
            </div>
            <span class="error error2"></span>
            <div class="normalInput">
                <input type="text" class="password" maxlength="16" autocomplete="off" placeholder="密码">
                <input type="password" class="password1" maxlength="16" autocomplete="off" placeholder="密码">
                <a id="pwdBtn" href="##" class="pwdBtnShow" isshow="false">
                    <i class="i_icon"></i>
                </a>
            </div>
            <span class="error error3"></span>
            <div class="rememberField">
                <span class="checkboxPic check_chk" tabindex="-1" isshow="false">
                    <i class="i_icon"></i>
                </span>
                <label class="pointer">我已阅读并接受</label>
                <a href="#" target="_blank" class="linkABlue">《服务协议条款》</a>
            </div>
            <span class="otherError">请确认已阅读并同意《服务协议条款》</span>
            <a href="/registration/register" class="fullBtnBlue">注册</a>
        </form>
    </div>
</body>
</html>