<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入db配置文件-->
    <context:property-placeholder ignore-resource-not-found="true" location="classpath:other/Account_password.properties"
                                  ignore-unresolvable="true"/>

    <!--配置dbcp数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" init-method="getConnection" destroy-method="close">
        <property name="driverClassName" value="${jdbc.Driver}"/>
        <property name="Url" value="${jdbc.Url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置sqlSessionFactory工厂,同时指定数据源 ref="dataSource" ：指定的是数据源中的id-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:other/mybatis.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--把Dao配置到Spring中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mvc.dao"/>
    </bean>

</beans>