@charset "UTF-8";

@import"layout";


// 尾页
footer{
    width: 100%;
    margin-top:1.5rem;
    padding-top: .2rem;
    background: $green;

    .footer-font{
        font-size: .16rem;
        color:$white;
    }
    .it{
        margin-left: .34rem;
    }
    @media(max-width:575px){
        .footer-font{
            line-height: .6rem;
        }
    }
    div.erweima{
        text-align: right;

        a.erweima{
            position: absolute;
            top:.5rem;
            right:0;
            margin-right: .2rem;
            
            img.erweima{
                display: block;
                @include box(80px,80px);
            }
            @media(max-width:575px){
                .erweima{
                    margin:.1rem -.25rem 0 0;
                }
            }
        }
    }
    @media(max-width:575px){
        div.erweima{
            position: absolute;
            top:1.8rem;
            left: .32rem;
            margin-right: .5rem;
        }
    }

    @media(min-width:576px){
        .center-box{
            margin-top:.3rem;
        }
    }
    @media(max-width:575px){
        .offset-4{
            margin-left: 0;
        }
    }

    div.copyright-box{
        padding:.07rem 0;
        margin-top: .7rem;
        border-top: $border $green;

        p.copyright{
            font-size:.14rem;
            text-align: center;
            color: $white;
        }
    }
    @media(max-width:575px){
        .copyright-box{
            margin-top: 2.7rem !important;
        }
    }
}