@charset "UTF-8";

/*重置样式*/
@import "_reset";

/*header眉页*/
@import"_header";


/*导航栏*/
@import"_nav";


/*轮播图*/
@import"_slideshow";

/* main主体 */
@import"_home-page";

/*footer页尾*/
@import"_footer";