html{
    font-size: 312.5%;
    background-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
/*header部分*/
.top{
    position: fixed;
    line-height: .8rem;
    width: 100%;
    background-color: #5fc0cd;
    z-index: 1;
}
.back{
    position: absolute;
    width: .2rem;
    height: .2rem;
    top: 50%;
    margin-top: -.1rem;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    left: .2rem;




}
.middle{
    text-align: center;
    font-size: 0.36rem;
    color: #ffffff;

}
/*main部分*/
/*背景及头像*/
main{
    position: relative;
    padding-top:.8rem;
    padding-bottom: 1.3rem;
}
.cover{
    position: relative;
    height: 3.27rem;
    background: url(img5/pic.png) no-repeat;
    background-size: cover;
}
.icon img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1.69rem;
    width: 1.69rem;
    left: 0.2rem;
}
/*名字和家庭住址部分*/
.describe{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.2rem;
    width: calc(100% - 2.2rem);  
}
.name {
    font-size: .36rem;
    color: #fff;
    margin-bottom: .1rem;
}
.location{
    display: flex;
}
.location img{
    width: .18rem;
    height: .23rem;
    align-self: flex-end;
}
.location span{
    font-size: .24rem;
    color: #fff;
    padding-left: 0.1rem;
}
/*简介部分*/
.introduce{
    list-style: none;
    font-size: .32rem;
    width: 100%;
}
.block{
    display: flex;
    align-items: center;
    font-size: .32rem;
    color: #595959;
    padding-left: 0.2rem;
    height: 1rem;
    border-bottom: 1px solid #e1e5e7; 
}
.tittle{
    border-left: 3px solid #5fc0cd;
    padding-left: 0.2rem;   
}
.introduce img{
    width: 0.24rem;
    height: 0.23rem;
    padding-left: 0.2rem;
}
.status{
    color: #595959;
    padding:0 0.2rem 0 0.1rem;
}
li{
    display: flex;
    align-items: center;
    margin-left: 3%;
    height: 1rem;
    width: 94%;
    border-bottom: 1px solid #e1e5e7;
}
.detail{
    color: #999999;
    border-right: 1px solid #999999;
    padding-right: 0.2rem;
    padding-left: 0.2rem;

}
.explain{
    color: #595959;
    padding-left: 0.2rem;
}
.redexplain{
    color: #e46a6c;
    padding-left: 0.2rem;
}

.specialli{
    display: flex;
    align-items: center;
    margin-left: 3%;
    height: auto;
    width: 94%;
    border-bottom: 1px solid #e1e5e7;
    padding: 0.36rem 0;
}
.specialdetail{
    color: #999999;
    border-right: 1px solid #999999;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    flex-shrink: 0;
}
/*
    white-space: nowrap;
    flex-shrink: 0;
    flex: none;
    flex-basis: 190px;
    word-break: keep-all;*/
/*footer部分*/
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.3rem;
    background-color: white;    
}
.message{
    position: absolute;
    top: .2rem;
    left: .2rem;
    width: calc(50% - .4rem);
    color: #5fc0cd;
    background-color: #ffffff;
    font-size: .34rem;
    height: .9rem;
    border: 2px solid #5fc0cd;
    border-radius: 15px;
    outline: none;
}
.iphone{
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: calc(50% - .4rem);
    color: #ffffff;
    background-color: #5fc0cd;
    font-size: .34rem;
    height: .9rem;
    border: 2px solid #5fc0cd;
    border-radius: 15px;
    outline: none;
}