@charset "utf-8";

@blue:#5fc0cd;
@gray:#EFF0F4;
@white:#ffffff;
@hight:50px;
body{
    margin: 0;
    background-color: @gray;
}
.head{
    line-height: @hight;
    background-color:@blue;
    text-align: center;
    .left{
        color: @white;
        font-size: 20px;
        float: left;
        margin-left: 20px;
    }
    .main{
        color: @white;
        font-size: 25px;
    }
    .right{
        color: @white;
        font-size: 20px;
        float: right;
        margin-right: 20px;
    }
}
.password{
    line-height: 60px;
    position: relative;
    background-color: @white;
    margin-top: 20px;
    .img1{
        position: absolute;
        top:10px;
    }
    .input1{
        width: 70%;
        margin-left: 50px;
        padding-left: 10px;
        outline: none;
        border-bottom: none;
        border-right: none;
        border-top: none;

    }
}
.user{
    .password;
    .img{
        .img1;
    }
    .input{
        .input1;
    }
}

.button{
    .head;
    font-size: 20px;
    color: @white;
    border: none;
    width: 100%;
    margin-top: @hight;
}
a{
    //.right;
    color: @blue;
    float: right;
    margin-right: 20px;
    text-decoration: underline;
}
