@charset "utf-8";
body {
  margin: 0;
  background-color: #eff0f4;
}
.head {
  line-height: 50px;
  background-color: #5fc0cd;
  text-align: center;
}
.head .left {
  color: #ffffff;
  font-size: 20px;
  float: left;
  margin-left: 20px;
}
.head .main {
  color: #ffffff;
  font-size: 25px;
}
.head .right {
  color: #ffffff;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}
.password {
  line-height: 60px;
  position: relative;
  background-color: #ffffff;
  margin-top: 20px;
}
.password .img1 {
  position: absolute;
  top: 10px;
}
.password .input1 {
  width: 70%;
  margin-left: 50px;
  padding-left: 10px;
  outline: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.user {
  line-height: 60px;
  position: relative;
  background-color: #ffffff;
  margin-top: 20px;
}
.user .img1 {
  position: absolute;
  top: 10px;
}
.user .input1 {
  width: 70%;
  margin-left: 50px;
  padding-left: 10px;
  outline: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.user .img {
  position: absolute;
  top: 10px;
}
.user .input {
  width: 70%;
  margin-left: 50px;
  padding-left: 10px;
  outline: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
.button {
  line-height: 50px;
  background-color: #5fc0cd;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  border: none;
  width: 100%;
  margin-top: 50px;
}
.button .left {
  color: #ffffff;
  font-size: 20px;
  float: left;
  margin-left: 20px;
}
.button .main {
  color: #ffffff;
  font-size: 25px;
}
.button .right {
  color: #ffffff;
  font-size: 20px;
  float: right;
  margin-right: 20px;
}
a {
  color: #5fc0cd;
  float: right;
  margin-right: 20px;
  text-decoration: underline;
}
