* {
	padding: 0;
	margin: 0;
}
html {
	font-size: 625%;
}
body {
	background: #eff0f4;
}
.main {
	width: 100%;
}
.header {
	background: #5fc0cd;
	height:0.5rem;
	margin-bottom: 0.1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 0.1rem;
}
.header button {
	border: none;
	height: 0.5rem;
	font-size: 0.16rem;
	color: #fff;
	background: #5fc0cd;
}
.header .close {
	float: left;
}
.header .register {
	float: right;
}
.header h2 {
	padding: 0 0.5rem;
	font-size: 0.18rem;
	line-height: 0.5rem;
	text-align: center;
	color: #fff;
	font-weight: normal;
}
.middle {
	padding-top: .6rem;
}
input[placeholder]{
	border-left: solid red;
}
input:-moz-placeholder { color: #e1e5e7; }
::-webkit-input-placeholder { color:#e1e5e7; }
.middle input{
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding:  0.15rem 0 0.15rem 0.8rem;
	font-size: .16rem;
	border: none;
	outline: none;
}
.header a {
	color: #fff;
}

.phone {
	border:none;
	background: #fff url(../img/1.png) .2rem center no-repeat;
	margin-bottom: 0.1rem;
	width: 100%;
	height: 0.5rem;
}
.password {
	border:none;
	background-color: #fff;
	background-image: url(../img/2.png);
	background-position: .2rem center;
	background-repeat: no-repeat;
	width: 100%;
	height: 0.5rem;
}
.login {
	background: #5fc0cd;
	height: 0.5rem;
	display: block;
	width: 100%;
	margin-top: .1rem;
	font-size: .16rem;
	border:none;
	color: #fff;
}
.middle .forget {
	float: right;
	font-size: .16rem;
	color: #5fc0cd;
	text-decoration: none;
}