
html {
  height: 100%;
  body {
    height: 100%;
    overflow: auto;
    header {
      border-bottom: 1px solid #74d4eb;
      .header-left {
        width: 30px;
        height: 30px;
        background: url("../images/8-task7.png") no-repeat;
        background-size: 30px;
      }
      .header-right {
        background: url("../images/9-task7.png") no-repeat;
        background-size: 25px;
      }
    }
    main {
      margin-top: 3rem;
      padding: 2rem 10%;
      background: #29bde0;
      .win {
        width: 15rem;
        height: 9rem;
        background: url("../images/10-task7.png");
        background-size: 15rem 9rem;
        margin: 0 auto;
        text-align: center;
        p {
          margin: 0;
          color: white;
          font-size: 2rem;
          line-height: 14.5rem;
        }
      }
      p {
        color: #fbb435;
        font-size: 1.5rem;
      }
      .statistics {
        color: white;
        font-size: 1.5rem;
        p {
          margin: 0;
          color: white;
          font-size: 1.5rem;
        }
      }
    }
    #list {
    .record {
      padding: 0 10% 1rem;
      border-bottom: 2px solid #8c8c8c;
      }
      p {
        margin: 0 0 5px;
      }
      .today {
        font-size: 1.2rem;
        margin: 5px 0 0.8rem;
      }
      .log {
        color: #8c8c8c;
        font-size: 1rem;
      }
    }
    .pillar {
      height: 5rem;
    }
    footer {
      width: 100%;
      height: 5rem;
      background: rgba(41,189,224,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 0;
      min-width: 320px;
      max-width: 780px;
      button {
        width: 40%;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
      .footer-left {
        margin-right: 5%;
        background: #f66f6f;
      }
      .footer-right {
        margin-left: 5%;
        background: #fbb435;
      }
    }
  }
}