

html {
  height: 100%;
}
body {
  overflow: auto;
  //height: 100%;
  main {
    //height: 100%;
    padding-top: 2rem;
    padding-bottom: 6rem;
    #newId {
      div {
        width: 60%;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
  footer {
    width: 100%;
    height: 5rem;
    background: #29bde0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    min-width: 320px;
    max-width: 780px;
    button {
      width: 80%;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      color: white;
      font-size: 1.2rem;
      background: #fbb435;
      cursor: pointer;
    }
  }
}