
* {
  box-sizing: border-box;
}
body {
  header {
    input {
      border: 0;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    input:focus {
      outline: none;
    }
    .header-left {
      background: url("../images/header-left.png") no-repeat;
      background-size: 25px;
      margin-left: 0.5rem;
    }
    .header-right {
      background: url("../images/header-right.png") no-repeat;
      background-size: 25px;
      margin-right: 0.5rem;
    }
    p {
      margin: 0;
      color: white;
      font-size: 1.2rem;
    }
  }
  main {
    background: #f0f0f0;
    margin-top: 3rem;
    padding: 1rem 1rem;
    .role {
      width: 100%;
      height: 15rem;
      display: flex;
      .role-left {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-right: 1px solid #d9d9d9;
        p {
          width: 1.2rem;
          font-size: 1.2rem;
        }
      }
      .role-right {
        width: 80%;
        background: #fbfbfb;
        .view {
          width: 100%;
          height: 12rem;
          display: flex;
          div {
            width: 50%;
            margin: 1rem;
            font-size: 1rem;
          }
          .view-right {
            overflow: auto;
          }
        }
        .setting {
          width: 100%;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          border-top: 1px solid #d9d9d9;
          input {
            border: none;
            background: #fbfbfb;
            color: #29bbdd;
            font-size: 1rem;
            cursor: pointer;
          }
          input:focus {
            outline: none;
          }
        }
      }
    }
    .keyword {
      margin-top: 0.5rem;
      padding: 0 1rem 1rem;
      background: white;
      input {
        width: 100%;
        padding: 1rem 0 0.5rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #f0f0f0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
      }
      input::-webkit-input-placeholder{
        color: #f0f0f0;
      }
      input:focus {
        outline: none;
      }
    }
    .people {
      width: 100%;
      height: 8rem;
      background: white;
      padding: 0.5rem 1rem;
      margin-top: 0.5rem;
      table {
        margin: 0;
        div {
          display: flex;
          align-items: center;
          p {
            margin: 0.15rem 0;
            font-size: 1.2rem;
          }
          .in-num {
            margin: 0 1rem;
            width: 2.5rem;
            background: #f4f5f5;
            border: none;
            color: #fab344;
            font-size: 1.5rem;
            text-align: center;
          }
        }
        .set-num {
          margin: 0.5rem 0 0;
          color: #fab344;
        }
        .progress {
          margin-top: 1rem;
          justify-content: center;
          input {
            border: 1px solid #d9d9d9;
            background: white;
            color: orange;
            font-size: 1.2rem;
            width: 25px;
            height: 25px;
            padding: 0;
          }
          #slider2 {
            width:60%;
            height: 2px;
            display:inline-block;
            margin:0 2rem;
            border: none;
            background: #fab344;
            a {
              width: 30px;
              height: 30px;
              background: url("../images/columns.png");
              background-size: 30px;
              border: none;
              margin-top: -10px;
              z-index: 0;
            }
            a:focus {
              outline: none;
            }
          }
        }
      }
    }
    .footer {
      margin-top: 1rem;
      input {
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1.5rem;
        background: #fab344;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
      }
      input:focus {
        outline: none;
      }
    }
    .shadow {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
    .dialog {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 260px;
      height: 150px;
      background: white;
      border-radius: 10px;
      margin: -80px 0 0 -130px;
      p {
        text-align: center;
        font-size: 1.2rem;
        color: #29bde0;
        margin: 2rem;
      }
      div {
        display: flex;
        justify-content: space-around;
        button {
          border: none;
          background: #29bde0;
          padding: 0.7rem 1.2rem;
          border-radius: 5px;
          cursor: pointer;
        }
        button:focus {
          outline: none;
        }
      }
    }
  }
}
