<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!--<property name="dataSource">-->
            <!--<ref local="dataSource"/>-->
        <!--</property>-->
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/student_task</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>774835</value>
        </property>
    </bean>

    <bean id="userDAO" class="springjdbc.dao.impl.UserDaoImpl">
        <property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
    </bean>
    <bean id="user" class="springjdbc.pojo.User">
        <property name="dao">
            <ref bean="userDAO"/>
        </property>
    </bean>



</beans>