body{
	margin: 0;
	padding: 0;
}
#main{
	width: 500px;
	margin: 150px auto;
}
.scroll-bar{
	height: 36px;
	position: relative;
	margin-top: 10px;
}
.entire-bar{
	width:100%;
	height: 4px;
	top: 12px;
	left: 0;
	position: absolute;
	background: #dedede;
}
.action-bar{
	top: 12px;
	height: 4px;
	position: absolute;
	background: #4F94CD;
}
.action-block{
	top: 4px;
	width: 8px;
	height: 16px;
	cursor: pointer;
	position: absolute;
	background: #fff;
	border: 1px solid #000;
}