html {
    font-size:625%;
}
body {
    background-color:#68cdd5;
}
.arrow
{
    margin:2%;
position:absolute;}
.headlogo{
    text-align:center;
    padding-top:0.6rem;
    position:relative;
    line-height:0.2rem;
}
h1{
    font-size:0.1rem;
    color:white;
    font-family:宋体;
    text-align:center;
    position:relative;
    padding: 0.5rem 0.4rem 0 0.4rem;
}
p{
    font-size:0.1rem;
    color:white;
    font-family:宋体;
    text-align:center;
    position:relative;
}
.xueyuan
{
    float:left;
    width:0.8rem;
    padding:0.9rem 0.2rem 0 0;
    margin-left:0.2rem;
    text-align:center;
}
.contentlogo
{
    float:right;
    width:0.8rem;
    padding:0.9rem 0 0 0.2rem;
    display:inline;
    text-align:center;
    margin-right:0.2rem;

