html{
    font-size:625%;
}
body{
    text-overflow:ellipsis;
    }
/*header*/
header{
    position:fixed;
    left:0;
    top:0;
    right:0;
    width:100%;
    line-height:0.5rem;
    text-align:center;
    font-size: 0.16rem;
    height: 0.5rem;
    background: #5fc0cd url("../img/iconheader.png") no-repeat 90% center;
    background-size:0.3rem 0.3rem;

    }
header button{
    width: 0.72rem;
    line-height: 0.35rem;
    padding: 0 0.1rem;
    border-radius: 0.05rem;
}
.bt1{
    background:#55a8b3;
    color: #fff;
    border: 2px solid #55a8b3;
    margin-right:-0.1rem;
}
.bt2{
    background-color: #fff;
    color: #5fc0cd;
    border: 2px solid #fff;
}
/*下拉菜单*/
.dp{
    position:fixed;
    top:0.5rem;
    font-size:0.16rem;
    display:flex;
    width:100%;
    border-bottom:1px solid #adadad;
    background-color:white;
   }
.dp-cell{
    flex:1;
    background:url("../img/dropdownicon.png")no-repeat 95% center;
    background-size:0.05rem 0.05rem;
    border-right:1px solid #adadad;
    }
.dropdown-toggle{
    color:#adadad;
}
/*content*/
li{
    list-style: none;
}
.content{
    position:absolute;
    top:1rem;
    width:100%;
    font-size:0.14rem;
    overflow: auto;
    z-index: -2;
    }
.textarea{
    border-bottom: 1px solid #adadad;
    padding:0.1rem 0.2rem;
    overflow:hidden;
    text-overflow:ellipsis;
}
.date{
    color:#cccccc;
    background:url("../img/calendar2.png") no-repeat left top;
    background-size:0.2rem 0.2rem;
    }
.date p{
    padding-left:0.25rem;
}
.time{
    display:flex;
    justify-content:space-between;
    background:url("../img/green.png") no-repeat right center;
    overflow: hidden;
    text-overflow:ellipsis;
    }
.time1{
    padding-left:0.25rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.price
{
    padding-right:0.2rem;
    color:#e63b0e;
    overflow: hidden;
    text-overflow:ellipsis;
        white-space: nowrap;
}
.location{
    color:#cccccc;
    background:url("../img/Shape4.png") no-repeat left top;
    background-size:0.15rem 0.15rem;
}
.location p{
    padding-left:0.25rem;
}
/*footer*/
footer{
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    text-align:center;
    font-size: 0.16rem;
    height: 0.5rem;
    background-color: #f8fafb;
}
footer a{
    text-align: center;
    text-decoration: none;
}
footer .back {
    position: relative;
    top: .08rem;
    padding-top: .32rem;
    margin-right: 15%;
    background: url("../img/home.png") no-repeat;
    background-size: .25rem .24rem;
        color: #5fc0cd;
    }
footer .write {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    position: relative;
    background: url("../img/椭圆4.png") no-repeat 50% 40%;
    background-size: 0.4rem 0.4rem;
    vertical-align: middle;
}

footer .mine {
    position: relative;
    top: .08rem;
    margin-left: 15%;
    padding-top: .35rem;
    background: url("../img/mine.png") no-repeat;
    background-size: .25rem .24rem;
    color: #999;
    text-decoration: none;
}
.scc{
   min-width:1.2rem;
}
