$h30: 30px;
$h39: 39px;
$h99: 99px;
$h100: 100px;
$h170: 170px;

$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz22: 22px;


$bg29: #29B078;
$bgfa: #fafafa;
$bgff: #fff;
$bg00: #000;
$bg64: #ff6400;



@mixin flex($x,$y) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin font($f-s,$f-c) {
    font-size: $f-s;
    color: $f-c;
}

@mixin box($w,$h) {
    width: $w;
    height: $h;
}

