*{
  margin: 0;
  padding: 0;
}
html body{
  font-size: 14px;
  background: #f0f0f0;
}
header{
  width: 100%;
  height: 3rem;
  background-color: #29bde0;
}
#ul1{
  display:none;
}
.rectangle{
  width: 23px;
  height: 30px;
  float: left;
  margin-left: 1rem;
  margin-top: 1rem;

}
.ul-nav{
  position: absolute;
  background: #f0f0f0;
  left: 5px;
  top: 48px;
  z-index: 99;
}
ul li{
  list-style: none;
  /* border: 1px solid black; */
  width: 40px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
ul li a{
  text-decoration: none;
}
.white-rectangle{
  width: 19px;
  height: 2px;
  background-color: white;
}
.zhanwei{
  width: 23px;
  height: 4px;
}
main{
  
  position: relative;
}
.Last-time{
  width: 80%;
  height: 4rem;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  top: 1rem;
  border-radius: 4px;
}
.Last-time p{
  font-size: 1.4rem;
  color: #9a9a9a;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  width: 12.4rem;
  margin: auto;
}
.Last-time a{
  text-decoration: none;
  font-size: 2.5rem;
  color: #e7e7e7;
  float: right;
  margin-top: -25px;
}
.Catch-the-game{
  width: 80%;
  height: 28rem;
  position: relative;
  top: 2rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 4px;
}
.ghost-game{
  font-size: 1.3rem;
  height: 4rem;
  border-bottom: 0.8px solid #fdd793;
}
.ghost-game a{
  text-decoration: none;
  display: block;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  width: 6rem;
  margin: auto;
  color: orange;
}
.background-blue{
  width: 14rem;
  height: 3.8rem;
  background-color:#69d1e9;
  font-size: 1.1rem;
  margin: 1rem auto;
}
.background-blue a{
  text-decoration: none;
  width: 4rem;
  color: white;
  display: block;
  position: relative;
  top:50%;
  transform:translateY(-50%);
  margin: auto;
}
.Catch-the-game p{
    color: #9a9a9a;
    position: relative;
    transform: translateY(-50%);
    width: 11rem;
    margin: auto;
}
.tarngle-right{
    width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-left: 1.4rem solid #fbb435;
    border-bottom: 1.4rem solid transparent;
    float: right;
    margin: -12.5rem 0.3rem 0 0;
}
.circular-blue{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #69d1e9;
  margin-right: 0.3rem;
}
.circular{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 0.3rem;
}
.point-four{
  display: flex;
  justify-content: center;
}