*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #29bde0;
    font-size: 16px; 
}
.rectangle{
  width: 23px;
  height: 23px;
  float: left;
  border: 2px solid white;
  padding: 8px 6px 0 6px;
  margin-top: .5rem;
  margin-left: .5rem;
}
.white-rectangle{
  width: 23px;
  height: 2px;
  background-color: white;
}
.zhanwei{
  width: 23px;
  height: 4px;
}
.ul-nav{
  position: absolute;
  background: #f0f0f0;
  left: .5rem;
  top: 53px;
  z-index: 99;
}
ul li{
  list-style: none;
  /* border: 1px solid black; */
  width: 40px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
#ul1{
    display: none;
}
ul li a{
  text-decoration: none;
}
header{
    height: 3rem;
    display: flex;
    position: fixed;
    align-items: flex-start;
    background-color: #29bde0;
    width: 100%;
    justify-content: space-between;
    z-index: 999;
    top: 0;
}
header p{
    font-size: 1.3rem;
    color:white;  
    line-height: 45px;
}
.cha{
    font-size: 60px;
    color: white;
     line-height: 45px;
    font-weight: 100;
}
nav{
    height: 3.5rem;
    width: 100%;
    background-color: #b9f9f5;
    font-size: 1.08rem;
    position: fixed;
    align-items: flex-start;
    top: 3rem;
}
nav p{
    position: relative;
    top: 1rem;
    left: 2.3rem;
    width: 20rem;
}
.play-icon{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color:#f8b435; 
    float: right;
    margin-top: -14px;
    margin-right: 1.5rem;

}
.trangle-left{
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid white;
    border-bottom: 12px solid transparent;
    position: relative;
    left: 11px;
    top: 5px;
}
.trangle-down{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 14px solid #b9f9f5;
    position: relative;
    left: 3rem;
    position: fixed;
    align-items: flex-start;
    top: 6.5rem;
}
.explain{
    font-size: .8rem;
    color: white;
    margin: .5rem 0 0 3rem;
    position: fixed;
    align-items: flex-start;
    top: 7rem;
}
.bg-blue{
    background-color: #29bde0;
    position: fixed;
    align-items: flex-start;
    top: 6.5rem;
    width: 100%;
    height: 2.5rem;
}
main{
    width: 100%;
    margin-bottom: 5.1rem;
    margin-top: 9rem;
}


.grid-lyout{
    display: grid;
    /* width: 90%; */
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 25vw 1rem 25vw 1rem 25vw 1rem 25vw 1rem;
    grid-column-gap: 1rem;
    grid-row-gap: .7rem;
    /* margin: 1rem auto 0; */
    justify-content: center;
}
.game-player{
    background: white;
    border: .7vw solid #fff;
}
.plyer{
    background-color: #f9c57b;
    height: 77%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.plyer p{
    /* padding-top: 7.25vw; */
    font-size: 1.25rem;
}
.number{
   
    background-color: #83b09a;
    height: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.number p{
    font-size: .8rem;
    color: white;
}
.knife , .magnifier , .locking , .cross{
    width: 1.2rem;
    height: 1.2rem;
    background: white;
}
.vote{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.knife div{
    width: 27px; 
    height: 17px;
    background: url('../img/投票.png') -129px -10px;
    transform: scale(0.6);
    margin: 2px 0 0 -4px;
}
.magnifier div{
    width: 19px; 
    height: 21px;
    background: url('../img/投票.png') -44px -10px;
    transform: scale(0.6);
    margin: 0 0 0 0;
}
.locking div{
    width: 26px; 
    height: 25px;
    background: url('../img/投票.png') -83px -10px;
    transform: scale(0.6);
    margin: -2px 0 0 -2px;
}
.cross div{
    width: 14px; 
    height: 14px;
    background: url('../img/投票.png') -10px -10px;
    transform: scale(0.6);
    margin: 2px 0 0 2px;
}
.vote{
    visibility: hidden;
}
footer{
    width: 100%;
    height: 5rem;
    background-color: #29bde0;
    z-index: 99;
    justify-content: space-around;
    display: flex;
    bottom: 0;
    position: fixed;
}
footer div{
    width: 75%;
    height: 3rem;
    margin:  auto;
    background-color: #f8b435;
    z-index: 10000;
    color: white;
    font-size: 1.7rem;
}
footer div p{
    width: 3.4rem;
    margin: auto;
    height: 3rem;
    line-height: 3rem;
}