*{
    margin: 0;
    padding: 0;
   
    font-size: 16px;
}
main{
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #29bde0;
}
header{
    height: 2.5rem;
    background-color: #29bde0;
}
.home{
    background-image: url('../img/home.png');
    transform: scale(0.6);
    background-repeat:no-repeat;
    float: left;
    width: 3.5rem;
    height: 3rem;
}
.caption{
    background-image: url('../img/caption.png');
    transform: scale(0.6);
    background-repeat:no-repeat;
    float: right;
    width: 3rem;
    height: 3rem;
    margin-top: -.8rem;
}
header p{
    width: 6rem;
    color: white;
    margin: 0 auto;
    height: 1rem;
    line-height: 2.8rem;
    font-size: 1.5rem;
}
.victory{
    background-color: #29bde0;
}
.victory div {
    width: 351px;
    height: 205px;
    background-image: url('../img/组-3.png');
    margin: 0 auto;
    
}
.victory p{
    width: 9rem;
    font-size: 2.2rem;
    margin: 0 auto;
    position: relative;
    top: 8.7rem;
    background-color: #ff3a07;
    color: white;
}
.good{
    color: #ffc865;
    font-size: 1.3rem;
}
.timing{
    margin-top: 1rem;
    color: white;
}
.player{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    color: white;
}
main div p{
    color: white;
}
.process{
    border-bottom: .1rem solid #dddddd; 
}
.process div{
    padding-left: 3rem;
    padding-right: 3rem;
}
.time-gray{
    float: right;
    width: 5rem;
    font-size: .9rem;
    color: gray;
    margin-top: -1.7rem;
}
.day{
    width: 3.2rem;
    font-size: 1.06rem;
    line-height: 2.1rem;
}
.night , .daytime{
    color: gray;
}
.daytime{
    margin-bottom: 1.3rem;
}
footer{
    width: 100%;
    height: 5rem;
    background-color: rgba(41, 189, 224, .6);
    z-index: 99;
    display: flex;
    justify-content: space-around;
    display: flex;
    bottom: 0;
    position: fixed;
}
.footer-orange , .footer-red{
    width: 9.5rem;
    height: 3rem;
    margin: auto 0;
    border-radius: .6rem; 
    filter:alpha(opacity=80);
}
.footer-red{
    background-color: #f66f6f;
    
}
.footer-orange{
    background-color: #f8b435;
   
}
footer p{
    font-size: 1.4rem;
    color: white;
    text-align: center;
    line-height: 3rem;
}