@charset "UTF-8";
/**椤佃剼**/
.ft-line {
  width: 100%;
  margin-top: 6rem;
  background-color: #ffffff; }
  .ft-line .row {
    /**鍙嬫儏閾炬帴**/ }
    .ft-line .row .ft-link {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%; }
      .ft-line .row .ft-link .web-link1 {
        text-align: center;
        background-color: #ffffff; }
        .ft-line .row .ft-link .web-link1 .ft-ul {
          margin: 5px -15px;
          display: inline-block;
          cursor: pointer;
          text-align: left; }
          .ft-line .row .ft-link .web-link1 .ft-ul .ft-li {
            margin: 1rem 3rem;
            font-size: 12px;
            display: inline-block;
            border-bottom: 1px solid #ffffff; }
          .ft-line .row .ft-link .web-link1 .ft-ul .ft-li:hover {
            border-bottom: 1px solid #29b078; }

.bulletin {
  width: 100%;
  background-color: #29b078; }
  .bulletin .ft-left {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33333333%; }
    .bulletin .ft-left .ft-word2 {
      text-align: center;
      margin-top: 20px;
      margin-left: -50px;
      color: #ffffff; }
    @media screen and (max-width: 768px) {
      .bulletin .ft-left .footer-word2 {
        margin-left: 0; } }
    .bulletin .ft-left .ft-line1 {
      margin-top: 5px;
      text-align: center; }
    .bulletin .ft-left .ft-word1 {
      font-size: 12px;
      display: inline-block;
      list-style-type: disc;
      cursor: pointer;
      color: #ffffff;
      border-bottom: 1px solid #29b078; }
    .bulletin .ft-left .ft-word1:hover {
      border-bottom: 1px solid #ffffff; }
    .bulletin .ft-left .ft-word3 {
      padding: 0 5px;
      border-right: 1px solid #ffffff;
      border-left: 1px solid #ffffff; }
  .bulletin .ft-center {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    text-align: center;
    width: 33.333333%; }
    .bulletin .ft-center .ft-word2 {
      margin-top: 20px;
      margin-left: -50px;
      color: #ffffff; }
    @media screen and (max-width: 768px) {
      .bulletin .ft-center .ft-word2 {
        margin-left: 0; } }
    .bulletin .ft-center .ft-line2 {
      margin-top: 15px;
      margin-left: 40px; }
    @media screen and (max-width: 768px) {
      .bulletin .ft-center .ft-line2 {
        margin-left: 0; } }
    .bulletin .ft-center .ft-word1 {
      font-size: 12px;
      display: inline-block;
      list-style-type: disc;
      cursor: pointer;
      color: #ffffff;
      border-bottom: 1px solid #29b078; }
    .bulletin .ft-center .ft-word1:hover {
      border-bottom: 1px solid #ffffff; }
    .bulletin .ft-center .ft-word6 {
      padding: 0 0 0 5px; }
    @media screen and (max-width: 768px) {
      .bulletin .ft-center .ft-word6 {
        padding: 0; } }
    .bulletin .ft-center .ft-line3 {
      margin-top: 5px;
      margin-left: 20px; }
    @media screen and (max-width: 768px) {
      .bulletin .ft-center .ft-line3 {
        margin-left: 0; } }
  .bulletin .ft-right {
    position: relative;
    min-height: 1px;
    float: left;
    width: 33.333333%;
    margin-bottom: 20px;
    text-align: center; }
    .bulletin .ft-right .ft-word4 {
      margin-top: 20px;
      margin-left: -10px;
      color: #ffffff; }
    @media screen and (max-width: 768px) {
      .bulletin .ft-right .ft-word4 {
        margin-left: 0; } }

.copyright {
  width: 100%;
  height: 32px;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  background-color: #29b078; }
  .copyright .ft-word5 {
    font-size: 12px;
    line-height: 20px;
    border-top: 1px solid #ffffff;
    color: #ffffff; }

/*# sourceMappingURL=task-14-footer.css.map */
