html{
	font-size: 62.5%;
	height: 100%;
}
a{
	color: white;
}
body{
	background-color: #29bde0;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.header-nav{
	display: flex;
	justify-content: space-between;
	margin-top: 3.5rem;
    margin-bottom: 1rem;
}
.header-nav-img{
	font-size: 4rem;
}
.header-nav-text{
	font-size: 3.4rem;
	color: white;
}
.subnav{
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	height: 10rem;
	background-size: 100% 10rem;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.subnav-text{
	font-size: 2.6rem;
	padding-left: 4.2rem;
	padding-bottom: 1rem;
}
.play{
	padding-bottom: 1rem;
    padding-right: 1.6rem;
}
.tips{
	display: inline-block;
	color: white;
	font-size: 2.4rem;
	padding-left: 6.5rem;
    margin-top: 1rem;
}
.footer{
	background-color: #fbb435;
	border: none;
	margin: 4.4rem 8rem 5.6rem;
    height: 9.2rem;
}
.footer-text{
	font-size: 4rem;
	color: white;
}
.warp{
	height: 40rem;
    overflow: auto;
}
.main{
	display: flex;
	justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}
.main-content{
	font-size: 3rem;
	color: #565656;
	background-color: #f5c97b;
	border: .5rem solid white;
	text-align: center;
	width: 14.5rem;
}
.main-text{
	height: 10rem;
    width: 13rem;
    padding-top: 3rem;
}
.main-number{
	font-size: 2.276rem;
	color: white;
	background-color: #83b09a;
}
.main-layout:hover .background{
	visibility: visible;
}
.background{
	padding-top: 2rem;
    padding-bottom: 2rem;
    visibility: hidden;
}

