body{
    background-color: #eff0f4;
    margin: 0px;

}
.header{
    position: relative;
    background-color: #5fc0cd;
    text-align: center;
    height: 64px;
    width: 100%;
}
.register{
    color: #ffffff;
  position: absolute;
  left: 16px;
  line-height: 64px;
  font-size: 15px;
}
.Sign-in{
    color: #ffffff;
    font-size: 16px;
    line-height: 64px;
}
.close{
    color:#ffffff;
    position: absolute;
   font-size: 15px;
   right: 15px;
   line-height: 64px;
}
.box{
    position: relative;
    background-color: #ffffff;
    line-height: 50px;
    margin-top: 8px;    
}

.iphone{
    position: absolute;
    top:50%;
    height: 20px;
    width: 15px;   
    margin: -10px 22px 0px 21px;
   
}
.locked{
    position: absolute;
    top: 50%;
    height: 20px;
    width: 15px;
    margin: -10px 22px 0px 21px; 
}
/*.shu::after {
    content: "";
    position: absolute;
    height: 20px;
    border: 1px solid #E1E5E7;
    margin:15px 0 0 58px;
}*/

.shu{
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #E1E5E7;
    margin:15px 0 0 58px;
}
.input-one{
    width: 70%;
    line-height: 50px;
    border:none;
    margin-left: 58px;
    padding-left: 16px;
    outline: none;
    
   
}
.bottom{
    background-color: #5fc0cd;
    width: 100%;
    height: 50px;
    margin-top: 35px;
    text-align: center;
    letter-spacing:10px;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 0px;
}
.last{
   color:#5fc0cd;
   float: right;
   text-decoration:none;
   margin-right: 10px;
   margin-top: 10px;
}
input::-webkit-input-placeholder {

color: #E1E5E7;
}



