<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptt.mapper.IStudyStepMapper">
    <sql id="Base_Column_List">
        id, profession, type, students_num, entry_barrier, difficulty, growth_cycle, companies,
        salary_0, salary_1, salary_3
    </sql>
    <select id="selectAll" resultType="StudyStep">
        SELECT * FROM studyStep
    </select>
</mapper>