footer {
    color: white;
    font-size: .14rem;
    background-color: #1DB176;
    .row {
        padding-top: .3rem;
        padding-bottom: .3rem;
    }
    .col-sm-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            display: inline;
        }
        .title-text {
            display: inline-block;
            margin-top: .08rem;
            margin-bottom: .08rem;
            font-size: .16rem;
        }
        .text {
            margin-right: .35rem;
        }
        &:nth-child(3) {
            text-align: right;
        }
        @media screen and (max-width:767px) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left !important;
        }
    }
    .last-title {
        padding: .05rem;
        font-size: .12rem;
        text-align: center;
        border-top: 1px solid white;
    }
}