@font-face {
  font-family: 'iconfont';  /* project id 503922 */
  src: url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.eot');
  src: url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:.3rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: #29bde0;
  min-height: 100%;
}
header{
  border-bottom: 1px solid #74d4eb;
  >h4{
    font-size: .34rem;
    color: #fff;
  }
}
main{
  margin-top: .78rem;
  padding: 10% 13% 30% 13%;

  >.card-wrap{
    display: none;
    height: 6.5rem;
    text-align: center;
    font-size: .4rem;
    background: #ffedc5;
    border: 2px solid #fff;
    >.card-top{
      height: 4.5rem;
      border-bottom: 1px solid #fff;

      >.circle{
        margin: 0 auto;
        transform: translate(0,-50%);
        width: .7rem;
        height: .7rem;
        color: #f56b81;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #ffedc5;

      }

      >a{
        width: 2.2rem;
      }

      >.role{
        font-size: .4rem;
        color: #29bde0;
      }
    }

    >.card-bottom>.role-information{
      margin: .23rem;
      font-size: .26rem;
      text-align: left;
      color: #fca000;
    }

    >.circle{
      margin: 0 auto;
      transform: translate(0,-50%);
      width: .7rem;
      height: .7rem;
      color: #f56b81;
      border-radius: 50%;
      background: #fff;
      border: 2px solid #ffedc5;

    }

    >a{
      width: 60%;
      margin-top: 20%;

    }
  }
}
