body{
  background: #f0f0f0;
}
@mixin step{
  margin-bottom: .2rem;
  line-height: .75rem;
  text-align: center;
  color: #fff;
  font-size: .3rem;
  background: #24a7c6;
}
@mixin btnColor{
    background: #042229;
}

main{
  padding-top: .78rem;
  padding-bottom: 1.5rem;

  >.diary-wrap{
    margin: .32rem .06rem .1rem .06rem;
    background: #f7f7f7;
    border: 1px solid #c9c9c9;

    >p{
      font-size: .2rem;
      margin: .1rem 0;
      text-align: center;
    }

    >.first-day{
      padding: 0 .3rem;
      text-align: center;
      line-height: .75rem;
      border-bottom: 1px solid #c9c9c9;

      >h4{
        margin: 0 .4rem;
        color: #29bde0;
        font-size: .3rem;
        font-weight: bold;
      }
      >a{
        color: #29bde0;
        float: right;
      }
    }
    >.day-happen{
      position: relative;
      padding: 7% 8%;
      margin-left: 6%;
      border-left: 1px solid #c9c9c9;

      >.step{
        @include step;
      }
      >.step2{
        @include step;
      }
      >.btn-blue{
        background: #042229;
      }
      >p{
        font-size: .2rem;
        margin: .1rem 0;
        text-align: center;
      }
      >.night{
        position: absolute;
        top:10%;
        left: 0;
        transform: translate(-50%,0);
        height: .6rem;
        width: .6rem;
        text-align: center;
        line-height: .6rem;
        font-size: .2rem;
        color: #fff;
        background: #000;
        border-radius: 50%;
        border: 1px solid #c9c9c9;
      }
      >.day-time{
        @extend .night;
        top:30%;
        color: #fdbc48;
        background: #fff;
      }
    }
  }
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  padding: .3rem;
  font-size: .3rem;
  color: #fff;
  background: #5fc0cd;

  >a{
    width: 45%;
    background: #fdbc48;
    text-align: center;
    line-height: .6rem;
    border-radius: 5%;
    &:first-of-type{
      margin-right: 8%;
    }
  }

}