@font-face {
  font-family: 'iconfont';  /* project id 503922 */
  src: url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.eot');
  src: url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_503922_3gqeiawbbuvdkj4i.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:.3rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
$ColorOrange: #f5c97b;
$fontSize:.3rem;
$fontSizeS:.22rem;
$font-Color:#fff;

@mixin center-block{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background: #29bde0;
}
/*header*/
header{
  font-size: 0;

  >a{
    width: .4rem;
  }

  >h4{
    font-size: .34rem;
    color: $font-Color;
  }
}
main {
  padding-top: .78rem;
  padding-bottom: 1.9rem;

  > .prompt {
    display: none;
    position: relative;
    width: 100%;
    max-width: 480px;
    height: .78rem;
    font-size: .26rem;
    background: #b9e9f5;

    > p {
      padding-top: .20rem;
      margin-left: .5rem;
    }

    > .audio {
      float: right;
      width: .5rem;
      margin-right: .15rem;
      margin-top: .15rem;
    }

    > .horn {
      position: absolute;
      bottom: -.16rem;
      left: .7rem;
      width: 0;
      height: 0;
      border-left: .08rem solid transparent;
      border-right: .08rem solid transparent;
      border-top: .16rem solid #b9e9f5;
    }
  }

  > .role-list > p {
    margin-top: .15rem;
    margin-left: .7rem;
    margin-bottom: .43rem;
    font-size: .24rem;
    color: #fff;
  }

  > .role-list > .row-wrap {
    &:after{
      display: table;
      content: " ";
      clear: both;
    }

    > .column {
      float: left;
      width: 33.33%;
      position: relative;
      height: 2.09rem;
      &:hover .more {
        visibility: visible;
      }

      > .square {
        margin: 0 auto;
        width: 1.4rem;
        height: 1.4rem;
        border: 3px solid #fff;

        > .role-name {
          @include center-block;
          width: 100%;
          height: 80%;
          font-size: $fontSize;
          background: $ColorOrange;
        }

        > .role-number {
          @include center-block;
          width: 100%;
          height: 20%;
          background: #83b09a;
          font-size: $fontSizeS;
          color: #fff;
        }
      }
         > .more {
           display: none;
           position: absolute;
           left: 50%;
           transform: translate(-50%,0);
           width: .3rem;
           bottom: .2rem;
          visibility: hidden;
      }
    }
  }
}

