$reset-FontSize:0;
$FontSizeM:.26rem;
$ColorWhite:#fff;
$bgcolor:#f66f6f;
@mixin footer-button($bgcolor:#f66f6f){
  $FontSize:.4rem;
  flex: 1;
  line-height: .85rem;
  text-align: center;
  font-size: $FontSize;
  color: $ColorWhite;
  border-radius: .1rem;
  background: $bgcolor;
}
body{
  background: #fff;
}
/*header*/
header{
  font-size: $reset-FontSize;
  border-bottom: 1px solid #74d4eb;

  >.iconfont{
    width: .53rem;
    font-size: .5rem;
  }

  >h4{
    font-size: .34rem;
    color: $ColorWhite;
  }
}

main{
  padding-top: .78rem;
  padding-bottom: 1.3rem;
  font-size: $reset-FontSize;

  >.game-result{
    padding: 0 10.8%;
    overflow: hidden;
    background: #29bde0;

    >.victory-img-area{
      width: 70%;
      height: 2rem;
      margin: .1rem auto;
      padding-top: .1rem;
      text-align: center;
      background: url("../images/victory.png")no-repeat center;
      background-size: contain;

      >h3{
        color: #fff;
        font-size: .4rem;
        margin-top: 1.2rem;
      }
    }

    >.resule-title{
      margin: .2rem 0;
      font-size: .33rem;
      color: #ffc865;
    }
    >.text-area{
      margin: .2rem 0;
      font-size: $FontSizeM;
      color: $ColorWhite;

      >p {
        padding: .05rem 0;

        >span{
          width: 30%;
        }
      }
    }
  }

  >.game-daily{
    padding: 2% 10.8% 2% 10.8%;
    font-size: $FontSizeM;
    color: #a6a6a6;
    border-bottom: 1px solid #dddddd;

    >.date{
      margin-bottom: .2rem;
      font-size: .3rem;
      color: #515151;

      >.time{
        float: right;
        margin-right: .1rem;
        font-size: .2rem;
        color: #c7c7c7;
      }
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  height: 1.3rem;
  padding: 0 3.6%;
  background: rgba(145,216,232,0.7);

  >.another-game{
    @include footer-button;
  }
  >.share{
    @include footer-button($bgcolor:#fbb435);
    margin-left: .5rem;
  }
}