$color: #29bde0; //头部颜色
$color2: #ffffff; //白色
$flex: flex;
$font: 10px;

body {
  max-width: 780px;
  min-width: 320px;
  margin: auto;
  padding: 0;
}

$color: #29bde0; //头部颜色
$color2: #ffffff; //白色
$flex: flex;
$font: 10px;
body {
  max-width: 780px;
  min-width: 320px;
  margin: auto;
  padding: 0;
}

.max-wid {
  overflow: hidden;
  max-width: 780px;
  min-width: 320px;
  width: 100%;
  margin: auto;
  position: relative;
  padding-bottom: $font*4;
  background: #f0f0f0;

}

header {
  line-height: $font*5;
  img {
    width: $font*2;
    margin-left: $font*2;
    vertical-align: middle;
  }
}

.mar-top {
  .main-top {
    width: 90%;
    margin: $font*2 auto;
    text-align: center;
    line-height: $font*5;
    font-size: $font*2;
    border: 1px solid #c9c9c9;
    background: #ffffff;
    a {
      color: #9a9a9a;
      text-decoration: none;
    }
    img {
      width: $font*1.5;
      float: right;
      margin-right: 20px;
      margin-top: 13px;

    }
  }
  .main-middie {
    width: 90%;
    margin: $font*2 auto;
    text-align: center;
    background: #ffffff;
  }
  .play {
    text-align: center;
    line-height: $font*5;
    color: #fbb435;
    border-bottom: 1px solid #fbb435;
  }
  .simpli {
    width: 70%;
    margin: 20px auto;
    line-height: 50px;
    background: #69d1e9;
  }
  span {
    color: #787878;
  }
  .next {
    display: inline-block;
    width: 0;
    height: 0;
    float: right;
    margin-right: -30px;
    margin-top: 15px;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fbb435;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
  .main-circle {
    margin-top: 2rem;
    height: 4rem;
    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      background: #f0f0f0;
      border-radius: 4px;
      &:hover {
        background-color: #69d1e9;
      }
    }
  }
}

#sidemenu {
  display: none;
}

#sidemenu:checked + aside {
  left: 0%;
}

.bacg {
  background: $color;
}

#sidemenu:checked ~ #wrap {
  padding-left: 65%;
  margin-right: -50%;
}

aside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  width: 60%;
  background: #f0f0f0;
  transition: 0.2s ease-out;
}

#wrap {
  transition: 0.2s ease-out;
}

label {
  border-radius: 70px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: Courier New;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
}

#sideul {
  padding: 0;
}

#sideul li {
  list-style: none;
  width: 100%;
  height: $font*4;
  font-size: 1.5em;
  line-height: 40px;
  border-bottom: 1px solid #000000;
}

#sideul li span {
  float: right;
  margin-top: 9px;
  margin-right: 20px;
}
