html{font-size: 62.5%;}
body{padding: 0;
	 margin: 0;}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding:1rem; 
    line-height: 4rem;
    color: #fff;
    background-color:#5FC0CD;
}
header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}
header h2 {
    margin: 0 2em;
    text-align: center;
    font-size: 1.8rem;
}
.pull-left {float: left;}
.pull-right {float: right;}

main{
    position: absolute;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eff0f4;
}
.account, .password {
    position: relative;
    width: 100%;    
    line-height:5rem;
    margin: .5rem 0 0 0;
    background: #fff;
}
img{
    position: absolute;
    top: 1.3rem;    
    height: 2.2rem;
    margin:0 1.5rem;
}
input{
    border:none;
    margin-left: 5rem;
    padding-left: 3rem; 
    border-left:solid #eff0f4;
    vertical-align: middle;
    outline: none;
}
.login{
    margin:.5rem 0 0 0;
	padding: 1rem; 
	width: 100%;
    font-size: 1.6rem;
    background-color:#5FC0CD;
	border:none;
    color: #fff;
}
.forgot-password {
    float: right;
    padding: 0 1rem;}
