 html{
    height: 100%;
}
body{
    background-color: #eff0f4;
    margin: 0;
    height: 100%;
}
header{
    position: fixed;
    width: 100%;
    height: 0.88rem;
    background-color: #5fc0cd;
    color: #fff;
    text-align: center;
}

header .login{
	position: absolute;
	 font-size: 0.38rem;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%,-50%);
	 letter-spacing: 2px;
}
header .close{
    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.32rem;
}
header .register{
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.32rem;
}
section{
   padding-top: 0.88rem;
}
section div{
    position: relative;
    margin-top: 0.16rem;
    height: 1rem;
    
    background-color: #fff;

}
section div img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 0.44em;
    padding-right: 0.46rem;
}
section .phone img{
    width: 0.28rem;
    height: 0.42rem;
}
section .lock img{
    
    width: 0.3rem;
    height: 0.44rem;
}
section input{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 0.52rem;
    left: 1.16rem;
    padding-left: 0.33rem;
    font-size: 0.32rem;
    border: none;
    outline: none;
    border-left: 2px solid #eaedee;
}
section input::-webkit-input-placeholder{
            color:#e1e5e7;
        }
section input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#e1e5e7;
        }
section input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#e1e5e7;
        }
section input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#e1e5e7;
        }

footer{
    margin-top: 0.7rem;
}
footer button{
    width: 100%;
    height: 1rem;
    color: #ffffff;
    background-color: #5fc0cd;
    border: none;
    font-size: 0.38rem;
    text-align: center;
}
footer span{
    color: #5fc0cd;
    position: absolute;
    right: 0.32rem;
    font-size: 0.32rem;
    margin-top: 0.2rem;
}