html{
    height: 100%;
}
body{
    background-color: #eff0f4;
    height: 100%;
}
header{
    position: fixed;
    width: 100%;
    height: 1.375rem;
    line-height: 1.375rem;
    background-color: #5fc0cd;
    color: #fff;
    text-align: center;
}
header .close{
    position: absolute;
    left: 0.5rem;
    font-size: 32px;
}
header .login{
    font-size: 36px;
}
header .register{
    position: absolute;
    right: 0.5rem;
    font-size: 32px;
}
section{
   padding-top: 1.375rem;
}
section div{
    margin-top: 0.25rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    background-color: #fff;

}
section div img{
    vertical-align: middle;
     padding-left: 0.6875rem;
    padding-right: 0.71875rem;
}
section .phone img{
    width: 0.4375rem;
    height: 0.65625rem;
}
section .lock img{
    vertical-align: middle;
    width: 0.46875rem;
    height: 0.6875rem;
}
section input{
    vertical-align: middle;
    height: 0.8125rem;
    padding-left: 33px;
    font-size: 32px;
    border: none;
    border-left: 2px solid #bababa;
}
section input::-webkit-input-placeholder{
            color:#e1e5e7;
        }
section input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#e1e5e7;
        }
section input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#e1e5e7;
        }
section input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#e1e5e7;
        }

footer{
    margin-top: 1.09375rem;
}
footer button{
    width: 100%;
    height: 1.5625rem;
    color: #ffffff;
    background-color: #5fc0cd;
    border: none;
    font-size: 36px;
    text-align: center;
    letter-spacing: 15px;
}
footer span{
    color: #5fc0cd;
    position: absolute;
    right: 0.5rem;
    font-size: 32px;
    margin-top: 0.3125rem;
}