.fxlr, header, main .btn, main .dropdown-3, main button, main .main-1-right, footer, footer .icon3-1, footer .icon5-1 {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.wh100, header .btn-default, main .btn {
  width: 100%;
  height: 100%; }

.box1, footer .icon3-1, footer .icon4, footer .icon5-1 {
  background-color: #ffffff;
  flex-flow: column;
  border: none;
  outline: none; }

.box2, header .header-middle-left, header .header-middle-right, header .icon2 {
  border: none;
  outline: none; }

.box3, main .main-1, main .main-2 {
  display: flex;
  color: #999999;
  border-bottom: 0.1rem solid #999999; }

.box4, main .main-1-left-top, main .main-1-left-bottom, main .main-1-right {
  display: flex;
  align-items: center; }

* {
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem !important; }

input {
  display: none; }

header {
  position: fixed;
  background-color: #68cdd5;
  width: 100%;
  height: 7rem;
  top: 0rem;
  z-index: 1; }
  header .icon1 {
    width: 42px; }
  header .header-middle {
    display: flex;
    font-size: 2rem;
    background-color: #55a8b3;
    border-radius: 1.23rem; }
  header .header-middle-left {
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    background-color: #55a8b3;
    color: white;
    font-size: 2rem; }
  header .header-middle-right {
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    color: #68cdd5;
    background-color: white;
    font-size: 2rem; }
  header .icon2 {
    height: 44px;
    width: 42px;
    background-color: #68cdd5;
    background-image: url(01.png);
    background-position: 0 -55px;
    transform: scale(0.6); }
  header .btn-default {
    border-color: #fff; }

main {
  margin-bottom: 6rem; }
  main a {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    text-decoration: none;
    color: black; }
  main .dropdown {
    position: fixed;
    display: flex;
    width: 110%;
    height: 6rem;
    top: 7rem;
    border-bottom: 0.1rem solid #999999;
    z-index: 1; }
  main li {
    display: flex;
    justify-content: center;
    margin: 0.7rem; }
  main .btn {
    font-size: 1.5rem;
    color: #999999;
    border: white;
    outline: none !important; }
  main .icon6 {
    height: 8px;
    width: 13px; }
  main .icon7 {
    background-image: url(01.png);
    background-position: 0 0;
    height: 8px;
    width: 13px;
    transform: scale(0.6); }
  main .dropdown-menu {
    position: absolute;
    display: none;
    top: 6rem;
    padding: 0;
    min-width: 100%;
    left: initial;
    background-color: white;
    box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15); }
  main button:focus ~ .dropdown-menu {
    display: block; }
  main .dropdown-2 {
    position: relative;
    width: 30.3%;
    border-left: 0.1rem solid #999999;
    border-image: linear-gradient(white, #999999, white) 4; }
  main .dropdown-3 {
    width: 30.3%;
    position: relative;
    height: 6rem; }
  main button {
    height: 100%;
    width: 100%;
    background-color: white;
    outline: none;
    border: none; }
  main .main-1 {
    margin-top: 13rem; }
  main .main-1-left {
    display: flex;
    flex-flow: column;
    width: 60%; }
  main .main-1-left-top {
    margin: 0.8rem 0 0.5rem 4%; }
  main .main-1-left-middle {
    margin: 0.4rem 0 0.4rem 4%;
    color: black;
    text-indent: 36px; }
  main .main-1-left-bottom {
    margin: 0.8rem 0 0.5rem 4%;
    padding: 0 0 0 0.3rem; }
  main .icon8 {
    background-image: url(01.png);
    background-position: 0 -31px;
    height: 24px;
    width: 36px;
    transform: scale(0.6); }
  main .icon9 {
    background-image: url(01.png);
    background-position: 0 -8px;
    height: 23px;
    width: 33px;
    transform: scale(0.6); }
  main .p-wenzi {
    width: 60%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  main .main-1-right {
    justify-content: center;
    width: 40%;
    color: red; }
  main .icon10 {
    background-image: url(01.png);
    background-position: -63px -27px;
    height: 33px;
    width: 19px;
    transform: scale(0.6);
    margin: 0 0 0 1rem; }

footer {
  position: fixed;
  bottom: 0;
  height: 6rem;
  padding: 0 20%;
  width: 60%;
  background-color: #ffffff;
  border-top: 0.1rem solid #999999; }
  footer .icon3-1 {
    height: 58px;
    width: 46px;
    color: #55a8b3; }
  footer .icon3 {
    background-image: url(01.png);
    background-position: 0 -140px;
    height: 40px;
    width: 46px;
    transform: scale(0.6); }
  footer .icon4 {
    background-image: url(01.png);
    background-position: 0 -180px;
    height: 94px;
    width: 94px;
    transform: scale(0.6); }
  footer .icon5 {
    background-image: url(01.png);
    background-position: 0 -99px;
    height: 41px;
    width: 42px;
    transform: scale(0.6); }
  footer .icon5-1 {
    height: 60px;
    width: 42px;
    color: #55a8b3; }

/*# sourceMappingURL=task12_2.css.map */
