html {
  font-size: 312.5%; }

body {
  margin: 0;
  font-size: 16px; }

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

button {
  border: none;
  outline: none; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/6ecf9795baef3ec4b77aab099717acfc.jpg) no-repeat;
  background-size: 100%; }
  main .style {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 6rem;
    height: 4rem;
    padding: .3rem .6rem;
    background: #b9bec7; }
  main p {
    margin-bottom: .5rem;
    font-size: .4rem;
    color: blue; }
  main img {
    height: .5rem;
    padding: 0 .2rem;
    border-right: 1px solid #b9bec7; }
  main div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: .75rem;
    background: #fff; }
  main input {
    flex-grow: 1;
    margin-left: .2rem;
    outline: none;
    border: none; }
  main button {
    width: 100%;
    height: .6rem;
    font-size: 16px;
    color: #fff;
    background-color: blue; }

.massge {
  width: 100%;
  margin: 0;
  font-size: .4rem;
  color: red;
  text-align: left; }
