.task div{
    /*该元素的宽度为25%*/
    width: 25%;
    /*该元素的高度为25vw*/
    height: 25vw;
    /*该元素的背景为金色*/
    background: orange;
    /*该元素自动向左浮动*/
    float: left;
    /*该元素的左侧会空出10px*/
    margin-left:10px;
    /*该元素的上方会空出10px*/
    margin-top: 10px;
    /*该元素的四个角为15px的圆角*/
    border-radius: 15px;
}
