<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wp.dao.UserDao">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是test表所对应的实体类
    -->
    <!--映射Dao接口里的方法,替代了实现类的作用-->
    <insert id="insert" parameterType="cn.wp.model.User">
        insert into user (name,password) VALUES (#{name},#{password})
    </insert>
    <select id="selectByName" resultType="cn.wp.model.User">
        select * from user where name = #{name}
    </select>
    <select id="selectByCondition" resultType="cn.wp.model.User">
        select * from user where name = #{name} and password = #{password}
    </select>
    <select id="selectById" resultType="cn.wp.model.User" parameterType="cn.wp.model.User">
            select * from user where id = #{id}
    </select>
</mapper>