.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font26{
    font-size: 26px;
}

.color-blue{
    color: #1d7ad9;
}