
body{
    margin: 0;
}
.enterprise-page  img{
  width: 100%;
}
.occupation{
    margin: 40px 0 20px 0;
}

.occupation span{
    color: #29b078;
    font-size: 16px;
}
h3{
  text-align: center;
    border-bottom: 1px solid #e6e6e6;
padding-bottom: 20px;
}
.ordered-list li{
    margin-bottom: 10px;
}
.ordered-list-box{
    border: 1px solid #e6e6e6;
    margin-right: 20px;
    margin-bottom: 20px;
}
.video{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ff640c;
    margin-top: 20px;
}
.software{
display: flex;
 justify-content: center;
}
.ordered-list{
    list-style: none;
    padding: 0;

}
.software ul li:hover .video{
    background-color: #ff640c;
}
.software ul li:hover .font{
    color:#ff640c;
}
.to-potato-net img{
  float: left;
    margin: 20px;
}
@media screen and (max-width:400px){
    .to-potato-net img{
        width:210px;
    }
}
.to-potato-net p{
  padding: 40px;
}
.todou-history p{
  padding: 20px;
}
.todou-box{
    border: 1px solid #e6e6e6;
    margin-bottom: 40px;
    margin-right: 20px;
}