body {
    margin: 0;
    background: url(../img/矩形\ 7.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    main {
        position: absolute;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 33rem;
        height: 24rem;
        background: #d1d4da;
        .title {
            margin: 2rem;
            font-size: 30px;
            color: #03A9F4;
        }
        .row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 82%;
            height: 3.7rem;
            margin: 0 0 1.3rem 9%;
            background: #fff;
            .row-box {
                padding: 0 1rem;
                margin-right: 1rem;
                border-right: solid 2px #E8E8E8;
            }
            .input {
                border: none;
                width: 80%;
                outline: none;
                font-size: 14px;
                color: #999;
            }
        }
        .warm{
            position: absolute;
            left: 7rem;
            font-size: 1.2rem;
            color: red;
        }
        footer {
            position: fixed;
            left: 0;
            right: 0;
            margin:2.3rem auto auto auto;
            width: 27rem;
            line-height: 3.3rem;
            text-align: center;
            border-radius: 5px;
            background: #03A9F4;
            color: #fff;
        }
    }
}