html,body{
    padding:0;
    margin:0;
    height: 100%;
    background-color:#68cdd5;
}
img{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
}
.banner{
    text-align: left;
    overflow: hidden;
    padding-top:10px ;
    padding-left: 10px;
}
.banner>img{
    position:absolute;
    /*margin-left:2px ;*/
    /*padding-top: 2px;*/
    width: 27px;
    height: 27px;
}
.head{
    margin-top: 100px;
    text-align: center;
    overflow: hidden;
}
/*.head>img{*/
    /*position:absolute;*/
    /*margin-left: -91px;*/
/*}*/
.middle{
    padding-top:100px;
    padding-bottom: 100px;
    width: 71.8%;
    font-size:15px;
    color:#fff;
    margin:auto;
}
.final{
    padding-bottom: 100px;
    width:71.8%;
    font-size:12px;
    margin:auto;
}
.leftone{
    float:left;
    text-align: center;
    color: #fff;
}
.rightone{
    float:right;
    text-align: center;
    color:#fff;
}