@charset "UTF-8";

/**
 * Authors      TZMMichael (15977536060@163.com)
 * Date         2017-12-14 14:13:22
 * Site         https://github.com/TZMMichael
 * Updated      
 * Updated by   TZMMichael 
 */


@import './task13.mixin.scss';

/* HEADER */
.header{
    background-color: $blue;
    color: $white;
    font-size: 1.6rem;
    padding:1rem 0;
    border-bottom: 1px solid #74d4eb;
    & img{
        height: 1.8rem;
        margin: 0 1rem;
    }
}

/* MAIN */
.main{
    background-color:$blue;
    top: 4.2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    & img{
        height: 10rem;
        align-self: center;
        margin-top: 2rem;
        //position: absolute;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%,-50%);
        //关于元素的居中，这里使用CSS3的TRANSFORM:TRANSLATE 目前运用在这里的只是2D变换。
    }
    & p{
        margin:1rem 3rem;
    }
    & .amazing{
        font-size: 1.8rem;
        color: $orange;
    }
    & .gametime{
        color: $white;
    }
    & .consequence{
        background-color:$white;
        color: $gray;
        border-bottom:1px solid #ddd;
        border-top:1px solid #ddd;
        & .datetime{
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        & .date{
            color: black;
            font-size: 1.6rem;
        }
        & .time{
            color: #e4e4e4;
        }
    }
    & .blank{
        height: 7.1rem;
    }
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: $white;
    background-color: rgba(119,190,206,.5);
    & a{
        text-decoration: none;
        color: $white;
    }
    & p{
        padding: 1rem;
        border-radius: 0.5rem;
        width: 10rem;
        text-align: center;
    }
    & .again{
        background-color: #f66f6f;
    }
    & .upload{
        background-color: $orange;
    }
}