html {
    font-size: 625%;
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
}
a:hover {
    text-decoration: none;
}
/* 头部联系方式 */
.hd-contact {
    color: #29b078;
}
.pull-left span {
    display: flex;
    margin-top: .06rem;
}
/* 响应式导航栏 */
.screen-nav {
    background-color: #29b078;
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .screen-nav {
        padding: 0;
    }
}
.nav-ul {
    float: right;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .nav-ul {
        float: none;
        text-align: center;
    }
}
.nav-logo {
    line-height: .7rem;
}
@media screen and (max-width: 768px) {
    .nav-img {
        margin-left: 10%;
    }
}
@media screen and (max-width: 500px) {
    .nav-img {
        margin-left: .15rem;
    }
}
.nav-ul li a {
    height: .7rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    color: #fff !important;
    background-color: #29b078 !important;
    box-sizing: border-box;
}
.navbar-collapse .nav-ul li a:hover,
.navbar-collapse .nav-ul li a:focus {
    border-bottom: 3px solid #fff;
}

.nav-btn {
    margin: .18rem 0;
    float: right;
}
@media screen and (max-width: 768px) {
    .nav-btn{
        margin-right: 10%;
    }
}
@media screen and (max-width: 500px) {
    .nav-btn {
        margin-right: .15rem;
    }
}
/* 消除导航栏默认边框 */
.navbar-default {
    border: 0;
}
/* 消除默认的圆角边框 */
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
    .active a {
        border-bottom: 3px solid #fff;
    }
}
/* banner */
.banner img {
    width: 100%;
}
/* 面包屑导航 */
.breadcrumb {
    padding-left: 0;
    margin-top: .2rem;
    background-color: #fafafa;
}
.breadcrumb a {
    color: #333;
}
.breadcrumb > li + li:before {
    color: #333;
    content: ">";
}
.breadcrumb .active a {
    color: #29b078;
}
/* 侧边栏 */
.side,
.main {
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
}
.side {
    margin-bottom: .3rem;
}
.side-top {
    font-size: .2rem;
    border-bottom: 1px solid #e2e2e2;
}
.side-list {
    margin: 0 auto;
    width: 1rem;
}
.side .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: .1rem;
    border: 1px solid #ff640c;
    border-radius: 50%;
    color: #fff;
}
.side a {
    color: #29b078;
}
.side a:hover {
    color: #ff640c;
}
.side a:hover .dot {
    background-color: #ff640c;
}
.side li {
    line-height: .5rem;
}
/* 主栏内容 */
.main {
    margin-bottom: 1rem;
}
.main-top p,
.main-bottom {
    padding: .4rem;

}
.main-bottom {
    border-top: 1px solid #e2e2e2;
}
.main-top p,
.main-bottom p {
    text-indent: 2em;
}
.main-bottom p {
    padding-bottom: .2rem;
    line-height: .3rem;
}
/* 底部 */
.ft {
    color: #fff;
    background-color: #26a26f;
}
.ft .container {
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.ft .ft-left span {
    padding-left: .1rem;
    padding-right: .1rem;
}
.ft .ft-left a,
.ft .ft-center a {
    color: #fff;
}
.ft .ft-left a:hover,
.ft .ft-center a:hover {
    border-bottom: 1px solid #fff;
}
.ft .ft-center div a:first-child {
    margin-right: .3rem;
}
.ft .ft-left div {
    padding-top: .6rem;
}
.ft .ft-center div {
    padding-top: .2rem;
}
.ft .ft-bottom {
    border-top: 1px solid #32c086;
}
.ft .ft-bottom p {
    margin: 0;
}