html {
	font-size: 625%;
}
body {
	background-color: #29BDE0;
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 478%;
	}
}
@media only screen and (max-width: 767px) {
	html {
		font-size: 312%;
	}
}

.top-box {
	width: 100%;
	background-color: #29BDE0;
	position: fixed;
	top: 0;
	z-index: 999;
}
.top {
	width: 100%;
	height: .5rem;
	font-size: .34rem;
	color: #FFF;
	background-color: #29BDE0;
	margin-top: .3rem;
	margin-bottom: .08rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left-icon {
	width: .39rem;
	height: .4rem;
	background-image: url(images/03.png);
	background-repeat: no-repeat;
	background-size: .39rem .4rem;
	margin-left: .22rem;
}
.right-icon {
	width: .36rem;
	height: .36rem;
	background-image: url(images/04.png);
	background-repeat: no-repeat;
	background-size: .36rem .36rem;
	margin-right: .22rem;
}
.vote {
	width: 100%;
	height: .8rem;
	background-color: #B9E9F5;
	font-size: .26rem;
	color: #464646;
	padding-left: .4rem;
	padding-right: .16rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.vote-icon {
	width: .52rem;
	height: .52rem;
}
.down-arrow {
	width: .14rem;
	height: .13rem;
	background-image: url(images/06.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: .7rem;
}
.pick {
	width: 100%;
	height: .5rem;
	background-color: #29BDE0;
	padding-left: .7rem;
	font-size: .24rem;
	color: #FFF;
	display: flex;
	justify-content: left;
	align-items: center;
}


.main-box {
	width: 100%;
	margin-top: 2.31rem;
	margin-bottom: 1.9rem;
	padding: 0 .4rem;
}
.main {
	width: 100%;
	height: 1.9rem;
	margin-top: .2rem;
	display: flex;
	justify-content: space-between;
}
.content-box {
	width: 1.36rem;
	height: 1.9rem;
}
.content-top {
	width: 100%;
	height: 1.36rem;
}
.career {
	width: 100%;
	height: 1.0rem;
	font-size: .3rem;
	color: #565656;
	background-color: #F5C97B;
	box-sizing: border-box;
	border: 2px solid #FFF;
	border-bottom: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number {
	width: 100%;
	height: .36rem;
	font-size: .22rem;
	color: #FFF;
	background-color: #83B09A;
	box-sizing: border-box;
	border: 2px solid #FFF;
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-bottom {
	width: 100%;
	height: .3rem;
	margin-top: .22rem;
	display: flex;
	justify-content: space-between;
	visibility: hidden;
}
.content-box:hover .content-bottom {
	visibility: visible;
}
.bottom-icon {
	width: .3rem;
	height: .3rem;
}

.footer-box {
	width: 100%;
	height: 1.9rem;
	background-color: #29BDE0;
	padding: 0 .4rem;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
.footer {
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #FFF;
	padding: .46rem .36rem 0 .36rem;
	display: flex;
	justify-content: center;
}
.send {
	width: 100%;
	background-color: #FBB435;
}
.send a{
	width: 100%;
	font-size: .4rem;
	color: #FFF;
	text-decoration: none;
	padding: .23rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}