html {
	font-size: 625%;
}
body {
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 478%;
	}
}
@media only screen and (max-width: 767px) {
	html {
		font-size: 312%;
	}
}


.top-box {
	width: 100%;
	background-color: #29BDE0;
	position: fixed;
	top: 0;
	z-index: 999;
}
.top {
	width: 100%;
	height: .9rem;
	padding: .2rem;
	box-sizing: border-box;
	border-bottom: 1px solid #6AD1E9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.house {
	width: .51rem;
	height: .44rem;
	background-image: url(images/11.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.top-text {
	font-size: .34rem;
	color: #FFF;
	margin-top: .08rem;
}
.information {
	width: .4rem;
	height: .4rem;
	background-image: url(images/12.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: .02rem;
}

.main-box {
	width: 100%;
	background-color: #29BDE0;
	padding: 0 .74rem;
	padding-top: 1.1rem;
}
.main-pic {
	width: 100%;
	height: 2.05rem;
	background-image: url(images/13.png);
	background-repeat: no-repeat;
	background-size: 3.51rem 2.05rem;
	background-position: center center;
}
.main-text {
	width: 100%;
	height: 1.26rem;
	font-size: .33rem;
	color: #FFC865;
	text-align: left;
	margin-top: .2rem;
}
.main-data {
	width: 100%;
	font-size: .26rem;
	color: #FFF;
	margin-top: .5rem;
	padding-bottom: .2rem;
}

.about-box {
	width: 100%;
	margin-bottom: 1.3rem;
}
.about {
	width: 100%;
	padding: 0 .74rem;
	padding-bottom: .26rem;
	box-sizing: border-box;
	border-bottom: 1px solid #E1E2E3;
}
.time {
	width: 100%;
	height: .34rem;
	margin: .08rem 0 .12rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.time-left {
	font-size: .3rem;
	color: #515151;
}
.time-right {
	font-size: .2rem;
	color: #BEBEBE;
}
.day {
	width: 100%;
	font-size: .26rem;
	color: #BEBEBE;
}


.footer-box {
	width: 100%;
	height: 1.3rem;
	background-color: rgba(153,223,240,.5);
	position: fixed;
	bottom: 0;
	z-index: 999;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.again {
	width: 40%;
}
.share {
	width: 40%;
}
.again a{
	width: 100%;
	padding: .23rem 0;
	font-size: .4rem;
	color: #FFF;
	background-color: #F66F6F;
	text-decoration: none;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}
.share a{
	width: 100%;
	padding: .23rem 0;
	font-size: .4rem;
	color: #FFF;
	background-color: #FBB435;
	text-decoration: none;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}