body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.header-cont {
    margin: 0 auto;
    width: 90%;
    line-height: 40px;
    font-size: 15px;
    overflow: hidden;
}
.header-nav {
    padding-right: 5%;
    font-size: 16px;
    background-color: #29b078;
    overflow: hidden;
}
.telephone {
    float: left;
    color: #29B078;
}
.header-nav {
    background-color: #29B078;
}
.nav-icon , .header-nav-cont {
    float: right;
}
.header-nav-cont {
    margin-right:-30px;
}
.icon-qq , .icon-weibo , .icon-weixin {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.icon-weixin {
    background: url(img.png) 0 0;
}
.icon-qq {
    background: url(img.png) -51px 0;
}
.icon-weibo {
    background: url(img.png) -97px 0;
}
.header-nav-btn {
    float: right;
    margin: 10px 0;
    padding: 0;
    width: 30px;
    height: 25px;
    font-size: 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    &:hover {
        opacity: .5;
    }
    span {
        display: inline-block;
        margin: 3px 0;
        width: 20px;
        height: 2px;
        background-color: #ffffff;
    }
}
.header-nav-control {
    display: none;
}
.header-wrap-nav {
    display: inline-block;
    padding: 30px;
    border-bottom: 5px solid #29B078;
    text-align: center;
    text-decoration: none;
    color: #fff;
    &:hover {
        color: #fff;
        border-bottom: solid 5px #fff;
        text-decoration: none;
    }
}
@media screen and (max-width: 768px) {
    .header-nav-collapse {
        position: relative;
        bottom: 25px;
        display: block;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }
    .header-nav-cont {
        float: none;
        height: 0;
        transition: height 1s;
    }
    .header-wrap-nav {
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid #29B078;
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
    .header-nav-control:checked + .header-nav-cont {
        height: 173.36px;
    }
}
@media screen and (min-width: 768px) {
    .header-nav-btn {
        display: none;
    }
}
.slider , .slider-item{
    margin: 0;
    padding: 0;
    list-style: none;
}
.floatfix {
    *zoom: 1;
}
.floatfix:after {
    content: "";
    display: table;
    clear: both;
}
.slider-container {
    width:100%;
    position:relative;
}
.slider,.slider-item {
    padding-bottom: 31%;
}
.slider-item {
    width:100%;
    position:absolute;
    animation-timing-function: linear;
    animation-name:fade;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    background-size:100%;
}
.slider-item1{
    background-image:url(bg1.jpeg);
}
.slider-item2{
    background-image:url(bg2.jpg);
}
.slider-item3{
    background-image:url(bg3.png);
}
.slider-item4{
    background-image:url(bg4.jpg);
}
@keyframes fade{
    0%{
        opacity:0;
        z-index:2;
    }
    6.25%{
        opacity:1;
        z-index: 1;
    }
    25%{
        opacity:1;
        z-index:1;
    }
    31.25%{
        opacity:0;
        z-index:0;
    }
    100%{
        opacity:0;
        z-index:0;
    }
}
.slider-item + .slider-item{
    opacity:0;
}
.slider-item1{
    animation-delay: -1s;
}
.slider-item2{
    animation-delay: 3s;
}
.slider-item3{
    animation-delay: 7s;
}
.slider-item4{
    animation-delay: 11s;
}
footer {
    display: flex;
    padding: 30px 10%;
    background-color: #29B078;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
@media all and (max-width: 992px) {
    .footer {
        flex-direction: column;
    }
}
.footer-about {
    width: 33.3%;
}
.word-white , .word-white-small {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
}
.word-white-small {
    font-size: 14px;
}
.qg-code {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 3vw;
    bottom: 1vw;
}
@media all and (max-width: 992px) {
    .qg-code {
        float: left;
    }
}
.qg-code-name {
    color: #fff;
    font-size: 16px;
}
.copyright {
    padding: 5px 0;
    color: #fff;
    border-top: 1px solid #32C086;
    text-align: center;
    font-size: 10px;
    background-color: #29B078;
}
footer a {
    color: #fff;
}
footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
}

