@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  font-size: 4rem;
  margin: 0rem;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  font-size: 6rem;
  color: #fff;
  background-color: #29bde0;
  border-bottom: 1px solid;
}
.header img {
  height: 6rem;
}
.hidden {
  visibility: hidden;
}
.main-warp {
  position: fixed;
  top: 21rem;
  bottom: 29rem;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
.main-warp .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-warp .main .people {
  text-align: center;
  border: 0.6rem solid white;
}
.main-warp .main .people .vocation {
  font-size: 5rem;
  padding: 6rem 7rem;
  background-color: #f5c97b;
}
.main-warp .main .people .number {
  padding: 1rem;
  color: #fff;
  background-color: #83b09a;
}
.main-warp .main .hover {
  visibility: hidden;
  text-align: center;
}
.main-warp .main .hover img {
  height: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.circle-blue {
  height: 2rem;
  width: 2rem;
  background-color: #29bde0;
  border-radius: 50%;
}
.footer {
  position: fixed;
  bottom: 6rem;
  width: 79.5%;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: #002FA7;
  border: none;
}
.footer span {
  display: inline-block;
  padding: 2rem;
  font-size: 5rem;
  color: #fff;
}
.footerB {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #99dff0;
  border: none;
}
.footerB button {
  width: 30rem;
  padding: 3rem 2rem;
  margin: 3rem 5rem;
  background-color: #002FA7;
  border: none;
  border-radius: 2rem;
}
.footerB button span {
  font-size: 5rem;
  color: #fff;
}
.dark {
  background-color: gainsboro!important;
}
.darkLeft {
  border: 5rem solid transparent;
  border-right: 5rem solid gainsboro!important;
}
