@charset "UTF-8";
body {
  background-color: #f0f0f0;
}
.top {
  display: flex;
  margin: 2rem;
  background-color: #fff;
}
.top .left {
  writing-mode: vertical-lr;
  padding: 8rem;
  text-align: center;
  font-size: 5rem;
  border-right: solid gainsboro;
}
.top .right {
  width: 100%;
}
.top .right ul {
  display: flex;
  flex-wrap: wrap;
  padding: 9rem 0rem 9rem 9rem;
  margin: 0rem;
}
.top .right ul li {
  width: 50%;
  list-style: square;
  line-height: 9rem;
  text-align: center;
  text-indent: -5rem;
  color: #29bde0;
}
.top .right #set {
  padding: 2rem;
  text-align: center;
  color: #29bde0;
  border-top: solid gainsboro;
  background-image: url(../img/pen.png);
  background-repeat: no-repeat;
  background-position: 47rem center;
  background-size: 3%;
}
.input {
  margin: 2rem;
  padding-bottom: 5rem;
  background-color: #fff;
}
.input span {
  padding-left: 8rem;
}
.input input {
  font-size: 4rem;
  padding: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border: none;
  border-bottom: solid gainsboro;
}
.player {
  padding: 3rem;
  margin: 2rem;
  background-color: #fff;
}
.player #player {
  width: 7rem;
  font-size: 4rem;
  text-align: center;
  color: #002FA7;
  background-color: gainsboro;
  border: none;
}
.card {
  width: 96%;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #002FA7;
  border: none;
}
.card span {
  display: inline-block;
  padding: 2rem;
  font-size: 5rem;
  color: #fff;
}
.range {
  display: flex;
  align-items: center;
  padding: 3rem;
  margin: 2rem;
  background: #fff;
}
#range {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  /*去掉点击时出现的外边框*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*去掉原生滑块的那条线*/
  background: #002FA7;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*//去掉滑块原有的默认样式*/
  width: 6rem;
  height: 3.6rem;
  -webkit-box-shadow: 0rem 0rem .2rem;
  /*设置滑块的阴影*/
  background: url("../img/range.png");
  background-size: cover;
  background-repeat: no-repeat;
}
input[type=range]:focus {
  outline: none;
}
.btn-sub {
  background: url("../img/sub.png");
  width: 3.6rem;
  height: 3.6rem;
  margin: 0rem 2rem;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0rem .2rem;
  border: none;
  cursor: pointer;
}
.btn-plus {
  background: url("../img/add.png");
  width: 3.6rem;
  height: 3.6rem;
  margin: 0rem 2rem;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0rem .2rem;
  border: none;
  cursor: pointer;
}
