.main {
  position: fixed;
  top: 20rem;
  bottom: 19rem;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.day {
  padding: 2rem;
  text-align: center;
}
.day .date {
  padding: 2rem;
  font-weight: bold;
  color: #29bde0;
  border: 5px solid gainsboro;
}
.day .game .triangle {
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  margin-top: -7rem;
  margin-bottom: -0.5rem;
  border: 5rem solid transparent;
  border-bottom: 5rem solid #fff;
}
.day .game .step-warp {
  padding: 10rem 0rem;
  margin-top: 2rem;
  border: 5px solid gainsboro;
}
.day .game .step-warp .step {
  padding-bottom: 5rem;
  margin-left: 10rem;
  border-left: 5px solid gainsboro;
}
.day .game .step-warp .step .row {
  display: flex;
}
.day .game .step-warp .step .died {
  padding-top: 4rem;
  padding-left: 5rem;
}
.day .game .step-warp .step .triangle-left {
  width: 0;
  height: 0;
  border: 5rem solid transparent;
  border-right: 5rem solid #29bde0;
}
.day .game .step-warp .step .content {
  display: flex;
  justify-content: center;
  width: 62rem;
  align-items: center;
  color: #fff;
  background-color: #29bde0;
}
.day .game .step-warp .step #moon:before {
  content: "";
  width: 10rem;
  margin-left: -5rem;
  background-color: #fff;
  background-image: url(../img/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.day .game .step-warp .step #sun:before {
  content: "";
  width: 10rem;
  margin-left: -5rem;
  background-color: #fff;
  background-image: url(../img/sun.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.day .game .step-warp .talk,
.day .game .step-warp .vote {
  padding-left: 5rem;
}
.day .game .step-warp .vote {
  padding-bottom: 0rem;
}
