html {
  font-size: 62.5%;
}
body {
  background-color: #29bde0;
}
.result {
  position: fixed;
  top: 10rem;
  bottom: 25rem;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-image: url(../img/result.png);
  background-repeat: no-repeat;
  background-position: 20.5rem 13rem;
  background-size: 60%;
}
.result .top {
  position: relative;
  top: 45rem;
  padding: 4rem;
  padding-left: 8rem;
  font-size: 4rem;
  color: #fff;
}
.result .top a {
  font-size: 5rem;
}
.result .top .result {
  padding-bottom: 4rem;
  color: #ffc865;
}
.result .top .number {
  font-size: 3.5rem;
  color: #fff;
}
.result .date {
  position: relative;
  width: 96%;
  top: 44rem;
  margin-left: 2rem;
  font-size: 3.5rem;
  color: #a6a6a6;
  background-color: #fff;
  overflow: auto;
}
.result .date .row {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  border-bottom: .1rem solid black;
}
