html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6rem;
    background-color: #29bde0;
    z-index: 5;
}
.drop-down {
    position: absolute;
    top: 20%;
    left: 2%;
    text-align: center;
    height: 3.6rem;
}
b {
    color: #fff;
    display: block;
    font-size: 2rem;
    line-height: 1rem;
}
a:hover,
a:active,
a:focus,
a:visited {
    outline: none;
    border: none;
    color: #f0f0f0;
    text-decoration: none;
}

main {
    margin-top: 6rem;
    padding: 1.5rem 2rem 5rem;
    background-color: #f0f0f0;
}
.topic {
    background-color: #fff;
    color: #9a9a9a;
    position: relative;
    line-height: 6rem;
    text-align: center;
    font-size: 2rem;
}

.arrow_left {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0,-50%);
    color: #e7e7e7;
}

.container-fluid {
    text-align: center;
    padding: 0;
}
.bg {
    background-color: #fff;
}
.box2 {
    color: #fbb435;
    font-size: 2rem;
    background-color: #fff;
    padding: 1rem 0;
    margin-top: 1.5rem;
    border-bottom: .1rem  solid #fdd793;
}
.box3 {
    padding: 1.5rem 2rem;
    background-color: #69d1e9;
    color: #fff;
    margin: 1.5rem;
    font-size: 150%;
}
.row {
    color: #787878;
}
.box4 {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: .5rem 0;
}
.circular {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin: auto .2rem;
}
.color {
    background-color: #69d1e9;
}
.triangle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 0;
    height: 0;
    border-left: 1rem solid #fbb435;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
}
button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.box0 {
    position: relative;
}