html {
    font-size: 625%;
}

body {
    font-size: .16rem;
    background: #fafafa;
}

p {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.icon {
    zoom: 0.5;
    background: url(../images/task8-1.png) no-repeat;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

header .container {
    height: .4rem;
}

header .row {
    height: .4rem;
}

header .row {
    align-items: center;
    color: #29b078;
    font-size: .07rem;
}

/* LOGO */

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 16px;
}

/* header右侧图标 */

header div .icon {
    display: inline-block;
    width: .25rem;
    height: .25rem;
    transform: scale(0.8);
    outline: none;
}

header .row div:nth-child(2) {
    text-align: right;
}

@media screen and (max-width:576px) {
    header .container .col-4 {
        visibility: hidden;
    }
}

/* 插入图标 */

.weixin {
    background: url(../images/task8-1/微信.jpg) 0 no-repeat;
    background-size: 100%
}

.qq {
    margin-left: .1rem;
    margin-right: .1rem;
    background: url(../images/task8-1/qq.jpg) 0 no-repeat;
    background-size: 100%
}

.weibo {
    background: url(../images/task8-1/新浪微博.jpg) 0 no-repeat;
    background-size: 100%;
}

.col-8 {
    padding: 0;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

/* 导航栏 */

main .box1 {
    background: #29b078;
}
main .box1 .row {
    margin-right: -45px;
}

.navbar {
    padding: 0;
    width: 100%;
}

/* 导航栏切换按钮 */

.navbar-toggler {
    margin: 0.1rem;
    padding: 0;
    border-radius: 0;
    border: 2px solid;
    font-size: .16rem;
}

/* 导航栏右侧 */

.navbar-expand-sm .navbar-nav .hall {
    height: 0.6rem;
    padding: 0 30px;
    margin-left: 2vw;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
    line-height: 0.575rem;
    font-size: .16rem;
    color: white;
}

.navbar-nav li:hover {
    border-bottom: 2.5px solid white;
}

/* 顶部图片 */

.top-picture {
    width: 100%;
}

.top-picture img {
    width: 100%;
}

/* 左侧提示标签 */

main .first p {
    display: inline-block;
    padding: .15rem 0 0.15rem 15px;
    font-size: .16rem;
}

.first p:nth-child(2) {
    padding: .15rem 0;
    color: #29b078;
}

.first .row .col-sm-4 {
    padding: 0;
}

.first .top {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .18rem;
    font-weight: 500;
    border: 1px solid #c9c9c9;
    background: #ffffff;
}
.box-center {
    display: flex;
    justify-content: center;
    border: 1px solid #c9c9c9;
    background: #ffffff;
}

.first ul {
    display: flex;
    flex-direction: column;
    width: .8rem;
    padding-top: 15%;
    padding-bottom: 15%;

    
}

.first li {
    display: flex;
    align-items: center;
    width: 1rem;    
    margin-bottom: .2rem;
}

.first .last {
    margin-bottom: 0;
}

.first li i {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #ff640c;
    border-radius: 50%;
}

.first li span {
    display: inline-block;
    margin-left: 5px;
    font-size: .14rem;
    color: #29b078;
}

.first li:hover i {
    background: #ff640c;
}

.first li:hover span {
    color: #ff640c;
}

/* 右侧文本 */

.col-sm-8 {
    padding: 0;
    padding-left: .2rem;
    margin-bottom: 1.5rem;
}

.right-text-top {
    display: flex;
    align-items: center;
    line-height: 25px;
    padding: 5%;
    font-size: .14rem;
    color: #999999;
    border: 1px solid #c9c9c9;
    background: #ffffff;
}

.right-text-top span {
    text-indent: .28rem;
}

.right-text-top .tudou {
    flex-shrink: 0;
    height: 122px;
    width: 134px;
    background: url(../images/8-2/tudou.png) no-repeat;
    background-size: 100%;
}

.right-text {
    line-height: 25px;
    padding: 5% 5% 15% 5%;
    font-size: .14rem;
    color: #999999;
    border: 1px solid #c9c9c9;
    background: #ffffff;
}

.right-text span {
    display: inline-block;
    margin-top: .35rem;
    text-indent: .28rem;
}

@media screen and (max-width:575px) {
    .col-sm-8 {
        padding-left: 0;
    }
}

/* 底部 */

footer {
    color: white;
    font-size: .14rem;
    background: #29b078;
}

footer .row {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

footer .pp1 {
    display: inline-block;
    margin-top: .08rem;
    margin-bottom: .08rem;
    font-size: .16rem;
}

/* 列内部布局 */

footer .col-sm-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .col-sm-4 p {
    display: inline;
}

footer .ppp {
    margin-right: .35rem;
}
footer .text-right div {
    margin-top: .1rem;
}

@media screen and (max-width:767px) and (min-width:576px) {
    footer .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left !important;
    }
}


/* 最底部 */

footer .p666 {
    padding: .05rem;
    font-size: .12rem;
}



@media screen and (max-width:576px) {
    footer .col-sm-4 {
        margin: .1rem;
    }
    footer .text-right {
        text-align: left !important;
    }
}