body {
    margin: 0;
    background: #29bde0;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 2.35rem;
    line-height: 2.1rem;
    font-size: 1.07rem;
    color: #ffffff;
    background-color: #29bde0;
    z-index: 1;
}

.list {
    margin:0.46rem 0 0 0.6rem;
    background: url(../img/img66.png)no-repeat 0 70%/100%;
    height: 30px;
    width: 26px;  
}
.shut{ 
    display: inline-block; 
    margin: 1rem 0.5rem 0 0;
    width: 23px;
    height:3px;
    background: #ffffff;
    line-height: 0;
    font-size:0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}
.shut:after{
    content:'/';
    display:block;
    width: 23px;
    height:3px; 
    background: #ffffff;
    -webkit-transform: rotate(-90deg);
}




/*  ------------------------------------------------------- */

.second {
    position: relative;
    margin-top: 2.3rem;
    height: 2.6rem;
    width: 100%;
    background: #b9e9f5
}

.arrow {
    position: absolute;
    top: 2.6rem;
    left: 2.5rem;
    border-top: solid 0.55rem #b9e9f5;
    border-left: solid 0.3rem transparent;
    border-right: solid 0.3rem transparent;
}

.second-font {
    margin-left: 9%;
    text-align: center;
    line-height: 2.6rem;
    font-size: 0.8rem;
}

.play {
    float: right;
    margin-top: 0.27rem;
    background: url(../img/img66.png)no-repeat 0 100%/76%;
    height: 31px;
    width: 36px;
}

.hint {
    margin: 0.8rem 0 1rem 2.5rem;
    font-size: 0.78rem;
    color: #ffffff;
}

/* =========================== */

main {
    display: block;
    margin-bottom: 38rem;
}

.box {
    display: block;
    float: left;
    padding-bottom: 12%;
    width: 33.3%;
}

.box-a {
    display: block;
    margin: auto;
    border: solid 0.1rem #ffffff;
    width: 22.2vw;
    background: #f5c97b;
}

.box-font {
    display: block;
    text-align: center;
    line-height: 17.5vw;
    font-size: 0.9rem;
}

.box-foot {
    display: block;
    text-align: center;
    line-height: 4vw;
    width: 100%;
    font-size: 0.75rem;
    color: #ffffff;
    background: #83b09a;
}

/* ================================= */

.box-picture {
    display: none;
}
.picture {
    position: absolute;
    display: flex; 
    justify-content: space-between;
    margin: 3.5% 0 0 5.3%;
    width: 22.6vw;
}
.box-a:hover~.box-picture {
    display: block;
}

.knife {
    display: inline-block;
    margin: 0;
    background: url(../img/img66.png)no-repeat -5.5% 0/180%;
    height: 5vw;
    width: 5vw;
}
.zoom {
    display: inline-block;
    margin: 0;
    background: url(../img/img66.png)no-repeat 0 12%/180%;
    height: 5vw;
    width: 5vw;
}
.sniper {
    display: inline-block;
    margin: 0;
    background: url(../img/img66.png)no-repeat 0 24.1%/180%;
    height: 5vw;
    width: 5vw;
}
.doctor {
    display: inline-block;
    margin: 0;
    background: url(../img/img66.png)no-repeat 0 37.8%/175%;
    height: 7.3vw;
    width: 4.9vw;  
}

/* =========================== */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 5.3rem;
    text-align: center;
    background-color: #29bde0;
}

.footer-box {
    display: inline-block;
    text-align: center;
    line-height: 2.5rem;
    width: 76%;
    height: 2.8rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #fbb435;
}