body{
    margin: 0;
    background: #29bde0;
}
header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top:0;
    border-bottom: 0.1rem solid #fff;
    height: 3rem;
    width: 100%;
    background: #29bde0;
}
.home{
    display: inline-block;
    margin-left: 1rem;
    background: url(../img/img2.png)no-repeat 0 102%/100%;
    width: 1.5rem;
    height:1.5rem;
}
.header-font{
    display: inline-block;
    color: #fff;
}
.help{
    display: inline-block;
    background:url(../img/img2.png)no-repeat 0 -2%/100%;
    margin:0.35rem 0.3rem 0 0;
    width: 1.5rem;
    height:1.5rem;
}
/* ======================================================= */
.second{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    height: 7rem;
}
.cup{
    margin-top: 0.7rem;
    height: 6.6rem;
}
.content-box{
    margin: 1rem auto;
    width: 72%;
}
.content{
    font-size: 1.1rem;
    color: #ffc865;
}
/* ======================================================= */
ul{
    display: block;
    list-style: none;
    margin:1.8rem 0 0 0.3rem;
    height: 6rem;
    font-size: 0.85rem;
    color:#fff;
}
.thenes{
    display: inline-block;
    margin-right: 1rem;
}
/* ======================================================== */
.main{
    display: block;
    background: #fff;
    
}
.row{
    display: inline-block;
    border-top: solid 0.1rem #dddddd;
    height: 5.88rem;
    width: 100%;
}
h4{
    display: inline-block;
    margin: 0.3rem 0 0.3rem 2.88rem;
    font-weight: 500;
}
.master{
    float: right;
    margin: 0.58rem 2.8rem 0 0;
    font-size: 0.7rem;
    color: #c7c7c7;
}
p{
    display: block;
    margin:0.2rem 0 0.2rem 2.88rem;
    font-size: 0.8rem;
    color:#dddddd;
}
.font-left{
    display: inline-block;
    margin: 0.3rem 0 0.3rem 0.8rem;
    font-weight: 500;
    color:#29bde0;
}
.font-right{
    display: inline-block;
    float: right;
    margin: 0.5rem 0.8rem 0.3rem 0;
    font-weight: 500;
    color:#29bde0;
}
footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: 4.19rem;
    background: rgba(153,223,240,0.5);
}
.footer-left{
    display: inline-block;
    margin-top: 0.75rem;
    width: 9rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.3rem;
    color:#fff;
    background: rgba(246,111,111,1);
}
.footer-right{
    display: inline-block;
    margin-top: 0.75rem;
    width: 9rem;
    height: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.3rem;
    color:#fff;
    background: rgba(251, 180, 53, 1);
}


