body{
    margin: 0;
    background: #f0f0f0;
}
header{
    display: block;
    position: fixed;
    top:0;
    width:100%;
    height:2.5rem;
    background: #29bde0;
}
.list{
    position: absolute;
    top: 0.7rem;
    left: 0.5rem;
    width: 22px;  
    height: 2px;  
    border-top: 2.5px solid #fff;  
    border-bottom: 2.5px solid #fff;  
    background-color: #fff;  
    padding: 5px 0;  
    background-clip:content-box;
}
/* ======================================================== */
.second{
    display: block;
    border: solid 1px #cbcbcb; 
    margin: 3.5rem auto 1rem auto;
    text-align: center;
    line-height: 3.8rem;
    width: 88%;
    height: 3.8rem;   
    font-size: 1.rem;
    color:#9a9a9a; 
    background: #fff;
}
.back{
    position: absolute;
    right: 2rem;
    top: 5.5rem;
    width: 12px;  
    height: 12px;    
    border-left: 2px solid #e7e7e7;  
    border-bottom: 2px solid #e7e7e7;   
    transform: translate(0,-50%) rotate(-135deg);
}

/* ======================================================= */

ul{
    display: block;
    padding: 0;
    margin: 0.8rem auto 0 auto;
    text-align: center;
    border: solid 1px #cbcbcb;
    width: 88%;
    height:26rem;
    background: #fff;
}
li{
    list-style: none;
}
.title{
    display:block;
    border-bottom: solid 1px #fbb435;
    text-align: center;
    line-height: 3.3rem;
    width: 100%;
    height: 3.3rem;
    font-size: 1.1rem;
    color: #fbb435;
    background: #fff;
}
.themes{
    display: inline-block;
    margin: 0.9rem auto 0 auto;
    text-align: center;
    line-height: 4.18rem;
    width: 80%;
    height: 4.18rem;
    font-size: 0.9rem;
    color:#fff;
    background: #69d1e9;
}
.font{
    display: block;
    margin-top: 0.9rem;
    font-size: 0.81rem;
    color:#787878;
}
.move{
    position: absolute;
    top:20.8rem;
    right: 7%; 
    border-top: 15px solid transparent; 
    border-left: 15px solid #fbb435; 
    border-bottom: 15px solid transparent;
}
/* ================================================ */
.round{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #f0f0f0;
}
.round:hover{
    background: #29bde0;
}

