<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../style/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../style/task14/task8.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>首页</title>
</head>
<body>
<div id="myCarousel" class="carousel slide ">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner ">
        <div class="item active">
            <img src="../../../../picture/task14/background1.jpg.png" alt="First slide">
        </div>
        <div class="item">
            <img src="../../../../picture/task14/background2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="../../../../picture/task14/background3.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">
        <div class="position-middle">&lsaquo;</div>
    </a>
    <a class="carousel-control right " href="#myCarousel"
       data-slide="next"><div class="position-middle"> &rsaquo;</div>
    </a>
</div>


</body>
</html>