html {
    font-size: 625%; /*100 ÷ 16 × 100% = 625%*/

}
body {
    font-family: 'Microsoft YaHei', sans-serif;
    background-color: #fafafa;
}
a {
    cursor: pointer;
}

button {
    border: none }

button:focus {
    outline: none;
}

header nav .nav-change1 a:hover,
header nav .nav-top2 a:hover {
    text-decoration: none;
    outline: none;
    color: #fff;
}

.nav-change1 a:hover {
    border-bottom: 3px solid #fff;
}

.nav-top2:hover {
    border-bottom: 1px solid #fff;
}

main .partner-main-top a,
.h-size3 a {
    color: #000;
}

main .partner-main-top a {
    text-decoration: none;
    color: #000;
}

main .partner-border a:hover,
.h-size3 a:hover{
    text-decoration: none;
    color: #29b078;
}

footer nav a {
    color: #fff;
}

footer nav a:hover {
    color: #fff;
}

.img-p {
    background-image: url(../../picture/task8/sprite-partner.png);
    background-size: 9.51rem 3.7rem;
}

.img-x {
    background-image: url(../../picture/task8/sprite-xicon.png);
    background-size: 7.34rem 0.62rem;
}

.img-h {
    background-image: url(../../picture/task8/sprite-head.png);
    background-size: 9.62rem auto;
}

.img-p-background {
    padding-top: 12.92%;
    background-image: url(../../picture/task8/background5.png);
    background-size: cover;
}

.img-p1 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: 0 0;
}

.img-p2 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: -2.31rem 0;
}

.img-p3 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: -4.89rem 0;
}

.img-p4 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: -7.36rem 0;
}

.img-p5 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: 0 -1.9rem;
}

.img-p6 {
    height: 1.77rem;
    width: 2.3rem;
    background-position: -2.29rem -1.92rem;
}

.img-x1 {
    height: 0.13rem;
    width: 0.13rem;
    background-position: 0 0;
}

.img-x2 {
    height: 0.15rem;
    width: 0.16rem;
    background-position: -0.2rem 0;
}

.img-x3 {
    height: 0.24rem;
    width: 0.25rem;
    background-position: -1.2rem 0;
}

.img-x4 {
    height: 0.47rem;
    width: 0.27rem;
    background-position: -0.46rem 0;
}

.img-x5 {
    height: 0.46rem;
    width: 0.27rem;
    background-position: -0.83rem 0;
}

.img-x6 {
    height: 0.28rem;
    width: 0.29rem;
    background-position: -1.56rem 0;
}

.img-x7 {
    height: 0.28rem;
    width: 0.29rem;
    background-position: -1.94rem 0;
}

.img-x8 {
    height: 0.3rem;
    width: 0.32rem;
    background-position: -2.34rem 0;
}

.img-x9 {
    height: 0.62rem;
    width: 0.43rem;
    background-position: -2.76rem 0;
}

.img-x10 {
    height: 0.55rem;
    width: 0.52rem;
    background-position: -3.27rem 0;
}

.img-x11 {
    height: 0.5rem;
    width: 0.6rem;
    background-position: -3.87rem 0;
}

.img-x12 {
    height: 0.49rem;
    width: 1.07rem;
    background-position: -4.59rem 0;
    cursor: pointer;
}

.img-x13 {
    height: 0.6rem;
    width: 1.6rem;
    background-position: -5.74rem 0;
}

.img-h1 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -4.29rem 0;
}

.img-h2 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -3.43rem 0;
}

.img-h3 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -5.11rem 0;
}

.img-h4 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -6.01rem 0;
}

.img-h5 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -0.85rem 0;
}

.img-h6 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: 0 0;
}

.img-h7 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -2.6rem 0;
}

.img-h8 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -1.71rem 0;
}

.img-h9 {
    height: 92px;
    width: 92px;
    background-position: -692px 0;
    background-image: url(../../picture/task8/sprite-head.png);
    background-size: 962px auto;
}

.img-h10 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: 0 -0.85rem;

}

.img-h11 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: -1.17rem -8.5rem;
}

.img-h12 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: -2.39rem -0.84rem;
}

.img-h13 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: -3.64rem -0.84rem;
}

.img-h14 {
    height: 1.53rem;
    width: 1.56rem;
    background-position: -8.06rem 0;
    background-image: url(../../picture/task8/sprite-head.png);
    background-size: 9.62rem auto;
}

.cgreen {
    background-color: #29b078;
}

.corange {
    background-color: #f9a372;
}

.cwhite {
    background-color: #fff;
}

.cwhite1 {
    background-color: #fafafa;
}

.wgreen {
    color: #29b078;
}

.worange {
    color: #ff946b;
}

.wred {
    color: #f00;
}

.wwhite {
    color: #dadada;
}

.wwhite1 {
    color: #fff;
}

.wwhite2 {
    color: #a8a8a8;
}

.wwhite3 {
    color: #a8a8a8;
}

.border-color1 {
    border-top: 1px solid #32c086;
}

.border-color2 {
    padding: 0.2rem 0;
    border-bottom: 1px solid #eeeded;
    font-weight: 800;

}

.border-color3 {
    border-bottom: 1px solid #eeeded;
}

.border-color4 {
    border-top: 1px solid #9d9d9d;
}

.border-table {
    border-top: 1px solid #eeeded;
    line-height: 0.4rem;
}

.border-right {
    border-right: 1px solid #eeeded;
}

.font-weight {
    font-weight: 700;
}

.font-width {
    font-weight: 600;
    margin: auto 0;
    line-height: 0.3rem;
    border-top: 1px solid #eeeded;
}

.font-size-s {
    font-size: small;
    line-height: 0.25rem;
}

.font-size-xs {
    margin: auto 0;
    font-size: x-small;
    line-height: 0.3rem;
    border-top: 1px solid #eeeded;
}

.font-size-xs2 {
    margin: auto 0;

}

.h-size {
    line-height: 0.4rem;
    color: #29b078;
}

.h-size2 {
    line-height: 1.2rem;
}

.h-size3 {
    line-height: 0.4rem;
}

.nav-top {
    display: inline-block;
    height: 1.2rem;
    width: 1rem;
    text-align: center;
    color: #fff;

}

.nav-top2 {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin: 0 -15px;
}

.nav-top2 a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
}

.nav-icon-wrap {
    position: relative;
    top: 0.12rem;
    padding: 0.15rem;
    border-radius: 0.05rem;
    background-color: #29b078;
}

.nav-icon-wrap:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-icon {
    width: 0.3rem;
    height: 0.25rem;
    padding: 0.05rem 0;
    border-top: 0.05rem solid #000;
    border-bottom: 0.05rem solid #000;
    background-color: #000;
    background-clip: content-box;
    border-radius: 0.02rem;
}

.nav-icon1 {
    width: 0.25rem;
    height: 0.04rem;
    border-radius: 0.03rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-icon-m {
    margin: 0.04rem 0;
}

.nav-icon-bground2 {
    height: 0.45rem;
    padding: 0.1rem;
    background-color: #29b078;
    border-radius: 0.05rem;
    cursor: pointer;
}

.nav-drop {
    position: relative;
    display: inline-block;

}

.dropdown {
    position: relative;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

@media screen and (max-width: 768px) {
    .nav-change1 {
        display: none;
    }

}

@media screen and (min-width: 769px) {
    .nav-change2 {
        display: none;
    }
}

.f1-size {
    padding-top: 0.3rem;
    padding-bottom: 0.15rem;
}

.nav-bottom {
    display: inline-block;
    margin-left: 19%;
}

.record {
    display: table;
    margin: 0 auto;
    padding: 3px 0;
    font-size: x-small;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.inline-block1 {
    display: inline-block;
}

.inline-row1-numble {
    text-align: center;
    line-height: 0.3rem;
    border-left: 1px dashed #ddd;
    height: 2.6rem;
}

.inline-row1-icon {
    line-height: 0.3rem;
    height: 2.6rem;
}

.carousel-control-a {
    top: 50%;
    transform: translate(0, -50%);
    font-size: 0.7rem;
}

.home-row1-box {
    margin: 0 1rem 0.6rem 0;

}

.home-row1-box2 {
    margin: 0 0.3rem 0.6rem 0;

}

.home-row1-box4 {
    margin: 0.6rem auto 0.6rem 0.3rem;
    text-align: left;
}

.num-icon {
    text-align: left;
}

.main-max {
    max-width: 13rem;
    margin: 1rem auto;
}

.main-max2 {
    max-width: 13rem;
    margin: 0.8rem auto 1rem auto;
}

.main-max3 {
    max-width: 13rem;
    margin: 0 auto 2.3rem auto;
}

.dot {
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    box-shadow: 2px 2px 2px #eeeded;
    border-radius: 50%;
    background-color: #fff;
    margin: 0.3rem 0.01rem;
    cursor: pointer;
}

.dot-margin {
    margin: 0.5rem auto;
}

.dot2 {
    display: inline-block;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    border: 1px solid #ff650e;
    margin: 0.03rem;
}


.dot:hover {
    background-color: #29b078;
}

.partner-border {
    height: 3.5rem;
    margin: 0.2rem 0;
    background-color: #fff;
    border: 1px solid #eeeded;
    box-shadow: 1px 1px 1px #eeeded;
    border-radius: 5px;
    font-weight: 500;
}

.partner-border2:hover{
    background-color: #fff;
    border: 1px solid #eeeded;
    box-shadow: 0 0 10px #eeeded;
    border-radius: 5px;
    font-weight: 500;
}

.partner-border3 {

    margin: 0.2rem 0;
    background-color: #fff;
    border: 1px solid #eeeded;
    box-shadow: 1px 1px 1px #eeeded;
    border-radius: 5px;
    font-weight: 500;
}

.partner-border4 {
    height: 1rem;
    margin: 0.2rem 0;
    background-color: #fff;
    border: 1px solid #eeeded;
    box-shadow: 1px 1px 1px #eeeded;
    border-radius: 5px;
    font-weight: 500;
}

.position-home-a {
    color: #000;
    text-decoration: none;
}

.position-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.8rem;
}
.partner-main-top {
    margin-top: -0.3rem;
    margin-bottom: 0.3rem;
}

.position-main-top {
    padding: 0.3rem 0;
    border-bottom: 1px solid #d0d6d9;

}

.position-main-top2 {
    padding: 0.2rem 0;
    border-bottom: 1px solid #edf1f2;
    font-size: small;

}

.position-main-top3 {
    padding: 0.3rem 0;
    border-bottom: 1px solid #d0d6d9;
    font-weight: 800;
}

.position-top2-margin {
    display: inline-block;
    margin: 0.1rem 0.1rem;
    cursor: pointer;

}

.position-top2-margin:hover {
    color: #fff;
    background-color: #29b078;
}

.partner-main-left {
    text-align: left;
    margin-left: 35%;
    color: #29b078;

}

.partner-left-font {
    display: inline-block;
    vertical-align: middle;
    margin: 0.1rem 0;
    color: #29b078;
}

main .partner-left-left:hover a {
    color: #ff650e;
    text-decoration: none;
}
main .partner-left-left:hover .dot2{
    background-color: #f9a372;
}

.partner-left-bottom {
    margin-bottom: 1rem;
}

.partner-left-left {
    width: 1rem;
    margin: auto;
    padding-left: 0;
    text-align: left;
}

.partner-right-font {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.partner-right-top {
    padding: 0.3rem 0.5rem;
}

.partner-line-height {
    line-height: 0.3rem;
}

.partner-left-p {
    margin: 0 0 0.3rem;
}

.box {

    margin: 0.5rem 0;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #eeeded;
    box-shadow: 1px 1px 1px #eeeded;
    background-color: #fff;
}

.box2 {

    margin: 0.5rem 0.16rem 0.5rem 0;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #eeeded;
    box-shadow: 1px 1px 1px #eeeded;
}

.word-break {
    word-break: break-all;
}

.floater {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s ease;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    background-color: #0f0f0f;
}

.floater:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.floater2 {
    position: relative;
    margin: 0.8rem 0.4rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.study-width {
    width: 1.2rem;
}

.home-num-margin {
    display: inline-block;
    vertical-align: middle;
    margin: 0.6rem 0.02rem;
}

.home-num-margin2 {
    display: inline-block;
    width: 1rem;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0.05rem auto;
    color: #999;
}

.home-num-margin2:hover {
    color: #999;
    text-decoration: none;
    border-bottom: 1px solid #29b078;
}

.home-connect {
    margin: 0.2rem auto;
    text-align: center;
}

.home-h4 {
    margin: 0.6rem auto;
}

.home-student-m {

    margin: 0.15rem 0.3rem;
}

.letter-space {
    text-align: center;
    letter-spacing: -0.05rem;
}

.font-margin {
    margin: auto auto auto 0.1rem;
}

.font-padding {
    padding: 0.15rem 0.3rem;
}

.font-padding2 {
    padding-right: 0.15rem;
}



.menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #29b078;
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}


@media (max-width: 1200px) {
    html {
        font-size: 530%; /*100 ÷ 16 × 100% = 625%*/
    }
}

@media (max-width: 992px) {

    .partner-right-top {
        padding: 0.3rem 0.65rem;

    }

    .inline-row1-icon {
        line-height: 0.3rem;
        height: 2.6rem;
        text-align: center;
    }

    .home-row1-box4 {
        margin: 0.6rem auto;
        text-align: center;
    }

    .home-num-margin {

        margin: 0.6rem 0.2rem;
    }
}

@media (max-width: 768px) {

    .box2 {
        height: 4.4rem;
        margin: 0.5rem 0.15rem 0.5rem 0;
        border-radius: 5px;
        font-weight: 500;
        border: 1px solid #eeeded;
        box-shadow: 1px 1px 1px #eeeded;
    }

    .partner-right-top {
        padding: 0.3rem 0.65rem;
        line-height: 0.25rem;
    }

    .partner-line-height {
        line-height: 0.5rem;
    }

    .h-size2 {
        line-height: 0.7rem;
    }

    .num-icon {
        text-align: center;
    }
    .position-middle{
        font-size: 0.6rem;
    }
}

@media (max-width: 400px) {
    .record {
        text-align: center;
    }

    .partner-line-height {
        line-height: 0.35rem;
    }

    .partner-right-top {
        padding: 0.2rem;
    }

    .partner-right-font {
        padding: 0.2rem;
    }

    .home-num-margin {
        margin: 0.6rem 0.01rem;
    }
    .main-max3{
        margin: 0 auto 0.5rem auto;
    }
}