html{
    font-size:312.5%;
}
body{
    margin: 0;
}
/*header部分*/
/*顶部电话微信qq微博部分*/
.top-header{
    display: flex;
    justify-content: space-between;
    line-height: .4rem;
    font-size: .14rem;
}
.contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.WeChat{
    margin-right: .2rem;
    height:.26rem;
    width:.26rem;
    background:url(img8/img.png) 0 0/100%;
}
.qq{
    margin-right: .2rem;
    height:.26rem;
    width:.26rem;
    background:url(img8/img.png) 0 50%/100%;
}
.weibo{
    height:.26rem;
    width:.26rem;
    background:url(img8/img.png) 0 100%/100%;
}
/*顶部导航栏位置*/

.nav-header {
    background-color: #29B078;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler {
    padding: 0 !important;
    font-size: .4rem !important;
    outline: none !important;
}

.navbar-nav {
    height: 1rem;
    align-items: center;
}

.navbar-brand {
    margin-right: 0 !important;
    font-size: 0 !important;
}

.navbar-brand img {
    padding-left: 0;
    width: 3.5rem;
}

.nav-link {
    margin-left: .6rem;
    padding: .15rem .17rem !important;
    border-bottom: .07rem solid #29B078;
    font-size: .16rem;
    color: #FFFFFF;
    border-radius: .15rem;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #29B078;
}

@media(max-width:768px) {
    .navbar-nav {
        display: inline-block !important;
        width: 100%;
    }
    .nav-link {
        margin-left: 0;
        text-align: center;
        border: none;
    }
}
/*main主体部分*/
/*背景图*/
.cover{
    display: block;
    max-width: 100%;
    height: auto;
    
}
/*首页合作企业*/
.home-page{
    font-size: .16rem;
    color: #333333 !important;
    text-decoration:none !important;
}
.cooperative-enterprise{
    font-size: .16rem;
    color: #29B078 !important;
    text-decoration:none !important;
}
/*主体内容*/
/*侧边栏*/
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:.01rem solid #e1e1e1;
    border-radius: .1rem;
    background: #ffffff;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style:none;
}
.enterprise{
    font-size: .22rem;
    color: #333333 !important;
    text-align: center;
    margin-top: .21rem;
    margin-bottom: .24rem;
}
hr{
    margin: 0 auto .4rem auto !important;
}
.company-list{
    text-align: left;
    padding-left: 35%;
}
.company{
    padding-bottom: .36rem;
    font-size: .22rem;
    color:#FF650E;
    list-style:inside circle;
}
.company a{
    color: #29B078 !important;
    text-decoration:none !important;
}
.company:hover{
    color:#FF650E;
    list-style: inside disc;
}
.company:visited{
    color:#FF650E;
    list-style: inside disc;
}
.company:hover a{
    color: #FF650E !important;
}



/*公司介绍*/
.company-introduction{
    padding: 0 !important;
    border:.01rem solid #e1e1e1;
    border-radius: .1rem;
    background: #ffffff;
}
.logo{
    padding: 15px;
    border-bottom: .01rem solid #e1e1e1;
    
}
.logo img{
    float: left;
    margin: .4rem;
    width: 1.34rem;
    height: 1.22rem;
}
.logo p{
    margin-bottom: .38rem !important;
    line-height: .4rem;
    font-size: .14rem;
    text-indent:2em;
    color: #999999 !important;
}
.introduction{
    padding: 15px;
}
.introduction p{
    margin-bottom: .38rem !important;
    line-height: .4rem;
    font-size: .14rem;
    text-indent:2em;
    color: #999999 !important;
}

/*footer部分*/
footer {
    margin-top: 2.33rem;
    background: #26A26F;
    color: #ffffff;
}

footer .about {
    font-size: .16rem;
    padding-top: .36rem;
}
.about p{
    margin-bottom: .2rem !important;
    font-size: .16rem;
}
.about p a{
    text-decoration: none;
    color: #ffffff;
}

.copyright{
    text-align: center;
    font-size: .16rem;
    border-top:.01rem solid #32C086;
}