html {
    font-size: 312.5%;
}

body {
    margin: 0;
}

/*header部分*/

/*顶部电话微信qq微博部分*/

.top-header {
    display: flex;
    justify-content: space-between;
    line-height: .4rem;
    font-size: .14rem;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.WeChat {
    margin-right: .2rem;
    height: .26rem;
    width: .26rem;
    background: url(img8/img.png) 0 0/100%;
}

.qq {
    margin-right: .2rem;
    height: .26rem;
    width: .26rem;
    background: url(img8/img.png) 0 50%/100%;
}

.weibo {
    height: .26rem;
    width: .26rem;
    background: url(img8/img.png) 0 100%/100%;
}

/*顶部导航栏位置*/

.nav-header {
    background-color: #29B078;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler {
    padding: 0 !important;
    font-size: .4rem !important;
    outline: none !important;
}

.navbar-nav {
    height: 1rem;
    align-items: center;
}

.navbar-brand {
    margin-right: 0 !important;
    font-size: 0 !important;
}

.navbar-brand img {
    padding-left: 0;
    width: 3.5rem;
}

.nav-link {
    margin-left: .6rem;
    padding: .15rem .17rem !important;
    border-bottom: .07rem solid #29B078;
    font-size: .16rem;
    color: #FFFFFF;
    border-radius: .15rem;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #29B078;
}

@media(max-width:768px) {
    .navbar-nav {
        display: inline-block !important;
        width: 100%;
    }
    .nav-link {
        margin-left: 0;
        text-align: center;
        border: none;
    }
}

/*main部分*/

/*轮播图部分*/

.carousel-item img {
    width: 100%;
}

.carousel-indicators {
    margin: 0 !important;
}

.carousel-indicators li {
    width: .1rem !important;
    height: .1rem !important;
    border-radius: 50%;
}

/*高效规范人脉部分*/

.describe {
    margin-top: 1.65rem;
    text-align: center;
}

.rocket {
    display: inline-block;
    width: .43rem;
    height: .62rem;
    background: url(img8/img2.png) 0 0/100%;
}

.specification {
    display: inline-block;
    width: .6rem;
    height: .48rem;
    background: url(img8/img2.png) 0 34%/100%;
}

.connection {
    display: inline-block;
    width: .52rem;
    height: .55rem;
    background: url(img8/img2.png) 0 64%/100%;
}

.user {
    margin-top: .6rem;
    border-left: 1px solid #dedede;
}

.user-numbers {
    font-size: .18rem;
}

.user-numbers::before {
    position: absolute;
    margin-left: -.25rem;
    content: "";
    width: .52rem;
    height: .52rem;
    background: url(img8/img2.png) 0 88%/100%;
}

.describe p {
    font-size: .16rem;
    text-align: left;
}

.describe .user p {
    font-size: .16rem;
    text-align: center;
}

.describe h6 {
    font-size: .18rem;
}

@media(max-width:576px) {
    .describe p {
        text-align: center;
    }
    .user {
        border-left: none;
    }
}

/*如何学习部分*/

.process {
    margin-top: 1.51rem;
    font-size: .18rem;
    color: #333333;
    text-align: center;
}

.process-flow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 0;
    text-align: left;
    font-size: .14rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    border: .01rem solid #e4e4e4;
    background: #FFFFFF;
}

.process-flow p {
    flex: 1;
    margin: 0 .35rem;
    font-size: .14rem;
    color: #999999;
}

.arrow {
    display: inline-block;
    width: .64rem;
    height: .32rem;
    background: url(img8/img2.png) 0 100%/100%;
}

@media(max-width:576px) {
    .arrow {
        visibility: hidden;
    }
}

/*优秀学员页面*/

.person {
    margin-top: 1.65rem;
    text-align: center;
}

.adviser1 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url(img8/img3.png) 0 0/100%;
}

.adviser2 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url(img8/img3.png) 0 33%/100%;
}

.adviser3 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url(img8/img3.png) 0 67%/100%;
}

.adviser4 {
    display: inline-block;
    width: 1.08rem;
    height: 1.08rem;
    background: url(img8/img3.png) 0 100%/100%;
}

.person p {
    font-size: .16rem;
}

.person h6 {
    font-size: .18rem;
}

.adviser-box {
    width: 90%;
    height: 6rem;
    padding: .5rem .32rem .4rem .32rem;
    margin: .2rem auto;
    border: .01rem solid #e4e4e4;
    background: #FFFFFF;
    text-align: center;
}

/*优秀学员下方的小点*/

.dot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1rem;
    margin: .14rem auto;
    list-style: none;
    padding-left: 0;
}

.green {
    width: .13rem;
    height: .13rem;
    border-radius: 50%;
    background: #69D1E9;
}

.white {
    width: .13rem;
    height: .13rem;
    border-radius: 50%;
    background: #F0F0F0;
}

/*战略合作企业*/

.corporation {
    margin-top: .65rem;
}

.col-zdy-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.56rem;
    height: 2rem;
}

.company:hover {
    box-shadow: 3px 3px 3px 3px #999999;
}

@media(max-width:992px) {
    .col-zdy-1 {
        display: flex;
        justify-content: center;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

/*友情链接部分*/

.link {
    margin-top: 1.65rem;
    text-align: left;
    list-style: inside;
}

.url {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    font-size: .2rem;
    font-size: .01rem;
    color: #999999;
}

.col-zdy-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.linker {
    display: inline-block;
    font-size: .14rem;
    color: #999999;
    text-decoration: none !important;
}


@media(min-width:768px) and (max-width:1200px) {
    .col-zdy-2 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media(max-width:768px) {
    .col-zdy-2 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

/*footer部分*/

footer {
    margin-top: 2.33rem;
    background: #26A26F;
    color: #ffffff;
}

footer .about {
    font-size: .16rem;
    padding-top: .36rem;
}

.about p {
    margin-bottom: .2rem !important;
    font-size: .16rem;
}

.about p a {
    text-decoration: none;
    color: #ffffff;
}

.copyright {
    text-align: center;
    font-size: .16rem;
    border-top: .01rem solid #32C086;
}