/* 页面设置样式 */
html{
    font-size: 62.5%;
}
*{
    list-style-type: none;
}
// 声明混合器
@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    font-size: 1.6rem;
    header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0;
        height: 4.8rem;
        width: 100%;
        border-bottom: 1px solid white;
        background-color: #29BDE0;
        .mm {
            width: 54px;
            height: 50px;
            border: 0;
            margin: auto 0;
            margin-left: 1rem;
            background: url(./css_spri000tes.png) no-repeat;
            background-position: -10px -235px;
            zoom: .7;
            outline: none;
        }
        .tgr {
            margin: auto; 
            color: white;
            font-size: 17px; 
         }
         .tro {
            width: 30px;
            height: 30px;
            border: 3px solid white;
            border-radius: 50%;
            margin: auto 0;
            margin-right: .9rem;
            background-color: #29BDE0;
            .circle {
                width: 4px;
                height: 4px;
                background-color: white;
                border-radius: 50%;
                margin-bottom: 3px;
                margin: auto;
            }
            .vertical {
                width: 4px;
                height: 10px;
                background-color: white;
                margin: 3px 4px 0 4px;
            }          
        }  
    }
    main{
        padding-bottom: 6.4rem;
        .mb {
            padding: 5rem 0 1.2rem 0; 
            background-color: #29BDE0;
            .victory {
                width: 17.55rem;
                height: 10.25rem;
                margin: auto;
                background: url(./css_spri000tes.png) no-repeat;
                background-position: 11px 11.5px;
                zoom: .5;
            }
            .txt {
                width: 80%;
                margin: auto;
                font-size: 16.5px;
                color: #FFC865;
                font-weight: bolder;
            }
            ul {
                width: 80%;
                margin: auto;
                margin-top: 3rem; 
                padding: 0;
                font-size: 13px;
                color: white;
                list-style: none;
                li {
                    margin-top: .65rem;
                    .police {
                        margin-left: 2rem;
                    }
                    .civilian {
                        margin-left: 1rem;
                    }
                    .doctor {
                        margin-left: 1.9rem;
                    }
                   
                   
                }
            }

            
        }
         .co {
            padding: .6rem 4rem 1.65rem 10%;
            border-bottom: 1px solid #DDDDDD;
            h1 {
                display: inline-block;
                margin: 0;
                color: #515151;
                font-size: 15px;
                
            }           
            .time {
                color: #C7C7C7;
                font-size: 10px;
                float: right;
                line-height: 2rem;
            }
            .night {
                margin-top: 1.4rem;
                font-size: 13px;
                color: #A6A6A6;
            }
            .daytime {
                font-size: 13px; 
                color: #A6A6A6;
             }
           
        }
        
    }
    footer {
        @include flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 6.45rem;
        background-color: RGBA(41, 189, 224, .48);
        .tbotl {
            @include flex;
            text-decoration: none;
            width: 45%;
            height: 4.3rem;
            border: 0;
            border-radius: .5rem;
            margin: auto;
            color: white;
            background-color: #F66F6F;
            outline: none;
        }
        .ua{
            width: 45%;
            height: 4.3rem;
            border: 0;
            border-radius: .5rem;
            margin: auto;
            color: white;
            background-color: #FBB435;
            outline: none;
        }
       
    }
   
}

