/* You can add global styles to this file, and also import other style files */
html{
  font-size: 62.5%;
}

body{
  margin: 0;
  height: 100vh;
}
.title{
  position: relative;
  display: inline-block;
  float: left;
  width: 240px;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #ff9b3d;
  color: white;
  text-align: center;
}
.title span{
  position: relative;
  top: 20%;
}
.status{
  position: absolute;
  z-index: 10;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: right;
  box-shadow: 2px 2px 5px #847e84;
}
.status span {
  position: relative;
  top: 40%;
  font-size: 1.5rem;
}
header{
  height: 4rem;
}
header::after, main::after{
  display: block;
  clear: both;
  content: '';
}
.status{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

}
aside {
  float: left;
  width: 240px;
  height: 100%;
  color: white;
  background-color: #ff9b3d;
  font-size: 1.5rem;
  box-sizing: border-box;
}
aside>div>div>div{
  padding: 1rem 0;
  border-bottom: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
}
main{
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
}
section {
  position: absolute;
  right: 0;
  left: 240px;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
ul{
  padding-left: 0;
  margin: 0;
}
li{
  padding: 0.5rem 0;
  border-bottom: 1px solid white;
  margin: 1rem 0;
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
}
.myCollapse{
  position: relative;
}
.myCollapse::after {
  position: absolute;
  top: 35%;
  right: 20px;
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.folder{
  position: relative;
}
.folder::after {
  position: absolute;
  top: 35%;
  right: 20px;
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid white;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.active{
  border-left: 3px solid #58b2fc;
  background-color: rgb(255, 181, 129);
  outline: none;
}
.liActive{
  border: none;
  background-color: rgb(255, 181, 129);
  outline: none;
}

.result-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ededed;
  background-color: #f3f3f3;
  font-weight: bold;
}
.table-header,
.table-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 10px;
  box-shadow: 0 1px 1px #847e84;
  background-color: white;
}
.table-body{
  margin: 0 10px;
  box-shadow: none;
}
.table-header span,
.table-body span{
  width: 12.5%;
  text-align: center;
}
.table-line{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.col-sm-1{
  padding: 0 5px;
}
.row{
  margin: 0;
  align-items: center;
  margin: 5px;
  font-size: 1.2rem;
}
.condition {
  padding: 10px;
  background-color: white;
  border: 1px solid #b3adb3;
}
.btn{
  margin: 0 5px;
}
.btn-success{
  margin-right: 30px;
}

.table {
  padding: 0 0 30px 0;
  margin: 20px 0 0 0;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: white;
}
.odd{
  background-color: #b3adb3;
}
.even{
  background-color: white;
}
#manipulate{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.btn{
  margin: 0 !important;
}
ul a{
  color: white;
  text-decoration: none !important;
}
.active{
  background-color: #ffc186;
}
a:hover{
  color: white;
}
.btn-page{
  width: 3rem;
  margin: 2px !important;
}

.myActive{
  background-color: #ff9b3d;
  border: #ff9b3d;
}
.error{
  color: red;
}
