html {
	font-size: 625%;

	@media only screen and (min-width: 768px) and (max-width: 991px) {
		font-size: 478%;
	}

	@media only screen and (max-width: 767px) {
		font-size: 312%;
	}
}

body {
	background-color: #EFF0F4;
	padding: 0;
	margin: 0;
}



@mixin information {
	width: 100%;
	background-color: #5FC0CD;
	font-size: .36rem;
	color: #FFF;
	padding: .27rem 0;
}
@mixin content-box {
	width: 100%;
	border: none;
	outline: none;
	font-size: .32rem;
	padding: .295rem 0;
	text-indent: 1.43rem;
	background-size: .75rem .51rem;
	background-position: .4rem center;
	background-repeat: no-repeat;
}
@mixin link {
	text-decoration: none;
	color: #FFF;
}
@mixin Flex {
	display: flex;
	align-items: center;
}
$write: .32rem;
$margin: .3rem;
$blue: #5FC0CD;
$color: #E1E5E7;




.top {
	@include information;
	@include Flex;
	justify-content: space-between;
}
.close {
	font-size: $write;
	margin-left: $margin;
}
.register {
	font-size: $write;
	margin-right: $margin;
}
a {
	@include link;
}




.content-user {
	@include content-box;
	background-image: url(images/01.png);
}
.content-password {
	@include content-box;
	background-image: url(images/02.png);
}
.content-user::-webkit-input-placeholder {
	color: $color;
}
.content-password::-webkit-input-placeholder {
	color: $color;
}




.log {
	margin: .6rem 0 .2rem 0;
}
.log {
	a {
		@include information;
		@include link;
		@include Flex;
		justify-content: center;
	}
}
.forget {
	font-size: $write;
	color: $blue;
	float: right;
	margin-right: $margin;
}
#font-color {
	color: $blue;
}

