*{
	margin:0;
	padding: 0;
}
body{
	font-size: 8px;
	background-color: #29bde0;
}
.head{
	height: 8rem;
	border-bottom: 2px solid #74d4eb;
	line-height: 8rem;
	font-size: 3.4rem;
	text-align: center;
	color: #fff;
	position: relative;
}
.head a{
	float: left;
	margin-left: 2.5rem;
	color: #fff;
	text-decoration: none;
}
/*翻牌页面*/
.main{
	height: 50rem;
	width: 45.3rem;
	margin: 8.4rem auto;
	text-align: center;
	border:0.6rem solid #fff;
	background-color: #ffedc5;
}
.circle{
	width: 6.8rem;
	height: 6.8rem;
	margin: -4rem auto 0 auto;
	font-size: 4rem;
	line-height: 6.8rem;
	border:0.3rem solid #ffedc5;
	border-radius: 50%;
	color: #f56b81;
	background-color: #fff;
}
.main img{
	width: 21rem;
	margin-top: 13.6rem;
	max-width: 100%;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	
}
.foot{
	text-align: center;
}
.foot button{
	height: 8.5rem;
	width: 46rem;
	background-color: #fbb435;
	border-radius: 2rem;
	color: #fff;
	font-size: 4.8rem;
}
/*角色页面*/

#hidden{
	font-size: 4rem;
	color: #f56b81;
	display: none;
}
#hidden img{
	margin-top: 2.2rem;
}
#hidden p:last-child{
	margin-bottom: 11.2rem;
	padding-top: 3.5rem;
	padding-left: 2.8rem;
	border-top: 0.2rem solid #fff;
	margin-top: 1.8rem;
	font-size: 2.1rem;
	text-align: left;
	color: #fca000
}
#char{
	font-size: 3rem;
	color: #29bde0;
}