* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    padding-bottom: 100%;
}

.a {
    float: left;
    width: 31%;
    padding-bottom: 31%;
    background-color: orange;
    margin: 1%;
    border-radius: 10%;
}