html {
  font-size: 625%;
  background: #fff; }

body {
  margin: 0 auto;
  max-width: 750px;
  height: 100vh;
  padding: 0;
  font-size: 16px;
  background: #f7f7f7; }

a:hover {
  text-decoration: none; }

header {
  display: flex;
  width: 100%;
  padding: 0 .15rem;
  line-height: .5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background: #41c6ff;
  color: #fff; }
  header .fa {
    font-size: 30px; }

.oneDay, .oneDayCopy {
  width: 100%;
  /*padding: .2rem 0;*/
  margin: 0 auto;
  background: #f7f7f7;
  border-bottom: 1px solid #999; }

.oneDayCopy {
  margin-bottom: 1rem; }

.date, .dateCopy {
  border-bottom: 1px solid #bcbdbe;
  line-height: .4rem;
  font-size: 20px;
  text-align: center;
  color: #41c6ff; }

.day .pull-right, .dayCopy .pull-right {
  font-size: 30px; }

.fa-angle-down:before {
  vertical-align: sub; }

.happening {
  position: relative;
  display: none; }

.happeningCopy {
  position: relative; }

.aside, .asideCopy {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 90%;
  border-right: 1px solid #d4d5d6; }

.incident, .incidentCopy {
  position: relative;
  width: 90%;
  margin-left: 10%; }

.triangle-left {
  float: left;
  display: block;
  position: relative;
  top: 50%;
  transform: translate(-100%, 111%);
  width: 0;
  height: 0;
  border-right: 10px solid #83b09a;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

.triangle-leftCopy {
  float: left;
  display: block;
  position: relative;
  top: 50%;
  transform: translate(-100%, 111%);
  width: 0;
  height: 0;
  border-right: 10px solid #83b09a;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid #41c6ff; }

.moon {
  z-index: 999;
  position: absolute;
  top: .2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #fff; }

.killMsgCopy, .voteMsgCopy {
  display: none;
  line-height: .3rem;
  text-align: center;
  margin: 0 auto; }

.killMsg, .voteMsg {
  line-height: .3rem;
  text-align: center;
  margin: 0 auto; }

.sun {
  z-index: 999;
  position: absolute;
  top: .2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #fff; }

.incident a {
  box-sizing: border-box;
  display: block;
  width: 80%;
  border: 1px solid #83b09a;
  line-height: .4rem;
  margin: .2rem auto;
  text-align: center;
  background: #83b09a;
  color: #fff; }

.incidentCopy a {
  box-sizing: border-box;
  display: block;
  width: 80%;
  /*border: 1px solid #41c6ff;*/
  line-height: .4rem;
  margin: .2rem auto;
  text-align: center;
  background: #41c6ff;
  color: #fff; }

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: .8rem;
  max-width: 750px;
  margin: 0 auto;
  background: #41c6ff; }
  footer a {
    display: inline-block;
    width: 35%;
    border-radius: .1rem;
    line-height: .55rem;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #fbb435; }
    footer a:hover {
      color: #fff; }

/*# sourceMappingURL=05judgeDiaryFinal.css.map */
