html {
    overflow-x: hidden;
    font-size: 625%;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #29bde0;
}
.top {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #29bde0;
}
.character-row {
    padding-top: 1.4rem;
    margin-bottom: 1.2rem;
}

header {
    height:.4rem;
    width: 100vw;
    line-height: .4rem;
    background-color: #29bde0;
}
header span {
    display: inline-block;
    line-height: .4rem;
    color: #fff;
}
.information {
    height: .5rem;
    line-height: .5rem;
    background-color: #b9e9f5;
}
.micro-move-right {
    padding-left: .15rem;
}
.attention {
    height: .5rem;
    line-height: .5rem;
    font-size: 17px;
    color: #b9e9f5;
    background-color: #29bde0;
}
.info-tail .caret {
    border-top: 10px solid #b9e9f5;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.character {
    margin: 0;
    background-color: #29bde0;
}
.character:hover .action {
    visibility: visible;
}
.character-row {
    width: 100vw;
}
.character .box {
    width: 21.25vw;
    height: 21.25vw;
    margin: 0 auto;
    border: 4px solid #fff;
    background-color: #83b09a;
}
.action {
    visibility: hidden;
}

.action .under-box {
    display: inline-flex;
    justify-content: space-between;
    width: 22.75vw;
    margin: 0 auto;
    padding: 3vw 0 3vw 0;
    background-color: #29bde0;
}
.box .career {
    height: 15vw;
    line-height: 15vw;
    font-size: 20px;
    color: #212121;
    background-color: #f5c97b;
}
.box .id-num {
    position: relative;
    bottom: 4px;
    height: 6.25vw;
    margin: 0;
    font-size: 14px;
    line-height: 6.25vw;
    color: #fff;
}
.vote {
    margin:.2rem auto .3rem auto;
    height: .6rem;
    line-height: .6rem;
    background-color: #fbb435;
}
.vote a {
    font-size: 24px;
    color: #fff;
}
.vote a:hover {
    text-decoration: none;

}