<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <context:component-scan base-package="com.jnshu.controller">
            <context:include-filter type="annotation"
                                    expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 处理器映射器 处理器适配器 -->
    <mvc:annotation-driven/>

    <!-- 配置tiles模板 -->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>WEB-INF/tiles/layout.xml</value>
            </list>
        </property>
    </bean>

    <!-- tiles 试图解析器 -->
    <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
        <property name="order" value="1"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.tiles3.TilesView</value>
        </property>
    </bean>

    <!-- 静态资源放行-->
    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>


    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!-- 转换器 -->
        <property name="converters">
            <list>
                <bean class="com.jnshu.time.SpringAutoBind"/>
            </list>
        </property>
    </bean>

    <!--拦截器-->
    <mvc:interceptors>
        <!--多个拦截器,顺序执行-->
        <!-- 登录认证拦截器 -->
        <mvc:interceptor>
            <!--mvc:mapping path= "/url/*"/> -->
            <mvc:mapping path="/**"/>
            <bean class="com.jnshu.Login.loginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>