*{ 
    margin: 0; 
    padding: 0; 
} 
.box{ 
    float: left; 
    padding-left: 31.33%; 
    padding-bottom: 31.33%; 
    background-color: orange; 
    margin:1%; 
    border-radius: 10%; 
    }
