html {
    font-size: 625%;
}
body {
    font-size: 16px;
    font-size: 0.16em;
}
ul li {
    list-style: none;
}
a:hover,a:link,a:visited {
    text-decoration: none;
    color: #ffffff;
}
.header .contact {
    height: 0.39rem;
    margin-bottom: 0;
    background-color: #ffffff;
    line-height: 0.39rem;
    font-size: 0.14rem;
    color: #29b078;
}
.header .contact .phone {
    color: #000;
}
.header .contact .wechat,.qq,.weibo {
    margin-top: 0.07rem;
    height: 0.24rem;
    width: 0.24rem;
    background: url("img/icon.png") no-repeat;
}
.header .contact .wechat {
    background-position: -1rem -1rem;
}
.header .contact .qq {
    background-position: -2rem -1rem;
}
.header .contact .weibo {
    background-position: -3rem -1rem;
}
.header .navbar {
    font-size: 0.19rem;
    font-weight: bold;
    text-align: center;
    background-color: #29b078;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
. header .navbar .navbar-toggle {
    background-color: #ffffff;
}
.header .navbar .navbar-nav {
    width: 100%;
    margin: 0;
}
.header .navbar li {
    height: 0.98rem;
    padding-top: 0.25rem;
}
.header .navbar li a {
    color: #ffffff;
}
.header .navbar li a:hover {
    color: #ffffff;
}
.header .navbar .home {
    margin-left: 60%;
}
.header .navbar .border {
    margin-top: 0.18rem;
    height: 0.05rem;
    background-color: #ffffff;
    visibility: hidden;
}
.header .navbar .home .border {
    visibility: visible;
}
.header .navbar .home:hover .border {
    visibility: visible;
}
.header .navbar .job:hover .border {
    visibility: visible;
}
.header .navbar .recommend:hover .border {
    visibility: visible;
}
.header .navbar .about:hover .border {
    visibility: visible;
}
.header .rota .rota-pic {
    width: 100%;
    height: auto;
}
#myCarousel {
    position: relative;
}
#myCarousel .cap-1  {
    top:50%;
    right:0;
    transform:translate(-50%,-50%);
    color: #ffffff;
    position: absolute;
    font-size: 2.4vw;
    font-weight: bold;
}
#myCarousel .cap-2 {
    top:58%;
    right:-7%;
    transform:translate(-50%,-50%);
    color: #ffffff;
    position: absolute;
}
#myCarousel .cap-2-1  {
    font-size: 4vw;
    font-weight: bold;
}
#myCarousel .cap-2-2  {
    font-size: 3vw;
    font-weight: bold;
}
.student-rota {
    position: static;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.student-rota li {
    height: 0.14rem;
    width: 0.14rem;
    border-color: #ededed;
    background-color: #ffffff;
}
.student-rota .active {
    height: 0.14rem;
    width: 0.14rem;
    border-color: #ededed;
    background-color: #29b078;
}
.student-rota li:hover {
    background-color: #29b078;
}

.content {
    background-color: #fafafa;
    padding-left: 8%;
    padding-right: 8%;
}
.content .advan .effic,.standard,.peo,.num-peo {
     margin-top: 1.55rem;
     margin-bottom: 1rem;
 }
.content .advan .effic .effic-p,.standard-p,.peo-p {
     height: 0.62rem;
     width: 0.62rem;
     margin: 0 auto;
 }
.content .advan .effic .effic-p {
    background: url("img/icon.png") no-repeat -0.9rem -2rem;
}
.content .advan .standard .standard-p {
    background: url("img/icon.png") no-repeat -2rem -1.87rem;
}
.content .advan .peo .peo-p {
    background: url("img/icon.png") no-repeat -2.95rem -2rem;
}
.content .advan .effic .effic-t,.standard-t,.peo-t {
    height: 0.82rem;
    line-height: 0.82rem;
    font-size: 0.21rem;
    font-weight: bold;
}
.content .advan .effic-s,.standard-s,.peo-s {
    font-size: 0.15rem;
    color: #9c9c9c;
}
.content .advan .effic,.standard,.peo {
    text-align: center;
}
.content .advan .peo {
    border-right: #9c9c9c dashed 0.01rem;
}
.content .advan .num-peo {
    padding-left: 0.5rem;
}
.content .advan .num-peo .num-box {
    width: 1.6rem;
    margin: 0 auto;
}
.content .advan .num-peo .num-peo-on {
    background: url("img/icon.png") no-repeat -3rem -2.96rem;
    margin-top: 0.45rem;
    margin-bottom: 0.1rem;
    color: #209f6a;
    font-weight: bold;
    width: 0.9rem;
    padding-left: 0.2rem;
}
.content .advan .num-peo .num-peo-job {
    background: url("img/icon.png") no-repeat -3rem -2.96rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    color: #209f6a;
    font-weight: bold;
    width: 0.9rem;
    padding-left: 0.2rem;
}
.content .advan .num-peo .peo-on-text,.peo-job-text {
    color: #9c9c9c;
}

.content .study {
    margin-top: 0.2rem;
}
.content .study .hstudy {
    font-size: 0.21rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}
.content .study .cstudy {
    display: table;
    position: relative;
    height: 0.9rem;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 0.2rem;
}
.content .study .cstudy .study-num {
    margin-top: 0.1rem;
    background: url("img/icon.png") no-repeat -1rem -3rem;
    height: 0.72rem;
    width: 0.72rem;
    text-align: center;
    line-height: 0.72rem;
    color: #1db176;
    font-weight: bold;
    float: left;
}
.content .study .cstudy .study-text {
    width: 100%;
    color: #9e9e9e;
    font-size: 0.14rem;
    padding-left: 0.1rem;
    display:table-cell;
    vertical-align:middle;
}
.content .study .cstudy .study-arrow {
    height: 0.3rem;
    width: 0.3rem;
    position: absolute;
    top: 35%;
}

.content .student {
    margin-bottom: 1rem;
}
.content .student .tstudent {
    font-size: 0.21rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.content .student {
    padding-bottom: 0.61rem;
}
.content .student .list {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0.2rem;
    background-color: #ffffff;
    border: #ededed solid 0.01rem;
    border-radius: 0.05rem;
}
.content .student .list .list-p {
    height: 1.08rem;
    width: 1.08rem;
    margin: 0 auto;
}
.content .student .list .list-p {
    background: url("img/icon.png") no-repeat -1rem -7rem;
}
.content .student .list .list-p2 {
    background: url("img/icon.png") no-repeat -3rem -7rem;
}
.content .student .list .list-p3 {
    background: url("img/icon.png") no-repeat -1rem -8.5rem;
}
.content .student .list .list-p4 {
    background: url("img/icon.png") no-repeat -3rem -8.5rem;
}
.content .student .list .list-t {
    height: 0.82rem;
    line-height: 0.82rem;
    font-size: 0.18rem;
    font-weight: bold;
    text-align: center;
}
.content .student .list-s {
    width: 2.12rem;
    font-size: 0.15rem;
    color: #9c9c9c;
}
.content .point {
    width: 0.65rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.content .point .point-g {
    float: left;
    height: 0.14rem;
    width: 0.14rem;
    margin-left: 0.02rem;
    border: #ededed solid 1px;
    border-radius: 0.2rem;
    background-color: #ffffff;
}
.content .point .point-g:hover {
    background-color: #29b078;
}

.content .company .company-t {
    height: 0.3rem;
    width: 1.29rem;
    font-weight: bold;
    font-size: 0.21rem;
    margin: 0 auto;
}
.content .company .company-l {
    height: 1.75rem;
    margin-top: 0.65rem;
    margin-bottom: 0.88rem;
}
.content .company .company-l .comp-list {
    height: 1.75rem;
    width: 20%;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 0.2rem;
    padding: 0;
}
.content .company .company-l .comp-list:hover {
    border: #f1f1f1 solid 2px;
}
.content .company .company-l .comp-list .comp-li1,.comp-li2,.comp-li3,.comp-li4,.comp-li5  {
    height: 0.65rem;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.footer {
    background-color: #ffffff;
    padding-top: 0.2rem;
}
.footer .links .tlinks {
    text-align: center;
    font-size: 0.18rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.3rem;
}
.footer .links .clinks {
    margin: 0 auto;
    margin-bottom: 0.2rem;
}
.footer .links .links-1 {
    display: inline-block;
    text-align: center;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
    color: #999999;
}
.footer .links .clinks .links-1:hover {
    text-decoration: underline;
    text-decoration-color: #1db176;
}
.footer .infos {
    height: 2.02rem;
    background-color: #26a270;
}
.footer .infos-row {
    background-color: #26a270;
}
.footer .infos-left-t,.infos-mid-t {
    padding-top: 0.38rem;
    font-size: 0.18rem;
    color: #ffffff;
}
.footer .infos-left .infos-left-link {
    margin-top: 0.66rem;
}
.footer .infos-left .infos-left-link .link-about,.link-cont {
    padding-right: 0.05rem;
    border-right: #ffffff solid 0.01rem;
}
.footer .infos-mid .infos-mid-link .mid-link-1,.mid-link-2 {
    margin-top: 0.21rem;
}
.footer .infos-mid .infos-mid-link a {
    margin-right: 0.2rem;
}
.footer .infos-mid .infos-mid-link a:hover {
    border-bottom: #ffffff solid 0.01rem;
}
.footer .infos-mid .infos-mid-copy {
    margin-top: 0.35rem;
    font-size: 0.1rem;
    color: #ffffff;
}
.footer .infos-right {
    padding-top: 0.38rem;
    background-color: #26a270;
    font-size: 0.16rem;
    color: #ffffff;
}
.footer .infos-right .infos-right-p {
    background: url("img/icon.png") no-repeat -1rem -5rem;
    display: block;
    width: 0.92rem;
    height: 0.92rem;
}