@media screen and (max-width: 768px) {
    .header .nav .home {
        margin-left: 0;
    }
    #myCarousel .cap-1  {
        right:-4%;
    }
    #myCarousel .cap-2 {
        right:-11%;
    }
}
@media screen and (min-width: 630px) and (max-width: 991px) {
    .content .advan .effic,.standard,.peo {
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
    }
    .content .advan .num-peo {
        margin-top: 0.4rem;
    }
}
@media screen and (max-width: 629px) {
    .header .nav .logo {
        display: none;
    }
    .content .advan .effic,.standard,.peo {
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
    }
    .content .advan .num-peo {
        margin-top: 0.4rem;
    }
    .content .advan .standard {
        margin-bottom: 0.4rem;
    }
}
@media screen and (min-width: 990px) {
    .content .student .list {
        width: 22%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}
@media screen and (max-width: 539px) {
    .content .cont-nav2 {
        height: 0.8rem;
    }
}
@media screen and (max-width: 1510px) {
    .content .web-list-col .tips {
        line-height: 0.22rem;
    }
}
@media screen and (max-width: 1348px) {
    .content .web-list-col .web2 .scar,.difficult {
        width: 62%;
        padding-right: 0;
    }
    .content .web-list-col .web2 .grew,.threshold {
        width: 38%;
        padding-right: 0;
    }
}
@media screen and (min-width: 1202px) {
    .content .web-list .web-list-col {
        width: 32%;
    }
}
@media screen and (max-width: 1202px) {
    .content .web-list .web-list-col {
        width: 100%;
    }
    .content .web-list .web-list-col2 {
        margin-left: 0;
    }
}
@media screen and (max-width: 405px) {
    .content .web-list {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 992px) {
    .header .contact .phone {
        margin-left: 0;
    }
    .header .contact .wechat {
        position: absolute;
        right: 0.6rem;
    }
    .header .contact .qq {
        position: absolute;
        right: 0.3rem;
    }
    .header .contact .weibo {
        position: absolute;
        right: 0rem;
    }
    .content .advan .peo {
        border: none;
    }
    .content .study .rstudy {
        width: 80%;
        margin: 0 auto;
    }
    .content .study .cstudy {
        width: 100%;
        margin-left: -7%;
    }
    .content .company .company-l .comp-list {
        width: 100%;
    }
    .content .cont .contprg {
        margin-left:0 ;
        margin-top: 0.5rem;
    }
    .content .cont .contprg .contprg-t-text {
        margin-top: 0.1rem;
    }
    .footer .infos-left .infos-left-link .link-about,.link-cont,.link-comp {
        display: block;
        border: none;
        margin-top: 0.05rem;
    }
}
@media screen and (max-width: 425px) {
    .content .cont .contprg .contprg-pic {
        float: none;
        display: block;
        margin: 0 auto;
    }
}