html {
    font-size: 625%;
}
body {
    font-size: 16px;
    font-size: 0.16em;
}
ul li {
    list-style: none;
}
a:hover,a:link,a:visited {
    text-decoration: none;
}

.header .contact {
    height: 0.39rem;
    margin-bottom: 0;
    background-color: #ffffff;
    line-height: 0.39rem;
    font-size: 0.14rem;
    color: #29b078;
}
.header .contact .phone {
    color: #000;
}
.header .contact .wechat,.qq,.weibo {
    margin-top: 0.07rem;
    height: 0.24rem;
    width: 0.24rem;
    background: url("img/icon.png") no-repeat;
}
.header .contact .wechat {
    background-position: -1rem -1rem;
}
.header .contact .qq {
    background-position: -2rem -1rem;
}
.header .contact .weibo {
    background-position: -3rem -1rem;
}
.header .navbar {
    font-size: 0.19rem;
    font-weight: bold;
    text-align: center;
    background-color: #29b078;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
. header .navbar .navbar-toggle {
    background-color: #ffffff;
}
.header .navbar .navbar-nav {
    width: 100%;
    margin: 0;
}
.header .navbar li {
    height: 0.98rem;
    padding-top: 0.25rem;
}
.header .navbar li a {
    color: #ffffff;
}
.header .navbar li a:hover {
    color: #ffffff;
}
.header .navbar .home {
    margin-left: 60%;
}
.header .navbar .border {
    margin-top: 0.18rem;
    height: 0.05rem;
    background-color: #ffffff;
    visibility: hidden;
}
.header .navbar .recommend .border {
    visibility: visible;
}
.header .navbar .home:hover .border {
    visibility: visible;
}
.header .navbar .job:hover .border {
    visibility: visible;
}
.header .navbar .recommend:hover .border {
    visibility: visible;
}
.header .navbar .about:hover .border {
    visibility: visible;
}
.header .promote .promote-pic{
    height: auto;
    width: 100%;
}

.content {
    background-color: #fafafa;
    padding-bottom: 1.2rem;
    padding-left: 8%;
    padding-right: 8%;
}
.content .row {
    margin: 0;
}
.content .cont-nav {
    height: 0.8rem;
    line-height: 0.8rem;
}
.content .cont-nav .nav-bar {
    font-size: 0.18rem;
    font-weight: bold;
    padding-left: 0;
}
.content .cont-nav .nav-bar .home-bar,.job-bar {
    color: #000000;
}
.content .cont-nav .nav-bar .home-bar:hover {
    color: #2eae7b;
}
.content .cont-nav .nav-bar .job-bar:hover {
    color: #2eae7b;
}

.content .cont .contbar {
    background-color: #ffffff;
    border: #ededed solid 0.01rem;
    border-radius: 0.05rem;
    padding: 0;
}
.content .cont .contbar .contbar-t {
    text-align: center;
    font-size: 0.16rem;
    font-weight: bold;
    height: 0.62rem;
    line-height: 0.62rem;
    border-bottom: #ededed solid 0.01rem;
    border-radius: 0.05rem;
}
.content .cont .contbar .contbar-choice {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.14rem;
    font-weight: bold;
}
.content .cont .contbar .contbar-choice .choice {
    display: block;
    margin: 0 auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 0.22rem;
    line-height: 0.22rem;
    width: 0.85rem;
    color: #24b37d;
}
.content .cont .contbar .contbar-choice .choice:hover {
    color: #ff640a;
}
.content .cont .contbar .contbar-choice .choice:hover .circle {
    background-color: #faa06b;
    border: #fa671a solid 0.01rem;
}
.content .cont .contbar .contbar-choice .choice .circle {
    float: left;
    height: 0.1rem;
    width: 0.1rem;
    margin-top: 0.06rem;
    margin-right: 0.05rem;
    background-color: #ffffff;
    border: #fd954e solid 0.01rem;
    border-radius: 50%;
}
.content .cont .contprg {
    font-size: 0.16rem;
    line-height: 0.27rem;
    color: #b5b5b5;
    background-color: #ffffff;
    border: #ededed solid 0.01rem;
    border-radius: 0.05rem;
    padding: 0;
    padding-bottom: 1rem;
}
.content .cont .contprg .contprg-t {
    border-bottom: #ededed solid 0.01rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    padding-left: 5vw;
    padding-right: 5vw;
}
.content .cont .contprg .contprg-pic {
    float: left;
    height: 0.65rem;
    width: 1.75rem;
}
.content .cont .contprg .contprg-t-text {
    margin-top: 0.5rem;
}
.content .cont .contprg .contprg-text {
    padding: 3vw 5vw;
}
.content .cont .contprg .contprg-text .pgr-text {
    margin-bottom: 0.3rem;
}

.footer {
    background-color: #fafafa;
    padding-top: 0.5rem;
}
.footer .infos {
    height: 2.02rem;
    background-color: #26a270;
}
.footer .infos-row {
    background-color: #26a270;
}
.footer .infos-left-t,.infos-mid-t {
    padding-top: 0.38rem;
    font-size: 0.18rem;
    color: #ffffff;
}
.footer .infos-left .infos-left-link {
    margin-top: 0.66rem;
}
.footer .infos-left .infos-left-link .link-about,.link-cont {
    padding-right: 0.05rem;
    border-right: #ffffff solid 0.01rem;
    color: #ffffff;
}
.footer .infos-left .infos-left-link .link-cont:hover {
    color: #ffffff;
}
.footer .infos-left .infos-left-link .link-comp {
    color: #ffffff;
}
.footer .infos-mid .infos-mid-link .mid-link-1,.mid-link-2 {
    margin-top: 0.21rem;
}
.footer .infos-mid .infos-mid-link a {
    margin-right: 0.2rem;
    color: #ffffff;
}
.footer .infos-mid .infos-mid-link a:hover {
    border-bottom: #ffffff solid 0.01rem;
}
.footer .infos-mid .infos-mid-copy {
    margin-top: 0.35rem;
    font-size: 0.1rem;
    color: #ffffff;
}
.footer .infos-right {
    padding-top: 0.38rem;
    background-color: #26a270;
    font-size: 0.16rem;
    color: #ffffff;
}
.footer .infos-right .infos-right-p {
    background: url("img/icon.png") no-repeat -1rem -5rem;
    display: block;
    width: 0.92rem;
    height: 0.92rem;
}