body {
    margin:0;
    width: 100%;
    height: 100%;
}
.picture {
    background: url(../img/登录.jpg) no-repeat;
    background-size: auto;
    height:920px;
}
.background {
    width: 600px;
    height: 400px;
    background-color: #d0d4da;
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.background h1 {
    color: #03a9f4;
    text-align: center;
}
.form {
    width:80%;
    margin:0 auto;
}
.text {
    background: url("../img/password.png") 0 0 no-repeat transparent;
    background-size: cover;
    height:20px;
    width: 20px;
    display: inline-block;
}
.password {
    background: url("../img/password.png") 0 100% no-repeat;
    background-size: cover;
    height:20px;
    width: 20px;
    display: inline-block;
}
.text-list {
    background: #fff;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    padding:20px 0;

}
.border {
    width: 40px;
    height: 20px;
    margin-left: 20px;
    display: inline-block;
    border-right:1px solid #d0d4da;
}
input {

    top: 17px;
    border:0;
    width:60%;
    padding: 0;
    height: 25px;
    outline: none;
}
.submit {
    width: 80%;
    background-color: #03a9f4;
    color: #fff;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    outline:none;
    position: absolute;
    bottom: 3rem;
    font-size: 16px;
}
.hint-true {
    color: green;
}
.hint {
    color: red;
}
.warm {
    height: 20px;
    color: red;
    position: absolute;
}