html {
  font-size: 625%;
  -ms-overflow-style: scrollbar; }

body {
  padding: .5rem .2rem 0 .2rem;
  background-color: #f0f0f0;
  font-size: .25rem; }

header {
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: .5rem;
  padding: 0 .2rem;
  background-color: #29bde0; }
  header a:nth-of-type(1) {
    width: .25rem;
    height: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .01rem 0; }
    header a:nth-of-type(1) span {
      display: block;
      width: 100%;
      height: .02rem;
      background-color: white; }
    header a:nth-of-type(1):hover {
      width: .3rem;
      height: .3rem; }
      header a:nth-of-type(1):hover span {
        height: .03rem; }
  header .hdr-mid {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  header a:nth-of-type(2) {
    position: absolute;
    right: .2rem;
    top: 50%;
    transform: translateY(-50%);
    width: .3rem;
    height: .3rem; }
    header a:nth-of-type(2) span:nth-of-type(1) {
      display: block;
      width: 2px;
      height: .3rem;
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-1px) rotate(45deg); }
    header a:nth-of-type(2) span:nth-of-type(2) {
      display: block;
      width: 2px;
      height: .3rem;
      background-color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-1px) rotate(-45deg); }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

@media all and (max-width: 470px) {
  html {
    font-size: 475%; } }
@media all and (max-width: 330px) {
  html {
    font-size: 375%; } }
@media all and (min-width: 786px) {
  html {
    font-size: 775%; } }
body {
  padding: .5rem 0 0;
  background: white; }

header {
  border-bottom: 1px solid #69d0e9; }
  header img {
    width: .3rem;
    height: .3rem; }
  header a:nth-of-type(2) img {
    transform: translateY(-0.05rem); }

main {
  background-color: #29bde0;
  font-size: .2rem; }
  main .results {
    text-align: center;
    flex-direction: column;
    padding: .2rem .5rem;
    align-items: center; }
    main .results img {
      width: 2rem; }
    main .results p {
      margin: .1rem 0 .4rem 0;
      text-align: left;
      font-weight: bold;
      color: #f3ae33;
      word-break: break-all; }
    main .results .msg-text {
      font-size: .18rem;
      color: white;
      display: flex;
      flex-direction: column;
      line-height: .3rem;
      text-align: left; }
      main .results .msg-text > div {
        display: flex;
        flex-wrap: wrap; }
        main .results .msg-text > div span {
          text-align: left;
          flex-basis: 33%; }
  main .msg {
    background: white;
    padding: 0 0 .8rem 0;
    margin: 0; }
    main .msg li {
      padding: .1rem .5rem;
      color: #c7c7c7;
      list-style: none;
      border-bottom: 1px solid #dddddd;
      display: flex;
      flex-direction: column; }
      main .msg li > span:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        margin-bottom: .05rem;
        align-items: flex-end; }
        main .msg li > span:nth-of-type(1) span:nth-of-type(1) {
          color: black; }
        main .msg li > span:nth-of-type(1) span:nth-of-type(2) {
          font-size: .16rem; }

footer {
  background-color: rgba(153, 223, 240, 0.8);
  height: .8rem;
  display: flex;
  align-items: center; }
  footer button {
    margin: 0 .2rem;
    width: calc((100% - .2rem)/2 );
    border-radius: .1rem;
    color: white;
    border: none;
    height: .6rem; }
    footer button:nth-of-type(1) {
      background-color: #f66f6f; }
    footer button:nth-of-type(2) {
      background-color: #fbb435; }

/*# sourceMappingURL=end.css.map */
