@import "mycss";

body{
  padding: .5rem 0 0;
  background:white;

}
header{
  border-bottom: 1px solid #69d0e9;
  img{
    width: .3rem;
    height: .3rem;
  }
  a:nth-of-type(2) img{
    transform: translateY(-.05rem);
  }
}

main {
  background-color: #29bde0;
  font-size: .2rem;
  .results{
    text-align: center;
    flex-direction: column;
    padding: .2rem .5rem;
    align-items: center;
    img{
      width: 2rem;
    }
    p{
      margin: .1rem 0 .4rem 0;
      text-align: left;
      font-weight: bold;
      color: #f3ae33;
      word-break: break-all;

    }
  .msg-text{
    font-size: .18rem;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: .3rem;
    text-align: left;
    >div{
      display: flex;
      flex-wrap: wrap;
      span{
        text-align: left;
        flex-basis:33% ;
      }
    }
  }
  }

  .msg{
    background: white;
    padding: 0 0 .8rem 0;
    margin: 0;
    li{
      padding: .1rem .5rem;
      color: #c7c7c7;
      list-style: none;
      border-bottom: 1px solid #dddddd;
      display: flex;
      flex-direction: column;
      >span:nth-of-type(1){
        display: flex;
        justify-content: space-between;
        margin-bottom: .05rem;
        align-items: flex-end;
        span:nth-of-type(1){
          color: black;
        }
        span:nth-of-type(2){

          font-size: .16rem;
        }
      }
    }







  }
}
footer{
  background-color:rgba(153,223,240,0.8);
  height: .8rem;
  display: flex;
  align-items: center;
  button{
    margin: 0 .2rem;
    width: calc((100% - .2rem)/2 );
    border-radius: .1rem;
    color: white;
    border: none;
    height: .6rem;
    &:nth-of-type(1){
      background-color: #f66f6f;
    }
    &:nth-of-type(2){
      background-color: #fbb435;
    }
  }
}








