@media all and(max-width: 470px){
  html{
    font-size: 475%;
  }

}

@media all and(max-width: 330px){
  html{
    font-size: 375%;
  }

}

@media all  and (min-width: 786px){
  html{
    font-size: 775%;
  }
}