*{
	box-sizing: border-box;
}
html,
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 62.5%;
	font-family: simhei, Sans-serif;
	background: #f0f0f0;
}
.row,
.col-xs-12{
	margin: 0;
	padding: 0;
}
a:hover,
a:active,
a:visited,
a:link{
	text-decoration: none;
	color: #FFFFFF;
}

/*头部*/

.top-icon {
	display: inline-block;
	margin: 12px 0 12px 12px;
}
.top-icon img{
	width: 18px;
	height: 16px;
}
header{
	position: fixed;
	top: 0;
	z-index: 999999;
	width: 100%;
	background-color: #29bde0;
}

/*内容*/

.main{
	margin-top: 41px;
}
.main a,
.main span{
	display: block;
}
.main-top{
	position: relative;
	display: block;
	margin: 16px auto;
	height: 65px;
	line-height: 65px;
	width: 88%;
	text-align: center;
	font-size: 1.8rem;
	color: #9a9a9a;
	background: #ffffff;
	border: 1px solid #d6d6d6;
}
.main-top:hover,
.main-top:visited,
.main-top:active,
.main-top:link{
	color: #9a9a9a;
}
.main-top img{
    position: absolute;
    right: 2.5vw;
    top: 21.5px;
    width: 12px;
    height: 22px;
}
.nav-game{
	position: relative;
	margin: 0 auto;
	width: 88%;
	background: #FFFFFF;
	border: 1px solid #d6d6d6;
}
.nav-head{
	font-size: 1.8rem;
	color: #fbb435;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #FFFFFF;
	border-bottom: 1px solid #fde1ae;
}
.nav{
	margin: 16px auto;
	width: 72vw;
	height: 74px;
	line-height: 74px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.8rem;
    background: #69d1e9;
}
.bottom-word{
	text-align: center;
	font-size: 1.2rem;
	color: #838383;
}
.nav-icon{
	position: absolute;
	z-index: 999999;
	right: 1.5vw;
	top: 211px;
}
.nav-icon img{
	width: 15px;
	height: 30px;
}
.location-icon{
	width: 64.8px;
	height: 10.8px;
	margin: 8px auto 5px auto;
}
.location-icon .icon{
	float: left;
    width: 10.8px;
    height: 10.8px;
    margin: 0 2.7px;
    border-radius: 5.4px;
    background-color: #f0f0f0;
}
.location-icon .location{
	background-color: #69d1e9;
}



