
ul,
li,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

a,
a:hover {
    display: block;
    text-decoration: none;!important;
    outline: none;
    color: #fff;!important;
}

.cgray {
    background-color: #ddd;
}

.cblue1 {
    background-color: #29bde0;
}

.cblue2 {
    background-color: #b9e9f5;
}

.corange1 {
    background-color: #fbb435;
}

.corange2 {
    background-color: #f5c97b;
}

.cgreen1 {
    background-color: #83b09a;
}

.cred {
    background-color: #f66e6e;
}

.cwhite {
    background-color: #fff;
}

.worange {
    color: #fbb435;
}

.wwhite {
    color: #fff;
}

.wgray {
    color: #999;
}

.img {
    background-image: url(../../picture/task7/sprite7.png);
    background-size: 61.875rem 12.8125rem;
}

.img-one1 {
    height: 2.5rem;
    width: 1.5rem;
    background-position: 0 0;
}

.img-one2 {
    height: 3.5rem;
    width: 1.75rem;
    background-position: -1.875rem 0;
}

.img-one3 {
    height: 1.6875rem;
    width: 2.125rem;
    background-position: -13.6875rem 0;
}

.img-two1 {
    height: 1.875rem;
    width: 1.875rem;
    background-position: -4.0625rem 0;
}

.img-two2 {
    height: 1.875rem;
    width: 1.875rem;
    background-position: -6.375rem 0;
}

.img-two3 {
    height: 1.875rem;
    width: 1.875rem;
    background-position: -8.75rem 0;
}

.img-two4 {
    height: 1.875rem;
    width: 1.875rem;
    background-position: -11.1875rem 0;
}

.img-two6 {
    height: 2.25rem;
    width: 2.25rem;
    background-position: -16.4375rem 0;
}

.img-two7 {
    height: 2.5rem;
    width: 2.5rem;
    background-position: -19.375rem 0;
}

.img-two8 {
    height: 3.25rem;
    width: 3.25rem;
    background-position: -29.375rem 0;
}

.img-thr1 {
    height: 2.5rem;
    width: 2.5rem;
    background-position: -22.375rem 0;
}

.img-thr2 {
    height: 2.625rem;
    width: 3.1875rem;
    background-position: -25.625rem 0;
}

.img-thr3 {
    height: 12.8125rem;
    width: 21.9375rem;
    background-image: url(../../picture/task7/win.png);
    background-size: 21.9375rem 12.8125rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0.625rem;
    border-bottom: 1px solid #ddd;
}

.header-thr {
    border-bottom: 0.1rem solid #fff;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 9rem;
    left: 0;
}
.main-home {
    position: absolute;
    top: 5rem;
    right: 1rem;
    bottom: 2rem;
    left: 1rem;
}

    .main-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-thr {

    top: 0;
    right: 0;
    left: 0;
    bottom: 9rem;
    overflow: auto;
}

.main-thr-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
}

.main-thr-eday {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 0;
    left: 0;
}

.footer-one {
    background: rgba(0, 0, 0, .5); /* Firefox、Chorme、Opera等主流浏览器识别 */
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#7f000000, endColorStr=#7f000000);
    /* IE6及以上IE浏览器识别 */
    height: 7.75rem;
}

.footer-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-top: 0.1rem solid #ddd;
}

.footer-two-vote {
    height: 5rem;
    width: 31rem;
    margin: 2rem 4rem;
}

.footer-thr {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(48, 189, 224, .5);


}

.footer-thr-vote {
    height: 5rem;
    width: 17rem;
    margin: 2rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0.3rem;
    cursor: pointer;
}

.dot:hover {
    background-color: #29bde0;
}


.dot-array {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -1px;
}

.jump {
    position: absolute;
    top: 33rem;
    right: 0;
}

.jump-gray {
    position: absolute;
    top: 4rem;
    right: 0;
}

.edition {
    margin: 2rem;
    line-height: 8.5rem;
    height: 8.5rem;
}

.lastgame {
    height: 6.25rem;
    line-height: 6.25rem;
}

.game {
    margin-top: 10px;
    height: 5rem;
    line-height: 5rem;
    border-bottom: 0.0625rem solid #fbb435;
}

.padgame {
    padding: 0.58rem 0;
}

.two-speak {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 0;
    left: 0;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 1rem;
}

.two-main {
    position: relative;
    top: 10rem;

}
.two-main-move{
    position: relative;
    height: 57.4rem;

    overflow: auto;
}

.tow-box {
    width: 8rem;
    height: 8rem;
    padding: 0.3rem;

}

.two-box-out {
    width: 8.6rem;
    height: 13rem;
}

.two-orange {
    height: 5.3rem;
}

.two-green {
    height: 2.1rem;
}

.two-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-choice {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.two-choice-row {
    position: relative;
    top: 15.5rem;
    right: 0;
    left: 0;
    bottom: 9rem;
    overflow: auto;
    width: 100vh;
}

.img,
a {
    cursor: pointer;
}
.cursor{
    cursor: pointer;
}

.dropdown-content a {

    cursor: pointer;
    margin: 0.1rem;
}

.dropdown-content {
    opacity: 0;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 1rem solid #b9e9f5;
    border-right: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
}

.pad-triangle {

    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.thr-font-row1 {
    padding: 1rem 1.5rem 3rem 1.5rem;

}

.thr-font-row2 {
    padding-top: 0.5rem;
    letter-spacing: 0.2rem;
}

.thr-font-row3 {
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    letter-spacing: 0.2rem;
    border-top: 1px solid #ddd;

}

.thr-font-row4 {
    padding-top: .5rem;
}

.thr-font-result1 {
    padding-top: 5rem;
}

.thr-font-result2 {
    padding-bottom: 1rem;
}
.thr-font-footer{
    padding-bottom: 9rem;
}

.fonts-large {
    font-size: large;
}

.fonts-small {
    font-size: small;
}

.border-fff {
    border: 1px solid #fff;
}
.border-b-fff {
    border-bottom: 1px solid #ddd;
}
.wh{
    height: 5rem;
    line-height: 5rem;
}
.margin-b{
    margin-bottom: 0;
}


@media screen and (max-height: 600px){
    .main-home{
        position: absolute;
        top: 5rem;
        right: 1rem;
        bottom: 2rem;
        left: 1rem;
    }
    .edition {
        margin: 2rem;
        line-height: 5.5rem;
        height: 5.5rem;
    }
    .jump{
        position: absolute;
        top: 28rem;
        right: 0;
    }
}
@media screen and (max-width: 340px){
    html{
        font-size:50%;
    }
    .jump {
        position: absolute;
        top: 28.5rem;
        right: 0;
    }
}

@media screen and (min-width: 700px){
    html{
        font-size:100%;
    }
}
@media screen and (min-width: 768px) {
    html{
        font-size:90%;
    }
    .jump {
        position: absolute;
        top: 31.5rem;
        right: 0;
    }
    .jump-gray {
        position: absolute;
        top: 3.5rem;
        right: 0;
    }
}
@media screen and (min-width: 1024px) {
    html{
        font-size:120%;
    }
    body{
        position: relative;

        max-width: 768px;
        margin: auto;
    }
    .jump {
        position: absolute;
        top: 30.5rem;
        right: 0;
    }

}




