.cblue1 {
  background-color: #29bde0; }

.corange1 {
  background-color: #fbb435; }

.cred {
  background-color: #f66e6e; }

.cwhite {
  background-color: #fff; }

.bcfff {
  color: #fff; }

.bc999 {
  color: #999; }

.bc000 {
  color: #000; }

* {
  box-sizing: border-box; }

body {
  font-size: 14px;
  margin: 0; }

ul,
li,
button {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  border: none; }
  button:focus {
    outline: none; }

a,
a:hover {
  display: block;
  text-decoration: none;
  color: #fff; }

.img, .img-one1, .img-one2, .img-one3, .img-two1, .img-two2, .img-two3, .img-two4, .img-two6, .img-two7, .img-two8, .img-thr1, .img-thr2 {
  background-image: url(../../picture/task7/sprite7.png);
  background-size: 61.875rem 12.8125rem; }

.img-one1 {
  background-position: 0 0;
  height: 2.5rem;
  width: 1.5rem; }

.img-one2 {
  background-position: -1.875rem 0;
  height: 3.5rem;
  width: 1.75rem; }

.img-one3 {
  background-position: -13.6875rem 0;
  height: 1.6875rem;
  width: 2.125rem; }

.img-two1 {
  background-position: -4.0625rem 0;
  height: 1.875rem;
  width: 1.875rem; }

.img-two2 {
  background-position: -6.375rem 0;
  height: 1.875rem;
  width: 1.875rem; }

.img-two3 {
  background-position: -8.75rem 0;
  height: 1.875rem;
  width: 1.875rem; }

.img-two4 {
  background-position: -11.1875rem 0;
  height: 1.875rem;
  width: 1.875rem; }

.img-two6 {
  background-position: -16.4375rem 0;
  height: 2.25rem;
  width: 2.25rem; }

.img-two7 {
  background-position: -19.375rem 0;
  height: 2.5rem;
  width: 2.5rem; }

.img-two8 {
  background-position: -29.375rem 0;
  height: 3.25rem;
  width: 3.25rem; }

.img-thr1 {
  background-position: -22.375rem 0;
  height: 2.5rem;
  width: 2.5rem; }

.img-thr2 {
  background-position: -25.625rem 0;
  height: 2.625rem;
  width: 3.1875rem; }

.img-thr3 {
  height: 12.8125rem;
  width: 21.9375rem;
  background-image: url(../../picture/task7/win.png);
  background-size: 21.9375rem 12.8125rem; }

.l-result {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.float-r {
  float: right; }

.top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0.625rem;
  border-bottom: 1px solid #ddd;
  background-color: #29bde0; }

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 9rem;
  left: 0;
  margin: 0 auto; }

.main-home {
  position: absolute;
  top: 5rem;
  right: 1rem;
  bottom: 2rem;
  left: 1rem;
  background-color: #ddd; }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 5rem;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #29bde0; }

.footer-two {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border-top: 0.1rem solid #ddd;
  background-color: #29bde0; }

.footer-two-vote {
  height: 5rem;
  width: 31rem;
  margin: 2rem 4rem;
  background-color: #fbb435;
  color: #fff; }

.footer-thr {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(48, 189, 224, 0.5); }

.thr-vote {
  height: 5rem;
  width: 17rem;
  margin: 2rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: #fff; }

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0.3rem;
  cursor: pointer; }
  .dot:hover {
    background-color: #29bde0; }

.dot-array {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #fff; }

.text-center {
  text-align: center; }

.jump {
  position: absolute;
  top: 32rem;
  right: 0; }

.jump-gray {
  position: absolute;
  top: 3rem;
  right: 0; }

.edition {
  margin: 2rem;
  line-height: 8.5rem;
  background-color: #29bde0;
  color: #fff;
  cursor: pointer; }

.lastgame {
  line-height: 6.25rem;
  background-color: #fff; }

.game {
  line-height: 5rem;
  border-bottom: 0.0625rem solid #fbb435;
  color: #fbb435; }

.inline-block {
  display: inline-block; }

.two-speak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5rem;
  right: 0;
  left: 0;
  height: 5rem;
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: #b9e9f5; }

.two-main {
  position: relative;
  top: 10rem;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.two-main-move {
  position: relative;
  height: 57.4rem;
  margin-right: -15px;
  margin-left: -15px;
  overflow: auto; }

.dropdown {
  position: relative;
  float: left;
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px; }

.tow-box {
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  padding: 0.3rem;
  background-color: #fff;
  cursor: pointer; }

.two-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.3rem;
  background-color: #f5c97b; }

.two-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.1rem;
  color: #fff;
  background-color: #83b09a; }

.two-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  opacity: 0; }

.two-choice a {
  cursor: pointer;
  margin: 0.1rem; }

.dropdown:hover .two-choice {
  opacity: 1; }

.triangle {
  width: 0;
  height: 0;
  border-top: 1rem solid #b9e9f5;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent; }

.p-triangle {
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 2rem; }

.thr-row1 {
  padding: 1rem 1.5rem 3rem 1.5rem;
  font-weight: 600;
  color: #fbb435; }

.thr-row2 {
  padding: 0.5rem 0;
  letter-spacing: 0.2rem; }

.thr-row3 {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  letter-spacing: 0.2rem;
  border-top: 1px solid #ddd; }

.thr-width {
  display: inline-block;
  width: 32%; }

.pt1 {
  padding-top: 1rem; }

.pb9 {
  padding-bottom: 9rem; }

.fl {
  font-size: large; }

.lh5 {
  line-height: 5rem; }

.margin-b {
  margin-bottom: 0; }

@media screen and (min-width: 1024px) {
  html {
    font-size: 120%; }

  body {
    position: relative;
    max-width: 768px;
    margin: auto; }

  .jump {
    top: 31.5rem; } }
@media screen and (max-width: 768px) {
  html {
    font-size: 65%; }

  .jump {
    top: 32rem; }

  .jump-gray {
    top: 3.5rem; } }
@media screen and (min-width: 700px) {
  html {
    font-size: 100%; } }
@media screen and (max-width: 600px) {
  .edition {
    line-height: 5.5rem; }

  .jump {
    top: 28rem; } }
@media screen and (max-width: 340px) {
  html {
    font-size: 50%; }

  .jump {
    top: 28.5rem; } }

/*# sourceMappingURL=task13-13.css.map */
