html{height: 100%;
	font-size: 62.5%;
	color: #fafafa;
}

body{
	background-color: #fafafa;
}

main{

}

/*导航栏开始*/

.tel-word {
    font-size: 13px;
    line-height: 30px;
    white-space: nowrap;
    color: #29b078;
}

.icon{
    white-space: nowrap;
    margin: 0.5rem 0;
}

.nan-ul{
    height: 97px;
}

.line1 {
    color: #29b078;
}

.line2 {
    margin-right: 0;
}

.link1,
.link2,
.link3,
.link4 {
    padding: 0 1rem;
    height: 85px;
    font-size: 14px;
    border-bottom: 4px solid #29b078;
    background-color: #29b078 !important;
}

.link1 {
    border-bottom: 4px solid #29b078;
}

.link2 {
    border-bottom: 4px solid #ffffff;
}

.link3 {
    border-bottom: 4px solid #29b078;
}

.link4 {
    border-bottom: 4px solid #29b078;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
    border-bottom: 4px solid #ffffff;
}

@media (max-width: 768px){
    .link1,
    .link2,
    .link3,
    .link4{
        height: auto;
    }
}

.a-word {
    margin-top: 20px;
    text-align: center;
    color: #ffffff !important;
}

@media (max-width: 768px){
    .a-word {
        margin-top: 0;
    }
}

.nav-pic {
    width: 107px;
}

.nav-box {
    background-color: #29b078;
    margin-bottom: 0;
}

.navbar-default {
    border: 0;
    border-radius: 0;
}

@media (min-width: 768px)
    .navbar {
        border-radius: 0;
    }
}

.navbar-header {
    text-align: center;
}

.nav-btn {
    margin: 1.5rem 0;
    float: right;
}

.nav-logo {
	display: flex;
	align-items: center;
    height: 85px;
    margin: 0 0 0 1rem;
}

.a-pic {
    text-decoration: none;
}
/*导航栏结束*/

.row{
	margin: 0;
}

.box1{
	height: 3vh;
	margin: 0;
}

.box2{
	color: #29b078;
	font-size: 1rem;
	height: 24px;
	display: flex;
	align-items:center;
	flex-direction:row-reverse;
}

.box3{
	height: 24px;
	display: flex;
	align-items:center;
	flex-direction:row-reverse;
}

.box4{
	display: flex;
	margin: 0;
	height: 5rem;
	width:100%;
	background-color: #29b078;
}

.box5{
	display: flex;
	flex-direction:row-reverse;
	align-items: center;
	color: white;
	font-size: 1.4rem;
}

.box5_1{
	display: flex;
	flex-direction:row-reverse;
	align-items: center;
}

.box6{
	display: flex;
	padding:0 0 0 0.8vw;
	border-bottom: 0.3rem solid #29b078;
}

.box7{
	display: flex;
	padding:0 0.8vw;
	border-bottom: 0.3rem solid #29b078;
}

.box8{
	display: flex;
	padding:1.4rem 0.8vw;
	border-bottom: 0.3rem solid white;
}

.box9{
	display: flex;
	margin: 2% 3% 0;
	font-size: 1.4rem;
    color: black;
}

.box10{
	display: flex;
	margin: 0 3% ;
	font-size: 1.4rem;
    color: black;
    border-bottom: 0.1rem solid #edf1f2;
    border-top: 0.1rem solid #d0d6d9;
}

@media (max-width: 768px){
    .box10{
        display: block;
    }
}

.box10_1{
	display: flex;
	margin: 1vw 1vw 1vw 0;
	font-size: 1.2rem;
    color: #999999;
}

.box10_2{
	display: flex;
	margin: 1vw 2vw 1vw 0;
	font-size: 1.3rem;
	color: #999999;
	text-decoration: none !important;
}

.box11{
	display: flex;
	font-weight: bold;
	margin: 0 3%;
	padding: 1.5vw 0;
	font-size: 1.4rem;
    color: black;
    border-bottom: 0.1rem solid #d0d6d9;
}

.box12{
	position: relative;
	margin: 1.5vw 0 0 3%;
	font-size: 1.4rem;
    color: black;
    width: 30%;
    word-break:break-all;
    background-color: white; 
}

@media (max-width: 768px){
    .box12{
        width: 94% !important;
    }
}

@media (max-width: 1000px){
    .box12{
        width: 45%;
    }
}

.box12_1{
	display: flex;
	border: 0.1rem solid #d0d6d9;
}

.box12_2{
	margin: 4% 2%;
}

.box12_3{
	font-size: 1.4rem;
	margin-right: 0.7rem;
}

.box12_4{
	font-weight: bold;
	font-size: 1.5rem;
	margin: 2rem 0 1rem;
}

.box12_5{
	display: flex;
	font-size: 1.2rem;
}

.box12_6{
	display: flex;
	width: 50%;
	border-left: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
}

.box12_6_1{
	margin: 0.7rem 0 0.7rem 4%;
	color: #999999;
	line-height: 2.35rem;
	white-space:nowrap;
}

.box12_6_2{
	margin: 0.7rem 0 0.7rem 0.7vw;	
}

.box12_7{
	display: flex;
	width: 50%;
	border-right: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
	border-left: 0.1rem solid #d0d6d9;
}

.box12_7_1{
	display: flex;
	margin: 0.7rem 0 0.7rem 0.7vw;
	line-height: 2.2rem;	
}

.box12_7_2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	color: #999999;
	border-left: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
}

.box12_8{
	width: 60%;
}

.box12_8_1{
	display: flex;
	width: 100%;
	border-right: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
	border-left: 0.1rem solid #d0d6d9;
	justify-content: space-between;
}

.box12_8_1_1{
	color: black;
	margin: 0.7rem 0 0.7rem 2rem;
}

.box12_8_1_2{
	color: black;
	margin: 0.7rem 0.7rem 0.7rem 0;
}

.box12_9{
	display: flex;
	font-size: 1.5rem;
	font-weight: bold;
	border-right: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
	border-left: 0.1rem solid #d0d6d9;
}

.box12_9_1{
	color: red;
}

.box12_9_2{
	display: flex;
	margin: 0.7rem 0 0.7rem 4%;
}

.box12_9_3{
	color: #999999;
	padding: 0.7rem 0 0.7rem 4%;
	font-size: 1.2rem;
	border-right: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
	border-left: 0.1rem solid #d0d6d9;
}

.box12_10{
	font-size: 1.2rem;
	border-right: 0.1rem solid #d0d6d9;
	border-bottom: 0.1rem solid #d0d6d9;
	border-left: 0.1rem solid #d0d6d9;
}

.box13{
	display: block;
	position:absolute;
	font-weight: bold;
    width:100%;
    height: 100%;
    transform: translateY(0%);
    color: white;
    z-index: -1;
}

.box13_1{
	display: flex;
    justify-content: center;
    margin: 5rem 2rem 2rem;
}

.box13_2{
	word-break: break-all;
    text-indent: 2rem;
    line-height: 2.5rem;
    margin: 0 2rem;	
}

.box14{
	display: flex;
}

@media (max-width: 767px){
    .box14{
    display:block !important;
    }
}

@media (max-width: 1000px){
    .box14{
    display: flex;
    flex-wrap: wrap;
    }
}

.box15{
	position: relative;
	margin: 1.5vw 0 0 2%;
	font-size: 1.4rem;
    color: black;
    width: 30%;
    word-break:break-all;
    background-color: white; 
}

@media (max-width: 768px){
    .box15{
        width: 94% !important;
    }
}

@media (max-width: 1000px){
    .box15{
    	margin: 1.5vw 0 0 3%;
        width: 45%;
    }
}

.box24{
	width: 100%;
	margin: 2rem 0 0 0;
	padding: 0 0 1rem 0;
	display: flex;
	background: #29b078;
}

.box24_1{ 
	margin: 5rem 0 0 0;
	font-size: 1.6rem;
	color: white;
}

@media (max-width: 768px){
    .box24_1{
    margin: 2rem 0 0 0;
    }
}

.box24_1_2{ 
	margin: 5rem 0 0;
	font-size: 1.6rem;
	color: white;
}

@media (max-width: 768px){
    .box24_1_2{
    margin: 2rem 0 0 0;
    }
}


.box24_2{ 
	margin: 0 0 3.5rem;
}

.box24_3{ 
	font-size: 1.3rem;
}

.box24_4{ 
	display: flex;
	justify-content: space-between;
}

.box24_5{ 
	margin: 0 0 1rem;
}

.box24_6{ 
	margin: 0 0 0.3rem 0;
	font-size: 1.3rem;
	display: flex;
}

.box24_6_1{ 
	margin: 0 2rem 0.3rem 0;

}

@media (max-width: 767px){
    .box24_6_1{
    margin: 0 1rem 0.5rem 0;
    }
}

.box24_7{ 
	font-size: 1.3rem;
	margin: 0 0 1rem;
	display: flex;
}

.box24_8{ 
	display: flex;
    margin: 2rem 0 0 0;
    color: white;
    justify-content: flex-end;
}

@media (max-width: 1200px){
.box24_8{
    justify-content: flex-start;
    }
}

@media (max-width: 768px){
.box24_8{
    margin: 0;
    }
}


.box24_9{
    display: flex;
    flex-flow: column;
}

.box25{
	color: white;
	margin: 0;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	background: #29b078;
	border-top:0.1rem solid white;
	position: relative;
}


.icon1{
	margin: 0.2rem;
}

.icon1_1{
	width: 20px;
}

.icon2{
	width: 110px;
}

.icon3{
	width: 16px;
}

.icon4{
	width: 85px;
}

.icon14{
	width: 90px;
    margin: 0 2.6rem 0 0;
}

p{
	color: black;
	margin: 0;
}

.lvse{
	color: #29b078;
}
.cheng{
	color: #ff5c00;
	white-space: nowrap;
}

.box10_2:hover{
	background-color: #29b078;
	color: white;
}

.box12:hover .box13{
	 background: black;
	 transition: all 1.5s cubic-bezier(0.42, 0, 0, 1.02);
	 transform: translateY(0);
	 background-color: rgba(0, 0, 0, 0.7); 
	 z-index: 1;
}

.box15:hover .box13{
	 background: black;
	 transition: all 1.5s cubic-bezier(0.42, 0, 0, 1.02);
	 transform: translateY(0);
	 background-color: rgba(0, 0, 0, 0.7); 
	 z-index: 1;
}
