html{
    font-size: 62.5%
}
body{
    background-color: #EFF0F4;
    margin: 0;
}
.box{
    height: 4.4rem;
    background-color: #5FC0CD;
    text-align: center; 
}
.shut{
    font-size: 2rem;
    color: white;
    float: left;
    line-height: 4rem;
    margin-left: 1rem;
}
.longin{
    line-height: 4rem;
    color: white;
    margin-top: .8rem;
    font-size: 2.7rem;
    margin-right: 1rem;
}
.register{
    color: white;
    float: right;
    font-size: 2rem;
    line-height: 4rem;
    margin-right: 1rem;
}
.box1{
    height: 5rem;
    background-color: white;
    margin-top: 1.6rem;
}
.phone{
    background:url(./iphone.png);
    width: 2.7rem;
    height: 4.1rem;
    background-size: 60%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1rem;
    margin-left: 2.1rem;
}
input{
    margin-left: 1rem;
    border: 3px solid #EFF0F4;
    height: 2.7rem;
    width: 40%;
    padding-left: 2rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;
    font-size: 1.6rem;
}
.deal::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.box3{
    height: 5rem;
    background-color: white;
    margin-top: 1.6rem;
}
.lock{
    background:url(./locked\ 2.png);
    width: 2.7rem;
    height: 4.1rem;
    background-size: 60%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1rem;
    margin-left: 2.1rem;
}
button{
    height: 5rem;
    width: 100%;
    margin-top: 4rem;
    background-color: #5FC0CD;
    border: 0;
    color: white;
    font-size: 2.7rem;
    letter-spacing:1.2rem;
}
a{
    color: #5FC0CD;
    float: right;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right:1.5rem;
}