<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiles.dao.StudentDao">
    <resultMap id="studentMap" type="com.tiles.pojo.Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="img" column="img"/>
        <result property="position" column="position" />
        <result property="salary" column="salary"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>
    <select id="listStudent"  resultMap="studentMap">
        SELECT * FROM student ;
    </select>
    <select id="getStudentType" parameterType="java.lang.Boolean" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM student WHERE type=#{type}
    </select>

</mapper>