.box{
  float: left;
  height: 200px;
  width: 200px;
  text-align: center;
}
.dropbtn {
  width: 20rem;
  background-color: #4caf50;
  color: white;
  padding: 1.6rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

/*容器，定位下拉内容*/

.dropdown {
  position: relative;
  display: block;
}

/*下拉内容*/

.dropdown-content {
  display: none;
  position: absolute;
  width: 20rem;
  background-color: #f9f9f9;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: rgb(66, 175, 39);
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.arrow {
  position: relative;
  top: 50px;
  left: 100px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid red;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.trapezoid {
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
}

.parallelogram {
  position: relative;
  width: 150px;
  height: 100px;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  /*旋转角度*/
  background: red;
  left: 20px;
}
.star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  position: relative;
}
.star-six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid deepskyblue;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}
#hexagon {
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
}

#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid deepskyblue;
}

#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid green;
}



