body {
  background-color: #CCCCFF;
  padding: 0;
  margin: 0;
}
.head {
  width: 100%;
  height: 80px;
  background-color: #29bde0;
  position: fixed;
  left: 0;
  top: 0;
}
.head img {
  width: 26px;
  height: 23px;
  float: left;
  margin: 33px 0 0 17px;
}
.gamename {
  width: 95%;
  height: 80px;
  margin-top: 80px;
  background-color: white;
  text-align: center;
  line-height: 80px;
  font-size: 1.5rem;
  color: #CCCCFF;
  float: right;
  display: inline;
}
.gamename img {
  width: 1rem;
  height: 1rem;
  float: right;
  margin-right: 10px;
  display: inline;
  padding: 32px 13px 0 0;
}
.gamename p {
  margin-top: 4px;
}
.gamename2 {
  width: 95%;
  height: 80px;
  margin-top: 10px;
  background-color: white;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  color: #fbb435;
  float: right;
  border-bottom: 1px solid #fbb435;
}
.a {
  width: 95%;
  height: 7rem;
  float: right;
  background-color: white;
  border: none;
}
.a img {
  width: 20px;
  height: 33px;
  float: right;
  position: relative;
  top: 22px;
  right: -35px;
}
.contet {
  width: 60%;
  height: 70px;
  background-color: #29bde0;
  font-size: 20px;
  color: white;
  margin: 24px auto;
  text-align: center;
  line-height: 70px;
}
.p {
  width: 95%;
  height: 30px;
  float: right;
  font-size: 1rem;
  background-color: white;
  color: #CCCCFF;
  text-align: center;
  border: none;
  display: inline-block;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
}
.circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #CCCCFF;
  display: inline-block;
}
