
/*头部文字*/

.text-head {
    padding: .30rem 0;
    margin: 0;
    border-bottom: 1px #d0d6d9 solid;
}

.text-head a {
    color: #000000;
}

#bg-all {
    background: #29b078;
    color: #ffffff;
}

.text-career {
    padding: .20rem 0;
    margin: 0;
    border-bottom: 1px #d0d6d9 solid;
}

.text-career span {
    color: #000000;
    margin: 0 .20rem;
}

.text-direction {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px #d0d6d9 solid;
    height: .80rem;
}

h4 {
    display: inline-block;
    margin: 0;
}

/*职业表单*/

.infor {
    height: 5.4rem;
    padding: 0;
    margin-top: .30rem;
}

.infor>div {
    border-top: 1px #edf1f2 solid;
    padding: 0;
}

.infor p {
    padding: .10rem;
    margin: 0;
}

.infor h4 {
    padding-left: .10rem;
}

.zhiye {
    float: left;
    padding: .10rem;
}

.introduce {
    padding-top: .20rem;
    padding-left: 1.5rem;
    word-wrap:break-word;
}

.introduce h4 {
    padding: 0;
}

.row-two>div,.row-three>div {
    padding: 0;
}

.row-two-right,.row-three-right {
    border-left: 1px #edf1f2 solid;
}

.row-four {
    display: flex;
    align-items: center;
}

.row-four-right {
    border-left: 1px #edf1f2 solid;
}

.row-four-left {
    text-align: center;
}

.row-four>div {
    padding: 0;
}

.row-four-right>div {
    padding: 0;
}

.row-four-right p {
    display: flex;
    justify-content: space-between;
    border-top: 1px #edf1f2 solid;
}

/*IOS工程师简介*/

.bg-infor {
    position: absolute;
    top: .30rem;
    height: 5.4rem;
    padding: .50rem;
    background: rgba(0,0,0,.70);
    color: #ffffff;
    margin-right: .15rem;
    display: none;
}

.infor-unit:hover .bg-infor {display: block;}




