
.shouye {
    margin: .30rem 0;
    font-size: .16rem;
}

.tou {
    color: #000000;
}

.group-aside {
    border: 1px #999999 solid;
    border-radius: .20rem;
}

.aside {
    display: flex;
    justify-content: center;
}

.group-company {
    width: 1rem;
    line-height: .40rem;
}

.company {
    display: block;
}

.circles {
    display: inline-block;
    width: .10rem;
    height: .10rem;
    border-radius: .05rem;
    border: 1px #f1a750 solid;
    margin-right: .10rem;
}

.company:hover {color: #f1a750;}
.company:hover .circles {background: #f1a750;}

.profile {
    line-height: .30rem;
}

.img-profile {
    float: left;
}

.group-text {
    padding: .50rem;
}

h4 {
    text-align: center;
    color: #000000;
    font-weight: 550;
}

h2,h3 {
    display: inline-block;
    white-space: nowrap;

}

hr {
    width: 100%;
}

.group-links {
    line-height: .40rem;
    white-space:nowrap;

}

.avatar {
    margin-top: .20rem;
}

.study-step {
    width: .80rem;
    height: .80rem;
    border-radius: .40rem;
    display: inline-block;
    min-width: .80rem;
}

.about-we {
    white-space: nowrap;
    margin-top: .32rem;
}

@media screen and (max-width: 768px) {
    .company {
        width: 2rem;
    }

    .text-first-aside {
    border-left: 0;
    }

    .group-links {

    }
}