
/*第一行模块-学习优势*/

.first-row {
    margin: 1rem 0;
}

.text-first {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-first-aside {
    border-left: 1px #dedede dashed;
    display: flex;
    justify-content: center;

}

.box-img {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*第二行模块-学习步骤引导*/

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .20rem 0;
}

.step-number {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: .80rem;
    height: .80rem;
    border-radius: .40rem;
    min-width: .80rem;
    box-shadow: 0 0 5px #999999;
}

.step p {
    padding: 0 .10rem;
    width: 1.4rem;
}

/*第三行模块-优秀学员展示*/

.group-avatar {
    margin: .60rem 0;
}

.avatar {
    margin-top: .20rem;
}

.text-xinxi {
    color: #999999;
}

/*第四行模块-战略合作企业*/

.group-company {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .50rem 0;
}

.company {
    height: 1.8rem;
    width: 2.2rem;
    background: #ffffff;
    border: 0;
}

.company:hover {box-shadow: 0 0 5px #999999;z-index: 9999}

/*第五行模块-友情链接*/

aside {
    width: 100%;
    background: #ffffff;
}

.group-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group-links div {
    line-height: .40rem;
    white-space:nowrap;

}

/*媒体查询*/

@media screen and (max-width: 768px) {

    .text-first-aside {
    border-left: 0;
    }

}

