@charset "UTF-8";
html {
  font-size: 625%;
}

body {
  margin: 0;
  font-size: .16rem;
  background: #f0f0f0;
}

button {
  padding: 0;
  border: none;
  outline-style: none;
  background: transparent;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-size: .16rem;
  color: #29bde0;
  text-decoration: none;
}

.content {
  background: #F0F0F0;
  width: 100vw;
}

h6 {
  margin: 0 auto;
  font-size: 16px;
}

h5 {
  margin: 0 auto;
  font-size: 20px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: .45rem;
  z-index: 1;
  border-bottom: 1px solid #f0f0f0;
  background: #29bde0;
}

header .list {
  display: inline-block;
  padding: .04rem 0;
  margin-left: .12rem;
  width: .17rem;
  height: .02rem;
  border-top: .02rem solid white;
  border-bottom: .02rem solid white;
  background: white;
  background-clip: content-box;
}

header p {
  font-size: .2rem;
  letter-spacing: .01rem;
  color: white;
}

.returnButton {
  display: inline-block;
  width: .13rem;
  height: .13rem;
  margin-left: 5%;
  border-top: .03rem solid white;
  border-left: .03rem solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main {
  padding-top: .45rem;
  padding-bottom: .8rem;
}

main .title {
  width: 90%;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0 1px #999999;
          box-shadow: 0 1px #999999;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
}

main .content {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
  width: 90%;
  margin: 0 auto;
  height: 50vh;
  text-align: center;
  -webkit-box-shadow: 0 1px #999999;
          box-shadow: 0 1px #999999;
  background: white;
}

main .content > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

main .content > span > span {
  margin-left: .1rem;
  font-size: .12rem;
}

main .icon1 {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  border-radius: 50%;
  background: url(./../狼人杀/cunmin.jpg) no-repeat;
  background-size: cover;
}

main .icon2 {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  border-radius: 50%;
  background: url(./../狼人杀/lang.jpg) no-repeat;
  background-size: cover;
}

main .playerNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-top: .3rem;
  padding-bottom: .3rem;
  margin: .05rem auto;
  -webkit-box-shadow: 0 1px #999999;
          box-shadow: 0 1px #999999;
  background: white;
}

main .playerNumber span:nth-child(1) {
  font-size: .14rem;
  font-weight: bold;
}

main .playerNumber span:nth-child(3) {
  font-size: .1rem;
  color: orange;
}

main .playerNumber input {
  width: .25rem;
  height: .2rem;
  margin: 0 .05rem;
  font-size: .16rem;
  text-align: center;
  color: orange;
  border: none;
  border-radius: 5%;
  background: #f0f0f0;
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f0f0f0;
}

footer button {
  width: 90%;
  height: .6rem;
  margin-bottom: .2rem;
  font-size: .2rem;
  letter-spacing: .01rem;
  color: white;
  background: #fab344;
}
/*# sourceMappingURL=playerDistribution.css.map */