*{margin: 0;padding: 0;}

html{height: 100%;
    font-size: 62.5%;
    color: white;
}

body{
    background-color:#29bde0;
}

main{
    margin-bottom: 8rem;
}

pre{
     background-color: #29bde0;
     border: none;
     color: white;
     font-size: 1.5rem;
     padding: 0;
     margin: 0;
}

a:link,a:visited{color:white;text-decoration:none;}
a:hover{color:white;}

.row{
    margin:0;
}

.box1{
    position: fixed;
    display: flex;
    align-items:center;
    background-color:#29bde0; 
    border-bottom: 0.05rem solid white;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    top: 0rem;
    z-index: 1;
}

.box2{
    font-size: 2rem;
    color: white;
    display: flex;
    background-color:#29bde0;
}

.box3{
    background-color: #29bde0;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem 0 0 0;
    height: 16rem;
}

.box4{
    background-color: #29bde0;
    display: flex;
    align-items:center;
    font-size: 1.8rem;
    color: #ffc865;
    width: 100%;
    justify-content: center;
    padding: 0 7%;
    top: 4rem;
}

.box5{
    background-color: #29bde0;
    display: flex;
    align-items:center;
    color: white;
    font-size: 1.4rem;
    width: 100%;
    justify-content: left;
    padding: 2rem 7% 0;
    top: 4rem;
}

.box6{
    background-color: #29bde0;
    display: flex;
    align-items:center;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    justify-content: left;
    padding: 0 7%;
    top: 4rem;
}

.box7{
    background-color: white;
    display: flex;
    align-items:center;
    font-size: 1.8rem;
    width: 100%;
    justify-content: center;
    top: 4rem;
    padding: 0 7% 2%;
}

.box8{
    display: flex;
    font-size: 1.6rem;
    justify-content: left;
    padding: 0;
}

.box9{
    display: flex;
    color:#a6a6a6;
    font-size: 1.2rem;
    justify-content: left;

}

.box10{
    display: flex;
    color:#a6a6a6;
    font-size: 1.4rem;
    padding: 0 7%;
    font-size: 
    justify-content: left;
    background-color: white;
}

.box11{
    display: flex;
    color:#a6a6a6;
    font-size: 1.4rem;
    padding: 0 7% 3%;
    font-size: 
    justify-content: left;
    background-color: white;
}

.box12{
    background-color: white;
    display: flex;
    align-items:center;
    font-size: 1.8rem;
    width: 100%;
    justify-content: center;
    top: 4rem;
    padding: 0 7% 2%;
    border-bottom: 0.1rem solid #a6a6a6;
}

.box13{
    border-radius: 1rem;
    float: left;
    margin: 0 4%;
    width: 40%;
    height: 5rem;
    color: white;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f66f6f;
    border: none;
    outline: none;
    opacity:1;
}

.box14{
    border-radius: 1rem;
    float: right;
    margin: 0 4%;
    width: 40%;
    height: 5rem;
    color: white;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fbb435;
    border: none;
    outline: none;
    opacity:1;
}

.box15{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 7rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #29bde0;
    opacity:0.6;
}

.box16{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 7rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.icon1{ 
    background-color:#29bde0; 
    background-image: url(03.png);
    background-position: 0 -40px;
    height: 42px;
    width: 51px;
    transform: scale(0.6);
    border: none;
    cursor: pointer;
    outline:none;
}

.icon2{
    background-color:#29bde0; 
    background-image: url(03.png);
    background-position: 0 0;
    height: 40px;
    width: 40px;
    transform: scale(0.6);
    border: none;
    cursor: pointer;
    outline:none;
}

.icon3{
    background-image: url(03.png);
    background-position: 0 -82px;
    height: 205px;
    width: 351px;
    transform: scale(0.5);
    background-repeat:no-repeat;
}