/*reset*/
html{
    font-size: 10px;
}
@media screen and (min-width: 480px){
    html{
        font-size: 15px;
    }
}
@media screen and (min-width: 640px){
    html{
        font-size: 17px;
    }
}
@media screen and (min-width: 720px){
    html{
        font-size: 20px;
    }
}
ul,
li{
    list-style-type: none;
}
h4,
p,
ul{
    margin: 0;
    padding: 0;
}
h4{
    padding: 30px 0;
    font-size: .8rem;
    border-bottom: 1px solid #d0d6d9;
    font-weight: bolder;
}
a{
    color: #29b078;
}
body{
    background: #fafafa;
}
img{
    vertical-align: middle;
}
.table{
    margin-bottom: 0;
}
/*header*/

.header{
    position: relative;
    line-height: 40px;
    font-size: .7rem;
    color: #29b078;
}
.header-right{
    line-height: 40px;
}
.header-right,
.header-left {
    display: none;
}
@media (min-width: 768px) {
    .header-right,
    .header-left {
        display: block;
    }
}
.header-right img{
    margin-left: 5px;
}
.header .sign-in{
    color: #333;
}
@media (min-width: 768px) {
    .sign-in{
        display: none;
    }
}
.sign-in>span:first-of-type{
    border-right: 2px solid #29b078;
}
/*navigation*/
.navigation{
    width: 100%;
    background: #29b078;
    font-size: .8rem;
    margin-bottom: 0;
    border: 0;
}

@media (min-width: 768px) {
    .collapse ul{
        float: right;
    }
    .collapse ul li a{
        padding: 38px 15px;
    }
    .collapse ul li:nth-child(3){
        border-bottom: 4px solid #fff;
    }
    .collapse ul li:hover{
        border-bottom: 4px solid #fff;
    }
}

.collapse .navbar-nav > li > a{
    color: #fafafa;
    border-bottom: 1px solid transparent;
}
.collapse .navbar-nav >li>.active{
    border-bottom: 1px solid #fff;
}
.collapse .navbar-nav > li > a:hover,
.collapse .navbar-nav > li > a:focus {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.navigation-btn{
    margin:9px 0;
    border: 0;
}
.navigation-img{
    display: inline-block;
    line-height: 50px;
    width: 50px;
}

@media (min-width: 768px) {
    .navigation-img{
        width: 107px;
        line-height: 100px;
    }
}
.navigation-img img{
    display: inline-block;
    max-width: 100%;
}
/*content*/
.content-menu{
    line-height: 60px;
    border-bottom: 1px solid #edf1f2;
    color: #999999;
}
.content-menu span{
    display: inline-block;
    height: ;
}
.content-menu a{
    margin-left: 2%;
    color: #333333;
}
.content-menu a:hover{
    color: #fff;
    background: #29b078;
    text-decoration: none;
}
.form-wrap{
    padding-top: 50px;
}
.form-wrap:last-child{
}
.form-wrap .img-style{
    margin-right: 10px;
}
.form-area{
    position: relative;
    background: #fff;
}
.form-area td{
    font-size: .6rem;
    color: #999999;
}
.form-area table p{
    display: inline-block;
    color: #333333;
    font-weight: bold;
}
.form-area table p:last-child{
    font-size: .7rem;
}
.form-area table h6{
    font-size: .7rem;
    color: #333333;
}
.form-area table h5{
    font-size: .8rem;
    color: #333333;
    font-weight: bold;
}
.form-area table span{
    color: #ff5c00;
}
.form-area .last-table span{
    color: #f01400;
}
.form-area .first-table td{
    word-break: break-all;
}
.form-area .second-table td{
    width: 50%;
}
.second-table{
    border: 0;
}
.second-table>tbody>tr>td{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
.second-table>tbody>tr:first-child{
    border-bottom: 1px solid #ddd;
}
.last-table .vertical-center{
    vertical-align: middle;
}
.form-area:hover .font-area{
   opacity: 0.8;
    transition: 1s;
}
.font-area{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 60px 50px;
    color: #fff;
    font-size: .8rem;
    background: #000;
    opacity: 0;
}
.font-area h5{
    padding: 20px 0;
    font-size: .8rem;

}
.content-last-row{
    padding-bottom: 200px;
}

/*footer*/
.footer{
    background: #29b078;
    color: #fff;
}
.footer-wrap{
    padding: 30px 0;
}
.footer p{
    padding-bottom: 15px;
}
.footer a{
    display: inline-block;
    color: #fff;
    line-height: 30px;
    border-bottom: 1px solid transparent;
}
.footer a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}
.footer-center-content a{
    margin-right: 20px;
}
.bottom{
    line-height: 30px;
    text-align: center;
    border-top: 1px solid #fff;
}