@charset"UTF-8";
body{
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 600px;
  overflow-x: hidden;
}

//字体
.font(@font_size){
  font-size:@font_size;
}
//颜色
.blue{
  color: #5fc0cd;
}
.white{
  color: #fff;
}
.gray{
  color: #999999;
}
.red{
  color:#ff0000;
}
//背景颜色
.bck_white{
  background-color: #ffffff;
}
.bck_blue{
  background-color:#5fc0cd;
}
.bck_blue2{
  background-color: #55a8b3;
}
//浮动
.float(@float){
  float: @float;
}
//下边框
.border_bottom{
  border-bottom:1px solid #999999;
}
//鼠标
.mouse4{
  cursor: pointer;
}
//连中间
.lianxian{
  display: flex;
  align-items: center;
}
.header_2{
  height: 60px;
  width: 100%;
  .bck_blue;
  .font(20px);
  .lianxian;
  justify-content: space-between;
}
.position{
  margin:10px 20px 10px 20px;
  height: 40px;
  width: 40px;
}
.nav{
  height: 40px;
  width: 200px;
  .bck_blue2;
  border-radius: 10px;
  .lianxian;
}
.find_owner{
  height: 100%;
  width: 103px;
  .white;
  .lianxian;
  margin-right:-3px;
  border-radius: 10px;
  .mouse4;
}
.find_people{
  height: 100%;
  width: 103px;
  .bck_white;
  .blue;
  .lianxian;
  border-radius: 10px;
  margin-left:-3px;
  .mouse4;
}
.combo_box{
  width: 32%;
  height: 40px;
}
.choose{
  height: 50px;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid #e1e5e7;
}
select{
  border:none;
  outline: none;
  -appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  .font(20px);
  .gray;
  background: url("img2/2.png") no-repeat right;
  .mouse4;
}
.eatsleep{
  border-left: 1px solid #e1e5e7;
  border-right: 1px solid #e1e5e7;
}
.main{
  height: 120px;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid #e1e5e7;
}
.main_part_1{
  width: 100%;
  height: 30px;
  .font(19px);
  display: flex;
  align-items: center;
  .gray;

}
.date{
  height: 20px;
  width: 20px;
  margin-left: 25px;
  margin-right:10px;
}

.position_2{
  height: 20px;
  width: 14px;
  margin-left: 28px;
  margin-right:13px;
}

.main_part_2{
  height: 40px;
  width: 100%;
  .red;
  .lianxian;
  .font(20px);
  justify-content:space-between;
}

.san{
  margin-left: 20px;
  margin-right: 20px;
  .mouse4;
}

.heiti{
  margin-left: 50px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  color: #000;
}
.no-wrap{
  white-space: nowrap;
}

.space(@height){
  width:100%;
  height:@height;
}

.space1{
  .space(80px);
}



.footer{
  height: 65px;
  width: 100%;
  .lianxian;
  justify-content: center;
  padding: 0 40px 0 40px;
  border-top: 1px solid #e1e5e7;
}
.under1{
  display: block;
}
.center_1{
  width: 60px;
  height: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.center2{
  width: 100%;
  text-align: center;
}
.center3{
  .center2;
  .blue;
}
.center4{
  .center2;
  .gray;
}

