#wrap {
    position: relative;
  
  
  .banner {
    display: none;
  }
  
   .tab {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tab span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: none;
  }
  
 .tab span.on {
    background: #fff;
  }
  
  
  .prev {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }
  
  
 .next {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }
 .prev span {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid rgba(255, 255, 255, .8);
    border-left: 3px solid rgba(255, 255, 255, .8);
    transform: rotate(-45deg);
  }
 .next span {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid rgba(255, 255, 255, .8);
    border-left: 3px solid rgba(255, 255, 255, .8);
    transform: rotate(135deg);
  }
}