* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: {
        top: 0;
        bottom: 0;
    }
}

ul {
    padding: 0;
}

button {
    border: none;
    outline: none;
}