/* *********ellipsis，省略号，当超过宽度时，显示省略号********** */
@mixin ell {
    overflow: hidden;
  -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @mixin df($center,$center) {
    justify-content: $center;
    align-items: $center; 
  }
  /* clearfix */
  @mixin clearfix {
    &::after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
  }
/* minheight */
@mixin minheight($min-height) {
    min-height: $min-height;
    height: auto !important;
    height: $min-height;
}
/* 箭头
arrow(direction,
size,
color);
*/
@mixin arrow ($direction,
$size,
$color) {   
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: $size;
    cursor: pointer;
    @if $direction == top {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $color transparent;
        border-top: none;
    }
    @else if $direction == bottom {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}