body {
    margin: 0;
    background-color: #f0f0f0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background-color: #29bde0;
    
    
    
}

.form {
    width: 1rem;
    margin-left: 1rem;
    
}

.title {
    position: relative;
    height: 3.625rem;
    line-height: 3.625rem;
    margin: 3rem 5% 1rem;
    font-size: 1.08rem;
    background-color: #fff;
    z-index: -1;
    color: #9a9a9a;
    
    text-align: center;
    
    
}

.title img {
    position: absolute;
    top: 50%;
    right: .5rem;
    width: .75rem;
    
    margin-top: -.625rem;
    vertical-align: middle;
    
    
    
}

.box {
    margin: 0 5%;
    background-color: #fff;
    text-align: center;
}

.name {
    height: 2.8rem;
    line-height: 2.8rem;
    
    margin: 0 0 1.5rem;
    font-size: 1.18rem;
    color: #fbb435;
    border-bottom: #fbb435 solid 0.1rem;
}



.plate {
    display: block;
    height: 4.18rem;
    margin: 0 10%;
    line-height: 4.18rem;
    color: #fff;
    background-color: #69d1e9;
    
}

.tag {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .76rem;
    
    margin: 0;
    color: #787878;
}

.triangle {
    position: fixed;
    right: 8%;
    top: 20rem;
    width: 0;
    height: 0;
    border-left: .85rem solid #fbb435;
    border-bottom: .85rem solid transparent;
    border-top: .85rem solid transparent;
    
}

.paging {
    margin-top: -1rem;
}

.circle {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: inline-block;
}

.circle1 {
    background-color: #69d1e9;
}

.circle2 {
    background-color: #f0f0f0;
}

.circle3 {
    background-color: #f0f0f0;
}

.circle4 {
    background-color: #f0f0f0;
}

.circle2:hover {
    background-color: #69d1e9;
}

.circle3:hover {
    background-color: #69d1e9;
}

.circle4:hover {
    background-color: #69d1e9;
}