body {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2rem;
    background-color: #29bde0;
    
    color: #fff;
    z-index: 1;
    
    
}

.header>img {
    width: 1.25rem;
    margin-left: 1rem;
}

.font-style1 {
    
    font-size: 1.06rem;
    margin: 0;
    color: #fff;
}

.fork {
    position: relative;
    height: 1rem;
    width: 1rem;
    
    margin-right: 1rem;
}

.fork::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 0.2rem;
    
    margin-top: -.1rem;
    transform: rotate(45deg);
    background-color: #fff;
}

.fork::after {
    content: "";
    position: absolute;
    left: 50%;
    width: .2rem;
    height: 1rem;
    
    margin-left: -.1rem;
    transform: rotate(45deg);
    background-color: #fff;
}

.music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin-top: 2rem;
    
    
    padding: 0 1rem;
    font-size: .8rem;
    background-color: #b9e9f5;
}

.music>img {
    width: 1.625rem;
    height: 1.625rem;
}

.backgroung {
    height: 2.5rem;
    background-color: #29bde0;
    
}

.triangle {
    
    width: 0;
    height: 0;
    margin-left: 1.5rem;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-top: .7rem solid #b9e9f5;
}

.annotation {
    color: #fff;
    font-size: .75rem;
    margin: .3rem 1.5rem 0;
}

.big-box {
    position: absolute;
    background-color: #29bde0;
    padding-bottom: 5rem;
    
}

.head {
    width: 33.3%;
    float: left;
   
   

}

.small-box {
    height: 25vw;
    width: 25vw;
    margin: 4vw auto;
    font-size: .9rem;
    background-color: #f5c97b;
    border: #fff solid .15rem;
    
}

.name {
    display: flex;
    align-items: center;
    
    justify-content: center;
    height: 80%;
    margin: 0;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 0;
    
    
    background-color: #83b09a;
    color: #fff;
}

.list {
    display: none;
    
}

.picture-style {
    
    width: 5vw;
    height: 5vw;
    margin-top: 1.5vw;
}

.picture1 {
    background: url(../img/picture.png) no-repeat 0 100% /100%;
}

.picture2 {
    background: url(../img/picture.png) no-repeat 0 0 /100%;
}

.picture3 {
    background: url(../img/picture.png) no-repeat 0 33.3% /100%;
}

.picture4 {
    background: url(../img/picture.png) no-repeat 0 66.6% /100%;
}

.small-box:hover>ul {
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    background-color: #29bde0;
    
    
}
.footer>p {
    width: 15.5rem;
    
    line-height: 2.5rem;
    color: #fff;
    font-size: 1.25rem;
    background-color: #fbb435;
    text-align: center;
   
}
