<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jnshu.tasksix.dao.ProfessionMapper">
    <resultMap id="BaseResultMap" type="jnshu.tasksix.model.Profession">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="profession" jdbcType="CHAR" property="profession" />
        <result column="social_needs" jdbcType="INTEGER" property="socialNeeds" />
        <result column="learning_front" jdbcType="INTEGER" property="learningFront" />
        <result column="difficult" jdbcType="INTEGER" property="difficult" />
        <result column="images" jdbcType="CHAR" property="images" />
        <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
        <result column="prospect" jdbcType="LONGVARCHAR" property="prospect" />
        <result column="create_at" jdbcType="BIGINT" property="createAt" />
        <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    </resultMap>
    <sql id="Base_Column_List">
        id, profession, social_needs, learning_front, difficult, images, introduction, prospect,create_at, update_at
    </sql>

    <!--===================SELECT========================SELECT=========================SELECT========================-->
    <select id="listProfession" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM profession
    </select>
</mapper>