<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.RoleMapper">
    <select id="findeByUser" parameterType="User" resultType="Role">
        SELECT role FROM u_user_role ur JOIN u_user u ON u.id = ur.uid JOIN u_role r ON ur.rid = r.id where name = #{name}
    </select>
</mapper>