html{
	font-size:62.5%;
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	min-width:320px;
}
.head-b{
	width:100%;
	height:5rem;
	margin:0;
	padding:0;
	background-color:#29b078;
}
.i-ptt{
	width:8rem;
	height:3rem;
	position:absolute;
	left:1rem;
	top:1rem;
	z-index:1;
}
.hbin{
	position:relative;
}
.i-bg img{
	width:100%;
	height:20vw;
}
.ht-left{
	float:left;
	color:#29b078;
	font-size:1.4rem;
	line-height:4rem;
}
.ht-right{
	float:right;
	text-align:right;
}
.ht-right img{
	width:2rem;
	margin:1rem 1.5rem;
}
.ht-entry{
	line-height:4rem;
	float:right;
	margin-right:2rem;
}
.ht-entry a{
	text-decoration:none;
	font-size:1.4rem;
}
.ht-entry a:link,.ht-entry a:visited{
	color:#000;
}
.navbar{
	background-color:#29b078;
	border:none;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size:1.4rem;
}
navbar-default .navbar-toggle {
    border:none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#29b078;
}
.hta:link,.hta:visited {
	color:#fff;
}	
.hta:hover{
	color:#FFF!important;
	border-bottom:2px solid #fff;
}
.navbar-nav>li>a {
	position:relative;
	top:-2rem;
	z-index:999;
	background-color:#29b078;
	border:none;
}
/*头部↑*/

.i-bg{
	width:100%;
	height:30%;
}

/*轮播图↑*/
.first-row{
	margin-top:6rem;
	margin-bottom:6rem;
}
.first-box{
	height:24rem;
}
.imtl-box{
	height:8rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.first-box p{
	font-size:1.6rem;
	color:#999;
	padding:2rem;
}
@media screen and (max-width:767px) {
    .first-box p{
        text-align:center;
    }
}
h3{
	text-align:center;
}
.first-box4{
	font-size:1.8rem;
	line-height:3rem;
	color:#999;
	height:24rem;
	display:flex;
	align-items:center;
	border-left:1px dashed #dedede;
	padding-left:6rem;
}
@media screen and (max-width:767px) {
    .box4-in{
        margin:0 auto;
    }
}
span.color-num{
	color:#29b078;
	display:inline-block;
	}
/*人脉↑*/

.second-box{
	margin:4rem 0;
	display:flex;
	align-items:center;
	justify-content:center;
}
.i-mleft{
	width:7rem;
	float:left;
}
.i-mright{
	float:right;
}
/*如何学习↑*/
.thi-box{
	padding:0;
}
.third-row{
	margin-top:6rem;
	margin-bottom:6rem;
}
.photo-box{
	text-align:center;
	margin-top:4em;
	margin-bottom:4rem;
	padding:2rem;
	background-color:#fff;
}
.photo-box p{
	text-align:left;
}
h4{
	text-align:center;
	font-weight:bold;
	line-height:3.6rem;
}
li{
	position:relative;
	top:2rem;
}
.carousel-indicators li {
	width:1.4rem;
	height:1.4rem;
}
.carousel-indicators li {
	border:1px solid #e3e3e3;
}
.carousel-indicators .active{
	width:1.4rem;
	height:1.4rem;
	background-color:#29b078;
	border:1px solid #29b078;
}
/*优秀学员↑*/

.logo-box{
	width:20%;
	margin:4rem 0;
	padding:0;
	border:2px solid #fff;
}
@media screen and (max-width:991px) {
    .logo-box{
		width:60%;
		margin:4rem auto;
    }
}
@media screen and (max-width:767px) {
    .logo-box{
		width:100%;
		padding:0 15px;
    }
}
.logo{
	width:100%;

}
.logo-box:hover{
	border:2px outset #e2e2e2;
}
/*合作企业↑*/
.last-row h3{
	margin:4rem 0;
}
a.link{
	float:left;
	width:10%;
	color:#999;
	font-size:1.4rem;
	font-size:bold;
	text-align:center;
}

@media screen and (max-width:991px) {
    a.link{
        width:20%;
    }
}
@media screen and (max-width:767px) {
    a.link{
        width:25%;
    }
}
@media screen and (max-width:570px) {
    a.link{
        width:33%;
    }
}
/*友情链接↑*/
/**底部↓**/
footer{
	color:#fff;
	font-size:1.4rem;
	padding:2rem 0;
	background-color:#29b078;
}
.f-r img{
	width:8rem;
	height:8rem;
}
.f-li{
	margin-top:6rem;
}
.f-mt,.f-mb,.f-m,.f-r,.f-l{
	margin-top:2rem;
}

footer p{
	font-size:1.4rem;
}
footer>p{
	font-size:1rem;
	margin:-1rem 0;
	text-align:center;

}
footer a:link,footer a:visited{
	color:#fff;
}
