@charset "utf-8";
$back-color:#5fc0cd;
$text-color:#ffffff;
$high:3rem;
$container-height:3.2rem;
$link-altitude:0.7rem;
$a-size:1.2rem;
$btn-size:1.3rem;
$row-height:3rem;
body {
  background:  #eff0f4;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  header {
    background-color: $back-color;
    width: 100%;
    height: $high;
    margin: 0;
    .register {
      position: absolute;
      color: $text-color;
      left: 1rem;
      top: $link-altitude;
      font-size: $a-size;
      font-weight: 100;
    }
    .login {
      width: 60px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: $text-color;
      font-size: $btn-size;
      line-height: $row-height;
      font-weight: 900;
    }
    .close {
      position: absolute;
      color: $text-color;
      right: 1rem;
      top: $link-altitude;
      font-size: $a-size;
      font-weight: 100;
    }
  }
  main {
    width: 100%;
    .container-account {
      background: $text-color;
      position: absolute;
      top: 4rem;
      width: 100%;
      height: $container-height;
    }
    img {
      top: 0.1rem;
      left: 1rem;
      height: $high;
    }
    input {
      position: absolute;
      outline: none;
      display: inline;
      border: $text-color;
      width: 70%;
      height: $high;
    }
    .container-password {
      background: $text-color;
      position: absolute;
      top: 8rem;
      width: 100%;
      height: $container-height;
    }
    .btn-login {
      background-color: $back-color;
      position: relative;
      margin-top: 1rem;
      width: 100%;
      height: $high;
      top: 8rem;
      font-size: $btn-size;
      line-height: $row-height;
      font-weight: 900;
      text-align: center;
      cursor: pointer;
      color: $text-color;
      border: none;
      outline: 0;
    }
    .forget {
      color: $back-color;
      position: relative;
      font-size: 1rem;
      top: 9rem;
      float: right;
    }
  }
}