<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace=" com. .userMapper"就是com.mybatis(包名)+userMapper(userMapper.xml文件去除后缀)
-->
<mapper namespace="com.jnshu.StudentMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复。使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类
    resultType="com.mybatis.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类 -->
    <!-- 根据id查询得到一个user对象-->
    <insert id="insert" parameterType="com.jnshu.Student" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
INSERT INTO student(name,number,qq,coachName,dailyLink,gradeColleage,create_at,update_at)VALUES(#{name},#{number},#{qq},#{coachName},#{dailyLink},#{gradeColleage},#{create_at},#{update_at})
</insert>

    <delete id="delete" parameterType="long">
       DELETE FROM student WHERE id=#{id}
</delete>

    <update id="update" keyProperty="id" useGeneratedKeys="true" parameterType="com.jnshu.Student">
      UPDATE student SET name=#{name},number=#{number},qq=#{qq},coachName=#{coachName},dailyLink=#{dailyLink},gradeColleage=#{gradeColleage},update_at=#{update_at} WHERE id=#{id}
</update>

    <select id="find" parameterType="long" resultType="com.jnshu.Student">
       SELECT * FROM student WHERE id=#{id}
</select>

    <select id="findAll" resultType="com.jnshu.Student">
       SELECT *FROM student
</select>
</mapper>
