footer {
    position: fixed;
    bottom: 0;
    @include flex(space-around);
    left: 0;
    right: 0;
    background-color: rgba(41, 189, 224, 0.5);
    z-index: 1;

    button {
        margin: 15px 0;
        @include w-h(40%, .7rem);
        border-radius: .2rem;
        font-size: .3rem;
        color: #FFFFFF;
        background: orange;
        border: none;
        outline: none;
    }
}