html,body{
    font-size: 62.5%;
    background-color: #fafafa;
}
html,body,div,a{
    margin: 0;
    padding: 0;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------header----------------------*/
header{
    background-color: #ffffff;
}
/*--------------header-top----------*/


/*-----------header-bottom------------*/

/*-------------------main---------*/
.main{
    background-color: #fafafa;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}
/*--------------------------背景图---------------------------*/
.main-bg{
    /*background-image: url("image/bg-main.png");*/
    background-color: #f1a750;
}
.img-responsive {
    /*background-color: #f1a750;*/
    display: inline-block;
    height: auto;
    min-height: 80px;
    max-width: 100%;
}
/*-----------------------main-tilte---------*/
@media (min-width: 769px) and (max-width: 2000px){
    .col-3{
        width: 28%;
        margin-left: 2%;
        float: left;
    }
    .col-6{
        width: 60%;
        margin-left: 4%;
        float: left;
    }
}
.main-title{
    line-height: 4rem;
    font-size: 1.3rem;
    /*margin: 15px auto;*/
}
.left-nav{
    /*background-color: #ffffff;*/
    /*padding: 0;*/
    /*border: 1px solid #e6e6e6;*/
    border-top:0;
}
.left-nav-bg{
    background-color: #ffffff;
    padding: 1.5rem 0;
}
.left-nav-bottom{
    margin-bottom: 50px;
}
.main-text{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333333;
    border: 1px solid #e6e6e6;
}
.border-left-nav{
    border: 1px solid #e6e6e6;
    border-top: 0;
}
.bottom-border{
    /*border-bottom:1px solid #e6e6e6;*/
}
.main-left-p{
    /*margin: 13px auto;*/
    /*padding-top: 1rem;*/
    padding-bottom: 1rem;
    /*padding-left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*padding-left: calc(40%;*/
    padding-left: calc(50% - 34px);
    line-height: 2.4rem;
    font-size: 1.3rem;
    /*text-align: center;*/
    color: #29b078;
}
.border-main{
    /*border:1px solid #e6e6e6 ;*/
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    /*background-color: #26a26f;*/
    border-radius: 100%;
    border: 1px solid #ff9052;
}
.special-cirlce .main-left-span{
    color: #ff9052;
}
.special-cirlce .circle{
    background-color: #ff9052;
}
.main-left-p:hover>.main-left-span{
    color: #ff9052;
}

.main-left-p:hover>.circle{
    background-color: #ff9052;
}
/*-------------main-right---------------------*/
.right-nav{
    /*padding-left: 30px;*/
}

.border-main-right{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem  3.5rem;
    line-height: 2.1rem;

}
.border-main-right-img{
     width: 30%;
    text-align: center;
}
.border-main-right-p{
    width: 70%;
    color: #999999;
    font-size: 1.3rem;
}
.border-main-text{
    padding: 20px 40px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-top: 0;
    margin-bottom: 80px;
    line-height: 25px;
}
.border-main-p{
    color: #999999;
    font-size: 1.3rem;
}
/*----------footer------------*/



/*-------------------------------------------*/
