<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.mapper.Student4Mapper">
    <resultMap id="BaseResultMap" type="com.jnshu.entity.Student4">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <id column="name" jdbcType="VARCHAR" property="name" />
        <result column="profession_id" jdbcType="BIGINT" property="professionId" />
        <result column="state" jdbcType="BIT" property="state" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="salary" jdbcType="VARCHAR" property="salary" />
        <result column="graduate_at" jdbcType="BIGINT" property="graduateAt" />
        <result column="resume" jdbcType="VARCHAR" property="resume" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_at" jdbcType="BIGINT" property="createAt" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name, profession_id, state, img, position, salary, graduate_at, resume, create_by,
        create_at, update_by, update_at
    </sql>
    <select id="findById" parameterType="java.lang.Long" resultType="com.jnshu.entity.Student4">
    SELECT  *FROM  student4 WHERE id = #{id}
  </select>
    <insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student4(name,profession_id,state,img,position,salary,graduate_at,resume,
        create_by,create_at,update_by,update_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
        (#{item.name},#{item.professionId},#{item.state},#{item.img},#{item.position},#{item.salary},
        #{item.graduateAt},#{item.resume}, #{item.createBy},#{item.createAt},#{item.updateBy},#{item.updateAt})
        </foreach>
    </insert>
    <select id = "getStudent4ByPage" resultType="Student4">
        SELECT *FROM student4 limit #{startRow},#{endRow}
    </select>
</mapper>