@import "../scss/default";
@import "../scss/body";
@import "../scss/menu";
@import "../scss/nav";
@import "../scss/caret";
@import "../scss/day";
@mixin position{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 5rem;
}
@mixin icon{
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% 100%;
}
main{
    transform: translateX(0px);
    transition: transform 500ms ease;
}
header{
    @include position;
    background: $blue1;
}
a{
    text-decoration: none;
}
.col-xs-11 {
    position: relative;
    min-height:1px;
    padding: 0 15px 0 15px;
    width: 82%;
}
.game_chose {
    position: absolute;
    top: 5rem;
    width: 100%;
    z-index: 0;
    background-color: #F0F0F0;
    .container-1 {
        padding: 0 15px 0 15px;       
        .last {
            @include flex-center;
            width: 100%;
            height: 6rem;
            margin-top: 1rem;
            background: #FFFFFF;
            border: $gray1 solid .1rem;
            color: $gray1;
            .last_p {
                font-size: 5vw;
                @media (max-width: 400px) {
                    font-size: 2.1rem;
                }
                @media (min-width: 1024px) {
                    font-size: 3vw;
                }                
            }
            .last_caret {
                position: absolute;
                right: 3rem;
                top:7.3%;
                @include caret-r;
                @media (min-width: 1024px) {
                    @include caret-1;
                }
            }            
        }
    }
    .container-2 {
        padding: 0 15px 0 15px;
        .chose_box {
            width: 100%;
            margin-top: 2rem;
            border: $gray1 solid .1rem;
            background: #fff;
            .box_tle {
                @include flex-center;
                width: 100%;
                color: #fbb435;
                height: 4rem;
                border-bottom: #fdd793 solid .1rem;
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }
            .box_main {
                @include flex-center;
                flex-flow: column;                
                .btn {
                    @include flex-center;
                    width: 100%;
                    height: 6rem;
                    background: $blue1;
                    p{
                        color: #FFFFFF;
                        font-size: 1.8rem;
                    }                    
                }
                .set_circle {
                    @include flex-center;
                    margin-bottom: .5rem;
                    .coin_circle {
                        border: none;
                        border-radius: 50%;
                        width: .8rem;
                        height: .8rem;
                        margin: 0 .3rem;
                        background: #f0f0f0;
                        &:hover {
                            background: $blue1;
                        }
                    }
                    .active {
                        background: $blue1;
                    }
                }
                .total {
                    color: $gray1;
                    @include flex-center;
                    margin: 1rem 0 1rem 0;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
.icon_last {
    position: absolute;
    right: 1.8rem;
    top: 58%;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-left: 1.2rem solid #fbb435;
    border-bottom: 1.2rem solid transparent;
}
.main {
    position: absolute;
    top: 5rem;
    width: 100%;
    background-color: $gray3;
    color: $black1;
    h2{
        height: 3rem;
        @include flex-center;
        font-size: 2rem;
        box-shadow: $gray1 .2rem .2rem .2rem;
        margin: .5rem;
        font-weight: 550;
        background-color: #fff;
    }
    .container-7 {
        border-bottom: $gray1 solid .2rem;
        display: flex;
        flex-flow: wrap;
        margin: .5rem;
        background-color: #fff;
        font-size: 1.5rem;
        .killer {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            box-sizing: border-box;
        }
        .civilian {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1rem;
            box-sizing: border-box;
        }
        .allot {
            width: 100%;
            .identity{
                height: 30rem;
                ul{
                    height: 30rem;
                    @include flex-center;
                    flex-flow: wrap;                    
                    li{
                        width: 50%;
                        list-style: none;
                        @include flex-center;
                    }
                }
            }
        }
        .setting {
            width: 100%;            
            border: none;
            color: #29BDE0;
            background: none;
            border-top: .1rem solid $gray1;
            height: 3rem;
        }
    }
    form{
        @include flex-center;
        flex-flow: wrap;
        padding-bottom: 5rem;
        background-color: #fff;
        margin: .5rem;      
        .input {
            display: flex;
            align-items: center;
            margin-bottom: 5rem;
            margin-top: 3rem;
            .h2 {
                font-size: 16px;
                color: $black1;
                font-weight: 600;
            }
            .h3 {
                font-size: 12px;
                color: $orange1;
            }
        }
        .num {
            width: 3rem;
            border: none;
            background: none;
            text-align: center;
            color: $orange1;
            font-size: 16px;
        }
    }
    .silder {
        width: 100%;
        @include flex-center;
        .down {
            border: 1px solid $orange1;
            height: 2rem;
            width: 2rem;
            margin: .5rem;
            background-image: url(../img/down_09.png);
            background-color: #FFFFFF;
            background-repeat: no-repeat;
            background-position: .15rem .8rem;
            cursor: pointer;
            outline: none;
        }
        .up {
            border: 1px solid $orange1;
            height: 2rem;
            width: 2rem;
            margin: .5rem;
            background-image: url(../img/up_06.png);
            background-color: #FFFFFF;
            background-repeat: no-repeat;
            background-position: .2rem .25rem;
            cursor: pointer;
            outline: none;
        }
    }
    .btn {
        border: none;
        background: $orange1;
        height: 4rem;
        width: 100%;
        margin: .5rem;
        font-size: 2.5rem;
        color: #fff;
    }
}
.container-3 {
    @include flex-center;
    justify-content: space-between;
    border-bottom: .1rem solid #b7e3ed;
    z-index: 2;
    .home {
        background-image: url(../img/home.png);
        @include icon;
    }
    .tle {
        font-size: 2rem;
        color: #fff;
    }
    .close {
        background-image: url(../img/close.png);
        @include icon;
    }
    .findly-home {
        background: url(../img/findly_home.png);
        @include icon;
    }
    .tip {
        background-image: url(../img/findly_tip.png);
        @include icon;
    }
    .back {
        left: 1.5rem;
        font-size: 2rem;
        width: 1.3rem;
        height: 1.3rem;
        position: relative;
        border-left: .35rem solid #fff;
        border-bottom: .35rem solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: 0 1rem;
    }
   
      
}
.plus {
    padding-bottom: 40rem !important;
}
.capacity {
    position: relative;
    top: 5rem;
    width: 100%;
    background-color: $blue1;
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    padding-bottom: 8rem;
    .knife {
        visibility: hidden;
        @include flex-center;
        padding-top: 2rem;
    }
    .circle {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: #FFF;
        border: .2rem solid #FFEDC5;
        position: absolute;
        top: 8rem;
        z-index: 1;
        left: 50%;
        margin-left: -2rem;
        color: #f56b81;
        font-size: 2rem;
        font-weight: 900;
        @include flex-center;
        
    }    
    .box {
        height: 35rem;
        position: relative;
        top: 5rem;
        margin-top: 5rem;
        width: 30rem;
        background-color: #ffedc5;
        border: #fff solid .4rem;
        @include flex-center;
        box-sizing: border-box;
        left: 50%;
        margin-left: -15rem;
        @media (max-width : 500px) {
            width: 25rem;
            margin-left: -12.5rem;
        }
        .begin {
            height: 50%;
        }
        .end {
            display: none;
            height: 70%;
            p{
                font-size: 3rem;
                color: $blue1;
                text-align: center;
            }
        }
    }
    .btn {
        width: 80%;
        height: 5rem;
        background: $orange1;
        color: #FFF;
        font-size: 2.5rem;
        border: none;
        position: absolute;
        bottom: 20rem;
        left: 10%;
        a{
            width: 100%;
            height: 5rem;
            position: absolute;
            left: 0;
            top: 0;
            @include flex-center;
            color: #fff; 
        }                
    }
    #btn1 {
        display: none;
    }
    @import "../scss/btn";
}
.container-4 {
    position: fixed;
    top: 5rem;
    right: 0;
    width: 100%;
    height: 5rem;
    background: #b9e9f5;
    z-index: 1;
    .tip_set {
        @include flex-center;
        justify-content: space-between;
        margin: 0 1rem 0 6%;
        height: 100%;
        .tip_p {
            font-size: 1.8rem;
        }
        .audio {
            @include flex-center;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background: #FBB435;
            border: none;
            .play {
                position: relative;
                right: -17%;
                border-top: 1rem solid transparent;
                border-left: 1.5rem solid #fff;
                border-bottom: 1rem solid transparent;
            }            
        }                
    }
    .addition {
        background: #29BDE0;
        display: flex;
        height: 5rem;
        padding-left: 8%;
        span{
            margin-top: -.1rem;
            border-left: .5rem solid transparent;
            border-right: .5rem solid transparent;
            border-top: .8rem solid #B9E9F5;
        }
        p{
            color: #FFFFFF;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }
    }
}
.container-5 {
    position: relative;
    top: 15rem;
    @include flex-center;
    background: $blue1;
    flex-flow: wrap;
    justify-content: space-around;
    padding-bottom: 8rem;
    .player {
        margin: 0 5vw;
        &:hover .action{
            visibility: visible;
        }
        .btn {
            border: .3rem solid #fff;
        }
        .name {
            @include flex-center;
            width: 21vw;
            height: 15vw;
            font-size: 1.5rem;
            background: #f5c97b;
            p{
                font-size: 5vw;
            }
        }
        .number {
            @include flex-center;
            width: 21vw;
            height: 6vw;
            background: #83b09a;
            color: #fff;
            font-size: 5vw;
        }
        .action {
            position: relative;
            height: 12vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            visibility: hidden;
            a{
                background-image: url(../img/task7-1.png);
                background-size: 10vw 10vw;
                background-repeat: no-repeat;
                width: 5vw;
                height: 5vw;                
            }
            .knife {
                background-position: 0 0;
            }
            .find {
                background-position: -5vw 0;
            }
            .aim {
                background-position: 0 -5vw;
            }
            .help {
                background-position: -5vw -5vw;
            }
        }
    }
}
footer {
    position: fixed;
    bottom: 0;
    background: $blue1;
    border-top: #fff solid .1rem;
    z-index: 1;
    height: 8rem;
    width: 100%;
    @include flex-center;
    .confirm {
        background: #FBB435;
        width: 80%;
        height: 4.5rem;
        color: #FFFFFF;
        @include flex-center;
        font-size: 3rem;
    }
}
.result {
    padding: 5rem 10vw;
    padding-bottom: 1rem;
    position: relative;
    top: 0;
    background: $blue1;
    .row {
        @include flex-center;
        width: 100%;
        .win {
            margin-top: 3rem;
            width: 18rem;
            height: 11rem;
            background-image: url(../img/win.png);
            background-repeat: no-repeat;
            >.winer {
                position: relative;
                top: 5.5rem;
                left: 4rem;
                font-size: 2rem;
                font-weight: 900;
                color: #fff;
            }
        }
        .tips {
            margin: 1rem 0 3rem 0;
            height: 6rem;
            font-size: 2rem;
            color: #ffc865;
            font-weight: 500;
        }
    }
    .display {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        padding: .2rem .2rem;
        font-size: 1.2rem;
        .mains {
            display: flex;
            flex-flow: wrap;
            min-height: .44rem;
            .sp {
                flex-basis: 33.3%;
            }
        }
    }
}
.record {
    background: #fff;
    margin-bottom: 8rem;
    .list {
        padding: .5rem 10vw 1rem 10vw;
        border-bottom: .1rem solid $gray1;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .day {
            font-size: 1.6rem;
            color: #7b7b7b;
             }
            .time {            
            color: #d0d0d0;
            }
        }
        .about {
            p{
                font-size: 1.4rem;
                color: #d0d0d0;
            }
        }
    }
}
.container-6 {
    background-color: rgba(41,189,224,.5);
    .foot_btn {
        height: 100%;
        @include flex-center;
        width: 50%;
        a{
            text-decoration: none;
        }
        .return {
            background: #f66f6f;
            width: 80%;
            height: 5rem;
            @include flex-center;
            border-radius: .5rem;
            font-size: 2rem;
            color: #fff;            
        }
        .upfile {
            background: #fbb435;
            width: 80%;
            height: 5rem;
            @include flex-center;
            border-radius: .5rem;
            font-size: 2rem;
            color: #fff;            
        }
    }
}
