@charset "UTF-8";
* {
  max-width: 720px;
  margin: 0 auto; }

header {
  position: relative;
  background-color: #29bde0;
  padding: 1rem 0; }
  header h1 {
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem; }
  header .h-img1 {
    position: absolute;
    left: 1rem;
    top: .4rem;
    transform: scale(0.7, 0.7);
    cursor: pointer; }
  header .h-img2 {
    position: absolute;
    right: 1rem;
    top: .3rem;
    transform: scale(0.7, 0.7); }

.container {
  background-color: #f0f0f0;
  padding: 2rem 1rem; }
  .container .player {
    background-color: #fff;
    width: 100%; }
    .container .player .player-1 {
      width: 17%;
      border-right: 1px solid #d9d9d9;
      font-size: 2rem;
      text-align: center;
      padding: 2rem 0;
      display: inline-block; }
      .container .player .player-1 p {
        width: 50%;
        margin: 0 auto; }
    .container .player .player-2 {
      width: 81%;
      display: inline-block; }
      .container .player .player-2 ul {
        text-align: center;
        border-bottom: 1px solid #d9d9d9;
        text-align: left;
        padding: 0 2%; }
        .container .player .player-2 ul li {
          display: inline-block;
          width: 40%;
          margin: 0 3%;
          font-size: 1rem; }
          .container .player .player-2 ul li .color {
            width: 5px;
            height: 5px;
            margin: 5px;
            vertical-align: middle;
            background-color: orange;
            display: inline-block; }
          .container .player .player-2 ul li .color-killer {
            width: 5px;
            height: 5px;
            margin: 5px;
            vertical-align: middle;
            background-color: red;
            display: inline-block; }
          .container .player .player-2 ul li p {
            display: inline-block;
            width: 80%; }
      .container .player .player-2 .set {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        cursor: pointer;
        color: #29bde0; }
  .container .word {
    margin: 1rem 0;
    background-color: #fff;
    padding: 1rem; }
    .container .word input {
      width: 90%;
      color: #d7d7d7;
      padding: 1rem;
      background-color: #fff;
      color: #d7d7d7;
      border: none;
      border-bottom: 1px solid #d7d7d7;
      outline: medium;
      font-size: 1rem; }
    .container .word input::-webkit-input-placeholder {
      color: #d7d7d7; }
  .container .people {
    background-color: #fff;
    padding-left: 1rem;
    padding-bottom: 1rem; }
    .container .people p {
      font-size: 1rem; }
      .container .people p input {
        width: 2rem;
        text-align: center;
        margin: 1rem;
        color: #f8c470;
        background-color: #f4f5f5;
        font-size: 1rem; }
    .container .people .p-span1 {
      width: 30px;
      height: 30px;
      border: 1px solid #d9d9d9;
      display: inline-block;
      position: relative; }
      .container .people .p-span1 span {
        color: #fcc671;
        position: absolute;
        padding: .2rem .55rem;
        font-size: 1rem;
        cursor: pointer; }
    .container .people .p-span2 {
      width: 30px;
      height: 30px;
      border: 1px solid #d9d9d9;
      display: inline-block;
      position: relative;
      vertical-align: top; }
      .container .people .p-span2 span {
        color: #fcc671;
        position: absolute;
        padding: .2rem .55rem;
        font-size: 1rem;
        cursor: pointer; }
    .container .people input {
      outline: none; }
    .container .people input[type=range] {
      -webkit-appearance: none;
      width: 60%;
      height: .1rem;
      margin: 1rem 1rem;
      background-color: orange;
      vertical-align: top;
      cursor: pointer; }
    .container .people input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 30px;
      width: 50px;
      margin-top: -5px;
      /*使滑块超出轨道部分的偏移量相等*/
      background: url("../images/js2-4.png") white no-repeat 60% 60%;
      border: 3px solid  #fab344;
      /*设置边框*/
      box-shadow: 0 .125em .125em #3b4547;
      /*添加底部阴影*/ }
  .container button {
    width: 100%;
    background-color: #fab344;
    color: white;
    margin: 1rem 0;
    padding: .7rem;
    font-size: 2rem;
    border: none; }

/*# sourceMappingURL=js2-2.css.map */
