* {
  max-width: 720px;
  margin: 0 auto; }

nav {
  background-color: #29bde0;
  color: white;
  padding: 1rem 0;
  width: 100%;
  font-size: 1.3rem; }
  nav .i-1 {
    transform: scale(0.6, 0.6);
    top: .4rem;
    right: 3%;
    background-image: url(../images/task7-2-CssSprite.png);
    height: 50px;
    width: 46px;
    background-position: 0 -122px;
    display: inline-block; }
  nav .i-2 {
    transform: scale(0.6, 0.6);
    top: .3rem;
    left: 3%;
    background-image: url(../images/task7-2-CssSprite.png);
    height: 50px;
    width: 47px;
    background-position: 0 -168px;
    display: inline-block; }

.main {
  background-color: #29bde0;
  padding-bottom: 5rem; }
  .main .main-title {
    background-color: #b9e9f5;
    padding: .8rem 0 .8rem 10%;
    font-size: 1rem; }
    .main .main-title .i-3 {
      top: -.4rem;
      right: 2%;
      transform: scale(0.6, 0.6);
      height: 58px;
      width: 58px;
      background-position: 0 -220px;
      background-image: url(../images/task7-2-CssSprite.png);
      display: inline-block;
      cursor: pointer; }
  .main .main-center .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    float: left;
    margin-left: 12%; }
  .main .main-center .title {
    padding: 1rem 12%;
    color: white;
    font-size: .9rem; }
  .main .main-center .box {
    width: 31%;
    display: inline-block;
    margin-left: 1%; }
    .main .main-center .box .box-button {
      padding: 0;
      background-color: #f5c97b;
      border: .2rem solid white;
      width: 50%; }
      @media (max-width: 425px) {
        .main .main-center .box .box-button {
          width: 80%; } }
    .main .main-center .box .box-p1 {
      font-size: 1.3rem;
      padding: 20% 0;
      white-space: nowrap; }
    .main .main-center .box .box-p2 {
      margin: 0;
      font-size: 1rem;
      text-align: center;
      width: 100%;
      color: white;
      background-color: #83b09a; }
    .main .main-center .box .select {
      margin: 10% 25%;
      visibility: hidden;
      display: flex;
      justify-content: space-around; }
      @media (max-width: 425px) {
        .main .main-center .box .select {
          margin: 10% 10%; } }
    .main .main-center .box .select button {
      border: none;
      margin: 0;
      padding: 0; }
  .main .main-center .box:hover .select {
    visibility: visible; }

flooter {
  background-color: #29bde0;
  bottom: 0;
  width: 100%; }
  flooter button {
    font-size: 1.5rem;
    margin: 1rem;
    padding: .7rem 30%;
    background-color: #fbb435;
    border: none;
    color: white; }

.icon-1 {
  display: inline-block;
  background: url(../images/task7-2-CssSprite1.png) no-repeat white;
  height: 20px;
  width: 20px;
  background-position: -39px 0; }
  @media (max-width: 460px) {
    .icon-1 {
      transform: scale(1, 1); } }

.icon-2 {
  display: inline-block;
  background: url(../images/task7-2-CssSprite1.png) no-repeat white;
  height: 20px;
  width: 20px;
  background-position: -59px 0; }
  @media (max-width: 460px) {
    .icon-2 {
      transform: scale(1, 1); } }

.icon-3 {
  display: inline-block;
  background: url(../images/task7-2-CssSprite1.png) no-repeat white;
  height: 20px;
  width: 20px;
  background-position: 0 0px; }
  @media (max-width: 460px) {
    .icon-3 {
      transform: scale(1, 1); } }

.icon-4 {
  display: inline-block;
  background: url(../images/task7-2-CssSprite1.png) no-repeat white;
  height: 20px;
  width: 20px;
  background-position: -19px 0; }
  @media (max-width: 460px) {
    .icon-4 {
      transform: scale(1, 1); } }

/*# sourceMappingURL=task13-2.css.map */
