.li-1 {
  border-bottom: 4px solid #fff;
  padding: 1rem 0; }

.main {
  background-color: #fafafa; }
  .main .carousel {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden; }
    .main .carousel .photos {
      width: 400%;
      position: absolute;
      left: 0;
      animation-name: focusmap;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      overflow: hidden; }
      .main .carousel .photos li {
        width: 25%;
        float: left;
        background: #5dd94e; }
        .main .carousel .photos li img {
          width: 100%;
          height: 400px; }
@keyframes focusmap {
  0% {
    left: 0%; }
  25% {
    left: -100%; }
  50% {
    left: -200%; }
  75% {
    left: -300%; }
  100% {
    left: 0%; } }
    @media (max-width: 600px) {
      .main .carousel {
        height: 300px; } }
  .main .main2 {
    padding: 2rem 10%; }
    .main .main2 li {
      width: 20%;
      display: inline-block;
      vertical-align: top;
      padding: 1rem 1rem; }
      .main .main2 li h3 {
        font-size: 1.2rem;
        margin: 1rem 0; }
      .main .main2 li p {
        font-size: 1rem; }
      @media (max-width: 1024px) {
        .main .main2 li {
          width: 100%;
          text-align: center; }
          .main .main2 li p {
            text-align: center !important; } }
    .main .main2 .border {
      margin: 2rem 0;
      font-size: 1rem;
      border-left: 1px dashed #afafaf;
      padding-left: 5%; }
      .main .main2 .border span {
        color: #29b078; }
      .main .main2 .border p {
        margin: .5rem 0 1rem 0;
        color: #afafaf; }
      @media (max-width: 1024px) {
        .main .main2 .border {
          border: none;
          padding-left: 0; } }
  .main .main3 {
    margin: 0 10%; }
    .main .main3 .circel {
      border: 1px solid #eeeded;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      line-height: 3.7rem;
      display: inline-block;
      font-size: 1rem;
      color: #29b078;
      background-color: #fff; }
    .main .main3 li {
      width: 24%;
      margin: 1rem 0;
      display: inline-block; }
      .main .main3 li span {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        margin: 0 5%;
        font-size: .9rem;
        color: #afafaf; }
      .main .main3 li i {
        height: 31px;
        width: 27px;
        background-position: 0 -104px;
        vertical-align: middle; }
      @media (max-width: 1024px) {
        .main .main3 li {
          width: 47%;
          display: inline-block;
          text-align: center; }
          .main .main3 li span {
            text-align: left;
            width: 45%; }
          .main .main3 li .hidden {
            display: none; } }
      @media (max-width: 600px) {
        .main .main3 li {
          width: 100%; }
          .main .main3 li .hidden1 {
            display: none; } }
  .main .main4 {
    margin: 0 9%;
    padding: 1rem; }
    .main .main4 div {
      display: inline-block;
      width: 22%;
      margin: 0 1%;
      background-color: #fff;
      padding-bottom: 3rem;
      border: 1px solid #eeeded; }
      .main .main4 div i {
        margin: 1rem auto; }
      .main .main4 div .luodayou {
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem; }
      .main .main4 div .main4-p {
        font-size: .8rem;
        margin: 1rem 2rem;
        color: #afafaf; }
      @media (max-width: 1024px) {
        .main .main4 div {
          width: 45%;
          margin-bottom: 1rem; } }
      @media (max-width: 600px) {
        .main .main4 div {
          width: 100%; } }
  .main .dot div {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #eeeded;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 1rem 0; }
  .main .dot div:hover {
    background-color: #29b078;
    cursor: pointer; }
  .main .main5 {
    margin: 0 auto;
    padding: 2rem 10%; }
    .main .main5 div {
      display: inline-block;
      margin: 1rem -.05rem;
      width: 19%;
      height: 10rem; }
      @media (max-width: 800px) {
        .main .main5 div {
          width: 50%;
          background-color: #fff; } }
      @media (max-width: 400px) {
        .main .main5 div {
          width: 100%; } }
      .main .main5 div img {
        width: 100%;
        height: 100%; }
    .main .main5 div:hover {
      box-shadow: 0 0 10px 2px #ddd;
      cursor: pointer; }
  .main .main6 {
    background-color: #fff;
    padding: 0 10%; }
    .main .main6 ul li {
      display: inline-block;
      margin: .5rem 1%;
      height: 2rem;
      text-align: left;
      font-size: 1rem;
      vertical-align: middle; }
      .main .main6 ul li a {
        color: #afafaf; }
        .main .main6 ul li a:hover {
          border-bottom: 1px solid #29b078;
          cursor: pointer;
          height: 1rem;
          line-height: .5rem; }
      .main .main6 ul li icon {
        width: 5px;
        height: 5px;
        background-color: #29b078;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1px;
        vertical-align: middle;
        margin-right: .3rem; }
      @media (max-width: 1440px) {
        .main .main6 ul li {
          width: 17%;
          padding: 0 0 0 5%; } }
      @media (max-width: 600px) {
        .main .main6 ul li {
          width: 30%;
          padding: 0 0 0 13%; } }
    @media (max-width: 1510px) {
      .main .main6 ul {
        display: inline; } }

.title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem; }

.main2-i1 {
  height: 79px;
  width: 87px;
  background-position: 0 -200px; }

.main2-i2 {
  height: 80px;
  width: 91px;
  background-position: 0 -359px; }

.main2-i3 {
  height: 80px;
  width: 89px;
  background-position: 0 -279px; }

.main2-i4 {
  height: 14px;
  width: 18px;
  background-position: 0 0; }

.main4-i1 {
  height: 118px;
  width: 110px;
  background-position: 0 -531px; }

.main4-i2 {
  height: 118px;
  width: 112px;
  background-position: 0 -649px; }

.main4-i3 {
  height: 118px;
  width: 115px;
  background-position: 0 -885px; }

.main4-i4 {
  height: 118px;
  width: 115px;
  background-position: 0 -767px; }

i {
  background: url(../images/task8-1-CssSprite.png) no-repeat;
  display: inline-block; }

/*# sourceMappingURL=task15-1.css.map */
