body,
p,
ul,
h2 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
}

body {
  background: #f0f0f0;
  overflow: hidden;
}

.nav {
  float: left;
  width: 70%;
  height: 100vh;
  background: #fff;
  color: #29bde0;
}

.nav li {
  position: relative;
  border-bottom: 1px solid #d7d7d7;
  line-height: 44px;
}

.nav li i {
  width: 20px;
  margin: 0 15px;
  border: 1px solid #29bde0;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.nav li i::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 8px;
  height: 8px;
  border-top: 2px solid #29bde0;
  border-right: 2px solid #29bde0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.display {
  display: none;
}

button {
  border: none;
  outline: none;
  letter-spacing: 2px;
}

.container {
  float: left;
  width: 100%;
  margin-right: -70%;
}

.container .header {
  position: fixed;
  width: 100%;
  height: 45px;
  background: #29bde0;
}

.container .header .menu {
  display: inline-block;
  width: 17px;
  height: 14px;
  padding: 4px 0;
  margin: 15.5px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: #fff content-box;
}

.container .list {
  padding: 58.5px 5.6% 0 5.6%;
  letter-spacing: 2px;
}

.container .list .d-none::after {
  display: none;
}

.container .list .lasttime {
  position: relative;
  width: 100%;
  background: #fff;
  color: #9a9a9a;
  font-size: 18px;
  line-height: 56px;
  border: 1px solid #d7d7d7;
}

.container .list .lasttime::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.container .list .listbot {
  margin-top: 15px;
  border: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
}

.container .list .name {
  margin-bottom: 15px;
  border-bottom: 1px solid #fbb435;
  color: #fbb435;
  font-size: 18px;
  line-height: 45px;
}

.container .list .edition {
  width: 81%;
  background: #29bde0;
  color: #fff;
  font-size: 16px;
  line-height: 65px;
}

.container .list .count {
  color: #787878;
  font-size: 12px;
  line-height: 39px;
}

.container .list .dot {
  margin-top: -12px;
}

.container .list .dot li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 3px;
  border-radius: 50%;
}

.container .list .dot li:not(:first-child) {
  background: #f0f0f0;
}

.container .list .dot li:first-child {
  background: #29bde0;
}
