body {
     margin: 0;
 }
.left{
    float: left;
}
.head {
    position: fixed;
    top: 0;
    bottom: 94%;
    left: 0;
    right: 0;
    background-color: #66cccc;
    text-align: center;
    color: white;
    padding: 10px;
}
footer{
    position: fixed;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}
button{
    line-height: 2em;
    color: #66cccc;
    width: 43%;
    height: 33px;
    border-radius: 4px;
}
.button2{
    float: right;
    background-color: #66cccc;
    margin-right: 5%;
    color: white;
}
.button1{
    float: left;
    margin-left: 5%;
    text-align: center;
    background-color: white;
    color: #66cccc;
    border: 1px solid #66cccc;
}
header{
    height: 150px;
    background-image: url("image/beijing1.png");
    background-size: 100% 100%;
}
.center{
    position: absolute;
    left: 40px;
    top: 70px;
    color: white;
}
.dian{
    position: absolute;
    left: 120px;
    top: 65px;
    color: white;
    height: 20px;
    font-size: 15px;
}
.center1{
    border-style: none none none solid;
    border-color: #66cccc;
    padding-left: 25px;
    margin: 20px 0 20px 30px;
    font-size: 15px;
    min-height: 1rem;
}
.center2{
    display: -webkit-box;
    min-height: 3rem;
    border: .1rem #66cccc;
    border-style: none none solid none;
    margin: 0.5rem .4rem 0  .4rem;
}
.center3{
    display: flex;
    width: 100px;
    color: #66cccc;
    margin-left: 1rem;
}
.center4{
    display: flex;
    border: 2px #66cccc;
    border-style: none none none solid;
    width: 100px;
    padding-left: 20px;
    color: #66cccc;
    margin-left: 1rem;
}
.center5{
    display: flex;
    border: 2px #66cccc;
    border-style: none none none solid;
    padding-left: 20px;
    margin-left: 1rem;
    color: red;
}
.center6{
    display: flex;
    border: 2px #66cccc;
    border-style: none none none solid;
    padding-left: 20px;
    margin-left: 1rem;
    color: #66cccc;
}