<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="task05.dao.UserLoginDao">
    <!--<select id="login" parameterType="UserLogin" resultType="UserLogin">-->
    <select id="login" parameterType="UserLogin" resultType="UserLogin">
        select
          *
        FROM
          userlogin_
        WHERE
          name=#{name}
    </select>

    <insert id="register" parameterType="UserLogin">
        INSERT
        INTO
          userlogin_
          (name,password,salt,despassword)
        VALUE
          (#{name},#{password},#{salt},#{despassword})
    </insert>

    <select id="queryByName" parameterType="String" resultType="UserLogin">
        SELECT
          *
        FROM
          userlogin_
        WHERE
          name=#{name}
    </select>

    <insert id="insertDes" parameterType="String">
        INSERT
        INTO
          userlogin_
          (despassword)
        VALUE
          (#{despassword})
    </insert>

    <update id="updateDes">
        UPDATE
          userlogin_
        SET
          despassword=#{despassword}
        WHERE
          id=#{id}
    </update>

</mapper>