<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptteng.dao.MailMapper">

    <insert id="insertCodeMail" parameterType="com.ptteng.model.Mail">
        insert into mail (code,mail_address,create_at) VALUES (#{code},#{mailAddress},#{createAt})
    </insert>
</mapper>