<div class="container-fluid" style="overflow:hidden;min-height: 100vh;padding: 0px">
    <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;border-radius: 0;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#dashboard-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://dev.admin.carrots.ptteng.com/#/articleList/1/10" style="color: #fff">我是任务网页链接</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="dashboard-navbar-collapse"
             style="height: 50px;line-height: 50px">
            <div class="hidden-xs">
                <span style="color: #fff;margin-right: 10px;cursor: pointer">
                {{vm.self.data.manager.name }}
                </span>
                <a href="javascript:void(0)" style="color: #fff">
                    <span class="glyphicon glyphicon-off" ng-click="vm.logOut()"></span></a>
            </div>
            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg text-center">
                <li>
                    <a ui-sref="">公司列表</a>
                </li>
                <li>
                    <a ui-sref="dashboard.professionList">职位列表</a>

                </li>
                <li>
                    <a ui-sref="dashboard.articleList">Article列表</a>
                </li>
                <li class="active"><a ui-sref="" ng-click="vm.logOut()"><span
                        class="glyphicon glyphicon-off"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--等高布局-->
    <div class="row">
        <!--左-->
        <div class="col-md-2 hidden-sm hidden-xs"
             style="padding: 20px 0 3000px 15px;margin-bottom: -3000px;background: #f5f5f5;">
            <ul tree-menu="treeMenu">
                <li class="outer">
                    <p class="title">信息管理</p>
                    <div class="inner">
                        <a ui-sref="dashboard">公司列表</a>
                        <a ui-sref="dashboard.professionList">职位列表</a>
                    </div>
                </li>
                <li class="outer">
                    <p class="title">Article管理</p>
                    <div class="inner">
                        <a ui-sref="dashboard.articleList">Article列表</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--右-->
        <div class="col-sm-12 col-md-10" ui-view="dashboardViews"
             style="padding-bottom: 3000px;margin-bottom: -3000px;padding-top: 20px">
            <p class="lead" style="line-height: 100px;text-align: center;text-transform: capitalize">welcome
            </p>
        </div>

    </div>
</div>