@charset "UTF-8";
/*去除默认样式*/
* {
  margin: 0;
  padding: 0; }

/*导航栏*/
header {
  width: 100%;
  height: 3rem;
  position: fixed;
  background-color: #29bde0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header img {
    max-height: 1rem;
    margin-left: .5rem; }

main {
  height: auto;
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  bottom: 0;
  background-color: #f0f0f0; }
  main .history {
    height: 4rem;
    font-size: 1.4rem;
    margin: 1rem 5vw;
    background-color: #fff;
    border: .5px solid #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    main .history p {
      color: #9a9a9a;
      margin-left: 1.5rem; }
    main .history img {
      margin-right: .5rem;
      height: 1.5rem;
      width: 1rem; }
  main .menu {
    background-color: #fff;
    border: .5px solid #cbcbcb;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw; }
    main .menu .menu-game {
      line-height: 3rem;
      border-bottom: 1px solid #fbb435;
      color: #fbb435;
      font-size: 1.4rem; }
    main .menu a {
      text-decoration: none; }
    main .menu .menu-version {
      width: 80%;
      line-height: 4rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
      margin-left: 10%;
      margin-right: 10%;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: #fff;
      background-color: #69d1e9; }
    main .menu .menu-point {
      margin-top: .5rem;
      margin-bottom: .5rem; }
      main .menu .menu-point ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        main .menu .menu-point ul li {
          width: 15px;
          height: 15px;
          margin-left: 5px;
          margin-right: 5px;
          list-style: none;
          background-color: #f0f0f0;
          border-radius: 50%; }
          main .menu .menu-point ul li:hover, main .menu .menu-point ul li:active {
            background-color: #69d1e9; }
    main .menu .menu-user {
      font-size: .8rem;
      height: 1rem; }
  main .img {
    position: absolute;
    top: 16.5rem;
    height: 2rem;
    right: 6vw; }
