@charset="UTF-8";
body,h2,.main .container,.time .container{
  margin:0;
  padding:0;
}
body{
  font-size: 62.5%;
}

/*页面1*/
.game a{
  text-decoration:none;
}
body{
  margin:0;
  padding:0;
}

#header_1{
  width:100%;
  height:3em;
  background-color: #34BEDE;
}
#header_1 img{
  margin:0.5em 0 0 0.5em;
  width:1.5em;
  height:1.5em;
}
.main_1{
  width:100%;
  background-color: #EFF0F1;
}
.clear_1{
  clear:both;
}
.last-game{
  display: flex;
  align-items: center;
  float:right;
  margin:1em 0;
  width:97%;
  height:5em;
  background-color: #fff;
}
.last-game b{
  display: inline-block;
  margin-right:-1em;
  width:100%;
  text-align: center;
  font-size: 1.5em;
  color:#9a9a9a;
   
}
.last-game img{
  width:1em;
  height:1.5em;
}
.main_1 .game{
  display: flex;
  flex-direction: column;
  align-items: center;
  float:right;
  width:97%;
  height:40em;
  background-color: #fff;
}
.main_1 .game span{
  display: inline-block;
  text-align: center;
  line-height: 2.5em;
  color:#fbb435;
  width:100%;
  height:2.5em;
  font-size: 1.5em;
  border-bottom:0.1em solid #fbb435;
}
.main_1 .game .Simpli,.gress,.ldiot{
  width:80%;
  height:4.5em;
  margin:1em;
  text-align: center;
  line-height: 4.5em;
  font-size: 1.2em;
  background-color: #29bde0;
  color:#fff;
}
.main_1 .game b{
  color:#9a9a9a;
  letter-spacing:1px;
}
.triangle{
  position: fixed;
  right:2%;
  top:53%;

}
.triangle img{
  width:1.5em;
  height:3em;
}
.point{
  width:4em;
  height:1em;
  position: fixed;
  bottom:2%;
  left:46%;
}
.point span{
  display: inline-block;
  width:0.7em;
  height:0.7em;

  background-color: #fbb435;
  border-radius: 50%;
}

/*页面2*/
#header_2{
  position: fixed;
  top:0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  height:5em;
  width:100%;
  background-color: #34BEDE;
  line-height: 5em;
}
#header_2 h2{
  color:#fff;
  font-size: 2em;
}
#header_2 img{
  width:3em;
  height:3em;
  margin:1em;
}
.vate{
  margin-top:5em;
  position: relative;
  height:5em;
  background-color:#BAE9F4;

}
.vate_0{
  position: absolute;
  top:5em;
  left:4em;
  width:0;
  height:0;
  border-top:1em solid #BAE9F4;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
}
.vate b{
  line-height: 3.5em;
  font-size: 1.5em;
  margin-left: 2em;
  letter-spacing:0.1em;
}

.vate img{
  float: right;
  width:4em;
  height:4em;
  border-radius: 50%;
  margin:0.4em;
}
.main_2{
  background-color: #34BEDE;

}
.main_2 > b{
  display: inline-block;
  height:3em;
  font-size: 1.2em;
  color:#fff;
  line-height: 3em;
  margin-left: 3em;
  letter-spacing:0.1em;
}
.main_2 .game .number{
  float:left;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:33%;
  height:15em;
}
.number img{
  margin-top:1em;
  width:8em;
  height:8em;
}

.number .aaa{ 
  display: none;
  width:8.2em;
  height:2.3em;
}
.number:hover .aaa{
  display: block;
}
.clear_2{
  clear:both;
  height:4em;
}

#footer_2{
  position: fixed;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:10em;
  width:100%;
  background-color: #34BEDE;
}
#footer_2 .dead{
  width:80%;
  background-color: #F8B445;
  font-size: 2em;
  line-height: 3em;
  text-align: center;
  color:#fff;
  border:none;
}

/*页面3*/
#header_3{
  position: fixed;
  top:0;
  height:4em;
  width:100%;
  background-color: #34BEDE;
  line-height: 4em;
  border-bottom:0.1em solid #fff;
  text-align: center;
}
#header_3 img:first-child{
  float:left;
  margin:0.6em;
  width:2.5em;
  height:2.5em;
}
#header_3 img:last-child{
  float:right;
  margin:0.6em;
  width:2.5em;
  height:2.5em;
}


#header_3 b{
  font-size: 1.7em;
  color:#fff;
  font-weight: normal;
}

.main-1{
  background-color: #34BEDE;
  margin-top:4em;
  padding-top:1em;
}
.main_3{
  width:80%;
  margin:0 auto;
  color:#fff;
}
.main_3 .wdsl{
  width:100%;
  height:10em;
  background-image:url(../img/images7.2/结果页_11.png);
  background-size: 20em 10em;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom:2em;
}
.main_3 > b{
  display: inline-block;
  margin-bottom: 1em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color:#F4C872;
}
.container > b{
  font-weight:normal;
}
.time{
}
.time .container{
  width:80%;
  margin:0 auto;
}
.time-1{
  margin-top:0.8em;
  color:#D8DADA;
}
.time-2{
  color:#B2B3B5;
}
.time hr{
  margin-bottom:0;
}
.clear_3{
  clear:both;
  height:5em;
}
#footer_3{
  position: fixed;
  bottom:0;
  width:100%;
  height:5em;
  padding:1em 1em;
  background: rgba(34,190,222,0.7);#34BEDE;
}
#footer_3 button{
  width:45%;
  border:none;
  color:#fff;
}
#footer_3 .left{
  background-color:#F37072;
  float:left;
  font-size: 1.5em;

}
#footer_3 .right{
  background-color: #F8B445;
  float:right;
  font-size: 1.5em;

}