<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id ="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/student?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="Hwb_1995"/>
    </bean>

    <!--ref 为StudentDaoImpl引用dataSource实例-->
    <bean id="StudentDaoImpl" class="dao.StudentDaoImpl">
        <property name="dateSource" ref="dataSource"/>

    </bean>

</beans>