body{
    font-size: 62.5%;
    background-color: #fafafa;
}
.head-top{
    font-size: 1.2rem;
    color: #29b078;
    height: 30px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-style{
    height: 20px;
    width: 20px;
    border: 1px solid #29b078;
    border-radius: 50%;
    margin-left: 20px;
}
.bg-color{
    background-color: #29b078;
    height: 50px;
    width: 100%;
}
.head-down{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin-bottom: 0;
}
.navbar-head{
    align-self: center;
}
.navbar-brand{
    font-size: 1.2rem;
    color: #fff;
    padding: 15px 0 0 0;
    margin: 15px 0 15px 30px;
}
.navbar-brand:hover{
    border-bottom: 2px solid #ffffff;
}
.jnshu{
    font-size: 2rem;
    color: #fff;
    margin: 0;
}
.www{
    font-size: 1rem;
    color: #fff;
    margin: 0;
}
main{
    background-color: #fafafa;
    padding-bottom: 80px;
}
.title{
    padding: 15px 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #d0d6d9;
}
.title1{
    color: #74c5a0;
}
.dirction{
    /*display: inline;*/
    padding: 15px 0;
    border-bottom:1px solid #f4f4f4;

}
.dic{
    font-size: 1.2rem;
    color: #9f9f9f;
}
.dic1{
    font-size: 1.3rem;
    margin: 0 10px;
}
.dirction span:hover{
    background-color: #4cbc8d;
}
.title2{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 1px solid #d0d6d9;
}
.col-md-4{
    margin-top: 30px;
}
.module{
    width: 100%;
    height: 350px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    box-shadow: 0 0 2px #9f9f9f;
}
.headimg{
    height: 90px;
    margin: 20px 10px;
    float: left;
}
.intro{
    height: 90px;
    margin:20px 10px;
}
.title3{
    font-size: 1.3rem;
    font-weight: 600;
}
.detials{
    font-size: 1.2rem;
    text-align: justify;
}
.line1{
    border-top: 1px solid #f4f4f4;
    height: 30px;
    line-height: 30px;
}
.line-left{
    width: 50%;
    border-right: 1px solid #f4f4f4;
    font-size: 1.3rem;
    float: left;
}
.line-right{
    font-size: 1.3rem;
}
.font1{
    color: #d0d6d9;
    margin: 0 10px;
}
.col-md-4 strong{
    color: red;
}
.col-md-4 em{
    color: black;;
}
.line2{
    color: #d0d6d9;
    font-size: 1.3rem;
    border-top: 1px solid #f4f4f4;
    height: 90px;
}
.line2-right{
    width: 30%;
    line-height: 90px;
    text-align: center;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    float: left;
}
.line2-left{
    width: 70%;
    font-weight: 600;
    color: #000000;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #f4f4f4;
}
.line3{
    width: 100%;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    line-height:30px ;
    float: left;
    padding-left: 10px;
    border-bottom: 1px solid #f4f4f4;
}
.line4{
    font-size: 1.3rem;
    color: #d0d6d9;
    line-height:30px ;
    text-align: left;
    padding-left: 10px;
}
.font2 {
    text-indent: 3rem;
    font-size: 1.5rem;
    text-align: left;
    padding: 0 20px;
}
.hidden-content{
    width: 92.5%;
    color: #fff;
    text-align: center;
    background-color: #464646;
    position: absolute;
    top:0;
    bottom: 0;
    border-radius: 10px;
    opacity: 0;
    animation: myfirst 2s 2;
    -webkit-transition:all 1s ease-out .3s;
}
@keyframes myfirst {
     0% {
         background-color: black;
     }
     50% {
         background-color: #b5b5b5;
     }
     70% {
         background-color: #67b168;
     }
     90% {
         background-color: #b5b5b5;
     }
     100% {
         background-color: black;
     }
 }
.hidden-content:hover{
    -webkit-transform:rotate(360deg);
    opacity: 0.7;
}
footer{
    width: 100%;
    background-color: #26a26f;
}
.lead{
    font-size: 1.4rem;
    color: #fff;
    margin: 10px 0 ;
}
.kong{
    font-size: 1.2rem;
}
.col-md-3 a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}
.col-md-3 a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.weixinlogo{
    height: 70px;
}
.foot{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}