<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
    <!--STDOUT_LOGGING SLF4J、LOG4J、LOG4J2、JDK_LOGGING、COMMONS_LOGGING、STDOUT_LOGGING、NO_LOGGING -->
    <setting name="logImpl" value="LOG4J"/>
</settings>
    
<typeAliases>
    <typeAlias type="com.opt.model.OptUser" alias="OptUser"/>
    <typeAlias type="com.opt.model.User" alias="User"/>
    <typeAlias type="com.opt.model.Profession" alias="Profession"/>
    <typeAlias type="com.opt.model.Student" alias="Student"/>
</typeAliases>

</configuration>
