<!-- 轮播图 -->
<div id="myCarousel" class="carousel slide ">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner ">
        <div class="item active">
            <img src="images/image1.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="images/image2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="images/image3.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <div class="position-middle">‹</div>
    </a>
    <a class="carousel-control right " href="#myCarousel" data-slide="next"><div class="position-middle">›</div>
    </a>
</div>