<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描控制层注解-->
    <context:component-scan base-package="cn.summerwaves.controller"/>

    <!-- 激活MVC功能 -->
    <mvc:annotation-driven/>

    <!--使用default服务器处理静态资源-->
    <mvc:default-servlet-handler />


    <!--处理jsp的ViewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="ControllerLogger" class="cn.summerwaves.logger.ControllerLogger"/>

    <aop:config>
        <aop:aspect ref="ControllerLogger">
            <aop:before method="beforeTime" pointcut="execution(* cn.summerwaves.controller.InterceptorController.toTPS())"/>
            <aop:after method="afterTime" pointcut="execution(* cn.summerwaves.controller.InterceptorController.toTPS())"/>
        </aop:aspect>
    </aop:config>
</beans>