html {
    background: #f0f0f0;
}
body {
    font-size: 62.5%;
}
header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #5fc0cd;
    display: flex;
    align-items: center;
}
main {
    margin-top: 3rem;
    padding-top: 1rem;
}
.div1 {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background: url("image/1-task7.png") no-repeat;
    background-size: 1.5rem 1.5rem;
    cursor: pointer;
}
.div2 {
    height: 5rem;
    color: #9a9a9a;
    background: white;
    font-size: 1.2rem;
    margin: 0 1rem 1rem 1rem;
    border: 1px solid #c9c9c9;
}
.div2-1 {
    display: flex;
    justify-content: center;
    line-height: 5rem;
}
a {
    margin: -5rem 0.5rem 0 0;
    color: #e7e7e7;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    line-height: 5rem;
}
.div3 {
    margin: 0 1rem;
    border: 1px solid #c9c9c9;
    background: white;
}
.div4 {
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    color: #fbb435;
    border-bottom: 1px solid #fdd793;
}
.div5 {
    height: 4rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 4rem;
    margin: 1rem 2rem;
    background: #69d1e9;
    cursor: pointer;
}
.div5-1 {
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 4rem;
    margin-left: 2rem;
    background: #69d1e9;
    cursor: pointer;
}
.border1 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.border2 {
    width: 0;
    height: 0;
    margin: 0 0.5rem;
    border-top: 1rem solid transparent;
    border-left: 1rem solid #fbb435;
    border-bottom: 1rem solid transparent;
    cursor: pointer;
}
p {
    color: #9a9a9a;
    text-align: center;
}
.div6 {
    display: flex;
    justify-content: center;
}
.div7 {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0 0.5rem 0.5rem;
    border-radius: 50%;
    background: #f0f0f0;
    cursor: pointer;
}
.div7:hover {
    background: #69d1e9;
}