html {
  font-size: 625%; }

@media only screen and (max-width: 767px) {
  html {
    font-size: 312%; } }
a {
  text-decoration: none; }

body {
  background-color: #29BDE0; }

.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #29BDE0; }

.top {
  width: 100%;
  font-size: .34rem;
  color: #fff;
  background-color: #29BDE0;
  margin-top: .26rem;
  margin-bottom: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.left-icon {
  width: .39rem;
  height: .4rem;
  background-image: url(images/03.png);
  background-repeat: no-repeat;
  background-size: .39rem .4rem;
  margin-left: .22rem; }

.right-icon {
  width: .36rem;
  height: .36rem;
  background-image: url(images/04.png);
  background-repeat: no-repeat;
  background-size: .36rem .36rem;
  margin-right: .22rem; }

.vote {
  width: auto;
  height: .8rem;
  background-color: #B9E9F5;
  font-size: .26rem;
  color: #454545;
  padding-left: .4rem;
  padding-right: .16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.vote-icon {
  width: .52rem;
  height: .52rem; }

.img-responsive {
  max-width: 100%;
  max-height: 100%; }

.down-arrow {
  width: .14rem;
  height: .13rem;
  background-image: url(images/06.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: .7rem; }

.pick {
  width: 100%;
  height: .5rem;
  background-color: #29BDE0;
  padding-left: .7rem;
  font-size: .24rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }

.main-box {
  width: auto;
  margin-top: 2.31rem;
  margin-bottom: 1.9rem;
  padding: 0 .4rem; }

.main {
  width: 100%;
  margin-top: .2rem;
  display: flex;
  justify-content: space-between; }

.content-box {
  width: 1.36rem; }

.content-top {
  width: 100%;
  height: 1.36rem; }

.career {
  width: 100%;
  height: 1.0rem;
  font-size: .3rem;
  color: #454545;
  background-color: #F5C97B;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.number {
  width: 100%;
  height: .36rem;
  font-size: .22rem;
  color: #fff;
  background-color: #83B09A;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.content-bottom {
  width: 100%;
  margin-top: .22rem;
  display: flex;
  justify-content: space-between;
  visibility: hidden; }

.content-box:hover .content-bottom {
  visibility: visible; }

.bottom-icon-A {
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/07.png); }

.bottom-icon-B {
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/08.png); }

.bottom-icon-C {
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/10.png); }

.bottom-icon-D {
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/09.png); }

.footer-box {
  height: 1.9rem;
  background-color: #29BDE0;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0; }

.footer {
  width: 100%;
  box-sizing: border-box;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fff;
  padding: .46rem .36rem 0 .36rem;
  display: flex;
  justify-content: center; }

.send {
  width: 100%;
  background-color: #FBB435; }

.send a {
  width: 100%;
  font-size: .4rem;
  color: #fff;
  padding: .23rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=CssDemo13-2.css.map */
