@import "public.scss";

@mixin position-fixed {
	width: 100%;
	position: fixed;
	z-index: 999;
}
@mixin bottom-icon {
	width: .3rem;
	height: .3rem;
	background-repeat: no-repeat;
	background-size: cover;
}

$white: #fff;
$blue: #29BDE0;
$blue-vote: #B9E9F5;
$black-text: #454545;
$yellow: #F5C97B;
$green: #83B09A;
$orange: #FBB435;



body {
	background-color: $blue;
}


.header {
	@include position-fixed;
	top: 0;
	background-color: $blue;
}
.top {
	width: 100%;
	font-size: .34rem;
	color: $white;
	background-color: $blue;
	margin-top: .26rem;
	margin-bottom: .1rem;
	@include flex;
	justify-content: space-between;
}
.left-icon {
	width: .39rem;
	height: .4rem;
	background-image: url(images/03.png);
	background-repeat: no-repeat;
	background-size: .39rem .4rem;
	margin-left: .22rem;
}
.right-icon {
	width: .36rem;
	height: .36rem;
	background-image: url(images/04.png);
	background-repeat: no-repeat;
	background-size: .36rem .36rem;
	margin-right: .22rem;
}
.vote {
	width: auto;
	height: .8rem;
	background-color: $blue-vote;
	font-size: .26rem;
	color: $black-text;
	padding-left: .4rem;
	padding-right: .16rem;
	@include flex;
	justify-content: space-between;
}
.vote-icon {
	width: .52rem;
	height: .52rem;
}
.img-responsive {
	max-width: 100%;
	max-height: 100%;
}
.down-arrow {
	width: .14rem;
	height: .13rem;
	background-image: url(images/06.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: .7rem;
}
.pick {
	width: 100%;
	height: .5rem;
	background-color: $blue;
	padding-left: .7rem;
	font-size: .24rem;
	color: $white;
	@include flex;
	justify-content: flex-start;
}


.main-box {
	width: auto;
	margin-top: 2.31rem;
	margin-bottom: 1.9rem;
	padding: 0 .4rem;
}
.main {
	width: 100%;
	margin-top: .2rem;
	display: flex;
	justify-content: space-between;
}
.content-box {
	width: 1.36rem;
}
.content-top {
	width: 100%;
	height: 1.36rem;
}
.career {
	width: 100%;
	height: 1.0rem;
	font-size: .3rem;
	color: $black-text;
	background-color: $yellow;
	@include border (2px, solid, $white);
	border-bottom: none;
	@include flex;
}
.number {
	width: 100%;
	height: .36rem;
	font-size: .22rem;
	color: $white;
	background-color: $green;
	@include border (2px, solid, $white);
	border-top: none;
	@include flex;
}
.content-bottom {
	width: 100%;
	margin-top: .22rem;
	display: flex;
	justify-content: space-between;
	visibility: hidden;
}
.content-box:hover .content-bottom {
	visibility: visible;
}
.bottom-icon-A {
	@include bottom-icon;
	background-image: url(images/07.png);
}
.bottom-icon-B {
	@include bottom-icon;
	background-image: url(images/08.png);
}
.bottom-icon-C {
	@include bottom-icon;
	background-image: url(images/10.png);
}
.bottom-icon-D {
	@include bottom-icon;
	background-image: url(images/09.png);
}



.footer-box {
	height: 1.9rem;
	background-color: $blue;
	@include position-fixed;
	bottom: 0;
}
.footer {
	width: 100%;
	@include border-top (1px, solid, $white);
	padding: .46rem .36rem 0 .36rem;
	display: flex;
	justify-content: center;
}
.send {
	width: 100%;
	background-color: $orange;
}
.send a{
	width: 100%;
	font-size: .4rem;
	color: $white;
	padding: .23rem 0;
	@include flex;
}
