html {
	font-size: 625%;
}
@media only screen and (max-width: 767px) {
	html {
		font-size: 312%;
	}
}



@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin position-fixed {
	width: 100%;
	position: fixed;
	z-index: 999;
}
@mixin position-absolute {
	width: 100%;
	position: absolute;
	z-index: 999;
}
@mixin position-relative {
	width: 100%;
	position: relative;
	z-index: 999;
}
@mixin border-top ($width, $style, $color) {
	box-sizing: border-box;
	border-top-width: $width;
	border-top-style: $style;
	border-top-color: $color;
}
@mixin border-right ($width, $style, $color) {
	box-sizing: border-box;
	border-right-width: $width;
	border-right-style: $style;
	border-right-color: $color;
}
@mixin border-bottom ($width, $style, $color) {
	box-sizing: border-box;
	border-bottom-width: $width;
	border-bottom-style: $style;
	border-bottom-color: $color;
}
@mixin border-left ($width, $style, $color) {
	box-sizing: border-box;
	border-left-width: $width;
	border-left-style: $style;
	border-left-color: $color;
}
@mixin border ($width, $style, $color) {
	box-sizing: border-box;
	border-width: $width;
	border-style: $style;
	border-color: $color;
}


a {
	text-decoration: none;
}
