@charset "UTF-8";
html {
  font-size: 625%;
}
.head .tel {
  margin-left: 10%;
  font-size: 0.14rem;
  color: #29b078;
  line-height: 0.3rem;
}
.head .tencent {
  float: right;
  margin-right: 10%;
  margin-top: 0.04rem;
}
.head .tencent span {
  display: inline-block;
  width: 0.22rem;
  line-height: 0.21rem;
  border: solid 0.01rem #29b078;
  border-radius: 50%;
  margin-left: 0.07rem;
}
.head .tencent span img {
  padding-left: 0.035rem;
  padding-top: 0.025rem;
}
.main {
  position: relative;
  height: 86px;
  font-size: 0;
  background-color: #29b078;
}
.main .page {
  display: inline-block;
  float: right;
  margin-right: 10%;
}
.main .page a {
  display: inline-block;
  font-size: 0.16rem;
  padding: 0 0.15rem;
  line-height: 0.84rem;
  color: #ffffff;
  text-decoration: none;
  background-color: #29b078;
}
.main .page a:hover {
  border-bottom: solid 0.02rem #ffffff;
}
.main label {
  font-size: 0.14rem;
}
.main label div {
  top: 0.3rem;
}
.main img {
  position: absolute;
  left: 9%;
}
.main input {
  display: none;
}
@media only screen and (max-width: 520px) {
  .main .page {
    height: 0;
    overflow: hidden;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 84px;
    transition-property: height;
    transition-duration: 0.4s;
    transition-timing-function: linear;
  }
  .main .page a {
    width: 100%;
    padding: 0;
  }
  .main label {
    display: block;
    position: absolute;
    right: 30px;
    top: 40px;
  }
  .main label div {
    height: 0.1rem;
    width: 0.3rem;
    border-top: solid 4px #ffffff;
    border-bottom: solid 4px #ffffff;
  }
  .main input {
    display: none;
  }
  #awesomea:checked ~ div {
    height: 338px;
  }
}
.row:after,
.row:before {
  content: "";
  display: table;
  clear: both;
}
body {
  margin: 0;
  font-size: 12px;
}
.container {
  box-sizing: border-box;
  width: 85%;
  margin: auto;
  padding: 15px;
}
.container .column {
  box-sizing: border-box;
}
[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 16px;
}
.col-1 {
  width: 8.33%;
}
.col-4 {
  width: 33.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-8 {
  width: 66.66%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
@media only screen and (max-width: 1469px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 1290px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 870px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
.homepage {
  font-size: 0.18rem;
  border-bottom: 1px solid #d0d6d9;
}
.homepage span {
  color: #29b078;
}
.mean1 {
  font-size: 0.15rem;
  border-bottom: 1px solid #d0d6d9;
}
.mean1 span {
  margin-right: 0.15rem;
}
.mean1 span:hover {
  color: #ffffff;
  background-color: #29b078;
  text-decoration: underline;
}
.mean1 .direction {
  color: #999999;
}
.mean1 .column {
  font-size: 0.16rem;
  color: #F66F6F;
}
#web {
  font-size: 0.19rem;
  border-bottom: 1px solid #d0d6d9;
}
.java {
  font-size: 0.19rem;
  border-bottom: 1px solid #d0d6d9;
  margin-bottom: 0.3rem;
}
.pageone div {
  padding: 2px 0;
}
.border {
  border: 1px solid #edf1f2;
  position: relative;
}
.row .people {
  margin-top: 0.1rem;
  margin-left: 0.15rem;
}
.row .describe,
.row .level,
.row .hard,
.row .cycle,
.row .demand,
.row .date,
.row .money,
.row .ing,
.row .propt {
  margin-left: 0.1rem;
}
.row .border1 {
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2;
  padding: -10px;
}
.row .borderright {
  border-right: 1px solid #edf1f2;
}
.row .border2 {
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2;
}
.row .border3 {
  border-left: 1px solid #edf1f2;
}
.row .topbottom {
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2;
}
.row .border4 {
  border-top: 1px solid #edf1f2;
  border-bottom: 1px solid #edf1f2;
}
.row span {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
}
.row .star {
  margin-left: 0.1rem;
}
.row .describe {
  text-align: left;
  width: 1.6rem;
  padding-right: 5px;
  margin: 0;
}
.row .level,
.row .hard,
.row .cycle,
.row .demand,
.row .money,
.row .propt {
  color: #999999;
}
.row .cycle1,
.row .demand1,
.row .ing1 {
  color: #f01400;
}
.row .cycle2,
.row .demand2,
.row .ing2 {
  color: #333333;
}
.row .money2 {
  color: #333333;
  margin-left: 0.8rem;
}
.row .money3 {
  color: #333333;
  margin-left: 0.82rem;
}
.row .none {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 1;
}
.row .border:hover .none {
  display: block ;
}
.row .text1 {
  color: #FFFFFF;
  text-align: center;
  margin: 0.2rem;
}
.row .text {
  width: 70%;
  height: 70%;
  margin: auto;
  color: #FFFFFF;
  font-size: 0.18rem;
}
.foot {
  position: relative;
  background-color: #29b078;
  color: #ffffff;
  font-size: 0.14rem;
}
.foot img {
  margin-top: 0.1rem;
}
.foot .column {
  padding: 0;
}
.foot a {
  text-decoration: none;
  color: #ffffff;
}
.foot a:hover {
  text-decoration: underline;
}
.foot .topone {
  margin-top: 0.5rem;
}
.foot .toptwo {
  margin-top: 0.15rem;
}
.foot .copyringht {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 0.14rem;
  color: #ffffff;
  background-color: #29b078;
  padding: 0;
}
