@charset "UTF-8";
@border: 1px solid  #edf1f2;
@grayborder: 1px solid #d0d6d9;
@green:#29b078;
@gray:#999999;
@white:#ffffff;



html{
  font-size: 625%;
}
.head{
  .tel{
    margin-left: 10%;
    font-size: 0.14rem;
    color: @green;
    line-height: 0.3rem;
  }
  .tencent{
    float: right;
    margin-right:10%;
    margin-top: 0.04rem;
    span{
      display: inline-block;
      width: 0.22rem;
      line-height: 0.21rem;
      border: solid 0.01rem @green;
      border-radius: 50%;
      margin-left: 0.07rem;
      img{
        padding-left: 0.035rem;
        padding-top: 0.025rem;

      }
    }
  }
}
.main {
  position: relative;
  height: 86px;
  font-size: 0;
  background-color: @green;
  .page{
    display: inline-block;
    float: right;
    margin-right: 10%;
    a{
      display: inline-block;
      font-size: 0.16rem;
      padding: 0 0.15rem;
      line-height: 0.84rem;
      color: @white;
      text-decoration: none;
      background-color: @green;
      &:hover{
        border-bottom: solid 0.02rem @white;
      }
    }
  }
  label{
    font-size: 0.14rem;
    div{
      top: 0.3rem;
    }
  }
  img{
    position: absolute;
    left: 9%;
  }
  input{
    display: none;
  }

}


@media only screen and (max-width: 520px) {
  .main{
    .page{
      height: 0;
      overflow: hidden;
      text-align: center;
      margin: 0;
      width: 100%;
      margin-top: 84px;
      //float: unset;
      transition-property:height;
      transition-duration:0.4s;
      transition-timing-function:linear;
      a{
        width: 100%;
        padding: 0;

      }
    }
    label{
      display:block;
      position: absolute;
      right: 30px;
      top: 40px;
      div{
        height: 0.1rem;
        width: 0.3rem;
        border-top: solid 4px @white;
        border-bottom: solid 4px @white;;

      }
    }
    img{

    }
    input{
      display:none;

    }

  }

  #awesomea:checked ~ div{
    height:338px;

  }

}


.row:after,.row:before{
  content: "";
  display: table;
  clear: both;
}

body{
  margin:0;
  font-size: 12px;
}
.container {
  box-sizing: border-box;
  width: 85%;
  margin: auto;
  padding: 15px;

  .column{
    box-sizing: border-box;

  }
}


[class *= 'col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 16px;
}
.col-1{width: 8.33%}
.col-4{width: 33.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-8{width: 66.66%}
.col-6{width: 50%}
.col-12{width: 100%}
@media only screen and (max-width: 1469px) {
  .col-lg-1{width: 8.33%}
  .col-lg-2{width: 16.66%}
  .col-lg-3{width: 25%}
  .col-lg-4{width: 33.33%}
  .col-lg-6{width: 50%}
  .col-lg-8{width: 66.66%}
  .col-lg-12{width: 100%}
}

@media only screen and (max-width: 1290px) {
  .col-md-1{width: 8.33%}
  .col-md-2{width: 16.66%}
  .col-md-3{width: 25%}
  .col-md-4{width: 33.33%}
  .col-md-6{width: 50%}
  .col-md-8{width: 66.66%}
  .col-md-12{width: 100%}
}

@media only screen and (max-width: 870px) {
  .col-sm-1{width: 8.33%}
  .col-sm-2{width: 16.66%}
  .col-sm-3{width: 25%}
  .col-sm-4{width: 33.33%}
  .col-sm-6{width: 50%}
  .col-sm-8{width: 66.66%}
  .col-sm-12{width: 100%}


}
.homepage{
  font-size: 0.18rem;
  span{
    color: @green;
  }
  border-bottom: @grayborder;

}
.mean1{
  font-size: 0.15rem;
  border-bottom: @grayborder;
  span{
    margin-right: 0.15rem;
    &:hover{
      color: @white;
      background-color: @green;
      text-decoration: underline;
    }
  }
  .direction{
    color: #999999;

  }
  .column{
    font-size: 0.16rem;
    color: #F66F6F;
  }

}
#web{
  font-size: 0.19rem;
  border-bottom: @grayborder;
}
.java{
  font-size: 0.19rem;
  border-bottom: @grayborder;
  margin-bottom: 0.3rem;
}
.pageone{
  div{
    padding: 2px 0;
  }
}
.border{
  border: @border;
  position: relative;


}
.row{
  .people{
    margin-top: 0.1rem;
    margin-left: 0.15rem;
  }
  .describe,.level,.hard,.cycle,.demand,.date,.money,.ing,.propt{
    margin-left: 0.1rem;
    //font-size: 1rem;
  }
  .border1{
    border-top: @border;
    border-bottom: @border;
    padding: -10px;
  }
  .borderright{
    border-right: @border;
  }
  .border2{
    border-top: @border;
    border-bottom: @border;
  }
  .border3{
    border-left: @border;

  }
  .topbottom{
    border-top: @border;
    border-bottom: @border;
  }
  .border4{
    border-top: @border;
    border-bottom: @border;
  }
  span{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .star{
    margin-left: 0.1rem;
  }
  .describe{
    text-align: left;
    //font-size: 1.3rem;
    width: 1.6rem;
    padding-right: 5px;
    margin: 0;
  }
  .level,.hard,.cycle,.demand,.money,.propt{
    color: #999999;
  }
  .cycle1,.demand1,.ing1{
    color: #f01400;
    //font-size: 1rem;
  }
  .cycle2,.demand2,.ing2{
    color: #333333;
    //font-size: 1rem;
  }
  .money2{
    color: #333333;
    //font-size: 1rem;
    margin-left: 0.8rem;
  }
  .money3{
    color: #333333;
    //font-size: 1rem;
    margin-left: 0.82rem;
  }
  .none{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.9);
    z-index: 1;
  }
  .border:hover .none{
    display:block ;
  }
  .text1{
    color: #FFFFFF;
    text-align: center;
    margin: 0.2rem;
  }
  .text{
    width: 70%;
    height: 70%;
    margin: auto;
    color: #FFFFFF;
    font-size: 0.18rem;
  }



}
.foot{
  position: relative;
  background-color: @green;
  color: @white;
  font-size: 0.14rem;
  .row{

  }
  img{
    margin-top: 0.1rem;
  }
  .column{

    padding: 0;
  }
  a{
    text-decoration: none;
    color: @white;
    &:hover{
      text-decoration: underline;
    }
  }
  .topone{
    margin-top: 0.5rem;
  }
  .toptwo{
    margin-top: 0.15rem;
  }
  .copyringht{
    border-top: solid 1px fadeout(@white,80%);
    text-align: center;
    font-size: 0.14rem;
    color: @white;
    background-color: @green;
    padding: 0;
  }
}
