<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.controller"/>

    <!-- 注入 testSmsSdk -->
    <bean id="emailUntil" class="com.util.task7.EmailUtil">
        <constructor-arg name="url" value="http://api.sendcloud.net/apiv2/mail/send"/>
        <constructor-arg name="apiUser" value=""/>
        <constructor-arg name="apiKey" value=""/>
        <constructor-arg name="form" value="sendcloud@sendcloud.org"/>
        <constructor-arg name="formName" value="SendCloud"/>
        <constructor-arg name="subject" value="测试"/>
    </bean>
</beans>