<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.controller"/>

    <!-- 注入 testSmsSdk -->

    <bean id="QiNiuUtil" class="com.util.task7.QiNiuUtil">
        <constructor-arg name="accessKey" value=""/>
        <constructor-arg name="secretKey" value=""/>
        <constructor-arg name="bucket" value="qiaoxm"/>
        <constructor-arg name="domain" value="http://peo04vwla.bkt.clouddn.com"/>
    </bean>

</beans>