<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.controller"/>

    <!-- 注入 testSmsSdk -->

    <bean id="ossClient" class="com.aliyun.oss.OSSClient">
        <constructor-arg name="accessKeyId" value=""/>
        <constructor-arg name="secretAccessKey" value=""/>
        <constructor-arg name="endpoint" value="http://oss-cn-beijing.aliyuncs.com"/>
    </bean>

</beans>