<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task6.mapper.ProfessionMapper">
    <select id="selectCount" resultType="int">
        select count(*) from profession
    </select>
    <select id="selectProfession" resultType="Profession">
        select * from profession

    </select>
    <select id="findById" resultType="Profession">
        select * from profession where direction=#{direction}
    </select>
    <insert id="insertProfession" parameterType="profession" useGeneratedKeys="true" keyProperty="id">
        insert into profession (direction,type,introduction,threshold,difficulty,growthCycle,scarcity
        ,salary1,salary2,salary3,number,worker,hint,job,jobDuties)values(#{direction},#{type},#{introduction}
        ,#{threshold},#{difficulty},#{growthCycle},#{scarcity},#{salary1},#{salary2},#{salary3},#{number},#{worker},
        #{hit},#{job},#{jobDuties})
    </insert>
    <delete id="deleteByDirection" parameterType="String" >
        delete * from profession where direction=#{direction}
    </delete>

</mapper>