body {
	background-color: #f0eeee;
}

.tel{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #29b078;
}

.wrap-img {
	height: 40px;
}

@media only screen and (max-width: 767px) {
	.wrap-img {
		height: 28px;
	}
}

.wrap-img a {
	display: inline-block;
	text-decoration: none;
	width: 28px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.jnshu-mobile-img {
	background-image: url(../img/jnshu-mobile-img.png);
}

.weixin-share-img {
	background-image: url(../img/weixin-share-img.png);
}

.weibo-share-img {
	background-image: url(../img/weibo-share-img.png);
}

.header-nav-wrap{
	margin: 0;
	border: 0;
	border-radius: 0;
	background: #29b078;
}

.navbar-brand {
	display: flex;
	flex-direction: row;
	align-items: center;	
	padding: 0 15px;
	width: 300px;
	height: 100px;
}

@media only screen and (max-width: 767px) {
	.navbar-brand {
		padding: 0 15px;
		width: 200px;
		height: 50px;
	}
}

.navbar-nav {
	float: right;
	margin-right: -30px;
}

.navbar-nav > li a {
	height: 100px;
	font-size: 16px;
	line-height: 70px;
	background: #29b078;
	color: #fff !important;
}

.navbar-nav > li a:hover {
	border-bottom: 4px solid #fff;
	color: #000 !important;
}


@media only screen and (max-width: 767px) {
	.navbar-nav {
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.navbar-nav > li a {
		height: 50px;
		line-height: 30px;
		background: #29b078;
		color: #fff !important;
	}
	
	.navbar-nav > li a:hover {
		color: #000 !important;
	}
}

.carousel-indicators {
	bottom: 5px;
	margin-bottom: 0 !important;
}

.img-wrap {
    margin-top: 100px;
}

.img-contain {
	padding-top: 60px;
	height: 260px;
}

.img-contain > p {
	margin: 35px 0;
	text-align: center;
	font-size: 18px;
}

.img-contain > span {
	font-size: 16px;
	color: #999;
}

@media only screen and (max-width: 991px){
	.img-contain > span {
		display: inline-block;
		width: 100%;
		text-align: center;
}
}

.effective {
	background: url(../img/img-wrap-1.png) no-repeat;
	background-position: center top;
}

.ruler {
	background: url(../img/img-wrap-2.png) no-repeat;
	background-position: center top;
}

.relation {
	background: url(../img/img-wrap-3.png) no-repeat;
	background-position: center top;
}

.count {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 260px;
}

.count > p {
	margin-top: 20px;
	padding-left: 20px;
	font-size: 18px;
	background: url(../img/img-wrap-4.png) no-repeat;
	background-position: left center;
	color: #26a26f;
}

.count > span {
	font-size: 18px;
	color: #999;
}

.study-path {
	margin-top: 50px;
}

.study-path .title {
	font-size: 20px;
}

.path-step {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 180px;
}

.path-step > .number {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #999;
	font-size: 20px;
	color: #29b078;
	background-color: #fff;
}

.path-step > .path-contain {
	width: 50%;
	font-size: 16px;
	color: #999;
}

.path-step > .next {
	width: 33px;
	height: 33px;
	background-image: url(../img/next-arrow.png);
}

.path-step:last-child > .next{
	background-image: none;
}

.student-list{
	margin-top: 50px;
}

.student-list .title {
	margin-bottom: 50px;
	font-size: 20px;
}

.student {
	margin: 15px 0;
	padding: 0 15px;
	text-align: center;
	height: 360px;
	background-color: #fff;
}

.student > img {
	margin-top: 15px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}

.student > p {
	margin: 30px 0;
	font-size: 18px;
}

.student > span {
	font-size: 16px;
	color: #999;
}

@media only screen and (max-width: 991px){
	.student > span {
		display: inline-block;
		width: 100%;
		text-align: center;	
	}
}

.student-list .dot {
	margin: 15px 0;
	padding: 0;
}

.dot li{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
}

.dot .active {
	background-color: #29b078;
}

.company-list {
	margin-top: 100px;
	padding: 0 30px;
}

.company-list .title {
	margin-bottom: 50px;
	font-size: 18px;
}

.company-list a {
	display: inline-block;
	margin: 0 5px;
    width: 18.5%;
    padding-bottom: 18.5%;
	background-position: center;
	background-color: #fff;
	background-size: auto;
}

.company-list a:hover {
	box-shadow: 0 0 5px #999;
}

@media only screen and (max-width: 991px){
	.company-list a {
		width: 30%;
	}
}

.company-alibaba{
	background: url(../img/company-alibaba.png) no-repeat;
}

.company-jinshanyun{
	background: url(../img/company-jinshanyun.png) no-repeat;
}

.company-huanxin{
	background: url(../img/company-huanxin.png) no-repeat;
}
.company-ronglian{
	background: url(../img/company-ronglian.png) no-repeat;
}

.company-qiniu{
	background: url(../img/company-qiniu.png) no-repeat;
}

.link {
	margin-top: 100px;
	background-color: #fff;
}

.link .title {
	margin: 20px 0;
	font-size: 18px;
}

.link ul {
	margin: 0 0 20px 0;
	padding: 0;
}

.link li {
	display: inline-block;
	width: 9%;
	height: 26px;
	text-align: center;
}

.link li:hover {
	border-bottom: 1px solid #26a26f;
}

.link li > a {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	color: #999;
}

.about {
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #32c086;
	background-color: #26a26f;
}

.about p {
	margin: 0;
	padding-bottom: 30px;
	font-size: 16px;
	color: #fff;
}

.about a {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	padding-right: 5px;
	border-right: 1px solid #fff;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

.about-us,.our-web {
	padding-bottom: 10px;
}

.wechat-logo > a {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
}

.copyright {
	font-size: 16px;
	color: #fff;
	background-color: #26a26f;
}