.career-path {
	padding: 20px 30px; 
	border-top: 1px solid #999;
	border-bottom: 1px solid #edf1f2;
}

.career-path ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.career-path li {
	display: inline-block;
	padding: 10px 35px 10px 0;
}

.career-path li:first-child {
	padding-right: 25px;
	color: #999;	
}

.career-path a {
	padding: 2px;
	text-decoration: none;
	font-size: 14px;
}

.career-path a:hover {
	color: #fff;
	background-color: #29b078;
}

.career-choise > a {
	color: #999;
}

.career-choise > a:hover {
	color: #999;
	background-color: #f0eeee;
}

p {
	margin: 0 0 30px 0;
	padding: 30px 0 30px 15px;
	border-bottom: 1px solid #999;
	font-size: 16px;
}

.design {
	position: relative;
	margin: 15px 0;
}

.design-head {
	margin: 0 ;
	padding: 0 0 15px 0;
	height: 144px;
}

.design-head p {
	margin: 15px 0;
	padding: 0;
	border-bottom: none;
}

.design-head span {
	font-size: 14px;
}

.design-head, .design-main, .design-foot {
	background-color: #fff;
}  


.hidden_over {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: #fff;
	background-color: rgba(0,0,0,0.5);
}

.design:hover .hidden_over {
	display: inline;
}

.level, .salary, .tip {
	width: 100%;
	border: none;

}

.level tr ,.salary tr ,.tip tr {
	height: 40px;
}

.level td ,.salary td ,.tip td {
	padding: 0 10px
}

.level img {
	margin: 0 2px;
}

.salary,.tip {
	border-top: 0;
}