<div class="wrap">
    <!-- 登录框 -->
    <form class="login">
        <h2>后台登录</h2>
        <div class="input-box">
            <input type="text" class="user" placeholder="请输入帐号" ng-model="userName"
                   minlength="5" maxlength="10"  ng-style="loginColor1" required>
            <div class="login-user-icon"></div>
        </div>
        <div class="input-box">
            <input type="password" class="password" placeholder="请输入密码" ng-model="password"
                   minlength="6" maxlength="10"  ng-style="loginColor2" required>
            <div class="login-pwd-icon"></div>
        </div>
        <div class="login-mess">
            <span ng-model="loginMess">{{loginMess}}</span>
        </div>
        <button type="submit" class="login-btn" ng-click="login()">登录</button>
    </form>
</div>
