html {
    font-size: 312.5%;
}

body {
    margin: 0;
    font-size: initial;
    background: #29bde0;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #29bde0;
}


.location {
    position: relative;
}

p {
    margin: 0;
}

.headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .96rem;
    padding: 0 .24rem;
    font-size: .34rem;
    letter-spacing: .1rem;
}
.menu {
    width: .4rem;
    height: .4rem;
    outline: none;
    border: .02rem solid #fff;
    background: none;
}

.menu::after {
    content: '';
    position: absolute;
    left: .02rem;
    top: .04rem;
    width: .32rem;
    height: .04rem;
    padding: .08rem 0;
    border-top: .04rem solid #fff;
    border-bottom: .04rem solid #fff;
    background: #fff content-box;
}

.esc {
    width: .36rem;
    height: .36rem;
}

.esc::after,
.esc::before {
    content: '';
    position: absolute;
    top: -.04rem;
    left: .15rem;
    width: .04rem;
    height: .45rem;
    background: #fff;
}

.esc::after {
    transform: rotate(45deg);
}

.esc::before {
    transform: rotate(-45deg);
}

.hint {
    padding-left: .46rem;
    height: .82rem;
    background: rgba(255, 255, 255, .67);
    font-size: .26rem;
    line-height: .82rem;
    color: #464646;
}

.hint::before {
    content: '';
    position: absolute;
    left: .71rem;
    bottom: -.16rem;
    border-top: .17rem solid rgba(255, 255, 255, .67);
    border-right: .1rem solid transparent;
    border-left: .1rem solid transparent;
}

.music {
    position: absolute;
    top: .15rem;
    right: .15rem;
    width: .6rem;
    height: .6rem;
    opacity: 0;
    z-index: 999;
}

.play {
    position: absolute;
    top: .15rem;
    right: .17rem;
    width: .52rem;
    height: .52rem;
    border-radius: 50%;
    opacity: initial;
    background: #fbb435;
}

.play::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.14rem 0 0 -.08rem;
    border-top: .15rem solid transparent;
    border-bottom: .15rem solid transparent;
    border-left: .25rem solid #fff;
}

.bothint {
    padding: .24rem 0 .24rem .74rem;
    font-size: .24rem;
    letter-spacing: .05rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0 1.9rem;
    padding: 0;
    list-style: none;
}

li {
    width: 21.25%;
    height: 31.25vw;
    margin: 0 5.875%;
}


.via {
    height: 62.4%;
    border: .69vw solid #fff;
    background: #F5C97B;
    text-align: center;
    letter-spacing: .05rem;
}

.rank {
    font-size: .3rem;
    color: #565656;
    line-height: 15.47vw;
}



.no {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .23rem;
    background: rgba(26, 153, 183, .52);
    line-height: 4.22vw;
}

.location:hover .option {
    display: block;
    display: flex;
}

.option {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 21.25vw;
    height: 10.5VW
}

.option button {
    width: 4.69vw;
    height: 4.69vw;
    border: none;
    outline: none;
    background-image: url(css-sprites.png);
    background-size: 1540% 1093.33%;
}

.knife {
    background-position: 76.852% 89.262%;
}

.loupe {
    background-position: 95.37% 6.711%;
}

.sign {
    background-position: 44.444% 89.262%;
}

.cross {
    background-position: 60.648% 89.262%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1.9rem;
    margin: 0 6.375%;
    border-top: .02rem solid #fff;
    background: inherit;

}

.bottlink {
    background: #fbb435;
    text-decoration: none;
    border: none;
    outline: none;
    width: 85%;
    height: .87rem;
    font-size: .4rem;
    color: #fff;
}