@charset "UTF-8";
/* 变量 */
/* 混合 */
/* 去除标签属性 */
html {
  font-size: 312.5%;
}

body {
  margin: 0;
  font-size: initial;
}

ul, li, p, h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 头部 */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
  padding: 0 .2rem;
  height: 1.28rem;
  font-size: 0.34rem;
  color: #FFFFFF;
  background: #29BDE0;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.9);
  /* 左边房子 */
  /* 右边图标 */
}

header .house {
  width: 0.5rem;
  height: 0.42rem;
  background: url(../img/css_spritees.png) no-repeat -0.2rem -1rem;
}

header .tips {
  width: 0.4rem;
  height: 0.4rem;
  background: url(../img/css_spritees.png) no-repeat -0.2rem -0.2rem;
}

main {
  /* 主体部分 */
  margin: 1.28rem 0;
}

main .main-top {
  /* 主体上 */
  padding-top: .23rem;
  background: #29BDE0;
}

main .main-top .picture {
  /* 背景图 */
  display: block;
  position: relative;
  margin: auto;
  width: 3.51rem;
  height: 2.05rem;
  background: url(../img/css_spritees.png) no-repeat -10px -90px;
}

main .main-top .picture::before {
  /* 背景图中文字 */
  position: absolute;
  bottom: 7.5px;
  left: 41px;
  content: "卧底胜利";
  color: white;
  font-size: 0.45rem;
  letter-spacing: 0.04rem;
}

main .main-top .yellow-font {
  /*黄色字体*/
  margin: .22rem auto 0 auto;
  width: 80%;
  font-size: .33rem;
  font-weight: 700;
  letter-spacing: .02rem;
  color: #FFC865;
}

main .main-top .result {
  /* 显示结果的段落*/
  margin: .61rem auto 0 auto;
  padding-bottom: .1rem;
  width: 80%;
}

main .main-top .result p {
  /* 段落里的行 */
  text-overflow: clip;
  white-space: nowrap;
  overflow: visible;
  margin-bottom: .14rem;
  font-size: .26rem;
  letter-spacing: .04rem;
  color: #FFFFFF;
}

main .main-in {
  /* 主体中 */
  padding: .13rem 0 .33rem 0;
  border-bottom: 0.03rem solid rgba(83, 83, 83, 0.2);
}

main .main-in .time {
  /* 时间 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10% .28rem 10%;
}

main .main-in .time .time-left {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .3rem;
  letter-spacing: .02rem;
  color: #515151;
}

main .main-in .time .time-right {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .2rem;
  color: #C7C7C7;
}

main .main-in p {
  /* 晚上，白天 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10%;
  font-size: .26rem;
  letter-spacing: .02rem;
  color: #A6A6A6;
}

main .main-bottom {
  /* 主体下 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10% .28rem 10%;
  padding-top: .12rem;
  color: #29BDE0;
}

main .main-bottom .left-blue {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .02rem;
  font-size: .4rem;
}

main .main-bottom .right-blue {
  font-size: .27rem;
}

footer {
  /* 底部 */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  padding: .24rem 0;
  background-color: rgba(153, 223, 240, 0.5);
}

footer .left, footer .right {
  width: 42vw;
  height: 0.86rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .4rem;
  letter-spacing: .04rem;
  border-radius: .2rem;
  border-style: none;
  outline: none;
  color: #FFFFFF;
  background-color: #F66F6F;
}

footer .right {
  background-color: #FBB435;
}
/*# sourceMappingURL=task13-3.css.map */