<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config/>
    <!--自动注解-->
    <mvc:annotation-driven />
    <!--aop启动-->
    <context:component-scan base-package="com.iceneet.aop"/>
    <!--aop注解-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--自动扫描com.iceneet.web下的包-->
    <!--<context:component-scan base-package="com.iceneet.web" />-->
    <!--自动扫描com.iceneet.dao下的包-->
    <context:component-scan base-package="com.iceneet.dao" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置jsp文件-->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>