html{
    font-size: 625%;
}
body{
    margin: 0;
}
p{
    font-size: 0.2rem;
}
header{
    width: 100%;
    height:0.4rem;
    background: #5fc0cd;
    position: fixed;
    top: 0;
	z-index: 100;
    line-height: 0.4rem;
	text-align: center;
	font-size: 0.18rem;
	color: #fff;
}
img{
	position: absolute;
	top:0.1rem;
	left: 0.2rem;
}
main{
    position: absolute;
    top: 0.4rem;
    bottom: 0.56rem;
    width: 100%;
	overflow-x: hidden;
}
.per{
    width: auto;
    height: 1.635rem;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.per-img {
	position: absolute;
	top: 50%;
	margin: -0.4375rem 0 0 0.15rem;
	width: 0.845rem;
	height: 0.875rem;
	background-image: url(images/head.png);
	background-size: 100% 100%;
}

.per-info {
	position: absolute;
	top: 50%;
	left: 1.2rem;
	margin-top: -0.28rem;
}

.name {
	margin: 0;
	margin-bottom: 0.05rem;
	font-size: 0.22rem;
	color: #fff;
}

.position {
	margin: 0;
	padding-left: 0.3rem; 
	font-size: 0.17rem;
	color: #fff;
	background-image: url(images/icon-1.png);
	background-repeat: no-repeat;
	background-size: 0.12rem auto;
	background-position: 0 center;
}
.per-skill .prof {
	margin: 0.15rem; 
	padding-left: 0.15rem;
	border-left: 1px solid #5fc0cd;
	font-size: 0.22rem;
}

.per-skill ul {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
	padding: 0;
	list-style-type: none;
	font-size: 0;
}

ul li {
	position: relative;
	padding: 0.15rem 0 0.15rem 0;
	border-top: 1px solid #ccc;
	min-height: 0.22rem;

}

li .per-tag {
	display: inline-block;
	font-size: 0.17rem;
	line-height:  0.22rem;
	background:url(images/icon.png) no-repeat left;
	background-size: 0.16rem 0.16rem;
	margin-left: 0.15rem;
	padding-left: 0.2rem;
	padding-right: 0.15rem;
}

li .per-tag:first-child {
	border-right: 1px solid #ccc;	
}

li .per-label {
	display: inline-block;
	font-size: 0.17rem;
	line-height:  0.22rem;
	padding-left: 0.16rem;
	padding-right: 0.15rem;
}

.price{
	color: #e26163;
}

li .per-label:nth-child(odd) {
	border-right: 1px solid #ccc;
	color: #ccc;
}

li .per-label-1 {
	position: absolute;
	top: 50%;
	left: 0.16rem;
	margin-top: -0.11rem;
	font-size: 0.17rem;
	line-height:  0.22rem;
	padding-right: 0.15rem;
	border-right: 1px solid #ccc;
	color: #ccc;
}

li .per-label-2 {
	margin-left: 1.15rem;
}


li .per-label-2 p{
	margin: 0;
    font-size: 0.17rem;
	display: inline-block;
	line-height:  0.22rem;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}

footer a {
	width: 42%;
	padding: 0.06rem;
	font-size: 0.18rem;
	line-height: 0.26rem;
	border: 1px solid #5fc0cd;
	border-radius: 0.05rem;
	text-align: center;
	text-decoration: none;
}

.message {
	margin: 0.08rem 0 0.08rem 0.08rem;
	float: left;
	color: #5fc0cd;
}

.telconnect {
	margin: 0.08rem 0.08rem 0.08rem 0;
	float: right;
	background-color: #5fc0cd;
	color: #fff;
}