.partner {
  margin-top: 70px;
}
@media (min-width: 1200px) {
  .partnerbox {
    width: 20%;
    padding: 0;
  }
}
.alibaba,
.jinshanyun,
.huanxin,
.ronglian,
.qiniu {
  background-color: #fff;
  margin-bottom: 10px;
}
.alibaba:hover,
.jinshanyun:hover,
.huanxin:hover,
.ronglian:hover,
.qiniu:hover {
  box-shadow: 0 0 10px #111;
}
.part {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 170px;
  width: 100%;
}
