<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 参考官网：http://www.mybatis.org/mybatis-3/zh/configuration.html#settings -->
<configuration>
    <!--<properties resource="mysql.properties">-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="123"/>-->
        <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/testx?characterEncoding=utf-8"/>-->
    <!--</properties>-->

    <!--<settings>-->
        <!--<setting name="logImpl" value="LOG4J" />-->
    <!--</settings>-->

    <!--&lt;!&ndash;<span style="color:#330033;">&ndash;&gt;-->
    <!--<typeAliases>-->
        <!--<typeAlias alias="Student" type="com.ptteng.model.Student"/>-->
    <!--</typeAliases>-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
</configuration>