<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  全局配置，需要再添加-->
     <mappers>
   <!--      <mapper resource="mapper/BannerMapper.xml"/>
         <mapper resource="mapper/CommentMapper.xml"/>
         <mapper resource="mapper/FirstMapper.xml"/>
         <mapper resource="mapper/SecondMapper.xml"/>
         <mapper resource="mapper/StudioMapper.xml"/>
         <mapper resource="mapper/UserMapper.xml"/>
         <mapper resource="mapper/WorkMapper.xml"/>-->
     </mappers>
</configuration>