body{
background: #fafafa;
    font-size: 62.5%;
    margin: 0 auto;
}
.box1{
    height: 40px;

    display: flex;
    align-items: center;

}
.box11{
    color: #29b078;
    font-size: 14px;
    /*height: 24px;*/
    /*line-height: 24px;*/
}
.box12{
    float: right;
    margin-right: 24px;

}
.head{
    height: 100px;
    /*line-height: 100px;*/
    /*vertical-align: middle;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    background:#29b078;
}
/*.box1234{*/
    /*height: 100%;*/
/*width: 100%;*/
/*}*/
.jnshu0{
    height: 97px;
    display: flex;
    align-items: center;

}
.jnshu{
    margin: auto 0;
}
.n1{
    float: right;
    /*margin-right: 12%;*/
}
.nav-tabs{
    border: none;


}
.nav>li{
    list-style: none;
    border: none;
}
.nav>li>a{
    display: block;
    height: 97px;
   margin: 0 10px;
    font-size: 16px;
    line-height: 93px;
    color: #fff;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;


}
.nav>li>a:hover{
    list-style: none;
    border: none;
    background: none;
}
.nav>li:hover{
    border: none;
   border-bottom: 3px solid #ffffff;

    background: none;

}

.carousel0{
/*     height: 300px; */
    width: 100%;}
.keyboard1{
    height: 100px;
    width: 100%;
}
.carousel-inner>.item>img{
    display: block;
/*     height: 300px; */
    width: 100%;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.primary{
    font-size: 2rem;
    margin-left: 10px;

}
.fifty{
    font-size: 4rem;
}
.yearly{

    font-size: 2rem ;
}
.carousel-control.right{
    right: 0;
    left: auto;
    font-size: 8rem;
    display: flex;
    align-items: center;
}
.carousel-control.left {
    right: auto;
    left: 10%;
    font-size: 8rem;
    display: flex;
    align-items: center;
    background: none;
}
.box1{
    height: 40px;
    width: 100%;
}
.rocket0{
    text-align: center;
}
.rocket{
    width: 55px;
    height: 69px;
}
.character1{
    text-align: left;
    font-size: 1.4rem;
}
.hight{
    font-weight: 900;
    font-size: 1.5rem;
    margin: 10px 0;
}
.user1{
  margin: 50px 0 0 50px;
}
.total{
    margin: 20px 0;
}
.user3{
 margin: 15px 0;
}
.study{
    text-align:center;
    margin: 30px 0 30px 0;
    font-size: 2rem;
    font-weight: 900;
}
.li1{
    color: #000000;
}
.step{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.step1{
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
}
.roll{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 3px 5px #888;
    color: #29b078;
/*     flex-shrink: 0; */
}

.mate{
  /*widthï¼š53%;*/
}
.strangle{

}
.box00{
    height: 40px;
    width: 100%;
}
.box01{
    height:20px;
    width: 100%;
}
.box000{
    background: #ffffff;
    width: 100%;
}
.people{
text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 2px #888;
    margin: 10px 10px ;
}
.name{
    font-size: 2rem;
    font-weight: 900;
    margin: 10px 0;
}
.avatar2{
    margin-top: 20px;
}
.introduce{
    margin: 0 20px 20px 20px;
}
.fourpoint{
    height:30px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.point1{
    width: 10px;
    height: 10px;
    background: #29b078;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0px 3px 5px #888;
}
.point{
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0px 3px 5px #888;
}
.strategy{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
.boxs0{
     width: 66px;
height: 30px;
}
.boxs{
    width: 32px;
height: 30px;
}

.col-md-3g{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
   display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.col-md-3g:hover{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 3px 5px #888;

}
.pic1{
    width: 100%;
    height: 100px;
    background: url("alibaba.png");
    background-position: 50%;
}
.pic2{
    width: 100%;
    height: 100px;
    background: url("king.png");
    background-position: 50%;
}
.pic3{
    width: 100%;
    height: 100px;
    background: url("ringletter.png");
    background-position: 50%;
}
.pic4{
    width: 100%;
    height: 100px;
    background: url("ronglian.png");
    background-position: 50%;
    background-repeat: no-repeat;

}
.pic5{
    width: 100%;
    height: 100px;
    background: url("sevencrow.png");
    /*background-size: 120%;*/
    background-position: 50%;
    background-repeat: no-repeat;
}
.col-md-3s{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    width: 10%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li1{

}
.footer{
    background: #29b078;
    color: #ffffff;
    width: 100%;
}
.about{
    color: #ffffff;
}
.command{
    font-size: 1.5rem;
}
.cao0{
    margin: 8px 0 9px 0;
    color: #ffffff;
}
.cao{
    margin-left: 10px;
    color: #ffffff;
}
.cao1{
    color: #ffffff;
}
.ptt{
    color: #ffffff;
}
.code{
  margin-top: -10px;
    text-align: center;

}
.company{
    text-align: center;
    padding-bottom: 10px;
}
.a00:hover{
    color: red;
}