body {
    margin: 0;
    font-size: 62.5%;
}
.div1 {
    margin: 0.5rem 0;
}
@media screen and (max-width: 992px) {
    .service-none {
        display: none;
    }
}
.service {
    font-size: 1.8rem;
    color: #42b683;
}
.div1-1 {
    margin: 0.5rem 0;
    float: right;
}
header{
    width: 100%;
    height: auto;
    background: #29b078;
}
.div2 {
    width: 10rem;
    line-height: 6rem;
}
.div2-1 {
    width: 10rem;
    height: 4rem;
    margin: 1rem 0;
    background: url("image/25-task8.png") no-repeat;
    background-size: 8rem 4rem;
}
.nav>li>a:hover {
    background-color: #29b078;
}
.navbar-default {
    background-color: #29b078;
    border: none;
    float: right;
}
.navbar-default .navbar-collapse {
    border-color: transparent;
}
.navbar-default .navbar-toggle:focus {
    background-color: #29b078;
}
.navbar {
    margin-bottom: 0;
}
@media screen and (max-width: 768px){
    .navbar {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .row1 {
        display: flex;
    }
}
@media screen and (max-width: 768px){
    .navbar-nav {
        margin: 0;
    }
}
@media screen and (min-width: 768px){
    .navbar-nav {
        float: right;
        margin-top: -3.85rem;
    }
}
.navbar-nav>li>a {
    color: white !important;
    padding: 0 1.5rem;
    line-height: 6rem;
}
@media screen and (max-width: 768px){
    .navbar-nav>li>a {
        padding: 0;
        text-align: center;
    }
}
.li1 {
    height: 6rem;
}
.li1:hover {
    border-bottom: 2px solid white;
}
.navbar-nav>.active>a {
    background-color: #29b078 !important;
}
.navbar-collapse {
    padding: 0;
}
.navbar-collapse.in {
    width: 100%;
    border-top: 1px solid #999;
    padding-bottom: 1rem;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.navbar-toggle {
    padding: 0 1.5rem;
    margin: 0;
    border: none;
    line-height: 6rem;
}
.navbar-toggle:hover {
    background-color: #29b078 !important;
}
.img-nav {
    transform: scale(0.8);
}
main {
    padding-bottom: 15rem;
    background: #fafafa;
}
.div3 {
    padding: 2rem 0;
    border-bottom: 1px solid #cccccc;
}
.a01:hover {
    color: black;
    text-decoration: none;
}
.a02:hover {
    color: #29b078;
    text-decoration: none;
}
.a01:focus {
    color: black;
    text-decoration: none;
}
.a02:focus {
    color: #29b078;
    text-decoration: none;
}
.a01 {
    color: black;
}
.a02 {
    color: #29b078;
}
.div4 {
    color: #999999;
    padding: 2rem 0;
    border-bottom: 1px solid #edf1f2;
    display: flex;
}
.div4-1 {
    white-space: nowrap;
}
.div4-2 {
    margin-left: 1rem;
}
.a5-1 {
    padding: 3px;
    color: black;
    text-decoration: none;
}
.a5 {
    padding: 3px;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}
.a5:focus {
    color: white;
    background: #29b078;
    text-decoration: none;
}
.a5:hover {
    color: white;
    background: #29b078;
    text-decoration: none;
}
.div5 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    border-bottom: 1px solid #d0d6d9;
}
.animation {
    margin: 3rem 15px;
    opacity: 0;
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}
@media screen and (max-width: 768px){
    .animation {
        margin: 0 15px 0 15px;
        width: 345px;
        height: 384px;
    }
}
@media screen and (max-width: 400px){
    .animation {
        width: auto;
        height: auto;
    }
}
.animation:hover {
    opacity: 0.5;
    transition: All 1s ease-in-out;
    transform: rotate(360deg);
}
.p01 {
    margin: 2rem 0;
}
.p02 {
    margin: 4rem 2rem;
}
.div6 {
    margin: 3rem 0;
    border-radius: 0.5rem;
    background: white;
}
@media screen and (max-width: 768px){
    .div6 {
        width: 345px;
        height: 384px;
    }
}
@media screen and (max-width: 400px){
    .div6 {
        width: 100%;
        height: auto;
    }
}
.div6-1 {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #edf1f2;
}
.img1 {
    height: 9rem;

    padding: 0 0.5rem;
}
.div6-2 {
    padding: 0 0.5rem;
}
.p1 {
    font-size: 1.5rem;
    font-weight: bold;
}
.div7, .div8 {
    display: flex;
    border-bottom: 1px solid #edf1f2;
}
.div7-1, .div7-2 {
    font-size: 0.5rem;
    width: 50%;
    color: #a9a9a9;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.div7-2 {
    border-left: 1px solid #edf1f2;
}
.img2 {
    margin-left: 0.5rem;
}
.p2 {
    color: #f01400;
    margin: 0 0 0 0.5rem;
}
.div7-3 {
    width: 40%;
    color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #edf1f2;
}
.div7-4 {
    width: 60%;
}
.div7-5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edf1f2;
}
.div7-6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.p3 {
    margin: 0.5rem 1rem 0.5rem 2rem;
}
.div8 {
    padding: 0.5rem 0 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.p4 {
    color: #f35b53;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.p5 {
    color: #999999;
    padding: 1rem 0 1rem 1rem;
    margin: 0;
}
.div5-1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid #d0d6d9;
}
footer {
    width: 100%;
    color: white;
    background: #26a26f;
    bottom: 0;
}
.p7 {
    font-size: 1rem;
    margin: 1rem 0;
}
.a1:focus {
    color: white;
    text-decoration: none;
}
.a1:hover {
    color: white;
    text-decoration: none;
}
.a1 {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 2px solid white;
    text-decoration: none;
    color: white;
}
.span1 {
    margin: 1rem 0;
}
.a2:focus {
    color: white;
    text-decoration: none;
}
.a2:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.a2 {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 992px) {
    .footer-left {
        float: left;
    }
}
.div10 {
    margin-top: 0.5rem;
    float: right;
    font-size: 1.5rem;
    text-align: center;
}
.p9 {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    color: white;
    border-top: 1px solid #32c086;
}
