@charset "UTF-8";
/** Authors      TZMMichael (15977536060@163.com) Date         2017-12-25 14:16:56 Site         https://github.com/TZMMichael Updated       Updated by   TZMMichael  */
/** Authors      TZMMichael (15977536060@163.com) Date         2017-12-16 14:28:26 Site         https://github.com/TZMMichael Updated       Updated by   TZMMichael  */
/* HEADER */
.header .header-box { color: #29b078; display: flex; justify-content: space-between; align-items: center; padding: 1rem; }
.header .header-img .tel-word { color: #56a087; }
.header .header-img .weixin { margin-right: 2.5rem; position: relative; background: url("../task14-1/images/wechat.png") no-repeat; width: 25px; height: 25px; background-size: 100%; display: inline-block; vertical-align: middle; }
.header .header-img .qq { margin-right: 2.5rem; position: relative; background: url("../task14-1/images/wechat.png") no-repeat; width: 25px; height: 25px; background-size: 100%; display: inline-block; vertical-align: middle; background: url("../task14-1/images/qq.png") no-repeat; }
.header .header-img .weibo { margin-right: 2.5rem; position: relative; background: url("../task14-1/images/wechat.png") no-repeat; width: 25px; height: 25px; background-size: 100%; display: inline-block; vertical-align: middle; background: url("../task14-1/images/weibo.png") no-repeat; }
.header .login { display: none; float: right; }
.header .login .login-left { border-right: 1px solid #29b078; }
.header .login .login-left, .header .login .login-right { padding: 0px 6px; color: black; }

@media (max-width: 768px) { .header { height: 57px; }
  .header .header-img { display: none; }
  .header .tel-word { visibility: hidden; }
  .header .login { display: block; } }
/* NAV */
.nav .nav-box { padding: 0 2rem; }
.nav .nav-botton span { display: inline-block; padding: 28px; margin: 0 10px; border-bottom: 2px solid #29b078; }
.nav .nav-botton span:hover { border-bottom: 2px solid #fff; }
.nav .nav-botton .active-line { display: inline-block; padding: 28px; margin: 0 10px; border-bottom: 2px solid #fff; }
.nav .nav-botton a { text-decoration: none; color: #fff; }
.nav .nav-logo { background: url("../task14-2/images/技能树LOGO.png") no-repeat; height: 3rem; width: 7rem; margin: 0 2rem; }

/* NAV-PHONE */
.nav-phone { display: none; }
.nav-phone li { list-style: none; }
.nav-phone ul { margin: 0; padding: 0; }
.nav-phone .menu:hover .navbar { display: block; }
.nav-phone .navbar { text-align: center; display: none; margin-top: 1rem; border-top: 1px solid #999; }
.nav-phone .navbar a { text-decoration: none; color: #fff; }
.nav-phone .navbar li { padding: 1rem 0; border-bottom: 1px solid transparent; }
.nav-phone .navbar li:hover { border-bottom: 1px solid #fff; }
.nav-phone .navbar .active-li { border-bottom: 1px solid #fff; }
.nav-phone .navbar-logo { position: absolute; margin: 1rem; }
.nav-phone .menu { text-align: right; padding: 1rem 0; }
.nav-phone .menu img { margin-right: 1rem; }

@media (max-width: 768px) { .nav { display: none; }
  .nav-phone { display: block; }
  .nav-phone img { transform: scale(0.8, 0.8); } }
/* BANNER */
.banner { margin-top: 118px; }
.banner img { width: 100%; }

/* MAIN */
.main { padding: 2rem; background: #fafafa; }
.main .main-top span { color: #29b078; }
.main .nav-top { padding: 10px 15px; background-color: #fff; border: 1px solid #ededed; border-radius: 8px 8px 0 0; font-size: 18px; margin-top: 10px; }
.main .nav-bottom { padding: 10px 15px; background-color: #fff; border-radius: 0 0 8px 8px; border-right: 1px solid #ededed; border-left: 1px solid #ededed; border-bottom: 1px solid #ededed; margin-bottom: 20px; }
.main .nav-bottom .circle { width: 10px; height: 10px; border-radius: 5px; border: 1px solid #ff650e; background-color: transparent; margin-right: 5px; display: inline-block; }
.main .nav-bottom .nav-a { margin: 10px 0; }
.main .nav-bottom .nav-a a { text-decoration: none; }
.main .nav-bottom .nav-a a:link { color: #29b078; }
.main .nav-bottom .nav-a a:visited { color: grey; }
.main .nav-bottom .nav-a a:hover { color: #ff650e; }
.main .nav-bottom .nav-a a:hover .circle { background-color: #f9a372; }
.main .content-top { color: #999; background-color: #fff; border: 1px solid #ededed; border-radius: 8px 8px 0 0; padding: 12px; margin-top: 10px; text-align: center; }
.main .content-bottom { color: #999; background-color: #fff; border-radius: 0 0 8px 8px; padding: 12px; border-left: 1px solid #ededed; border-right: 1px solid #ededed; border-bottom: 1px solid #ededed; }
.main .main-left { width: 100%; margin-right: 2rem; text-align: center; }
.main .main-img { margin: 1rem; }

@media (min-width: 1050px) { .content-top { display: flex; align-items: center; }
  .main-bottom { display: flex; margin: 2rem 2rem 2rem 0; } }
/* FOOTER */
.footer .footer-box { display: flex; justify-content: space-between; padding: 1rem 4rem; }
.footer .footer-box a { padding-right: 1rem; }
.footer .footer-box a:link, .footer .footer-box a:visited, .footer .footer-box a:active { color: #fff; text-decoration: none; }
.footer .footer-box a:hover { text-decoration: underline; }
.footer .footer-box .QRcode { background: url("../task14-1/images/QRcode.png") no-repeat; height: 92px; width: 92px; }
.footer .footer-box .a-border { border-right: 2px solid #fff; margin-right: 1rem; }

@media (max-width: 768px) { .footer .footer-box { display: block; padding: 1rem; } }

/*# sourceMappingURL=task14-3.css.map */
