html body {
    background-color: #FAFAFA;
}
header {
    overflow: hidden;
}
.header-nav {
    padding: 8px 0;
}
.telephone {
    line-height: 29px;
    color: #29B078;
}
.nav-icon {
    display: flex;
    justify-content: flex-end;
}
.icon-qq , .icon-weibo , .icon-weixin {
    margin-left: 10px;
    height: 29px;
    width: 29px;
}
.icon-weixin {
    background: url(img.png) 0 0;
}
.icon-qq {
    background: url(img.png) -51px 0;
}
.icon-weibo {
    background: url(img.png) -97px 0;
}
.header-wrap {
    background-color: #29B078;
}
.header-logo {
    position: relative;
    float: left;
    margin: 2.5px 0;
    z-index: 5;
}
.header-wrap-nav a:visited {
    color: #fff;
    text-decoration: none;
}
.header-wrap-nav a:hover {
    color: #fff;
    border-bottom: solid 5px #fff;
    text-decoration: none;
}
.header-wrap-nav a {
    display: block;
    height: 100px;
    border-bottom: 5px solid #29B078;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.header-wrap .navbar {
    margin: 0;
}
.header-wrap .head-nav {
    background-color: #29B078;
    border: none;
}
.header-wrap .nav-button {
    margin: 13px 15px;
    border: none;
}
header .navbar-default .nav-list > li > a {
    color: #fff ;
}
@media all and (min-width: 768px) {
    .head-nav , .nav-button {
        display: none;
    }
    .header-logo {
        margin: 23.5px 0;
    }
}
@media all and (max-width: 768px) {
    .header-wrap-nav {
        display: none;
    }
}
.main-nav {
    margin: 15px;
}
.main-nav span {
    color: #29B078;
}
.main-nav-job {
    padding: 25px 0;
    border-top: 1px solid #D0D6D9;
    border-bottom: 1px solid #EDF1F2;
}
.main-nav-job p {
    margin: 0;
    color: #999;
    font-size: 14px;
}
.main-nav-cont {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.main-nav-cont li {
    float: left;
    margin-left: 20px;
    list-style: none;
}
li a {
    padding: 2px;
    color: #000;
}
li a:hover {
    color: #fff;
    background-color: #29B078;
    text-decoration: none;
}
.word-black {
    padding: 20px 0;
    border-bottom: 1px solid #D0D6D9;
    font-size: 16px;
    font-weight: 600;
}
.person {
    position: relative;
    margin: 20px 0;
    border: 1px solid #EDF1F2;
    border-radius: 5px;
    box-shadow: 0 2px 5px #EDF1F2;
    background: #fff;
}
.person-position {
    padding: 10px;
    width: 100%;
}
.img-person {
    float: left;
    height: 139px;
    width: 139px;
    margin-bottom: 10px;
    background: url(104.png) no-repeat;
}
.black {
    padding: 10px 0 0 150px;
    font-size: 16px;
    font-weight: 600;
}
.word-small {
    padding-left: 150px;
    font-size: 14px;
    word-break: break-all;
    white-space:pre-wrap;
}
.person-demand {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #EDF1F2;
}
.person-demand p {
    width: 50%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #EDF1F2;
    font-size: 12px;
}
.border-right {
    border-right: 1px solid #EDF1F2;
}
.img-star {
    display: inline-block;
    height: 15px;
    width: 16px;
    margin-left: 5px;
    background: url(105.png) no-repeat;
}
i {
    font-style: normal;
    color: #A8A8A8;
}
.person-demand span {
    margin-left: 5px;
    color: #F2483D;
}
.person-salary {
    display: flex;
}
.person-salary-left {
    width: 40%;
}
.person-salary-right {
    width: 60%;
}
.person-salary p {
    font-size: 12px;
}
.person-salary-left p {
    margin: 0;
    line-height: 82.4px;
    text-align: center;
    border-right: 1px solid #EDF1F2;
    border-bottom: 1px solid #EDF1F2;
}
.person-salary-right p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px solid #EDF1F2;
}
.person-number {
    padding: 10px;
    border-bottom: 1px solid #EDF1F2;
}
.person-number span {
    color: #F2483D;
}
.person-skill {
    padding: 10px;
    font-size: 12px;
}
.person-hover {
    position: absolute;
    visibility: hidden;
    width: 100%;
    top: 0;
    height: 100%;
    padding: 100px 50px 200px 50px;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.8;
}
.person-hover-job {
    color: #fff;
    text-align: center;
}
.person-hover-information {
    margin-top: 20px;
    color: #fff;
    text-indent: 20px;
}
.person:hover .person-hover {
    visibility: visible;
}
footer {
    padding-top: 30px;
    margin-top: 100px;
    background-color: #29B078;
}
.word-white , .word-white-small {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
}
.word-white-small {
    font-size: 14px;
}
.qg-code {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 3vw;
    bottom: 1vw;
}
@media all and (max-width: 992px) {
    .qg-code {
        float: left;
    }
}
.qg-code-name {
    color: #fff;
    font-size: 16px;
}
.copyright {
    padding: 5px 0;
    color: #fff;
    border-top: 1px solid #32C086;
    text-align: center;
    font-size: 10px;
    background-color: #29B078;
}
footer a {
    color: #fff;
}
footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
}