// color

$white: #fff;
$gray-1: #fafafa;
$gray-2: #dedede;
$gray-3: #ddd;
$gray-4: #d0d6d9;
$gray-5: #edf1f2;
$gray-6: #e6e6e6;
$gray-7 :#999;

$black: #000;
$red: #f00;

$side-color: #ff650e;

$green-1: #29b078;
$green-2: #47d197;
$green-3: #38c58a;
$green-4: #32c086;
$green-5: #26a26f;

$body-bgcolor: $gray-1;
$bg-color: $green-1; // 通用背景色 header，footer，navbar
$bf-color: $white; // navbar的border颜色，hover效果，字体颜色

$p-color: $gray-7; // p标签下字体颜色

$shadow-color: $gray-3;

// other

//background: position / size repeat
$bg-psr: center / contain no-repeat;

// border: size style
$border-ss: 1px solid;
