*{
	margin: 0;
	padding: 0;
}
.navbar{
	margin: 0;
}
.topic{
	width: 100%;
	height: 45px;
	background-color: #5fc0cd;
	display: flex;
	align-items: center;
	position: relative;
}
.intent{
	width: 120px;
	height: 35px;
	background-color: #55a8b3;
	margin: 0 auto;
	border-radius: 5px;
	display: flex;
	overflow: hidden;
}
.intent button{
	width: calc(50%);
	height: calc(100%);
	border: none;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}
.intent .hirer{
	background-color: #55a8b3;
	color: #fff;
}
.intent .hireling{
	background-color: #fff;
	border-radius: 5px;
	color: #5fc0cd;
}
.topic .position{
	width: 23px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	background-image: url(../img/task6.png);
	background-position: -75px 0px;
	-webkit-background-size: 200px;
	background-size: 200px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.select .head{
	width: 100%;
	list-style: none;
	margin: 0;
}
.select .head .dropdown{
	width: 33.3%;
}
.select .dropdown-menu{
	min-width: 100%;
}
.head .dropdown button{
	width: 100%;
	height: 35px;
	font-size: 15px;
	border: none;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.dropdown button .caret{
position: absolute;
top: calc(50% - 2px);
right: 5px;
}
.select{
	position: relative;
}
.select::after{
	content: "";
	display: block;
	clear: both;
}
.split{
	width: 1px;
	height: 35px;
	background-image: url(../img/task6.png);
	background-position: -370px;
	background-size: 400px 35px;
	background-repeat: no-repeat;
}
.select .first{
	position: absolute;
	left: 33.3%;
	top: 0;
}
.select .second{
	position: absolute;
	left: 66.6%;
	top: 0;
}
.dropdown button,
.main .info .date,
.main .info .local{
	color: #999;
}
/*----------------------main-----------------------*/
.main .price{
	color: #e63b0e;
}
.main{
	position: absolute;
	top: 80px;
	bottom: 50px;
	overflow: auto;
	width: 100%;
}
.main .info{
	margin-left: 20px;
	font-size: 14px;
	width: 60%
}
.main .info .time{
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.main .price p{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #e63b0e;
	margin-right: 10px;
	margin-bottom: 0;
	white-space: nowrap;
}
.main .list .arrow{
	width: 12px;
	height: 12px;
	border-top: 2px solid #5fc0cd;
	border-right: 2px solid #5fc0cd;
	position: absolute;
	top: calc(50% - 5px);
	transform: rotate(45deg);
	right: 12px;
	cursor: pointer;
}
.main .list .icon1,
.main .list .icon2{
	width: 14px;
	height: 14px;
}
.main .list .icon1{
	position: absolute;
	left: 14px;
	top: 13px;
	background-image: url(../img/task6.png);
	background-size: 230px;
	background-repeat: no-repeat;
}
.main .list .icon2{
	position: absolute;
	left: 14px;
	top: 69px;
	background-image: url(../img/task6.png);
	background-size: 230px;
	background-repeat: no-repeat;
	background-position: -62px 0;
}
.main .info .local{
	margin: 0;
}
.content .list-group{
	margin: 0;
}
.content .list{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*----------------------footer---------------------*/
footer{
	width: 100%;
	height: 50px;
	background-color: #fafafa;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer .home,
footer .edit,
footer .user{
	float: left;
	border: none;
	background-color: #f7f7f7;
	width: 40px;
	height: 40px;	
	margin-top: 5px;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}
footer .home{
	position: absolute;
	left: 25%;
	transform: translate(-50%,0);
	background-image: url(../img/task6.png);
	background-position: -147px 0;
	background-size: 200px;
	background-repeat: no-repeat;
	color: #5ac0ce;
	border-radius: 5px;
}
footer .edit{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	border-radius: 50%;
	background-image: url(../img/task6.png);
	background-position: -14px 9px;
	background-size: 200px;
	background-repeat: no-repeat;
	background-color: #5ac0ce;
}
footer .user{
	position: absolute;
	left: 75%;
	transform: translate(-50%,0);
	background-image: url(../img/task6.png);
	background-position: -115px 0;
	background-size: 200px;
	background-repeat: no-repeat;
	color: #999;
	border-radius: 5px;
}
.home:active,
.edit:active,
.user:active,
.hirer:active{
	background-color: rgba(90,192,206,0.5);
}
.hireling:active,
.position:active{
	background-color: rgba(244,244,244,0.8);
}