.navbar{
	width: 100%;
	height: 39px;
	min-height: 39px;
	background-color: #fff;
}
.navbar:before,
.navbar:after{
	display: none;
}
.head{
	/*width: 62.5%;*/
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head .tel{
	font-size: 14px;
	color: #29b078;
}
.head .btn{
	width: 25px;
	height: 24px;
	border-radius: 50%;
	margin-left: 16px;
	outline: none;
}

/*按钮在active状态下有边框*/
.head .wechat{
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -350px -489px;
}
.head .qq{
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -548px -385px;
}
.head .weibo{
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -594px -300px;
}
/*-----------------------以上 header------------------*/
.navigate{
	width: 100%;
	height: 99px;
	background-color: #29b078;
	display: flex;
	justify-content: center;
}
.navigate .navi{
	/*width: 62.5%;*/
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
.logo{
	width: 160px;
	height: 60px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -302px -124px;
	position: absolute;
	left: 0;
	top: 20px;
}
.navigate .nav1{
	/*width: 62.5%;*/
	min-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	left: 38px;
	border: none;
}
.nav1 li{
	width: 100px;
	height: 100%;
	border: none;
}
.nav1 li:hover{
	/*background-color: #000;*/
	border-radius: 0;
	padding: 0;
	margin: 0;
	border-bottom: 4px solid #fff;
}
.navigate .nav1 a{
	width: 100px;
	height: 100%;
	line-height: 100px;
	text-align: center;
	padding: 30px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}


/*-----------------------以上 nav---------------------*/
.banner{
	/*height: 300px;*/
	width: 100%
}
div.item img{
    width:100%;
   }
div#carousel-example-generic{
    /*width:80%;*/
    margin:0 auto;
  }


/*-----------------------以上 banner------------------*/

.main{
	width: 100%;
	background-color: #fafafa;
	padding-bottom: 90px;
}
.content{
	/*width: 62.5%;*/
	width: 1140px;
	margin: 0 auto;
}
.main .summary{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.summary>div{
	width: 260px;
	height: 265px;
	padding: 20px 20px;
	margin: 140px 0 80px;
	/*border: 3px solid #ace;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.summary .icon{
	width: 70px;
	height: 70px;
}
.summary .one{
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -130px -489px;
}
.summary .two{
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -20px -489px;
}
.summary .three{
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -240px -489px;
}
.summary .keyword{
	font-size: 16px;
	line-height: 50px;
	font-weight: bold;
}
.summary .data{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 50px 0px 50px 60px;
	/*border-left: 1px #dedede dashed;*/
	background-image: url(../img/dashedY.png);
	background-repeat: repeat-y;
}
.data .num{
	font-size: 16px;
	font-weight: bold;
	color: #26a26f;
	/*text-indent: 1em;*/
}
.data .gray{
	font-size: 16px;
	color: #999;
}
.data .num:before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 14px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -464px -236px;
	margin-right: 10px;
}


/*------------route----------------*/

.main .route{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
	overflow: hidden;
	/*border: 2px solid #000;*/
}
.main .line{
	width: 100%;
}
.route>p{
	font-size: 18px;
	font-weight: bold;
}
.route .row{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 50px;
}
.route .step{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}
.route .step .number{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 1px 2px 5px #999;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #26a26f; 
	line-height: 70px;
	background-color: #fff;
	margin-right: 10px;
}
.step span{
	width: 100px;
	font-size: 12px;
	color: #999;
}
.route .next{
	width: 3%;
	height: 28px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -522px -300px;
	margin: 2%;
}

/*-----------------learner----------------*/

.learner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 125px;
	/*border: 2px solid #000;*/
}
.learner .title{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	margin-bottom: 70px;
}
.learner .list{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.learner .introduce{
	width: 270px;
	height: 370px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 5px;
	box-shadow: 0 0 4px #eee;
}
.introduce .name{
	font-size: 16px;
	font-weight: bold;
	font-family: 黑体;
}
.learner .tx1{
	width: 108px;
	height: 108px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -20px -236px;
}
.learner .tx2{
	width: 108px;
	height: 108px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -522px -20px;
}
.learner .tx3{
	width: 108px;
	height: 108px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -316px -236px;
}
.learner .tx4{
	width: 108px;
	height: 108px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -168px -236px;
}
.learner .introduction{
	padding: 30px;
}
.learner .dot{
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
}
.learner .dot li{
	border-radius: 50%;
	border: 7px solid #fff;
	box-shadow: 1px 1px 2px #999;
}

.learner .dot .active{
	border-color: #26a26f;
}

/*--------------------teamwork----------------*/

.teamwork{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.teamwork p{
	font-size: 18px;
	font-weight: bold;
	font-family: 微软雅黑;
	margin-bottom: 70px;
}
.teamwork .company{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.teamwork .company a{
	width: 20%;
}
.teamwork .company li{
	width: 100%;
	height: 176px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.teamwork .company a:hover{
	z-index: 10;
	box-shadow: 0 0 10px #aaa;
}
.company .firm1{
	width: 150px;
	height: 64px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -20px -385px;
}
.company .firm2{
	width: 122px;
	height: 64px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -386px -385px;
}
.company .firm3{
	width: 160px;
	height: 70px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -60px -80px;
}
.company .firm4{
	width: 180px;
	height: 64px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -302px -20px;
}
.company .firm5{
	width: 136px;
	height: 64px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -210px -385px;
}


/*-----------------------以上 main--------------------*/

.links{
	width: 100%;
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;*/
}
.links>div{
	width: 62.5%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.links>div>p{
	font-size: 18px;
	font-family: 微软雅黑;
	font-weight: bold;
	margin: 20px 0;
}
.links .link-group{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: disc;
}
.links a{
	color: #999;
}

/*-----------------------以上 links-------------------*/

footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #26a26f;
}
.footer{
	width: 62.5%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 38px 0 18px;
}
.footer {
	font-size: 16px;
	color: #fff;
}
.footer a{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding-bottom: 6px;
	padding-top: 20px;

}
.footer a:hover{
	border-bottom: 1px solid #fff;
}
.footer .jnshu{
	height: 100px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: space-between;
}
.footer .underling{
	height: 100px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: space-between;
}
.underling div{
	margin-top: 10px;
}
.underling>div a{
	margin-right: 30px;
}
.footer .QRcode{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: space-between;
}
.footer .code{
	width: 92px;
	height: 92px;
	background-image: url(../img/Task8-1.png);
	background-repeat: no-repeat;
	background-position: -522px -168px;
	overflow: auto;
}
footer .tail{
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-top: 1px solid #32c086;
	margin: 0;
	padding: 8px 0;
}

/*-----------------------以上 footer------------------*/

@media all and (min-width: 980px) and (max-width: 1200px) {
	
	.head,.navigate .navi,.content{
		width: 940px;
	}
	.learner .introduce{
		width: 220px;
	}

}

@media all and (min-width: 768px) and (max-width: 980px) {

	.head,.navigate .navi,.content{
		width: 720px;
	}

}

@media all and (max-width: 768px) {


	
}