*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100%;
	position: relative;
}
.header{
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #5fc0cd;
	font-size: 16px;
	font-family: "黑体";
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 999;
}
.header button{
	width: 25px;
	height: 25px;
	float: left;
	border: none;
	background-color: #5fc0cd;
	font-size: 18px;
	color: white;
	font-family: "微软雅黑";
	position: fixed;
	top: 10px;
	left: 5px;
	outline: none;
	border-radius: 50%;
}
.header button:active{
	background-color: rgba(255,255,255,0.5);
	color: #5fc0cd;
}

/*main区*/
/*滚动条无法只在main区滚动，会跑到header和footer，解决方法有瑕疵*/
.main{
	width: 100%;
	margin: 45px 0px 60px;
}

/*个人信息区============================================*/
/*背景图片无法进行自适应*/
.main .info{
	width: 100%;
	height: 150px;
	background-image: url(../img/bg5.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
}
.main .info .portrait{
	width: 70px;
	float: left;
	margin-left: 20px;
}
.main .information{
	width: 100%;
}
.main .info .information>span{
	float: left;
	margin-top: 20px;
	margin-left: 25px;
}
.main .information span p{
	font-size: 14px;
	color: #fff;
	font-family: "黑体";
}
.main .information>span>span{
	font-size: 12px;
	color: #fff;
	font-family: "黑体";
}
.main .information .loc{
	height: 14px;
	padding-right: 10px;
	position: relative;
	top: 3px;
	left: 2px;
}


/*专业技能区===============================================*/
.main .skill .subtitle{
	font-size: 14px;
	font-family: "黑体";
	line-height: 50px;
	background-image: url(../img/icon5.png);
	background-position: 10px 18px;
	background-size: 3px 14px;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ccc;
}
.main .skill .subtitle span{
	margin-left: 20px;
}

/*技能list区==================================================*/
.main .skill .detail{
	margin: 0 10px;
	font-size: 14px;
	font-family: "黑体";
	list-style: none;
}
.main .skill .detail img{
	height: 14px;
	margin-right: 5px;
}
.main .skill .list .red{
	color: #e26163;
}
.main .skill .detail .list{
	border-bottom: 1px solid #ccc;
	padding:18px 0px;
	display: flex;
	align-items: center;
}
.main .skill .detail .star span{
	margin-left: 10px;
}
.main .skill .detail .item{
	border-right: 1px solid #ccc;
	padding: 0px 10px;
	color: #a1a1a1;
	flex-shrink: 0;
}
.main .skill .detail .content{
	margin-left: 10px;
}



/*footer===============================================*/
.footer{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	bottom: 0;
	border: 5px solid #fff;
	box-sizing: border-box;
}
.footer .btn{
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	border: 5px solid #fff;
}
.footer .btn button{
	width: 100%;
	height: 100%;
	border: 2px solid #5fc0cd;
	border-radius: 5px;
	cursor: pointer;
	font-family: "黑体";
	outline: none;
}
.footer .msg{
	background-color: #fff;
	color: #5fc0cd;
}
.footer .msg:active{
	background-color: #5fc0cd;
	color: #fff;
}
.footer .tel{
	background-color: #5fc0cd;
	color: #fff;
}
.footer .tel:active{
	background-color: #fff;
	color: #5fc0cd;
}
