<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="task.jnshu.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="task.jnshu.model.Class">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="profession" jdbcType="CHAR" property="profession" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="class_name" jdbcType="CHAR" property="className" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="qq_group" jdbcType="INTEGER" property="qqGroup" />
    <result column="leader_id" jdbcType="INTEGER" property="leaderId" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, profession, class_id, class_name, student_number, qq_group, leader_id, create_at,
    update_at
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where id = #{id,jdbcType=INTEGER}
  </delete>



  <insert id="insert" parameterType="task.jnshu.model.Class">
    insert into class (id, profession, class_id,
      class_name, student_number, qq_group, 
      leader_id, create_at, update_at
      )
    values (#{id,jdbcType=INTEGER}, #{profession,jdbcType=CHAR}, #{classId,jdbcType=INTEGER},
      #{className,jdbcType=CHAR}, #{studentNumber,jdbcType=INTEGER}, #{qqGroup,jdbcType=INTEGER}, 
      #{leaderId,jdbcType=INTEGER}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}
      )
</insert>



  <insert id="insertSelective" parameterType="task.jnshu.model.Class">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="profession != null">
        profession_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="qqGroup != null">
        qq_group,
      </if>
      <if test="leaderId != null">
        leader_id,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=CHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=CHAR},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="qqGroup != null">
        #{qqGroup,jdbcType=INTEGER},
      </if>
      <if test="leaderId != null">
        #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="task.jnshu.model.Class">
    update class
    <set>
      <if test="profession != null">
        profession = #{profession,jdbcType=CHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=CHAR},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="qqGroup != null">
        qq_group = #{qqGroup,jdbcType=INTEGER},
      </if>
      <if test="leaderId != null">
        leader_id = #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>



  <update id="updateByPrimaryKey" parameterType="task.jnshu.model.Class">
    update class
    set profession = #{profession,jdbcType=CHAR},
      class_id = #{classId,jdbcType=INTEGER},
      class_name = #{className,jdbcType=CHAR},
      student_number = #{studentNumber,jdbcType=INTEGER},
      qq_group = #{qqGroup,jdbcType=INTEGER},
      leader_id = #{leaderId,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>