@import "./module/reset.less";
@import "./module/color.less";


.wrap {
    //登录页+++
    .loginPage {
		padding: 21.7rem 0;
        background: url(../image/login/background.jpg) no-repeat bottom / cover;
		.loginBar {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			margin: 0 auto;
			padding: 2rem 4rem;
			border-radius: .5rem;
			width: 30%;
			height: 30rem;
			background: rgba(255, 255, 255, .8);
			.title {
				font-size: 2rem;
				color: @info;
			}
			.inputWrap {
				padding: 1rem 1.5rem;
				border-radius: .5rem;
				height: 5rem;
				text-align: right;
				background: no-repeat @white left / contain;
				background-origin: content-box;
				> input {
					padding-left: 1rem;
					border-radius: 0;
					height: 100%;
					border: none;
					border-left: 1px solid @gray02;
					width: calc(~"100% - 3.5rem");
					font-size: 2rem;
					outline: none;
				}
			}
			.username {
				background-image: url(../image/login/icon_01.png);
			}
			.password {
				background-image: url(../image/login/icon_02.png);
			}
			#info {
				height: 2.1rem;
				font-size: 1.4rem;
				line-height: 1.5;
				color: @red;
			}
			> button {
				padding: 1rem 0;
			}
		}
    }
    //Article列表页+++
    .row {
        //侧边栏+++
        > nav {
            position: fixed;
            top: 0;
            left: 0;
            bottom: -10rem;
            padding: 0;
            border-radius: 0;
            background: @darkBlue;
            > button {
                margin-bottom: 0;
                .icon-bar {
                    background: @white;
                }
            }
            > h3 {
                vertical-align: middle;
                font-size: 2rem;
                line-height: 5rem;
                color: @white;
            }
            .navbar-collapse.in {
                overflow-y: hidden;
            }
            //折叠+++
            > div {
                padding: 2rem 0 0;
                button {
                    padding: 0;
                }
                .panel {
                    border-radius: 0;
                    background: transparent;
                    color: @white;
                    .panel-heading {
                        padding: 1.5rem;
                        border-radius: 0;
                        &:hover {
                            background: fadeout(@white, 50%);
                        }
                    }
                    .panel-body {
                        .panel-heading;
                        padding: 0 0 0 5rem;
                        border-top: none!important;
                        height: 5rem;
                        line-height: 5rem;
                    }
                }
                .panel + .panel {
                    margin-top: 0;
                }
            }
        }
        //artical列表样式+++
        > div {
            .header {
                > li {
                    font-size: 2rem;
                    > a {
                        color: @info;
                        > span {
                            vertical-align: middle;
                            color: @lightOrange;
                        }
                    }
                }
            }
            .search {
                padding: 2rem 5rem;
                > div {
                    padding: 2rem 2rem 1rem;
                    border: 1px solid @gray02;
                    border-radius: .5rem;
                    box-shadow: 0 0 1px @gray02;
                    > form {
                        > div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: .5rem 1rem .5rem 4rem;
                            > label {
                                margin: 0;
                            }
                            > input {
                                width: 70%;
                            }
                            > select {
                                width: 70%;
                            }
                        }
                    }
                    > div {
                        > button {
                            margin: 0 .5rem;
                        }
                    }
                }
            }
            .list {
                padding: 2rem 5rem;
                .panel {
                    border: 1px solid @gray02;
                    border-radius: .5rem;
                    box-shadow: 0 0 1px @gray02;
                    .panel-body {
                        font-weight: 700;
                        > button {
                            padding: .2rem .5rem;
                        }
                    }
                    .panel-footer {
                        padding: 2rem;
                        background: @white;
                        > table {
                            border: 1px solid @gray02;
                            border-radius: .5rem;
                            box-shadow: 0 0 1px @gray02;
                            background: @white;
                            > tbody {
                                > tr {
                                    > td {
                                        > a {
                                            padding: 0 1.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//媒体查询+++
@media screen and (max-width: 1200px) {
	.wrap {
		.loginPage {
			padding: 18rem 0;
			.loginBar {
				width: 45%;
			}
		}
	}
}
@media screen and (max-width: 992px) {
	.wrap {
		.loginPage {
			padding: 14rem 0;
			.loginBar {
				width: 60%;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.wrap {
		.loginPage {
			padding: 12rem 0;
			.loginBar {
				width: 75%;
			}
        }
        .row {
            > nav {
                position: static;
            }
        }
	}
}