@import "style";
//颜色变量
$c-blue: #29BDE0;
$c-lightblue: #69D1E9;
$c-white: #ffffff;
$c-lightgray: #C9C9C9;
$c-darkgray: #787878;
$c-gray: #9A9A9A;
$c-lime: #F0F0F0;
$c-orange: #FBB435;
//字体变量
$fz-38: .38rem;
$fz-35: .35rem;
$fz-32: .32rem;
$fz-25: .25rem;
//混合器部分
//flex混合器
@mixin flex-c($h:center, $v:center) {
    display: flex;
    justify-content: $h;
    align-items: $v;
}
//占位符
%a-style{
    >a {
        display: inline-block;
        width: 80%;
        line-height: 1.34rem;
        font-size: $fz-32;
        color: $c-white;
        background: $c-lightblue;
    }
    .trilateral::after {
        content: "";
        position: absolute;
        top: 50%;
        right: .1rem;
        margin: -.2rem -.2rem -3rem 0;
        border: solid .3rem;
        border-color: transparent transparent transparent $c-orange;
    }
}


/*全局*/

body {
    position: relative;
    overflow: hidden;
    input {
        display: none;
    }
    #side:checked ~.content {
        margin-left: 50%;
    }
    /*sidenav部分*/
    .sidenav {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        background: $c-white;
        li {
            @include flex-c(space-between, center);
            position: relative;
            height: 1rem;
            border-bottom: 1px solid $c-lightgray;
            a {
                margin-left: .2rem;
                font-size: $fz-38;
                color: $c-lightblue;
            }
            &::after {
                content: "";
                position: absolute;
                right: .2rem;
                top: .42rem;
                border-top: 2px solid $c-lightblue;
                border-right: 2px solid $c-lightblue;
                width: .16rem;
                height: .16rem;
                transform: rotate(45deg);
            }
            &:hover {
                background: $c-lime;
            }
        }
    }
    /*content部分*/
    .content {
        background-color: $c-white;
        position: relative;
        overflow: hidden;
        transition: margin-left 1s;
        width: 100vw;
        /*header部分*/
        header {
            @include flex-c(flex-start, center);
            height: .9rem;
            background-color: $c-blue;
            label {
                margin-left: .22rem;
                padding-top: .07rem;
                padding-bottom: .07rem;
                border-top: .04rem solid currentColor;
                border-bottom: .04rem solid currentColor;
                width: .34rem;
                height: .04rem;
                color: $c-white;
                background-color: currentColor;
                background-clip: content-box;
            }
        }
        /*main部分*/
        main {
            padding: .27rem .37rem 0 .35rem;
            h3 {
                line-height: 1.16rem;
                text-align: center;
                border: .01rem solid $c-lightgray;
                font-size: $fz-35;
                font-weight: normal;
                color: $c-gray;
                background: $c-white;
                &::after {
                    content: "";
                    position: absolute;
                    right: .5rem;
                    margin-top: .5rem;
                    border-top: 2px solid;
                    border-right: 2px solid;
                    width: .15rem;
                    height: .15rem;
                    transform: rotate(45deg);
                }
            }
            ul {
                position: relative;
                margin-top: .27rem;
                text-align: center;
                border: solid .01rem $c-lightgray;
                background-color: $c-white;
                li {
                    margin-top: .27rem;
                    &:nth-child(1) {
                        margin-top: 0;
                        line-height: .9rem;
                        font-size: $fz-38;
                        color: $c-orange;
                        border-bottom: .01rem solid $c-orange;
                    }
                    &:nth-child(2),
                    &:nth-child(4),
                    &:nth-child(6) {
                        @extend %a-style;
                    }
                    &:nth-child(3),
                    &:nth-child(5),
                    &:nth-child(7) {
                        font-size: $fz-25;
                        color: $c-darkgray;
                    }
                    &:nth-child(8) {
                        @include flex-c(space-between, center);
                        width: 1rem;
                        margin: .14rem auto;
                        span {
                            border-radius: 50%;
                            width: .17rem;
                            height: .17rem;
                            &:nth-child(1) {
                                background: $c-lightblue;
                            }
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                background-color: $c-lime;
                            }
                        }
                    }
                }
            }
        }
    }
}