html {
    font-size: 625%;
}

body {
    font-size: .16rem;
    background: #fafafa;
}

p {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

.icon {
    zoom: 0.5;
    background: url(../images/task8-1.png) no-repeat;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

header .container {
    height: .4rem;
}

header .row {
    height: .4rem;
}

header .row {
    align-items: center;
    color: #29b078;
    font-size: .07rem;
}

/* header右侧图标 */

header div .icon {
    display: inline-block;
    width: .25rem;
    height: .25rem;
    transform: scale(0.8);
    outline: none;
}

header .row div:nth-child(2) {
    text-align: right;
}

@media screen and (max-width:576px) {
    header .container .col-4 {
        visibility: hidden;
    }
}

/* 插入图标 */

.weixin {
    background: url(../images/task8-1/微信.jpg) 0 no-repeat;
    background-size: 100%
}

.qq {
    margin-left: .1rem;
    margin-right: .1rem;
    background: url(../images/task8-1/qq.jpg) 0 no-repeat;
    background-size: 100%
}

.weibo {
    background: url(../images/task8-1/新浪微博.jpg) 0 no-repeat;
    background-size: 100%;
}

.col-8 {
    padding: 0;
}

/* 导航栏 */

main .box1 {
    background: #29b078;
}
main .box1 .row {
    margin-right: -45px;
}

.navbar {
    padding: 0;
    width: 100%;
}
/* logo */
.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 16px;
}
/* 导航栏切换按钮 */

.navbar-toggler {
    margin: 0.1rem;
    padding: 0;
    border-radius: 0;
    border: 2px solid;
    font-size: .16rem;
}

/* 导航栏右侧 */

.navbar-expand-sm .navbar-nav .hall {
    height: 0.6rem;
    margin-left: 2vw;
    padding: 0 30px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
    line-height: 0.575rem;
    font-size: .16rem;
    color: white;
}

.navbar-nav li:hover {
    border-bottom: 2.5px solid white;
}

/* 轮播图 */

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* 注释文字居中 */

.carousel-inner p {
    display: inline-block;
    color: white;
}

.carousel-caption {
    top: 50%;
    left: 50%;
    height: 20%;
    width: 60%;
    margin: -10% 0 0 -30%
}

.carousel-inner .text {
    text-align: right;
}

.carousel-inner .text1 {
    font-size: 2vw;
}

.carousel-inner .text2 {
    font-size: 4vw;
}

.carousel-inner .text3 {
    font-size: 3vw;
}

/* 更改默认指示符样式 */

.carousel-indicators li {
    width: .1rem;
    height: .1rem;
    border: 1px solid #c9c8cb;
    border-radius: 50%;
}

/* 内容栏图标设置 */

.icon-box {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.icon1 {
    display: inline-block;
    width: 44px;
    height: 60px;
    background: url(../images/task8-1/rocket.png) no-repeat;
    background-size: 100%;
}

.icon2 {
    display: inline-block;
    width: 60px;
    height: 48px;
    background: url(../images/task8-1/archive.png) no-repeat;
    background-size: 100%
}

.icon3 {
    display: inline-block;
    height: 56px;
    width: 52px;
    background: url(../images/task8-1/Shape\ 253.png) no-repeat;
    background-size: 100%;
}

.icon4 {
    display: inline-block;
    height: 13px;
    width: 13px;
    zoom: 1;
    background-position: 0 0;
}

.box3 {
    margin-top: .85rem;
}
.box3 .col-sm-3:nth-child(3) {
    border-right: 2px dashed #DEDEDE;
}

/* 图标下字体 */

.icon-height {
    margin: .1rem 0 .18rem;
    font-size: .18rem;
    font-weight: bold;
}

.forth {
    display: flex;
    align-items: center;
    color: #26a26f;
}

.icon-color {
    margin-bottom: .2rem;
    font-size: .16rem;
    color: #999999;
}

/* 流程图 */

.study {
    margin: .6rem auto;
}

.study .col-sm-3 {
    align-items: center;
}

.study p:nth-child(1) {
    margin-bottom: 0.34rem;
    font-size: .18rem;
    font-weight: 500;
}

.study .number {
    display: inline-block;
    flex-shrink: 0;
    width: .35rem;
    height: .35rem;
    margin-right: .09rem;
    font-size: .18rem;
    color: #29b078;
    line-height: .35rem;
    border-radius: 50%;
    box-shadow: 0 .5px #888888;
    background: #ffffff;
}

.study .col-sm-3 p {
    display: inline-block;
    text-align: left;
    font-size: .14rem;
    color: #999999;
}

.study .col-sm-3 .arrow {
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    margin-left: auto;
    zoom: .7;
    background-position: -88px 0;
}

.study .row:nth-child(2) {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* 内容栏和流程图响应式 */

@media screen and (max-width:768px) and (min-width:576px) {
    .study .col-sm-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .study .col-sm-3 .arrow {
        visibility: hidden;
    }
}

@media screen and (max-width:576px) {
    .box3 p {
        text-align: center !important;
    }
    .box3 .col-sm-3:nth-child(3) {
        border-right: none;
    }
    .box3 .col-sm-3:nth-child(4) .forth {
        justify-content: center;
    }
    .study .col-sm-3 {
        margin: .05rem;
    }
    .study .row:nth-child(2) {
        margin-top: 0;
    }
    .study .col-sm-3 .arrow {
        visibility: hidden;
    }
}

/* 优秀学员 */

.students .col-sm-3 {
    display: flex;
    justify-content: center;
}

.students .col-sm-3 div:nth-child(1) {
    width: 20vw;
    padding: .3rem;
    border: 1px solid #e8e8e8;
    border-radius: 3%;
    font-size: 0.16rem;
    color: #888888;
    box-shadow: 0 .5px #888888;
    background: #ffffff;
}

.col-sm-3 .name {
    margin: .15rem auto;
    font-weight: 500;
    font-size: .18rem;
    color: black;
}

.students .col-sm-3 .icon {
    display: inline-block;
    width: 108px;
    height: 108px;
    zoom: .8;
}

.student1 {
    background-position: -415px 0;
}

.student2 {
    background-position: -631px 0;
}

.student3 {
    background-position: -739px 0;
}

.student4 {
    background-position: -523px 0;
}

h5 {
    font-size: 20px;
}

@media screen and (max-width:768px) and (min-width:576px) {
    .students .col-sm-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: .3rem;
    }
    h5 {
        margin-bottom: 0;
    }
    .students .col-sm-3 div:nth-child(1) {
        width: 35vw;
    }
}

@media screen and (max-width:576px) {
    .students .col-sm-3 {
        margin: .05rem;
    }
    .students .col-sm-3 div:nth-child(1) {
        width: 80vw;
    }
}

.point i {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: auto 1px;
    box-shadow: 0 .5px #888888;
    border-radius: 50%;
    background: #ffffff;
}

.point i:hover {
    background: #29b078;
}

/* 重写col */

.col-20 {
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

/* 合作企业 */

.box4 {
    width: 100%;
    margin-top: .7rem;
}

.box4 .row {
    margin: 0;
    margin-bottom: .6rem;
    border: 1px solid #e8e8e8;
    box-shadow: 0 .5px #888888;
    background: #ffffff;
}

.box4 .box4-box {
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

.box4-box div {
    display: inline-block;
    height: 50px;
    width: 150px;
}

.box4 .box4-box img {
    zoom: .7;
}

.col-20:hover {
    box-shadow: #f1f1f1 0px 0px 13px 4px;
}

@media screen and (max-width:767px) and (min-width:577px) {
    .box4 .row {
        margin-top: .2rem;
        border: none;
        box-shadow: 0 0 0 0;
        background: transparent;
    }
    .col-20 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        border: 1px solid #e8e8e8;
        box-shadow: 0 .5px #888888;
        background: #ffffff;
    }
}

@media screen and (max-width:576px) {
    .box4 .row {
        border: none;
        box-shadow: 0 0 0 0;
        background: transparent;
    }
    .col-20 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: .1rem;
        border: 1px solid #e8e8e8;
        box-shadow: 0 .5px #888888;
        background: #ffffff;
    }
}

/* 友情链接 */

.box5 {
    padding-top: .2rem;
    padding-bottom: .2rem;
    background: #ffffff;
}

.col10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

.box5 h5 {
    margin-bottom: .3rem;
}

.box5 .row {
    margin: 0;
    margin-bottom: .1rem;
    font-size: .14rem;
}

.col10 {
    display: flex;
    align-items: center;
}

/* 小圆点 */

.col10 i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: .08rem;
    border-radius: 50%;
    background: #999999;
}

.col10 p {
    display: inline;
    color: #999999;
}
.col10:hover p{
    color: white;
    background: #29b078;
}
@media screen and (max-width:991px) and (min-width:576px) {
    .col10 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media screen and (max-width:575px) {
    .col10 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: .1rem;
    }
    .box5 .row {  
        margin-bottom: 0;
    }
}

/* 底部 */

footer {
    color: white;
    font-size: .14rem;
    background: #29b078;
}

footer .row {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

footer .pp1 {
    display: inline-block;
    margin-top: .08rem;
    margin-bottom: .08rem;
    font-size: .16rem;
}

/* 列内部布局 */

footer .col-sm-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .col-sm-4 p {
    display: inline;
}

footer .ppp {
    margin-right: .35rem;
}
footer .text-right div {
    margin-top: .1rem;
}

@media screen and (max-width:767px) and (min-width:576px) {
    footer .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left !important;
    }
}


/* 最底部 */

footer .p666 {
    padding: .05rem;
    font-size: .12rem;
}