body {
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  font-size: 62.5%;
}
.case {
  margin: 0 15%;
}
.box {
  width: 25%;
  padding-top: 25%;
  margin: 1rem 0 0 1rem;
  border-radius: 10px;
  float: left;
  background: orange;
}
.star {
  margin: 2rem 4rem;
}
.end {
  margin: 0 4rem 2rem;
}
.star, .end {
  color: orange;
  font-size: 1rem;
  background: white;
  border: 1px solid orange;
  padding: 1rem 0;
  width: 75%;
  cursor: pointer;
  border-radius: 5px;
}
.star:hover {
  color: white;
  background: orange;
}
.end:hover {
  color: white;
  background: orange;
}
input:focus {
  outline: none;
}
