body{
    background: #fafafa;
    font-size: 62.5%;
    margin: 0 auto;
}
.box1{
    height: 40px;

    display: flex;
    align-items: center;

}
.box11{
    color: #29b078;
    font-size: 14px;

}
.box12{
    float: right;
    margin-right: 24px;

}
.navbar {
    /*background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);*/
    background: #29b078;}
.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}


.navbar-default {
    background-color: #29b078;
    margin-bottom: 0;
    /*height: 100px;*/
    /*border-color: #1995DC;*/
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus ,
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-brand {
    float: left;
     height: 80px;
    padding: 25px 0;
    font-size: 18px;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #29b078;
}
.navbar-right {
    float: right!important;
    margin-right: -30px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #29b078;
}

.navbar-default .navbar-toggle {

    border: none;
}
.navbar-toggle {

    margin: 23px 15px;
padding: 0;
}
.navbar-collapse.in {
    overflow-y: inherit;
}
.navbar-toggle .icon-bar {

    width: 30px;
    height: 4px;
    margin: 8px 0;
}

.nav>li{
    list-style: none;
    border: none;
    border-bottom: 3px solid #29b078;
}
.nav>li>a {
    display: block;
    height: 97px;
    margin: 0 20px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 97px;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.navbar-default .navbar-toggle .icon-bar {
    /*background-color: #29b078;*/
}
.head{
    /*height: 100px;*/

    background:#29b078;
}

.jnshu0{
    height: 97px;
    display: flex;
    align-items: center;

}
.jnshu{
    margin: auto 0;
}
.n1{
    float: right;

}
.nav-tabs{
    border: none;


}

.nav>li>a{
    display: block;
    height: 97px;
    margin: 0 5px;
    font-size: 16px;
    line-height: 93px;
    color: #fff;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.nav>li>a:hover{
    list-style: none;
    border: none;
    background: none;
}
.nav>li:hover{
    border: none;
    border-bottom: 3px solid #ffffff;
    background: none;

}

.carousel0{
    /*height: 300px;*/
    width: 100%;}
.keyboard1{
    height: 100px;
    width: 100%;
}
.carousel-inner>.item>img{
    display: block;
    /*height: 300px;*/
    width: 100%;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.primary{
    font-size: 2rem;
    margin-left: 10px;
}
.fifty{
    font-size: 4rem;
}
.yearly{

    font-size: 2rem ;
}
.carousel-control.right{
    right: 0;
    left: auto;
    font-size: 8rem;
    display: flex;
    align-items: center;
}
.carousel-control.left {
    right: auto;
    left: 10%;
    font-size: 8rem;
    display: flex;
    align-items: center;
    background: none;
}
.box1{
    height: 40px;
    width: 100%;
}
.rocket0{
    text-align: center;
}
.rocket{
    width: 55px;
    height: 69px;
}
.character1{
    text-align: left;
    font-size: 1.4rem;
}
.hight{
    font-weight: 900;
    font-size: 1.5rem;
    margin: 10px 0;
}
.user1{

    margin-top: 50px;
    text-align: center;
}
.total{
    margin: 20px 0;
}
.user3{
    margin: 15px 0;
}
.study{
    text-align:center;
    margin: 30px 0 30px 0;
    font-size: 2rem;
    font-weight: 900;
}
.li1{
    color: #000000;
}
.step{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
    height: 4rem;
}
.step1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.roll{
    width: 60px;
    height: 60px;
    font-size: 2rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #888;
    color: #29b078;
    flex-shrink: 0;
}
.boxs0{
    width: 66px;
    height: 30px;
}
.boxs{
    width: 32px;
    height: 30px;
}
.mate{
    /*margin: 0 20px 0 20px;*/
width: 40%;
}
.mate1{
    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px;
}
.strangle{
    /*padding: 0 0 0 0;*/
    /*float:right ;*/
    margin-right: 0;
}
.box00{
    height: 40px;
    width: 100%;
}
.box01{
    height:20px;
    width: 100%;
}
.box000{
    background: #ffffff;
    width: 100%;
}
.people{
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 2px #888;
    margin: 10px 10px ;
}
.name{
    font-size: 2rem;
    font-weight: 900;
    margin: 10px 0;
}
.avatar2{
    margin-top: 20px;
}
.introduce{
    margin: 0 20px 20px 20px;
}
.fourpoint{
    height:30px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.point1{
    width: 10px;
    height: 10px;
    background: #29b078;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0px 3px 5px #888;
}
.point{
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0px 3px 5px #888;
}
.strategy{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}


.col-md-3g{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.col-md-3g:hover{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 3px 5px #888;

}
.pic1{
    width: 100%;
    height: 100px;
    background: url("alibaba.png");
    background-position: 50%;
    background-repeat: no-repeat;
}
.pic2{
    width: 100%;
    height: 100px;
    background: url("king.png");
    background-position: 50%;
    background-repeat: no-repeat;
}
.pic3{
    width: 100%;
    height: 100px;
    background: url("ringletter.png");
    background-position: 50%;
    background-repeat: no-repeat;
}
.pic4{
    width: 100%;
    height: 100px;
    background: url("ronglian.png");
    background-position: 50%;
    background-repeat: no-repeat;

}
.pic5{
    width: 100%;
    height: 100px;
    background: url("sevencrow.png");
    /*background-size: 120%;*/
    background-position: 50%;
    background-repeat: no-repeat;
}
.col-md-3s{

    width: 10%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li1{

}
.footer{
    background: #29b078;
    color: #ffffff;
    width: 100%;
}
.about{
    color: #ffffff;
}
.command{
    font-size: 1.5rem;
}
.cao0{
    margin: 8px 0 9px 0;
    color: #ffffff;
}
.cao{
    margin-left: 10px;
    color: #ffffff;
}
.cao1{
    color: #ffffff;
}
.ptt{
    color: #ffffff;
}
.code{
    /*margin-top: -10px;*/
    text-align: center;

}
.company{
    text-align: center;
    padding-bottom: 10px;
}
@media screen and (max-width: 992px){
    .col-md-3g{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 30%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
    }
    .col-md-3s {
        width: 18%;

    }
}
@media screen and (max-width: 780px){
    .col-md-3g{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
    }
    .col-md-3s{
        width: 33%;
        display: inline-block;
    }
    .nav>li>a {
        display: block;
        height: 70px;
        margin: 0 5px;
        font-size: 16px;
        line-height: 93px;
        color: #fff;
        text-align: center;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 650px) {
    .carousel-caption {
        top: 25%;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .primary{
        font-size: 1rem;
        margin-left: 10px;
    }
    .fifty{
        font-size: 1.5rem;
    }
    .yearly {
        font-size: 1.5rem;
    }
    .carousel-indicators {
        position: absolute;
        bottom: -7px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }
}
@media screen and (max-width: 480px) {
    .carousel-caption {
        top: 20%;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    .primary{
        font-size: 1rem;
        margin-left: 10px;
    }
    .fifty{
        font-size: 1rem;
    }
    .yearly {
        font-size: 1rem;
    }
    .carousel-indicators {
        position: absolute;
        bottom: -7px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }
}