<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.mapper.CareerMapper">
  <resultMap id="BaseResultMap" type="com.jnshu.model.Career">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="threshold" jdbcType="BIGINT" property="threshold" />
    <result column="difficult" jdbcType="BIGINT" property="difficult" />
    <result column="growth_cycle" jdbcType="BIGINT" property="growthCycle" />
    <result column="scarcity" jdbcType="BIGINT" property="scarcity" />
    <result column="one_degree" jdbcType="VARCHAR" property="oneDegree" />
    <result column="two_degree" jdbcType="VARCHAR" property="twoDegree" />
    <result column="three_degree" jdbcType="VARCHAR" property="threeDegree" />
    <result column="belong_model" jdbcType="BIGINT" property="belongModel" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, introduction, threshold, difficult, growth_cycle, scarcity, one_degree, 
    two_degree, three_degree, belong_model, create_at, create_by, update_at, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from career
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from career
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jnshu.model.Career">
    insert into career (id, name, introduction, 
      threshold, difficult, growth_cycle, 
      scarcity, one_degree, two_degree, 
      three_degree, belong_model, create_at, 
      create_by, update_at, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{threshold,jdbcType=BIGINT}, #{difficult,jdbcType=BIGINT}, #{growthCycle,jdbcType=BIGINT}, 
      #{scarcity,jdbcType=BIGINT}, #{oneDegree,jdbcType=VARCHAR}, #{twoDegree,jdbcType=VARCHAR}, 
      #{threeDegree,jdbcType=VARCHAR}, #{belongModel,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{updateAt,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jnshu.model.Career">
    insert into career
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="difficult != null">
        difficult,
      </if>
      <if test="growthCycle != null">
        growth_cycle,
      </if>
      <if test="scarcity != null">
        scarcity,
      </if>
      <if test="oneDegree != null">
        one_degree,
      </if>
      <if test="twoDegree != null">
        two_degree,
      </if>
      <if test="threeDegree != null">
        three_degree,
      </if>
      <if test="belongModel != null">
        belong_model,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=BIGINT},
      </if>
      <if test="difficult != null">
        #{difficult,jdbcType=BIGINT},
      </if>
      <if test="growthCycle != null">
        #{growthCycle,jdbcType=BIGINT},
      </if>
      <if test="scarcity != null">
        #{scarcity,jdbcType=BIGINT},
      </if>
      <if test="oneDegree != null">
        #{oneDegree,jdbcType=VARCHAR},
      </if>
      <if test="twoDegree != null">
        #{twoDegree,jdbcType=VARCHAR},
      </if>
      <if test="threeDegree != null">
        #{threeDegree,jdbcType=VARCHAR},
      </if>
      <if test="belongModel != null">
        #{belongModel,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.model.Career">
    update career
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=BIGINT},
      </if>
      <if test="difficult != null">
        difficult = #{difficult,jdbcType=BIGINT},
      </if>
      <if test="growthCycle != null">
        growth_cycle = #{growthCycle,jdbcType=BIGINT},
      </if>
      <if test="scarcity != null">
        scarcity = #{scarcity,jdbcType=BIGINT},
      </if>
      <if test="oneDegree != null">
        one_degree = #{oneDegree,jdbcType=VARCHAR},
      </if>
      <if test="twoDegree != null">
        two_degree = #{twoDegree,jdbcType=VARCHAR},
      </if>
      <if test="threeDegree != null">
        three_degree = #{threeDegree,jdbcType=VARCHAR},
      </if>
      <if test="belongModel != null">
        belong_model = #{belongModel,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnshu.model.Career">
    update career
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=BIGINT},
      difficult = #{difficult,jdbcType=BIGINT},
      growth_cycle = #{growthCycle,jdbcType=BIGINT},
      scarcity = #{scarcity,jdbcType=BIGINT},
      one_degree = #{oneDegree,jdbcType=VARCHAR},
      two_degree = #{twoDegree,jdbcType=VARCHAR},
      three_degree = #{threeDegree,jdbcType=VARCHAR},
      belong_model = #{belongModel,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectAll"  resultMap="BaseResultMap" >
    select * from career
  </select>
</mapper>