<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载properties文件，获取properties文件的内容-->
    <context:property-placeholder location="classpath:properties/*.properties" />

    <bean id="des" class="com.tools.DES">
        <property name="password" value="${pwd}"/>
    </bean>

    <bean id="md5" class="com.tools.MD5"/>

    <bean id="jwt" class="com.tools.JwtUtil">
        <property name="key" value="${key}"/>
    </bean>

</beans>