html {
    font-size: 625%;
}

body {
    font-size: .18rem;
    color: #999999;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*页眉*/

header {
    background: #1d7ad9;
    color: #ffffff;
    font-size: .14rem;
}

.header {
}

.header span {
    float: left;
    line-height: .40rem;
    white-space: nowrap;
}

.btn-right {
    float: right;
    border-left: 1px #ffffff solid;
}

.btn-right a {
    display: inline-block;
    height: .40rem;
    width: .60rem;
    color: #ffffff;
    text-align: center;
    line-height: .40rem;
}

.btn-right a:hover {width: 1rem; color: #000000; background: #ffffff; text-decoration: none;}

/*导航栏*/

nav {
    background: #f9f9f9;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1rem;
}

.btn-group button {
    margin-left: .60rem;
    padding: .15rem;
    border: 0;
    border-radius: .05rem;
    color: #000000;
    background: #ffffff;
    box-shadow:0 0 3px #999999; 
}

/*下拉菜单*/

ul {
    margin: 0rem;
    padding: 0;
    list-style-type: none;/*去除无序列表默认圆点*/
    display: none;
}

li {
    text-align: center;
    line-height: .40rem;
    border-top: 1px #ccc solid;
}

nav label, #hanbao-menu, ul {
    display: none;
}

input[type=checkbox]:checked ~ ul {display: block}


li:hover {background: #1d7ad9; color: #ffffff;}
.btn-group button:hover {background: #1d7ad9; color: #ffffff;}
.btn-group button:hover a {color: #ffffff;}

/*流程图*/

.step {
    display: flex;
    justify-content: flex-end;
    margin: .30rem 0;
}

.step-unit {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .20rem;
}

.step .left,.step .right{
    display: inline-block;
    width: .60rem;
    height: .05rem;
    background: #ccc;
}

.step .center {
    display: inline-block;
    width: .24rem;
    height: .24rem;
    border-radius: .12rem;
    text-align: center;
    color: #ffffff;
    font-size: .16rem;
    background: #ccc;
}

.step-unit:hover .left{background: #ff7f02;}
.step-unit:hover .center{background: #ff7f02;}
.step-unit:hover .right{background: #ff7f02;}
.step-unit:hover span{color: #ff7f02;}

/*主体表单*/

h4 {
    display: inline-block;
    padding-left: .10rem;
    border-left: 3px #1d7ad9 solid;
    color: #000000;
}

.thumbnail {
    padding: 0;
}

.thead {
    padding: .10rem;
    color: #1d7ad9;
    background: #f3f3f3;
}

.box-type, .box-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fbfcff;
    border-bottom: 1px #f3f3f3 solid
}


label {
    margin: .20rem .30rem .20rem 0;
    font-weight: normal;
}

label div {
    display: inline-block;
    position: relative;
    top: .03rem;
    width: .18rem; 
    height: .18rem;
    background: url(images/circle-before.png);
} 

.radio-mod {
    opacity: 0;
} 

input[type="radio"]:checked + div { background: url(images/circle-after.png); }

select {
    margin: .20rem;
    width: 1.3rem;
    height: .40rem;
    border: 1px #f3f3f3 solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(images/drop-down.png) no-repeat 95% center #ffffff;
}

.caliber {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.caliber>span {
    margin-right: .50rem;
}

.next {
    margin: 1.4rem 0 1rem 0;
    display: inline-block;
    padding: .10rem;
    border: none;
    border-radius: .05rem;
    width: 1.8rem;
    color: #ffffff;
    background: #e15053;
}

.btn-next {
    text-align: center;
}

.next:hover {background: #1d7ad9;}

@media screen and (max-width: 768px) {

    nav {
        text-align: right;
        border-bottom: 1px #ccc solid;

    }

    .btn-group {
        display: none;
    }

    ul {
        margin: 0 -.30rem;
    }

    nav label {
        display: inline-block;
    }

    .step {
        display: flex;
        justify-content: center;
    }

    .step-unit {
        width: 25%;
    }

    .icon {
        width: 100%;
    }

    .icon .left, .icon .right {
        width: 45%;
        height: .05rem;
    }

    .caliber {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .box-size {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .caliber>span {
        margin: .10rem .25rem;
    }

    .next {
        margin: .50rem 0;
    }

}


aside {
    margin-top: .50rem;
    padding: .60rem 0;
    font-size: .14rem;
    background: #f9f9f9;
}

.aside-left {
    padding-left: .30rem;
    padding-bottom: .20rem;
}

.aside-center div {
    margin-bottom: .20rem;
}

.aside-center a {
    color: #999999;
}

.aside-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

aside img {
    height: .92rem;
}

.adress {
    width: 1.5rem;
}

.aside-center a:hover {color: #1d7ad9;}

/*页脚*/

footer {
    text-align: center;
    color: #ffffff;
    font-size: .14rem;
    padding: .12rem 0;
    background: #1d7ad9;
}

/*媒体查询*/

@media screen and (max-width: 992px) {

    aside {
    margin-top: .20rem;
    padding: .20rem 0;
    }   

    .aside-right {
        display: flex;
        justify-content: flex-start;
    }

    .aside-right img {
        position: absolute;
        left: .30rem;
    }

    .adress {
        position: relative;
        left: 1.2rem;
    }

}

