<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptteng.dao.ProfessionMapper">
    <resultMap id="BaseResultMap" type="com.ptteng.model.Profession">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="threshold" property="threshold" jdbcType="BIGINT"/>
        <result column="complexity" property="complexity" jdbcType="BIGINT"/>
        <result column="growth_cycle" property="growthCycle" jdbcType="VARCHAR"/>
        <result column="scarcity" property="scarcity" jdbcType="BIGINT"/>
        <result column="stage_one" property="stageOne" jdbcType="BIGINT"/>
        <result column="stage_two" property="stageTwo" jdbcType="BIGINT"/>
        <result column="stage_three" property="stageThree" jdbcType="BIGINT"/>
        <result column="create_at" property="createAt" jdbcType="BIGINT"/>
        <result column="update_at" property="updateAt" jdbcType="BIGINT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="picture" property="picture" jdbcType="VARCHAR"/>
        <result column="direction_id" property="directionId" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="Second" type="com.ptteng.model.Temp">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, introduction, threshold, complexity, growth_cycle, scarcity, stage_one, 
    stage_two, stage_three, create_at, update_at, create_by, update_by, picture, direction_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from profession
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from profession
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ptteng.model.Profession">
    insert into profession (id, name, introduction, 
      threshold, complexity, growth_cycle, 
      scarcity, stage_one, stage_two, 
      stage_three, create_at, update_at, 
      create_by, update_by, picture, 
      direction_id)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{threshold,jdbcType=BIGINT}, #{complexity,jdbcType=BIGINT}, #{growthCycle,jdbcType=VARCHAR}, 
      #{scarcity,jdbcType=BIGINT}, #{stageOne,jdbcType=BIGINT}, #{stageTwo,jdbcType=BIGINT}, 
      #{stageThree,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{directionId,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.ptteng.model.Profession">
        insert into profession
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="threshold != null">
                threshold,
            </if>
            <if test="complexity != null">
                complexity,
            </if>
            <if test="growthCycle != null">
                growth_cycle,
            </if>
            <if test="scarcity != null">
                scarcity,
            </if>
            <if test="stageOne != null">
                stage_one,
            </if>
            <if test="stageTwo != null">
                stage_two,
            </if>
            <if test="stageThree != null">
                stage_three,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="picture != null">
                picture,
            </if>
            <if test="directionId != null">
                direction_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="threshold != null">
                #{threshold,jdbcType=BIGINT},
            </if>
            <if test="complexity != null">
                #{complexity,jdbcType=BIGINT},
            </if>
            <if test="growthCycle != null">
                #{growthCycle,jdbcType=VARCHAR},
            </if>
            <if test="scarcity != null">
                #{scarcity,jdbcType=BIGINT},
            </if>
            <if test="stageOne != null">
                #{stageOne,jdbcType=BIGINT},
            </if>
            <if test="stageTwo != null">
                #{stageTwo,jdbcType=BIGINT},
            </if>
            <if test="stageThree != null">
                #{stageThree,jdbcType=BIGINT},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                #{picture,jdbcType=VARCHAR},
            </if>
            <if test="directionId != null">
                #{directionId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ptteng.model.Profession">
        update profession
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="threshold != null">
                threshold = #{threshold,jdbcType=BIGINT},
            </if>
            <if test="complexity != null">
                complexity = #{complexity,jdbcType=BIGINT},
            </if>
            <if test="growthCycle != null">
                growth_cycle = #{growthCycle,jdbcType=VARCHAR},
            </if>
            <if test="scarcity != null">
                scarcity = #{scarcity,jdbcType=BIGINT},
            </if>
            <if test="stageOne != null">
                stage_one = #{stageOne,jdbcType=BIGINT},
            </if>
            <if test="stageTwo != null">
                stage_two = #{stageTwo,jdbcType=BIGINT},
            </if>
            <if test="stageThree != null">
                stage_three = #{stageThree,jdbcType=BIGINT},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                picture = #{picture,jdbcType=VARCHAR},
            </if>
            <if test="directionId != null">
                direction_id = #{directionId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ptteng.model.Profession">
    update profession
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=BIGINT},
      complexity = #{complexity,jdbcType=BIGINT},
      growth_cycle = #{growthCycle,jdbcType=VARCHAR},
      scarcity = #{scarcity,jdbcType=BIGINT},
      stage_one = #{stageOne,jdbcType=BIGINT},
      stage_two = #{stageTwo,jdbcType=BIGINT},
      stage_three = #{stageThree,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      direction_id = #{directionId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByDynamicCondition" resultMap="BaseResultMap" parameterType="com.ptteng.model.Profession">
        select * from profession where 1 = 1
        <if test="directionId != null">
            and direction_id = #{directionId}
        </if>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select * from profession
  </select>

    <select id="selectStudentNumber" resultMap="Second">
   select profession.name,
   count(student.id) as total from student,
   profession where student.profession_id = profession.id
   GROUP BY profession.name
  </select>

</mapper>