html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
img,
ol,
ul,
li,
form,
label,
table {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1.4;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
* {
    box-sizing: border-box;
}
body {
    background: #fafafa;
}
a {
    text-decoration: none;
}
.row {
    overflow: hidden;
}
.button-nav {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height: 0 ;
    color: #fff;
}
.button-mid {
    background: #fff;
    border: 1px solid #eeeded;
    cursor: pointer;
    outline: none;
    color: #999;
    font-size: 1rem;
}
.row4-1 {
    color: #999;
    font-size: 16px;
    width: 223px;
    margin: 0 auto;
}
.row4-gaoxiao {
    height: 3rem;
    text-align: center;
}
.row4-gaoxiao b {
    font-size: 18px;
}
.man-number0 {
    border-left: 1px dashed #999;
    font-size: 18px;
    padding-left: 5rem;
}
.man-number1 {
    color: #29b078;
}
.man-number2 {
    color: #999;
    padding: 1rem 0;
}
.circle1 {
    border-radius: 50%;
    border: 1px solid #999;
    line-height: 0;
    padding: 2rem;
    color: #29b078;
    background: #fff;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
}
.circle2 {
    width: .65rem;
    border-radius: 50%;
    border: 1px solid #F3A846;
    line-height: 0;
    text-align: center;
    padding: .25rem 0;
    color: #29b078;
    display: inline-block;
}
.header {
    overflow: hidden;
    background: #fff;
}
.header .header-1 {
    width: 62.5%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
}
.header .header-1 div + div {
    float: right;
}
.header .header-1 .top1 {
    color: #29b078;
    display: flex;
    align-items: center;
    padding: .5rem 0;
}
.header .header-1 .topright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .33rem 0;
}
.header .header-1 .topright .button1 {
    background: url("http://localhost:81/task15/img/顶部雪碧图.png") 0 0 no-repeat;
    background-size: cover;
    width: 2em;
    height: 2em;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    padding: 0;
}
.header .header-1 .topright .button2 {
    background: url("http://localhost:81/task15/img/顶部雪碧图.png") 50% 0 no-repeat;
    background-size: cover;
    width: 2em;
    height: 2em;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    padding: 0;
}
.header .header-1 .topright .button3 {
    background: url("http://localhost:81/task15/img/顶部雪碧图.png") 100% 0 no-repeat;
    background-size: cover;
    width: 2em;
    height: 2em;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    padding: 0;
}
#frame {
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
}
#photos img {
    float: left;
    width: 33.33%;
    height: auto;
    display: block;
}
#photos {
    position: absolute;
    width: calc(300%);
    animation-direction: normal;
}
.play {
    animation: ma 12s ease infinite normal;
}
@keyframes ma {
    0%,
    30% {
        left: 0;
    }
    33%,
    60% {
        left: -100%;
    }
    63%,
    100% {
        left: -200%;
    }
}
.num {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    padding: .3%;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    left: 49%;
    z-index: 999;
    border: 1px solid #fff;
}
.num:focus {
    background-color: #fff;
}
.num:hover,
#photos:hover {
    animation-play-state: paused;
}
.num:nth-child(2) {
    left: 50%;
}
.num:nth-child(3) {
    left: 51%;
}
#a1:focus + #photos {
    animation: ma1 0.5s ease-out forwards;
}
#a2:focus + #photos {
    animation: ma2 0.5s ease-out forwards;
}
#a3:focus + #photos {
    animation: ma3 0.5s ease-out forwards;
}
.row2 {
    background-color: #29b078;
    overflow: hidden;
}
.row2 div + div {
    float: right;
    margin-right: 18.75%;
}
.row2 div + div div + div {
    margin-right: -20px;
}
.row2 .logo {
    float: left;
    padding: 22px 0;
}
.row2 .row2-button1 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height: 0 ;
    color: #fff;
}
.row2 .row2-button1:hover {
    border-bottom: 3px solid #fafafa;
    border-top: 3px solid #29b078;
}
.row2 .row2-button2 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height: 0 ;
    color: #fff;
}
.row2 .row2-button2:hover {
    border-bottom: 3px solid #fafafa;
    border-top: 3px solid #29b078;
}
.row2 .row2-button3 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height: 0 ;
    color: #fff;
}
.row2 .row2-button3:hover {
    border-bottom: 3px solid #fafafa;
    border-top: 3px solid #29b078;
}
.row2 .row2-button4 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height: 0 ;
    color: #fff;
}
.row2 .row2-button4:hover {
    border-bottom: 3px solid #fafafa;
    border-top: 3px solid #29b078;
}
.row4-div1 {
    width: 100%;
    display: flex;
    height: 4rem;
}
.row4-div1 .row4-rocket {
    height: 3rem;
    margin: 0 auto;
}
.row10 {
    font-size: 18px;
    margin: 5rem auto 3rem auto;
    text-align: center;
}
.how-to-learn {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.how-to-learn .row7-mid {
    padding: 0 1rem;
    color: #999;
    font-size: 14px;
}
.how-to-learn .page2-button {
    display: flex;
    justify-content: flex-end;
}
.row-9 {
    padding: 0 1em;
    box-sizing: border-box;
}
.row-9 .row9-button {
    background: #fff;
    border: 1px solid #eeeded;
    cursor: pointer;
    outline: none;
    color: #999;
    font-size: 1rem;
}
.row-9 .row9-button .row9-button-img {
    font-size: 18px;
    margin: 1em auto 2em;
    display: block;
}
.row-9 div {
    font-size: 18px;
    line-height: 26px;
    color: #000;
}
.row-9 div + div {
    font-size: 16px;
    line-height: 26px;
    margin: 1.5rem 1rem 2rem;
    text-align: start;
    color: #999;
}
main {
    overflow: hidden;
    width: 62.5%;
    margin: 0 auto;
}
main .main-body {
    overflow: hidden;
}
main .main-body .row-top {
    margin-top: 10rem;
}
main .four-shapes {
    text-align: center;
    margin-top: 24px;
}
main .row10-1 {
    font-size: 1.8rem;
    margin: 5rem auto 1rem auto;
    text-align: center;
}
main .row10-1 strong {
    font-size: 18px;
}
main button.row11-button1 {
    background: url("http://localhost:81/task15/img/战略合作企业.png") 1.5% 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
main button.row11-button1:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
main button.row11-button2 {
    background: url("http://localhost:81/task15/img/战略合作企业.png") 25.5% 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
main button.row11-button2:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
main button.row11-button3 {
    background: url("http://localhost:81/task15/img/战略合作企业.png") 50% 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
main button.row11-button3:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
main button.row11-button4 {
    background: url("http://localhost:81/task15/img/战略合作企业.png") 75% 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
main button.row11-button4:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
main button.row11-button5 {
    background: url("http://localhost:81/task15/img/战略合作企业.png") 99% 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
main button.row11-button5:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
footer .footer-left {
    height: 9rem;
    display: inline-block;
}
footer .a1 {
    color: #fff !important;
    text-decoration: none;
}
footer .a1 .JNS {
    padding: 1rem 0;
}
footer .a1 .JNS a {
    line-height: 20px;
}
footer .weixin-text {
    padding-top: 1rem;
    color: #fff;
}
footer .weixin-img {
    font-size: 1rem;
    height: 9rem;
}
.row-13 a {
    color: #999 !important;
}
.Official-website {
    background: #29b078;
    color: #fff !important;
}
.Official-website a {
    color: #fff !important;
}
.copyright {
    text-align: center;
    color: #fff;
    background: #29b078;
    border-top: 1px solid #32c086;
}
.row12 {
    text-align: center;
}
.row13-div {
    width: 10% !important;
    float: left;
}
.row13-div a {
    color: #000;
}
.row13-div a:hover {
    border-bottom: 1px solid #29b078;
}
.company {
    color: #29b078 !important;
    font-size: 14px;
}
.bg-img {
    width: 100%;
    overflow: hidden;
}
.list-main {
    border: 1px solid #ededed;
    background: #ffffff;
    padding: 0 !important;
    margin-top: 1rem;
}
.list-main .list {
    padding: 1rem 0;
    width: 90px;
    margin: 0 auto;
    font-family: 微软雅黑;
}
.list-main .list-top {
    font-size: 14px;
    width: 80px;
    margin: 0 auto;
    font-family: 微软雅黑;
    border-bottom: 1px solid #ededed;
    padding: .5rem 0;
}
.main-left-top {
    padding: 4.5rem 4.5rem 1rem 4.5rem;
    border: 1px solid #ededed;
    background: #fff;
    align-items: center;
    font-family: 微软雅黑;
}
.main-left-top:first-child {
    float: left;
}
.main-left-top .tudouwang {
    width: 6rem;
}
.row1 {
    color: #999;
    padding-left: 2rem;
    margin-bottom: 15rem !important;
}
.main-right {
    float: left;
    padding: 4.5rem;
    border: 1px solid #ededed;
    background: #fff;
    align-items: center;
    font-family: 微软雅黑;
}
.main-right p {
    line-height: 30px;
    font-size: 14px;
    text-indent: 30px;
}
.job-row3 {
    margin: 1rem 0;
}
.job-top {
    color: #29b078 !important;
}
.job-select {
    display: flex;
    border-top: 1px solid #d0d6d9;
    border-bottom: 1px solid #edf1f2;
    padding: 1rem 0;
}
.job-select .side {
    color: #999;
}
.job-select .job-type {
    margin: 0 0.5rem;
    color: #000 !important;
    text-decoration: none;
}
.job-select .job-type:hover {
    background: #29b078;
    color: #FFFFFF !important;
    text-decoration: none;
}
.star {
    background: url("http://localhost:81/task15/img/红五角.png") no-repeat center;
    background-size: cover;
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
    font-size: 12px;
}
.qianduan-top {
    font-family: 微软雅黑;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #d0d6d9;
}
table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    color: #999;
}
.div1 .table-head {
    display: flex;
    align-items: center;
}
.div1 .web-img {
    background: url("http://localhost:81/task15/img/职业头像.png") no-repeat center;
    background-size: cover;
    padding: 20%;
    margin: 5% 3%;
    height: 0;
    width: 0;
}
.div1 .pay {
    float: right;
}
.div1 .table-p {
    text-indent: 0;
    word-break: break-all;
}
.div1 .danteng {
    display: flex;
    align-items: center;
}
.divhover {
    animation: myfirst 4s alternate;
    visibility: hidden;
    position: absolute !important;
    background: #3d3d3d;
    color: #FFFFFF;
    line-height: 22px;
    margin-right: 15px;
    height: 100%;
    padding: 30% 15%;
    opacity: .76;
    animation-iteration-count: infinite;
}
@keyframes myfirst {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .18;
    }
    50% {
        opacity: .36;
    }
    75% {
        opacity: .54;
    }
    100% {
        opacity: .76;
    }
}
.div1:hover .divhover {
    visibility: visible;
}
.div1 {
    padding: 0 15px;
}
.ios {
    text-align: center;
    padding-bottom: 10%;
}
.size {
    margin: 3rem 0;
}
td {
    border: #eeeded solid thin;
    padding: 3% !important;
    font-size: 12px;
}
@media screen and (min-width: 1400px) {
    .newbutton {
        display: flex;
        justify-content: flex-end;
    }
    .newbutton button {
        font-size: 16px;
    }
    .newbutton .friendly-link {
        background: #fff;
        margin-top: 8rem;
        padding-bottom: 1rem;
    }
    .newbutton .friendly-link .row12 {
        text-align: center;
        font-size: 18px;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .newbutton .row12 {
        font-size: 18px;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .newbutton .link-list {
        padding-left: 15px;
        font-size: 14px;
        line-height: 26px;
        width: 62.5% !important;
        margin: 0 auto;
    }
    .newbutton .footer {
        width: 62.5%;
        margin: auto;
        padding-left: 15px;
    }
    .newbutton .footer .row-16 {
        padding-top: 1rem;
    }
    .newbutton .footer .weixin-text {
        text-align: center;
    }
    .newbutton .footer .weixin-img {
        text-align: center;
    }
    .newbutton .footer .JNS {
        font-size: 16px;
        color: #fafafa !important;
        padding: 2em 0 2rem 0;
    }
    .newbutton .col-lg-2,
    .newbutton .col-lg-3,
    .newbutton .col-lg-4,
    .newbutton .col-lg-9 {
        float: left;
        position: relative;
        padding-bottom: 1px;
    }
    .newbutton .col-lg-offset-2 {
        padding-left: 18.75%;
    }
    .newbutton .col-lg-2 {
        width: 20%;
    }
    .newbutton .col-lg-3 {
        width: 25%;
    }
    .newbutton .col-lg-4 {
        width: 33.33%;
    }
    .newbutton .col-lg-9 {
        width: 75%;
    }
    .newbutton .col-lg-12 {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-6 {
        float: left;
        position: relative;
        padding-bottom: 1px;
    }
    .col-md-1 {
        width: 8.333%;
    }
    .col-md-2 {
        width: 16.667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-6 {
        float: left;
        position: relative;
        padding-bottom: 1px;
    }
    .col-sm-1 {
        width: 8.333%;
    }
    .col-sm-2 {
        width: 16.667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .header .header-1 {
        margin: 0;
        width: 100%;
    }
    .header .header-1 .top1 {
        font-size: 14px;
    }
    .header .header-1 .topright {
        font-size: 14px;
    }
    .page2-button {
        float: right;
        background: url("http://localhost:81/task15/img/下拉菜单.png") no-repeat 0 0;
        width: 20px;
        height: 20px;
        position: relative;
        margin: 20px;
        background-size: cover;
    }
    div .page2-button:hover + .newbutton {
        position: static;
        display: block;
    }
    .newbutton {
        z-index: 1;
        display: none;
    }
    .row2 .newbutton:hover {
        position: static;
        display: block;
    }
    .logo {
        float: left;
    }
    .top1 {
        float: left;
        margin-left: 1rem;
    }
    .row2-button1 {
        width: 100%;
        border-top: 1px solid;
    }
    .row2-button2 {
        width: 100%;
    }
    .row2-button3 {
        width: 100%;
    }
    .row2-button4 {
        width: 100%;
    }
    .row2 div + div {
        margin-right: 0 !important;
        width: 100% !important;
    }
    .row2 div + div .button-nav {
        width: 100% !important;
    }
}
