*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 625%;
}
body{
	font-size: 16px;
	background-color: #68cdd5;
	color: #fff;
}
.main{
	position: relative;
	padding: 1rem 15%;
}
.back img{
	position: absolute;
	height: 27px;
	width: 27px;
	top: 0.1rem;
	left: 0.1rem;
}
.middle{
	margin-bottom: .7rem;
	text-align: center;
}
.middle_text p{
	font-size: 70%;
	font-weight: bold;
}
.middle img{
	width: 91px;
	height: 35px;
}
.middle_text{
	height: 1rem;
}
.footer{
	padding-top: .7rem;
}
.footer .left{
	display: inline-block;
	float: left;
	text-align: center;
}
.footer .right{
	display: inline-block;
	float: right;
	text-align: center;
}
.left img{
	width: 42px;
	height: 42px;
}
.right img{
	width:  42px;
	height: 42px;
}
.footer p{
	font-size: 50%;
}