/*main*/

main {
    margin: 0 auto;
    /*max-width: 940px;*/
}

.main-home {
    text-align: left;
    padding: .3rem 0 ;
    border-bottom: 2px solid #dedef8;
}

.profess {
    color: #29b078;
}

.main-type {
    /*display: inline-block;*/
    text-align: left;
    padding: .2rem 0 ;
    border-bottom: 1px solid #dedef8;
}
.direction {
    color: #cccccc;
}
.main-type > span {
    margin-right: .2rem;
}

.nav-bar-hover {
    transition: color 600ms;
    /*transition: background-color 700ms;*/
}
.nav-bar-hover > a {
    text-decoration: none;
    color: #000000;
    transition: color 600ms;

}
.nav-bar-hover:hover {
    background-color: #29b078;
    color: #ffffff;
    cursor: pointer;
}
.nav-bar-hover:hover > a {
    background-color: #29b078;
    color: #ffffff;
    cursor: pointer;
}
#css-js,
#java-python,
#mobile,
#OP {
    text-decoration: none;
    color: #000000;
    transition: color 600ms;
}

.main-web {
    text-align: left;
    padding: .3rem 0 ;
    border-bottom: 1px solid #cccccc;
}

.big-job-box {
    /*padding: 5px;*/
    padding-top: .5rem;
    padding-bottom: .3rem;
}

/*格子块*/
.main-type-web {
    text-align: left;
    padding: 1px;
    /*margin: .2rem;*/
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    display: inline-block;
    /*padding: 0;*/
    border-radius: 5px;


    /*transition: height 1s;*/
}

.cover-text {
    display: none;
    position: absolute;
    bottom: 0;
    /*top: 100%;*/
    color: #ffffff;
    background-color: rgba(0,0,0,.7);
    padding: 60px 32px 0 32px;
    line-height: 35px;
    text-align: center;
    /*width: 100%;*/
    border-radius: .1rem;

    /*transition: height 900ms;*/
}

.main-type-web:hover .cover-text {
    display: block;
    z-index: 10;
    height: 500px;
    cursor: pointer;

    /*visibility: visible;*/
    /*opacity: 1;*/
}

.cover-text > h4 {
    margin: 0;
    line-height: 24px;
    text-indent: 10px;
}
.cover-text > span {
    line-height: 24px;
    text-indent: 10px;
    /*text-align: left !important;*/
}



.main-job-div {
    border-bottom: 1px solid #cccccc;
    /*text-align: left;*/
    display: inline-block;
    /*float: left;*/
    padding-top: .2rem;
}

.main-job-div > p {
    /*width: 370px;*/
    font-size: 14px;
}
.main-job-div > h4 {
    margin-top: 27px !important;
}
.job-icon {
    transform: scale(.8,.8);
}

/*第二行*/
.main-difficulty {
    display: flex;
    font-size: 12px;
 }

.main-difficult-left,
.main-difficult-right {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    border-top: none;
    padding: 12px 20px;
    flex: 1;
}
.main-difficult-right {
    border-left: none;
    border-right: none;
}
.main-difficult-right > img {
    padding-left: 8px;
}
.main-difficult-left > img {
    padding-left: 8px;
}

/*第三行*/
.main-group {
    display: flex;
    font-size: 12px;
}

.main-group-left,
.main-group-right {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    border-top: none;
    padding: 12px 18px;
    flex: 1;
}
.main-group-right {
    border-left: none;
    border-right: none;

}

.group-1 {
    padding-left: 8px;
}

strong {
    color: #ff0000;
}

/*第四行*/
.big-money-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;

}
.main-money {
    flex: 0 0 40%;
}
.money-tri-box {
    flex: 0 0 60%;
    font-size: 12px;
}

.main-money {
    display: flex;
    font-size: 12px;
}

.main-money-title {
    padding-top: 63px;
    padding-left: 45px;
    /*border-right: 1px solid #cccccc;*/
    /*border-bottom: 1px solid #cccccc;*/
}

.money-box {
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 15px;
}
.bottom-box {
    border-bottom: none;
}
.month-money {
    float: right;
}

/*第五行*/
.main-study-ing {
    padding: 10px;
    font-weight: 800;
    border-bottom: 1px solid #cccccc;
    text-align: left;
}

/*第六行*/

.main-bottom-text {
    font-size: 5px;
    padding: 10px;
    text-align: center;
}