html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/bg.png) no-repeat 100% 100%;
  background-size: cover;
}

#login {
  padding: 20px;
  background-color: #d9e0ef;
}

h3 {
  color: #289dda;
  text-align: center;
}

.row {
  margin: 20px 0 0;
  background-color: #fff;
}

.row label {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 20px;
  margin: 15px;
  border-right: 2px solid #e8e8e8;
}

.row1 label {
  background: #ffffff url(img/avtar.png) no-repeat left center;
}

.row2 label {
  background: #ffffff url(img/lock.png) no-repeat left center;
}

#account,
#password {
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  color: #000;
}

#btnlogin {
  width: 100%;
  padding: 10px 0;
  margin: 30px 0 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #289dda;
  cursor: pointer;
  letter-spacing: 5px;
}
#btnlogin:disabled {
  opacity: .5;
}
#msg {
  height: 20px;
  margin: 5px;
  color: red;
  font-size: .8em;
}