a {
    text-decoration: none !important; }

.img-responsive {
    display: block;
    width: 100%;
    height: auto; }

.img-re {
    display: inline-block;
    width: 100%;
    min-width: 1px;
    height: auto; }
@media screen and (max-width: 767px) {
    .img-re {
        max-width: 50%; } }

body {
    background: #fafafa; }

header {
    height: 39px;
    line-height: 39px;
    background: #fff; }
header span {
    color: #2266bb; }
header a {
    color: #2266bb; }

nav {
    margin-bottom: 0px !important;
    border-bottom-width: 0px !important;
    background: #2266bb !important; }
nav button {
    color: #fff !important;
    background: #2266bb !important; }

#navbar-collapse li a {
    padding: 30px;
    font-size: 16px;
    color: #fff; }
#navbar-collapse li a:hover {
    border-bottom: 6px #fff solid; }
@media screen and (max-width: 767px) {
    #navbar-collapse li a {
        padding: 5px; } }

.occupation span {
    padding: 32px 0;
    display: block;
    border-bottom: 1px #d0d6d9 solid; }
.occupation span a {
    margin-right: 15px;
    color: #2266bb; }
.occupation span a:hover {
    color: #fff;
    background: #2266bb; }

.nav-strong strong {
    display: block;
    padding: 32px 0;
    font-size: 18px;
    border-bottom: 1px #d0d6d9 solid; }

#myCarousel .carousel-control img {
    position: absolute;
    top: 50%; }

.logo {
    margin: 10% 0 9%; }
.logo strong {
    display: block;
    font-size: 18px; }
.logo p {
    font-size: 16px;
    color: #999; }

.stream strong {
    margin-bottom: 5%;
    font-size: 18px; }
.stream .circular {
    display: inline-block;
    margin-bottom: 10%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #2266bb;
    box-shadow: 1px 1px 2px #999;
    border-radius: 50%; }
.stream p {
    margin: 0 5%;
    display: inline-block;
    width: 150px; }
.stream img {
    position: absolute;
    top: 25px;
    left: 95%; }

.number {
    margin-top: 20px;
    border-left: 5px #999 dashed; }
@media screen and (max-width: 769px) {
    .number {
        border-left: 0; } }
.number strong {
    margin: 1px 0 0 -40%;
    font-size: 18px; }
.number span {
    font-size: 18px;
    color: #999; }

.student strong {
    display: block;
    margin: 2% 0;
    font-size: 18px; }
.student img {
    display: block;
    margin: 19px auto 36px; }
.student p {
    margin-bottom: 41px;
    padding: 0 12.22222%;
    font-size: 16px;
    color: #999; }

.student-border {
    margin: 0 2.08333%;
    width: 20.83333%;
    background: #fff;
    box-shadow: 1px 1px 2px #eeeded; }

.login-border {
    padding-left: 5px;
    border-left: 1px #2266bb solid; }

.small-circle {
    margin: 2% 0; }
.small-circle span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    box-shadow: 1px 1px 2px #999;
    border-radius: 50%; }
.small-circle span:hover {
    background: #2266bb; }

.cooperation strong {
    display: block;
    margin: 2% 0; }

.cooperation-warp {
    display: inline-flex;
    justify-content: center; }

.img-shadow {
    margin: 2% 1%;
    background: #fff; }
.img-shadow:hover {
    box-shadow: 5px 5px 50px #2266bb; }

.friends {
    background: #fff; }
.friends strong {
    display: block;
    margin: 2% 0;
    font-size: 18px; }
.friends li {
    display: inline;
    white-space: nowrap; }
.friends li a {
    color: #999; }

footer {
    color: #fff;
    background: #2266bb; }
footer strong {
    display: inline-block;
    margin: 37px 0;
    font-size: 16px; }
footer span {
    display: block; }
footer a {
    display: inline-block;
    margin: 5px 5px 20px 0;
    font-size: 14px;
    color: #fff; }
footer a:hover {
    border-bottom: 1px #fff solid; }

.link-middle {
    margin-top: -15px; }
.link-middle a {
    display: inline-block;
    margin: 10px 15px 10px 0;
    color: #fff; }
.link-middle a:hover {
    border-bottom: 1px #fff solid; }

@media screen and (max-width: 767px) {
    .media-stream {
        margin-left: -15%; } }
@media screen and (max-width: 767px) {
    .media-stream {
        margin-left: -10%; } }
@media screen and (max-width: 375px) {
    .media-stream {
        margin-left: -5%; } }

@media screen and (max-width: 769px) {
    .media-student {
        width: 100%;
        padding: 0; } }

.border-top {
    margin: 10px 0;
    padding: 15px;
    border-top: 1px #fff solid; }

main {
    background: #fafafa; }
main a {
    color: #2266bb; }
main span {
    display: block; }

.left-list {
    display: inline-block;
    float: left;
    margin: 26px;
    width: 15.625%;
    background: #fff; }
.left-list a:hover {
    color: red; }
@media screen and (max-width: 769px) {
    .left-list {
        width: 90%; } }
.left-list strong {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    box-shadow: 1px 1px 2px #666; }
.left-list ul {
    list-style: none;
    list-style-image: url(../img/r.png);
    box-shadow: 1px 1px 2px #666; }
.left-list ul li {
    text-indent: -15%;
    padding: 20px 0; }

.right-list {
    display: inline-block;
    margin: 26px;
    padding: 50px;
    width: 70%;
    background: #fff;
    color: #999999;
    text-indent: 50px;
    box-shadow: 1px 1px 2px #666; }
.right-list img {
    float: left;
    margin-right: 50px;
    box-shadow: 1px 1px 2px #999; }
.right-list strong {
    font-size: 30px; }

/*# sourceMappingURL=groom.css.map */
