body{
  padding: 0;
  margin: 0 auto;
  max-width: 768px;
  min-width: 320px;
  height: 100vh;
}
.fjac{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0  2% ;
  color: white;
  background-color:#34bddd ;
}
.arrow{
display: inline-block;
width: 8px;
height: 8px;
border-top: 5px solid white;
border-right: 5px solid white;
transform: rotate(225deg);
}
main{
  height: 80%;
  padding-top: 2vh;
background-color: #f0f0f0;
  .main{
    width: 96%;
    margin: 1px 2%;
    .top{
      display: flex;
      height: 40vh;
      background-color: white;
      border: 1px solid silver;
      .topleft{
        width: 20%;
        height: 100%;
        font-size: 2rem;
        border-right: 1px solid silver;
      }
      .topright{
        width: 80%;
        height: 100%;
        .tr1{
          display: flex;
          flex-wrap: wrap;
          height: 85%;
          overflow: auto;
            div{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50%;
              height: 40px;
            span{
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background-color: #5bc0de;
            }
          }
        }
        .tr2{
          height: 15%;
          border-top: 1px solid silver;
          button{
            color: #34bddd;
            font-size: 1.2rem;
            border: none;
            background-color: white;
            outline: none;
          }
        }
      }
    }
    .middle{
      height: 16vh;
      margin: 1vh 0;
      background-color: white;
      input{
        width: 90%;
        height: 6vh;
        margin:0 5%;
        border: none;
        border-bottom: 1px solid silver;
        outline: none;
      }
    }
    .bottom{
      height: 20vh;
      background-color: white;
      .num{
        height: 40%;

        input{
          width: 40px;
          border: none;
          text-align: center;
          font-size: 30px;
        }
      }
      .slider{
        button{
          width: 30px;
          color: orange;
          font-size: 20px;
          background-color: white;
          border: 1px solid silver;
          outline: none;

        }
      }
    }
  }
}

footer{
  background-color: #f0f0f0;
  button{
    width: 96%;
    margin: 1vh 2%;
    line-height: 8vh;
    text-align: center;
    color: white;
    background-color: orange;
    border: none;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 200px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background-color: orange;
  //滑动条样式
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 35px;
  margin-top: -5px;
  background: url(../IMG/js-task2-p3.png) no-repeat;
  background-size: contain;
  //滑动按钮样式
}