body{
  margin: 0;
  height: 100vh;
  background: url(../IMG/login.jpg);
  background-size: 100% 100%;
}
.fjac{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  flex-direction: column;
  width: 300px;
  height:300px;
  text-align: center;
  font-size: 1rem;
  background-color:rgba(240,230,140, 0.01) ;
  span{
    color: white;
  }
  input{
    width:200px;
    height: 30px;
    padding-left: 50px;
    margin: 20px 0;
    border: 1px solid silver;
    border-radius: 5%;
    outline: none;
   }
    .account{
      background-size: 25px 25px ;
      background-color:rgba(240,230,140, 0.01) ;
    }
  img{
    position: absolute;
    top:25px;
    left: 10px;

  }
    .password{
      background: url(../IMG/task11-locked.png) no-repeat left  5% center ;
      background-size: 20px 28px;
  }
  button{
    width:30%;
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid silver;
    outline: none;
  }
}