body{
  padding: 0;
  margin: 0 auto ;
  min-width: 320px;
  max-width: 768px;

}
.icon {
  background: url(../IMG/task6sprites.png) no-repeat;
  background-size: 149px 47px;
}
header {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  min-width: 320px;
  max-width: 768px;

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #5bc0de;
    button{
      width: 18%;
      height: 30px;
      margin-right: -2%;
      outline: none;
      border: none;
      border-radius: 10%;
    }
    .btn-hleft{
      color: white;
      background-color: #0c5460;
    }
    .btn-hright{
      color: #5bc0de;
      background-color: white;
    }
    .icon1{
      position: absolute;
      top: 1rem;
      right: 3vw;
      height:22px;
      width:21px;
      background-position:-38px 0;
    }
  }

  .selectbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid silver;
    select{
      width: 33%;

      margin: 10px 0;
      font-size: 1rem;
      border: none;
      outline: none;
      text-align-last: center;

      option{

      }
    }
    .select1{
      border-left: 1px solid silver;
      border-right: 1px solid silver;
    }
  }
}
main{
  position: fixed;
  top: 101px;
  bottom: 50px;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  overflow-x: hidden;
  overflow-y: auto;
  .details{
    position: relative;
    width: 100%;
    border-bottom: 1px solid silver;
    .time{
      width:100%;
      height: 30px;
      padding-left: 20px;
      color: silver;
    }
    .date{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30px;
       div{
         margin: 0 20px;
       }
      .hidden{
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* 文字过长是显示省略号*/
      }
    }
    .icon2{
      position: absolute;
      top: 5px;
      left: 5px;
      height:12px;
      width:12.3px;
      background-position:-25.5px 0;
    }
    .icon3{
      position: absolute;
      top: 35px;
      right: 5px;
      height:16px;
      width:9px;
      background-position:-16px 0;
    }
    .icon4{
      position: absolute;
     top: 65px;
      left: 5px;
      height:11px;
      width:9.3px;
      background-position:-6.5px 0;
    }
  }
}


footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  min-width: 320px;
  max-width: 768px;
  border-top: 1px solid silver;
  .ficon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    margin: 0 10%;
  }
  .icon5{
    height:20px;
    width:22px;
    background-position:-80px 0;
  }
  .icon6{
    height:47px;
    width:47px;
    background-position:-102px 0;
  }
  .icon7{
    height:20px;
    width:21px;
    background-position:-58px 0;
  }
}