body{
    margin:0;
    min-width:320px; 
    max-width: 640px;
    margin:0 auto;
    background:#f0f0f0; 
}
header{
    position: relative;
    /* top:0; */
    width:100%;
    background: #29bde0;
    height:45px;
    color:#fff;
    line-height: 45px;
    text-align:center;
    font-size:17px;
} 
header img{
    position: absolute;
    height:22px;
    top:11px;
    cursor: pointer;
}
.h-i1{    
    width:12px;   
    left:10px;  
}
.h-i2{ 
    width:22px;
    right:10px;
}