html{
    font-size: 100px;
}
main{
    background: #29bde0; 
    padding:0.42rem 0;
    border-top: 1px solid #74e4db;
    line-height: 0;
    text-align: center;
}
.out-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.26rem;
    height:3.22rem;
    margin:0 auto;
    border:3px solid #fff ;
    background: #ffedc5;
}
.num{
    position: absolute;
    top:-20px;
    left:calc(50% - 20px);
    width:34px;
    height:34px;
    border: 3px solid #ffedc5;
    border-radius: 50%;
    color: #f56b81;
    font-size: 0.2rem;
    line-height: 34px;
    text-align: center;
    background: #fff;
}
.bg1{
    width:1.5rem;
    height:1.5rem;
}
.bg2{
    width: 1.11rem;
    height: 1.11rem;
}
.sea-t{
    font-size: 0.2rem;
    line-height: 0.5;
}
.p1{
    color: #29bde0;
}
.p2{
    color: #f56b81;
}
.sea-b{
    padding: 0 0.1rem;
    border-top: 2px solid #fff;
    color: #fca000;
    font-size: 0.13rem;
    line-height: 0.15rem;
    text-align: left;
}
.btn{
    width:2.45rem;
    height:0.43rem;
    margin:0.62rem auto 0;
    color: #fff;
    font-size:24px;
    line-height: 0.43rem;
    background: #fbb435;
    border: none;
    outline: none;
}