html{
    font-size: 100px;
}
body{
    min-width:0;
}
header,footer{
    position:fixed;
    z-index: 1;
    width: 100%;
    max-width: 640px;
}
header{
    top: 0;
    border-bottom: 1px solid #74e4db; 
}
main,footer{
    background: #29bde0;
    line-height: 0;   
}
main{
    min-height:100vh;
    margin: 0 auto;
    padding: 45px 0 1rem;
    overflow: hidden;
}
.main-t{
    line-height: 0;
}
.mtt{
    display: flex;
    align-items: center;
    height: 0.45rem;
    margin: 0;
    padding-left: 25px;
    font-size: 0.13rem;
    line-height: 1.5;
    background: #b9e9f5;
}
.mtb{
    position: relative;
    margin: 0;
    padding: 15px 0;
    font-size: 0.12rem;
    color: #fff;
    padding-left: 40px;
    line-height: 1.5;
}
.jiao{
    position: absolute;
    top: 0;
    left: 30px;
    width:0;
    height:0;
    border-width: 10px 10px 0 10px ;
    border-style: solid;
    border-color: #b9e9f5 transparent transparent transparent;/*透明 兰 透明 透明 */
} 
.play-box{
    overflow: hidden;
}
.player{
    float: left;
    width: 20vw;
    max-width: 128px;
    height: 20vw;
    max-height: 128px;
    margin-left: 10%;
    margin-bottom: 10%;
    border: 3px solid #fff;
    box-sizing: border-box;
}
.play-t,.play-b{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.play-t{
    height: 70%;
    font-size: .15rem;
    background: #fbb435;
}
.play-b{
    height: 30%;
    font-size: .11rem;
    color: #fff;
    background: #83b09a;
}
footer{
    bottom: 0;
    text-align: center;
}
footer button{
    width: 80%;
    height: 0.4rem;
    margin: 0.2rem auto ;
    font-size: 0.2rem;
    color: #fff;
    background: #fbb435;
    border: none;
    outline: none;
}
