html{
    font-size: 100px;
}
header,footer{
    position: fixed;
    max-width: 640px;
    background: #29bde0;
}
header{
    top: 0;
    border-bottom:1px solid #74e4db;
}
.h-i1{
    width:25px;
}
.main-t{
    margin-top: 45px;
    background: #29bde0;
}
p.endword{
    position: relative;
    top: 1.63rem;
    width: 100%;
    font-size: .28rem;
    color: #fff;
    text-align: center;

}
.main-m,.main-b{
    padding: .1rem .5rem;
}
.main-m{
    font-size: .13rem;
    color: #fff;
    background: #29bde0;
}
.imgbox{
    text-align: center;
}
.bgimg{
    width: 2.5rem;
}
.main-b{
    background: #fff;
}
p.notep{
    padding: 5px 0;
    font-size: 0.13rem;
    color: #a6a6a6;
}