html{
    font-size:100px;
    line-height: 0;
}
.date{
    width: 90%;
    margin: 30px auto;
    border: 1px solid #c9c9c9;
    font-size: 0.15rem;
    line-height: 0.38rem;
    color: #29bde0;
    text-align: center;
    background: #fff;
}
.date>p{
    margin: 0;
    border-bottom: 1px solid #c9c9c9;
}
.days{
    position: relative;
    margin-left: 20px;
    padding: 15px;
    border-left: 2px solid #c1c1c1;
    color: #fff;
}
.days p{
    position: relative;
    width: 90%;
    margin: 15px auto;
    background: #29bde0;
}
.p5{
    background: #ccc!important;
    pointer-events: none;
}
.daylight{
    margin: .5rem 0;
}
.jiao{
    position: absolute;
    left: -12px;
    width:0;
    height:0;
    border-width:19px 26px 19px 0;
    border-style:solid;
    border-color:transparent #29bde0 transparent transparent;/*透明 黄 透明 透明 */
}
.jiao5{
    border-color:transparent #ccc transparent transparent;/*透明 黄 透明 透明 */
}
.moon,.sun{
    position: absolute;
    left:-18px;
    width:35px;
}
.moon{
    top: 33px;
}
.sun{
    top: 110px;
}
#record1,#record2{
    background: #ccc;
}
footer{
    position: fixed;
    display: flex;
    z-index: 1;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 640px;
    background: #29bde0;
    
}
footer button{
    margin: .15rem .2rem;
    padding: .15rem;
    border:none;
    width: 40%;
    font-size: .18rem;
    color: #fff;
    background: #fbb435;
    border-radius: 5px;
}