body{
    margin:0;
    min-width:320px;  
}
header{
    background: #29bde0;
    height:45px;
    color:#fff;
    line-height: 45px;
    text-align:center;
    font-size:17px;
} 
header img{
    width:12px;
    height:22px;
    position: absolute;
    left:10px;
    top:11px;
    cursor: pointer;
}
main{
    padding:40px 28px;
}
.div1,div2{
    border-bottom: 1px solid #c1c1c1;
    padding-bottom:18px;
}
.span1{
    font-size:17px;
    font-weight: bold;
}
.span1 img{
    width:18px;
    height:13px;
}
.span2{
    float:right;
    color:#b0b0b0;
    font-size:12px;
}
.p-b{
    color:#868686;
    font-size:13px;
    line-height:1.5;
}