body{
    margin:0;
    min-width:320px;  
}
header{
    background: #29bde0;
    height:45px;
    color:#fff;
    line-height: 45px;
    text-align:center;
    font-size:17px;
} 
header img{
    width:12px;
    height:22px;
    position: absolute;
    left:10px;
    top:11px;
    cursor: pointer;
}
main{
    padding:40px 28px;
}

h3{
    font-size:18px;
    color:#4e4e4e;
}
.div1 p{
    margin:0;
    padding-bottom: 40px;
    border-bottom: 1px solid #c1c1c1;
    font-size:13px;
    color:#868686;
    letter-spacing: 1px;
}
.div2 p{
    height:40px;
    margin:0;
    border-bottom: 1px solid #c1c1c1;
    font-size:18px;
    color:#4e4e4e;
    line-height:40px;
    letter-spacing: 1px;
}
.div2 img{
    float:right;
    width:10px;
    height:20px;
    margin-top:8px;
}
.div2 span{
    float:right;
    letter-spacing: 0;
}
.p1,.p2{
    cursor: pointer;
}
.div3{
    display: flex;
    margin-top:50px;
    justify-content: space-between;
}
.div3 img{
    width:20vw;
    height:20vw;
    min-width:80px;
    min-height:80px;
}
.div3 p{
    margin:0;
    line-height:1.5;
    font-size:13px;
    color:#4e4e4e;
}