body{
    margin:0;
    min-width:320px;  
}
header{
    background: #29bde0;
    height:45px;
    color:#fff;
    line-height: 45px;
    text-align:center;
    font-size:17px;
} 
header img{
    width:12px;
    height:22px;
    position: absolute;
    left:10px;
    top:11px;
    cursor: pointer;
}
main{
    padding:40px 28px;
}
.volume{
    width:80%;
    margin:0 auto;
}
.vol1,.vol2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vol1 span{
    font-size:17px;
    color:#595959;
}
button{
    border:none;
    outline:none;
}
.vol2{
    margin:40px 0;
}
.vol2 img{
    width:30px;
    height:21px;
}
input[type=range]{
    width:80%;
    height:5px;
    -webkit-appearance: none;/* 清除默认样式 */
    background: #fbb435;  
    outline:none;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:22px;
    height:22px;
    background: #fbb435;
    border-radius: 50%;
}