html{
    font-size:100px;
    line-height: 0;
}
body{
    background: #fff;
}
p.notep{
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 0.13rem;
    line-height: 1.5;
    color: #a6a6a6;
}

footer{
    position: fixed;
    display: flex;
    z-index: 1;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 640px;
    background: #29bde0;
    
}
footer button{
    margin: .15rem .2rem;
    padding: .1rem;
    border:none;
    width: 40%;
    font-size: .18rem;
    color: #fff;
    background: #fbb435;
    border-radius: 5px;
}