html{
    font-size:625%;
}
body{
    margin:0;
    min-width:320px;
    background:#29BDE0;
}
.div-img{
    text-align:center;
    padding-top:1rem;
}
.img1{
    width:2.13rem;
    height:2.45rem;
}
.div-img >p{
    color:#fff;
    font-size:0.2rem;
}
.skip{
    position: absolute;
    right:10px;
    top:10px;
    padding:2px 8px;
    background-color: rgba(34, 34, 34, 0.6);
    border-radius: 10px;
    font-size:0.14rem;
    color:#fff;    
}
.skip >a{
    color:#fff;  
    text-decoration: none;
}