body{
    margin:0;
    min-width:320px;  
}
header{
    background: #29bde0;
    height:45px;
    color:#fff;
    line-height: 45px;
    text-align:center;
    font-size:17px;
} 
header img{
    width:12px;
    height:22px;
    position: absolute;
    left:10px;
    top:11px;
    cursor: pointer;
}
main{
    padding:40px 28px;
}
ul,li{
    margin:0;
    padding:0;
    list-style: none;
    font-size:13px;
    color:#868686;
    line-height:1.6;
}
li{
    margin:10px 0;
}
li::before{
    content:"";
    float:left;
    margin-left:-10px;
    margin-top:5px;
    width:8px;
    height:8px;
    background:#fbb435;
}
h3{
    font-size:18px;
}
button{
    width:90%;
    height:43px;
    position:fixed;
    left:5%;
    border:none;
    background:#fbb435;
    outline:none;
    cursor: pointer;
    color:#fff;
    font-size:20px;
    border-radius: 5px;
}
.btn1{
    bottom:80px;
}
.btn2{
    bottom:20px;
}

