body{
    margin:0;
    min-width:320px;
    overflow: hidden;   
}
header{
    background: #29bde0;
    height:45px;
} 
.wrap{
    position:absolute;
    top:0px;
    left:10px;
    color:#fff;
    font-size:45px;
    line-height:45px;   
}
.wrap label{
    cursor: pointer;/*光标样式（小手） */
    user-select: none; /*进制选中字体*/
}
#sidemenu{
    display:none;
}
#sidemenu:checked + aside {
    left:0; 
    background: #fff;
    height:100vh;
    box-shadow:0 0 5px inset;
    z-index:99999;
}
#sidemenu:checked ~ main{
    opacity: 0.5;  
 
}
aside{
    position: absolute;
    top:45;
    left:-80vw;
    width:80vw;
    transition: .5s ease;
}
ul,li{
    margin:0;
    padding:0;
    list-style: none;
    font-size:15px;
    color:#29bde0;
}
li{
    padding:13px 20px;
    border-bottom: 1px solid #D6D6D6;
    cursor: pointer;
}
i{
    display: inline;
    float:left;
    margin: 2px 5px 0 0;
    height: 20px;
    width: 16px;
    background:url(../img/2-sprite.png) no-repeat;
    background-size: 82px;
}
.i1{
    background-position:0 0;
}

.i2{
    background-position: -18px,0;
}
.i3{
    background-position: -36px,0;
}
.i4{
    background-position: -54px,0;
}
.i5{
    background-position: -72px,0;
    float:right;
}
main{
    background:#f0f0f0;
    transition: .5s ease-out;
    width:100%;
    overflow: hidden;
}
.game,.search{
    width:90%;
    margin:25px auto;
    text-align:center;    
    background:#fff;
    border:1px solid #C9C9C9;
    position: relative;  
}  
.search{
    color:#9a9a9a;
    font-size:17px; 
}
.search img{
    position:absolute;
    right:15px;
    top:17px;
    width:12px;
    height:20px;
}
.title{
    color:#fbb435;
    font-size:18px;
    border-bottom:2px solid #fdd793;    
}
button{
    color:#fff;
    font-size:16px;
    width:80%;
    margin:10px auto;
    padding:20px 0;
    border:none;
    outline:none;
    background:#69d1e9;
    cursor: pointer;
}
.peoples{
    color:#787878;
    font-size:12px;
}
.dot span{
    display:inline-block;
    width:9px;
    height:9px;
    background:#f0f0f0;
    border-radius:50%;
}
span.dot1{
    background:#69d1e9;
}
.game>img{
    width:14px;
    height:28px;
    position:absolute;
    right:10px;
    top:210px;
    cursor: pointer;
}