@charset "UTF-8";
/* 变量 */
/* 混合 */
html {
  font-size: 312.5%;
}

/* 去除标签默认属性 */
body {
  margin: 0;
  font-size: initial;
}

ul, li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #69D1E9;
}

.page {
  overflow: hidden;
}

body {
  background: #69D1E9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 0 .3rem;
  top: 0;
  left: 0;
  right: 0;
  height: 1.28rem;
  background: #69D1E9;
  z-index: 1;
}

header .left {
  width: 0.3rem;
  height: 0.3rem;
  border-top: .05rem solid #FFFFFF;
  border-left: .05rem solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header h4 {
  font-size: .34rem;
  color: #FFFFFF;
  letter-spacing: .06rem;
}

header .right {
  position: relative;
  margin-right: .16rem;
  width: 0.05rem;
  height: 0.5rem;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .right span {
  position: absolute;
  width: 0.05rem;
  height: 0.5rem;
  background: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main {
  margin-top: 1.28rem;
  border-top: 0.01rem solid rgba(255, 255, 255, 0.9);
}

main .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .86rem auto 0 auto;
  width: 70vw;
  height: 6.6rem;
  border: .08rem solid #FFFFFF;
  background: #FFEDC5;
}

main .box #number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -.38rem;
  width: 0.68rem;
  height: 0.68rem;
  color: red;
  font-size: .38rem;
  border-radius: 50%;
  border: .05rem solid #FFEDC5;
  background: #FFFFFF;
}

main .box #photo {
  width: 3rem;
  height: 3rem;
  background: url(../img/huangdi.png) no-repeat;
}

main .box .box_p {
  display: none;
  position: absolute;
  text-align: center;
}

main .box .box_p #photo_p {
  display: inline-block;
  width: 2.22rem;
  height: 2.22rem;
  background: url(../img/meizi.png) no-repeat;
}

main .box .box_p #player {
  font-size: .36rem;
  color: #29BDE0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F0F0F0;
  z-index: 1;
}

footer button {
  margin-bottom: .3rem;
  padding: .2rem 0;
  width: 80%;
  letter-spacing: .06rem;
  font-size: .5rem;
  outline: none;
  border: none;
  color: white;
  background: orange;
}
/*# sourceMappingURL=see.css.map */