body {
    margin: 0;
}

p {
    margin: 0;
}
a{
    color: #333;
}
a:hover {
    text-decoration:none;
    color: #fff;
}  
.a {
    color: #fff;
}


.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-top {
    height: 3.2rem;
    line-height: 3.2rem;
}

.register {
    float: right;
    height: 3.2rem;
}

.qq {
    margin: 0 1rem;
    display: inline-block;
    width: 2rem;
    height: 2.5rem;
    background: url(../img/img2.png) no-repeat 0 -.4%/1060%;
}

.sine {
    display: inline-block;
    width: 2rem;
    height: 2.5rem;
    background: url(../img/img2.png) no-repeat 0 1.5%/1061%;
}

.n {
    margin: 0 2rem 0 1rem;
    display: inline-block;
    width: 2rem;
    height: 2.5rem;
    background: url(../img/img2.png) no-repeat 0 3.5%/1060%;
}

.register>p {
    display: inline-block;
    vertical-align: top;
}

.separator {
    display: inline-block;
    border-left: #29b078 solid 1px;
    padding-top: 1rem;
    margin: auto 0.652rem;
    font-size: 0;
}

.register1 {
    float: right;
    margin-right: 1rem;
}

.box {
    background-color: #29b078;
    line-height: 6.25rem;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}


.log {
    width: 100%;
}

.hidden-xs>ul {
    float: right;
}

.list1 {
    height: 6.35rem;
    display: inline-block;
    margin: 0 0.8rem;
    font-size: 1.6rem;
    color: #fff;
}
.margin-right {
    margin-right: 0;
}

.list1:hover {
    border: solid;
    border-width: 0 0 0.4rem 0;
}

.log-box {
    width: 20rem;
    display: inline-block;
}

.down-list {
    width: 4rem;
    text-align: center;
    background-color: rgba(174, 189, 192, 0.5);
    line-height: 4.5rem;
    position: absolute;
    right: 1rem;
    top: 4.1rem;
    border-radius: 0.5rem;
}

.list2 {
    background-color: #29b078;
    color: #fff;
    text-align: center;
    line-height: 4.5rem;
}

.list2:hover {
    background-color: #38c58a;
}

.carousel-inner>.item>img {
    margin: auto;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 70%;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 70%;
}

.carousel-control {
    width: 20%;
}

.rocket {
    width: 3rem;
    height: 5rem;
    background: url(../img/img2.png) no-repeat 0 6.3%/586%;
    margin: 0 auto;
}

.book {
    width: 5rem;
    height: 5rem;
    background: url(../img/img2.png) no-repeat 0 15.3%/420%;
    margin: 0 auto;
}

.people {
    width: 4rem;
    height: 5rem;
    background: url(../img/img2.png) no-repeat 0 11%/489%;
    margin: 0 auto;
}

.man {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url(../img/img2.png) no-repeat 44% 0.3%/1526%;
}

.margin-top {
    margin-top: 10rem;
}

.strong {
    text-align: center;
    margin: 2rem 0;
}

.synopsis {
    width: 21rem;
    color: #999;
    margin: 0 auto;
}

.statistics {
    width: 24rem;
    height: 21rem;
    padding-top: 6rem;
    border-left: 0.15rem dashed #dedede;
    padding-left: 7rem;
}

.synopsis-style {
    font-size: 1.8rem;
}

.number {
    vertical-align: top;
    color: #26a26f;
}

.synopsis1 {
    color: #999;
    line-height: 4rem;
}

.center {
    text-align: center;
}

.title1 {
    text-align: center;
    margin: 15rem auto 2rem;
    font-size: 1.8rem;
}

.guiding {
    font-size: 2rem;
    position: relative;
    margin: 5rem 0;
}

.circle {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 0.3rem #888;
    margin-right: 0.5rem;
    color: #26a26f;
}

.circle-left {
    margin-left: 2rem;
}

.circle-right1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #999;
}

.circle-right2 {
    font-size: 1.5rem;
    line-height: 5rem;
    color: #999;
}

.arrows {
    width: 2rem;
    height: 2rem;
    background: url(../img/img2.png) no-repeat 60% 0.1%/1083%;
    position: absolute;
    top: 1.3rem;
    left: 0;
}

.circle1 {
    float: none;
    margin: 0 auto;
}

.title2 {
    text-align: center;
    margin: 10rem auto 2rem;
    font-size: 1.8rem;
}

.card {
    margin: 1rem auto;
}

.head {
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
}

.head1 {
    background: url(../img/img2.png) no-repeat 0 28.3%/243%;
}

.head2 {
    background: url(../img/img2.png) no-repeat 0 36.8%/243%;
}

.head3 {
    background: url(../img/img2.png) no-repeat 0 44.9%/243%;
}

.head4 {
    background: url(../img/img2.png) no-repeat 0 52.7%/243%;
}

.name {
    text-align: center;
    font-size: 1.8rem;
}

.introduce {
    color: #999;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.frame {
    width: 95%;
    box-shadow: 0 0 0.3rem #888;
    padding: 1rem;
    margin: auto;
}

.paging {
    text-align: center;
    margin: 2rem 0;
}

.small-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0 0.2rem;
    display: inline-block;
    box-shadow: 0 0 0.3rem #888;
}

.small-circle1 {
    background-color: #29b078;
}

.small-circle2:hover {
    background-color: #29b078;
}

.small-circle3:hover {
    background-color: #29b078;
}

.small-circle4:hover {
    background-color: #29b078;
}

.log-box0 {
    width: 100%;
    box-shadow: 0 0 0.3rem #888;
    display: flex;
    margin: 5rem 0;
    justify-content: space-between;
}

.log-style {
    width: 19.5%;
    height: 20rem;
}

.log1 {
    background: url(../img/img2.png) no-repeat 35% 61.7%/208%;
}

.log2 {
    background: url(../img/img2.png) no-repeat 43% 99.2%/162%;
}

.log3 {
    background: url(../img/img2.png) no-repeat 44% 84.3%/159%;
}

.log4 {
    background: url(../img/img2.png) no-repeat 35% 61.7%/208%;
}

.log5 {
    background: url(../img/img2.png) no-repeat 44% 84.3%/159%;
}

.log-style:hover {
    box-shadow: 0 0 0.5rem #888;
}

.log-box1 {
    display: flex;
    
    flex-wrap: wrap;
}

.log-style1 {
    width: 40%;
    height: 15rem;
    margin: 2rem 5%;
    box-shadow: 0 0 0.5rem #888;
}

.log6 {
    background: url(../img/img2.png) no-repeat 29% 61.3%/152%;
}

.log7 {
    background: url(../img/img2.png) no-repeat 35% 83%/113%;
}

.log8 {
    background: url(../img/img2.png) no-repeat 44% 96.7%/134%;
}

.log9 {
    background: url(../img/img2.png) no-repeat 29% 61.3%/152%;
}

.log10 {
    background: url(../img/img2.png) no-repeat 35% 83%/113%;
}

.log-style2 {
    width: 20rem;
    height: 15rem;
    margin: 1rem auto;
   
}
.log-style2:hover {
    box-shadow: 0 0 0.5rem #888;
}

.log11 {
    background: url(../img/img2.png) no-repeat 29% 61.3%/152%;
}

.log12 {
    background: url(../img/img2.png) no-repeat 35% 84%/126%;
}

.log13 {
    background: url(../img/img2.png) no-repeat 44% 98.7%/133%;
}

.log14 {
    background: url(../img/img2.png) no-repeat 29% 61.3%/152%;
}

.log15 {
    background: url(../img/img2.png) no-repeat 35% 84%/126%;
}

.list-span:hover::after {
    content: "";
    width: 8.5rem;
    top: 2rem;
    margin-left: -8.5rem;
    position: absolute;
    
}

.list-down {
    width: 10%;
    margin: 1rem auto;
    float: left;
    color: #999;
    font-size: 1.8rem;
    position: relative;
}


.footer {
    font-size: 1.8rem;
    padding: 2rem 0;
    background-color: #29b078;
    color: #fff;
    
}

.font-style1 {
    display: inline-block;
    margin-bottom: 8rem;
}

.font-style2 {
    display: inline-block;
    border: #fff solid;
    border-top: 0;
    border-bottom: 0;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    margin-top: 0.6rem;
}

.font-style3 {
    display: inline-block;
    margin-bottom: 3rem;
}

.font-style4 {
    display: inline-block;
    margin-bottom: 3.1rem;
    margin-right: 1rem;
   
}

.font-style5 {
    margin-right: 1rem;
}

.font-style6 {
    font-size: 1.5rem;
}

.code {
    width: 9.5rem;
    height: 9.5rem;
    margin: auto;
    background: url(../img/img2.png) no-repeat -1.4% 20.2%/274%;
}


    .list-span:hover::after {
        border-bottom: solid 0.15rem #26a26f;
    }
    .underline1:hover::after {
        content: "";
        display: inline-block;
        width: 7rem;
        height: .2rem;
        margin-left: -7rem;
        margin-bottom: -1rem;
        background-color: #fff;
    }
    .underline:hover::after {
        content: "";
        display: inline-block;
        width: 10.5rem;
        height: .2rem;
        margin-left: -10.5rem;
        margin-bottom: -1rem;
        background-color: #fff;
    }


@media all and (max-width: 991px) and (min-width:768px) {
    .list-down {
        width: 20%
    }
}

@media all and (max-width: 767px) {
    .list-down {
        width: 50%;
    }
    .list-down {
        text-align: center;
    }
    .footer {
        text-align: center;
    }
    .font-style5 {
        margin-left: -3rem;
    }
   
    
    .list-down::before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #888;
        display: inline-block;
        margin-bottom: .4rem;
        margin-right: 1rem;
    }
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .font-style3 {
        margin-top: 4rem;
    }
    .font-style6 {
        display: block;
        margin-top: 4rem;
        margin-bottom: -3rem;
    }
    .font-style1 {
        
        margin-bottom: 2rem;
    }
   
}
.line {
    height: 0.15rem;
    background-color: #fff;

}
.small-footer {
    display: flex;
    justify-content:center;
    color: #fff;
    background-color: #29b078;
    line-height: 2rem;
}

