body {
    margin: 0;
}

p {
    margin: 0;
}
a{
    color: #333;
}
a:hover {
    text-decoration:none;
    color: #fff;
}  
.a {
    color: #fff;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.float-right {
    float: right;
}

.margin-right {
    margin-right: 0;
}

.center {
    text-align: center;
}

.padding-left {
    padding-left: 0;
}

.header-top {
    height: 3.2rem;
    line-height: 3.2rem;
}

.register {
    float: right;
    height: 3.2rem;
}

.qq {
    margin: 0 1rem;
    display: inline-block;
    width: 2.5rem;
    height: 3.2rem;
    background: url(../img/img2.png) no-repeat 0 -0.3%/1005%;
}

.sine {
    display: inline-block;
    width: 2.5rem;
    height: 3.2rem;
    background: url(../img/img2.png) no-repeat 0 1.59%/1000%;
}

.n {
    margin: 0 2rem 0 1rem;
    display: inline-block;
    width: 2.5rem;
    height: 3.2rem;
    background: url(../img/img2.png) no-repeat 0 3.57%/1003%;
}

.register>p {
    display: inline-block;
    vertical-align: top;
}

.separator {
    display: inline-block;
    border-left: #29b078 solid 1px;
    padding-top: 1rem;
    margin: auto 0.652rem;
    font-size: 0;
}

.register1 {
    float: right;
    margin-right: 1rem;
}

.box {
    background-color: #29b078;
    line-height: 6.25rem;
}
.padding {
    padding: 0;
}

.padding-left {
    padding-left: 0;
}


.padding-right {
    padding-right: 0;
}

.log {
    width: 100%;
}

.hidden-xs>ul {
    float: right;
}

.list1 {
    height: 6.35rem;
    display: inline-block;
    margin: 0 0.8rem;
    font-size: 1.6rem;
    color: #fff;
}
.margin-right {
    margin-right: 0;
}

.list1:hover {
    border: solid;
    border-width: 0 0 0.4rem 0;
}

.log-box {
    width: 20rem;
    display: inline-block;
}

.down-list {
    width: 4rem;
    text-align: center;
    background-color: rgba(174, 189, 192, 0.5);
    line-height: 4.5rem;
    position: absolute;
    right: 1rem;
    top: 4.1rem;
    border-radius: 0.5rem;
}

.list2 {
    background-color: #29b078;
    color: #fff;
    text-align: center;
    line-height: 4.5rem;
}

.list2:hover {
    background-color: #38c58a;
}
.kind {
    display: block;
    line-height: 10.8rem;
    font-size: 1.8rem;
    border-bottom: solid #d0d6d9 0.1rem;
}

.kind1 {
    color: #29b078;
    font-size: 2rem;
}
.variety-box {
     line-height: 7rem;
     border-bottom: solid #edf1f2 0.1rem;
}
.variety {
    font-size: 1.6rem;
    color: #999;
}
.variety1 {
    font-size: 1.6rem;
    margin-left: 3rem;
}
.variety1:hover {
    background-color: #29b078;
    color: #fff;
}
.occupation {
    display: block;
    font-size: 2rem;
    line-height: 8rem;
    border-bottom: solid #d0d6d9 0.1rem;
}


.table1 {
    width: 100%;
    box-shadow: 0 0 0.5rem #888;
    margin: 5rem auto 0;
    font-size: 1.2rem;
}
.table2 {
    width: 100%;
}
.tr-bottom {
      border-bottom: solid #edf1f2 0.1rem;
}
.td-right {
      border-right: solid #edf1f2 0.1rem;
}

.td {
    
    padding: 1rem;
    word-break: break-all;
    
}
.star {
    width: 2rem;
    margin-left: 0.5rem;
}
.picture {
    float: left;
    margin-right: 1rem;
}
.name {
   line-height: 4rem;
}

.td1 {
    width: 50%;
    line-height: 2rem;
}
.td-style {
    vertical-align: middle;
}
.red {
    color: red;
}
.gray {
    color: #a9a9a9;
}
.td2 {
    width: 35%;
    border-right: solid #edf1f2 .1rem;
}
.td3 {
    font-size: 1.6rem;
    
}
.shadow {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: #fff;
    transition: background-color 2s linear ;
	
}
.profession {
    width: 6rem;
    display: block;
    line-height: 16rem;
    margin: auto;
    
}
.referral {
    width: 80%;
    margin: auto;

}
.table1:hover+div,.shadow:hover {
    display: block;
}
.shadow:hover {
    background-color:  rgba(61,61,61,0.8);
}


















.footer {
    margin-top: 5rem;
    font-size: 1.8rem;
    padding: 2rem 0;
    background-color: #29b078;
    color: #fff;
}

.font-style1 {
    display: inline-block;
    margin-bottom: 8rem;
}

.font-style2 {
    display: inline-block;
    border: #fff solid;
    border-top: 0;
    border-bottom: 0;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    margin-top: 0.6rem;
}

.font-style3 {
    display: inline-block;
    margin-bottom: 3rem;
}

.font-style4 {
    display: inline-block;
    margin-bottom: 3.1rem;
    margin-right: 1rem;
    
}

.font-style5 {
    margin-right: 1rem;
}

.font-style6 {
    font-size: 1.5rem;
}

.code {
    width: 9.5rem;
    height: 9.5rem;
    margin: auto;
    background: url(../img/img2.png) no-repeat -1.4% 20.2%/274%;
}
.underline1:hover::after {
    content: "";
    display: inline-block;
    width: 7rem;
    height: .2rem;
    margin-left: -7rem;
    margin-bottom: -1rem;
    background-color: #fff;
}
.underline:hover::after {
    content: "";
    display: inline-block;
    width: 10.5rem;
    height: .2rem;
    margin-left: -10.5rem;
    margin-bottom: -1rem;
    background-color: #fff;
}


@media all and (max-width: 767px) {
    .footer {
        text-align: center;
    }
    .font-style5 {
        margin-left: -3rem;
    }
   
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .font-style3 {
        margin-top: 4rem;
    }
    .font-style6 {
        display: block;
        margin-top: 4rem;
        margin-bottom: -3rem;
    }
    .picture {
        width: 8rem;
    }
    .kind {
        padding-left: 1.5rem;
    }
    .occupation {
        padding-left: 1.5rem;
    }
    .variety {
        margin-left: 1.5rem;
    }
    .variety1 {
        display: block;
        line-height: 4rem;
        text-align: center;
        margin: 0;
        border-top: solid #edf1f2 .1rem;
    }
    .shadow {
        margin: 0 1.5rem;
    }
    .font-style1 {
        
        margin-bottom: 2rem;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .number1 {
        padding: 0;
    }
    .number2 {
        padding: 0;
    }
    .number3 {
        padding: 0;
    }
    .number4 {
        padding: 0;
    }
    .number5 {
        padding: 0;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px){
    .number1 {
        padding-left: 0;
    }
    .number2 {
        padding-right: 0;
    }
    .number3 {
        padding-left: 0;
    }
    .number4 {
        padding-right: 0;
    }
    .number5 {
        padding-left: 0;
    }
    .shadow1 {
        margin: 5rem 1.5rem 0 0;
    }
    .shadow2 {
        margin: 5rem 0 0 1.5rem;
    }
    .shadow3 {
        margin: 5rem 1.5rem 0 0;
    }
    .shadow4 {
        margin: 5rem 0 0 1.5rem;
    }
    .shadow5 {
        margin: 5rem 1.5rem 0 0;
    }

}
@media all and (min-width: 1200px){
    .number1 {
        padding-left: 0;
    }
    .number2 {
        padding: 0 .75rem;
    }
    .number3 {
        padding-right: 0;
    }
    .number4 {
        padding-left: 0;
    }
    .number5 {
        padding: 0 .75rem;
    }
    .shadow1 {
        margin: 5rem 1.5rem 0 0;
    }
    .shadow2 {
        margin: 5rem .75rem 0;
    }
    .shadow3 {
        margin: 5rem 0 0 1.5rem;
    }
    .shadow4 {
        margin: 5rem 1.5rem 0 0;
    }
    .shadow5 {
        margin: 5rem .75rem 0;
    }
}

.line {
    height: 0.15rem;
    background-color: #fff;
}

.small-footer {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #29b078;
    line-height: 2rem;
}