html,body {
    margin: 0;
    background: #fafafa !important;
    font-family: 微软雅黑 !important;
}
.top1 {
    color: #29b078;
    display: flex;
    align-items: center;
    padding: .5rem 0;
}
.topright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .33rem 0;
}

.button1 {
    background: url("../image/顶部雪碧图.png") 0 0 no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    padding:0;
}
.button2 {
    background: url("../image/顶部雪碧图.png") 50% 0 no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    padding:0;
}
.button3 {
    background: url("../image/顶部雪碧图.png") 100% 0 no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border: 0;
    cursor: pointer;
    outline: none;
    padding:0;
}
.row2-div {
    text-align: center;
}
.row2 {
    background: #29b078;
}
.row2-button1 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height:0 ;
    color: #fff;
}
.row2-button1:hover {
    border-bottom: 3px solid #fff;
    border-top:3px solid #29b078;
}
.row2-button2 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height:0 ;
    color: #fff;
}
.row2-button2:hover {
    border-bottom: 3px solid #fff;
    border-top:3px solid #29b078;
}
.row2-button3 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height:0 ;
    color: #fff;
}
.row2-button3:hover {
    border-bottom: 3px solid #fff;
    border-top:3px solid #29b078;
}
.row2-button4 {
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: #29b078;
    line-height:0 ;
    color: #fff;
}
.row2-button4:hover {
    border-bottom: 3px solid #fff;
    border-top:3px solid #29b078;
}
.bgimg {
    width: 80%;
    padding: 14% 0;
    margin: 0 10%;
    display: inline-block;
}
.row3-1 {
    background: url("../image/首页背景.png") no-repeat;
    background-size: contain;
    padding-bottom: 10%;
}
.four-shapes {
    text-align: center;
    margin-top: 24px;
}
.row3-button1 {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    float: left;
}
.row3-button2 {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    float: right;
}
.row4-div1 {
    width:100%;
    display: flex;
    height: 4rem;
}
.row4-div2 {
    color: #29b078;
}
.row4-rocket {
    height: 3rem;
    margin: 0 auto;
}
.row4-gaoxiao {
    height:3rem;
    text-align: center;
}
.row4-1 {
    font-size: 1rem;
    color: #999;
}
.man-number0 {
    padding:0 1rem;
    border-left: 1px dashed #999 ;
}
.man-number1 {
    color: #29b078;
}
.man-number2 {
    color: #999;
    padding: 1rem 0;
}
.row-5 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.row6 {
    font-size: 12px;
}
.how-to-learn {
    display: flex;
    align-items: center;
    padding-bottom:1rem;;
}
.circle1 {
    border-radius: 50%;
    border: 1px solid #999;
    line-height: 0;
    padding: 2rem;
    color: #29b078;
    background: #fff;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
}
.row7-mid {
    padding:0 1rem;
    color: #999999;
}
.row-6 {
    height: 6rem;
    display: flex;
    align-items: center;
}
.row-8 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.row-9 {
    padding:0 1em !important;
}
.row9-button {
    background: #fff;
    border: 1px solid #eeeded;
    cursor: pointer;
    outline: none;
    color: #999;
    font-size: 1rem;
}
.row9-button-img {
    margin: 1em auto 2em;
    display: block;
}
.row9-button>div + div {
    margin:1.5em 1em 2em;
    text-align: start;
}
.row10 {
    font-size: 1.8rem;
    margin :5rem auto 3rem auto;
    text-align: center;
}
.row10-1 {
    font-size: 1.8rem;
    margin :14rem auto 5rem auto;
    text-align: center;
}
.row11 {
    padding: 0 !important;
}
.row11-button1 {
    background: url("../image/战略合作企业.png") 1.5% 0 no-repeat;
    background-size: cover;
    width:100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
.row11-button2 {
    background: url("../image/战略合作企业.png") 25.5% 0 no-repeat;
    background-size: cover;
    width:100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
.row11-button3 {
    background: url("../image/战略合作企业.png") 50% 0 no-repeat;
    background-size: cover;
    width:100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
.row11-button4 {
    background: url("../image/战略合作企业.png") 75% 0 no-repeat;
    background-size: cover;
    width:100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
.row11-button5 {
    background: url("../image/战略合作企业.png") 99% 0 no-repeat;
    background-size: cover;
    width:100%;
    padding: 0 0 80% 0;
    cursor: pointer;
    outline: none;
    border: none;
}
.row12 {
    text-align: center;
}
.row-13 {
    font-size: 1em;
    margin:1rem 0;
}
ul {
    padding: 0;
    list-style: none;
    margin: 0!important;
}
.row13-div {
    padding:0 !important;
}
.weixin {
    height:7rem;
}
a {
    color: #999 !important;
}
.a1 {
    color: #FFFFFF !important;
}
.footer-left {
    height: 9rem;
    display: inline-block;
}
.JNS {
    padding: 1rem 0;
}
.row-16 {
    vertical-align: middle;
}
.weixin-text {
    padding-top: 1rem;
    color: #FFFFFF;
}
.weixin-img {
    font-size: 1rem;
    height: 9rem;
}
.copyright {
    text-align: center;
    color: #FFFFFF;
    background: #29b078;
    border-top:1px solid #32c086;
}
.Official-website {
    background: #29b078;
    color: #FFFFFF !important;
}
.row11-button1:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
.row11-button2:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
.row11-button3:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
.row11-button4:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
.row11-button5:hover {
    box-shadow: 2px 2px 20px #d6d6d6;
}
@media screen and (max-width: 767px) {
    main {
        margin-top: 85px;
    }
    .row4-1 {
        width: 120px;
        margin:0 auto 1rem;
    }
    .man-number0 {
        width: 140px;
        margin:0 auto 1rem;
    }
    .row6 {
        width: 250px;
        margin: 0 auto !important;
    }
    .row-9 {
        width: 250px;
        margin:1rem auto !important;
    }
    .row11 {
        width: 250px;
        margin:1rem auto !important;
    }
    .row13-div {
        font-size:12px !important;
    }
    .job-select {
        font-size: 12px !important;
    }
    .row7-mid {
        width:140px;
    }
}
@media screen and (min-width:768px) and (max-width: 1440px) {
    main {
        padding-top: 170px;
    }
    .newbutton {
        margin-right: -35px;
    }
    .logo {
        height:100px !important;
    }
    .row4-1 {
        width: 160px;
        margin:0 auto 1rem;
    }
    .col-lg-2 {
        width:20% !important;
    }
    .man-number0 {
        width: 140px;
        margin:0 auto 1rem;
    }
    .how-to-learn {
        width: 250px;
        margin:0 auto;
        font-size: 14px;
    }
    .row7-mid {
        width: 170px !important;
    }
}
@media screen and (min-width: 1441px){
    main {
        padding-top: 170px;
    }
    .logo {
        height: 100px !important;
    }
    .newbutton {
        margin-right: -35px;
    }
    .row-9 {
        font-size: 18px !important;
        line-height:26px !important;
    }
    .row9-button>div {
        font-size: 18px;
        line-height: 26px;
    }
    .row9-button>div + div{
        font-size: 16px;
        line-height: 26px;
    }
    .row9-button-img {
        font-size: 18px;
    }
    .row11 {
        width: 20% !important;
    }
    .row11-main {
        padding:0 18px;
    }
    .row4-1 {
        font-size: 16px;
        width: 223px;
        margin:0 auto;
    }
    .man-number0 {
        font-size: 18px;
        padding-left: 5rem;
    }
    .row7-mid {
        width: 170px !important;
    }
    .how-to-learn {
        font-size: 14px;
        line-height: 26px;
    }
    .row13-div {
        width:10% !important;
    }
    .row-13 {
        margin:0 !important;
    }
    .friendly-link {
        background: #fff;
        margin-top:8rem;
        padding-bottom: 1rem;
    }
    .row12 {
        font-size: 18px;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .Official-website {
        background: #29b078;
    }
    .footer {
        width:62.5%;
        margin:auto;
        padding-left: 15px;
    }
    .JNS {
        font-size: 16px;
        color: #ffffff !important;
        padding: 2em 0 5rem 0;
    }
    span {
        font-size:14px !important;
    }
    .copyright {
        padding: 5px 0;
    }
    .weixin-img {
        text-align: center;
    }
    .weixin-text {
        text-align: center;
    }
    main {
        width: 62.5%;
        margin: 0 auto;
    }
    .link-list {
        padding-left: 15px;
        font-size: 14px;
        line-height: 26px;
        width:62.5% !important;
        margin:0 auto;
    }
    .row13-div {
        width:10%;
        margin-left:0 !important;
    }
}
/*战略合作企业*/
.logo {
    display: flex;
    align-items: center;
    height: 5rem;
}
.img-logo {
    height:3rem;
}
.page2-button {
    display: flex;
    justify-content: flex-end;
}
.row3-2 {
    padding:0 !important;
    margin-bottom: 1rem;
}
.background2 {
    width: 100%;
}
.company {
    color: #29b078 !important;
}
.circle2 {
    width: .65rem;
    border-radius: 50%;
    border: 1px solid #F3A846;
    line-height: 0;
    text-align: center;
    padding: .25rem 0;
    color: #29b078;
    display: inline-block;
}
.list-main {
    border:1px solid #ededed;
    background: #ffffff;
    padding:0 !important;
    margin-top: 1rem;
}
.list-top {
    font-size: 14px;
    width: 80px;
    margin: 0 auto;
    font-family: 微软雅黑;
    border-bottom: 1px solid #ededed;
    padding: .5rem 0;
}
.list {
    padding-top: 1rem;
    width: 90px;
    margin: 0 auto;
    font-family: 微软雅黑;
}
.tudouwang {
    width: 6rem;
}
.main-left-top {
    padding: 2rem;
    border: 1px solid #ededed;
    background: #fff;
    align-items: center;
    font-family: 微软雅黑;
}
.head {
    line-height: 2rem;
    font-family: 微软雅黑;
}
.main-right {
    padding: 2rem;
    border: 1px solid #ededed;
    background: #fff;
    align-items: center;
    font-family: 微软雅黑;
}
.newbutton {
    display: flex;
    justify-content: flex-end;
}
p {
    text-indent: 1cm;
}
.main {
    color: #999;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin-top: 1rem;
}
/*职位列表*/
.job-row3 {
    margin:1rem 0;
}
.job-top {
    color: #29b078 !important;
}
.job-select {
    display: flex;
    border-top:1px solid #d0d6d9;
    border-bottom:1px solid #edf1f2;
    padding: 1rem 0;
}
.side {
    color: #999;
}
.job-type {
    margin: 0 0.5rem;
    color: #000 !important;
    text-decoration: none;
}
.job-type:hover {
    background: #29b078;
    color: #FFFFFF !important;
    text-decoration: none;
}
.qianduan-top {
    font-family: 微软雅黑;
    display: flex;
    align-items: center;
    padding:2rem 0;
    border-bottom:1px solid #d0d6d9;
}
table {
    width: 100%;
}
.table-head {
    display: flex;
    align-items: center;
}
.web-img {
    background: url("../image/职业头像.png") no-repeat center;
    background-size: cover;
    padding: 20%;
    margin:5% 3%;
    height:0;
    width: 0;
}
.table-p {
    text-indent: 0;
}
.danteng {
    display: flex;
    align-items: center;
}
.star-left {
}
.star {
    background: url("../image/红五角.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 2rem;
    width: 2rem;
    margin-left:1rem;
}
.table-size {
    background: #ffffff;
}
td {
    border: #eeeded solid thin;
    padding:3% !important;
    font-size: 12px;
}
red {
    color: #f01400;
}
.pay {
    float: right;
}
.size {
    margin:3rem 0;
}
.col-sm-3 {
    font-size:12px;
}
.divhover {
    animation: myfirst 4s alternate;
    visibility: hidden;
    position: absolute !important;
    background: #3d3d3d;
    color: #FFFFFF;
    line-height: 22px;
    margin-right:15px;
    height: 100%;
    padding:30% 15%;
    opacity: .76;
    animation-iteration-count:infinite;
}
@keyframes myfirst {
    0% {opacity: 0;}
    25% {opacity: .18;}
    50% {opacity: .36;}
    75% {opacity: .54;}
    100% {opacity: .76;}
}
.div1:hover .divhover {
    visibility: visible;
}
.div1 {
}
.ios {
    text-align: center;
    padding-bottom: 10%;
}
/*@media*/
@media screen and (max-width: 767px) {
    .page2-button {
        float: right;
        background: url("../image/下拉菜单.png") no-repeat 0 0;
        width: 20px;
        height: 20px;
        position: relative;
        margin:20px;
        background-size: cover;
    }
    div .page2-button:hover + .newbutton {
        position: static;
        display: block;
        }
    .newbutton:hover {
        position: static;
        display: block;
    }
    .newbutton {
        z-index: 1;
        display: none;
    }
    .logo {
        float: left;
    }
    .top1 {
        float: left;
    }
    .row2-button1 {
        width:100%;
        border-top:1px solid;
    }
    .row2-button2 {
        width:100%;
    }
    .row2-button3 {
        width:100%;
    }
    .row2-button4 {
        width:100%;
    }
}