@media screen and (max-width: 780px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 39%;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 31.25%;
    }
}
body{
    min-width: 320px;
    max-width: 780px;
    margin: 0 auto;
    font-size: 62.5%;
}
header{
    width: 100%;
    background-color: #29bde0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    min-width: 320px;
    max-width: 780px;

}
.head{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.coin1{
    height: 25px;
    width: 23px;
    margin-left: 15px;
}
.coin2{
    height: 24px;
    width: 22px;
    margin-right: 15px;
}
h1{
    font-size: 3rem;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.player{
    height: 50px;
    width: 100%;
    background-color: #b9e9f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2{
    font-size: 2.5rem;
    margin: 0;
}
.button1{
    height: 40px;
    width: 40px;
    background: url(img7/player.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #b9e9f5;
}
.button1:active{
    background: #0b97c4;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 13px solid #b9e9f5;
    margin-left: 40px;
}
h3{
    color: #ffffff;
    font-size: 2rem;
    margin-left: 40px;
    margin-top: 10px;
}
main {
     margin-top: 140px;
     background-color:#29bde0;
     width: 100%;
     padding-bottom: 155px;
 }
.container{
    width: 100%;
    min-width: 320px;
    max-width: 780px;
}
.col-xs-4{
    margin-top: 30px;
    text-align: -webkit-center;
}
.option{
    width: 100%;
    border: 3px solid #fff;
}
.img{
    position: relative;
    top: 10px;
    opacity: 0;
    display: block;
    transition: 0.3s;
    -webkit-transition: .5s;
    -moz-transition: .5s;

}
.allimg{
    margin: 3%;
    width: 19%;
    float: left;
}
.option:hover .img{
   opacity: 1;
}
.font1{
    line-height: 0;
    padding: 40% 0;
    font-size: 5vw;
    background-color: #f5c97b;
}
.font2{
    line-height: 0;
    padding: 10% 0;
    font-size: 2vw;
    color: #ffffff;
    background-color: #83b09a;
}
a:link{
    text-decoration:none;
}
.font3{
    font-size: 3rem;
    color: #fff;
}
footer{
    height: 70px;
    width: 100%;
    background-color:#29bde0 ;
    position: fixed;
    bottom: 0;
    text-align: center;
    min-width: 320px;
    max-width: 780px;
    line-height: 70px;
}
.foot{
    color: #ffffff;
    font-size: 3rem;
    width: 80%;
    height: 50px;
    background-color: #fbb435;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    outline: none;
    border: none;
}



