html{
    font-size: 312.5%;
}
body{
    padding:.72rem 0 1.2rem 0;
    margin: 0;
    font-size: initial;
}
p{
    margin: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}


/* header眉页 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    /* border半透明 */
    border-bottom:.01rem solid rgba(200,200,200,.95);
    background: #29BDE0;
    font-size:.34rem;
    /* 字符间距 */
    letter-spacing: .04rem;
    color: #FFFFFF;
}
.left-header{
    width: .51rem;
    height: .6rem;
    margin: .1rem 0 0 .2rem;
    background: url(task-css7.png) no-repeat -2.2rem -1.9rem;

}
.right-header{
    width: .51rem;
    height: .6rem;
    margin: .1rem .2rem 0 0;
    background: url(task-css7.png) no-repeat -.96rem -1.95rem;
}

/* main主体 */
.main-box{
    height: 6rem;
    padding-top: .29rem;
    background: #29BDE0;
}
.logo{
    width: 3.51rem;
    height: 2.1rem;
    margin: auto;
    background: url(task-css7.png) no-repeat -4.16rem 0;
}
.logo-font{
    margin-top: -.8rem;
    text-align: center;
    font-size: .48rem;
    /* 字符间距 */
    letter-spacing: .05rem;
    color: #FFFFFF;
}
.top-font{
    width: 80%;
    margin:.3rem auto .61rem auto;
    font-size: .33rem;
    color: #FFC865;
}
.center-headline{
    width: 80%;
    margin:auto;
    font-size: .26rem;
    color:#FFFFFF;
}
.center-box{
    display: flex;
    width: 80%;
    margin: auto;
}
.center-conter{
    margin-right: .5rem;
    font-size: .26rem;
    color:#FFFFFF;

}
.center-font{
    width: 80%;
    margin: auto;
    font-size: .26rem;
    color:#FFFFFF;
}
.bottom-box{
    height: 1.6rem;
    /* border半透明 */
    border-bottom: .01rem solid rgba(53,53,53,.5);
    background: #FFFFFF;
}
.bottom-headline{
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin:auto; 
}
.left{
    font-size: .3rem;
    color: #515151;
}
.right{
    font-size: .2rem;
    color: #C7C7C7;
}
.night{
    width: 80%;
    margin:.28rem auto 0 auto; 
    font-size: .26rem;
    color: #A6A6A6;
}
.daytime{
    width: 80%;
    margin: auto; 
    font-size: .26rem;
    color: #A6A6A6;
}
.bottom{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin:.1rem auto 0 auto; 
    color: #29bde0;
}
.bottom-left{
    font-size: .39rem;
}
.bottom-right{
    font-size: .27rem;
}


/* footer页尾 */
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.2rem;
    background:rgba(41,189,224,.6);
}
.left-button{
    width: 50%;
    height: .86rem;
    margin: 0 .5rem 0 .24rem;
    border-radius: .15rem;
    border: none;
    background: #F66F6F;
    outline:none;
    font-size: .4rem;
    color: #FFFFFF;
}
.right-button{
    width: 50%;
    height: .86rem;
    margin-right: .24rem;
    border-radius: .15rem;
    border: none;
    background: #FBB435;
    outline:none;
    font-size: .4rem;
    color: #FFFFFF;
}