html{
    font-size: 312.5%;
}
body{
    padding:.9rem 0 1.6rem 0;
    background: #29BDE0;
    font-size: initial;
    margin: 0;
}
p{
    margin: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}

/* header眉页 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    height: .88rem;
    background:  #29BDE0;
    font-size: .34rem;
    letter-spacing: .15rem;
    color: #FFFFFF;
    z-index: 1;
}
.left-header-box{
    display:flex;
    justify-content: center;
    align-items: center;
    width: .4rem;
    height: .43rem;
    padding: .03rem;
    margin-left:  .23rem;
    border:.01rem solid#FFFFFF;
}
.left-header-content{
    width: .34rem; 
    height: .32rem;  
    padding:.11rem 0;
    border:none;
    outline:none;
    border-top: .03rem solid #FFFFFF;  
    border-bottom: .03rem solid #FFFFFF;   
    background:#FFFFFF content-box; 
}
.left-header{
    width: .36rem;
    height: .36rem;
    margin :-.18rem .23rem 0 0;
    background: url(task-css7.png) no-repeat -2.24rem -.96rem;
}
.right-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: .5rem;
    margin-right: .23rem;
}
.right-content{
    display:inline-block;
    width: .02rem;
    height:.5rem;
    border:.01rem solid #FFFFFF;
    background: #FFFFFF;
    transform: rotate(45deg);
}

.right-content::after{
    position: absolute;
    top:-.02rem;
    left: -.01rem;
    content: "";
    width: .02rem;
    height:.5rem;
    border:.01rem solid #FFFFFF;
    background: #FFFFFF;
    transform: rotate(90deg);
}

/* main主体 */
.top-box{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: .82rem;
    background:#b9e9f5;
    
}
.left-font{
    position: absolute;
    left: .46rem;
    font-size: .26rem;
    color: #464646;
}
.right-circle{
    width: .52rem;
    height: .52rem;
    border-radius: 100%;
    border: none;
    margin-right: .17rem;
    background: #FBB435;
    outline: none;
}

/* 三角形 */
.right-circle::after{
    display: inline-block;
    content: "";
    margin: .05rem 0 0 .05rem;
    border-top: .15rem solid transparent;
    border-left: .3rem solid #FFFFFF;
    border-bottom: .15rem solid transparent;
}
.font{
    margin: .24rem 0 .43rem .72rem;
    font-size: .24rem;
    color: #FFFFFF;
}
/* 三角形 */
.top-box::before{
    float: left;
    content: "";
    margin: .97rem 0  0  .71rem;
    border-top: .14rem solid #b9e9f5;
    border-left: .07rem solid transparent;
    border-right: .07rem solid transparent;
}
.center-box{
    display: flex;
    flex-flow:wrap;
    justify-content: center;
}

/* 下拉框 */
.dropdown{
    width: 23.5vw;
    height: 23.5vw;
    margin: 0 4vw 8.3vw 4vw;
    border: .05rem solid #FFFFFF;
    background: #F5C97B;
}
.role{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    font-size: .3rem;
    color: #565656;
}
.number{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    background:rgba(26,153,183,.5);
    font-size: .23rem;
    color: #FFFFFF;
}

/* 下拉框内容 */
.dropdown-content {
    display: none;
    margin-top:2vw;
}
.dropdown:hover .dropdown-content {
    display: flex;
    justify-content: space-between;
}
.killer{
    width: 4.5vw;
    height:4.5vw;
    background: url(task2-css7.png) no-repeat 0 0/100%;
    
}
.judge{
    width: 4.5vw;
    height:4.5vw;
    background: url(task2-css7.png) no-repeat 0 30%/100%;
}
.sniper{
    width: 4.5vw;
    height:4.5vw;
    background: url(task2-css7.png) no-repeat 0 67%/100%;
}
.doctor{
    width: 4.5vw;
    height:4.5vw;
    background: url(task2-css7.png) no-repeat 0 100%/100%;
}

/* footer页尾 */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
    background: #29BDE0;
    line-height: 1.9rem;
    text-align: center;
}
.button-box{
    width: 75%;
    height: .87rem;
    border:none;
    background: #FBB435;
    outline: none;
    font-size: .4rem;
    /* 字符间距 */
    letter-spacing: .15rem;
    color: #FFFFFF;
}
audio{
    width: 0;
    height: 0;
}