@charset "UTF-8";
$bule:#29bde0;
@mixin width {
  max-width: 640px;
  width: 100%;
}
$yellow:#fbb435;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #0f0f0f;
}
body {
  @include width;
  background-color:$bule;
  margin: 0 auto;
  position: relative;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@mixin h-f {
  background-color:$bule;
  position: fixed;
  text-align: center;
}


.header {
  @include width;
  @include h-f;
  padding: 20px;
  z-index: 999;
  font: 30px 微软雅黑;
  color: #ffffff;

}
@mixin hder-itmes {
  width: 40px;
  padding: 20px;
}
.option2 {
  @include hder-itmes;
  background: url("../tesk7img/option2.png") no-repeat;
  float: left;
}
.close {
  @include hder-itmes;
  background: url("../tesk7img/close.png") no-repeat;
  float: right;
}
.footer {
  @include width;
  @include h-f;
  margin: 0 auto;
  padding: 40px 70px;
  bottom: 0;
  z-index: 888;
}
.button-kill {
  @include width;
  padding: 10px;
  background-color:$yellow;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  border: hidden;
  color: #ffffff;
  font:40px 微软雅黑;
}
.talkbubble {
  @include width;
  padding: 15px;
  background-color: #b9e9f5;
  position: fixed;
  top: 80px;
  font: 25px 微软雅黑;
  z-index: 888;

}
@mixin t-wirte {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.talkbubble-text {
  width: 50%;
  padding: 2px;
  float: left;
  margin-top: 10px;
  @include t-wirte;
}
.trangle {
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid  #b9e9f5;
}
.audio {
  width: 32px;
  height: 32px;
  float: right;
  margin-top: 10px;
  opacity: 0;
}
.audio-img {
  width: 52px;
  height: 52px;
  float: right;
  background: url("../tesk7img/radio.png") no-repeat;

}
$yellow:#fbb435;
.ps {
  @include width;
  position: fixed;
  color: #ffffff;
  font: 25px 微软雅黑 ;
  margin-top: -70px;
  padding-top: 20px;
  text-indent: 30px;
  z-index: 777;
  @include t-wirte;
  background-color:$bule ;
}
.banlk {
  @include width;
  height: 230px;
}
.f-kill {
  float: left;
  width: 22%;
  position: relative;
  padding: 8px;
  margin: 5%;
  background-color: #ffffff;
  color: #ffffff;
}
.b-hover {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.f-kill-t {
  @extend .b-hover;
  height: 85px;
  font: 25px 微软雅黑;
  background-color: $yellow;
}
.f-kill-b {
  @extend .b-hover;
  height: 25px;
  font: 23px 微软雅黑;
  background-color: #83b09a;
}
.container {
  height: 1500px;
}
//.f-kill-t:hover{
//  color: #ac2925;
//}
