.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle {
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 50%;
  background-color: #5ac0ce;
}
.triangle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid #999999;
  border-left: 6.5px solid transparent;
  border-right: 6.5px solid transparent;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
header {
  position: absolute;
  width: 100%;
  padding: 1rem 0;
  background-color: #5ac0ce;
  text-align: center;
}
header .title {
  display: inline-block;
  border-radius: 1rem;
  font-size: 3.4rem;
  background-color: #51a8b4;
}
header .label-1,
header .label-2 {
  display: inline-block;
  padding: 2rem 2.4rem;
}
header .label-1 {
  color: white;
}
header .label-2 {
  border-radius: 1rem;
  color: #5ac0ce;
  background-color: white;
}
header img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}
.select {
  position: relative;
  top: 10.3rem;
  border-bottom: 1px solid #e1e5e7;
}
select {
  float: left;
  width: 33.33333%;
  padding-left: 10%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: none;
  border-right: 1px solid #e1e5e7;
  margin: 1rem 0;
  font-size: 2.8rem;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
}
.first {
  left: 30%;
}
.second {
  left: 63%;
}
.third {
  left: 95%;
}
main {
  position: absolute;
  top: 18.8rem;
  bottom: 11rem;
  width: 100%;
  overflow: auto;
}
.wrapper {
  padding: 3rem;
  border-bottom: 1px solid #e1e5e7;
}
.wrapper .service-date {
  font-size: 2.8rem;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .content {
  margin: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.8rem;
}
.wrapper .content span.date {
  padding-left: 2rem;
  color: black;
  font-size: 2.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .content span.price {
  float: right;
  padding: 0 1rem;
  color: #eb5428;
  font-size: 3rem;
}
.wrapper .content img {
  float: right;
  transform: translateY(10%);
}
.wrapper .location {
  font-size: 2.6rem;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #f8fafb;
}
footer .home,
footer .edit,
footer .me {
  display: inline-block;
  font-size: 2rem;
}
footer .home {
  color: #5ac0ce;
  text-align: center;
}
footer .circle {
  position: relative;
  text-align: center;
}
footer .circle img {
  position: absolute;
  left: 30px;
  top: 25px;
}
footer .me {
  color: #999999;
}
