.vertical-align {
  top: 50%;
  transform: translateY(-50%);
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 2rem;
  background-color: #5fc0cd;
  text-align: center;
}
header span {
  font-size: 3.6rem;
  color: white;
}
header img {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
main {
  position: absolute;
  top: 88px;
  bottom: 14rem;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.banner {
  position: relative;
  padding: 8rem 4rem;
  background-image: url(../resource/backgroundImage.png);
  background-size: cover;
}
.banner .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25rem;
  color: white;
}
.banner .intro .name {
  margin-right: 1em;
  font-size: 3.6rem;
}
.banner .intro .age {
  font-size: 2.8rem;
}
.banner .intro .location {
  font-size: 2.4rem;
}
.banner .intro > div {
  margin-bottom: 3%;
}
.banner .intro .location-wrapper img {
  margin-right: 1em;
}
.banner .intro .location {
  vertical-align: bottom;
  font-size: 2.4rem;
}
.sub-title {
  padding: 5%;
  border-bottom: 1px solid #e1e5e7;
}
.sub-title div {
  font-size: 3.2rem;
  font-weight: bold;
  padding-left: 4%;
  border-left: 3px solid #5fc0cd;
}
.main {
  padding: 0 5%;
}
.main .row-intro,
.main .row-label {
  padding: 4% 5.5%;
  border-bottom: 1px solid #e1e5e7;
  font-size: 3.2rem;
}
.main .row-label span {
  padding: 0 2%;
}
.main .row-label img {
  margin: 0 2% 0 0;
}
.main .row-intro > span.key {
  padding-right: 2%;
  border-right: 1px solid #e1e5e7;
  color: #999999;
}
.main .row-intro > span.value {
  padding-left: 2%;
}
.main .self-intro {
  display: inline-block;
  width: 60%;
  padding-left: 2%;
  vertical-align: middle;
  text-align: justify;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 2rem 5%;
  width: 100%;
  box-sizing: border-box;
}
.button {
  display: flex;
  justify-content: space-between;
}
.button button {
  width: 45%;
  padding: 2.7rem 0;
  border: 1px solid #5fc0cd;
  border-radius: 0.2em;
  font-size: 3.4rem;
  color: #5fc0cd;
  background-color: white;
}
.button .message {
  color: #5fc0cd;
  background-color: white;
}
.button .connect {
  color: white;
  background-color: #5fc0cd;
}
