@charset "UTF-8";
/* 重置样式 */
button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none; }

a {
  text-decoration: none;
  outline: none; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none; }

.flt-right {
  float: right; }

/* 基础样式 */
.lh40 {
  line-height: .40rem; }

.dib {
  display: inline-block; }

.flt {
  float: left; }

.frt {
  float: right; }

.tac {
  text-align: center; }

.tr180 {
  transform: rotate(180deg); }

.trs5 {
  transform: scale(0.5); }

.pd10 {
  padding: .10rem; }

.prb {
  position: relative;
  bottom: 3.5px; }

.fcc {
  display: flex;
  justify-content: center;
  align-items: center; }

::-webkit-scrollbar {
  display: none; }

img {
  transform: scale(0.5); }

/* 全局样式 */
html {
  font-size: 625%;
  overflow-x: hidden;
  height: 100%; }

body {
  font-size: .12rem;
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: #f0f0f0; }

header {
  background: #29bde0;
  line-height: .40rem;
  color: #ffffff;
  font-size: .16rem; }

main > button {
  bottom: 0;
  display: block;
  font-size: .20rem;
  color: #ffffff;
  width: calc(100% - .20rem);
  height: .70rem;
  margin: .10rem;
  background: #fab344; }

.setting {
  position: relative;
  height: 2.3rem;
  margin: .10rem;
  background: #ffffff; }
  .setting > p:first-of-type {
    float: left;
    display: flex;
    align-items: center;
    border-right: 1px #f0f0f0 solid;
    letter-spacing: .20rem;
    text-align: right;
    width: .60rem;
    height: 100%;
    font-size: .20rem; }
  .setting > ul {
    height: 2rem;
    overflow: scroll;
    font-size: .13rem; }
    .setting > ul > li {
      display: inline-block;
      width: 49%;
      line-height: .40rem;
      text-align: center;
      letter-spacing: .10rem;
      color: #999999; }
  .setting > p:last-of-type {
    border-top: 1px #f0f0f0 solid;
    line-height: .30rem;
    margin-left: .60rem;
    text-align: center;
    color: #29bde0; }

.enter {
  margin: .10rem;
  padding-left: .20rem;
  height: 1rem;
  background: #ffffff; }
  .enter > input {
    border: 0;
    border-bottom: 1px #f0f0f0 solid;
    width: 100%;
    height: .40rem;
    outline: none; }

.players {
  margin: .10rem;
  height: .70rem;
  padding: .15rem;
  background: #ffffff; }
  .players > div {
    padding: .20rem .10rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .players > div > input[type="range"] {
      -webkit-appearance: none;
      outline: none;
      margin: 0 .10rem;
      width: 100%;
      background: -webkit-linear-gradient(left, #fab344, #fab344) no-repeat, #ffe6be;
      /*设置左边颜色为#fab344，右边颜色为#ffe6be*/
      background-size: 0;
      height: 3px; }
    .players > div > input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: .18rem;
      width: .30rem;
      background: url(../images/thumb.png);
      background-size: 100% 100%; }
    .players > div > button {
      border: 1px #f0f0f0 solid;
      border-radius: 2px;
      width: .27rem;
      height: .27rem;
      line-height: .27rem;
      text-align: center;
      font-size: .27rem;
      color: #fab344; }

.value {
  border: 0;
  margin: 0 .05rem;
  width: .20rem;
  height: .14rem;
  text-align: center;
  color: #fab344;
  background: #f0f0f0; }

input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

/*# sourceMappingURL=task234-peibi.css.map */
