@charset "UTF-8";
/* 重置样式 */
button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none; }

a {
  text-decoration: none;
  outline: none; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none; }

.flt-right {
  float: right; }

/* 基础样式 */
.lh40 {
  line-height: .40rem; }

.dib {
  display: inline-block; }

.flt {
  float: left; }

.frt {
  float: right; }

.tac {
  text-align: center; }

.tr180 {
  transform: rotate(180deg); }

.trs5 {
  transform: scale(0.5); }

.pd10 {
  padding: .10rem; }

.prb {
  position: relative;
  bottom: 3.5px; }

.fcc {
  display: flex;
  justify-content: center;
  align-items: center; }

::-webkit-scrollbar {
  display: none; }

img {
  transform: scale(0.5); }

/* 全局样式 */
html {
  font-size: 625%;
  overflow-x: hidden;
  height: 100%; }

body {
  font-size: .12rem;
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: #29bde0; }

/*页眉*/
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #64cfe9 solid;
  height: .40rem;
  width: 100%;
  color: #ffffff;
  font-size: .17rem; }

main {
  position: fixed;
  top: .40rem;
  bottom: 1rem;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  /*导航栏*/ }
  main > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .40rem;
    padding-left: .40rem;
    background: #b9e9f5; }
    main > nav > div {
      position: absolute;
      right: .02rem;
      top: .04rem;
      width: .40rem;
      opacity: 0;
      z-index: 9999; }
  main span {
    position: relative;
    bottom: .05rem;
    left: .50rem;
    color: #b9e9f5; }
  main p {
    margin: 0;
    margin-left: .50rem;
    color: #ffffff; }

.grid-container {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(3, 1fr); }

.box-content {
  display: inline-block;
  width: calc(70vw / 3);
  height: calc(70vw / 3);
  margin: calc(5vw - 6px);
  border: 3px #ffffff solid; }
  .box-content .box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: .15rem;
    background: #f5c97b; }
  .box-content .box-number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: .10rem;
    color: #ffffff;
    background: #83b09a; }
  .box-content .tag {
    display: none;
    width: 100%;
    transform: scale(1);
    position: relative;
    top: 1.5vw; }
  .box-content:hover img {
    display: block; }

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 100%; }
  footer span {
    width: 80%;
    line-height: .45rem;
    text-align: center;
    font-size: .20rem;
    color: #ffffff;
    background: #fbb435; }

/*# sourceMappingURL=task234-riji.css.map */
