#wrapper{
    margin-right:auto;
    margin-left:auto;
    width:960px;
}
#header{
    margin-right:10px;
    margin-left:10px;
    width:940px;
    background-color:#779307;
}
#navigation ul li{
    display:inline-block;
}
#sidebar{
    margin-right:10px;
    margin-left:10px;
    float:left;
    background-color:#fe9c00;
    width:220px;
}
#content{
    margin-right:10px;
    float:right;
    margin-left:10px;
    width:700px;
    background-color:#dedede;
    }
#footer{
    margin-right:10px;
    margin-left:10px;
    clear:both;
    background-color:#663300;
    width:940px;
    }