<div class="job-title">
	<h3>前端开发方向</h3>
</div>
<div class="job-wrap">
	<div class="job-card">
		<!-- 上部 -->
		<div class="card-top">
			<div class="photo">
				<img src="images/card-photo.jpg" alt="">
			</div>
			<div class="card-text">
				<h4>Web前端工程师</h4>
				<p>Web前端开发工程师，主要职责是利用(X)HTML / CSS / JavaScript / flash等各种Web技术进行产品的开发。</p>
			</div>
		</div>
		<!-- 中部 -->
		<div class="card-center border-top">
			<div>
				<span class="gray">门槛&nbsp;</span> 
				<span class="star"></span>
			</div>
			<div>
				<span class="gray">难易程度&nbsp;</span> 
				<span class="star"></span>
				<span class="star"></span>
			</div>
		</div>
		<div class="card-center border-top">
			<div>
				<span class="gray">成长周期&nbsp;</span>
				<span class="num">1-3</span><span>年</span>
			</div>
			<div>
				<span class="gray">稀缺程度&nbsp;</span>
				<span class="num">345</span>家公司需要
			</div>
		</div>
		<!-- 薪资 -->
		<div class="card-salary border-top">
			<div class="left text-center">
				<span class="gray">薪资待遇</span>
			</div>
			<div class="right">
				<div>
					<span>0-1年</span>
					<span>5k-10k/年</span>
				</div>
				<div class="border-top">
					<span>1-3年</span>
					<span>10k-20k/年</span>
				</div>
				<div class="border-top">
					<span>3-5年</span>
					<span>20k-50k/年</span>
				</div>
			</div>
		</div>	
		<div class="card-num border-top">
			有<span class="num">286</span>人正在学
		</div>
		<div class="card-bottom border-top">
			<div class="gray">提示：在你学习之前你应该已经掌握XXXX、XXXX等语言基础</div>
		</div>
		<div class="job-hide">
			<h4 class="text-center">iOS工程师</h4>
			<p>iOS是由苹果公司开发的移动操作系统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。</p>
		</div>						
	</div>
	<div class="job-card">
		<!-- 上部 -->
		<div class="card-top">
			<div class="photo">
				<img src="images/card-photo.jpg" alt="">
			</div>
			<div class="card-text">
				<h4>Web前端工程师</h4>
				<p>Web前端开发工程师，主要职责是利用(X)HTML / CSS / JavaScript / flash等各种Web技术进行产品的开发。</p>	
			</div>
		</div>
		<!-- 中部 -->
		<div class="card-center border-top">
			<div>
				<span class="gray">门槛&nbsp;</span> 
				<span class="star"></span>
			</div>
			<div>
				<span class="gray">难易程度&nbsp;</span> 
				<span class="star"></span>
				<span class="star"></span>
			</div>
		</div>
		<div class="card-center border-top">
			<div>
				<span class="gray">成长周期&nbsp;</span>
				<span class="num">1-3</span><span>年</span>
			</div>
			<div>
				<span class="gray">稀缺程度&nbsp;</span>
				<span class="num">345</span>家公司需要
			</div>
		</div>
		<!-- 薪资 -->
		<div class="card-salary border-top">
			<div class="left text-center">
				<span class="gray">薪资待遇</span>
			</div>
			<div class="right">
				<div>
					<span>0-1年</span>
					<span>5k-10k/年</span>
				</div>
				<div class="border-top">
					<span>1-3年</span>
					<span>10k-20k/年</span>
				</div>
				<div class="border-top">
					<span>3-5年</span>
					<span>20k-50k/年</span>
				</div>
			</div>
		</div>
		<div class="card-num border-top">
			有<span class="num">286</span>人正在学
		</div>
		<div class="card-bottom border-top">
			<div class="gray">提示：在你学习之前你应该已经掌握XXXX、XXXX等语言基础</div>
		</div>
		<div class="job-hide">
			<h4 class="text-center">iOS工程师</h4>
			<p>iOS是由苹果公司开发的移动操作系统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。</p>
		</div>						
	</div>
	<div class="job-card">
		<!-- 上部 -->
		<div class="card-top">
			<div class="photo">
				<img src="images/card-photo.jpg" alt="">
			</div>
			<div class="card-text">
				<h4>Web前端工程师</h4>
				<p>Web前端开发工程师，主要职责是利用(X)HTML / CSS / JavaScript / flash等各种Web技术进行产品的开发。</p>	
			</div>
		</div>
		<!-- 中部 -->
		<div class="card-center border-top">
			<div>
				<span class="gray">门槛&nbsp;</span> 
				<span class="star"></span>
			</div>
			<div>
				<span class="gray">难易程度&nbsp;</span> 
				<span class="star"></span>
				<span class="star"></span>
			</div>
		</div>
		<div class="card-center border-top">
			<div>
				<span class="gray">成长周期&nbsp;</span>
				<span class="num">1-3</span><span>年</span>
			</div>
			<div>
				<span class="gray">稀缺程度&nbsp;</span>
				<span class="num">345</span>家公司需要
			</div>
		</div>
		<!-- 薪资 -->
		<div class="card-salary border-top">
			<div class="left text-center">
				<span class="gray">薪资待遇</span>
			</div>
			<div class="right">
				<div>
					<span>0-1年</span>
					<span>5k-10k/年</span>
				</div>
				<div class="border-top">
					<span>1-3年</span>
					<span>10k-20k/年</span>
				</div>
				<div class="border-top">
					<span>3-5年</span>
					<span>20k-50k/年</span>
				</div>
			</div>
		</div>	
		<div class="card-num border-top">
			有<span class="num">286</span>人正在学
		</div>
		<div class="card-bottom border-top">
			<div class="gray">提示：在你学习之前你应该已经掌握XXXX、XXXX等语言基础</div>
		</div>
		<div class="job-hide">
			<h4 class="text-center">iOS工程师</h4>
			<p>iOS是由苹果公司开发的移动操作系统，iOS与苹果的Mac OS X操作系统一样，也是以Darwin为基础的，因此同样属于类Unix的商业操作系统。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。国内iOS开发起步相对较晚，人才培养机制更是远远跟不上市场发展速度。有限的iOS开发人才成了国内企业必争的资源。</p>
		</div>						
	</div>
</div>