body {
  margin: 0;
  padding: 0;
  max-width: 720px;
  margin: 0 auto;
}
.unit {
  float: left;
  width: 32%;
  padding-bottom: 30%;
  margin: 0.5%;
  border-radius: 5%;
  background-color: #ffa600;
}
.myrow::after {
  content: "";
  clear: both;
  display: block;
}
button {
  width: 98.5%;
  padding: 0.5rem;
  border: none;
  margin: 0.5rem 0;
  border-radius: 10px;
  font-size: 1.5rem;
}
.start,
.stop {
  border: 1px solid #ffa600;
  background-color: white;
  color: #ffa600;
  cursor: pointer;
  outline: none;
}
.start:hover,
.stop:hover {
  background-color: #ffa600;
  color: white;
}
.start:active,
.stop:active {
  background-color: #f59f00;
  box-shadow: 0 0 10px rgba(255, 166, 0, 0.8) inset;
}
