html {
    font-size: 625%;
}
body {
    font-size: 16px;
   
}
.outsideForm{
    width: 100vw;
    height: 100vh;
    background-image: url(js5BG.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 538px;
    height: 390px;
    transform: translate(-50%,-50%);
    background: rgba(208,212,217,.7);
}
h2 {
    text-align: center;
    color: #3b3b3b;}
label {
    display: block;
    width: 81.04%;
    padding: 0 .25rem ;
    margin: .1rem auto;
    border-radius: .1rem;
    background: #fff;
}
label img {
    vertical-align: middle;
    transform: scale(1.4);
    color: #f66f6f;
}
input {
    width: 80%;
    margin:  .1rem .2rem;
    /*padding-left: .25rem;*/
    text-indent: 1em;
    line-height: .4rem;
    outline: none;
    border: none;
    font-size: 20px;
    border-left: 1px solid #eee;
}
#loginMsg {
    width: 80%;
    margin: 0 auto;
    padding: .2rem 0;
    color: #f55d76;
}
button {
    display: block;
    width: 80%;
    line-height: .6rem;
    margin: .1rem auto;
    outline: none;
    border: none;
    color: #fff;
    background: #03a9f4;
}