html,body{
    font-size: 625%;
    background-color: #f0f0f0;
}
html,body,p,div,h3,span,img{
    margin: 0;
    padding: 0;
}
header{
    /*width: 100%;*/
    height: .4rem;
    background-color: #29bde0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9990;
}
.header-nav{
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    height: 0.46rem;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*!*line-height: 0.46rem;*!*/
}
.nav-icon{
    width: .16rem;
    height: .16rem;
    background: url(image/nav.png);
    background-size: cover;

}
/*.header-nav {*/

/*}*/
/*.main{*/
    /*width: 100%;*/
    /*background-color: #f0f0f0;*/
    /*!*margin:0.12rem 0;*!*/
/*}*/
.main{
    width: 88%;
    /*line-height: 0.5rem;*/
    line-height: 9vh;
    font-size: 0.16rem;
    color: #b3b3b3;
    text-align: center;
    margin: .53rem auto .13rem;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    /*margin-top: .53rem;*/
}
.content{
    width: 88%;
    margin:0 auto;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    position: relative;
}
.top{
    font-size: 0.2rem;
    line-height: 9vh;
    /*line-height: 0.45rem;*/
    text-align: center;
    color: #fcc768;
    background-color: #ffffff;
    border-bottom: 1px solid #fcc768;
}
.version{
    /*display: inline-block;*/
    /*display: inline-block;*/
    width: 82%;
    font-size:.17rem;
    color: #ffffff;
    text-align: center;
    /*line-height: .7rem;*/
    line-height: 13vh;
    background-color: #69d1e9;
    margin: .14rem auto;
}
.description{
    font-size: .13rem;
    color: #9a9a9a;
    /*line-height: 0.16rem;*/
    line-height: 3vh;
    text-align: center;
}
.point{
    font-size: 0.1rem;
    text-align: center;
    /*line-height: .16rem;*/
    line-height: 3vh;
}
.circle{
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    /*line-height:0.16rem;*/
    line-height: 3vh;
    border-radius: 100%; /*margin:0.03rem auto;*/
}
.blue{
    background-color: #69d1e9;
}
.white{
    background-color: #f0f0f0;
}
.triangle{
    /*float: right;*/
    position: absolute;
    top: 48%;
    left:94% ;
    /*margin-top: -.67rem;*/
    /*margin-right: calc(2.96%);*/
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.14rem solid transparent;
    border-bottom: 0.14rem solid transparent;
    border-left: 0.13rem solid #fcc768;
}
.review-text{
    width: 100%;
    display: inline-block;
    /*line-height: .5rem;*/
    line-height: 9vh;
    float: left;
}
.icon1{
    float:right;
    /*margin-top: -.33rem;*/
    margin-right: 20px;
    margin-top: -5.5vh;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-left: 3px solid #e7e7e7;
    border-bottom: 3px solid #e7e7e7;
    -webkit-transform: translate(0,2%) rotate(-135deg);
    transform: translate(0,2%) rotate(-135deg);
}
