/* 初始化页面布局 */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}
/* header开始 */
header {
    line-height:.88rem;
    background-color: #29bde0;
    font-size: 0;
}
header .find-list {
    display: inline-block;
    width: .5rem;
    height: .04rem;
    margin-left: .24rem;
    padding: .1rem 0;
    border-top: .04rem solid #fff;
    border-bottom: .04rem solid #fff;
    vertical-align: middle;
    background-color: #fff;
    background-clip: content-box;
}

/* main开始 */
main {
    padding: .27rem .34rem .62rem;
}
/* main标题开始 */
main .title-box {
    box-sizing: border-box;
    border:.01rem solid #c9c9c9;
    font-size: 0;
    text-align: center;
    line-height: 1.16rem;    
    background-color: #fff;
  
}
main .title-box .text {
    font-size: .35rem;
    vertical-align: bottom;
    color: #9a9a9a; 
}

main .title-box .back {
    float: right;
    width: .24rem;
    height: .4rem;
    margin-right: .14rem;
    margin-top: .38rem;
}
/* main游戏body开始  */
main .game-body {
    position: relative;
    height: 8rem;
    margin-top: .25rem;
    border: 1px solid #c9c9c9;
    text-align: center;
    font-size: 0;
    background-color: #fff;
}
/* 标题 */
main .game-name {
    border-bottom: 1px solid #fbb435;
    color: #fbb435;
    font-size: .38rem;
    line-height: .9rem;
}
/* 版本 */
main .game-body .verson {
    display: inline-block;
    width: 81.5%;
    font-size: .32rem;
    line-height: 1.34rem;
    text-align: center;
    color: #fff;
    background-color: #69d1e9;
}
main .game-body .easy {
    margin-top: .3rem;
}
/* 游戏人数 */
main .game-body .user-num {
    font-size: .25rem;
    line-height: .78rem;
    color:#787878;
}
/* 翻页箭头 fixed定位 */
main .game-body .go-page {
    position: fixed;
    margin-top: .4rem;
    right: .5rem;
    width: 0;
    height: 0;
    border-left: .28rem solid #fbb435;
    border-top: .28rem solid transparent;
    border-bottom: .28rem solid transparent;
}
/* 翻页的点 */
main .game-body .leaf-point {
    line-height: .3rem;
} 
main .leaf-point i {
    display: inline-block;
    width: .16rem;
    height: .16rem;
    margin: 0 .05rem;
    border-radius: 50%;
    background: #9a9a9a;
}
main .leaf-point .one {
    background: #69d1e9;
}