/* 初始化页面布局 */
html {
    
}
body {
   
    margin: 0;
    /* background-color: #29bde0; */
}
header {
    position: fixed;
    display: flex;
    width: 100%;
    height: .9rem;
    border:1px solid #74d4eb;
    align-items: center;
    justify-content: space-between;
    background:  #29bde0;
   
}
header .main-btn {
    width: .51rem;
    height: .42rem;
    margin-left: .2rem;
}
header .result {
    font-size: .34rem;
    color: #fff;
}
header .care-btn {
    width: .4rem;
    height: .4rem;
    margin-right: .2rem;
}
/* header结束 */
/* mian开始  图片结果 */
main {
    padding-top: .9rem;
    padding-bottom: 1.3rem;
    font-size: 0;
    background: #29bde0 content-box;
}
main .result-show {
    text-align: center;
    line-height: 2.46rem;
  
}
main .result-show img {
    width: 3.51rem;
    height: 2.05rem;
    vertical-align: middle;
}
main .result-text {
    margin-top: .2rem;
    padding-left: .82rem;
    padding-right: .82rem;
    font-size: .33rem;
    color: #ffc865;
 
}
/* 游戏统计结果 */
main .result-container {
    margin:.56rem 0 .24rem;
    padding-left: .82rem;
    font-size: 0;
    color:#fff;
    white-space: pre;
 
}
main .result-container p {
    margin: .02rem 0;
    font-size: .26rem;
}
/* 游戏每天数据 */
main .game-step {
    overflow: hidden;
    height: 1.64rem;
    font-size: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
main .game-step .date { 
    padding-left: .82rem;
   
}
main .date h4 {
    margin: .14rem 0 ; 
    font-size: .3rem;
}
main .date .hour {
    float: right;
    margin-right: 1rem;
    font-size: .2rem;
    color: #a6a6a6;
}
main .date .game-details {
    margin: .13rem 0;
    font-size: .26rem;
    color: #a6a6a6;
    
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0;
    background-color: rgba(41, 189, 224, 0.5);
}
footer button {
    width: 42%;
    height: .86rem;
    padding: 0;
    border: 0;
    border-radius: .1rem;
    vertical-align: middle;
    color: #fff;
    outline: none;

}
footer .again {
    margin-left: .25rem;
    font-size: .4rem;
    background: #f66f6f;
}
footer .submit {
    float: right;
    margin-right: .25rem;
    margin-top: .22rem;
    font-size: .4rem;
    background: #fbb435;
}