/* 初始化代码 */
html{
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background: #29bde0;
}
/* header开始 */
header {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    height: .9rem;
    border:1px solid #74d4eb;
    align-items: center;
    justify-content: space-between;
    background:  #29bde0;
}
header .main-btn {
    width: .39rem;
    height: .40rem;
    margin-left: .2rem;
}
header .result {
    font-size: .34rem;
    color: #fff;
}
header .care-btn {
    width: .36rem;
    height: .36rem;
    margin-right: .2rem;
}
/* header结束 */
/* main开始 */
main {
    padding-top: .9rem;
    padding-bottom: 1.8rem;
    font-size: 0;
    background: #29bde0 content-box;
}
/* mian标题开始 */
main .audio-container {
    position: relative;
    font-size: .26rem;
    line-height: .82rem;
    background: #b9e9f5;
}
main .audio-container span {
    margin-left: .46rem;
}
main .audio-container i {
    position: absolute;
    top:50%;
    right:.16rem;
    width: 52px;
    height:52px;
    background: url(../img/video.png);
    transform: translateY(-50%);
}
/* 标题小三角形实现 */
main .audio-container .bottom-arrow {
    position: absolute;
    left: .22rem;
    bottom:-0.14rem;
    border-top: .15rem solid #b9e9f5;
    border-left: .08rem solid transparent;
    border-right: .08rem solid transparent;
}
/* mian标题结束 主体开始 */
main .vote-body {
    margin: 0 .11rem;
}
main .vote-body .v-title {
    margin-left: .52rem;
    font-size: .24rem;
    color:#fff;
    line-height: .9rem;
}
/* 游戏投票主体 */
main .vote-body .gamer-vote {
    display: flex;
    flex-wrap: wrap;
}
main .gamer-vote .gamer {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 21.25vw;
    height: 21.25vw;
    margin: 0 5.5% .73rem;
    border: .05rem solid #fff; 

   
}
main .gamer-vote .gamer-id {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70%;
    font-size: .3rem;
    background: #f5c97b;
}
main .gamer-vote .gamer-num {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    font-size: .24rem;
    color: #fff;
    background: #83b09a;
}
/* 小图标实现,雪碧图的自适应*/
main .gamer-vote .gamer-select {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -0.79rem;
    left: -0.05rem;
    width: 21.25vw;
    height: .74rem;
    visibility: hidden;
}
main .gamer-select i {
    flex-basis: 22.5%;
    padding-bottom: 22.5%;
}
main .gamer-select .kill {
    background: url(../img/sprite.png) 0 0/100% auto;
}
main .gamer-select .find {
    background: url(../img/sprite.png) 0 33.3%/100% auto;
}
main .gamer-select .load {
    background: url(../img/sprite.png) 0 66.6%/100% auto;
}
main .gamer-select .add {
    background: url(../img/sprite.png) 0 100%/100% auto;
}

/* footer开始   */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.9rem;
    font-size: 0;
    line-height: 190px;
    text-align: center;
    background: #29bde0;
}
footer .vote-kill{
    width: 76.5%;
    height: .88rem;
    padding: 0;
    border: 0;
    font-size: .4rem;
    vertical-align: middle;
    color: #fff;
    background: #fbb435;
}