//变量
$white: #fff;
$blue: #5fc0cd;
$fnsize: .32rem;
$ht1: 1rem;

//混合宏
@mixin flex-items-center {
    display: flex;
    align-items: center;
}

@mixin wi-ht($width:100%,$height:1rem) {
    width: $width;
    height: $height;    
}