body {
    margin: 0;
    padding: 0;
    background: #29bde0;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 3rem;
    width: 100%;
    border-bottom: solid 1px #74d4eb;
    background: #29bde0;
    z-index: 5;
    .arrow {
        margin-left: 1.3rem;
        height: 15px;
        width: 15px;
        border-bottom: solid 2px #fff;
        border-left: solid 2px #fff;
        transform: rotate(45deg);
    }
    .header-font {
        font-size: 1.2rem;
        color: #fff;
    }
    .cross {
        display: inline-block;
        margin-right: 2rem;
        height: 30px;
        width: 2px;
        vertical-align: middle;
        transform: rotate(45deg);
        background: #fff;
        &::after {
            display: block;
            width: 2px;
            height: 30px;
            transform: rotate(-90deg);
            content: "";
            background: #fff;
        }
    }
}

main {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .centent {
        position: relative;
        height: 22rem;
        width: 75%;
        border: solid 3px #fff;
        background: #ffedc5;
        .circle {
            position: absolute;
            top: -1.35rem;
            left: 50%;
            margin-left: -1.3rem;
            width: 2.5rem;
            height: 2.5rem;
            border: solid 2px #ffedc5;
            border-radius: 50%;
            background: #fff;
            z-index: 3;
            .number {
                display: block;
                line-height: 2.5rem;
                text-align: center;
                color: #f56b81;
                z-index: 3;
            }
        }
        #picture1 {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 45%;
        }
        #picture2{
            display: none;
             position: absolute;
             margin: auto;
             top: -30%;
             bottom: 0;
             left: 0;
             right: 0;
             height: 45%;
        }
        #player{
            display: none;
            margin-top: 13rem;
            text-align: center;
            font-size: 1.38rem;
            color: #29bde0;
        }
    }
    .main-footer{
        margin-top: 3.5rem;
        width: 78%;
        line-height: 3rem;
        text-align: center;
        font-size: 1.3rem;
        color:#fff;
        background: #fbb435;
        #number-box-a{
            display: inline-block;
        }
        #number-box-b{
            display: none;
        }
    }
}