@charset "UTF-8";
@import "../global-style/global.scss";
// 主栏 begin
.main {
	margin-left: .2rem;
	margin-bottom: 1rem;
	width: 75%;
	border-radius: 5px;
	color: $font-color;
	border: 1px solid $border-color;
	background-color: #fff;
	.main-top {
		.logo {
			float: left;
			width: 2.3rem;
			height: 1.6rem;
		}
		p {
			padding: .4rem;
			line-height: .3rem;
			text-indent: 2em;
		}
	}
	.main-bottom {
		padding: .4rem;
		border-top: 1px solid $border-color;
		p {
			padding-bottom: .2rem;
			line-height: .3rem;
			text-indent: 2em;
		}
	}
}
// 主栏 end
@media screen and (max-width: 768px) {
	.side,
	.main {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}