.clear {
    margin-left: 2%;
    margin-right: -2%;
    margin-top: 2vw;
}

.box {
    background: #FFA500;
    width: 30vw;
    height: 30vw;
    border-radius: 10%;
    float: left;
    margin: 1%;
}

#on,
#off {
    width: 90%;
    line-height: .5rem;
    padding: 0;
    margin: .1rem 5%;
    text-align: center;
    color: #FFA500;
    border: 1px solid #FFA500;
    border-radius: .1rem;
    background: transparent;
    outline: none;
    appearance: none;
    cursor: pointer;
}

#on:hover,
#off:hover {
    background: #FFA500;
    color: #fff;
}