<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sca="http://www.springframework.org/schema/sca"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/sca http://www.osoa.org/xmlns/sca/1.0/spring-sca.xsd">

    <!-- sca, type: 接口类, target: 实现类bean id -->
    <sca:service name="login5Service" type="com.leo.service.Login5Service"
                 target="login5Service"/>

    <sca:service name="student4Service" type="com.leo.service.Student4Service"
                 target="student4Service"/>

    <sca:service name="student5Service" type="com.leo.service.Student5Service"
                 target="student5Service"/>
</beans>