@charset "UTF-8";
@import "../global-style/global.scss";
// 职位列表导航
.direction {
	padding-top: .2rem;
	padding-bottom: .2rem;
	color: $font-color;
	border-bottom: 1px solid #d0d6d9;
	li {
		display: inline-block;
		padding: .1rem;
		border-radius: 5px;
		&:hover {
			cursor: pointer;
			background-color: $base-color;
			a {
				color: #fff;
			}
		}
	}
}