body{
	padding:0 20%;
}
h3{
	text-align:center;
}

/*导航栏*/
ul.navbar-nav{
	float:right;
}//右对齐


/*表格*/
.outtb{
	table-layout:fixed;
	word-wrap:break-word;
	word-break:break-all;
	width:100%;
	margin:4rem 0;
}
.outtb,td{
	border:1px solid #eeeded;
}
.th-l{
	width:40%;
	text-align:center;
}
td{
	width:50%;
	padding:1rem;
}
.photo{
	width:9rem;
	height:10rem;
}
h4{
	font-weight:bold;
}
.tbp{
	font-size:1.4rem;
}
.longtd{
	width:;
	text-align:justify;
	text-align-last:justify
}
span{
	display:inline-block;
}
span.size1{
	font-size:1.2rem;
	color:#999;
}
span.five{
	font-size:1.2rem;
	color:#ff5c00;
	margin-left:1rem;
}
span.color-red{
	color:red;
}
.outtd{
	padding:0;
}
.intb{
	margin:0;
	width:100%;
	border:none;
}
.intb td{
	border:none;
}
td.bigtd{
	width:25%;
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #eeeded;
}
td.mintd{
	border-top:1px solid #eeeded;
	border-bottom:1px solid #eeeded;
}