@charset "UTF-8";
//top
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  .background-color_white1;
}


//文字颜色
.color-blue{
  color:#5fc0cd
}
.color-white{
  color:#fff;
}

.color-gray{
  color:#eaedee;
}

//背景颜色
.background-color_blue{
  background-color:#5fc0cd;
}
.background-color_white1{
  background-color:#eff0f4;
}
.background-color_white2{
  background-color:#fff;
}

//字体
.font(@font_size){
  font-size: @font_size;
}
//浮动
.float-button(@float_button){
  float: @float_button;
}
//主要内容
.top{
  width: 100%;
  height: 30px;
  text-align: center;
  .font(20px);
  .background-color_blue;
  .color-white;
}

.close{
  margin: 3px 10px 0 10px;
  .font(17px);
  cursor: pointer;
  text-align: center;
  .float-button(left);
}

.sign-in{
  margin: 3px 10px 0 10px;
  .font(17px);
  cursor: pointer;
  text-align: center;
  .float-button(right);
}
.input{
  height: 50px;
  margin-top: 15px;
  width:100%;
  .background-color_white2;
}
.input-1{
  .input;
  display: flex;
  align-items: center;
}

.input-2{
  .input;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}






.img{
  width: 20px;
  height: 25px;
  margin-left: 15px;
}

.input_text{
  height: 26px;
  margin-left:10px;
  border: none;
  outline:none;
  cursor: pointer;
  font-size:20px;
}

::-webkit-input-placeholder {
  font-size: 20px;
  color:    #eaedee;
}
:-moz-placeholder {
  font-size: 20px;
  color:   #eaedee;
  opacity:  1;
}
::-moz-placeholder {
  font-size: 20px;
  color:    #eaedee;
  opacity:  1;
}
:-ms-input-placeholder {
  font-size: 20px;
  color:    #eaedee;
}
.border{
  height: 28px;
  margin-left:10px;
  border-left:2px solid #eaedee;
}
.button-sign-in{
  width:100%;
  padding-top:10px;
  height: 40px;
  text-align: center;
  .background-color_blue;
  .color-white;
  .font(20px);
  cursor: pointer;
}
.forget{
  height: 20px;
  width: 100%;
}
.forget1{
  .float-button(right);
  .color-blue;
  .font(17px);
  margin-right: 10px;
  cursor: pointer;
}