body{
	max-width: 720px;
}
.content{
	width:40%;
	margin: 0 auto;
}
.cube{
	float: left;
	width: 30%;
	margin: 1%;
	padding-bottom:29%;
	background-color: orange;
	border-radius:20%;
}
button{
	width: 100%;
	margin: 1rem 0;
	padding: 1rem;
	background-color: white;
	color:orange;
	border:1px solid orange;
	font-size: 1rem;
}
button:hover{
	background-color: orange;
	color: white;
	cursor:pointer;
}
