body,ol,ul,h1,h2,h3,h4,h5,h6,p,form,input,textarea,select,option{margin:0;padding:0} 
a:link,a:visited{color:#444;text-decoration:none} 
a:hover{color:#ff0000;text-decoration:none;} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
button{cursor: pointer;} 
body{font-size: 62.5%;}