@media screen and (max-width:767px) {
	.navbar-header button{
		margin-top:2.4rem;
	}
	.nav-2 a:hover{
	border-bottom: .1rem solid white!important;
    }

	.nav-2 ul{
		float: none!important;
		text-align: center;
		box-sizing: border-box;
		height:22rem;
	}
	.scan{
		text-align: left;
	}
	.scan i{
		margin-left: .4rem;
	}
	.active{
	border-bottom: .1rem solid white!important;
	}
}
 @media screen and (max-width:425px) {
	.nav-1 .nav-i{
		display: none;
	}
	.nav-1 .col-md-6{
		display: none;
	}
	.nav-hidden{
		display: inline-block!important;
		float: right;
		
	}
	.nav-hidden span{
		color: black!important;
		padding:0 .6rem;
	}
	.hidden-span{
		border-right: 1px solid black;

	}   
}
body{
	font-size: 62.5%;
	width: 100%;
}
.navbar{
	margin-bottom: 0;
	border: 0;
}
.nav-1 i{

}
.flooter2 i{
	background: url(../images/task8-1-CssSprite.png) no-repeat;
	display: inline-block;
}
.row{
	margin: 0;
}
.nav-hidden{
	display: none;
}
.nav-1{
	background-color: #fff;
	margin:0 ;
	padding:  .7rem 8% 0;
}
.nav-1 span{
	font-size: 1.5rem;
	color:#29b078;	
	display: inline-block;
}

.nav-i{
	float: right;

}
.nav-i1{
	background: url(../images/task8-1-CssSprite.png) no-repeat;
	display: inline-block;
	height:27px;
	width:29px;
	background-position:0 -50px;
	display: inline-block;
	margin-right:1rem;
}
.nav-i2{
	background: url(../images/task8-1-CssSprite.png) no-repeat;
	display: inline-block;
	height:27px;
	width:28px;
	background-position:0 -23px;
	display: inline-block;
	margin-right:1rem;
}
.nav-i3{
	background: url(../images/task8-1-CssSprite.png) no-repeat;
	display: inline-block;
	height:27px;
	width:29px;
	background-position:0 -77px;
	display: inline-block;
}
.nav-2{
	background-color: #29b078;
	
}
.active{
	border-bottom: .3rem solid white;
}
.container-fluid{
	padding: 0 6% 0 8%;
}
.navbar-header img{
	display: inline-block;
	margin: 1rem 0 0 0;
	padding-bottom: 1rem;
	
}
.nav-2 button{
	background-color: white;
}
.nav-2 a{
	font-size: 2rem;
	color: white!important;
	cursor:pointer;
}
.nav-2 ul{
	float: right;
}
.nav-2 li{
	padding:2rem 0 3rem 0 ;
	height:50px;
	z-index: 1;

}
.nav-2 li a{
	padding-bottom: 3.1rem;
}
.nav-2 a:hover{
	border-bottom: .3rem solid white;
	cursor:pointer;
}
.active{
	border-bottom: .3rem solid white;
	}






.flooter2{
	background-color: #26a26f;
	font-size: 1.5rem;
	color: white;
	
}
.flooter2-div{
	padding: 0 6%;
}
.flooter2 li{
	display: inline-block;
	margin-bottom: 1.2rem;
	height:  1rem;
	line-height: .1rem;

}
.flooter2 p{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.8rem;

}
.flooter2 i{
	height:92px;
	width:93px;
	background-position:0 -439px;
}
.scan p{
	margin-bottom:  0;

}
.flooter2 li:hover{
	border-bottom: 1px solid white;
	cursor:pointer;
}
.space{
	margin-left: 4rem;
}

.flooter-3 p{
	margin: 0;
	font-size: 1.5rem;
}
.nav-1 span{
	padding: 0;
}