* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%; }

a,
a:hover {
  text-decoration: none; }

.container {
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media screen and (min-width: 768px) and (max-width: 990px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 991px) and (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }

.col-xs-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

@media screen and (min-width: 768px) and (max-width: 990px) {
  .col-sm-6 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%; } }

@media screen and (min-width: 991px) {
  .col-md-3 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%; } }

@media screen and (min-width: 991px) {
  .col-md-4 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.333333%; } }

@media screen and (min-width: 991px) {
  .col-md-20 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%; } }

@media screen and (min-width: 768px) {
  .col-sm-4 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.333333%; } }

@media screen and (min-width: 768px) {
  .col-sm-3 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%; } }

@media screen and (min-width: 768px) {
  .col-sm-9 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%; } }

header .header-top {
  border-top: 1px solid #bfe3d4;
  background: #fff; }
  header .header-top .container {
    font-size: 1.4rem;
    color: #29b078;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px; }
    header .header-top .container .header-top-nav {
      display: flex;
      align-items: center; }
      header .header-top .container .header-top-nav a {
        margin-left: 15px; }
        @media screen and (max-width: 767px) {
          header .header-top .container .header-top-nav a {
            margin-left: 10px; } }
header .header-bottom {
  background-color: #29b078; }
  header .header-bottom .container {
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .header-bottom .container ul {
      list-style: none;
      display: flex;
      align-items: center; }
      header .header-bottom .container ul li a {
        font-size: 1.6rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 100px;
        border-bottom: 4px solid #29b078; }
        header .header-bottom .container ul li a:hover {
          border-bottom: 4px solid #fff; }
        @media screen and (max-width: 767px) {
          header .header-bottom .container ul li a {
            width: 100vw;
            height: 44px; } }
      header .header-bottom .container ul .active a {
        border-bottom: 4px solid #fff; }
      @media screen and (max-width: 767px) {
        header .header-bottom .container ul {
          flex-direction: column;
          align-self: center;
          display: none; } }
    header .header-bottom .container #sidebar-icon:checked ~ ul {
      display: flex; }
    @media screen and (max-width: 767px) {
      header .header-bottom .container {
        align-items: flex-start;
        flex-direction: column; } }
    header .header-bottom .container > a {
      height: 60px;
      display: flex;
      align-items: center; }
    header .header-bottom .container #sidebar-icon {
      display: none; }
    header .header-bottom .container label {
      position: absolute;
      top: 11px;
      right: 15px;
      border-radius: 4px;
      width: 40px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: none; }
      header .header-bottom .container label span {
        width: 20px;
        height: 4px;
        margin: 2px;
        background: #888; }
      @media screen and (max-width: 767px) {
        header .header-bottom .container label {
          display: flex; } }
    header .header-bottom .container #sidebar-icon:checked ~ label {
      background: #fff; }

/*# sourceMappingURL=header.css.map */
