$header-height: 12vw;
$header-fs: 6vw;
$header-bc: #29bde0;
$header-c: #fff;
$btn-width: 12vw;
$btn-tac: center;
$bth-imgs: 6vw;
header{
  height: $header-height;
  background-color: $header-bc;
}
.header-center{
  text-align: center;
}
.header-dfbc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-btn{
  height: $header-height;
  width: $btn-width;
  text-align: $btn-tac;
  img{
    width: $bth-imgs;
    height: $bth-imgs;
  }
}
.btn-fleft{
  float: left;
}
