<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
    <select id="validateUser"  resultType="pojo.User">
        SELECT * FROM user WHERE username=#{param1} AND password=#{param2}
    </select>
    <update id="updateTimeById" parameterType="long">
        update user SET login_time = unix_timestamp(now()) WHERE id = #{id}
    </update>
    <select id="selectById" parameterType="long" resultType="pojo.User">
        select * FROM user WHERE id=#{id}
    </select>
</mapper>