header .row {
  display: flex;
  justify-content: flex-end;
  height: 0.78rem; }
  header .row span {
    line-height: 0.78rem;
    font-size: .28rem;
    color: #29B078; }
  header .row div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header .row div i {
      width: .6rem;
      height: .6rem;
      margin: auto .2rem; }
      header .row div i:nth-child(1) {
        background: url(../../8/image/img.png) no-repeat 2px 30%; }
      header .row div i:nth-child(2) {
        background: url(../../8/image/img.png) no-repeat 2px 63%; }
      header .row div i:nth-child(3) {
        background: url(../../8/image/img.png) no-repeat 2px -3%; }

.nav-green {
  background: #29B078; }
  .nav-green .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .nav-green .container > a img {
      vertical-align: bottom; }
      @media screen and (min-width: 769px) {
        .nav-green .container > a img {
          margin: .25rem 0;
          height: 1.5rem; } }
      @media screen and (max-width: 768px) {
        .nav-green .container > a img {
          max-width: 4rem;
          margin: .4rem 0; } }
    .nav-green .container label {
      display: none; }
      @media screen and (max-width: 768px) {
        .nav-green .container label {
          display: block;
          width: 1rem;
          height: 1rem;
          margin: auto 0;
          border-radius: .15rem;
          background: url(http://jns.img.bucket.ks3-cn-beijing.ksyun.com/skill/skill_html/images/menu.png) no-repeat 15px 15px;
          background-color: #1d8358; } }
    .nav-green .container ul {
      font-size: .32rem;
      text-align: center; }
      @media screen and (min-width: 769px) {
        .nav-green .container ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 2rem; }
          .nav-green .container ul li {
            width: 20%; }
            .nav-green .container ul li a {
              display: block;
              width: 100%;
              line-height: 1.95rem;
              color: #fff;
              border-bottom: transparent solid 5px;
              box-sizing: content-box; }
              .nav-green .container ul li a:hover {
                border-bottom: #fff solid 5px; } }
      @media screen and (max-width: 768px) {
        .nav-green .container ul {
          position: absolute;
          top: 2.27rem;
          left: 0;
          right: 0;
          background: #29B078; }
          .nav-green .container ul li a {
            display: block;
            line-height: 0.8rem;
            color: #fff; }
            .nav-green .container ul li a:hover {
              background: #37f1a4; } }

input {
  display: none; }

#navstyle:checked ~ .main {
  transform: translateY(3.2rem); }

.main {
  transform: translate(0, 0);
  transition: all 0.5s; }
  @media screen and (max-width: 768px) {
    .main {
      position: absolute;
      top: 2.2rem;
      left: 0;
      right: 0; } }

.green {
  bottom: 0;
  background: #29B078;
  padding-top: .74rem;
  color: #fff;
  font-size: .32rem; }
  .green .jnshu {
    display: flex;
    align-items: center;
    padding-top: 1.36rem;
    padding-bottom: .68rem; }
    .green .jnshu :nth-child(1), .green .jnshu :nth-child(2) {
      margin-right: .3rem;
      padding-right: .3rem;
      border-right: 2px solid #fff; }
    .green .jnshu li {
      line-height: .5rem;
      border-bottom: 2px solid transparent; }
      .green .jnshu li:hover {
        border-bottom: #fff 2px solid; }
  .green .link-he {
    display: flex;
    align-items: center;
    padding: .27rem 0; }
    .green .link-he p {
      margin-right: .6rem;
      padding-bottom: .1rem;
      border-bottom: 2px solid transparent; }
      .green .link-he p:hover {
        border-bottom: #fff 2px solid; }
  .green img {
    margin-top: .1rem;
    width: 1.9rem; }
  .green .logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .2rem;
    text-align: center; }

html {
  font-size: 312.5%; }

body {
  margin: 0;
  font-size: 16px; }

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

* {
  box-sizing: border-box; }

.container {
  padding: 0 15px 0 15px; }
  @media screen and (min-width: 0px) {
    .container {
      width: auto; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media screen and (min-width: 768px) {
    .container {
      margin: 0 auto; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .container {
      margin: 0 0; } }

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap; }

@media screen and (min-width: 0px) {
  .col-xm-1 {
    flex: 0 0 8.33333%;
    padding: 0 15px;
    position: relative; }

  .col-xm-2 {
    flex: 0 0 16.66667%;
    padding: 0 15px;
    position: relative; }

  .col-xm-3 {
    flex: 0 0 25%;
    padding: 0 15px;
    position: relative; }

  .col-xm-4 {
    flex: 0 0 33.33333%;
    padding: 0 15px;
    position: relative; }

  .col-xm-5 {
    flex: 0 0 41.66667%;
    padding: 0 15px;
    position: relative; }

  .col-xm-6 {
    flex: 0 0 50%;
    padding: 0 15px;
    position: relative; }

  .col-xm-7 {
    flex: 0 0 58.33333%;
    padding: 0 15px;
    position: relative; }

  .col-xm-8 {
    flex: 0 0 66.66667%;
    padding: 0 15px;
    position: relative; }

  .col-xm-9 {
    flex: 0 0 75%;
    padding: 0 15px;
    position: relative; }

  .col-xm-10 {
    flex: 0 0 83.33333%;
    padding: 0 15px;
    position: relative; }

  .col-xm-11 {
    flex: 0 0 91.66667%;
    padding: 0 15px;
    position: relative; }

  .col-xm-12 {
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative; } }
@media screen and (max-width: 768px) and (min-width: 0px) {
  .hidden-xm {
    display: none; } }
@media screen and (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    padding: 0 15px;
    position: relative; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    padding: 0 15px;
    position: relative; }

  .col-sm-3 {
    flex: 0 0 25%;
    padding: 0 15px;
    position: relative; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    padding: 0 15px;
    position: relative; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    padding: 0 15px;
    position: relative; }

  .col-sm-6 {
    flex: 0 0 50%;
    padding: 0 15px;
    position: relative; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    padding: 0 15px;
    position: relative; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    padding: 0 15px;
    position: relative; }

  .col-sm-9 {
    flex: 0 0 75%;
    padding: 0 15px;
    position: relative; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    padding: 0 15px;
    position: relative; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    padding: 0 15px;
    position: relative; }

  .col-sm-12 {
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative; } }
@media screen and (max-width: 992px) and (min-width: 768px) {
  .hidden-sm {
    display: none; } }
@media screen and (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    padding: 0 15px;
    position: relative; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    padding: 0 15px;
    position: relative; }

  .col-md-3 {
    flex: 0 0 25%;
    padding: 0 15px;
    position: relative; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    padding: 0 15px;
    position: relative; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    padding: 0 15px;
    position: relative; }

  .col-md-6 {
    flex: 0 0 50%;
    padding: 0 15px;
    position: relative; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    padding: 0 15px;
    position: relative; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    padding: 0 15px;
    position: relative; }

  .col-md-9 {
    flex: 0 0 75%;
    padding: 0 15px;
    position: relative; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    padding: 0 15px;
    position: relative; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    padding: 0 15px;
    position: relative; }

  .col-md-12 {
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative; } }
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .hidden-md {
    display: none; } }
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    padding: 0 15px;
    position: relative; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    padding: 0 15px;
    position: relative; }

  .col-lg-3 {
    flex: 0 0 25%;
    padding: 0 15px;
    position: relative; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    padding: 0 15px;
    position: relative; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    padding: 0 15px;
    position: relative; }

  .col-lg-6 {
    flex: 0 0 50%;
    padding: 0 15px;
    position: relative; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    padding: 0 15px;
    position: relative; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    padding: 0 15px;
    position: relative; }

  .col-lg-9 {
    flex: 0 0 75%;
    padding: 0 15px;
    position: relative; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    padding: 0 15px;
    position: relative; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    padding: 0 15px;
    position: relative; }

  .col-lg-12 {
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative; } }
@media screen and (min-width: 1200px) {
  .hidden-lg {
    display: none; } }
.main > img {
  width: 100%;
  min-height: 3.3rem; }
.main main > p {
  font-size: .28rem;
  margin-top: .66rem;
  margin-bottom: .58rem; }
  .main main > p span:nth-child(2) {
    color: #29B078; }
.main main .company {
  margin-bottom: .5rem;
  padding-left: 35%;
  font-size: .28rem;
  color: #29B078;
  box-shadow: 0 0 1px #999999; }
  .main main .company p {
    padding-top: .42rem;
    margin-bottom: .6rem;
    font-size: .32rem;
    color: #333; }
  .main main .company li {
    line-height: 1rem; }
    .main main .company li::before {
      content: "";
      display: inline-block;
      width: .28rem;
      height: .28rem;
      margin-right: .1rem;
      vertical-align: middle;
      border-radius: 50%;
      border: 1px solid #FF5C00; }
    .main main .company li:hover {
      color: #FF5C00; }
    .main main .company li:hover::before {
      background: #FF5C00; }
.main main .window {
  height: 22.02rem;
  margin-bottom: 4.64rem;
  box-shadow: 0 0 1px #999999;
  font-size: .28rem;
  color: #999999; }
  .main main .window .window-nav {
    padding: .5rem;
    border-bottom: 1px solid #999999; }
    .main main .window .window-nav img {
      float: left;
      margin-right: .5rem;
      height: 1.5rem; }
  .main main .window p {
    padding: .76rem .5rem 0 .5rem; }

/*# sourceMappingURL=2.css.map */
