@import"head";
@import "mixin";
@import "style";
@import "bootsarp";

.main{
    >img{
        width: 100%;
        min-height: 3.3rem;
    }
  main{
      >p{
          font-size: .28rem;
          margin-top: .66rem;
          margin-bottom: .58rem;
          span:nth-child(2){
              color: #29B078;
          }
      }
      .company{
          margin-bottom: .5rem;
          padding-left: 35%;
        font-size: .28rem;
        color: #29B078;
        box-shadow: 0 0 1px #999999;

        p{
            padding-top: .42rem;
            margin-bottom: .6rem;
            font-size: .32rem;
            color: #333;
        }
        li{
            line-height: 1rem;
            &::before{
                content: "";
                display: inline-block;
                width: .28rem;
                height: .28rem;
                margin-right: .1rem;
                vertical-align: middle;
                border-radius: 50%;
                border: 1px solid #FF5C00;
            }
            &:hover{
                color: #FF5C00;
            }
            &:hover::before{
                background: #FF5C00;
            }

        }

      }
      .window{
          height: 22.02rem;
          margin-bottom: 4.64rem;
          box-shadow: 0 0 1px #999999;
          font-size: .28rem;
          color: #999999;
          .window-nav{
              padding: .5rem;
              border-bottom: 1px solid #999999;
              img{
                  float: left;
                  margin-right: .5rem;
                  height: 1.5rem;
              }
          }
          p{
              padding: .76rem .5rem 0 .5rem;
          }
      }
  }

}
