body{
    margin: 0;
    background-color: #eff0f4;
     
}
.h{
    height:55px;
    width: 100%;
    background-color: #5fc0cd;
    color:#e1f3f6;
    text-align:center;
  }/*顶部*/

.a{
    float: left;
    line-height: 60px;
    margin-left: 15px;    
}/*关闭*/

.b{
    font-size: 19px;
    line-height: 60px;
}/*登录*/

.c{
   float:right;
   line-height: 63px;
   margin-right: 15px;   
}/*注册*/





.d{
    height:38px;
    width:100%;
    background-color: #ffffff;
    line-height: 46px;
    margin:6px 0 8px 0;
    position: relative;
    overflow: hidden;
}  
.iphone{   
    margin-left:20px;
}
.locked{ 
    margin-left:20px;
}
.up{
    padding: 11px;
    border-left: 1px solid #eaedee;
    position: absolute;
    left: 56px;
    top:6px;
}
.down{
    padding: 11px;
    border-left: 1px solid #eaedee;
    position: absolute;
    left: 56px;
    top:7px;
}
input{
    position: absolute;
    border: none;
    width:100%;
    left:80px;
    letter-spacing: 0.08em;
    margin-top: 10px;
    outline:none;/*输入框*/
  
}
input::-webkit-input-placeholder{ color:#eaedee}/*输入框的默认字体颜色设置*/


   



.underbox{
    height:41px;
    width:100%;
    top:100px;
    text-align: center;
    background-color: #5fc0cd;
    margin-top: 30px;
    color:#f3f4f6;
    line-height: 41px;
    letter-spacing: 0.5em ;  
}

button{
    outline:none;
    border:none;
    background-color: #5fc0cd;
    color:#f3f4f6;      
}

    
        
       
    

.last{
    float:right;
    color:#5fc0cd;
    margin:15px 20px 0 0;
}










