html {
	font-size: 625%;
}
body {
	max-width: 1920px;
	width: 100%;
	background-color: #FAFAFA;
	padding: 0;
	margin: 0;
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
	.col-md-1-5, .col-lg-1-5 {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
	.col-md-1-1 {
		width: 10%;
		float: left;
	}
	.col-md-1-1, .col-lg-1-1 {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
}





.top-box {
	width: 100%;
	background-color: #1D7AD9;
}
.top-left {
	width: 2rem;
	font-size: .14rem;
	color: #FFF;
	float: left;
	padding: .07rem 0 .07rem .15rem;
}

.top-new-box {
	width: 100%;
	background-color: #FFF;
}
.top-new-right {
	width: 1rem;
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login {
	width: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
}
.login a{
	padding: .07rem 0;
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}
.login a:hover{
	background-color: #FFF;
	color: #333;
}
.registeration {
	width: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registeration a{
	padding: .07rem 0;
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}
.registeration a:hover{
	background-color: #FFF;
	color: #333;
}


/*导航栏*/
.container-fluid {
	background-color: #F9F9F9;
}
.navbar {
	margin-bottom: 0;
	border: none;
}
.navbar-header {
	margin-top: .25rem;
}
.navbar-nav {
	float: right;
	margin: 0;
}
.nav-default {
	border-color: none;
}
.navbar-collapse {
	padding-right: 0;
}
.nav>li {
	margin-top: .1rem;
	margin-bottom: .1rem;
	margin-left: .2rem;
	box-shadow: 0 0 .06 gray;
}
.navbar-default .navbar-nav>li>a{
	color: #333;
}
.navbar-nav>li>a{
	padding: .1rem .1rem;
	background-color: #FFF;
	font-size: .16rem;
	color: #333;
	text-decoration: none;
	border-radius: .1rem;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #1D7AD9;
	color: #FFF;
}





.main-box {
	width: 100%;
	background-color: #FFF;
	padding-bottom: .2rem;
}
.main {
	width: 100%;
	box-shadow: 0 0 .06rem gray;
	background-color: #FBFCFF;
}
.step-box {
	width: 100%;
	padding: .4rem 0;
}
.step-top {
	width: .22rem;
	height: .22rem;
	border-radius: 50%;
	background-color: #FF7F02;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .14rem;
	color: #FFF;
	margin: 0 auto;
	position: relative;
	top: 0;
	z-index: 999;
}
.step-mid {
	width: 100%;
	height: .08rem;
	border-radius: .15rem;
	background-color: #FF7F02;
	position: relative;
	top: -.14rem;
}
.step-bottom {
	width: 100%;
	font-size: .18rem;
	color: #FF7F02;
	text-align: center;
}

.step-top-new {
	width: .22rem;
	height: .22rem;
	border-radius: 50%;
	background-color: #DBDBDB;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .14rem;
	color: #FFF;
	margin: 0 auto;
	position: relative;
	top: 0;
	z-index: 999;
}
.step-mid-new {
	width: 100%;
	height: .08rem;
	border-radius: .15rem;
	background-color: #DBDBDB;
	position: relative;
	top: -.14rem;
}
.step-bottom-new {
	width: 100%;
	font-size: .18rem;
	color: #DBDBDB;
	text-align: center;
}

.please {
	width: 100%;
	box-sizing: border-box;
	border-left: 2px solid #1D7AD9;
	font-size: .22rem;
	color: #333;
	margin: .1rem 0;
}
.topic {
	width: 100%;
	font-size: .18rem;
	color: #1D7AD9;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: .1rem 0 .1rem .2rem;
	background-color: #F9F9F9;
}
.icon-1 {
	width: .19rem;
	height: .15rem;
	background-image: url(images/04.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: .1rem;
	margin-left: .02rem;
}
.icon-2 {
	width: .22rem;
	height: .2rem;
	background-image: url(images/05.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: .1rem;
}
.icon-3 {
	width: .15rem;
	height: .2rem;
	background-image: url(images/06.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: .14rem;
	margin-left: .03rem;
}



.content-top {
	width: 100%;
	padding: .16rem 0;
}
.content-left {
	width: 100%;
	padding: .16rem 0;
}
.content-left-inner {
	display: flex;
	align-items: center;
}
.input-group {
	width: 1.4rem;
	margin: .03rem;
}
.input-group-addon {
	background-color: #FFF;
	border: none;
}
.content-right {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: .1rem;
}
.content-right-inner {
	width: 80%;
	margin-top: .22rem;
}
.form-control {
	width: auto;
	padding: 0;
}
.input-group-addon {
	background-color: #FBFCFF;
}
input[type="radio"] + label::before {
	content: "\a0";
	display: inline-block;
	vertical-align: middle;
	font-size: .15rem;
	width: .14rem;
	height: .14rem;
	border-radius: 50%;
	border: 1px solid #DFDFE0;
	text-indent: .15rem;
	line-height: 1;
	background-color: #F8F9FB;
	margin-right: .12rem;
}
input[type="radio"]:checked + label::before {
	background-color: #1D7AD9;
	background-clip: content-box;
}
input[type="radio"] {
	display: none;
}
.select-box {
	width: 100%;
	height: .34rem;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	box-sizing: border-box;
	border: 1px solid #CCC;
	background-image: url(images/09.png);
	background-repeat: no-repeat;
	background-size: .24rem .28rem;
	background-position: right center;
	padding-left: 10%;
}
.new-select-box {
	margin-top: .24rem;
}





.next-box {
	width: 100%;
	padding: 1.4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
}
.next {
	width: 1.8rem;
}
.next a{
	width: 100%;
	font-size: .24rem;
	color: #FFF;
	background-color: #E15053;
	text-decoration: none;
	padding: .1rem .5rem;
}








.bottom {
	width: 100%;
	background-color: #F9F9F9;
	padding: 0 0 .16rem 0;
}
.jnshu {
	width: 100%;
	font-size: .16rem;
	color: #999;
	margin-top: .34rem;
}


.bottom-mid {
	width: 100%;
	margin-top: .34rem;
}
.mid-text-box {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.mid-text {
	width: 30%;
	text-align: left;
}
.mid-text a{
	font-size: .14rem;
	color: #999;
	text-decoration: none;
}
.mid-text a:hover{
	color: #1D7AD9;
}


.bottom-right {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.right-text {
	font-size: .14rem;
	color: #999;
	margin-top: .2rem;
	line-height: 1.8;
}
.bottom-icon {
	width: .92rem;
	height: .92rem;
	background-image: url(images/15.png);
	background-size: .92rem .92rem;
	background-repeat: no-repeat;
	margin-top: .24rem;
}

.bottom-bottom {
	width: 100%;
	height: .3rem;
	background-color: #1D7AD9;
	text-align: center;
	line-height: .3rem;
	font-size: .12rem;
	color: #FFF;
}