html {
    font-size: 625%;
}

body {
    font-size: .16rem;
}

p {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0; 
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    outline: none !important;
}
.container {
    padding: 0;
}
.col-12,.col-sm-8,.col-sm-4,.col-sm-2 {
    padding: 0;
}
.row {
    margin: 0;
}

/* header */

header {
    background: #1d7ad9;
}

header .col-sm-4:nth-child(1) p {
    font-size: .12rem;
}

header .login {
    padding: 10px 10px;
}

header .col-sm-8 button {
    display: inline-block;
    padding: 10px 20px;
    font-size: .14rem;
    color: white;
    background: #1d7ad9;
}
header .col-sm-8 button:hover {
    color: black;
    background: white;
}


/* header媒体查询 */

@media screen and (max-width:575px) {
    header .col-sm-4 {
        flex-basis: 50%;
    }
    header .col-sm-4 p {
        font-size: .1rem !important;
    }
    header .col-sm-8 {
        flex-basis: 50%;
        max-width: 50%
    }
}

/* 导航栏样式 */

main .box1 {
    background: #f9f9f9;
}

/* 去除导航栏默认样式 */

.box1 .navbar {
    padding: 0;
}

/* 导航栏按钮样式 */

.box1 ul li {
    margin-top: .128rem;
    margin-bottom: .128rem;
    margin-left: 4vw;
    border-radius: 5%;
    font-size: .14rem;
    box-shadow: .5px .5px #888888;
    background: white;
}

.navbar-light .navbar-nav .nav-link {
    padding: .08rem .104rem;
    color: black;
}

/* 折叠按钮样式 */

.navbar-toggler {
    margin-top: .1rem;
    margin-right: 11px;
    margin-bottom: .1rem;
    padding: .05rem .09rem;
    font-size: .16rem;
    border-radius: 4px;
}

@media screen and (max-width:575px) {
    .box1 ul li {
        border-radius: 0;
    }
}

/* 导航栏hover */

.box1 li:hover {
    background: #1d7ad9;
}

.box1 li:hover a {
    color: white !important;
}

/* 流程图 */

/* 外部盒子 */

.hover-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5.6px;
}

.hover-box span:nth-child(2) {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-right: 10px;
    text-align: center;
    font-size: .14rem;
    font-weight: 500;
    color: #cccccc;
}

/* 内部样式 */

.box2 .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 4px;
    border-radius: 2px;
    background: #cccccc;
}

.circle span {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    font-size: .12rem;
    color: white;
    text-align: center;
    background: inherit;
}

/* 流程图hover */

.hover-box:hover .circle {
    background: #ff7f02;
}

.hover-box:hover .text1 {
    color: #ff7f02;
}

/* 流程图media */

@media screen and (max-width:767px) and (min-width:576px) {
    .box2 .hover-box {
        width: 25%;
        margin-left: -6px;
    }
    .box2 .circle {
        width: 100%;
    }
}
@media screen and (max-width:575px) {
    .row {
        padding-right: 0 !important;
    }
    .box2 .col-12 {
        display: flex;
        flex-direction: column;
    }
    .box2 .hover-box {
        margin-top: .2rem; 
        width: 100%;
    }
    .box2 .circle {
        width: 60%;
    }

}

/* 流程图下方提示 */

.title-line p {
    display: inline-block;
    margin-top: .3rem;
    margin-bottom: .1rem;
    padding-left: 5px;
    border-left: 2px solid #1d7ad9;
    font-weight: 500;
    font-size: .18rem;
}

.box3 .container {
    border: 1px solid #e8e8e8;
}
/* 第一行选择箱型 */

.first-line {
    margin: 0;
    color: #1d7ad9;
}

.first-line p {
    display: inline-block;
    margin-left: 5px;
}

.first-line .col-12 {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
    background: #f3f3f3;
}

.box-icon {
    display: inline-block;
    width: .19rem;
    height: .15rem;
    background: url(../images/box.png) no-repeat;
    background-size: 100%;
}

/* check box 表单样式 */

.circlebox {
    display: none;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: .8rem;
    font-size: .16rem;
}

label::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 15px;
    border: 1px solid #999999;
    border-radius: 50%;
}

/* 选择点击效果 */

input:checked+label::before {
    border: 5px solid #1d7ad9;
    box-shadow: #1d7ad9 0px 0px 8px;
    transition: box-shadow .5s, border 1s;
}


/* 选择箱型表单 */

.second-line .col-sm-8 {
    padding-left: 55px;
    color: #666666;
}
/* 第二行右侧下拉选框  */
.second-line {
    padding-right: 30px;
    background: #fbfcff;
}
#downlist {
    list-style: none;
}
.down-line {
    position: relative;
    display: inline-block;
    margin: 10px auto; 
}
.down-line ul {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.down-line button {
    display: inline-flex;
    align-items: center;
    padding: 5px 5px;
    border: 2px solid #f2f2f2;
    font-size: .14rem;
    color: #999999;
}
/* 右侧下拉图标 */
.down-line button p {
    display: inline-block;
    width: 22px;
    height: 26px;
    margin-left: 25px;
    border-radius: 5.5%;
    background: #1d7ad9;
}
.down-line button p::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 6px;
    border-top: 6px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; 

}
/* 下拉选框样式 */
#downlist {
    border: 1px solid #f2f2f2;
    border-top: none;  
}
#downlist li {
    padding-top: 5px;
    padding-bottom: 5px; 
    background: white;
}
#downlist a {
    color: #888888 !important;
    text-decoration: none;
}
#downlist li:hover {
    background: #f2f2f2;
}
/* 选择箱型响应式 */
@media screen and (max-width:575px) {
    .second-line .col-sm-8 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .second-line .col-sm-4 {
        text-align: center !important;
    }
    
}
/* 确定尺寸表头 */
.first-line .size-icon {
    display: inline-block;
    width: .19rem;
    height: .15rem;
    background: url(../images/Ruler.png) no-repeat;
    background-size: 100%;
}
/* 去除number箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
}
/* 第三行样式 */
.third-line {
    padding-right: 30px;
    background: #fbfcff;
    color: #666666;
}
.third-line .col-sm-8 {
    padding-left: 55px;
}
/* 尺寸form表单 */
.wai-box {
    display: flex;
    align-items: center;
}
.wai-box form p {
    display: inline-block;
}
.wai-box input {
    width: 60px;
} 
/* 确定尺寸响应式   */
@media screen and (max-width:992px) {
    .third-line {
        padding-top: .1rem;
        padding-bottom: .1rem;
    }
    .wai-box form p {
        display: block; 
    }
    .wai-box form p:nth-child(2) {
        margin-top: .1rem;
        margin-bottom: .1rem; 
    }
    .third-line .wai-box:nth-child(1) {
        margin-bottom: .2rem;
    }
}
@media (max-width:575px) {
    .wai-box {
        justify-content: space-between;
    }
    .wai-box form p:nth-child(2) {
        margin-right: 30px; 
    }
    .wai-box label {
        margin-right: 0;
    }
    .third-line .col-sm-4 {
        text-align: center !important;
    }

}
/* 选择材质 */
.material-icon {
    display: inline-block;
    width: .15rem;
    height: .2rem;
    background: url(../images/Cut\ .png) no-repeat;
    background-size: 100%;
}
/* 第四行样式 */
.forth-line {
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-right: 30px;
    background: #fbfcff;
}
.forth-line label {
    margin-right: .2rem;
    font-size: .14rem; 
    color: #666666;
}
.forth-line .col-sm-10 {
    padding-left: 55px;
}

/* 下拉选框样式 */

#downlist2 {
    list-style: none;
}
#downlist2 {
    border: 1px solid #f2f2f2;
    border-top: none;  
}
#downlist2 li {
    padding-top: 5px;
    padding-bottom: 5px; 
    background: white;
}
#downlist2 a {
    color: #888888 !important;
    text-decoration: none;
}
#downlist2 li:hover {
    background: #f2f2f2;
}
/* 下拉选框样式 */

#downlist3 {
    list-style: none;
}
#downlist3 {
    border: 1px solid #f2f2f2;
    border-top: none;  
}
#downlist3 li {
    padding-top: 5px;
    padding-bottom: 5px; 
    background: white;
}
#downlist3 a {
    color: #888888 !important;
    text-decoration: none;
}
#downlist3 li:hover {
    background: #f2f2f2;
}
/* 第四行响应式 */
@media screen and (max-width:992px) and (min-width:576px) {
    .forth-line .col-sm-10 {
        flex: 0 0 60%;
        max-width: 60%
    }
    .forth-line .col-sm-2 {
        flex: 0 0 40%;
        max-width: 40%;
    }
}
@media screen and (max-width:575px) {
    .forth-line .col-sm-10 {
        flex: 0 0 100%;
        max-width: 100%;

    }
    .forth-line .col-sm-2 {
        text-align: center !important;
    }
    
}
@media screen and (max-width:482px) {
    .forth-line .col-sm-10 {
        text-align: justify;
    }

}
@media screen and (max-width:333px) {
    .forth-line .col-sm-10 {
        text-align: center;
        padding-right: 45px;
    }
}

/* 下一步按钮 */
.sixth-line button {
    display: inline-block;
    margin-top: .8rem;
    margin-bottom: .5rem; 
    width: 1.2rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .2rem;
    border-radius: .05rem; 
    text-align: center;
    color: white;
    background: #e15053;
}
footer {
    background: #f9f9f9;
}
footer .row {
    padding-top: .6rem;
    padding-bottom: .6rem; 
}
footer .col-sm-4 p {
    display: inline-block;
    font-size: .12rem;
    color: #999999;
}
footer .col-sm-4:nth-child(1) p {
    font-size: .14rem;
}
footer .col-sm-4:nth-child(2) p {
    width: 30%;
}
footer .col-sm-4:nth-child(2) p:hover {
    color: #1d7ad9;
}
footer .col-sm-4:nth-child(3) .text2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: .1rem;

}
footer .col-sm-4:nth-child(3) i {
    display: inline-block;
    width: 93px;
    height: 92px;
    background: url(../images/二维码.png) no-repeat;
    background-size: 100%;
}

footer .last-title {
    background: #1d7ad9;
}
footer .last-title p{
    display: inline-block;
    margin-bottom: 0;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-size: .1rem;
    color: white;
    
}
@media screen and (max-width:767px) {
    footer .container {
        width: 80%;
    }
    footer .col-sm-4 {
        margin-top: .1rem;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: space-between !important;
        text-align: left !important;
    }
    footer .last-title p{
        display: inline-block;
        margin-bottom: 0;
        padding-top: .02rem;
        padding-bottom: .02rem;
        
    }
    footer .last-title p:nth-child(3) {
        display: block;
        padding-bottom: .02rem;
    }
   
}