html {
    font-size: 625%;
}

body {
    margin: .40rem 0 .50rem ;
    padding: 0;
    font-size: .18rem;
}

header {
    color: #ffffff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .40rem;
    width: 100%;
    background: #5fc0cd;
}

.background {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2rem;
    background: url(images/background.png) no-repeat ;
    background-size: cover;
    
}

.touxiang {
    width: .80rem;
    height: .80rem;
    padding: 0 .30rem;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .50rem;
    width: 100%;
    background: #ffffff;
}

button {
    width: 48%;
    height: .40rem;
    border-radius: .1rem;
    font-size: .18rem;
    border: 1px solid #5fc0cd;
}

.left {
    color: #5fc0cd;
    background: #ffffff;
}

.right {
    color: #ffffff;
    background: #5fc0cd;
}

a {
    float: left;
    color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.background span {
    font-size: .12rem;
}

.dingwei {
    position: relative;
    top: .08rem;
    transform: scale(0.6);
}

.leader {
    margin-left: .18rem;
    padding-left: .18rem;
    border-left: 2px solid #5fc0cd;
}

.list {
    padding: 0 .18rem;
}

.left-text {
    color: #999999;
    width: 1.12rem;
    padding: 0 .20rem;
    margin-right: .20rem;
    border-right: #999999 solid 1px;
    white-space: nowrap;
}

.left-text-first {
    color: black;
    padding-right: .20rem;
    margin-right: .20rem;
    border-right: 1px solid #999999 ;
}

main {
    margin-top: .40rem;
    margin-bottom: .50rem;
}

.red {
    color: #e26163;
    font-weight: 500;
}

.last {
    display: flex;
    align-items: center;
}

.myself {
    color: #999999;
    position: absolute;
    width: 1.12rem;
    border-right: #999999 solid 1px;
    text-align: center;
    white-space: nowrap;
}

.oneself {
    margin-left: 1.35rem;
}
