html{
    font-size: 62.5%;
}
img{
    transform: scale(0.8);
}

body{
    background-color: #68cdd5;
    color: white;
    margin: 0;
    height: 100vh;
    position: relative;
}
header{
}
.back{
    background: url("../img/back.png")no-repeat;
    background-size:100%;
    width: 4rem;height: 4rem;
    border: 0 #68cdd5;
    outline: none;
    cursor: pointer;
    margin: 1rem;
}
h1{
    text-align: center;
}
main{
    box-sizing:border-box;
    font-size: 1.8rem;

}
main p{
    padding:5em 10% 4rem 10%;
}
.main-footer{
    padding:0 10%;

    position: absolute;
    bottom: 10%;
    left: 0;right: 0;
    display: flex;
    justify-content: space-between;
}
.main-footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media all and (max-height: 580px){
    img{
        transform: scale(.7);
    }

    html{
        font-size: 50%;
    }
    .main-footer{
        position: static;
    }

}
@media all and (min-width: 1040px){
    main p{
        text-align: center;
    }
}
@media all and (max-height: 580px) and (min-width:850px){
    main p{
        text-align: center;
    }
}
