<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  全局配置，需要再添加-->
    <typeAliases>
        <!-- 通过别名简化对类的使用 -->
        <typeAlias type="com.suger.pojo.Profession" alias="profession"/>
        <typeAlias type="com.suger.pojo.Student" alias="student"/>
        <typeAlias type="com.suger.pojo.User" alias="user"/>
    </typeAliases>

</configuration>