<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="memCachedPool" class="com.whalin.MemCached.SockIOPool" factory-method="getInstance" init-method="initialize" lazy-init="false" destroy-method="shutDown">
        <constructor-arg value="memCachedPool" />

        <!-- 可以设置多个memcachePool服务器 -->
        <property name="servers">
            <list>
                <value>127.0.0.1:11211</value>
            </list>
        </property>

        <!-- 每台服务器的初始连接 -->
        <property name="initConn" value="20" />

        <!-- 每台服务器的最小连接 -->
        <property name="minConn" value="5" />

        <!-- 每台服务器的最大连接数 -->
        <property name="maxConn" value="250" />

        <!-- 主线程睡眠时间 -->
        <property name="maintSleep" value="30" />

        <!-- Tcp/Socket 的参数, 如果是true在写数据时不会缓冲, 会立即发出 -->
        <property name="nagle" value="false" />

        <!-- 连接超时/阻塞读取时间的超时时间 -->
        <property name="socketTO" value="3000" />
    </bean>

    <bean id="memCachedClient" class="com.whalin.MemCached.MemCachedClient" lazy-init="false">
        <constructor-arg value="memCachedPool" />
    </bean>
</beans>