body{
    background-image: url(gamersky_02origin_03_2018414198D.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    margin: 10% auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
a{  
    display: block;
    margin: 10px;
    width: 10%;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(41,189,224,0.5);
    border: 1px solid #fff;
}
a:hover{
    color: #68cdd5;
    background-color: #fff;
}