html {
  font-size: 62.5%;
  width: 100%;
}
body {
  width: 100%;
  margin: 0;
  background-color: #fff;
}
/* body的头部 */
header {
  width: 100%;
  background: #f9f9f9;
}
.top {
  height: 4rem;
  line-height: 4rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d7ad9;
}
@media (min-width: 768px) {
  .top {
    font-size: 1.4rem;
  }
}
.top-right {
  float: right;
  height: 4rem;
  font-size: 0px;
}
.top-right button {
  width: 3.4rem;
  height: 4rem;
  padding: 0;
  font-size: 1rem;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 0.1rem solid #fff;
  background-color: #1d7ad9;
}
@media (min-width: 768px) {
  .top-right button {
    width: 5.4rem;
    font-size: 1.4rem;
  }
}
.top-right .signup {
  border-right: 0.1rem solid #fff;
}
.top-right button:hover {
  width: 5.4rem;
  color: #333;
  background-color: #fff;
}
@media (min-width: 768px) {
  .top-right button:hover {
    width: 10.4rem;
  }
}
.top-nav {
    
}
@media (min-width: 768px) {
    .top-nav{
      float: right;
    }
  }
.top-nav-ul {

  text-align: center;
}
.navbar-default .top-nav-ul > li > a {
  height: 4rem;
  margin: 1rem 2rem;
  padding: 0 1.5rem;
  border-radius: 1rem;
  line-height: 4rem;
  color: #333;
  background-color: #fff;
}
.navbar-default .top-nav-ul > li > a:focus,
.navbar-default .top-nav-ul > li > a:hover {
  color: #fff;
  background-color: #1d7ad9;
}

/* main的流程图部分 */
mian {
  background-color: #fff;
}
.flowchart {
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .flowchart {
    float: right;
    justify-content: right;
  }
}
.flowchart-1 {
  position: relative;
}
.flowchart-2 {
  position: relative;
}
.flowchart-strip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.1rem;
  background-color: #ccc;
}
@media (min-width: 670px) {
  .flowchart-strip {
    width: 16rem;
    height: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.2rem;
    background-color: #ccc;
  }
}
.flowchart-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  line-height: 2.4rem;
  color: #fff;
  background-color: #ccc;
}
.flowchart-text {
  width: 7.5rem;
  margin: 3rem 0;
  color: #ccc;
}
@media (min-width: 500px) {
  .flowchart-text {
    width: 11.75rem;
  }
}
@media (min-width: 670px) {
  .flowchart-text {
    width: 16rem;
  }
}
.flowchart-2:hover {
  color: #ff7f02;
}

.flowchart-2:hover div {
  background-color: #ff7f02;
}
.flowchart-1 div {
  background-color: #ff7f02;
}
.flowchart-1 p {
  color: #ff7f02;
}
/* 表单指引 */
.bigword {
  padding-left: 1rem;
  margin: 1rem 0;
  font-size: 1.6rem;
  border-left: 0.2rem solid #1d7ad9;
  color: #333;
}
@media (min-width: 450px) {
  .bigword {
    font-size: 2rem;
  }
}
/* 表单第一排 */ /* 表单第一排 */ /* 表单第一排 */ /* 表单第一排 */ /* 表单第一排 */ /* 表单第一排 */ /* 表单第一排 */
.main-form {
  margin-bottom: 8rem;
}
.forborder {
  border-radius: 1rem;
  border: 0.1rem solid #e7e7e7;
}
.blueword {
  padding: 1.3rem 0 1.4rem 0.6rem;
  margin: 0;
  color: #1d7ad9;
  background-color: #f4f4f4;
}
.form-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 530px) {
  .form-1 {
    flex-direction: row;
    justify-content: center;
  }
}
.form-1-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 530px) {
  .form-1-flex {
    flex-direction: row;
  }
}
.form-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4rem;
  color: #8b8c8c;
}
@media (min-width: 530px) {
  .form-1-1 {
    justify-content: left;
  }
}

.form-1-1 input[type="radio"] {
  opacity: 0;
}
.form-1-1 label {
  position: relative;
  width: 7rem;
  height: 2rem;
  margin: 0 2rem 0 0;
  font-size: 0;
  cursor: pointer;
}
.dot {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  width: 1.6rem;
  height: 1.6rem;

  border: 0.5rem solid #1d7ad9;
  border-radius: 1rem;
}
.primaldot {
  position: relative;
  top: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.1rem solid #999;
  border-radius: 0.8rem;
}
input[type="radio"]:checked + .alabel .dot {
  opacity: 1;
}
.radio-1-text {
  position: absolute;
  right: 0;
  top: 0.1rem;
  font-size: 1.4rem;
  font-weight: normal;
}
.form-1-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-1 {
  float: right;
  padding: 1rem 4rem 1rem 2rem;
  margin: 0.4rem 1.5rem 0.4rem 0;
  border: 0.1rem solid #999;
  border-radius: 0.4rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("img/select.png") no-repeat scroll 8.8rem center transparent;
  color: #999;
}
select::-ms-expand{ 
    display: none; 
}
/* 表单第二排 */ /* 表单第二排 */ /* 表单第二排 */ /* 表单第二排 */ /* 表单第二排 */ /* 表单第二排 */ /* 表单第二排 */
.form-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
@media (min-width: 530px) {
  .form-2 {
    flex-direction: row;
  }
}
.form-2-1 {
  padding: 1.5rem 1rem 0 4rem;
  color: #8b8c8c;
}
.form-2-1 input[type="radio"] {
  opacity: 0;
}
.form-2-1 label {
  position: relative;
  width: 6rem;
  height: 2rem;
  margin: 0 2rem 0 0;
  cursor: pointer;
}
.formflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .formflex {
    flex-direction: row;
  }
}
input[type="radio"]:checked + .blabel .dot {
  opacity: 1;
}
.textinput {
  width: 6rem;
  height: 2rem;
  margin: 2rem 0;
  border: 0.1rem solid #999;
}
@media (min-width: 768px) {
  .textinput {
    margin: 0;
  }
}
.fortextmargin {
  display: inline-block;
  width: 13rem;
  padding: 0 1rem 0 0;
}
.form-2-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 表单第三排 */ /* 表单第三排 */ /* 表单第三排 */ /* 表单第三排 */ /* 表单第三排 */ /* 表单第三排 */ /* 表单第三排 */
.form-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 530px) {
  .form-3 {
    flex-direction: row;
    justify-content: center;
  }
}
.form-3-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  flex-direction: column;
}
@media (min-width: 768px) {
  .form-3-flex {
    flex-direction: row;
  }
}
.form-3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 4rem;
  color: #8b8c8c;
}
@media (min-width: 530px) {
  .form-3-1 {
    justify-content: left;
  }
}
.form-3-1 input[type="radio"] {
  opacity: 0;
}
.form-3-1 label {
  position: relative;
  width: 12.6rem;
  height: 2rem;
  margin: 0 1rem 0 1rem;
  font-size: 0;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .form-3-1 label {
    width: 11rem;
  }
}
input[type="radio"]:checked + .clabel .dot {
  opacity: 1;
}
.radio-3-text {
  position: absolute;
  right: 2rem;
  top: 0.1rem;
  font-size: 1.4rem;
  font-weight: normal;
}

@media (min-width: 1200px) {
  .radio-3-text {
    right: 0;
  }
}
.form-3-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 下一步按钮 */
.nextdiv {
  text-align: center;
  border-top: 0.1rem solid #e7e7e7;
}
.next {
  width: 18rem;
  height: 5rem;
  margin: 10rem auto;
  border: none;
  border-radius: 0.8rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2.4rem;
  color: #fff;
  background-color: #e15053;
}
/* footer部分 */
.foot {
  width: 100%;
  height: 20rem;
}
.forfoot-gray {
  background-color: #f9f9f9;
}
.forfoot-blue {
  background-color: #1d7ad9;
}
.foot-top {
  padding: 6rem 1.5rem;
}

.foot-top-1 p {
  padding: 0 1rem;
  text-align: left;
  font-size: 1.6rem;
  color: #999;
}
.foot-top-2 {
  text-align: left;
}
.foot-top-2 a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #999;
}
.foot-top-2 a:hover {
  color: #3985db;
}
.foot-top-3 {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (min-width: 992px) {
  .foot-top-3 {
    justify-content: right;
  }
}
.foot-number {
  display: inline-block;
}
.foot-number p {
  padding: 0 1rem;
  color: #999;
}
.foot-code {
  display: inline-block;
}
.foot-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.foot-bottom p {
  display: inline-block;
  margin: 0;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}
