@charset "UTF-8";
/**
 * 
 * @authors 汤镇铭Michael (15977536060@163.com)
 * @date    2017-11-10 12:24:20
 * @version $Id$
 */
 body{
 	margin: 0px;
 	padding: 0px;
 }
 #first{
 	width: 100px;
 	height: 100px;
 	border: 1px solid red;
 	position: relative;
 	/*left: 20px;
 	top: 20px;*/
 	/*margin: 20px;*/
 	padding: 10px;
 }
 #second{
 	width: 100px;
 	height: 100px;
 	border: 1px solid blue;
 }