@charset "UTF-8";
/**
 * 
 * @authors 汤镇铭Michael (15977536060@163.com)
 * @date    2017-11-04 16:46:51
 * @version $Id$
 */
html{
	font-size: 62.5%;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: serif;
	background-color: #eff0f4;
}


header{
	background-color: #5fc0cd;
	color: white;
	text-align: center;	
	height: 4rem;
	line-height: 4rem;
}
header div{
	display: inline-block;
}
.close{
	float: left;
	font-size: 1.4rem;
	margin-left: 3rem;
}
.register{
	font-size: 1.4rem;
	float: right;
	margin-right: 3rem;
	/*color: red;*/
}
.login_top{
	font-size: 1.8rem;
}


main{
	color: #e1e5e7;
	font-size: 3.2rem;
}
/*main{
	background-color: white;
}*/
.text, .password{
	background-color: white;
	margin: 1rem 0rem;
}
main img{
	max-width: 100%;
	max-height: 100%;
	height: 1.4rem;
	margin-left: 1rem;
	border-right: 0.2rem solid #e1e5e7;
	padding-right: 1rem;
}
main input{
	border: none;
	/*width: 90%;*/
	vertical-align: middle;
	outline: none;
}


footer{
	background-color: #5fc0cd;
	color: white;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
}
footer button{
	border: none;
	color: white;
	background: none;
	font-size: 1.6rem;
	/*outline: none;*/
}


section a{
	float: right;
	color: #5fc0cd;
	font-size: 1.4rem;
	padding: 1rem;
}