<div>
    <div class="modal-header">提示</div>
    <div class="modal-body">
        <table width="100%" style="text-align: center;line-height: 50px">
            <tr ng-repeat="data in content track by $index">
                <td>{{data}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer"><input
            type="button" class="btn btn-warning" ng-click="rejected()" value="取消"><input type="button"
                                                                                          class="btn btn-success"
                                                                                          ng-click="resolved()"
                                                                                          value="确定"></div>
</div>