.link{
    padding-bottom: .6rem;
    background: #fff;
    .title{
        @include title;
        line-height: 3.5rem;
        text-align: center;
    }
    ul,li{
        list-style: initial !important;
        line-height: 1.8rem;
        li{ 
            border-bottom: solid 1px $white;
            &:hover{
                border-bottom: solid 1px $green;
            }
        }
    }
    .link-box{
        @include flex-center;
        font-size: 10px;
        font-weight: 600;
        color: #999999;
        @media(max-width: 768px){
            flex-direction: column;
        }
    }
}