@charset "utf-8";
@link_color:#696e78;
@link_hover:#fa7f40;
@body_bgc:#f0f0f0;
@main_bgc:#29bde0;
@button_y:#fbb435;
@button_r:#f66f6f;
@font-grey:#c2c2c2;
@main-width:1080px;
@lw-width:750px;
@rw-width:230px;
@main-w:600px;