@charset "utf-8";
//less库
@import "z";
@import "css3";
html{
  font-size:625%;
}

.a-upload {
  padding: 4px 10px;
  height: 100px;
  line-height: 100px;
  .flex;
  align-items: center;

  position: relative;
  cursor: pointer;
  color: white;
  background: navy;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom:5rem;
}
.a-upload  input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer
}

.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
}
//
//
//.file {
//  position: relative;
//  display: inline-block;
//  background: #D0EEFF;
//  border: 1px solid #99D3F5;
//  border-radius: 4px;
//  padding: 4px 12px;
//  overflow: hidden;
//  color: #1E88C7;
//  text-decoration: none;
//  text-indent: 0;
//  line-height: 20px;
//}
//.file input {
//  position: absolute;
//  font-size: 100px;
//  right: 0;
//  top: 0;
//  opacity: 0;
//}
//.file:hover {
//  background: #AADFFD;
//  border-color: #78C3F3;
//  color: #004974;
//  text-decoration: none;
//}