@charset "utf-8";
.pumant {
  left: 0;
  right: 0;
  top: 0;
}
.pumanb {
  left: 0;
  right: 0;
  bottom: 0;
}
html {
  font-size: 625%;
}
.box {
  color: #eeeeee;
  display: block;
  padding-bottom: 200px;
  width: 200px;
  background-color: khaki;
  color: red;
}
.box1 {
  padding-bottom: 200px;
  width: 200px;
  background-color: khaki;
  color: red;
}
