@charset "utf-8";
//less库
@import "z";
@import "font-awesome";
@import "css3";
//公用的变量
@import "blmatt";

html {
  font-size: 625%;
}

body {
  .bgcolor(#f0f0f0);
}

//header
header {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  .abs;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5% 0 2.5%;
  height: 0.7rem;
  .bgcolor(@main_bgc);
  .font-s(0.34rem);
  color: white;
  span {
    .dib;
  }
  button {
    width: 0.5rem;
    height: 0.5rem;
    .abs;
    opacity: 0;
  }
}

main {
  width: 97%;
  margin: 1rem auto;
  .bgcolor(white);
  height: 26rem;
  .font-s(0.3rem);
  h1 {
    .tc;
    .font-s(0.3rem);
    color: #29bde0;
    width: 100%;
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #c9c9c9;
  }
  ul {

    display: none;
    .tc;
    list-style-type: none;
    img {
      margin-right: 20px;
    }
  }
  button {
    width: 4.5rem;
    height: 0.74rem;
    .dib;
    color: white;
    background-color: #24a7c6;
    .font-s(0.3rem);
    border: none;
  }
  .after{
    .bgcolor(#fdbc48);
  }
  .tq{
    .bgcolor(#fdbc48);
  }
  span {
    width: 4.5rem;
    height: 0.74rem;
    .dib;
    color: white;
    background-color: #24a7c6;
    .font-s(0.3rem);
    border: none;
    line-height: 0.74rem;
    margin-top: 20px;
  }
  div {
    margin-top: 20px;
    width: 4.5rem;
    height: 0.74rem;
    .dib;
    color: white;
    background-color: #24a7c6;
    .font-s(0.3rem);
    border: none;
    line-height: 0.74rem;
    margin-left: 80px;
  }
  .step2{
    margin-left: 0;
  }
  .step4 {
    margin-left: 80px;
    margin-top: 20px;
  }
}