@charset "utf-8";
//less库
@import "z";
@import "font-awesome";
@import "css3";
//全局变量
.main_bg{
  background-color:#5fc0cd;
}
.font_c{
  color:#999999;
}
.font-face{
  font-family: stheitisc;
  src:url("../stheitisc.ttf");
}
html{
  font-size:625%;
}
.padding{
  padding:0 4%;
}
body{
  font-face{
    .font-face;
  }
}
//header
header{
   .flexb;
   .padding;
  .pumant;
  .main_bg;
  .txt-ver(0.82rem);
  .font-s(2vw);
  color:white;
 .pip{
   .arrow{
     width:1.9vw;
     height:3.3vw;
   }
 }
}
@media screen and (max-width: 1080px) {
  header{
    .font-s(4vw);
  }
}
.content {
  .section {
    .bg-nc("../img/head.png");
    background-size: cover;
    .w100;
    .flex;
    height: 26vw;
    .padding;
    align-items: center;
    .info {
      .font-s(2vw);
      color: white;
      margin-left: 0.36rem;
    }
    .head {
      .img-responsive {
        height: 16vw;
        width: 16vw;
      }
    }
    .location {
      .bg-nc("../img/Shape 4.png", left, center);
      background-size: 0.16rem 0.16rem;
      .font-s(1.1vw);
      padding-left: 0.2rem;
    }
    @media screen and (max-width: 1080px) {
      .info {
        .font-s(4vw);
        color: white;
        margin-left: 0.36rem;
      }

      .location {
        .bg-nc("../img/Shape 4.png", left, center);
        background-size: 0.16rem 0.16rem;
        .font-s(1.2vw);
        padding-left: 0.2rem;
      }
    }
  }
  .form {
    margin-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
    .formtitle {
      .db;
      .flex;
      align-items: center;
      .font-s(2vw);
      height: 0.93rem;
      border-bottom: 1px solid #ccc;
      span {
        .db;
        margin-left: 0.3rem;
        padding-left: 0.28rem;
        border-left: 0.02rem solid #5fc0cd;
        line-height: 0.39rem;
      }
    }
    @media screen and (max-width: 1080px) {
      .formtitle {
        .db;
        .flex;
        align-items: center;
        .font-s(4vw);
        height: 0.7rem;
        border-bottom: 1px solid #ccc;
        span {
          .db;
          margin-left: 0.3rem;
          padding-left: 0.28rem;
          border-left: 0.02rem solid #5fc0cd;
          line-height: 0.19rem;
        }
      }
    }
    ul {
      .list-sn;
    }
    .formlist {
      li {
        height: 0.93rem;
      }
    }
    @media screen and (max-width: 1080px) {
      .formlist {
        li {
          height: 0.7rem;
          .font-s(3vw);
        }
      }
    }
    .formtag {
      .font-s(1.8vw);
      .dib;
      padding-left: 1.7vw;
    }
    .formtag1 {
      .dib;
      .font-s(1.8vw);
      padding-left: 2vw;
      border-right: 1px solid lightgrey;
      padding-right: 0.19rem;
    }
    @media screen and (max-width: 1080px) {
      .formtag {
        .font-s(3vw);

      }
      .formtag1{
        .font-s(3vw);
     }
      }
    .require {
      .flex;
      align-items: center;
    }
    .lable {
      border-top: 1px solid lightgrey;
      .span1 {
        .font-s(1.8vw);
        color: #999999;
        margin-left: 0;
        padding-right: 0.29rem;
        border-right: 1px solid lightgrey;
        .dib;
        width: 28%;
        white-space: nowrap;
      }
      span {
        .font-s(1.8vw);
        margin-left: 0.22rem;
      }
      @media screen and (max-width: 1080px){
        .span1 {
          .font-s(3vw);
          color: #999999;
          margin-left: 0;
          padding-right: 0.29rem;
          border-right: 1px solid lightgrey;
          .dib;
          width: 28%;
          white-space: nowrap;
        }
        span {
          .font-s(3vw);
          margin-left: 0.22rem;
        }


      }
      .flex;
      align-items: center;
      span {
        .dib;
      }
      .small {
        .font-s(1.5vw);
        width:54%;
      }
      @media screen and (max-width: 1080px){
        .small {
          .font-s(2.5vw);
        }
      }
    }
    .red {
      color: #e26163;
    }
  }
}
footer{
  .flexb;
  .bgcolor(white);
  z-index: 999;
  .fix;
  height:2.25rem;
  bottom: 0;
  width:100%;
}
.footerleft{
  .rel();
  color:#5fc0cd;
  .font-s(2vw);
  @media screen and (max-width: 1080px){
    .font-s(4vw);
  }
  background-color:white;
  border:0.01rem solid #5fc0cd;
  border-radius: 5px;
  .w100;
  height:0.78rem;
  margin:1.1rem 0.15rem 0 0.34rem;
}
.footerright{
  .rel();
  height:0.78rem;
  margin:1.1rem 0.5rem 0 0.15rem;
  color:white;
  .font-s(2vw);
  @media screen and (max-width: 1080px){
    .font-s(4vw);
  }
  background-color:#5fc0cd;
  border:none;
  border-radius: 5px;
  .w100;
  }



