@charset "utf-8";
//less库
@import "z";
@import "css3";
//公用的变量
@import "bl";
html{
  font-size:625%;
}
.padding_2{
  padding-left:6%;
  padding-right:6%;
}
//页面3
header {
  .flexb;
  .bgcolor(#29bde0);
  .padding_2;
  padding-top:50px;
  .font-s22;
  color:white;
  span{
    .dib;
    width:73px;
    .tc;
  }
  border-bottom:1px solid #74d4eb;
  padding-bottom:10px;
  span{
    width:153px;
  }
}
main{
  .bgcolor(#29bde0);
}
.up{
  .w100;
  .rel;
  top:0.6rem;
}
.dt1{
  .rel;
  .tc;
  .w100;
  height:1.5rem;
  background:url("../img/youwin.png")no-repeat center top;
  background-size:2rem 1.5rem;
  .font-s(0.28rem);
  color:white;
}
.dt2{
  .rel;
  .dib;
  margin-top:1rem;
}
.outcome{
  .font-s(0.2rem);
  color:#ffc865;
  padding:0.1rem 0.28rem 0 0.4rem;
  span{
    .font-s(0.28rem);
  }
}
.count{
  .rel;
  color:white;
  padding-bottom:0.2rem;

  margin-top:2rem;
  ul{
    .list-sn;
    padding:0;
    margin-left:11.6%;
    margin-right:11.6%;
  }
  .count1{
    .flexb;
    .sec{
      margin-left:7px!important;
    }
  }
}
.down{
  .bgcolor(white);
  margin-bottom:2rem;
  ul{
    .list-sn;
    padding:0;
    .bgcolor(white);
    li{
      color:#cbcbcb;
      .w100;
      border-bottom:1px solid #dddddd;
      div{
        margin:0.1rem 11.6%;
      }
    }
  }
}
.emi{
  .flexb;
  .first{
    .font-s(0.19rem);
    color:black;
  }
  .second{
    color:#cbcbcb;
    .font-s(0.12rem);
  }
}
.footer_3{
  .fix();
  .pumanb;
  height:1.3rem;
  color:white;
  background-color:rgba(41,189,224,0.3);
  z-index:999;
  .tc;

}
.bt1{
  width:40%;
  height:60%;
  .bgcolor(#f66f6f);
  .font-s(0.2rem);
  color:white;
  margin-top:0.3rem;
  margin-right:0.1rem;
}
.bt2{
  width:40%;
  height:60%;
  .bgcolor(#fbb435);
  .font-s(0.2rem);
  color:white;
  margin-top:0.3rem;
  margin-left:0.1rem;
}