<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="task6.dao.UserDao">
    <resultMap id="user" type="task6.pojo.User">
        <result property="userID" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="age" column="age"/>
        <result property="adminCode" column="adminCode"/>
        <result property="password" column="password"/>
        <result property="telephone" column="telephone"/>
        <result property="emailaccount" column="email_account"/>
        <result property="creatTime" column="creat_at"/>
        <result property="updateTime" column="update_at"/>
    </resultMap>
    <select id="queryUser" resultMap="user" parameterType="String">
        select user_id,user_name,age,adminCode,password,telephone,email_account,creat_at,update_at
        from user where adminCode=#{adminCode}
    </select>
    <insert id="saveUser" parameterType="task6.pojo.User">
        insert into user (user_name,age,adminCode,password,telephone,email_account,creat_at,update_at)
        values (#{userName},#{age},#{adminCode},#{password},#{telephone},#{emailaccount},#{creatTime},#{updateTime})
    </insert>

</mapper>