.shouye {
    margin: .30rem 0;
    font-size: .16rem;
}

.tou {
    color: #000000;
    font-size: 0.08rem;
}
.text-success{
    font-size: 0.08rem;
}

.group-aside {
    border: 1px #999999 solid;
    border-radius: .20rem;
}

.aside {
    display: flex;
    justify-content: center;
}

.group-company {
    width: 1.05rem;
    line-height: .40rem;
}

.company {
    display: block;
}

.circles {
    display: inline-block;
    width: .10rem;
    height: .10rem;
    border-radius: .05rem;
    border: 1px #f1a750 solid;
    margin-right: .10rem;
}

.company:hover {color: #f1a750;}
.company:hover .circles {background: #f1a750;}

.profile {
    line-height: .30rem;
}

.img-profile {
    float: left;
}

.group-text {
    padding: .50rem;
}

h4 {
    text-align: center;
    color: #000000;
    font-weight: 550;
}

h2,h3 {
    display: inline-block;
    white-space: nowrap;

}

hr {
    width: 100%;
}

.group-links {
    line-height: .40rem;
    white-space:nowrap;

}

.avatar {
    margin-top: .20rem;
}

.study-step {
    width: .80rem;
    height: .80rem;
    border-radius: .40rem;
    display: inline-block;
    min-width: .80rem;
}

.about-we {
    white-space: nowrap;
    margin-top: .32rem;
}

@media screen and (max-width: 768px) {
    .company {
        width: 2rem;
        display: inline-block;
    }

    .text-first-aside {
    border-left: 0;
    }

}
html {
    font-size: 625%;
}

body {
    font-size: 0.16rem;
    color: #999999;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    background: #fafafa;
}

h4 {
    text-align: center;
    color: #000;
    font-weight: 550;
}

h2,h3 {
    display: inline-block;
    white-space: nowrap;
}

a { 
    text-decoration:none; 
    color:#ffffff; 
} 

/*页眉*/

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .20rem;
    color: #29b078;
    font-size: 0.08rem;
}

/*导航栏*/

.nav-1{
    background: #29b078;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.nav-x{
    border: none;
}
.navbar-nav>li>a{
    color: #fff!important;
    border-bottom: #29b078 solid 2px;
}
.nav-2>li:hover>a{
    border-bottom: #fff solid 2px;
}
.nav-2{
    text-align: center;
    border: none;
}
.nav-2>a{
    background: #29b078;
}
.nav-3{
    border: none;
}
.logo{
    margin-top: .15rem;
    margin-left: .15rem;
}

footer {
    color: #ffffff;
    background: #29b078;
    width: 100%;
}

.note {
    padding-top: .30rem;
}

.weixin {
    float: right;
    margin: 0;
    white-space: nowrap;
}

.qr-code {
    float: right;
    margin-right: 22px;
}

.wx-qr {
    margin-bottom: .20rem;
}

.about-we {
    white-space: nowrap;
    margin-top: .32rem;
}

.under-note {
    color: #ffffff;
    font-size: .12rem;
    height: .30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #32c086;
}


/*媒体查询*/

@media screen and (max-width: 768px) {
    .weixin {
        float: left;
    }

    .qr-code {
        float: left;
        margin-left: 22px;
    }

    .about-we {
        margin-top: 0;
    }

    .hanbao {
        display: inline-block;
    }

    .btn-group button {
        display: none;
    }

}
