html {
    height: 100%;
    font-size: 625%;
}

body {
    height: 100%;
    font-size: .12rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .40rem;
    width: 100%;
    border-bottom: 1px solid #74d4eb;
    color: #ffffff;
    font-size: .17rem;
    background: #29bde0;
}

main {
    position: fixed;
    top: .40rem;
    bottom: 0;
    padding-bottom: .65rem;
    width: 100%;
    overflow: scroll;
}

.text-up {
    width: 100%;
    background: #29bde0;
    color: #ffffff;
    font-size: .13rem;
}

.bg-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .20rem;
    font-size: .24rem;
    color: #ffffff;
}

.bg-img img {
    width: 175px;
    height: 101px;
    transform: scale(1);
}

.bg-img span {
    position: absolute;
    top: 0.84rem;
}

.text-top {
    font-size: .17rem;
    color: #ffc865;
}

.text-list {
    line-height: .20rem;
}

.text-down {
    border-bottom: 1px solid #dddddd;
    color: #a6a6a6;
    line-height: .30rem;
}

.text-down span {
    font-size: .15rem;
    color: #000000;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .65rem;
    width: 100%;
    background: rgba(41,189,224,.5);
}

.btn-left {
    height: .40rem;
    width: 100%;
    color: #ffffff;
    border: 0;
    border-radius: .06rem;
    background: #f66f6f;
}

.btn-right {
    height: .40rem;
    width: 40%;
    color: #ffffff;
    border: 0;
    border-radius: .06rem;
    background: #fbb435;
}


img {
    transform: scale(0.5);
}

footer a {
    width: 40%;
}