html {
    font-size: 625%;
}

body {
    font-size: .12rem;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #29bde0;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .40rem;
    width: 100%;
    color: #ffffff;
    font-size: .17rem;
}

.chacha {
    border: 0;
    color:#ffffff;
    background: #29bde0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .40rem;
    padding-left: .40rem;
    background: #b9e9f5
}

.solid-triangle {
    position: relative;
    bottom: .05rem;
    left: .50rem;
    color: #b9e9f5;
}

.text-prompt {
    color: #ffffff;
    margin-left: .50rem;
}

main {
    position: fixed;
    top: .40rem;
    bottom: 1rem;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
  display:none;
}

.box-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-content {
    width: 24vw;
    height: 24vw;
    margin: 4vw;
    border: 2px #ffffff solid;
    padding: 0;
}

.box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: .15rem;
    background: #f5c97b;
}

.box-number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: .10rem;
    color: #ffffff;
    background: #83b09a;
}

.tag {
    display: none;
    width: 100%;
    transform: scale(1);
    position: relative;
    top: 1vw;
}

.box-content:hover .tag{display:block;}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 100%;
    background: #29bde0;
}

.vote {
    height: .45rem;
    width: 100%;
    background: #fbb435;
    border: 0;
    font-size: .20rem;
    color: #ffffff;
}

.jump {
    width: 80%;
}


img {
    transform: scale(0.5);
}

a{ 
    text-decoration:none; 
    color:#333; 
} 

.yc {
    position: absolute;
    right: .02rem;
    top: .04rem;
    width: .40rem;
    opacity: 0;
    z-index: 9999;
}
