html {
    font-size: 625%;
    overflow-x: hidden; 
}

body {
    font-size: .12rem;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header {
    display: flex;
    justify-content: flex-start;
    height: .40rem;
    width: 100%;
    background: #29bde0;
}

.hbg {
    color: #ffffff;
    border: 0;
    background: #29bde0;
}

nav {
    font-size: .16rem;
    color: #9a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .60rem;
    margin: .12rem .18rem;
    border: 1px #c9c9c9 solid;
    background: #ffffff;
    white-space:nowrap; 
}

.bto {
    position: absolute;
    right: .20rem;
    border: 0;
    color: #e7e7e7;
}

main {
    color: #9a9a9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4rem;
    margin: .12rem .18rem;
    border: 1px #c9c9c9 solid;
    background: #ffffff;

}

main p {
    font-size: .18rem;
    color: #fbb435;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: .40rem;
    margin: 0;
    border-bottom: 1px solid #fbb435;

}

main button {
    font-size: .15rem;
    color: #ffffff;
    height: .70rem;
    width: 100%;
    padding: 0;
    margin: .12rem 0;
    border: 0;
    background: #69d1e9;
}

main span {
    transform: scale(2);
}

.the-one {
    color: #69d1e9;
}

a {
    width: 80%;
}

header button,nav button {
    background: rgba(0,0,0,0);
    border: 0;
    transform: scale(0.5);
}

.toback {
    position: absolute;
    right: .20rem;
    top: .62rem;
}