/*重置默认样式*/

* {
	margin: 0;
	padding: 0;
}

.wrap-exam {
	width: 1016px;
	margin: 0 auto;
}

.title-info {
	border: solid 1px #cccccc;
	/*padding: 10px 8px;*/
	padding-left: 10px;
	height: 30px;
	padding-top: 10px;
	border-radius: 5px 5px 5px 5px;
	font-weight: 600;
}

.title-info span {
	margin-right: 177px;
}

.backing {
	margin-top: 20px;
}

.news {
	border: solid 1px #CCCCCC;
	padding: 10px 8px;
	padding-left: 10px;
	border-radius: 5px 5px 5px 5px;
	font-weight: 600;
}

.news {
	margin-top: 20px;
}

.user-infor {
	margin-right: 60px;
}

.bank {
	margin-top: 20px;
}

.bank {
	background-color: #F5F5F5;
}

.bank {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 5px 5px 0 0;
	font-weight: 800;
}

.bank {
	height: 30px;
}

.one {
	border: solid 1px #CCCCCC;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0 0 5px 5px;
}

.work p {
	font-size: 14px;
	font-weight: 600;
}

.backing p {
	font-size: 14px;
	font-weight: 600;
}

.select {
	margin-top: 20px;
}

.select {
	background-color: #F5F5F5;
}

.select {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	padding-left: 10px;
	height: 30px;
	padding-top: 10px;
	border-radius: 5px 5px 0 0;
	font-weight: 800;
}

.push {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	/*padding-left: 50px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0 0 5px 5px;
}

.soft p {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 600;
}

.big {
	padding-left: 50px;
	margin-top: 10px;
}

.but {
	margin-top: 20px;
}

.but p {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 600;
}

.small {
	padding-left: 50px;
	margin-top: 10px;
}

.many {
	margin-top: 20px;
	height: 30px;
}

.many {
	background-color: #F5F5F5;
}

.many {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 5px 5px 0 0;
	font-weight: 800;
}

.nape {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	/*padding-left: 50px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0 0 5px 5px;
}

.are p {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 600;
}

.she {
	padding-left: 50px;
	padding-top: 10px;
}

.we {
	padding-top: 20px;
}

.we p {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 600;
}

.our {
	padding-top: 10px;
	padding-left: 50px;
}

.judge {
	margin-top: 20px;
	height: 30px;
}

.judge {
	background-color: #F5F5F5;
}

.judge {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 5px 5px 0 0;
	font-weight: 800;
}

.mark {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0 0 5px 5px;
}

.mark img {
	height: 10px;
	width: 10px;
}

.second {
	padding-top: 10px;
}

.simple {
	margin-top: 20px;
	height: 30px;
}

.simple {
	background-color: #F5F5F5;
}

.simple {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-radius: 5px 5px 0 0;
	font-weight: 800;
}

.writing {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	/*padding-left: 50px;*/
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 0 0 5px 5px;
}

.writing textarea {
	height: 120px;
	width: 800px
}

.rattle {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 600;
}

.block {
	padding-left: 50px;
	padding-top: 10px;
}