*{
	margin: 0;
	padding: 0;
}
.left {
	width: 900px;
	float: left;
	padding-left: 32px;
	padding-top: 32px;
}

.one {
	/*border: solid 1px #CCCCCC;*/
	padding: 10px 8px;
	background-color: #F5F5F5;
	overflow: hidden;
}

.two {
	border: solid 1px #CCCCCC;
	padding: 10px 8px;
	background-color: #ffffff;
	margin-bottom: 30px;
	height: 600px;
	width: 900px;
	overflow: hidden;
	padding: 16px;
	line-height:25px ;
	box-shadow: 2px 2px 2px #a0a0a0;
}

.be {
	text-indent: 32px;
}
.hm{
	text-indent: 32px;
}
.are {
	font-weight: 600;
	line-height: 40px;
}

.are p {
	font-weight: 300;
	color: #838383;
}

.shree {
	border: solid 1px #CCCCCC;
	/*padding: 10px 8px;*/
	background-color: #ffffff;
	margin-bottom: 30px;
	height: 520px;
	width: 900px;
	overflow: hidden;
	padding: 16px;
	line-height: 25px;
	box-shadow: 2px 2px 2px #a0a0a0;
}

.he {
	text-indent: 32px;
}
.we {
	/*height: 170px;*/
	width: 250px;
	font-weight: 600;
	line-height: 40px;
}
.we p{
	color: #9D9D9D;
	font-weight: 300;
}

.she {
	font-weight: 500;
	padding-left: 28px;
}

.four {
	border: solid 1px #CCCCCC;
	padding: 10px 16px;
	background-color: #ffffff;
	height: 1000px;
	width: 900px;
	/*overflow: hidden;*/
	box-shadow: 2px 2px 2px #a0a0a0;
}

.four p {
	padding-left: 40px;
	font-size: 14px;
	padding: 16px;
}


/*.five{
	border: solid 1px #CCCCCC;
	height: 115px;
	width: 126px;
}
.six{
	border: solid 1px #CCCCCC;
	height: 115px;
	width: 126px;
}
.seven{
	border: solid 1px #CCCCCC;
	height: 115px;
	width: 126px;
}*/

.box {
	float: left;
	border: solid 1px #CCCCCC;
	padding: 23px 15px;
	margin-right: 85px;
	margin-bottom: 20px;
	
}
.la{
	padding: 45px;
}
.box img {
	margin-top: 5px;
}

.box div {
	text-align: center;
}


/*.table{
	columns: 415px;
	}*/

table,
th,
td {
	border: 1px solid #CCCCCC;
	padding-left: 7px;
}

table {
	border-collapse: collapse;
}


/*.box div{
	margin-right: 177px;
}*/

table {
	width: 100%;
}

th {
	background-color: #333333;
	color: #FFFFFF;
	text-align: left;
}
.is{
	background-color:#CCCCCC
}
.big {
	border: solid 1px #CCCCCC;
	padding: 10px 16px;
	background-color: #ffffff;
	overflow: hidden;
	height: 400px;
	width: 900px;
	margin-top: 20px;
	line-height: 25px;
	padding-left: 16px;
	box-shadow: 2px 2px 2px #a0a0a0;
}


.last {
	border: solid 1px #CCCCCC;
	width: 350px;
	height: 500;
	background: #FFFFFF;
	float: right;
	text-align: center;
	padding-top: 25px;
	box-shadow: 2px 2px 2px #a0a0a0;
}
.last p{
	line-height: 50px;
}
.lv{
	padding-right: 32px;
	padding-top: 32px;
}
.fa {
	padding-left: 17px;
	padding-top: 15px;
}

.out {
	padding-top: 15px;
}
ol{
	padding-left: 40px;
}
.four p{
	font-weight: 600;
}
.side{
	font-weight: 600;
	line-height: 40px;
}
.side p{
	color: #9D9D9D;
}
.if{
	line-height: 40px;
}
.select{
	line-height: 40px;
}
.select p{
	margin-bottom: 5px;
}
li{
	font-weight: 600;
}
textarea{
	height: 90px;
	width: 150px;
	padding: 5px;
	color: #d0d0d0;
}
.ipt {
	border: none;
	width: 240px;
	height: 30px;
	background: #3355D0;
	border-radius: 10px;
	color: #FFFFFF;
}
span{
	vertical-align: top;
}
.if input{
		margin-right: 10px;
}
