
* {
	margin: 0;
	padding: 0;
}

.fa {
	width: 1280px;
	margin: 0 auto;
}

.header-wrap {
	background: #FFFFFF;
	padding-bottom: 12px;
	padding-top: 12px;
}

.header-wrap .header {
	width: 1160px;
	height: 35px;
	/*text-align: center;*/
	margin: 0 auto;
}

.header-wrap .header .wrap {
	float: left;
	font-size: 21px;
	padding-left: 60px;
}

.header-wrap .header .wrap span {
	position: relative;
	top: -5px;
}

.header-wrap .header .out-of-order {
	float: right;
}

.header-wrap .header .out-of-order ul li {
	float: left;
	list-style: none;
}

.header-wrap .header .out-of-order ul li a {
	text-decoration: none;
	padding-right: 25px;
	padding-bottom: 18px;
	font-size: 14px;
	padding-left: 15px;
	color: #999ba0;
}

.header-wrap .header .out-of-order .login {
	background: url(../img/login.png) no-repeat left;
	/*background-image: url(../img/login.png);*/
	/*background-repeat: no-repeat;*/
	/*background-position: left;*/
	/*padding-left: 20px;*/
}

.header-wrap .header .out-of-order .active {
	color: #e7504d;
}

.header-wrap .header .out-of-order ul li a:hover {
	border-bottom: 3px solid #e7504d;
}

.main-wrap {
	background: url(../img/banner.png) no-repeat;
	height: 940px;
	overflow: auto;
}

.main-wrap .main {
	padding-left: 117px;
	padding-top: 200px;
}

.main-wrap .main .new-life-english {
	font-size: 60px;
	color: #ffffff;
	margin-bottom: 33px;
	/*padding-top: 228px;*/
}

.main-wrap .main .new-life-china {
	font-size: 21px;
	color: #ffffff;
	margin-bottom: 15px;
}


/*.main-wrap .main{
 	margin-left: 117px;
}*/

.main-wrap .main .main-ipt {
	background: #e74f4d;
	padding: 16px 100px;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 68px;
	border: none;
	letter-spacing: 5px;
}

.genre {
	margin-top: 200px;
}

.genre-son {
	height: 166px;
	background: #FFFFFF;
	padding-top: 45px;
	padding-bottom: 90px;
	text-align: center;
	overflow: auto;
	/*bottom: 0;*/
}

.genre-son {
	width: 25%;
	float: left;
}

.genre-son .genre-son-txt {
	margin-top: 48px;
	border-right: 2px solid #989899;
	color: #8d8d8d;
	font-size: 14px;
}

.about {
	background-color: #edecec;
	height: 361px;
	text-align: center;
	clear: both;
}

.about img {
	padding-top: 90px;
	padding-bottom: 49px;
}

.about p {
	font-size: 54px;
	color: #d5d5d5;
}

.map {
	background: url(../img/mag.png) no-repeat;
	height: 341px;
	text-align: center;
}

.map .map-box {
	color: #f4f0ee;
	font-size: 21px;
	padding-top: 53px;
	padding-bottom: 35px;
}

.map .map-box span {
	border-bottom: 2px solid #ffffff;
	padding-bottom: 10px;
}

.map .map-txt {
	color: #f4f0ee;
	font-size: 12px;
}

.activity {
	height: 605px;
	background-color: #f8f8f7;
}

.activity .wo {
	text-align: center;
	padding-top: 102px;
}

.activity .flo {
	display: inline-block;
}

/*.activity img {
	margin: 38px;
}*/
.activity .wo .flo{
	margin-left: 37px;
}
.activity .wo .union-txt {
	border:1px solid #dadada;
	padding: 13px 8px;
	background-color: #FFFFFF;
	margin-bottom: 13px;
}
.activity .wo .explore-txt{
	border:1px solid #dadada;
	padding: 13px 8px;
	background-color: #FFFFFF;
}
.activity .wo .watch-txt{
	border:1px solid #dadada;
	padding: 13px 8px;
	background-color: #FFFFFF;
	margin-bottom: 13px;
}
.activity .wo .send-txt{
	border:1px solid #dadada;
	padding: 13px 8px;
	background-color: #FFFFFF;
	margin-bottom: 13px;
}
.bei span{
	font-size: 14px;
}
.bei p{
	color:#9fa0a0;
	font-size: 13px;
	margin-top: 11px;
} 
.shang .shang-writ{
	font-size: 24px;
	/*display: flex;
	justify-content: space-between;
	padding: 0 15px;*/
	letter-spacing: 39px;
	margin-right: -39px;
}
.shang .shang-wr{
	color:#9fa0a0;
	font-size: 13px;
	margin-bottom: 13px;
	margin-top: 11px;
}
.shen span{
	font-size: 14px;
}
.shen p{
	color:#9fa0a0;
	font-size: 13px;
	margin-top: 11px;
} 
.xinag span{
	font-size: 14px;
}
.xiang p{
	color:#9fa0a0;
	font-size: 13px;
	margin-top: 11px;
}
.fa-time{
	background: url(../img/time.png) no-repeat;
	background-size: 850px 564px;
	height: 564px;
	width: 850px;
	position: relative;
}
.time .time-box{
	color:#ffffff ;
	text-align: center;
	padding-top: 130px;
}
.time .triangle{
	position: absolute;
	left: 826px;
	bottom:260px ;
}
.time-xin{
	font-size: 50px;
	margin-bottom: -45px;
}
.time-shi{
	font-size: 158px;
}
.time-jie {
	font-size: 22px;
}
.time-hour {
	font-size: 22px;
}
.time-a{
	position: absolute;
	left: 923px;
	top: 164px;
	width: 290px;
	height: 564px;
}
.time-text1{
	text-align: center;
}
.time-text1 span{
	color:#e74f4d;
	font-size: 20px;
}
.time-text2{
	 font-size: 12px;
	line-height: 20px;
	margin-bottom: 50px;
	margin-top: 30px;
	color:#cfcfcf
}
.time-text3{
	text-align: center;
}
.main-t{
	width: 107px;
	height: 32px;
	background-color: #FFFFFF;
	color:#e6797c ;
	border: none;
	border: solid 1px #e6797c;
}
.main-img{
	margin-top: 25px;
	padding-left: 114px;
}
.we{
	position: relative;
}
.love{
	width: 427px;
	height: 520px;
	background-color:#e74f4d ;
}
.life{
	padding-top: 174px;
    text-align: center;
    color: #FFFFFF;
}
.life .times{
	margin-bottom: 12px;
}
.life .times1{
	margin-bottom: 53px;
}
.life .times1 span{
	border-bottom: solid 2px #FFFFFF;
	padding-bottom: 24px;
}
.life p{
	font-size: 21px;
}
.main-i{
	width: 170px;
	height: 43px;
	background-color:#e74f4d ;
	border: none;
	border:solid 1px #FFFFFF;
	color: #FFFFFF;
}
/*.love1{
	width: 427px;
	height: 520px;
}*/
.life1{
	position: absolute;
	left: 427px;
	top: 0px;
}
.life1 p{
	font-size: 21px;
}
.main-in{
	width: 170px;
	height: 43px;
	border: none;
	border:solid 1px #e74f4d;
	background-color:#FFFFFF ;
	color: #e74f4d;
}
.life1 .times{
	margin-bottom: 12px;
}
.life1 .times1{
	margin-bottom: 53px;
}
.life1 .times1 span{
	border-bottom: solid 2px #aaaaaa;
	padding-bottom: 24px;
}
.life1{
	padding-top: 174px;
	 text-align: center;
	 left: 552px;
}
.love2{
	height: 520px;
	width: 427px;
	position: absolute;
	left: 854px;
	top: 0px;
	background: url(../img/meinv.png) no-repeat;
	background-position: right;
}
.right{
	position: absolute;
	bottom: 50%;
	top: 50%;
	left: -2px;
}
.postulant{
	height: 300px;
	text-align: center;
}

.postulant span{
	border-bottom: solid 2px #e74f4d;
	padding-bottom: 10px;
}
.new{
	font-size: 21px;
	padding-top: 119px;
}
.close{
	font-size: 12px;
	color:#cfcfcf ;
	padding-top: 26px;
}
.king{
	font-size: 12px;
	color:#cfcfcf ;
}
.silence{
	height: 450px;
	
}
.silence1{
	padding-left: 138px;
	width: 290px;
	float: left;
}
.protocol{
	width: 290px;
}
.codex1{
	font-size: 14px;
	margin-bottom: 26px;
}
.staff1{
	font-size: 12px;
	color: #9d9b9a;
	line-height: 20px;
}
.more1{
	font-size: 12px;
	color:#9d9b9a ;
	text-align: right;
}
.hate{
	width: 290px;
}
.codex2{
	font-size: 14px;
	margin-bottom: 26px;
	margin-top: 40px;
}
.staff2{
	font-size: 12px;
	color: #9d9b9a;
	line-height: 20px;
}
.more2{
	font-size: 12px;
	color:#9d9b9a ;
	text-align: right;
}
.silence3{
	width: 290px;
}
.codex3{
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.more3{
	font-size: 12px;
	color:#9d9b9a ;
	text-align: right;
}
.apply{
	width: 640px;
	float: right;
	margin-bottom: 20px;
}
.na{
	width: 300px;
	height: 40px;
	background: #ededee;
	border: 0 none;
	margin-left:5px;
	margin-top: 12px;
	font-size: 12px;
	padding-left:10px;
}
.dream{
	width: 610px;
	background: #ededee;
	margin-left: 5px;
	margin-top: 13px;
	border: 0 none;
	outline: none;
	font-size: 12px;
	margin-bottom: 13px;
	padding: 0 10PX 100PX 10PX;
}	
.refer{
	width: 630px;
	height: 40px;
	background: #ededee;
	margin-left: 5px;
	border: 0 none;
	font-size: 12px;
}
.touch{
	height: 360px;
	background: #32353e;
	text-align: center;
	padding-top: 90px;
}
.touch1{
	color: #FFFFFF;
}
.touch1 .luckly{
	font-size: 21px;
}
.touch1 .gay{
	font-size: 12px;
	margin-bottom: 7px;
	margin-top: 12px;
}
.touch1 .shy{
	font-size: 12px;
	margin-bottom: 32px;
}

.touch2 .com{
	width: 430px;
	height: 40px;
}
.touch2 .sun{
	width: 80px;
	height: 44px;
	position: relative;
	right: 5px;
	top: 2px;
	border: 0 none;
	/*padding-top: 11px;
	padding-bottom: 14px;*/
	/*outline: none;*/
}
.touch3{
	margin-top: 36px;
}
.footer{
	height: 57px;
	background: #2f3038;
	color: #FFFFFF;
	font-size: 12px;
    line-height: 57px;
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 40px;
}
.ter{
	float: right;
	
}
