*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
/*头部*/
.header-wrap{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #FFFFFF;
}
.header-wrap .header{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.header-wrap .header .logo{
	float: left;
	font-size: 21px;
}
.header-wrap .header .logo img{
	vertical-align: middle;
}
.header-wrap .header .logo span{
	vertical-align: middle;
}
.header-wrap .header .right-wrap li{
	display: inline;
}
.header-wrap .header .right-wrap li a{
  
	line-height: 40px;
	color: #787b83;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
}
.header-wrap .header .right-wrap li a:hover{
	border-bottom: solid 3px #e8504e;
}
.header-wrap .header .right-wrap{ 
	float: right;
}
.header-wrap .header .right-wrap .login{
	background: url(../img/login.png) no-repeat left;
}
/*激活的当前状态*/
.header .active{
	color: #e74f4d!important;
}
/*banner图部分*/
.banner{
	height: 940px;
	background: url(../img/banner.png) no-repeat;
	background-size: 100%;
	position: relative;
}
.banner .learn-to-prac{
	position: absolute;
	top: 230px;
	left: 118px;
}
.banner .learn-to-prac .new-life-english{
	color: #FFFFFF;
	font-size: 60px;
	margin-bottom: 30px;
}
.banner .learn-to-prac .new-life-china{
	color: #fffdfd;
	font-size: 21px;
	margin-bottom: 10px;
}
.banner .learn-to-prac .learn-to-prac-ipt{
	margin-top: 50px;
	background: #e7504d;
	padding: 16px 100px;
	color: #FFFFFF;
	border:none;
	outline: none;
	font-size: 30px;
	cursor: pointer;
}
.banner .banner-bottom{
	width: 100%;
	height: 150px;
	padding-top: 40px;
	padding-bottom: 60px;
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	text-align: center;
	overflow: auto;
}
.banner .banner-bottom .banner-bottom-box{
	width: 25%;
	float: left;
}
.banner .banner-bottom .banner-bottom-box .banner-bottom-box-txt{
	margin-top: 40px;
	padding-bottom: 20px;
	border-right: solid 2px #aaaaaa;
	color: #767777;
	font-size: 14px;
}
/*关于新世界*/
.about{
	text-align: center;
	background: #ececec;
	font-size: 54px;
	color: #a1a1a1;
	padding: 80px 0;
}
.about img{
	width: 95px;
	
}






