* {
	margin: 0;
	padding: 0;
}


/*.head-top{
	width: 640px;
	
}*/

.header {
	position: relative;
	background: #22292c;
	height: 90px;
}

.header-text span {
	font-size: 26px;
	color: #f8f6f5;
	width: 100px;
	position: absolute;
	top: 5px;
	left: 50px;
}

.header-wrap {
	font-size: 34px;
	color: #f8f6f5;
	text-align: center;
	line-height: 100px;
}

.header-text {
	position: absolute;
	top: 35%;
	left: 5%;
}

.header-box {
	position: absolute;
	top: 37px;
	right: 18px;
}

/*.main {
	background: #68cdd5;
}*/

.arrow {
	padding-top: 20px;
	padding-left: 34px;
}

.vine {
	text-align: center;
	line-height: 260px;
}

.desk {
	font-size: 30px;
	color: #ffffff;
	width: 70%;
	line-height: 50px;
	margin: auto;
	letter-spacing: 5px;
	margin-bottom: 200px;
}
.main-text{
	width: 50%;
	
}
.main-text1{
	text-align: center;
	line-height:30px;
	color: #FFFFFF;
}
.box{
	width: 50%;
	float: right;
	margin-top: -110px;
}
.box1{
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
}
