* {
	margin: 0;
	padding: 0;
}
body{
	
	background: #eff0f4;
}
.fa{
	max-width: 768px;
}
.header {
	height: 90px;
	background: #5fc0cd;
	color: #FFFFFF;
}

.header1 {
	font-size: 32px;
	float: left;
	line-height: 90px;
	padding-left: 20px;
}

.header2 {
	text-align: center;
	font-size: 36px;
	line-height: 90px;
}

.header3 {
	font-size: 32px;
	float: right;
	line-height: 90px;
	padding-right: 20px;
}
.header-text{
	background-color: #FFFFFF;
}
.header-text{
	background: url(../img/iphone.png) #fff no-repeat;
	background-position: 35px center;
	padding-left: 95px;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
.box1{
	border: none;
	width: 80%;
	outline: none;
	height: 50px;
	border-left: 2px solid #D0D0D0;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 36px;
}
.header-text1{
	background-color: #FFFFFF;
}
.headerwrap{
	background: url(../img/locked.png) #fff no-repeat;
	background-position: 35px center;
	padding-left: 95px;
	line-height: 100px;
	border: none;
}
.box2{
	border: none;
	width: 80%;
	outline: none;
	height: 50px;
	border-left: 2px solid #D0D0D0;
	padding-left: 20px;
	font-size: 36px;
}
.entry p{
	font-size: 32px;
	background: #5fc0cd;
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin-top: 50px;
	color: #FFFFFF;
	letter-spacing: 15px;
}
.forjet{
	font-size: 30px;
	color: #5fc0cd;
	float: right;
	margin-top: 20px;
	padding-right: 30px;
}
