*{
	margin: 0;
	padding: 0 ;
}
.fa{
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}
.headerwrap{
	height: 90px;
	background: #5fc0cd;
}
.wrap-text{
	float: left;
	/*line-height: 90px;*/
	padding-top: 21px;
	padding-left: 30px;

}
.headerwrap p{
	text-align: center;
	line-height: 90px;
	font-size: 36px;
	color: #FFFFFF;
}
.headertext{
	height: 330px;
	background: url(../img/doctor.png) no-repeat;
	background-size: 100%;
}
.headertext .text{
	float: left;
	padding-top: 80px;
	padding-left: 50px;
}
.text-box{
	padding-left: 270px;
	padding-top: 105px;
	margin-bottom: 20px;
	color: #ffffff;
}
.text-box .data{
	line-height: 55px;
}
 .text-box .name{
 	font-size: 36px;
 	  margin-right: 20px;
 }
.age{
	font-size: 28px;
}
.coordinate{
	margin-right: 15px;
	vertical-align: bottom;
}
.local{
	font-size: 24px;
}

.else{
	margin-top: 20px;
}
.major{
	height: 100px;
}
.twig{
	width: 3px;
	height: 25px;
	background: #5fc0cd;
	float: left;
	margin-left: 30px;
	margin-top: 37px;
}
.skill{
	font-size: 32px;
	margin-left: 30px;
	padding-left: 30px;
	line-height: 100px;
}
.label{
	height: 100px;
	border-bottom: 2px solid #e1e5e7;
}
.live{
	font-size: 32px;
	float: left;
	margin-left: 60px;
	margin-right: 23px;
	line-height: 100px;
}
.line{
	width: 2px;
	height: 25px;
	background: #e1e5e7;
	float: left;
	margin-top: 37px;
	margin-right: 23px;
}
.eat{
	font-size: 32px;
	line-height: 100px;
}
.get{
	height: 100px;
	border-bottom: 2px solid #e1e5e7;
}
.time{
	font-size: 32px;
	line-height: 100px;
	float: left;
	margin-left: 60px;
	color: #999999;
}
.space{
	float: left;
	width: 2px;
	height: 35px;
	background: #e1e5e7;
	margin-top: 35px;
	margin-left: 30px;
	margin-right: 30px;
}
.get span{
	font-size: 32px;
	line-height: 100px;
}
.work{
	height: 100px;
	border-bottom: 2px solid #e1e5e7;
}
.time1{
	font-size: 32px;
	line-height: 100px;
	float: left;
	margin-left: 60px;
	color: #999999;
}
.space1{
	float: left;
	width: 2px;
	height: 35px;
	background: #e1e5e7;
	margin-top: 35px;
	margin-left: 30px;
	margin-right: 30px;
}
.work span{
	font-size: 32px;
	line-height: 100px;
}
.serve{
	height: 100px;
	border-bottom: 2px solid #e1e5e7;
}
.time2{
	font-size: 32px;
	line-height: 100px;
	float: left;
	margin-left: 60px;
	color: #999999;
}
.space2{
	float: left;
	width: 2px;
	height: 35px;
	background: #e1e5e7;
	margin-top: 35px;
	margin-left: 30px;
	margin-right: 30px;
}
.serve span{
	font-size: 32px;
	line-height: 100px;
	color: #ed9c9d;
}
.self{
	height: 100px;
	border-bottom: 2px solid #e1e5e7;
}
.time3{
	font-size: 32px;
	line-height: 100px;
	float: left;
	margin-left: 60px;
	color: #999999;
}
.space3{
	float: left;
	width: 2px;
	height: 35px;
	background: #e1e5e7;
	margin-top: 35px;
	margin-left: 30px;
	margin-right: 30px;
}
.self span{
	display: block;
	font-size: 28px;
	padding-top: 20px;
	
}
.total{
	padding-left: 30px;
}
.touch{
	margin-bottom: 40px;
}
.leave{
	width: 301px;
	height: 81px;
	border: 2px solid #5FC0CD;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 35px;
}
.leave1{
	font-size: 34px;
	line-height: 81px;
	text-align: center;
}
.phone{
	width: 305px;
	height: 85px;
	background: #5FC0CD;
	border-radius: 10px;
	float: right;
	margin-top: -85px;
	margin-right: 35px;
}
.phone1{
	font-size: 34px;
	line-height: 85px;
	text-align: center;
}