*{
	margin: 0;
	padding: 0;
}
body{
	width: 768px;
}
.header{
	height: 90px;
	background: #5fc0cd;
	padding-top: 10px;
	padding-left: 230px;
}
.head{
	width: 285px;
	height: 70px;
	background: #55a8b3;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 34px;
	line-height: 70px;
	padding-left: 30px;
}
.head1{
	width: 144px;
	height: 70px;
	background: #FFFFFF;
	border-radius: 15px;
	color: #5fc0cd;
	float: right;
	font-size: 34px;
	line-height: 70px;
	padding-left: 30px;
}
.picture{
	float: right;
	margin-top: -75px;
	margin-right: 30px;
}
.drop{
	height: 85px;
	position: relative;
	border-bottom: 1px solid #afbac0;
}
.seat{
	font-size: 28px;
	position: absolute;
	top: 25px;
	left: 68px;
}
.img-text1{
	position: absolute;
	top: 40px;
	left: 215px;
}
.twig{
	width: 1px;
	height: 25px;
	background: #afbac0;
	position: absolute;
	top: 32px;
	left: 240px;
}
.meal{
	font-size: 28px;
	text-align: center;
	padding-top: 25px;
}
.img-text2{
	position: absolute;
	top: 40px;
	left: 500px;
}
.slip{
	width: 1px;
	height: 25px;
	background: #afbac0;
	position: absolute;
	top: 32px;
	left: 520px;
}
.sick{
	font-size: 28px;
	position: absolute;
	top: 25px;
	right: 80px;
}
.img-text3{
	position: absolute;
	top: 40px;
	right: 20px;
}
.time{
	height: 80px;
	line-height: 80px;
	padding-left: 30px;
}
.time span{
	font-size: 28px;
	margin-left: 15px;
}
.datum{
	height: 100px;
	border-bottom: 1px solid #afbac0;
}
.date{
	font-size: 28px;
	padding-left: 68px;
}
.date img{
    vertical-align: bottom;
    }
.date span{
	color:#ef8468 ;
	padding-left: 230px;
	padding-right: 10px;
}
.seats{
	padding-left: 30px;
	padding-top: 10px;
	font-size: 28px;
}
.seats span{
	padding-left: 10px;
}
.time1{
	height: 80px;
	line-height: 80px;
	padding-left: 30px;
}
.time1 span{
	font-size: 28px;
	margin-left: 15px;
}
.datum1{
	height: 100px;
	border-bottom: 1px solid #afbac0;
}
.date1{
	font-size: 28px;
	padding-left: 68px;
}
.date1 span{
	color:#ef8468 ;
	padding-left: 230px;
	padding-right: 10px;
}
.date1 img{
    vertical-align: bottom;
    }
.seats1{
	padding-left: 30px;
	padding-top: 10px;
	font-size: 28px;
}
.seats1 span{
	padding-left: 10px;
}
.time2{
	height: 80px;
	line-height: 80px;
	padding-left: 30px;
}
.time2 span{
	font-size: 28px;
	margin-left: 15px;
}
.datum2{
	height: 100px;
	border-bottom: 1px solid #afbac0;
}
.date2{
	font-size: 28px;
	padding-left: 68px;
}
.date2 span{
	color:#ef8468 ;
	padding-left: 230px;
	padding-right: 10px;
}
.date2 img{
    vertical-align: bottom;
    }
.seats2{
	padding-left: 30px;
	padding-top: 10px;
	font-size: 28px;
}
.seats2 span{
	padding-left: 10px;
}
.time3{
	height: 80px;
	line-height: 80px;
	padding-left: 30px;
}
.time3 span{
	font-size: 28px;
	margin-left: 15px;
}
.datum3{
	height: 100px;
	border-bottom: 1px solid #afbac0;
}
.date3{
	font-size: 28px;
	padding-left: 68px;
}
.date3 span{
	color:#ef8468 ;
	padding-left: 230px;
	padding-right: 10px;
}
.seats3{
	padding-left: 30px;
	padding-top: 10px;
	font-size: 28px;
}
.seats3 span{
	padding-left: 10px;
}
.time4{
	height: 80px;
	line-height: 80px;
	padding-left: 30px;
}
.time4 span{
	font-size: 28px;
	margin-left: 15px;
}
.datum4{
	height: 100px;
	border-bottom: 1px solid #afbac0;
}
.date4{
	font-size: 28px;
	padding-left: 68px;
}
.date4 span{
	color:#ef8468 ;
	padding-left: 230px;
	padding-right: 10px;
}
.seats4{
	padding-left: 30px;
	padding-top: 10px;
	font-size: 28px;
}
.seats4 span{
	padding-left: 10px;
}
.time5{
	height: 80px;
	padding-left: 30px;
}
.time5 .index{
	font-size: 28px;
	margin-left: 15px;
	display: inline-block;
	margin-top:35px;
	
}
.stern{
	height: 100px;
	background: #f8fafb;
}
.page{
	float: left;
	padding-left: 170px;
	padding-top:15px ;
}
.page p{
	margin-left: 7px;
	margin-top: 10px;
}
.pen{
	float: left;
	padding-left: 140px;

}
.mine{
	float: right;
	padding-right: 160px;
	padding-top: 15px;
}
.mine p{
	margin-left: 7px;
	margin-top: 10px;
}