*{
	margin: 0;
	padding: 0;
}
.header{
	height: 90px;
	background:#29bde0 ;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	border-bottom:5px solid #74d4eb;
	z-index:2;
}
.header .home{
	position: relative;
	top: 20px;
	left: 30px;
}
.header p{
	font-size: 34px;
	text-align:center;
	color: #FFFFFF;
	margin-top: -20px;
}
.header .shape{
	position:absolute;
	top:25px;
	right:20px;
}
.middle{
	background:#29bde0;
	border-bottom:5px solid #31a8c4;
}

.cup{
	width: 351px;
	text-align: center;
	position:relative;
	padding-top:127px;
	margin-left:auto;
	margin-right:auto;
	z-index: 1;
}
.win{
	width: 100%;
	font-size:47px;
	color: white;
	position: absolute;
	top:76%;
	left: 0;
}
.depict{
	width:500px;
	font-size: 33px;
	color: #ffc865;
	margin:auto;
	margin-top:20px;
}
.rule{
	width: 500px;
	color: #FFFFFF;
	font-size: 26px;
	margin:auto;
	padding-bottom:40px;
	margin-top:50px;
}
.rule .time{
	margin-bottom: 10px;
}
.rule .killer{
	margin-right:40px;
	display:inline-block;
	margin-bottom:15px;
}
.rule .police{
	margin-right:40px;
}
.rule .sniper{
	margin-right:40px;
	display:inline-block;
	margin-bottom:15px;
}
.rule .love{
	margin-bottom:15px;
}

.fruit-1{
	height: 170px;
	border-top:5px solid #dddddd;
	border-bottom:5px solid #dddddd;
	padding-top: 20px;
}
.fruit{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.fruit .one{
	font-size: 30px;
	margin-bottom: 20px;
}
.fruit .one span{
	font-size: 20px;
	color: #c7c7c7;
    float: right;
}
.fruit-1 .fruit p{
	font-size: 26px;
	color: #a6a6a6;
	line-height: 40px;
}
.fruit-2{
	padding-top: 20px;
	padding-bottom: 20px;
}
.fruit-2 .fruit .two{
	font-size: 30px;
	margin-bottom: 20px;
}
.fruit-2 .two span{
	font-size: 20px;
	color: #c7c7c7;
    float: right;
    
}
.fruit-2 p{
	font-size: 26px;
	color: #a6a6a6;
}


.fruit-3{
	font-size: 40px;
	color: #29bde0;
	line-height: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	letter-spacing: 5px;
	border-top: 5px solid #dddddd;
}
.fruit-3 .time{
	float:right;
}
.fruit1{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.last{
	height: 150px;
	
    position: fixed;
    left:0;
    right:0;
    bottom:0;
	background: #29bde0;
	background:rgba(41,189,224,0.5);
}
.last-1{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.last1{
	width: 200px;
	height: 80px;
	background: #f66f6f;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 10px;
	line-height: 80px;
	float: left;
}
.last2{
	width: 200px;
	height: 80px;
	background: #fbb435;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 10px;
	line-height: 80px;
	float: right;
}

