* {
	margin: 0;
	padding: 0;
}

body {
	background: #29bde0;
}

.fa {
	margin: auto;
	padding: auto;
}

.header {
	height: 90px;
	background: #29bde0;
	position: relative;
}

.header .text {
	position: absolute;
	top: 30px;
	left: 20px;
}

.header span{
	width: 100%;
	font-size: 34px;
	text-align: center;
    display: block;
	line-height: 90px;
	
}

.header .wrong {
	position: absolute;
	top: 30px;
	right: 20px;
}

.matter {
	height: 80px;
	background: #b9e9f5;
}

.matter p {
	padding-left: 45px;
	line-height: 80px;
	font-size: 26px;
	letter-spacing: 10px;
}

.button {
	float: right;
	margin-top: -65px;
	padding-right: 15px;
}

.sense {
	margin-left: 66px;
	margin-bottom: 10px;
}

.vote {
	padding-bottom: 50px;
}

.click {
	font-size: 24px;
	color: #FFFFFF;
	padding-left: 66px;
	padding-top: 40px;
}

.op {
	width: 78vw;
	margin: auto;
}

.option1 {
	position: relative;
	background: #f5c97b;
	font-size: 30px;
	color: #7e735f;
	border: 2px solid #FFFFFF;
	
	box-sizing: border-box;
	float: left;
	width: 20vw;
	height: 20vw;
	margin-top: 10vw;
	margin-right: 6vw;
}

.start {
	margin-left: 3vw;
}

.end {
	margin-right: 0;
}

.option1-1 {
	height: 15vw;
	text-align: center;
	line-height: 15vw;
}

.option1-2 {
	background: #83b09a;
	font-size: 23px;
	text-align: center;
	color: #FFFFFF;
	height: 5vw;
	line-height: 5vw;
}

.c-left {
	clear: left;
}

.icon {
	display: none;
	position: absolute;
	width: 100%;
	bottom: -7vw;
}

.option1:hover .icon {
	display: block;
	margin-top: 50px;
}

.clear {
	clear: both;
}

.tail {
	height: 150px;
	width: 100%;
	background: #29bde0;
	position: fixed;
	bottom: 0;
}

.tail1 {
	width: 60%;
	background: #fbb435;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
	line-height: 80px;
	margin-top: 40px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}