*{
	margin: 0;
	padding: 0;
}
body{
	background: #fafafa;
}
.header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.headtext {
	color: #29b078;
}

.navbox {
	background: #29b078;
	height: 58px;
}

.nav {
	padding-top: 20px;
}

.nav .nav-text {
	float: right;
	margin-right: -25px;
}

.nav .nav-text li {
	color: #FFFFFF;
	float: left;
	list-style: none;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	margin-bottom: -10px;
}

.nav .nav-text li:hover {
	border-bottom: 3px solid #FFFFFF;
}

.optionbox{
	padding-top: 160px;
	padding-bottom: 100px;
}

.rocket1{
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.rocket2{
	font-size: 16px;
	color: #999999;
	/*text-align: center;*/
}

.option2{
	font-size: 18px;
	border-left: 1px dashed #777777;
	padding-left: 70px;
	padding-top: 50px;
}
.option3{
	padding-top: 16px;
}
.user1 span{
	color: #26a26f;
}
.user1 p{
	color: #999999;
	padding-top: 15px;
	padding-bottom: 30px;
}
.study1{
	font-size: 18px;
	text-align: center;
	padding-bottom: 50px;
}
.guide1{
	width: 70px;
	height: 70px;
	border-radius: 50px;
    border:1px solid #e7e7e7;
    line-height: 70px;
    color:#29b078 ;
    font-size: 18px;
}
.guide{
	margin-bottom: 95px;
}
.guide2{
	line-height: 28px;
	padding-top: 3px;
	
}
.guide3{
	padding-top: 16px;
}
.guide4{
	padding-top: 16px;
}
.fine{
	font-size: 18px;
	margin-bottom: 70px;
}

.teacher{
	padding-bottom: 100px;
}
.traineebox{
	width: 22%;
	border: 1px solid #C9C9C9;
	margin-left: 4%;
}
.traineetext{
	margin-left: 0;
}
.trainee{
	padding-bottom: 100px;
}
.trainee1{
	font-size: 18px;
	padding-top: 35px;
	padding-bottom: 30px;
}
.trainee2{
	font-size: 16px;
}

.carousel-indicators .active {
    background-color:#26a26f;
}
.cooperate{
	font-size: 18px;
	padding-top: 120px;
	padding-bottom: 66px;
	text-align: center;
}
.business .logo1{
	width: 100%;
}
.linktext{
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 18px;
	text-align: center;
}
.row{
	margin-left: 10px;
	color: #989899;
}
.link{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 20px;
}
.link1{
	margin-right: 20px;
	line-height: 30px;
}
.link2{
	margin-right: 0;
}
.rump{
	background: #26a26f;
	color: #FFFFFF;
}
.rump1{
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 30px;
}
.text2{
	margin-left: 190px;
}
.text3{
	margin-left: 610px;
}
.rump2{
	padding-bottom: 20px;
}
.box1{
	margin-left: 340px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFFFFF;
}
.box2{
	margin-left: 30px;
}
.rump3{
	padding-bottom: 15px;
}
.case1{
	border-right: 2px solid #FFFFFF;
	padding-right: 10px;
	margin-right: 10px;
}
.case4{
	margin-left: 118px;
}
.case5{
	margin-left: 30px;
}
.case6{
	padding-right: 20px;
	margin-top: -60px;
}
.rump4{
	/*padding-left: 515px;*/
	padding-bottom: 20px;
	text-align: center;
}

@media only screen and (max-width:768px) {
	.optionbox .option1{
		width: 100%;
		text-align: center;
		
	}
	
	.rocket2{
		text-align: center;
	}
	.user1{
		text-align: center;
	}
	
	.guide{
		width: 100%;
		text-align: center;
	}
	.guide2{
		padding-left: 200px;
	}
   ul{
   	width: 100%;
   	color: #26A26F;
   }
   .nav-text{
   	padding-left: 408px;
   	
   }
   .trainee2{
   	font-size: 12px;
   	margin-left: 5px;
   	margin-right: 5px;
   }
}
