* {
	margin: 0;
	padding: 0;
}
body{
	background: #fafafa;
}
.header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.headtext {
	color: #29b078;
}
.fence{
	color: #FFFFFF;
	background: #29b078;
}
.fencebox1{
	padding-top: 20px;
	padding-bottom: 20px;
}
.fencebox1 .tree{
	font-size: 36px;
	color: white;
}
.fencebox1 .tree1{
	font-size: 9px;
	color: white;
}
.fencebox2{
	margin-top: -60px;
	margin-right: -20px;
	font-size: 16px;
	
}
.fencebox2 a{
	text-decoration: none;
}
.fencebox2 .sun{
	
	color: #FFFFFF;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 37px;
}
.fencebox2 .sun:hover {
	border-bottom: 3px solid #FFFFFF;
}
.home{
	height: 80px;
	line-height: 80px;
	
}
.vocation{
	border-bottom: 1px solid #d0d6d9;
}

.home2{
	color:#29b078 ;
}
.type{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #edf1f2;
}
.aspect1{
	margin-right: 30px;
}
.aspect1:hover{
	background:  #29b078;
	color: white;
}
.aspect2{
	color: #999999;
}
.nose{
	height: 80px;
	line-height: 80px;
	font-weight: bold;
	border-bottom: 1px solid #d0d6d9;
}
.text1{
	font-weight: bold;
}
.text2{
	word-break: break-all;
}
.engineer1{
	margin-top: 20px;
	padding-top: 20px;

}
.duty{
	border: 1px solid #eeeded;
	background: #FFFFFF;
	/*padding-top: 10px;	*/
}	
	
.function{
	margin-top: 10px;
	border-bottom: 1px solid #eeeded;
}

.term{
	font-size: 12px;
}
.term1{
	color: #999999;
}
.term2{
	color: #ff5c00;
}

.cill1{
	padding-top: 10px;
	border-right: 1px solid #eeeded;
}
.cill1 .term1{
	margin-right: 10px;
}
.cill2{
	padding-top: 10px;
}
.cill2 .term1{
	margin-right: 10px;
}
.cill2 img{
	margin-right: 10px;
}
.cyc{
	border-top: 1px solid #eeeded;
	border-bottom: 1px solid #eeeded;
}
.cyc1{
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid #eeeded;
}
.cyc1 .term1{
	margin-right: 10px;
}
.cyc2{
	padding-top: 10px;
	padding-bottom: 10px;
}
.cyc2 .term1{
	margin-right: 10px;
}
.pay{
	border-bottom: 1px solid #eeeded;
}
.pay .term1{
	padding-top: 40px;
	padding-bottom: 40px;
	border-right: 1px solid #eeeded;
}
.pay .pay1{
	padding-top: 6px;
	padding-bottom: 6px;
}
.pay .pay2{
	border-top: 1px solid #eeeded;
	border-bottom: 1px solid #eeeded;
}
.number{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eeeded;
}
.hint{
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.shade{
	background: #000000;
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	transition: all 2s;
	transform-origin: 50% 50%;
	color: white;
}
.shade1{
	margin-bottom: 40px;
}
.duty:hover .shade{
	transform: rotate(360deg);
	opacity: 0.8;
}
.end{
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeded;
}


.rump{
	font-size: 16px;
	background: #26a26f;
	color: #FFFFFF;
	padding-top: 20px;
	margin-top: 200px;
}
.we{
	padding-top: 20px;
}
.our{
	padding-top: 20px;
	padding-bottom: 20px;
}
.rumpbox2 img{
	padding-right: 15px;
}
.rumpbox4{
	font-size: 14px;
	padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
	
	
}