* {
	margin: 0;
	padding: 0;
}
body{
	background: #fafafa;
}
.header {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #FFFFFF;
}
.fence{
	color: #FFFFFF;
	background: #29b078;
}
.box1{
	padding-top: 20px;
	padding-bottom: 20px;
}
.box1 .tree{
	font-size: 36px;
	color: white;
}
.box1 .tree1{
	font-size: 9px;
	color: white;
}
.box2{
	margin-top: -60px;
	margin-right: -20px;
	font-size: 16px;
}
.box2 .sun{
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 37px;
}
.box2 a{
	text-decoration: none;
}
.box2 .sun:hover {
	border-bottom: 3px solid #FFFFFF;
}
.picture img{
	width: 100%;
}
.home{
	height: 80px;
	line-height: 80px;
}
.home2{
	color:#29b078 ;
}
.address{
	background: #FFFFFF;
	border: 1px solid #ededed;
}
.business1{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ededed;
	font-weight: bold;
}

.business2 li{
	margin-top: 50px;
	list-style: none;
	background: url(../img/quoit.png) no-repeat;
	background-position: 90px;
	padding-left: 105px;
	color:#29b078 ;
}
.business2 li:hover{
	background: url(../img/quoit2.png) no-repeat;
	background-position: 90px;
	color: orange;
}
.web1{
	margin-bottom: 50px;
}
.potatobox{
	background: #FFFFFF;
	border: 1px solid #ededed;
	font-size: 14px;
	color: #999999;
}
.potato1{
	height: 180px;
	padding-top: 20px;
	
	border-bottom: 1px solid #ededed;
}
.potato1 .text{
	padding-top:20px ;
	
}
.potato2{
	padding-top: 20px;
}
.potato2 .text1{
	margin-top: 50px;
	text-indent: 28px;
}
.potato2 .text2{
	padding-bottom: 180px;
}
.rump{
	font-size: 16px;
	background: #26a26f;
	color: #FFFFFF;
	padding-top: 20px;
}
.we{
	padding-top: 20px;
}
.our{
	padding-top: 20px;
	padding-bottom: 20px;
}
.rumpbox2 img{
	padding-right: 15px;
}
.rumpbox4{
	/*font-size: 14px;*/
	padding-bottom: 20px;
    text-align: center;
}
@media only screen and (max-width:768px ) {
	.address{
		width: 30%;
		background: #FFFFFF;
		border: 1px solid #ededed;
		float: left;
	}
	.business2 .web{
		width: 100%;
		padding-left: 85px;
		background-position: 65px;
	}
	.business2 li:hover{
	background-position: 65px;
    }
	.potatobox{
		width: 67%;
		float: left;
	}
	.potato1 .text{
		padding-top: 0;
	}
	.potato2{
		padding-top: 0;
	}
	
}