*{
	margin: 0;
	padding: 0;
}
.fa{
	width: 100%;
}
.header{
	width:100vw;
	height:12.19vw;
	background:#29bde0 ;
}
.header img{
	width:5.31vw;
	height:5.31vw;
	margin-top:3.28vw;
	margin-left:3.2vw;
}
.content{
	background: #f0f0f0;
	padding-top:3.91vw;
}
.guesstext{
	width:89.06vw;
	height:18.28vw;
	background: #FFFFFF;
	border: 1px solid #c9c9c9;
	margin-left:5.2vw;

	font-size:5.63vw;
	padding-top:5.7vw;
	color: #9a9a9a;
	text-align: center;
	position: relative;
}
.guesstext img{
	width:3.43vw;
	height: 6.88vw;
	position:absolute;
	left:81vw;
	top:6vw;
 }
.item{
	width: 89.06vw;
	border: 1px solid #e9e9e9;
	margin-top: 3.90vw;
	margin-left: 5.2vw;
	background: #f3f3f3;
}
 .among{
	 width:89.06vw;
 	border: 1px solid #c9c9c9;
 	margin-left: 5.2vw;
	/*margin-right: 80px;*/
	margin-top: 4.06vw;
	margin-bottom: 4.06vw;
	background: #FFFFFF;
 }
.hold{
	height: 14.06vw;
	width: 100%;
	border: none;
	outline: none ;
	background: #f3f3f3;
	font-size: 5.46vw;
	border-bottom: 2px solid #fbb435;
	text-align: center;
	line-height: 14.06vw;
	color: #fbb435;
}
.simple{
	border: none;
	/*background: white;*/
	width: 72.65vw;
	height: 21.09vw;
	font-size: 5.63vw;
	color: #FFFFFF;
	background: #69d1e9;
	margin-left: 8.59vw;
	margin-top: 4.68vw;
	text-align: center;
	line-height: 21.09vw;
	letter-spacing: 5px;
}
.user{
	border: none;
	background: #f3f3f3;
	width:72.65vw;
	font-size: 3.90vw;
	margin-left: 8.43vw;
	text-align: center;
	height: 12.18vw;
	line-height: 120px;
}
.word{
	border: none;
	/*background:white;*/
	width:72.65vw;
	height: 21.09vw;
	font-size: 5.63vw;
	color: #FFFFFF;
	background: #69d1e9;
	margin-left: 8.43vw;
	text-align: center;
	line-height: 21.09vw;
	letter-spacing: 5px;
}
.denote{
	height:8.91vw;
	width:4.69vw;
	border: none;
	float: right;
	margin-top: 6.87vw;
	margin-right: 1.56vw;
}

.idiot{
	border: none;
	/*background: white;*/
	width: 72.65vw;
	height: 21.09vw;
	font-size: 5.63vw;
	color: #FFFFFF;
	background: #69d1e9;
	margin-left: 8.43vw;
	/*margin-top: 50px;*/
	text-align: center;
	line-height: 21.09vw;
	letter-spacing: 5px;
}

.rump{
	text-align: center;
	margin-bottom: 10px;
}
.slide{
	position: relative;
}

.slide .carousel-indicators li{
		bottom:-20px;
	background: #E3E3E3;
}
.slide .carousel-indicators .active{
	background: orange;
}
/*@media only screen and (min-width: 768px)  {*/
	/*.carousel-indicators{*/
		/*bottom:-15px!important;*/
	/*}*/
}


