* {
	margin: 0;
	padding: 0;
}

.header {
	background: #1d7ad9;
	height: 4rem;
}

.headerbox {
	font-size: 1.4rem;
	line-height: 4rem;
	color: white;
}

.right {
	padding: 0 3rem;
	height: 4rem;
	font-size: 1.6rem;
}

.right:hover {
	background: white;
	padding: 1.2rem 3rem;
	color: #000000;
}

.nav {
	height: 10rem;
	background: #f9f9f9;
	padding-right: 17.5rem;
}

.button {
	font-size: 1.6rem;
	padding: 1.2rem 1.5rem;
	background: white;
	border: none;
	outline: none;
	margin-left: 6rem;
	margin-top: 2.5rem;
	border-radius: 0.5rem;
}

.button:hover {
	background: #1d7ad9;
	color: white;
}

.whenbox {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.whentext span {
	font-size: 1.6rem;
	padding-left: 4rem;
	padding-right: 4rem;
	color: #cccccc;
}

.whentext {
	margin-bottom: 5rem;
}

.whentext span:hover {
	color: #ff7f02;
}

.step {
	border: 1px solid #e7e7e7;
}

.title {
	font-size: 2.2rem;
	border-left: 0.2rem solid #1d7ad9;
	padding-left: 1rem;
	margin-bottom: 2rem;
}

.step span {
	font-size: 1.8rem;
	padding-left: 1rem;
}

.step img {
	padding-left: 2rem;
}

.step1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: #f4f4f4;
}

.select {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.select .option {
	margin-left: 5rem;
	margin-right: 2rem;
}

.all {
	background: url(../img/delta.png) no-repeat 97% center;
	background-color: #fff;
	-webkit-appearance: none;
	border: 1px solid #E8E8E8;
	padding-left: 1.5rem;
	margin-left: 87%;
	margin-top: -3rem;
	width: 11.8rem;
	height: 3.8rem;
}

.select .inp {
	width: 7rem;
	height: 3rem;
}

.select form {
	float: left;
	margin-left: 2.5rem;
}

.size {
	margin-left: 14rem;
	margin-top: -2.5rem;
	padding-bottom: 3rem;
}

.alltow {
	margin-top: -1rem;
}

.select2 {
	border-bottom: 1px solid #e7e7e7;
}

.step #naxt {
	width: 18rem;
	height: 4rem;
	background: #e15053;
	border: none;
	border-radius: 0.5rem;
	font-size: 2.4rem;
	color: white;
	margin-top: 15rem;
	margin-bottom: 10rem;
}

.step form {
	text-align: center;
}

.main {
	margin-bottom: 5rem;
}

.base {
	background: #f9f9f9;
	padding-top: 5rem;
	padding-bottom: 5rem;
	color: #999999;
}

.date1 {
	margin-left: 4rem;
}

.date2 {
	font-size: 1.8rem;
}

.date3 {
	margin-left: 0;
}

.base2 {
	width: 23rem;
}

.date4 {
	margin-left: 4.6rem;
}

.datebox1 {
	margin-top: 2.5rem;
}

.date1:hover {
	color: #1d7ad9;
}

.foot {
	background: #1d7ad9;
	color: white;
	font-size: 1.2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}