body {
	margin: 0 auto;
}

.box {
	width: 200px;
	height: 200px;
	font-size: 32px;
	text-align: center;
	line-height: 200px;
	background-color: orange;
}

.bg-box {
	width: 200px;
	height: 150px;
	background: red;
	position: relative;
	display: inline-block;
}

.bg {
	background: black;
	opacity: 0.5;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
}



.bg-content {
	padding: 5px 10px;
	color: white;
}



.box1 {
	font-size: 5rem;
}

.box2 {
	/*display:none; */
	/*left: -10000px;*/
	background-color: blue;
	font-size: 3rem;
}

.box3 {
	background-color: green;
	font-size: 3rem;
}



.box4 {
	width: 200px;
	height: 200px;
	/*margin: 10px 0 20px 50px;*/
	background: -webkit-linear-gradient(top, red, #000);
	color: white;
	text-align: center;
	line-height: 200px;
}

.box5 {
	width: 200px;
	height: 200px;
	margin: 0 0 20px 50px;
	background: -webkit-linear-gradient(left, red, #f96, yellow, green, #ace);
}

.box6 {
	width: 200px;
	height: 200px;
	margin: 0 0 20px 50px;
	background: -webkit-radial-gradient(#29b078, white, black);
}

.box7 {
	width: 200px;
	height: 200px;
	margin: 0 0 20px 50px;
	background: -webkit-radial-gradient(bottom left, #ace, #f96, #1E90FF);
}

.box8 {
	width: 200px;
	height: 200px;
	margin: 0 0 20px 50px;
	background: -webkit-repeating-radial-gradient(#ace, #ace 5px, #f96 5px, #f96 10px);
}

.box9 {
	width: 200px;
	height: 200px;
	margin: 0 0 20px 50px;
	background: -webkit-repeating-linear-gradient(top left, #ace, #ace 5px, #f96 5px, #f96 10px);
}