*{
	margin: 0;
	padding: 0;
}
.text{
	width: 500px;
	height: 500px;
	margin: auto;

}
.box{
	width: 150px;
	height: 150px;
	background: orange;
	margin-left: 2.5%;
	margin-top: 2.5%;
	float: left;
	border-radius: 20px;

}
button{
	width: 475px;
	height: 30px;
	border:1px solid orange;
	background: white;
	color: orange;
	outline: none;
	margin-left: 2.5%;
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}
