body{
    /*background: #29bde0;*/
    max-width: 780px;
    min-width: 320px;
    font-size: 62.5%;
    margin: 0 auto;
}
.header{
    height: 4rem;
    width: 100%;
    background: #29bde0;
    max-width: 780px;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    border-bottom: 1px solid #ffffff;
}
.bg-white_house {
    width: 51px;
    height: 42px;
    background: url(images/css_sprites.png) -102px -210px;
    background-size: 763%;
}
.head{
    font-size: 2rem;
    color: white;
}
.bg-white_roll {
    width: 42px;
    height: 44px;
    background: url(images/css_sprites.png) -360px -9px;
    background-size: 977%;
}
main{
    background: #29bde0;
    margin-bottom: 100px;
}
.box1{
    height: 23px;
    width: 100%;
    background:#29bde0;
}
.wincup{
    text-align: center;
    position: relative;
}
.whowin{
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    margin-left: -4rem;
    color: #fff;
    font-size: 2rem;
}
.konw{
    font-size: 2rem;
    color: #ffc865;
    /*width: 100%;*/
    text-align: center;
    margin: 0 40px;

}
.explain{
    margin: 10px 0 0 40px;
    color: #fff;
    font-size: 1rem;
}
.day{
    background: #ffffff;
    /*padding-left: 40px;*/
}
.oday{
    font-size: 1.5rem;
}
.oday0{
    border-bottom: 1px solid #a6a6a6;
    padding-left: 40px;
}
.odaytime,.odaynight{
    color: #a6a6a6;
    font-size: 1rem;
    margin: 10px 0;
}
.otime{
    float: right;
    font-size: 1rem;
}
.outime{
    font-size: 1rem;
}
footer{
    height: 80px;
    width: 100%;
    max-width: 780px;
    min-width: 320px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgba(41,189,224,0.6);
    /*filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6*/

}
.once{
    height: 60px;
    width: 40%;
    background: #f66f6f;
    color: #ffffff;
    font-size: 2rem;
    line-height: 60px;
    text-align: center;
    margin: 0 0 0 5%;
    border-radius: 10%;
    text-decoration:none
}
.up{
    height: 60px;
    width: 40%;
    background: #fbb435;
    color: #ffffff;
    font-size: 2rem;
    line-height: 60px;
    text-align: center;
    margin: 0 5% 0 0;
    border-radius: 10%;
    text-decoration:none
}