/*页首*/
.sign_in,.hurGer {
  display: none;
  float: right;
}
.sign_in{
  font-size: 16px;
  line-height: 24px;
}
.sign_in a:visited {
  color: #000;
}

#header_1 .hotxiang {
  line-height: 33px;
  color: #29B078;
}
#header_1 .tuBiao{
  padding-right:15px;
}

@media screen and (max-width: 772px) {
  .sign_in,.hurGer {
    display: inline-block;
  }
  .display_none {
    display: none;
  }
}

/*导航*/
#header_1 nav {
  position: relative;
  height:50px;
  background: #29B078;
}

nav .logoimg{
  width:75%;
  margin-top:5px;
}
#header_1 .nav{
  float: right;
}
.nav li{
  float:left;
  width:58px;
  height:50px;
  line-height: 50px;
  text-align: center;
}
.nav .nav-click:hover,
.nav .active{
  box-sizing: border-box;
  border-bottom: 2px solid #fff;
}
.nav a{
  display: block;
  color:#fff;
}
.hurGer{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin:7px;
  background: #218D60;
}
.hurGer:after{
  clear:both;
}
.hurGer .pole{
  display: block;
  width: 20px;
  height: 3px;
  margin-top: 6px;
  margin-left: 8px;
  background: #1A5F42;
}
.verticalNav{
  display: block;
}
@media screen and (max-width: 772px) {
  .nav{
    display: none;
    width: 100%;
    background: #29B078;
    margin-right:0;
  }
  .nav li{
    width:100%;
  }
  .navClick:hover .nav{
    display: block;
    padding-top:10px;
  }
  .navClick:hover{
    width:100%;
    height:55px;
  }
}


/*页尾*/
#footer_1{
  background-color: #29B078;
  padding-top: 20px;
  color: #fff;
}
#footer_1 a {
  color: #fff;
}
#footer_1 a:hover{
  text-decoration:underline;
}
#footer_1 .guanyu {
  margin: 10px 0;
}
#footer_1 .cao {
  margin-bottom: 10px;
}
#footer_1 .cao-1 {
  margin-bottom: 10px;
}
#footer_1 .daihao{
  padding-left:15px;
  padding-right:15px;
  color:#fff;
  background-color: #29B078;
  font-size: 0.12rem;
  text-align: center;
  border:0.01rem solid #999;
}


