main {
  padding-bottom: 15rem;
  background: #fafafa; }

.place {
  padding: 2rem 0;
  border-bottom: 1px solid #cccccc; }

.home:hover {
  color: black;
  text-decoration: none; }

.occupation:hover {
  color: #29b078;
  text-decoration: none; }

.home:focus {
  color: black;
  text-decoration: none; }

.occupation:focus {
  color: #29b078;
  text-decoration: none; }

.home {
  color: black; }

.occupation {
  color: #29b078; }

.classify {
  color: #999999;
  padding: 2rem 0;
  border-bottom: 1px solid #edf1f2;
  display: flex; }

.direction {
  white-space: nowrap; }

.category {
  margin-left: 1rem; }

.all {
  padding: 3px;
  color: black;
  text-decoration: none; }

.job {
  padding: 3px;
  margin: 0 1rem;
  color: black;
  text-decoration: none; }

.job:focus {
  color: white;
  background: #29b078;
  text-decoration: none; }

.job:hover {
  color: white;
  background: #29b078;
  text-decoration: none; }

.job-sort {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0;
  border-bottom: 1px solid #d0d6d9; }

.animation {
  margin: 3rem 15px;
  opacity: 0;
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.5rem;
  text-align: center;
  color: white; }

@media screen and (max-width: 768px) {
  .animation {
    margin: 0 15px 0 15px;
    width: 345px;
    height: 384px; } }
@media screen and (max-width: 400px) {
  .animation {
    width: auto;
    height: auto; } }
.animation:hover {
  opacity: 0.5;
  transition: All 1s ease-in-out;
  transform: rotate(360deg); }

.profession {
  margin: 2rem 0; }

.duty {
  margin: 4rem 2rem; }

.personage {
  margin: 3rem 0;
  border-radius: 0.5rem;
  background: white; }

@media screen and (max-width: 768px) {
  .personage {
    width: 345px;
    height: 384px; } }
@media screen and (max-width: 400px) {
  .personage {
    width: 100%;
    height: auto; } }
.intro {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #edf1f2; }

.portrait {
  height: 9rem;
  padding: 0 0.5rem; }

.obligation {
  padding: 0 0.5rem; }

.position {
  font-size: 1.5rem;
  font-weight: bold; }

.job-view, .online {
  display: flex;
  border-bottom: 1px solid #edf1f2; }

.sill, .difficulty {
  font-size: 0.5rem;
  width: 50%;
  color: #a9a9a9;
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem; }

.difficulty {
  border-left: 1px solid #edf1f2; }

.rank {
  margin-left: 0.5rem; }

.cycle {
  color: #f01400;
  margin: 0 0 0 0.5rem; }

.wage {
  width: 40%;
  color: #a9a9a9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #edf1f2; }

.salary {
  width: 60%; }

.compensation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #edf1f2; }

.years {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.pay {
  margin: 0.5rem 1rem 0.5rem 2rem; }

.online {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: bold; }

.pupil {
  color: #f35b53;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0; }

.end {
  color: #999999;
  padding: 1rem 0 1rem 1rem;
  margin: 0; }

.work-sort {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid #d0d6d9; }

/*# sourceMappingURL=task14-2.css.map */
