@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 600px;
  overflow-x: hidden;
}
.blue {
  color: #5fc0cd;
}
.white {
  color: #fff;
}
.gray {
  color: #999999;
}
.red {
  color: #ff0000;
}
.bck_white {
  background-color: #ffffff;
}
.bck_blue {
  background-color: #5fc0cd;
}
.border_bottom {
  border-bottom: 1px solid #999999;
}
main {
  height: 650px;
  width: 100%;
}
.header {
  min-width: 320px;
  max-width: 600px;
  height: 40px;
  width: 100%;
  background-color: #5fc0cd;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.back {
  margin-left: 20px;
  color: #fff;
  float: left;
  cursor: pointer;
}
.back2 {
  margin-right: 20px;
  color: #fff;
  float: right;
}
.header2 {
  height: 220px;
  width: 100%;
  background-image: url("img/5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
}
.space_1 {
  width: 100%;
}
.space {
  width: 100%;
  height: 60px;
}
.Head_portrait {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.porsion {
  height: 90px;
  width: 90px;
  margin-left: 40px;
  margin-right: 20px;
}
.text_1 {
  font-size: 20px;
  color: #fff;
}
.position {
  width: 10px;
  height: 13px;
}
.main-title {
  width: 100%;
  height: 40px;
  font-size: 19px;
  border-bottom: 1px solid #999999;
  display: flex;
  align-items: center;
}
.split_line {
  margin-left: 20px;
  margin-right: 20px;
  height: 24px;
  width: 5px;
  border-radius: 2px;
  background-color: #5fc0cd ;
}
.space_line2 {
  height: 24px;
  width: 5px;
  border-radius: 2px;
  min-width: 5px;
  background-color: #999999;
  margin: 0 10px 0 10px;
}
.main_main {
  width: 90%;
  padding-left: 15px;
  margin-left: 3%;
  margin-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999999;
}
.text_2 {
  font-size: 17px;
  color: #999999;
  white-space: nowrap;
}
.take_care {
  word-wrap: break-word;
}
.hidden {
  height: 40px;
  width: 100%;
}
.footer {
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.button {
  height: 60px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  font-size: 26px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.button1 {
  height: 60px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  font-size: 26px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #5fc0cd;
  color: #5fc0cd;
}
.button2 {
  height: 60px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  font-size: 26px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #5fc0cd;
  color: #fff;
  border: 1px solid #FFFFFF;
}
