@charset="UTF-8";
body{
  padding-top:7.5em;
  font-size: 62.5%;
}
header{
  height:4em;
  width:100%;   /*不设置的话绝对定位会使header整个消失*/
  background: #5fc0cd;
  text-align: center;
  position: fixed;
  top:0;
}
header .hd-l{
  display: inline-block;
  margin:1em 1em 0 0;
  float: left;
  width:2em;
  height:2em;
}
header .hd-r{
  display: inline-block;
  margin:1em 1em 0 0;   /*设置div跟图片一样大，不然图片不会垂直居中*/
  float: right;
  width:2em;
  height:2em;
  background: url(img/task5-2_03.jpg) no-repeat;
  background-size: 2em 2em;
}
header .btn-group button{
  border-radius: 0.5em;
  margin-top: 0.32em;   /*让找护工按钮垂直居中*/
  border:none;
  font-size: 1.5em;
}
header .btn-group .btn-1{
  background-color:  #55a8b3;
}
header .btn-group .btn-2{
  position: relative;
  right:0.38em;
}


nav{
  width:100%;
  height:3em;
  position: fixed;
  top:4em;
}
nav .btn-group button{
  border-color:#fff;    /*取消了边框*/
  padding-right: 0;
  position: relative;
  border-radius: 0;

}


nav .btn-group .caret{
  position: absolute;       /*将图标右移*/
  right:0;
  top:50%;
}

.main{
  display: inline-block;   
  width:100%;
  padding:1em 0.5em 1em 1em;   /*设置了marain的话会出现滚动条，用了padding就不会有*/
  border-bottom: 1px solid #eee;
  color:#999;
  }
.main .list{
  margin-bottom: 0.51em;
  }
.main .riqi{
  display: inline-block;   /*要设置这个，再设宽高才有效。*/
  width:1em;
  height:1em;
  background-image: url(img/task5-2_07.jpg);
  background-size: 1em 1em;  /*设置背景图的大小*/
}
.main .list .shijian-0{
  padding-left: 1.1em;
  font-size: 1.2em;
  color:#000;
}
.main .shijian{
  float: right;
  display: inline-block;
  padding-right:0.5em;
  font-size: 1.2em;
  color:#e63b0e;
}
.main .jinru{
  display: inline-block;
  float: right;
  width:1em;
  height:1.5em;
  background-image: url(img/task5-2_15.jpg);
  background-size: 1em 1.5em;
}
.main .dizi{
  display: inline-block;
  width:1em;
  height:1em;
  background-image: url(img/task5-2_11.jpg);
  background-size: 1em 1em;
}

footer{
  height:4.5em;
  width:100%;
  position: fixed;
  bottom:0;
  background-color: #fff;
}
footer div:first-child{
  position: absolute;
  left:33.3%;
  padding-top:0.7em;
  margin-left:-2em;
  color: #5fc0cd;
}
footer div:first-child img{
  width:2em;
  height:2em;
}
footer div:last-child{
  position: absolute;
  right:33.3%;
  padding-top:0.7em;
  margin-right:-2em;
  color: #999;
}
footer div:last-child img{
  width:2em;
  height:2em;
}
footer div:nth-child(2){
  position: absolute;
  left:50%;
  margin-left:-2.5em;
}
footer div:nth-child(2) img{
  width:4.5em;
  height:4.5em;
}


