body {
    margin: 0;
}
header {
    border-bottom:1px solid #fff;
}
.top-left {
    width:20%;
    background-color: #232a3a;
    color: #fff;
    display: inline-block;
}
.top-right {
    float: right;
}
main {
    position: relative;
    display: flex !important;
    width:100%;
}
.nav {
    padding-top: 2rem;
    width:20%;
    display: inline-block;
    height: 968px;
    background: #232a3a;
}
.nav-list {
    height: 4rem;
    background-color: #232a3a;
    color: #fff;
    line-height: 0;
    padding:1rem 5%;
    cursor: pointer;
}
.nav-list:hover {
    background-color: #7b7f89;
}
.nav-content {
    height: 4rem;
    background-color: #232a3a;
    cursor: pointer;
    color: #fff;
    padding:1rem;

}
.nav-content:hover {
    background-color: #7b7f89;
}
span {
    margin-right: 1rem;
}
.top-right a {
    padding: 0 2rem;
    display: inline-block;
    border-left:1px solid blue;
    border-right: 1px solid blue;
    margin-top: 1rem;
}
.top-right span {
    padding: 0 2rem;
}
.view {
    width:80%;
}
.standard1 {
    width: 20%;
    border: 1px solid #e5e5e5;
    height: 22px;
}
.standard2 {
    width: 13%;
    text-align: center;
    margin:0 !important;
}
.main-cotent {
    display: flex;
    padding:1rem 0;
}
.top {
    border:1px solid #e5e5e5;
    width: 95%;
    margin: 2rem auto;
    padding: 1rem 0 5rem;
    border-radius: 5px;
}
.clear {
    background: #D8524E;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10%;
    font-size: 12px;
    width: 5rem;
}
.list-2 {
    margin: 0;
    width: 13.333333%;
    text-align: center;
}
.standard3 {
    border:0 !important;
}
.main-list {
    display: flex;
}
.ID {
    width: 10%;
    text-align: center;
}
.top-1 {
    border:1px solid #e5e5e5;
    width: 95%;
    margin: 2rem auto;
    padding: 1rem 0 1rem;
    border-radius: 5px;
}
.article {
    width:100%;
    margin:auto;
    border:1px solid #e5e5e5;
}
.all {
    width:95%;
    margin:auto;
    border:1px solid #e5e5e5;
}
.new-list {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}
.box {
    width: 80%;
    margin: auto;
    border:1px solid #e5e5e5;
    height: 3rem;
}
.bar {
    display: flex;
    padding:1rem 0;
}
.bar-1 {
    width:10%;
    margin:auto;
}
.choose-img {
    height: 3rem;
    background: #3278b5;
    border-radius: 10%;
    border:0;
    outline:none;
    cursor: pointer;
}
.bottom-button {
    height: 3rem;
    background: #94d094;
    border-radius: 10%;
    border:0;
    outline:none;
    cursor: pointer;
}
.bottom-button-right {
    float: right;
}