<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 开启注解扫描java本地数据库配置文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <context:component-scan base-package="com"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 配置数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>
    <!--配置SqlSessionFactory,用来得到SqlSession，进而对数据库进行操作 -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="mapperLocations" value="classpath:com/dao/studentMapper.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 配置数据访问层实现类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
    </bean>
    <!-- 配置事物管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="imStudentService" class="com.service.ServiceImpl2"/>

    <bean id="rmiService1" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!--设置RMI服务名，为客户端会依据此服务名来获取远程接口实现类-->
        <property name="serviceName" value="Service2" />
        <!--将远程接口实现类对象设置到RMI服务中-->
        <property name="service" ref="imStudentService" />
        <!--将远程接口设置为RMI服务接口-->
        <property name="serviceInterface" value="com.service.Service2" />
        <!--为RMI服务端远程对象注册表设置端口号,默认1199-->
        <property name="registryPort" value="1200" />
    </bean>

</beans>