@charset "UTF-8";
* {
  border: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  padding: 0;
  background-color: #29bde0; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #29bde0; }

.icon-menu {
  width: 30px;
  height: 30px;
  margin: 0 0 0 15px;
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: 0 -224px;
  outline: none; }
  .icon-menu:hover {
    cursor: pointer; }

.icon_back {
  padding: 15px;
  background: url(../img/JS-TASK2.png) no-repeat;
  background-size: 25px;
  background-position: 2px -99px;
  outline: none;
  cursor: pointer; }

.icon-× {
  width: 30px;
  height: 30px;
  border: 0;
  margin-right: 15px;
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: 8px -176px;
  outline: none; }
  .icon-×:hover {
    cursor: pointer; }

/*游戏提示*/
.game-guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 14px;
  background-color: #b9e9f5; }

/*倒三角形*/
.tri-guide {
  position: relative;
  top: -5px; }

main {
  position: absolute;
  top: 50px;
  width: 100%;
  margin-bottom: 95px; }

/*发言讨论结束，大家请投票*/
.player {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #fbb435; }

.player-tri {
  width: 26px;
  height: 26px;
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: 6px 3px;
  outline: none; }

.triangle {
  position: relative;
  left: 45px;
  display: inline-block;
  margin: 0;
  border-top: 7px solid #b9e9f5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

.guide {
  padding-left: 40px;
  font-size: 14px;
  color: #b9e9f5; }

/*游戏角色*/
.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35vw;
  padding: 0 30px;
  max-height: 260px;
  margin-bottom: 10px; }

.user-operate {
  width: 25vw;
  height: 100%;
  max-width: 260px;
  max-height: 260px; }
  .user-operate:hover .option {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-top: 5px;
    cursor: pointer; }

.character {
  position: relative;
  width: 25vw;
  height: 25vw;
  border: 2px solid #fff;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
  background-color: #f5c97b; }

li:nth-child(1), li:nth-child(2), .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center; }

li:nth-child(1) {
  height: 80%;
  font-size: 16px; }

.user-number {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  font-size: 12px;
  color: #fff;
  background-color: #83b09a; }

@media (min-width: 550px) {
  li:nth-child(1) {
    font-size: 20px; }

  .user-number {
    font-size: 16px; } }
.option {
  display: none; }

.icon-knife, .icon-look, .icon-kill, .icon-treat {
  width: 20px;
  padding-top: 20px; }

.icon-knife {
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: 0 -37px;
  outline: none; }

.icon-look {
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: 0 -111px;
  outline: none; }

.icon-kill {
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: -1px -75px;
  outline: none; }

.icon-treat {
  background: url(../img/task7-sprite.png);
  background-size: 200px;
  background-position: 2px -148px;
  outline: none; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 30px;
  background-color: #29bde0; }

.footer-btn {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #fbb435; }
  .footer-btn:hover {
    cursor: pointer; }

/*# sourceMappingURL=../css/JS-TASK4-%E7%8A%B6%E6%80%81%E6%94%B9%E5%8F%98.css.map */
