html, 
body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "microsoft yahei", sans-serif;
	font-size: 62.5%;
}
*{
	box-sizing: border-box;
}

/*头部*/

header{
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 44px;
	background-color: #5fc0cd;
}
header > .nav > *{
	width: 72px;
	height: 35px;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 4px;
	outline: 0;
	font-family: "microsoft yahei", sans-serif; /*button里的字体不继承body样式*/
	font-size: 1.5rem;
}
header > .nav > .btn-left{
	color: #FFFFFF;
	background-color: #55a8b3;
}
header > .nav > .btn-right{
	margin-left: -4px;
	color: #5fc0cd;
	background-color: #FFFFFF;
}
header > .icon{
	position: absolute;
	right: 4vw;
	z-index: -1;
	width: 22px;
	height: 23px;
	background: url(images/8.png);
	background-position: -1px -1px;
}

/*表头*/

.head-of-form{
	position: fixed;
	top: 44px;
	z-index: 999999;
	width: 100%;
	font-size: 1.4rem;
	color: #999999;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #eff1f2;
	background-color: #FFFFFF;
	white-space: nowrap;

}
.head-of-form *{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.head-of-form .drop-down{
	background-color: #FFFFFF;
	display: none;
}
.head-of-form .left:hover > .drop-down{
    display: block;
}
.head-of-form .center:hover > .drop-down{
    display: block;
}
.head-of-form .right:hover > .drop-down{
    display: block;
}
.head-of-form .nav-head{
	display: flex;
	align-items: center;
	justify-content: center;
}
.head-of-form .icon{
	display: inline-block;
	position: absolute;
	right: 2vw;
	width: 7px;
	height: 4px;
    background: url(images/8.png) 0 -50px;
}
.head-of-form .center .nav-head .border-line{
	position: absolute;
	width: 100%;
	height: 25px;
	border-right: 1px solid #eff1f2;
	border-left: 1px solid #eff1f2;
}
.head-of-form .drop-down-centent{
	border: 1px solid #eff1f2;
	border-top: 0;
}
.head-of-form .drop-down-centent:hover{
	background-color: #5fc0cd;
}

/*列表主体*/

.main-form{
	margin-top: 84px;
	width: 100%;
	font-size: 1.4rem;
	color: #999999;
}
.main-form > .row{
	height: 90px;
	line-height: 90px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #eff1f2;
}
.main-form .row *{
	padding: 0;
	margin: 0;
}
.main-form > .row .cut > *{
	height: 30px;
	line-height: 30px;
}
.main-form .top .icon{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(images/8.png) -51px -1px;
	margin-left: 15px;
	margin-right: 8px;
}
.main-form .bottom .icon{
	display: inline-block;
	width: 9.5px;
	height: 11.5px;
	background: url(images/8.png) -101px -1px;
	margin-left: 15px;
	margin-right: 8.5px;
}
.main-form .middle{
	margin-left: 35px;
	color: #333333;
}
.main-form .text-right{
    background-color: #FFFFFF;
}
.main-form .icon-right{
	margin-right: 4vw;
	margin-left: 10px;
	width: 11px;
	height: 16.5px;
	background: url(images/8.png) -151px -1px;
}
.main-form .right{
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	white-space: nowrap;
	color: #e63b0e;
}
.main-form .last{
	margin-bottom: 50px;
}
.main-form .left .cut *{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*底部*/

footer{
	position: fixed;
	bottom: 0;
	z-index: 1;
	display: flex;
	justify-content: space-around; 
	align-items: center; /*垂直居中*/
	width: 100%;
	height: 50px; 
	background-color: #f8fafb;
	border-top: 1px solid #e2eaec;
}
footer > *{
	display: flex;
	flex-direction: column-reverse; /*重新定义项目排列方向，起点为下沿*/
	align-items: center;
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: "microsoft yahei", sans-serif;
	font-size: 1rem;
}
footer > .btn-left{
	width: 24px;
	height: 38px;
	color: #85ced8;
	background: url(images/8.png);
	background-position: -300.5px -1px;
}
footer > .btn-center{
	width: 48px;
	height: 48px;
	background: url(images/8.png);
	background-position: -201px -1px;
}
footer > .btn-right{
	width: 24px;
	height: 38px;
	color: #a6a6a6;
	background: url(images/8.png);
	background-position: -249.5px -1px;
}






