footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: .65rem;
    background: rgba(41, 189, 224, 0.8);
    button {
        position: relative;
        width: 40vw;
        height: .43rem;
        font-size: .2rem;
        border-radius: .07rem;
        color: white;
        &:nth-child(1) {
            background-color: #f66f6f;
        }
        &:nth-child(2) {
            background-color: #fbb435;
        }
    }
}