header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: .45rem;
    z-index: 1;
    background: #29bde0;
  
    .list {
        display: inline-block;
        padding: .04rem 0;
        margin-left: .12rem;
        width: .17rem;
        height: .02rem;
        border-top: .02rem solid white;
        border-bottom: .02rem solid white;
        background: white;
        background-clip: content-box;
    }
    

    
}