<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.task4"></context:component-scan>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"></property>
    </bean>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">

        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="initialSize" value="${InitialPoolSize}"></property>
        <property name="maxActive" value="${MaxActive}"></property>
        <property name="maxIdle" value="${MaxIdleTime}"></property>
        <property name="defaultAutoCommit" value="false"></property>
        <!--最后一个属性设置为defaultAutoCommit为false，这样数据库进行操作时就不会每进行一个数据库操作就自动提交一次事务了。-->
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.task4.pojo"></property>
        <!--Mapper.xml文件与mapper接口在同一个包下时可以不用注入-->
        <!--<property name="mapperLocations" value="classpath*:com/task2/mapper/UserMapper.xml"></property>-->
    </bean>

    <!--指定扫描的包名，如果有多个包就用逗号隔开-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描映射文件mapper-->
        <property name="basePackage" value="com.task4.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>


    </bean>

<bean id="userServiceImpl" class="com.task4.service.UserServiceImpl"> </bean>

    <bean id="professionServiceImpl" class="com.task4.service.ProfessionServiceImpl"></bean>

    <bean id="loginServiceImpl" class="com.task4.service.LoginServiceImpl"></bean>
</beans>