.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;

  >input{
    display: none;
    &:nth-of-type(4):checked ~ ul li:first-of-type {
      margin-left: -300%;
    }
    &:nth-of-type(3):checked ~ ul li:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked ~ ul li:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked ~ ul li:first-of-type {
      margin-left: 0;
    }
  }

  > ul {
    position: relative;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    background-color: #3a3a3a;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    >li{
      position: relative;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      line-height: normal;
      -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      -o-transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      vertical-align: top;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      white-space: normal;
    }
  }

  > .navigation {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 10;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    >div {
      margin-left: -100%;
    }

    label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      margin: 0 4px;
      padding: 4px;
      border: 1px solid #fff;

      &:hover:after {
        opacity: 1;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -6px;
        margin-top: -6px;
        background: #fff;
        border-radius: 50%;
        padding: 6px;
        opacity: 0;
      }
    }
  }

  > .arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    label {
      display: none;
      position: absolute;
      top: -50%;
      padding: 1%;
      box-shadow: inset 2px -2px 0 1px #787b86;
      cursor: pointer;
      -moz-transition: .15s;
      -o-transition: .15s;
      -webkit-transition: .15s;
      transition: .15s;

      &:hover {
        box-shadow: inset 3px -3px 0 2px #fff;
        margin: 0 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: -100%;
        left: -100%;
        height: 300%;
        width: 300%;
      }
    }
  }
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after{
  opacity: 1;
}

.csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type,
.csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(4),
.csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3) {
  display: block;
  left: 10%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type,
.csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(1) {
  display: block;
  right: 10%;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
img{
  vertical-align: middle;
  max-width: 100%;
}