@charset "UTF-8";
@import url(common.css);
@import url(carousel.css);
/*header*/
/*header包含.head、.nav模块*/
.header {
  /*head*/
  /*nav*/ }
  .header > .head {
    font-size: 0;
    height: 40px;
    line-height: 40px;
    background: #fff; }
    .header > .head .contianer > p {
      font-size: 14px;
      color: #29b078; }
      @media (max-width: 768px) {
        .header > .head .contianer > p {
          display: none; } }
    .header > .head .contianer > .img-area > img {
      margin-left: 5px; }
  .header > .nav {
    position: relative;
    line-height: 100px;
    background: #29b078; }
    @media (max-width: 768px) {
      .header > .nav {
        line-height: 50px; } }
    @media (max-width: 768px) {
      .header > .nav > .contianer > .button-area {
        display: none; } }
    .header > .nav > .contianer > .button-area > .active {
      border-bottom: 5px solid #fff; }
    .header > .nav > .contianer > .button-area > a {
      padding: 0 10px;
      line-height: 90px;
      font-size: 16px;
      border-bottom: 5px solid transparent; }
      .header > .nav > .contianer > .button-area > a:hover {
        border-bottom: 5px solid #fff; }
    @media (max-width: 768px) {
      .header > .nav > .contianer > img {
        width: 55px;
        height: auto; } }
    .header > .nav > .contianer > .nav-btn {
      float: right;
      margin-top: 10px;
      padding: 8px;
      background: transparent;
      border-radius: 2px;
      border: none;
      outline: none; }
      .header > .nav > .contianer > .nav-btn:hover {
        background: #fafafa; }
      .header > .nav > .contianer > .nav-btn:focus + .drop-down {
        display: block; }
      @media (min-width: 768px) {
        .header > .nav > .contianer > .nav-btn {
          display: none; } }
    .header > .nav > .contianer > .drop-down {
      display: none;
      background: #29b078;
      border-top: 1px solid #dedede; }
      .header > .nav > .contianer > .drop-down:hover {
        display: block; }
      .header > .nav > .contianer > .drop-down > li {
        text-align: center;
        line-height: 48px; }
        .header > .nav > .contianer > .drop-down > li:hover {
          border-bottom: 1px solid #fff; }

/*content*/
/*包含contianer,introduce-area,learning-steps,student，enterprise模块*/
.content {
  background: #fafafa;
  /*.introduce-area*/
  /*learining-steps*/
  /*student*/
  /*enterprise*/ }
  .content > .contianer > .introduce-area {
    margin-bottom: 100px; }
    @media (max-width: 768px) {
      .content > .contianer > .introduce-area {
        margin-bottom: 50px; } }
    .content > .contianer > .introduce-area p {
      color: #999999; }
    .content > .contianer > .introduce-area h4 {
      margin-bottom: 18px; }
    .content > .contianer > .introduce-area > .efficient {
      float: left;
      width: 25%;
      margin-top: 100px;
      padding: 63px 15px 15px 15px;
      text-align: center;
      font-size: 16px;
      background: url("../images/rocket.png") no-repeat center 0; }
      @media (max-width: 990px) {
        .content > .contianer > .introduce-area > .efficient {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .introduce-area > .efficient {
          margin-top: 50px;
          width: 100%; } }
    .content > .contianer > .introduce-area > .standard {
      float: left;
      width: 25%;
      margin-top: 100px;
      padding: 63px 15px 15px 15px;
      text-align: center;
      font-size: 16px;
      background: url("../images/book.png") no-repeat center 0; }
      @media (max-width: 990px) {
        .content > .contianer > .introduce-area > .standard {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .introduce-area > .standard {
          margin-top: 50px;
          width: 100%; } }
    .content > .contianer > .introduce-area > .contacts {
      float: left;
      width: 25%;
      margin-top: 100px;
      padding: 63px 15px 15px 15px;
      text-align: center;
      font-size: 16px;
      background: url("../images/wifi.png") no-repeat center 0;
      border-right: 1px dashed #dedede; }
      @media (max-width: 990px) {
        .content > .contianer > .introduce-area > .contacts {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .introduce-area > .contacts {
          margin-top: 50px;
          width: 100%; } }
    .content > .contianer > .introduce-area > .people-number {
      float: left;
      width: 25%;
      margin-top: 100px;
      padding: 63px 15px 15px 15px;
      text-align: center;
      font-size: 16px;
      background: none no-repeat center 0;
      padding-top: 10px; }
      @media (max-width: 990px) {
        .content > .contianer > .introduce-area > .people-number {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .introduce-area > .people-number {
          margin-top: 50px;
          width: 100%; } }
      .content > .contianer > .introduce-area > .people-number > span {
        color: #26a26f; }
      .content > .contianer > .introduce-area > .people-number > p {
        padding-top: 15px;
        padding-bottom: 25px; }
  .content > .contianer > .learning-steps {
    margin-bottom: 100px; }
    .content > .contianer > .learning-steps > h4 {
      margin-bottom: 40px; }
    .content > .contianer > .learning-steps > .step-box {
      float: left;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 100px;
      padding: 0 10px; }
      @media (max-width: 1170px) {
        .content > .contianer > .learning-steps > .step-box {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .learning-steps > .step-box {
          width: 100%;
          margin-bottom: 50px; } }
      @media (min-width: 1170px) {
        .content > .contianer > .learning-steps > .step-box:nth-of-type(4) > img, .content > .contianer > .learning-steps > .step-box:last-of-type > img {
          display: none; }
        .content > .contianer > .learning-steps > .step-box:nth-of-type(4):after, .content > .contianer > .learning-steps > .step-box:last-of-type:after {
          display: table;
          content: " ";
          width: 27px; } }
      .content > .contianer > .learning-steps > .step-box > .step-number {
        flex: 0 0 auto;
        width: 70px;
        height: 70px;
        margin-right: 10px;
        line-height: 70px;
        color: #29b078;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 3px 3px #ebeaeb;
        background: #fff; }
      .content > .contianer > .learning-steps > .step-box > p {
        margin-right: 10px;
        color: #999999; }
  .content > .contianer > .student {
    margin-bottom: 100px; }
    .content > .contianer > .student > .row > .student-display {
      float: left;
      width: 25%;
      padding: 0 15px; }
      @media (max-width: 990px) {
        .content > .contianer > .student > .row > .student-display {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .student > .row > .student-display {
          width: 100%; } }
      .content > .contianer > .student > .row > .student-display:after {
        display: table;
        content: " ";
        clear: both; }
      .content > .contianer > .student > .row > .student-display > .student-display-box {
        margin-bottom: 13px;
        padding: 0 10%;
        min-height: 367px;
        background: #fff;
        border: 1px solid #eeeded;
        text-align: center; }
        .content > .contianer > .student > .row > .student-display > .student-display-box > img {
          margin: 10px 0;
          width: 110px;
          height: 110px;
          text-align: center;
          border-radius: 50%; }
        .content > .contianer > .student > .row > .student-display > .student-display-box > h4 {
          margin-bottom: 18px; }
        .content > .contianer > .student > .row > .student-display > .student-display-box > p {
          text-align: left;
          color: #999999; }
  .content > .contianer > .student > .dot {
    text-align: center; }
    .content > .contianer > .student > .dot > span {
      margin-right: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 1px 1px 1px #333; }
      .content > .contianer > .student > .dot > span:first-child {
        background: #29b078; }
  .content > .contianer > .enterprise {
    margin-bottom: 100px; }
    .content > .contianer > .enterprise > a:hover {
      z-index: 2;
      box-shadow: 0 0 10px #d6d6d6; }
    .content > .contianer > .enterprise > .enterprise-alibaba {
      z-index: -1;
      float: left;
      width: 20%;
      height: 170px;
      background: url("../images/alibaba.png") no-repeat center #fff; }
      @media (max-width: 990px) {
        .content > .contianer > .enterprise > .enterprise-alibaba {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .enterprise > .enterprise-alibaba {
          width: 100%; } }
    .content > .contianer > .enterprise > .enterprise-jinshanyun {
      z-index: -1;
      float: left;
      width: 20%;
      height: 170px;
      background: url("../images/jinshanyun.png") no-repeat center #fff; }
      @media (max-width: 990px) {
        .content > .contianer > .enterprise > .enterprise-jinshanyun {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .enterprise > .enterprise-jinshanyun {
          width: 100%; } }
    .content > .contianer > .enterprise > .enterprise-huanxin {
      z-index: -1;
      float: left;
      width: 20%;
      height: 170px;
      background: url("../images/huanxin.png") no-repeat center #fff; }
      @media (max-width: 990px) {
        .content > .contianer > .enterprise > .enterprise-huanxin {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .enterprise > .enterprise-huanxin {
          width: 100%; } }
    .content > .contianer > .enterprise > .enterprise-yuntongxun {
      z-index: -1;
      float: left;
      width: 20%;
      height: 170px;
      background: url("../images/yuntongxun.png") no-repeat center #fff; }
      @media (max-width: 990px) {
        .content > .contianer > .enterprise > .enterprise-yuntongxun {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .enterprise > .enterprise-yuntongxun {
          width: 100%; } }
    .content > .contianer > .enterprise > .enterprise-qiniu {
      z-index: -1;
      float: left;
      width: 20%;
      height: 170px;
      background: url("../images/jinniu.png") no-repeat center #fff; }
      @media (max-width: 990px) {
        .content > .contianer > .enterprise > .enterprise-qiniu {
          width: 50%; } }
      @media (max-width: 768px) {
        .content > .contianer > .enterprise > .enterprise-qiniu {
          width: 100%; } }

/*link*/
.link {
  background: #fff; }
  .link > .contianer > .link-area {
    margin-bottom: 13px; }
    .link > .contianer > .link-area > ul > li {
      float: left;
      width: 10%;
      font-size: 14px;
      line-height: 33px; }
      @media (max-width: 990px) {
        .link > .contianer > .link-area > ul > li {
          width: 20%; } }
      @media (max-width: 768px) {
        .link > .contianer > .link-area > ul > li {
          width: 50%; } }
      .link > .contianer > .link-area > ul > li > a {
        padding-left: 20px;
        color: #999999;
        background: url("../images/dot.png") no-repeat;
        background-position: 7px center;
        border-bottom: 2px solid transparent; }
        .link > .contianer > .link-area > ul > li > a:hover {
          border-bottom: 2px solid #26a26f; }

/*# sourceMappingURL=task14-1.css.map */
