#wrap {
	display: inline-block;
	width: 100%;
}
.block {
	float: left;
	margin: 1%;
	border-radius: 5%;
	width: 31.333333%;
	height: 31.333333vw;
	background: #eee;
}
button {
	margin: .5rem 2rem;
	border: 2px solid orange;
	border-radius: 2rem;
	width: calc(100% - 4rem);
	height: 4rem;
	font-size: 2.2rem;
	background: orange;
	cursor: pointer;
	transition: all .5s ease-in-out;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
button:hover,
button:active {
	background: white;
}
button:focus {
	background: orange;
}