* { 
	padding: 0; 
	margin: 0; 
}

.box {             
    background-color: transparent;
    width: 100%;
    padding-bottom: 100%;
             
}

.box-nine {
	width: 31%;
	padding-bottom: 31%;
	background-color: orange;
	float: left;
	margin: 1%;
}