<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录界面</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="login-box2">
    <form class="login-table" action="/denglu" method="post">
        <p class="title">后台登录</p>
        <div class="user-name">
            <img src="/img/user.png">
            <input type="text" name="username" placeholder="账号">

        </div>
        <div class="pwd">
            <img src="/img/locked.png">
            <input type="text" name="password" placeholder="密码">
            <!-- 密码登录提示 -->

        </div>
        <input type="checkbox" name="remember-me"/>remember-me
        <button type="submit" class="login-btn">登录后台</button>
    </form>
</div>
</body>

</html>