@import "./reset.less";
@import "./color.less";


header {
	padding: 2rem;
	background: @baseColor;
	#menu {
		width: 3.4rem;
		height: 2.7rem;
		background: url(../image/module/header_1/icon_01.png) no-repeat left / contain;
		cursor: pointer;
		transition: all 1s ease-in-out;
		&:focus {
			transform: rotate(90deg);
		}
	}
}
@media screen and (max-width: 768px) {
	header {
		padding: 1rem 2rem;
		#menu {
			width: 2.5rem;
		}
	}
}