<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--开启驼峰映射-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名设置-->
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="int"/>
        <typeAlias type="java.util.List" alias="list"/>
        <typeAlias type="java.lang.Long" alias="long"/>
        <typeAlias type="java.lang.String" alias="String"/>
        <package name="com.mojorjoe.web.pojo" />
    </typeAliases>

    <!--映射文件路径-->
    <mappers>
        <mapper resource="Mapper.xml"/>
    </mappers>

</configuration>



