<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"
>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>





    <init-param>
      <!--配置spring-mvc.xml作为mvc的配置文件-->
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- 配置拦截路径 -->
  <!-- 同样道理,也对其他的后缀名进行了设置 -->
  <!--<servlet-mapping>-->
    <!--<servlet-name >springmvc </servlet-name >-->
    <!--<url-pattern >*.js</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >springmvc </servlet-name >-->
    <!--<url-pattern >*.css</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >springmvc </servlet-name >-->
    <!--<url-pattern >*.htm</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >springmvc </servlet-name >-->
    <!--<url-pattern >*.gif</url-pattern>-->
  <!--</servlet-mapping >-->

  <!--引用自定义时间转换类DateTag的配置文件datetag.tld-->
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tld/datetag.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/datetag.tld</taglib-location>
    </taglib>
  </jsp-config>

  <!--把applicationContext.xml加入到配置文件中-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-mybatis.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

</web-app>
