html {
  font-size: 312.5%;
}

body {
  margin: 0;
  font-size: 16px;
}

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

input {
  display: none;
}

table {
  border-collapse: collapse;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xs-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

@media screen and (min-width: 576px) {
  .col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-1 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
  min-height: 1px;
}

.col-2 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
  min-height: 1px;
}

.col-3 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  min-height: 1px;
}

.col-4 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
  min-height: 1px;
}

.col-5 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
  min-height: 1px;
}

.col-6 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 1px;
}

.col-7 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
  min-height: 1px;
}

.col-8 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
  min-height: 1px;
}

.col-9 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  min-height: 1px;
}

.col-10 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
  min-height: 1px;
}

.col-11 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
  min-height: 1px;
}

.col-12 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: .4rem;
  font-size: 0.14rem;
}

.top-header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .contact .wechat,
.top-header .contact .qq,
.top-header .contact .weibo {
  height: .26rem;
  width: .26rem;
}

.top-header .contact .wechat {
  margin-right: .2rem;
  background: url(./../img14/img.png) 0 0/100%;
}

.top-header .contact .qq {
  margin-right: .2rem;
  background: url(./../img14/img.png) 0 50%/100%;
}

.top-header .contact .weibo {
  background: url(./../img14/img.png) 0 100%/100%;
}

.nav-header {
  background-color: #29B078;
}

.nav-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-header .nav .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header .nav .nav-brand img {
  width: 3.5rem;
}

.nav-header .nav .nav-button-border {
  display: none;
  margin: .4rem;
  padding: .1rem;
  border: .03rem solid #3fb886;
}

.nav-header .nav .nav-button-border label {
  display: inline-block;
  padding: .12rem 0;
  width: .48rem;
  height: .36rem;
  border-top: .04rem solid #94d8bc;
  border-bottom: .04rem solid #94d8bc;
  background: #94d8bc;
  background-clip: content-box;
}

@media screen and (max-width: 575px) {
  .nav-header .nav .nav-button-border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-header .nav .nav-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text {
    height: 0;
  }
  .nav-header .nav .nav-text li {
    height: 0 !important;
  }
  .nav-header .nav .nav-text li .nav-link {
    height: 0 !important;
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
}

.nav-header .nav .nav-text .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -15px;
}

.nav-header .nav .nav-text .navbar-nav li {
  height: 1.2rem;
  margin-left: .8vw;
  padding: 0 15px;
}

.nav-header .nav .nav-text .navbar-nav li .nav-link {
  padding: 0;
  line-height: 1.15rem;
  font-size: .16rem;
  color: #ffffff;
  white-space: nowrap;
}

.nav-header .nav .nav-text .navbar-nav li:hover {
  border-bottom: .02rem solid #ffffff;
}

@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text .navbar-nav li {
    margin-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .nav-header .nav .nav-text .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .nav-header .nav #nav-button:checked ~ .nav-text {
    height: 4.8rem;
  }
  .nav-header .nav #nav-button:checked ~ .nav-text li {
    height: 1.2rem !important;
  }
  .nav-header .nav #nav-button:checked ~ .nav-text .nav-link {
    height: 1.15rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .cover {
  display: block;
  max-width: 100%;
  height: auto;
}

main .total {
  line-height: 1rem;
}

main .total .home-page {
  font-size: .16rem;
  color: #333333;
}

main .total .cooperative-enterprise {
  font-size: .16rem;
  color: #29B078;
}

main .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .01rem solid #e1e1e1;
  border-radius: .1rem;
  background: #ffffff;
}

main .sidebar .enterprise {
  font-size: .22rem;
  color: #333333;
  text-align: center;
  padding-top: .21rem;
  padding-bottom: .24rem;
  border-bottom: .01rem solid #e1e1e1;
}

main .sidebar .company-list {
  text-align: left;
  padding-left: 35%;
  padding-top: .4rem;
}

main .sidebar .company-list .company {
  padding-bottom: .36rem;
  font-size: .22rem;
  color: #FF650E;
  list-style: inside circle;
}

main .sidebar .company-list .company a {
  color: #29B078;
}

main .sidebar .company-list .company:hover {
  color: #FF650E;
  list-style: inside disc;
}

main .sidebar .company-list .company:hover a {
  color: #FF650E;
}

main .sidebar .company-list .company:visited {
  color: #FF650E;
  list-style: inside disc;
}

main .company-introduction {
  border: .01rem solid #e1e1e1;
  border-radius: .1rem;
  background: #ffffff;
}

main .company-introduction .logo {
  padding: 15px;
  border-bottom: .01rem solid #e1e1e1;
}

main .company-introduction .logo img {
  float: left;
  margin: .4rem;
  width: 1.34rem;
  height: 1.22rem;
}

main .company-introduction .logo p {
  margin-bottom: .38rem;
  line-height: .4rem;
  font-size: .14rem;
  text-indent: 2em;
  color: #999999;
}

main .company-introduction .introduction {
  padding: 15px;
}

main .company-introduction .introduction p {
  margin-bottom: .38rem;
  line-height: .4rem;
  font-size: .14rem;
  text-indent: 2em;
  color: #999999;
}

footer {
  margin-top: 2.33rem;
  font-size: 0.16rem;
  color: #ffffff;
  background-color: #26A26F;
}

footer .about {
  padding-top: .36rem;
}

footer .about p {
  margin-bottom: .2rem;
}

footer .about p a {
  color: #ffffff;
}

footer .copyright {
  text-align: center;
  border-top: 0.01rem solid #32C086;
}
/*# sourceMappingURL=task14-2.css.map */