html {
    font-size: 312.5%;
}

body {
    font-size: initial;
}

.top {
    height: 0.8rem;
    line-height: 0.8rem;
    background: #1D7AD9;
}

.tel span {
    color: #ffffff;
    font-size: 14px;
}

.text-right span {
    display: inline-block;
    padding: 0 .3rem;
    color: #fff;
}

.text-right span:hover {
    background: #fff;
    color: #333;
}

@media (max-width:767px) {
    .tel {
        display: none;
    }
}

/* ÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷÷******÷ */
.home-page {
    width: 100%;
    background: #f9f9f9;
}

.navbar {
    padding: 0;
    width: 100%;
}

.navbar-toggler {
    padding: .3rem .3rem;
    font-size: 0.2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10%;
    outline: none !important;
}

.nav-right {
    justify-content: flex-end;
}

.nav-item {
    padding: .2rem 0 .2rem .5rem;
}

.nav-link {
    padding: .2rem !important;
    background: #FFFFFF;
    color: #333;
    border-radius: 5%;
}

.nav-link:hover {
    padding: .2rem !important;
    background: #1D7AD9;
    color: #FFFFFF !important;
    border-radius: 5%;
}

@media (max-width:767px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        padding: .1rem 0rem 0rem 0rem !important;
    }

    .nav-link:hover {
        padding: .2rem !important;
        background: #1D7AD9;
        color: #FFFFFF !important;
        border-radius: 0;
    }

    .home-page {
        width: 100%;
        background: #f9f9f9;
        padding: .1rem 0;
    }
}

/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
main{
    background: #FBFCFF;
    padding-bottom: 1rem;
}
.line {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: .05rem;
    margin-top: .8rem;
    margin-left: -.1rem;
    background: #ccc;
    text-align: center;
}

.circular {
    position: absolute;
    width: .48rem;
    height: .48rem;
    top: 50%;
    left: 50%;
    margin-top: -.24rem;
    margin-left: -.24rem;
    text-align: center;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
}

.customized {
    display: inline-block;
    margin-top: .6rem;
}

.box-right {
    text-align: right !important;
    margin-bottom: 1rem;
}

@media (max-width:767px) {
    .line {
        position: relative;
        display: inline-block;
        width: 100%;
        height: .05rem;
        margin-top: .6rem;
        margin-left: -.1rem;
        background: #ccc;
        text-align: center;
    }
}

.line:hover {
    background: #FF7F02;
}

.line:hover .circular {
    background: #FF7F02;
}

.line:hover .customized {
    color: #FF7F02;
}

/* ------------------------- */
.vertical {
    display: inline-block;
    width: .08rem;
    height: .4rem;
    background: #1D7AD9;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: .32rem;
}

.step :nth-child(2) {
    margin-left: .12rem;
}

/* --------------------------- */
.shape {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f0f0f0;
    color: #1D7AD9;
}

.shape :nth-child(1) {
    display: inline-block;
    background: url(../img/task10.png) no-repeat;
    background-position: -45px -10px;
    width: 19px;
    height: 15px;
    margin-left: .17rem;
}

.shape :nth-child(2) {
    display: inline-block;
    font-size: 18px;
    margin: .13rem
}

/* ------------------------------- */
.plane  {
    background: #FBFCFF;
    border: 1px solid #ccc;
}

.plane label {
    margin: 0;
    padding: .7rem;
}
.yuan{
    display: none;
}
 label::before{
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;   
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
} 
input:checked+label::before {
    border: 5px solid #1d7ad9;
}

.drop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #f9f9f9;
    color: #999999;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
    outline: none !important;
}
.dropbtn span{
   margin-left: .34rem;
}
.dropdown {
    display: inline-block;
}

.square {
    position: relative;
    width: .48rem;
    height: .56rem;
    margin: .08rem .08rem .08rem 0.5rem;
    background: #1D7AD9;
}
.sjx{
    position: absolute;
    top: 50%;
    margin-top: -.06rem;
    left: 50%;
    margin-left: -.12rem;
    border-left: .12rem solid transparent;
    border-right: .12rem solid transparent;
    border-top: .24rem solid #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 2.6rem;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
}

@media (max-width:767px) {
    .plane form label {
        margin: 0;
        padding: .3rem 0 0.3rem .5rem;
        width: 100%;
    }
    .drop .dropdown{
        display: inline-block;
        margin-top: -2rem;
    }
}
/* ------------------------ */
.size {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f0f0f0;
    color: #1D7AD9;
}

.size :nth-child(1) {
    display: inline-block;
    background: url(../img/task10.png) no-repeat;
    background-position: -84px -10px;
    width: 22px;
    height: 20px;
    margin-left: .17rem;
}

.size :nth-child(2) {
    display: inline-block;
    font-size: 18px;
    margin: .13rem
}

.path {
    background: #FBFCFF;
    border: 1px solid #ccc;
}

.long input{
    border: 1px solid #ccc;
    outline: none;
   
}
.long{
    margin:.3rem 0;
}
.long div{
    padding: 0;
    white-space: nowrap;
}
.wide{
    margin: 0;
    padding-left: .7rem;
}
.high {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width:767px){
    .long div{
        margin-bottom: .2rem;
       padding-left: .5rem;
    }
    .wide {
        margin: 0;
        padding-left: 0;
    }
    .high .dropdown{ 
        display: inline-block;
        margin-top: -5rem;
       }
}
/* --------------------- */
.material{
    display: flex;
    align-items: center;
    width: 100%;
    background: #f0f0f0;
    color: #1D7AD9;
}
.material :nth-child(1) {
    display: inline-block;
    background: url(../img/task10.png) no-repeat;
    background-position: -10px -10px;
    width: 15px;
    height: 20px;
    margin-left: .17rem;
}

.material :nth-child(2) {
    display: inline-block;
    font-size: 18px;
    margin: .13rem
}

.tile{
    background: #FBFCFF;
    border: 1px solid #ccc;
}
.tile  label{
    margin: 0;
    padding: 1rem .5rem 1rem .7rem;
}

.layer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tile input{
    padding-right: 7px;
}
@media (min-width:768px) and (max-width:1199px){
    .tile  label {
        margin: 0;
        padding-top: .8rem;
        padding-left: .7rem;
        padding: .6rem 0 .6rem .7rem;
    }

}
@media (max-width:767px) {
    .tile label {
        margin: 0;
        padding: .3rem 0 0.3rem .5rem;
        width: 100%;
    }
    .layer .dropdown{ 
     display: inline-block;
     margin-top: -4rem;
    }
}
/* ------------------------- */
.next-step{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border: 1px solid #ccc;
    border-top:none;
}
button{
    outline: none !important;
    background: #f00;
    color: #fff;
    border-radius: 5px;
    padding: .2rem .8rem;
}
.btn{
     font-size: 20px;
}
/* ===================== */
footer{
    background: #f9f9f9;
}
.weixin{
    display: inline-block;
    background: url(../img/task10.png)no-repeat;
    background-position: -126px -10px;
    width: 92px;
    height: 92px;
}
.one{
    padding: 0;
    margin-top: 1.38rem;
    color: #999999;
}
.one span{
    font-size: 18px;
}
.two{
    padding: 0;
    margin-top: 1.46rem;
    padding-left: .3rem;
    color: #999999;
}
.two p{
    display: inline-block;
    padding: 0;
    margin: 0 .81rem .44rem 0;
    font-size: 16px;
}
.two p:hover{

}
.three{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 1.14rem 0;
    font-size: 16px;
    color: #999999;
}
.three :nth-child(1){
    display: inline-block;
    white-space: nowrap;
    padding-right: .1rem;
}
@media (max-width:767px) {
    .one{
        padding-left: 15px;   
    }
    .two{
        display:flex;
        flex-direction: column;
        margin-top: .56rem;
    }
    .three {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: .2rem 0;
        padding-left: 15px;  
        font-size: 16px;
    }
}
.last{
    background: #1D7AD9;
    color: #fff;
    font-size:14px ;
    text-align: center;
}
.last p{
    display: inline-block;
    margin: 0;
}