body{margin:0;
     padding:0;
     background-color:aliceblue;}
header a{
    text-decoration: none;
    color:#fff;
}
header{
    position: fixed;
    width: 100vw;
    height: 45px;
    background-color:#5FC0CD;
}
header .text-left,
header .text-right{
    font-size: 0.5rem;
    margin-top: 12px;
}

header .text-left{
    float: left;
    margin-left: 10px;
}

header .text-right{
    float: right;
    margin-right: 10px;
}

header .title {
    position: absolute;
    width: 32px;
    left: 0;
    right: 0;
   margin: 0 auto;
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
}
.form{width: 100vw;
       height: 40px;
       padding-top: 10px;
      }
.form-f1{width: 100vw;
          height:60px;
          border:#ccc 1px solid;
          padding-left: 60px;
          outline: none;
    box-sizing: border-box;
}
.form-f2{width: 100vw;
          height:60px;
          border:#ccc 1px solid;
          padding-left: 60px;
          margin-top: 20px;
          outline: none;
    box-sizing: border-box;
}
.img1{position: relative;
       top:55px;
    margin-left: 5px;
      }
.img2{position: relative;
       top:75px;
    margin-left: 5px;
   }
.tiao1,.tiao2{width: 1px;
       height:30px;
       background-color: darkgrey;
}
.tiao1{ position: absolute;
    top: 70px;
    left:55px;
}
.tiao2{ position: absolute;
    top:140px;
    left:55px;}
button{width:100vw;
        height:50px;
        margin-top: 120px;
        background-color:#5FC0CD;
        color: white;}
footer{
    float:right ;
    margin: 2%;
}
footer a{text-decoration:none;
       color:#5FC0CD; }
