body{
    min-width: 320px;
    max-width: 780px;
    margin: auto;
    font-size: 62.5%;
}
.header{
    background-color: #68cdd5;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    min-width: 320px;
    max-width: 780px;
    text-align: center;
}
h1{
    color: #ffffff;
}
.back{
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;

}
.div1{
    height: 130px;
    width: 100%;
    margin-top: 50px;
    background-image: url("img/doctor.png");
    background-size: 100%;
}
.name{
    color: white;
    font-size: 2em;
    padding-top: 35px;
    margin: 0;
}
.add{
    color: white;
    font-size: 1.5em;
    padding-top: 10px;
    margin: 0;
}
.local{
    width: 10px;
    margin-right: 5px;
}
.head{
    height: 90px;
    width: 90px;
    margin: 20px;
    float: left;
}
p{
    color: #fff;
    font-size: 1.5em;
}
.line1{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #000;
    float: left;
}
.box1{
    font-size: 2em;
    border-left: 2px solid #68cdd5;
    padding-left: 10px;
    margin: 10px;
}
.box2{
    width: 100%;
    float: left;
    padding-bottom: 80px;
}
ul{
    margin: 0;
    padding: 0 10px;
    font-size: 0.8em;
}
li{
    list-style: none;
    font-size: 1.8em;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
.star{
    height: 15px;
}
.border{
    border-right: 1px solid #999;
    padding-right: 10px;
    margin-right: 10px;
}
.box3{
    padding-right: 15px;
    color:#999;
    border-right: 1px solid #999;
    margin-right: 15px;
}
.box4{
     padding-right: 15px;
     color:#999;
     border-right: 1px solid #999;
     margin-right: 15px;
     white-space: nowrap;
 }
.box5 {
    /*padding-right: 40px;*/
    /*display: inline-block;*/
    text-align: left;
}

.font{
    color: #e26163;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#fff;
   min-width: 320px;
    max-width: 780px;
}
.button1{
    height: 50px;
    width: 43%;
    font-size: 2em;
    color: #68cdd5;
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
    border: 2px solid;
    cursor: pointer;
    margin: 0 2% 0 5%;
}
.button2{
    height: 50px;
    width: 43%;
    font-size: 2em;
    color: #ffffff;
    border: none;
    background-color: #68cdd5;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 5%;
}