/*CSS RESET Start*/
p{
  margin: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
button {
  /*button with no-border&shadow*/
  border-style: none;
  outline-style: none;
}
.modal{
  z-index: 10001;
}


.fjac{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  nav{
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    background:#333;
    .icon-bar{
      background: #fff;
    }
    p{
      font-size: 2rem;
      line-height: 5rem;
      color: #fff;
      border-bottom: 1px solid white;
    }
    .navbar-collapse.in{
      overflow-y: hidden;
    }
    ul{
      padding: 0;
      font-size: 16px;
      button{
        width: 100%;
        margin: 15px 0;
        color: white;
        background: transparent;
        border: none;
        outline: none;
      }
      button.current{
        border-left: 5px solid white;
      }
      .second{
        padding: 15px 0;
      }
      .second:hover ,li.active{
        background: grey;
      }
      a{
        display: inline-block;
        width: 100%;
        color: white;
      }
    }
    }
  .header{
    li{
      font-size: 2rem;
      a{
        color: #5bc0de;
        span{
          vertical-align: middle;
          color: #333;
        }
      }
    }
  }
  .search{
    padding: 1rem 0;
   .searchbox{
      padding: 2rem 2rem 1rem;
      border: 1px solid #c9c9c9;
      border-radius: .5rem;
      box-shadow: 0 0 1px #c9c9c9;
      form{
        //div{
        //  display: flex;
        //  align-items: center;
        //  justify-content: space-between;
        //}
        //input,select{
        //  width: 70%;
        //}
      }
    }
  }
  .list{
    padding: 1rem 0;
    .panel{
      border: 1px solid #c9c9c9;
      border-radius: .5rem;
      box-shadow: 0 0 1px #c9c9c9;
      .panel-heading{
        font-size: 2rem;
        color: black;
        background-color: #f5f5f5;
      }
      button{
        padding: .2rem .5rem;
      };
      table{
        border: 1px solid #c9c9c9;
        border-radius: .5rem;
        box-shadow: 0 0 1px #c9c9c9;
        background: #fff;
      }
      .panel-body{
        font-weight: 700;
      }
        a{
          display: inline-block;
          padding: 0 1.5rem;
        }
    }
  }
  .details{
    padding: 1rem 0;
    .panel-default{
      border: 1px solid #c9c9c9;
      border-radius: .5rem;
      box-shadow: 0 0 1px #c9c9c9;
      .panel-heading{
        color: black;
        background-color: #f5f5f5;
      }
      form{
        padding: 1rem 10%;
      }
      .file{
        position: relative;
        top: -30px;
        opacity: 0;
      }
    }
  }
  }
.navbar-toggle{
  border: 1px solid white;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .flex nav {
    position: static;
  }
}
@media screen and (min-width: 768px) {

  .flex nav{
    width: 200px;
    p{
      padding: 2rem 0;
    }
  }
  .flex{
    display: flex;
    .main-left{
      width: 200px;
    }
    .main-right{
      width: calc(100% - 200px);
    }
  }
}
.panel-default>.panel-heading{
  color: white;
  background-color: transparent;
}
a.fjac{
  color: white;
}
label{
  margin: 8px 0;
  white-space: nowrap;
}
.view{
  padding: 1% 5%;
}

.table>tbody>tr>td{
  vertical-align: middle;
}


