@charset "utf-8";

//---------------------------混合器↓

@mixin position-vertically-center{ //position方法垂直居中
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
@mixin position-all-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
@mixin position-horizontally-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin flex-vertical-center{//flex方法的垂直居中
  display: flex;
  align-items: center;
}
@mixin flex-justify-center{
  display: flex;
  justify-content: center;
}
@mixin flex-justify-between{
  display: flex;
  justify-content: space-between;
}
@mixin flex-justify-around{
  display: flex;
  justify-content: space-around;
}
@mixin flex-between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column{//flex主轴变成列
  display: flex;
  flex-direction: column;
}
@mixin flex-all-center{//flex方法的水平垂直居中
  display: flex;
  justify-content: center;
  align-items: center;
   }
@mixin flex($direction,$justify,$align){
  display: flex;
  flex-direction:$direction ;
  justify-content: $justify;
  align-items: $align;
}
@mixin position-fixed-bottom{
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
}@mixin position-fixed-top{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}

@mixin circular($width,$height){
  width: $width;
  height: $height;
  border-radius: 50%;
}
//-------------------------------↑




//----------------------函数↓




//----------------------------函数↑

//---------------------------清除样式
/*
  Document   : CSS样式初始化
  Created on : 2016. 8. 7,09:41:00
  Author :
  Description:
  CSS样式表的初始化，全局样式设置。部分样式属性请根据具体页面重置其属性
      导入方式：<link href="css/common.css" rel="stylesheet" type="text/css" /> */

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}  /* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,img {border:0 none}  /* 重置fieldset（表单分组）、图片的边框为0*/
*{box-sizing: border-box;}
dl,ul,ol,menu,li {list-style:none}   /* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {quotes: none}   /* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* 重置嵌套引用*/
input,select,textarea,button {vertical-align:middle}  /* 重置表单控件垂直居中*/
button {border:0 none;background-color:transparent;cursor:pointer;outline: none;box-sizing: border-box;

}  /* 重置表单button按钮效果 */
body {background:#fff}   /* 重置body 页面背景为白色 */
a {color:#666;text-decoration:none}  /* 重置链接a标签 */
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* 重置样式标签的样式 */
caption {display:none;}    /* 重置表格标题为隐藏 */
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* 重置table属性 */
img{vertical-align:top}  /* 图片在当前行内的垂直位置 */
label{margin-bottom: 0;font-weight: unset}

/* 页面设置 */

/* 取消a标签点击后的虚线框 */
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}

/* 设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */
/*
::selection {color: #fff;background-color: #4C6E78;}
::-moz-selection {color: #fff;background-color: #4C6E78;}
*/

/*清除浮动*/
.clear{clear: both;}

/*清除浮动--推荐使用*/
.clearfix:before,.clearfix:after{content: '';display: table;}
.clearfix{
  &:after{ content:"";clear: both;}
}