html {
    font-size: 625%;
}

body {
    font-size: .14rem;
    margin: 0;
    padding: 0;
    background-color: #29bde0;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0.45rem;
    background-color: #29bde0;
}

p {
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: .9rem;
    background-color: #29BDE0;
}

/* --------菜单---------------- */

.header-menu {
    width: .18rem;
    height: .2rem;
    margin: 0.1rem;
}

.header-font {
    font-size: .17rem;
    color: #fff;
    font-weight: 300;
}

.header-close {
    width: .18rem;
    height: .18rem;
    margin: .1rem;
}

/* ---------内容区 一、二部分---------- */


.main-frame {
    display: flex;
    align-items: center;
    margin-top: .47rem;
    height: .42rem;
    background-color: #b9e9f5;
}

.frame-font {
    margin: .3rem;
    font-size: .13rem;
    color: #464646;
}

.frame-trigon {
    margin-left: .4rem;
    border: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    width: 0;
    height: 0;
}
/* 边框小三角 */

.feame-style {
    position: relative;
}

.frame-round {
    position: absolute;
    right: .2rem;
    top: .56rem;
    display: flex;
    align-items: center;
    width: .26rem;
    height: .26rem;
    border-radius: 50%;
    background-color: #FBB435;
}
/* 播放按钮 */

.round-trigon {
    margin-left: .08rem;
    border: 7px solid transparent;
    border-left: 12px solid #fff;
    width: 0;
    height: 0;
}
/* 播放按钮中的小三角 */

.paragraph {
    margin-left: .4rem;
    font-size: .14rem;
    font-weight: 300;
    color: #fff;
}

/* -----------内容区 正方形部分--------------- */

.big-box {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 33vw;
    height: 41vw;
}
/* 包含正方形和图标组 */

.cell-style {
    width: 25vw;
    margin: .2rem auto .05rem;
    background-color: #f5c97b;
    border: 4px solid #fff;
} 
/* 正方形内上部分 */

.cell-top {
    width: 100%;
    height: 20vw;
    font-size: .18rem;
    color: #565656;
}
/* 正方形内上部分 */

.cell-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 正方形内的居中 */

.cell-style:hover+ul {
    display: flex;
}
/* 厨房效果 */

ul {
    display: none;
    justify-content: space-between;
    width: 25vw;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.p1 {
    background: url(../task7/I/icon-group.png) no-repeat 0% 0%/100%;
}

.p2 {
    background: url(../task7/I/icon-group.png) no-repeat 0% 33%/100%;
}

.p3 {
    background: url(../task7/I/icon-group.png) no-repeat 0% 66%/100%;
}

.p4 {
    background: url(../task7/I/icon-group.png) no-repeat 0% 99%/100%;
}

.photo-style {
    width: 5vw;
    height: 5vw;
}
/* 图标组样式 */

.cell-bottom {
    width: 100%;
    height: 5vw;
    font-size: .14rem;
    color: #fff;
    background-color: #83b09a;
}
/* 正方形内下部分 */

.main-bottom {
    margin-bottom: .8rem;
}
/* 页脚是固定定位，所以要设置下外边距 */

/* --------页脚----------- */

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-frame {
    width: 60%;
    height: .44rem;
    background-color: #FBB435;
}

.footer-font {
    width: 100%;
    height: 100%;
    font-size: .2rem;
    font-weight: 300;
    color: #fff;
}

a:link {
    text-decoration: none;
}