html{font-size:625%;}
body{margin:0;
     background-color:#68cdd5;
    }
.topbox{margin-top:0.08rem;
        margin-left:0.175rem;
        font-size:0;
       }        
.topbox img{width:0.27rem;
            height:0.27rem;
            }
.ptlog{text-align: center;
       margin: 0.057rem auto 0.067rem auto;
       width:0.905rem; 
      }
.ptlog img{width:0.905rem;
           height:0.35rem;
          }      
.middlebox{color:white;
           font-size:0.03rem;
          margin:0 0.44rem 0.85rem 0.44rem;
          }
.bigbox{height:0.99rem;
        margin-bottom:0.2rem;
        margin-left:0.6rem;
        margin-right:0.6rem; 
       }
.boxleft{float:left;
         font-size:0;
        }
.blocktop{text-align:center;    
          } 
.blocktop img{width:0.42rem;
              height:0.42rem;
              }           
.blockbottom{text-align:center;
            }
.blockbottom p{text-align: center;
               color: white;
               font-size:0.08rem;
               }
.boxright{float:right;
          font-size:0;
         }
.cubetop{text-align:center;
        }
.cubetop img{width:0.42rem;
            height:0.42rem;
            }
.cubebottom{text-align:center;
           } 
.cubebottom p{text-align: center;
              color: white;
              font-size:0.08rem;
             }