html{
    font-size: 312.5%;
}
body{
    margin: 0;
    font-size: initial;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    height: 1.28rem;
    background-color: #5FC0CD;
    z-index: 1;
}
.arrow{
    position: absolute;
    left: .348rem;
    width: .26rem;
    height: .26rem;
    border-bottom: 0.04rem solid #FFF8F8F8;
    border-left: 0.04rem solid #FFF8F8F8;
    transform: rotate(45deg);
}
h3{
    margin: 0;
    color: #FFFFFFFF;
    font-size: .36rem;
}
.background{
    position: relative;
    margin-top: 1.28rem;
    height: 3.26rem;
    background: url(../img/bj.png) no-repeat;
    background-size: 100% 101%;
}
.photo{
    margin: .78rem 0 0 .3rem;
}
.data{
    position: absolute;
    bottom: 1.29rem;
    left: 2.42rem;
    width: 2rem;
    color: #FFFFFFFF;
    font-size: .32rem;
}
.name{
    letter-spacing: .04rem;
    font-size: .32rem;
}
.age{
    margin-left: .28rem;
    font-size: .25rem;
}
.landmark{
    margin-bottom: -.03rem;
    height: .23rem;
    width: .18rem;
}
.address{
    margin-left: .14rem;
    font-size: .24rem;
}
ul{
    margin: 0;
    margin-bottom: 1.4rem;
    padding: 0;
}
.skill{
    margin-left: 0;
    font-size: .32rem;
}
.major::before{
    display: inline-block;
    margin: 0 .3rem 0 .3rem;
    height: .26rem;
    content: "";
    border: .03rem solid #5FC0CD;
}
li{
    display: flex;
    align-items: center;
    margin-left: .34rem;
    height: 1rem;
    border-bottom: .02rem solid #E1E5E7;
}
.star{
    margin: 0 .09rem 0 .26rem;
    height: .24rem;
    width: .24rem;
}
.live{
    font-size: .32rem;
    color: #333333;
    padding-right: .19rem;
    margin-right: .17rem;
    border-right: .01rem solid #999999;
    line-height: .26rem;
}
.stars{
    height: .24rem;
    width: .24rem;
}
.meal{
    margin-left: .09rem;
    font-size: .32rem;
}
.employment{
    margin: 0 .26rem 0 .26rem;
    padding-right: .26rem;
    border-right: .01rem solid #999999;
    font-size: .32rem;
    color: #999999;
    line-height: .26rem;
}
.three{
    font-size: .32rem;
    color: #333333;
}
.element{
    font-size: .28rem;
    color: #E26163;
}
.self{
    margin-left: 0;
    height: auto;
}
.introduce{
    margin: 0 .26rem 0 .65rem;
    padding-right: .26rem;
    flex-shrink: 0;
    border-right: .01rem solid #999999;
    font-size: .32rem;
    color: #999999;
    line-height: .26rem;
}
.laundry{
    margin: .3rem .91rem .3rem 0;
    font-size: .32rem;
}
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    right: 0;
    left: 0;
    height: 1.28rem;
    background-color: #FFFFFF;
}
.stay{
    margin-right: 2%;
    height: .88rem;
    width: 45%;
    font-size: .34rem;
    border: .02rem solid #5FC0CD;
    border-radius: .2rem;
    outline :none;
    color: #5FC0CD;
    background-color: #FFFFFF;
}
.contact{
    height: .88rem;
    width: 45%;
    font-size: .34rem;
    border-radius: .2rem;
    border: none;
    outline :none;
    color: #FFFFFF;
    background-color: #5FC0CD;
}
