@charset "UTF-8";
@import "../global-style/global.scss";
/* 底部 begin */
.ft {
	color: #fff;
	background-color: $base-color;
	.container {
		display: flex;
		justify-content: space-between;
		padding-top: .3rem;
		padding-bottom: .3rem;
		.ft-left,
		.ft-center {
			a {
				color: #fff;
			}
			a:hover {
				border-bottom: 1px solid #fff;
			}
		}
		.ft-left {
			span {
				padding-left: .1rem;
				padding-right: .1rem;
			}
			div {
				padding-top: .5rem;
			}
		}
		.ft-center {
			div {
				padding-top: .2rem;
			}
			a:first-child {
				margin-right: .3rem;
			}
		}
		.ft-right p {
			padding-top: .1rem;
			line-height: .25rem;
			font-size: .15rem;
		}
		@media screen and (max-width: 768px) {
			flex-direction: column;
			.ft-center p {
				padding-top: .2rem;
			}
		}
	}
	.ft-bottom {
		line-height: .2rem;
		border-top: 1px solid #32c086;
		p {
			margin: 0;
		}
	}	
}
/* 底部 end */