<!-- 底部 -->
<footer class="ft">
	<div class="container">
		<div class="ft-left">
			<p>技能树-改变你我</p>
			<div>
				<a href="">关于</a><span>|</span><a href="">联系我们</a><span>|</span><a href="">合作企业</a>
			</div>
		</div>
		<div class="ft-center">
			<p>旗下网站</p>
			<div>
				<a href="">草船云孵化器</a><a href="">最强IT特训营</a>
			</div>
			<div>
				<a href="">葡萄藤轻游戏</a><a href="">桌游精灵</a>
			</div>					
		</div>
		<div class="ft-right">
			<p>微信公众平台</p>
			<img src="images/QRcode.png" alt="">
		</div>
	</div>
	<div class="text-center ft-bottom">
		<p>Copyright&nbsp;&copy;&nbsp;2015技能树&nbsp;www.jnshu.com&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;|&nbsp;京ICP备13005880号</p>
	</div>
</footer>