@charset "UTF-8";
@import './mixin.scss';

body {
    background-color: $grey;
}

//header
.header {
	background-color:$blue;
	color:$white;
	font-size:1.8rem;
	padding:1rem 0;
	& img {
	    height: 2rem;
	    margin: 0 1rem;
    }
    & a {
        line-height: 0rem;
    }
}

//main
.main {
    top: 4rem;
    bottom: 9rem;
    font-size: 1.4rem;
}
.main-top {
    background-color: #fbfbfb;
    color: $gray;
    display: flex;
    margin: 1rem;
    height: 66%;
    & .left {
        color: black;
        background-color: $white;
        padding: 1rem;
        font-size: 2rem;
        border-right: 1px solid $gray;
        writing-mode: vertical-lr;
        text-align: center;
        width: 2rem;
    }
    & .right {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .set {
            font-size: 2rem;
            border-top: 1px solid $gray;
            padding: 1rem;
            & button {
                color: $blue;
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
            }
            & img {
                padding-left: 1rem;
            }
        }
        & ul {
            list-style: square;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: center;
            & li {
                width: 50%;
                text-indent: -2rem;
            }
        }
    }
}

.main-mid {
    margin: 1rem;
    & .form {
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 1rem;
    }
    & .input {
        border: none;
        outline: none;
        border-bottom: 1px solid $gray;
        padding: 1rem 0;
    }
}

.main-footer {
    padding: 1rem 0;
    margin: 0 1rem;
    background-color: $white;
    & .inputnum {
        margin: 1rem;
        font-size: 1.8rem;
        & input {
            margin: 1rem;
            -webkit-appearance: none;
            background-color: $grey;
            outline: none;
            border: none;
            height: 2rem;
            width: 3rem;
            color: orange;
            text-align: center;
        }
    }
    & .ranger {
        width: 100%;
        display: flex;
        margin: 1rem 0;
        & button {
            border: none;
            width: 2rem;
            height: 2rem;
            margin: 1rem;
            //outline: none;
    
            cursor: pointer;
        }
        & .btn1 {
            background: url("../images/minus.png") no-repeat center;
        }
        & .btn2 {
            background: url("../images/plus.png") no-repeat center;
        }
        & input[type = range] {
            -webkit-appearance: none;
            outline: none;
            width: 100%;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 3rem;
                width: 3rem;
                margin-top: -1.3rem;
                /*使滑块超出轨道部分的偏移量相等*/

                // border: 1px solid orange;
                // box-shadow: 0px 0px .5rem orange;

                background: url("../images/ranger.png") no-repeat center;
                background-size: 3rem;
                cursor: pointer;
            }
            &::-webkit-slider-runnable-track {
                height: .5rem;
                background-color: orange;
                border-radius: 2rem;
            }
        }
    }
}

//footer
.footer {
    text-align: center;
    background-color: $grey;
    & button {
        border: none;
        padding: 0 1rem;
        background-color: $grey;
        width: 100%;
        cursor: pointer;
        outline: none;
        & p {
            background-color: $orange;
            padding: 1rem 0;
            font-size: 3rem;
            & a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}