body {
  background-color: #29bde0;
}
header {
  z-index: 100;
  text-align: center;
}
header h4 {
  display: inline;
}
.wrap {
  font-size: 1.6rem;
  background-color: #b9e9f5;
  position: fixed;
  top: 4.2rem;
  width: 100%;
  z-index: 90;
}
.wrap .text {
  font-size: 4vw;
  line-height: 12vw;
  margin-left: 5vw;
}
.wrap .main-flot {
  background-color: rgba(41, 189, 224, 0.7);
  position: fixed;
  width: inherit;
}
.wrap .main-flot .triangle-down {
  position: absolute;
  top: 0;
  left: 4vw;
  width: 0;
  height: 0;
  z-index: 999;
  border-top: 1.7vw solid  #b9e9f5;
  border-left: 1.7vw solid transparent;
  border-right: 1.7vw solid transparent;
}
.wrap .main-flot .note {
  height: 5vw;
  margin: 1.5vw 10.9vw;
  font-size: 3.43vw;
}
#audio {
  position: absolute;
  top: 6vw;
  left: 83vw;
  transform: translateY(-50%);
  opacity: 0;
}
#circle {
  background-color: #fbb435;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  float: right;
  margin: 2vw 5vw 2vw 0;
  border: none;
  outline: none;
}
#triangle-right {
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-left: 6vw solid white;
  border-bottom: 3vw solid transparent;
  position: absolute;
  top: 3vw;
  right: 5vw;
}
main {
  position: absolute;
  top: 20vw;
  bottom: 24vw;
  z-index: 80;
  background-color: #29bde0;
}
main .flex {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  list-style: none;
}
.item {
  position: relative;
  width: 20vw;
  height: 20vw;
  margin: 4% 4% 5% 7%;
  text-align: center;
  border: .5vw solid #fff;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 15vw;
  font-size: 3.5vw;
  background-color: #f5c97b;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 5vw;
  color: #fff;
  font-size: 3vw;
  background-color: #83b09a;
}
.item-content {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding-left: 0;
  justify-content: space-between;
  list-style: none;
  padding-top: 2.5vw;
}
.min-pic {
  width: 17px;
  height: 17px;
  margin: 0 1px;
  display: inline-block;
}
.min-pic:nth-child(1) {
  background: url(../images/kill.png) no-repeat;
  background-size: 1.5rem;
}
.min-pic:nth-child(2) {
  background: url(../images/aim.png) no-repeat;
  background-size: 1.5rem;
}
.min-pic:nth-child(3) {
  background: url(../images/find.png) no-repeat;
  background-size: 1.5rem;
}
.min-pic:nth-child(4) {
  background: url(../images/save.png) no-repeat;
  background-size: 1.5rem;
}
.item:hover .item-content {
  display: flex;
}
.item-content:hover {
  display: flex;
}
footer {
  display: flex;
  width: auto;
  margin: 0 6.5vw;
  z-index: 91;
  border-top: solid 1px #fff;
}
footer a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: 5vw;
  height: 14vw;
  display: flex;
  width: 100%;
  background-color: #fbb435;
  justify-content: center;
  align-items: center;
}
