html{
    font-size: 625%;
}
body {
    margin: 0 auto;
    max-width: 750px;
    padding: 0;
    font-size: 16px;
    background: #f0f0f0;
}
a ,
a:hover {
    text-decoration: none;
    color: #fff;
}
header {
    height: .5rem;
    line-height: .5rem;
    background: #2bcdff;
    font-size: 20px;
    color: #fff;
}
.fa-angle-left ,
.fa-question-circle-o{
    font-size: 30px;
    line-height: .5rem;
}
.member .row {
    margin: .1rem;
    background: #fbfbfb;
}
table {
    width: 100%;
    table-layout: fixed;
    color: #a1a1a1;
    background: #fbfbfb;
}
.member_mkup {
    border: 1px solid #f0f0f0;
    padding: 0;
    font-size: 20px;
    background: #ffffff;
    color: #000;
}
.killer {
    color: #ffba12;
}
.people {
    color: #2bcdff;
}
.tr input[type="number"] {
    width: 2em;
    background: none;
    border: none;
    outline: none;
}
.click_setting {
    border: 1px solid #f0f0f0;
    color: #29bde0;
}
.row1 {
    height: .3rem;
    line-height: .3rem;
}
.phrase {
    padding: .1rem 0;
}
.input_text1 ,
.input_text2{
    display: block;
    width: 90%;
    line-height: .4rem;
    margin: 0 auto;
    outline: none;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    background: none;
}
input::-webkit-input-placeholder{
    color: #dadada;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #dadada;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #dadada;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color: #dadada;
}
.count {
    width: 90%;
    line-height: .4rem;
    margin: 0 auto;
}
.number {
    padding: .03rem;
    font-size: 24px;
    color: #fab344;
    background: #f4f5f5;
    vertical-align: middle;
}
#set_number {
    width: 5em;
    height: 1.5em;
    padding: 0;
    outline: none;
    border: none;
    text-align: center;
 }
.range {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    width: 85%;
    margin: 0 auto;
    padding: .2rem 0;
}
input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    outline: none;
    /*border-radius: 10px; !*这个属性设置使填充进度条时的图形为圆角*!*/
}
/*input[type=range]::-webkit-slider-thumb {*/
    /*-webkit-appearance: none;*/
/*}*/
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 10px; /*将轨道设为圆角的*/
    /*box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;*/
    background: #eebc6f;
    /*轨道内置阴影效果*/
}
/*input[type=range]:focus {*/
    /*outline: none;*/
/*}*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 32px;
    margin-top: -6px; /*使滑块超出轨道部分的偏移量相等*/
    background: url("../img/range_track.png") no-repeat;
    border-radius: 10%; /*外观设置为圆形*/
    /*border: solid 0.125em rgba(205, 224, 230, 0.5); !*设置边框*!*/
    /*box-shadow: 0 .125em .125em #3b4547; !*添加底部阴影*!*/
}
.fa-minus {
    color: #fab344;
}
.range input{
    width: 80%;
}
.fa-plus {
    color: #fab344;
    vertical-align: middle;
}
.range .fa::before {
    vertical-align: middle;
    border: 1px solid #e6e6e6;
}
.next_step {
    height: .8rem;
    line-height: .8rem;
    font-size: 24px;
    color: #fff;
}
.next_step a {
    background: #fab344;
}