@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    .foot3{
        text-align: right;
    }
}
@media (min-width: 992px) {
    .col-md-2-5 {
        float: left;
        width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
body{
    font-size: 62.5%;
    /*overflow-x: hidden;*/
}
header{
    background-color: #1d7ad9;
    width: 100%;
}
.head-top{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone{
    font-size: 1.3rem;
    color: #fff;
}
.log-in{
    line-height: 30px;
    font-size: 1.4rem;
    color: #fff;
    background-color: #1d7ad9;
    border-left: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
}
.log-in:hover{
    color: #000;
    background-color: #fff;
}
.navbar{
    background-color: #f9f9f9;
    margin-bottom: 0;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 20px 0 15px 20px;
    background-color: #fff;
    box-shadow: 0 0 0 2px #e6e6e6;
}
@media (max-width: 760px) {
    .navbar-default .navbar-nav>li>a{
        margin-left: 0;
    }
}
.navbar-nav{
    margin: 0;
    background-color: #f9f9f9;
}
.navbar-default .navbar-collapse{
    border: none;
}
.navbar-collapse {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #1d7ad9;
    border: none;
    outline: none;
    box-shadow: none;
}
.flow{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.across{
    height: 4px;
    width: 73px;
    /*border-radius: 20px;*/
    background-color: #ff7f02;
    display: inline-block;
}
.circle{
     color: #fff;
     height: 16px;
     width: 16px;
    line-height: 16px;
    text-align: center;
     display: inline-block;
     background-color: #ff7f02;
     border-radius: 50%;
    position: relative;
    top: -6px;
 }
.step{
    text-align: center;
}
.font{
    font-size: 1.2rem;
    color: #ff7f02;
}
.across1{
    background-color: #cccccc;
}
.circle1{
    color: #fff;
    background-color: #cccccc;
}
.font1{
    color: #cccccc;
}
.hint{
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 10px;
    border-left: 2px solid #1d7ad9;
    margin-top: 20px;
}
.line{
    font-size: 1.4rem;
    color: #1d7ad9;
    height: 40px;
    line-height: 40px;
    background-color: #f4f4f4;
}
.box{
    height: 20px;
    margin: 0 5px 0 10px;
}
.line1{
    font-size: 1.4rem;
    color: #8b8c8c;
    line-height: 40px;
    background-color: #fbfcff;
   vertical-align: middle;
    position: relative;
}
.line2{
    line-height: 60px;
}
.lable-a{
    display: inline-block;
    height: 15px;
    border: 1px solid #8b8c8c;
    border-radius: 50%;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
    background: #f8f9fb;
}
input[type=radio] {
    opacity: 0;
}
input[type=radio]:checked + span.lable-a{
    border: 5px solid #1d7ad9;
}
label{
    margin-left: 10px;
    font-weight: 100;
}
select {
    line-height: 28px;
    border: solid 1px #8b8c8c;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 34px;
    padding-left: 5px;
    background: url(img10/shape.png) no-repeat right center;
    background-size: 23%;
}
.center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    right: 0;
}

/*.elect{*/
    /*margin-right: 20px;*/
/*}*/
.length{
    height: 20px;
    margin: 0 5px;
}
.sub{
    text-align: center;
    margin: 30px 0;
}
.next{
    font-size: 1.5rem;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #e15053;
    border: none;
    outline: none;
    cursor: pointer;
}
footer{
    background-color: #f9f9f9;
}
.font2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #999999;
    margin-top: 30px;
}
.foot2{
    margin-top: 30px;
}
.foot2 a{
    font-size: 1.3rem;
    color: #999;
    margin-right: 15px;
    text-decoration: none;
}
.foot2>p>a:hover{
    color: #1d7ad9;
}
.connect{
    font-size: 1.3rem;
    color: #999;
    display: inline-block;
}
.foot3{
    margin-top: 30px;
}
.wechat{
    vertical-align: top;
}
.base{
    font-size: 1.3rem;
    color: #fff;
    background-color: #1d7ad9;
    margin-top: 30px;
    text-align: center;
}
