body{
		margin:0;
		font-size: 62.5%;
		box-sizing: border-box;
		background-color: #fafafa;
	}
		header{
			height: 3rem;
			line-height: 3rem;
			font-size: 1.4rem;
			color: #29b078;

		}
			.header-right{
      			float: right;

			}
				.weixin{
					position: relative;
				}
					.extro-info1{
						position: absolute;
						top:130%;
						left: -1.8rem;
						display: none;
						width: 6rem;
						height: 6rem;
					}
					.weixin:hover .extro-info1{
						display: block;
					}
		
		.menu{
			width: 100%;
			height: 5rem;
			line-height: 5rem;
			background-color: #29b078;
		}
		.picture1{
			height: 5rem;
			vertical-align: top;
		}
		.submenu{
			position: relative;
			float: right;
		    color: white;
		    font-size: 1.2rem;
		    padding-left:2rem;
		}
		.submenu:link {
           font-size: 12px;
           text-decoration: none;
        }
        .submenu:visited {
           font-size: 12px;
           color: white;
           text-decoration: none;
        }
        .submenu:hover {
           font-size: 12px;
           color: white;
           text-decoration: none;
        }
		.extro-info2{
			position: absolute;
			bottom: 0;
			left: 1rem;
			width:4rem;
			height:0.2rem;
			display: none;
			background-color: white;
		}
		.submenu:hover .extro-info2{
			display: block;
		}
		.section2 img{
        	width: 100%;  	
        }
        .title{
        	padding: 2rem 0;
        	font-size: 1.2rem;
        }
        .title span{
        	color:#29b078; 
        }



        .company{
        	width: 20rem;
        	height: 3rem;
        	line-height: 3rem;
        	text-align: center;
        	font-size: 1.3rem;
        	font-weight: bold;
        	border:1px solid #afafaf;
        }
        
        ul{
            width: 20rem;
        	list-style-type: none;
        	font-size: 1.2rem;
        	color:#f1a750;
        	border:1px solid #afafaf;
        	border-top: 0;
        }
        ul a{
        	position: relative;
        	text-decoration: none;
        }
        li{
        	height: 3rem;
        	line-height: 3rem;
        	display: flex;
        	align-items: center;

        }
        li div{
        	width: 0.7rem;
        	height: 0.7rem;
        	border:1px solid #f1a750;
        	border-radius: 50%;
        	margin-right: 0.5rem;
        	margin-left: 4rem;
        }
        li span{
        	color:#29b078;
        }
        li:hover span{
        	color: #f1a750;
        }
        li:hover div{
        	background-color: #f1a750;
        }
        
        .intro{
        	flex:1;
            margin-left:2rem;
        	background-color: #ffffff;
        	border:1px solid #afafaf;
        	margin-bottom: 3rem;
        }
        .brief{
        	display: flex;
        	align-items: center;
        	width: 100%;
        	height: 10rem;
        	border-bottom:1px solid #afafaf;
        }
        .logo{
        	width: 10rem;
            height: 10rem;
            line-height: 10rem;
        }
        .brief p{
        	flex: 1;
        	color: #afafaf;
        	padding-right:  3rem;
        	padding-left: 4rem; 
        }
        .content{
        	padding: 3rem;
        }
        .content p{
        	font-size: 1.2rem;
        	color: #afafaf;
        	padding: 1rem 0;
        	text-indent: 2em;
        }







        .section6{
			width: 100%;
			height: 10rem;
			color: white;
			background-color: #26a26f;
		}
		.line1{
			height: 5rem;
			line-height: 5rem;
			font-size: 1.4rem;

		}
		.line2{
			height: 2rem;
			line-height: 2rem;
			font-size: 1rem;
		}
		.line2 span{
			padding-right: 3rem;
		}
		.box2{
			float: right;
		}
		.box2 .line{
			margin-top: 1rem;
			height: 2rem;
			font-size: 1.4rem;
		}
		.box2 img{
            height: 6rem;
		}
		.section6 a:link{
			color: white;
		}
		.section6 a:visited{
			color: white;
		}
		.section6 a:hover{
			color: white;
		}
		.section7{
			width: 100%;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			color: white;
			border-top: 1px solid green;
			background-color: #26a26f;
		}
