body {   
    background-color: #68cdd5;
    margin: 0;
}

.boult {
    margin: 0.625rem 0 0 1.09rem;
}

.picture {
    display: block;
    width: 1.68rem;
}

.box {
    text-align: center;
    margin: 1.31rem 0;
}

.header {
    width: 5.65rem;
    height: 2.18rem;
}

.explain {
    width: 70%;
    margin: 3.78rem auto 6.34rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.69rem;
    letter-spacing: 0.03rem;
}


.logo-picture {
    position: absolute;
    left: 25%;
    transform: translate(-50%,0);
    width: 2.62rem;
}

.name {
    position: absolute;
    left: 25%;
    transform: translate(-50%,0);
    color: #ffffff;
    line-height: 0.79rem;
    letter-spacing: 0.03rem;
    font-size: 0.75rem;
    margin-top: 3rem;
}


.other-picture {
    position: absolute;
    transform: translate(50%,0);
    right: 25%;
    width: 2.62rem;
    
   
}

.english-name {
    position: absolute;
    right: 25%;
    transform: translate(50%,0);
    color: #ffffff;
    line-height: 0.79rem;
    letter-spacing: 0.03rem;
    font-size: 0.75rem;
    margin-top: 3rem;
}
