body{
    margin: 0;
    background-color: antiquewhite;
}
.header{
    text-align: center;
    height: 40px;
    background-color: #66cccc;
    color: white;
    padding: 15px 10px 0 15px;
}
.left{
    color: white;
    float: left;
    text-decoration: none;
}
.right {
    float: right;
    color: white;
    text-decoration: none;
}
.conent{
    height: 45px;
    margin: 8px 0 0 0;
    background-color: white
}
.img{
    float: left;
    width: 20%;
    border-right: 1px solid #66cccc;
    padding-left: 20px;
    padding-top: 8px;
}
.button {
    width: 100%;
    background-color: #66cccc;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    margin-top: 10px;
}
.p{
    float: right;
    padding-right: 20px;
    color: #66cccc;
}
input {
    height: 30px;
    width: 70%;
    font-size: 20px;
    outline: none;
    float: right;
    border: none;
    overflow: hidden;
    padding-top: 8px;
}