@charset "UTF-8";
/*去除默认样式*/
* {
  margin: 0;
  padding: 0; }

/*媒体查询宽度 <768px*/
/*媒体查询宽度 768px-992px*/
/*媒体查询宽度 992px-1200px*/
/*媒体查询宽度 >1200px*/
/*媒体查询宽度 >768px*/
/*媒体查询宽度 <992px*/
/*媒体查询宽度 >992px*/
/*底部*/
/*顶部*/
header {
  height: 2rem;
  color: #29b078;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header div img {
    height: 1.5rem; }
  @media only screen and (min-width: 769px) {
    header {
      padding: 0 10vw; } }

/*导航*/
nav {
  width: 100%;
  background-color: #29b078;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /*宽度小于768px*/
  /*宽度大于768px*/
  /*按钮属性*/ }
  @media only screen and (max-width: 768px) {
    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      nav .nav-btn {
        margin: .38rem; }
        nav .nav-btn:focus ~ .nav-menu {
          display: flex; }
      nav .nav-menu {
        height: 16.1rem;
        display: none;
        flex-wrap: wrap;
        width: 100%; }
        nav .nav-menu a {
          width: 100%; }
        nav .nav-menu:hover {
          display: flex; } }
  @media only screen and (min-width: 769px) {
    nav {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      nav .nav-btn {
        display: none; }
      nav .nav-menu {
        padding: 0 9vw;
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: flex-end; }
        nav .nav-menu a {
          width: 4rem; } }
  nav .nav-btn {
    padding: 5px 6px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none; }
    nav .nav-btn span {
      display: block;
      background-color: #888;
      width: 22px;
      height: 4px;
      margin-top: 4px; }
  nav a {
    line-height: 4rem;
    color: #fff;
    text-align: center;
    text-decoration: none; }
    nav a:hover {
      border-bottom: 2px solid #fff; }

/*底部*/
footer {
  width: 100%;
  height: auto;
  background-color: #26a26f;
  color: #fff; }
  footer div .bottom-all {
    margin-left: .5rem; }
    footer div .bottom-all div {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      footer div .bottom-all div a {
        cursor: pointer;
        padding-right: 3px;
        text-decoration: none;
        color: #fff; }
        footer div .bottom-all div a:hover {
          border-bottom: 1px solid #fff; }
  footer div .bottom-left {
    margin-top: 1rem; }
    footer div .bottom-left .bottom-border {
      border-right: 1px solid #fff; }
  footer .bottom-end {
    text-align: center;
    border-top: 0.8px solid #fff; }
  @media only screen and (min-width: 769px) {
    footer .bot {
      display: flex;
      justify-content: space-between;
      padding-left: 10vw;
      padding-right: 10vw;
      display: flex; }
      footer .bot .bottom-all {
        display: flex;
        flex-wrap: wrap; }
        footer .bot .bottom-all p {
          width: 100%; }
        footer .bot .bottom-all div {
          width: 100%; }
      footer .bot .bottom-left {
        margin-top: 0;
        margin-left: 0; }
        footer .bot .bottom-left a {
          height: 1rem;
          line-height: 1rem; }
      footer .bot .bottom-right {
        display: flex;
        justify-content: flex-end; }
        footer .bot .bottom-right p {
          text-align: right; } }

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .body .content {
    margin: .5rem;
    position: relative;
    box-sizing: border-box; }
    .body .content p {
      font-size: 12px; }
    .body .content .content-list {
      box-sizing: border-box;
      height: 16rem;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #eeeded;
      border-radius: 5px; }
      .body .content .content-list .list {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #eeeded; }
      .body .content .content-list .list-half {
        width: 50%;
        padding-left: .5rem;
        box-sizing: border-box; }
      .body .content .content-list .list-border {
        border-left: 1px solid #eeeded; }
      .body .content .content-list .list-head {
        width: 100%; }
        .body .content .content-list .list-head img {
          height: 120px;
          width: 120px; }
      .body .content .content-list .money-l {
        border-bottom: 1px solid #eeeded;
        height: 3.2rem;
        line-height: 3.2rem;
        text-align: center; }
      .body .content .content-list .money {
        height: 3.2rem; }
        .body .content .content-list .money .money-r {
          border-left: 1px solid #eeeded;
          padding-left: .5rem;
          margin-left: -.5rem;
          display: flex;
          justify-content: space-between; }
      .body .content .content-list .list-num, .body .content .content-list .list-tips {
        padding-left: .5rem;
        box-sizing: border-box;
        width: 100%; }
      .body .content .content-list .list-tips {
        border: none; }
      .body .content .content-list:hover ~ .list-web {
        display: block; }
    .body .content .list-web {
      display: none;
      width: 100%;
      height: 16rem;
      background-color: #000000;
      position: absolute;
      left: 0;
      top: 0px;
      opacity: 0.85;
      z-index: 9;
      border-radius: 5px;
      text-align: center; }
      .body .content .list-web p {
        color: #fff;
        font-size: 16px; }
      .body .content .list-web:hover {
        display: block; }
  @media only screen and (max-width: 768px) {
    .body {
      justify-content: center; }
      .body .content {
        width: 100%; } }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .body .content {
      flex: 1;
      min-width: 40%; } }
  @media only screen and (min-width: 993px) {
    .body {
      justify-content: flex-start; }
      .body .content {
        flex: 1;
        min-width: 30%;
        max-width: 50%; } }

.title {
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eeeded; }
  .title p2 {
    color: #29b078; }

.direction {
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eeeded;
  display: flex; }
  .direction a {
    cursor: pointer;
    margin: 0 1rem;
    text-decoration: none;
    color: black; }
