html{
    font-size: 625%!important ;
}
body{
    margin:0;
    padding:0;
}
nav{
    height:0.6rem;
    width:100%;
    font-size: 0;
    position: relative;
}
.one{
    display: flex;
    justify-content: space-around;
    height:1rem;
    line-height: 1rem;
    color:white;

}
.two{
    display: flex;
    justify-content: space-around;
    height:1.5rem;
}
.two a{
    color:white;
}
.two2{
    margin-right:5%;
}
.two3{
    background: url(../images/erweima.png )no-repeat top ;
    width:1rem;
    margin-right: 10%;
}
.three{
    text-align: center ;
    font-size: 0.15rem;
    height:0.5rem;
    line-height: 0.5rem;
    color:white;
}