body {
    background: #fafafa;
}

.telandshare {
    display: flex;

}
.tel{
    width: 50%;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
}

.share {
    width: 50%;
    text-align: right;
}

.nav1 {
    font-size: 20px;
    background: #29b078;
    height: 60px;
    line-height:60px;
}
.a1 {
    padding: 15px;

}
.a1:hover {
    color: white;
    text-decoration: none;
    border-bottom: 3px white solid;
}
.a1:focus{
    outline: none;
    color: white;
    text-decoration: none;
}

.navbar-header {
    background: #29b078;
}
.collapse {
    background: #29b078;
}

a{
    color: white;
    text-decoration: none;
}
.nav {
    text-align: center;

}.navbar {
     margin: 0;
 }
.navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.home{
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0 40px 0;
    border-bottom: 1px solid silver;
}
.home1 {
    color: #29b078;
}
.home2{
    font-weight: normal;
    margin: 0;
}
. {
    padding: 10px;
    color: black;
}
.direction{
    color: black;
    padding: 5px;
}
.direction:hover {
    background-color: #29b078 ;
    text-decoration: none;
}

.intro {
    border:1px solid silver;
    padding: 5px;

}
.salary {
    display: flex;
    justify-content: space-between;
}
.intro1{
    margin-bottom: 10px;


}
.introbox {
    background: white;
    position: relative;
    margin: 10px;
}

.intro2{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    font-size: 18px;
    visibility: hidden;
    z-index: 1;
    opacity: 0.8;
    -webkit-transition: -webkit-transform 2s; /* Safari and Chrome */
}
.introbox:hover .intro2 {
    visibility: visible;
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
}

.intros {
    color: silver;
}
.star {
    display: flex;
    align-items: center;
}
.period {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color:#29b078 ;
    font-size: 15px;
}
.QR {
    margin-top: 10px;
    text-align: right;
}

@media (max-width: 768px){
    .QR {
        text-align: left;
    }
}

.fcopy {
    border-top: 1px solid white;
    text-align: center;
}

.f1 {
    margin-top: 10px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
@media only screen and (max-width: 768px){
    .introbox{
        margin: 2% 10%;
    }
}
@media only screen and (max-width: 440px){
    .introbox{
        margin: 2% 1%;
    }

}