html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}
body{
    padding: 0;
    margin: 0;
    font-size: .8rem;
}
header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3rem;
    background-color: #5fc0cd;
}
button{
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 1.7rem;
    height: 1.3rem;
    background: url(../IMG/task7-p2.png)
    no-repeat
    center;
    background-size: cover;
    border: none;
    outline: none;
}
main {
    position: fixed;
    top: 3rem;
    bottom: 0;
    overflow: auto;
    width: 100vw;
    background-color: #f0f0f0;
}
.previousgame {
    position: relative;
    width: 90vw;
    height: 3rem;
    background-color: white;
    margin: 5vw;
    text-align: center;
    font-size: 1rem;
    color: gray;
    line-height: 3rem;
    border: 1px solid gray;
}
.p1 {position: absolute;
    top: .8rem;
    right: 2vw;
    width: 1rem;
    height: 1.5rem;
    background: url(../IMG/task7-p3.png)
    no-repeat
    center;
    background-size: cover;
}
.choice {
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    background-color: white;
}
.game {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 3rem;
    border-bottom:1px solid orange ;
    color: orange;
}

.choices {

    width: 70vw;
    height: 2.6rem;
    text-align: center;
    line-height: 2.6rem;
    background-color: #5fc0cd;
}
a {
    color: white;
    text-decoration: none;
}
.number {
    padding: .8rem;
}
.arrow {
    position: absolute;
    top: 9.8rem;
    right: 3vw;
    width: 1rem;
    height: 1.5rem;
}
.circle{
    width:.4rem;
    height: .4rem;
    border-radius: 50%;
    background-color:gray ;
    float: left;
    margin: .1rem;
}
.circle1 {
    width:.4rem;
    height: .4rem;
    border-radius: 50%;
    float: left;
    margin: .1rem;
    background-color: #5fc0cd;

}