<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DAO.LoginMapper">
    <!--查找优秀学员 -->
    <select id="findGood" resultType="com.POJO.GoodStudent">
        select * from good_student
    </select>
    <!--在学人数统计 -->
    <select id="selectCount" resultType="int">
        select count(*) from  student_copy
    </select>
    <!--毕业人数统计 -->
    <select id="selectCountGraduate" resultType="int">
        select count(*) from  graduated_student
    </select>
    <!--查找页面前三张图片 -->
    <select id="findImgaes1" resultType="com.POJO.GoodStudent">
        select * from images_1
    </select>

    <select id="findJobList1"  resultType="com.POJO.JobList">
        select * from joblist1
    </select>
    <select id="clientLogin" resultType="com.POJO.SignIn">
        SELECT account,password,salt from account_password WHERE account=#{account}
    </select>
    <insert id="register" parameterType="com.POJO.SignIn">
        INSERT into account_password (account,password,salt,des) values (#{account},#{password},#{salt},#{des})
    </insert>
</mapper>