html{
    font-size: 625%!important ;
}
body,img{
    margin:0;
    padding:0;
    background-color: #f0eeee;

}
nav{
    height:0.6rem;
    width:100%;
    font-size: 0;
    position: relative;
}
.kefu{
    color:#69c199;
    font-size:0.15rem;
    text-align: left ;
    height:0.6rem;
    line-height: 0.6rem;
    display:inline-block;
    width:69%;
    position: absolute;
    left:5%;
}
.pic{
    display: inline-block;
    height:0.6rem;
    text-align: right ;
    width:30%;
    position: absolute;
    right:5%;
}
.pic a{
    display: inline-block;
    background-position: center;
    width:0.25rem;
    height:100%;
    margin:0 0.05rem;
}
.wechat{
    background: url(images/wechat.png )no-repeat ;
}
.qq{
    background: url(images/qq.png )no-repeat ;
}
.weibo{
    background: url(images/weibo.png )no-repeat ;
}
.header{
    height:1rem;
    width:100%;
    background: url(images/jnshu.png)no-repeat 0.5rem  #29b078;
    line-height: 1rem;
    position: relative;
}
.right{
    display: inline-block;
    position: absolute;
    right:5%;
    width:40%;
    text-align: right;
    font-size: 0.2rem;
}
.right a{
    margin-left: 5%;
    color:white;
}
.yellow{
    background: url(images/yellow.jpg  )no-repeat ;
    background-size: cover ;
    height:2rem;
    max-width:100%;
}
.nav{
    margin:2% 8.5%;
    font-size: 0.22rem;
}
.nav span{
    color:green;
}
.nav a{
    color:black;
}
.left{
    background-color: white;
}
.qiye{
    height:1rem;
    font-size: 0.25rem;
    text-align: center ;
    line-height: 1rem;
    border-bottom: 0.01rem solid lightgray;
}
.company {
    font-size: 0.22rem;
    text-align: center ;
}
.company ul{
    list-style: none;

}
.company li{
    height:0.715rem;
    line-height: 0.715rem;
}
.company a{
    color:green;

}
.company span{
    width:0.13rem;
    height:0.13rem;
    border-radius: 50%;
    border:0.01rem solid red;
    display: inline-block;
    position: relative;
    left:-0.5rem;
}
span.active {
    width:0.13rem;
    height:0.13rem;
    border-radius: 50%;
    border:0.01rem solid red;
    display: inline-block;
    position: relative;
    left:-0.6rem;
    background-color: red;

}
.left{
    border-right:0.01rem solid lightgray;
}
.message {
    background: white ;
    font-size: 0.2rem;
}
.tudou{
    height:2rem;
    display: table;
    border-bottom: 0.01rem solid lightgray;
}
.tudou span{
    width:55%;
    display: table-cell;
    color: #999;
    vertical-align: middle;
}
.tudou span:first-child {
    text-align: center ;
}
.information p{
    text-indent: 2em;
    margin-top:4%;
    line-height: 0.4rem;
    color:#999;

}
footer{
    width:100%;
    height:3rem;
    background-color: #29b078;
    font-size: 0.2rem;
}
.one{
    display: flex;
    justify-content: space-around;
    height:1rem;
    line-height: 1rem;
    color:white;

}
.two{
    display: flex;
    justify-content: space-around;
    height:1.5rem;
}
.two a{
    color:white;
}
.two2{
    margin-right:5%;
}
.two3{
    background: url(images/erweima.png )no-repeat top ;
    width:1rem;
    margin-right: 10%;
}
.three{
    text-align: center ;
    font-size: 0.15rem;
    height:0.5rem;
    line-height: 0.5rem;
    color:white;
}

