html{
    font-size: 625%!important ;
}
body,img{
    margin:0;
    padding:0;
    background-color: #f0eeee;

}
nav{
    height:0.6rem;
    width:100%;
    font-size: 0;
    position: relative;
}
.kefu{
    color:#69c199;
    font-size:0.15rem;
    text-align: left ;
    height:0.6rem;
    line-height: 0.6rem;
    display:inline-block;
    width:69%;
    position: absolute;
    left:5%;
}
.pic{
    display: inline-block;
    height:0.6rem;
    text-align: right ;
    width:30%;
    position: absolute;
    right:5%;
}
.pic a{
    display: inline-block;
    background-position: center;
    width:0.25rem;
    height:100%;
    margin:0 0.05rem;
}
.wechat{
    background: url(images/wechat.png )no-repeat ;
}
.qq{
    background: url(images/qq.png )no-repeat ;
}
.weibo{
    background: url(images/weibo.png )no-repeat ;
}
.header{
    height:1rem;
    width:100%;
    background: url(images/jnshu.png)no-repeat 0.5rem  #29b078;
    line-height: 1rem;
    position: relative;
}
.right{
    display: inline-block;
    position: absolute;
    right:5%;
    width:40%;
    text-align: right;
    font-size: 0.2rem;
}
.right a{
    margin-left: 5%;
    color:white;
}
.nav{
    margin:0 6.5%;
    font-size: 0.22rem;
    border-bottom: 0.01rem solid gray;
    height:0.9rem;
    padding:3% 0;
}
.nav span{
    color:green;
}
.nav a{
    color:black;
}
.zhiye{
    display: table;
    margin:0 6.5%;
    height:0.6rem;
    font-size: 0.2rem;
    width: 87%;
    border-bottom: 0.01rem solid gray;
}
.zhiye span{
    display: table-cell;
    vertical-align: middle;
}
.zhiye span:first-child {
    color:#999;
}
.zhiye a{
    color:black;
}
.active a{
    color:white;
    background-color: green;
}
.title{
    font-size: 0.23rem;
    font-weight: 600;
    margin:0 6.5%;
    height:0.8rem;
    line-height: 0.8rem;
    border-bottom: 0.01rem solid gray;
}

.row{
    display: table;
    border-bottom: 0.01rem solid lightgray;
    width: 100%;
}
.img{
    background: url(images/greenman.png)no-repeat center  ;
    vertical-align: middle;
    display: table-cell;
    width: 45%;
    height: 2rem;

}
.jie{
    display: table-cell;
    vertical-align: middle;
    width:55%;
    height: 2rem;


}
.jie p{
    font-size: 0.2rem;
    font-weight: 800;
    display: inline-block;
    width:1.5rem;
}
.jie span{
    font-size: 0.18rem;
    display: inline-block;
    word-break:break-all;

}
.left1 {
    font-size: 0.15rem;
    background: url(images/start.png )no-repeat 1rem;
    height:0.4rem;
    line-height: 0.4rem;
    color: #999;
    vertical-align: middle;
    display: table-cell;
    border-right: 0.01rem solid lightgray;
}
.right1{
    font-size: 0.15rem;
    background: url(images/start.png )no-repeat 1rem;
    height:0.4rem;
    line-height: 0.4rem;
    color: #999;
    vertical-align: middle;
    display: table-cell;
}
.left2{
    font-size: 0.15rem;
    height:0.4rem;
    line-height: 0.4rem;
    color: #999;
    vertical-align: middle;
    display: table-cell;
    border-right: 0.01rem solid lightgray;

}
.left2 h{
    color:red;
}
.right2{
    font-size: 0.15rem;
    height:0.4rem;
    vertical-align: middle;
    display: table-cell;
}
.right2 h{
    color:red;
}
.left3 {
    height:0.6rem;
    text-align: center ;
    line-height: 0.6rem;
    vertical-align: middle;
    display: table-cell;
    border-right: 0.01rem solid lightgray;
}
.right3{
    vertical-align: middle;
    display: table-cell;
}
.text{
    display: table;

}
.text span{
    display: table-cell;
}
.foot1 {
    font-size: 0.16rem;
    font-weight: 700;
    height:0.4rem;
    line-height: 0.4rem;
}
.foot1 h{
    color:red;
}
.foot2{
    font-size: 0.15rem;
    color:#999;
}
footer{
    width:100%;
    height:3rem;
    background-color: #29b078;
    font-size: 0.2rem;
}
.one{
    display: flex;
    justify-content: space-around;
    height:1rem;
    line-height: 1rem;
    color:white;

}
.two{
    display: flex;
    justify-content: space-around;
    height:1.5rem;
}
.two a{
    color:white;
}
.two2{
    margin-right:5%;
}
.two3{
    background: url(images/erweima.png )no-repeat top ;
    width:1rem;
    margin-right: 10%;
}
.three{
    text-align: center ;
    font-size: 0.15rem;
    height:0.5rem;
    line-height: 0.5rem;
    color:white;
}


