html{
    font-size: 625%!important ;
}
body{
    margin:0;
    padding:0;
}
nav{
    height:0.6rem;
    width:100%;
    font-size: 0;
    position: relative;
}
.kefu{
    color:#69c199;
    font-size:0.15rem;
    text-align: left ;
    height:0.6rem;
    line-height: 0.6rem;
    display:inline-block;
    width:69%;
    position: absolute;
    left:5%;
}
.pic{
    display: inline-block;
    height:0.6rem;
    text-align: right ;
    width:30%;
    position: absolute;
    right:5%;
}
.pic a{
    display: inline-block;
    background-position: center;
    width:0.25rem;
    height:100%;
    margin:0 0.05rem;
}
.wechat{
    background: url(images/wechat.png )no-repeat ;
}
.qq{
    background: url(images/qq.png )no-repeat ;
}
.weibo{
    background: url(images/weibo.png )no-repeat ;
}
.header{
    height:1rem;
    width:100%;
    background: url(images/jnshu.png)no-repeat 0.5rem  #29b078;
    line-height: 1rem;
    position: relative;
}
.right{
    display: inline-block;
    position: absolute;
    right:5%;
    width:40%;
    text-align: right;
    font-size: 0.2rem;
}
.right a{
    margin-left: 5%;
    color:white;
}
.item img{
    width:100%;
}
#picture{
    width:100%;
    margin:0 auto;
}
.carousel-indicator {
    position: absolute;
    left:45%;
    list-style: none;
    bottom: 0;
    z-index: 22;
}
.carousel-indicator li{
    display: inline-block;
    width:0.1rem;
    height:0.1rem;
    border:0.01rem solid #fff;
    border-radius: 50%;
}
.carousel-indicator .active {
    width:0.1rem;
    height:0.1rem;
    background-color: white;
}
.rocket{
    background: url(images/rocket.png )no-repeat center ;
    height: 2rem;
    text-align: center ;
}
p{
    text-align: center;
    font-size: 0.2rem;
}
span{
    text-align: center ;
    width:100%;
    display: inline-block;
    font-size: 0.18rem;
    color:#cacaca;
    height:0.5rem;
    line-height: 0.5rem;
}
.book{
    background: url(images/archive.jpg )no-repeat center;
    height:2rem;
}
.renmai{
    background:url(images/people.png )no-repeat center;
    height:2rem;
}
.person{
    margin-top: 1.8rem;
}
.people{
    text-align: center ;
    background: url(images/man.png )no-repeat 35% ;
    font-size: 0.17rem;
    margin: 0.1rem 0;
    color:#76bc9b;
}
.text-title {
    text-align: center ;
    font-size: 0.25rem;
    margin-top: 0.5rem;
}
.study-page {
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-align: center ;
    height:1.5rem;
    color:#dddddd
}
.number{
    width:.5rem;
    height:.3rem;
    text-align: center ;
    line-height: 0.3rem;
    border-radius: 50%;
    border:0.01rem solid grey;
    color:#76bc9b;

}
.path-text{
    text-align: center ;
    width:50%;
    display: inline-block;
}
.angle{
    background: url(images/angle.png )no-repeat right;
    height:0.5rem;
    width:0.5rem;
}
.list-show {
    text-align: center ;
    font-size: 0.25rem;
    margin: 0.5rem 0;
}
.student{
    text-align:center;
    vertical-align: middle;
}
.student img{
    border-radius: 50%;
}
.student p{
    margin:0.1rem 0;
}
.not{
    text-align: center ;
}
.not li{
    display: inline-block;
    width:0.15rem;
    height:0.15rem;
    border-radius: 50%;
    border: 0.01rem solid darkgrey;
}
.not li.active {
    display: inline-block;
    width:0.15rem;
    height:0.15rem;
    border-radius: 50%;
    border: 0.01rem solid darkgrey;
    background-color: #29b078;
}
.company {
    margin-top: 10%;
    text-align: center ;
    font-size: 0.25rem;
}
.company.row{
    text-align: center ;
}
.company a{
    width:200px;
    height:220px;
    display: inline-block;
    background-position: center ;
}
.hezuo a{
    width:2rem;
    display: inline-block;
    height:0.2rem;
    color: black;
}
.alibaba {
    background: url(images/alibaba.png )no-repeat ;
}
.jinshanyun{
    background:url(images/jinshanyun.png )no-repeat  ;
}
.huanxin {
    background: url(images/huanxin.png )no-repeat ;
}
.ronglian {
    background: url(images/ronglian.png )no-repeat ;
}
.qiniu {
    background: url(images/qiniu.png )no-repeat ;
}
.frind {
    text-align: center ;
    font-size: 0.25rem;
    margin-bottom: 3%;
}
.frind-text li{
    display: inline-block;
    width: 9%;
    height:0.3rem;
    text-align: center ;
    font-size: 0.2rem;
}
.frind-text a{
    color:#999;
}
footer{
    width:100%;
    height:3rem;
    background-color: #29b078;
    font-size: 0.2rem;
}
.one{
    display: flex;
    justify-content: space-around;
    height:1rem;
    line-height: 1rem;
    color:white;

}
.two{
    display: flex;
    justify-content: space-around;
    height:1.5rem;
}
.two a{
    color:white;
}
.two2{
    margin-right:5%;
}
.two3{
    background: url(images/erweima.png )no-repeat top ;
    width:1rem;
    margin-right: 10%;
}
.three{
    text-align: center ;
    font-size: 0.15rem;
    height:0.5rem;
    line-height: 0.5rem;
    color:white;
}