<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--告知spring用注解配置-->
    <context:annotation-config/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mydb1"/>
        <property name="username" value="root"/>
        <property name="password" value="123"/>
    </bean>

    <!--扫描实体类与xml文件-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--这里与mybatis配置文件写法类似-->
        <property name="typeAliasesPackage" value="com.leo.pojo"/>
        <!--将数据源注入SqlSessionFactory实例-->
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:com/leo/mapper/Student.xml"/>
    </bean>

    <!--扫描mapper类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.leo.mapper"/>
    </bean>
</beans>