<div class="addDetailedWrap" ng-controller="addDetailed">
    <form class="edit-wrap">

        <div class="row edit-row inputRow">
            <label class="col-md-2">标题名称</label>
            <input type="text" class="col-md-10">
        </div>

        <div class="row edit-row selectRow">
            <label class="col-md-2">类型</label>
            <div class="col-md-10">
                <select name="type">
                    <option value="" selected>请选择</option>
                </select>
                <select name="industry" class="edit-select" >
                    <option value="" selected>请选择</option>
                </select>
            </div>
        </div>

        <div class="row edit-row explainRow ">
            <div class="col-md-2  titleCol">
                <span class="edit-span info-span">说明</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label  titleCol"><span>配图</span></label>
                <div class="col-sm-10">
                    <a class="file">选择文件<input class="fileInput" type="file"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <table class="table table-bordered tabWrap">
                    <tr class="tr1">
                        <td>图片名</td>
                        <td>文件大小</td>
                        <td>进度</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>