body {
	background-color: #fafafa;
}
header {
	background-color: #fff;
	font-size: 12px;
	color: #79c7a3;
}
.head {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
p h5 {
	margin: 0;
	padding: 0;
}
.text {
	font-size: 4vw;
}
.text0 {
	margin-top: 2rem;
}
.rocket {
	height: 62px;
	width: 43px;
	background: url(rocket.png) no-repeat;
	margin: 0 auto;
}
.text1 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 1rem;
}
.text2 {
	color: #999999;
	text-align: left;
}
.archive {
	height: 62px;
	width: 60px;
	background: url(archive.png) no-repeat;
	margin: 0 auto;
}
.humen {
	height: 62px;
	width: 52px;
	background: url(humen.png) no-repeat;
	margin: 0 auto;
}
.user-num {
	padding: 40px 15px 40px 15px;
}
.user {
	height: 17px;
	width: 80px;
	background: url(user.png) no-repeat;
}
.study {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	margin: 80px auto;
}
.number {
	border: 1px solid #e3e3e3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    flex-shrink: 0;
    margin-right: 1rem;
    color: #26a26f;
    font-size: 18px;
    box-shadow: 0 1px 3px rgba(8, 1, 3, .15);
}
.number0 {

}
.text3 {
	margin-right: 1rem;
}
.air {
	width: 20px;
	height: 20px;
}
.d-flex {
	justify-content: space-between;
	align-items: center;
	color: #999999;
	margin-bottom: 50px;
}
.avatar {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	margin: 0 auto;
}
.company {
	width: 180px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(8, 1, 3, 0.5);
}
.cont1 {
	justify-content: center;
}
.cir0 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}
ul,li {
	margin: 0;
	padding: 0;
}
.cir {
	color: #b0b0b0;
    width: 5rem;
    list-style: initial;
    border-bottom: solid 1px #fff;
    font-size: 1px;
    line-height: 2rem;
}
footer {
	text-align: center;
	line-height: 4rem;
	color: #fff;
	font-size: 12px;
	background-color: #26a26f;
}
.a1 {
	color: #fff;
}
.end {
	width: 100%;
    border-top: solid 1px #32c086;
}
.carousel-indicators li {
	position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);
}
.carousel-indicators1{
	position: absolute;
	bottom: -40px;
}
.carousel-indicators1 .active {
    background-color: #29b078;
}
.nav-link {
	padding: 1rem;
}
.nav-link:hover {
	border-bottom: 0.2rem solid #fff;
	padding-bottom: 0.8rem; 
}
a {
	color: #fff;
}
.img-fluid {
	width: 100%;
	height: 30vw;
}
#collapsibleNavbar {
}
@media screen and (max-width: 992px) {
	.user {
		margin: 0 auto;
	}
}
@media screen and (min-width: 992px) {
	.user-num {
		border-left: 1px dashed #dedede;
	}
}