html body {
  background-color: #fafafa;
}
header {
  background-color: #fff;
  font-size: 12px;
  color: #79c7a3;
}
.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-bottom: 0;
  padding: 20px 0;
  border-bottom: 1px solid #d0d6d9;
  color: #333;
}
.text1 {
  margin-bottom: 0;
  padding: 20px 0;
  border-bottom: 1px solid #edf1f2;
}
.a-cl {
  color: #3fb582;
  padding-left: 5px;
}
.start {
  color: #999;
  font-size: 10px;
}
.table-container {
  margin-top: 15px;
}
.table {
  position: relative;
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 1px solid #edf1f2;
  color: #a1a1a1;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #f6f6f6;
  overflow: hidden;
}
.table1 {
  display: flex;
  padding: 15px;
}
.table1 :first-child{
  flex-shrink: 0;
}
.table img {
  margin-right: 15px;
}
.table2 {
  display: flex;
  flex-wrap: wrap;
}
.table2 > span {
  display: inline-block;
  padding: 15px;
  width: 42%;
}
.star {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background: url(img/star.png) no-repeat;
}
.growth-cycle {
  align-self: center;

}
.border-top {
  border-top :1px solid #edf1f2;
}
.border-right {
  border-right :1px solid #edf1f2;
}
.border-bottom {
  border-bottom :1px solid #edf1f2;
}
.border-left {
  border-left :1px solid #edf1f2;
}
.table3 {
  display: flex;
}
.table3 .table3-td1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.table3 .table3-td2 {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.table3-td2 > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 15px;

}
.table h4{
  padding-left: 15px;
}
.tips {
  padding: 5px 15px 5px 15px;
  margin-bottom: 0;

}
.text-center {
  text-align: center;
  padding-bottom: 1rem;
}
.text-red {
  display: inline;
  color: #f13123;
}
.text-black {
  color: #333;
}

.table-hover {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  padding:100px 0 0;
  background-color: rgba(1, 1, 1, 0.7);
  color: #fff;
  height: 100%;
}
.table:hover .table-hover {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
footer {
  text-align: center;
  line-height: 4rem;
  color: #fff;
  font-size: 12px;
  background-color: #26a26f;
}
.a1 {
  color: #fff;
}
.end {
  width: 100%;
  border-top: solid 1px #32c086;
}
.nav-link {
  padding: 1rem;
}
.nav-link:hover {
  border-bottom: 0.2rem solid #fff;
  padding-bottom: 0.8rem;
}