*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
html{
	font-size: 62.5%;
}
.flex_center_column {
	display: flex;
	align-items: center;
}
.flex_column_center {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.flex_column {
	display: flex;
	flex-flow: column;
}
.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
header p {
	margin: 0;
}
header a:hover {
	text-decoration: none;
	border-bottom: #fff solid .3rem;
}

/* 首页 */
.head_top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: #fff;
}
.head_top_tel {
	height: 4rem;
	color: #42b683;
}
.head_top_contact {
	height: 4rem;
}
.head_top_wechat,
.head_top_qq,
.head_top_sina {
	background-image: url(../img/contact.png); 
	background-repeat:no-repeat;
	height: 31px;
	width: 31px;
	margin-right: 22px;
}
.head_top_wechat {
	background-position: 0 0;
}
.head_top_qq {
	background-position: -31px 0;
}
.head_top_sina {
	background-position: -62px 0;
}
/* head_mid */
.head_mid {
	position: relative;
	top: 0;
	width: 100%;
	height: 6rem;
	background: #29b078;
}
.head_mid_home {
	
}
.head_mid_home_btn,
.head_mid_job_btn,
.head_mid_recmd_btn,
.head_mid_about_btn {
	height: 6rem;
	font-size: 16px;
}
.head_mid_home_p,
.head_mid_job_p,
.head_mid_recmd_p,
.head_mid_about_p {
	color: #fff;
}
.head_mid_active_btn {
	border-bottom: #fff solid .3rem;
}
.head_mid_job {

}
.head_mid_job_btn {
	
}
.head_mid_job_p {

}
.head_mid_recmd {

}
.head_mid_recmd_btn {
	
}
.head_mid_recmd_p {

}
main {
	background-color: #fafafa;
	width: 100%;
}
.main_about {
	position: relative;
	top: 0;
	color: #fafafa;
	margin-top: 12rem;
}
.main_about_EFF {
	position: relative;
	left: 3rem;
	height: 10rem;
}
.main_about_EFF_img,
.main_about_rule_img,
.main_about_conn_img {
	text-align: center;
}
.main_about_EFF_h,
.main_about_rule_h,
.main_about_conn_h {
	text-align: center;
	margin: 2rem 0 2rem 0;
	color: #333;
}
.main_about_EFF_p,
.main_about_rule_p,
.main_about_conn_p {
	color: #afafaf;
	margin: 0 2rem 0 2rem;
}
.main_about_eg {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 60px 0 50px 50px;
	border-left: 1px dashed #999;
}
.main_about_Qty {
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	color: #29b078;
}
.main_about_p {
	font-size: 14px;
	color: #999;
}
.main_company,
.main_display,
.main_how {
	margin-top: 5rem;
}
.main_how_set {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}
.main_link_h2,
.main_company_h2,
.main_display_h2,
.main_how_h2 {
	font-size: 22px;
	color: #333;
}
.main_how_img {
	width: 2rem;
	height: 2rem;
}
.main_how_circle {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 1px solid #fafafa;
	background-color: #fff;
	color: #29b078;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px #888888;
}
.main_how_p {
	margin-bottom: 0;
	width: 11rem;
	font-size: 14px;
	color: #999;
}
.main_display_set {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	height: 300px;
	width: 250px;
	background-color: #fff;
	box-shadow: 1px 1px 3px #888888;
}
.main_display_h3 {
	font-size: 1.5rem;
	color: #333;
}
.main_display_p {
	width: 16.5rem;
	font-size: 1.4rem;
	color: #999;
}
.main_display_circle {
	margin: 1.25rem .4rem;
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	background: #fff;
	border: none;
	box-shadow: 1px 1px 3px #888888;
}
.main_display_circle:hover {
	background: #29b078;
}
.main_company_about {
	margin-top: 6.25rem;
	margin-bottom:4.375rem; 
}
.main_company_set {
	height: 12.5rem;
	background-color: #fff;
	box-shadow: 0 2px 0 #eeeded;
}
.main_company_set:hover {
	border: .2rem solid #d6d6d6;
}
.main_link {
	background-color: #fff;
	padding-bottom: 1.6rem;
}
.main_link_h2 {
	padding-bottom: 2.4rem;
}
.main_link_ul {
	display: flex;
	justify-content: space-around;
}
.main_link_a {
	color: #999;
	font-size: 1.15rem;
}
.line {
	margin: 0 .4rem;
	width: .1rem;
	height: 1.2rem;
	background-color: #fff;
}
/* footer begin */
footer {
	width: 100%;
	background-color: #1ba36e;
}
.footer_link {
	padding-bottom: 20px;
	
}
.footer_left {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.footer_right_p,
.footer_mid_p,
.footer_left_p {
	margin-top: 2.4rem;
	margin-bottom: 1.2rem;
	font-size: 1.6rem;
	color: #fff
}
.footer_left_main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2.4rem;
}
.footer_mid_a,
.footer_left_a {
	font-size: 1rem;
	color: #fff;
}
.footer_mid_a {
	width: 90px;
}
.footer_mid {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.footer_copyright {
	border-top: 1px solid #32c086;
	font-size: 1rem;
	color: #fff;
	line-height: 27px;
}
.footer_right {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
/* task8-2 */
.main_position {
	height: 4rem;
}
.main_position_company {
	color: #50be90;
}
.main_position_home {
	color: #333;
}
.main_company-list {
	background: #fff;
}
.main_company-list_title {
	height: 4rem;
	width: 100%;
	font-size: 2rem;
	font-weight: 900;
	border-bottom: .1rem solid #e6e6e6;
}
.main_company-list_list_li {
	font-size: 2rem;
	text-decoration: none;
	color: #f1a750;
	list-style-type: circle;
	margin: 2rem;
}
.main_company-list_list_li:hover {
	list-style-type: disc;
}
.main_company-list_list_a {
	font-size: 1.5rem;
	color: #29B078;
}
.main_company-list_list_a:hover {
	color: #ff650e;
	text-decoration: none;
}
.main_company-list_active {
	list-style-type: disc;
	color: #fe6813;
}
.main_companys {
	padding: 3rem 3rem 10rem 3rem;
	background-color: #fff;
	width: 100%;
}
.main_companys_title {
	border-bottom: .1rem solid #e6e6e6;
	padding: 1rem 0;
}
.main_companys_p {
	margin-top: 2.5rem;
}
.main_space {
	padding-bottom: 15rem;
}
/* task8-3 */
.main_position_solid {
	border-bottom: .2rem solid #d0d6d9;
}
.main_direction {
	height: 4rem;
	border-bottom: .1rem solid #edf1f2;
}
.main_direction_p {
	margin: 0;
	color: #999;
}
.main_direction_a {
	margin: 0 1rem;
	color: #333;
	padding: .1rem .2rem;
}
.main_direction_active {
	background: #29b078;
	color: #fff;
}
.main_direction_a:hover {
	background: #29b078;
	color: #fff;
	text-decoration: none;
}
.main_major {
	border-bottom: .2rem solid #d0d6d9;
	height: 5rem;
}
.main_major_h3 {
	color: #333;
	margin: 0;
}
.main_major_set {
	margin-top: 2.5rem;
}
.main_major_list {
	border: .1rem solid #edf1f2;
}
.main_major_img {
	padding: 1rem;
	width: 40%;
}
.main_major_about {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 60%;
}
.main_major_about_p,
.main_major_about_h4 {
	margin: .5rem 2rem;
}
.main_major_list_row1 {
	width: 50%;
	height: 3rem;
	border-right: .1rem solid #edf1f2;
}
.main_major_h5 {
	margin: 0;
	padding: 1rem;
	color: #999;
}
.main_major_list_pay {
	width: 40%;
}
.main_major_list_row2 {
	width: 60%;
}
.main_major_year {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 3.3rem;
	border-bottom: .1rem solid #edf1f2;
	border-left: .1rem solid #EDF1F2;
}
.main_major_p {
	padding: 0;
	margin: 0;
}
.main_major_red {
	color: #f01400;
}
.main_major_bold {
	padding: 1rem 0 1rem 1rem;
	font-weight: 900;
}
.main_hidden {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: rgba(69,69,69,.6);
	text-align: center;
	color: #fff;
	padding: 1rem;
}
.main_hidden_h4 {
	height: 12rem;
	margin: 0;
}
.main_hidden_p {
	margin: 0;
}
.main_major_set:hover .main_hidden {
	display: block;
}
