body{
    background-color: #fafafa;
}
.p-home{
    font-size: 16px;
}
.p-green{
    font-size: 16px;
    color: #29b078;
}
.p-top{
    padding-top: 33px;
    padding-bottom: 29px;
}
.Small{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.ul-left{
    display: inline-block;
    margin: 0;
    width: 200px;
    text-align: left;
}
.large{
    float: left;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 220px;
}
/* 首页 */
.img-1{
    width: 100%;
}
/* 图片 */
.p-cooperation{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #29b078;
}
/* 合作企业 */
.l-1{
    text-align: left;
    list-style-type: none;
    padding-top: 35px;
}
.ddd{
    color: #29b078;
}
.cccc{
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid #ff640c;
    border-radius: 50%;
    margin-right: 10px;
}
.ddd:hover{
    color: #f9a372;
    text-decoration: none;
}
.cccc:hover{
    background-color: #ff640c;
}
.ddd:hover .cccc{
    background-color: #ff640c;
}
.cccc:hover .ddd{
    background-color: #ff640c;
}
.ddd-1{
    color: #ff640c;
}
.cccc-1{
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid #ff640c;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ff640c;
}
/* 左边圆点 */
.img-tudou{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.span-xian{
    float: left;
    border-bottom: #999999 1px solid;
    padding-top: 50px;
    margin-bottom: 29px;
}
.p-linst-1-1{
    font-size: 14px;
    color: #999999;
    text-indent:30px;;
    padding: 20px;
}
.p-text{
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #999999;
    text-indent:30px;
}