* {
  padding: 0px;
  margin: 0px; }

body {
  padding: 85px 0; }

.box0 {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  line-height: 85px;
  color: white;
  background-color: #5fc0cd;
  z-index: 20;
  font-size: 18px; }

.box0 div {
  position: absolute;
  left: 35px;
  top: 20px;
  width: 22px;
  height: 37px;
  background: url(images/3.png); }

/*header*/
.box1 {
  width: 45%;
  height: 88px;
  border: 3px solid #5fc0cd;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
  line-height: 88px;
  background-color: white;
  color: #5fc0cd;
  z-index: 15; }

/*footer left*/
.box2 {
  width: 45%;
  height: 88px;
  border: 3px solid #5fc0cd;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
  line-height: 88px;
  background-color: #5fc0cd;
  color: white;
  z-index: 15; }

/*footer right*/
.add3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 1px;
  background-color: white;
  width: 100%;
  height: 168px;
  z-index: 14; }

.img1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 310px;
  background: url(images/2.png) no-repeat;
  background-size: 100%;
  background-color: white;
  z-index: -5; }

.img2 {
  margin-left: 15px;
  width: 169px;
  height: 170px;
  background: url(images/4.png) no-repeat; }

.jianjie {
  display: flex;
  flex-wrap: wrap;
  align-items: space-bewteen;
  margin-left: 15px;
  width: 240px;
  height: 80px; }

.dingwei {
  display: inline-block;
  width: 18px;
  height: 23px;
  background: url(images/1.png); }

.fz36 {
  color: white;
  font-family: Heiti TC;
  font-size: 36px; }

.fz28 {
  color: white;
  font-family: Heiti TC;
  font-size: 28px;
  padding-left: 20px; }

.fz24 {
  color: white;
  font-family: Heiti TC;
  font-size: 24px; }

.list1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 0;
  padding-left: 0;
  white-space: nowrap;
  font-family: Heiti TC;
  font-size: 32px;
  border-bottom: 1px solid #e1e5e7; }

.greenbar {
  margin: 0 30px;
  width: 3px;
  height: 26px;
  border-radius: 1.5px;
  background-color: #5fc0cd; }

.list2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 20px;
  padding-left: 43px;
  white-space: nowrap;
  font-family: Heiti TC;
  font-size: 32px;
  border-bottom: 1px solid #e1e5e7;
  width: calc( 100% - 83px ); }

.xingbiao {
  width: 24px;
  height: 23px;
  background: url(images/5.png); }

.greybar {
  margin: 0 20px;
  width: 1px;
  height: 26px;
  background-color: #e1e5e7; }

.list2 span {
  margin-left: 10px; }

.list2 div {
  color: grey; }

.list2 ul {
  color: red; }

.list3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 20px;
  padding-left: 43px;
  white-space: nowrap;
  font-family: Heiti TC;
  font-size: 32px;
  border-bottom: 1px solid #e1e5e7;
  margin-bottom: 300px;
  width: calc( 100% - 83px ); }

.list3 div {
  color: grey; }

.list3 span {
  width: 75%;
  padding: 50px 0;
  white-space: normal; }

/*# sourceMappingURL=style.css.map */
