body {
    margin: 0;
    background-color: #68cdd5;
    /*背景颜色*/
}

.container {
    overflow: hidden;
    /*避免子块设置了margin-top后，HTML和body中间有白边的问题*/
}

.backlogo {
    margin: 2rem;
    /*返回按钮离顶部和两边的距离*/
}

.cricle {
    width: 27px;
    height: 27px;
    /*返回按钮和下面的两个圆形按钮的尺寸*/
}

.logo {
    text-align: center;
    /*葡萄藤的logo居中，离顶部上面返回按钮的距离*/
    margin-top: 2rem;
}

.logoimg {
    width: 90px;
    height: 35px;
}

.font {
    margin: 4rem 10% 0 10%;
    /*中间介绍文字的边距 居中显示*/
    text-align: center;
}

.fontstyle {
    font-size: 1rem;
    /*字体样式*/
    color: white;
    line-height: 2.5rem;
    text-align: left;
}

.ovaldiv {
    margin: 4rem 10% auto 10%;
}

.fontstyle2 {
    font-size: 0.7rem;
    /*字体样式*/
    color: white;
    line-height: 1.2rem;
    text-align: left;
}

.ovalleft {
    float: left;
    /*左边圆图标样式*/
    text-align: center;
}

.ovalright {
    /*右边圆图标样式*/
    float: right;
    text-align: center;
}