<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="task07.util.qiniuyun"/>-->

    <bean id="qiNiuYunUtils" class="task07.util.qiniuyun.QiNiuYunUtils">

        <property name="accessKey" value="xyh__sloRckMG0zncR9xaf-z9R3mbKs63WsKjJCx" />

        <property name="secretKey" value="RGY0-y_oEhdKyOL_aYKZQzxmVtk8vlyfVnuyI-de" />

        <property name="bucket" value="nianyiche" />


    </bean>


</beans>