 html {
     font-size: 625%;
 }
 body {
     margin: 0;
     padding: 0;
     background-color: #f0f0f0;
     font-family: "宋体", sans-serif;
 }
 header {
     width: 100%;
     padding: .05rem 0;
     background-color: #29bde0;
 }
 .hd-box {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .icon-left {
     display: block;
     width: .2rem;
     height: .2rem;
     transform: rotate(45deg);
     border: .03rem solid #fff;
     border-top: none;
     border-right: none;
     cursor:pointer;
 }
 h6 {
     font-size: .2rem;
     color: #fff;
 }
 .icon-right {
     width: .3rem;
     height: .3rem;
 }
 main {
     width: 100%;
     padding-bottom: .2rem;
     background-color: #f0f0f0;
 }
 .top {
     display: flex;
     margin-top: .2rem;
     background-color: #fff;
 }
 .top-l {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 13%;
     height: 3rem;
     border-right: 1px solid #b4b4b4;
 }
 .top-l span {
     font-size: .2rem;
 }
 .top-r {
     width: 87%;
     height: 3rem;
 }
 .top-allot {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: 2.5rem;
     border-bottom: 1px solid #b4b4b4;
 }
 .top-box1,
 .top-box2{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .top-box1 div{
     width: 8px;
     height: 8px;
     margin-right: .07rem;
     background-color: #fab344;
 }
 .top-box1 p,
 .top-box2 p {
     margin: 0;
     color: #000;
     font-size: .2rem;
     font-family: "宋体",sans-serif;
 }
 .top-box1 span,
 .top-box2 span {
     padding: 0 .1rem;
     text-align: center;
     color: #000;
     font-size: .2rem;
     font-family: "宋体",sans-serif;
 }
 .top-box2 div{
     width: 8px;
     height: 8px;
     margin-right: .07rem;
     background-color: #29bde0;
 }
 .top-bt {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: .5rem;
 }
 .top-bt a{
     text-decoration: none;
     cursor: pointer;
 }
 .top-bt a:hover {
     text-decoration: none;
     color: #29bde0;
 }
 .top-bt a span {
     margin-right: .05rem;
     font-size: .2rem;
     color: #29bde0;
 }
 form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-top: .2rem;
     background-color: #fff;
 }
 form input {
     width: 95%;
     padding: .1rem 0;
     margin-bottom: .1rem;
     font-family: "宋体", sans-serif;
     font-size: .17rem;
     color: #b4b4b4;
     border: none;
     border-bottom: 1px solid #b4b4b4;
     outline:none;
     text-decoration: none;
 }
 form input::placeholder {
     font-family: "宋体", sans-serif;
     font-size: .17rem;
     color: #b4b4b4;
 }
 .bottom {
     margin-top: .2rem;
     padding-bottom: .4rem;
     background-color: #fff;
 }
 .bottom span {
     display: block;
     width: 95%;
     margin: 0 auto;
     padding-top: .1rem;
     font-size: .17rem;
     font-family: "宋体", sans-serif;
 }
 .bottom span input {
     width: .2rem;
     height: 25px;
     color: #fab344;
     font-family: "宋体", sans-serif;
     font-size: .2rem;
     text-align: center;
     border: none;
     outline: none;
     background-color: #f0f0f0;
 }
 .bottom span input::placeholder {
     font-family: "宋体", sans-serif;
     font-size: .2rem;
     color: #fab344;
 }
 .bottom-box {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 70%;
     margin: .2rem auto 0 auto;
 }
 /*横条样式*/
 input[type=range] {
     -webkit-appearance: none;/*清除系统默认样式*/
     width: 90%;
     height: 5px;/*横条的高度*/
     background-color: #fab344;
     outline: none;
     cursor: pointer;
 }
 /*拖动块的样式*/
 input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;/*清除系统默认样式*/
     width: .3rem;
     height: .2rem;
     background: url(../image/img9.png) no-repeat 0 0/cover;
     border: none;
     cursor: pointer;
 }
 .img7 {
     width: .2rem;
     height: .2rem;
     background: url(../image/img7.png) no-repeat 0 0/cover;;
     outline: none;
     border: none;
 }
 .img8 {
     width: .2rem;
     height: .2rem;
     background: url(../image/img8.png) no-repeat 0 0/cover;;
     outline: none;
     border: none;
 }
 button {
     width: 100%;
     height: .5rem;
     margin-top: .2rem;
     outline: none;
     border: none;
     background-color: #fab344;
 }
 button span {
     font-family: "宋体", sans-serif;
     font-size: .2rem;
     color: #fff;
 }