html {
    font-size: 625%;
}
body {
    padding: 0;
    margin: 0 auto;
}

.top {
    width: 100%;
    padding: .1rem .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .34rem;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    background-color: #4cc7e4;
}
.back-arrow {
    width: .36rem;
    height: .45rem;
    background: url(../image/kai.png) no-repeat 50% 50%;
    background-size: 100%;
    cursor: pointer;
}
.close {
    width: .36rem;
    height: .36rem;
    background: url(../image/guan.png) no-repeat 50% 50%;
    background-size: 90%;
    cursor: pointer;
}
main {
    position: relative;
    width: 100%;
    height: 3.3rem;
    background: #4cc7e4 url(../image/beijing.png) no-repeat 50% 3%/2rem 1rem; }

.main-content{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    font-size: .2rem;
    color: #fff;
}
.main-box {
    width: 100%;
    height: auto;
    position: relative;
    top: 1.1rem; }


.main-top {
    padding: 0 .3rem;
    font-size: .15rem;
    color: #F8C76B;
    text-align: center; }

.main-box1 {
    position: relative;
    padding-top: .5rem; }

.main-box2 {
    display: flex;
    align-items: center; }

.main-bottom1 {
    font-size: .15rem;
    color: #E7F6FB;
    padding-left: .3rem; }

.main-bottom2 {
    padding-left: .5rem;
    font-size: .15rem;
    color: #E7F6FB; }

.main-bottom {
    font-size: .15rem;
    color: #E7F6FB;
    padding: 0 .3rem; }

.content {
    width: 100%;
    padding-bottom: .8rem; }

.content-box{
    border-bottom: 1px solid #D7D7D7;
}

.date {
    padding-left: .3rem;
    font-size: .15rem;
    color: #D7D7D7; }

.content-content {
    padding-left: .3rem;
    font-size: .15rem;
    color: #D7D7D7; }

.content-bottom {
    padding-left: .3rem;
    font-size: .15rem;
    color: #D7D7D7;
    padding-bottom: .1rem; }
.content-last {
    border-bottom: 1px solid #D7D7D7;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: .7rem;
    background-color: rgba(153, 223, 240, 0.7); }

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    border-radius: 5px;
    background-color: #F66F6F;
    font-size: .2rem;
    color: #fff;
    z-index: 666666;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    border-radius: 5px;
    background-color: #FBB435;
    color: #fff;
    font-size: .2rem;
}