/* 头部标题 */

.header-text {
    height: .72rem;
    line-height: .72rem;
    font-size: 0.28rem;
}

.text-green {
    color: #29b078;
}

.header-box {
    height: .72rem;
}

.logo {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    vertical-align: middle;
}

.qq {
    background: url(../image/img.png) no-repeat 0 -66px;
}

.wed {
    background: url(../image/img.png) no-repeat 0 -31px;
}

.weibo {
    background: url(../image/img.png) no-repeat 0 4px;
}

.header-massge {
    float: right;
    height: .72rem;
    text-align: right;
}

.header-border {
    line-height: .28rem;
    padding-right: .1rem;
    margin-right: .1rem;
    border-right: .04rem solid #29b078;
}

.text-black {
    color: black;
}

/* 头部标题结束 */

/* 折叠导航栏开始 */

.row-green {
    margin: 0;
    border: none;
    border-radius: 0;
    background: #29b078;
}

.text-white {
    color: #fff;
    text-align: center;
    font-size: .31rem;
}

.a-style-nav {
    background: #29b078;
}

/* 折叠导航栏结束 */
/* 页脚开始 */
.foot-style{
    margin-top: .34rem;
    background: #29b078;
}
.row-style{
    padding-top: .34rem;
    padding-bottom: .34rem;
    font-size: .32rem;
    color: #c9e3d6; 
 }
 ul li{
     list-style: none;
 }
.row-style ul li a{
    line-height: .28rem;
    font-size: .28rem;
    color: #c9e3d6; 
}
.row-style ul li a{
    display: inline-block;
    text-decoration: none;
   
}
.footer-border{
    margin-top: .99rem;
    padding-right: .14rem;
    border-right: #c9e3d6 2px solid;
}
.footer-margin{ 
    margin-top: .3rem;
    margin-right: .5rem;
    padding-bottom: 5px;
}
.row-style ul li a:hover{
    border-bottom: #c9e3d6 2px solid;
}
.footest{
    border-top: #32c086 2px solid;
    font-size: .28rem;
    color: #c9e3d6;
    text-align: center;
}
/* 页脚结束 */

@media screen and (min-width: 768px) {
    .row-green{
        height: 2rem;
    } 
    .container-nav{
        padding-top: 0.2rem;
    }
    .logo-big {
        max-width: 300px;
    }
  
    .a-style {
        padding-top: 10px;
    }
    .a-style-nav {
        height: 1.8rem;
        line-height: 1.8rem !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    ul li a:hover {
        border-bottom: 4px solid #fff;
        background: transparent !important;
    }
  
}

@media screen and (max-width:767px) {
    .logo-big {
        max-width: 200px;
        min-width: 100px;
    }
    .a-style {
        padding: 5px;
        height: auto;
    }
    .nav-style {
        box-shadow: none !important;
    }
    .icon-color {
        background: #1d7450;
        border-color: #1d7450;
    }
    .only-style {
        background: #2a986b;
    }
    .a-style-nav {
        text-align: center;
    }
    ul li a:hover {
        background: #3ee09d !important;
    }
}