@charset "UTF-8";
html {
  font-size: 312.5%;
}

body {
  margin: 0;
  font-size: initial;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*左侧滑动导航栏*/
div.nav {
  position: relative;
  overflow: hidden;
  /*左侧导航栏内容*/
  /*右侧文本内容*/
}
div.nav input {
  display: none;
}
div.nav ul.menu-box {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 65vw;
  background: #FFFFFF;
}
div.nav ul.menu-box a.menu-font {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.8rem;
  padding: .1rem  0 .1rem .2rem;
  border-bottom: 0.01rem solid #C9C9C9;
  font-size: .15rem;
  text-decoration: none;
  color: #69D1E9;
}
div.nav ul.menu-box a.menu-font.menu-font::after {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  margin-right: .5rem;
  border-top: 0.05rem solid #69D1E9;
  border-right: 0.05rem solid #69D1E9;
  transform: rotate(45deg);
}
div.nav #menu:checked ~ .main-content {
  margin-left: 65vw;
}
div.nav div.main-content {
  position: relative;
  width: 100vw;
  background: #FFFFFF;
  transition: all 1s;
  /*header 眉页*/
  /*main主体*/
}
div.nav div.main-content header {
  height: .9rem;
  background: #29BDE0;
}
div.nav div.main-content header label.left {
  display: inline-block;
  width: 0.34rem;
  height: 0.07rem;
  padding: .08rem 0;
  margin: .3rem 0 0 .22rem;
  border-top: 0.05rem solid #FFFFFF;
  border-bottom: 0.05rem solid #FFFFFF;
  background: #FFFFFF content-box;
}
div.nav div.main-content main p.font {
  margin: .27rem .36rem;
  border: 0.01rem solid #C9C9C9;
  background: #FFFFFF;
  line-height: 1.16rem;
  text-align: center;
  font-size: .35rem;
  color: #9A9A9A;
}
div.nav div.main-content main p.font.font::after {
  content: "";
  float: right;
  width: 0.24rem;
  height: 0.24rem;
  margin: .42rem .2rem 0 -.5rem;
  border-top: 0.05rem solid #E7E7E7;
  border-right: 0.05rem solid #E7E7E7;
  transform: rotate(45deg);
}
div.nav div.main-content main ul.box {
  position: relative;
  height: 8rem;
  margin: 0 .35rem;
  border: 0.01rem solid #C9C9C9;
  background: #FFFFFF;
  text-align: center;
}
div.nav div.main-content main ul.box li.top-box {
  border-bottom: 0.01rem solid #FBB435;
  line-height: .9rem;
  text-align: center;
  font-size: .38rem;
  /* 字符间距 */
  letter-spacing: .03rem;
  color: #FBB435;
}
div.nav div.main-content main ul.box a.box {
  display: inline-block;
  width: 80%;
  margin-top: .27rem;
  background: #69D1E9;
  line-height: 1.32rem;
  letter-spacing: .04rem;
  text-decoration: none;
  color: #FFFFFF;
}
div.nav div.main-content main ul.box a.box.sjx::after {
  content: "";
  position: absolute;
  top: 50%;
  right: .1rem;
  margin: -.3rem -.2rem -3rem 0;
  border: solid 0.3rem;
  border-color: transparent transparent transparent #FBB435;
}
div.nav div.main-content main ul.box li.font {
  display: inline-block;
  margin-top: .27rem;
  font-size: .25rem;
  color: #787878;
}
div.nav div.main-content main ul.box li.bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-grow;
  width: .98rem;
  margin: .14rem auto;
}
div.nav div.main-content main ul.box li.bottom-box span.blue {
  width: 0.17rem;
  height: 0.17rem;
  border-radius: 100%;
  background: #69D1E9;
}
div.nav div.main-content main ul.box li.bottom-box span.white {
  width: 0.17rem;
  height: 0.17rem;
  border-radius: 100%;
  background: #F0F0F0;
}

/*# sourceMappingURL=start.css.map */
