body{
    margin: 0;
}
/*顶端部分*/
.top1{
    width: 100%;
    height: 50px;
    background-color:#29bde0;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    color: #fff;
    font-size: 25px;
    border-bottom: #74d4eb solid 2px ;
}
.button1-1{
    background-color:#29bde0;
    outline: none;
    border: none;
}

.button1-2{
    background-color:#29bde0;
    outline: none;
    border: none;
}
.img3-1 {
    width: 32px;
    height: 30px;
}
.img3-2{
    width: 32px;
    height: 30px;
}

.hidder{
    width: 100%;
    height: 60px;

    background-color: #29bde0;


}


.body2{
    width: 100%;
    height:130px;
    background-color: #29bde0;

}
.img3-3{
    display: block;
    margin: 0 auto;
    width:220px;
    height: 120px;
}

.body3{
    width:100vw;
    height: 120px;
    background-color: #29bde0;
    color: #ffc865;
    font-size: 22px;
    padding: 0 10vw;
    box-sizing: border-box;
    margin-top: -1px;

}


.body4{
    background-color: #29bde0 ;
    color:#fff;
    font-size: 14px;
    padding: 0 10%;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-top: -1px;




}
.body5{
    font-size: 22px;
    width: 100vw;
    height: 35px;
    padding: 5px 10%;
    box-sizing: border-box;

}
.time{
    font-size: 16px;
    width: 85px;
    height: 20px;
    color:#a6a6a6;
    float:right;
    margin-top: 6px;


}


.body6{
    font-size: 15px;
    width: 100vw;
    height: 30px;
    color:#a6a6a6;
    padding-left: 10%;
    box-sizing: border-box;
}



.bottom{
    padding: 20px 5% 0 5%;
    height: 100px;
    width: 100vw;
    position:fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: rgba(41,189,224,0.5);






 }

 .bottom1{
     width: 46%;
     height:50px;
     text-align: center;
     display: inline-block;
     padding-top: 17px;
     font-size:26px;
     background-color:#f66f6f;
     position: relative;
     border-radius: 10px;


 }


.bottom2{
    width: 46%;
    height:50px;
    text-align: center;
    display: inline-block;
    float: right;
    padding-top: 17px;
    font-size:26px;
    background-color: #fbb435;
    border-radius: 10px;


}
