<div class="side">
	<div class="side-top text-center">
		<h3>合作企业</h3>
	</div>
	<div class="side-list">
		<ul>
			<li>
				<a href=""><span class="dot"></span>阿里巴巴</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>腾讯视频</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>土豆网</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>北京葡萄藤</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>阿里巴巴</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>腾讯视频</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>土豆网</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>北京葡萄藤</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>阿里巴巴</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>腾讯视频</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>土豆网</a>
			</li>
			<li>
				<a href=""><span class="dot"></span>北京葡萄藤</a>
			</li>
		</ul>		
	</div>
</div>