html {
    font-size: 62.5%;
    height: 100%;
}

* {
    margin: 0;
    min-height: 0 !important;
}

ul {
    margin-bottom: 0;
}

@media screen and (min-width: 1050px) {
    body {
        min-width: 100rem;
    }
}

@media screen and (max-width: 1050px) {
    body {
        max-width: 100rem;
    }
}

@media screen and (min-width: 1050px) {
    .text {
        height: 3rem;
        line-height: 3rem;
        padding: 0 10rem;
    }

    .text1 {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .text1 {
        height: 2rem;
        line-height: 2rem;
        width: 100%;
    }

    .rre {
        display: inline-block;
        float: right;
        height: 2rem;
        line-height: 2rem;
        border-right: .2rem solid #26a26f;
        padding-right: 2rem;
    }

    .rrs {
        display: inline-block;
        float: right;
        line-height: 2rem;
        padding: 0 2rem;
    }

    .text {
        display: none;
    }
}

@media screen and (min-width: 1050px) {
    .top {
        height: 13rem;
        background-color: #29b078;
    }

    .a {
        width: 10rem;
        height: 5rem;
    }

    .a img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 3rem;
        left: 5rem;
    }

    .top ul {
        margin-right: 15%;
    }

    .top ul li {
        list-style: none;
        font-size: 1.2em;
        float: right;

    }

    .top ul li a {
        display: block;
        float: left;
        color: white;
        width: 5em;
        height: 5em;
        line-height: 5em;
        text-decoration: none;
        text-align: center;
        padding: 0 1.2em;
        margin: 0 .5em;
    }

    .top ul li a:hover {
        position: relative;
        border-bottom: .3em solid white;
        text-decoration: none;
    }

    .top1 {
        display: none;
    }

}

@media screen and (max-width: 1050px) {
    .top {
        display: none;
    }

    .a {
        width: 10rem;
        height: 5rem;
    }

    .a img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 3rem;
        left: 5rem;
    }

    .top1 {
        height: 13rem;
        background-color: #29b078;

    }

    .dropdown {
        float: right;
        line-height: 5rem;
    }

    .dropdown-menu {
        width: 5rem;
        line-height: 5rem;
        z-index: 23;
    }

    .dropdown-menu ul li a {
        float: right;
        display: block;
    }
}

@media screen and (min-width: 1050px) {

    .all1 {
        display: none;
    }

    .table {
        width: 100%;
        background-color: #fafafa;
        margin-bottom: 0 !important;
    }

    .pent {
        width: 100%;

    }

    .pent1 {
        width: 80vw;
        font-size: 2rem;
        line-height: 8rem;
        border-bottom: .2rem solid #eceeef;

    }

    .pent2 {
        width: 80vw;
        font-size: 1.5rem;
        line-height: 5rem;
        border-bottom: .2rem solid #eceeef;

    }

    .pent2 b {
        padding: 0 2%;
    }

    .pent2 b:hover {
        background-color: #29b078;
        color: white;
    }

    .pent3 {
        width: 80vw;
        font-size: 2rem;
        line-height: 7rem;
        border-bottom: .2rem solid #eceeef;
    }

    .container {
        width: 100rem;
        padding: 0 30%;
        font-size: 1rem;
        background-color: #fafafa;
    }

    .row {
        width: 100%;
        background-color: #fafafa;

    }

    .inter {
        width: 100%;
        background-color: white;
        padding: 0 !important;
        height: 40rem;
        margin-top: 5%;
        box-shadow: .2rem .2rem .2rem .2rem #a6a6a6;
        color: #9f9f9f;
    }

    .header {
        width: 100%;
        border: 1px solid #a6a6a6;

    }

    .header img {
        width: 38%;
        height: 31%;
        vertical-align: top;
    }

    .center {
        width: 100%;
        height: 7.5rem;
    }

    .center1 {
        width: 50%;
        height: 3.8rem;
        display: inline-block;
        border: .1rem solid #9f9f9f;
        border-left: none;
        border-top: transparent;
        line-height: 3.8rem;
        float: left;

    }

    .center b {
        color: red;
    }

    .content {
        width: 100%;
        height: 10rem;
    }

    .content1 {
        width: 40%;
        line-height: 10rem;
        text-align: center;
        display: inline-block;
        float: left;

    }

    .content2 {
        display: inline-block;
        width: 60%;
        float: left;
    }

    .content2-1 {
        display: block;
        line-height: 4.5rem;
        border: .1rem solid #afbac0;
        border-top: none;
        color: black;
    }

    .end {
        width: 100%;
        height: 5rem;
        border-top: .1rem solid #a6a6a6;
        float: left;

    }

    .hover {
        width: 100%;
        height: 40rem;
        background-color: black;
        color: white;
        opacity: 0;
        font-size: 1.5rem;
        transition: all 1s;
        position: absolute;
        top: 1rem;
        left: -0.1rem;
        transform: rotateY(-180deg);

    }

    .inter:hover .hover {
        transform: rotateY(0);
        opacity: 0.7;

    }

    .all {
        width: 100%;
        background-color: #fafafa;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 1050px) {

    .all {
        display: none;
    }

    .all1 {
        width: 100%;
        background-color: #fafafa;
    }

    .table {
        width: 100%;
        background-color: #fafafa;
        margin-bottom: 0 !important;
    }

    .pent1 {
        width: 100%;
        font-size: 2rem;
        line-height: 8rem;
        border-bottom: .2rem solid #eceeef;

    }

    .pent2 {
        width: 100%;
        font-size: 1.5rem;
        line-height: 5rem;
        border-bottom: .2rem solid #eceeef;

    }

    .pent2 b {
        padding: 0 2%;
    }

    .pent2 b:hover {
        background-color: #29b078;
        color: white;
    }

    .pent3 {
        width: 100%;
        font-size: 2rem;
        line-height: 7rem;
        border-bottom: .2rem solid #eceeef;
    }

    .inter {
        width: 100%;
        background-color: white;
        padding: 0 !important;
        height: 48rem;
        margin-top: 5%;
        box-shadow: .2rem .2rem .2rem .2rem #a6a6a6;
        color: #9f9f9f;
    }

    .header {
        width: 100%;
        border: 1px solid #a6a6a6;

    }

    .header img {
        width: 38%;
        height: 31%;
        vertical-align: top;
    }

    .center {
        width: 100%;
        height: 7.5rem;
    }

    .center1 {
        width: 50%;
        height: 3.8rem;
        display: inline-block;
        border: .1rem solid #9f9f9f;
        border-left: none;
        border-top: transparent;
        line-height: 3.8rem;
        float: left;

    }

    .center b {
        color: red;
    }

    .content {
        width: 100%;
        height: 10rem;
    }

    .content1 {
        width: 40%;
        line-height: 10rem;
        text-align: center;
        display: inline-block;
        float: left;

    }

    .content2 {
        display: inline-block;
        width: 60%;
        float: left;
    }

    .content2-1 {
        display: block;
        line-height: 4.5rem;
        border: .1rem solid #afbac0;
        border-top: none;
        color: black;
    }

    .end {
        width: 100%;
        height: 5rem;
        border-top: .1rem solid #a6a6a6;
        float: left;

    }

    .hover {
        width: 100%;
        height: 48rem;
        background-color: black;
        color: white;
        opacity: 0;
        font-size: 1.5rem;
        transition: all 1s;
        position: absolute;
        top: 1rem;
        left: -0.1rem;
        transform: rotateY(-180deg);

    }

    .inter:hover .hover {
        transform: rotateY(0);
        opacity: 0.7;

    }

}

@media screen and (min-width: 1050px) {
    .foot {
        display: none;
    }

    .footer {
        width: 100%;
        background-color: #26a26f;
        color: white;
        font-size: 2.5rem;
    }

    .nav {
        width: 100%;
        text-align: center;
        color: white;
        background-color: #26a26f;
    }
}

@media screen and (max-width: 1050px) {

    .footer {
        display: none;
    }

    .nav {
        display: none;
    }

    .foot {
        width: 100%;
        background-color: #26a26f;
        color: white;
        font-size: 2rem;
    }

    .k1 {
        width: 100%;
        height: 15rem;
        text-align: center;
        padding-top: 20%;
    }

}

