body{
	min-width: 320px;
	background-color: #f0f0f0;
}
header{
	background-color: #29bde0;
	padding: 13px 10px;
}
.menu-icon{
   width: 30px;
   height: 5px;
   border-top: 5px solid #fff;
   border-bottom: 5px solid #fff;
   background-color: #fff;
   padding: 5px 0;
   background-clip:content-box;
}
.content0{
	background-color: #fff;
	padding: 13px 0;
	width: 75%;
	margin: 0 auto;
}
.col-wr {
	color: #adadad;
	display: flex;
	justify-content: center;
}
.picture1{
	position: fixed;
	right: 15%;
}
span{
	color: #adadad;
	font-size: 10px;
}
.content1{
	width: 75%;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 10px;
	height: 400px;
	padding-bottom: 20px;
}
.title{
	border-bottom-style: solid;
	border-color: #fde1ae;
	border-width: 1px;
	color: #fdda9a;
	height: 40px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 10px;
}
.title1{
	width: 75%;
	margin: 0 auto;
	height: 75px;
	background-color: #69d1e9;
	display: flex;
	justify-content:center;
	align-items: center;
}
.picture2{
	position: relative;
	left: 90%;
	bottom: 220px;
}
.people{
	font-size: 10px;
	color: #a2a2a2;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 13px 0;
}
.circle0{
	display: flex;
	justify-content:center;
	align-items:center;
}
.circle{
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50px;
}
a:hover{
	background-color: #69d1e9;
}
