$border: 5px solid #fff;
$col-wr: #adadad;
@mixin center{
  width: 75%;
  margin: 0 auto;
}
@mixin flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  min-width: 320px;
  background-color: #f0f0f0;
}
header{
  background-color: #29bde0;
  padding: 13px 10px;
}
.menu-icon{
  width: 30px;
  height: 5px;
  border-top: $border;
  border-bottom: $border;
  background-color: #fff;
  padding: 5px 0;
  background-clip:content-box;
}
.content0{
  background-color: #fff;
  padding: 13px 0;
  @include center;
}
.col-wr {
  color: $col-wr;
  @include flex;
}
.picture1{
  position: fixed;
  right: 15%;
}
span{
  color: $col-wr;
  font-size: 10px;
}
.content1{
  @include center;
  background-color: #fff;
  margin-top: 10px;
  height: 400px;
  padding-bottom: 20px;
}
.title{
  border-bottom-style: solid;
  border-color: #fde1ae;
  border-width: 1px;
  color: #fdda9a;
  height: 40px;
  @include flex;
  margin-bottom: 10px;
}
.title1{
  @include center;
  height: 75px;
  background-color: #69d1e9;
  @include flex;
}
.picture2{
  position: relative;
  left: 90%;
  bottom: 220px;
}
.people{
  font-size: 10px;
  color: #a2a2a2;
  @include flex;
  padding: 13px 0;
}
.circle0{
  @include flex;
}
.circle{
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50px;
}
a:hover{
  background-color: #69d1e9;
}
