@charset "utf-8";
body {
  margin: 0;
}
.head {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #5fc0cd;
  width: 100%;
  line-height: 60px;
  text-align: center;
}
.head .homepage1 {
  display: inline-block;
  float: left;
  font-size: 35px ;
  color: #ffffff;
}
.head .homepage {
  font-size: 40px;
  color: #ffffff;
  margin-right: 25.79px;
}
.background {
  margin-top: 68px;
  background-image: url("../img/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  line-height: 60px;
}
.background .people {
  position: relative;
  right: -20px;
  top: 10px;
}
.background .people1 {
  max-height: 85px;
  max-width: 85px;
}
.background .box {
  display: inline-block;
  margin-left: 40px;
}
.background .box1 {
  height: 30px;
  color: #ffffff;
}
.background .box2 {
  height: 30px;
  color: #ffffff;
}
.main {
  margin: 0;
  padding: 0;
}
.main .margin1 {
  margin-left: 20px;
  padding-right: 5px;
  border-right: solid 1px #999999;
  color: #999999;
}
.main .padding {
  padding-left: 10px;
}
.main .time {
  color: #e26163;
}
.main .border {
  padding-left: 10px;
  border-left: solid 2px #5fc0cd;
  border-right: none;
  font-size: 25px;
  color: #666666;
}
.main .border1 {
  border-right: none;
  color: #666666;
}
.main li {
  line-height: 60px;
  border-bottom: solid 1px #999999;
}
.dy {
  position: relative;
  border-bottom: solid 1px #999999;
}
.dy1 {
  position: absolute;
  margin-left: 20px;
  margin-bottom: 300px;
  padding-right: 8px;
  border-right: solid 1px #999999;
  top: 50%;
  transform: translateY(-50%);
}
.dy2 {
  display: inline-block;
  margin-left: 100px;
}
.foot {
  position: fixed;
  width: 100%;
  bottom: 30px;
}
.foot .but {
  width: 34%;
  height: 40px;
  color: #5fc0cd;
  background-color: #ffffff;
  border: solid 1px #5fc0cd;
  margin-left: 10%;
}
.foot .but1 {
  width: 34%;
  height: 40px;
  margin-left: 10%;
  color: #ffffff;
  background-color: #5fc0cd;
  border: solid 1px #ffffff;
}
