@import "component/color/color-link";
@import "component/header/header-link";
@import "component/footer/footer-link";
@import "component/img/img-link";
@import "component/main/homepage-partner-link";
@import "component/main/homepage-slogan-link";
@import "component/main/homepage-student-link";
@import "component/main/homepage-study-link";
@import "component/partner/partner-link";
@import "component/position/position-link";
@import "component/carousel/carousel-link";
@import "component/link/link-link";
@import "component/global-style/global-link";