body{
	margin: 0;
	background-color: #eff0f4;
}
header{
	position: fixed;
	top: 0;
	background-color: #5fc0cd;
	width: 100vw;
	padding: 1.5rem 0;
}
main{
	padding-top: 5rem;
	background-color: #eff0f4;
	width: 100vw;
}


.regist{
	float: left;
	color:white;
	font-size: 1.5rem;
	margin-left: 2rem;
}

.close{
	float: right;
	color: white;
	font-size: 1.5rem;
	margin-right: 2rem;
}

.login{
	position: absolute;
	left: 50vw;
	margin-left: -1.5rem;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
}

.inputUp{
	margin: 1rem auto;
	height: 4.5rem;
	text-align: left;
	background: white url(./images/login_03.png);
	background-repeat: no-repeat;
	background-position: left;
	background-origin: content-box;
	background-size: 1.8rem;
	padding-left: 2rem;
}

.inputDown{
	margin: 1rem auto;
	height: 4.5rem;
	text-align: left;
	background: white url(./images/login_06.png);
	background-repeat: no-repeat;
	background-position: left;
	background-origin: content-box;
	background-size: 1.8rem;
	padding-left: 2rem;
}

input{
	margin: 1.125rem 0 1.125rem 4rem;
	padding: 0 0 0 2rem;
	width: calc(100% - 6.1rem);
	height: 50%;
	border-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: gray;
	outline-style: none;
	font-size: 1.5rem;
	border-radius: 0;
}

.loginbot{
	display: block;
	background-color: #5fc0cd;
	width: 100%;
	padding: 1.5rem 0;
	font-size: 1.5rem;
	text-align: center;
	color: white;
	border-style: none;
}

.forgetPW{
	float: right;
	margin-top: 1.5rem;
	margin-right: 1rem;
	font-size: 1.5rem;
	color: #5fc0cd;
}

a:link{text-decoration: none;}
a:visted{text-decoration: none;}
a:hover{text-decoration: none;}
