<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="header.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>首页</title>
</head>
<header>

        <div class="container">
            <div class="h-size nav-change1">
                <div class="inline-block">客服热线：010-594-78634</div>
                <span class="float-right">
                    <span class="img-x img-x3 inline-block "></span>
                    <span class="img-x img-x6 inline-block "></span>
                    <span class="img-x img-x7 inline-block "></span>
                </span>
            </div>
            <div class=" h-size3 nav-change2 text-right wgreen">
                <a>登陆</a>
                ｜
                <a>注册</a>
            </div>
        </div>

    <div class="cgreen">
        <div class="container ">
            <div class="h-size2">
                <nav>
                    <div class="inline-block float-left">
                        <a href="#"><span class="img-x img-x12 inline-block"></span></a>
                    </div>
                    <div class="nav-change1 float-right">
                        <a href="#" class="nav-top">首页</a>
                        <a href="#" class="nav-top">职业</a>
                        <a href="#" class="nav-top">推荐</a>
                        <a href="#" class="nav-top">关于</a>
                    </div>
                    <div class="nav-change2">
                        <button class="float-right nav-icon-wrap"
                                data-toggle="dropdown">
                            <div class="nav-icon1"></div>
                            <div class="nav-icon1 nav-icon-m"></div>
                            <div class="nav-icon1"></div>
                        </button>
                        <div class="menu dropdown-menu-right " aria-labelledby="dropdownMenu1" id="down">
                            <div class="nav-top2 border-color4"><a href="#">首页</a></div>
                            <div class="nav-top2"><a href="#">职业</a></div>
                            <div class="nav-top2"><a>推荐</a></div>
                            <div class="nav-top2"><a>关于</a></div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    $(".nav-icon-wrap").click(function () {
        $("#down").slideToggle(300)
    });
</script>

</html>
