html{
  font-size:62.5%;
}
body{
  background:#29bde0;
}
*{
  padding:0;
  margin:0;
}
.dsf{
  display:flex;
  justify-content:space-between;
  padding:2em;
  font-size:3em;
  color:#fff;
}
.text{
  margin:0 auto;
  width:30%;
  height:40em;
  border:2px solid #fff;
  background:#ffedc5;
}
.mrg{
  text-align:center;
  img{
    width:20vw;
  }
}
.bor-fr{
  margin-top:-25px;
}
.bor{
  margin:0 auto;
  border:2px solid yellow;
  width:50px;
  height:50px;
  line-height:50px;
  text-align:center;
  color:red;
  font-size:20px;
  border-radius:50%;
  background:#fff;
}
#btn{
  background:#fbb435;
  margin:0 auto;
  width:40%;
  font-size:2.6rem;
  height:5rem;
  line-height:5rem;
  color:#fff;
  text-align:center;
}
#qwe{
  display:none;
  background:#fbb435;
  margin:0 auto;
  width:40%;
  font-size:2.6rem;
  height:5rem;
  line-height:5rem;
  color:#fff;
  text-align:center;
}
.none{
  display:none;
}
ul,li{
  color:red;
  font-size:2em;
  list-style-type:none;
}