@color:red;
@colora:#b3b3b3;
@colorb:#e5e5e5;
@background:#fff;
@backgrounda:#5fc0cd;
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#5fc0cd;
}
.button1{
  outline: none;
  cursor: pointer;
  border: 1px solid #55a8b3;
  color: #fff;
  background: #55a8b3;
  font-size: 28px;
  border-radius: 10%;
}
.button2{
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  color: #55a8b3;
  background: #fff;
  font-size: 28px;
  margin-left: -.5rem;
  border-radius: 10%;
}
.footer{
  height: 23rem;
  background:#fff;
}

html{
  font-size: 62.5%;
  overflow-x:hidden;
}
body{
  margin: 0;
  padding: 0;
}
select{
  margin: 0;
  padding: 0;
}
.nav1{
  .top
}
.nav2{
  .button1;
}
.nav3{
  .button2;
  margin:1rem -.5rem;
}
.nav4{
  padding-right: 2rem;
}
main header{
  height: 4rem;
  border-bottom: 1px solid gainsboro;
}
select{
  width:32.5%;
  color:#ccc;
  font-size:2rem;
  border:0;
  outline:none;
  border-right:1px solid #ccc;

}
.main1{
  .footer;
  padding-left: 1rem;
  margin: 1.5rem 0 .5rem 0;
  border-bottom: 1px solid gainsboro;
  font-size: 2.8vw;
  .main2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .main3{
    display: flex;
    align-items: center;
    padding-left: 3rem;
  }
  .main4{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-right: 2rem;
    img{
      margin-bottom:-.5rem;
      padding-top: 1rem;
      width: 2.8vw;
    }
  }

  .main5{
    .main3;
    color:@color;
  }
}
@media screen and (max-width: 900px){
  .main1{
    height: 20rem;
  }
}
.td{
  width:100%;
  border-top:1px solid #ccc;
  display:flex;
  flex-flow:column;
  margin-top:.5rem;
  padding-left:2rem;
  font-size:1.4rem;
}
.td1{
  margin-top:2rem;
}
.td2{
  padding-right:2rem;
  margin:2rem;
  display: flex;
  justify-content:space-between;
  align-items:center;
  img{
    margin-top:.5rem;
    width:1rem;
    height:2rem;
  }
}
.td4{
  margin-bottom:2rem;
}
@media screen and (max-width: 800px) {
  .main1{
    height: 18rem;
  }
}
footer{
  display: flex;
  justify-content: space-around;
  height: 6.5rem;
  background: #f8fafb;
  .footer1{
    margin-top: 1rem;
    text-align: center;
    color: #5fc0cd;
  }
  .footer2{
    margin-top: 1rem;
    text-align: center;
    color: gainsboro;
  }
}

