@gerrn:#29b078;
@fff:#fff;
@color:#fafafa;

.dfjsb{
  display:flex;
  justify-content:space-between;
  align-items:center;

}

a{
  text-decoration:none;
}

.yui{
  .dfjsb;
  padding:0 2rem;
}

.rty{
  .dfjsb
}

.dfjsa{
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.dfffr{
  display:flex;
  flex-flow:column;
  align-items:center;
  padding-left:1.5em;
  justify-content:center;
}

.dfrr{
  display:flex;
  flex-direction:row-reverse;
  color:@fff;
}

.tac{
  text-align:center;
}

html{
  font-size:62.5%;
  overflow-x: hidden;
}

body{
  margin:0;
  padding:0;
  background:#fafafa;
}

.hdtp{
  .dfjsb;
  padding:0 2rem;
  .hdct{
    color:@gerrn;
  }
  .hdbm{
    .dfjsb;
    padding-right:2rem;
    width:15%;
  }
}

.hdmn{
  .dfrr;
  justify-content:space-between;
  padding:0 2rem;
  background:@gerrn;
  height:7.2rem;
  font-size:1.6vw;
  .hdmnq{
    display:flex;
    flex-flow:row-reverse;
    width:70%;
    padding-right:2rem;
  }
  .hdmnc{
    text-align:center;
    height:7rem;
    line-height:7rem;
    width:8%;
    &:hover{
      border-bottom:3px solid #fff;
    }
  }
}

@media screen and(max-width:1000px){
  .hdmn .hdmnc{
    width:25%;
  }
}

.mnftr{
  margin-top:1.3em;
}

.setting{
  height:3em;
  padding:0 4em 0 24px;
  font-size:1.6em;
  border-bottom:1px solid #ccc;
  a{
    color:green;
  }
}

.text{
  padding:0 64px 0 2em;
  height:2em;
  border-bottom:1px solid #ccc;
  a{
    color:#000;
    &:hover{
      background:green;
      color:#fff;
    }
  }
}


strong{
  display:block;
  height:3em;
  border-bottom:1px solid #ccc;
  margin:0 64px 0 24px;
  font-size:16px;
  text-align:center;
}

.tab{
  width:330px;
  margin-top:1em;
  border:1px solid #ccc;
  img{
    width:90px;
    height:90px;
    margin:1em;
  }
}

.tae{
  width:330px;
  border:1px solid #ccc;
  border-top:0;
  .w200{
    width:180px;
    height:2em;
    border-right:1px solid #ccc;
  }
  b{
    color:red;
  }
  img{
    width:10px;
    height:10px;
  }
}

.boa{
  border:1px solid #ccc;
  border-bottom:0;
  border-top:0;
  .w145{
    text-align:center;
    width:130px;
    border-right:1px solid #ccc;
  }
  .w199{
    width:187px;
    border-bottom:1px solid #ccc;
  }
}

.dsf{
  display:flex;
  justify-content:space-between;
  margin:0 2em;
}



.ttt{
  font-size:12px;
  width:330px;
  border:1px solid #ccc;
}

.footer-top{
  background:@gerrn;
  color:@fff;
}

.footer-center{
  padding-right:.5em;
  border-right:1px solid @fff;
}

.footer-bottom{
  padding-bottom:.3em;
  height:1.5rem;
  &:hover{
    border-bottom:1px solid @fff;;
  }
}

@media screen and (max-width:1000px){
  .yui{
    display:flex;
    flex-flow:column;
  }
}
@media screen and (max-width:1000px){
  .dsf{
    display:flex;
    flex-flow:column;
    width:100%;
  }
  .text{
    padding:0;
  }
  strong{
    margin:0;
    display: block;
    height: 3em;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
  }

  .hdmn{
    padding:0;
  }
.setting{
  margin:0;
}
  .center{
    margin:0 auto;
  }

  .tab{
    width:90%;
  }

  .tae{
    width:90%;
  }

  .boa{
    width:90%;
  }

  .ttt{
    width:90%;
  }
}
.summary{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 310px;
  transition: ALL 3s ease-in-out;
}
.re{
   display:block;
  position:relative;
  top:0;
 }
.summary:hover{
  display:block;
  opacity: .8;
  background:black;
  color: white;
  transform: rotate(360deg);
  padding: 0 2rem;
  margin: 1rem 2rem 0 2px;
}

@media screen and (max-width:1000px){
  .summary{
    width:83%;
  }
}
@media screen and (max-width:600px){
  .summary{
    width:73%;
  }
}