html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f0f0f0;
}

header {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: rgb(95, 192, 205);
}

.register {
    margin-left: 10px;
    float: left;
    left: 0;
}

.close {
    margin-right: 10px;
    float: right;
}

.logintop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}

input:-ms-input-placeholder {
    color: #B4B4B4;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #B4B4B4;
    opacity: 1;
}

.phone, .password {

    margin-top: 10px;

}

.phone img, .password img {
    width: 65px;
    height: 50px;
    vertical-align: middle;
}

.phone input, .password input {

    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
}

button {
    color: #fff;
    background-color: rgb(95, 192, 205);
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    font-weight: bold;
    font-size: 16px;

}

.forget {
    color: rgb(95, 192, 205);
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}




