@fullwidth: 100%;
@fullheight: 100%;
@bg-content: #fafafa;
@base: #29b078;
@font-size: 14px;
@color: #bfbfbf;

html {
  font-size: 62.5%;
}

body, p {
  margin: 0;
  padding: 0;
}

header {
  width: @fullwidth;
  .row {

    .col-md-12 {
      height: 2.3rem;
      line-height: 2.3rem;
      a {
        font-size: @font-size;
        color: @base;
        &:hover {
          text-decoration: none;
          color: red;
        }
      }
      .text-right {
        float: right;
      }
    }
  }

  .list {
    width: 100%;
    height: 7rem;
    background-color: @base;
    .col-md-12 {
      img {
        padding: 2em 0;
      }
      ul {
        float: right;
        li {
          list-style: none;
          font-size: 1.2em;
          float: right;
          a {
            color: white;
            display: block;
            float: left;
            width: 5em;
            height: 5.2em;
            line-height: 5em;
            text-decoration: none;
            text-align: center;
            padding: 0 1.2em;
            margin: 0 .5em;
            font-size: @font-size+2;
            &:hover {
              position: relative;
              border-bottom: .3em solid white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px)and(max-width: 780px) {
  header {
    width: @fullwidth;
    .row {

      .col-md-12 {
        height: 2.3rem;
        line-height: 2.3rem;
        a {
          font-size: @font-size;
          color: @base;
          &:hover {
            text-decoration: none;
            color: red;
          }
        }
        .text-right {
          float: right;
        }
      }
    }

    .list {
      width: 100%;
      height: 7rem;
      background-color: @base;
      #top {
        img {
          display: none;
        }
        ul {
          float: right;
          li {
            list-style: none;
            font-size: 1.2em;
            float: right;
            margin: 0 -20px;
            a {
              color: white;
              display: block;
              float: left;
              width: 5em;
              height: 5.2em;
              line-height: 5em;
              text-decoration: none;
              text-align: center;
              padding: 0 1.2em;
              margin: 0 .5em;
              font-size: @font-size+2;
              &:hover {
                position: relative;
                border-bottom: .3em solid white;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

main {
  width: @fullwidth;
  background-color: #fafafa;
  p {
    font-size: @font-size+2;
    line-height: 85px;
    border-bottom: 1px solid #eceeef;
    a {
      color: @base;
      &:hover {
        color: red;
        text-decoration: none;
      }
    }
  }

  .list {
    font-size: @font-size;
    color: @base;
    line-height: 65px;
    border-bottom: 1px solid #f6f7f7;
    a {
      b {
        color: black;
        &:hover {
          color: white;
          text-decoration: none;
          background-color: @base;
        }
      }
    }

  }

  .col-md-4 {
    .inter {
      width: 100%;
      background-color: white;
      height: 47rem;
      margin-top: 5%;
      border: .2rem solid #f9fafb;
      color: #9f9f9f;
      .header {
        padding: 1% 2%;
        height: 215px;
        border-bottom: 1px solid #f7f9f9;

        .hum {
          float: left;
          width: 35%;
          height: 170px;
        }
        .header-right {
          padding-left: 3%;
          display: inline-block;
          width: 63%;
          font-size: @font-size;
          color: black;
          word-wrap: break-word;
          b {
            font-size: @font-size+2;
          }
        }
      }

    }

    .center {
      width: 100%;
      height: 7.5rem;
      b {
        color: red;
      }
      .center-left {
        width: 50%;
        height: 3.8rem;
        display: inline-block;
        border: .1rem solid #f9fafb;
        border-left: none;
        border-top: transparent;
        line-height: 3.8rem;
        float: left;
        padding-left:.4em;
        a{
          color: black;
        }

      }
    }

    .content {
      width: 100%;
      height: 10rem;
    }

    .content1 {
      width: 40%;
      line-height: 10rem;
      text-align: center;
      display: inline-block;
      float: left;

    }

    .content2 {
      display: inline-block;
      width: 60%;
      float: left;
    }

    .content2-1 {
      display: block;
      line-height: 4.5rem;
      border: .1rem solid #f9fafb;
      border-top: none;
      color: black;
      padding-left:1em;
    }



    .end-top {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-top: .1rem solid #f9fafb;
      float: left;
      font-size: @font-size;
      color: black;
      font-weight: bold;
    }
    .end-end{
      width: 100%;
      height: 40px;
      border-top: .1rem solid #f9fafb;
      float: left;
    }

    .hover {
      width: 100%;
      height: 47rem;
      background-color: black;
      color: white;
      opacity: 0;
      font-size: 1.5rem;
      transition: all 1s;
      position: absolute;
      top: 1rem;
      left: -0.1rem;
      transform: rotateY(-180deg);

    }

    .inter:hover .hover {
      transform: rotateY(0);
      opacity: 0.7;

    }


  }
}


@media (min-width: 768px) and(max-width: 1000px){
  main {
    width: @fullwidth;
    background-color: #fafafa;
    p {
      font-size: @font-size+2;
      line-height: 85px;
      border-bottom: 1px solid #eceeef;
      a {
        color: @base;
        &:hover {
          color: red;
          text-decoration: none;
        }
      }
    }

    .list {
      font-size: @font-size;
      color: @base;
      line-height: 65px;
      border-bottom: 1px solid #f6f7f7;
      a {
        b {
          color: black;
          &:hover {
            color: white;
            text-decoration: none;
            background-color: @base;
          }
        }
      }

    }

    .col-md-4 {
      max-width: none;
      flex:none;

      .inter {
        width: 100%;
        background-color: white;
        height: 47rem;
        margin-top: 5%;
        border: .2rem solid #f9fafb;
        color: #9f9f9f;
        .header {
          padding: 1% 2%;
          height: 215px;
          border-bottom: 1px solid #f7f9f9;

          .hum {
            float: left;
            width: 35%;
            height: 170px;
          }
          .header-right {
            padding-left: 3%;
            display: inline-block;
            width: 63%;
            font-size: @font-size;
            color: black;
            word-wrap: break-word;
            b {
              font-size: @font-size+2;
            }
          }
        }

      }

      .center {
        width: 100%;
        height: 7.5rem;
        b {
          color: red;
        }
        .center-left {
          width: 50%;
          height: 3.8rem;
          display: inline-block;
          border: .1rem solid #f9fafb;
          border-left: none;
          border-top: transparent;
          line-height: 3.8rem;
          float: left;
          padding-left:.4em;
          a{
            color: black;
          }

        }
      }

      .content {
        width: 100%;
        height: 10rem;
      }

      .content1 {
        width: 40%;
        line-height: 10rem;
        text-align: center;
        display: inline-block;
        float: left;

      }

      .content2 {
        display: inline-block;
        width: 60%;
        float: left;
      }

      .content2-1 {
        display: block;
        line-height: 4.5rem;
        border: .1rem solid #f9fafb;
        border-top: none;
        color: black;
        padding-left:1em;
      }



      .end-top {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-top: .1rem solid #f9fafb;
        float: left;
        font-size: @font-size;
        color: black;
        font-weight: bold;
      }
      .end-end{
        width: 100%;
        height: 40px;
        border-top: .1rem solid #f9fafb;
        float: left;
      }

      .hover {
        width: 100%;
        height: 47rem;
        background-color: black;
        color: white;
        opacity: 0;
        font-size: 1.5rem;
        transition: all 1s;
        position: absolute;
        top: 1rem;
        left: -0.1rem;
        transform: rotateY(-180deg);

      }

      .inter:hover .hover {
        transform: rotateY(0);
        opacity: 0.7;

      }


    }
  }
}
footer {
  width: 100%;
  background-color: #26a26f;
  color: white;
  padding: 0 10%;
  font-size: @font-size;

  .k1 {
    height: 5em;
    p {
      margin: 1em 0;
    }
  }

  .k2 {
    .k1;
    a {
      margin: 1em 1em 0 0;
      color: white;
      &:hover {
        color: red;
      }
    }
  }
  .k3 {
    text-align: center;
    margin-top: 1em;
  }
  .k4 {
    text-align: center;
  }
}
