@fullwidth: 100%;
@fullheight: 100%;
@bg-content: #fafafa;
@base: #29b078;
@font-size: 14px;
@color: #bfbfbf;

html {
  font-size: 62.5%;
}

body, p {
  margin: 0;
  padding: 0;
}

header {
  width: @fullwidth;
  .row {

    .col-md-12 {
      height: 2.8rem;
      line-height: 2.8rem;
      a {
        font-size: @font-size;
        color: @base;
        &:hover {
          text-decoration: none;

        }
      }
      .text-right {
        float: right;
        img{
          margin:0 5px;
        }
      }
    }
  }

  .list {
    width: 100%;
    height: 7rem;
    background-color: @base;
    .col-md-12 {
      img {
        padding: 2em 0;
      }
      ul {
        float: right;
        margin-right:-27px;
        li {
          list-style: none;
          font-size: 1.2em;
          float: right;
          a {
            color: white;
            display: block;
            float: left;
            width: 5em;
            height: 5.2em;
            line-height: 5em;
            text-decoration: none;
            text-align: center;
            padding: 0 1.2em;
            margin: 0 .5em;
            font-size: @font-size+2;
            &:hover {
              position: relative;
              border-bottom: .3em solid white;
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
  #myCarousel {
    .carousel-indicators {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      z-index: 15;
      width: 60%;
      padding-left: 0;
      margin-left: -30%;
      text-align: center;
      list-style: none;
    }
    .carousel-inner {
      position: relative;
      width: 100%;
      height: 30rem;

      img {
        width: 100%;
        height: 20rem !important;

      }
    }
  }
}

@media (min-width: 320px)and(max-width: 660px) {
  header {
    width: @fullwidth;
    .text {
      height: 2.8rem;
      line-height: 2.8rem;
      padding: 0 5%;
      a {
        font-size: @font-size;
        color: @base;
        &:hover {
          text-decoration: none;
        }
      }
      .text-right {
        float: right;
        img{
          margin:0 2px;
        }
      }

    }

    .list {
      height: 7rem;
      background-color: @base;
      color: white;
      padding:0 ;

      img{
        display: none;
      }
      ul {
        margin-right:0px !important;
        li {
          list-style: none;
          font-size: 1.2em;
          float: right;
          margin: 0 -1.6em;
          a {
            display: block;
            float: left;
            width: 5em;
            height: 5.2em;
            line-height: 5em;
            text-decoration: none;
            text-align: center;
            padding: 0 1.2em;
            margin: 0 .5em;
            font-size: @font-size+2;
            &:hover {
              position: relative;
              border-bottom: .3em solid white;
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
   #demo{
     .carousel-inner{
       img{
         width: 100%;
       }
     }
   }
  }
}

main {
  width: @fullwidth;
  padding: 0 10%;
  background-color: #fafafa;
  .box1 {
    width: 100%;
    padding: 5% 0 0 0;
    text-align: center;
    .box1-left {
      padding-top: 1em;

      b {
        display: block;
        margin-top: 1em;
        font-size: @font-size+4;
      }
      p {
        font-size: @font-size+2;
        padding: 5% 0;
        color: #cecece;
        text-align: left;
      }
    }

    .box1-right {
      padding-top: 6em;
      text-align: left;
      margin-left: 4em;
      font-size: @font-size+4;
      b {
        color: @base;
      }
      p {
        color: #cecece;
      }

    }
  }

  .box2 {
    .header {
      text-align: center;
      line-height: 16rem;
      font-size: @font-size+4;
      font-weight: bold;
    }

    .col-md-3 {
      span{
        display: inline-block;
        width: 10em;
        font-size: @font-size;
        color: #c6c6c6;
      }

    }
  }


  .box3{
    .box2;
    text-align: center;
    padding:2em 2em;

    .white{
      width: 100%;
      background-color: white;
      padding:2em 1em;
      b{
        display: block;
        padding:1em 0;
        font-size: @font-size+4;
      }

      p{
        text-align: left;
        font-size: @font-size+2;
        color: #cecece;
        padding:20px;
      }
    }
  }


  .box4{
    .box2;
    padding-bottom: 5em;

    .col-md-12{
      width: 100%;
      background-color: white;
      text-align: center;

      img{
        padding:2em 1em;
      }
      .logo{
        box-shadow: 1px 1px 23px  -3px #7f7f7f;
        &:hover{
          transform: scale(1.1);

        }
      }
    }
  }
}

@media (min-width: 320px)and (max-width:1360px ) {
  main {
    width: @fullwidth;
    padding: 0 10%;
    background-color: #fafafa;
    .box1 {
      width: 100%;
      padding: 5% 0 0 0;
      text-align: center;
      .box1-left {
        padding-top: 1em;

        b {
          display: block;
          margin-top: 1em;
          font-size: @font-size+4;
        }
        p {
          font-size: @font-size+2;
          padding: 5% 0;
          color: #cecece;
          text-align: left;

        }
      }

      .box1-right {
        padding-top: 6em;
        text-align: left;
        margin-left: 4em;
        font-size: @font-size+4;
        b {
          color: @base;
        }
        p {
          color: #cecece;
        }

      }
    }

    .box2 {
      .header {
        text-align: center;
        line-height: 16rem;
        font-size: @font-size+4;
        font-weight: bold;
      }

      .col-md-3{

        img{
          float:left;
        }

        .arrow{
          display: none;
        }

        span{
          display: inline-block;
          width: 7em;
          font-size: @font-size;
          color: #c6c6c6;
        }

      }
    }


    .box3{
      .box2;
      text-align: center;

      .white{
        width: 100%;
        background-color: white;
        padding:2em 1em;

        b{
          display: block;
          padding:1em 0;
          font-size: @font-size+4;
        }

        p{
          text-align: left;
          font-size: @font-size+2;
          color: #cecece;
        }
      }
    }


    .box4{
      .box2;
      padding-bottom: 5em;

      .photos{
        width: 100%;
        background-color: white;
        text-align: center;

        img{
          display: block;
          padding:2em 1em;
        }
        .logo{
          box-shadow: 1px 1px 1px 1px #7f7f7f;
          &:hover{
            transform: scale(1.1);

          }
        }
      }
    }
  }
}

nav{
  padding:0 10%;
  height:20em;
  .header {
    text-align: center;
    font-size: @font-size+4;
    font-weight: bold;
    padding-top: 2em;
  }
  ul{
    font-size: 1.5rem;
    clear: both;
    li{
      float: left;
      margin: 1em 1.8em;
      color: #a6a6a6;
      a{
        color: #a6a6a6;
        &:hover{
          color: #a6a6a6;

        }
      }

    }
  }
}

@media (min-width: 320px) and (max-width: 1300px){
  nav{
    padding:0 10%;
    height: 62em;
    .header {
      text-align: center;
      font-size: @font-size+4;
      font-weight: bold;
      padding-top: 2em;
    }
    ul{
      font-size: 1.5rem;
      li{
        margin: 1em 1.8em;
        float:none;
        color: #a6a6a6;
        a{
          color: #a6a6a6;
          display: block;
           &:hover{
             color: #a6a6a6;
           }
        }

      }
    }
  }
}


footer{
  width: 100%;
  background-color: #26a26f;
  color: white;
  padding:0 10%;
  font-size: @font-size;

  .k1{
    height: 5em;
    p{
      margin:1em 0;
    }
  }

  .k2{
    .k1;
    padding-left: 12%;
    a{
      margin:1em 1em 0 0;
      color: white;
    }
  }
  .k3{
    text-align: left;
    margin-top: 1em;
    padding-left: 65%;
  }

}

@media  (min-width: 320px) and (max-width: 768px){
  footer{
    width: 100%;
    background-color: #26a26f;
    color: white;
    padding:0 10%;
    font-size: @font-size;

    .k1{
      height: 5em;
      p{
        margin:1em 0;
      }
    }

    .k2{
      .k1;
      padding-left: 0px;
      a{
        margin:1em 1em 0 0;
        color: white;
      }
    }
    .k3{
      text-align: left;
      margin-top: 1em;
      padding-left:0;
    }

  }
}

.k4{
  text-align: center;
  border-top: 1px solid #2aac77;
  background-color: #26a26f;
  color: white;
}





