@base: #f0f0f0;
@bgcolor: #29bde0;
@fullwidth: 100%;
@fullheight: 100%;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: @bgcolor;
}

p {
  margin: 0;
  padding: 0;
}

header {
  width: @fullwidth;
  height: 7rem;
  text-align: center;
  border-bottom: 1px solid #42c5e4;

  .top-left {
    float: left;
    position: relative;
    top: 2.6rem;
    left: 2%;
  }
  .top-right {
    float: right;
    position: relative;
    top: 2.6rem;
    right: 2%;
  }

  a {
    display: inline-block;
    line-height: 8rem;
    color: white;
    font-size: 34px;

  }
}

main {
  text-align: center;
  margin-top: 5em;

  .box {
    width: 74%;
    height: 500px;
    background-color: #ffedc5;
    border: 5px solid white;
    margin: 0 13%;
    .circle {
      position: relative;
      top: -38px;

    }

    .logo img {
      display: block;
      width: 230px;
    }

    p {
      font-size: 40px;
    }

    .text {
      height: 100px;
      border-top: 3px solid white;
      p {

        text-align: left;
        padding: 0 25%;
        margin-top: 1em;
        font-size: 20px;
        color: orange;
      }
    }
  }
}

@media (min-width: 320px)and (max-width:650px ){
  main {
    text-align: center;
    margin-top: 5em;

    .box {
      width: 74%;
      height: 500px;
      background-color: #ffedc5;
      border: 5px solid white;
      margin: 0 13%;
      .circle {
        position: relative;
        top: -38px;

      }

      .logo img {
        display: block;
        width: 230px;
      }

      p {
        font-size: 20px;
      }

      .text {
        height: 100px;
        border-top: 3px solid white;
        p {

          text-align: left;
          padding: 0 5%;
          margin-top: 1.5em;
          font-size: 15px;
          color: orange;
        }
      }
    }
  }
}

footer {
  text-align: center;
  button {
    background-color: orange;
    width: 80%;
    height: 85px;
    color: white;
    font-size: 40px;
    margin-top: .5em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: .5em;

  }

}

@media (min-width: 320px)and (max-width:650px ){
  footer {
    text-align: center;
    button {
      background-color: orange;
      width: 80%;
      height: 85px;
      color: white;
      font-size: 32px;
      margin-top: .5em;
      border: none;
      outline: none;
      cursor: pointer;
      margin-bottom: .5em;

    }

  }
}