html {
    font-size: 625%;
}

body {
    margin: 0;
    padding: 0;
    font-size: .15rem;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .44rem;
    width: 100%;
    background: #5fc0cd;
}

.left {
    font-size: .18rem;
    height: .35rem;
    width: .75rem;
    border-radius: .05rem;
    border: 0;
    color: #ffffff;
    background: #55a8b3;
}

.right {
    font-size: .18rem;
    height: .35rem;
    width: .75rem;
    border-radius: .05rem;
    border: 0;
    color: #5fc0cd;
    background: #ffffff;
}

nav {
    position: fixed;
    top: .44rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .40rem;
    width: 100%;
    padding: 0;
    background: #ffffff;
    border-bottom: 1px solid #e1e5e7
}

::-webkit-scrollbar{
  display:none;
}

main {
    position: fixed;
    top: .84rem;
    bottom: .50rem;
    width: 100%;
    overflow-y: scroll;
    z-index: -1;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .50rem;
    width: 100%;
    border-top: 1px solid #e1e5e7;
}

.btn-1 {
    border: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.btn-2 {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
}

.btn-3 {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
    border-left: solid 1px #e1e5e7;
    border-right: solid 1px #e1e5e7;
}



.icon1 {
    position: absolute;
    right: .10rem;
    width: 42px;
    height: 44px;
    background-image: url(images/css_sprites.png);
    background-position: 0 -128px;
    transform: scale(0.5);
}

.icon2 {
    width: 46px;
    height: 40px;
    background-image: url(images/css_sprites.png);
    background-position: 0 -47px;
    transform: scale(0.5);
}

.icon3 {
    width: 94px;
    height: 94px;
    background-image: url(images/css_sprites.png);
    background-position: 0 -172px;
    transform: scale(0.5);
}

.icon4 {
    width: 42px;
    height: 41px;
    background-image: url(images/css_sprites.png);
    background-position: 0px -87px;
    transform: scale(0.5);
}

.icon5 {
    width: 24px;
    height: 24px;
    background-image: url(images/css_sprites.png);
    background-position: 0px -23px;
    transform: scale(0.5);
    display: inline-block;
    position: relative;
    top: .07rem;
}

.icon6 {
    width: 19px;
    height: 23px;
    background-image: url(images/css_sprites.png);
    background-position: 0 0 ;
    transform: scale(0.5);
    display: inline-block;
    position: relative;
    top: .08rem;
}

.icon7 {
    color: #5fc0cd;
    margin-left: .10rem;
}

.icon8 {
    position: absolute;
    right: .10rem;
    top: 50%;
}

.infor {
    width: 100%;
    height: .90rem;
}

.date {
    margin-left: .24rem;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}

.text-center {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: .05rem;
}

.date-add {
    color: #999999;
}

.price {
    float: right;
    margin-right: .15rem;
    color: #e63b0e;
    white-space:nowrap; 
}


hr {
    margin:0;
    position: relative;
    top: .08rem;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #5fc0cd;
}

.text-one {
    position: relative;
    bottom: .06rem;
    font-size: .12rem;
}

.yzh {
    text-align: center;
    padding: 0;
    min-width:100% ;
}

