*{
    margin: 0;
    padding: 0;
}
.header{
    height: 14vw;
    background: #29bde0;
}
.header img{
    width: 5.5vw;
    height: 5.5vw;
    padding-left: 3.6vw;
    padding-top: 4.5vw;
}
.wrap{
    background:#f0f0f0;
    padding-bottom:9.4vw;
}
.last{
    width: 89vw;
    height: 18.7vw;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.7vw;
    margin-bottom: 4.7vw;
    border: 1px solid #c9c9c9;
    position: relative;
}
.last span{
    font-size: 5.3vw;
    line-height: 18.7vw;
    color: #9a9a9a;
    margin-left: 17vw;
}
.last img{
    height: 6.3vw;
    width: 4vw;
    position: absolute;
    right: 2.3vw;
    top: 6.3vw;
}
.classify{
    width: 89vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid #cecece;
    background:white;
}
.classify .top{
    height: 14vw;
    width: 100%;
    font-size: 5.6vw;
    color: #fbb435;
    border: none;
    outline: none;
    border-bottom: 2px solid #fbb435;
    margin-bottom: 4.7vw;
    background: white;
}
.classify .edition{
    width: 71.8vw;
    height: 20.9vw;
    background: #69d1e9;
    border: none;
    outline: none;
    margin-left: 8.6vw;
    font-size: 5vw;
    color: white;
}
.classify .user{
    height: 12.5vw;
    width: 100%;
    border: none;
    outline: none;
    background: white;
    font-size: 3.75vw;
    color: #787878;
}
.classify img{
    width: 4.4vw;
    height: 8.8vw;
    position: absolute;
    right:1.3vw;
    top: 58vw;
}
