*{
    margin: 0;
    padding: 0;
}
html{
    background: #68cdd5;
}
.hender{
    position: relative;
    background: #68cdd5;
}
.nav{
    height: 11.7vw;
    background: black;

}
.nav .arrow{
    width: 3.43vw;
    height:5.93vw;
    position: absolute;
    top: 3.12vw;
    left: 2.81vw;
}
.nav .back{
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 3.43vw;
    left:7.81vw;
}
.nav .lens{
    color: white;
    font-size: 5.31vw;
    text-align: center;
    line-height: 11.7vw;
}
.nav .right{
    width: 6.25vw;
    height: 1.56vw;
    position: absolute;
    right: 2.81vw;
    top: 5.15vw;
}
.main .mark{
    width:8.59vw;
    height: 8.59vw;
    margin-top: 3.12vw;
    margin-left: 5.46vw;
    margin-bottom: 7vw;
}
.main .ptt{
    text-align: center;
}
.main .ptt img{
    width: 28.59vw;
    height: 11.7vw;
}
.main .text{
    font-size: 4.6vw;
    color: white;
    width: 70%;
    margin: auto;
    margin-bottom: 28.12vw;
}
.main .touch{
    width: 70%;
    margin: auto;
    /*padding-bottom: 32.81vw;*/
}
.main .touch p{
    color: white;
    margin-top: 5vw;
}
.main .touch .qq-number img{
    width: 13.2vw;
    height: 13.2vw;
}
.main .touch .qq-number p{
    font-size: 1.46vw;
}
.main .touch .qq-number{
    float: left;
}
.main .touch .website img{
    width: 13.2vw;
    height: 13.2vw;
}
.main .touch .website p{
    font-size: 1.46vw;
}
.main .touch .website{
    float: right;
}
.clear{
    clear: both;
}
