*{
    margin: 0;
    padding: 0;
}
body{
    width: 500px;
    height: 500px;
    margin: auto;
}
div{
    width: 30%;
    height: 30%;
    background: orange;
    float: left;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-radius: 10px;
}
input{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    height: 30px;
    border: 1px solid orange;
    background: white;
    color: orange;
    outline: none;
}