*{
    margin: 0;
    padding: 0;
}
.header{
    height: 12.5vw;
    background: #29bde0;
    position: relative;
}
.header .zoom{
    width: 6.56vw;
    height: 6.56vw;
    position: absolute;
    left: 3.12vw;
    top: 3vw;
}
.header span{
    font-size: 5.31vw;
    position: absolute;
    left: 43vw;
    top: 2.5vw;
    color: white;
}
.header .bad{
    width: 5.93vw;
    height: 5.93vw;
    position: absolute;
    right: 3.12vw;
    top: 3vw;
}
.debate{
    height: 12.5vw;
    background: #b9e9f5;
    position: relative;
}
.debate span{
    font-size: 4.21vw;
    position: absolute;
    left:7.8vw ;
    top:3.12vw ;
}
.debate img{
    width: 8.28vw;
    height: 8.28vw;
    position: absolute;
    right:2.8vw ;
    top:2.12vw ;
}
.vote{
    height: 20vw;
    background: #29bde0;
    position: relative;
}
.vote .entity{
    position: absolute;
    left: 11.25vw;

}
