* {
  margin: 0;
  padding: 0;
}
.whole .hender {
  height: 12.5vw;
  background: #5fc0cd;
  position: relative;
}
.whole .hender .hirer {
  width: 40vw;
  height: 9.7vw;
  background: #55a8b3;
  border-radius: 10px;
  position: absolute;
  top: 1.4vw;
  left: 30vw;
  font-size: 4.58vw;
  text-align: center;
  line-height: 9.7vw;
  color: white;
}
.whole .hender .hirer .worker {
  width: 20vw;
  height: 9.7vw;
  float: right;
  background: white;
  border-radius: 10px;
  color: #5fc0cd;
}
.whole .hender img {
  float: right;
  width: 5.8vw;
  height: 6.2vw ;
  position: absolute;
  top: 3vw;
  right: 4.16vw;
}
.whole .news {
  height: 11vw ;
  font-size: 3.47vw;
  color: #999999;
  position: relative;
  border-bottom: 1px solid #999999;
}
.whole .news .seat {
  float: left;
  line-height: 11vw;
  position: absolute;
  left: 9.44vw;
}
.whole .news .option {
  width: 1.8vw;
  height: 1.1vw;
  float: left;
}
.whole .news .option1 {
  position: absolute;
  left: 29.8vw;
  top: 4.95vw ;
}
.whole .news .case1 {
  width: 2px;
  height: 3.3vw;
  background: #e1e5e7;
  position: absolute;
  left: 33.33vw;
  top: 3.85vw ;
}
.whole .news .food {
  float: left;
  line-height: 11vw;
  position: absolute;
  left: 45.27vw;
}
.whole .news .option2 {
  position: absolute;
  left: 63vw;
  top: 4.95vw ;
}
.whole .news .case2 {
  width: 2px;
  height: 3.3vw;
  background: #e1e5e7;
  position: absolute;
  left: 66.5vw;
  top: 3.85vw ;
}
.whole .news .sick {
  float: left;
  line-height: 11vw;
  position: absolute;
  right: 11.11vw;
}
.whole .news .option3 {
  position: absolute;
  right: 4.16vw;
  top: 4.95vw ;
}
.whole .time {
  height: 25vw;
  font-size: 3.61vw;
  position: relative;
}
.whole .time .calen {
  width: 3.33vw;
  height: 3.33vw;
  margin-top: 4.16vw;
  margin-left: 4.16vw;
}
.whole .time .date {
  margin-left: 2vw;
  color: #cccccc;
}
.whole .time .hour {
  position: absolute;
  top: 11.11vw;
  left: 9.44vw;
}
.whole .time .price {
  position: absolute;
  top: 11.11vw;
  right: 9.7vw;
  color: #e9532b;
}
.whole .time .opt {
  width: 2.7vw;
  height: 4.58vw;
  position: absolute;
  top: 11.11vw;
  right: 4.16vw;
}
.whole .time .local {
  width: 2.5vw;
  height: 2.7vw;
  position: absolute;
  top: 20.55vw;
  left: 4.16vw;
}
.whole .time .soil {
  position: absolute;
  top: 19.55vw;
  left: 9.44vw;
}
.whole .table {
  height: 13.88vw;
  background: #f8fafb ;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.whole .table .ble {
  position: relative;
}
.whole .table .ble .home {
  width: 6.66vw;
  height: 5.55vw;
  position: absolute;
  left: 23vw;
  top: 2vw;
}
.whole .table .ble .page {
  font-size: 2.7vw;
  position: absolute;
  left: 24vw;
  top: 9.44vw;
}
.whole .table .ble .write {
  width: 13.19vw;
  height: 13.19vw;
  position: absolute;
  left: 43vw;
  top: 0.5vw;
}
.whole .table .ble .peo {
  width: 6vw ;
  height: 5.55vw ;
  position: absolute;
  right: 23.6vw;
  top: 2vw;
}
.whole .table .ble .my {
  font-size: 2.7vw;
  position: absolute;
  right: 24vw;
  top: 9.44vw;
}
