html{
    font-size:625%!important;
}
body{
    margin:0;
    padding:0;
}
.header{
    background-color: #1d7ad9;
    width:100%;
    height:0.5rem;
    position: relative;
    font-size: 0;
}
.kefu{
    width:30%;
    height:0.5rem;
    font-size: 0.15rem;
    line-height: 0.5rem;
    padding-left: 5%;
    color: white;
    display: inline-block;
    position: absolute;

}
.lo-regin{
    position: absolute;
    right:5%;
    font-size: 0.16rem;
    display: table;
    height: 0.5rem;
    line-height: 0.5rem;

}
.login{
    display: table-cell;
    width:0.5rem;
    text-align: center ;
}
.regin{
    display: table-cell;
    width:0.5rem;
    text-align: center ;
}
.login a:hover{
    color:black;
    background-color: white;
}
.regin a:hover{
    color:black;
    background-color: white;
}
.login a{
    color:white;
    width:0.5rem;
}
.regin a{
    color:white;
}
.lo-regin a {
    text-decoration: none;
    width: 2%;
    height: 0.5rem;
}
.yes .btn{
    margin:0.2rem 0 0.1rem 0.1rem!important;
    border:0;
}
.yes .btn:hover{
    background-color:#1d7ad9!important;
    color:white!important;
}
ul {
    width: 50%;
    float:right;

    padding:0;
}
li {
    list-style: none;
}
.pub-process {
    position: relative;
    font-size: 0;
}

.pub-process li.active {
    width:15%;
    display: inline-block;
    border-top: 0.05rem solid #ff7f02;
}
.pub-process li{
    width: 15%;
    display: inline-block;
    margin-bottom: 0.54rem;
    font-size: 0.19rem;
    border-top: 0.05rem solid #cccccc;
}
.pub-process li:hover{
    border-top: 0.05rem solid #ff7f02;
}
.ball:hover{
    background-color: #ff7f02;
}
h4:hover{
    color:#ff7f02;
}
.ball{
    display: inline-block;
    width:0.3rem;
    height:0.3rem;
    border-radius: 50%;
    background-color: #cccccc;
    text-align: center ;
    top:0.2rem;
    position: absolute;
    color:white;
}
.active span.ball{
    background-color: #ff7f02;

}
.pub-process li:first-child {

    position: relative;
    top:0.31rem;
}
h4{
    font-size: 0.15rem;
    position: relative;
    top:0.2rem;
    left:-0.08rem;
}
@media only screen and (max-width: 768px) {
    .kefu{
        display:none;
    }
    ul {
        width: 100%;
    }

    li {
        list-style: none;
    }

    .pub-process {
        position: relative;
        font-size: 0;
    }

    .pub-process li.active {
        width: 18%;
        display: inline-block;
        border-top: 0.05rem solid #ff7f02;
    }

    .pub-process li {
        width: 18%;
        display: inline-block;
        margin-bottom: 0.54rem;
        font-size: 0.19rem;
        border-top: 0.05rem solid #cccccc;
    }

    .pub-process li:hover {
        border-top: 0.05rem solid #ff7f02;
    }

    .ball:hover {
        background-color: #ff7f02;
    }

    h4:hover {
        color: #ff7f02;
    }

    .ball {
        display: inline-block;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: #cccccc;
        text-align: center;
        top: 0.2rem;
        position: absolute;
        color: white;
    }

    .active span.ball {
        background-color: #ff7f02;

    }

    .pub-process li:first-child {

        position: relative;
        top: 0.31rem;
    }
    .listone {
        font-size: 0.15rem!important;
    }

    h4 {
        font-size: 0.13rem;
        position: relative;
        top: 0.2rem;
        left: -0.08rem;
    }
}
.listone {
    font-size: 0.23rem;
}
.listone span{
    padding-left: 0.2rem;
    border-left:0.06rem solid #1d7ad9;
}
.row{
    margin:0.1rem 0;
}
.box{
    font-size: 0.18rem;
    background: url(images/box.png )no-repeat left #f3f3f3 ;
    left:0.11rem;
    color: #a0bce6;
    padding: 0.1rem 0;
}
.box span{
    padding-left: 0.3rem;
}

.radio-check>input{
    display:none;
}
.radio-check>label{
    position: relative;
    padding-top: 0.1rem;
}

.radio-check>label:before{
    content:'';
    width:0.15rem;
    height:0.15rem;
    border-radius: 50%;
    border: 0.01rem solid lightslategray;
    display: inline-block;
    top:0.02rem;
    position:relative;
    left:-0.05rem;
}
.radio-check>label:after{
    content:'';
    width:0.05rem;
    height:0.05rem;
    border-radius: 50%;
    display: inline-block;
    left:-0.57rem;
    bottom:0.03rem;
    position: relative;
}
.radio-check input[type='radio']:checked + label:before {
    background-color: #1d7ad9;

}
.radio-check input[type='radio']:checked + label:after {
    background: white;

}
.rule{
    font-size: 0.18rem;
    background: url(images/Ruler.png  )no-repeat left #f3f3f3 ;
    left:0.11rem;
    color: #a0bce6;
    padding: 0.1rem 0;
}
.rule span{
    padding-left: 0.3rem;
}
.inform {
    width: 1.2rem;
    display: inline-block;
    margin:0;
    height:0.8rem;
}
.drop-down {
    background: url(images/angle.png )no-repeat right;
    margin-top: 0.4rem;
    position: relative;
    border: 0.01rem solid lightslategray;
}
.drop-down a{
    display: block;
    text-decoration: none;
    width:1rem;
    height:0.3rem;
    text-align: center ;
    font-size: 0.15rem;
    color:#999;
    line-height: 0.3rem;
}
.drop-down-content {
    display: none;
    width:1rem;
    height:1rem;
    position: absolute;
    float: none;
    z-index: 100;
}
.drop-down-content a {
    height:0.3rem;
    color: #999;
    font-size: 0.15rem;
    line-height: 0.3rem;
    border: 0.01rem solid lightslategray;
}
.drop-down:hover .drop-down-content{
    display: block;
}
span input{
    width:0.4rem
}
.cut{
    font-size: 0.18rem;
    background: url(images/Cut.png )no-repeat left #f3f3f3 ;
    left:0.11rem;
    color: #a0bce6;
    padding: 0.1rem 0;
}
.cut span{
    padding-left: 0.3rem;
}
input[type="submit "]{
    margin-top:1rem;
}
footer{
    display: table;
    width: 100%;
    color:#999;
    margin-top: 1rem;
    background-color: #f3f3f3;
}
footer span{
    display: inline-block;

}
.left{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.right{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.right span{
    vertical-align: middle;
    text-align: center;
}
.text  a{
    color:#999;
}
.text a:hover{
    color:#abc4ea;
}
.end{
    color:white;
    font-size: 0.13rem;
    width:100%;
    height:0.3rem;
    text-align: center ;
    line-height: 0.3rem;
    background-color: #1d7ad9;
}



