body {
    margin: 0;
}

ul,
li {
    padding: 0;
}

header {
    width: 100%;
    color: #fff;
    background: #1d7ad9;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.line {
    line-height: 2.8rem;
    font-size: 9px;
}

.header-right {
    text-align: right;
    line-height: 2.8rem;
}

.land {
    padding: 0 0.5rem;
    border-left: solid 1px #fff;
}

.register {
    padding: 0 0.5rem;
    border-right: solid 1px #fff;
}

.land:hover {
    display: inline-block;
    text-align: center;
    width: 6rem;
    color: #333;
    background: #fff;
}

.register:hover {
    display: inline-block;
    text-align: center;
    width: 6rem;
    color: #333;
    background: #fff;
}

/* =============头部============= */

.nav {
    margin-bottom: 3rem;
    padding: 1rem 0;
    width: 100%;
    background: #f9f9f9;
}
@media(max-width:992px){
    .right-box{
    width: 100%;
    text-align: right;
    }
}
.nav-item{
    text-align: center;
}
.nav-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-box {
    display: inline-block;
    padding: 0 1rem;
    line-height: 2.8rem;
    border-radius: 0.5rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
    color: #333;
    background: #f3f3f3;
}

.nav-box:hover {
    color: #fff;
    background: #1d7ad9;
}
@media(max-width:992px){
    .nav-box{
        box-shadow: initial;
        background: #f9f9f9;
    }
}



/* ================导航栏================== */

.course-a,
.course-b,
.course-c,
.course-d {
    display: inline-block;
    text-align: center;
    width: 25%;
}
@media(max-width:768px){
    .course-a,
    .course-b,
    .course-c,
    .course-d {
        display: block;
        width: 100%;
    }

}

.string-a,
.string-b,
.string-c,
.string-d {
    display: inline-block;
    position: relative;
    width: 103%;
    height: 2px;
    border: solid 3px #ccc;
    border-radius: 1rem;
    z-index: -1;
}

.circle-a,
.circle-b,
.circle-c,
.circle-d {
    display: inline-block;
    position: absolute;
    margin-left: 10%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #fff;
    background: #cccccc;
    z-index: 5;
}
@media(max-width:768px){
    .circle-a,
    .circle-b,
    .circle-c,
    .circle-d{
        margin-left: 43%;
    }
}

.number {
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    z-index: 2;
}

.course-font-a,
.course-font-b,
.course-font-c,
.course-font-d {
    display: inline-block;
    margin-top: 1.5rem;
    font-weight: 600;
    color: #ccc;
}

.circle-a:hover {
    background: #ff7f02;
}

.circle-b:hover {
    background: #ff7f02;
}

.circle-c:hover {
    background: #ff7f02;
}

.circle-d:hover {
    background: #ff7f02;
}

.circle-a:hover~.string-a {
    border-color: #ff7f02;
    z-index: 1;
}

.circle-b:hover~.string-b {
    border-color: #ff7f02;
    z-index: 1;
}

.circle-c:hover~.string-c {
    border-color: #ff7f02;
    z-index: 1;
}

.circle-d:hover~.string-d {
    border-color: #ff7f02;
    z-index: 1;
}

.circle-a:hover .number {
    color: #fff;
}

.circle-b:hover .number {
    color: #fff;
}

.circle-c:hover .number {
    color: #fff;
}

.circle-d:hover .number {
    color: #fff;
}

.circle-a:hover~.course-font-a {
    color: #ff7f02;
}

.circle-b:hover~.course-font-b {
    color: #ff7f02;
}

.circle-c:hover~.course-font-c {
    color: #ff7f02;
}

.circle-d:hover~.course-font-d {
    color: #ff7f02;
}

/* ===============进度条==================== */

title {
    display: block;
    margin: 5rem 0 1rem 0;
    padding-left: 1rem;
    border-left: solid 3px #1d7ad9;
    font-size: 18px;
    font-weight: 600;
}

.main-title-a {
    padding-left: 1rem;
    width: 100%;
    line-height: 2.8rem;
    font-size: 17px;
    background: #f3f3f3;
    color: #1d7ad9;
}

.box-pile {
    display: inline-block;
    margin-right: 1rem;
    background: url(../img/img.png)no-repeat 0 -12%/110%;
    height: 20px;
    width: 17px;
}

.size {
    display: inline-block;
    margin-right: 1rem;
    background: url(../img/img.png)no-repeat 0 35%/98%;
    height: 25px;
    width: 18px;
}

.texture {
    display: inline-block;
    margin-right: 1rem;
    background: url(../img/img.png)no-repeat 0 100%/100%;
    height: 20px;
    width: 22px;
    vertical-align: middle;
}

/* xxxxxx */

.content {
    padding: 1rem 0;
    line-height: 2.8rem;
    border-bottom: solid 1px #ccc;
    background: #fbfcff;
}

.content-box-left {
    display: flex;
    justify-content: space-around;
}

@media(max-width:768px) {
    .content-box-left {
        display: block;
    }
}

label {
    position: relative
}
@media(max-width:768px){
    label{
        display: block;
    }
}

input {
    width: 3rem;
    height: 2rem;
    outline: none !important;
    -webkit-appearance: none;
    border-radius: 0;
}

input::before {
    display: inline-block;
    margin-right: 1.2rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    vertical-align: middle;
    border: solid 1px #d6d6d6;
    background: #fff;
    content: "";
    justify-content: space-between
}

input::after {
    display: block;
    position: absolute;
    margin: -1.38rem 0 0 .45rem;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #fff;
    content: "";
}

input:checked::before {
    background: #1d7ad9
}
.input-texture{
    width: 17%;
}

@media(max-width:768px) {
    label {
        display: block;
    }
}
.left{
    margin-left: 3%;
}
@media(max-width:768px){
    .left{
        margin: 0;
    }
}

.content-font {
    font-size: 13px;
    line-height: 3rem;
}

.li-a {
    background: #fff;
    z-index: 1;
}

/* ===================== */

.content-box-right {
    text-align: right;
}

.content-box-d {
    display: inline-block;
    position: relative;
    padding: 0.2rem;
    width: 10rem;
    border: solid 1px #e8e8e8;
    background: #ffffff;
}
@media(max-width:768px){
    .content-box-d{
        float: right;
    }
}

.main-right-font {
    margin-right: 2rem;
    font-size: 13px;
    color: #999999;
}

.rectangle {
    display: inline-block;
    text-align: center;
    width: 2.5rem;
    height: 3rem;
    background: #1d7ad9;
}

.triangle {
    display: inline-block;
    margin-top: 11px;
    border-top: solid 9px #fff;
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
}

.ul-a {
    display: none;
    position: absolute;
    margin: 0.31rem 0 0 -.25rem;
    list-style: none;
    z-index: 5;
}

.li-a {
    width: 10rem;
    line-height: 1.95rem;
    text-align: center;
    border: solid 1px #ccc;
    z-index: 5;
}

.content-box-d:hover .ul-a {
    display: block;
}

/* ====================== */

.content-box-e {
    display: inline-block;
    position: relative;
    margin-top: 1.5rem;
    padding: 0.2rem;
    width: 10rem;
    border: solid 1px #e8e8e8;
    background: #ffffff;
}

.content-box-e:hover .ul-a {
    display: block;
}

/* ========== */

.next {
    margin-bottom: 2rem;
    text-align: center;
    border: solid 1px #e8e8e8;
}

.next-button {
    display: inline-block;
    margin: 6rem 0 4rem 0;
    line-height: 2rem;
    width: 7rem;
    height: 2rem;
    border-radius: .3rem;
    color: #fff;
    background-color: #e15053
}

footer {
    text-align: center;
    line-height: 3.8rem;
    font-size: 10px;
    color: #999999;
    background: #f9f9f9;
}

.footer-box {
    text-align: center;
}

.footer-little {
    font-size: 13px;
    text-align: left;
    line-height: 2rem;
    color: #999999;
}
@media(max-width:768px){
    .footer-little{
        text-align: center;
    }
}

.footer-font {
    line-height: 2rem;
}

@media(min-width:769px) {
    .footer-font {
        display: flex;
        flex-flow: column wrap;
        text-align: left;
    }
}

.footer-font-right {
    display: flex;
    flex-flow: column  wrap;
    text-align: right;
    line-height: 2rem;
}
@media(max-width:768px){
    .footer-font-right{
        text-align: center;
    }
}

.contact {
    text-align: right !important;
}

.erweima-box {
    padding: 0;
    text-align: right;
}
@media(max-width:768px){
    .erweima-box{
        text-align: center;
    }
}

.erweima {
    width: 3.6rem;
}

.lin {
    color: #999;
}

.lin:hover {
    color: #1d7ad9;
    border-bottom: solid 1px #fff;
}

.footer-line {
    width: 100%;
    background: #1d7ad9;
}

@media(max-width:768px) {
    .footer-line {
        display: flex;
        justify-content: center;
        line-height: 20px;
    }
}

.footer-line-font {
    color: #fff;
}