.clear-fix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clear-fix {
    *zoom: 1;
}

html {
    font-family: "Microsoft YaHei";
    font-size: 625%;
}

body {
    background-color: #0f1b41;
    overflow-x: hidden;
}


.system {
    line-height: .5rem;
    text-align: center;
    font-size: .2rem;
    color: white !important;
    background-color: #0f1b41;
}

.system > b {
    padding: 0 .35rem;
}

.right {
    margin-left: 2.5rem;
    text-align: right;
    font-size: .14rem;
    line-height: .6rem;
    background-color: white;
}

.box-main {
    float: left;
}

.item {
    width: 2.5rem;
    padding: 0;
    color: white;
    font-size: .16rem;
    text-align: center;
    line-height: .5rem;
    background-color: #0f1b41;
}

.top-bar {
    text-align: right;
    line-height: .5rem;
}

.my-close {
    padding: 0 .3rem;
    border-left: 1px solid #999;
}

.box-nav {
    padding-top: .3rem;
    border-top: 1px solid white;
}

/*--------------box-main-----------*/
a{
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: black;
}

.list:hover {
    background-color:rgba(255, 255, 255, .4);
    cursor:pointer;
}
.active1{
    border-left:5px solid white!important;
}
.active2{
    background-color:rgba(255, 255, 255, .4);
}

.no-margin {
    margin: 0;
    border: 0;
}

.my-dropdown {
    position: relative;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    text-align: center;
    background-color: #0f1b41;
    color: white;
    box-shadow: none;
}
.pencil{
    float:left;
    line-height:.5rem;
    padding-left:.1rem;
}
.chevron-left{
    float:right;
    line-height:.5rem;
    padding-right:.1rem;
}
.panel-cover{
    background-color:#0f1b41;
    border:none;
}
.my-panel{
    border-left:3px solid transparent;
    cursor:pointer;
}
.my-panel:hover{
    background-color:rgba(255, 255, 255, .4);
}
/*--------------box-main-----------*/


/*article*/
.detail-box {
    float: left;
    padding: .2rem;
    width: calc(100% - 2.5rem);
    min-height: calc(100vh - .5rem);
    background-color: rgb(236, 236, 236);
}

.search-box {
    width: 100%;
    padding: .2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px #999;
}

.option {
    padding:0;
    text-align: center;
    line-height: .35rem;
}

.line {
    margin-bottom: .15rem;
    height: .35rem;
    border: 1px solid #999;
    border-radius: 4px;
}

.row {
    margin: 0;
}

.search-box button {
    float: right;
    width: .6rem;
    height: .35rem;
    margin-left: .1rem;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
}

.red-btn {
    background-color: #C9302C
}

.green-btn {
    background-color: #5CB85C;
}

.article-list {
    margin-top: .15rem;
    box-shadow: 1px 0 4px #999;
    border-radius: 5px;
}

.list-top {
    padding: .1rem;
}

.list-top button {
    float: right;
    background-color: #5CB85C;
    border: none;
    color: white;
    outline: none;
    border-radius: 3px;
}

.list-detail {
    padding: .1rem;
    background-color: white;
    overflow-x: scroll;
}

.table, .table > tbody > tr > td, .table > tbody > tr > th {
    text-align: center;
    line-height: 30px;
    margin:0;
}

.article-tr {
    border: 1px solid #999;
}



/*分页*/


.total {
    margin: .2rem .1rem .2rem 0;
}

.each-page {
    width: 0.4rem;
    text-align: center;
}

.pages {
    float:right;
    padding-right: .1rem;
    font-size: 0.16rem;
    line-height: 0.3rem;
}

.buttons {
    margin:.1rem 0;
    background: white;
    border: 1px solid #999;
}
.buttons:hover{
    background-color:#c5c9cd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/*------------add----------*/
.article-add{
    border:1px solid #bababa;
    border-radius:5px;
}
.add-top{
    padding-left:.1rem;
    margin:0;
    line-height:.4rem;
    border-bottom:1px solid #bababa;
    width:100%;
}
.add-detail{
    padding:.1rem;
    background-color:white;
}
.titles{
    text-align:right;
    line-height:.4rem;
    padding-right:.2rem;
}
.titles-input{
    padding:0;
    margin-top:.1rem;
    height:.3rem;
    border-radius:5px;
    border:1px solid #bababa;
}
.titles-select{
    width:2rem;
}
.btn-pic{
    display: block;
    margin-top: .05rem;
    line-height:.3rem;
    width:.8rem;
    text-align: center;
    background-color:#286090;
    color:white;
    border-radius: 5px;
}
.btn-pic:hover{
    cursor: pointer;
}
.preview{
    border: 1px solid #bababa;
    max-width:100%;
}
.upload,.delete{
    height:.3rem;
    width: .5rem;
    color:white;
    border:none;
    outline:none;
    border-radius: 5px;
}
.upload{
    background-color:#5cb85c;
}
.delete{
    background-color:#c9302c;
}
.online-now{
    margin:.3rem 0;
    height:.35rem;
    background-color:#5cb85c;
    color:white;
    border:none;
    outline:none;
    border-radius: 5px;
}
.cancel{
    float:right;
    margin:.3rem 0;
    height:.35rem;
    width:.5rem;
    background-color:white;
    border:1px solid #999;
    outline:none;
    border-radius: 5px;
}
.no-padding{
    padding-left:0;
    padding-right:0;
}

button[disabled], html input[disabled] {
    cursor: not-allowed;
}
@media (max-width: 992px){
    .titles{
        text-align:left;
    }
    .titles-input,.titles-select{
        width:calc(100% - .2rem);
    }
}
@media (max-width: 768px) {
    .box-left {
        display: none;
    }

    .item, .detail-box {
        width: 100%;
    }

    .box-nav {
        padding: 0;
    }

    .box-main {
        float: none;
    }
}
