@charset "UTF-8";
/* 变量 */
/* 混合 */
html {
  font-size: 312.5%;
}

/* 去除标签默认属性 */
body {
  margin: 0;
  font-size: initial;
}

ul, li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #69D1E9;
}

.page {
  overflow: hidden;
}

body {
  background-color: #29BDE0;
}

body header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 1.28rem;
  font-size: .34rem;
  color: #FFFFFF;
  background-color: #29BDE0;
  z-index: 1;
}

body header div {
  position: absolute;
  right: .24rem;
  margin-right: .16rem;
  width: 0.05rem;
  height: 0.5rem;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body header div span {
  position: absolute;
  width: 0.05rem;
  height: 0.5rem;
  background: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main {
  margin: 1.28rem 0;
  padding-top: .32rem;
  border-top: 0.01rem solid rgba(255, 255, 255, 0.9);
}

main .main_top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .6rem;
  height: .82rem;
  font-size: .26rem;
  background-color: #B9E9F5;
}

main .main_top::before {
  content: "";
  position: absolute;
  bottom: -.14rem;
  border-left: .07rem solid transparent;
  border-right: .07rem solid transparent;
  border-top: .14rem solid #B9E9F5;
}

main .sign {
  margin: .32rem 0 .36rem .7rem;
  font-size: .24rem;
  color: #FFFFFF;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .container .player {
  margin: 0 5.05666vw 11vw 5.056666vw;
  width: 20.22vw;
  height: 20.22vw;
  text-align: center;
  border: 1.5vw solid #FFFFFF;
}

main .container .player .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78%;
  font-size: 4.5vw;
  letter-spacing: .93vw;
  color: #565656;
  background-color: #FBB435;
}

main .container .player .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22%;
  font-size: 3.5vw;
  letter-spacing: .93vw;
  color: #FFFFFF;
  background-color: #83B09A;
}

main .container .player i {
  display: none;
  margin-top: 2.5vw;
  width: 4.6vw;
  height: 4.6vw;
  background: url(../img/css_spritesq.png) no-repeat 49% 36%/230%;
}

main .container .player:hover > ul {
  display: inline-block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #29BDE0;
  z-index: 1;
}

footer button {
  margin-bottom: .3rem;
  padding: .2rem 0;
  width: 80%;
  letter-spacing: .06rem;
  font-size: .5rem;
  outline: none;
  border: none;
  color: white;
  background: orange;
}
/*# sourceMappingURL=vote.css.map */