html{
	font-size:62.5%;
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	min-width:320px;
}
.head-b{
	width:100%;
	height:4.5rem;
	margin:0;
	padding:0;
	background-color:#29b078;
}
.i-ptt{
	width:8rem;
	height:3rem;
	position:absolute;
	left:1rem;
	top:1rem;
	z-index:1;
}
.hbin{
	position:relative;
}
.i-bg img{
	width:100%;
	height:20vw;
}
.ht-left{
	float:left;
	color:#29b078;
	font-size:1.4rem;
	line-height:4rem;
}
.ht-right{
	float:right;
	text-align:right;
}
.ht-right img{
	width:2rem;
	margin:1rem 1.5rem;
}
.ht-entry{
	line-height:4rem;
	float:right;
	margin-right:2rem;
}
.ht-entry a{
	text-decoration:none;
	font-size:1.4rem;
}
.ht-entry a:link,.ht-entry a:visited{
	color:#000;
}
.navbar{
	background-color:#29b078;
	border:none;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size:1.4rem;
}
navbar-default .navbar-toggle {
    border:none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#29b078;
}
.hta:link,.hta:visited {
	color:#fff;
}	
.hta:hover{
	color:#FFF!important;
	border-bottom:2px solid #fff;
}
.navbar-nav>li>a {
	z-index:999;
	background-color:#29b078;
}
/*头部↑*/
.col-md-12>p{
	font-size:1.6rem;
	padding:2rem 0;
	font-weight:bold;
	border-bottom:1px solid #d0d6d9;
}
main{
	margin-bottom:10rem;
}
span.color-green{
	color:#29b078;
}
.nav-t{
	font-size:1.4rem;
}
.nav-l{
	color:#999;
	width:5rem;
	padding:1rem 0 1rem 1.5rem;
}
.nav-a{
	text-align:center;
	padding:1rem;
}
.nav-a a{
	white-space:nowrap;
	padding:0;
	text-decoration:none;
}
.nav-a a:link,.nav-a a:visited{
	color:#000;
}
/*main顶部↑*/


.outtb{
	table-layout:fixed;
	word-wrap:break-word;
	word-break:break-all;
	width:100%;
	margin:4rem 0;
}
.outtb,td{
	border:1px solid #eeeded;
}
.th-l{
	width:40%;
	text-align:center;
}
td{
	width:50%;
	padding:1rem;
}
.photo{
	width:9rem;
	height:10rem;
}
h4{
	font-weight:bold;
}
.tbp{
	font-size:1.4rem;
}
.longtd{
	width:;
	text-align:justify;
	text-align-last:justify
}
span{
	display:inline-block;
}
span.size1{
	font-size:1.2rem;
	color:#999;
}
span.five{
	font-size:1.2rem;
	color:#ff5c00;
	margin-left:1rem;
}
span.color-red{
	color:red;
}
.outtd{
	padding:0;
}
.intb{
	margin:0;
	width:100%;
	border:none;
}
.intb td{
	border:none;
}
td.bigtd{
	width:25%;
	text-align:center;
	vertical-align:middle;
	border-right:1px solid #eeeded;
}
td.mintd{
	border-top:1px solid #eeeded;
	border-bottom:1px solid #eeeded;
}

/*表格↑*/
.hid-box{
	width:100%;
	position:relative;
}
.hid{
	color:#fff;
	font-size:1.6rem;
	width:100%;
	height:100%;
	padding:4rem;
	background-color:rgba(0, 0, 0, .5);
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.hid-t{
	text-align:center;
	line-height:4rem;
	font-weight:bold;
}
.hid-b{
	line-height:2.8rem;
}
.hid-box:hover .hid{
	display:block;
}




/*隐藏↑*/


/**底部↓**/
footer{
	color:#fff;
	font-size:1.4rem;
	padding:2rem 0;
	background-color:#29b078;
}
.f-r img{
	width:8rem;
	height:8rem;
}
.f-li{
	margin-top:6rem;
}
.f-mt,.f-mb,.f-m,.f-r,.f-l{
	margin-top:2rem;
}

footer p{
	font-size:1.4rem;
}
footer>p{
	font-size:1rem;
	margin:-1rem 0;
	text-align:center;

}
footer a:link,footer a:visited{
	color:#fff;
}