<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--映射文件路径-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="int"/>
        <typeAlias type="java.util.List" alias="list"/>
        <!--扫描包，自动默认小写命名-->
        <package name="com.xiuzhenyuan.task1.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="StudentMapper.xml"/>
    </mappers>
</configuration>