.menu-icon {
    width: 30px;
    height: 25px;
    border-top: 3px solid #555555;
    border-bottom: 3px solid #555555;
    background-color: #555555;
    padding: 8px 0;
    background-clip: content-box;
    margin: 3px 1px;
}

.navbar-toggler {
    float: right;
}

.content-top {
    margin-top: 20px;
}

.div-photo {
    position: relative;
}

.photo-style {
    position: absolute;
    left: 195px;
    top: 127px;
    color: #fff;
}

.photo-style>h1 {
    font-size: 5.5rem;
}