.round_icon{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user_div{
    width: 400px;
    height: 30px;
    margin: 25px 0px 0px 120px;
}

.img_form{
    padding: 100px 120px 0px 0px;
}