@import "../_style.scss";
@import"../_mixin.scss";
$nav-height: .75rem;
body {
    background: $nav-blue;
}
header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include flex-alignCenter;
    height: $nav-height;
    padding: 0 .23rem;
    background: $nav-blue;
    font-size: .34rem;
    color: #fff;
    img {
        height: .4rem;
    }
    .close {
        width: .4rem;
        height: .4rem;
        text-align: center;
        position: relative;
        &::before,
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            right: .4/2-.02rem;
            width: .04rem;
            height: .42rem;
            background: #fff;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}

nav {
    z-index: 2;
    position: fixed;
    top: $nav-height;
    left: 0;
    right: 0;
    @include flex-between;
    padding: 0 .17rem 0 .45rem;
    height: $nav-height;
    font-size: .26rem;
    background: #b9e9f5;
    .audio {
        width: .55rem;
        height: .55rem;
        background: url(../../image/按钮.png) no-repeat;
        background-size: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        top: $nav-height;
        left: .71rem;
        display: inline-block;
        border: {
            top: #b9e9f5 solid .14rem;
            left: .06rem solid transparent;
            right: .06rem solid transparent;
        }
    }
}

.title {
    z-index: 1;
    position: fixed;
    top: $nav-height+$nav-height;
    left: 0;
    right: 0;
    padding-left: .71rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .24rem;
    color: #fff;
    background: $nav-blue;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: {
        top: $nav-height*3;
        bottom: 3rem;
    }
    .box-flex {
        flex: 0 1 33.3%;
        .box-style {
            position: relative;
            width: 24vw;
            height: 24vw;
            margin: 4vw  4vw;
            background: #f5c97b; 
            border:1vw solid #fff;
            box-sizing: border-box;
            .name{
                @include flex-align;
                justify-content: center;
                height: 70%;
                font-size: .3rem;
                color: #333;
            }
            .number{
                @include flex-align;
                justify-content: center;
                height: 30%;
                font-size: .22rem;
                color: #fff;
                background: #83b09a;
            }
            
             .fun{
                display: inline-block;
                position: absolute;
                top: 25vw;
                left: -1vw;
                @include flex-alignCenter;
                width: 24vw;
                display: none;
                li{
                    width: 4vw;
                    height: 4vw;}
                    .knife {
                        background: url(../../image/img.png) no-repeat 0 100%;
                        background-size: 100%;
                    }
                   .check {
                        background: url(../../image/img.png) no-repeat 0 66.6%;
                        background-size: 100%;
                    }
                   .gun {
                        background: url(../../image/img.png) no-repeat 0 33.3%;
                        background-size: 100%;
                    }
                   .save {
                        background: url(../../image/img.png) no-repeat 0 0;
                        background-size: 100%;
                    }
                
                
            }
            
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex-align;
    justify-content: center;
    height: 1.92rem;
    background: $nav-blue;
    a {
        width: 4.9rem;
        height: .88rem;
        line-height: .88rem;
        border: none;
        font-size: .4rem;
        color: #fff;
        background: #fbb435;
        text-align: center;
       
    }
}


