html,body{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
body{
	background-color: #fafafa;
}
.head{
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	width: 80%;
}
.head span{
	font-size: 1.4rem;
	color: #29b078;
}
.icon-wechat{
	float: right;
	margin-top: 6px;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	background-image: url(images/weixin.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.icon-qq{
	float: right;
	margin-top: 6px;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	background-image: url(images/qq.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.icon-microblog{
	float: right;
	margin-top: 6px;
	height: 20px;
	width: 20px;
	background-image: url(images/weibo.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.logo-box{
	margin-left: 10%;
}
.logo{
	margin-top: 20px;
	width: 145px;
	height: 30px;
}
.container-nav{
	background-color: #29b078;
}
.navbar-collapse{
	padding-left: 10%;
	padding-right: 10%;
}
.navbar-default .navbar-toggle{
	background-color: #47d197;
	padding: 7px 7px;
}
.navbar-default{
	border: 0;
	margin: 0;
}
.navbar-toggle .icon-bar{
	width: 18px;
}
.navbar-toggle .icon-bar:nth-child(n+3){
    margin-top: 6px;
}
.navbar-nav{
	border-top: 1px solid #29b078;
}
.navbar-default .navbar-nav>li{
	border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav>li>a{
	display: inline-block;
	color: #fff;
	font-size: 1.4rem;
	line-height: 40px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #33976d;
}
.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #185c40;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
 	background-color: #218d60;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
	background-color: transparent;
}
.nav li:hover{
	border-bottom: 2px solid #fff;
}
.img-welcome{
	width: 100%;
}
.word-index{
	line-height: 40px;
	font-size: 1.4rem;
	padding-left: 10%;
}
.word-index a{
	text-decoration: none;
	color: #333;
}
.word-green{
	color: #29b078;
}
.list-title{
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	font-size: 1.5rem;
	border-bottom: 1px solid #ededed;
}
.main-content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
.main-left{
	margin-right: 20px;
	margin-bottom: 10px;
	width: 200px;
	height: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px #ccc;
}
.list-title{
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 1.5rem;
	border-bottom: 1px solid #ededed;
}
.list-company{
	padding-top: 20px;
	padding-left: 40%;
	list-style: none;
}
.list-company li a{
	height: 40px;
	line-height: 40px;
	font-size: 1.4rem;
	color: #29b078;
	text-decoration: none;
}
.list-company li a::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 14px;
    margin-left: -20px;
    border: 1px solid #ff650e;
    border-radius: 50%;
}
.list-company li a:focus{
	color: #ff650e;
}
.list-company li a:focus::before{
	background: #ff650e;
} 
.list-company li a:hover{
	color: #ff650e;
}
.list-company li a:hover::before{
	background: #ff650e;
}
.main-right{
	flex: 1;
	box-shadow: 0 0 10px #ccc;
	background-color: #fff;
	border-bottom: 1px solid #ededed;
}
.right-top{
	width: 100%;
	padding: 20px 30px;
	overflow: hidden;
	align-items: center;
	border-bottom: 1px solid #e6e6e6;
}
.right-top p{
	font-size: 1.4rem;
	color: #999;
	line-height: 25px;
}
.img-potato{
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 25px;
	height: 40px;
	width: 120px;
	background-image: url(images/土豆网.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.right-box{
	padding: 30px 30px 50px 30px;
	font-size: 1.4rem;
	color: #999;
	line-height: 25px;
	text-indent: 2rem;
}
.right-box p{
	margin-bottom: 20px;
}
.right-word{
	margin-left: 20px;
}
 .foot-main{
 	overflow: hidden;
 	padding-left: 10%;
 	padding-right: 10%;
 	padding-bottom: 20px;
 	background-color: #26a26f;
 }
 .main-top{
 	display: inline-block;
	margin-right: 30px;
}
.main-bottom{
	display: inline-block;
}
.main-title{
	display: inline-block;
}
 .foot-main a{
 	text-decoration: none;
 }
 .word-title{
 	margin-top: 20px;
 	display: inline-block;
 	color: #fff;
 	font-size: 1.4rem;
 }
 .word-link{
 	margin-top: 50px;
 	padding-right: 10px;
	display: inline-block;
	height: 20px;
 	line-height: 20px;
 	word-spacing: 5px;
 	color: #fff;
 	font-size: 1.3rem;
 }
 .word-website{
 	margin-top: 15px;
 	margin-right: 20px;
	display: inline-block;
	height: 20px;
 	line-height: 20px;
 	color: #fff;
 	font-size: 1.3rem;
 }
 .word-website:hover{
 	 border-bottom: 1px solid #fff;
 }
 .foot-bottom{
 	width: 100%;
 	line-height: 20px;
	 text-align: center;
	 color: #fff;
 	background-color: #26a26f;
 	border-top: 1px solid #32c086;
 }
 .code-box{
 	float: right;
 	height: 100px;
 	margin-top: 15px;
	text-align: center;
	color: #fff;
	font-size: 1.3rem;
 }
 .qr-code{
 	width: 80px;
 	height: 80px;
 	background-image: url(images/二维码.png);
 	background-repeat: no-repeat;
 	background-size: contain;
 }
 @media screen and (max-width: 767px){
	.navbar-toggle{
		margin-right: 5%;
		margin-top: 9px;
		margin-bottom: 9px;
		border: none;
	}
	.head{
		width: 90%;
	}
	.navbar-collapse{
		text-align: center;
		padding: 0;
	}
	.navbar-nav{
		margin: 0;
	}
	.cative:hover{
  		background: rgba(255,255,255,0.5);
	}
	.navbar-default .navbar-nav>li>a{
		line-height: 10px;
	}
	.border{
		margin-top: 0;
		border-top: 2px #29b078;
	}
	.navbar-default .navbar-nav>li:hover a{
		color: #000;
		border-bottom: 0;
	}
	.logo-box{
		margin-left: 5%;
	}
	.logo{
		margin-top: 10px;
	}
	.nav li:hover{
		border-bottom: none;
	}
	.word-index{
		padding-left: 5%;
	}
	.main-content{
		width: 90%;
	}
	.main-left{
		width: 100%;
		height: 450px;
		margin-right: 0;
	}
	.list-company{
		padding-left: 46%;
	}
	html{
		font-size: 55%;
	}
	.list-company li a{
		height: 30px;
		line-height: 30px;
	}
	.list-company li a::before{
		margin-top: 9px;
		margin-left: -20px;
	}
 }
 @media screen and (max-width: 630px){
	.code-box{
		float: left;
	}
	.main-top,.main-bottom{
		display: block;
   }
   .word-link,.word-title,.word-website{
	   margin-top: 10px;
   } 
 }
 @media screen and (max-width: 425px){
	.foot-bottom span{
		display: block;
	}
 }