html,body,p{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 62.5%;
} 
body{
	background-color: #fafafa;
}
.head{
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	width: 84%;
}
.head span{
	font-size: 1.4rem;
	color: #29b078;
}
.icon-wechat{
	float: right;
	margin-top: 6px;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	background-image: url(images/weixin.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.icon-qq{
	float: right;
	margin-top: 6px;
	margin-right: 5px;
	height: 20px;
	width: 20px;
	background-image: url(images/qq.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.icon-microblog{
	float: right;
	margin-top: 6px;
	height: 20px;
	width: 20px;
	background-image: url(images/weibo.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.logo-box{
	margin-left: 8%;
}
.logo{
	margin-top: 20px;
	width: 145px;
	height: 30px;
}
.container-nav{
	background-color: #29b078;
}
.navbar-collapse{
	padding-left: 8%;
	padding-right: 8%;
}
.navbar-default .navbar-toggle{
	background-color: #47d197;
	padding: 7px 7px;
}
.navbar-default{
	border: 0;
	margin: 0;
}
.navbar-toggle .icon-bar{
	width: 18px;
}
.navbar-toggle .icon-bar:nth-child(n+3){
    margin-top: 6px;
}
.navbar-nav{
	border-top: 1px solid #29b078;
}
.navbar-default .navbar-nav>li{
	border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav>li>a{
	display: inline-block;
	color: #fff;
	font-size: 1.4rem;
	line-height: 40px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #33976d;
}
.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #185c40;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
 	background-color: #218d60;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
	background-color: transparent;
}
.nav li:hover{
	border-bottom: 2px solid #fff;
}
.index{
	margin-left: 8%;
	margin-right: 8%;
	line-height: 40px;
	font-size: 1.4rem;
	border-bottom: 1px solid #ccc;
}
.index a{
	text-decoration: none;
	color: #333;
}
.word-green{
	color: #29b078;
}
.direction{
	margin-left: 8%;
	margin-right: 8%;
	line-height: 40px;
	font-size: 1.3rem;
	border-bottom: 1px solid #edf1f2;
}
.direction a{
	margin-left: 10px;
    padding: 5px;
    color: #000;
    text-decoration: none;
}
.direction a:hover{
	background-color: #29b078;
}
.grey{
	color: #999;
}
.word4-box{
	margin-left: 8%;
	margin-right: 8%;
	line-height: 60px;
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
.container{
	padding: 0;
	margin-bottom: 40px;
	width: 84%;
}
.container .row{
	margin-top: 40px;
}
.col-job{
	position: relative;
}
.col-job table{
	table-layout: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 0 8px #ccc;
}
.col-job td{
	vertical-align: middle;
	padding: 15px 10px;
	font-size: 1.3rem;
	border-collapse: collapse;
	border: 1px solid #edf1f2;
}
.td1{
	vertical-align: middle;
	overflow: hidden;
}
.img-job{
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 120px;
	background-image: url(images/job.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.name{
	padding-top: 20px;
	display: table-cell;
}
.col-job h5{
	margin: 0;
	font-weight: bold;
}
.col-job p{
	word-break: break-all;
}
.word-grey{
	color: #999;
}
.word-grey p{
	word-spacing: 10px;
}
.word-red{
	color: #f01400;
}
.tr-height{
	height: 0;
}
.td{
	width: 40%;
	text-align: center;
	color: #999;
}
.td4{
	width: 10%;
}
.td5{
	width: 50%;
}
.right{
	float: right;
}
.word-center{
	color: #999;
	text-align: center;
}
.row1{
	margin: 0;
}
.word5-box{
	padding: 0;
	line-height: 60px;
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
.star{
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background-image: url(images/star.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.col-job:hover .iso{
	display: block;
}
.iso{
	display: none;
	position: absolute;
	top: 14px;
	bottom: 0;
	left: 15px;
	right: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 60px;
	color: #fff;
	font-size: 1.5rem;
	line-height: 30px;
	background: rgba(0,0,0,0.5);
	animation: myfirst 3s;
	z-index: 1;
}
@keyframes myfirst{
	from {
		background: rgba(0,0,0,0);
		color: transparent;
	}
	to {
		background: rgba(0,0,0,0.5);
		color: #fff;
	}
}
@-moz-keyframes myfirst /* Firefox */
{
	from {
		background: rgba(0,0,0,0);
		color: transparent;
	}
	to {
		background: rgba(0,0,0,0.5);
		color: #fff;
	}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
	from {
		background: rgba(0,0,0,0);
		color: transparent;
	}
	to {
		background: rgba(0,0,0,0.5);
		color: #fff;
	}
}

@-o-keyframes myfirst /* Opera */
{
	from {
		background: rgba(0,0,0,0);
		color: transparent;
	}
	to {
		background: rgba(0,0,0,0.5);
		color: #fff;
	}
}
.iso-word{
	margin-bottom: 30px;
	text-align: center;
}
.foot-main{
	overflow: hidden;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
	background-color: #26a26f;
}
.main-top{
	display: inline-block;
   margin-right: 30px;
}
.main-bottom{
   display: inline-block;
}
.main-title{
   display: inline-block;
}
.foot-main a{
	text-decoration: none;
}
.word-title{
	margin-top: 20px;
	display: inline-block;
	color: #fff;
	font-size: 1.4rem;
}
.word-link{
	margin-top: 50px;
	padding-right: 10px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	word-spacing: 5px;
	color: #fff;
	font-size: 1.3rem;
}
.word-website{
	margin-top: 15px;
	margin-right: 20px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-size: 1.3rem;
}
.word-website:hover{
	 border-bottom: 1px solid #fff;
}
.foot-bottom{
	width: 100%;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background-color: #26a26f;
	border-top: 1px solid #32c086;
}
.code-box{
	float: right;
	height: 100px;
	margin-top: 15px;
   text-align: center;
   color: #fff;
   font-size: 1.3rem;
}
.qr-code{
	width: 80px;
	height: 80px;
	background-image: url(images/二维码.png);
	background-repeat: no-repeat;
	background-size: contain;
}
 @media screen and (max-width: 680px){
	.direction{
		line-height: 15px;
	}
	.direction a{
    	display: block;
    	text-align: center;
		margin-bottom: 5px;
	}
}
 @media screen and (max-width: 767px){
	.navbar-toggle{
		margin-right: 8%;
		margin-top: 9px;
		margin-bottom: 9px;
		border: none;
	}
	.direction a:hover{
		background-color: transparent;
	}
	.head{
		width: 84%;
	}
	.navbar-collapse{
		text-align: center;
		padding: 0;
	}
	.navbar-nav{
		margin: 0;
	}
	.cative:hover{
  		background: rgba(255,255,255,0.5);
	}
	.navbar-default .navbar-nav>li>a{
		line-height: 10px;
	}
	.border{
		margin-top: 0;
		border-top: 2px #29b078;
	}
	.navbar-default .navbar-nav>li:hover a{
		color: #000;
		border-bottom: 0;
	}
	.logo-box{
		margin-left: 8%;
	}
	.logo{
		margin-top: 10px;
	}
	.nav li:hover{
		border-bottom: none;
	}
	.word4-box{
		line-height: 30px;
	}
	.container .row{
		margin-top: 20px;
	}
	.col-job td{
		padding: 8px 5px;
	}
	.img-job{
		width: 60px;
		height: 60px;
	}
	.name{
		padding-top: 0;
		display: block;
	}
	.direction a{
		padding: 2px;
	}
	html{
		font-size: 55%;
	}
 }
 @media screen and (max-width: 630px){
	.code-box{
		float: left;
	}
	.main-top,.main-bottom{
		display: block;
   }
   .word-link,.word-title,.word-website{
	   margin-top: 10px;
   } 
 }
 @media screen and (max-width: 425px){
	.foot-bottom span{
		display: block;
	}
 }