html,body{
    font-size: 62.5%;
}
html,body,p,span,div,img,button{
    padding: 0;
    margin: 0;
}
@media (min-width: 1023px) {
    .col-md-6-c {
        text-align: right;
        width: 50%;
        /*vertical-align: middle;*/
    }
}
/*----------------------------------header--------------------------------*/
/*---------------------------------header-top------------------------------*/
.body-width{
    width: 80%;
}
.header-nav{
    background-color: #1d7ad9;
    color: #ffffff;
}
.header-nav-left{
    float: left;
    line-height: 4rem;
    font-size: 1.3rem;
}
.header-nav-right{
    text-align: right;
    line-height: 4rem;
    font-size: 1.4rem;
}
.header-nav-span{
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
}
.header-nav-span:hover{
    background-color: #ffffff;
    color: #333333;
}
/*---------------------------------header-button------------------------------*/
.header-content{
    background-color: #f9f9f9;
    /*line-height: 6rem;*/
}
.header-button{
    display: flex;
    justify-content: flex-end;
    /*text-align: right;*/
    /*line-height: 6rem;*/
    font-size: 1.4rem;
}
.header-button button{
    /*margin-top: 2rem;*/
    /*margin-bottom: 2rem;*/
    /*margin-left:2rem ;*/
    margin: 2rem 0 2rem 2rem;
    background-color: #ffffff;
    padding: .5rem  .8rem;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #333333;
    font-weight: bold;
}
.header-button button:hover{
    color: #ffffff;
    background-color: #1d7ad9;
}
/*------------------------------------header--------------------------------*/
.header-bottom{
    background-color: #fafafa;
}
nav.navbar{
    background-color: #fafafa;
    margin-bottom: 0;
    border: none;
    font-size: 13px;
    min-height: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-nav {
     margin: 7.5px 0px;
}
.navbar-collapse{
    padding: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #fff;
    margin: 1rem;
    color: #000;
}
.navbar-default .navbar-toggle{
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none ;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1d7ad9;
}
header ul{
    /*width: 100%;*/
}
header ul li{
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
}

header ul li a{
    margin: 0 auto;
    text-align: center;
    max-width: 100px;
    /*background: red;*/
    padding-top: 5px;
    border-radius: 6px;
}
/*.navbar-default .navbar-toggle a:focus, .navbar-default .navbar-toggle a:hover{*/
    /*background-color: #1d7ad9;*/
    /*!*border-bottom:2px solid #ffffff;*!*/
/*}*/
.navbar-default .navbar-nav>.active>a{
    margin: .2rem auto;
    max-width: 540px;
}
 .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #1d7ad9;
     color: #fff;
     margin:.2rem auto;
     max-width: 540px;
}
@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
a:hover{
    text-decoration: none;
}
li:hover{
    text-decoration: none;
    border: none;
}
/*-----------------------------------------main-------------------------------*/
.main{
    background-color: #ffffff;
    /*height:850px;*/
}
.progress{
    height: 100px;
    padding-top: 20px;
}
.progress-padding{
    padding-top: 2rem;
}
.right-align{
    text-align: right;
}
.time-horizontal {
    list-style-type: none;
    /*border-top: 5px solid #ff7f02;*/
    max-width: 800px;
    padding:0px;
    margin: 0px;
}
.time-horizontal li {
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
    border-top: 4px solid #ccc;
    padding-top: 10px;
    /*border-radius: 10px;*/
}
.time-horizontal .li1{
    border-top: 4px solid #ff7f02;
}
.time-horizontal .li1 .b1:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '1';
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: -12px;
    left: calc(50% - 10px);
    /*margin-left: 5px;*/
    width: 18px;
    height: 18px;
    border: 2px solid #ff7f02;
    border-radius: 100%;
    background: #ff7f02;
}
.time-horizontal li span{
    line-height: 2rem;
    font-size: 1.3rem;
}
.time-horizontal li:hover > b:before {
    background-color: #ff7f02;
    border-color:#ff7f02 ;
}
.li1:hover{
    border-top: 4px solid #ff7f02;
}
.li2:hover{
    border-top: 4px solid #ff7f02;
}
.li3:hover{
    border-top: 4px solid #ff7f02;
}
.li4:hover{
    border-top: 4px solid #ff7f02;
}
.time-horizontal li .b1:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '1';
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: -12px;
    left: calc(50% - 10px);
    /*margin-left: 5px;*/
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 100%;
    background: #ccc;
}
.time-horizontal li .b2:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '2';
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: -12px;
    left: calc(50% - 10px);
    /*margin-left: 5px;*/
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 100%;
    background: #ccc;
}
.time-horizontal li .b3:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '3';
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: -12px;
    left: calc(50% - 10px);
    /*margin-left: 5px;*/
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 100%;
    background: #ccc;
}
.time-horizontal li .b4:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '4';
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    top: -12px;
    left: calc(50% - 9px);
    /*margin-left: 5px;*/
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 100%;
    background: #ccc;
}
.rule-border{
    border-left: 2px solid #1d7ad9;
    margin-top: 2rem;
    margin-bottom: 1rem;

}


.main-rule{
    /*margin-top: 2rem;*/
    margin-right: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    /*margin-bottom: .5rem;*/
}
.main-rule-span{
    color: #333;
    font-weight: bold;
}
.column-span{
    display: inline-block;
    width: 3px;
    height: 1.2rem;
    border-radius: 35%;
    background-color: #1d7ad9;
}
.rule-img{
    display: inline-block;
    /*margin-top: 1.6rem;*/
    width: 3rem;
    /*height: 3rem;*/
    background: url("img/sj.png") no-repeat center transparent;
    transform: scale(0.6,0.6);
}
.rule-title-bgcolor{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    /*background-color: #f3f3f3;*/
    border-radius: 2px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #1d7ad9;
}
.rule-title-bgcolor img{
    width: 15px;
    height: 15px;
    margin-top: -2px;
}
.main-boxtypebg{
    background-color: #fbfcff;
}
.bgcolor-1{
    background: #f3f3f3;
    border:1px solid #e7e7e7 ;
    border-bottom: none;
}
.bgcolor-2{
    background: #fbfcff;
    border:1px solid #e7e7e7 ;
    border-bottom: none;
    /*height: 4rem;*/
}
.last-row{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bg-border3{
    height: 200px;
    border:1px solid #e7e7e7 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}
.bg-border3 button{
    padding:.3rem 2rem;
    background-color: #e15053;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #fff;
    border: none;


}
/*----------------------------------media------------------------------------*/
@media (min-width: 320px) and (max-width:500px) {
    .col-xs-12-l {
        float: left;
        width: 100%;
        /*vertical-align: middle;*/
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .col-md-2 {
         width: 23.66666667%;
    }
}
/*-------------------------padding-bottom------------------------------*/
.padding-bottom{
    padding-bottom: 1rem;
}
/*----------------------------------radio---------------------------------*/
.r-align{
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    /*line-height: 6rem;*/
}
.demo--label{
    /*margin:2.3rem 1rem 0 0;*/
    margin-top: 27px ;
    margin-right: 1.3rem;
    margin-bottom: 27px;
    display:inline-block;
    font-size:1.3rem;
    color: #8c8c8c;
    font-weight: normal;
}
.demo--radio{display:none}
.demo--radioInput{
    box-sizing: border-box;
    background-color:#fff;
    border:1px solid rgba(0,0,0,0.15);
    border-radius:100%;
    display:inline-block;
    height:16px;
    margin-right:10px;
    margin-top:-1px;
    vertical-align:middle;
    width:16px;
    /*line-height:1;*/
}
.demo--radio:checked + .demo--radioInput:after{
    box-sizing: border-box;
    /*background-color:#57ad68;*/
    border-radius:100%;
    content:"";
    border: 6px solid #1d7ad9;
    display:inline-block;
    height:16px;
    /*margin:2px;*/
    width:16px;
}
.demo--checkbox.demo--radioInput,.demo--radio:checked + .demo--checkbox.demo--radioInput:after{border-radius:0}

/*-----------------------------------select---------------------------------------*/
/*------------------------------select-------------------------*/
.s-align{
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*border: 1px solid red;*/
}
.select-height{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*flex: ;*/
    /*float: right;*/
    /*top: 40%;*/

    /*height: 6rem;*/
   /*display: flex;*/
}
.m{
    text-align: center;
}

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    /*position: relative;*/
    /*right: 0;*/
    /*display: ;*/
    border: solid 1px #e8e8e8;
    border-radius: 1px;
    color: #dadada;
    width: 10rem;
    height: 2.8rem;
    font-size: 11px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("img/图层1.png") no-repeat scroll right center transparent;
    background-size: 28% 100%;
    /*transform:scale(0.6,0.6);*/
    background-color: #fff;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-left: 2.4rem ;
    /*padding-right: 2rem;*/
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    /*border: 1px solid red;*/
    /*margin-right: 1rem;*/
    /*text-align: center;*/
    /*text-align-last: center;*/
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
@media (max-width: 767px) {
    .col-xs-12-none{
        display: none;
    }
}
@media (max-width:767px ) and (min-width: 420px){
    .col-xs-12-flow{
        display: flex;
        justify-content: space-between;
    }
}

select:focus > option {
    border: 1px solid #1d7ad9;
}


.f{
    font-size: 10px;
    padding-left: 2rem;
    line-height: 20px;
}
option{
    color: #1d7ad9;
    font-size: 13px!important;
    text-align: center!important;
}
/*select{*/
    /*width: auto;*/
    /*padding: 0 10%;*/
    /*margin: 0;*/
/*}*/

option{
    /*text-align: center;*/
    /*text-align-last: center;*/
    /*text-align:center;*/
}
/*------------------------------text-input----------------------------------*/
.input-text{
    /*margin-top: -30px;*/
    width: 5.2rem;
    background-color: red;
    background-color: #fbfcff;
    border: 1px solid #e8e8e8;
    height: 2rem;
}
.input-p{
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    font-size: 1.3rem;
    /*font-weight: bold;*/
    color: #8c8c8c;
}
/*.row1{*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/
/*-----------------------------------------footer------------------------------*/
/*----------------------------footetr--------------------*/
.footer-top{
    background-color: #f9f9f9;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-top-left{
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #a0a0a0;
}
.footer-top-center{
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #a0a0a0;
}
.copyright{
    line-height: 2.5rem;
    border-top: 1px solid #fafafa;
    text-align: center;
    background-color: #1d79da;
}
/*--------------------------------------------------------------*/

.footer-information-text{
    text-align: left;
}
.left-align-p{
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #a0a0a0;
}
