<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE-edge" http-equiv="X-UA-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="link.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>首页</title>
</head>
<body>

<div class="cwhite ">
    <div class="container">
        <div class=" home-connect">友情连接</div>


        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;教师招聘</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;找工作</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;教师招聘</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;找工作</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;教师招聘</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;找工作</a>

        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;教师招聘</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;找工作</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;教师招聘</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;找工作</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;教师招聘</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;手机软件</a>
        <a class="home-num-margin2">&bull;&nbsp;&nbsp;找工作</a>


    </div>
</div>


</body>
</html>