*{
	margin:0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100%;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: #5fc0cd;
	z-index: 1;
}
.change{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5rem;
		}
.btn_left,
.btn_right {
	margin-left: -1rem;
	border: none;
	border-radius: .5rem;
	outline: none;
	font-size: 1.8rem;
	padding: 0.8rem;
}
.btn_left {
	background-color: #55a8b3;
	color: #fff;
	margin-right: .8rem;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.btn_right {
	background-color: #fff;
	color: #5fc0cd;
}
.icon_loc {
	background-image: url(../img/task6-3.png);
	background-position: 0 0;
	width: 29px;
	height: 28px;
	border: none;
	border-radius: 0;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: #fff;
	border-top: 0.1rem solid #d0d0d0;
}
.foot_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5rem;
}
.icon_home{
		background-image: url(../img/task6-3.png);
		background-position: 0 2.3rem;
		width: 30px;
		height: 26px;
		border: none;
		z-index: 3;
}
.home {
	margin: 0;
	color: #5fc0cd;
}
.icon_circle {
	width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #5fc0cd;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.icon_menu {
	background-image: url(../img/task6-3.png);
	background-position: 30px 0;
	width: 2.5rem;
	height: 30px;
}
.icon_me {
	background-image: url(../img/task6-3.png);
	background-position: 30px 28px;
	width: 2.5rem;
	height: 26px;
	border: none;
}
.me {
	margin: 0;
	color: #d0d0d0;
}