*{
	margin:0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100%;
}
.init {
	margin: 0;
	padding: 0;
	top:-.5rem;
}
 
/* header begin */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: #5ebeca;
	z-index: 1;
}
.btn_set{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 5rem;
		}
.btn_left,
.btn_right {
	margin-left: -1rem;
	border: none;
	border-radius: .5rem;
	outline: none;
	font-size: 1.8rem;
	padding: 0.8rem;
}
.btn_left {
	background-color: #55a8b3;
	color: #fff;
	margin-right: .8rem;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.btn_right {
	background-color: #fff;
	color: #5fc0cd;
}
.icon_loc {
	background-image: url(../img/task6-4.png);
	background-position: 0 0;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 0;
}

/* header end */

/* middle begin */
article{
	margin: 9rem 0 6rem 0;
	width: 100%;
	z-index: -1;
}
.drop_down {
	position: fixed;
	top: 5rem;
	right: 0;
	width: 100%;
	height: 4rem;
	border-bottom: .1rem solid #d0d0d0;
	background-color: #fff;
	z-index: 1;
}
.button_live,
.button_eat,
.button_STD {
	width: 100%;
	height: 100%;
	border: none;
	color: #d0d0d0;
	font-size: 1.6rem;
}
.button_eat {
	border-radius: unset;
	border-right: .1rem solid #d0d0d0;
	border-left: .1rem solid #d0d0d0;
}
.nabla {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	margin-top: -.2rem;
	color: #d0d0d0;
}
.menulist {
	width: 100%;
	min-width: 100%;
	text-align: center;
}
.format {
	border-bottom: .1rem solid #d0d0d0;
	display: flex;
	align-items: center;
}
.format_ {
	display: flex;
	align-items: center;
}
.icon_day {
	background-image: url(../img/task6-2.png);
	background-position: 0 0;
	width: 20px;
	height: 20px;
	border: none;
}
.icon_live {
	background-image: url(../img/task6-2.png);
	background-position: -18px 0;
	width: 16px;
	height: 20px;
	border: none;
	margin-left: -.2rem;
}
.p_day {
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #d0d0d0;
}
.p2 {
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.format_2 {
	-webkit-display: flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.p_pay {
	margin: 0;
	color: #ff5809;
}
.p_coin {
	margin: 0;	
	height: 9px;
	width: 9px;
	border-width: 1.5px 1.5px 0 0;
	border-color: #5fc0cd;
	border-style: solid;
	-webkit-transform: matrix(0.71,0.71,-0.71,0.71,0,0);
	transform: matrix(0.71,0.71,-0.71,0.71,0,0);
}
/* middle end */

/* footer begin */

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	background-color: #f8fafb;
	border-top: 0.1rem solid #d0d0d0;
}
.foot_button {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 6rem;
}
.icon_home{
		background-image: url(../img/task6-4.png);
		background-position: 0 30px;
		width: 30px;
		height: 30px;
		border: none;
		z-index: 3;
}
.home {
	margin: 0;
	color: #5fc0cd;
}
.icon_circle {
	width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #5ebeca;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.icon_menu {
	background-image: url(../img/task6-4.png);
	background-position: 30px 0;
	width: 30px;
	height: 30px;
}
.icon_me {
	background-image: url(../img/task6-4.png);
	background-position: 30px 30px;
	width: 30px;
	height: 30px;
	border: none;
}
.me {
	margin: 0;
	color: #d0d0d0;
}

/*footer end */