<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  全局配置，需要再添加-->

    <!--  全局配置，需要再添加-->
    <typeAliases>
        <!-- 通过别名简化对类的使用 -->
        <typeAlias type="com.tiles.pojo.Profession" alias="profession"/>
        <typeAlias type="com.tiles.pojo.Student" alias="student"/>
        <typeAlias type="com.tiles.pojo.User" alias="user"/>
    </typeAliases>
  <!--  <mappers>
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/ProfessionMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>-->

</configuration>