html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
img,
ol,
ul,
li,
form,
label,
table,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background: #f0f0f0;
  height: 100%;
  width: 100%;
}
.header1,
.header2-1 {
  width: 100%;
  height: auto;
  color: #ffffff;
  background: #29bde0;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header2 {
  width: 100%;
  height: 124px;
  color: #ffffff;
  background: #29bde0;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header2 .header2-2 {
  background: #b9e9f5;
  height: 60px;
  top: 64px;
  position: fixed;
  width: 100%;
}
.header2 .header3 {
  width: 100%;
  height: auto;
  color: #ffffff;
  background: #29bde0;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header2 .header3 .header3-1 {
  width: 100%;
  height: 80px;
  color: #ffffff;
  background: #29bde0;
  position: fixed;
  top: 0;
  text-align: center;
  border-bottom: 1px solid #daddcd;
}
.header3-2 {
  width: 100%;
  height: auto;
  color: #ffffff;
  background: #29bde0;
  position: absolute;
  top: 81px;
}
.main1 {
  background: #f0f0f0;
  position: relative;
  top: 63px;
  padding: 30px 5%;
}
.main2 {
  background: #29bde0;
  position: relative;
  top: 124px;
  position: absolute;
  width: 100%;
  padding-bottom: 160px;
}
.footer2 {
  position: fixed;
  bottom: 0;
  height: 100px;
  background: #29bde0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer1 {
  position: fixed;
  bottom: 0;
  height: 100px;
  background: transparent;
  z-index: 1;
  width: 100%;
}
