<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--加载properties文件，获取数据库连接的一些信息-->
    <context:annotation-config/>
    <!-- 加载classpath下的db.properties文件，里面配了数据库连接的一些信息 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- 配置数据源 -->
    <bean id="dataSource" class="${dataSource}" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--<property name="maxActive" value="10" /> -->
        <!--<property name="maxIdle" value="5" />-->
    </bean>
    <!-- 配置mapper扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mappers"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
    <!--以下是给mybatis的配置,数据库对话工厂,mapper映射-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 指定需要别名的类所在的包名 ，或者在mybatis中配置-->
        <!--<property name="typeAliasesPackage" value="com.DAO"/>-->
        <!-- 扫描所有xml文件，或者在mybatis中配置 -->
        <property name="mapperLocations" value="classpath:com/mappers/*.xml"/>
    </bean>
    <bean id="otherPageServiceImpl" class="com.Impl.OtherPageServiceImpl"/>
    <bean id="ProfessionServiceImpl" class="com.Impl.ProfessionServiceImpl"/>
    <bean id="OtherPageRMIServer" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="otherPageServiceImpl"/>
        <property name="serviceName" value="OtherPageRMIServer"/>
        <property name="serviceInterface" value="com.service.OtherPageService"/>
        <property name="registryPort" value="8080"/>
    </bean>
    <bean id="ProfessionRMIServer" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="ProfessionServiceImpl"/>
        <property name="serviceName" value="ProfessionRMIServer"/>
        <property name="serviceInterface" value="com.service.ProfessionService"/>
        <property name="registryPort" value="8080"/>
    </bean>
</beans>