<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mappers.LoginMapper">
    <resultMap id="BaseResultMap" type="com.POJO.User">
        <constructor>
            <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="salt" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="desPassword" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        ID, username, password, salt, desPassword
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user
        where ID = #{ID,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.POJO.User">
        insert into user (ID, username, password,
        salt, desPassword)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{salt,jdbcType=VARCHAR}, #{desPassword,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.POJO.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                ID,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="desPassword != null">
                desPassword
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{ID,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="desPassword != null">
                #{desPassword,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.POJO.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="desPassword != null">
                desPassword = #{desPassword,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.POJO.User">
        update user
        set username = #{name,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        salt = #{salt,jdbcType=VARCHAR},
        desPassword = #{desPassword,jdbcType=VARCHAR}
        where ID = #{ID,jdbcType=INTEGER}
    </update>
    <sql id="query_findUser">
        <if test="username!=null and username!=''">
            and username = '${username}'
        </if>
        <if test="password!=null">
            and password = '${password}'
        </if>
    </sql>
    <select id="selectByUser" parameterType="com.POJO.User" resultMap="BaseResultMap">
        SELECT * FROM user
        <where>
            <include refid="query_findUser"/>
        </where>
    </select>
    <select id="findUserByname" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM user WHERE username = #{username}
    </select>
</mapper>