html {
	font-size: 62.5%;
}
body {
	background-color: #68CDD5;
	padding: 0;
	margin: 0;
}

.head {
	margin: 2rem 0 0 3rem;
}
.content-top {
	margin: 4rem 0 12rem 0;
	text-align: center;
}
.content-bottom {
	padding: 0 12.5% 0 12.5%;
	margin-bottom: 17rem;
	text-align: center;
	font-size: 3rem;
	color: #FFF;
}
.footer-left {
	width: 50%;
	text-align: center;
	float: left;
	font-size: 2.4rem;
	color: #FFF;
}
.footer-right {
	width: 50%;
	text-align: center;
	float: left;
	font-size: 2.4rem;
	color: #FFF;
}
.gap {
	padding-top: 2rem;
	padding-bottom: 20.4rem;
}