<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 panel panel-default " style="padding: 0;margin-top: 20px;">
            <div class="panel-heading">
                编辑Article
            </div>
            <div class="panel-body">
                <form name="editForm" role='form' class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">标题</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="title" ng-model="vm.httpSend.title"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">类型</label>
                        <div class="col-xs-4">
                            <select class="form-control" name="status" required ng-model="vm.httpSend.type"
                                    ng-options="Data.type as Data.name for Data in vm.domData.type">
                            </select>
                        </div>
                        <div class="col-xs-4 col-xs-offset-1" ng-if="vm.httpSend.type==3">
                            <select class="form-control" name="industry" required ng-model="vm.httpSend.industry"
                                    ng-options="Data.type as Data.name for Data in vm.domData.industry">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">说明</label>
                        <div class="col-xs-9">
                            <editor-tool ng-model='vm.httpSend.content'></editor-tool>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">跳转链接</label>
                        <div class="col-xs-9">
                            <input type="text" ng-model="vm.httpSend.url" name="url" class="form-control" required/>
                        </div>
                    </div>
                    <img-file-upload img-src="vm.httpSend.img"
                                     is-loading="vm.upload.isLoading"></img-file-upload>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-2">
                            <input type="submit" value="立即上线" class="btn btn-success"
                                   ng-disabled="editForm.$error.required || !!vm.httpSend.img!=true||vm.upload.isLoading"
                                   ng-click="vm.ways.savaArticle(2)"
                            />
                            <input type="submit" value="存为草稿" class="btn btn-success"
                                   ng-disabled="editForm.$error.required || !!vm.httpSend.img!=true||vm.upload.isLoading"
                                   ng-click="vm.ways.savaArticle(1)"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>