html{
	font-size:62.55%;
}

body{
	background-color:rgb(104,205,213);
	min-width:350px;
	}
.back{
	display:block;
	margin-top:1rem
	margin-left:1rem;
}
.logo{
	text-align:center;
	margin:5rem auto;
}
.text{
	font-size:1.7rem;
	letter-spacing:0.3rem;
	color:white;
	width:70%;
	margin:5rem auto;
}
.left{
	float:left;
	margin-left:15%;
	text-align:center;
}
.right{
	float:right;
	margin-right:15%;
	text-align:center;
}
p{
	color:white;
}