$background-color: #5fc0cd;
$text-color: #ffffff;
$a-decoration: none;


body {
  font-size: 62.5%;
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
}
.background {
  background: #eff0f4;
  height: 100%;
  padding-bottom: 4rem;
}

//header
header {
  height: 4rem;
  background: $background-color;
  color: $text-color;
  line-height: 4rem;
  text-align: center;
}
a {
  color: $text-color;
  text-decoration: $a-decoration;
}
a:hover {
  color: $text-color;
  text-decoration: $a-decoration;
}
a:focus {
  color: $text-color;
  text-decoration: $a-decoration;
}
span {
  font-size: 1rem;
}
.header-left {
  float: left;
  margin-left: 2rem;
}
.header-right {
  float: right;
  margin-right: 2rem;
}
//header

.div1 {
  display: flex;
  align-items: center;
  background: white;
  margin-top: 10px;
}
.img1 {
  width: 29px;
  margin: 0 2rem;
  transform: scale(0.5);
}
.input1 {
  padding: 0.5rem 0 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-left: 2px solid #eaedee;
}


footer {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background: $background-color;
  margin-top: 2rem;
}
.login {
  color: $text-color;
  font-size: 1.5rem;
}

.div2 {
  padding: 0.5rem 0.5rem 10rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
.a1 {
  color: #999999;
  text-decoration: $a-decoration;
}
.a1:hover {
  color: #999999;
  text-decoration: $a-decoration;
}
.a1:focus {
  color: #999999;
  text-decoration: $a-decoration;
}

.div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.div3-1 {
  height: 1px;
  width: 30%;
  background: #cccccc;
  margin: 0 0.5rem;
}
.div4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10%;
}
.div4-1 {
  text-align: center;
}
.div4-1-1 {
  font-size: 1rem;
}
.img2 {
  width: 30%;
}

