html {
	font-size: 625%;
}
body {
	max-width: 1920px;
	width: 100%;
	background-color: #FAFAFA;
	padding: 0;
	margin: 0;
}

.top-box {
	width: 100%;
	height: .4rem;
	background-color: #FFF;
	display: none;
}
.top-left {
	width: 1.7rem;
	height: .4rem;
	line-height: .4rem;
	font-size: .14rem;
	color: #29B078;
	float: left;
}
.top-right {
	width: 1.1rem;
	height: .4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.top-icon {
	width: .25rem;
	height: .24rem;
}

.top-new-box {
	width: 100%;
	height: .4rem;
	background-color: #FFF;
	display: block;
}
.top-new-right {
	width: 1rem;
	height: .4rem;
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login {
	width: .5rem;
	height: .26rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right: 1px solid #29B078;
}
.login a{
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}
.registeration {
	width: .5rem;
	height: .26rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registeration a{
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}


/*导航栏*/
.container-fluid {
	background-color: #29B078;
}
.navbar {
	margin-bottom: 0;
}
.navbar-header {
	margin-top: .15rem;
	margin-bottom: .1rem;
}
.navbar-nav {
	float: right;
	margin: 0;
}
.nav-default {
	border-color: none;
}
.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.nav>li {
	box-sizing: border-box;
	border-bottom: 1px solid #29B078;
	border-top: 1px solid #29B078;
}
.nav>li:hover {
	box-sizing: border-box;
	border-bottom: 1px solid #FFF;
}
.navbar-default .navbar-nav>li>a{
	color: #FFF;
}
.navbar-nav>li>a{
	padding: .1rem .1rem;
	font-size: .16rem;
	color: #FFF;
	text-decoration: none;
}
ul {
	width: 100%;
	text-align: center;
}



.container-topic {
	width: 100%;
	padding: .34rem 0;
}
.container-topic a{
	font-size: .16rem;
	color: #333;
	text-decoration: none;
}
.container-topic a:nth-child(2) {
	color: #29B078;
}


.left-box {
	width: 100%;
	background-color: #FFF;
	box-shadow: 0 0 .06rem #EEE;
}
.left-topic {
	width: 100%;
	padding: .2rem 0;
	font-size: .16rem;
	color: #333;
	text-align: center;
	background-color: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #E8E8E8;
}
.left-text-box {
	width: 100%;
	padding: .2rem 0;
}
.left-text {
	width: 100%;
	padding: .1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text {
	width: .84rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.text:hover .point {
	background-color: #F9A372;
}
.point {
	width: .08rem;
	height: .08rem;
	box-sizing: border-box;
	border: 1px solid #F9A372;
	border-radius: 50%;
	margin-right: .06rem;
}
.left-text a{
	font-size: .14rem;
	color: #29B078;
	text-decoration: none;
}




.right-box {
	width: 100%;
	background-color: #FFF;
	box-shadow: 0 0 .06rem #EEE;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.right-top-box {
	width: 100%;
	padding: .2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid #E8E8E8;
}
.right-icon {
	width: 100%;
	height: .33rem;
	background-image: url(images/17.png);
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center center;
}
.right-topic {
	width: 100%;
	font-size: .14rem;
	color: #999;
	padding: 0 .06rem;
}
.right-text {
	width: 100%;
	font-size: .14rem;
	color: #999;
	padding: .38rem .4rem 0 .4rem;
}












.bottom {
	width: 100%;
	background-color: #26A26F;
	padding: 0 0 .16rem 0;
}
.jnshu {
	width: 100%;
	font-size: .16rem;
	color: #FFF;
	margin-top: .34rem;
}
.us {
	width: 100%;
	margin-top: .5rem;
	display: flex;
}
.about-us {
	width: .62rem;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #26A26F;
}
.about-us:hover{
	border-bottom: 1px solid #FFF;
}
.about-us a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}
.call-us {
	width: .62rem;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #26A26F;
}
.call-us:hover{
	border-bottom: 1px solid #FFF;
}
.call-us a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
	padding-left: .02rem;
}
.work-partner {
	width: .62rem;
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
}
.work-partner:hover{
	border-bottom: 1px solid #FFF;
}
.work-partner a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
	padding-left: .02rem;
}

.web {
	width: 100%;
	font-size: .16rem;
	color: #FFF;
	margin-top: .34rem;
}
.web-content {
	width: .88rem;
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
	margin-top: .2rem;
}
.web-content:hover{
	border-bottom: 1px solid #FFF;
}
.web-content a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}

.bottom-icon {
	width: 1rem;
	margin-top: .34rem;
	float: left;
}
.bottom-icon-name {
	font-size: .16rem;
	color: #FFF;
}
.bottom-icon-img {
	width: .92rem;
	height: .92rem;
	background-image: url(images/15.png);
	background-size: .92rem .92rem;
	background-repeat: no-repeat;
}

.bottom-bottom {
	width: 100%;
	background-color: #26A26F;
	font-size: .12rem;
	color: #FFF;
	box-sizing: border-box;
	border-top: 1px solid #2EB67E;
	padding: .09rem 0;
	text-align: center;
}