html {
	font-size: 625%;
}
body {
	max-width: 1920px;
	width: 100%;
	background-color: #FAFAFA;
	padding: 0;
	margin: 0;
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
	.col-md-1-5, .col-lg-1-5 {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
	.col-md-1-1 {
		width: 10%;
		float: left;
	}
	.col-md-1-1, .col-lg-1-1 {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
}




.top-box {
	width: 100%;
	height: .4rem;
	background-color: #FFF;
	display: inline-block;
}
.top-left {
	width: 1.7rem;
	height: .4rem;
	line-height: .4rem;
	font-size: .14rem;
	color: #29B078;
	float: left;
}
.top-right {
	width: 1.1rem;
	height: .4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.top-icon {
	width: .25rem;
	height: .24rem;
}

.top-new-box {
	width: 100%;
	height: .4rem;
	background-color: #FFF;
	display: none;
}
.top-new-right {
	width: 1rem;
	height: .4rem;
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login {
	width: .5rem;
	height: .26rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right: 1px solid #29B078;
}
.login a{
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}
.registeration {
	width: .5rem;
	height: .26rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registeration a{
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}


/*导航栏*/
.container-fluid {
	background-color: #29B078;
}
.navbar {
	margin-bottom: 0;
	border: none;
}
.navbar-header {
	margin-top: .25rem;
}
.navbar-nav {
	float: right;
	margin: 0;
}
.nav-default {
	border-color: none;
}
.navbar-collapse {
	padding-right: 0;
}
.nav>li {
	box-sizing: border-box;
	border-bottom: 1px solid #29B078;
	border-top: 1px solid #29B078;
}
.nav>li:hover {
	box-sizing: border-box;
	border-bottom: 1px solid #FFF;
}
.navbar-default .navbar-nav>li>a{
	color: #FFF;
}
.navbar-nav>li>a{
	padding: .4rem .3rem;
	font-size: .16rem;
	color: #FFF;
	text-decoration: none;
}



.carousel-control {
	font-size: .4rem;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: 0 0 0 0;
}
.new-carousel-control {
	width: 0;
	opacity: 0.5;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .4rem;
}
.carousel-indicators {
	bottom: -.1rem;
}
.new-carousel-indicators {
	bottom: -.4rem;
}
.carousel-indicators .active {
	background-color: #29B078;
}
.carousel-indicators li{
	box-sizing: border-box;
	border: 1px solid #999;
}



.advantage-box {
	width: 100%;
	margin-top: 1.6rem;
}
.advantage {
	width: 100%;
}
.advantage-icon {
	width: 100%;
	height: .9rem;
	display: flex;
	justify-content: center;
}
.advantage-topic {
	width: 100%;
	font-size: .18rem;
	color: #333;
	text-align: center;
}
.advantage-text {
	width: 100%;
	font-size: .16rem;
	color: #999;
	text-align: center;
	margin-top: .24rem;
}
.rocket {
	width: .44rem;
	height: .62rem;
	background-image: url(images/04.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.book {
	width: .6rem;
	height: .48rem;
	background-image: url(images/05.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: .1rem;
}
.person {
	width: .52rem;
	height: .55rem;
	background-image: url(images/06.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: .1rem;
}

.advantage-data {
	width: 100%;
	padding: .6rem 0 .6rem 32%;
	box-sizing: border-box;
	border-left: 1px dashed #999;
}
@media (min-width: 768px) and (max-width: 1023px) {
	.advantage-data {
		border: none;
	}
}
.data-icon {
	width: 1rem;
	background-image: url(images/07.png);
	background-size: .13rem .13rem;
	background-repeat: no-repeat;
	background-position: left center;
	font-size: .18rem;
	color: #26A26F;
	padding-left: .18rem;
	margin-top: .06rem;
}
.data-text {
	width: 2rem;
	height: .2rem;
	line-height: .2rem;
	font-size: .18rem;
	color: #999;
	margin-top: .08rem;
}

.learn-box {
	width: 100%;
	margin-top: 1rem;
}
.learn {
	width: 100%;
	font-size: .18rem;
	color: #333;
	text-align: center;
}
.step-box {
	width: 100%;
	margin-top: .26rem;
}
.step {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: .2rem;
}
.step-number {
	width: .7rem;
	height: .7rem;
	margin-right: .04rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .18rem;
	color: #29B078;
	background-color: #FFF;
	box-shadow: .01rem .01rem .01rem gray;
}
.step-text {
	width: 1rem;
	font-size: .14rem;
	color: #999;
}
.step-arrow {
	width: .28rem;
	height: .26rem;
	background-image: url(images/08.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.new-arrow {
	opacity: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
	.new-arrow {
		opacity: 1;
	}
}


.show-box {
	width: 100%;
	margin-top: 1rem;
}
.show {
	width: 100%;
	font-size: .18rem;
	color: #333;
	text-align: center;
}
.show-content-box {
	width: 100%;
	margin-top: .46rem;
}
.show-content {
	width: 100%;
	padding: .2rem .3rem .4rem .3rem;
	margin: .1rem 0;
	background-color: #FFF;
}
.show-content:hover{
	box-shadow: 0 0 .06rem gray;
}
.show-content-icon {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-icon {
	width: 1.09rem;
	height: 1.08rem;
	background-image: url(images/09.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.content-topic {
	width: 100%;
	font-size: .18rem;
	color: #333;
	text-align: center;
	margin-top: .4rem;
}
.content-text {
	width: 100%;
	font-size: .16rem;
	color: #999;
	text-align: left;
	margin-top: .3rem;
}



.partner-box {
	width: 100%;
	margin-top: 1rem;
}
.partner {
	width: 100%;
	font-size: .18rem;
	color: #333;
	text-align: center;
}
.partner-content {
	width: 100%;
	margin-top: .68rem;
	background-color: #FFF;
}
.partner-icon-a {
	width: 100%;
	height: 1.7rem;
	background-image: url(images/10.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}
.partner-icon-a:hover{
	box-shadow: 0 0 .06rem gray;
}
.partner-icon-b {
	width: 100%;
	height: 1.7rem;
	background-image: url(images/11.png);
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: center center;
}
.partner-icon-b:hover{
	box-shadow: 0 0 .06rem gray;
}
.partner-icon-c {
	width: 100%;
	height: 1.7rem;
	background-image: url(images/12.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}
.partner-icon-c:hover{
	box-shadow: 0 0 .06rem gray;
}
.partner-icon-d {
	width: 100%;
	height: 1.7rem;
	background-image: url(images/13.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}
.partner-icon-d:hover{
	box-shadow: 0 0 .06rem gray;
}
.partner-icon-e {
	width: 100%;
	height: 1.7rem;
	background-image: url(images/14.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}
.partner-icon-e:hover{
	box-shadow: 0 0 .06rem gray;
}



.footer-box {
	width: 100%;
	margin-top: .9rem;
	padding-top: .24rem;
	background-color: #FFF;
}
.footer-topic {
	width: 100%;
	font-size: .18rem;
	color: #333;
	text-align: center;
	padding-bottom: .26rem;
}
.footer-text-box {
	width: 100%;
	padding-bottom: .2rem;
}
.footer-text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid #FFF;
}
.footer-text a{
	font-size: .14rem;
	color: #999;
	text-decoration: none;
}
.footer-text:hover{
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
}






.bottom {
	width: 100%;
	background-color: #26A26F;
	padding: 0 0 .16rem 0;
}
.jnshu {
	width: 100%;
	font-size: .16rem;
	color: #FFF;
	margin-top: .34rem;
}
.us {
	width: 100%;
	margin-top: .5rem;
	display: flex;
}
.about-us {
	width: .62rem;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #26A26F;
}
.about-us:hover{
	border-bottom: 1px solid #FFF;
}
.about-us a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}
.call-us {
	width: .62rem;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #26A26F;
}
.call-us:hover{
	border-bottom: 1px solid #FFF;
}
.call-us a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
	padding-left: .02rem;
}
.work-partner {
	width: .62rem;
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
}
.work-partner:hover{
	border-bottom: 1px solid #FFF;
}
.work-partner a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
	padding-left: .02rem;
}

.web {
	width: 100%;
	font-size: .16rem;
	color: #FFF;
	margin-top: .34rem;
}
.web-content {
	width: .88rem;
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
	margin-top: .2rem;
}
.web-content:hover{
	border-bottom: 1px solid #FFF;
}
.web-content a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}

.bottom-icon {
	width: 1rem;
	margin-top: .34rem;
	float: right;
}
.bottom-icon-name {
	font-size: .16rem;
	color: #FFF;
}
.bottom-icon-img {
	width: .92rem;
	height: .92rem;
	background-image: url(images/15.png);
	background-size: .92rem .92rem;
	background-repeat: no-repeat;
}

.bottom-bottom {
	width: 100%;
	background-color: #26A26F;
	font-size: .12rem;
	color: #FFF;
	box-sizing: border-box;
	border-top: 1px solid #2EB67E;
	padding: .09rem 0;
	text-align: center;
}