html {
	font-size: 625%;
}
body {
	max-width: 1920px;
	width: 100%;
	background-color: #FAFAFA;
	padding: 0;
	margin: 0;
}

.top-box {
	width: 100%;
	height: .4rem;
	background-color: #FFF;
	display: inline-block;
}
.top-left {
	width: 1.7rem;
	height: .4rem;
	line-height: .4rem;
	font-size: .14rem;
	color: #29B078;
	float: left;
}
.top-right {
	width: 1.1rem;
	height: .4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.top-icon {
	width: .25rem;
	height: .24rem;
}

.top-new-box {
	width: 100%;
	height: .4rem;
	background-color: #FFF;
	display: none;
}
.top-new-right {
	width: 1rem;
	height: .4rem;
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login {
	width: .5rem;
	height: .26rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right: 1px solid #29B078;
}
.login a{
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}
.registeration {
	width: .5rem;
	height: .26rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registeration a{
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}


/*导航栏*/
.container-fluid {
	background-color: #29B078;
}
.navbar {
	margin-bottom: 0;
	border: none;
}
.navbar-header {
	margin-top: .25rem;
}
.navbar-nav {
	float: right;
	margin: 0;
}
.nav-default {
	border-color: none;
}
.navbar-collapse {
	padding-right: 0;
}
.nav>li {
	box-sizing: border-box;
	border-bottom: 1px solid #29B078;
	border-top: 1px solid #29B078;
}
.nav>li:hover {
	box-sizing: border-box;
	border-bottom: 1px solid #FFF;
}
.navbar-default .navbar-nav>li>a{
	color: #FFF;
}
.navbar-nav>li>a{
	padding: .4rem .3rem;
	font-size: .16rem;
	color: #FFF;
	text-decoration: none;
}



.content-topic {
	width: 100%;
	padding: .2rem 0;
	box-sizing: border-box;
	border-bottom: 1px solid #E7EAEB;
}
.content-topic a{
	font-size: .16rem;
	color: #333;
	text-decoration: none;
}
.content-topic a:hover{
	color: #29B078;
}
.content-text {
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #F2F5F5;
	display: flex;
	flex-wrap: wrap;
}
.text-topic {
	font-size: .14rem;
	color: #999;
	margin: .2rem .2rem .2rem 0;
}
.text-text {
	margin: .2rem .2rem .2rem 0;
}
.text-text a{
	background-color: #FFF;
	font-size: .14rem;
	color: #333;
	text-decoration: none;
}
.text-text a:hover{
	background-color: #29B078;
	color: #FFF;
}



.way-box {
	width: 100%;
}
.way-topic {
	width: 100%;
	font-size: .16rem;
	color: #333;
	padding: .3rem 0;
	box-sizing: border-box;
	border-bottom: 1px solid #D3D8DB;
}
.way-content-box {
	width: 100%;
	background-color: #FFF;
	box-shadow: 0 0 .06rem gray;
	margin-top: .5rem;
	padding: 0 .15rem;
	position: relative;
	border-radius: .05rem;
}
.web-top {
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFF;
	padding: .16rem 0;
}
.web-icon {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.web-topic {
	width: 100%;
	font-size: .14rem;
	color: #333;
	word-wrap: break-word;
	word-break: break-all;
}
.strong-word {
	font-size: .16rem;
	color: #333;
}

.web-star {
	width: 100%;
	font-size: .12rem;
	color: #999;
	padding: .1rem 0 .1rem .1rem;
	background-color: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
	border-right: 1px solid #F1F4F5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.web-star:nth-child(2) {
	border-right: none;
}
.star {
	width: .16rem;
	height: .15rem;
	margin-left: .06rem;
	background-image: url(images/19.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.web-about {
	width: 100%;
	font-size: .12rem;
	color: #999;
	padding: .1rem 0 .1rem .1rem;
	background-color: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
	border-right: 1px solid #F1F4F5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.web-star:nth-child(2) {
	border-right: none;
}
.year {
	margin-left: .06rem;
	font-size: .12rem;
	color: #333;
}
.year-color {
	color: red;
}


.money-box {
	width: 100%;
	background-color: #FFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
}
.web-money-left {
	width: 100%;
	min-width: 1rem;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .12rem;
	color: #999;
}
.web-money-right {
	width: 100%;
}
.money {
	width: 100%;
	font-size: .12rem;
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
	border-left: 1px solid #F1F4F5;
	background-color: #FFF;
	padding: .1rem .16rem;
}
.new-money{
	border-bottom: none;
}


.web-person {
	width: 100%;
	padding: .1rem;
	font-size: .14rem;
	color: #333;
	background-color: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
}
.person-color {
	color: red;
}


.web-bottom {
	width: 100%;
	font-size: .12rem;
	color: #999;
	background-color: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #F1F4F5;
	padding: .1rem;
	word-wrap: break-word;
	word-break: break-all;
}


.ios-box {
	width: 100%;
	background-color: #3D3D3D;
	font-size: .16rem;
	color: #FFF;
	padding: .4rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.ios-box:hover{
	opacity: .9;
}
.ios-topic {
	width: 100%;
	text-align: center;
}








.bottom {
	width: 100%;
	background-color: #26A26F;
	padding: 0 0 .16rem 0;
	margin-top: 2.4rem;
}
.jnshu {
	width: 100%;
	font-size: .16rem;
	color: #FFF;
	margin-top: .34rem;
}
.us {
	width: 100%;
	margin-top: .5rem;
	display: flex;
}
.about-us {
	width: .62rem;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #26A26F;
}
.about-us:hover{
	border-bottom: 1px solid #FFF;
}
.about-us a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}
.call-us {
	width: .62rem;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #26A26F;
}
.call-us:hover{
	border-bottom: 1px solid #FFF;
}
.call-us a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
	padding-left: .02rem;
}
.work-partner {
	width: .62rem;
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
}
.work-partner:hover{
	border-bottom: 1px solid #FFF;
}
.work-partner a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
	padding-left: .02rem;
}

.web {
	width: 100%;
	font-size: .16rem;
	color: #FFF;
	margin-top: .34rem;
}
.web-content {
	width: .88rem;
	box-sizing: border-box;
	border-bottom: 1px solid #26A26F;
	margin-top: .2rem;
}
.web-content:hover{
	border-bottom: 1px solid #FFF;
}
.web-content a{
	font-size: .14rem;
	color: #FFF;
	text-decoration: none;
}

.bottom-icon {
	width: 1rem;
	margin-top: .34rem;
	float: right;
}
.bottom-icon-name {
	font-size: .16rem;
	color: #FFF;
}
.bottom-icon-img {
	width: .92rem;
	height: .92rem;
	background-image: url(images/15.png);
	background-size: .92rem .92rem;
	background-repeat: no-repeat;
}

.bottom-bottom {
	width: 100%;
	background-color: #26A26F;
	font-size: .12rem;
	color: #FFF;
	box-sizing: border-box;
	border-top: 1px solid #2EB67E;
	padding: .09rem 0;
	text-align: center;
}