html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
  overflow: hidden;
}
footer {
  position: relative;
  background-color: #1ba36e;
}
.footer {
  position: relative;
  max-width: 120rem;
  padding: 10px;
  margin: auto;
  background-color: #1ba36e;
  color: white;
}
.footer-left {
  float: left;
  min-width: 30rem;
  margin: 0 -10px;
}
.footer-left li {
  float: left;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 1.4rem;
}
.footer-left li a {
  vertical-align: 0;
}
.footer-left .connect {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.footer-right {
  display: inline-block;
}
.footer-right li {
  float: left;
  width: 50%;
  margin: 5px 0;
  font-size: 1.4rem;
}
.footer-link {
  margin: 35px 0;
}
.footer-weblink {
  font-size: 1.6rem;
  margin: 3rem 0 5px 0;
}
.footer-title {
  padding-left: 10px;
  margin: 3rem 0;
  font-size: 1.6rem;
}
.footer-barcode {
  float: right;
  position: relative;
  top: -1rem;
  color: white;
}
.footer-text {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px;
}
.footer-copyright {
  padding: 5px;
  border-top: 1px solid #22cf8c;
  color: white;
  background-color: #1ba36e;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-barcode {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
  .footer-link {
    margin: 1rem 0;
  }
  .footer-link li {
    padding-right: 5px;
  }
  .footer-title {
    margin: 1rem 0;
  }
  .footer-weblink {
    margin: 1rem 0;
  }
  .footer-right li {
    width: 35%;
  }
}
