body {
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.mycontainer {
  width: 90%;
  margin: 0 auto;
}
.myrow {
  margin-left: -15px;
  margin-right: -15px;
}
.myrow:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.mycol-sm-1 {
  width: 8.3333%;
}
.mycol-sm-2 {
  width: 16.6666%;
}
.mycol-sm-3 {
  width: 25%;
}
.mycol-sm-4 {
  width: 33.3333%;
}
.mycol-sm-5 {
  width: 41.6666%;
}
.mycol-sm-6 {
  width: 50%;
}
.mycol-sm-7 {
  width: 58.3333%;
}
.mycol-sm-8 {
  width: 66.6666%;
}
.mycol-sm-9 {
  width: 75%;
}
.mycol-sm-10 {
  width: 83.3333%;
}
.mycol-sm-11 {
  width: 91.6666%;
}
.mycol-sm-12 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mycol-sm-1,
  .mycol-sm-2,
  .mycol-sm-3,
  .mycol-sm-4,
  .mycol-sm-5,
  .mycol-sm-6,
  .mycol-sm-7,
  .mycol-sm-8,
  .mycol-sm-9,
  .mycol-sm-10,
  .mycol-sm-11,
  .mycol-sm-12 {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .mycol-sm-1,
  .mycol-sm-2,
  .mycol-sm-3,
  .mycol-sm-4,
  .mycol-sm-5,
  .mycol-sm-6,
  .mycol-sm-7,
  .mycol-sm-8,
  .mycol-sm-9,
  .mycol-sm-10,
  .mycol-sm-11,
  .mycol-sm-12 {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
}
