html{
    font-size: 62.5%;
}
body{
    margin: 0;
    color: rgb(255,255,255);
    font-size: 1.6rem;
    background: rgb(239,240,244);
}
header{
    background: rgb(95,192,205);
    width: 100%;
    height: 4.3rem;
    margin-bottom: 1.0rem;
    line-height:4.3rem ;
}
a{
    text-decoration: none;
    color: rgb(255,255,255);
}
.close{
    float: left;
    padding-left: 3%;
}
.signin{
    float: right;
    padding-right: 3%;
}
.signup{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 4rem;
}
.content{
    margin-top: 1.0rem;
    width: 100%;
    background: rgb(255,255,255);
}
.content input{
    width: 100%;
    padding-left: 7.5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    border: 0;
    outline: none;
}
.content input[type=text]{
    background: url("images/phone.png") no-repeat;
    background-size: 6.6rem,5rem;
}
.content input[type=password]{
    background: url("images/lock.png") no-repeat;
    background-size: 6.6rem,5rem;
}
.footer{
    width: 100%;
    height: 50px;
    background:rgb(95,192,205) ;
    margin-top: 1.0rem;
    border: 0;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(255,255,255);

}
.bottom{
    margin-top: 1.0rem;
    margin-right: 3%;
    float: right;
    color: rgb(95,192,205);
    font-size: 1.2rem;
}

