html{font-size: 62.5%;
	font-family: simsun;

}

body{
	background-color: rgb(104,205,213);
	
}

.text{
	color: #fff; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1em;
    float: left;
 
}

.Pleft{
	position: absolute;
    top: 1%;
    left: 3%;
    float: left;
   
}

.Pleft img{
	width: 3em;
	height: 3em;
}


.Pgrapevine{
	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    float: left;
}

.Pgrapevine img{
	width: 9.75em;
	height: 4.1em;
}

.P222{
	position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%);
    float: left;
}

.P222 img{
	width: 6em;
	height: 6.5em;
}



.PBJP{
	position: absolute;
    top: 61%;
    left: 70%;
    transform: translate(-50%,-50%);
    float: left;
}

.PBJP img{
	width: 5.3em;
	height: 6.9em;
}

