<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="mybatis.mapper.PersonMapper">

    <resultMap id="personMap" type="mybatis.model.Person" >
        <id column="id" property="id"/>
        <result column="create_at"  property="create_at"/>
        <result column="update_at"  property="update_at"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex"  property="sex"/>
        <result column="pro" property="pro"/>
        <result column="tell"  property="tell"/>
        <result column="qq"  property="qq"/>
        <result column="email"  property="email"/>
        <result column="stu_num" property="stu_num"/>
        <result column="waikey"  property="waikey"/>
    </resultMap>

    <!--命名sql语句 可以在下面调用,在这标注可以有这种引用方式-->
    <!--<sql id="person_column">-->
        <!--id,create_at,update_at,name,age,sex,tell,qq,email,pro,waikey-->
    <!--</sql>-->
    <!-- 要么是resultMap="userMap"   要么是resultTpye="int" -->
    <select id="selectById" parameterType="int" resultMap="personMap" >
        SELECT * FROM person
        <where>
        <if test="id!=null">
            id = #{id}
        </if>
        </where>
    </select>

    <!--查询所有-->
    <select id="findAll" parameterType="mybatis.model.Person" resultMap="personMap">
        SELECT * FROM person
    </select>

    <!--根据列查询 名字/学号-->
    <select id="selectByColumn"   resultMap="personMap">
        SELECT * FROM person
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        <if test="name!=null">
            name = #{name}
        </if>
        <if test="stu_num!=null">
           AND stu_num = #{stu_num}
        </if>
        </trim>
    </select>

    <!--根据列查询 所有列名-->
    <select id="selectByPerson"  parameterType="mybatis.model.Person" resultMap="personMap">
        SELECT * FROM person
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id!=null and id!=0">
                AND id = #{id}
            </if>
            <if test="name!=null">
                AND name = #{name}
            </if>
            <if test="qq!=null and qq!=0">
                AND qq = #{qq}
            </if>
            <if test="tell!=null and tell!=0">
                AND tell = #{tell}
            </if>
            <if test="pro!=null">
                AND pro = #{pro}
            </if>
            <if test="age!=null and age!=0">
                AND age = #{age}
            </if>
            <if test="create_at!=null and create_at!=0">
                AND create_at = #{create_at}
            </if>
            <if test="update_at!=null and update_at!=0">
                AND update_at = #{update_at}
            </if>
            <if test="email!=null">
                AND email = #{email}
            </if>
            <if test="stu_num!=null">
                AND stu_num = #{stu_num}
            </if>
            <if test="waikey!=null">
                AND waikey = #{waikey}
            </if>

        </trim>
    </select>

    <!--插入单条数据-->
    <insert id="insertPerson" parameterType="mybatis.model.Person"  useGeneratedKeys="true"  >
        INSERT INTO person
        (id,create_at,update_at,name,age,sex,pro,tell,qq,email,stu_num,waikey)
        values
        (#{id},#{create_at},#{update_at},#{name},#{age},#{sex},#{pro},#{tell},#{qq},#{email},#{stu_num},#{waikey})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
--             select LAST_INSERT_ID()
            select @@IDENTITY AS ID
        </selectKey>
    </insert>

    <!--创建=插入数据-->
    <insert id="createPerson" parameterType="mybatis.model.Person"  useGeneratedKeys="true"  >
        INSERT INTO person
        (id,create_at,update_at,name,age,sex,pro,tell,qq,email,stu_num,waikey)
        values
        (#{id},#{create_at},#{update_at},#{name},#{age},#{sex},#{pro},#{tell},#{qq},#{email},#{stu_num},#{waikey})
    </insert>

    <!--插入多条数据-->
    <insert id="insertPersonList" parameterType="mybatis.model.Person"  useGeneratedKeys="true">
        INSERT INTO person(id,create_at,update_at,name,age,sex,pro,tell,qq,email,stu_num,waikey)
        values
        <foreach  item="item" collection="list" separator="," index = "index">
            (#{item.id},#{item.create_at},#{item.update_at},#{item.name},#{item.age},#{item.sex},#{item.tell},#{item.qq},#{item.email},#{item.pro},#{item.stu_num},#{item.waikey})
        </foreach>
    </insert>

    <!--修改数据-->
    <update id="updatePerson" parameterType="mybatis.model.Person" >
        Update person SET name=#{name},create_at=#{create_at},update_at=#{update_at},age=#{age},sex=#{sex},tell=#{tell},qq=#{qq},email=#{email},pro=#{pro},stu_num=#{stu_num},waikey=#{waikey} WHERE id=#{id}
    </update>

    <!--删除单条数据-->
    <delete id="deletePerson" parameterType="int"  >
        DELETE FROM person WHERE id = #{id}
    </delete>



</mapper>
