html {
    font-size: 625%;
}

body {
    font-size: .16rem;
    margin: 0;
    padding: 0;
    background: url(img/bgc.jpg) no-repeat center / cover;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

main {
    height: 3rem;
    width: 3rem;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-size: .25rem;
    font-weight: bold;
    color: #fd9f2a;
}

.wrap {
    background-color: hsl(65, 100%, 87%);
    padding: .05rem 0;
    margin: .1rem .2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wrap:focus {
    outline: #fd9f2a;
}

img {
    line-height: .2rem;
    height: .2rem;
    vertical-align: middle;
    padding-right: .1rem;
    border-right: 1px solid #ccc;
}

input[type="text"] {
    width: 70%;
    height: .4rem;
    line-height: .4rem;
    outline: none;
    padding-left: .1rem;
    border: 0;
    font-size: .16rem;
    background-color: hsl(65, 100%, 87%);
}

input[type="password"] {
    width: 70%;
    height: .4rem;
    line-height: .4rem;
    outline: none;
    padding-left: .1rem;
    border: 0;
    font-size: .16rem;
    background-color: hsl(65, 100%, 87%);
}

/* input:focus {
    border: 1px solid #fd9f2a;
} */

::-webkit-input-placeholder {
    color: #fd9f2a;
}

.info {
    font-size: .12rem;
    color: red;
    height: .15rem;
}

#login {
    font-size: .2rem;
    width: 80%;
    color: #fff;
    margin: 0 auto;
    padding: .1rem .2rem;
    background-color: #fd9f2a;
    border: 1px solid #fd9f2a;
    border-radius: 5px;
    outline: 0;
}