body {
    font-size: 62.5%;
    margin: 0;
}
header {
    /*固定到顶部*/
    position:fixed;
    left: 0;
    top: 0;
    width:100%;
    background: #5fc0cd;
    text-align: center;
    color: white;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
}
a {
    float: left;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: white;
    /*用于去除下划线*/
    text-decoration: none;
}
main {
    margin-top: 3rem;
}
.image1 {
    background: url("image/1-task5.png") no-repeat center;
    /*铺满背景*/
    background-size: cover;
    /*高斯模糊*/
    /*filter: blur(2px);*/
    height: 12rem;
    color: white;
}
.image2 {
    background: white;
    width: 5rem;
    height: 5rem;
    margin-top: 3rem;
    margin-left: 1rem;
    /*50%的圆角是一个圆*/
    border-radius: 50%;
}
.text1 {
    margin-left: 8rem;
    margin-top: -4rem;
}
.text2 {
    background: url("image/4-task5.png") no-repeat;
    background-size: 0.7rem;
    margin: 0.5rem 0 0 8rem;
    padding-left: 1.3rem;
}
.div1 {
    border-bottom: 1px solid #e1e5e7;
}
.text3 {
    border-left: 0.2rem solid #5fc0cd;
    padding-left: 0.5rem;
    margin: 1rem 0 1rem 1rem;
}
ul {
    /*用于去除ul前面的点*/
    list-style: none;
    margin: 0.9rem 1rem 3rem 1rem;
    padding: 0 0 0.9rem 0;
}
.li1 {
    /*flex弹性布局,用于解决页面行排列布局和div上下左右居中*/
    display: flex;
    /*设置或检索弹性盒子元素在侧轴（纵轴）方向上的对齐方式*/
    align-items: center;
    padding: 0 0 0.9rem 1rem;
    border-bottom: 1px solid #e1e5e7;
}
.text4 {
    background: url("image/5-task5.png") no-repeat left center;
    background-size: 1rem;
    padding: 0.1rem 1rem;
}
.text5 {
    background: url("image/5-task5.png") no-repeat left center;
    background-size: 1rem;
    padding: 0.1rem 1rem;
}
.li2 {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #e1e5e7;
    /*flex弹性布局,用于解决页面行排列布局和div上下左右居中*/
    display: flex;
    /*设置或检索弹性盒子元素在侧轴（纵轴）方向上的对齐方式*/
    align-items: center;
}
.text6 {
    color: #999999;
    padding-right: 1rem;
    border-right: 1px solid #cccccc;
}
.text7 {
    padding-left: 1rem;
}
.text8 {
    padding-left: 1rem;
    color: #e26163;
}
.text9 {
    color: #999999;
    padding-right: 1rem;
    border-right: 1px solid #cccccc;
    /*规定段落中的文本不进行换行*/
    white-space: nowrap;
}
.text10 {
    margin: 0 0 0 1rem;
}
footer {
    background: white;
    padding: 0.3rem 0 0.5rem 0;
    /*固定到底部*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
}
button {
    width: 49%;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    /*建立鼠标指针*/
    cursor: pointer;
}
.button1 {
    float: left;
    background: white;
    border: 2px solid #5fc0cd;
    color: #5fc0cd;
}
.button2 {
    float: right;
    border: #5fc0cd;
    background: #5fc0cd;
    color: white;
}
