@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%; }

a,
a:hover {
  text-decoration: none; }

body {
  background: #29bde0; }

/*头部开始*/
header {
  width: 100%;
  height: 40px;
  background: #29bde0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  top: 0;
  z-index: 1; }
  header a:first-child img {
    width: 23px;
    height: 23px; }
  header a:last-child img {
    width: 20px;
    height: 20px; }
  header h1 {
    font-size: 1.913rem;
    color: #fff; }

/*头部结束*/
/*发言讨论开始*/
.statement {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #29bde0;
  top: 40px;
  width: 100%;
  height: auto; }
  .statement .speak {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b9e9f5;
    padding: 0 8px 0 25px; }
    .statement .speak span {
      font-size: 1.463rem;
      color: #464646; }
    .statement .speak a {
      margin-top: 1px; }
      .statement .speak a img {
        width: 30px;
        height: 30px; }
  .statement i {
    display: block;
    margin-left: 40px;
    width: 0;
    height: 0;
    border-top: 8px solid #b9e9f5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-bottom: 5px; }
  .statement p {
    font-size: 1.35px;
    color: #fff;
    margin-left: 40px;
    margin-bottom: 20px; }

/*发言讨论结束*/
/*选人开始*/
.choice {
  width: 100%;
  height: auto;
  margin-top: 140px;
  margin-bottom: 108px; }
  .choice .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around; }
    .choice .row .item {
      cursor: pointer;
      width: 21vw;
      height: 30.57vw; }
      .choice .row .item .content {
        width: 21vw;
        height: 21vw;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .choice .row .item .content h1 {
          width: 19.4vw;
          height: 15.3vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f5c97b;
          font-size: 4.68vw;
          color: #565656; }
        .choice .row .item .content span {
          width: 19.4vw;
          height: 4.15vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #83b09a;
          font-size: 3.55vw;
          color: #fff; }
      .choice .row .item .signs {
        width: 21vw;
        height: auto;
        margin: 2.7vw 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: none; }
        .choice .row .item .signs img {
          width: 4.16vw;
          height: 4.16vw; }
      .choice .row .item:hover .signs {
        display: flex; }

/*选人结束*/
/*底部开始*/
footer {
  width: 100%;
  height: auto;
  background: #29bde0;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center; }
  footer a {
    width: 76.5vw;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    color: #fff;
    margin: 25px 0 30px 0;
    background: #fbb435; }

/*底部结束*/

/*# sourceMappingURL=style-2.css.map */
