@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%; }

a,
a:hover {
  text-decoration: none; }

/*头部开始*/
header {
  width: 100%;
  height: 40px;
  background: #29bde0;
  border-bottom: 1px solid #50c9e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  top: 0;
  z-index: 1; }
  header a:first-child img {
    width: 30px;
    height: 25px; }
  header a:last-child img {
    width: 23px;
    height: 24px; }
  header h1 {
    font-size: 1.913rem;
    color: #fff; }

/*头部结束*/
/*页面蓝色部分开始*/
.blue-part {
  margin-top: 40px;
  width: 100%;
  height: auto;
  padding: 15px 45px 10px 45px;
  background: #29bde0;
  text-align: center; }
  .blue-part div {
    display: flex;
    align-items: center;
    justify-content: center; }
    .blue-part div img {
      width: 198px;
      height: 113px; }
  .blue-part .congratulations {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.856rem;
    color: #ffc865;
    text-align: justify; }
  .blue-part ul {
    list-style: none; }
    .blue-part ul li {
      display: flex;
      justify-content: space-between;
      font-size: 1.463rem;
      color: #fff; }
      .blue-part ul li span {
        width: 33.33%; }
      .blue-part ul li .left {
        text-align: left; }
      .blue-part ul li .center {
        text-align: center; }
      .blue-part ul li .right {
        text-align: right; }

/*页面蓝色部分结束*/
/*游戏详情开始*/
.game-details {
  margin-bottom: 80px; }
  .game-details .row {
    width: 100%;
    height: 95px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 45px 15px 45px; }
    .game-details .row ul {
      list-style: none; }
      .game-details .row ul li {
        font-size: 1.462rem;
        color: #a6a6a6; }
      .game-details .row ul li:first-child {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
        margin-bottom: 14px; }
        .game-details .row ul li:first-child .day {
          font-size: 1.687rem;
          color: #515151;
          display: flex;
          flex-direction: column-reverse; }
        .game-details .row ul li:first-child .time {
          font-size: 1.125rem;
          color: #d1d1d1;
          display: flex;
          flex-direction: column-reverse; }

/*游戏详情结束*/
/*底部开始*/
footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 72px;
  background: rgba(153, 223, 240, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around; }
  footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.5vw;
    height: 50px;
    font-size: 2.25rem;
    color: #fff;
    border-radius: 4px; }
  footer a:first-child {
    background: #f66f6f; }
  footer a:last-child {
    background: #fbb435; }

/*底部结束*/

/*# sourceMappingURL=style-3.css.map */
