body{
    margin: 0;
}
/*顶端部分*/
.top1{
    width: 100%;
    height: 50px;
    background-color:#29bde0;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    color: #fff;
    font-size: 25px;
}
.button1-1{
    background-color:#29bde0;
    outline: none;
    border: none;
}

.button1-2{
    background-color:#29bde0;
    outline: none;
    border: none;
}
.img1-1 {
    width: 28px;
    height: 30px;
}
.img1-2{
    width: 28px;
    height: 30px;
}
/*头部部分*/

.hidder{
   height: 50px;

}





.audio{
    width: 100vw;
    height: 40px;
    background-color: #b9e9f5;
    color:#464646;
    font-size:19px;
    position:fixed;
    z-index: 100;

}
.text{
    margin: 6px 20px;
    display: inline-block;
}
.img2-2{
    width: 28px;
    height: 28px;
    float: right;
    margin: 5px 8px;
}


.trfather{
    width: 100%;
    height:12px;
    background-color:#29bde0;
    position: fixed;
    top:90px;
    left: 0;

}
.triangle{

    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #b9e9f5;
    margin-top: -1px;
    margin-left: 20px;

}

.hidder2{
    width: 100vw;
    height: 50px;
    background-color:#29bde0 ;
    margin: -1px 0;
}
.tips{
    background-color:#29bde0 ;
    width: 100vw;
    height: 50px;
    color: #fff;
    font-size: 17px;
    padding-left: 20px;
    position: fixed;
    top:100px;
    left: 0;

}
/*身体部分*/
.body1{
    background-color: #29bde0;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: -1px;
}
.id12f{
    width: 23vw;
    margin: 0 5vw ;
}
.id1{
    width: 23vw;
    height: 23vw;
    border:3px solid #fff;
    background-color: #f5c97b;
    font-size: 20px;

}

.id2{
    width: 23vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83b09a;
}

.id1-1{
    width: 23vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.id3{
    visibility: hidden;
    width: 23vw;
    height:7vw;
    display: flex;
    align-items: center;
}
.id12f:hover .id3{
    visibility: visible;
}






.img2-5-8{
    width:5vw;
    height: 5vw;
}

.img2-5-9{
    height:5vw;
    width:5vw;
    margin-left:1.5vw;
}

.img2-5-10{
    height:5vw;
    width: 5vw;
    margin:0 1.5vw;
}




.smallimg{
    width: 5.5vw;
    height: 5.5vw;
}





.centertop{
    width: 100%;
    height: 45%;
    background-color: #f5c97b;
    color:#565656;
    font-size:24px;
    text-align: center;
    margin-top: 20%;

}

.centerbottom{
    height:35% ;
    width: 100%;
    background-color: #83b09a;
    font-size: 15px;
    text-align: center;


}


.bottom{
    width: 100%;
    height: 140px;
    background-color:#29bde0 ;
    position: fixed;
    bottom: 0;
    left: 0;
}


.tosi{
    background-color:#fbb435;
    width: 75%;
    height: 60px;
    color:#fff;
    font-size: 25px;
    text-align: center;
    margin: 35px 10%;
    padding-top: 20px;


}

