body{
    margin:0;
}


.header{
    position: fixed;
    top:0;
    width:100%;
    height:3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #5fc0cd;
    color:#ffffff; 
    z-index: 1;
}
.back{
    position: absolute;
    left:1.5rem;
    top:0.7rem; 
}




.background{
    height:11rem;
    background: url(../img/background.png) ;
    background-size:cover;
    margin-top: 3rem;    
}
.touxiang{
    position: absolute;
    top:5rem;
    left:1rem;
    height:4rem;
    width:4rem;
}
.name{
    position: absolute;
    top:5.5rem;
    left:6.8rem;
    font-size: 1.1rem;
    color:#ffffff;   
}
.age{
    position: absolute;
    top:5.7rem;
    left:11rem;
    font-size: 0.8rem;
    color:#ffffff;
}
.shape{
    position: absolute;
    top:7.5rem;
    left:7rem; 
    height:0.8rem;
}
.site{
    position: absolute;
    top:7.38rem;
    left:8.3rem;
    color:#ffffff;
    font-size: 0.75rem;
}





.row-a{
    height:3.2rem;
    line-height: 3.2rem;
    border-bottom:solid 0.1rem #e1e5e7;
}
.line-a{
    border-left:solid 0.1rem #5fc0cd;
    margin:1rem;
}

.row-b{
    height:3.1rem;
    line-height:3.1rem;
    border-bottom: solid 0.1rem #e1e5e7;
    margin-left:1.2rem;
    font-size: 0.9rem;
}
.star{
    height:0.8rem;
    margin-left:0.5rem
}
.line-b{
    border-left: solid 0.1rem #e1e5e7;
    margin:0.8rem 0.8rem 0.8rem 0.3rem;
}
.mainfont{
    margin:1rem 0rem 0.2rem 0.8rem;
    color:#999999;
}
.price{
    color:#e26163;
}



.row-c{
    position: relative;
    top:-0.9rem;
    border-bottom:solid 0.1rem #e1e5e7;
}

.zwjs{
    position: absolute;
    top:50%;
    margin-top: -0.2rem;
    left:2rem;
    padding-right: 0.6rem;
    border-right: solid 0.1rem #e1e5e7;
    font-size: 0.9rem;
    color:#999999;  
}
.lastfont{
    display: inline-block;
    line-height: 1.3rem;
    font-size: 0.8rem;   
    padding:1.35rem 0 0.7rem 7rem;
}





.foot{
    position: fixed;
    background-color: #ffffff;
    width:100%;
    height:2.7rem;
    bottom: 3%;
    z-index: 1;

}
.footleft{
    float: left;
    border-style: solid;
    width: 40%;
    margin-left: 5%;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    border-color: #5fc0cd;
    color: #5fc0cd;
    background-color: #ffffff;
}
.footright{
    float:right;
    height:2.73rem;
    width:40%;
    margin-right: 5%;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    background-color:#5fc0cd;
    color:#ffffff;
}