@import "grid";
@import "card";
@import "nav1";
$c29: #29b078;
$cee: #eeeded;
* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  margin: 0;
}
.nav-item {
  color: #000;
}
.navTop {
  padding: 1rem 0;
  border-bottom: 1px solid #d0d6d9;
}
.navTopGreen {
  color: $c29;
}
.directionAll,
.direction {
  margin-right:2rem;
}
.direction:hover {
  background-color: $c29;
  color: #fff;
}
.directions {
  height: 4rem;
  line-height: 4rem;
  font-weight: bolder;
  border-bottom: 1px solid #d0d6d9;
  /*margin-bottom: 2rem;*/
}
.cardImg {
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
}
.frontEnd {
  padding: 1rem 0 0;
  font-weight: bolder;
}

/*starbox*/
.doorBox {
  display: flex;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid $cee;
  border-bottom: none;
  border-left: none;
  color: #999;
}
.doorBoxTwo {
  display: flex;
  height: 3rem;
  line-height: 3rem;
  border-top: 1px solid $cee;
  color: #999;
}

.doorPadding {
  padding: 0 0 0 1rem;
}
.door:after {
  content: "";
  background-image:url(../img/fivestar.png);
  background-repeat: no-repeat;
  width:1rem;
  height: 1rem;
  position: absolute;
  display: block;
  top: 1rem;
  left: 5rem;
  z-index: 2;
}

.doorTwo :after {
  content: "";
  background-image: url(../img/fivestar.png);
  background-repeat: no-repeat;
  width:1rem;
  height: 1rem;
  position: absolute;
  display: block;
  top: 1rem;
  left: 6rem;
  z-index: 2;
}
.doorThree :after {
  content: "";
  background-image: url(../img/fivestar.png);
  background-repeat: no-repeat;
  width:1rem;
  height: 1rem;
  position: absolute;
  display: block;
  top: 1rem;
  left: 7.5rem;
  z-index: 2;
}
.timeColor {
  color: #f4716b;
  padding-left: 1rem;
}
.yearColor {
  color: #000;
}
.money {
  color: #999;
  text-align: center;
  height: 9rem;
  line-height: 9rem;
  border: 1px solid  $cee;
  border-bottom: none;
  border-left: none;
}
.moneyList {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  line-height: 3rem;
  border-top: 1px solid $cee;
  padding: 0 1rem;
}
.people {
  height: 3.2rem;
  line-height: 3.2rem;
  border-top: 1px solid $cee;
  font-size: 1.1rem;
  font-weight: bolder;
}

.peopleNumber {
  color: #f01400;
}
.message {
  height: 3rem;
  line-height: 3rem;
  border-top: 1px solid $cee;
}

.card {
  margin-top: 3rem;
}
.noThing {
  width: auto;
  height: 3rem;
}
span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card span {
  font-size: 0.8rem;
}
.card p {
  font-size: 0.9rem;
}