@charset "utf-8";

/*row清除浮动*/
.container-fluid {
  width: 100%;
  .row:before,
  .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }
  .row {
    zoom: 1;
  }
}

.col-lg-3, .col-lg-4, .col-five, .col-lg-9,
.col-md-6, .col-md-3, .col-sm-12 {
  float: left;
}

/*媒体查询确定宽度*/
@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-offset-3 {
    width: 50%;
  }
  .col-lg-4 {
    width: 33.333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-five {
    width: 20%;
  }
}
