<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lujing.mapper.GoodStudentMapper" >
  <resultMap id="BaseResultMap" type="lujing.pojo.GoodStudent" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="profession" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introduce" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="study_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, profession, introduce, study_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from good_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="lujing.pojo.GoodStudent" >
    insert into good_student (id, name, profession, 
      introduce, study_status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{studyStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="lujing.pojo.GoodStudent" >
    insert into good_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="studyStatus != null" >
        study_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="studyStatus != null" >
        #{studyStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lujing.pojo.GoodStudent" >
    update good_student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="studyStatus != null" >
        study_status = #{studyStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lujing.pojo.GoodStudent" >
    update good_student
    set name = #{name,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      study_status = #{studyStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countStudying" resultType="Integer">
    SELECT COUNT(*) FROM good_student WHERE study_status = 1
  </select>
  <select id="countWorking" resultType="Integer">
    SELECT COUNT(*) FROM good_student WHERE study_status = 0
  </select>

  <select id="getGoodStudents" resultMap="BaseResultMap">
    SELECT * FROM good_student
  </select>
</mapper>