html {
	font-size: 625%;
	box-sizing: border-box;
}
body {
	background-color: #f0f0f0;
}
/* 取消按钮边框 */
button.btn,
.triangle button {
	border: none;
}
/* 取消链接底下的样式 */
a:hover {
	text-decoration: none;
}
/* 取消按钮按下后的样式 */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    box-shadow: none;
}
/* 顶部 */
.hd {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: .5rem;
	z-index: 10;
	background-color: #29bde0;
}
.hd .glyphicon-menu-hamburger {
	font-size: .24rem;
}
.hd .btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	background-color: #29bde0;
}
.hd .btn:active {
	background-color: #29bde0;
}
/* 主要内容 */
.main {
	margin-top: .5rem;
	padding: .2rem .4rem;
}
/* 上次游戏名称 */
.main-top {
	position: relative;
	padding: .2rem .2rem;
	font-size: .2rem;
	color: #9a9a9a;
	border: 1px solid #c9c9c9;
	background-color: #fff;
}
.main-top .btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding-right: 0;
	background-color: #fff;
}
.main-top a {
	color: #e7e7e7;	
}
.main-top .btn:hover {
	background-color: #fff;
}
.main-top .glyphicon-menu-right {
	font-size: .25rem;
}
 /* 游戏版本 */
.main-content {
	position: relative;	
	margin-top: .2rem;
	border: 1px solid #c9c9c9;
	background-color: #fff;
}
.main-title {
	color: #fbb435;
	border-bottom: 1px solid #fbb435;
}
.main-wrap {
	margin-top: .2rem;
	padding-left: .5rem;
	padding-right: .5rem;
}
/* 选择版本按钮样式 */
.main-wrap .row:nth-child(odd) .btn {
	padding-top: .3rem;
	padding-bottom: .3rem;
	font-size: .24rem;
	color: #fff;
	background-color: #69d1e9;
}
/* 在玩人数样式 */
.main-wrap .row:nth-child(even) p {
	color: #9a9a9a;
	margin-top: .1rem;
	margin-bottom: .1rem;	
}
/* 底部小圆点 */
.main-wrap .dot span{
	display: inline-block;
	margin-right: .05rem;
	width: .1rem;
	height: .1rem;
	background-color: #f0f0f0;
	border-radius: 50%;
}
.main-wrap .dot span:first-child {
	background-color: #69d1e9;
}
/* 右边三角形 */
/* 相对于.main-content 垂直居中 */
.triangle {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.triangle button {
	background-color: #fff;
	outline: none;
}