.wrap{
	position: relative;
	padding: 4rem 20%;
}

.arrow{
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 2rem;
}

.mid{
	margin-top: 2rem;
	font-size: 1rem;
	color: white;
	font-weight: bold;
}

.logo{
	margin-bottom: 3rem;
}

.bot{
	margin-top: 5rem;
	text-align: center;
	font-size: 0.7rem;
	color: white;
}

.botleft{
	float: left;
}

.botright{
	float: right;
}