<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解 -->
    <context:annotation-config/>

    <!-- 开启扫描 -->
    <!-- 扫描位置是 mapper/-->
    <!--<context:component-scan base-package="mapper"/>-->
    <!--<context:component-scan base-package="service"/>-->
    <context:component-scan base-package="com.*"/>

    <!--Initialization for data source-->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <!--<property name="url" value="jdbc:mysql://localhost:3306/test?useSSL=false" />-->
        <!-- Connection information to the database-->
        <property name="url" value="jdbc:mysql://localhost:3306/jdbctemplatedemo?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="root" />
        <property name="password" value="root"/>
    </bean>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="typeAliasesPackage" value="com.wszhan.pojo"/>
        <!-- 配置MyBatis核心配置文件 -->
        <!--<property name="configLocation" value="classpath:sqlMapConfig.xml"/>-->
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--<property name="basePackage" value="mapper"/>-->
    <!--</bean>-->

<!--    <bean name="mapperFactoryBean" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="StudentMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wszhan.mapper"/>
    </bean>

<!--    <bean id="studentService" class="StudentServiceImpl">
    </bean>-->


</beans>

