@charset "UTF-8";
html {
  font-size: 312.5%;
}

/* 变量 */
/* 混合器 */
body {
  margin: 0;
  font-size: initial;
  background: #FFFFFF;
}

p {
  margin: 0;
}

/* 头部 */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.28rem;
  background: #5FC0CD;
  z-index: 1;
  /* 头部旋转三角 */
  /* 头部标题 */
}

header a {
  position: absolute;
  left: .35rem;
  width: 0.3rem;
  height: 0.3rem;
  border-top: .05rem solid #FFFFFF;
  border-left: .05rem solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header h3 {
  margin: 0;
  font-size: 0.32rem;
  color: #FFFFFF;
}

/* 中间主要部分 */
main {
  position: relative;
  margin: 1.28rem 0 1.2rem 0;
  /* 中间列表部分 */
}

main .main-bg {
  /* flex 垂直居中 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.26rem;
  background: url(../img/bj.png) no-repeat;
  background-size: 100% 101%;
  /* 头像 */
}

main .main-bg span {
  margin-left: .3rem;
  width: 1.7rem;
  height: 1.7rem;
  background: url(../img/tx.png) no-repeat;
}

main .main-bg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: .43rem;
}

main .main-bg div p {
  font-size: .32rem;
  color: #FFFFFF;
}

main .main-bg div .address {
  margin-top: .24rem;
  font-size: .24rem;
  color: #FFFFFF;
  /* 定位伪元素 */
}

main .main-bg div .address::before {
  display: inline-block;
  margin-right: .14rem;
  content: "";
  width: 0.18rem;
  height: 0.23rem;
  background: url(../img/dh.png) no-repeat;
}

main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: .99rem;
  border-bottom: 0.02rem solid RGBA(225, 229, 231, 1);
}

main ul li .skill {
  margin-left: .3rem;
  padding-left: .3rem;
  font-size: 0.32rem;
  border-left: .04rem solid #5FC0CD;
}

main ul .first-line {
  margin-left: .33rem;
  /* 星星图标 */
}

main ul .first-line .star {
  margin: 0 .08rem 0 .28rem;
  width: 0.24rem;
  height: 0.24rem;
  background: url(../img/xx.png) no-repeat;
}

main ul .first-line .home {
  padding-right: .19rem;
  border-right: .01rem solid #E1E5E7;
}

main ul .first-line .time {
  margin: 0 .27rem 0 .28rem;
  padding-right: .19rem;
  color: #999999;
  border-right: .01rem solid #E1E5E7;
}

main ul .first-line p {
  font-size: .32rem;
  color: #333333;
}

main ul .first-line .red-word {
  font-size: 0.32rem;
  color: #E26163;
}

main ul .me {
  height: auto;
}

main ul .me .time {
  margin: 0 .27rem 0 .6rem;
  padding-right: .19rem;
  white-space: nowrap;
  color: #999999;
  border-right: .01rem solid #E1E5E7;
}

main ul .me .experience {
  padding: .3rem .91rem .3rem 0;
  font-size: .28rem;
  color: #333333;
}

/* 底部 */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: .4rem;
  background: #FFFFFF;
  z-index: 1;
}

footer .left {
  line-height: .88rem;
  width: 45%;
  text-align: center;
  border-radius: .2rem;
  outline: none;
  font-size: .34rem;
  border: .01rem solid #5FC0CD;
  color: #5FC0CD;
  background: #FFFFFF;
}

footer .right {
  line-height: .88rem;
  width: 45%;
  text-align: center;
  border-radius: .2rem;
  outline: none;
  font-size: .34rem;
  border: none;
  color: #FFFFFF;
  background: #5FC0CD;
}
/*# sourceMappingURL=task12.css.map */