html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  font-size: 3.4rem;
  color: white;
  background-color: #29bde0;
  box-sizing: border-box;
}
main {
  position: absolute;
  top: 8rem;
  bottom: 0;
  width: 100%;
  background-color: #29bde0;
  overflow: auto;
}
main .summary {
  margin: 0 3.5rem;
  text-align: center;
}
main .picture {
  display: inline-block;
  width: 35rem;
  height: 20rem;
  margin: 1.5rem;
}
main .picture img {
  width: 100%;
  height: 100%;
}
main .summary-congrats {
  font-size: 3.3rem;
  color: #ffc865;
  text-align: justify;
}
main .summary-statistics {
  margin: 4rem 0 2rem 0;
  font-size: 2rem;
  color: white;
}
main .summary-statistics::after {
  clear: both;
  display: block;
  content: "";
}
main .summary-statistics p {
  margin: 16px 0;
  padding: 0;
  text-align: left;
}
main section {
  background-color: white;
}
main .list-item {
  padding: 1rem 3.5rem;
  border: 1px solid #dddddd;
}
main .list-date {
  padding: 1rem 0;
}
main .list-day {
  font-size: 3rem;
  color: black;
}
main .time {
  font-size: 2rem;
  color: #c7c7c7;
}
main .list-night,
main .list-daytime {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: #a6a6a6;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13rem;
  background-color: rgba(153, 223, 240, 0.671);
}
footer button {
  height: 8.6rem;
  width: 60rem;
  border-radius: 1rem;
  border: none;
  font-size: 4rem;
  color: white;
}
footer .oncemore {
  background-color: #f66f6f;
}
footer .upload {
  background-color: #fbb435;
}
.remain__killer,
.remain__citizen {
  float: left;
  width: 50%;
  font-size: 3rem;
}
