html {
  overflow-x: hidden;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 720px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.wrap {
  width: 200%;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
}
.wrap::after {
  display: block;
  clear: both;
  content: "";
}
aside {
  float: left;
  width: 0;
  transition: width  1s ease;
}
.menu {
  font-size: 3.2rem;
  color: #29bde0;
}
.menu li {
  padding: 1em;
  border-bottom: 1px solid #29bde0;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}
.menu img {
  width: 2em;
  height: auto;
  vertical-align: bottom;
}
main {
  float: left;
  width: 50%;
  text-align: center;
  background-color: #f0f0f0;
  font-size: 3.2rem;
  color: #a0a0a0;
}
header {
  position: relative;
  height: 3em;
  background-color: #29bde0;
  text-align: left;
}
.switch {
  position: relative;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  height: 5px;
  width: 1.5em;
  background-color: white;
  cursor: pointer;
}
.switch::before {
  position: absolute;
  top: -10px;
  left: 0;
  height: 5px;
  width: 1.5em;
  background-color: white;
  content: "";
}
.switch::after {
  position: absolute;
  top: 10px;
  left: 0;
  height: 5px;
  width: 1.5em;
  background-color: white;
  content: "";
}
.title,
.game {
  padding: 1em 0;
  margin: 0 1em;
}
.title {
  position: relative;
  border: 1px solid #d9d9d9;
  margin: 1em 1em;
  background-color: white;
}
.title img {
  position: absolute;
  right: 0;
  top: 20%;
  width: 1em;
  margin-right: 1rem;
}
.game {
  position: relative;
  border: 1px solid #d9d9d9;
  margin-bottom: 2rem;
  background-color: white;
}
.game__title {
  padding: 2rem 5rem;
  border-bottom: 1px solid #fbb435;
  margin-bottom: 2rem;
  color: #fbb435;
}
.game__unit {
  margin: 0 2em;
}
@media screen and (max-width: 600px) {
  .game__unit {
    margin: 0 2em;
  }
}
.game__version {
  padding: 5rem 0;
  background-color: #29bde0;
  color: white;
}
.game__intro {
  margin: 2rem 0;
  font-size: 2.4rem;
}
.blank {
  height: 2rem;
}
.circle {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.circle-active {
  background-color: #29bde0;
}
.triangle {
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 28px solid #fbb435;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
}
