@charset "UTF-8";
html, body, ul, li { margin: 0; padding: 0; list-style: none; }

.navbar-self { background-color: #29b078; }

.navbar-self::after { content: ""; display: block; clear: both; }

.xs-hidden-btn { float: right; display: none; border: 1px solid #fff; padding: 3px; border-radius: 5px; text-align: center; margin: 8px; background-color: #29b078; }

.xs-hidden-btn span { margin: 5px; display: block; width: 30px; height: 2px; background-color: #fff; }

.nav-drop-menu li { padding: 15px 15px; list-style: none; float: left; background-color: #29b078; }

.nav-drop-menu li:hover { background-color: #cacaca; }

.nav-drop-menu { padding: 0; text-align: center; float: right; clear: both; }

#nav-btn { display: none; }

#nav-btn:checked ~ .nav-drop-menu { display: block; }

@media screen and (min-width: 768px) { .xs-hidden-btn { display: none; }
  .nav-drop-menu { margin-right: 15px; margin-top: 0; display: block; float: right; }
  .nav-drop-menu li { float: left; } }
@media screen and (max-width: 600px) { .xs-hidden-btn { display: block; }
  .nav-drop-menu { display: none; float: none; }
  .nav-drop-menu li { float: none; } }
.drop-group::after { content: ""; display: block; clear: both; }

.dropdown-self { box-sizing: border-box; position: relative; display: inline-block; text-align: center; }

.dropdowm-toggle { padding: 10px; width: 100%; outline: none; background: #fff; border: none; }
.dropdowm-toggle label { display: block; width: 100%; }

.dropdown-menu, #dropdown-btn { display: none; }

#dropdown-btn:checked ~ ul { box-sizing: border-box; position: absolute; left: 0; display: block; width: 100%; }

#dropdown-btn1 { display: none; }

#dropdown-btn1:checked ~ ul { position: absolute; display: block; width: 100%; }

#dropdown-btn2 { display: none; }

#dropdown-btn2:checked ~ ul { position: absolute; display: block; width: 100%; }

/* *********ellipsis，省略号，当超过宽度时，显示省略号********** */
/* clearfix */
/* minheight */
/* 箭头
arrow(direction,
size,
color);
*/
html, body, ul, li { margin: 0; padding: 0; list-style: none; }

/* *********ellipsis，省略号，当超过宽度时，显示省略号********** */
/* clearfix */
/* minheight */
/* 箭头
arrow(direction,
size,
color);
*/
a { text-decoration: none; color: #000; }

html { font-size: 62.5%; }

header { box-sizing: border-box; background-color: #5fc0cd; padding: 0.7rem 0.7rem 0.7rem 2.8rem; position: fixed; top: 0; left: 0; width: 100%; text-align: center; word-spacing: -1rem; }
header button { border: 1px solid #5fc0cd; border-radius: 0.5rem; width: 7.2rem; height: 3.4rem; font-size: 1.7rem; }
header a { float: right; margin-top: 0.7rem; width: 2.2rem; height: 2.2rem; background: url(../../.././favicon.ico/task12/task6-sprite.png); }
header .employer { font-size: 1.6rem; color: #fff; background-color: #55a8b3; }
header .worker { font-size: 1.6rem; color: #5fc0cd; background-color: #fff; }

nav { color: #999; position: fixed; top: 4.8rem; left: 0; border-bottom: 1px solid #e1e5e7; padding: 0; width: 100%; text-align: center; word-spacing: -5px; }
nav .dropdown-self { width: 33.33333%; }
nav .dropdown-self:nth-child(2) { border: 1px solid #f5f6f7; border-top: none; border-bottom: none; }
nav .dropdown-self:nth-child(3) { border: 1px solid #f5f6f7; border-top: none; border-bottom: none; }
nav .dropdown-self ul { background: #fff; border: 1px solid #f5f6f7; }
nav .dropdown-self li { padding: 10px; }
nav .arrow { width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden; border-width: 5px; cursor: pointer; border-style: solid dashed dashed dashed; border-color: #999 transparent transparent transparent; border-bottom: none; float: right; margin: 6px 5px 0 -15px; }

main { margin-bottom: 5rem; }
main .list-items { margin-top: 8.4rem; font-size: 1.4rem; }
main .list-items .list-item { border-bottom: 1px solid #e1e5e7; padding: 1.5rem 1rem; font-size: 1.6rem; color: #999; }
main .list-items .list-item .sevice-date i { display: inline-block; margin-right: 0.4rem; width: 1.4rem; height: 1.2rem; background: url(../../.././favicon.ico/task12/task6-sprite.png) no-repeat 0 -1.7rem; }
main .list-items .list-item .date { display: flex; justify-content: space-between; align-items: center; padding-left: 1.8rem; color: #333; }
main .list-items .list-item .date p { margin: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
main .list-items .list-item .date span { font-size: 1.5rem; white-space: nowrap; font-size: 1.6rem; color: #e63b0e; }
main .list-items .list-item .date span i { display: inline-block; margin-left: 0.9rem; padding-top: 0.2rem; width: 1rem; height: 1.7rem; vertical-align: top; background: url(../../.././favicon.ico/task12/task6-sprite.png) no-repeat 0 -4.1rem; }
main .list-items .list-item .adress i { display: inline-block; margin-right: 0.4rem; width: 1.4rem; height: 1.2rem; background: url(../../.././favicon.ico/task12/task6-sprite.png) no-repeat 0 -3rem; }

footer { display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; position: fixed; left: 0; bottom: 0; border-top: 1px solid #e2eaec; padding: 0 23%; width: 100%; height: 5rem; text-align: center; background: #f8fafb; }
footer .home-page div { width: 2.3rem; height: 2rem; background: url(../../.././favicon.ico/task12/task6-sprite.png) no-repeat 0.2rem -5.8rem; }
footer .edit { width: 4.5rem; height: 4.4rem; background: url(../../.././favicon.ico/task12/task6-sprite.png) no-repeat 0 -7.7rem; }
footer .my-page div { width: 2.1rem; height: 2.1rem; background: url(../../.././favicon.ico/task12/task6-sprite.png) no-repeat 0.1rem -12rem; }

/*# sourceMappingURL=task12-2.css.map */
