body {
    margin: 0;
    background: url(./bg1.jpg);
    background-size: 100%;
    overflow: auto;
    
}
a {
    color: violet;
    text-decoration: none;
}
.list-box {
    display: flex;
}
li {
    padding: .5rem;
}
li:hover a{
    color: white;
}