<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sca="http://www.springframework.org/schema/sca"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/sca
           http://www.osoa.org/xmlns/sca/1.0/spring-sca.xsd">

    <sca:service name="StuService" type="com.longhang.stuService.StuService" target="stuService" />
    <bean id="stuService" class="com.longhang.stuService.impl.StuServiceImpl" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/testdd?useUnicode=true&amp;characterEncoding=utf8" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
        <!-- 可同时连接的最大的连接数 -->
        <property name="maxActive" value="20" />
        <!-- 最大的空闲的连接数 -->
        <property name="maxIdle" value="60" />
        <!-- 最小的空闲的连接数，低于这个数量会被创建新的连接，默认为0 -->
        <property name="minIdle" value="5" />
        <!-- 连接池启动时创建的初始化连接数量，默认值为0 -->
        <property name="initialSize" value="1" />
        <!-- 等待连接超时时间，毫秒，默认为无限 -->
        <property name="maxWait" value="30000" />
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.longhang.stuDao" />
    </bean>




</beans>