<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--导入db配置-->
    <properties resource="db.properties" />
    <!--<properties resource="xiaoweiba.properties" />-->
    <!--别名-->
    <typeAliases>
        <package name="com.jnshu.taskone.model"/>
    </typeAliases>

    <!-- 和spring整合后 environments配置将废除-->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--&lt;!&ndash; 使用jdbc事务管理&ndash;&gt;-->
            <!--<transactionManager type="JDBC" />-->
            <!--&lt;!&ndash; 数据库连接池&ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${driver}" />-->
                <!--<property name="url" value="${url}" />-->
                <!--<property name="username" value="${db_username}" />-->
                <!--<property name="password" value="${db_password}" />-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <!-- 加载映射文件 -->
    <!--<mappers>-->
        <!--<package name="com.jnshu.taskone.dao"/>-->
    <!--</mappers>-->
</configuration>

