html{
    font-size:62.5%;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;

}
header{
    width:100%;
    height:4rem;
    text-align:center;
    background-color:#5fc0cd;
    position:fixed;
    z-index:20;
}
main{
    padding: 4rem 0 6.5rem;

}
.employer{
    margin-top:0.5rem;
    height:3rem;
    width:9rem;
    background-color:#55a8b3;
    border:none;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    font-size:2rem;
    color: #ffffff;
    position:relative;
    left: 0.5rem;
    outline:none;
}
.nursing{
    height:3rem;
    width:9rem;
    background-color:#fff;
    border:none;
    border-radius:10px;
    margin-top:0.5rem;
    font-size:2rem;
    color: #5fc0cd;
    position:relative;
    right: 0.5rem;
    z-index:10;
    outline:none;
}
.back {
    position:absolute;
    right: 2px;
    transform:scale(0.7,0.7);
    background: #5fc0cd;
    border:none;
    border:0;
    outline:none;
}

select{
    width: 33%;
}


.text{
    text-align: center;
}

.box{
    height: 50px;
    border-radius: 0;
    width: 33.33333%;
    display: inline-block;
    padding-left: 13%;
    margin: -2px;
}

body{
    margin: 0px;
    padding: 0px;
}
body,div, form, img, ul, ol, li, dl, dt, dd, form, p {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    list-style: none outside none;
    text-decoration:none;
}
















.choose{
    text-align:center;
}
form ul li{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
form ul{
    list-style-type:none;
    border-bottom:1px solid #e2e6e8;
    padding:0.5rem 0.5rem 0  0.5rem;
}
.wage{
    float:right;
    color:#FF0000;
    font-size:1.6rem;
    margin-top: -25px;
    margin-right: 10px;


}
.wage span{
    padding: 0.5rem;
    text-overflow:ellipsis;
    /*符号位置有点问题*/
}
.wage img{
    transform:scale(0.7,0.7);
    vertical-align:middle;
}

.service{
    font-size: 1.6rem;
    padding:0 1rem;
    color:#e2e6e8;
}
.service img {
    transform:scale(0.8,0.8);
    vertical-align:top;

}
.time{
    font-size:1.6rem;
    padding-left: 1.9rem;
    text-overflow:ellipsis;
    width:60%;
}
.place{
    font-size:1.6rem;
    padding-left:1rem;
    color:#e2e6e8;
}
.place img{
    transform:scale(0.8,0.8);
    vertical-align:middle;
}

footer{
    display:flex;
    justify-content: space-around;
    position:fixed;
    Z-index:1;
    bottom:0;
    width:100%;
    background-color:#FFFFFF;
    height: 6.25rem;
    padding: 0 0 0.5rem;

}
.circle{
    height:6rem;
    width: 6rem;
    border-radius:50%;
    background:#5fc0cd;
    display:flex;
    align-items:center;
    justify-content: center;
    border:none;
    outline:none;
}


.first{
    padding-top:0.8rem;
    text-align:center;
    border:none;
    background: #FFFFFF;
    outline:none;
}

.first span{
    color:#5fc0cd;
    font-size: 1.4rem;

}
.my{
    padding-top:0.8rem;
    text-align:center;
    border:none;
    background: #FFFFFF;
    outline:none;
}
.my span{
    color:#999999;
    font-size: 1.4rem;
}
.main-top{
    border-bottom: 1px solid #e1e5e7;
}
.top-content{

    border-right: 1px solid #e1e5e7;
    padding-left:0;
    padding-right:0;
    width: 33%;



    margin:0 !important;

}
.last{
    border-right:none!important;
}
.top-content .btn{
    outline:none !important;
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    text-decoration: none !important;
    display:flex;
    justify-content: center;
}
.menu{
    text-align: center;
    min-width: 100%;
    padding: 0;
    outline:none;
    z-index:1!important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 0;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.caret{
    position:absolute;
    right:1.6rem;
    top: 1.8rem;

}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}




