@font-face {
  font-family: 'iconfont';  /* project id 503922 */
  src: url('//at.alicdn.com/t/font_503922_c7w546a6rtq08uxr.eot');
  src: url('//at.alicdn.com/t/font_503922_c7w546a6rtq08uxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_503922_c7w546a6rtq08uxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_503922_c7w546a6rtq08uxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_503922_c7w546a6rtq08uxr.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:.3rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html{
  background: #333;
}
html,
body{
  margin: 0 auto;
  max-width: 480px;
  min-height: 100vh;
}