header{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height: .78rem;
  text-align: center;
  line-height: .78rem;
  padding: 0 .2rem;
  background: #29bde0;
  border-bottom: 1px solid #74d4eb;

  >h4{
    padding: 0 .5rem;
    color: #fff;
    font-size: .34rem;
  }

  >a{
    float: left;
    &:last-of-type{
      float: right;
    }
  }
}