body{margin: 0;padding: 0;}
a{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}
.header{
  width: 100%;
  height: 90px;
  background-color: rgb(95, 192, 205);
  position: fixed;
  z-index: 1;
}
.header a{
  display: inline-block;
  width: 20%;
  line-height: 90px;
}
a:first-child{
  margin-left: 20px;
}
.header a:nth-of-type(2){
  float: right;
  text-align: right;
  margin-right: 20px;
}
.header p{  
  width: 60%;
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  margin: auto;
  z-index: 2;
  font-size: 1.5em;
  letter-spacing: 1em;
  color: white;
  line-height: 90px;
  text-indent: 1em;
  text-align: center;
}
.main{
  width: 100%;
  background: rgb(239, 240, 244);
  position: absolute;
  top:90px;
  bottom: 0;
}
form{
  width:100%;
  border: none;
  color:white;
}
.acount,.pwd{
  margin: 10px 0;
  background-color: white;
}
label{
  float: left;
  display: inline-block;
  width:120px;
  height: 80px;
  text-align: right;    
}
span{
  color: rgb(202, 202, 202);
  font-size: 50px;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
}
.acount label{
  background: url(./img/iphone.png) no-repeat 40px center;
}
.pwd label{
  background: url(./img/lock.png) no-repeat 40px center;
}
.acountin,.pwdin{
  height: 80px;
  margin-left: 125px;
}
input{
  width:100%;
  font-size: 1.2em;
  border: none;
  padding: 0;
  height: 80px;
}
input:focus{
  border-color: #000;
  background-color: #ffc;
}
button{
  width: 100%;
  height: 100px;
  margin-top: 80px;
  border: none;
  background: rgb(95, 192, 205);
  color: white;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2em;
  text-indent: 2em;
}
.main a{
  float: right;
  color:rgb(95, 192, 205);
  margin-top: 10px;
  margin-right: 10px;
}