/* 底部开始 */
footer {
    background: $bg29;
    

    .footer-ims {
        margin: 0;
        @include font($fz14, $bgff);
        border-top: 1px solid #ccc;
        text-align: center;
        // background: $bg29;

        span {
            @media screen and (max-width: 767px) {
                display: block;
            }
        }

    }

    .row {
        
        a {
            @include font($fz16,$bgff);
            margin-right: 20px;

            &:hover {
                text-decoration: underline;
            }
        }
        div {
            @include flex(space-between,flex-start);
            flex-direction: column;
            height: 168px;
            padding-top: 25px;
            padding-bottom: 25px;

            span {
                @include box(92px,92px);
                background: url(../../images/css-s.png) no-repeat -10px -10px;
            }
        }
    }
}