* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    min-width: 400px;
}
body , p , ul , li {
    margin: 0;
    padding: 0;
}
body {
    background-color: #29BDE0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: solid .1rem #74D4EB;
    color: #fff;
    letter-spacing: .2rem;
}
.img-back {
    display: block;
    width: 1.5rem;
}
.img-quit {
    display: block;
    width: 2rem;
}
main {
    padding: 7rem;
}
.player-wrap {
    display: flex;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    border: solid .5rem #fff;
    background-color: #FFEDC5;
}
.player-number {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
    line-height: 3.4rem;
    border: solid .3rem #FFEDC5;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
    color: #f56b81;
}
.player-img {
    margin-top: 8rem;
}
.icon-back , .icon-front {
    height: 20rem;
    width: 20rem;
}
.icon-front {
    display: none;
}
#playerCont {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
    color: #29bde0;
}
.check-btn {
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    border: none;
    font-size: 2rem;
    color: #fff;
    background: #FBB435;
    outline: none;
    cursor: pointer;
}