*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
html{
	font-size: 62.5%;
}
body {
  overflow-x: hidden;
}
.flex_center,
.flex_center_column {
	display: flex;
	align-items: center;
}
.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	margin: 0;
}
a:hover {
	text-decoration: none;
	border-bottom: #fff solid .3rem;
}

/* 首页 */
.head_top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: #fff;
}
.head_top_tel {
	height: 4rem;
	color: #42b683;
}
.head_top_contact {
	height: 4rem;
}
.head_top_wechat,
.head_top_qq,
.head_top_sina {
	background-image: url(../img/contact.png); 
	background-repeat:no-repeat;
	height: 31px;
	width: 31px;
}
.head_top_wechat {
	background-position: 0 0;
}
.head_top_qq {
	background-position: -31px 0;
}
.head_top_sina {
	background-position: -62px 0;
}
/* head_mid */
.head_mid {
	position: relative;
	top: 0;
	width: 100%;
	height: 6rem;
	background: #29b078;
}
.head_mid_home {
	
}
.navbar{
  padding: .5rem 15%;
  background-color: #29b078;
}
.navbar-right{
  margin-left: auto;
  text-align: center;
}
.active{
  border-bottom: 3px solid white;
}
.navbar-nav a:hover{
  border-bottom: 3px solid white;
}
.nav-item{
  line-height: 3.5rem;
  color: white;
}
.head_mid_home_btn,
.head_mid_job_btn,
.head_mid_recmd_btn,
.head_mid_about_btn {
	height: 6rem;
	font-size: 16px;
}
.head_mid_home_p,
.head_mid_job_p,
.head_mid_recmd_p,
.head_mid_about_p {
	color: #fff;
}
.head_mid_home_btn {
	border-bottom: #fff solid .3rem;
}
.head_mid_job {

}
.head_mid_job_btn {
	
}
.head_mid_job_p {

}
.head_mid_recmd {

}
.head_mid_recmd_btn {
	
}
.head_mid_recmd_p {

}
.main_about {
	position: relative;
	top: 0;
	color: #fafafa;
	margin-top: 12rem;
}
.main_about_EFF {
	position: relative;
	left: 3rem;
	height: 10rem;
}
.main_about_EFF_img,
.main_about_rule_img,
.main_about_conn_img {
	text-align: center;
}
.main_about_conn_img {

}
.main_about_EFF_h,
.main_about_rule_h,
.main_about_conn_h {
	text-align: center;
	margin: 2rem 0 2rem 0;
	color: #333;
}
.main_about_EFF_p,
.main_about_rule_p,
.main_about_conn_p {
	color: #afafaf;
	margin: 0 2rem 0 2rem;
}