@charset "UTF-8";
html {
  font-size: 312.5%;
}

body {
  margin: 0;
  font-size: 16px;
}

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  margin: 0;
  padding: 0 !important;
  background: transparent;
  border: none;
  outline: none !important;
}

body .content main ul li:nth-child(2) > a, body .content main ul li:nth-child(4) > a, body .content main ul li:nth-child(6) > a {
  display: inline-block;
  width: 80%;
  line-height: 1.34rem;
  font-size: 0.32rem;
  color: #ffffff;
  background: #69D1E9;
}

body .content main ul li:nth-child(2) .trilateral::after, body .content main ul li:nth-child(4) .trilateral::after, body .content main ul li:nth-child(6) .trilateral::after {
  content: "";
  position: absolute;
  top: 50%;
  right: .1rem;
  margin: -.2rem -.2rem -3rem 0;
  border: solid .3rem;
  border-color: transparent transparent transparent #FBB435;
}

/*全局*/
body {
  position: relative;
  overflow: hidden;
  /*sidenav部分*/
  /*content部分*/
}

body input {
  display: none;
}

body #side:checked ~ .content {
  margin-left: 50%;
}

body .sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: #ffffff;
}

body .sidenav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 1rem;
  border-bottom: 1px solid #C9C9C9;
}

body .sidenav li a {
  margin-left: .2rem;
  font-size: 0.38rem;
  color: #69D1E9;
}

body .sidenav li::after {
  content: "";
  position: absolute;
  right: .2rem;
  top: .42rem;
  border-top: 2px solid #69D1E9;
  border-right: 2px solid #69D1E9;
  width: .16rem;
  height: .16rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .sidenav li:hover {
  background: #F0F0F0;
}

body .content {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  -webkit-transition: margin-left 1s;
  transition: margin-left 1s;
  width: 100vw;
  /*header部分*/
  /*main部分*/
}

body .content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: .9rem;
  background-color: #29BDE0;
}

body .content header label {
  margin-left: .22rem;
  padding-top: .07rem;
  padding-bottom: .07rem;
  border-top: .04rem solid currentColor;
  border-bottom: .04rem solid currentColor;
  width: .34rem;
  height: .04rem;
  color: #ffffff;
  background-color: currentColor;
  background-clip: content-box;
}

body .content main {
  padding: .27rem .37rem 0 .35rem;
}

body .content main h3 {
  line-height: 1.16rem;
  text-align: center;
  border: 0.01rem solid #C9C9C9;
  font-size: 0.35rem;
  font-weight: normal;
  color: #9A9A9A;
  background: #ffffff;
}

body .content main h3::after {
  content: "";
  position: absolute;
  right: .5rem;
  margin-top: .5rem;
  border-top: 2px solid;
  border-right: 2px solid;
  width: .15rem;
  height: .15rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .content main ul {
  position: relative;
  margin-top: .27rem;
  text-align: center;
  border: solid 0.01rem #C9C9C9;
  background-color: #ffffff;
}

body .content main ul li {
  margin-top: .27rem;
}

body .content main ul li:nth-child(1) {
  margin-top: 0;
  line-height: .9rem;
  font-size: 0.38rem;
  color: #FBB435;
  border-bottom: 0.01rem solid #FBB435;
}

body .content main ul li:nth-child(3), body .content main ul li:nth-child(5), body .content main ul li:nth-child(7) {
  font-size: 0.25rem;
  color: #787878;
}

body .content main ul li:nth-child(8) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  margin: .14rem auto;
}

body .content main ul li:nth-child(8) span {
  border-radius: 50%;
  width: .17rem;
  height: .17rem;
}

body .content main ul li:nth-child(8) span:nth-child(1) {
  background: #69D1E9;
}

body .content main ul li:nth-child(8) span:nth-child(2), body .content main ul li:nth-child(8) span:nth-child(3), body .content main ul li:nth-child(8) span:nth-child(4) {
  background-color: #F0F0F0;
}
/*# sourceMappingURL=task13-1.css.map */