html,
body
{
    font-size: 62.5%;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #fff;
}

a,
a:hover,
a:visited,
a:active,
a:focus
{
    box-sizing: border-box;

    text-decoration: none;
}

/*头部开始*/
header
{
    font-size: 1.4rem;
    line-height: 40px;

    height: 40px;

    color: #fff;
    background: #1d7ad9;
}
@media screen and (max-width: 991px)
{
    header .right-nav
    {
        padding-left: 0;
    }
    header .telephone
    {
        padding-right: 0;
    }
}
header .right-nav ul
{
    float: right;

    margin: 0;

    list-style: none;
}
@media screen and (max-width: 991px)
{
    header .right-nav ul
    {
        padding: 0;
    }
}
header .right-nav ul > li
{
    font-size: 1.6rem;

    float: left;
}
header .right-nav ul > li > a
{
    display: inline-block;

    height: 40px;
    padding: 0 10px;

    color: #fff;
    border-right: 1px solid #fff;
}
header .right-nav ul > li:first-child > a
{
    border-left: 1px solid #fff;
}
header .right-nav ul > li:hover
{
    padding: 0 28px;

    background: #fff;
}
@media screen and (max-width: 991px)
{
    header .right-nav ul > li:hover
    {
        padding: 0;

        background: #fff;
    }
}
header .right-nav ul > li:hover > a
{
    color: #333;
}
/*头部结束*/

/*顶部导航开始*/

.top-nav-box .navbar-default
{
    margin: 0;

    border: 0;
    background: #f9f9f9;
}
@media screen and (min-width: 768px)
{
    .top-nav-box .navbar-nav
    {
        float: right;
    }
}
.top-nav-box .navbar-default .navbar-nav > li
{
    padding: 30px;
}
.top-nav-box .navbar-default .navbar-nav > li:last-child
{
    padding-right: 0;
}
@media screen and (max-width: 991px)
{
    .top-nav-box .navbar-default .navbar-nav > li
    {
        padding: 5px 30px;
    }
    .top-nav-box .navbar-default .navbar-nav > li:last-child
    {
        padding-right: 30px;
    }
}

.top-nav-box .navbar-default .navbar-nav > li > a
{
    font-size: 1.6rem;

    padding: 15px;

    color: #333;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
}
@media screen and (max-width: 991px)
{
    .top-nav-box .navbar-default .navbar-nav > li > a
    {
        text-align: center;
    }
}
.top-nav-box .navbar-nav > li > a:hover
{
    color: #fff;
    background: #1d7ad9;
}



.top-nav-box .navbar-collapse
{
    padding: 0;

    border: 0;
}

.top-nav-box .navbar-default .navbar-nav > .active > a
{
    border-bottom: 4px solid #fff;
    background-color: #29b078;
}
.top-nav-box .navbar-default .navbar-nav > .active > a:hover,
.top-nav-box .navbar-default .navbar-nav > .active > a:focus
{
    color: #fff;
}

.top-nav-box .navbar-toggle .icon-bar
{
    width: 20px;
    height: 4px;
}

.top-nav-box .navbar-toggle .icon-bar + .icon-bar
{
    margin-top: 4px;
}

.top-nav-box .navbar-default .navbar-toggle
{
    margin: 11px 15px 11px 0;

    border: 0;
    background: #f9f9f9;
}

.top-nav-box .navbar-default .navbar-toggle:hover
{
    background: #fff;
}
/*顶部导航结束*/
/*流程图开始*/
.step-box
{
    float: right;
}
.step
{
    position: relative;

    float: left;

    width: 160px;
    margin-top: 48px;
    margin-left: -2.5px;

    cursor: pointer;
}
@media screen and (max-width: 767px)
{
    .step
    {
        width: 20vw;
    }
}
.step:hover
{
    z-index: 999999;
}
.step .line
{
    position: absolute;
    top: 9.5px;

    width: 160px;
    height: 5px;

    border-radius: 2.5px;
    background: #ccc;
}
@media screen and (max-width: 767px)
{
    .step .line
    {
        width: 20vw;
    }
}
.step:hover .line
{
    background: #ff7f02;
}
.step .circle
{
    font-size: 1.6rem;
    line-height: 24px;

    position: absolute;
    top: 0;
    left: 50%;

    width: 24px;
    height: 24px;
    margin-left: -12px;

    text-align: center;

    color: #fff;
    border-radius: 12px;
    background: #ccc;
}
.step:hover .circle
{
    background: #ff7f02;
}
.step p
{
    font-size: 1.8rem;

    margin-top: 25px;
    margin-bottom: 50px;
    padding-top: 25px;

    text-align: center;

    color: #ccc;
}
@media screen and (max-width: 991px)
{
    .step p
    {
        font-size: 1.2rem;
    }
}
.step:hover p
{
    color: #ff7f02;
}
/*流程图结束*/

/*主体开始*/
.top-words
{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.7rem;

    margin-bottom: 15px;
    padding-left: 5px;

    color: #333;
    border-left: 4px solid #1d7ad9;
}
/*选择箱型开始*/

.guide-title
{
    font-size: 1.8rem;
    font-weight: 700;

    display: flex;

    padding: 13px 16px;

    color: #1d7ad9;
    border-radius: 4px 4px 0 0;
    background: #f4f4f4;

    align-items: center;
}
.guide-title span
{
    margin-left: 9px;
}
.guide-body
{
    display: flex;

    border: 2px solid #e8e8e8;
    background: #fbfcff;

    justify-content: space-between;
    /*border-top: 0;*/
}
@media screen and (max-width: 991px)
{
    .guide-body
    {
        flex-direction: column;
    }
}
input[type='radio']
{
    display: none;
}
.choice
{
    display: flex;

    padding-left: 35px;
}
@media screen and (max-width: 991px)
{
    .choice
    {
        flex-direction: column;
    }
}
@media screen and (max-width: 991px)
{
    .choice > *
    {
        display: flex;

        justify-content: center;
    }
}
.choice .icon
{
    display: inline-block;

    width: 18px;
    height: 18px;

    border: 2px solid #d6d6d6;
    border-radius: 9px;
}
.choice input[type='radio']:checked + .icon
{
    border: 7px solid #1d7ad9;
}
.choice label
{
    font-size: 1.8rem;
    line-height: 18px;

    display: flex;

    height: 18px;
    margin: 35px 60px 35px 0;

    color: #666;

    align-items: center;
}
.choice span:last-child
{
    margin-left: 20px;
}
.drop-down
{
    font-size: 1.4rem;

    position: relative;
    top: 25px;
    right: 18px;

    width: 125px;

    color: #999;
}
@media screen and (max-width: 991px)
{
    .drop-down
    {
        top: 0;
        left: 50%;

        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: -70px;
    }
}

.drop-down div:first-child
{
    display: flex;

    height: 38px;
    padding: 0 4px 0 20px;

    border: 2px solid #e8e8e8;
    background: #fff;

    justify-content: space-between;
    align-items: center;
}
.drop-down ul
{
    position: absolute;
    z-index: 999999;

    width: 125px;
    margin: 0;
    padding: 0;

    border-right: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    background: #fff;
}
.drop-down ul > li
{
    line-height: 38px;

    display: none;

    height: 38px;

    list-style: none;

    text-align: center;

    border-bottom: 2px solid #e8e8e8;
}
.drop-down:hover ul > li
{
    display: block;
}
/*选择箱型结束*/
/*确定尺寸开始*/
.size-choice
{
    flex-direction: column;
}
.size-choice div
{
    display: flex;
}
input[type='text']
{
    width: 70px;
    height: 30px;
    margin: 0 5px;

    border: 2px solid #e8e8e8;
    outline: none;
    background: #fbfcff;
}
.size-choice div:last-child
{
    margin-top: -35px;
}
@media screen and (max-width: 991px)
{
    .size-choice div:last-child
    {
        margin-top: 0;
    }
}
.size-choice .special
{
    margin-left: 0 !important;
}
.size-choice + .drop-down
{
    top: 50px;
}
@media screen and (max-width: 991px)
{
    .size-choice + .drop-down
    {
        top: 0;
    }
}
@media screen and (max-width: 991px)
{
    .size-choice div
    {
        flex-direction: column;
    }
    .size-choice div > *
    {
        justify-content: center;
    }
}
/*确定尺寸结束*/
/*选择材质开始*/
@media screen and (min-width: 992px)
{
    .material-choice label
    {
        margin-right: 15px;
    }
    .material-choice span:last-child
    {
        margin-left: 10px;
    }
}
/*选择材质结束*/
/*主体下导航开始*/
.next-btn
{
    display: flex;

    padding: 140px 0 95px 0;

    border: 2px solid #e8e8e8;
    border-top: 0;
    background: #fff;

    justify-content: center;
}
.next-btn a
{
    font-size: 2.4rem;
    font-weight: 700;

    padding: 10px 52px;

    color: #fff;
    border-radius: 2px;
    background: #e15053;
}
/*主体下导航结束*/
/*主体结束*/
/*底部开始*/
footer
{
    margin-top: 55px;

    background: #f9f9f9;
}
footer .left p
{
    font-size: 1.8rem;
    font-weight: 500;

    margin: 68px 0 120px 0;

    color: #999;
}
@media screen and (max-width: 991px)
{
    footer .left p
    {
        margin: 30px 0 30px 0;
    }
}
footer .center
{
    padding: 70px 15px 80px 15px;
}
@media screen and (max-width: 991px)
{
    footer .center
    {
        padding: 30px 15px 30px 15px;
    }
}
footer .center span
{
    margin-right: 40px;
}
footer .center span:last-child
{
    margin-right: 0;
}
footer .center div
{
    width: 254px;
    margin: 0 auto 20px auto;
}
@media screen and (max-width: 991px)
{
    footer .center div
    {
        width: 254px;
        margin: 0 0 20px 0;
    }
}
footer .center span a
{
    font-size: 1.4rem;
    font-weight: 500;

    color: #999;
}
footer .center span a:hover
{
    color: #1d7ad9;
}
footer .right
{
    display: flex;

    height: 230px;

    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 991px)
{
    footer .right
    {
        display: flex;

        height: 150px;
        padding-top: 20px;
        padding-bottom: 70px;

        justify-content: flex-start;
        align-items: center;
    }
}
footer .right div:last-child
{
    padding: 5px;

    background: #fff;
}
footer .right div:first-child
{
    display: flex;
    flex-direction: column;
}
footer .right span
{
    font-size: 1.4rem;
    font-weight: 500;

    padding: 6px;

    color: #999;
}
.footer-bottom
{
    font-size: 1.2rem;

    padding: 8px 15px;

    text-align: center;

    color: #fff;
    background: #1d7ad9;
}

/*底部结束*/
