body {
    margin: 0;
    background-color: #eff0f4;
}

header {
    display: flex;
    height: 2.75rem;
    color: #fff;
    background-color: #5fc0cd;
    justify-content: space-between;
    align-items: center;
}

.left {
   margin-left: 1rem;
}



.right {
    margin-right: 1rem;
}

.top-box {
    position: relative;
    background-color: #fff;
    height: 3.125rem;
    margin: 0.5rem auto 0.43rem;
}

.iphone {
    margin: 0.92rem 2.5rem 0.92rem 1.375rem;
    width: 0.84rem;
}

input[type="text"] {
    position: absolute;
    top: 50%;
    border: none;
    transform: translateY(-50%);
    outline: none;
    width: 70%;
    
}

.top-border {
    margin: 0 0 0 3.625rem;
    position: absolute;
    padding: 0.79rem 0;
    border-left: 1px solid #eff0f4;
    top: 50%;
    transform: translateY(-50%);
}

.down-box {
    position: relative;
    background-color: #fff;
    height: 3.125rem;
    margin-bottom: 2.18rem;
}

.locked {
    margin: 0.92rem 2.5rem 0.92rem 1.375rem;
    width: 0.84rem;
}

input[type="password"] {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    transform: translateY(-50%);
    width: 70%;
}

.down-border {
    margin: 0 0 0 3.628rem;
    position: absolute;
    padding: 0.79rem 0;
    border-left: 1px solid #eff0f4;
    top: 50%;
    transform: translateY(-50%);
}

button {
    height: 3.125rem;
    width: 100%;
    color: #fff;
    background-color: #5fc0cd;
    border: none;
    font-size: 1.125rem;
    letter-spacing: 0.625rem;
    outline:none;
    padding: 0;
}

.a {
    float: right;
    margin-right: 1rem;
    color: #5fc0cd;
    text-decoration:none;
}
input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bababa;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bababa;
    opacity: 1;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bababa;
}
