body {
    margin:0;
    font-family: 微软雅黑;
}
header {
    background: #1277dc;
}
.top-blue {
    width:62.5%;
    margin:0 auto;
    height: 40px;
    position: relative;
}
.tel {
    font-size: 14px;
    float: left;
    color: #FFFFFF;
    padding:10px 0;
}
.user-info {
    float: right;

}
.lauch {
    font-size: 16px;
    cursor: pointer;
    border-left:2px solid #FFFFFF;
    border-right:0;
    background: transparent;
    border-top:0;
    border-bottom: 0;
    color: #FFFFFF;
    padding: 1rem 2px;
    line-height: 8px;
    margin-right:100px;
    width: 50px;
}
.lauch:hover {
    background: #FFFFFF;
    color: #000;
    width: 100px;
    margin-right: 75px;
    border-right: 0;
}
.registration {
    font-size: 16px;
    cursor: pointer;
    border-left:0;
    border-right:2px solid #FFFFFF;
    border-top:0;
    border-bottom: 0;
    background-color: transparent;
    color: #FFFFFF;
    padding: 1rem 2px;
    line-height: 8px;
    position: absolute;
    right: 25px;
    top: 0;
    width: 50px;
}
.registration:hover {
    background: #FFFFFF;
    color: #000;
    width: 100px;
    right:0;
    position: absolute;
}
.progress1 {
    float: right;
    width:16%;
}
.progress2 {
    position: relative;
}
.orthogon {
    height: 5px;
    background: #cccccc;
    position: relative;
    margin:1rem 0;
    border-radius: 1px;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #cccccc;
    position: absolute;
    right: 40%;
    top: -6px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.orthogon:hover {
    background: #ff7f02;
}
.orthogon:hover .circle {
    background: #ff7f02;
}
.orthogon:hover .selction {
    color: #ff7f02;
}

.selction {
    font-size: 18px;
    color: #cccccc;
    text-align: center;
    padding: 2rem 0;
}
.bg-col {
    background: #f9f9f9;
}
.bg-col1 {
    background: #f9f9f9;
}
.bg-col2 {
    background: #fbfcff;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
}
.bg-col3 {
    padding: 45px 0 !important;
}
.bg-col4 {
}
form {
    padding: 15px 0;
}
.input1 {
    padding: 0 60px 0 18px;
    display: inline-block;
}
.img {
    margin:0 10px 0 15px;
}
.link-list {
    width:62.5%;
    height: 100px;
    margin:0 auto;
}
.four-button {
    float: right;
}
.button-top {
    height: 47px;
    font-size: 16px;
    line-height: 11px;
    padding: 18px 17px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    border-radius: 3px;
    margin: 26px 0 26px 60px;
}
.button-top:hover {
    background: #1277dc;
    color: #FFFFFF;
}
.text {
    width: 70px;
    border-color: #e8e8e8;
}
.list1 {
    font-size: 22px;
    border-left: 4px solid #1277dc;
    float: left;
    padding-left: 6px;
    margin-bottom: 15px;
}
.link-list1 {
    width: 62.5%;
    margin: 0 auto;
    clear: both;
    padding: 13px 0;
    border:1px solid #e7e7e7;
}
.link-list2 {
    width: 62.5%;
    margin: 0 auto;
    clear: both;
    padding: 15px 0;
    position: relative;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.link-list3 {
    width: 62.5%;
    margin: 0 auto;
    clear: both;
    padding: 13px 0;
}
.list2 {
    display: flex;
    color: #1277dc;
}
.input {
    float: left;
    margin-left: 45px;
}
.select-list {
    position: absolute;
    right: 10px;
    top: 75px;
    margin-top: -38px;
    font-size:14px !important;
}
.select-list1 {
    position: absolute;
    right: 10px;
    margin-top: -5px;
    font-size:14px !important;
}
.select-size {
    width: 130px;
    height: 40px;
}
.next-step0 {
    padding-top: 40px;
}
.next-step {
    width: 180px;
    height: 50px;
    background: #e15053;
    border-radius: 10px;
    border: 0;
    margin: 100px auto;
    display: block;
    color: #ffffff;
    font-size: 24px;
}
.button-left {
    float: left;
    font-size: 18px;
    padding:69px 180px 0 0;
}
.button-right {
    float: right;
    font-size: 12px;
}
footer {
    height: 210px;
    margin-top: 60px;
    background: #f9f9f9;
    color: #999999 !important;
}
.footer-img {
    float: right;
    padding: 57px 0 0;
}
.footer-right {
    float: right;
    padding: 3.5rem 0 0;
}
a {
    color: #999999 !important;
    text-decoration: none;
}
a:hover {
    color:#1277dc !important;
}
.radiobox {
    position: relative;
}
.radiobox:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #1277dc;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 5px;
}
input[type=radio]:checked:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 1px;
    border:4px solid #1277dc !important;
    top: 6px;
}
input[type=radio] {
    height:0;
}
div.select-list div {
    background: url("下拉菜单.png") no-repeat;
    width: 24px;
    height: 28px;
    position: absolute;
    right: 2px;
    top: 20px;
}
div.select-list1 div {
    background: url("下拉菜单.png") no-repeat;
    width: 24px;
    height: 28px;
    position: absolute;
    right: 2px;
    top: 20px;
}
.footer-right span {
    height: 1rem;
    display: block;
}
.bottom {
    text-align: center;
    background: #1277dc;
    padding:1rem 0;
    color: #FFFFFF;
}



@media screen and (max-width: 767px) {
    .top-blue {
        width:100%;
    }
    .tel {
        font-size: 12px;
    }
    .lauch {
        margin-right: 80px;
        width: 50px;
    }
    .lauch:hover {
        width: 80px;
        margin-right: 50px;
    }
    .registration {
        width: 50px;
        right: 0;
    }
    .registration:hover {
        width: 80px;
        right: 0;
    }
    .link-list {
        width:100%;
        height: 47px;
    }
    .button-top {
        padding:18px 11px;
        margin: 0;
        float: none;
    }
    .progress1 {
        width:25%;
    }
    .selction {
        font-size: 16px;
    }
    .link-list3 {
        width:100%;
    }
    .link-list1 {
        width:100%;
    }
    .link-list2 {
        width: 100%;
    }
    .list1 {
        font-size: 16px;
        text-align: center;
        margin: 15px 0;
        width:100%;
        border:0;
    }
    .input {
        margin: 0;
    }
    .input1 {
        padding: 0;
    }
    .bg-col2 {
        font-size: 12px;
    }
    .radiobox:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid #1277dc;
        border-radius: 50%;
        background: transparent;
        position: absolute;
        top: 5px;
    }
    input[type=radio]:checked:before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #ffffff;
        position: absolute;
        left: 1px;
        border: 2px solid #1277dc !important;
        top: 6px;
    }
    div.select-list1 div {
        background: url("下拉菜单.png") no-repeat;
        width: 24px;
        height: 28px;
        position: absolute;
        right: 2px;
    }
    .select-size {
        width: 100px;
    }
    .select-list {
    position: absolute;
    margin-top: -38px;
    font-size: 14px !important;
    right: 10px;
    top: -25px;
    }
    .text {
        width: 35px;
    }
    .button-left {
        font-size: 16px;
        padding: 0;
    }
    .footer-img {
        float: right;
        padding: 0;
    }
    .footer-right {
        float: left;
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1799px){
    .top-blue {
        width:80%;
    }
    .link-list {
        width: 80%;
    }
    .link-list1 {
        width: 80%;
    }
    .link-list3 {
        width:80%;
    }
    .link-list2 {
        width:80%;
    }
    .button-left {
        padding:0 5% 0 0;
    }
    .footer-img {
        padding: 0;
    }
    .footer-right {
        padding:0;
    }
    .bg-col2 {
        font-size: 16px;
    }
    .input1 {
        padding:0;
    }
    .text {
        width: 35px;
    }
}
@media screen and (min-width: 1800px) {
    .type {
        display: flex;
    }
}