.add {
    margin: 20px;
    background: #fff;
    border: 1px solid #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .add-head {
        font-weight: 600;
        padding: 10px;
        background: #f4f4f4;
    }
    .add-main {
        padding: 15px 15%;
        .big-input {
            width: 400px;
        }
        .txt {
            display: inline-block;
            width: 64px;
            margin: 6px 35px 6px 12px;
            text-align-last: justify;
            font-size: 14px;
            font-weight: 600;
        }
    }
    #file {
        display: none;
    }
    #result {
        max-width: 100%;
    }

    #bar {
        height: 20px;
        background-color: #eee;
        border-radius: 5px;
    }
    
    #progress {
        width: 0;
        height: 20px;
        background-color: #5cb85c;
        border-radius: 5px;
    }
    .imgshow{
        display: none;
    }
    .readimg{
        max-width: 50%;
    }
}