header {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #fff;
    >.head-left {
        width: 200px;
        border-right: 1px solid #fff;
        text-align: center;
        background: #3e4f6f;
        >.title {
            font-size: 18px;
            font-weight: 600;
            line-height: 50px;
            text-decoration: none;
            color: #fff;
        }
    }
    .head-right {
        flex: 1;
        padding: 0 18px;
    }
}

main {
    display: flex;
    background: #f8f8f8;
    min-height: 95vh;
    section {
        flex: 1;
    }
}

nav {
    width: 200px;
    border-right: 1px solid #fff;
    flex-shrink: 0;
    background: #3e4f6f;
    color: #fff;
    .menu {
        display: block;
        padding: 5px;
        line-height: 40px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        &:hover {
            background-color: #6278a0;
        }
    }
    li {
        line-height: 30px;
        padding-left: 40px;
        &:hover {
            background-color: #6278a0;
        }
    }
}