.list-head {
    margin: 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    label {
        display: inline-block;
        width: 64px;
        margin: 6px;
        text-align-last: justify;
        font-size: 14px;
        font-weight: 600;
    }
    .form-inline {
        float: left;
    }
    .form-control {
        width: 286px;
        margin: 15px;
    }
    .flex-end {
        width: 100%;
    }
}

.list-main {
    margin: 20px;
    background: #fff;
    border: 1px solid #ccc;
    .title {
        padding: 15px 10px;
        background: #f4f4f4;
    }
    .table {
        text-align: center;
    }
    th {
        text-align: center;
    }
}

.paging {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    a {
        width: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0 5px;
        border: 1px solid #ccc;
    }
    .check {
        background: #337Ab7;
        color: #fff;
    }
    input {
        width: 40px;
        outline: none;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .btn{
        margin: 0 10px;
    }
}