// 登录页样式文件

.login {
    background-image: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .4)), url("../img/login_bg.jpg");
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    .loginbar {
        flex-direction: column;
        width: 400px;
        background: #d0d2d8;
        color: #03a9f4;
        .name,
        .password {
            width: 80%;
            height: 46px;
            margin: 15px auto;
            background: #fff;
            span{
                width: 40px;
                line-height: 16px;
                text-align: center;
            }
        }
        .tips {
            width: 80%;
            margin: auto;
            color: #ea2000;
            text-align: center;
            font-size: 14px;
            height: 20px;
        }
    }


    h1 {
        font-size: 22px;
        text-align: center;
        margin: 20px;
    }

    input {
        display: block;
        flex: 1;
        font-size: 16px;
        text-indent: 10px;
        border: none;
        border-left: 1px solid #ccc;
        color: #999;
    }
    input:focus {
        outline: none;
        border-left: 1px solid #03a9f4;
    }
    button {
        display: block;
        width: 80%;
        padding: 10px 0;
        margin: 20px auto;
        background: #03a9f4;
        border: none;
        border-radius: 2px;
        font-size: 16px;
        color: #fff;
    }
}