@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin box($width, $heigth, $padding, $border, $margin) {
  width: $width;
  height: $heigth;
  padding: $padding;
  border: $border;
  margin: $margin;
}
%btn {
    @include box(50px, null, 13px 40px, 1px solid blue, 10px);
    border-radius: 5px;
    text-align: center;
    background-color: blue;
    outline: none;
}
body {
    background: url(行云流水.png) no-repeat;
    background-size: 100%;
}
main {
    position: relative;
	width: 100%;
    height: 100%;
}
.head_img {
  position: absolute;
  z-index: 9999;
  top: -35px;
  left: calc(50% - 35px);
  width: 70px;
  border-radius: 50%;
}
.title_wrap {
    display: block;
    width: 50%;
    padding: 40px;
    padding-bottom: 60px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .7);

}
.title {
    display: block;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.btn_css {
    @extend %btn;
}
.btn_js {
    @extend %btn;
}
.do {
    border-bottom: 1px solid #999; 
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    text-align: center;
    font-size: 16px;
}
nav > li {
    margin-top: 15px;
    font-size: 16px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: 500px;
    text-align: center;
    color: #0282ff;
    list-style: none;
}
.task_list {
    float: left;
    background-color: rgba(255, 255, 255, .7);

}