@media screen and (max-width: 767px){
    /*   头部信息   */
    .header .phone span {
        display: inline-block;
    }
    .header .phone {
        margin-left: 5px;
    }
    .header .btn-login {
        margin-right:0;
    }
    /*   导航栏   */
    .nav .navbar-header {
        margin: 5px 0;
    }
    .nav .navbar-content {
        padding: 0;
    }
    .nav .navbar-content ul {
        position: static;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .nav .navbar-content ul li a {
        display: block;
        width: 100%;
        margin: 0;
        border: 0;
        border-radius: 0;
    }
    /*   内容区   */
    .cont .plan-box .plan .text {
        font-size: 14px;
    }
    /*   选择表单   */
    .cont .table .box .type-choice {
        padding-bottom: 90px;
    }
    .cont .table .box .size-choice {
        padding-bottom: 100px;
    }
    .cont .table .box .stuff-choice {
        padding-bottom: 90px;
    }
    .cont .table .box .box-choice .type-radio,.stuff-radio {
        display: block;
        position: relative;
        margin-bottom: 15px;
        margin-left: 80px;
    }
    .cont .table .box .box-choice .stuff-radio-1 {
        margin-top: 30px;
    }
    .cont .box-choice .dropdown {
        float: left;
        margin-left: 45px;
    }
    .cont .box-choice .dropdown1 {
        margin-top: 20px;
    }
    .cont .box-choice .dropdown2 {
        margin-top: 30px;
    }
    .cont .box-choice .dropdown3 {
        margin-top: 22px;
    }
    .cont .box-size .box-choice .size-text-box {
        display: block;
        margin-top: 10px;
        margin-left: 80px;
    }
    /*   底部   */
    .footer .foot-left {
        margin-bottom: 20px;
    }
    .footer .foot-mid {
        margin-left: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer .foot-mid span {
        display: block;
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .footer .foot-right {
        float: left;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer .foot-right span {
        display: block;
        width: 100%;
    }
    /*   审查信息   */
    .footer-bar span {
        display: block;
        padding-left: 5px;
        background-color: #1d7ad9;
        text-align: left;
    }
}