html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
/*
     页头
*/
.header-father-div {
    background-color:#1277DC;
}
.header-top-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:3rem;
    background-color:#1277DC;

}
.header-top-div > p {
    margin: 0;
    color: #fff;
}
.top-div-first-a,
.top-div-finally-a {
    display: inline-block;
    color: #fff;
    border-left: 0.1rem solid #fff;
    height: 3rem;
    line-height: 3rem;
    padding:0 1rem;
}
/*
    <a>标签去下划线
*/
.top-div-first-a:link,
.top-div-finally-a:link,
.top-div-first-a:hover,
.top-div-finally-a:hover,
.top-div-first-a:visited,
.top-div-finally-a:visited {
    text-decoration: none;
}
.top-div-first-a:hover,
.top-div-finally-a:hover {
    text-align: center;
    width: 7rem;
    background-color: #fff;
}
/*
   导航栏
*/
.navbar-default {
    margin: 0;
}
.navbar-header {
    margin: 0 !important;
}
.navbar-header-logo {
    height: 5rem;
    width: 11rem;
    text-align: center;
}
.navbar-header-logo > h1,
.navbar-header-logo > p {
    margin: 0;
    color: #1277DC;
}
.navbar-header-logo > p {
    font-size: 1rem;
}
.navbar-header-logo >  h1 {

}
.navbar-nav {
    display: flex;
    align-items: center;
    height: 5rem;
}
.navbar-btn-first {
    margin:0 1rem;
    color: #fff;
    background-color: #1277DC;
}
.navbar-btn {
    margin:0 1rem;
}
.navbar-btn-first:hover,
.navbar-btn:hover {
    color: #fff;
    background-color: #1277DC;
}

/*
     内容
*/
/*对流程图进行设计*/
.flow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6rem;
    margin-bottom: 5rem;
}
.flow-father-div {
    display: flex;
    align-items: center;
    height: 6rem;
}
.flow-line-t,
.flow-line {
    position: relative;
    width: 10rem;
}
.flow-line {
    border: 0.2rem solid #FF7F02;
    background-color: #FF7F02;
}
.flow-line-t {
    border: 0.2rem solid #ccc;
    background-color: #ccc;
}
.flow-number-t,
.flow-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.flow-number {
    border: 1rem solid #FF7F02;
}
.flow-number-t {
    border: 1rem solid #ccc;
}
.flow-number-t > p,
.flow-number > p {
    margin: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
}
.flow-line-t > p,
.flow-line > p {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,80%);
    width: 100%;
    text-align: center;
}
.flow-line > p {
    color: #FF7F02;
}
.flow-line-t > p {
    color: #ccc;
}
.flow-father-div:hover .flow-line-t {
    border: 0.2rem solid #FF7F02;
    background-color: #FF7F02;
}
.flow-father-div:hover .flow-number-t {
    border: 1rem solid #FF7F02;
}
.flow-father-div:hover .flow-line-t > p {
    color: #FF7F02;
}

/*
    内容
*/
.main-all{
    border: 0.1rem solid #E8E8E8;
    border-radius: 0.5rem;
    margin-bottom: 6rem;
}

.explain {
    padding: 0;
}
.explain > p {
    border-left: 0.3rem solid #1277DC;
    padding-left: 0.5rem;
    margin: 0.5rem 0;
}

.box-pile {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: #F3F3F3;
}
.box-pile > img {
    margin-right: 1rem;
}
.box-pile > p {
    color: #1277DC;
    margin: 0;
}
/*
    表单内容
*/
.main-input {
    background-color: #FBFCFF;
}
.box-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6rem;
    margin: 0 2rem;
}
.box-btn > p {
    margin: 0;
}
.box-btn > input {
    margin: 0;
    color: #1277DC;
}
.box-btn > span {
    color: #8B8C8C;
    margin-left: 0.5rem;
}
.box-btn > i {
    padding: 0.4rem;
    border: 0.1rem solid #1277DC;
    border-radius: 50%;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + i{
    border: 0.4rem solid #1277DC;
    padding: 0.1rem;
}
/*
    下拉框
*/
.main-input-select {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: ;
}
.box-btn-select {
    border: solid 1px #E8E8E8;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:url("img/xiala.png") no-repeat scroll 6.5rem center transparent;
    padding: 0 2.5rem 0 1rem;
    height: 3rem;
    width: 9rem;
    color: #999;
    background-color: #fff;
}
select::-ms-expand { display: none; }
@media all and (min-width: 992px) {
    .main-input-select {
        bottom: -1rem;
    }
}
@media all and (max-width: 992px) and (min-width: 768px) {
    .main-input-select {
        bottom: 11rem;
    }
}
@media all and (max-width: 768px) {
    .main-input-select {
        bottom: 17rem;
    }
    .second-box-2,
    .second-box-3,
    .second-box-4 {
        display: flex;
        justify-content: center;
    }
}
/*
    确定尺寸
 */
.main-input-second {
    background-color: #FBFCFF;
}
.second-box-1 {
    padding-left: 4rem;
}
.second-box-2,
.second-box-3,
.second-box-4 {
    margin: 2rem 0;
}
.second-box-2 > input,
.second-box-3 > input,
.second-box-4 > input {
    width: 5rem;
}
.box-1-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
}
.box-1-btn > i {
    padding: 0.4rem;
    border: 0.1rem solid #1277DC;
    border-radius: 50%;
}
.box-1-btn > span {
    margin-left: 0.5rem;
}
.main-second-select {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 1rem;

}
.main-thirdly-select {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 1rem;
}
@media all and (max-width: 992px) and (min-width: 768px) {
    .second-box-4 {
        margin-left: 10.5rem;
    }
    .main-second-select {
        top: -11rem;
    }
    .main-thirdly-select {
        top: -16rem;
    }
}
@media all and (max-width: 768px){
    .main-second-select {
        position: relative;
        top: -23rem;
    }
    .main-thirdly-select {
        top: -27.5rem;
    }
}

/*
        选择材质
*/
.main-input-thirdly {
    background-color: #FBFCFF;
}
/*
    按钮：下一步
*/
.main-fourthly-select{
    display: flex;
    justify-content: center;
    margin: 10rem 0;
}
.btn-primary {
    width: 12rem;
    background-color: #E34F4F;
    border: none;
}


/*
        页脚
*/
footer{
    background-color: #F9F9F9;
}
.footer-first-div {
    margin: 3rem 0;
    color: #A6A6A6;
}
.footer-second-div {
    margin: 3rem 0;
    font-size: 1rem;
}
.footer-second-div p {
    margin-right: 1rem;
}
.footer-col2-div1,
.footer-col2-div2 {
    display: flex;
    justify-content: flex-start;
    color: #A6A6A6;
}
.footer-col2-div1 p:first-child {
    color: #1277DC;
}
.footer-thirdly-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.footer-thirdly-div  p {
    margin: 1rem 0;
    color: #A6A6A6;
}

.footer-bottom-row {
    background-color: #1277DC;
}
.footer-bottom-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
.footer-bottom-col > p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}