html body {
    font-family: "Microsoft YaHei";
}
.header-top {
    background-color: #1D7AD9;
}
.tel-word {
    float: left;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}
.header-log-in , .header-sign-in {
    display: inline-block;
    float: right;
    width: 50px;
    padding: 6px 0;
    text-align: center;
    color: #fff;
}
.header-log-in:visited , .header-sign-in:visited {
    text-decoration: none;
    color: #fff;
}
.header-log-in:hover , .header-sign-in:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}
.header-nav {
    padding: 20px 0;
    background-color: #F9F9F9;
}
.header-nav-list {
    display: inline-block;
    float: right;
    padding: 7px 10px;
    margin-left: 50px;
    border-radius: 6px;
    box-shadow: 0 1px 2px #999;
    background-color: #fff;
    color: #000;
}
.header-nav-list:visited {
    text-decoration: none;
    color: #000;
}
.header-nav-list:hover {
    text-decoration: none;
    background-color: #1D7AD9;
    color: #fff;
}
@media all and (min-width: 768px) {
    .nav-form {
        display: none;
    }
}
@media all and (max-width: 768px){
    .header-nav-list {
        display: none;
    }
    .header-nav {
        padding: 0;
    }
    .header-nav .navbar {
        margin: 0;
        border: none;
    }
}
.nav li {
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}
.nav>li>a {
    color: #000!important;
}
.nav li:hover {
    background-color: #1D7AD9;
}
.box-step {
    float: right;
    width: 50%;
    margin: 90px 0;
}
ol {
    list-style: none outside none;
}
.step {
    padding: 0;
    color: #b7b7b7;
}
.step li {
    float: left;
    position: relative;
    width: 25%;
}
@media screen and (max-width: 768px) {
    .step li {
        width: 100%;
        margin-bottom: 60px;
    }
    .box-step {
        margin: 20px 0;
    }
}
.step-line {
    height: 5px;
    margin-top: 10px;
    background-color: #e0e0e0;
}
.step-cont {
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    width: 60%;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    text-align: center;
}
.step-cont-number {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
    line-height: 25px;
    color: #fff;
    background-color: #b9b9b9;
}
.step-line-1,.step-cont-number-1 {
    background-color: #FF7D02;
}
.step-cont-text-1 {
    color: #FF7D02;
}
@media all and (max-width: 992px) {
    .box-step {
        width: 100%;
    }
}
.word-bold {
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #1D7AD9;
    font-size: 22px;
}
.main-form {
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 0 0 / 5px 5px 0 0;
}
.form-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #F3F3F3;
}
.word-blue {
    margin-left: 10px;
    color: #1D7AD9;
    font-size: 18px;
}
.icon-box {
    height: 20px;
    width: 25px;
    background: url(1.png) no-repeat;
    background-size: contain;
}
.icon-ruler {
    height: 22px;
    width: 25px;
    background: url(2.png) no-repeat;
}
.icon-cut {
    margin-left: 3px;
    height: 22px;
    width: 20px;
    background: url(3.png) no-repeat;
}
.form-choose {
    position: relative;
    padding: 30px 10px 30px 20px;
    background-color: #FBFCFF;
}
.choose-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-list label , .choose-size label {
    position: relative;
    margin-bottom: 0;
    font-weight: 500;
}
.form-choose input[type="radio"] {
    position: absolute;
    opacity: 0;
    top: 3px;
    left: 1px;
    z-index: 3;
}
.form-choose i {
    float: left;
    position: relative;
    margin: 2.5px 20px;
    width: 15px;
    height: 15px;
    border: 1px solid #1D7AD9;
    border-radius: 50%;
}
input:checked + i {
    background-color: #1D7AD9;
}
.form-choose input+i:after {
    position: absolute;
    content: '';
    top: 4.5px;
    left: 4.5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}
@media screen and (max-width: 992px) {
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    .choose-size {
        flex-direction: column;
        align-items: flex-start !important;
    }
}
.form-select {
    position: relative;
    font-weight: normal;
    color: #999;
}
select {
    height: 35px;
    padding: 0 30px 0 10px;
    -webkit-appearance: none;
    outline: none;
}
.form-select:after {
    content: "\25bc";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 25px;
    border-radius: 2px;
    line-height: 25px;
    text-align: center;
    background-color: #1D7AD9;
    color: #fff;
    pointer-events: none;
}
.form-next {
    padding: 100px;
    margin-bottom: 50px;
    border: 1px solid #F3F3F3;
    text-align: center;
}
.btn-next {
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    background-color: #E15053;
    color: #fff;
    outline: none;
}
.choose-size {
    display: flex;
    align-items: center;
}
.form-input {
    width: 50px;
    outline: none;
}
.input-control {
    display: flex;
}
.input-size {
    margin: 10px 15px;
}
.form-flex {
    display: flex;
    flex-direction: column;
}
footer {
    padding: 30px 0;
    background-color: #F9F9F9;
}
.word-pray {
    font-size: 16px;
    color: #999;
}
.company-link {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.company-link li {
    width: 33.33333%;
    margin-bottom: 10px;
    list-style: none;
}
.company-link a {
    color: #999;
}
footer .company-link a:visited {
    color: #999;
    text-decoration: none;
}
footer .company-link a:hover {
    color: #1D7AD9;
    text-decoration: none;
}
.word-pray-small {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #999;
}
.img-code {
    float: right;
}
.copyright {
    padding: 5px 0;
    color: #fff;
    text-align: center;
    font-size: 10px;
    background-color: #1D7AD9;
}
@media all and (max-width: 992px) {
    .company-link {
        margin-top: 20px;
    }
    .company-link li {
        width: 80px;
    }
    .img-code , .word-pray-small {
        float: left;
        margin-right: 10px;
    }
}
