 html {
     font-size: 625%;
 }
 body {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }
 /*头部*/
 header {
     position: fixed;
     top: 0;
     z-index: 999999;
     width: 100%;
     height: .7rem; /*头部高度*/
     text-align: center;
     line-height: .7rem;
     background-color: #5AC0CE;
 }
 .header-left,
 .header-right {
     width: 1rem;
     height: .4rem;
     text-align: center;
     line-height: .4rem;
     border-radius: 6px;
     font-size: .2rem;
 }
 .header-left {
     display: inline-block;
     background-color: #51A8B4;
 }
 .header-left a {
     text-decoration: none;
     font-size: .2rem;
     color: #DDD;
 }
 .header-right {
     position: relative;
     left: -.15rem;
     display: inline-block;
     background-color: white;
 }
 .header-right a {
     text-decoration: none;
     font-size: .2rem;
     color: #5AC0CE;
 }
 .icon {
     position:absolute;
     right: .1rem;
     top: .17rem;
     width: .22rem;
     height: .24rem;
 }/*图片链接使用绝对定位*/
 /*导航栏*/
 nav {
     display:flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top:0;
     width: 100%;
     height: auto;
     margin-top: .7rem;
     border-bottom: 1px solid #E9EFF1;
     background-color: white;
     z-index: 666666;
 }
 .submenu,
 .submenu1,
 .submenu2 {
     width: 100%;
     height: .5rem;
     font-size: .13rem;
     color: #BCBCBC;
     border-right: 1px solid #E9EFF1;
     border-top: none;
     border-bottom: none;
     border-left: none;
     padding-left:10%;
 }
 .submenu2 {
     border: none;
 }
 /*中部*/
 main {
     margin-top: 1.2rem;
     width: 100%;
     height: auto;
     margin-bottom: .7rem;
 }
 main .container {
     margin:0 -15px 0 -15px;
 }
 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 li {
     width: 100%;
     height: auto;
     border-bottom: 1px solid #E9EFF1;
 }
 .date {
     width: 100%;
     height: .3rem;
     background: url("../image/date.png") no-repeat 10px 7px;
     background-size: .14rem .14rem;
     padding-left: .3rem;
     color: #BCBCBC;
     line-height: .3rem;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 .time {
     width: 3rem;
     height: .2rem;
     padding-left: .3rem;
     line-height:  .2rem;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 .hour {
     display: flex;
     justify-items: flex-end;
     align-items: center;
     width: 1rem;
     height:.2rem;
 }
 .hour p {
     margin: 0;
 }
 .price {
     color: #E84920;
 }
 .mark {
     float:right;
     width: .1rem;
     height:.1rem;
     border-top: 1px solid #5AC0CE;
     border-right: 1px solid #5AC0CE;
     background-color: white;
     transform:rotate(45deg);
 }
 .address {
     width: 100%;
     height:.3rem;
     background: url(../image/didian.png) no-repeat 10px 7px;
     background-size: .14rem .14rem;
     padding-left: .3rem;
     line-height: .3rem;
     color: #BCBCBC;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }

 /*底部*/
 footer {
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: fixed;
     bottom: 0;
     width: 100%;
     height: .7rem;
     border-top: 1px solid #E9EFF1;
     background-color:white;
 }
 .footer-left {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 46px;
     height: 70px;
     cursor:pointer;
 }
 .footer-left-img {
     width: 46px;
     height: 40px;
     background: url(../image/img1.png) no-repeat -50px 0;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 .footer-left-wrap,
 .footer-right-wrap{
     display: block;
     width: 46px;
     height:20px;
     padding-top: 6px;
     padding-left: 6px;
     font-size: .15rem;
 }
 .footer-left-wrap {
     color: #5FC0CD;
 }
 footer a {
     display: block;
     width: .6rem;
     height: .6rem;
 }
 .footer-right {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 46px;
     height: 70px;
     text-overflow: ellipsis;
     white-space: nowrap;
     cursor:pointer;
 }
 .footer-right-img {
     width: 42px;
     height: 41px;
     background: url(../image/img1.png) no-repeat 0 0;
 }
 .footer-right-wrap {
     color: #9A9A9A;
 }



