@charset "UTF-8";
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 auto; }

header {
  background-color: #5fc0cd;
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 3rem; }

.headerItme1 {
  width: 33.333333%;
  margin-left: 1rem; }

.headerItme1 img {
  height: 1rem; }

.headerItme2 {
  width: 33.333333%;
  line-height: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #fff; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem; }

.footerItem1 {
  display: flex; }

.footerItem1,
.footerItem2 {
  width: 50%; }

.button1 {
  width: calc(calc(100%) - calc(1.5rem));
  /* 按钮大小等于容器减去左右外边距*/
  line-height: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #5fc0cd;
  border-radius: 0.5em;
  margin-left: 1rem;
  color: #5fc0cd;
  background-color: #fff; }

.button2 {
  width: calc(calc(100%) - calc(1.5rem));
  /* 按钮大小等于容器减去左右外边距*/
  line-height: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #5fc0cd;
  border-radius: 0.5em;
  margin-right: 1rem;
  color: #fff;
  background-color: #5fc0cd; }

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 10rem;
  align-items: flex-start; }

.personalInformation {
  display: flex;
  height: 10rem;
  width: 100%;
  min-height: 10rem;
  background-image: url("../img/background2.png"), url("../img/background.png");
  background-size: 100% 100%; }

.photo {
  display: flex;
  align-items: center;
  height: 100%; }
  .photo img {
    height: 5rem;
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1.5rem; }

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff; }

address {
  font-style: normal;
  /* 取消斜体*/
  font-size: 0.8rem; }

.age {
  font-size: 0.8rem; }

.addressBox {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  color: #fff; }
  .addressBox img {
    height: 0.98rem;
    margin-right: 0.3rem; }

.mainItem2 {
  width: 100%; }

.skill {
  width: 100%;
  border-bottom: thin solid #e1e5e7;
  padding: 0.5rem 0 0.5rem 0; }
  .skill span {
    border-left: medium solid #5fc0cd;
    padding-left: 0.8rem;
    margin-left: 1rem;
    color: #333; }

.items {
  display: flex;
  align-items: center;
  border-bottom: thin solid #e1e5e7;
  padding-left: 2.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .items img {
    width: 1rem;
    height: 1rem; }

.inHome {
  padding-right: 1rem; }

.itemsLeft {
  width: 4rem;
  max-height: 1rem;
  min-width: 4rem;
  padding-right: 0.5rem;
  border-right: thin solid #e1e5e7;
  color: #999999; }

.itemsRight1,
.itemsRight2 {
  padding-left: 0.5rem;
  padding-top: 0.3rem; }

.itemsRight2 {
  color: #e26126; }

.itemsRight3 {
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  font-weight: bold;
  font-size: 0.8rem; }

button {
  outline: none;
  /* 去除按钮点击边框*/ }

/*# sourceMappingURL=css.css.map */
