body {
    margin: 0;
    background-color: #29bde0;
}
.content {
    padding: 5% 10% 10% 10%;
    border-top: 1px solid #74d4eb;
    /*text-align: center;*/
    position: relative;
}
.circles {
    text-align: center;
}
.main {
    padding: 13% 15%;
    border: 3px solid white;
    margin-top: -25px;
    background-color: #ffedc5;

    /*text-align: center;*/
    /*position: relative;*/
}
.picture {
    text-align: center;
}
.order {
    display: inline-block;
    width:45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    color: #f56b81;
    border: 2px solid #ffedc5;
    background-color: white;
    text-align: center;
    font-size: 1.8rem;
    /*margin-bottom: -10px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(50%);*/
}
.main img {
    width: 77%;
    text-align: center;
}

.role {
    margin-top:5px;
    margin-bottom: 0;
    color: #29bde0;
    font-size: 1.3rem;
    text-align: center;
}
.phrase {
    margin-top: 5px;
    margin-bottom: 0;
    color: #f56b81;
    font-size: 1.4rem;
    text-align: center;
}
.word {
    margin-top: 32px;
    color: #fca000;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.footer {
    padding: 15px 0;
    width: 80%;
    margin: 0 10%;
    font-size: 1.3rem;
    color: white;
    font-weight: lighter;
    /*letter-spacing: .2rem;*/
    background-color: #fbb435;
    text-align: center;
}