.cabinet {
    line-height: 40px;
}
.tel {
    color: #26a26f;
    margin-bottom: 0;
}
.navbar {
    border: 0!important;
    margin-bottom: 0!important;
}
.navbar-default {
    background-color: #26a26f!important;
    height: 54px;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid white;
}
.navbar-default .navbar-nav>li>a {
    color: white!important;
}
.navbar-default .navbar-collapse {
    background-color: #26a26f;
}
.navbar-collapse {
    position: relative;
    z-index: 100!important;
}

.navbar-brand img {
    color: white!important;
    width: 50%;
}

footer {
    padding: 20px 0;
    background-color: #26a26f;
}
footer .row ,
footer .row a {
    color: white;
    text-decoration: none;
}
.about {
    padding-top: 60px;
}
.ever {
    padding-bottom: 3px;
}
.ever:hover {
    border-bottom: 1px solid white;
}
.internet {
    padding-top: 15px;
}
.web {
    width: 29%;
    float: left;
}
.game {
    float: left;
}
.public {
    float: right;
}
.punish {
    background: #26a26f;
    border-top: 1px solid #32c086;
    line-height: 27px;
    color: white;
    text-align: center;
    font-size: 12px
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0!important;
    }
    .navbar-default .navbar-collapse {
        color: white;
    }
}
@media screen and (max-width: 992px) {
    footer .row {
        font-size: xx-small;
    }
    .about {
        padding-top: 54px;
    }
}
@media screen and (max-width: 768px) {
    .web ,.game ,.public {
        font-size: small;
        width: 100%;
    }
    .about ,.internet{
        padding-top: 0;
    }
    .college ,.station {
        padding: 5px 0;
    }
}


