body {
  margin: 0;
}
body header {
  height: 50px;
  line-height: 50px;
  background-color: #5fc0cd;
  text-align: center;
  font-weight: lighter;
  position: relative;
}
body header .employer {
  margin-right: -5px;
  padding: 10px 15px 10px 10px;
  border-radius: 5px;
  background-color: #55a8b3;
  color: white;
}
body header .carer {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: white;
  color: #5fc0cd;
}
body header img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  width: 23px;
}
body .item {
  padding: 1% 0;
  border-bottom: 1px solid #e1e5e7;
}
body .item .option {
  display: inline-block;
  padding: 1.5% 0;
  width: 30%;
  text-align: center;
  color: #999;
}
body .item .stay {
  border-right: 1px solid #e1e5e7;
  background: url(../img/triangle.png) no-repeat 95% center;
}
body .item .eat {
  padding-right: 13px;
}
body .item .condition {
  background: url(../img/triangle.png) no-repeat right center;
}
body .list {
  padding-left: 2%;
  border-bottom: 1px solid #e1e5e7;
}
body .list p {
  margin: 8px 0;
  color: #999;
}
body .list p,
body .list div {
  padding-left: 30px;
}
body .list .time {
  background: url(../img/calendar.png) no-repeat left center;
  background-size: 14px;
}
body .list .date {
  position: relative;
}
body .list .date .price {
  color: red;
  position: absolute;
  right: 4%;
  background: url(../img/into.png) no-repeat right center;
  padding-right: 8%;
}
body .list .where {
  background: url(../img/shape.png) no-repeat;
  background-size: 14px;
}
body .bottom {
  margin-bottom: 120px;
}
body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8fafb;
}
body footer div {
  position: relative;
}
body footer div .last {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: .8rem;
}
body footer div .last img {
  display: block;
  width: 30px;
}
body footer div .page {
  left: 15%;
  color: #5fc0cd;
}
body footer div .pencil {
  text-align: center;
}
body footer div .pencil img {
  width: 57px;
}
body footer div .head {
  right: 15%;
  color: #adadad;
}
