body {
  margin: 0;
}
body header {
  height: 45px;
  line-height: 45px;
  background-color: #5fc0cd !important;
  background: url(../img/back.png) no-repeat 15px center;
  background-size: 15px;
}
body header p {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
}
body .work {
  height: 148px;
  background: url(../img/nurse.png) no-repeat center;
  background-size: 100%;
  position: relative;
}
body .work .photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  height: 74px;
}
body .work .information {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 130px;
}
body .work .information .orchard {
  padding-left: 16px;
  background: url(../img/position.png) no-repeat left center;
  background-size: auto 100%;
  font-size: .7rem;
}
body .introduce {
  line-height: 60px;
  margin-left: 4vw;
  border-bottom: 1px solid #e1e5e7;
}
body .introduce .money {
  padding: 0 17px;
  color: #999;
  border-right: 1px solid #e1e5e7;
}
body .introduce .price {
  padding-left: 17px;
  color: #e26163;
}
body .introduce .time {
  padding-left: 17px;
}
body .introduce .major {
  border-left: 2px solid #5fc0cd;
  margin-left: 25.904px;
  padding-left: 25.904px;
}
body .introduce .home {
  padding-left: 40px;
  padding-right: 10px;
  background: url(../img/star.png) no-repeat 17px center;
  background-size: 17px;
  border-right: 1px solid #e1e5e7;
}
body .introduce .house {
  padding-left: 35px;
  background: url(../img/star.png) no-repeat 10px center;
  background-size: 17px;
}
body .introduce .myself {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body .item {
  margin-left: 0;
  position: relative;
  height: 60px;
  border-bottom: 1px solid #e1e5e7;
}
body .item .ask {
  color: #999;
  border-right: 1px solid #e1e5e7;
  margin-left: 4vw;
  padding-left: 17px;
  padding-right: 17px;
  line-height: 60px;
}
body .item .myself {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 17px;
}
body .specialty {
  margin-left: 0;
}
body footer .message {
  border: 1px solid #5fc0cd;
  background-color: white;
  color: #5fc0cd;
  float: left;
  margin-left: 6vw;
}
body footer .contact {
  border: 1px solid #5fc0cd;
  background-color: #5fc0cd;
  color: white;
  float: right;
  margin-right: 6vw;
}
body footer button {
  border-radius: 5px;
  width: 40%;
  padding: 2.5% 0;
  margin-top: 50px;
  font-size: 1rem;
  outline: none;
}
