.company img {
  width: 100%;
  height: 13vw;
}
.boss {
  background-color: #FAFAFA;
  padding-bottom: 10%;
}
.boss .container .storm {
  padding: 2% 0;
}
@media screen and (max-width: 992px) {
  .boss .container .storm {
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 0;
  }
}
.boss .container .storm span:hover a {
  color: #26A26F;
}
.boss .container .storm span a {
  text-decoration: none;
  color: black;
}
.boss .container .bar .side {
  float: left;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px #A1A1A1;
}
@media screen and (max-width: 992px) {
  .boss .container .bar .side {
    width: 80%;
    margin: 5% 10%;
  }
}
.boss .container .bar .side .business {
  padding: 3% 0;
  font-weight: 700;
  font-size: small;
  text-align: center;
}
.boss .container .bar .side .electric {
  border-top: 1px solid #A1A1A1;
  padding: 2% 0;
  margin-bottom: 0;
}
.boss .container .bar .side .electric .air {
  padding: 2% 0 2% 43.5%;
  list-style: none;
}
.boss .container .bar .side .electric .air:hover i {
  background-color: orange;
}
.boss .container .bar .side .electric .air:hover a {
  color: orange;
}
.boss .container .bar .side .electric .air span a {
  position: relative;
  text-decoration: none;
  color: #26A26F;
}
.boss .container .bar .side .electric .air span a i {
  position: absolute;
  top: 3px;
  left: -1.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid orange;
  border-radius: 50%;
}
.boss .container .bar .col-xs-3,
.boss .container .bar .col-sm-3,
.boss .container .bar .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
.boss .container .bar .class {
  padding: 0 0 20% 0;
  background-color: white;
  float: right;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  box-shadow: 0 0 5px #A1A1A1;
}
@media screen and (max-width: 992px) {
  .boss .container .bar .class {
    width: 80%;
    margin: 5% 10%;
  }
}
.boss .container .bar .class .school {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #a1a1a1;
  margin-bottom: 6.5%;
}
@media screen and (max-width: 992px) {
  .boss .container .bar .class .school {
    border-bottom: none;
  }
}
.boss .container .bar .class .school .park {
  width: 30%;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 992px) {
  .boss .container .bar .class .school .park {
    width: 100%;
    display: block;
    padding: 0 4%;
  }
}
.boss .container .bar .class .school .park img {
  width: 100%;
  border-radius: 5px 0 0 0;
}
.boss .container .bar .class .school .now {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 992px) {
  .boss .container .bar .class .school .now {
    width: 100%;
    display: block;
    padding: 0 4%;
    font-size: small;
  }
}
.boss .container .bar .class .school .now .serve {
  color: #999;
  text-indent: 2em;
  line-height: 2em;
  padding: 5% 0;
}
.boss .container .bar .class .character {
  color: #999;
  text-indent: 2em;
  padding: 2% 4%;
  line-height: 2em;
}
@media screen and (max-width: 992px) {
  .boss .container .bar .class .character {
    font-size: small;
  }
}
