.content {
    margin-right: 27.5%;
    margin-left: 27.5%;
}

.box {
    background-color: orange;
    float: left;
    padding: 15%;
    border-radius: 10%;
    margin: 1.65%;
}

.content::after {
    content: ".";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}
.square {
    text-align: center;
}
button {
    width: 45%;
    margin-top: 10px;
    color: orange;
    background-color: white;
    cursor: pointer;
    padding: 1.2% 0px;
    border: 1px solid orange;
    border-image: initial;
    border-radius: 5px;
    outline: none;
}
button:hover{
    color: white;
    background-color: orange;
}