html {
    font-size: 625%;
}

body {
    margin: 0;
    font-size: 0.16rem;
    background-color: #29b;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: .2rem 5vw;
    margin-top: .5rem;
    margin-bottom: .8rem;
}

.container .wrap {
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    margin: 5vw;
    border: 0.35vw solid #fff;
}

.container .wrap .player__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.3vw;
    margin: 0;
    background-color: #f5c97b;
}

.container .wrap .player__num {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    margin: 0;
    background-color: #83b09a;
    color: #fff;
}

.container .wrap-unClickable .player__text {
    background-color: #e8e8e8;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .8rem;
    background-color: #29bde0;
}

.footer .start__btn {
    display: inline-block;
    line-height: .5rem;
    width: 80%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 0.24rem;
    color: #fff;
    background-color: #fbb435;
    cursor: pointer;
}