body {
	min-width: 534px;
	margin: 0;
	background-color: whitesmoke;
}

.header {
	width: 100%;
	height: 80px;
	font-size: 1.4em;
	line-height: 80px;
	text-align: center;
	background-color: #5fc0cd;
}

.header span {
	position: relative;
	margin-left: -1%;

	color: white;
}

.enroll {
	float: left;
	margin-left: 2%;
	text-decoration: none;
	color: white;
}

.close {
	float: right;
	margin-right: 2%;
	text-decoration: none;
	color: white;
}

.number {
	height: 80px;
	margin-top: 1%;
	background: #FFFFFF;
}

.number span {
	display: inline-block;
	height: 40px;
	width: 50px;
	border-right: 2px solid whitesmoke;
	margin-right: 1%;
	padding-left: 2%;
}

.number img {
	vertical-align: middle;
}

.number input {
	width: 80%;
	height: 74px;
	border: none;
	font-size: 1.1em;
	outline-style: none;
}

.button {
	width: 100%;
	height: 80px;
	margin-top: 2%;
	font-size: 1.3em;
	letter-spacing: 0.3em;
	border: none;
	color: white;
	background-color: #5fc0cd;
}

.text {
	float: right;
	line-height: 45px;
	margin-right: 2%;
	font-size: 1.2em;
	color: #5fc0cd;
}