body {
  margin: 0;
  padding: 0;
  background-color: #eff0f4;
}
body header {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 0;
  background-color: #5fc0cd;
}
body header p {
  display: inline-block;
  color: white;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}
body header .close {
  width: 30.3333%;
  padding-left: 3%;
}
body header .login {
  text-align: center;
  width: 33.3333%;
  font-size: 1.2rem;
  font-weight: 400;
}
body header .register {
  text-align: right;
  padding-right: 3%;
  width: 30.3333%;
}
body header .close,
body header .register {
  font-size: 1rem;
}
body .import {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 1%;
  background-color: white;
}
body .import input {
  padding-left: 2%;
  border: 0;
  outline: none;
}
body .import img {
  width: 2%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 4%;
  padding-left: 4%;
  border-right: 2px solid whitesmoke;
}
body footer {
  text-align: center;
}
body footer button {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  background-color: #5fc0cd;
  border: none;
  outline: none;
  letter-spacing: .5rem;
}
body a {
  padding-top: 1%;
  padding-right: 3%;
  float: right;
  text-decoration: none;
  color: #5fc0cd;
  letter-spacing: .1rem;
  font-size: 1rem;
}
body a span {
  border-bottom: 1px solid #5fc0cd;
}
