body {
	margin: 0;
}

.tel {
	padding: 1% 0;
}

.cellphone {
	float: left;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #29b078;
}

.chat {
	float: right;
}

.master img {
	width: 50%;
}

.navbar {
	/*background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);*/
	background-repeat: no-repeat;
	border-bottom: 1px solid #178ACC;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 0;
	border-radius: 0px;
}

.navbar-default {
	background-color: #29b078;
	border-color: #29b078;
	height: 54px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
	border-bottom: 2px solid white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #29b078;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.another {
	background-color: #FAFAFA;
	padding-bottom: 30%;
}

.container {
	padding: 0;
}

.first {
	padding: 0;
	margin: 0;
	list-style: none;
	padding-bottom: 2%;
	padding-top: 2%;
	border-bottom: 2px solid #D0D6D9;
}

.first li {
	display: inline;
}

.first a ,.road a{
	text-decoration: none;
	color: black;
}
.page:hover a{
	color: #26A26F;
}

.doctor {
	border: 2px solid red;
}

.road {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 2%;
	padding-top: 2%;
	border-bottom: 1px solid #D0d6d9;
}

.road li {
	display: inline;
}

.green {
	padding-left: 1%;
	padding-right: 1%;
}

.green a:hover {
	background-color: green;
	color: white;
}

.second {
	padding: 0;
	margin: 0;
	padding-bottom: 2%;
	padding-top: 2%;
	border-bottom: 2px solid #D0D6D9;
	list-style: none;
	font-weight: 700;
	font-size: small;
}

.dog {
	padding-top: 3%;
}

.tittle {
	margin-left: -10%;
}

.blond {
	word-break: break-all;
	font-size: x-small;
	font-weight: 550;
}

.mate {
	padding: 7% 0;
}

.basis {
	border: 1px solid #a9a9a9;
	border-radius: 5px;
	background-color: white;
	width: 32%;
	box-shadow: 0 0 10px #a9a9a0;
}

.sun {
	margin: 0 1.15%;
}

.run {
	padding: 0 3%;
	width: 13%;
}

.year {
	float: left;
	padding-left: 3%;
	font-size: smaller;
}

.month {
	float: right;
	padding-right: 3%;
	font-size: smaller;
}

.glass {
	padding-top: 3%;
	padding-bottom: 3%;
}

.tree {
	padding: 39.8px 0;
	text-align: center;
}

.speech {
	border-left: 1px solid #A1A1A1;
}

.history {
	border-top: 1px solid #a1a1a1;
}

.sky {
	border-left: 1px solid #a1a1a1;
}

.apple {
	border-top: 1px solid #a1a1a1;
}

.time {
	border-bottom: 1px solid #a1a1a1;
}

.black {
	padding-top: 3%;
	padding-bottom: 3%;
}

p {
	margin-bottom: 0;
}

.col-xs-3,
.col-sm-3,
.col-md-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-xs-7,
.col-sm-7,
.col-xs-7 {
	padding-left: 0px;
	padding-right: 0px;
}

.flower {
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.cover {
	border-radius: 5px;
	padding: 31.2% 4%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0.1;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-weight: 500;
	word-break: break-all;
	transition: 1s;
	opacity: 0;
}

.basis:hover .cover {
	transform: rotatez(360deg);
	opacity: 0.7;
}

.water:hover .cover {
	display: block;
}

.learn {
	word-break: break-all;
	font-size: smaller;
}

.great {
	color: #F01400;
}

.little {
	font-size: smaller;
	color: #A1A1A1;
}

.better {
	color: black;
	font-weight: 600;
}

.bad {
	font-weight: bold;
	font-size: smaller;
}

.footer {
	padding: 20px 0;
	background-color: #26A26F;
	color: white;
}
.footer a{
	text-decoration: none;
	color: white;
}
.ever {
	padding-bottom: 6px;
}

.ever:hover {
	border-bottom: 1px solid white;
}

.internet {
	color: white;
}

.punish {
	background: #26a26f;
	border-top: 0.1rem solid #32c086;
	line-height: 27px;
	color: #ffffff;
	text-align: center;
	font-size: 12px
}

.about {
	padding-top: 11%;
}

.clear:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clear {
	zoom: 1;
}

.college,
.station,
.internet {
	padding-bottom: 10px;
	padding-top: 15px;
}

.cup {
	padding-bottom: 10px;
}



@media screen and (max-width:780px) {
	[class*="basis"] {
		width: 80%;
		margin: 2% 10%;
	}
	.first ,.road ,.second ,.tel{
		margin: 0 10%;
	}
	.master {
		margin-left: 10%;
	}
	.navbar-toggle{
		margin-right: 10%;
	}
	.footer {
		padding: 0 10%;
	}
	.web,
	.game,
	.public {
		font-size: xx-small;
	}
	.about {
		padding-top: 3%;
	}
	.public {
		padding-top: 10px;
	}
	.cup {
		word-break: break-all;
	}
	.punish {
		font-size: xx-small;
	}
}

@media screen and (max-width:1519.2px) {
	.cup {
		white-space: nowrap;
	}
}

@media screen and (max-width:448px) {
	.web,
	.game,
	.public {
		font-size: xx-small;
	}
	.cover {
		font-size: xx-small;
	}
}