body {
    margin: 0;
    background-color: #f0f0f0;
}

main {
    margin: 10px;
}

header {
    background-color: #29bde0;
    font-size: 0;
}

.return {
    width: 15px;
}

.mark {
    width: 22px;
}

header div,
header p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

header p {
    width: 60%;
    font-size: 18px;
    font-weight: lighter;
    color: white;
    text-align: center;
}

.back {
    width: 20%;
    text-align: left;
    left: 15px;
    position: relative;
}

.question {
    width: 20%;
    text-align: right;
    right: 15px;
    position: relative;
}

.wrap {
    display: flex;
    height: 18rem;
}

.game {
    font-size: 1.8rem;
    display: inline-block;
    writing-mode: tb-rl;
    vertical-align: middle;
    text-align: center;
    padding: 0 1rem;
    border-right: .01rem solid #d9d9d9;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #fbfbfb;
}

.main .player-match {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: .2rem .1rem;
}

.main .player-match .identity {
    width: 50%;
    margin: .05rem 0;
    text-align: center;
    color: #a1a1a1;
}

.main .player-match .kill::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin-right: .5rem;
    background-color: #29bde0;
    vertical-align: middle;
}

.main .player-match .civilian::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin-right: .5rem;
    background-color: #fbb435;
    vertical-align: middle;
}

.main .set {
    padding: .6rem 0;
    text-align: center;
    border-top: .01rem solid #d9d9d9;
    font-size: .8rem;
    color: #29bde0;
    cursor: pointer;
    user-select: none;
    background: url(../img/pencil.png) no-repeat 71%;
    background-size: 8px;
}

.written {
    padding: 0 10px 10px;
    margin-top: 10px;
    background-color: white;
}

.written div {
    line-height: 50px;
    border-bottom: 2px solid #eee;
}

.written div input {
    font-size: 15px;
    outline: none;
    border: none;
}

input::-webkit-input-placeholder {
    color: #d7d7d7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

.play {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.player {
    padding: 10px;
}

.player p {
    display: inline-block;
}

.player input {
    width: 20px;
    background-color: #d7d7d7;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fab344;
}

input[type=range] {
    -webkit-appearance: none;
    width: 220px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    -webkit-appearance: none;
    background-color: #fbb435;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    /*-webkit-appearance: none;*/
    height: 20px;
    width: 35px;
    margin-top: -8px; /*使滑块超出轨道部分的偏移量相等*/
    background: white;
    border-radius: 5px; /*外观设置为圆形*/
    border: solid 0.125em #fab344; /*设置边框*/
}

.sign {
    font-size: 0;
    vertical-align: middle;
}

.symbol {
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fab344;
    background-color: white;
    font-size: 2rem;
    border: 1px solid #d9d9d9;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.number {
    font-weight: 600;
    font-size: .75rem;
}

.figure {
    font-size: .1rem;
    color: #fab344;
}

.play img {
    vertical-align: middle;
}

#footerBtn {
    line-height: 50px;
    text-align: center;
    background-color: #fab344;
    color: white;
    letter-spacing: .5rem;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
}