 body {
 	margin: 0;
 	min-width: 484px;
 }
 /*p {*/
 /*margin: 0 0 3px 0;*/
 /*}*/
 
 .header {
 	height: 55px;
 	line-height: 55px;
 	background-color: #5fc0cd;
 }
 
 .back {
 	position: absolute;
 	float: left;
 	clear: float;
 	margin-top: 6px;
 	margin-left: 10px;
 }
 
 .box {
 	font-weight: lighter;
 	font-size: 1.3em;
 	text-align: center;
 	color: white;
 }
 
 .background {
 	background: url(../img/nurse.png) no-repeat center;
 	background-size: 100%;
 	height: 163px;
 	position: relative;
 }
 
 .photo {
 	height: 74px;
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	left: 30px;
 }
 
 .name {
 	color: white;
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	left: 130px;
 }
 /*.big {}*/
 /*.p {*/
 /*position: absolute;*/
 /*top: 100%;*/
 /*left: 100%;*/
 /*}*/
 
 .position {
 	padding-left: 16px;
 	/*margin-top: -4%*/
 	position: relative;
 	font-size: .4em;
 	background: url(../img/position.png) no-repeat left center;
 	background-size: auto 100%;
 }
 
 .title {
 	/*margin: 10px 0 10px 0;*/
 	padding: 14.5px 0 14.5px 0;
 	border-bottom: 1px solid #ccc;
 	/*text-overflow: clip;*/
 }
 
 .title p {
 	margin-top: 0;
 	margin-bottom: 0;
 	border-left: 2px solid #5fc0cd;
 	margin-left: 30px;
 	padding-left: 30px;
 }
 
 .content li {
 	/*margin-left: 3%;*/
 	line-height: 60px;
 	margin-left: 25px;
 	/*margin-left: 0;*/
 	/*line-height: 50px;*/
 	position: relative;
 	border-bottom: 1px solid #ccc;
 	list-style: none;
 }
 
 .home {
 	/*height: 26px;*/
 	/*line-height: 26px;*/
 	/*margin-left: 25px;*/
 	padding: 0 14.5px 0 14.5px;
 	background: url(../img/star.png) no-repeat left center;
 	background-size: 17%;
 }
 
 .item {
 	/*margin-left: 25px;*/
 	margin-right: 15px;
 	color: #aaa;
 }
 
 .user {
 	padding-left: 15px;
 	border-left: 1px solid #aaa;
 	/*word-wrap:break-word;*/
 }
 
 .strong {
 	color: #e46e6f;
 }
 
 .job {
 	border-bottom: 2px solid #ccc;
 	/*position: relative;*/
 	padding: 14.5px 0;
 	/*margin-top: 25px;*/
 	/*padding-bottom: 25px;*/
 }
 
 .introduce {
 	/*white-space: nowrap;*/
 	padding: 10px 0;
 	/*position: relative;*/
 	margin-left: 25px;
 	margin-right: 10px;
 	color: #aaa;
 }
 
 .words {
 	font-size: .7em;
 	width: 45%;
 	height: 29px;
 	border: 2px solid #5fc0cd;
 	outline: none;
 	border-radius: 30px;
 	background-color: white;
 	color: #5fc0cd;
 }
 
 .cellphone {
 	font-size: .7em;
 	width: 45%;
 	height: 29px;
 	margin-left: 4%;
 	border: 2px solid #5fc0cd;
 	border-radius: 30px;
 	outline: none;
 	background-color: #5fc0cd;
 	color: white;
 }
 
 .footer {
 	margin-top: 70px;
 	margin-left: 50px;
 }
 
 .text {
 	line-height: 84px;
 	margin-right: 15px;
 	/*float: left;*/
 	position: relative;
 }
 
 .use {
 	line-height: 60px;
 	float: left;
 	margin-left: 25px;
 }
 
 .use span {
 	padding-right: 15px;
 	border-right: 1px solid #aaa;
 	color: #aaa;
 }
 
 .work {
 	width: 72%;
 	height: 60px;
 	position: relative;
 }
 
 .work span {
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	left: 120px;
 }