html {
    font-size: 625%;
}

body {
    margin: 0;
    font-size: 0.16rem;
    padding-top: .5rem;
    padding-bottom: 1.3rem;
}
/*头部*/
header {
    height: 50px;
    position: relative;
    position: fixed;
    width: 100%;
    background: #29bde0;
    top: 0;
    z-index: 2;
    border-bottom: 0.01rem solid #74d4eb;
}
/*头部文字*/
header p {
    text-align: center;
    line-height: 50px;
    margin: 0;
    height: 0;
    font-size: 21px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
}
/*头部图片标志*/
header img {
    width: .27rem;
    cursor: pointer;
}
/*表示头部的第一个按钮*/
.back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
/*表示头部的第二个按钮 关闭按钮*/
.close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
/*蓝色部分*/
.result {
    overflow: hidden;
    padding: 0 .3rem;
    text-align: center;
    background-color: #29bde0;
}
/*蓝色中的图片*/
.result .result-img {
    margin: 0 auto;
    display: block;
    max-width: 2.5rem;
    width: 100%;
    padding-top: .3rem;
}
/*蓝色中的文本*/
.result .result-text {
    display: inline-block;
    color: #ffc865;
    font-size: .18rem;
    text-align: left;
}
/*蓝色中的文本*/
.result .result-list {
    padding: 0;
    text-align: left;
    color: #fff;
    list-style: none;
}
/*列表整体*/
.game-process {
    color: #999;
    background-color: #fff;
}
.game-process ul {
    margin: 0;
    padding: .1rem .3rem;
    list-style: none;
    line-height: 1.5;
    border-bottom: .01rem solid #e8e8e8;
}
.game-process ul .time {
    display: flex;
    justify-content: space-between;
    font-size: .18rem;
    color: #515151;
}
.game-process ul .time span {
    font-size: .13rem;
    color: #d5d5d5;
}
/*底部部分*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: .7rem;
    background-color: rgba(41, 189, 224, 0.4);
}
/*底部按钮*/
.footer__btn {
    width: 40%;
    height: .4rem;
    padding: 0;
    border: none;
    outline: none;
    border-radius: .05rem;
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    /*background-color: #fbb435;*/
    cursor: pointer;
}
#gameAgain {
    background-color: #fbb435;
}
#share {
    background-color: #f66f6f;
}