body {
    /*margin: 0;*/
    /*padding: 0;*/
}
.side {
    height: 100vh;
    overflow: hidden;
    background: url("../../img/loginBg.png") no-repeat center;
    background-size: cover;
}
.side ul li {
    list-style: none;
    color: white;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: white;
}
.content {
    padding: 0;
}
.main_top {
    height: 7vh;
    line-height: 7vh;
}
.main {
    height: 93vh;
    color: red;
    background: #eee;
}
 .dropdown .dropdown-close {
    color: #feb454;
}
.glyphicon {
    /*position: relative;*/
    /*top: 1px;*/
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    /*line-height: 7vh;*/
    -webkit-font-smoothing: antialiased;
}
.glyphicon-off:before {
    content: "\e017";
}

div {
}