body {
	margin: 0;
}

.tel {
	padding: 1% 0;
}

.cellphone {
	float: left;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #29b078;
}

.chat {
	float: right;
}

.master img {
	width: 50%;
}

.navbar {
	/*background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);*/
	background-repeat: no-repeat;
	border-bottom: 1px solid #178ACC;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 0;
	border-radius: 0px;
}

.navbar-default {
	background-color: #29b078;
	border-color: #29b078;
	height: 54px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
	border-bottom: 2px solid white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #29b078;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.boss {
	background-color: #FAFAFA;
	padding-bottom: 10%;
}

.strom {
	padding: 2% 0;
}

.strom a{
	text-decoration: none;
	color: black;
}

.company img {
	width: 100%;
}

.side {
	float: left;
	border: 1px solid #A1A1A1;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 10px #A1A1A1
}

.col-xs-3,
.col-sm-3,
.col-md-3 {
	padding-left: 0;
	padding-right: 0;
}

.business {
	padding: 3% 0;
	font-weight: 700;
	font-size: small;
	text-align: center;
}

.character {
	color: #999;
	text-indent: 2em;
	padding-right: 4%;
	padding-left: 4%;
	padding-bottom: 2%;
	padding-top: 2%;
	line-height: 2em;
}

ul {
	margin-bottom: 0px;
}

.electric {
	padding: 0;
	border-top: 1px solid #A1A1A1;
	padding: 2% 0;
}

.electric li {
	padding: 2% 0 2% 43.5%;
}

.clear:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clear {
	zoom: 1;
}

.electric li {
	list-style: none;
}

.class {
	padding-bottom: 20%;
	background-color: white;
	float: right;
	border: 1px solid #A1A1A1;
	border-radius: 5px;
	box-shadow: 0 0 10px #A1A1A1;
}

.box img:hover {
	background-color: orange;
}

.two {
	border: 1px solid #e6e6e6;
}

.person {
	display: flex;
}

.col-xs-4,
.col-xs-8,
.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.blue:hover a{
	color: #26A26F;
}

.park {
	width: 30%;
}

.clean {
	width: 100%;
	border-radius: 5px 0 0 0;
}

.school {
	border-bottom: 1px solid #a1a1a1;
	margin-bottom: 6.5%;
}

.serve {
	color: #999;
	text-indent: 2em;
	line-height: 2em;
	padding: 5% 0;
}

.library {
	margin-top: 4%;
}

.footer {
	padding: 20px 0;
	background-color: #26A26F;
	color: white;
}

.footer a{
	text-decoration: none;
	color: white;
}

.ever {
	padding-bottom: 6px;
}

.ever:hover {
	border-bottom: 1px solid white;
}

.internet {
	color: white;
}

.punish {
	background: #26a26f;
	border-top: 0.1rem solid #32c086;
	line-height: 27px;
	color: #ffffff;
	text-align: center;
	font-size: 12px
}

.about {
	padding-top: 12%;
}

.college,
.station,
.internet {
	padding-top: 15px;
}

.clear:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clear {
	zoom: 1;
}

.air a {
	position: relative;
	text-decoration: none;
	color: #26A26F;
}

.air i {
	position: absolute;
	top: 3px;
	left: -1.5rem;
	width: 1rem;
	height: 1rem;
	border: 1px solid orange;
	border-radius: 50%;
}

.air:hover i {
	background-color: orange;
}

.air:hover a {
	color: orange;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.side,
	.class {
		width: 80%;
		margin: 5% 10%;
	}
	.park,
	.now {
		width: 100%;
		display: block;
		padding: 0 4%;
	}
	.strom {
		padding-top: 5%;
		padding-left: 10%;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 992px) {
	.side,
	.class {
		width: 80%;
		margin: 5% 10%;
	}
	.park,
	.now {
		width: 100%;
		display: block;
		padding: 0 4%;
	}
	.strom {
		padding-top: 5%;
		padding-left: 10%;
		padding-bottom: 0;
	}
}

@media screen and (max-width:780px) {
	.footer {
		padding: 0 10%;
	}
	.web,
	.game,
	.public {
		font-size: xx-small;
	}
	.about {
		padding-top: 3%;
	}
	.public {
		padding-top: 10px;
	}
	.cup {
		word-break: break-all;
	}
	.punish {
		font-size: xx-small;
	}
}

@media screen and (max-width:1519.2px) {
	.cup,
	.about {
		white-space: nowrap;
	}
}

@media screen and (max-width:448px) {
	.web,
	.game,
	.public {
		font-size: xx-small;
	}
}