.index {
	background-color: #29bde0;
	padding: 2% 2%;
}

body {
	margin: 0;
	background-color: #f0f0f0;
}

.box {
	background-color: #f0f0f0;
	padding: 5% 0;
}

.into {
	padding: 4% 0;
	margin: 2% 5%;
	background-color: white;
	border: 2px solid #c9c9c9;
	position: relative;
}

.color {
	/*font-size: 4em;*/
	letter-spacing: 0.1em;
	color: #9a9a9a;
	text-align: center;
}

.top {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2%;
	width: 3%;
}

.square {
	margin: 0 5%;
	border: 2px solid #c9c9c9;
	background-color: white;
}

.content {
	margin: 2% 5%;
	text-align: center;
}

.title {
	padding: 3% 0;
	/*font-size: 4em;*/
	letter-spacing: 0.2em;
	text-align: center;
	color: #fbb435;
	border-bottom: 1.5px solid #fbb435;
}

.choice {
	padding: 4% 10%;
	/*font-size: 4em;*/
	letter-spacing: 0.2em;
	background-color: #69d1e9;
	color: white;
	cursor: pointer;
}

.user {
	/*font-size: 1em;*/
	letter-spacing: 0.1em;
	color: #787878;
}

.picture {
	position: relative;
}

.choice img {
	width: 3%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -4.5%;
}

.dot {
	text-align: center;
}