	body {
		margin: 0;
	}
	
	.tel {
		padding: 1% 0;
	}
	
	.cellphone {
		float: left;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		color: #29b078;
	}
	
	.chat {
		float: right;
	}
	
	.navbar {
		/*background-image: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5);*/
		background-repeat: no-repeat;
		border-bottom: 1px solid #178ACC;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 0;
		border-radius: 0px;
	}
	
	.navbar-default {
		background-color: #29b078;
		border-color: #29b078;
		height: 54px;
	}
	
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus,
	.navbar-default .navbar-nav>li>a {
		color: #FFF;
	}
	
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		color: #FFF;
		border-bottom: 2px solid white;
	}
	
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: #29b078;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #FFF;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}

	nav>li>a {
		position: relative;
		display: block;
		text-align: center;
		padding: 10px 0 10px 30px;
		border-bottom: 2px solid white;
	}

	.banner {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	
	.margin-right-0 {
		margin-right: 0 !important;
	}
	
	.margin-left-0 {
		margin-left: 0 !important;
	}
	
	.padding-right-0 {
		padding-right: 0 !important;
	}
	
	.padding-left-0 {
		padding-left: 0 !important;
	}
	
	.cursor-pointer {
		cursor: pointer;
	}
	
	img {
		vertical-align: middle;
	}
	
	.carousel-control.left {
		background-image: none;
	}
	
	.carousel-control.right {
		background-image: none;
	}
	
	.bulid {
		padding: 10% 0;
	}
	
	.content {
		background-color: #fafafa;
	}
	
	.friend {
		padding-top: 5%;
	}
	
	.left {
		float: left;
	}

	.middle {
		padding-left: 5%;
		margin-top: 13.5%;
	}
	
	.fast,
	.subject {
		text-align: center;
	}
	
	.standard {
		padding: 0 4%;
	}
	
	.center {
		text-align: center;
	}

	.home-tag-icon {
		height: 45px;
	}
	
	.home-tag-help {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	
	.home-tag-icon img {
		vertical-align: middle;
	}
	
	.border {
		border-right: 1px dashed #999;
	}
	
	.col-xs-3 li {
		padding-top: 10%;
		list-style: none;
	}

	
	.col-xs-3 span {
		font-size: smaller;
		color: #26a26f;
	}
	
	.more {
		color: #29B078;
	}
	
	.number,
	.as {
		font-size: smaller;
		color: #999;
	}
	
	.home {
		padding: 3% 0;
		text-align: center;
		font-weight: 700;
		font-size: small;
	}
	
	.ship {
		padding-top: 2%;
		text-align: center;
		font-weight: 700;
		font-size: small;
	}
	
	.clear:after {
		content: ".";
		clear: both;
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	
	.clear {
		zoom: 1;
	}

	
	.block {
		display: inline-block;
	}
	
	.circle {
		display: flex;
	}
	
	.circle div {
		color: #a1a1a1;
	}

	.row {
		padding-top: 2%;
		padding-bottom: 2%;
	}
	
	.position {
		position: relative;
	}
	
	.work {
		float: left;
		font-size: smaller;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 30%;
		padding-right: 20%;
		color: #a1A1A1;
	}
	
	.green {
		float: left;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}
	
	.step {
		width: 50px;
		height: 50px;
		line-height: 50px;
		background-color: white;
		border-radius: 50%;
		box-shadow: 0 0 1px lightgray;
		float: left;
		color: #26a26f;
		text-align: center
	}
	
	.parent {
		display: flex;
	}
	
	.column {
		margin: 2%;
		padding: 1% 2.8% 1% 2.8%;
		background-color: white;
		border-radius: 10px;
		border: 1px solid #eeeded;
	}
	
	.picture img {
		width: 40%;
	}
	
	.column p {
		font-size: 0.1em;
		color: #a1a1a1;
	}

	.picture,
	.name {
		text-align: center;
	}
	
	.name {
		padding: 10% 0;
	}

	.people {
		text-align: center;
	}
	
	.example {
		text-align: center;
		background-color: #000000;
	}
	
	.example img {
		padding: 1%;
		margin-left: 2%;
		margin-right: 2%;
	}
	
	.double {
		width: 10%;
	}
	
	.moon {
		padding-bottom: 3%;
	}
	
	.all {
		list-style: none;
		font-size: 0;
		background-color: white;
		padding-left: 0;
	}
	
	.Alibaba,
	.gold,
	.ring,
	.cloud,
	.moggy {
		font-size: 14px;
		display: inline-block;
		width: 20%;
		text-align: center;
		height: 180px;
	}
	
	.all li:hover {
		box-shadow: 0 0 20px lightgray;
	}
	
	.Alibaba {
		background: url(../img/alibaba.png) no-repeat center;
	}
	
	.gold {
		background: url(../img/jinshanyun.png) no-repeat center;
	}
	
	.ring {
		background: url(../img/huanxin.png) no-repeat center;
	}
	
	.cloud {
		background: url(../img/cloudy.png) no-repeat center;
	}
	
	.moggy {
		background: url(../img/moggy.png) no-repeat center;
	}
	
	.believe:hover {
		box-shadow: 2px 2px 2px 2px lightgray;
	}
	
	.seven {
		padding-left: 9%;
	}
	
	.example img:hover {
		box-shadow: 0 0 20px lightgray;
	}

	
	.prompt:hover {
		border-bottom: 2px solid #26a26f;
	}
	
	.footer {
		padding: 20px 0;
		background-color: #26a26F;
		color: white;
	}
	.footer a{
		color: white;
		text-decoration: none;
	}
	.about {
		padding-top: 12.5%;
	}
	
	.ever {
		padding-bottom: 6px;
	}
	
	.ever:hover {
		border-bottom: 1px solid white;
	}
	
	.internet {
		color: white;
	}
	
	.punish {
		background: #26a26f;
		border-top: 1px solid #32c086;
		line-height: 27px;
		color: #ffffff;
		text-align: center;
		font-size: 12px
	}
	
	.college,
	.station,
	.internet {
		padding-top: 15px;
	}
	
	@media screen and (max-width: 768px) {
		[class*="efficiency"] {
			text-align: center;
		}
		[class*="sleep"] {
			text-align: center;
		}
	}
	
	.link {
		background-color: #fff;
		padding-bottom: .2rem;
		padding-left: .3rem;
	}
	
	.link ul {
		overflow: hidden;
	}
	
	.link ul li {
		float: left;
		width: 100%;
		list-style: none;
	}

	.link .col-md-10ths .row {
		position: relative;
		float: left;
		width: 50%;
	}
	
	.link .col-md-10ths .row:last-child {
		float: right;
	}
	
	.link .col-md-10ths .row a {
		padding-left: .2rem;
		color: #999;
		text-decoration: none;
	}

	
	.link .col-md-10ths .row:hover a {
		border-bottom: .01rem solid #26a26f;
	}
	
	.link .col-md-10ths .row i {
		position: absolute;
		top: .12rem;
		left: 0rem;
		width: .05rem;
		height: .05rem;
		background-color: #999;
		border-radius: 50%;
	}

	.col-md-10ths
	{
		position: relative;
		min-height: .01rem;
		padding-right: .15rem;
		padding-left: .15rem;
	}
	
	@media (min-width: 460px) {
		html {
			font-size: 120px;
		}
	}

	@media (min-width: 768px) {
		html {
			font-size: 100px;
		}
		.col-sm-10ths {
			width: 10%;
			float: left;
		}
		.link ul li {
			width: 50%;
		}
	}
	
	@media (min-width: 992px) {
		html {
			font-size: 100px;
		}
		.container {
			max-width: 9.7rem;
			position: relative;
		}
		.col-md-10ths {
			width: 10%;
			float: left;
		}
		.link ul li {
			width: 33%;
		}
		.link .col-md-10ths .row {
			width: 56%;
		}
	}
	
	@media (min-width: 1200px) {
		html {
			font-size: 100px;
		}
		.container {
			max-width: 11.7rem;
			position: relative;
		}
		.col-md-10ths {
			width: 10%;
			float: left;
		}
		.link ul li {
			width: 20%;
		}
		.link .col-md-10ths .row {
			width: 56%;
		}
	}
	
	@media screen and (max-width:780px) {
		.footer {
			padding: 0 0;
		}
		.web,
		.game,
		.public,
		.punish {
			font-size: xx-small;
		}
		.about {
			padding-top: 3%;
		}
		.public {
			padding-top: 10px;
		}
		.cup {
			word-break: break-all;
		}
	}
	
	@media screen and (max-width:1519.2px) {
		.cup,
		.about,
		.ever {
			white-space: nowrap;
		}
	}
	
	@media screen and (max-width:800px) {
		.order,
		.border,
		.sleep {
			width: 50%;
		}
		.sleep {
			text-align: center;
		}
		.border {
			border-right: transparent;
		}
	}
	
	@media screen and (max-width: 992px) {
		.position {
			width: 50%;
			padding: 2%;
		}
		.Aibaba,
		.gold,
		.ring,
		.cloud,
		.moggy {
			width: 50%;
		}
	}
	
	@media screen and (max-width:530px) {
		.order,
		.border,
		.sleep {
			width: 100%;
		}
		.position {
			width: 100%;
		}
	}
	
	@media screen and (max-width: 460px) {
		.Alibaba,
		.gold,
		.ring,
		.cloud,
		.moggy {
			width: 100%;
		}
	}
	
	@media screen and (max-width:450px) {
		.col-md-10ths {
			padding-right: .15rem;
			padding-left: .15rem;
		}
		.link .col-md-10ths .row a {
			position: relative;
		}
		.link .col-md-10ths .row i {
			position: absolute;
			top: .4rem;
			left: -1rem;
			width: 0.6rem;
			height: 0.6rem;
			background-color: #999;
			border-radius: 50%;
		}
	}