a{
    text-decoration:none !important;
}
/* footer页尾 */
footer{
    width: 100%;
    margin-top: 2.5rem;
    padding-top: .2rem;
    background: #26A26F;
}
.footer-font{
    font-size: .16rem;
    color: #FFFFFF;
}
@media(max-width:575px){
    .footer-font{
        line-height: .6rem;
        font-size: .16rem;
        color: #FFFFFF;
    }
    
}

.right-font{
    font-size: .16rem;
    color: #FFFFFF;
    text-align: right;
}
@media(min-width:576px){
    .center-box{
        margin-top:.3rem;
    }
}
.it{
    margin-left: .34rem;
}
@media(max-width:575px){
    .offset-4{
        margin-left: 0;
    }
}
div.erweima-center{
    text-align: right;
}
.erweima{
    display: block;
    width: 80px;
    height: 80px;
}
@media(max-width:575px){
    .erweima{
        margin:.1rem 0 0 .25rem;
    }
}
a.erweima{
    position: absolute;
    top:.5rem;
    right:0;
    margin-right: .2rem
}
@media(max-width:575px){
    .erweima-center{
        position: absolute;
        top:1.8rem;
        left: .32rem;
        margin-right: .5rem;
    }
}
.copyright-box{
    padding:.07rem 0;
    margin-top: .7rem;
    border-top: .01rem solid #32C086;
}
@media(max-width:575px){
    .copyright-box{
        margin-top: 2.7rem;
    }
}
.copyright{
    font-size:.14rem;
    text-align: center;
    color: #FFFFFF;
}