@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div[class^="col"] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1 {
  float: left;
  width: 8.33333333%;
}

.col-xs-2 {
  float: left;
  width: 16.66666666%;
}

.col-xs-3 {
  float: left;
  width: 24.99999999%;
}

.col-xs-4 {
  float: left;
  width: 33.33333332%;
}

.col-xs-5 {
  float: left;
  width: 41.66666665%;
}

.col-xs-6 {
  float: left;
  width: 49.99999998%;
}

.col-xs-7 {
  float: left;
  width: 58.33333331%;
}

.col-xs-8 {
  float: left;
  width: 66.66666664%;
}

.col-xs-9 {
  float: left;
  width: 74.99999997%;
}

.col-xs-10 {
  float: left;
  width: 83.3333333%;
}

.col-xs-11 {
  float: left;
  width: 91.66666663%;
}

.col-xs-12 {
  float: left;
  width: 99.99999996%;
}

@media screen and (min-width: 768px) {
  /*当宽度大于768px时触发*/
  .container {
    width: 750px;
  }

  .col-sm-1 {
    float: left;
    width: 8.33333333%;
  }

  .col-sm-2 {
    float: left;
    width: 16.66666666%;
  }

  .col-sm-3 {
    float: left;
    width: 24.99999999%;
  }

  .col-sm-4 {
    float: left;
    width: 33.33333332%;
  }

  .col-sm-5 {
    float: left;
    width: 41.66666665%;
  }

  .col-sm-6 {
    float: left;
    width: 49.99999998%;
  }

  .col-sm-7 {
    float: left;
    width: 58.33333331%;
  }

  .col-sm-8 {
    float: left;
    width: 66.66666664%;
  }

  .col-sm-9 {
    float: left;
    width: 74.99999997%;
  }

  .col-sm-10 {
    float: left;
    width: 83.3333333%;
  }

  .col-sm-11 {
    float: left;
    width: 91.66666663%;
  }

  .col-sm-12 {
    float: left;
    width: 99.99999996%;
  }
}
@media screen and (min-width: 992px) {
  /*当宽度大于992px时触发*/
  .container {
    width: 970px;
  }

  .col-md-1 {
    float: left;
    width: 8.33333333%;
  }

  .col-md-2 {
    float: left;
    width: 16.66666666%;
  }

  .col-md-3 {
    float: left;
    width: 24.99999999%;
  }

  .col-md-4 {
    float: left;
    width: 33.33333332%;
  }

  .col-md-5 {
    float: left;
    width: 41.66666665%;
  }

  .col-md-6 {
    float: left;
    width: 49.99999998%;
  }

  .col-md-7 {
    float: left;
    width: 58.33333331%;
  }

  .col-md-8 {
    float: left;
    width: 66.66666664%;
  }

  .col-md-9 {
    float: left;
    width: 74.99999997%;
  }

  .col-md-10 {
    float: left;
    width: 83.3333333%;
  }

  .col-md-11 {
    float: left;
    width: 91.66666663%;
  }

  .col-md-12 {
    float: left;
    width: 99.99999996%;
  }
}
@media screen and (min-width: 1200px) {
  /*当宽度大于1200px时触发*/
  .container {
    width: 1170px;
  }

  .col-lg-1 {
    float: left;
    width: 8.33333333%;
  }

  .col-lg-2 {
    float: left;
    width: 16.66666666%;
  }

  .col-lg-3 {
    float: left;
    width: 24.99999999%;
  }

  .col-lg-4 {
    float: left;
    width: 33.33333332%;
  }

  .col-lg-5 {
    float: left;
    width: 41.66666665%;
  }

  .col-lg-6 {
    float: left;
    width: 49.99999998%;
  }

  .col-lg-7 {
    float: left;
    width: 58.33333331%;
  }

  .col-lg-8 {
    float: left;
    width: 66.66666664%;
  }

  .col-lg-9 {
    float: left;
    width: 74.99999997%;
  }

  .col-lg-10 {
    float: left;
    width: 83.3333333%;
  }

  .col-lg-11 {
    float: left;
    width: 91.66666663%;
  }

  .col-lg-12 {
    float: left;
    width: 99.99999996%;
  }
}
