@charset "UTF-8";
/*全局设定*/
html {
  font-size: 312.5%;
  background-color: #ffffff;
}

* {
  margin: 0;
}

/*header部分*/
header {
  position: fixed;
  line-height: .8rem;
  width: 100%;
  background-color: #5fc0cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header .homepage {
  font-size: 0.36rem;
  color: #ffffff;
}

header .homepage::after {
  content: "";
  position: absolute;
  top: .3rem;
  left: .2rem;
  border-bottom: 2px solid;
  border-left: 2px solid;
  width: .2rem;
  height: .2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*main部分*/
main {
  position: relative;
  padding-top: .8rem;
  padding-bottom: 1.3rem;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.27rem;
  background: url(img12-1/pic.png) no-repeat;
  background-size: cover;
}

.cover img {
  height: 1.69rem;
  width: 1.69rem;
  margin-left: .2rem;
}

.cover .describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: .2rem;
}

.cover .describe .name {
  font-size: 0.36rem;
  color: #ffffff;
  margin-bottom: .1rem;
}

.cover .describe .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover .describe .location img {
  margin-left: 0;
  width: .18rem;
  height: .23rem;
  vertical-align: -.01rem;
}

.cover .describe .location span {
  margin-left: .2rem;
  font-size: 0.24rem;
  color: #ffffff;
}

/*专家技能*/
.title {
  position: relative;
  padding-left: .4rem;
  line-height: 1rem;
  font-size: 0.32rem;
  color: #595959;
  border-bottom: 1px solid #e1e5e7;
}

.title::after {
  content: "";
  position: absolute;
  top: .32rem;
  left: .2rem;
  width: .05rem;
  height: .36rem;
  background-color: #5fc0cd;
}

/*具体描述*/
ul {
  margin: 0 3%;
  list-style: none;
  padding: 0;
  font-size: 0.32rem;
  color: #595959;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e1e5e7;
  height: 1rem;
}

ul li img {
  padding: 0 .2rem;
  width: .24rem;
  height: .23rem;
}

ul li:nth-child(2) > span, ul li:nth-child(3) > span, ul li:nth-child(4) > span, ul li:nth-child(5) > span {
  padding: 0 .2rem;
  margin: .34rem 0;
}

ul li:nth-child(2) > span:nth-child(1), ul li:nth-child(3) > span:nth-child(1), ul li:nth-child(4) > span:nth-child(1), ul li:nth-child(5) > span:nth-child(1) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #999999;
  border-right: 1px solid #999999;
}

ul li:nth-child(2) .redexplain, ul li:nth-child(3) .redexplain, ul li:nth-child(4) .redexplain, ul li:nth-child(5) .redexplain {
  color: #e46a6c !important;
}

ul .specialli {
  height: auto;
}

/*footer部分*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.3rem;
  font-size: .34rem;
  background-color: #ffffff;
}

footer button:nth-child(1), footer button:nth-child(2) {
  margin: auto .2rem;
  width: 50%;
  height: .9rem;
  font-size: 0.32rem;
  color: #ffffff;
  background-color: #5fc0cd;
  border: 2px solid #5fc0cd;
  border-radius: .15rem;
  outline: none;
}

footer button:hover {
  color: #5fc0cd;
  background-color: #ffffff;
}
/*# sourceMappingURL=task12-1.css.map */