

<div class="backdrop" ng-controller="logCtr">
<div class="area">
    <p>后台登陆</p>
    <form name="myform">
        <div class="line">
            <img src="img/user.png">
            <input name="username" type="text" ng-model="params.name" placeholder="请输入用户名" required>
        </div>

        <div class="line">
            <img src="img/password.png">
            <input name="password" type="password" ng-model="params.pwd" placeholder="请输入密码" required>
        </div>

        <div id="hint">{{message}}</div>
        <!--<ng-form name=someForm>-->
        <!--<input name="username" type="text" ng-model="user.username" pattern="^\w{4,10}"  id="name" placeholder="请输入用户名">-->
        <!--<div class="alert alert-danger" ng-show="someForm.username.$error.pattern">-->
        <!--用户名必须为4-10个字母-->
        <!--</div>-->
        <!--</ng-form>-->
    </form>
    <div class="line1">
        <button ng-click="submit()" id="submit">登陆</button>
    </div>
</div>
</div>