<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 扫描service包下所有使用注解的类型 -->
    <context:component-scan base-package="com.iceneet.service" />

    <bean name="signupservice" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" lazy-init="true"
          id="serviceProxy">
        <property name="serviceUrl" value="rmi://localhost:9090/signup"/>
        <property name="serviceInterface" value="com.iceneet.service.Signupservice"/>
    </bean>
    <bean name="signupservice1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" lazy-init="true"
          id="serviceProxy1">
        <property name="serviceUrl" value="rmi://localhost:9091/signup"/>
        <property name="serviceInterface" value="com.iceneet.service.Signupservice1"/>
    </bean>
</beans>