body {
  height: 100%;
  background-color: rgb(41, 189, 224);
}
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(41, 189, 224);
}
.hd-md,.hd-left,.hd-right {
  float: left;
}
.hd-md {
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}
.hd-left {
  width: 20%;
  margin-left: -100%;
}
.hd-right {
  width: 20%;
  margin-left: -20%;
}
.hd-left a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
}
.hd-right a {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}
.hd-left span {
  display: inline-block;
  height:20px;width:20px;
  background: url(../img/header-sprt.png) no-repeat;
  background-size: 70px auto;
  background-position:-24px 0; 
}
.hd-right span {
  display: inline-block;
  height:18px;width:18px;
  background: url(../img/header-sprt.png) no-repeat;
  background-size: 70px auto;
  background-position:-52px 0; 
}
.info {
  width: 100%;
  height: 40px;
  background-color: rgb(185, 233, 245);
  font-size: .9em;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 1;
}
.info-bgm  span {
  color: rgb(70, 70, 70);
  line-height: 40px;
  margin-left: 1em;
}
.info-bgm img {
  width: 26px;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}
.info-drop div{
  margin-left: 2em;
  width: 0; height: 0;
  border-top: 10px solid rgb(185, 233, 245);
  border-left: 7px solid  transparent;
  border-right: 7px solid  transparent;
}
.info-drop span {
  margin-left: 2em;
  color: rgb(255, 255, 255);
}
.info-drop {
  display: none;
}
.info:hover .info-drop{
  display: block;
}
main {
  width: 90%;
  margin: 10px 5% 100px 5%;
  padding-top: 20px;
  position: relative;
  top: 90px;
  left: 0;
  overflow: hidden;
  background-color: rgb(35, 169, 200);
  border-radius: 2%;
}
.player {
  width: 24%;
  height: 0;
  padding-bottom: 24%;
  float: left;
  border:4px solid rgb(255, 255, 255);
  margin:10px 1% 7% 5%;  
  overflow: hidden;
}
.player-id {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  color: rgb(70, 70, 70);
  background-color: rgb(245, 201, 123);
  position: relative;
}
.player-id span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player-num {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  color: rgb(255, 255, 255);
  background-color: rgb(131, 176, 154);
  position: relative;
}
.player-num span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .7em;
}

.player-hover {
  width: 24%;
  margin-top: 10px;
  position: absolute;
}
.player-hover ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;  
  position: relative;
}
.player-hover ul li {
  width: 22%;
  height: 0;
  padding-bottom: 22%;
  float: left;
  position: relative;
  margin: 0 1px;
  background-color: rgb(255, 255, 255);
}
.player-hover ul li img {
  width: 50%;
  min-width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player-hover {
  display: none;
}
.player:hover .player-hover {
  display: block;
}

footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(41, 189, 224);
}
footer a {
  display: block;
  text-align: center;
}
footer button {
  width: 80%;
  height: 40px; 
  margin:10px auto;  
  border: none;
  padding: 0;
  color: rgb(255, 255, 255);   
  background-color: rgb(251, 180, 53);  
  font-size: 1.2em;
  text-align: center;
}