@charset "UTF-8";
$box1-left: 4rem;
$box2-wdith:100%;
$box3-color:white;
$box3-height:4rem;
.hezi1{
	align-items:center;
	background-color:#68cdd5;
}
.hezi2{
	background-size: 4rem;
    background-position: 2rem 0.5rem;
    background-repeat: no-repeat;
}
.hezi3{
	width: $box2-wdith;
	height: $box3-height;
	border: white;
	text-indent: 8rem;
}
*{margin: 0;}

html{
	font-size: 62.5%;
	color: $box3-color;
    background-color: #eff0f4;
    header{
    	width: $box2-wdith;
		height: $box3-height;
		position: fixed;
		display: flex;
		justify-content: center;
		@extend .hezi1;
		p{
			position:absolute;
			font-size: 1.8rem;
		}
		a{
			font-size: 2.3rem;
		}
		.left{
			left:$box1-left;
		}
		.right{
			right:$box1-left;
		}
	}
	main{
		.bbb{
	    	color: $box3-color;
	    	width: $box2-wdith;
	    	font-size: 2.3rem;
	    	height:5.5rem;
	    	@extend .hezi1;
		}
		.cc{
	   	 	margin: 5rem 0 1rem;
	    	background-image: url(iphone2.png);
        	@extend .hezi2;
        	@extend .hezi3;
    	}
    	.dd{
	    	margin-bottom: 1rem;
        	background-image: url(suo.png);
        	@extend .hezi2;
        	@extend .hezi3;
    	}
    	.ee{
			float: right;
			margin: 2rem 4rem 0 0;
			color: #68cdd5;
			font-size: 1.5rem;
			text-decoration: underline;
		}
    	input{
    		outline:none;
    		border: none;
    	}
	}
}

