.block-center-align {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.abs-ver-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.abs-hzt-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rel-ver-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clear-format {
  border: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
  height: 0;
}
html {
  font-size: 62.5%;
}
header {
  background-color: #1d7ad9;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  color: white;
  font-size: 1.6rem;
}
.header-wrap .login {
  border: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 2rem;
  background-color: #1d7ad9;
}
.header-wrap .register {
  border: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
}
.collapse {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.navbar-nav {
  float: right;
}
.navbar-nav a {
  margin: 2.8rem;
  border-radius: 0.5rem;
  color: black !important;
  font-size: 1.6rem;
  background-color: white;
  box-shadow: 2px 2px 5px #393939;
  transition: background-color 1s ease, color 0.5s ease, transform 0.5s ease 0.5s;
}
.navbar-nav a:hover {
  background-color: #1d7ad9 !important;
  color: white !important;
  transform: rotate(180deg);
}
.my-progress-body {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 2rem;
}
.my-progress-wrap {
  float: left;
  text-align: center;
}
.my-progress-bar {
  display: inline-block;
  position: relative;
  width: 16rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #cccccc;
  color: white;
  font-size: 1.6rem;
  text-align: center;
}
.my-progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6.8rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #cccccc;
}
.my-progress-bar:hover {
  background-color: #ff7f02;
}
.my-progress-bar:hover::before {
  background-color: #ff7f02;
}
.my-progress-bar:hover + span {
  color: #ff7f02;
}
.my-progress-bar span {
  position: relative;
  left: 0px;
  bottom: 8px;
  font-size: 1.6rem;
}
.progress-text {
  display: block;
  margin: 3rem 0;
  font-size: 1.6rem;
  color: #cccccc;
}
.step-title {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 4px solid #1d7ad9;
  font-size: 1.8rem;
}
section.step {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  border: 1px solid #d6d6d6;
}
section.step .row-title {
  padding: 1.5rem;
  background-color: #f3f3f3;
  color: #1d7ad9;
  font-size: 1.6rem;
}
section.step .row-title * {
  vertical-align: middle;
}
section.step .group {
  position: relative;
  padding: 3.6rem;
  font-size: 1.6rem;
  background-color: #fbfcff;
}
section.step .group > div {
  display: inline-block;
}
section.step .group select {
  border: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 13rem;
  height: 4rem;
  border: 1px solid #d6d6d6;
  padding: 0 1%;
  background-image: url(../resource/box-assets/select.png);
  background-repeat: no-repeat;
  background-position: 10rem 0.5rem;
}
section.step .outer-radius,
section.step .inner-radius {
  margin: 2.5rem 0;
}
section.step .input {
  margin: 0 3rem;
}
#select-box select {
  position: relative;
  float: right;
  top: -1rem;
}
#ruler-group .input {
  display: inline-block;
}
#ruler-group select {
  position: relative;
  float: right;
  top: -3rem;
}
#select-material .input {
  display: inline-block;
}
#select-material select {
  position: relative;
  float: right;
  top: 0rem;
}
#select-material label {
  margin: 1rem 2rem;
}
.btn-wrap {
  text-align: center;
}
.btn-wrap input[type="submit"] {
  border: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2rem 5.4rem;
  margin: 14rem 0;
  border-radius: 1rem;
  color: white;
  background-color: #e15053;
  font-size: 2.4rem;
}
footer {
  margin-top: 6rem;
  color: #737374;
  background-color: #f9f9f9;
}
footer .footer-wrap {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}
footer .footer-title {
  display: inline-block;
  padding: 6rem 0;
  margin-right: 16rem;
  font-size: 1.8rem;
}
footer .link {
  display: inline-block;
  font-size: 1.4rem;
  width: 30rem;
  vertical-align: middle;
}
footer .link a {
  display: inline-block;
  color: #737374;
  margin: 0.5rem 1rem;
}
footer .barcode {
  position: relative;
  display: inline-block;
  text-align: justify;
  float: right;
  top: 3rem;
  right: 2rem;
}
footer .contact {
  float: left;
}
footer .contact div {
  margin: 0.5rem 0;
}
.copyright {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #1d7ad9;
  color: white;
}
[type="number"] {
  width: 7rem;
  height: 3rem;
  outline: none;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"] ::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
[type="radio"] {
  display: none;
}
[type="radio"]:checked + label::before {
  border: 5px solid #1d7ad9;
}
label {
  position: relative;
  margin: 0rem 2rem;
}
label::before {
  position: absolute;
  content: "\a0";
  width: 1.6rem;
  height: 1.6rem;
  left: -2rem;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  background-color: white;
}
#active,
#active::before {
  background-color: #ff7f02;
}
#active + span {
  color: #ff7f02;
}
