// 整体页面的字体大小设置
html {
    font-size: 62.5%;
}

// 全部的UL标签的小黑点去除
* {
    list-style-type: none;
}
// 声明变量
$bgc:white #5FC0CD #E26163 #EFF0F4 ;

// 声明全局混合器
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 声明全局变量

// 下边部分的外边距字体设置
body {
    margin: 0;
    font-size: 1.6rem;

    header {
        @include flex;
        height: 4.4rem;
        background-color: nth($bgc,2);
        position: fixed;
        width: 100%;
        top: 0;

        .arrow {
            position: absolute;
            left: -14px;
            top: .3rem;
            width: 1rem;
            height: 1rem;
            border-top: 3px solid nth($bgc,1);
            border-left: 3px solid nth($bgc,1);
            transform: rotate(-45deg);
            display: inline-block;
            margin-left: 3.5rem;
            margin-top: 1.2rem;
            float: left;
        }

        .introductio {
            color: nth($bgc,1);
            text-align: center;
            line-height: 4rem;
        }
    }

    .bg {
        background: url(./doctor.png) no-repeat;
        height: 16.3rem;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-top: 4rem;

        .portrait {
            background: url(./headportrait.png) no-repeat;
            height: 8.45rem;
            width: 8.45rem;
            background-size: cover;
            margin-left: 1.5rem;
        }

        .name {
            color: nth($bgc,1);
            margin-left: 2rem;
        }

        .age {
            color: nth($bgc,1);
            margin-left: 1.5rem;
        }

        .shape {
            background: url(./Shape4.png) no-repeat;
            width: .9rem;
            height: 1.15rem;
            align-items: center;
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            margin-left: 2.2rem;
        }

        .address {
            color: nth($bgc,1);
            font-size: .24rem;
        }
    }

    .box3 {
        height: 41.65rem;

        .skill {
            height: 5rem;
            border: 1px solid  nth($bgc,4);

            p {
                border-left: 4px solid nth($bgc,2);
                display: inline-block;
                line-height: 2rem;
                margin-left: 2rem;
                padding-left: 1rem;
            }
        }

        .require {
            border-bottom: .5px solid nth($bgc,4);
            margin-left: 1.65rem;
            line-height: 5rem;
            height: 5rem;
            font-size: 1.8rem;

            .box4 {
                display: inline-block;
                padding-left: 1rem;
                border-right: 1px solid nth($bgc,4);
                line-height: 2rem;
                padding-right: 1rem;

                .pentagram1 {
                    background: url(./pentagram1.png) no-repeat;
                    display: inline-block;
                    width: 1.1rem;
                    height: 1.2rem;
                    background-size: contain;
                    margin-left: 3rem;
                }
            }

            .box5 {
                display: inline-block;

                .pentagram2 {
                    display: inline-block;
                    background: url(./pentagram2.png) no-repeat;
                    width: 1.1rem;
                    height: 1.2rem;
                    background-size: contain;
                }
            }
        }

        .menu {
            border-bottom: 1px solid nth($bgc,4);
            height: 5rem;
            line-height: 5rem;
            margin-left: 1.65rem;

            .submenu {
                margin-left: 3.4rem;
                border-right: 1px solid nth($bgc,4);
                padding-right: 1rem;
            }

            .submenu1 {
                margin-left: 1.35rem;
            }

            .submenu2 {
                margin-left: 1.35rem;
                color: nth($bgc,3);
            }
        }

        .introduction {
            border-bottom: 1px solid nth($bgc,4);
            height: 5rem;
            display: flex;
            margin-left: 1.65rem;
            align-items: center;

            .submenu {
                display: inline-block;
                margin-left: 3.4rem;
                border-right: 1px solid nth($bgc,4);
                padding-right: 1rem;
                white-space: nowrap;

                .introduction2 {
                    display: inline-block;
                    font-size: 1.4rem;
                    width: 40rem;
                    padding-left: 2rem;
                }
            }
        }
    }
    footer {
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: nth($bgc,1);
        .leaveword {
            width: 40%;
            height: 4.4rem;
            background-color: nth($bgc,1);
            border: 1px solid nth($bgc,2);
            color: nth($bgc,2);
            font-size: 100%;
            border-radius: 5px;
            margin: auto;
            outline: none;
        }
        .phone {
            width: 40%;
            height: 4.4rem;
            background-color: nth($bgc,2);
            border: 1px solid nth($bgc,2);
            color: nth($bgc,1);
            font-size: 100%;
            border-radius: 5px;
            margin: auto;
            outline: none;
        }
    }
    
}