*{margin:0;padding:0}
body{margin:0;padding:0;	font: normal 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;}
div{display:block}
a{text-decoration:none;opacity:1;color:#fff}
button,input{outline:0}
::-moz-focus-inner{border:0}
.login_header{position:absolute;top:0;left:0;right:0}
#logo{display:block;text-align:center;font-weight:700;font-size:50px;color:#fff;height:100%; text-shadow:2px 2px 3px rgba(0,0,0,0.5)}
#subheading{position:relative;width:517px;left:50%;margin:10px 0 16px -258px;font-size:15px;font-weight:400;color:#fff;text-align:center}
.signup_forms{width:260px;height:145px}
.signup_forms_container{width:260px;overflow:hidden;background:#fff;border-radius:3px}
.form_password,.form_user{width:260px;height:45px;margin:0;padding:0;border:0}
.form_password{border-top:1px solid #e3e3e3}
.signup_forms input{padding:11px 10px 11px 13px;width:100%;margin:0;background:0;font:16px/1.4 "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;border:0}
#signup_forms_submit{margin-top:8px;width:260px;height:45px;background:#529ECC;border:0;border-radius:3px;cursor:pointer}
#signup_forms_submit span{color:#fff;font:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:16px}
.footer{position:fixed;top:auto;right:0;bottom:0;left:0}
.footer_signup_link{position:absolute;width:141px;height:78px;bottom:0;padding:0 20px;margin:0 0 13px 0;line-height:25px;text-align:center;opacity:1;color:#fff}
.signup_link{display:block;height:45px;padding:0 10px;margin:0 0 8px 0;font-size:16px;font-weight:700;line-height:45px;border:0;border-radius:2px;color:#fff;background:rgba(255,255,255,.33)}
.link{font-size:14px;padding-right:5px;margin-right:12px;color:#fff}
.design_show{position:fixed;bottom:0;right:0;padding:0 12px;margin:0 0 13px 0;line-height:25px}
.designer_info{position:relative;color:#FFF}
#face{margin:0 0 0 10px;vertical-align:middle;border-radius:20px;padding:0;height:24px;width:24px}

.large-header{position:relative;width:100%;background:#333;overflow:hidden;background-size:cover;background-position:center center;z-index:1}
.demo-2 .large-header{background-image:url(../images/demobg.jpg);background-position:center bottom}
. .main-title{position:absolute;margin:0;padding:0;color:#f9f1e9;text-align:center;top:50%;left:50%;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0)}
.demo-2{position:absolute;height:100%;width:100%;top:0;left:0;z-index:0}
.container{position:absolute;top:0;left:0;z-index:1;width:260px;left:50%;margin-left:-130px;top:50%;margin-top:-200px}
.demo-2 .main-title{font-family:'Clicker Script',cursive;font-weight:400;font-size:8em;padding-left:10px;text-shadow:2px 2px 4px rgba(0,0,0,.4)}
.demo-2 .main-title::before{content:'';width:20vw;height:20vw;min-width:3.5em;min-height:3.5em;background:url(../img/deco.svg) no-repeat center center;background-size:cover;position:absolute;top:50%;left:50%;border-radius:50%;z-index:-1;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0)}
.main-title .thin{font-weight:200}
@media only screen and (max-width :768px){.demo-1 .main-title,.demo-3 .main-title,.demo-4 .main-title{font-size:3em}
.demo-2 .main-title{font-size:4em}
}