@charset "UTF-8";

/**
 * Authors      TZMMichael (15977536060@163.com)
 * Date         2017-12-16 14:26:17
 * Site         https://github.com/TZMMichael
 * Updated      
 * Updated by   TZMMichael 
 */

@import './normalize.css';
@import './task14.mixin.scss';


/* HEADER */
.header {
	position: fixed;
	top: 0;
	width:100%;
	background-color: $white;
	z-index: 16;
}

/* MAIN */
.main{
	background-color: $offwhite;
}

/* NAV */
.nav,.nav-phone {
	background-color: $green;
	position: fixed;
    top: 57px;
    width: 100%;
    z-index: 16;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* FOOTER */
.footer {
	/* position: fixed;
	bottom: 0;
	width: 100%; */
	background-color: $green;
	color: $white;
}

/* COPYRIGHT */
.copyright{
	background-color: $green;
	border-top: 1px solid #dedede;
	color: $white;
	text-align: center;
	padding: 10px;
}