html {
    font-size: 625%;
}
body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: .7rem;
    background-color: #5FC0CD;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.a{
    width:.23rem;
    height:.37rem;
    float:left;
    margin: -.5rem .1rem;
}
.p{
    text-align:center;
    line-height: .7rem;
    font-size: 0.3rem;
    color: white;
}
.beijing{
    width: 100%;
    height: 3rem;
    background-image: url(image/beijing.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: .7rem;
    padding-left:  .1rem;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img2 {
    width:1.2rem;
    height:1.2rem;
}
.information{
    margin-left: .2rem;
}
.information-about {
    font-size: .15rem;
    color: white;
    margin-bottom: .2rem;
}
.information-about span {
    font-size: .14rem;
    color: white;
}
.address {
    width: 1.5rem;
    height: 23px;
    background-image: url(image/dian.png);
    background-repeat: no-repeat;
    background-size: .18rem .23rem;
    background-position: 0 50%;
    font-size: .1rem;
    color: white;
    line-height: 23px;
    padding-left: .3rem;
}
.jineng {
    width: 100%;
    height: .6rem;
    position: relative;
    top: -1.6rem;
    font-size: .2rem;
    border-bottom: 1px solid #EEF0F1;
    margin-top: 1.6rem;
    line-height: .6rem;
    padding-left: .7rem;
}
.tiao {
    width: 3px;
    height: .2rem;
    background-color: #5FC0CD;
    background-position: center;
    position:relative;
    top:-2rem;
    left:.4rem;
}
.ps {
    width: 100%;
    height: .45rem;
    position:relative;
    top: -1.8rem;
    left: .4rem;
    display: flex;
    align-items: center;
    font-size: .15rem;
    border-bottom: 1px solid #EEF0F1;
}
.ps1 {
    width: .7rem;
    height: .23rem;
    border-right: 1px solid #EEF0F1;
    padding-left: .1rem;
}
.ps2 {
    width: 1.5rem;
    height: .23rem;
    margin-left: .2rem;
}
.img3 {
    width: .15rem;
    height: .15rem;
    padding-right:.05rem;
    line-height:.23rem;
}
ul{
    width:auto;
    height: 1rem;
   position: relative;
    top: -2.85rem;
}
li {
    width:auto;
    display: flex;
    align-items: center;
    padding: .15rem;
    border-bottom: 1px solid #EEF0F1;
    font-size: .15rem;
}
.ps3,
.ps6 {
    color: #C0C0C0;
    margin-right: .2rem;
}
.ps4,
.ps5 {
    border-left: 1px solid #EEF0F1;
    padding-left: .2rem;
}
.ps5 {
    color: red;
}
li.ps8 {
    width: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEF0F1;
    margin-left: -.4rem;
}
.ps6 {
    border-right: 1px solid #EEF0F1;
    white-space: nowrap;
    padding: 0 .2rem 0 .4rem;
}
.ps7 {
    font-size: .15rem;
}
footer {
    width: 100vw;
    height: .8rem;
    background-color:white;
    position: fixed;
    bottom: 0;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 888888;
}
.word {
    width: 35vw;
    height:.6rem;
    border: 3px solid #5FC0CD;;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.word .b{
    font-size: .25rem;
    color: #5FC0CD;;
    text-decoration: none;
}
.phone {
    width: 35vw;
    height: .6rem;
    border-radius: 10px;
    border: 3px solid #5FC0CD;
    background-color: #5FC0CD;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.phone .c{
    text-decoration: none;
    font-size: .25rem;
    color: #FFF;
}

