main h4 {
  padding: 30px 0;
}
.carousel-indicators {
  bottom: 5px;
}
ol {
  margin-bottom: 5px;
}
/* 介绍 */
.intro .intro-colum1,
.intro .intro-colum4 {
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;  
}
.intro p {
  color: rgb(153, 153, 153);
}
.intro .intro-colum1 .colum-icon  {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.intro .intro-colum1 h4 {
  padding-bottom: 10px;
}
.intro-colum4 {
  border-left: 1px dashed rgb(222, 222, 222);
}
.intro-colum4 div{
  padding-left: 30px;  
}
.intro-colum4 span {
  padding-left: 5px;
  font-size: 1.2em;
  color: rgb(41, 176, 120);
}
@media (max-width: 992px) {
  .intro .text-left {
    text-align: center;
  }
  .intro-colum4 div {
    text-align: center;
  }
}
/* 学习 */
.stu-colum {
  min-width: 200px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}
.stu-left {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: rgb(41, 176, 120);
  background-color: rgb(255, 255, 255);
}
.stu-right {
  float: right;
  width: 40px;
  height: 60px;
  line-height: 60px;
}
.stu-md {
  width: 100%;
  min-width: 200px;
  height: 60px;
}
.stu-md span {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}
/* 学员 */
.student-show {
  background-color: rgb(255, 255, 255);
}
.student-show img {
  width: 128px;
  height: 128px;
  margin: 20px;
  border-radius: 60px;
}
.student-show p {
  text-align: left;
  padding: 10px 20px;
}
.circle span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 10px 5px 30px 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);  
}
.circle span:first-child {
  background-color: rgb(41, 176, 120);
}
/* 合作企业 */
@media (min-width : 768px) and (max-width: 991px){
  main .corp .col-sm-6{
    width: 50%;
    float: left;
  }
}
@media (min-width : 1200px) {
  main .corp .col-lg-3{
    width: 20%;
    float: left;
  }
}
.corp-icon {
  margin-top: 10px;
  margin-bottom: 50px;
}
.corp-icon:hover {
  box-shadow: -2px 0px 5px #333333, 2px 2px 5px #333333;
}
/* 友情链接 */
.link {
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
.link h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.link ul {
  margin-left: 0;
}
.link ul li {
  float: left;
  width: 90px;
  margin: 0 10px;
}
.link a {
  color: #000;
}