<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.com.mappers.OtherPageMapper">
    <!-- 根据姓名模糊查询 -->
    <select id="findStudentByName" parameterType="Map" resultType="com.com.POJO.GreatStudent">
        select * from greatstudent
    </select>

    <select id="findCooperation" parameterType="Map" resultType="com.com.POJO.Cooperation">
        SELECT * FROM cooperation
    </select>

    <select id="findStudy" parameterType="Map" resultType="com.com.POJO.HowToStudy">
        SELECT * FROM howtostudy
    </select>

    <select id="findCompany" parameterType="Map" resultType="com.com.POJO.Company">
        SELECT * FROM company
    </select>

</mapper>
