html,body {
    margin: 0;
}
#header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background: #5FC0CD;
    height :3.5rem;
    width: 100%;
    justify-content: center;
    z-index :666;
}
.div1 {
    z-index :3;
}
.main {
    position: absolute;
    top: 6.3rem;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
    bottom :4rem;
}
footer {
    position: fixed;
    bottom:0;
    display: flex !important;
    align-items: center;
    height :4rem;
    z-index :666;
    width:100%;
    background: #F8FAFB;
    justify-content: center;
}
#botton1 {
    height: 3rem;
    width: 30%;
    color: #5FC0CD;
    font-size: 1rem;
    margin-left: 20%;
    outline:none;
    cursor: pointer;
    border: 0;
    margin-right: -2%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botton2 {
    height: 3rem;
    width: 30%;
    color: #5FC0CD;
    font-size: 1rem;
    margin-right: 10%;
    outline:none;
    cursor: pointer;
    border: 0;
    margin-left: -2%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.img1 {
    height: 1.3rem;
    width: 1.3rem;
    background-image: url(定位.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: none;
}
.img2 {
    height: 3rem;
    width: 1.8rem;
    background-image: url(小房子.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: none;
    margin: 0 0 0 20%;
    cursor: pointer;
}
.img3 {
    height: 3.5rem;
    width: 3.5rem;
    background-image: url(写.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: none;
    margin: 0 15%;
    cursor: pointer;
}
.img4 {
    height: 3rem;
    width: 1.5rem;
    background-image: url(小人.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: none;
    margin: 0 20% 0 0;
    cursor: pointer;
}
.div2 {
    position: fixed;
    top:3.5rem;
    display: flex;
    align-items: center;
    width:100%;
    z-index: 666;
}
.button1 {
    width:100%;
}
.div3 {
    width:33.33%;
}
.div4 {
    width:10%;
    height :2rem;
    background-image: url("雪碧.png");

}
.div5 {
    width:100%;
}
.icon1 {
    width: 10px;
    height: 10px;
    background-position: 0 0;
}
span {
    display: inline-block;

}
p {
    margin:0 !important;
    padding-left: 10% !important;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
a {
    padding:0 !important;
}
.p1 {
    color: #DADCDD;
    padding-top:1rem !important;
}
.p2 {
    color: #DADCDD;
    margin-bottom:1rem !important;
}
.a1 {
    color: #DADCDD !important;
}
.div6 {
    width: 20px;
    height: 20px;
    background-image: url(雪碧.png);
    background-position: 0 0;
    margin-left:1rem;
    margin-top:1rem;
    float:left;
}
.div7 {
    width: 20px;
    height: 19px;
    background-image: url(雪碧.png);
    background-position: 0 -20px;
    margin-left:1rem;
    float:left;
}
.div8 {
    width: 20px;
    height: 20px;
    background: url(雪碧.png) 0 -40px;
    margin-right:1rem;
    float:right;
    background-repeat: no-repeat;
}
.div9 {
    float:right;
    color: #E85434;
    margin-right:0.5rem;
}
a {
    border-radius:0 !important;
    border-top :0 !important;
    border-left:0 !important;
    border-right:0 !important;
}
button {
    border-radius:0 !important;
    border-right :0 !important;
}
label:active{
    color :#FFFFFF !important;
}
ul {
    width:100% !important;
}
.div10 {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}