<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
<!-- properties config   -->
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="order" value="1"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
    <property name="locations">
        <list>
            <value>classpath:memcached.properties</value>
        </list>
    </property>
</bean>
        <!-- Memcached配置 -->
<bean id="memCachedPool" class="com.whalin.MemCached.SockIOPool"
      factory-method="getInstance" init-method="initialize" lazy-init="false" destroy-method="shutDown">
    <constructor-arg>
        <value>memCachedPool</value>
    </constructor-arg>


<property name="servers">
    <!-- ${memcached.server} -->
    <list>
        <value>${memcached.server1}</value>
    </list>
</property>
<property name="initConn">
    <value>${memcached.initConn}</value>
</property>
<property name="minConn">
    <value>${memcached.minConn}</value>
</property>
<property name="maxConn">
    <value>${memcached.maxConn}</value>
</property>
<property name="maintSleep">
    <value>${memcached.maintSleep}</value>
</property>
<!--<property name="nagle">-->
     <!--<value>${memcached.nagle}</value>-->
<!--</property>-->
<property name="nagle" value="false">
</property>
<property name="socketTO">
    <value>${memcached.socketTO}</value>
</property>
</bean>
    <bean id="memCachedClient" class="com.whalin.MemCached.MemCachedClient" lazy-init="false">
        <constructor-arg>
           <value>memCachedPool</value>
        </constructor-arg>
    </bean>
    <bean id="memCachedUtil" class="com.Tool.MemcachedUtils">
        <constructor-arg ref="memCachedClient"/>
    </bean>

        </beans>