<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 1.扫描web相关的bean -->
    <context:component-scan base-package="com.jnshu.controller"/>

    <!-- 处理器映射器 处理器适配器 -->
    <mvc:annotation-driven/>

    <!-- 配置tiles模板 -->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>WEB-INF/tiles/layout.xml</value>
            </list>
        </property>
    </bean>

    <!-- tiles 试图解析器 -->
    <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
        <property name="order" value="1"/>
    </bean>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>
                org.springframework.web.servlet.view.tiles3.TilesView
            </value>
        </property>
    </bean>



    <!-- 静态资源放行-->
    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>



    <!-- 4.配置jsp 显示ViewResolver(配置视图解析器)
     解析jsp视图，默认使用jstl标签，所有classpath下得有jstl的包-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        &lt;!&ndash;配置jsp路径的前缀  &ndash;&gt;
        <property name="prefix" value="/WEB-INF/jsp/"/>
        &lt;!&ndash;配置jsp路径的后缀  &ndash;&gt;
        <property name="suffix" value=".jsp"/>
    </bean>-->

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!-- 转换器 -->
        <property name="converters">
            <list>
                <bean class="com.jnshu.util.SpringAutoBind"/>
            </list>
        </property>
    </bean>


    <!--拦截器-->
    <mvc:interceptors>
        <!--多个拦截器,顺序执行-->
        <!-- 登录认证拦截器 -->
        <mvc:interceptor>
            <!--mvc:mapping path= "/url/*"/> -->
            <mvc:mapping path="/user/*"/>
            <bean class="com.jnshu.Login.loginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>



</beans>