body {
	margin: 0;
}
.main {
	width: 100%
}
.box {
	width: 31%;
	padding-bottom: 31%;
	border-radius: 3%;
	float: left;
	margin: 1%;
	background: #FFA500;
}
button{
	border: 1px solid #FFA500;
	color: #FFA500;
	font-size: 4vw;
	background: #fff;
	height: 11vw;
	width: 98%;
	margin: 2vw 1%;
	padding: 3vw 0;	
}
button:hover {
	border: none;
	background: #FFA500;
	color: #fff;
}
