.uploader-box {
    float: left;
    margin: 0 10px 10px 0;
    position: relative; width: 100px; height: 100px; border: 1px solid #ccc; cursor: pointer;
    overflow: hidden;
}
.uploader-box span {
    display: block;
    height: 100px;
    line-height: 80px;
    color: #ccc;
    text-align: center;
}
.uploader-box img {
    width: 100px;
}
.uploader-box p {
    position: absolute; bottom: 0; left:0; right:0; margin: 0; height: 20px; background: rgba(0,0,0,0.2); text-align: center;
}
.uploader-box strong {
    display: block;
    height: 100px;
    line-height: 100px;
    color: #ccc;
    text-align: center;
    font-size: 50px;
}