// 样式重置
html{
    font-size: 312.5%;
}
body{
    margin: 0;
    font-size: initial;
}
p,h4{
    margin: 0;
}
a{
    text-decoration:none;
    outline: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

