.block {
	width: 30%;
	padding-top: 30%;
	margin: 1.5%;
	background-color: orange;
	border-radius: 15px;
	float: left;
}

.block-box {
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
}

input {
	width: 100%;
	padding: .3rem;
	outline: none;
	background-color: orange;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-o-appearance: none; 
}