<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com"/>

    <bean id="service1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" lazy-init="true">
        <property name="serviceUrl" value="rmi://localhost:1199/Service1"/>
        <property name="serviceInterface" value="com.service.Service1"/>
    </bean>

    <bean id="service2" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" lazy-init="true">
        <property name="serviceUrl" value="rmi://localhost:1200/Service2"/>
        <property name="serviceInterface" value="com.service.Service2"/>
    </bean>

    <bean id="service0" class="com.service.Service0" abstract="true"/>



    <!--<bean id="switchService" class="com.Tools.SwitchService"/>-->


</beans>