body{
    font-family:微软雅黑;
    background: #68cdd5;
    margin:0 0 0 0;
    Font-size:55%;
    height: 100%;
    width:100%;
}
.img1{height:2em;
    }
.top{
    color:white;
    width:100%;
    position:absolute;
    top:15%;
    }
h1{text-align:center;

}
.center{
    position: absolute;
    top:35%;
    color:white;
    left:15%;
    right:15%;
}
.p1{line-height: 1.5em;}
.left{
    color:white;
    position: absolute;
    left:15%;
    bottom:23%;
    width: 5em;
}
.right{
    color:white;
    position: absolute;
    right:15%;
    bottom:23%;
    width:5em;
}
.img2{
    width: 4em;
}
.div1{
    width: 4em;
    height: 4em;
    left:20%;
    position: absolute;
    bottom:15%;}
.div2{ width: 4em;
    height: 4em;
    right:20%;
    position: absolute;
    bottom:15%;}
.img3{
    position: absolute;
    top:2%;
    left:2%;
    width:2.5em;
}
html {
    height: 100%;
    width: 100%;}