html {
	font-size: 62.5%;
	background-color: #f0f0f0;
}

body {
	margin: 0;
	width: 100%;
}

header {
	position: fixed;
	top: 0;
	margin: 0;
	padding-left: 2rem;
	width: 100%;
	height: 4.5rem;
	background-color: #29bde0;
}

.menu {
	position: relative;
	display: inline-block;
	top: 50%;
	width: 2.5rem;
	height: 2.25rem;
	transform: translateY(-50%);
	background: url(images/index/icon_03.png) no-repeat;
	background-size: cover;
	transition: 1s;
}

.menu:hover {
	transform: rotate(30deg);
}

main {
	padding-top: 4.5rem;
	width: 100%;
	background-color: #f0f0f0;
}

.bg-container {
	padding: 1.3rem 1.8rem 0;
	width: 100%;
	height: 100%;
}

.blank-top {
	display: block;
	padding: 1.9rem 0;
	width: 100%;
	height: 5.8rem;
	text-align: center;
	font-size: 2rem;
	letter-spacing: .1rem;
	line-height: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #9a9a9a;
	background: url(images/index/icon_07.png) no-repeat 98% 50%;
	background-size: 1.5rem auto;
	background-color: #fff;
	border: solid 1px #c9c9c9;
	transition: 1s;
}

.blank-top:hover {
	transform: translateX(1rem);
}
.blank-top:focus {
	text-decoration: none;
}

.blank-bot {
	display: block;
	margin-top: 1.3rem;
	width: 100%;
	height: 40rem;
	text-align: center;
	background-color: #fff;
	border: solid 1px #c9c9c9;
}

.title {
	top: 0;
	padding: 1.25rem 0;
	width: 100%;
	height: 4.5rem;
	font-size: 2rem;
	letter-spacing: .1rem;
	line-height: 2rem;
	text-align: center;
	color: #fbb435;
	border-bottom: solid 2px #fde1ae;
}

.version-content {
	display: block;
	padding: 1.5rem 2.7rem 0;
	width: 100%;
	height: calc(100% - 4.5rem);
	text-align: center;
}

.version {
	display: block;
	padding: 2.6rem 0;
	width: 100%;
	height: 7rem;
	text-align: center;
	font-size: 1.8rem;
	line-height: 1.8rem;
	color: #fff;
	background-color: #69d1e9;
	border-style: none;
	outline-style: none;
}

.version-content p {
	margin: 1.2rem 0;
	width: 100%;
	height: 1.3rem;
	font-size: 1.3rem;
	line-height: 1.3rem;
	letter-spacing: .1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #787878;
}

.right-flip {
	position: relative;
	display: inline-block;
	right: calc(-50% - 3.6rem);
	top: -21.5rem;
	width: 2rem;
	height: 4rem;
	background: url(images/index/icon_11.png) no-repeat;
	background-size: auto 100%;
	transition: .5s;
}
.right-flip:hover {
	transform: translateX(.2rem);
}

.dot {
	position: relative;
	display: inline-block;
	right: 1rem;
	top: -5rem;
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #f0f0f0;
}

.dot-active {
	color: #69d1e9;
}

.blank-top:hover,
.blank-top:active {
	text-decoration: none;
	color: #9a9a9a;
}

.version:hover {
	text-decoration: none;
	color: #fff;
	border: solid 2px #c33;
}

.version:active {
	text-decoration: none;
	color: #fff;
}

.dot:visited {
	text-decoration: none;
}

.dot:hover {
	text-decoration: none;
	color: #c33;
}

.dot:active {
	text-decoration: none;
}

.dot:focus {
	text-decoration: none;
}