html {
	font-size: 62.5%;
	background-color: #29bde0;
}

body {
	margin: 0;
	width: 100%;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.5rem;
	text-align: center;
	background-color: #29bde0;
	z-index: 10;
}

.menu {
	float: left;
	display: inline-block;
	margin: .75rem 0 .75rem 2rem;
	width: 3rem;
	height: 3rem;
	background: url(images/vote/icon_07.png) no-repeat;
	background-size: cover;
	transition: 1s;
}

.menu:focus {
	transform: rotate(30deg);
}

.quit {
	float: right;
	display: inline-block;
	margin: .75rem 2rem .75rem 0;
	width: 3rem;
	height: 3rem;
	background: url(images/vote/icon_01.png) no-repeat;
	background-size: cover;
	transition: 0.5s;
}

.quit:focus {
	transform: rotate(90deg);
}

header p {
	position: relative;
	top: 50%;
	padding: 0 6rem;
	height: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	transform: translateY(-50%);
	color: #fff;
}

main {
	padding-top: 4.5rem;
	background-color: #29bde0;
}

.text-box {
	position: relative;
	padding: 1.5rem 0 1.5rem 2rem;
	width: 100%;
	height: 4.5rem;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: .1rem;
	background-color: #b9e9f5;
}

.text-box::before {
	position: absolute;
	top: 4.5rem;
	left: 3.5rem;
	content: '';
	border-left: solid .5rem transparent;
	border-right: solid .5rem transparent;
	border-top: solid 1rem #b9e9f5;
}

.play {
	float: right;
	margin: -0.75rem 2rem 0.75rem 0;
	width: 3rem;
	height: 3rem;
	background: url(images/vote/icon_02.png) no-repeat;
	background-size: cover;
}

.notice {
	margin: 1.5rem 0 .5rem;
	padding-left: 3.5rem;
	width: 100%;
	height: 1.4rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: #fff;
}

.blocks {
	float: left;
	padding: 1.5rem;
	width: 33.3vw;
	height: 33.3vw;
}

.avatar {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 100%;
	height: 100%;
	border: solid 2px #fff;
	outline-style: none;
}

.avatar:hover .choose,
.avatar:focus .choose {
	display: block;
}

.box-1 {
	padding-top: 20%;
	width: 100%;
	height: 70%;
	font-size: 1.7rem;
	text-align: center;
	color: #565656;
	background-color: #f5c97b;
}

.box-2 {
	width: 100%;
	height: 30%;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
	background-color: #83b09a;
}

.choose {
	display: none;
	position: absolute;
	margin-top: 0.8rem;
	width: 100%;
	height: 1.5rem;
}

.pic {
	display: inline-block;
	width: 1.5rem;
	height: 100%;
	border: solid 1px #000;
}

.pic-1 {
	background: url(images/vote/icon_03.png) no-repeat;
	background-size: cover;
}

.pic-2 {
	background: url(images/vote/icon_04.png) no-repeat;
	background-size: cover;
}

.pic-3 {
	background: url(images/vote/icon_05.png) no-repeat;
	background-size: cover;
}

.pic-4 {
	background: url(images/vote/icon_06.png) no-repeat;
	background-size: cover;
}

.blank {
	float: left;
	width: 100%;
	height: 7rem;
}

footer {
	position: fixed;
	padding: 1rem 2rem;
	bottom: 0rem;
	width: 100%;
	height: 6.5rem;
	background-color: #29bde0;
}

.vote {
	display: block;
	padding: 1.15rem 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 2.2rem;
	line-height: 2.2rem;
	letter-spacing: 0.2rem;
	color: #fff;
	background-color: #fbb435;
}

.vote:hover {
	text-decoration: none;
	border: solid 1px #c33;
	color: #fff;
}

.vote:focus {
	text-decoration: none;
}