*{
    margin: 0;
    padding:0;
}
.header{
    width:100vw;
    height:11.72vw;
    background:#29bde0;
    border-bottom:0.5vw solid #74d4eb;
    position:fixed;
    left:0;
    top:0;
    right:0;
    z-index:2;
}
.header1{
    position: relative;
}
.header1 .left{
    width:8.59vw;
    height:6.875vw;
    position: absolute;
    left:3vw;
    top:2vw;
}
.header1 .over{
    font-size:5vw;
    color: white;
    position: absolute;
    top:2.5vw;
    left:40vw;
}
.header1 .right{
    width:6.56vw;
    height:6.56vw;
    position: absolute;
    right:3vw;
    top:2.5vw;
}
.center{
    width:100vw;
    height:97.5vw;
    background:#29BDE0;
    margin-top:11.72vw;
    position: relative;
    border-bottom:0.5vw solid #68c1d6;
}
.center .cup{
    width:55vw;
    height:31.56vw;
    padding-top:3.91vw;
    padding-left:22.5vw;
}
.center .win{
    font-size:7.19vw;
    color:white;
    position: absolute;
    top:24vw;
    left:35vw;
}
.center .text{
    font-size:5vw;
    color:#ffc865;
    width:75.47vw;
    margin-left:12vw;
    margin-top:3.59vw;
}
.center .time{
    font-size:3.9vw;
    color:white;
    margin-top:6vw;
    margin-left:12vw;
}
.center .killer{
    display: inline-block;
    padding-left:12vw;
    font-size:3.9vw;
    color:white;
}
.center span{
    display: inline-block;
    padding-right:7vw;
    font-size:3.9vw;
    color: white;
}
.center .sniper{
    padding-left:12vw;
}
.center .same{
    font-size:3.9vw;
    color:white;
    padding-left:12vw;
}
.first{
    width:100vw;
    height:28.13vw;
    border-top:0.5vw solid #e8e8e8;
}
.first .day{
    display: inline-block;
    font-size:4.06vw;
    margin-left:12vw;
    margin-top:2vw;
}
.first .hour{
    font-size:2.81vw;
    color:#e3e3e3;
    float: right;
    display: inline-block;
    margin-right:12vw;
    margin-top:3.3vw;
}
.first .night{
    font-size:4vw;
    color:#a6a6a6;
    padding-left:12vw;
    padding-top:3vw;
}
.first .daytime{
    font-size:4vw;
    color:#a6a6a6;
    padding-left:12vw;
    padding-top:3vw;
}
.first1{
    border-bottom:0.5vw solid #e8e8e8;
}
.last{
    font-size:4vw;
    display: inline-block;
    padding-left:5vw;
    padding-top:3vw;
    color:#29bde0;
}
.min{
    float: right;
    font-size:4vw;
    display: inline-block;
    padding-right:5vw;
    padding-top:3vw;
    color:#29bde0;
}
.foot{
    width:100vw;
    height:18vw;
    position: fixed;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(41,189,224,0.5);
}
.foot .agin{
    display: inline-block;
    width:40vw;
    line-height:11vw;
    text-align: center;
    background:#f66f6f;
    font-size:5.2vw;
    color:white;
    border-radius:10px;
    margin-top:3.8vw;
    margin-left:3.8vw;
}
.foot .upload{
    display: inline-block;
    float: right;
    width:40vw;
    line-height:11vw;
    font-size:5.2vw;
    text-align: center;
    color:white;
    background:#fbb435;
    border-radius:10px;
    margin-top:3.8vw;
    margin-right:3.8vw;
}




































