*{
    margin:0;
    padding:0;
}
html{
    background:#f0f0f0;
}
.header{
    width:100vw;
    height:10.94vw;
    background:#29bde0;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    z-index:2;
}
.header img{
    width:5.625vw;
    height:4.375vw;
    margin-top:3vw;
    margin-left:3vw;
}
.foot{
    width:100vw;
    height:157.5vw;
    position: relative;
    margin-top:10.94vw;
}
.foot .last{
    width:89.06vw;
    line-height:18.44vw;
    background:#ffffff;
    border:1px solid #c6c6c6;
    position: absolute;
    top:4.375vw;
    left:5.625vw;
    font-size:5.47vw;
    color:#a6a6a6;
}
.last span{
    padding-left:16.88vw;
}
.last img{
    width:3.75vw;
    height:6.25vw;
}
.last1{
    position: relative;
}
.last1 img{
    position: absolute;
    right:3vw;
    top:6.3vw;
}
.game{
    width:88.75vw;
    height:121.88vw;
    background:white;
    position: absolute;
    top:26.56vw;
    left:5.625vw;
    border:1px solid #c6c6c6;
}
.game .game1{
    width:88.75vw;
    line-height:14.06vw;
    text-align: center;
    font-size:5.63vw;
    color:#fbb435;
    border-bottom:0.2vw solid #fbb435;
}
.game .version{
    width:72.66vw;
    line-height:21.25vw;
    text-align: center;
    background:#69d1e9;
    color:white;
    font-size:4.84vw;
    margin-top:4vw;
    margin-left:8.1vw;
}
.game span{
    font-size:3.59vw;
    color:#b2b2b2;
    display: inline-block;
    margin-top:3vw;
    margin-left:20.5vw;
}
