*{
    margin: 0;
    padding: 0;
}
html{
    background:#eff0f4;
}
.header{
    width:100vw;
    height:11.11vw;
    background:#5fc0cd;
    color: white;
}
.header .close{
    font-size:4.31vw;
    float: left;
    padding-left:4.17vw;
    padding-top:3vw;
}
.header .login{
    font-size:5vw;
    padding-left:32.2vw;
    line-height:11.11vw;
}
.header .enroll{
    font-size:4.31vw;
    float: right;
    padding-right:4.17vw;
    padding-top:3vw;
}
.foot input{
    width:79.17vw;
    height:14.17vw;
    padding-left:20.83vw;
    border: none;
    outline: none;
    font-size:4.17vw;
}
.number{
    position: relative;
    margin-top:2.22vw;
}
.vertical{
    position: absolute;
    width:0.42vw;
    height:7.36vw;
    background:#eff0f4;
    top:3.33vw;
    left:15.97vw;
}
.iphone{
    width:3.89vw;
    height:5.69vw;
    position: absolute;
    top:4.17vw;
    left:5.97vw;
}
.password{
    position: relative;
    margin-top:2.22vw;
    margin-bottom:9.72vw;
}
.ver{
    position: absolute;
    width:0.42vw;
    height:7.36vw;
    background:#eff0f4;
    top:3.33vw;
    left:15.97vw;
}
.locked{
    width:4.17vw;
    height:6.11vw;
    position: absolute;
    top:4.17vw;
    left:5.97vw;
}
.logon{
    font-size:4.72vw;
    width:100%;
    height:13.89vw;
    background:#5fc0cd;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.forget{
    color:#5fc0cd;
    font-size:4.58vw;
    float: right;
    margin-top:2.5vw;
    margin-right:4.86vw;
}