*{
    margin: 0;
    padding:0;
}
.header{
    width:100vw;
    height:12.08vw;
    background:#5fc0cd;
    font-size:4.44vw;
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index:2;
}
.header .center{
    background:#55a8b3;
    display: inline-block;
    width:39.44vw;
    line-height:9.72vw;
    border-radius:10px;
    margin-left:30.14vw;
    margin-top:1.2vw;
    text-align: center;
    color:white;
    position: relative;
}
.header .care{
    background:white;
    display: inline-block;
    width:19.72vw;
    height:9.72vw;
    border-radius:10px;
    float: right;
    color:#5fc0cd;
}
.header img{
    width:6.39vw;
    height:6.39vw;
    position: absolute;
    right:4.17vw;
    bottom:3.06vw;
}
.place{
    width:100vw;
    line-height:11.25vw;
    font-size:3.61vw;
    color:#c6c6c6;
    margin-top:12.08vw;
    border-bottom:0.2vw solid #c6c6c6;
}
.place .border{
    border-right:0.2vw solid #c6c6c6;
    position: relative;
}
.place img{
    width:1.94vw;
    height:1.11vw;
    position: absolute;
    top:2vw;
    right:2vw;
}
.place .local{
    padding-left:11vw;
    padding-right:11vw;
}
.place .sleep{
    padding-left:13vw;
    padding-right:11vw;
}
.place .sick{
    padding-left:10vw;
    position: relative;
}
.sick img{
    position: absolute;
    top:2vw;
    right:-5.5vw;
}
.date{
    width:100vw;
    height:25vw;
    font-size:3.47vw;
    border-bottom:0.2vw solid #c6c6c6;
    position: relative;
}
.date .kalendar{
    width:3.47vw;
    height:3.47vw;
    position: absolute;
    top:4.17vw;
    left:4.17vw;
}
.date .same{
    color:#c6c6c6;
    position: absolute;
    top:3.5vw;
    left:10vw;
}
.date .year{
    display: inline-block;
    margin-top:11vw;
    margin-left:10vw;
}
.date .seat{
    width:2.5vw;
    height:3vw;
    position: absolute;
    left:4.7vw;
    top:18.4vw;
}
.date .garden{
    color:#c6c6c6;
    position: absolute;
    top:17.5vw;
    left:10vw;
}
.number{
    font-size:3.75vw;
    color: red;
    margin-left:27vw;
}
.date .right{
    width:2.5vw;
    height:4.17vw;
    position: absolute;
    top:11vw;
    right:2.5vw;
}
.bottom{
    width:100vw;
    height:13.89vw;
    background:#f8fafb;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    font-size:2.65vw;
}
.bottom1{
    position: relative;
}
.bottom .home{
    width:6.39vw;
    height:5.56vw;
    position: absolute;
    left:22.92vw;
    top:1.81vw;
}
.bottom .page{
    color:#5fc0cd;
    position: absolute;
    top:9vw;
    left:23.6vw;
}
.bottom .write{
    width:13.89vw;
    height:13.89vw;
    margin-left:43vw;
}
.bottom .people{
    width:6.2vw;
    height:5.83vw;
    position: absolute;
    right:22.91vw;
    top:1.7vw;
}
.bottom .me{
    color:#9e9e9f;
    position: absolute;
    top:9vw;
    right:23.2vw;
}



