*{
    margin: 0;
    padding: 0;
}
html{
    background:#68cdd5;
}
.header{
    width:100vw;
    height:14.06vw;
    background:black;
    color: white;
    position: relative;
}
.header .arrow{
    position:absolute;
    width:3.75vw;
    height:6.25vw;
    top:3.9vw;
    left:1.56vw;
}
.header .back{
    font-size:4.06vw;
    position: absolute;
    top:4.2vw;
    left: 7.81vw;
}
.header .mirror{
    position: absolute;
    font-size:5.31vw;
    left:44.69vw;
    top:3.59vw;
}
.header .points{
    width:6.25vw;
    height:1.5vw;
    position: absolute;
    right:2.66vw;
    top:6.25vw;
}
.content{
    background:#68cdd5;
    position: relative;
}
.content .arrow{
    width:8.91vw;
    height:8.91vw;
    position:absolute;
    top:3.13vw;
    left:5.47vw;
}
.content .grapevine{
    width:28.75vw;
    height:11.72vw;
    position:absolute;
    top:17.81vw;
    left:30.78vw;
}
.content .text{
    font-size:4.68vw;
    color: white;
    padding-top:47.97vw;
    width: 72%;
    margin: auto;
}
.content1{
    width:72%;
    margin: auto;
    margin-top:27.81vw ;
}
.left{
    float: left;
}
.content .people{
    width:13.59vw;
    height:13.59vw;
}
.content .number{
    font-size:2.88vw;
    color:white;
}
.right{
    float: right;
}
.content .grape{
    width:13.59vw;
    height:13.59vw;

}
.content .grape1{
    color:white;
    font-size:2.88vw;
}


















