*{
    margin: 0;
    padding: 0;
}
.header{
    width:100vw;
    height:11.11vw;
    background:#5fc0cd;
    font-size:5.69vw;
    color: white;
    position: fixed;
    left:0;
    top: 0;
    right:0;
    z-index:2;
}
.header .son{
    position: relative;
}
.header .back{
    width:4.17vw;
    height:6.25vw;
    position: absolute;
    top:2.1vw;
    left:4.58vw;
}
.son .page{
    position: absolute;
    left:38vw;
    top:1.3vw;
}
.people{
    margin-top:10.5vw;
    background:url("../img/page-print.png") no-repeat;
    background-size:100vw 48vw;
    height:45.83vw;
    color: white;
    position: relative;
}
.people .nurse{
    width:23.89vw;
    height:23.89vw;
    margin-top:11.11vw;
    margin-left:4.17vw;
}
.people  .name{
    font-size:5vw;
    position: absolute;
    left:33.06vw;
    top:16.11vw;
}
.people .age{
    font-size:3.89vw;
    position: absolute;
    left:51.81vw;
    top:17.5vw;
}
.people .place{
    width:2.78vw;
    height:3.9vw;
    position: absolute;
    left:33.61vw;
    top:25vw;
}
.people .garden{
    font-size:3.19vw;
    position:absolute;
    top:25.2vw;
    left:38vw;
}
.art{
    width:100vw;
    height:13.89vw;
    border-top:2px solid #f5f6f7;
    border-bottom:2px solid #f5f6f7;
    font-size:4.17vw;
    position: relative;
}
.art .vertical{
    width:0.42vw;
    height:3.75vw;
    background:#5fc0cd;
    position: absolute;
    top:5.28vw;
    left:5.28vw;
}
.art .skill{
    position: absolute;
    top:4.2vw;
    left:8.33vw;;
}
.present{
    width:94vw;
    height:13.89vw;
    border-bottom:2px solid #f5f6f7;
    float: right;
    font-size:4vw;;
    position: relative;;
}
.present .center{
    padding-left:2.5vw;
    position: absolute;
    top:4vw;
}
.present img{
    width:3.33vw;
    height:3.33vw;
    padding-right:1.5vw;
    padding-left:1vw;
}
.present .right{
    padding-right:3vw;
    border-right:2px solid #f5f6f7;
    color:#ababab;
}
.present .left{
    padding-left:1.7vw;
}
.present .left1{
    color: red;
}
.present .time{
    padding-left:3.5vw;
    position: absolute;
    top:4vw;
}
.present .time1{
    padding-left:9.3vw;
    position: absolute;
    top:4vw;
}
.present1{
    width:100vw;
    border-bottom:2px solid #f5f6f7;
}
.foot{
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background:white;
}
.foot .leave{
    width:39.82vw;
    line-height:10vw;
    text-align: center;
    border:1px solid #5fc0cd;
    border-radius:8px;
    font-size:3.75vw;
    color:#5fc0cd;
    float: left;
    background:white;
    margin-bottom:5.5vw;
    margin-left:4.5vw;
}
.foot .touch{
    width:40vw;
    line-height:10vw;
    text-align:center;
    background:#5fc0cd;
    border-radius:8px;
    font-size:3.75vw;
    color:white;
    float:right;
    margin-right:4.5vw;
}