.box{
    width:50%;
    margin: auto;;
}
.box div{
    width:30%;
    padding-bottom: 30%;
    background:orange;
    float: left;
    margin-top:2.5%;
    margin-left:2.5%;
    border-radius:20px;
}