*{
    margin: 0;
    padding:0;
}
.header{
    line-height:40px;
    font-size:14px;
    color:#29b078;
}
.header img{
    padding-top:8px;
}
.green{
    height:98px;
    background:#29b078;
    font-size:16px;
    color:white;
}
.green1 .same{
    
}
