*{
    margin:0;
    padding:0;
}
html{
    background:#29BDE0;
}
.header{
    width:100vw;
    height:10.94vw;
    background:#29bde0;
    font-size:5.16vw;
    color:white;
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index:2;
}
.header1{
    position: relative;
}
.header1 .left{
    width:6.25vw;
    height:6.56vw;
    position: absolute;
    left:3.59vw;
    top:2.34vw;
}
.header1 .vote{
    position: absolute;
    top:2vw;
    left:45vw;
}
.header1 .right{
    width:5.625vw;
    height:5.625vw;
    position: absolute;
    right:3.6vw;
    top:2.7vw;
}
.finish{
    width:100vw;
    height:12.97vw;
    margin-top:10.94vw;
    background:#b9e9f5;
}
.finish .poll{
    font-size:3.91vw;
    line-height:12.97vw;
    display: inline-block;
    padding-left:7.34vw;
}
.finish .lull{
    width:8.125vw;
    height:8.125vw;
    float: right;
    margin-top:2.3vw;
    margin-right:3vw;
}
.foot{
    width:100vw;
    height:144.84vw;
    background:#29BDE0;
    position: relative;
}
.foot .triangle{
    width:2.34vw;
    height:2.19vw;
    position: absolute;
    left:11vw;
}
.foot .click{
    color:white;
    font-size:3.59vw;
    padding-top:4vw;
    padding-left:11.25vw;
    padding-bottom:7vw;
}
.box{
    width:21vw;
    height:21vw;
    background:white;
    margin-left:6vw;
    margin-right:6vw;
    margin-bottom:11.56vw;
    float: left;
    text-align: center;
}
.box1 {
    width:19vw;
    line-height:15vw;
    background: #f5c97b;
    color:#756c5d;
    font-size:3.91vw;
    margin-top: 1vw;
    margin-left: 1vw;
}
.box2{
    width:19vw;
   line-height:4vw;
    background:#83b09a;
    font-size:3.125vw;
    color: white;
    margin-left:1vw;
}
.foot1 {
    width: 100vw;
    height:18vw;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #29bde0;
}
.foot1 input{
    width:80vw;
    height:9vw;
    background:orange;
    outline: none;
    border:none;
    font-size:3.5vw;
    color:white;
    margin-top:4.6vw;
    margin-left:9.5vw;
    cursor: pointer;
}
