@charset "utf-8";
//初始化变量
$header-height:.88rem;
$header-bgcolor:#5fc0cd;
$text-color-white:#fff;
// 两端的距离
$justify-size:.35rem;
$center-font-size:.36rem;

header {
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    height: $header-height;
    background: $header-bgcolor;
    color:$text-color-white;
    
    .back{
        position: absolute;
        top:50%;
        left: .3rem;
        width: .3rem;
        height: .3rem;
        border-left: .05rem solid ;
        border-bottom: .05rem solid;
        transform: translateY(-50%) rotate(45deg);
      
    }
    
}

