@charset "utf-8";
@import "list-header";
body{
    font-size: .36rem;
}
main {
    position: relative;
    padding-top: .88rem;
    .first-list {
        padding-top: .8rem;
    }
    .msg-list {
        ul {
            list-style: none;
            padding-left: .68rem;
            border-bottom:1px solid #e1e5e7;
            .se-icon {
                display: inline-block;
                width: .24rem;
                height: .24rem;
                margin-left: -.38rem;
                margin-right: .16rem;
                background: url('../img/sprite.png') -1.4rem -.2rem;
            }
            .lo-icon {
                display: inline-block;
                width: .2rem;
                height: .24rem;
                margin-left: -0.38rem;
                margin-right: .16rem;
                background: url('../img/sprite.png') -0.2rem -0.2rem;
            }
            li {
               line-height: .48rem;
            }
            .data {
                text-overflow: ellipsis;
                font-size: .28rem;
                white-space: nowrap;
                overflow: hidden;
            }
            .time {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .server,.location {
                color:#999;
                font-size: .26rem;
            }
            .location {
                margin-bottom: .2rem;
            }
        }
        
        .salary-box {
            float: right;
            white-space: nowrap;
            font-size: .3rem;
            line-height: .4rem;
            color:#e9532b;
            .go {
                display: inline-block;
                padding: 9px 5px;
                margin-right: .15rem;
                margin-left: .1rem;
                background: url('../img/sprite.png') -40px -10px;
              
                vertical-align: bottom;
            }
        }
    }
}
@import "component";
@import "list-footer";