html{
    height: 100%;
}
$bg-color:#29bde0;
//定义动画
@mixin animation($name){
    animation: $name ;
}
@mixin keyframes($name,$obj){
    @keyframes #{$name} {
        @each $i,$val in $obj {
            #{$i} {
                @each $value1,$value2 in $val{
                    #{$value1}:$value2;
                }
            }
        }
    }
}
body{
    position: relative;
    height: 100%;
    margin:0;
    background: $bg-color;
    transform-style: preserve-3d;
    perspective: 600px;
}
time {
    position: absolute;
    right: 30px;
    top:30px;
    width: 25px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    background: linear-gradient(to right,#d8d8d8,rgba(0,0,0,.5) 70% );
    box-shadow: 1px 1px 2px #fff;

}
main{
    display: flex;
    flex-direction: column;
    height: 70%;
    font-size: 60px;
    padding-top: 50px;
   
    span{
        margin: 10px 0;
        text-align: center;
        
            $from:(transform:translateZ(-10000px),text-shadow:initial,color:initial);
            $to:(transform:translateZ(0),text-shadow:10px 10px 10px rgba(0,0,0,.5),color:#fff);
            @include animation(span-text1 2s forwards);
            $obj:(0%:$from,100%:$to);        
            @include keyframes(span-text1,$obj);
    }
}
small{
    display: block;
    margin-top: 20px;
    text-align: center;
    color: antiquewhite;
    letter-spacing: 2px;
    font-size: 16px;
        $form1:(transform:scale(10),text-shadow:initial,color:#fff);
        $to1:(transform:scale(1),text-shadow:3px 3px 5px #fff,color:green);
             $obj1:(0%:$form1,100%:$to1);
             @include animation(left 2s forwards);
             @include keyframes(left,$obj1 );
      
    
}

   
